Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @diafour, @yalosev, @zuzzas, @RomanenkoDenys, @konstantin-axenov, @kvaps, @name212, @apolovov, @nabokihms, @vitaliy-sn, @shvgn, @z9r5

[user-authn] kubeconfig generating doc fixes (#3237)
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
  modules/150-user-authn/openapi/config-values.yaml
  modules/150-user-authn/openapi/doc-ru-config-values.yaml
Owners: @z9r5, @nabokihms

[node-local-dns] Remove from Managed bundle (#3309)
  ee/modules/350-node-local-dns/enabled
  ee/modules/values-managed.yaml
Owners: @zuzzas

[istio] ingress gateway controller (#2898)
  docs/documentation/werf-git-section.inc.yaml
  ee/modules/110-istio/crds/doc-ru-ingress-istio.yaml
  ee/modules/110-istio/crds/ingress-istio.yaml
  ee/modules/110-istio/docs/EXAMPLES.md
  ee/modules/110-istio/docs/EXAMPLES_RU.md
  ee/modules/110-istio/hooks/discovery_ingress_controllers.go
  ee/modules/110-istio/hooks/discovery_ingress_controllers_test.go
  ee/modules/110-istio/openapi/values.yaml
  ee/modules/110-istio/template_tests/module_test.go
  ee/modules/110-istio/templates/ingress-gateway-controller/_istio_ingress_gateway.tpl
  ee/modules/110-istio/templates/ingress-gateway-controller/daemonset.yaml
  ee/modules/110-istio/templates/ingress-gateway-controller/namespace.yaml
  ee/modules/110-istio/templates/ingress-gateway-controller/podmonitor.yaml
  ee/modules/110-istio/templates/ingress-gateway-controller/rbac-for-us.yaml
  ee/modules/110-istio/templates/ingress-gateway-controller/service.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
Owners: @z9r5, @apolovov, @yalosev

Add secret
  modules/015-admission-policy-engine/templates/registry-secret.yaml
Owners: none

[docs][user-authz] Minor fixes
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Owners: @z9r5

[docs][user-authz] Minor fixes (#3311)
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Owners: @z9r5

[candi] Update kubernetes patch versions (#3297)
  candi/version_map.yml
  testing/library/images_tags_generated.go
Owners: @RomanenkoDenys

Apply suggestions from code review
  ee/modules/502-delivery/crds/werfsource.yaml
Owners: none

Apply suggestions from code review
  ee/modules/502-delivery/docs/USAGE_RU.md
Owners: @z9r5

[admission-policy-engine] Add registry secret (#3310)
  modules/015-admission-policy-engine/templates/registry-secret.yaml
Owners: none

[vpa] update VPA from 0.9.2 to 0.12.0
  modules/302-vertical-pod-autoscaler/images/admission-controller/Dockerfile
  modules/302-vertical-pod-autoscaler/images/recommender/Dockerfile
  modules/302-vertical-pod-autoscaler/images/recommender/recommender.patch
  modules/302-vertical-pod-autoscaler/images/updater/Dockerfile
  modules/302-vertical-pod-autoscaler/images/updater/patches/README.md
  modules/302-vertical-pod-autoscaler/images/updater/patches/daemonset-eviction.patch
  modules/302-vertical-pod-autoscaler/templates/recommender/deployment.yaml
Owners: none

[vpa] remove patch part, replaced to commang line arg
  modules/302-vertical-pod-autoscaler/images/recommender/recommender.patch
Owners: none

Apply suggestions from code review
  global-hooks/generate_kube_rbac_proxy_ca.go
  helm_lib/templates/_kube_rbac_proxy.tpl
Owners: none

[candi] add unified proxy configuration (#3185)
  .golangci.yaml
  candi/bashible/bashible.sh.tpl
  candi/bashible/bundles/centos/all/000_remove_yum_proxy_conf.sh.tpl
  candi/bashible/bundles/centos/bootstrap.sh.tpl
  candi/bashible/bundles/debian/all/000_add_apt_proxy_conf.sh.tpl
  candi/bashible/bundles/debian/all/000_remove_apt_proxy_conf.sh.tpl
  candi/bashible/bundles/ubuntu-lts/all/000_add_apt_proxy_conf.sh.tpl
  candi/bashible/bundles/ubuntu-lts/all/000_remove_apt_proxy_conf.sh.tpl
  candi/bashible/bundles/ubuntu-lts/bootstrap.sh.tpl
  candi/bashible/common-steps/all/000_add_system_proxy.sh.tpl
  candi/bashible/openapi.yaml
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  dhctl/pkg/config/meta.go
  dhctl/pkg/config/meta_test.go
  ee/candi/bashible/bundles/alteros/all/000_remove_yum_proxy_conf.sh.tpl
  ee/candi/bashible/bundles/alteros/bootstrap.sh.tpl
  ee/candi/bashible/bundles/astra/all/000_add_apt_proxy_conf.sh.tpl
  ee/candi/bashible/bundles/astra/all/000_remove_apt_proxy_conf.sh.tpl
  ee/candi/bashible/bundles/astra/bootstrap.sh.tpl
  ee/candi/bashible/bundles/redos/all/000_remove_yum_proxy_conf.sh.tpl
  ee/candi/bashible/bundles/redos/bootstrap.sh.tpl
  ee/modules/600-flant-integration/template_tests/module_test.go
  global-hooks/migrate/common_test.go
  global-hooks/migrate/migrate_cluster_configuration.go
  global-hooks/migrate/migrate_cluster_configuration_test.go
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/openapi-case-tests.yaml
  helm_lib/templates/_envs_for_proxy.tpl
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context_builder.go
  modules/040-node-manager/template_tests/module_test.go
  modules/040-node-manager/templates/bashible-apiserver/deployment.yaml
  modules/040-node-manager/templates/node-group/_cloud_init_cloud_config.tpl
  modules/040-node-manager/templates/node-group/_static_or_hybrid_script.tpl
  modules/340-extended-monitoring/template_tests/image_availability_test.go
  testing/cloud_layouts/Static/configuration.tpl.yaml
  testing/cloud_layouts/Static/infra.tpl.tf
  testing/cloud_layouts/script.sh
Owners: @RomanenkoDenys, @diafour, @name212, @shvgn, @yalosev, @nabokihms, @zuzzas

[deckhouse-controller] add watch error handler (#3301)
  go.mod
  go.sum
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.mod
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.sum
Owners: none

++
  candi/version_map.yml
Owners: @RomanenkoDenys

init
  modules/040-control-plane-manager/images/kube-apiserver/werf.inc.yaml
  tools/regcopy/go.sum
Owners: @yalosev

++
  candi/version_map.yml
Owners: @RomanenkoDenys

++
  ee/modules/030-cloud-provider-openstack/images/cloud-controller-manager/patches/1.25/001-ignore-static-nodes.patch
  ee/modules/030-cloud-provider-openstack/images/cloud-controller-manager/patches/1.25/README.md
  ee/modules/030-cloud-provider-openstack/images/cloud-controller-manager/werf.inc.yaml
  ee/modules/030-cloud-provider-vsphere/images/cloud-controller-manager/patches/1.20/002-network-name-discovery-logic.patch
  ee/modules/030-cloud-provider-vsphere/images/cloud-controller-manager/patches/1.20/003-folder-path-option.patch
  ee/modules/030-cloud-provider-vsphere/images/cloud-controller-manager/patches/1.20/004-dont-initialize-node-without-internal-ip.patch
  ee/modules/030-cloud-provider-vsphere/images/cloud-controller-manager/patches/1.20/005-ignore-static-nodes.patch
  ee/modules/030-cloud-provider-vsphere/images/cloud-controller-manager/patches/1.25/002-network-name-discovery-logic.patch
  ee/modules/030-cloud-provider-vsphere/images/cloud-controller-manager/patches/1.25/004-dont-initialize-node-without-internal-ip.patch
  ee/modules/030-cloud-provider-vsphere/images/cloud-controller-manager/patches/1.25/005-ignore-static-nodes.patch
  ee/modules/030-cloud-provider-vsphere/images/cloud-controller-manager/patches/1.25/README.md
  ee/modules/030-cloud-provider-vsphere/images/cloud-controller-manager/werf.inc.yaml
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.20/003-additional-subnet-configuration-for-elb.patch
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.20/README.md
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.25/001-identify-instances-by-name.patch
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.25/002-non-type-lb.patch
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.25/003-dont-delete-ingress-sg-rules-elb.patch
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.25/README.md
Owners: @zuzzas

++
  modules/040-control-plane-manager/images/kube-controller-manager/patches/1.25/pdb-daemonset.patch
Owners: @yalosev

++
  ee/modules/030-cloud-provider-openstack/images/cinder-csi-plugin/werf.inc.yaml
Owners: @konstantin-axenov

++
  ee/candi/version_map.yml
Owners: @RomanenkoDenys

++
  modules/040-control-plane-manager/images/kube-controller-manager/patches/1.24/pdb-daemonset.patch
  modules/040-control-plane-manager/images/kube-controller-manager/patches/1.25/pdb-daemonset.patch
Owners: @yalosev

++
  go_lib/dependency/k8s/drain/README.md
  go_lib/dependency/k8s/drain/default.go
  go_lib/dependency/k8s/drain/drain.go
  go_lib/dependency/k8s/drain/filters.go
Owners: none

+++
  dhctl/Makefile
  go_lib/dependency/k8s/k8s.go
Owners: @name212

++
  ee/modules/030-cloud-provider-openstack/images/cloud-controller-manager/patches/1.25/001-ignore-static-nodes.patch
Owners: @zuzzas

++
  ee/modules/030-cloud-provider-openstack/images/cloud-controller-manager/patches/1.25/001-ignore-static-nodes.patch
Owners: @zuzzas

ing
  modules/402-ingress-nginx/templates/controller/controller.yaml
Owners: @nabokihms, @yalosev

--
  candi/image_versions.yml
Owners: @RomanenkoDenys

++
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
Owners: @yalosev

cri tool
  candi/version_map.yml
  ee/modules/007-registrypackages/images/kubeadm-alteros/werf.inc.yaml
  ee/modules/007-registrypackages/images/kubeadm-astra/werf.inc.yaml
  ee/modules/007-registrypackages/images/kubeadm-redos/werf.inc.yaml
  modules/007-registrypackages/images/kubeadm-centos/werf.inc.yaml
  modules/007-registrypackages/images/kubeadm-debian/werf.inc.yaml
  modules/007-registrypackages/images/kubeadm-ubuntu/werf.inc.yaml
Owners: @RomanenkoDenys

Fix test
  modules/040-control-plane-manager/hooks/effective_kubernetes_version_test.go
Owners: @yalosev

++
  go.mod
Owners: none

++
  testing/library/images_tags_generated.go
Owners: none

test fix
  global-hooks/discovery/cluster_configuration_test.go
Owners: none

doc: regenerate TOC
  ee/modules/502-delivery/docs/USAGE_RU.md
Owners: @z9r5

chore(hack): describe what the scripts are for
  ee/modules/502-delivery/hack/get_manifests.sh
  ee/modules/502-delivery/hack/retemplate.py
Owners: none

Update ee/modules/502-delivery/openapi/config-values.yaml
  ee/modules/502-delivery/openapi/config-values.yaml
Owners: none

[site] Update contacts
  docs/documentation/pages/DECKHOUSE-OVERVIEW_RU.md
  docs/site/_includes/footer.html
  docs/site/_includes/header.html
  docs/site/pages/how_to_buy_ru.html
  docs/site/pages/license_request_expired_ru.html
  docs/site/pages/license_request_success_ru.html
  docs/site/pages/policies/security_policy_ru.html
Owners: @z9r5

[site] Update contacts (#3314)
  docs/documentation/pages/DECKHOUSE-OVERVIEW_RU.md
  docs/site/_includes/footer.html
  docs/site/_includes/header.html
  docs/site/pages/how_to_buy_ru.html
  docs/site/pages/license_request_expired_ru.html
  docs/site/pages/license_request_success_ru.html
  docs/site/pages/policies/security_policy_ru.html
Owners: @z9r5

.github/CODEOWNERS:

.github/                    @diafour
002-deckhouse/              @yalosev
021-cni-cilium/             @zuzzas @yalosev @RomanenkoDenys @konstantin-axenov
030-cloud-provider-openstack/ @konstantin-axenov
030-cloud-provider-vsphere/ @RomanenkoDenys
041-linstor/                @kvaps
031-local-path-provisioner/ @RomanenkoDenys
040-control-plane-manager/  @yalosev
040-node-manager/           @yalosev
040-terraform-manager/      @name212
101-cert-manager/           @yalosev
110-istio/                  @apolovov
140-user-authz/             @nabokihms @apolovov
150-user-authn/             @nabokihms
340-extended-monitoring/    @nabokihms @zuzzas
340-monitoring-*/           @nabokihms
350-node-local-dns/         @zuzzas
380-metallb/                @RomanenkoDenys @kvaps
402-ingress-nginx/          @nabokihms @yalosev
460-log-shipper/            @nabokihms
470-chrony/                 @RomanenkoDenys
500-openvpn/                @vitaliy-sn
500-upmeter/                @shvgn
600-flant-integration/      @shvgn
bashible-apiserver/         @yalosev
candi/                      @RomanenkoDenys
cloud-controller-manager/   @zuzzas
csi/                        @zuzzas
deckhouse-controller/       @diafour
dhctl/                      @name212
docs/                       @z9r5
