Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @diafour, @yalosev, @zuzzas, @RomanenkoDenys, @konstantin-axenov, @kvaps, @name212, @apolovov, @nabokihms, @vitaliy-sn, @shvgn, @z9r5

[docs] Clarify the use of the approvalMode parameter (#4091) (#4092)
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
Owners: @RomanenkoDenys

[candi] fix bootstrap
  candi/bashible/bootstrap-functions/common.sh.tpl
  candi/bashible/bundles/altlinux/bootstrap.sh.tpl
  candi/bashible/bundles/centos/bootstrap.sh.tpl
  candi/bashible/bundles/debian/bootstrap.sh.tpl
  candi/bashible/bundles/ubuntu-lts/bootstrap.sh.tpl
  ee/candi/bashible/bundles/alteros/bootstrap.sh.tpl
  ee/candi/bashible/bundles/astra/bootstrap.sh.tpl
  ee/candi/bashible/bundles/redos/bootstrap.sh.tpl
  ee/modules/040-node-manager/openapi/config-values.yaml
  modules/040-node-manager/templates/node-group/_cloud_init_cloud_config.tpl
  modules/040-node-manager/templates/node-group/_static_or_hybrid_script.tpl
Owners: @RomanenkoDenys, @yalosev

++
  modules/810-ui/images/backend/cloudprovider/cluster_config.go
  modules/810-ui/images/backend/cloudprovider/discovery.go
  modules/810-ui/images/backend/main.go
  modules/810-ui/images/backend/util/retry/retry.go
Owners: none

[ci] Update cleanup policy
  werf_cleanup.yaml
Owners: none

[linstor] Update alerts and labels
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/041-linstor/monitoring/prometheus-rules/drbd-devices.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-controller.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-csi-controller.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-csi-node.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-node.yaml
Owners: @z9r5, @kvaps

[candi] fix bootstrap (#4082)
  candi/bashible/bundles/altlinux/bootstrap.sh.tpl
  candi/bashible/bundles/centos/all/033_install_mandatory_selinux_policies.sh.tpl
  candi/bashible/bundles/centos/bootstrap.sh.tpl
  candi/bashible/bundles/debian/bootstrap.sh.tpl
  candi/bashible/bundles/ubuntu-lts/bootstrap.sh.tpl
  candi/bashible/common_functions.sh.tpl
  dhctl/pkg/template/bootstrap.go
  ee/candi/bashible/bundles/alteros/all/033_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/alteros/bootstrap.sh.tpl
  ee/candi/bashible/bundles/astra/bootstrap.sh.tpl
  ee/candi/bashible/bundles/redos/all/033_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/redos/bootstrap.sh.tpl
  ee/modules/040-node-manager/openapi/config-values.yaml
  modules/040-node-manager/templates/node-group/_bootstrap_script.tpl
Owners: @RomanenkoDenys, @name212, @yalosev

[delivery] Add FAQ section with admin password reset instruction (#4078)
  ee/modules/502-delivery/docs/FAQ.md
  ee/modules/502-delivery/docs/FAQ_RU.md
Owners: @z9r5

[helm_lib] Fix readme
  helm_lib/README.md
Owners: @name212

[linstor] Update alerts and labels (#4097)
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/041-linstor/monitoring/prometheus-rules/drbd-devices.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-controller.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-csi-controller.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-csi-node.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-node.yaml
Owners: @z9r5, @kvaps

[linstor] Update alerts and labels (#4097)
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/041-linstor/monitoring/prometheus-rules/drbd-devices.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-controller.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-csi-controller.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-csi-node.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-node.yaml
Owners: @z9r5, @kvaps

[linstor] Update alerts and labels (#4097) (#4107)
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/041-linstor/monitoring/prometheus-rules/drbd-devices.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-controller.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-csi-controller.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-csi-node.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-node.yaml
Owners: @z9r5, @kvaps

Update Kubernetes:
  candi/version_map.yml
  testing/library/images_tags_generated.go
Owners: @RomanenkoDenys

[helm_lib] update helm lib version
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
Owners: @name212

[delivery] Fix How to reset admin password instruction
  ee/modules/502-delivery/docs/FAQ.md
  ee/modules/502-delivery/docs/FAQ_RU.md
Owners: @z9r5

fix to force e2e test
  werf.yaml
Owners: none

.github/CODEOWNERS:

.github/                    @diafour
002-deckhouse/              @yalosev
021-cni-cilium/             @zuzzas @yalosev @RomanenkoDenys @konstantin-axenov
030-cloud-provider-openstack/ @konstantin-axenov
030-cloud-provider-vsphere/ @RomanenkoDenys
041-linstor/                @kvaps
031-local-path-provisioner/ @RomanenkoDenys
040-control-plane-manager/  @yalosev
040-node-manager/           @yalosev
040-terraform-manager/      @name212
101-cert-manager/           @yalosev
110-istio/                  @apolovov
140-user-authz/             @nabokihms @apolovov
150-user-authn/             @nabokihms
340-extended-monitoring/    @nabokihms @zuzzas
340-monitoring-*/           @nabokihms
350-node-local-dns/         @zuzzas
380-metallb/                @RomanenkoDenys @kvaps
402-ingress-nginx/          @nabokihms @yalosev
460-log-shipper/            @nabokihms
470-chrony/                 @RomanenkoDenys
490-virtualization          @kvaps
491-containerized-data-importer @kvaps
500-openvpn/                @vitaliy-sn
500-upmeter/                @shvgn
502-delivery/               @shvgn
600-flant-integration/      @shvgn
650-runtime-audit-engine/   @nabokihms
bashible-apiserver/         @yalosev
candi/                      @RomanenkoDenys
cloud-controller-manager/   @zuzzas
csi/                        @zuzzas @kvaps
deckhouse-controller/       @diafour
dhctl/                      @name212
docs/                       @z9r5
helm_lib/                   @name212
