Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @yalosev, @miklezzzz, @ldmonster, @RomanenkoDenys, @sprait, @nabokihms, @apolovov, @aleksey-su, @AleksZimin, @vladimirGuryanov, @lazovskiy, @fl64, @kolashtov, @shvgn, @z9r5, @konstantin-axenov

.github/CODEOWNERS:

.github/                        @name212
002-deckhouse/                  @yalosev @miklezzzz @ldmonster
005-external-module-manager/    @yalosev @miklezzzz @ldmonster
007-registrypackages/           @RomanenkoDenys @name212 @sprait
010-cloud-data-crd/             @nabokihms
011-flow-schema/                @name212 @sprait
015-admission-policy-engine/    @yalosev @miklezzzz
021-cni-cilium/                 @apolovov
030-cloud-provider-aws/         @aleksey-su
030-cloud-provider-azure/       @aleksey-su
030-cloud-provider-gcp/         @aleksey-su
030-cloud-provider-yandex/      @aleksey-su
030-cloud-provider-openstack/   @aleksey-su
030-cloud-provider-vcd/         @aleksey-su
030-cloud-provider-vsphere/     @aleksey-su
030-cloud-provider-zvirt/       @aleksey-su
031-local-path-provisioner/     @AleksZimin
031-ceph-csi/                   @AleksZimin
035-cni-flannel/                @apolovov
035-cni-simple-bridge/          @apolovov
036-kube-proxy/                 @name212 @sprait
039-registry-packages-proxy/    @RomanenkoDenys @name212 @sprait
040-control-plane-manager/      @name212 @sprait
040-node-manager/               @name212 @sprait
040-terraform-manager/          @name212 @sprait @aleksey-su
042-kube-dns/                   @nabokihms
045-snapshot-controller/        @AleksZimin
050-network-policy-engine/      @apolovov
101-cert-manager/               @yalosev @miklezzzz
110-istio/                      @apolovov
140-user-authz/                 @nabokihms
150-user-authn/                 @nabokihms
160-multitenancy-manager/       @yalosev @miklezzzz
200-operator-prometheus/        @nabokihms @vladimirGuryanov @lazovskiy
300-prometheus/                 @nabokihms @vladimirGuryanov @lazovskiy
301-prometheus-*/               @nabokihms @vladimirGuryanov @lazovskiy
302-vertical-pod-autoscaler/    @RomanenkoDenys @name212 @sprait
303-prometheus-*/               @nabokihms @vladimirGuryanov @lazovskiy
340-extended-monitoring/        @nabokihms @vladimirGuryanov @lazovskiy
340-monitoring-*/               @nabokihms @vladimirGuryanov @lazovskiy
350-node-local-dns/             @name212 @sprait
380-metallb/                    @apolovov
400-descheduler/                @RomanenkoDenys @name212 @sprait
402-ingress-nginx/              @miklezzzz @yalosev
450-keepalived/                 @apolovov
450-network-gateway/            @apolovov
460-log-shipper/                @nabokihms @vladimirGuryanov @lazovskiy
462-loki/                       @nabokihms @vladimirGuryanov @lazovskiy
465-pod-reloader/               @name212 @sprait
470-chrony/                     @name212 @sprait
491-containerized-data-importer @fl64
500-openvpn/                    @name212 @sprait
500-cilium-hubble/              @apolovov
500-dashboard/                  @nabokihms
500-upmeter/                    @nabokihms
500-okmeter/                    @nabokihms @vladimirGuryanov @lazovskiy @kolashtov
500-operator-trivy/             @miklezzzz @yalosev
502-delivery/                   @shvgn
600-namespace-configurator/     @yalosev @miklezzzz
650-runtime-audit-engine/       @name212 @sprait @nabokihms
800-deckhouse-tools/            @RomanenkoDenys @name212 @sprait
810-documentation/              @z9r5 @nabokihms
bashible-apiserver/             @name212 @sprait
candi/                          @name212 @sprait
cloud-controller-manager/       @aleksey-su
csi/                            @AleksZimin
deckhouse-controller/           @yalosev @miklezzzz @ldmonster
dhctl/                          @name212 @sprait
docs/                           @z9r5 @nabokihms
helm_lib/                       @name212 @sprait
crds/                           @nabokihms @konstantin-axenov @z9r5
openapi/                        @nabokihms @konstantin-axenov @z9r5
/pkg/                           @yalosev @ldmonster

fix docs overview
  docs/site/pages/virtualization-platform/README.md
  docs/site/pages/virtualization-platform/README_RU.md
Owners: @z9r5, @nabokihms

add copyright validation
  tools/install/standalone/download.sh
Owners: none

add update channels
  docs/site/_data/sidebars/virtualization-platform.yml
  docs/site/pages/virtualization-platform/documentation/admin/UPDATE_CHANNELS.md
  docs/site/pages/virtualization-platform/documentation/admin/UPDATE_CHANNELS_RU.md
Owners: @z9r5, @nabokihms

[candi] Update D8 CLI to 0.4.0 (#10571)
  candi/version_map.yml
Owners: @name212, @sprait

[prometheus-operator] Fix backup label value (#10570)
  modules/200-operator-prometheus/crds/podmonitors.yaml
  modules/200-operator-prometheus/crds/probes.yaml
  modules/200-operator-prometheus/crds/prometheusrules.yaml
  modules/200-operator-prometheus/crds/scrapeconfigs.yaml
  modules/200-operator-prometheus/crds/servicemonitors.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[candi] Update D8 CLI to 0.4.0 (#10571)
  candi/version_map.yml
Owners: @name212, @sprait

[candi] Update D8 CLI to 0.4.0 (#10571) (#10573)
  candi/version_map.yml
Owners: @name212, @sprait
