Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @diafour, @yalosev, @zuzzas, @RomanenkoDenys, @konstantin-axenov, @kvaps, @name212, @apolovov, @nabokihms, @vitaliy-sn, @shvgn, @z9r5

templates: add werf-argocd-cmp-sidecar to repo server deployment
  ee/modules/502-delivery/templates/argocd/repo-server/argocd-repo-server-deployment.yaml
Owners: none

templates: fix VPA reference for 'redis' container
  ee/modules/502-delivery/templates/argocd/redis/argocd-redis-deployment.yaml
Owners: none

templates: add ephemeral storage resource to copyutil container
  ee/modules/502-delivery/templates/argocd/repo-server/argocd-repo-server-deployment.yaml
Owners: none

Fill global.modulesImages values in admission-policy-engine policies_test.go
  modules/015-admission-policy-engine/template_tests/policies_test.go
Owners: none

Remove images_tags.json symlink from node-manager.
  modules/040-node-manager/images_tags.json
Owners: @yalosev

Fix TESTS_PATH generation for FOCUSed tests in case of multiple modules between CE, EE, FE with a same name.
  Makefile
Owners: none

chore: format hook by hand to satisfy linter
  ee/modules/502-delivery/hooks/werf_sources/hook.go
Owners: none

set destination_prefix to "0.0.0.0/0" always
  candi/cloud-providers/yandex/terraform-modules/vpc-components/main.tf
Owners: @RomanenkoDenys

openapi tests
  ee/modules/502-delivery/openapi/config-values.yaml
  ee/modules/502-delivery/openapi/doc-ru-config-values.yaml
  ee/modules/502-delivery/openapi/openapi-case-tests.yaml
Owners: none

Add Bashible service checking (#3140)
  modules/040-node-manager/templates/node-group/_static_or_hybrid_script.tpl
Owners: @yalosev

[user-authn] Use selfsigned certificate for Dex (#3218)
  go_lib/hooks/tls_certificate/internal_tls.go
  modules/040-control-plane-manager/hooks/discover_modules.go
  modules/150-user-authn/hooks/order_dex_tls_certificate.go
  modules/150-user-authn/openapi/values.yaml
  modules/150-user-authn/template_tests/authenticator_test.go
  modules/150-user-authn/template_tests/client_test.go
  modules/150-user-authn/template_tests/connector_test.go
  modules/150-user-authn/template_tests/copy_custom_certificate_test.go
  modules/150-user-authn/template_tests/dex_config_test.go
  modules/150-user-authn/template_tests/kubeconfig_generator_config_test.go
  modules/150-user-authn/template_tests/kubernetes_oauth2client_test.go
  modules/150-user-authn/template_tests/publish_api_test.go
  modules/150-user-authn/template_tests/user_test.go
  modules/150-user-authn/templates/dex/configmap-control-plane-configurator.yaml
  modules/150-user-authn/templates/dex/secret-tls.yaml
  modules/150-user-authn/templates/kubeconfig-generator/config.yaml
Owners: @yalosev, @nabokihms

Overwrite .metadata.name to .uid jq filter of grafanadashboarddefinition kind
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Owners: none

[deckhouse-controller] chore: use main branch for shell-operator (#3228)
  go.mod
  go.sum
Owners: none

[testing] e2e: wait for deckhouse Pod readiness before running tests (#3231)
  testing/cloud_layouts/script.sh
Owners: none

[node-manager] Fix description in NodeGroupMasterTaintIsAbsent (#3248)
  modules/040-node-manager/monitoring/prometheus-rules/node-group.tpl
Owners: @yalosev

[node-manager] Fix description in NodeGroupMasterTaintIsAbsent (#3248)
  modules/040-node-manager/monitoring/prometheus-rules/node-group.tpl
Owners: @yalosev

[node-manager] Fix description in NodeGroupMasterTaintIsAbsent (#3248) (#3254)
  modules/040-node-manager/monitoring/prometheus-rules/node-group.tpl
Owners: @yalosev

chore: add dex config (again)
  ee/modules/502-delivery/templates/argocd/argocd-cm-configmap.yaml
Owners: none

templates: fix app label on argocd-cm
  ee/modules/502-delivery/templates/argocd/argocd-cm-configmap.yaml
Owners: none

Test #1
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Owners: none

[deckhouse-config] disable deckhouse-config webhook for uninitialized cluster
  modules/003-deckhouse-config/templates/deckhouse-config-webhook/webhook-configuration.yaml
Owners: none

[global-hooks] remove x bit from *.go files in global-hooks
  global-hooks/cluster_is_bootstrapped.go
  global-hooks/discovery/cluster_count_d8_specific_nodes.go
  global-hooks/discovery/cluster_dns_address.go
  global-hooks/discovery/cluster_ha.go
  global-hooks/discovery/cluster_uuid.go
  global-hooks/discovery/deckhouse_registry.go
  global-hooks/discovery/default_storage_class.go
  global-hooks/discovery/extension_api_server_authentication.go
  global-hooks/discovery/modules_images_tags.go
  global-hooks/discovery/prometheus_scrape_interval.go
  global-hooks/enable_cloud_provider.go
  global-hooks/enable_cni.go
  global-hooks/resources/cluster_autoscaler.go
Owners: none

Change order
  modules/402-ingress-nginx/hooks/order_certificates.go
Owners: @nabokihms, @yalosev

[user-authn] Read CA from encoded PEM string (#3249)
  modules/150-user-authn/images/dex/patches/oidc-ca-insecure.patch
Owners: @nabokihms

[ingress-nginx] change order_certificates hook order (#3259)
  modules/402-ingress-nginx/hooks/order_certificates.go
Owners: @nabokihms, @yalosev

[ingress-nginx] change order_certificates hook order (#3259)
  modules/402-ingress-nginx/hooks/order_certificates.go
Owners: @nabokihms, @yalosev

[ingress-nginx] change order_certificates hook order (#3259) (#3260)
  modules/402-ingress-nginx/hooks/order_certificates.go
Owners: @nabokihms, @yalosev

Test #2
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Owners: none

[flant-integration] changed expression for D8PrometheusMadisonErrorSendingAlertsToBackend alert (#3113)
  ee/modules/600-flant-integration/monitoring/prometheus-rules/sending-alerts.yaml
Owners: @shvgn

[prometheus] lock main queue during update
  modules/040-control-plane-manager/hooks/lock_main_queue.go
  modules/300-prometheus/hooks/lock_main_queue_during_update.go
  modules/300-prometheus/hooks/lock_main_queue_during_update_test.go
Owners: @yalosev

[deckhouse] Add releaseChannel label to DeckhouseUpdating alert
  modules/002-deckhouse/hooks/update_deckhouse_image.go
Owners: @yalosev

Go
  modules/040-control-plane-manager/hooks/lock_main_queue.go
  modules/300-prometheus/hooks/lock_main_queue_during_update_test.go
Owners: @yalosev

gO
  ee/candi/cloud-providers/openstack/terraform-modules/static-node/main.tf
Owners: @RomanenkoDenys

candi
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/terraform-modules/static-node/main.tf
  ee/candi/cloud-providers/openstack/terraform-modules/static-node/variables.tf
Owners: @RomanenkoDenys

Ggo
  ee/candi/cloud-providers/openstack/terraform-modules/static-node/main.tf
Owners: @RomanenkoDenys

ed
  ee/candi/cloud-providers/openstack/terraform-modules/static-node/variables.tf
Owners: @RomanenkoDenys

[cloud-provider-openstack] Fix ordering static nodes without security groups
  ee/candi/cloud-providers/openstack/terraform-modules/static-node/variables.tf
Owners: @RomanenkoDenys

Update ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
Owners: @RomanenkoDenys

ed
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
Owners: @RomanenkoDenys

Update channels.yaml
  channels.yaml
Owners: none

.github/CODEOWNERS:

.github/                    @diafour
002-deckhouse/              @yalosev
021-cni-cilium/             @zuzzas @yalosev @RomanenkoDenys @konstantin-axenov
030-cloud-provider-openstack/ @konstantin-axenov
030-cloud-provider-vsphere/ @RomanenkoDenys
041-linstor/                @kvaps
031-local-path-provisioner/ @RomanenkoDenys
040-control-plane-manager/  @yalosev
040-node-manager/           @yalosev
040-terraform-manager/      @name212
101-cert-manager/           @yalosev
110-istio/                  @apolovov
140-user-authz/             @nabokihms @apolovov
150-user-authn/             @nabokihms
340-extended-monitoring/    @nabokihms @zuzzas
340-monitoring-*/           @nabokihms
350-node-local-dns/         @zuzzas
380-metallb/                @RomanenkoDenys @kvaps
402-ingress-nginx/          @nabokihms @yalosev
460-log-shipper/            @nabokihms
470-chrony/                 @RomanenkoDenys
500-openvpn/                @vitaliy-sn
500-upmeter/                @shvgn
600-flant-integration/      @shvgn
bashible-apiserver/         @yalosev
candi/                      @RomanenkoDenys
cloud-controller-manager/   @zuzzas
csi/                        @zuzzas
deckhouse-controller/       @diafour
dhctl/                      @name212
docs/                       @z9r5
