Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @diafour, @yalosev, @zuzzas, @RomanenkoDenys, @konstantin-axenov, @kvaps, @name212, @apolovov, @nabokihms, @vitaliy-sn, @shvgn, @z9r5

.github/CODEOWNERS:

.github/                    @diafour
002-deckhouse/              @yalosev
021-cni-cilium/             @zuzzas @yalosev @RomanenkoDenys @konstantin-axenov
030-cloud-provider-openstack/ @konstantin-axenov
030-cloud-provider-vsphere/ @RomanenkoDenys
041-linstor/                @kvaps
031-local-path-provisioner/ @RomanenkoDenys
040-control-plane-manager/  @yalosev
040-node-manager/           @yalosev
040-terraform-manager/      @name212
101-cert-manager/           @yalosev
110-istio/                  @apolovov
140-user-authz/             @nabokihms @apolovov
150-user-authn/             @nabokihms
340-extended-monitoring/    @nabokihms @zuzzas
340-monitoring-*/           @nabokihms
350-node-local-dns/         @zuzzas
380-metallb/                @RomanenkoDenys @kvaps
402-ingress-nginx/          @nabokihms @yalosev
460-log-shipper/            @nabokihms
470-chrony/                 @RomanenkoDenys
490-virtualization          @kvaps
491-containerized-data-importer @kvaps
500-openvpn/                @vitaliy-sn
500-upmeter/                @shvgn
502-delivery/               @shvgn
600-flant-integration/      @shvgn
650-runtime-audit-engine/   @nabokihms
bashible-apiserver/         @yalosev
candi/                      @RomanenkoDenys
cloud-controller-manager/   @zuzzas
csi/                        @zuzzas @kvaps
deckhouse-controller/       @diafour
dhctl/                      @name212
docs/                       @z9r5
helm_lib/                   @name212

ingress: comment out auth annotations
  modules/810-ui/templates/frontend/ingress.yaml
Owners: none

backend: add known instance types to cloud provider discovery
  modules/810-ui/images/backend/.editorconfig
  modules/810-ui/images/backend/cloudprovider/discovery.go
  modules/810-ui/images/backend/cloudprovider/provider_aws.go
  modules/810-ui/images/backend/cloudprovider/provider_azure.go
  modules/810-ui/images/backend/cloudprovider/provider_gcp.go
  modules/810-ui/images/backend/cloudprovider/provider_openstack.go
  modules/810-ui/images/backend/go.mod
  modules/810-ui/images/backend/main.go
Owners: none

chore(backend): unignore subsctioption test
  modules/810-ui/images/backend/.gitignore
  modules/810-ui/images/backend/subscription_test.go
Owners: none

backend dockerfile
  modules/810-ui/images/backend/Dockerfile
  modules/810-ui/images/backend/main.go
Owners: none

introduce subscription controller
  modules/810-ui/images/backend/events.go
  modules/810-ui/images/backend/main.go
  urw.yaml
Owners: none

fix configmap bracket
  modules/810-ui/templates/frontend/configmap.yaml
Owners: none

templates: fix backend deployment, extra {{end}}
  modules/810-ui/templates/backend/deployment.yaml
Owners: none

backend rbac: allow access to nodes
  modules/810-ui/templates/backend/rbac-for-us.yaml
Owners: none

frontend: /ws -> /subscribe
  modules/810-ui/images/frontend/dist/assets/actioncable-e113dd68.js
  modules/810-ui/images/frontend/dist/assets/index-50db9afa.js
Owners: none

backend: drain handle
  modules/810-ui/images/backend/go.mod
  modules/810-ui/images/backend/go.sum
  modules/810-ui/images/backend/main.go
Owners: none

wip: subscription per resource
  modules/810-ui/images/backend/events.go
  modules/810-ui/images/backend/main.go
Owners: none

backend: declare supported 'actioncable-v1-json' subprotocol in websocket connection
  modules/810-ui/images/backend/main.go
Owners: none

frontend: use working nginx config in the configmap
  modules/810-ui/templates/frontend/configmap.yaml
Owners: none

fix PUT path
  modules/810-ui/images/backend/main.go
Owners: none

frontend: /api/subscribe
  modules/810-ui/images/frontend/dist/assets/actioncable-e113dd68.js
  modules/810-ui/images/frontend/dist/assets/index-50db9afa.js
Owners: none

backend: http probes
  modules/810-ui/images/backend/main.go
Owners: none

backend: fix groupResource notation and parsing
  modules/810-ui/images/backend/subscription.go
Owners: none

frontend: upgrade
  modules/810-ui/images/backend/main.go
  modules/810-ui/images/frontend/dist/assets/actioncable-3cb92870.js
  modules/810-ui/images/frontend/dist/assets/actioncable-e113dd68.js
  modules/810-ui/images/frontend/dist/assets/browser-3ddcab51.js
  modules/810-ui/images/frontend/dist/assets/browser-82f65399.js
  modules/810-ui/images/frontend/dist/assets/index-054fb914.css
  modules/810-ui/images/frontend/dist/assets/index-200c7ba5.js
  modules/810-ui/images/frontend/dist/assets/index-293cc1ab.css
  modules/810-ui/images/frontend/dist/assets/index-50db9afa.js
  modules/810-ui/images/frontend/dist/index.html
Owners: none

chore(backend): clean code
  modules/810-ui/images/backend/cloudprovider/discovery.go
Owners: none

backend: /ready -> /readyz
  modules/810-ui/templates/backend/deployment.yaml
Owners: none

backend ingress: rewrite path
  modules/810-ui/templates/frontend/ingress.yaml
Owners: none

add websocker handler
  modules/810-ui/images/backend/events.go
  modules/810-ui/images/backend/main.go
Owners: none

make generate
  testing/library/images_tags_generated.go
Owners: none

updated nginx.conf for frontend
  modules/810-ui/templates/frontend/configmap.yaml
Owners: none

fix deployment: no service name
  modules/810-ui/templates/backend/deployment.yaml
Owners: none

pings
  modules/810-ui/images/backend/events.go
Owners: none

fixup: register http cert hook
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
Owners: @diafour

expect 404 on inexisting CRD
  modules/810-ui/images/backend/main.go
Owners: none

fix frontend PDB: correct namespace
  modules/810-ui/templates/frontend/deployment.yaml
Owners: none

(wip) adapt values
  modules/810-ui/hooks/https/copy_custom_certificate.go
  modules/810-ui/openapi/config-values.yaml
  modules/810-ui/openapi/doc-ru-config-values.yaml
  modules/810-ui/openapi/openapi-case-tests.yaml
  modules/810-ui/openapi/values.yaml
Owners: none

backend: more graceful shutdown
  modules/810-ui/images/backend/main.go
Owners: none

make generate
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/041-linstor/templates/linstor-scheduler-admission/webhook.yaml
  testing/library/images_tags_generated.go
Owners: @yalosev, @kvaps

format and satisfy linter
  modules/810-ui/images/backend/events.go
Owners: none

initial frontend setup
  modules/810-ui/images/frontend/dist/assets/actioncable-e113dd68.js
  modules/810-ui/images/frontend/dist/assets/browser-82f65399.js
  modules/810-ui/images/frontend/dist/assets/color-473bc8ca.png
  modules/810-ui/images/frontend/dist/assets/deckhouse_settings-2c9d1e33.js
  modules/810-ui/images/frontend/dist/assets/index-054fb914.css
  modules/810-ui/images/frontend/dist/assets/index-50db9afa.js
  modules/810-ui/images/frontend/dist/assets/logo-351ea613.svg
  modules/810-ui/images/frontend/dist/assets/primeicons-131bc3bf.ttf
  modules/810-ui/images/frontend/dist/assets/primeicons-3824be50.woff2
  modules/810-ui/images/frontend/dist/assets/primeicons-5e10f102.svg
  modules/810-ui/images/frontend/dist/assets/primeicons-90a58d3a.woff
  modules/810-ui/images/frontend/dist/assets/primeicons-ce852338.eot
  modules/810-ui/images/frontend/dist/favicon.ico
  modules/810-ui/images/frontend/dist/index.html
  modules/810-ui/images/frontend/dist/mockServiceWorker.js
  modules/810-ui/images/frontend/nginx.conf
  modules/810-ui/images/frontend/werf.inc.yaml
Owners: none

add backend code
  modules/810-ui/images/backend/.gitignore
  modules/810-ui/images/backend/.golangci.yaml
  modules/810-ui/images/backend/Makefile
  modules/810-ui/images/backend/go.mod
  modules/810-ui/images/backend/go.sum
  modules/810-ui/images/backend/go.work
  modules/810-ui/images/backend/handler.go
  modules/810-ui/images/backend/handler_dynamic.go
  modules/810-ui/images/backend/main.go
Owners: none

werf: absolute paths
  modules/810-ui/images/frontend/werf.inc.yaml
Owners: none

chore(backend): clean code, #2
  modules/810-ui/images/backend/cloudprovider/discovery.go
Owners: none

backend: add cors and oidc auth plugin for local testing
  modules/810-ui/images/backend/main.go
Owners: none

werf trial and error
  modules/810-ui/images/frontend/werf.inc.yaml
Owners: none

werf trial and error (2)
  modules/810-ui/images/frontend/werf.inc.yaml
Owners: none
