Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @yalosev, @RomanenkoDenys, @nabokihms, @AleksZimin, @apolovov, @Dmitrykob, @miklezzzz, @fl64, @vitaliy-sn, @shvgn, @z9r5, @konstantin-axenov

.github/CODEOWNERS:

.github/                        @name212
002-deckhouse/                  @yalosev
005-external-module-manager/    @yalosev
007-registrypackages/           @RomanenkoDenys
010-cloud-data-crd/             @nabokihms
010-operator-prometheus-crd/    @nabokihms
010-prometheus-crd/             @nabokihms
010-snapshot-controller-crd/    @AleksZimin
010-user-authn-crd/             @nabokihms
010-vertical-pod-autoscaler-crd/ @nabokihms
011-flow-schema/                @RomanenkoDenys @name212
015-admission-policy-engine/    @yalosev
021-cni-cilium/                 @apolovov
021-kube-proxy/                 @RomanenkoDenys
030-cloud-provider-aws/         @RomanenkoDenys @name212
030-cloud-provider-azure/       @RomanenkoDenys @name212
030-cloud-provider-gcp/         @RomanenkoDenys @name212
030-cloud-provider-yandex/      @RomanenkoDenys @name212
030-cloud-provider-openstack/   @RomanenkoDenys @name212
030-cloud-provider-vsphere/     @RomanenkoDenys
031-local-path-provisioner/     @RomanenkoDenys @name212
035-cni-flannel/                @RomanenkoDenys @name212
035-cni-simple-bridge/          @RomanenkoDenys @name212
040-control-plane-manager/      @RomanenkoDenys @name212
040-node-manager/               @RomanenkoDenys @name212
040-terraform-manager/          @name212
041-ceph-csi/                   @RomanenkoDenys @name212
042-kube-dns/                   @nabokihms
045-snapshot-controller/        @AleksZimin
050-network-policy-engine/      @apolovov
101-cert-manager/               @yalosev
110-istio/                      @apolovov
140-user-authz/                 @nabokihms @apolovov
150-user-authn/                 @nabokihms
160-multitenancy-manager/       @yalosev @Dmitrykob
200-operator-prometheus/        @nabokihms
300-prometheus/                 @nabokihms
301-prometheus-*/               @nabokihms
302-vertical-pod-autoscaler/    @nabokihms
303-prometheus-*/               @nabokihms
340-extended-monitoring/        @nabokihms
340-monitoring-*/               @nabokihms
350-node-local-dns/             @RomanenkoDenys
380-metallb/                    @RomanenkoDenys @apolovov
400-descheduler/                @RomanenkoDenys @name212
402-ingress-nginx/              @miklezzzz @yalosev
460-log-shipper/                @nabokihms
462-loki/                       @nabokihms
465-pod-reloader/               @RomanenkoDenys
470-chrony/                     @RomanenkoDenys
491-containerized-data-importer @fl64
500-openvpn/                    @vitaliy-sn
500-cilium-hubble/              @apolovov
500-dashboard/                  @nabokihms
500-upmeter/                    @nabokihms
500-okmeter/                    @nabokihms
500-operator-trivy/             @miklezzzz
502-delivery/                   @shvgn
600-flant-integration/          @nabokihms
600-namespace-configurator/     @yalosev
650-runtime-audit-engine/       @nabokihms
810-documentation/              @z9r5 @nabokihms @konstantin-axenov
bashible-apiserver/             @RomanenkoDenys @name212
candi/                          @RomanenkoDenys @name212
cloud-controller-manager/       @RomanenkoDenys @name212
csi/                            @AleksZimin
deckhouse-controller/           @yalosev
dhctl/                          @name212
docs/                           @z9r5 @nabokihms @konstantin-axenov
helm_lib/                       @name212
crds/                           @nabokihms @konstantin-axenov @z9r5
openapi/                        @nabokihms @konstantin-axenov @z9r5

item 24875
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
Owners: @RomanenkoDenys, @name212

item 22200
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
Owners: @RomanenkoDenys, @name212

Create k8s-glossary.md
  docs/glossary/k8s-glossary.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update k8s-glossary.md
  docs/glossary/k8s-glossary.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update k8s-glossary.md
  docs/glossary/k8s-glossary.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update glossary.md
  docs/glossary/glossary.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

item 17531
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
Owners: @RomanenkoDenys, @name212

item 1309
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
Owners: @RomanenkoDenys, @name212

item 7761
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
Owners: @RomanenkoDenys, @name212

resources for init container
  modules/300-prometheus/templates/aggregating-proxy/deployment.yaml
Owners: @nabokihms

[prometheus][docs] Remove Lens-hack
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

item 3793
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/resources.yaml
Owners: none

added: comments for ease of understanding
  modules/340-extended-monitoring/images/extended-monitoring-exporter/src/extended-monitoring.go
  modules/340-extended-monitoring/images/extended-monitoring-exporter/src/extended-monitoring.py
  modules/340-extended-monitoring/images/extended-monitoring-exporter/src/requirements.txt
Owners: @nabokihms

[istio] adopting istio-cni, the new traffic redirection setup mode (#7488)
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
  modules/021-cni-cilium/hooks/discovery_is_istio_cni_enabled.go
  modules/021-cni-cilium/openapi/values.yaml
  modules/021-cni-cilium/templates/configmap.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
  modules/110-istio/hooks/discovery_cni_mode.go
  modules/110-istio/images/cni-v1x12x6/Dockerfile
  modules/110-istio/images/cni-v1x13x7/Dockerfile
  modules/110-istio/images/cni-v1x16x2/Dockerfile
  modules/110-istio/images/cni-v1x19x7/Dockerfile
  modules/110-istio/openapi/values.yaml
  modules/110-istio/template_tests/module_test.go
  modules/110-istio/templates/cni/configmap.yaml
  modules/110-istio/templates/cni/daemonset.yaml
  modules/110-istio/templates/cni/podmonitor.yaml
  modules/110-istio/templates/cni/rbac-for-us.yaml
  modules/110-istio/templates/cni/rbac-to-us.yaml
  modules/110-istio/templates/control-plane/iop.yaml
  testing/library/images_tags_generated.go
Owners: @z9r5, @nabokihms, @konstantin-axenov, @apolovov, @RomanenkoDenys, @name212

Update glossary-presentation.md
  docs/glossary/glossary-presentation.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

[prometheus][docs] Remove Lens-hack (#7789)
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

feat(dhctl-for-commander): support multiple ssh keys and passphrase
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/server/rpc/dhctl/check.go
  dhctl/pkg/system/ssh/client.go
  dhctl/pkg/system/ssh/default.go
  dhctl/pkg/system/ssh/frontend/agent.go
  dhctl/pkg/system/ssh/session/session.go
  dhctl/pkg/terminal/ask-password.go
Owners: @name212

feat(dhctl-for-commander): add sshClient to NewClusterBootstrapper params
  dhctl/cmd/dhctl/commands/bootstrap/bootstrap.go
  dhctl/cmd/dhctl/commands/bootstrap/phase.go
Owners: @name212

fix resources for init container
  modules/300-prometheus/templates/aggregating-proxy/deployment.yaml
Owners: @nabokihms

Update doc-ru-node_group.yaml
  candi/openapi/doc-ru-node_group.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update and fix content of doc-ru-node_group.yaml
  candi/openapi/doc-ru-node_group.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Revert "[dhctl] fix FindTerraNodeGroup (#7665)"
  dhctl/pkg/config/meta.go
  dhctl/pkg/config/meta_test.go
Owners: @name212

[cloud-provider-yandex] Add additional logs for lb methods
  candi/version_map.yml
Owners: @RomanenkoDenys, @name212

[cloud-provider-yandex] Add additional logs for lb methods
  candi/version_map.yml
Owners: @RomanenkoDenys, @name212

[dhctl] fix(dhctl-for-commander): disable converge-lock in commander-mode for converge operation as well as bootstrap
  dhctl/pkg/kubernetes/actions/converge/converge.go
  dhctl/pkg/operations/converge/converger.go
Owners: @name212

[dhctl] fix(dhctl-for-commander): add destructive detalization for abandoned node and terraform plans into check result
  dhctl/pkg/kubernetes/actions/converge/check.go
  dhctl/pkg/terraform/pipeline.go
  dhctl/pkg/terraform/runner.go
Owners: @name212

Update glossary.md
  docs/glossary/glossary.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update glossary.md
  docs/glossary/glossary.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update glossary.md
  docs/glossary/glossary.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update glossary.md
  docs/glossary/glossary.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update glossary.md
  docs/glossary/glossary.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

change memcahced dashboard id
  modules/300-prometheus/monitoring/grafana-dashboards/kubernetes-cluster/aggregating-proxy-cache.json
Owners: @nabokihms

[cloud-provider-yandex] Add additional logs for lb methods
  dhctl/pkg/operations/destroy/deckhouse.go
Owners: @name212

move to zvirt folder
  ee/candi/cloud-providers/zvirt/terraform-modules/providers.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/variables.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/versions.tf
Owners: @RomanenkoDenys, @name212

[terraform-manager] Build terraform-provider-ovirt
  candi/terraform_versions.yml
  ee/candi/cloud-providers/.build.yaml
  ee/candi/cloud-providers/ovirt/terraform-modules/providers.tf
  ee/candi/cloud-providers/ovirt/terraform-modules/variables.tf
  ee/candi/cloud-providers/ovirt/terraform-modules/versions.tf
  ee/modules/040-terraform-manager/images/terraform-manager-ovirt/werf.inc.yaml
  tools/build_includes/candi-EE.yaml
  tools/build_includes/candi-FE.yaml
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[cloud-providers] add zvirt
  candi/openapi/cluster_configuration.yaml
  candi/openapi/node_group.yaml
  editions.yaml
  ee/modules/030-cloud-provider-zvirt/Chart.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[terraform-manager] Build terraform-provider-ovirt
  ee/candi/cloud-providers/ovirt/terraform-modules/versions.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  tools/build_includes/candi-EE.yaml
  tools/build_includes/candi-FE.yaml
Owners: none

feat(dhctl-for-commander): Fix bootstrap sshclient
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-abort.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
Owners: @name212
