Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @diafour, @yalosev, @zuzzas, @RomanenkoDenys, @konstantin-axenov, @kvaps, @name212, @apolovov, @nabokihms, @vitaliy-sn, @shvgn, @z9r5

Delete certificate
  ee/modules/350-node-local-dns/templates/daemonset.yaml
  ee/modules/380-metallb/templates/controller/deployment.yaml
  ee/modules/380-metallb/templates/speaker/daemonset.yaml
  ee/modules/600-flant-integration/templates/pricing/daemonset.yaml
  modules/015-admission-policy-engine/templates/audit-deployment.yaml
  modules/015-admission-policy-engine/templates/gatekeeper-deployment.yaml
  modules/021-cni-cilium/templates/agent/daemonset.yaml
  modules/021-cni-cilium/templates/operator/deployment.yaml
  modules/021-kube-proxy/templates/daemonset.yaml
  modules/030-cloud-provider-yandex/templates/cloud-metrics-exporter/deployment.yaml
  modules/040-node-manager/templates/cluster-autoscaler/deployment.yaml
  modules/040-node-manager/templates/early-oom/daemonset.yaml
  modules/040-node-manager/templates/machine-controller-manager/deployment.yaml
  modules/040-terraform-manager/templates/terraform-auto-converger/deployment.yaml
  modules/040-terraform-manager/templates/terraform-state-exporter/deployment.yaml
  modules/041-linstor/templates/linstor-controller/linstorcontroller.yaml
  modules/041-linstor/templates/linstor-node/linstorsatelliteset.yaml
  modules/041-linstor/templates/piraeus-operator/deployment.yaml
  modules/042-kube-dns/templates/deployment.yaml
  modules/045-snapshot-controller/templates/snapshot-controller/deployment.yaml
  modules/101-cert-manager/templates/cert-manager/deployment.yaml
  modules/150-user-authn/templates/dex/deployment.yaml
  modules/200-operator-prometheus/templates/operator.yaml
  modules/300-prometheus/docs/internal/PROMETHEUS_TARGETS_DEVELOPMENT.md
  modules/300-prometheus/docs/internal/PROMETHEUS_TARGETS_DEVELOPMENT_RU.md
  modules/300-prometheus/templates/alertmanager/internal/alertmanager.yaml
  modules/340-extended-monitoring/templates/cert-exporter/deployment.yaml
  modules/340-extended-monitoring/templates/events-exporter/deployment.yaml
  modules/340-extended-monitoring/templates/extended-monitoring-exporter/deployment.yaml
  modules/340-extended-monitoring/templates/image-availability-exporter/deployment.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/control-plane-proxy/daemonset.yaml
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/daemonset.yaml
  modules/340-monitoring-kubernetes/templates/kube-state-metrics/deployment.yaml
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
  modules/402-ingress-nginx/docs/FAQ.md
  modules/402-ingress-nginx/docs/FAQ_RU.md
  modules/402-ingress-nginx/templates/controller/controller.yaml
  modules/402-ingress-nginx/templates/failover/daemonset.yaml
  modules/460-log-shipper/templates/daemonset.yaml
Owners: @zuzzas, @RomanenkoDenys, @kvaps, @shvgn, @yalosev, @konstantin-axenov, @name212, @nabokihms, @z9r5

Return symlinks
  ee/modules/030-cloud-provider-openstack/candi
  ee/modules/030-cloud-provider-vsphere/candi
Owners: @konstantin-axenov, @RomanenkoDenys

Fix render tests
  testing/helm/init.go
  testing/library/helm/render.go
Owners: none

Fix tests
  modules/402-ingress-nginx/hooks/order_certificates.go
  modules/402-ingress-nginx/hooks/order_certificates_test.go
  modules/402-ingress-nginx/template_tests/controller_test.go
  modules/402-ingress-nginx/templates/controller/secret.yaml
  testing/helm/init.go
Owners: @nabokihms, @yalosev

[candi] Migrate to NAT gateway in yandex cloud Standard layout (#3235)
  candi/cloud-providers/yandex/layouts/standard/base-infrastructure/main.tf
  candi/cloud-providers/yandex/layouts/standard/variables.tf
  candi/cloud-providers/yandex/layouts/with-nat-instance/base-infrastructure/main.tf
  candi/cloud-providers/yandex/layouts/with-nat-instance/variables.tf
  candi/cloud-providers/yandex/layouts/without-nat/base-infrastructure/main.tf
  candi/cloud-providers/yandex/layouts/without-nat/variables.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/main.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/nat_instance.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/outputs.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/variables.tf
  candi/terraform_versions.yml
Owners: @RomanenkoDenys

[docs] Fix apiVersion in examples
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
  docs/site/_includes/getting_started/azure/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.ee.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/azure/partials/resources.yml.ha.inc
  docs/site/_includes/getting_started/azure/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/azure/partials/resources.yml.production.inc
  docs/site/_includes/getting_started/azure/partials/resources.yml.unonode.inc
  docs/site/_includes/getting_started/openstack/partials/config.yml.standardwithnorouter.ee.inc
Owners: @z9r5

[docs] Fix apiVersion in examples (#3296)
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
  docs/site/_includes/getting_started/azure/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.ee.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/azure/partials/resources.yml.ha.inc
  docs/site/_includes/getting_started/azure/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/azure/partials/resources.yml.production.inc
  docs/site/_includes/getting_started/azure/partials/resources.yml.unonode.inc
  docs/site/_includes/getting_started/openstack/partials/config.yml.standardwithnorouter.ee.inc
Owners: @z9r5

Fix node manager symlink
  modules/040-node-manager/images_tags.json
Owners: @yalosev

[cloud-provider-openstack] Added patch for old OpenStack versions support (#3159)
  ee/modules/030-cloud-provider-openstack/images/cinder-csi-plugin/werf.inc.yaml
  ee/modules/030-cloud-provider-openstack/openapi/config-values.yaml
  ee/modules/030-cloud-provider-openstack/openapi/doc-ru-config-values.yaml
  ee/modules/030-cloud-provider-openstack/openapi/values.yaml
  ee/modules/030-cloud-provider-openstack/template_tests/module_test.go
  ee/modules/030-cloud-provider-openstack/templates/cloud-controller-manager/secret.yaml
Owners: @konstantin-axenov, @zuzzas

[cloud-provider-openstack] Fix ordering static nodes without security groups (#3182)
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/terraform-modules/static-node/main.tf
  ee/candi/cloud-providers/openstack/terraform-modules/static-node/variables.tf
Owners: @RomanenkoDenys

Update global-hooks/migrate/migrate_cluster_configuration.go
  global-hooks/migrate/migrate_cluster_configuration.go
Owners: none

++
  dhctl/pkg/config/meta_test.go
  testing/cloud_layouts/Static/infra.tpl.tf
  testing/cloud_layouts/script.sh
Owners: @name212

[istio] exclude upmeter-probe-namespace-.* from kiali (#3225)
  ee/modules/110-istio/templates/kiali/configmap.yaml
Owners: @apolovov

[candi] Update kubernetes patch versions
  candi/version_map.yml
  testing/library/images_tags_generated.go
Owners: @RomanenkoDenys

Updates
  channels.yaml
Owners: none

Update candi/bashible/bundles/ubuntu-lts/all/000_remove_apt_proxy_conf.sh.tpl
  candi/bashible/bundles/ubuntu-lts/all/000_remove_apt_proxy_conf.sh.tpl
Owners: @RomanenkoDenys

Update global-hooks/migrate/migrate_cluster_configuration.go
  global-hooks/migrate/migrate_cluster_configuration.go
Owners: none

Update candi/openapi/cluster_configuration.yaml
  candi/openapi/cluster_configuration.yaml
Owners: @RomanenkoDenys

++
  candi/bashible/bundles/centos/bootstrap.sh.tpl
  candi/bashible/bundles/ubuntu-lts/bootstrap.sh.tpl
  ee/candi/bashible/bundles/alteros/bootstrap.sh.tpl
  ee/candi/bashible/bundles/astra/bootstrap.sh.tpl
  ee/candi/bashible/bundles/redos/bootstrap.sh.tpl
  global-hooks/migrate/migrate_cluster_configuration_test.go
Owners: @RomanenkoDenys

Setting pods manipulation for authz Admin role (#3211)
  modules/140-user-authz/templates/cluster-roles.yaml
Owners: @nabokihms, @apolovov

++
  global-hooks/migrate/migrate_cluster_configuration.go
Owners: none

[deckhouse-controller] add watch error handler
  go.mod
  go.sum
Owners: none

++
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Owners: none

[site] Added cupis success story
  docs/site/_data/stories.yaml
  docs/site/images/clients/cupis.svg
Owners: @z9r5

[deckhouse-controller] add watch error handler
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.mod
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.sum
Owners: none

++
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Owners: none

[docs][user-authz] Fix the Usage page
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Owners: @z9r5

[docs][user-authz] Fix the Usage page (#3303)
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Owners: @z9r5

[docs][user-authz] Fix the Usage page (#3303)
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Owners: @z9r5

[docs][user-authz] Fix the Usage page (#3303) (#3304)
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Owners: @z9r5

++
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Owners: none

++ use tags
  go.mod
  go.sum
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.mod
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.sum
Owners: none

Fix longterm mount Signed-off-by: m.nabokikh <maksim.nabokikh@flant.com>
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
Owners: none

werfsource schema: strict pullSecret pattern
  ee/modules/502-delivery/crds/werfsource.yaml
Owners: none

hack: comment out sh -x
  ee/modules/502-delivery/hack/get_manifests.sh
Owners: none

clarify susctription detail with field selector
  ee/modules/502-delivery/hooks/werf_sources/hook.go
Owners: none

[node-local-dns] Remove from Managed bundle
  ee/modules/350-node-local-dns/enabled
  ee/modules/values-managed.yaml
Owners: @zuzzas

Update modules/150-user-authn/openapi/config-values.yaml
  modules/150-user-authn/openapi/config-values.yaml
Owners: @nabokihms

Apply suggestions from code review
  modules/150-user-authn/openapi/doc-ru-config-values.yaml
Owners: @nabokihms

[user-authn] fix crowd proxy cert generator (#3223)
  modules/150-user-authn/hooks/generate_crowd_basic_auth_proxy_cert.go
Owners: @nabokihms

.github/CODEOWNERS:

.github/                    @diafour
002-deckhouse/              @yalosev
021-cni-cilium/             @zuzzas @yalosev @RomanenkoDenys @konstantin-axenov
030-cloud-provider-openstack/ @konstantin-axenov
030-cloud-provider-vsphere/ @RomanenkoDenys
041-linstor/                @kvaps
031-local-path-provisioner/ @RomanenkoDenys
040-control-plane-manager/  @yalosev
040-node-manager/           @yalosev
040-terraform-manager/      @name212
101-cert-manager/           @yalosev
110-istio/                  @apolovov
140-user-authz/             @nabokihms @apolovov
150-user-authn/             @nabokihms
340-extended-monitoring/    @nabokihms @zuzzas
340-monitoring-*/           @nabokihms
350-node-local-dns/         @zuzzas
380-metallb/                @RomanenkoDenys @kvaps
402-ingress-nginx/          @nabokihms @yalosev
460-log-shipper/            @nabokihms
470-chrony/                 @RomanenkoDenys
500-openvpn/                @vitaliy-sn
500-upmeter/                @shvgn
600-flant-integration/      @shvgn
bashible-apiserver/         @yalosev
candi/                      @RomanenkoDenys
cloud-controller-manager/   @zuzzas
csi/                        @zuzzas
deckhouse-controller/       @diafour
dhctl/                      @name212
docs/                       @z9r5
