Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @yalosev, @miklezzzz, @RomanenkoDenys, @nabokihms, @AleksZimin, @apolovov, @aleksey-su, @Dmitrykob, @fl64, @vitaliy-sn, @shvgn, @z9r5, @konstantin-axenov

[docs] Docs on DeckhouseReleases manifests generated by `dhctl mirror` (#7938) (#7953)
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Owners: @z9r5, @nabokihms

[admission-policy-engine] fix storage class fake alert (#7912)
  go_lib/hooks/storage_class_change/hook.go
  modules/015-admission-policy-engine/hooks/storage_class_change.go
  modules/015-admission-policy-engine/hooks/storage_class_change_test.go
  modules/015-admission-policy-engine/openapi/config-values.yaml
  modules/015-admission-policy-engine/openapi/doc-ru-config-values.yaml
Owners: @yalosev, @miklezzzz, @nabokihms, @konstantin-axenov, @z9r5

[zvirt] capz, remove nonboot disks
  ee/modules/030-cloud-provider-zvirt/images/capz-controller-manager/src/internal/controller/zvirtmachine_controller.go
Owners: none

Updates
  docs/documentation/_data/sidebars/main.yml
  modules/460-log-shipper/docs/FAQ.md
  modules/460-log-shipper/docs/FAQ_RU.md
Owners: @z9r5, @nabokihms

[loki][log-shipper] Documentation updates (#7950)
  docs/documentation/_data/sidebars/main.yml
  modules/460-log-shipper/docs/FAQ.md
  modules/460-log-shipper/docs/FAQ_RU.md
Owners: @z9r5, @nabokihms

[cloud-provider-openstack] Allow to install clusters with http proxy
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-openstack/templates/cloud-controller-manager/deployment.yaml
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/deployment.yaml
  ee/modules/030-cloud-provider-openstack/templates/csi/controller.yaml
Owners: @RomanenkoDenys, @name212, @aleksey-su, @AleksZimin

[l2-load-balancer][docs] Documentation updates
  docs/documentation/_data/sidebars/main.yml
  ee/modules/381-l2-load-balancer/docs/README.md
Owners: @z9r5, @nabokihms

[l2-load-balancer][docs] Documentation updates (#7954)
  docs/documentation/_data/sidebars/main.yml
  ee/modules/381-l2-load-balancer/docs/README.md
Owners: @z9r5, @nabokihms

Updates
  modules/150-user-authn/docs/README_RU.md
  modules/301-prometheus-metrics-adapter/docs/USAGE.md
  modules/301-prometheus-metrics-adapter/docs/USAGE_RU.md
Owners: @z9r5, @nabokihms

Updates
  modules/301-prometheus-metrics-adapter/docs/USAGE.md
  modules/301-prometheus-metrics-adapter/docs/USAGE_RU.md
Owners: @z9r5, @nabokihms

Updates
  modules/301-prometheus-metrics-adapter/docs/USAGE.md
Owners: @z9r5, @nabokihms

Link updates
  modules/301-prometheus-metrics-adapter/docs/CR.md
  modules/301-prometheus-metrics-adapter/docs/USAGE.md
  modules/301-prometheus-metrics-adapter/docs/USAGE_RU.md
Owners: @z9r5, @nabokihms

[user-authn][prometheus-metrics-adapter] Update documentation (#7708)
  modules/150-user-authn/docs/README.md
  modules/150-user-authn/docs/README_RU.md
  modules/301-prometheus-metrics-adapter/docs/CR.md
  modules/301-prometheus-metrics-adapter/docs/USAGE.md
  modules/301-prometheus-metrics-adapter/docs/USAGE_RU.md
Owners: @z9r5, @nabokihms

update user for e2e openstack
  testing/cloud_layouts/script.sh
Owners: none

[monitoring-kubernetes] Added releases smart cache (#7558)
  modules/340-monitoring-kubernetes/hooks/auto_k8s_version_secret.go
  modules/340-monitoring-kubernetes/hooks/auto_k8s_version_secret_test.go
  modules/340-monitoring-kubernetes/hooks/auto_k8s_version_shedule.go
  modules/340-monitoring-kubernetes/hooks/helm.go
  modules/340-monitoring-kubernetes/hooks/helm_test.go
  modules/340-monitoring-kubernetes/hooks/internal/helm_releases.go
  modules/340-monitoring-kubernetes/hooks/internal/releases-cache/cache.go
  modules/340-monitoring-kubernetes/hooks/internal/releases-cache/cache_test.go
Owners: @nabokihms

[deckhouse] Requirements with module state (#7925)
  go_lib/dependency/requirements/requirements.go
  go_lib/dependency/requirements/requirements_test.go
  modules/002-deckhouse/hooks/internal/updater/updater.go
Owners: @yalosev, @miklezzzz

[deckhouse] Requirements with module state (#7925)
  go_lib/dependency/requirements/requirements.go
  go_lib/dependency/requirements/requirements_test.go
  modules/002-deckhouse/hooks/internal/updater/updater.go
Owners: @yalosev, @miklezzzz

[deckhouse] Requirements with module state (#7925) (#7957)
  go_lib/dependency/requirements/requirements.go
  go_lib/dependency/requirements/requirements_test.go
  modules/002-deckhouse/hooks/internal/updater/updater.go
Owners: @yalosev, @miklezzzz

fix role for podmonitor
  ee/modules/381-l2-load-balancer/hooks/load_balancers_status_update.go
  ee/modules/381-l2-load-balancer/templates/rbac-to-us.yaml
Owners: none

Re-generate changelog v1.58.7
  CHANGELOG/CHANGELOG-v1.58.7.yml
  CHANGELOG/CHANGELOG-v1.58.md
Owners: none

Re-generate changelog v1.58.7
  CHANGELOG/CHANGELOG-v1.58.md
Owners: none

Changelog v1.58.7 (#7906)
  CHANGELOG/CHANGELOG-v1.58.7.yml
  CHANGELOG/CHANGELOG-v1.58.md
Owners: none

Changelog v1.58.7 (#7906)
  CHANGELOG/CHANGELOG-v1.58.7.yml
  CHANGELOG/CHANGELOG-v1.58.md
Owners: none

Changelog v1.58.7 (#7906) (#7958)
  CHANGELOG/CHANGELOG-v1.58.7.yml
  CHANGELOG/CHANGELOG-v1.58.md
Owners: none

Re-generate changelog v1.58.7
  CHANGELOG/CHANGELOG-v1.58.7.yml
  CHANGELOG/CHANGELOG-v1.58.md
Owners: none

Re-generate changelog v1.58.7 (#7959)
  CHANGELOG/CHANGELOG-v1.58.7.yml
  CHANGELOG/CHANGELOG-v1.58.md
Owners: none

update user for e2e openstack (#7955)
  testing/cloud_layouts/script.sh
Owners: none

[terraform-manager] Build terraform-provider-ovirt
  candi/terraform_versions.yml
  ee/candi/cloud-providers/.build.yaml
  ee/candi/cloud-providers/ovirt/terraform-modules/providers.tf
  ee/candi/cloud-providers/ovirt/terraform-modules/variables.tf
  ee/candi/cloud-providers/ovirt/terraform-modules/versions.tf
  ee/modules/040-terraform-manager/images/terraform-manager-ovirt/werf.inc.yaml
  tools/build_includes/candi-EE.yaml
  tools/build_includes/candi-FE.yaml
Owners: @RomanenkoDenys, @name212, @aleksey-su

[cloud-providers] add zvirt
  candi/openapi/cluster_configuration.yaml
  candi/openapi/node_group.yaml
  editions.yaml
  ee/modules/030-cloud-provider-zvirt/Chart.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

move to zvirt folder
  ee/candi/cloud-providers/zvirt/terraform-modules/providers.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/variables.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/versions.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[terraform-manager] Build terraform-provider-ovirt
  ee/candi/cloud-providers/ovirt/terraform-modules/versions.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  candi/terraform_versions.yml
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/modules/030-cloud-provider-zvirt/charts/helm_lib
  ee/modules/030-cloud-provider-zvirt/enabled
Owners: none

add cluster configuration
  ee/candi/cloud-providers/zvirt/openapi/instance_class.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

add cluster configuration
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/outputs.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/variables.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/providers.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/instance_class.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

add cluster configuration
  ee/modules/030-cloud-provider-zvirt/.helmignore
  ee/modules/030-cloud-provider-zvirt/.namespace
Owners: none

fix terraform
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/outputs.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/providers.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/versions.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/providers.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/versions.tf
Owners: @RomanenkoDenys, @name212

.github/CODEOWNERS:

.github/                        @name212
002-deckhouse/                  @yalosev @miklezzzz
005-external-module-manager/    @yalosev @miklezzzz
007-registrypackages/           @RomanenkoDenys
010-cloud-data-crd/             @nabokihms
010-operator-prometheus-crd/    @nabokihms
010-prometheus-crd/             @nabokihms
010-snapshot-controller-crd/    @AleksZimin
010-user-authn-crd/             @nabokihms
010-vertical-pod-autoscaler-crd/ @nabokihms
011-flow-schema/                @RomanenkoDenys @name212
015-admission-policy-engine/    @yalosev @miklezzzz
021-cni-cilium/                 @apolovov
021-kube-proxy/                 @RomanenkoDenys
030-cloud-provider-aws/         @RomanenkoDenys @name212
030-cloud-provider-azure/       @RomanenkoDenys @name212
030-cloud-provider-gcp/         @RomanenkoDenys @name212
030-cloud-provider-yandex/      @RomanenkoDenys @name212 @aleksey-su
030-cloud-provider-openstack/   @RomanenkoDenys @name212
030-cloud-provider-vsphere/     @RomanenkoDenys
031-local-path-provisioner/     @RomanenkoDenys @name212
035-cni-flannel/                @apolovov
035-cni-simple-bridge/          @apolovov
040-control-plane-manager/      @RomanenkoDenys @name212
040-node-manager/               @RomanenkoDenys @name212 @aleksey-su
040-terraform-manager/          @name212 @aleksey-su
041-ceph-csi/                   @RomanenkoDenys @name212
042-kube-dns/                   @nabokihms
045-snapshot-controller/        @AleksZimin
050-network-policy-engine/      @apolovov
101-cert-manager/               @yalosev @miklezzzz
110-istio/                      @apolovov
140-user-authz/                 @nabokihms @apolovov
150-user-authn/                 @nabokihms
160-multitenancy-manager/       @yalosev @Dmitrykob @miklezzzz
200-operator-prometheus/        @nabokihms
300-prometheus/                 @nabokihms
301-prometheus-*/               @nabokihms
302-vertical-pod-autoscaler/    @RomanenkoDenys
303-prometheus-*/               @nabokihms
340-extended-monitoring/        @nabokihms
340-monitoring-*/               @nabokihms
350-node-local-dns/             @RomanenkoDenys
380-metallb/                    @RomanenkoDenys @apolovov
400-descheduler/                @RomanenkoDenys @name212
402-ingress-nginx/              @miklezzzz @yalosev
460-log-shipper/                @nabokihms
462-loki/                       @nabokihms
465-pod-reloader/               @RomanenkoDenys
470-chrony/                     @RomanenkoDenys
491-containerized-data-importer @fl64
500-openvpn/                    @vitaliy-sn
500-cilium-hubble/              @apolovov
500-dashboard/                  @nabokihms
500-upmeter/                    @nabokihms
500-okmeter/                    @nabokihms
500-operator-trivy/             @miklezzzz @yalosev
502-delivery/                   @shvgn
600-flant-integration/          @nabokihms
600-namespace-configurator/     @yalosev @miklezzzz
650-runtime-audit-engine/       @nabokihms
810-documentation/              @z9r5 @nabokihms
bashible-apiserver/             @RomanenkoDenys @name212
candi/                          @RomanenkoDenys @name212
cloud-controller-manager/       @RomanenkoDenys @name212 @aleksey-su
csi/                            @AleksZimin
deckhouse-controller/           @yalosev @miklezzzz
dhctl/                          @name212 @aleksey-su
docs/                           @z9r5 @nabokihms
helm_lib/                       @name212
crds/                           @nabokihms @konstantin-axenov @z9r5
openapi/                        @nabokihms @konstantin-axenov @z9r5
