Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @yalosev, @RomanenkoDenys, @nabokihms, @AleksZimin, @apolovov, @Dmitrykob, @miklezzzz, @fl64, @vitaliy-sn, @shvgn, @z9r5, @konstantin-axenov

.github/CODEOWNERS:

.github/                        @name212
002-deckhouse/                  @yalosev
005-external-module-manager/    @yalosev
007-registrypackages/           @RomanenkoDenys
010-cloud-data-crd/             @nabokihms
010-operator-prometheus-crd/    @nabokihms
010-prometheus-crd/             @nabokihms
010-snapshot-controller-crd/    @AleksZimin
010-user-authn-crd/             @nabokihms
010-vertical-pod-autoscaler-crd/ @nabokihms
011-flow-schema/                @RomanenkoDenys @name212
015-admission-policy-engine/    @yalosev
021-cni-cilium/                 @apolovov
021-kube-proxy/                 @RomanenkoDenys
030-cloud-provider-aws/         @RomanenkoDenys @name212
030-cloud-provider-azure/       @RomanenkoDenys @name212
030-cloud-provider-gcp/         @RomanenkoDenys @name212
030-cloud-provider-yandex/      @RomanenkoDenys @name212
030-cloud-provider-openstack/   @RomanenkoDenys @name212
030-cloud-provider-vsphere/     @RomanenkoDenys
031-local-path-provisioner/     @RomanenkoDenys @name212
035-cni-flannel/                @RomanenkoDenys @name212
035-cni-simple-bridge/          @RomanenkoDenys @name212
040-control-plane-manager/      @RomanenkoDenys @name212
040-node-manager/               @RomanenkoDenys @name212
040-terraform-manager/          @name212
041-ceph-csi/                   @RomanenkoDenys @name212
042-kube-dns/                   @nabokihms
045-snapshot-controller/        @AleksZimin
050-network-policy-engine/      @apolovov
101-cert-manager/               @yalosev
110-istio/                      @apolovov
140-user-authz/                 @nabokihms @apolovov
150-user-authn/                 @nabokihms
160-multitenancy-manager/       @yalosev @Dmitrykob
200-operator-prometheus/        @nabokihms
300-prometheus/                 @nabokihms
301-prometheus-*/               @nabokihms
302-vertical-pod-autoscaler/    @nabokihms
303-prometheus-*/               @nabokihms
340-extended-monitoring/        @nabokihms
340-monitoring-*/               @nabokihms
350-node-local-dns/             @RomanenkoDenys
380-metallb/                    @RomanenkoDenys @apolovov
400-descheduler/                @RomanenkoDenys @name212
402-ingress-nginx/              @miklezzzz @yalosev
460-log-shipper/                @nabokihms
462-loki/                       @nabokihms
465-pod-reloader/               @RomanenkoDenys
470-chrony/                     @RomanenkoDenys
491-containerized-data-importer @fl64
500-openvpn/                    @vitaliy-sn
500-cilium-hubble/              @apolovov
500-dashboard/                  @nabokihms
500-upmeter/                    @nabokihms
500-okmeter/                    @nabokihms
500-operator-trivy/             @miklezzzz
502-delivery/                   @shvgn
600-flant-integration/          @nabokihms
600-namespace-configurator/     @yalosev
650-runtime-audit-engine/       @nabokihms
810-documentation/              @z9r5 @nabokihms @konstantin-axenov
bashible-apiserver/             @RomanenkoDenys @name212
candi/                          @RomanenkoDenys @name212
cloud-controller-manager/       @RomanenkoDenys @name212
csi/                            @AleksZimin
deckhouse-controller/           @yalosev
dhctl/                          @name212
docs/                           @z9r5 @nabokihms @konstantin-axenov
helm_lib/                       @name212
crds/                           @nabokihms @konstantin-axenov @z9r5
openapi/                        @nabokihms @konstantin-axenov @z9r5

Re-generate changelog v1.58.4
  CHANGELOG/CHANGELOG-v1.58.4.yml
  CHANGELOG/CHANGELOG-v1.58.md
Owners: none

Re-generate changelog v1.58.4 (#7727)
  CHANGELOG/CHANGELOG-v1.58.4.yml
  CHANGELOG/CHANGELOG-v1.58.md
Owners: none

Re-generate changelog v1.58.4 (#7727)
  CHANGELOG/CHANGELOG-v1.58.4.yml
  CHANGELOG/CHANGELOG-v1.58.md
Owners: none

Re-generate changelog v1.58.4 (#7727) (#7777)
  CHANGELOG/CHANGELOG-v1.58.4.yml
  CHANGELOG/CHANGELOG-v1.58.md
Owners: none

Apply suggestions from code review
  modules/040-node-manager/docs/FAQ_RU.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

[admission-policy-engine][docs] Fixes in securityPolicy (#7643)
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[node-manager](caps) Add the ability to disable StaticInstance bootstrapping (#7244)
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/040-node-manager/images/caps-controller-manager/src/api/deckhouse.io/v1alpha1/staticinstance_webhook.go
  modules/040-node-manager/images/caps-controller-manager/src/go.mod
  modules/040-node-manager/images/caps-controller-manager/src/go.sum
  modules/040-node-manager/images/caps-controller-manager/src/internal/scope/machine_scope.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/scope/machine_scope_test.go
Owners: @z9r5, @nabokihms, @konstantin-axenov, @RomanenkoDenys, @name212

[extended-monitoring][image-availability-exporter] Add forceCheckDisabledControllers option (#7606)
  modules/340-extended-monitoring/openapi/config-values.yaml
  modules/340-extended-monitoring/openapi/doc-ru-config-values.yaml
  modules/340-extended-monitoring/template_tests/image_availability_test.go
  modules/340-extended-monitoring/templates/image-availability-exporter/deployment.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Added sds-replicated-volume support in volume snapshot controller, and removed linstor support (#7547)
  modules/045-snapshot-controller/docs/README.md
  modules/045-snapshot-controller/docs/README_RU.md
  modules/045-snapshot-controller/docs/USAGE.md
  modules/045-snapshot-controller/docs/USAGE_RU.md
  modules/045-snapshot-controller/enabled
  modules/045-snapshot-controller/template_tests/module_test.go
Owners: @z9r5, @nabokihms, @konstantin-axenov, @AleksZimin

Create interfaces
  docs/user_guide/interfaces
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update interfaces
  docs/user_guide/interfaces
Owners: @z9r5, @nabokihms, @konstantin-axenov

Create Working with containerized apps
  docs/user_guide/Working with containerized apps
Owners: @z9r5, @nabokihms, @konstantin-axenov

[operator-trivy] update configmap template
  ee/modules/500-operator-trivy/templates/configmap.yaml
Owners: @miklezzzz

Update Working with containerized apps
  docs/user_guide/Working with containerized apps
Owners: @z9r5, @nabokihms, @konstantin-axenov

Create Virtual machines
  docs/user_guide/Virtual machines
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update Working with containerized apps
  docs/user_guide/Working with containerized apps
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update Virtual machines
  docs/user_guide/Virtual machines
Owners: @z9r5, @nabokihms, @konstantin-axenov

Apply suggestions from code review
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

[operator-trivy] update configmap template #2
  ee/modules/500-operator-trivy/templates/configmap.yaml
Owners: @miklezzzz

[node-local-dns][cni-cilium] stale-dns-connections-cleaner (#7632)
  .github/dependabot.yml
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/go.mod
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/go.sum
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/main.go
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/main_test.go
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/werf.inc.yaml
  ee/be/modules/350-node-local-dns/templates/stale-dns-connections-cleaner/daemonset.yaml
  ee/be/modules/350-node-local-dns/templates/stale-dns-connections-cleaner/rbac-for-us.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  testing/library/images_tags_generated.go
Owners: @name212, @RomanenkoDenys

add memcahced monitoring
  modules/300-prometheus/monitoring/grafana-dashboards/kubernetes-cluster/aggregating-proxy-cache.json
  modules/300-prometheus/templates/memcached/servicemonitor.yaml
Owners: @nabokihms

added README.md
  docs/site/README.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

"Refactoring: Update Prometheus password extraction method with jq"
  tools/kind-d8.sh
Owners: none

[operator-trivy] update configmap template (#7780)
  ee/modules/500-operator-trivy/templates/configmap.yaml
Owners: @miklezzzz

new path name
  docs/administration_guide/installation_and_maintenance/README.md
  docs/administration_guide/installation_and_maintenance/installing/installing.md
  docs/administration_guide/installation_and_maintenance/integration/integration.md
  docs/administration_guide/installation_and_maintenance/monitoring/monitoring.md
  docs/administration_guide/installation_and_maintenance/platform_security/README_RU.md
  docs/administration_guide/installation_and_maintenance/platform_security/platform security.md
  docs/administration_guide/installation_and_maintenance/reliability_and_availability/going to production/going to production.md
  docs/administration_guide/installation_and_maintenance/resource_management/README_RU.md
  docs/administration_guide/installation_and_maintenance/resource_management/resource management.md
  docs/administration_guide/installation_and_maintenance/scaling/README_RU.md
  docs/administration_guide/installation_and_maintenance/scaling/scaling of the platform.md
  docs/administration_guide/installation_and_maintenance/setting-up/setting-up.md
  docs/administration_guide/installation_and_maintenance/updating/updating.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

path change
  docs/user_guide/installation_and_maintenance/README.md
  docs/user_guide/installation_and_maintenance/installing/installing.md
  docs/user_guide/installation_and_maintenance/integration/integration.md
  docs/user_guide/installation_and_maintenance/monitoring/monitoring.md
  docs/user_guide/installation_and_maintenance/platform_security/README_RU.md
  docs/user_guide/installation_and_maintenance/platform_security/platform security.md
  docs/user_guide/installation_and_maintenance/reliability_and_availability/going to production/going to production.md
  docs/user_guide/installation_and_maintenance/resource_management/README_RU.md
  docs/user_guide/installation_and_maintenance/resource_management/resource management.md
  docs/user_guide/installation_and_maintenance/scaling/README_RU.md
  docs/user_guide/installation_and_maintenance/scaling/scaling of the platform.md
  docs/user_guide/installation_and_maintenance/setting-up/setting-up.md
  docs/user_guide/installation_and_maintenance/updating/updating.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

fix(dhctl-for-commander): check operation returns DestructiveOutOfSync status when there are abandoned nodes
  dhctl/pkg/operations/check/checker.go
Owners: @name212

[ingress-nginx] add status to ingress-nginx
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/hooks/update_ingress_address.go
  modules/402-ingress-nginx/templates/controller/service.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5, @miklezzzz, @yalosev

wait memcahced init container
  modules/300-prometheus/templates/aggregating-proxy/deployment.yaml
Owners: @nabokihms

[ingress-nginx] update crd and hook
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/hooks/update_ingress_address.go
Owners: @nabokihms, @konstantin-axenov, @z9r5, @miklezzzz, @yalosev

[ingress-nginx] update crd, docs and hook
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/hooks/update_ingress_address.go
Owners: @nabokihms, @konstantin-axenov, @z9r5, @miklezzzz, @yalosev

maria.makeeva@flant.com
  docs/user_guide/Network capability
Owners: @z9r5, @nabokihms, @konstantin-axenov

[candi] change terraform version to 0.14.8 (#7513)
  .github/ci_templates/e2e_tests.yml
  .github/workflows/e2e-abort-aws.yml
  .github/workflows/e2e-abort-azure.yml
  .github/workflows/e2e-abort-eks.yml
  .github/workflows/e2e-abort-gcp.yml
  .github/workflows/e2e-abort-openstack.yml
  .github/workflows/e2e-abort-static.yml
  .github/workflows/e2e-abort-vsphere.yml
  .github/workflows/e2e-abort-yandex-cloud.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  candi/terraform_versions.yml
  dhctl/pkg/terraform/mocks/checkplan/destructively_changed.json
  dhctl/pkg/terraform/mocks/checkplan/empty.json
  dhctl/pkg/terraform/mocks/pipeline/base_infra_ok_plan.json
  dhctl/pkg/terraform/mocks/pipeline/empty_state.json
  dhctl/pkg/terraform/mocks/pipeline/master_node_destructively_changed_plan.json
  dhctl/pkg/terraform/mocks/pipeline/not_empty_state.json
  modules/040-terraform-manager/templates/terraform-auto-converger/deployment.yaml
  modules/040-terraform-manager/templates/terraform-state-exporter/deployment.yaml
  testing/cloud_layouts/script.sh
  testing/cloud_layouts/script_eks.sh
  testing/cloud_layouts/wait-master-ssh-and-update-comment.sh
Owners: @name212, @RomanenkoDenys

feat(dhctl-for-commander): Fix raw terraform plan in result
  dhctl/pkg/kubernetes/actions/converge/check.go
Owners: @name212

Update glossary.md
  docs/glossary/glossary.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update glossary.md
  docs/glossary/glossary.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

[operator-trivy] update trivy tag (#7715)
  ee/modules/500-operator-trivy/images/trivy/Dockerfile
Owners: @miklezzzz

[ingress-nginx] update hook
  modules/402-ingress-nginx/hooks/update_ingress_address.go
Owners: @miklezzzz, @yalosev

item 22662
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
Owners: @RomanenkoDenys, @name212

WIP
  go_lib/deckhouse-config/status.go
Owners: none
