Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @diafour, @yalosev, @zuzzas, @RomanenkoDenys, @konstantin-axenov, @kvaps, @name212, @apolovov, @nabokihms, @vitaliy-sn, @shvgn, @z9r5

.github/CODEOWNERS:

.github/                    @diafour
002-deckhouse/              @yalosev
021-cni-cilium/             @zuzzas @yalosev @RomanenkoDenys @konstantin-axenov
030-cloud-provider-openstack/ @konstantin-axenov
030-cloud-provider-vsphere/ @RomanenkoDenys
041-linstor/                @kvaps
031-local-path-provisioner/ @RomanenkoDenys
040-control-plane-manager/  @yalosev
040-node-manager/           @yalosev
040-terraform-manager/      @name212
101-cert-manager/           @yalosev
110-istio/                  @apolovov
140-user-authz/             @nabokihms @apolovov
150-user-authn/             @nabokihms
340-extended-monitoring/    @nabokihms @zuzzas
340-monitoring-*/           @nabokihms
350-node-local-dns/         @zuzzas
380-metallb/                @RomanenkoDenys @kvaps
402-ingress-nginx/          @nabokihms @yalosev
460-log-shipper/            @nabokihms
470-chrony/                 @RomanenkoDenys
490-virtualization          @kvaps
491-containerized-data-importer @kvaps
500-openvpn/                @vitaliy-sn
500-upmeter/                @shvgn
502-delivery/               @shvgn
600-flant-integration/      @shvgn
650-runtime-audit-engine/   @nabokihms
bashible-apiserver/         @yalosev
candi/                      @RomanenkoDenys
cloud-controller-manager/   @zuzzas
csi/                        @zuzzas @kvaps
deckhouse-controller/       @diafour
dhctl/                      @name212
docs/                       @z9r5
helm_lib/                   @name212

refactor subscription channel detector
  modules/810-ui/images/backend/main.go
  modules/810-ui/images/backend/subscription.go
Owners: none

backend: dockerfile: fix go build
  modules/810-ui/images/backend/Dockerfile
Owners: none

Fix EOF json.Decode error (#4077)
  modules/005-external-module-manager/hooks/handle_sources.go
Owners: none

[docs][node-manager] Fix bug in generating OpenAPI values for the module (#4065)
  docs/documentation/werf-git-section.inc.yaml
  modules/040-node-manager/crds/doc-ru-nodegroupconfiguration.yaml
  modules/040-node-manager/crds/nodegroupconfiguration.yaml
Owners: @z9r5, @yalosev

Fix EOF json.Decode error (#4077)
  modules/005-external-module-manager/hooks/handle_sources.go
Owners: none

Fix EOF json.Decode error (#4077) (#4080)
  modules/005-external-module-manager/hooks/handle_sources.go
Owners: none

[docs][node-manager] Fix bug in generating OpenAPI values for the module (#4065)
  docs/documentation/werf-git-section.inc.yaml
  modules/040-node-manager/crds/doc-ru-nodegroupconfiguration.yaml
  modules/040-node-manager/crds/nodegroupconfiguration.yaml
Owners: @z9r5, @yalosev

[docs][node-manager] Fix bug in generating OpenAPI values for the module (#4065) (#4081)
  docs/documentation/werf-git-section.inc.yaml
  modules/040-node-manager/crds/doc-ru-nodegroupconfiguration.yaml
  modules/040-node-manager/crds/nodegroupconfiguration.yaml
Owners: @z9r5, @yalosev

chore: comment for clarification
  modules/999-zz-python/webhooks/conversion/python.py
Owners: none

[candi] fix bootstrap
  candi/bashible/bundles/altlinux/bootstrap.sh.tpl
  candi/bashible/bundles/centos/bootstrap.sh.tpl
  candi/bashible/bundles/debian/bootstrap.sh.tpl
  candi/bashible/bundles/ubuntu-lts/bootstrap.sh.tpl
  candi/bashible/common_functions.sh.tpl
  dhctl/pkg/template/bootstrap.go
  ee/candi/bashible/bundles/alteros/bootstrap.sh.tpl
  ee/candi/bashible/bundles/astra/bootstrap.sh.tpl
  ee/candi/bashible/bundles/redos/bootstrap.sh.tpl
  modules/040-node-manager/templates/node-group/_bootstrap_script.tpl
  modules/040-node-manager/templates/node-group/_cloud_init_cloud_config.tpl
Owners: @RomanenkoDenys, @name212, @yalosev

Apply suggestions from code review
  docs/documentation/pages/RELEASES.md
  docs/documentation/pages/RELEASES_RU.md
Owners: @z9r5

[docs] Add link to the flow.deckhouse.io on the releases page (#4061)
  docs/documentation/pages/RELEASES.md
  docs/documentation/pages/RELEASES_RU.md
Owners: @z9r5

[candi] fix bootstrap
  modules/040-node-manager/templates/node-group/_cloud_init_cloud_config.tpl
  modules/040-node-manager/templates/node-group/_static_or_hybrid_script.tpl
Owners: @yalosev

[docs] Add link to the flow.deckhouse.io on the releases page (#4061)
  docs/documentation/pages/RELEASES.md
  docs/documentation/pages/RELEASES_RU.md
Owners: @z9r5

[docs] Add link to the flow.deckhouse.io on the releases page (#4061) (#4083)
  docs/documentation/pages/RELEASES.md
  docs/documentation/pages/RELEASES_RU.md
Owners: @z9r5

Updates
  docs/documentation/_includes/module-webiface-notice.liquid
  docs/site/css/docs.scss
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
  modules/150-user-authn/docs/README.md
  modules/150-user-authn/docs/README_RU.md
  modules/300-prometheus/docs/README.md
  modules/300-prometheus/docs/README_RU.md
Owners: @z9r5

[docs] Show a list of the module's web interfaces (#4067)
  docs/documentation/_data/i18n.yml
  docs/documentation/_includes/module-webiface-notice.liquid
  docs/documentation/_layouts/page.html
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  docs/site/_includes/getting_started/global/partials/DNS_OPTIONS.liquid
  docs/site/_includes/getting_started/global/partials/DNS_OPTIONS_RU.liquid
  docs/site/css/docs.scss
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
  ee/modules/502-delivery/docs/README.md
  ee/modules/502-delivery/docs/README_RU.md
  modules/150-user-authn/docs/README.md
  modules/150-user-authn/docs/README_RU.md
  modules/300-prometheus/docs/README.md
  modules/300-prometheus/docs/README_RU.md
  modules/500-cilium-hubble/docs/README.md
  modules/500-cilium-hubble/docs/README_RU.md
  modules/500-dashboard/docs/README.md
  modules/500-dashboard/docs/README_RU.md
  modules/500-openvpn/docs/README.md
  modules/500-openvpn/docs/README_RU.md
  modules/500-upmeter/docs/README.md
  modules/500-upmeter/docs/README_RU.md
  modules/810-deckhouse-web/docs/README.md
  modules/810-deckhouse-web/docs/README_RU.md
Owners: @z9r5

[docs] Show a list of the module's web interfaces (#4067)
  docs/documentation/_data/i18n.yml
  docs/documentation/_includes/module-webiface-notice.liquid
  docs/documentation/_layouts/page.html
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  docs/site/_includes/getting_started/global/partials/DNS_OPTIONS.liquid
  docs/site/_includes/getting_started/global/partials/DNS_OPTIONS_RU.liquid
  docs/site/css/docs.scss
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
  ee/modules/502-delivery/docs/README.md
  ee/modules/502-delivery/docs/README_RU.md
  modules/150-user-authn/docs/README.md
  modules/150-user-authn/docs/README_RU.md
  modules/300-prometheus/docs/README.md
  modules/300-prometheus/docs/README_RU.md
  modules/500-cilium-hubble/docs/README.md
  modules/500-cilium-hubble/docs/README_RU.md
  modules/500-dashboard/docs/README.md
  modules/500-dashboard/docs/README_RU.md
  modules/500-openvpn/docs/README.md
  modules/500-openvpn/docs/README_RU.md
  modules/500-upmeter/docs/README.md
  modules/500-upmeter/docs/README_RU.md
  modules/810-deckhouse-web/docs/README.md
  modules/810-deckhouse-web/docs/README_RU.md
Owners: @z9r5

[docs] Show a list of the module's web interfaces (#4067) (#4084)
  docs/documentation/_data/i18n.yml
  docs/documentation/_includes/module-webiface-notice.liquid
  docs/documentation/_layouts/page.html
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  docs/site/_includes/getting_started/global/partials/DNS_OPTIONS.liquid
  docs/site/_includes/getting_started/global/partials/DNS_OPTIONS_RU.liquid
  docs/site/css/docs.scss
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
  ee/modules/502-delivery/docs/README.md
  ee/modules/502-delivery/docs/README_RU.md
  modules/150-user-authn/docs/README.md
  modules/150-user-authn/docs/README_RU.md
  modules/300-prometheus/docs/README.md
  modules/300-prometheus/docs/README_RU.md
  modules/500-cilium-hubble/docs/README.md
  modules/500-cilium-hubble/docs/README_RU.md
  modules/500-dashboard/docs/README.md
  modules/500-dashboard/docs/README_RU.md
  modules/500-openvpn/docs/README.md
  modules/500-openvpn/docs/README_RU.md
  modules/500-upmeter/docs/README.md
  modules/500-upmeter/docs/README_RU.md
  modules/810-deckhouse-web/docs/README.md
  modules/810-deckhouse-web/docs/README_RU.md
Owners: @z9r5

[docs][node-manager] Fix bug in generating OpenAPI values for the module (#4065)
  docs/documentation/werf-git-section.inc.yaml
  modules/040-node-manager/crds/doc-ru-nodegroupconfiguration.yaml
  modules/040-node-manager/crds/nodegroupconfiguration.yaml
Owners: @z9r5, @yalosev

[docs][node-manager] Fix bug in generating OpenAPI values for the module (#4065) (#4085)
  docs/documentation/werf-git-section.inc.yaml
  modules/040-node-manager/crds/doc-ru-nodegroupconfiguration.yaml
  modules/040-node-manager/crds/nodegroupconfiguration.yaml
Owners: @z9r5, @yalosev

[docs] Add link to the flow.deckhouse.io on the releases page (#4061)
  docs/documentation/pages/RELEASES.md
  docs/documentation/pages/RELEASES_RU.md
Owners: @z9r5

[docs] Add link to the flow.deckhouse.io on the releases page (#4061) (#4086)
  docs/documentation/pages/RELEASES.md
  docs/documentation/pages/RELEASES_RU.md
Owners: @z9r5

[candi] fix bootstrap
  candi/bashible/bundles/altlinux/bootstrap.sh.tpl
  candi/bashible/bundles/centos/bootstrap.sh.tpl
  candi/bashible/bundles/debian/bootstrap.sh.tpl
  candi/bashible/bundles/ubuntu-lts/bootstrap.sh.tpl
  ee/candi/bashible/bundles/alteros/bootstrap.sh.tpl
  ee/candi/bashible/bundles/astra/bootstrap.sh.tpl
  ee/candi/bashible/bundles/redos/bootstrap.sh.tpl
Owners: @RomanenkoDenys

[helm_lib] Update readme (#4060)
  helm_lib/README.md
Owners: @name212

backend: PUT for nodes
  modules/810-ui/images/backend/go.work.sum
  modules/810-ui/images/backend/handler_dynamic.go
  modules/810-ui/images/backend/main.go
Owners: none

backend: switch to dynamic informer to get kind and apiVersion in responses
  modules/810-ui/images/backend/handler_dynamic.go
  modules/810-ui/images/backend/main.go
Owners: none

[cni-cilium] Split cilium and virt-cilium
  modules/021-cni-cilium/images/cilium/Dockerfile
  modules/021-cni-cilium/images/cilium/werf.inc.yaml
Owners: @zuzzas, @yalosev, @RomanenkoDenys, @konstantin-axenov

backend: reuse the same getting approach
  modules/810-ui/images/backend/handler.go
  modules/810-ui/images/backend/handleresource.go
  modules/810-ui/images/backend/handleresourcenamespaced.go
  modules/810-ui/images/backend/main.go
Owners: none

[candi] fix bootstrap
  candi/bashible/common_functions.sh.tpl
Owners: @RomanenkoDenys

[ui] Discovery zones
  modules/810-ui/images/backend/cloudprovider/cluster_config.go
  modules/810-ui/images/backend/cloudprovider/discovery.go
  modules/810-ui/images/backend/main.go
  modules/810-ui/images/backend/util/retry/retry.go
Owners: none

[candi] fix bootstrap
  candi/bashible/bootstrap-functions/common.sh.tpl
  candi/bashible/bundles/altlinux/bootstrap.sh.tpl
  candi/bashible/bundles/centos/bootstrap.sh.tpl
  candi/bashible/bundles/debian/bootstrap.sh.tpl
  candi/bashible/bundles/ubuntu-lts/bootstrap.sh.tpl
  dhctl/pkg/template/bootstrap.go
  ee/candi/bashible/bundles/alteros/bootstrap.sh.tpl
  ee/candi/bashible/bundles/astra/bootstrap.sh.tpl
  ee/candi/bashible/bundles/redos/bootstrap.sh.tpl
  modules/040-node-manager/templates/node-group/_cloud_init_cloud_config.tpl
  modules/040-node-manager/templates/node-group/_static_or_hybrid_script.tpl
Owners: @RomanenkoDenys, @name212, @yalosev

[containerized-data-importer] fix customCertificate (#3985)
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  modules/490-virtualization/images/artifact/patches/007-tolerations-for-strategy-dumper-job.patch
  modules/491-containerized-data-importer/hooks/https/copy_custom_certificate.go
  modules/491-containerized-data-importer/openapi/config-values.yaml
  modules/491-containerized-data-importer/openapi/doc-ru-config-values.yaml
  modules/491-containerized-data-importer/openapi/openapi-case-tests.yaml
  modules/491-containerized-data-importer/openapi/values.yaml
Owners: @diafour, @kvaps

[containerized-data-importer] fix customCertificate (#3985)
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  modules/490-virtualization/images/artifact/patches/007-tolerations-for-strategy-dumper-job.patch
  modules/491-containerized-data-importer/hooks/https/copy_custom_certificate.go
  modules/491-containerized-data-importer/openapi/config-values.yaml
  modules/491-containerized-data-importer/openapi/doc-ru-config-values.yaml
  modules/491-containerized-data-importer/openapi/openapi-case-tests.yaml
  modules/491-containerized-data-importer/openapi/values.yaml
Owners: @diafour, @kvaps

[containerized-data-importer] fix customCertificate (#3985) (#4090)
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  modules/490-virtualization/images/artifact/patches/007-tolerations-for-strategy-dumper-job.patch
  modules/491-containerized-data-importer/hooks/https/copy_custom_certificate.go
  modules/491-containerized-data-importer/openapi/config-values.yaml
  modules/491-containerized-data-importer/openapi/doc-ru-config-values.yaml
  modules/491-containerized-data-importer/openapi/openapi-case-tests.yaml
  modules/491-containerized-data-importer/openapi/values.yaml
Owners: @diafour, @kvaps

[candi] fix bootstrap
  candi/bashible/bundles/centos/all/033_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/alteros/all/033_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/redos/all/033_install_mandatory_selinux_policies.sh.tpl
Owners: @RomanenkoDenys

[docs] Clarify the use of the approvalMode parameter
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
Owners: @RomanenkoDenys

Apply suggestions from code review
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
Owners: @RomanenkoDenys

[docs] Clarify the use of the approvalMode parameter (#4091)
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
Owners: @RomanenkoDenys

[docs] Clarify the use of the approvalMode parameter (#4091)
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
Owners: @RomanenkoDenys
