Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @yalosev, @miklezzzz, @RomanenkoDenys, @nabokihms, @apolovov, @aleksey-su, @AleksZimin, @vladimirGuryanov, @lazovskiy, @fl64, @kolashtov, @shvgn, @z9r5, @konstantin-axenov

add lastProbe time
  ee/modules/610-service-with-healthchecks/images/artifact/internal/agent/agent.go
Owners: none

[openvpn] changed the images to distroless (#9981)
  .github/dependabot.yml
  modules/500-openvpn/images/easyrsa-migrator/Dockerfile
  modules/500-openvpn/images/easyrsa-migrator/src/easyrsa-migrator.go
  modules/500-openvpn/images/easyrsa-migrator/src/go.mod
  modules/500-openvpn/images/easyrsa-migrator/src/go.sum
  modules/500-openvpn/images/easyrsa-migrator/werf.inc.yaml
  modules/500-openvpn/images/openvpn/werf.inc.yaml
  modules/500-openvpn/images/ovpn-admin/patches/go_mod.patch
  modules/500-openvpn/images/ovpn-admin/werf.inc.yaml
  modules/500-openvpn/images/pmacct/Dockerfile
  modules/500-openvpn/images/pmacct/werf.inc.yaml
Owners: @name212, @RomanenkoDenys

add lastProbe time
  ee/modules/610-service-with-healthchecks/images/artifact/internal/agent/agent.go
Owners: none

fix mutex
  ee/modules/610-service-with-healthchecks/images/artifact/internal/agent/agent.go
Owners: none

[dynamix] rbuc fix
  docs/documentation/images/030-cloud-provider-dynamix/network/dynamix-standard.svg
  ee/candi/cloud-providers/dynamix/docs/LAYOUTS.md
  ee/candi/cloud-providers/dynamix/docs/LAYOUTS_RU.md
  modules/040-node-manager/templates/capi-controller-manager/rbac-for-us.yaml
Owners: @z9r5, @nabokihms, @RomanenkoDenys, @name212

[common] revert rm common/alpine
  modules/000-common/images/alpine/Dockerfile
  testing/library/images_tags_generated.go
Owners: none

fix mutex
  ee/modules/610-service-with-healthchecks/images/artifact/internal/agent/agent.go
Owners: none

WIP
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/annotation.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/deckhouse_release.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_release.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/release.go
  deckhouse-controller/pkg/controller/deckhouse-release/client_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/updater/metrics.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/loop-canary.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/new-module-manual-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/new-module-manual-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/updater.go
  go_lib/updater/deploy_delay_reason.go
  go_lib/updater/deploy_delay_reason_test.go
  go_lib/updater/error.go
  go_lib/updater/metrics.go
  go_lib/updater/release.go
  go_lib/updater/updater.go
Owners: @yalosev, @miklezzzz

WIP
  deckhouse-controller/pkg/controller/deckhouse-release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
Owners: @yalosev, @miklezzzz

WIP
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/release.go
Owners: @yalosev, @miklezzzz

WIP
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/loop-until-deploy-canary.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/loop-canary.yaml
Owners: @yalosev, @miklezzzz

[dynamix] rbuc fix
  ee/candi/cloud-providers/dynamix/docs/LAYOUTS.md
  ee/candi/cloud-providers/dynamix/docs/LAYOUTS_RU.md
Owners: @z9r5, @nabokihms

WIP
  deckhouse-controller/pkg/controller/deckhouse-release/updater/metrics.go
Owners: @yalosev, @miklezzzz

update dashboard chart
  modules/500-dashboard/templates/dashboard/rbac-for-us.yaml
  modules/500-dashboard/templates/dashboard/secret.yaml
Owners: @nabokihms

grant permissions
  modules/500-dashboard/templates/dashboard/rbac-for-us.yaml
  modules/500-dashboard/templates/dashboard/secret.yaml
Owners: @nabokihms

[dashboard] changed the images to distroless
  modules/500-dashboard/images/dashboard/Dockerfile
  modules/500-dashboard/images/dashboard/patches/install_logout.sh
  modules/500-dashboard/images/dashboard/patches/logout_button.js
  modules/500-dashboard/images/dashboard/werf.inc.yaml
  modules/500-dashboard/images/metrics-scraper/Dockerfile
  modules/500-dashboard/images/metrics-scraper/werf.inc.yaml
Owners: @nabokihms

added tables at versioning.md
  docs/documentation/pages/module-development/VERSIONING.md
  docs/documentation/pages/module-development/VERSIONING_RU.md
Owners: @z9r5, @nabokihms

added table in html and fixed text
  docs/documentation/pages/module-development/VERSIONING_RU.md
Owners: @z9r5, @nabokihms

Update docs/documentation/pages/module-development/VERSIONING_RU.md
  docs/documentation/pages/module-development/VERSIONING_RU.md
Owners: @z9r5, @nabokihms

Apply suggestions from code review
  docs/documentation/pages/module-development/VERSIONING_RU.md
Owners: @z9r5, @nabokihms

Update docs/documentation/pages/module-development/VERSIONING_RU.md
  docs/documentation/pages/module-development/VERSIONING_RU.md
Owners: @z9r5, @nabokihms

Apply suggestions from code review
  docs/documentation/pages/module-development/VERSIONING_RU.md
Owners: @z9r5, @nabokihms

Update docs/documentation/pages/module-development/VERSIONING_RU.md
  docs/documentation/pages/module-development/VERSIONING_RU.md
Owners: @z9r5, @nabokihms

Apply suggestions from code review
  docs/documentation/pages/module-development/VERSIONING.md
  docs/documentation/pages/module-development/VERSIONING_RU.md
Owners: @z9r5, @nabokihms

Updates
  docs/documentation/pages/module-development/VERSIONING.md
  docs/documentation/pages/module-development/VERSIONING_RU.md
Owners: @z9r5, @nabokihms

Updates
  docs/documentation/pages/module-development/VERSIONING.md
  docs/documentation/pages/module-development/VERSIONING_RU.md
Owners: @z9r5, @nabokihms

[docs] Rephrase README.md
  ee/modules/610-service-with-healthchecks/docs/README.md
Owners: @z9r5, @nabokihms

[docs] Rephrase config-values.yaml
  ee/modules/610-service-with-healthchecks/openapi/config-values.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Updates
  docs/documentation/pages/module-development/VERSIONING_RU.md
Owners: @z9r5, @nabokihms

Updates
  candi/cloud-providers/aws/docs/ENVIRONMENT.md
  candi/cloud-providers/aws/docs/ENVIRONMENT_RU.md
  candi/cloud-providers/azure/docs/ENVIRONMENT.md
  candi/cloud-providers/azure/docs/ENVIRONMENT_RU.md
  candi/cloud-providers/gcp/docs/ENVIRONMENT.md
  candi/cloud-providers/gcp/docs/ENVIRONMENT_RU.md
  candi/cloud-providers/yandex/docs/ENVIRONMENT.md
  candi/cloud-providers/yandex/docs/ENVIRONMENT_RU.md
  docs/documentation/_includes/notice_envinronment.liquid
  docs/site/_includes/getting_started/global/partials/NOTICES_ENVIRONMENT.liquid
  ee/candi/cloud-providers/openstack/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/openstack/docs/ENVIRONMENT_RU.md
  ee/candi/cloud-providers/vcd/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/vcd/docs/ENVIRONMENT_RU.md
Owners: @z9r5, @nabokihms

Updates
  docs/documentation/_includes/warning-version.html
Owners: @z9r5, @nabokihms

item 15188
  docs/site/.helm/templates/12-backend.yaml
  docs/site/werf-docs-builder.inc.yaml
Owners: @z9r5, @nabokihms

Apply suggestions from code review
  docs/site/_includes/getting_started/global/partials/NOTICES_ENVIRONMENT.liquid
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT.md
Owners: @z9r5, @nabokihms

Apply suggestions from code review
  docs/documentation/_includes/notice_envinronment.liquid
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
Owners: @z9r5, @nabokihms

Update docs/documentation/_includes/notice_envinronment.liquid
  docs/documentation/_includes/notice_envinronment.liquid
Owners: @z9r5, @nabokihms

Update docs/documentation/_includes/notice_envinronment.liquid
  docs/documentation/_includes/notice_envinronment.liquid
Owners: @z9r5, @nabokihms

Update docs/documentation/_includes/notice_envinronment.liquid
  docs/documentation/_includes/notice_envinronment.liquid
Owners: @z9r5, @nabokihms

Update docs/site/_includes/getting_started/global/partials/NOTICES_ENVIRONMENT.liquid
  docs/site/_includes/getting_started/global/partials/NOTICES_ENVIRONMENT.liquid
Owners: @z9r5, @nabokihms

item 20829
  docs/site/.helm/templates/12-backend.yaml
Owners: @z9r5, @nabokihms

fix
  ee/modules/610-service-with-healthchecks/images/artifact/internal/agent/agent.go
Owners: none

.github/CODEOWNERS:

.github/                        @name212
002-deckhouse/                  @yalosev @miklezzzz
005-external-module-manager/    @yalosev @miklezzzz
007-registrypackages/           @RomanenkoDenys @name212
010-cloud-data-crd/             @nabokihms
011-flow-schema/                @RomanenkoDenys @name212
015-admission-policy-engine/    @yalosev @miklezzzz
021-cni-cilium/                 @apolovov
030-cloud-provider-aws/         @RomanenkoDenys @name212 @aleksey-su
030-cloud-provider-azure/       @RomanenkoDenys @name212 @aleksey-su
030-cloud-provider-gcp/         @RomanenkoDenys @name212 @aleksey-su
030-cloud-provider-yandex/      @RomanenkoDenys @name212 @aleksey-su
030-cloud-provider-openstack/   @RomanenkoDenys @name212 @aleksey-su
030-cloud-provider-vsphere/     @RomanenkoDenys @aleksey-su
031-local-path-provisioner/     @RomanenkoDenys @name212
035-cni-flannel/                @apolovov
035-cni-simple-bridge/          @apolovov
036-kube-proxy/                 @RomanenkoDenys @name212
040-control-plane-manager/      @RomanenkoDenys @name212
040-node-manager/               @RomanenkoDenys @name212
040-terraform-manager/          @name212 @aleksey-su
041-ceph-csi/                   @RomanenkoDenys @name212
042-kube-dns/                   @nabokihms
045-snapshot-controller/        @AleksZimin
050-network-policy-engine/      @apolovov
101-cert-manager/               @yalosev @miklezzzz
110-istio/                      @apolovov
140-user-authz/                 @nabokihms @apolovov
150-user-authn/                 @nabokihms
160-multitenancy-manager/       @yalosev @miklezzzz
200-operator-prometheus/        @nabokihms @vladimirGuryanov @lazovskiy
300-prometheus/                 @nabokihms @vladimirGuryanov @lazovskiy
301-prometheus-*/               @nabokihms @vladimirGuryanov @lazovskiy
302-vertical-pod-autoscaler/    @RomanenkoDenys @name212
303-prometheus-*/               @nabokihms @vladimirGuryanov @lazovskiy
340-extended-monitoring/        @nabokihms @vladimirGuryanov @lazovskiy
340-monitoring-*/               @nabokihms @vladimirGuryanov @lazovskiy
350-node-local-dns/             @RomanenkoDenys @name212
380-metallb/                    @apolovov
400-descheduler/                @RomanenkoDenys @name212
402-ingress-nginx/              @miklezzzz @yalosev
460-log-shipper/                @nabokihms @vladimirGuryanov @lazovskiy
462-loki/                       @nabokihms @vladimirGuryanov @lazovskiy
465-pod-reloader/               @RomanenkoDenys @name212
470-chrony/                     @RomanenkoDenys @name212
491-containerized-data-importer @fl64
500-openvpn/                    @RomanenkoDenys @name212
500-cilium-hubble/              @apolovov
500-dashboard/                  @nabokihms
500-upmeter/                    @nabokihms
500-okmeter/                    @nabokihms @vladimirGuryanov @lazovskiy @kolashtov
500-operator-trivy/             @miklezzzz @yalosev
502-delivery/                   @shvgn
600-namespace-configurator/     @yalosev @miklezzzz
650-runtime-audit-engine/       @RomanenkoDenys @name212 @nabokihms
810-documentation/              @z9r5 @nabokihms
bashible-apiserver/             @RomanenkoDenys @name212
candi/                          @RomanenkoDenys @name212
cloud-controller-manager/       @RomanenkoDenys @name212 @aleksey-su
csi/                            @AleksZimin
deckhouse-controller/           @yalosev @miklezzzz
dhctl/                          @name212
docs/                           @z9r5 @nabokihms
helm_lib/                       @name212
crds/                           @nabokihms @konstantin-axenov @z9r5
openapi/                        @nabokihms @konstantin-axenov @z9r5
