Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @yalosev, @miklezzzz, @RomanenkoDenys, @nabokihms, @AleksZimin, @apolovov, @aleksey-su, @Dmitrykob, @fl64, @vitaliy-sn, @shvgn, @z9r5, @konstantin-axenov

item 7767
  ee/candi/cloud-providers/openstack/bashible/bundles/common-steps/bootstrap-networks.sh.tpl
Owners: @RomanenkoDenys, @name212

item 12712
  ee/candi/cloud-providers/openstack/bashible/bundles/common-steps/bootstrap-networks.sh.tpl
Owners: @RomanenkoDenys, @name212

item 24288
  ee/candi/cloud-providers/openstack/bashible/bundles/common-steps/bootstrap-networks.sh.tpl
Owners: @RomanenkoDenys, @name212

item 1798
  ee/candi/cloud-providers/openstack/bashible/bundles/common-steps/bootstrap-networks.sh.tpl
Owners: @RomanenkoDenys, @name212

sds-drbd: add validating webhook to disable module
  modules/002-deckhouse/webhooks/validating/disable-sds-drbd-module-hook
Owners: @yalosev, @miklezzzz

item 26451
  ee/candi/cloud-providers/openstack/bashible/bundles/common-steps/bootstrap-networks.sh.tpl
Owners: @RomanenkoDenys, @name212

add condition for updating tfadm
  ee/fe/candi/bashible/common-steps/all/099_upd_tfadm.sh.tpl
Owners: @RomanenkoDenys, @name212

item 13044
  ee/candi/cloud-providers/openstack/bashible/bundles/common-steps/bootstrap-networks.sh.tpl
Owners: @RomanenkoDenys, @name212

[sds-drbd] add validating webhook to disable module (#7918)
  modules/002-deckhouse/webhooks/validating/disable-sds-drbd-module-hook
Owners: @yalosev, @miklezzzz

minor fixes
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/modules-docs/README_RU.md
  docs/documentation/pages/modules-docs/chart_adapt/build_container_images.md
  docs/documentation/pages/modules-docs/chart_adapt/build_container_images_ru.md
  docs/documentation/pages/modules-docs/chart_adapt/clone_repo.md
  docs/documentation/pages/modules-docs/chart_adapt/clone_repo_ru.md
  docs/documentation/pages/modules-docs/chart_adapt/deploy.md
  docs/documentation/pages/modules-docs/chart_adapt/hooks.md
  docs/documentation/pages/modules-docs/chart_adapt/hooks_ru.md
  docs/documentation/pages/modules-docs/chart_adapt/intro.md
  docs/documentation/pages/modules-docs/chart_adapt/intro_ru.md
  docs/documentation/pages/modules-docs/chart_adapt/modify_templates.md
  docs/documentation/pages/modules-docs/chart_adapt/modify_templates_ru.md
  docs/documentation/pages/modules-docs/chart_adapt/publish_module.md
  docs/documentation/pages/modules-docs/chart_adapt/publish_module_ru.md
  docs/documentation/pages/modules-docs/development_mode.md
  docs/documentation/pages/modules-docs/development_mode_ru.md
  docs/documentation/pages/modules-docs/example.md
  docs/documentation/pages/modules-docs/example_ru.md
  docs/documentation/pages/modules-docs/final_words.md
  docs/documentation/pages/modules-docs/final_words_ru.md
  docs/documentation/pages/modules-docs/module_anatomy/module_folder.md
  docs/documentation/pages/modules-docs/module_anatomy/module_folder_ru.md
  docs/documentation/pages/modules-docs/module_anatomy/registry.md
  docs/documentation/pages/modules-docs/module_anatomy/registry_ru.md
Owners: @z9r5, @nabokihms

[deckhouse-controller] move module statuses to controller
  deckhouse-controller/cmd/deckhouse-controller/start.go
  deckhouse-controller/crds/module.yaml
  deckhouse-controller/pkg/addon-operator/kube-config/backend/module_config.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module.go
  deckhouse-controller/pkg/controller/controller.go
  go.mod
  go.sum
  go_lib/deckhouse-config/module_manager.go
  go_lib/deckhouse-config/status.go
  modules/002-deckhouse/hooks/dconfig_update_status.go
  modules/002-deckhouse/hooks/dconfig_update_status_test.go
Owners: @yalosev, @miklezzzz, @nabokihms, @konstantin-axenov, @z9r5

[deckhouse-controller] use updateStatus instead of patch
  deckhouse-controller/pkg/controller/controller.go
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @yalosev, @miklezzzz

[deckhouse-controller] remove unnecessary patch and error checks
  deckhouse-controller/pkg/controller/controller.go
Owners: @yalosev, @miklezzzz

item 7915
  ee/candi/cloud-providers/openstack/bashible/bundles/common-steps/bootstrap-networks.sh.tpl
Owners: @RomanenkoDenys, @name212

[dhctl] fix(dhctl-for-commander): disable local-destroyer lock for commander mode
  dhctl/pkg/operations/destroy/deckhouse.go
  dhctl/pkg/operations/destroy/destroy.go
Owners: @name212, @aleksey-su

Translate sections of README.md
  modules/150-user-authn/docs/README.md
Owners: @z9r5, @nabokihms

fix
  ee/fe/candi/bashible/common-steps/all/099_upd_tfadm.sh.tpl
Owners: @RomanenkoDenys, @name212

Updated module_folder_ru.md to include a sample hook ensure_crds.py with proper formatting and permissions for execution.
  docs/documentation/pages/modules-docs/module_anatomy/module_folder_ru.md
Owners: @z9r5, @nabokihms

Updates
  docs/documentation/pages/modules-docs/module_anatomy/module_folder_ru.md
Owners: @z9r5, @nabokihms

Support stop message
  dhctl/pkg/server/fsm/fsm.go
  dhctl/pkg/server/fsm/fsm_test.go
  dhctl/pkg/server/rpc/dhctl/check.go
  dhctl/pkg/server/rpc/dhctl/dhctl.go
  dhctl/pkg/server/server.go
  dhctl/pkg/terraform/pipeline_test.go
Owners: @name212, @aleksey-su

markdown fixes
  docs/documentation/pages/modules-docs/deckhouse_ru.md
  docs/documentation/pages/modules-docs/example_ru.md
  docs/documentation/pages/modules-docs/module_anatomy/module_folder_ru.md
  docs/documentation/pages/modules-docs/module_anatomy/registry_ru.md
Owners: @z9r5, @nabokihms

fix headings
  docs/documentation/pages/modules-docs/example_ru.md
Owners: @z9r5, @nabokihms

fix
  docs/documentation/pages/modules-docs/module_anatomy/module_folder_ru.md
Owners: @z9r5, @nabokihms

fix code block
  docs/documentation/pages/modules-docs/module_anatomy/module_folder_ru.md
Owners: @z9r5, @nabokihms

digital ocean k8s upgrade admission timeoutSeconds
  modules/402-ingress-nginx/templates/controller/admission.yaml
Owners: @miklezzzz, @yalosev

digital ocean k8s upgrade webhook timeoutSeconds
  modules/402-ingress-nginx/templates/kruise/webhook.yaml
Owners: @miklezzzz, @yalosev

Delete linstor assest from the documentation
  docs/documentation/images/041-linstor/linstor-debug-cheatsheet.svg
Owners: @z9r5, @nabokihms

[docs] Delete linstor assest from the documentation (#7932)
  docs/documentation/images/041-linstor/linstor-debug-cheatsheet.svg
Owners: @z9r5, @nabokihms

[core] update dev-images
  candi/image_versions.yml
  tools/dev_images/Dockerfiles/Dockerfile.BASE_GOLANG_21_BULLSEYE
Owners: @RomanenkoDenys, @name212

Add deps: fix base image
  candi/image_versions.yml
Owners: @RomanenkoDenys, @name212

Part 1 translate USAGE.md
  modules/301-prometheus-metrics-adapter/docs/USAGE.md
Owners: @z9r5, @nabokihms

regen hooks file
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
Owners: @yalosev, @miklezzzz

[zvirt] fix
  ee/modules/030-cloud-provider-zvirt/images/zvirt-csi-driver/patches/bump_ovirt_client.patch
  ee/modules/030-cloud-provider-zvirt/images/zvirt-csi-driver/patches/readme.md
Owners: none

fix endraw
  docs/documentation/pages/modules-docs/example_ru.md
Owners: @z9r5, @nabokihms

[zvirt] fix
  ee/modules/030-cloud-provider-zvirt/images/zvirt-csi-driver/patches/001_bump_ovirt_client.patch
Owners: none

[ingress-nginx] fix permissions
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
Owners: @miklezzzz, @yalosev

[ingress-nginx] fix permissions #2
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
Owners: @miklezzzz, @yalosev

[zvirt] fix
  ee/modules/030-cloud-provider-zvirt/images/zvirt-csi-driver/patches/001_bump_ovirt_client.patch
Owners: none

deckhouse.md fix
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/modules-docs/README_RU.md
  docs/documentation/pages/modules-docs/deckhouse.md
  docs/documentation/pages/modules-docs/deckhouse_ru.md
Owners: @z9r5, @nabokihms

small fixes deckhouse.md
  docs/documentation/pages/modules-docs/deckhouse_ru.md
Owners: @z9r5, @nabokihms

.github/CODEOWNERS:

.github/                        @name212
002-deckhouse/                  @yalosev @miklezzzz
005-external-module-manager/    @yalosev @miklezzzz
007-registrypackages/           @RomanenkoDenys
010-cloud-data-crd/             @nabokihms
010-operator-prometheus-crd/    @nabokihms
010-prometheus-crd/             @nabokihms
010-snapshot-controller-crd/    @AleksZimin
010-user-authn-crd/             @nabokihms
010-vertical-pod-autoscaler-crd/ @nabokihms
011-flow-schema/                @RomanenkoDenys @name212
015-admission-policy-engine/    @yalosev @miklezzzz
021-cni-cilium/                 @apolovov
021-kube-proxy/                 @RomanenkoDenys
030-cloud-provider-aws/         @RomanenkoDenys @name212
030-cloud-provider-azure/       @RomanenkoDenys @name212
030-cloud-provider-gcp/         @RomanenkoDenys @name212
030-cloud-provider-yandex/      @RomanenkoDenys @name212 @aleksey-su
030-cloud-provider-openstack/   @RomanenkoDenys @name212
030-cloud-provider-vsphere/     @RomanenkoDenys
031-local-path-provisioner/     @RomanenkoDenys @name212
035-cni-flannel/                @apolovov
035-cni-simple-bridge/          @apolovov
040-control-plane-manager/      @RomanenkoDenys @name212
040-node-manager/               @RomanenkoDenys @name212 @aleksey-su
040-terraform-manager/          @name212 @aleksey-su
041-ceph-csi/                   @RomanenkoDenys @name212
042-kube-dns/                   @nabokihms
045-snapshot-controller/        @AleksZimin
050-network-policy-engine/      @apolovov
101-cert-manager/               @yalosev @miklezzzz
110-istio/                      @apolovov
140-user-authz/                 @nabokihms @apolovov
150-user-authn/                 @nabokihms
160-multitenancy-manager/       @yalosev @Dmitrykob @miklezzzz
200-operator-prometheus/        @nabokihms
300-prometheus/                 @nabokihms
301-prometheus-*/               @nabokihms
302-vertical-pod-autoscaler/    @RomanenkoDenys
303-prometheus-*/               @nabokihms
340-extended-monitoring/        @nabokihms
340-monitoring-*/               @nabokihms
350-node-local-dns/             @RomanenkoDenys
380-metallb/                    @RomanenkoDenys @apolovov
400-descheduler/                @RomanenkoDenys @name212
402-ingress-nginx/              @miklezzzz @yalosev
460-log-shipper/                @nabokihms
462-loki/                       @nabokihms
465-pod-reloader/               @RomanenkoDenys
470-chrony/                     @RomanenkoDenys
491-containerized-data-importer @fl64
500-openvpn/                    @vitaliy-sn
500-cilium-hubble/              @apolovov
500-dashboard/                  @nabokihms
500-upmeter/                    @nabokihms
500-okmeter/                    @nabokihms
500-operator-trivy/             @miklezzzz @yalosev
502-delivery/                   @shvgn
600-flant-integration/          @nabokihms
600-namespace-configurator/     @yalosev @miklezzzz
650-runtime-audit-engine/       @nabokihms
810-documentation/              @z9r5 @nabokihms
bashible-apiserver/             @RomanenkoDenys @name212
candi/                          @RomanenkoDenys @name212
cloud-controller-manager/       @RomanenkoDenys @name212 @aleksey-su
csi/                            @AleksZimin
deckhouse-controller/           @yalosev @miklezzzz
dhctl/                          @name212 @aleksey-su
docs/                           @z9r5 @nabokihms
helm_lib/                       @name212
crds/                           @nabokihms @konstantin-axenov @z9r5
openapi/                        @nabokihms @konstantin-axenov @z9r5
