Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @diafour, @yalosev, @zuzzas, @RomanenkoDenys, @konstantin-axenov, @kvaps, @name212, @apolovov, @nabokihms, @vitaliy-sn, @shvgn, @z9r5

chore: store vanalla Argo CD manifests
  ee/modules/502-delivery/templates/argocd/application-controller/argocd-application-controller-statefulset.yaml
  ee/modules/502-delivery/templates/argocd/application-controller/argocd-metrics-service.yaml
  ee/modules/502-delivery/templates/argocd/application-controller/rbac-for-us.yaml
  ee/modules/502-delivery/templates/argocd/applicationset-controller/argocd-applicationset-controller-deployment.yaml
  ee/modules/502-delivery/templates/argocd/applicationset-controller/argocd-applicationset-controller-service.yaml
  ee/modules/502-delivery/templates/argocd/applicationset-controller/rbac-for-us.yaml
  ee/modules/502-delivery/templates/argocd/argocd-cm-configmap.yaml
  ee/modules/502-delivery/templates/argocd/argocd-cmd-params-cm-configmap.yaml
  ee/modules/502-delivery/templates/argocd/argocd-gpg-keys-cm-configmap.yaml
  ee/modules/502-delivery/templates/argocd/argocd-rbac-cm-configmap.yaml
  ee/modules/502-delivery/templates/argocd/argocd-secret-secret.yaml
  ee/modules/502-delivery/templates/argocd/argocd-ssh-known-hosts-cm-configmap.yaml
  ee/modules/502-delivery/templates/argocd/argocd-tls-certs-cm-configmap.yaml
  ee/modules/502-delivery/templates/argocd/image-updater/argocd-image-updater-config-configmap.yaml
  ee/modules/502-delivery/templates/argocd/image-updater/argocd-image-updater-deployment.yaml
  ee/modules/502-delivery/templates/argocd/image-updater/argocd-image-updater-secret-secret.yaml
  ee/modules/502-delivery/templates/argocd/image-updater/rbac-for-us.yaml
  ee/modules/502-delivery/templates/argocd/notifications-controller/argocd-notifications-controller-deployment.yaml
  ee/modules/502-delivery/templates/argocd/notifications-controller/argocd-notifications-controller-metrics-service.yaml
  ee/modules/502-delivery/templates/argocd/notifications-controller/rbac-for-us.yaml
  ee/modules/502-delivery/templates/argocd/redis/argocd-redis-deployment.yaml
  ee/modules/502-delivery/templates/argocd/redis/argocd-redis-service.yaml
  ee/modules/502-delivery/templates/argocd/redis/rbac-for-us.yaml
  ee/modules/502-delivery/templates/argocd/repo-server/argocd-repo-server-deployment.yaml
  ee/modules/502-delivery/templates/argocd/repo-server/argocd-repo-server-service.yaml
  ee/modules/502-delivery/templates/argocd/repo-server/rbac-for-us.yaml
  ee/modules/502-delivery/templates/argocd/server/argocd-server-deployment.yaml
  ee/modules/502-delivery/templates/argocd/server/argocd-server-metrics-service.yaml
  ee/modules/502-delivery/templates/argocd/server/argocd-server-service.yaml
  ee/modules/502-delivery/templates/argocd/server/rbac-for-us.yaml
Owners: none

hack: omit deckhouse-module lables in Pods
  ee/modules/502-delivery/hack/retemplate.py
Owners: none

[istio] exclude upmeter-probe-namespace-.* from kiali
  ee/modules/110-istio/templates/kiali/configmap.yaml
Owners: @apolovov

[log-shipper] Add telemetry (#3148)
  modules/460-log-shipper/hooks/internal/composer/composer.go
Owners: @nabokihms

remove harbor cleanup job
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Owners: @z9r5

hack: substitute security context
  ee/modules/502-delivery/hack/retemplate.py
Owners: none

Revert "chore: store vanalla Argo CD manifests"
  ee/modules/502-delivery/templates/argocd/application-controller/argocd-application-controller-statefulset.yaml
  ee/modules/502-delivery/templates/argocd/application-controller/argocd-metrics-service.yaml
  ee/modules/502-delivery/templates/argocd/application-controller/rbac-for-us.yaml
  ee/modules/502-delivery/templates/argocd/applicationset-controller/argocd-applicationset-controller-deployment.yaml
  ee/modules/502-delivery/templates/argocd/applicationset-controller/argocd-applicationset-controller-service.yaml
  ee/modules/502-delivery/templates/argocd/applicationset-controller/rbac-for-us.yaml
  ee/modules/502-delivery/templates/argocd/argocd-cm-configmap.yaml
  ee/modules/502-delivery/templates/argocd/argocd-cmd-params-cm-configmap.yaml
  ee/modules/502-delivery/templates/argocd/argocd-gpg-keys-cm-configmap.yaml
  ee/modules/502-delivery/templates/argocd/argocd-rbac-cm-configmap.yaml
  ee/modules/502-delivery/templates/argocd/argocd-secret-secret.yaml
  ee/modules/502-delivery/templates/argocd/argocd-ssh-known-hosts-cm-configmap.yaml
  ee/modules/502-delivery/templates/argocd/argocd-tls-certs-cm-configmap.yaml
  ee/modules/502-delivery/templates/argocd/image-updater/argocd-image-updater-config-configmap.yaml
  ee/modules/502-delivery/templates/argocd/image-updater/argocd-image-updater-deployment.yaml
  ee/modules/502-delivery/templates/argocd/image-updater/argocd-image-updater-secret-secret.yaml
  ee/modules/502-delivery/templates/argocd/image-updater/rbac-for-us.yaml
  ee/modules/502-delivery/templates/argocd/notifications-controller/argocd-notifications-controller-deployment.yaml
  ee/modules/502-delivery/templates/argocd/notifications-controller/argocd-notifications-controller-metrics-service.yaml
  ee/modules/502-delivery/templates/argocd/notifications-controller/rbac-for-us.yaml
  ee/modules/502-delivery/templates/argocd/redis/argocd-redis-deployment.yaml
  ee/modules/502-delivery/templates/argocd/redis/argocd-redis-service.yaml
  ee/modules/502-delivery/templates/argocd/redis/rbac-for-us.yaml
  ee/modules/502-delivery/templates/argocd/repo-server/argocd-repo-server-deployment.yaml
  ee/modules/502-delivery/templates/argocd/repo-server/argocd-repo-server-service.yaml
  ee/modules/502-delivery/templates/argocd/repo-server/rbac-for-us.yaml
  ee/modules/502-delivery/templates/argocd/server/argocd-server-deployment.yaml
  ee/modules/502-delivery/templates/argocd/server/argocd-server-metrics-service.yaml
  ee/modules/502-delivery/templates/argocd/server/argocd-server-service.yaml
  ee/modules/502-delivery/templates/argocd/server/rbac-for-us.yaml
Owners: none

manifests: apply generated security context
  ee/modules/502-delivery/templates/argocd/application-controller/argocd-application-controller-statefulset.yaml
  ee/modules/502-delivery/templates/argocd/applicationset-controller/argocd-applicationset-controller-deployment.yaml
  ee/modules/502-delivery/templates/argocd/argocd-cm-configmap.yaml
  ee/modules/502-delivery/templates/argocd/image-updater/argocd-image-updater-deployment.yaml
  ee/modules/502-delivery/templates/argocd/notifications-controller/argocd-notifications-controller-deployment.yaml
  ee/modules/502-delivery/templates/argocd/redis/argocd-redis-deployment.yaml
  ee/modules/502-delivery/templates/argocd/repo-server/argocd-repo-server-deployment.yaml
  ee/modules/502-delivery/templates/argocd/server/argocd-server-deployment.yaml
Owners: none

add test
  modules/040-node-manager/hooks/get_crds_test.go
  modules/040-node-manager/hooks/internal/autoscaler/capacity/capacity.go
Owners: @yalosev

[deckhouse-controller] chore: use main branch for shell-operator
  go.mod
  go.sum
Owners: none

[docs] Update site links
  modules/465-pod-reloader/docs/README_RU.md
Owners: @z9r5

++
  modules/040-node-manager/hooks/internal/autoscaler/capacity/capacity.go
Owners: @yalosev

[node-manager] fix ng capacity handling (#3222)
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/get_crds_test.go
  modules/040-node-manager/hooks/internal/autoscaler/capacity/capacity.go
Owners: @yalosev

[node-manager] fix ng capacity handling (#3222)
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/get_crds_test.go
  modules/040-node-manager/hooks/internal/autoscaler/capacity/capacity.go
Owners: @yalosev

[node-manager] fix ng capacity handling (#3222) (#3229)
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/get_crds_test.go
  modules/040-node-manager/hooks/internal/autoscaler/capacity/capacity.go
Owners: @yalosev

[testing] e2e: wait for deckhouse Pod readiness before running tests
  testing/cloud_layouts/script.sh
Owners: none

[dhctl] Fix restart bootstrap (#3195)
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
Owners: @name212

[dhctl] Fix restart bootstrap (#3195)
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
Owners: @name212

[dhctl] Fix restart bootstrap (#3195) (#3230)
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
Owners: @name212

[deckhouse-config] fix: apply defaults before validation
  global-hooks/deckhouse-config/startup_sync.go
  global-hooks/deckhouse-config/startup_sync_test.go
  global-hooks/deckhouse-config/testdata/test-startup-sync/global-hooks/openapi/config-values.yaml
  global-hooks/deckhouse-config/testdata/test-startup-sync/modules/001-cert-manager/openapi/config-values.yaml
  go.mod
  go.sum
  go_lib/deckhouse-config/initial_config_loader.go
  go_lib/deckhouse-config/initial_config_loader_test.go
  go_lib/deckhouse-config/module-manager/test/mock/mock.go
  go_lib/deckhouse-config/status.go
  go_lib/deckhouse-config/testdata/validator/global/openapi/config-values.yaml
  go_lib/deckhouse-config/validator.go
  go_lib/deckhouse-config/validator_test.go
  modules/003-deckhouse-config/hooks/update_status_test.go
  testing/cloud_layouts/script.sh
  testing/conversion/init.go
Owners: none

[site] Replaced font awesome icons to local
  docs/site/_includes/feedback.html
  docs/site/_includes/header.html
  docs/site/_includes/important.html
  docs/site/_includes/note.html
  docs/site/_includes/tip.html
  docs/site/_includes/warning.html
  docs/site/_layouts/page-nosidebar-notitle.html
  docs/site/_layouts/page-nosidebar.html
  docs/site/_layouts/page.html
  docs/site/css/components/_header.scss
  docs/site/css/docs.scss
  docs/site/images/sprite.svg
  docs/site/js/pdf-slider.js
Owners: @z9r5

++ re-creating
  global-hooks/deckhouse-config/startup_sync.go
Owners: none

++
  global-hooks/deckhouse-config/startup_sync.go
  go_lib/deckhouse-config/initial_config_loader.go
Owners: none

[candi] Migrate to NAT gateway in yandex cloud Standard layout
  candi/cloud-providers/yandex/layouts/standard/base-infrastructure/main.tf
  candi/cloud-providers/yandex/layouts/standard/variables.tf
  candi/cloud-providers/yandex/layouts/with-nat-instance/base-infrastructure/main.tf
  candi/cloud-providers/yandex/layouts/with-nat-instance/variables.tf
  candi/cloud-providers/yandex/layouts/without-nat/base-infrastructure/main.tf
  candi/cloud-providers/yandex/layouts/without-nat/variables.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/main.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/nat_instance.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/outputs.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/variables.tf
  candi/terraform_versions.yml
Owners: @RomanenkoDenys

subchart with ConstraintTemplates
  modules/015-admission-policy-engine/charts/constraint-templates/Chart.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/allowed-repos.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/container-duplicates.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/container-resources.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/disallowed-tags.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/dns-policy.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/image-pull-policy.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/max-revision-history-limit.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/priority-class.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/required-labels.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/required-probes.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/README.md
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/container-duplicates/allowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/container-duplicates/constraint.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/container-duplicates/disallowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/container-duplicates/disallowed_envs.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/container-duplicates/suite.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/dns-policy/allowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/dns-policy/constraint.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/dns-policy/disallowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/dns-policy/suite.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/image-pull-policy/allowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/image-pull-policy/constraint.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/image-pull-policy/disallowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/image-pull-policy/suite.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/priority-class/allowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/priority-class/constraint.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/priority-class/disallowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/priority-class/suite.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/required-labels/allowed_dep.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/required-labels/allowed_pod.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/required-labels/constraint.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/required-labels/disallowed_dep.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/required-labels/disallowed_pod.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/required-labels/suite.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/revision-history/allowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/revision-history/constraint.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/revision-history/disallowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/revision-history/suite.yaml
Owners: none

Add OperationPolicy CRD
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/hooks/internal/apis/v1alpha1.go
Owners: none

Add templates and tests
  modules/015-admission-policy-engine/Chart.yaml
  modules/015-admission-policy-engine/hooks/handle_operation_policies.go
  modules/015-admission-policy-engine/hooks/handle_operation_policies_test.go
  modules/015-admission-policy-engine/openapi/values.yaml
  modules/015-admission-policy-engine/template_tests/module_test.go
  modules/015-admission-policy-engine/template_tests/operation_policies_test.go
  modules/015-admission-policy-engine/template_tests/policies_test.go
  modules/015-admission-policy-engine/templates/operation-policy/constraint.yaml
  modules/015-admission-policy-engine/templates/validatingwebhookconfiguration.yaml
Owners: none

Add docs
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
Owners: @z9r5

[log-shipper] Fix kafka tls (#3215)
  modules/460-log-shipper/hooks/generate_config_test.go
  modules/460-log-shipper/hooks/internal/composer/testdata/config_2.json
  modules/460-log-shipper/hooks/internal/vector/destination/common.go
  modules/460-log-shipper/hooks/internal/vector/destination/kafka.go
  modules/460-log-shipper/hooks/internal/vector/destination/logstash.go
  modules/460-log-shipper/hooks/internal/vector/destination/splunk.go
  modules/460-log-shipper/hooks/internal/vector/destination/vector.go
  modules/460-log-shipper/hooks/testdata/file-to-kafka-tls/manifests.yaml
  modules/460-log-shipper/hooks/testdata/file-to-kafka-tls/result.json
  modules/460-log-shipper/hooks/testdata/multiple-dest/result.json
  modules/460-log-shipper/images/vector/Dockerfile
  modules/460-log-shipper/images/vector/patches/README.md
  modules/460-log-shipper/images/vector/patches/kafka-pem-tls.patch
Owners: @nabokihms

[user-authn] kubeconfig generating doc fixes
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
  modules/150-user-authn/openapi/config-values.yaml
  modules/150-user-authn/openapi/doc-ru-config-values.yaml
Owners: @z9r5, @nabokihms

awsd
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Owners: @z9r5

[testing] Fix broken links checker
  .github/ci_templates/web.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
Owners: @diafour

Fix
  modules/140-user-authz/docs/USAGE.md
Owners: @z9r5

[testing] Fix broken links checker (#3234)
  .github/ci_templates/web.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
Owners: @diafour

[docs] Note that EKS is not supported (#3219)
  docs/site/_includes/getting_started/existing/partials/TROUBLESHOOT.liquid
  docs/site/_includes/getting_started/existing/partials/TROUBLESHOOT_RU.liquid
  docs/site/_includes/getting_started/global/partials/NOTICES.liquid
  docs/site/_includes/getting_started/global/partials/NOTICES_ENVIRONMENT.liquid
Owners: @z9r5

[site] Replaced font awesome icons to local (#3232)
  docs/site/_includes/feedback.html
  docs/site/_includes/header.html
  docs/site/_includes/important.html
  docs/site/_includes/note.html
  docs/site/_includes/tip.html
  docs/site/_includes/warning.html
  docs/site/_layouts/page-nosidebar-notitle.html
  docs/site/_layouts/page-nosidebar.html
  docs/site/_layouts/page.html
  docs/site/css/components/_header.scss
  docs/site/css/docs.scss
  docs/site/images/sprite.svg
  docs/site/js/pdf-slider.js
Owners: @z9r5

[site] Added buttons in intro block and fix text
  docs/site/css/components/_how-to-buy.scss
  docs/site/css/site.scss
  docs/site/pages/how_to_buy_ru.html
  docs/site/pages/substitution_ru.html
Owners: @z9r5

[deckhouse-config] fix: apply defaults before spec.settings validation (#3206)
  global-hooks/deckhouse-config/startup_sync.go
  global-hooks/deckhouse-config/startup_sync_test.go
  global-hooks/deckhouse-config/testdata/test-startup-sync/global-hooks/openapi/config-values.yaml
  global-hooks/deckhouse-config/testdata/test-startup-sync/modules/001-cert-manager/openapi/config-values.yaml
  go.mod
  go.sum
  go_lib/deckhouse-config/initial_config_loader.go
  go_lib/deckhouse-config/initial_config_loader_test.go
  go_lib/deckhouse-config/module-manager/test/mock/mock.go
  go_lib/deckhouse-config/status.go
  go_lib/deckhouse-config/testdata/validator/global/openapi/config-values.yaml
  go_lib/deckhouse-config/validator.go
  go_lib/deckhouse-config/validator_test.go
  modules/003-deckhouse-config/hooks/update_status_test.go
  testing/cloud_layouts/script.sh
  testing/conversion/init.go
Owners: none

Re-generate changelog v1.41.1
  CHANGELOG/CHANGELOG-v1.41.1.yml
  CHANGELOG/CHANGELOG-v1.41.md
Owners: none

[deckhouse-config] fix: apply defaults before spec.settings validation (#3206)
  global-hooks/deckhouse-config/startup_sync.go
  global-hooks/deckhouse-config/startup_sync_test.go
  global-hooks/deckhouse-config/testdata/test-startup-sync/global-hooks/openapi/config-values.yaml
  global-hooks/deckhouse-config/testdata/test-startup-sync/modules/001-cert-manager/openapi/config-values.yaml
  go.mod
  go.sum
  go_lib/deckhouse-config/initial_config_loader.go
  go_lib/deckhouse-config/initial_config_loader_test.go
  go_lib/deckhouse-config/module-manager/test/mock/mock.go
  go_lib/deckhouse-config/status.go
  go_lib/deckhouse-config/testdata/validator/global/openapi/config-values.yaml
  go_lib/deckhouse-config/validator.go
  go_lib/deckhouse-config/validator_test.go
  modules/003-deckhouse-config/hooks/update_status_test.go
  testing/cloud_layouts/script.sh
  testing/conversion/init.go
Owners: none

.github/CODEOWNERS:

.github/                    @diafour
002-deckhouse/              @yalosev
021-cni-cilium/             @zuzzas @yalosev @RomanenkoDenys @konstantin-axenov
030-cloud-provider-openstack/ @konstantin-axenov
030-cloud-provider-vsphere/ @RomanenkoDenys
041-linstor/                @kvaps
031-local-path-provisioner/ @RomanenkoDenys
040-control-plane-manager/  @yalosev
040-node-manager/           @yalosev
040-terraform-manager/      @name212
101-cert-manager/           @yalosev
110-istio/                  @apolovov
140-user-authz/             @nabokihms @apolovov
150-user-authn/             @nabokihms
340-extended-monitoring/    @nabokihms @zuzzas
340-monitoring-*/           @nabokihms
350-node-local-dns/         @zuzzas
380-metallb/                @RomanenkoDenys @kvaps
402-ingress-nginx/          @nabokihms @yalosev
460-log-shipper/            @nabokihms
470-chrony/                 @RomanenkoDenys
500-openvpn/                @vitaliy-sn
500-upmeter/                @shvgn
600-flant-integration/      @shvgn
bashible-apiserver/         @yalosev
candi/                      @RomanenkoDenys
cloud-controller-manager/   @zuzzas
csi/                        @zuzzas
deckhouse-controller/       @diafour
dhctl/                      @name212
docs/                       @z9r5
