Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @yalosev, @miklezzzz, @RomanenkoDenys, @nabokihms, @AleksZimin, @apolovov, @aleksey-su, @Dmitrykob, @fl64, @vitaliy-sn, @shvgn, @z9r5, @konstantin-axenov

Updates
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
Owners: @z9r5, @nabokihms

[deckhouse] Module components description and automatic CiliumNetworkPolicies generation
  modules/015-admission-policy-engine/components.yaml
  modules/021-cni-cilium/components.yaml
  modules/031-local-path-provisioner/components.yaml
  modules/040-control-plane-manager/components.yaml
  modules/101-cert-manager/components.yaml
  modules/110-istio/components.yaml
Owners: @yalosev, @miklezzzz, @apolovov, @RomanenkoDenys, @name212

[istio] Add a compatibility table to the documentation (#7942)
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
Owners: @z9r5, @nabokihms

[l2-load-balancer] Updater for L2 Load Balancers Status (#7937)
  ee/modules/381-l2-load-balancer/crds/l2-load-balncer.yaml
  ee/modules/381-l2-load-balancer/hooks/load_balancers_status_update.go
  ee/modules/381-l2-load-balancer/hooks/load_balancers_status_update_test.go
  ee/modules/381-l2-load-balancer/templates/rbac-to-us.yaml
  ee/modules/381-l2-load-balancer/templates/user-services/service.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

go
  global-hooks/migrate/migrate_k8s_upgrade.go
Owners: none

[prometheus] Move memcached to distroless (#7945)
  modules/300-prometheus/images/memcached/werf.inc.yaml
  testing/matrix/linter/rules/modules/images.go
Owners: @nabokihms

[docs][ingress-nginx] Add info about required settings for inlets (#7910)
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[docs][ingress-nginx] Add info about required settings for inlets (#7910)
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[docs][ingress-nginx] Add info about required settings for inlets (#7910) (#7967)
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[candi] fix step for updating legacy tfadm (#7930)
  ee/fe/candi/bashible/common-steps/all/099_upd_tfadm.sh.tpl
Owners: @RomanenkoDenys, @name212

add cluster configuration
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Owners: @RomanenkoDenys, @name212

[terraform-manager] Build terraform-provider-ovirt
  ee/candi/cloud-providers/ovirt/terraform-modules/versions.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  tools/build_includes/candi-EE.yaml
  tools/build_includes/candi-FE.yaml
Owners: none

[cloud-providers] add zvirt
  candi/openapi/cluster_configuration.yaml
  candi/openapi/node_group.yaml
  editions.yaml
  ee/modules/030-cloud-provider-zvirt/Chart.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[terraform-manager] Build terraform-provider-ovirt
  candi/terraform_versions.yml
  ee/candi/cloud-providers/.build.yaml
  ee/candi/cloud-providers/ovirt/terraform-modules/providers.tf
  ee/candi/cloud-providers/ovirt/terraform-modules/variables.tf
  ee/candi/cloud-providers/ovirt/terraform-modules/versions.tf
  ee/modules/040-terraform-manager/images/terraform-manager-ovirt/werf.inc.yaml
  tools/build_includes/candi-EE.yaml
  tools/build_includes/candi-FE.yaml
Owners: @RomanenkoDenys, @name212, @aleksey-su

move to zvirt folder
  ee/candi/cloud-providers/zvirt/terraform-modules/providers.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/variables.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/versions.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

add cluster configuration
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/instance_class.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

add cluster configuration
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[cloud-providers] zvirt fix openapi
  candi/openapi/cluster_configuration.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

cloud-init for first master on zvirt (#7463)
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/variables.tf
Owners: @nabokihms, @konstantin-axenov, @z9r5, @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/main.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/outputs.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/providers.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/variables.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/versions.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/outputs.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/openapi/instance_class.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

add cluster configuration
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/instance_class.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

add cluster configuration
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/variables.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/outputs.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/modules/030-cloud-provider-zvirt/charts/helm_lib
  ee/modules/030-cloud-provider-zvirt/enabled
Owners: none

add cluster configuration
  candi/terraform_versions.yml
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/terraform-modules/versions.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/openapi/cloud_discovery_data.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

add cluster configuration
  ee/candi/cloud-providers/.build.yaml
Owners: @RomanenkoDenys, @name212

add nodeIndex to kubernetes-data disk alias too
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/main.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node/outputs.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node/providers.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node/versions.tf
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/instance_class.yaml
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/outputs.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/providers.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/variables.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/versions.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/providers.tf
Owners: @RomanenkoDenys, @name212, @nabokihms, @konstantin-axenov, @z9r5

add cluster configuration
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/outputs.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/variables.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/providers.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/providers.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/versions.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/providers.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/versions.tf
Owners: @RomanenkoDenys, @name212

Feature/zvirt cloud controller manager (#7559)
  candi/version_map.yml
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  ee/candi/cloud-providers/ovirt/terraform-modules/providers.tf
  ee/candi/cloud-providers/ovirt/terraform-modules/variables.tf
  ee/candi/cloud-providers/ovirt/terraform-modules/versions.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/main.tf
  ee/modules/030-cloud-provider-zvirt/Chart.yaml
  ee/modules/030-cloud-provider-zvirt/enabled
  ee/modules/030-cloud-provider-zvirt/hooks/common_test.go
  ee/modules/030-cloud-provider-zvirt/hooks/zvirt_cluster_configuration.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/werf.inc.yaml
  ee/modules/030-cloud-provider-zvirt/openapi/config-values.yaml
  ee/modules/030-cloud-provider-zvirt/openapi/doc-ru-config-values.yaml
  ee/modules/030-cloud-provider-zvirt/openapi/openapi-case-tests.yaml
  ee/modules/030-cloud-provider-zvirt/openapi/values.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-controller-manager/deployment.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-controller-manager/rbac-for-us.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-controller-manager/secret.yaml
  ee/modules/030-cloud-provider-zvirt/templates/namespace.yaml
  ee/modules/030-cloud-provider-zvirt/templates/registry-secret.yaml
  ee/modules/030-cloud-provider-zvirt/templates/secret.yaml
  ee/modules/030-cloud-provider-zvirt/templates/user-authz-cluster-roles.yaml
  global-hooks/enable_cloud_provider.go
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  testing/library/images_tags_generated.go
  testing/matrix/linter/rules/modules/oss.go
  testing/openapi_validation/validators/enum.go
Owners: @RomanenkoDenys, @name212, @yalosev, @miklezzzz, @aleksey-su, @nabokihms, @konstantin-axenov, @z9r5

add cluster configuration
  ee/modules/040-terraform-manager/images/terraform-manager-ovirt/werf.inc.yaml
Owners: @name212, @aleksey-su

add cluster configuration
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/instance_class.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

zvirt standard layout (#7449)
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node/main.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node/outputs.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node/providers.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node/variables.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node/versions.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/variables.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/variables.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/versions.tf
Owners: @RomanenkoDenys, @name212

.github/CODEOWNERS:

.github/                        @name212
002-deckhouse/                  @yalosev @miklezzzz
005-external-module-manager/    @yalosev @miklezzzz
007-registrypackages/           @RomanenkoDenys
010-cloud-data-crd/             @nabokihms
010-operator-prometheus-crd/    @nabokihms
010-prometheus-crd/             @nabokihms
010-snapshot-controller-crd/    @AleksZimin
010-user-authn-crd/             @nabokihms
010-vertical-pod-autoscaler-crd/ @nabokihms
011-flow-schema/                @RomanenkoDenys @name212
015-admission-policy-engine/    @yalosev @miklezzzz
021-cni-cilium/                 @apolovov
021-kube-proxy/                 @RomanenkoDenys
030-cloud-provider-aws/         @RomanenkoDenys @name212
030-cloud-provider-azure/       @RomanenkoDenys @name212
030-cloud-provider-gcp/         @RomanenkoDenys @name212
030-cloud-provider-yandex/      @RomanenkoDenys @name212 @aleksey-su
030-cloud-provider-openstack/   @RomanenkoDenys @name212
030-cloud-provider-vsphere/     @RomanenkoDenys
031-local-path-provisioner/     @RomanenkoDenys @name212
035-cni-flannel/                @apolovov
035-cni-simple-bridge/          @apolovov
040-control-plane-manager/      @RomanenkoDenys @name212
040-node-manager/               @RomanenkoDenys @name212 @aleksey-su
040-terraform-manager/          @name212 @aleksey-su
041-ceph-csi/                   @RomanenkoDenys @name212
042-kube-dns/                   @nabokihms
045-snapshot-controller/        @AleksZimin
050-network-policy-engine/      @apolovov
101-cert-manager/               @yalosev @miklezzzz
110-istio/                      @apolovov
140-user-authz/                 @nabokihms @apolovov
150-user-authn/                 @nabokihms
160-multitenancy-manager/       @yalosev @Dmitrykob @miklezzzz
200-operator-prometheus/        @nabokihms
300-prometheus/                 @nabokihms
301-prometheus-*/               @nabokihms
302-vertical-pod-autoscaler/    @RomanenkoDenys
303-prometheus-*/               @nabokihms
340-extended-monitoring/        @nabokihms
340-monitoring-*/               @nabokihms
350-node-local-dns/             @RomanenkoDenys
380-metallb/                    @RomanenkoDenys @apolovov
400-descheduler/                @RomanenkoDenys @name212
402-ingress-nginx/              @miklezzzz @yalosev
460-log-shipper/                @nabokihms
462-loki/                       @nabokihms
465-pod-reloader/               @RomanenkoDenys
470-chrony/                     @RomanenkoDenys
491-containerized-data-importer @fl64
500-openvpn/                    @vitaliy-sn
500-cilium-hubble/              @apolovov
500-dashboard/                  @nabokihms
500-upmeter/                    @nabokihms
500-okmeter/                    @nabokihms
500-operator-trivy/             @miklezzzz @yalosev
502-delivery/                   @shvgn
600-flant-integration/          @nabokihms
600-namespace-configurator/     @yalosev @miklezzzz
650-runtime-audit-engine/       @nabokihms
810-documentation/              @z9r5 @nabokihms
bashible-apiserver/             @RomanenkoDenys @name212
candi/                          @RomanenkoDenys @name212
cloud-controller-manager/       @RomanenkoDenys @name212 @aleksey-su
csi/                            @AleksZimin
deckhouse-controller/           @yalosev @miklezzzz
dhctl/                          @name212 @aleksey-su
docs/                           @z9r5 @nabokihms
helm_lib/                       @name212
crds/                           @nabokihms @konstantin-axenov @z9r5
openapi/                        @nabokihms @konstantin-axenov @z9r5
