Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @yalosev, @miklezzzz, @RomanenkoDenys, @nabokihms, @AleksZimin, @apolovov, @aleksey-su, @Dmitrykob, @fl64, @vitaliy-sn, @shvgn, @z9r5, @konstantin-axenov

[deckhouse-controller] rework inital status update
  deckhouse-controller/cmd/deckhouse-controller/start.go
  deckhouse-controller/pkg/controller/controller.go
  go_lib/deckhouse-config/service.go
Owners: @yalosev, @miklezzzz

[prometheus] fix memcached build
  modules/300-prometheus/images/memcached/werf.inc.yaml
Owners: @nabokihms

[prometheus] fix memcached build
  testing/matrix/linter/rules/modules/images.go
Owners: none

++
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
Owners: @miklezzzz, @yalosev

[l2-load-balancer] Fixing markdown linter errors
  ee/modules/381-l2-load-balancer/docs/EXAMPLES.md
  ee/modules/381-l2-load-balancer/docs/EXAMPLES_RU.md
  ee/modules/381-l2-load-balancer/docs/README_RU.md
Owners: @z9r5, @nabokihms

[l2-load-balancer] Fixing markdown linter errors (#7946)
  ee/modules/381-l2-load-balancer/docs/EXAMPLES.md
  ee/modules/381-l2-load-balancer/docs/EXAMPLES_RU.md
  ee/modules/381-l2-load-balancer/docs/README_RU.md
Owners: @z9r5, @nabokihms

[testing] Disable ebpf exporter on CentOS based e2e (#7929)
  testing/cloud_layouts/AWS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/Azure/Standard/configuration.tpl.yaml
Owners: none

Updater for L2 Load Balancers Status
  ee/modules/381-l2-load-balancer/crds/l2-load-balncer.yaml
  ee/modules/381-l2-load-balancer/hooks/load_balancers_status_update.go
  ee/modules/381-l2-load-balancer/hooks/load_balancers_status_update_test.go
  ee/modules/381-l2-load-balancer/templates/user-services/service.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[docs] Fix the table of supported OS (#7943)
  docs/documentation/_data/version_map_addition.yml
Owners: @z9r5, @nabokihms

[docs] Fix the table of supported OS (#7943)
  docs/documentation/_data/version_map_addition.yml
Owners: @z9r5, @nabokihms

[docs] Fix the table of supported OS (#7943) (#7947)
  docs/documentation/_data/version_map_addition.yml
Owners: @z9r5, @nabokihms

[loki] add kube-rbac-proxy (#6911)
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
  modules/460-log-shipper/docs/FAQ.md
  modules/460-log-shipper/hooks/generate_config.go
  modules/460-log-shipper/hooks/handle_cluster_log_destination_d8_loki.go
  modules/460-log-shipper/hooks/internal/composer/composer.go
  modules/460-log-shipper/hooks/internal/vector/destination/kafka.go
  modules/460-log-shipper/hooks/internal/vector/destination/logstash.go
  modules/460-log-shipper/hooks/internal/vector/destination/loki.go
  modules/460-log-shipper/hooks/internal/vector/destination/vector.go
  modules/460-log-shipper/hooks/testdata/file-to-vector/result.json
  modules/460-log-shipper/hooks/testdata/many-to-one/result.json
  modules/460-log-shipper/monitoring/prometheus-rules/warnings.yaml
  modules/460-log-shipper/templates/log-shipper-token.yaml
  modules/462-loki/hooks/tokens.go
  modules/462-loki/openapi/values.yaml
  modules/462-loki/templates/configmap.yaml
  modules/462-loki/templates/grafana-datasource.yaml
  modules/462-loki/templates/logshipper-log-destination.yaml
  modules/462-loki/templates/rbac-for-us.yaml
  modules/462-loki/templates/rbac-to-us.yaml
  modules/462-loki/templates/servicemonitor.yaml
  modules/462-loki/templates/statefulset.yaml
  testing/matrix/linter/rules/roles/binding-subject.go
Owners: @RomanenkoDenys, @name212, @nabokihms, @konstantin-axenov, @z9r5

[zvirt] fix
  ee/modules/030-cloud-provider-zvirt/images/zvirt-csi-driver/patches/001_bump_ovirt_client.patch
  ee/modules/030-cloud-provider-zvirt/images/zvirt-csi-driver/patches/readme.md
Owners: none

[deckhouse-controller] rework inital status update #2
  deckhouse-controller/pkg/controller/controller.go
Owners: @yalosev, @miklezzzz

++
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
  modules/402-ingress-nginx/images/controller-1-9/curl-chroot-wrapper.sh
Owners: @miklezzzz, @yalosev

go
  global-hooks/migrate/migrate_k8s_upgrade.go
Owners: none

[zvirt] fix go-ovirt-client
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/go.mod
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/pkg/zvirtapi/compute.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/go.mod
  ee/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/go.sum
Owners: @RomanenkoDenys, @name212, @aleksey-su

decrease slices resize, hooks to scheduled
  ee/modules/381-l2-load-balancer/hooks/load_balancers_status_update.go
Owners: none

[docs] Documented usage of DeckhouseReleases manifests that dhctl mirror generates during pulls
  ee/modules/040-terraform-manager/images/terraform-manager-zvirt/patches/002_detach_disks_on_vm_removal.patch
Owners: @name212, @aleksey-su

++
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
Owners: @miklezzzz, @yalosev

Part II - Translate new sections of USAGE.md
  modules/301-prometheus-metrics-adapter/docs/USAGE.md
Owners: @z9r5, @nabokihms

decrease slices resize, hooks to scheduled
  ee/modules/381-l2-load-balancer/hooks/load_balancers_status_update.go
Owners: none

[zvirt] fix go-ovirt-client
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/go.mod
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/go.sum
Owners: @RomanenkoDenys, @name212, @aleksey-su

go
  global-hooks/migrate/migrate_k8s_upgrade.go
Owners: none

go-ovirt-client replace
  ee/modules/030-cloud-provider-zvirt/images/capz-controller-manager/src/go.mod
  ee/modules/030-cloud-provider-zvirt/images/capz-controller-manager/src/go.sum
Owners: none

[admission-policy-engine] add new columns to grafana
  modules/015-admission-policy-engine/monitoring/grafana-dashboards/security/admission-policy-engine.json
Owners: @yalosev, @miklezzzz

[admission-policy-engine] update hook and test
  modules/015-admission-policy-engine/hooks/storage_class_change.go
  modules/015-admission-policy-engine/hooks/storage_class_change_test.go
Owners: @yalosev, @miklezzzz

++
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
Owners: @miklezzzz, @yalosev

go-ovirt-client ctx
  ee/modules/030-cloud-provider-zvirt/images/capz-controller-manager/src/internal/controller/zvirtcluster_controller.go
  ee/modules/030-cloud-provider-zvirt/images/capz-controller-manager/src/internal/controller/zvirtmachine_controller.go
Owners: none

++
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
Owners: @miklezzzz, @yalosev

++
  modules/402-ingress-nginx/images/controller-1-9/curl-chroot-wrapper.sh
Owners: @miklezzzz, @yalosev

[admission-policy-engine] add mapping Signed-off-by: Stepan Paksashvili <stepan.paksashvili@flant.com>
  modules/015-admission-policy-engine/monitoring/grafana-dashboards/security/admission-policy-engine.json
Owners: @yalosev, @miklezzzz

[admission-policy-engine] add mapping Signed-off-by: Stepan Paksashvili <stepan.paksashvili@flant.com>
  modules/015-admission-policy-engine/monitoring/grafana-dashboards/security/admission-policy-engine.json
Owners: @yalosev, @miklezzzz

maria.makeeva@flant.com
  docs/admin-access/updating the platform/updating the platform_draft.md
Owners: @z9r5, @nabokihms

[deckhouse-controller] user informer for gettings modules/module configs
  deckhouse-controller/pkg/controller/controller.go
Owners: @yalosev, @miklezzzz

maria.makeeva@flant.com
  docs/admin-access/updating the platform/updating the platform_draft.md
Owners: @z9r5, @nabokihms

[admission-policy-engine] fix test
  modules/015-admission-policy-engine/hooks/storage_class_change_test.go
Owners: @yalosev, @miklezzzz

remove timeout strategy
  ee/modules/030-cloud-provider-zvirt/images/capz-controller-manager/src/internal/controller/zvirtcluster_controller.go
  ee/modules/030-cloud-provider-zvirt/images/capz-controller-manager/src/internal/controller/zvirtmachine_controller.go
Owners: none

[ingress-nginx] fix maxmind DB download for controller 1.9 (#7944)
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
  modules/402-ingress-nginx/images/controller-1-9/curl-chroot-wrapper.sh
Owners: @miklezzzz, @yalosev

[ingress-nginx] fix maxmind DB download for controller 1.9 (#7944)
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
  modules/402-ingress-nginx/images/controller-1-9/curl-chroot-wrapper.sh
Owners: @miklezzzz, @yalosev

.github/CODEOWNERS:

.github/                        @name212
002-deckhouse/                  @yalosev @miklezzzz
005-external-module-manager/    @yalosev @miklezzzz
007-registrypackages/           @RomanenkoDenys
010-cloud-data-crd/             @nabokihms
010-operator-prometheus-crd/    @nabokihms
010-prometheus-crd/             @nabokihms
010-snapshot-controller-crd/    @AleksZimin
010-user-authn-crd/             @nabokihms
010-vertical-pod-autoscaler-crd/ @nabokihms
011-flow-schema/                @RomanenkoDenys @name212
015-admission-policy-engine/    @yalosev @miklezzzz
021-cni-cilium/                 @apolovov
021-kube-proxy/                 @RomanenkoDenys
030-cloud-provider-aws/         @RomanenkoDenys @name212
030-cloud-provider-azure/       @RomanenkoDenys @name212
030-cloud-provider-gcp/         @RomanenkoDenys @name212
030-cloud-provider-yandex/      @RomanenkoDenys @name212 @aleksey-su
030-cloud-provider-openstack/   @RomanenkoDenys @name212
030-cloud-provider-vsphere/     @RomanenkoDenys
031-local-path-provisioner/     @RomanenkoDenys @name212
035-cni-flannel/                @apolovov
035-cni-simple-bridge/          @apolovov
040-control-plane-manager/      @RomanenkoDenys @name212
040-node-manager/               @RomanenkoDenys @name212 @aleksey-su
040-terraform-manager/          @name212 @aleksey-su
041-ceph-csi/                   @RomanenkoDenys @name212
042-kube-dns/                   @nabokihms
045-snapshot-controller/        @AleksZimin
050-network-policy-engine/      @apolovov
101-cert-manager/               @yalosev @miklezzzz
110-istio/                      @apolovov
140-user-authz/                 @nabokihms @apolovov
150-user-authn/                 @nabokihms
160-multitenancy-manager/       @yalosev @Dmitrykob @miklezzzz
200-operator-prometheus/        @nabokihms
300-prometheus/                 @nabokihms
301-prometheus-*/               @nabokihms
302-vertical-pod-autoscaler/    @RomanenkoDenys
303-prometheus-*/               @nabokihms
340-extended-monitoring/        @nabokihms
340-monitoring-*/               @nabokihms
350-node-local-dns/             @RomanenkoDenys
380-metallb/                    @RomanenkoDenys @apolovov
400-descheduler/                @RomanenkoDenys @name212
402-ingress-nginx/              @miklezzzz @yalosev
460-log-shipper/                @nabokihms
462-loki/                       @nabokihms
465-pod-reloader/               @RomanenkoDenys
470-chrony/                     @RomanenkoDenys
491-containerized-data-importer @fl64
500-openvpn/                    @vitaliy-sn
500-cilium-hubble/              @apolovov
500-dashboard/                  @nabokihms
500-upmeter/                    @nabokihms
500-okmeter/                    @nabokihms
500-operator-trivy/             @miklezzzz @yalosev
502-delivery/                   @shvgn
600-flant-integration/          @nabokihms
600-namespace-configurator/     @yalosev @miklezzzz
650-runtime-audit-engine/       @nabokihms
810-documentation/              @z9r5 @nabokihms
bashible-apiserver/             @RomanenkoDenys @name212
candi/                          @RomanenkoDenys @name212
cloud-controller-manager/       @RomanenkoDenys @name212 @aleksey-su
csi/                            @AleksZimin
deckhouse-controller/           @yalosev @miklezzzz
dhctl/                          @name212 @aleksey-su
docs/                           @z9r5 @nabokihms
helm_lib/                       @name212
crds/                           @nabokihms @konstantin-axenov @z9r5
openapi/                        @nabokihms @konstantin-axenov @z9r5
