Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @yalosev, @RomanenkoDenys, @nabokihms, @AleksZimin, @apolovov, @Dmitrykob, @miklezzzz, @fl64, @vitaliy-sn, @shvgn, @z9r5, @konstantin-axenov

.github/CODEOWNERS:

.github/                        @name212
002-deckhouse/                  @yalosev
005-external-module-manager/    @yalosev
007-registrypackages/           @RomanenkoDenys
010-cloud-data-crd/             @nabokihms
010-operator-prometheus-crd/    @nabokihms
010-prometheus-crd/             @nabokihms
010-snapshot-controller-crd/    @AleksZimin
010-user-authn-crd/             @nabokihms
010-vertical-pod-autoscaler-crd/ @nabokihms
011-flow-schema/                @RomanenkoDenys @name212
015-admission-policy-engine/    @yalosev
021-cni-cilium/                 @apolovov
021-kube-proxy/                 @RomanenkoDenys
030-cloud-provider-aws/         @RomanenkoDenys @name212
030-cloud-provider-azure/       @RomanenkoDenys @name212
030-cloud-provider-gcp/         @RomanenkoDenys @name212
030-cloud-provider-yandex/      @RomanenkoDenys @name212
030-cloud-provider-openstack/   @RomanenkoDenys @name212
030-cloud-provider-vsphere/     @RomanenkoDenys
031-local-path-provisioner/     @RomanenkoDenys @name212
035-cni-flannel/                @RomanenkoDenys @name212
035-cni-simple-bridge/          @RomanenkoDenys @name212
040-control-plane-manager/      @RomanenkoDenys @name212
040-node-manager/               @RomanenkoDenys @name212
040-terraform-manager/          @name212
041-ceph-csi/                   @RomanenkoDenys @name212
042-kube-dns/                   @nabokihms
045-snapshot-controller/        @AleksZimin
050-network-policy-engine/      @apolovov
101-cert-manager/               @yalosev
110-istio/                      @apolovov
140-user-authz/                 @nabokihms @apolovov
150-user-authn/                 @nabokihms
160-multitenancy-manager/       @yalosev @Dmitrykob
200-operator-prometheus/        @nabokihms
300-prometheus/                 @nabokihms
301-prometheus-*/               @nabokihms
302-vertical-pod-autoscaler/    @nabokihms
303-prometheus-*/               @nabokihms
340-extended-monitoring/        @nabokihms
340-monitoring-*/               @nabokihms
350-node-local-dns/             @RomanenkoDenys
380-metallb/                    @RomanenkoDenys @apolovov
400-descheduler/                @RomanenkoDenys @name212
402-ingress-nginx/              @miklezzzz @yalosev
460-log-shipper/                @nabokihms
462-loki/                       @nabokihms
465-pod-reloader/               @RomanenkoDenys
470-chrony/                     @RomanenkoDenys
491-containerized-data-importer @fl64
500-openvpn/                    @vitaliy-sn
500-cilium-hubble/              @apolovov
500-dashboard/                  @nabokihms
500-upmeter/                    @nabokihms
500-okmeter/                    @nabokihms
500-operator-trivy/             @miklezzzz
502-delivery/                   @shvgn
600-flant-integration/          @nabokihms
600-namespace-configurator/     @yalosev
650-runtime-audit-engine/       @nabokihms
810-documentation/              @z9r5 @nabokihms @konstantin-axenov
bashible-apiserver/             @RomanenkoDenys @name212
candi/                          @RomanenkoDenys @name212
cloud-controller-manager/       @RomanenkoDenys @name212
csi/                            @AleksZimin
deckhouse-controller/           @yalosev
dhctl/                          @name212
docs/                           @z9r5 @nabokihms @konstantin-axenov
helm_lib/                       @name212
crds/                           @nabokihms @konstantin-axenov @z9r5
openapi/                        @nabokihms @konstantin-axenov @z9r5

add cluster configuration
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/modules/030-cloud-provider-zvirt/.helmignore
  ee/modules/030-cloud-provider-zvirt/.namespace
Owners: none

add cluster configuration
  ee/modules/030-cloud-provider-zvirt/charts/helm_lib
  ee/modules/030-cloud-provider-zvirt/enabled
Owners: none

Apply suggestions from code review
  candi/openapi/doc-ru-node_group.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

add cluster configuration
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/instance_class.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

fix terraform
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/outputs.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/outputs.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/outputs.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/variables.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/providers.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/outputs.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/providers.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/versions.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/providers.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/versions.tf
Owners: @RomanenkoDenys, @name212

zvirt standard layout (#7449)
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node/main.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node/outputs.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node/providers.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node/variables.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node/versions.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/variables.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/variables.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/versions.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/instance_class.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[cloud-providers] zvirt fix cni
  werf.yaml
Owners: none

add cluster configuration
  candi/terraform_versions.yml
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/terraform-modules/versions.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/instance_class.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

add cluster configuration
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[cloud-providers] zvirt fix openapi
  candi/openapi/cluster_configuration.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Feature/zvirt cloud controller manager (#7559)
  candi/version_map.yml
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  ee/candi/cloud-providers/ovirt/terraform-modules/providers.tf
  ee/candi/cloud-providers/ovirt/terraform-modules/variables.tf
  ee/candi/cloud-providers/ovirt/terraform-modules/versions.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/main.tf
  ee/modules/030-cloud-provider-zvirt/Chart.yaml
  ee/modules/030-cloud-provider-zvirt/enabled
  ee/modules/030-cloud-provider-zvirt/hooks/common_test.go
  ee/modules/030-cloud-provider-zvirt/hooks/zvirt_cluster_configuration.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/werf.inc.yaml
  ee/modules/030-cloud-provider-zvirt/openapi/config-values.yaml
  ee/modules/030-cloud-provider-zvirt/openapi/doc-ru-config-values.yaml
  ee/modules/030-cloud-provider-zvirt/openapi/openapi-case-tests.yaml
  ee/modules/030-cloud-provider-zvirt/openapi/values.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-controller-manager/deployment.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-controller-manager/rbac-for-us.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-controller-manager/secret.yaml
  ee/modules/030-cloud-provider-zvirt/templates/namespace.yaml
  ee/modules/030-cloud-provider-zvirt/templates/registry-secret.yaml
  ee/modules/030-cloud-provider-zvirt/templates/secret.yaml
  ee/modules/030-cloud-provider-zvirt/templates/user-authz-cluster-roles.yaml
  global-hooks/enable_cloud_provider.go
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  testing/library/images_tags_generated.go
  testing/matrix/linter/rules/modules/oss.go
  testing/openapi_validation/validators/enum.go
Owners: @RomanenkoDenys, @name212, @yalosev, @nabokihms, @konstantin-axenov, @z9r5

add cluster configuration
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node/outputs.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node/providers.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/master-node/versions.tf
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/instance_class.yaml
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/outputs.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/providers.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/variables.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/versions.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/providers.tf
Owners: @RomanenkoDenys, @name212, @nabokihms, @konstantin-axenov, @z9r5

add cluster configuration
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/variables.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/modules/040-terraform-manager/images/terraform-manager-ovirt/werf.inc.yaml
Owners: @name212

add nodeIndex to kubernetes-data disk alias too
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/main.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/openapi/cloud_discovery_data.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

add cluster configuration
  ee/candi/cloud-providers/.build.yaml
Owners: @RomanenkoDenys, @name212

[cloud-providers] zvirt fix cni
  ee/modules/030-cloud-provider-zvirt/openapi/values.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cni.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[cloud-providers] zvirt fix openapi
  ee/modules/030-cloud-provider-zvirt/templates/cni.yaml
Owners: none

[cloud-providers] zvirt fix werf
  werf.yaml
Owners: none

cloud-init for first master on zvirt (#7463)
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/variables.tf
Owners: @nabokihms, @konstantin-axenov, @z9r5, @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/openapi/instance_class.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

add cluster configuration
  candi/terraform_versions.yml
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/main.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/outputs.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/providers.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/variables.tf
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/versions.tf
Owners: @RomanenkoDenys, @name212

Feature/zvirt csi driver (#7759)
  .github/dependabot.yml
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/outputs.tf
  ee/candi/cloud-providers/zvirt/openapi/cloud_discovery_data.yaml
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/doc-ru-instance_class.yaml
  ee/candi/cloud-providers/zvirt/openapi/instance_class.yaml
  ee/modules/030-cloud-provider-zvirt/hooks/discover.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/cmd/zvirt-cloud-controller-manager/main.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/go.mod
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/go.sum
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/pkg/cloudprovider/zvirt/cloud.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/pkg/cloudprovider/zvirt/instances.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/pkg/cloudprovider/zvirt/util.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/pkg/zvirtapi/api.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/pkg/zvirtapi/compute.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/pkg/zvirtapi/util.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/werf.inc.yaml
  ee/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/go.mod
  ee/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/go.sum
  ee/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/main.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/werf.inc.yaml
  ee/modules/030-cloud-provider-zvirt/images/zvirt-csi-driver/werf.inc.yaml
  ee/modules/030-cloud-provider-zvirt/openapi/values.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-data-discoverer/deployment.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-data-discoverer/pod-monitor.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-data-discoverer/rbac-for-us.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-data-discoverer/rbac-to-us.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-data-discoverer/secret.yaml
  ee/modules/030-cloud-provider-zvirt/templates/csi/controller.yaml
  ee/modules/030-cloud-provider-zvirt/templates/csi/csidriver.yaml
  ee/modules/030-cloud-provider-zvirt/templates/csi/rbac-for-us.yaml
  ee/modules/030-cloud-provider-zvirt/templates/csi/secret.yaml
  ee/modules/030-cloud-provider-zvirt/templates/csi/storage-classes.yaml
  ee/modules/040-terraform-manager/images/terraform-manager-zvirt/werf.inc.yaml
  go_lib/cloud-data/apis/v1alpha1/zvirt_cloud_provider_discovery_data.go
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  testing/library/images_tags_generated.go
Owners: @name212, @RomanenkoDenys, @nabokihms, @konstantin-axenov, @z9r5, @AleksZimin

Apply suggestions from code review
  candi/openapi/doc-ru-node_group.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Apply suggestions from code review
  candi/openapi/doc-ru-node_group.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Apply suggestions from code review
  candi/openapi/node_group.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

skip new images of istio in distroless image linter
  testing/matrix/linter/rules/modules/images.go
Owners: none

skip new images of istio in distroless image linter (#7795)
  testing/matrix/linter/rules/modules/images.go
Owners: none

[registry-packeges] Add d8 (deckhouse-cli) to registry packages
  candi/image_versions.yml
  modules/007-registrypackages/images/d8/scripts/install
  modules/007-registrypackages/images/d8/scripts/uninstall
  modules/007-registrypackages/images/d8/werf.inc.yaml
  tools/dev_images/Dockerfiles/Dockerfile.BASE_GOLANG_22_ALPINE
  tools/dev_images/Dockerfiles/Dockerfile.BASE_GOLANG_22_BULLSEYE
Owners: @RomanenkoDenys, @name212

Update generated files
  testing/library/images_tags_generated.go
Owners: none
