Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @diafour, @yalosev, @zuzzas, @RomanenkoDenys, @konstantin-axenov, @kvaps, @name212, @apolovov, @nabokihms, @vitaliy-sn, @shvgn, @z9r5

.github/CODEOWNERS:

.github/                    @diafour
002-deckhouse/              @yalosev
021-cni-cilium/             @zuzzas @yalosev @RomanenkoDenys @konstantin-axenov
030-cloud-provider-openstack/ @konstantin-axenov
030-cloud-provider-vsphere/ @RomanenkoDenys
041-linstor/                @kvaps
031-local-path-provisioner/ @RomanenkoDenys
040-control-plane-manager/  @yalosev
040-node-manager/           @yalosev
040-terraform-manager/      @name212
101-cert-manager/           @yalosev
110-istio/                  @apolovov
140-user-authz/             @nabokihms @apolovov
150-user-authn/             @nabokihms
340-extended-monitoring/    @nabokihms @zuzzas
340-monitoring-*/           @nabokihms
350-node-local-dns/         @zuzzas
380-metallb/                @RomanenkoDenys @kvaps
402-ingress-nginx/          @nabokihms @yalosev
460-log-shipper/            @nabokihms
470-chrony/                 @RomanenkoDenys
500-openvpn/                @vitaliy-sn
500-upmeter/                @shvgn
600-flant-integration/      @shvgn
bashible-apiserver/         @yalosev
candi/                      @RomanenkoDenys
cloud-controller-manager/   @zuzzas
csi/                        @zuzzas
deckhouse-controller/       @diafour
dhctl/                      @name212
docs/                       @z9r5

[deckhouse-config] fix: apply defaults before spec.settings validation (#3206) (#3240)
  global-hooks/deckhouse-config/startup_sync.go
  global-hooks/deckhouse-config/startup_sync_test.go
  global-hooks/deckhouse-config/testdata/test-startup-sync/global-hooks/openapi/config-values.yaml
  global-hooks/deckhouse-config/testdata/test-startup-sync/modules/001-cert-manager/openapi/config-values.yaml
  go.mod
  go.sum
  go_lib/deckhouse-config/initial_config_loader.go
  go_lib/deckhouse-config/initial_config_loader_test.go
  go_lib/deckhouse-config/module-manager/test/mock/mock.go
  go_lib/deckhouse-config/status.go
  go_lib/deckhouse-config/testdata/validator/global/openapi/config-values.yaml
  go_lib/deckhouse-config/validator.go
  go_lib/deckhouse-config/validator_test.go
  modules/003-deckhouse-config/hooks/update_status_test.go
  testing/cloud_layouts/script.sh
  testing/conversion/init.go
Owners: none

[site] Fixpunctuation marks
  docs/site/pages/how_to_buy_ru.html
Owners: @z9r5

[site] Added buttons in intro block and fix text (#3241)
  docs/site/css/components/_how-to-buy.scss
  docs/site/css/site.scss
  docs/site/pages/how_to_buy_ru.html
  docs/site/pages/substitution_ru.html
Owners: @z9r5

[ci] Turn on canary deploy for the Beta release channel
  release.yaml
Owners: none

[ci] Turn on canary deploy for the Beta release channel (#3243)
  release.yaml
Owners: none

Re-generate changelog v1.41.1 (#3183)
  CHANGELOG/CHANGELOG-v1.41.1.yml
  CHANGELOG/CHANGELOG-v1.41.md
Owners: none

Re-generate changelog v1.41.1 (#3183)
  CHANGELOG/CHANGELOG-v1.41.1.yml
  CHANGELOG/CHANGELOG-v1.41.md
Owners: none

Re-generate changelog v1.41.1 (#3183) (#3244)
  CHANGELOG/CHANGELOG-v1.41.1.yml
  CHANGELOG/CHANGELOG-v1.41.md
Owners: none

chore: tweak editorconfig for python
  .editorconfig
Owners: none

chore(hack): extract templates to functions
  ee/modules/502-delivery/hack/retemplate.py
Owners: none

fix parens
  ee/modules/502-delivery/templates/argocd/repo-server/repositories.yaml
Owners: none

chore(helm_lib): remove unused container security context helper
  helm_lib/templates/_module_security_context.tpl
Owners: none

Update modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
Owners: none

Update modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/crds/operation-policy.yaml
Owners: none

Update modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/crds/operation-policy.yaml
Owners: none

Update modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/crds/operation-policy.yaml
Owners: none

Update modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/crds/operation-policy.yaml
Owners: none

chore(templates): remove excessive antiaffinity specs
  ee/modules/502-delivery/templates/argocd/application-controller/argocd-application-controller-statefulset.yaml
  ee/modules/502-delivery/templates/argocd/redis/argocd-redis-deployment.yaml
  ee/modules/502-delivery/templates/argocd/repo-server/argocd-repo-server-deployment.yaml
  ee/modules/502-delivery/templates/argocd/server/argocd-server-deployment.yaml
Owners: none

fixup(templates): add security context template context
  ee/modules/502-delivery/hack/retemplate.py
  ee/modules/502-delivery/templates/argocd/application-controller/argocd-application-controller-statefulset.yaml
  ee/modules/502-delivery/templates/argocd/applicationset-controller/argocd-applicationset-controller-deployment.yaml
  ee/modules/502-delivery/templates/argocd/notifications-controller/argocd-notifications-controller-deployment.yaml
  ee/modules/502-delivery/templates/argocd/redis/argocd-redis-deployment.yaml
  ee/modules/502-delivery/templates/argocd/repo-server/argocd-repo-server-deployment.yaml
  ee/modules/502-delivery/templates/argocd/server/argocd-server-deployment.yaml
Owners: none

chore(config): remove settings.auth
  ee/modules/502-delivery/openapi/config-values.yaml
  ee/modules/502-delivery/openapi/openapi-case-tests.yaml
  ee/modules/502-delivery/templates/argocd/server/d8-dex-client.yaml
Owners: none

Update channels.yaml
  channels.yaml
Owners: none

chore(templates): preserve outer context for repositories
  ee/modules/502-delivery/templates/argocd/repo-server/repositories.yaml
Owners: none

fixup(config): un-require deleted 'auth'
  ee/modules/502-delivery/openapi/config-values.yaml
Owners: none

fixup(config): delete 'auth' field from tests
  ee/modules/502-delivery/hooks/werf_sources/hook_test.go
Owners: none

fixup(templates): remove duplicating security policy
  ee/modules/502-delivery/templates/argocd/notifications-controller/argocd-notifications-controller-deployment.yaml
  ee/modules/502-delivery/templates/argocd/redis/argocd-redis-deployment.yaml
  ee/modules/502-delivery/templates/argocd/repo-server/repositories.yaml
  ee/modules/502-delivery/templates/argocd/server/d8-dex-client.yaml
Owners: none

fix(template): imagePullPolicy = IfNotPresent
  ee/modules/502-delivery/templates/argocd/application-controller/argocd-application-controller-statefulset.yaml
  ee/modules/502-delivery/templates/argocd/applicationset-controller/argocd-applicationset-controller-deployment.yaml
  ee/modules/502-delivery/templates/argocd/image-updater/argocd-image-updater-deployment.yaml
  ee/modules/502-delivery/templates/argocd/notifications-controller/argocd-notifications-controller-deployment.yaml
  ee/modules/502-delivery/templates/argocd/redis/argocd-redis-deployment.yaml
  ee/modules/502-delivery/templates/argocd/repo-server/argocd-repo-server-deployment.yaml
  ee/modules/502-delivery/templates/argocd/server/argocd-server-deployment.yaml
Owners: none

refactor(hack): make code more extensible
  ee/modules/502-delivery/hack/get_manifests.sh
  ee/modules/502-delivery/hack/retemplate.py
Owners: none

feat(hack): support image pull policy
  ee/modules/502-delivery/hack/retemplate.py
Owners: none

chore(templates): add deployment revisionhistorylimit and labels to configmaps and secret
  ee/modules/502-delivery/hack/get_manifests.sh
  ee/modules/502-delivery/hack/retemplate.py
  ee/modules/502-delivery/templates/argocd/applicationset-controller/argocd-applicationset-controller-deployment.yaml
  ee/modules/502-delivery/templates/argocd/image-updater/argocd-image-updater-config-configmap.yaml
  ee/modules/502-delivery/templates/argocd/notifications-controller/argocd-notifications-cm-configmap.yaml
  ee/modules/502-delivery/templates/argocd/notifications-controller/argocd-notifications-controller-deployment.yaml
  ee/modules/502-delivery/templates/argocd/notifications-controller/argocd-notifications-secret-secret.yaml
  ee/modules/502-delivery/templates/argocd/notifications-controller/rbac-for-us.yaml
  ee/modules/502-delivery/templates/argocd/redis/argocd-redis-deployment.yaml
  ee/modules/502-delivery/templates/argocd/repo-server/argocd-repo-server-deployment.yaml
  ee/modules/502-delivery/templates/argocd/server/argocd-server-deployment.yaml
Owners: none

chore(hack): add copyright
  ee/modules/502-delivery/hack/retemplate.py
Owners: none

[node-manager] Fix description in NodeGroupMasterTaintIsAbsent
  modules/040-node-manager/monitoring/prometheus-rules/node-group.tpl
Owners: @yalosev

[user-authn] Read CA from encoded PEM string
  modules/150-user-authn/images/dex/patches/oidc-ca-insecure.patch
Owners: @nabokihms

[user-authn] fix crowd proxy cert generator
  modules/150-user-authn/hooks/generate_crowd_basic_auth_proxy_cert.go
Owners: @nabokihms

templates: add revision historyy limit to image updater deployment
  ee/modules/502-delivery/templates/argocd/image-updater/argocd-image-updater-deployment.yaml
Owners: none

[candi] Update kubernetes patch versions
  candi/version_map.yml
Owners: @RomanenkoDenys

make generate
  testing/library/images_tags_generated.go
Owners: none

templates: rename RBAC resources
  ee/modules/502-delivery/hack/get_manifests.sh
  ee/modules/502-delivery/templates/argocd/application-controller/rbac-for-us.yaml
  ee/modules/502-delivery/templates/argocd/applicationset-controller/rbac-for-us.yaml
  ee/modules/502-delivery/templates/argocd/image-updater/rbac-for-us.yaml
  ee/modules/502-delivery/templates/argocd/notifications-controller/rbac-for-us.yaml
  ee/modules/502-delivery/templates/argocd/redis/rbac-for-us.yaml
  ee/modules/502-delivery/templates/argocd/server/rbac-for-us.yaml
Owners: none

templates: labels for argocd-server dex client
  ee/modules/502-delivery/templates/argocd/repo-server/argocd-repo-server-deployment.yaml
  ee/modules/502-delivery/templates/argocd/server/d8-dex-client.yaml
  ee/modules/502-delivery/templates/argocd/server/d8-ingress.yaml
Owners: none

templates: add missin security context to image-updater container
  ee/modules/502-delivery/templates/argocd/image-updater/argocd-image-updater-deployment.yaml
Owners: none

templates: add ephemeral storage for redis
  ee/modules/502-delivery/templates/argocd/redis/argocd-redis-deployment.yaml
Owners: none
