Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @yalosev, @nabokihms, @apolovov, @RomanenkoDenys, @AleksZimin, @Dmitrykob, @miklezzzz, @fl64, @vitaliy-sn, @shvgn, @z9r5, @konstantin-axenov, @MariaMakeeva

.github/CODEOWNERS:

.github/                    @name212
002-deckhouse/              @yalosev
010-operator-prometheus-crd/ @nabokihms
010-prometheus-crd/         @nabokihms
015-admission-policy-engine/ @yalosev
021-cni-cilium/             @apolovov
030-cloud-provider-openstack/ @RomanenkoDenys @name212
030-cloud-provider-vsphere/ @RomanenkoDenys
041-linstor/                @AleksZimin
031-local-path-provisioner/ @RomanenkoDenys @name212
040-control-plane-manager/  @RomanenkoDenys @name212
040-node-manager/           @RomanenkoDenys @name212
040-terraform-manager/      @name212
101-cert-manager/           @yalosev
110-istio/                  @apolovov
140-user-authz/             @nabokihms @apolovov
150-user-authn/             @nabokihms
160-multitenancy-manager/   @yalosev @Dmitrykob
200-operator-prometheus/    @nabokihms
340-extended-monitoring/    @nabokihms
340-monitoring-*/           @nabokihms
300-prometheus/             @nabokihms
301-prometheus-*/           @nabokihms
303-prometheus-*/           @nabokihms
350-node-local-dns/         @RomanenkoDenys
380-metallb/                @RomanenkoDenys @apolovov
402-ingress-nginx/          @miklezzzz @yalosev
460-log-shipper/            @nabokihms
470-chrony/                 @RomanenkoDenys
491-containerized-data-importer @fl64
500-openvpn/                @vitaliy-sn
500-upmeter/                @shvgn
500-operator-trivy/         @miklezzzz
502-delivery/               @shvgn
600-flant-integration/      @nabokihms
650-runtime-audit-engine/   @nabokihms
810-documentation/          @z9r5 @nabokihms @konstantin-axenov
bashible-apiserver/         @RomanenkoDenys @name212
candi/                      @RomanenkoDenys @name212
cloud-controller-manager/   @RomanenkoDenys @name212
csi/                        @AleksZimin
deckhouse-controller/       @yalosev
dhctl/                      @name212
docs/                       @z9r5 @nabokihms @konstantin-axenov @MariaMakeeva
helm_lib/                   @name212
crds/                       @nabokihms @konstantin-axenov @z9r5 @MariaMakeeva
openapi/                    @nabokihms @konstantin-axenov @z9r5 @MariaMakeeva

[docs] Fix broken links (#7369)
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/site/_includes/getting_started/openstack_selectel/STEP_ENV.md
  docs/site/_includes/getting_started/openstack_selectel/STEP_ENV_RU.md
  docs/site/images/logos/cilium.png
  modules/021-cni-cilium/oss.yaml
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/140-user-authz/crds/doc-ru-clusterauthorizationrule.yaml
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Owners: @z9r5, @nabokihms, @konstantin-axenov, @MariaMakeeva, @apolovov

[monitoring-custom] Fix metrics reserved_domain_nodes (#7361)
  modules/340-monitoring-custom/hooks/reserved_domain_nodes.go
  modules/340-monitoring-custom/hooks/reserved_domain_nodes_test.go
Owners: @nabokihms

[bashible] fix ca permissions (#7367)
  candi/bashible/common-steps/all/060_install_kubernetes_ca.sh.tpl
Owners: @RomanenkoDenys, @name212

[multitenancy-manager] Doc fix (#7395)
  ee/modules/160-multitenancy-manager/crds/projects.yaml
  ee/modules/160-multitenancy-manager/crds/projecttemplate.yaml
  ee/modules/160-multitenancy-manager/docs/USAGE.md
  ee/modules/160-multitenancy-manager/docs/USAGE_RU.md
Owners: @nabokihms, @konstantin-axenov, @z9r5, @MariaMakeeva

Add msg for failed MPO validation (#7365)
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
Owners: @yalosev

[control-plane-manager] Documentation updates (#7332)
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Owners: @nabokihms, @konstantin-axenov, @z9r5, @MariaMakeeva

Re-generate changelog v1.57.2 (#7327)
  CHANGELOG/CHANGELOG-v1.57.2.yml
  CHANGELOG/CHANGELOG-v1.57.md
Owners: none

[dhctl] mirror: trivy database image (#7359)
  dhctl/pkg/app/mirror.go
  dhctl/pkg/operations/mirror.go
  dhctl/pkg/operations/mirror/layouts.go
  dhctl/pkg/operations/mirror/layouts_test.go
  dhctl/pkg/operations/mirror/trivy-db.go
  dhctl/pkg/operations/mirror/trivy-db_test.go
  dhctl/pkg/operations/mirror_test.go
Owners: @name212

[operator-trivy] Update base image (#7381)
  ee/modules/500-operator-trivy/images/node-collector/Dockerfile
  werf.yaml
Owners: @miklezzzz

[user-authn] Bring dex-auth manifest to complience with restricted admission-control policy (#7373)
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
Owners: @nabokihms

[metallb] Add livenessProbe and readinessProbe. (#7382)
  ee/modules/380-metallb/templates/speaker/daemonset.yaml
Owners: @RomanenkoDenys, @apolovov

[kube-dns] Increased sts-pods-hosts-appender-webhook wait timeout (#7389)
  modules/042-kube-dns/templates/sts-pods-hosts-appender-webhook/webhook-configuration.yaml
Owners: none

[multitenancy-manager] Dedicated nodes / node groups for the Project (#6864)
  candi/control-plane-kubeadm/config.yaml.tpl
  ee/modules/160-multitenancy-manager/docs/USAGE.md
  ee/modules/160-multitenancy-manager/docs/USAGE_RU.md
  ee/modules/160-multitenancy-manager/hooks/project.go
  ee/modules/160-multitenancy-manager/hooks/project_test.go
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-with-dedicated-nodes-project-template.yaml
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
Owners: @RomanenkoDenys, @name212, @z9r5, @nabokihms, @konstantin-axenov, @MariaMakeeva, @yalosev, @Dmitrykob

[kube-dns] Fix description of the `KubeDnsServiceWithDeprecatedAnnotation` alert (#7366)
  modules/042-kube-dns/monitoring/prometheus-rules/kubernetes/dns.yaml
Owners: none

[docs] Fix renderer config (#7374)
  docs/site/backends/docs-builder-template/config/_default/hugo.yaml
Owners: @z9r5, @nabokihms, @konstantin-axenov, @MariaMakeeva

[log-shipper] add node group name to logs metadata (#7098)
  modules/460-log-shipper/docs/README.md
  modules/460-log-shipper/docs/README_RU.md
  modules/460-log-shipper/hooks/internal/composer/testdata/config_1.json
  modules/460-log-shipper/hooks/internal/composer/testdata/config_2.json
  modules/460-log-shipper/hooks/internal/composer/testdata/config_4.json
  modules/460-log-shipper/hooks/internal/vector/destination/loki.go
  modules/460-log-shipper/hooks/internal/vector/source/kubernetes.go
  modules/460-log-shipper/hooks/internal/vrl/cleanup.go
  modules/460-log-shipper/hooks/testdata/es-5x/result.json
  modules/460-log-shipper/hooks/testdata/file-to-elastic/result.json
  modules/460-log-shipper/hooks/testdata/file-to-kafka-tls/result.json
  modules/460-log-shipper/hooks/testdata/file-to-kafka/result.json
  modules/460-log-shipper/hooks/testdata/file-to-loki/result.json
  modules/460-log-shipper/hooks/testdata/file-to-splunk/result.json
  modules/460-log-shipper/hooks/testdata/file-to-vector/result.json
  modules/460-log-shipper/hooks/testdata/many-to-one/result.json
  modules/460-log-shipper/hooks/testdata/multiline-custom-pods/result.json
  modules/460-log-shipper/hooks/testdata/multiline-custom/result.json
  modules/460-log-shipper/hooks/testdata/multiline/result.json
  modules/460-log-shipper/hooks/testdata/multiple-dest/result.json
  modules/460-log-shipper/hooks/testdata/namespaced-source/result.json
  modules/460-log-shipper/hooks/testdata/one-dest/result.json
  modules/460-log-shipper/hooks/testdata/pair-datastream/result.json
  modules/460-log-shipper/hooks/testdata/simple-pair/result.json
  modules/460-log-shipper/hooks/testdata/throttle-with-filter/result.json
  modules/460-log-shipper/hooks/testdata/throttle/result.json
Owners: @z9r5, @nabokihms, @konstantin-axenov, @MariaMakeeva

[testing] Ignore alerts generated by not init ebpf exporter only for older kernels in e2e tests (#7364)
  testing/cloud_layouts/script.d/wait_cluster_ready/test_alerts.sh
  testing/cloud_layouts/script.sh
Owners: none

[core] update containerd version (#7390)
  candi/bashible/common-steps/all/006_fetch_registry_packages.sh.tpl
  candi/bashible/common-steps/node-group/031_install_containerd.sh.tpl
  candi/bashible/common-steps/node-group/032_configure_and_start_containerd.sh.tpl
  modules/007-registrypackages/images/containerd/scripts/containerd.service
  modules/007-registrypackages/images/containerd/werf.inc.yaml
  testing/library/images_tags_generated.go
Owners: @RomanenkoDenys, @name212

[operator-trivy] update patch (#7321)
  ee/modules/500-operator-trivy/images/node-collector/patches/001-change-node-collector-config.patch
Owners: @miklezzzz

[multitenancy-manager] Default project template (#6633)
  ee/modules/160-multitenancy-manager/docs/USAGE.md
  ee/modules/160-multitenancy-manager/docs/USAGE_RU.md
  ee/modules/160-multitenancy-manager/hooks/apis/deckhouse.io/v1alpha1/projecttemplate_types.go
  ee/modules/160-multitenancy-manager/hooks/common_test.go
  ee/modules/160-multitenancy-manager/hooks/internal/common.go
  ee/modules/160-multitenancy-manager/hooks/internal/project-hooks.go
  ee/modules/160-multitenancy-manager/hooks/internal/project-template-hooks.go
  ee/modules/160-multitenancy-manager/hooks/migrate_project_releases_test.go
  ee/modules/160-multitenancy-manager/hooks/project.go
  ee/modules/160-multitenancy-manager/hooks/project_test.go
  ee/modules/160-multitenancy-manager/openapi/values.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/default-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/user-resources-templates.yaml
  ee/modules/160-multitenancy-manager/webhooks/validating/projectTemplate
  ee/modules/160-multitenancy-manager/webhooks/validating/projectType
Owners: @z9r5, @nabokihms, @konstantin-axenov, @MariaMakeeva, @yalosev, @Dmitrykob

Re-generate changelog v1.57.2 (#7384)
  CHANGELOG/CHANGELOG-v1.57.2.yml
  CHANGELOG/CHANGELOG-v1.57.md
Owners: none

[control-plane-manager] basicAuditPolicy fix generation serviceaccounts (#7342)
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  tools/audit_policy/main.go
Owners: @RomanenkoDenys, @name212

[metallb] Change updateMode to Initial (#7432)
  ee/modules/380-metallb/templates/speaker/daemonset.yaml
Owners: @RomanenkoDenys, @apolovov

[candi] Fix bash word splitting (#7410)
  candi/bashible/bashbooster/50_deckhouse_registrypackages.sh
  candi/bashible/bundles/centos/bootstrap.sh.tpl
Owners: @RomanenkoDenys, @name212

Revert "[monitoring-kubernetes] ebpf-exporter distroless (#6241)" (#7269)
  modules/000-common/images/alt/binary_replace.sh
  modules/340-monitoring-kubernetes/images/ebpf-exporter/Dockerfile
  modules/340-monitoring-kubernetes/images/ebpf-exporter/metrics/Makefile
  modules/340-monitoring-kubernetes/images/ebpf-exporter/metrics/oomkill.bpf.c
  modules/340-monitoring-kubernetes/images/ebpf-exporter/metrics/oomkill.yaml
  modules/340-monitoring-kubernetes/images/ebpf-exporter/patches/001-kernel-version-detection-and-individual-program-failure.patch
  modules/340-monitoring-kubernetes/images/ebpf-exporter/patches/README.md
  modules/340-monitoring-kubernetes/images/ebpf-exporter/werf.inc.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/ebpf-exporter.yaml
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/configmap.yaml
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/daemonset.yaml
Owners: @nabokihms

[modules-docs] Redirect to the stable version by default, fix canonical URL (#7362)
  docs/documentation/.werf/nginx.conf
  docs/documentation/Makefile
  docs/documentation/_includes/nav-breadcrumbs.html
  docs/documentation/_includes/sidebar.html
  docs/documentation/pages/DECKHOUSE-OVERVIEW.md
  docs/documentation/pages/DECKHOUSE-OVERVIEW_RU.md
  docs/site/.helm/templates/20-ingress.yaml
  docs/site/.werf/nginx.conf
  docs/site/backends/docs-builder-template/layouts/_default/baseof.html
  docs/site/backends/docs-builder-template/layouts/partials/head.html
  docs/site/werf.yaml
Owners: @z9r5, @nabokihms, @konstantin-axenov, @MariaMakeeva

[ingress-nginx] add missing tests for proxy-failover configmap (#7392)
  modules/402-ingress-nginx/template_tests/controller_test.go
Owners: @miklezzzz, @yalosev

Re-generate changelog v1.57.3 (#7397)
  CHANGELOG/CHANGELOG-v1.57.3.yml
  CHANGELOG/CHANGELOG-v1.57.md
Owners: none

Re-generate changelog v1.57.4 (#7435)
  CHANGELOG/CHANGELOG-v1.57.4.yml
  CHANGELOG/CHANGELOG-v1.57.md
Owners: none

Revert "[monitoring-kubernetes] ebpf-exporter fix min kernel version (#7272)" (#7411)
  modules/002-deckhouse/hooks/check_kernel_versions.go
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/kernel-requirements.yaml
  modules/340-monitoring-kubernetes/docs/README.md
  modules/340-monitoring-kubernetes/docs/README_RU.md
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/daemonset.yaml
Owners: @yalosev, @nabokihms, @z9r5, @konstantin-axenov, @MariaMakeeva

[deckhouse-controller] update module registry settings (#7096)
  deckhouse-controller/pkg/controller/module-controllers/downloader/module_downloader.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
Owners: @yalosev

[docs][node-manager] Fix NodeUser uid example type (#7434)
  modules/040-node-manager/crds/nodeuser.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5, @MariaMakeeva

[node-manager] Forbid to change NodeGroup if it contains unknown zone (#7248)
  modules/040-node-manager/webhooks/validating/node_group
Owners: @RomanenkoDenys, @name212

[docs][testing] Use Astra Linux 1.7.5 in e2e static tests (#7396)
  docs/documentation/_data/version_map_addition.yml
  testing/cloud_layouts/Static/infra.tpl.tf
Owners: @z9r5, @nabokihms, @konstantin-axenov, @MariaMakeeva

[candi] Documentation updates (#7426)
  candi/cloud-providers/yandex/openapi/instance_class.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5, @MariaMakeeva

[candi] fix bashible message about node annotation (#7452)
  candi/bashible/bashible.sh.tpl
Owners: @RomanenkoDenys, @name212

[core] Fix error in audit policy generation. (#7406)
  ee/be/modules/140-user-authz/.namespace
  ee/modules/015-admission-policy-engine/.namespace
  ee/modules/110-istio/.namespace
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/041-linstor/templates/linstor-scheduler-admission/webhook.yaml
Owners: @nabokihms, @apolovov, @yalosev, @RomanenkoDenys, @name212, @AleksZimin
