Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @konstantin-axenov, @nabokihms, @shvgn, @name212, @zuzzas, @vitaliy-sn, @RomanenkoDenys, @apolovov, @kvaps

[openvpn] Set default value for loadbalancer object in the OpenAPI schema (#1353)
  ee/fe/modules/500-openvpn/openapi/config-values.yaml
Owners: @vitaliy-sn

Re-generate changelog (#1356)
  CHANGELOG/CHANGELOG-v1.32.2.yml
  CHANGELOG/CHANGELOG-v1.32.md
Owners: @konstantin-axenov, @nabokihms

[linstor] faq: add error case
  modules/031-linstor/docs/FAQ.md
  modules/031-linstor/docs/FAQ_RU.md
Owners: @kvaps

[log-shipper] Fix inotify events
  modules/460-log-shipper/images/vector/reloader
Owners: @nabokihms

optimized imports
  modules/040-node-manager/hooks/chaos_monkey.go
  modules/040-node-manager/hooks/deployment_required.go
  modules/340-monitoring-kubernetes/hooks/choose_nodes_for_ebpf_exporter.go
Owners: @konstantin-axenov, @nabokihms

+
  modules/040-node-manager/hooks/deployment_required.go
  modules/040-node-manager/hooks/discover_standby_ng.go
Owners: @konstantin-axenov, @nabokihms

Rename NodeGroup package from "internal" to "api" and move it to go_lib
  go_lib/api/mcm/v1alpha1/README.md
  go_lib/api/mcm/v1alpha1/machine.go
  go_lib/api/mcm/v1alpha1/machine_deployment.go
  go_lib/api/shared/conf-checksum.go
  go_lib/api/v1/boilerplate.go.txt
  go_lib/api/v1/doc.go
  go_lib/api/v1/nodegroup.go
  go_lib/api/v1/nodegroup_generated.deepcopy.go
  go_lib/api/v1alpha2/doc.go
  go_lib/api/v1alpha2/nodegroup.go
  go_lib/api/v1alpha2/nodegroup_generated.deepcopy.go
  modules/040-node-manager/hooks/chaos_monkey.go
  modules/040-node-manager/hooks/deployment_required.go
  modules/040-node-manager/hooks/discover_standby_ng.go
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/handle_node_templates.go
  modules/040-node-manager/hooks/machineclass_checksum_collect.go
  modules/040-node-manager/hooks/order_bootstrap_token.go
  modules/040-node-manager/hooks/set_replicas_on_machine_deployment.go
  modules/040-node-manager/hooks/update_approval.go
  modules/040-node-manager/hooks/update_node_group_status.go
  modules/340-monitoring-kubernetes/hooks/choose_nodes_for_ebpf_exporter.go
Owners: @konstantin-axenov, @nabokihms

+
  modules/040-node-manager/hooks/chaos_monkey.go
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/order_bootstrap_token.go
  modules/340-monitoring-kubernetes/hooks/choose_nodes_for_ebpf_exporter.go
Owners: @konstantin-axenov, @nabokihms

[monitoring-kubernetes] Detect proper kernel version for eBPF programs
  modules/340-monitoring-kubernetes/images/ebpf-exporter/Dockerfile
  modules/340-monitoring-kubernetes/images/ebpf-exporter/entrypoint.sh
  modules/340-monitoring-kubernetes/images/ebpf-exporter/kernel-version-parser/go.mod
  modules/340-monitoring-kubernetes/images/ebpf-exporter/kernel-version-parser/go.sum
  modules/340-monitoring-kubernetes/images/ebpf-exporter/kernel-version-parser/main.go
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/configmap.yaml
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/daemonset.yaml
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/programs/oomkill.tpl
Owners: @konstantin-axenov, @nabokihms

+
  modules/340-monitoring-kubernetes/hooks/choose_nodes_for_ebpf_exporter.go
  modules/340-monitoring-kubernetes/hooks/choose_nodes_for_ebpf_exporter_test.go
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/programs/oomkill.tpl
Owners: @konstantin-axenov, @nabokihms

+
  modules/040-node-manager/hooks/handle_node_templates.go
Owners: @konstantin-axenov, @nabokihms

super +
  modules/340-monitoring-kubernetes/images/ebpf-exporter/001-kernel-version-detection-and-individual-program-failure.patch
  modules/340-monitoring-kubernetes/images/ebpf-exporter/Dockerfile
  modules/340-monitoring-kubernetes/images/ebpf-exporter/entrypoint.sh
  modules/340-monitoring-kubernetes/images/ebpf-exporter/kernel-version-parser/go.mod
  modules/340-monitoring-kubernetes/images/ebpf-exporter/kernel-version-parser/go.sum
  modules/340-monitoring-kubernetes/images/ebpf-exporter/kernel-version-parser/main.go
Owners: @konstantin-axenov, @nabokihms

+
  modules/040-node-manager/hooks/machineclass_checksum_collect.go
  modules/040-node-manager/hooks/set_replicas_on_machine_deployment.go
  modules/040-node-manager/hooks/update_approval.go
  modules/040-node-manager/hooks/update_node_group_status.go
Owners: @konstantin-axenov, @nabokihms

Skip Nodes with non-managed kernel for ebpf-exporter
  modules/340-monitoring-kubernetes/hooks/choose_nodes_for_ebpf_exporter.go
  modules/340-monitoring-kubernetes/hooks/choose_nodes_for_ebpf_exporter_test.go
Owners: @konstantin-axenov, @nabokihms

Rename field in a hook
  modules/340-monitoring-kubernetes/hooks/choose_nodes_for_ebpf_exporter.go
Owners: @konstantin-axenov, @nabokihms

loosened up kernel reqs
  modules/340-monitoring-kubernetes/hooks/choose_nodes_for_ebpf_exporter.go
  modules/340-monitoring-kubernetes/hooks/choose_nodes_for_ebpf_exporter_test.go
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/programs/oomkill.tpl
Owners: @konstantin-axenov, @nabokihms

+
  .golangci.yaml
Owners: @konstantin-axenov, @nabokihms

+
  modules/340-monitoring-kubernetes/images/ebpf-exporter/001-kernel-version-detection-and-individual-program-failure.patch
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/configmap.yaml
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/daemonset.yaml
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/programs/oomkill.tpl
Owners: @konstantin-axenov, @nabokihms

+
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/configmap.yaml
Owners: @konstantin-axenov, @nabokihms

[docs] update ee landing info
  docs/site/_includes/head-site.html
  docs/site/css/components/_table.scss
  docs/site/pages/enterprise_edition.html
  docs/site/pages/enterprise_edition_ru.html
Owners: @konstantin-axenov, @nabokihms

[docs] update ee landing info (#1360)
  docs/site/_includes/head-site.html
  docs/site/css/components/_table.scss
  docs/site/pages/enterprise_edition.html
  docs/site/pages/enterprise_edition_ru.html
Owners: @konstantin-axenov, @nabokihms

Updates
  candi/cloud-providers/yandex/docs/ENVIRONMENT.md
  candi/cloud-providers/yandex/docs/ENVIRONMENT_RU.md
  candi/cloud-providers/yandex/docs/LAYOUTS.md
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-instance_class.yaml
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-yandex/docs/CONFIGURATION.md
  modules/030-cloud-provider-yandex/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-yandex/docs/FAQ.md
  modules/030-cloud-provider-yandex/docs/FAQ_RU.md
  modules/030-cloud-provider-yandex/openapi/config-values.yaml
  modules/030-cloud-provider-yandex/openapi/doc-ru-config-values.yaml
Owners: @konstantin-axenov, @nabokihms

Updates
  modules/031-linstor/docs/FAQ.md
  modules/031-linstor/docs/FAQ_RU.md
Owners: @kvaps

[linstor] Update FAQ: add error case (#1358)
  modules/031-linstor/docs/FAQ.md
  modules/031-linstor/docs/FAQ_RU.md
Owners: @kvaps

[docs] Fix the text of the articles in the section «Yandex.Cloud» (#1222)
  candi/cloud-providers/yandex/docs/ENVIRONMENT.md
  candi/cloud-providers/yandex/docs/ENVIRONMENT_RU.md
  candi/cloud-providers/yandex/docs/LAYOUTS.md
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/yandex/openapi/instance_class.yaml
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-yandex/docs/CONFIGURATION.md
  modules/030-cloud-provider-yandex/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-yandex/docs/FAQ.md
  modules/030-cloud-provider-yandex/docs/FAQ_RU.md
  modules/030-cloud-provider-yandex/docs/README.md
  modules/030-cloud-provider-yandex/docs/README_RU.md
  modules/030-cloud-provider-yandex/docs/USAGE.md
  modules/030-cloud-provider-yandex/docs/USAGE_RU.md
  modules/030-cloud-provider-yandex/openapi/config-values.yaml
  modules/030-cloud-provider-yandex/openapi/doc-ru-config-values.yaml
Owners: @konstantin-axenov, @nabokihms

[cloud-provider-vsphere] small fixes
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/modules/030-cloud-provider-vsphere/hooks/vsphere_cluster_configuration.go
  ee/modules/030-cloud-provider-vsphere/hooks/vsphere_cluster_configuration_test.go
Owners: @konstantin-axenov, @nabokihms

[log-shipper] Copyrights
  modules/460-log-shipper/hooks/internal/vector/config/pipeline.go
  modules/460-log-shipper/hooks/internal/vector/transform/default.go
  modules/460-log-shipper/hooks/internal/vector/transform/elasticsearch.go
  modules/460-log-shipper/hooks/internal/vector/transform/extra_fields.go
  modules/460-log-shipper/hooks/internal/vector/transform/log_filter.go
  modules/460-log-shipper/hooks/internal/vector/transform/multiline.go
  modules/460-log-shipper/hooks/internal/vector/vrl/cleanup.go
  modules/460-log-shipper/hooks/internal/vector/vrl/common.go
  modules/460-log-shipper/hooks/internal/vector/vrl/elasticsearch.go
  modules/460-log-shipper/hooks/internal/vector/vrl/json.go
  modules/460-log-shipper/hooks/internal/vector/vrl/log_filter.go
  modules/460-log-shipper/hooks/internal/vector/vrl/multiline.go
Owners: @nabokihms

[go_lib::storage_class_change] fix for storageClass="false"
  go_lib/hooks/storage_class_change/hook.go
Owners: @konstantin-axenov, @nabokihms

[log-shipper] Little fixes
  modules/460-log-shipper/hooks/internal/vector/config/testdata/config_1.json
  modules/460-log-shipper/hooks/internal/vector/config/testdata/config_2.json
  modules/460-log-shipper/hooks/internal/vector/model/source.go
  modules/460-log-shipper/hooks/testdata/es-5x.json
  modules/460-log-shipper/hooks/testdata/multiline.json
  modules/460-log-shipper/hooks/testdata/multiple-dests.json
  modules/460-log-shipper/hooks/testdata/namespaced-source.json
  modules/460-log-shipper/hooks/testdata/one-dest.json
  modules/460-log-shipper/hooks/testdata/pair-datastream.json
  modules/460-log-shipper/hooks/testdata/simple-pair.json
  modules/460-log-shipper/images/vector/reloader
Owners: @nabokihms

[cloud-provider-yandex] set default platformID in instance class and prepare checksumm calc
  candi/cloud-providers/yandex/openapi/instance_class.yaml
  modules/030-cloud-provider-yandex/cloud-instance-manager/machine-class.checksum
  modules/030-cloud-provider-yandex/hooks/yandex_cluster_configuration_test.go
Owners: @konstantin-axenov, @nabokihms

[cloud-provider-yandex] change default platform
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
Owners: @konstantin-axenov, @nabokihms

++
  modules/040-control-plane-manager/hooks/etcd_defragmentation.go
Owners: @konstantin-axenov, @nabokihms

[docs] Minor updates
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
  modules/030-cloud-provider-yandex/openapi/values.yaml
Owners: @konstantin-axenov, @nabokihms

[docs] Minor updates (#1367)
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
  modules/030-cloud-provider-yandex/openapi/values.yaml
Owners: @konstantin-axenov, @nabokihms

Fix article text in «The cni-flannel module: configuration» page
  modules/035-cni-flannel/docs/CONFIGURATION.md
  modules/035-cni-flannel/docs/CONFIGURATION_RU.md
  modules/035-cni-flannel/openapi/config-values.yaml
  modules/035-cni-flannel/openapi/doc-ru-config-values.yaml
Owners: @konstantin-axenov, @nabokihms

Fix article text in «The kube-proxy module» page
  modules/021-kube-proxy/docs/README.md
  modules/021-kube-proxy/docs/README_RU.md
Owners: @konstantin-axenov, @nabokihms

Fix article text in «The cni-simple-bridge module» page
  modules/035-cni-simple-bridge/docs/README.md
  modules/035-cni-simple-bridge/docs/README_RU.md
Owners: @konstantin-axenov, @nabokihms

Fix article text in «The kube-dns module» page
  modules/042-kube-dns/docs/README.md
  modules/042-kube-dns/docs/README_RU.md
  modules/042-kube-dns/openapi/config-values.yaml
  modules/042-kube-dns/openapi/doc-ru-config-values.yaml
Owners: @konstantin-axenov, @nabokihms

Fix article text in «The Terraform Manager module: configuration» page
  modules/040-terraform-manager/docs/README.md
  modules/040-terraform-manager/docs/README_RU.md
  modules/040-terraform-manager/openapi/config-values.yaml
  modules/040-terraform-manager/openapi/doc-ru-config-values.yaml
Owners: @konstantin-axenov, @nabokihms

Fix article text in «The node-local-dns module» page
  ee/modules/350-node-local-dns/docs/CONFIGURATION.md
  ee/modules/350-node-local-dns/docs/CONFIGURATION_RU.md
  ee/modules/350-node-local-dns/docs/README.md
  ee/modules/350-node-local-dns/docs/README_RU.md
  ee/modules/350-node-local-dns/docs/USAGE_RU.md
Owners: @konstantin-axenov, @nabokihms

.github/CODEOWNERS:

*                           @konstantin-axenov @nabokihms
150-user-authn/             @nabokihms
402-ingress-nginx/          @nabokihms
460-log-shipper/            @nabokihms
500-upmeter/                @shvgn
dhctl/                      @name212
# cilium/                   @zuzzas
csi/                        @zuzzas
500-openvpn/                @vitaliy-sn
bashible-apiserver/         @RomanenkoDenys
470-chrony/                 @RomanenkoDenys
031-local-path-provisioner/ @RomanenkoDenys
110-istio/                  @apolovov
031-linstor/                @kvaps
