Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @yalosev, @miklezzzz, @RomanenkoDenys, @nabokihms, @AleksZimin, @apolovov, @aleksey-su, @Dmitrykob, @fl64, @vitaliy-sn, @shvgn, @z9r5, @konstantin-axenov

.github/CODEOWNERS:

.github/                        @name212
002-deckhouse/                  @yalosev @miklezzzz
005-external-module-manager/    @yalosev @miklezzzz
007-registrypackages/           @RomanenkoDenys
010-cloud-data-crd/             @nabokihms
010-operator-prometheus-crd/    @nabokihms
010-prometheus-crd/             @nabokihms
010-snapshot-controller-crd/    @AleksZimin
010-user-authn-crd/             @nabokihms
010-vertical-pod-autoscaler-crd/ @nabokihms
011-flow-schema/                @RomanenkoDenys @name212
015-admission-policy-engine/    @yalosev @miklezzzz
021-cni-cilium/                 @apolovov
021-kube-proxy/                 @RomanenkoDenys
030-cloud-provider-aws/         @RomanenkoDenys @name212
030-cloud-provider-azure/       @RomanenkoDenys @name212
030-cloud-provider-gcp/         @RomanenkoDenys @name212
030-cloud-provider-yandex/      @RomanenkoDenys @name212 @aleksey-su
030-cloud-provider-openstack/   @RomanenkoDenys @name212
030-cloud-provider-vsphere/     @RomanenkoDenys
031-local-path-provisioner/     @RomanenkoDenys @name212
035-cni-flannel/                @apolovov
035-cni-simple-bridge/          @apolovov
040-control-plane-manager/      @RomanenkoDenys @name212
040-node-manager/               @RomanenkoDenys @name212 @aleksey-su
040-terraform-manager/          @name212 @aleksey-su
041-ceph-csi/                   @RomanenkoDenys @name212
042-kube-dns/                   @nabokihms
045-snapshot-controller/        @AleksZimin
050-network-policy-engine/      @apolovov
101-cert-manager/               @yalosev @miklezzzz
110-istio/                      @apolovov
140-user-authz/                 @nabokihms @apolovov
150-user-authn/                 @nabokihms
160-multitenancy-manager/       @yalosev @Dmitrykob @miklezzzz
200-operator-prometheus/        @nabokihms
300-prometheus/                 @nabokihms
301-prometheus-*/               @nabokihms
302-vertical-pod-autoscaler/    @RomanenkoDenys
303-prometheus-*/               @nabokihms
340-extended-monitoring/        @nabokihms
340-monitoring-*/               @nabokihms
350-node-local-dns/             @RomanenkoDenys
380-metallb/                    @RomanenkoDenys @apolovov
400-descheduler/                @RomanenkoDenys @name212
402-ingress-nginx/              @miklezzzz @yalosev
460-log-shipper/                @nabokihms
462-loki/                       @nabokihms
465-pod-reloader/               @RomanenkoDenys
470-chrony/                     @RomanenkoDenys
491-containerized-data-importer @fl64
500-openvpn/                    @vitaliy-sn
500-cilium-hubble/              @apolovov
500-dashboard/                  @nabokihms
500-upmeter/                    @nabokihms
500-okmeter/                    @nabokihms
500-operator-trivy/             @miklezzzz @yalosev
502-delivery/                   @shvgn
600-flant-integration/          @nabokihms
600-namespace-configurator/     @yalosev @miklezzzz
650-runtime-audit-engine/       @nabokihms
810-documentation/              @z9r5 @nabokihms
bashible-apiserver/             @RomanenkoDenys @name212
candi/                          @RomanenkoDenys @name212
cloud-controller-manager/       @RomanenkoDenys @name212 @aleksey-su
csi/                            @AleksZimin
deckhouse-controller/           @yalosev @miklezzzz
dhctl/                          @name212 @aleksey-su
docs/                           @z9r5 @nabokihms
helm_lib/                       @name212
crds/                           @nabokihms @konstantin-axenov @z9r5
openapi/                        @nabokihms @konstantin-axenov @z9r5

fix terraform
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/outputs.tf
Owners: @RomanenkoDenys, @name212

add cluster configuration
  ee/modules/030-cloud-provider-zvirt/.helmignore
  ee/modules/030-cloud-provider-zvirt/.namespace
Owners: none

add cluster configuration
  candi/terraform_versions.yml
Owners: @RomanenkoDenys, @name212

[zvirt] terraform fix (#7824)
  ee/candi/cloud-providers/ovirt/terraform-modules/providers.tf
  ee/candi/cloud-providers/ovirt/terraform-modules/variables.tf
  ee/candi/cloud-providers/ovirt/terraform-modules/versions.tf
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/variables.tf
  ee/modules/030-cloud-provider-zvirt/openapi/values.yaml
Owners: @RomanenkoDenys, @name212, @nabokihms, @konstantin-axenov, @z9r5

[zvirt] fix tf
  ee/candi/cloud-providers/zvirt/layouts/standard/variables.tf
Owners: @RomanenkoDenys, @name212

fix vm deletion
  ee/modules/030-cloud-provider-zvirt/images/capz-controller-manager/src/internal/controller/zvirtmachine_controller.go
Owners: none

[cloud-providers] zvirt fix cni
  ee/modules/030-cloud-provider-zvirt/openapi/values.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cni.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[zvirt] fix tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/variables.tf
Owners: @RomanenkoDenys, @name212

[zvirt] fix storage class
  ee/modules/030-cloud-provider-zvirt/templates/csi/storage-classes.yaml
Owners: @AleksZimin

[zvirt] provider-discovery-data (#7811)
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/outputs.tf
  ee/candi/cloud-providers/zvirt/openapi/cloud_discovery_data.yaml
  ee/modules/030-cloud-provider-zvirt/hooks/zvirt_cluster_configuration.go
  ee/modules/030-cloud-provider-zvirt/openapi/values.yaml
Owners: @RomanenkoDenys, @name212, @nabokihms, @konstantin-axenov, @z9r5

[cloud-providers] zvirt fix cni
  werf.yaml
Owners: none

Fix CodeQL alert
  ee/modules/030-cloud-provider-zvirt/images/capz-controller-manager/src/internal/controller/zvirtcluster_controller.go
Owners: none

[zvirt] fix tf
  ee/candi/cloud-providers/zvirt/layouts/standard/variables.tf
Owners: @RomanenkoDenys, @name212

[zvirt] rebase
  .github/dependabot.yml
  tools/build_includes/candi-FE.yaml
Owners: @name212

Feature/zvirt csi driver (#7759)
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/outputs.tf
  ee/candi/cloud-providers/zvirt/openapi/cloud_discovery_data.yaml
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/doc-ru-instance_class.yaml
  ee/candi/cloud-providers/zvirt/openapi/instance_class.yaml
  ee/modules/030-cloud-provider-zvirt/hooks/discover.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/cmd/zvirt-cloud-controller-manager/main.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/go.mod
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/go.sum
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/pkg/cloudprovider/zvirt/cloud.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/pkg/cloudprovider/zvirt/instances.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/pkg/cloudprovider/zvirt/util.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/pkg/zvirtapi/api.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/pkg/zvirtapi/compute.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/pkg/zvirtapi/util.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/werf.inc.yaml
  ee/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/go.mod
  ee/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/go.sum
  ee/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/main.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/werf.inc.yaml
  ee/modules/030-cloud-provider-zvirt/images/zvirt-csi-driver/werf.inc.yaml
  ee/modules/030-cloud-provider-zvirt/openapi/values.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-data-discoverer/deployment.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-data-discoverer/pod-monitor.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-data-discoverer/rbac-for-us.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-data-discoverer/rbac-to-us.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-data-discoverer/secret.yaml
  ee/modules/030-cloud-provider-zvirt/templates/csi/controller.yaml
  ee/modules/030-cloud-provider-zvirt/templates/csi/csidriver.yaml
  ee/modules/030-cloud-provider-zvirt/templates/csi/rbac-for-us.yaml
  ee/modules/030-cloud-provider-zvirt/templates/csi/secret.yaml
  ee/modules/030-cloud-provider-zvirt/templates/csi/storage-classes.yaml
  ee/modules/040-terraform-manager/images/terraform-manager-zvirt/werf.inc.yaml
  go_lib/cloud-data/apis/v1alpha1/zvirt_cloud_provider_discovery_data.go
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  testing/library/images_tags_generated.go
Owners: @RomanenkoDenys, @name212, @nabokihms, @konstantin-axenov, @z9r5, @aleksey-su, @AleksZimin

[cloud-providers] zvirt fix openapi
  ee/modules/030-cloud-provider-zvirt/templates/cni.yaml
Owners: none

[cloud-providers] zvirt fix werf
  werf.yaml
Owners: none

Apply suggestions from code review
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION_RU.md
Owners: @z9r5, @nabokihms

Tag VMs with cluster UUID
  ee/modules/030-cloud-provider-zvirt/images/capz-controller-manager/src/internal/tagger/tagger.go
Owners: none

add externalTrafficPolicy option, fix examples in documentation
  ee/modules/381-l2-load-balancer/crds/doc-ru-l2-load-balncer.yaml
  ee/modules/381-l2-load-balancer/crds/l2-load-balncer.yaml
  ee/modules/381-l2-load-balancer/docs/EXAMPLES.md
  ee/modules/381-l2-load-balancer/docs/EXAMPLES_RU.md
  ee/modules/381-l2-load-balancer/hooks/common.go
  ee/modules/381-l2-load-balancer/hooks/handle_load_balancers.go
  ee/modules/381-l2-load-balancer/hooks/handle_load_balancers_test.go
  ee/modules/381-l2-load-balancer/openapi/values.yaml
  ee/modules/381-l2-load-balancer/template_tests/module_test.go
  ee/modules/381-l2-load-balancer/templates/user-services/service.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Updates
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION_RU.md
Owners: @z9r5, @nabokihms

Updates
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION_RU.md
Owners: @z9r5, @nabokihms

[cloud-provider-openstack] Add to docs required OpenStack services (#7904)
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION_RU.md
Owners: @z9r5, @nabokihms

[cloud-provider-openstack] Add to docs required OpenStack services (#7904)
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION_RU.md
Owners: @z9r5, @nabokihms

[cloud-provider-openstack] Add to docs required OpenStack services (#7904) (#7970)
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION_RU.md
Owners: @z9r5, @nabokihms

Update manifests.go
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
Owners: @name212, @aleksey-su

[ingress-nginx] improve log formatting
  modules/402-ingress-nginx/templates/controller/configmap.yaml
Owners: @miklezzzz, @yalosev

[cloud-provider-openstack] Allow to install clusters with http proxy (#7924)
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-openstack/templates/cloud-controller-manager/deployment.yaml
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/deployment.yaml
  ee/modules/030-cloud-provider-openstack/templates/csi/controller.yaml
Owners: @RomanenkoDenys, @name212, @aleksey-su, @AleksZimin

[user-authn] fixed if idTokenTTL > keepUsersLoggedInFor
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
Owners: @nabokihms

item 21961
  helm_lib/charts/deckhouse_lib_helm/templates/__function_duration_to_seconds.tpl
  modules/150-user-authn/template_tests/authenticator_test.go
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
Owners: @name212, @nabokihms

item 23846
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
Owners: @nabokihms

item 1215
  modules/150-user-authn/template_tests/authenticator_test.go
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
Owners: @nabokihms

item 26328
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
Owners: @nabokihms

item 26096
  modules/150-user-authn/template_tests/authenticator_test.go
Owners: @nabokihms

Apply suggestions from code review
  ee/modules/381-l2-load-balancer/crds/doc-ru-l2-load-balncer.yaml
  ee/modules/381-l2-load-balancer/docs/EXAMPLES.md
  ee/modules/381-l2-load-balancer/docs/EXAMPLES_RU.md
Owners: @nabokihms, @konstantin-axenov, @z9r5

Rename doc-ru-l2-load-balncer.yaml to doc-ru-l2-load-balancer.yaml
  ee/modules/381-l2-load-balancer/crds/doc-ru-l2-load-balancer.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Rename l2-load-balncer.yaml to l2-load-balancer.yaml
  ee/modules/381-l2-load-balancer/crds/l2-load-balancer.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[dhctl] feat(dhctl-for-commander): Add typed validation errors for commander (#7843)
  dhctl/pkg/config/connection.go
  dhctl/pkg/config/connection_test.go
  dhctl/pkg/config/validation.go
  dhctl/pkg/config/validation_rules_test.go
  dhctl/pkg/config/validation_test.go
Owners: @name212, @aleksey-su

Fix links
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Owners: @z9r5, @nabokihms

[docs] Fix links (#7973)
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Owners: @z9r5, @nabokihms
