Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @diafour, @yalosev, @zuzzas, @RomanenkoDenys, @konstantin-axenov, @kvaps, @name212, @apolovov, @nabokihms, @vitaliy-sn, @shvgn, @z9r5

++
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Owners: none

++
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Owners: none

templates: pass http(s) mode to manifests
  ee/modules/502-delivery/templates/argocd/argocd-cm-configmap.yaml
  ee/modules/502-delivery/templates/argocd/server/d8-ingress.yaml
Owners: none

[docs] Update links onthe site
  docs/site/pages/policies/security_policy_ru.html
Owners: @z9r5

[docs] Update links onthe site
  modules/030-cloud-provider-gcp/docs/CONFIGURATION.md
  modules/460-log-shipper/openapi/config-values.yaml
  modules/460-log-shipper/openapi/doc-ru-config-values.yaml
Owners: @z9r5, @nabokihms

auto-configure non-TLS connection
  ee/modules/502-delivery/templates/argocd/server/argocd-server-deployment.yaml
  ee/modules/502-delivery/templates/argocd/server/d8-ingress.yaml
Owners: none

turn off dex client if https.mode is insecure
  ee/modules/502-delivery/templates/argocd/argocd-cm-configmap.yaml
  ee/modules/502-delivery/templates/argocd/server/d8-dex-client.yaml
Owners: none

added check in alteros and redos
  ee/candi/bashible/bundles/alteros/bootstrap.sh.tpl
  ee/candi/bashible/bundles/redos/bootstrap.sh.tpl
Owners: @RomanenkoDenys

fix: change the rendering of ingress backend protocol
  ee/modules/502-delivery/templates/argocd/server/d8-ingress.yaml
Owners: none

[cloud-provider-openstack] Added patch for old OpenStack versions support
  ee/modules/030-cloud-provider-openstack/images/cinder-csi-plugin/werf.inc.yaml
  ee/modules/030-cloud-provider-openstack/openapi/config-values.yaml
  ee/modules/030-cloud-provider-openstack/openapi/doc-ru-config-values.yaml
  ee/modules/030-cloud-provider-openstack/openapi/values.yaml
  ee/modules/030-cloud-provider-openstack/template_tests/module_test.go
  ee/modules/030-cloud-provider-openstack/templates/cloud-controller-manager/secret.yaml
Owners: @konstantin-axenov, @zuzzas

[cloud-provider-openstack] Added patch for old OpenStack versions support
  ee/modules/030-cloud-provider-openstack/images/cinder-csi-plugin/werf.inc.yaml
  ee/modules/030-cloud-provider-openstack/openapi/config-values.yaml
  ee/modules/030-cloud-provider-openstack/openapi/doc-ru-config-values.yaml
  ee/modules/030-cloud-provider-openstack/openapi/values.yaml
  ee/modules/030-cloud-provider-openstack/template_tests/module_test.go
  ee/modules/030-cloud-provider-openstack/templates/cloud-controller-manager/secret.yaml
Owners: @konstantin-axenov, @zuzzas

Test #3
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Owners: none

Test #4
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Owners: none

[docs] Update links onthe site
  modules/030-cloud-provider-azure/docs/CONFIGURATION.md
  modules/030-cloud-provider-azure/docs/CONFIGURATION_RU.md
Owners: @z9r5

Doc fix links (#3266)
  docs/site/pages/policies/security_policy_ru.html
  modules/030-cloud-provider-azure/docs/CONFIGURATION.md
  modules/030-cloud-provider-azure/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-gcp/docs/CONFIGURATION.md
  modules/460-log-shipper/openapi/config-values.yaml
  modules/460-log-shipper/openapi/doc-ru-config-values.yaml
Owners: @z9r5, @nabokihms

Doc fix links (#3266)
  docs/site/pages/policies/security_policy_ru.html
  modules/030-cloud-provider-azure/docs/CONFIGURATION.md
  modules/030-cloud-provider-azure/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-gcp/docs/CONFIGURATION.md
  modules/460-log-shipper/openapi/config-values.yaml
  modules/460-log-shipper/openapi/doc-ru-config-values.yaml
Owners: @z9r5, @nabokihms

Doc fix links (#3266) (#3268)
  docs/site/pages/policies/security_policy_ru.html
  modules/030-cloud-provider-azure/docs/CONFIGURATION.md
  modules/030-cloud-provider-azure/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-gcp/docs/CONFIGURATION.md
  modules/460-log-shipper/openapi/config-values.yaml
  modules/460-log-shipper/openapi/doc-ru-config-values.yaml
Owners: @z9r5, @nabokihms

Update golang to 1.19
  .github/ci_templates/build.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
Owners: @diafour

[control-plane-manager] add RU docs multi-master->single-master, change image on masters
  modules/040-control-plane-manager/docs/FAQ_RU.md
Owners: @z9r5

[control-plane-manager] add EN docs multi-master->single-master, change image
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Owners: @z9r5

++
  werf.yaml
Owners: none

+
  candi/image_versions.yml
Owners: @RomanenkoDenys

[docs] Clarify the use of the ami parameter in the AWSInstanceClass
  candi/cloud-providers/aws/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/aws/openapi/instance_class.yaml
Owners: @RomanenkoDenys

+
  werf.yaml
Owners: none

+
  werf.yaml
Owners: none

+
  werf.yaml
Owners: none

+
  modules/003-deckhouse-config/hooks/update_status.go
Owners: none

+
  werf.yaml
Owners: none

+
  modules/040-node-manager/hooks/internal/autoscaler/instance_types/instance_type.go
  modules/301-prometheus-metrics-adapter/hooks/internal/state.go
  modules/460-log-shipper/hooks/internal/vrl/multiline.go
Owners: @yalosev, @nabokihms

[docs] Clarify the use of the ami parameter in the AWSInstanceClass (#3271)
  candi/cloud-providers/aws/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/aws/openapi/instance_class.yaml
Owners: @RomanenkoDenys

[docs] Clarify the use of the ami parameter in the AWSInstanceClass (#3271)
  candi/cloud-providers/aws/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/aws/openapi/instance_class.yaml
Owners: @RomanenkoDenys

[docs] Clarify the use of the ami parameter in the AWSInstanceClass (#3271) (#3272)
  candi/cloud-providers/aws/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/aws/openapi/instance_class.yaml
Owners: @RomanenkoDenys

+
  go_lib/hooks/tls_certificate/internal_tls.go
  modules/460-log-shipper/hooks/internal/vector/transform/extra_fields.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/scheduler_test.go
Owners: @nabokihms, @shvgn

+
  modules/040-control-plane-manager/hooks/audit_policy.go
Owners: @yalosev

gofmt -s
  global-hooks/deckhouse-config/startup_sync.go
  go_lib/deckhouse-config/config_map_section.go
  go_lib/deckhouse-config/initial_config_loader.go
  go_lib/dependency/cr/cr_mock.go
  go_lib/dependency/etcd/etcd_mock.go
  go_lib/dependency/http/http_mock.go
  go_lib/dependency/vsphere/vsphere_mock.go
  modules/013-helm/hooks/metrics.go
  modules/040-control-plane-manager/hooks/lock_main_queue.go
  modules/040-control-plane-manager/images/kube-apiserver-healthcheck/main.go
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/update_approval.go
  modules/040-node-manager/hooks/util.go
  modules/040-node-manager/images/bashible-apiserver/hack/tools.go
  modules/040-node-manager/images/bashible-apiserver/pkg/apis/bashible/v1alpha1/zz_generated.conversion.go
  modules/040-node-manager/images/bashible-apiserver/pkg/apis/bashible/v1alpha1/zz_generated.deepcopy.go
  modules/040-node-manager/images/bashible-apiserver/pkg/apis/bashible/v1alpha1/zz_generated.defaults.go
  modules/040-node-manager/images/bashible-apiserver/pkg/apis/bashible/zz_generated.deepcopy.go
  modules/040-node-manager/images/bashible-apiserver/pkg/generated/clientset/versioned/fake/register.go
  modules/040-node-manager/images/bashible-apiserver/pkg/generated/clientset/versioned/scheme/register.go
  modules/040-node-manager/images/bashible-apiserver/pkg/generated/openapi/zz_generated.openapi.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context_name.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/funcs.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/steps_storage.go
  modules/041-linstor/images/linstor-pools-importer/main_test.go
  modules/101-cert-manager/hooks/create_registry_secret_for_solver.go
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/app/server/metrics.go
  modules/460-log-shipper/hooks/internal/composer/config.go
  modules/500-upmeter/hooks/smokemini/internal/snapshot/gen_parse.go
  testing/hooks/validation/exported_struct_test.go
  testing/hooks_configuration/hooks_configuration_test.go
  testing/openapi_validation/openapi_validation_test.go
  tools/build.go
  tools/tools.go
Owners: @yalosev, @kvaps, @nabokihms, @shvgn

[namespace-configurator] multiple configurations together fix
  modules/600-namespace-configurator/hooks/handler.go
  modules/600-namespace-configurator/hooks/handler_test.go
Owners: none

just trying dummy cni-kubernetes update
  candi/version_map.yml
Owners: @RomanenkoDenys

make generate
  testing/library/images_tags_generated.go
Owners: none

[control-plane-manager] review
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Owners: @z9r5

[candi] Update kubernetes patch versions (#3250)
  candi/version_map.yml
  testing/library/images_tags_generated.go
Owners: @RomanenkoDenys

.github/CODEOWNERS:

.github/                    @diafour
002-deckhouse/              @yalosev
021-cni-cilium/             @zuzzas @yalosev @RomanenkoDenys @konstantin-axenov
030-cloud-provider-openstack/ @konstantin-axenov
030-cloud-provider-vsphere/ @RomanenkoDenys
041-linstor/                @kvaps
031-local-path-provisioner/ @RomanenkoDenys
040-control-plane-manager/  @yalosev
040-node-manager/           @yalosev
040-terraform-manager/      @name212
101-cert-manager/           @yalosev
110-istio/                  @apolovov
140-user-authz/             @nabokihms @apolovov
150-user-authn/             @nabokihms
340-extended-monitoring/    @nabokihms @zuzzas
340-monitoring-*/           @nabokihms
350-node-local-dns/         @zuzzas
380-metallb/                @RomanenkoDenys @kvaps
402-ingress-nginx/          @nabokihms @yalosev
460-log-shipper/            @nabokihms
470-chrony/                 @RomanenkoDenys
500-openvpn/                @vitaliy-sn
500-upmeter/                @shvgn
600-flant-integration/      @shvgn
bashible-apiserver/         @yalosev
candi/                      @RomanenkoDenys
cloud-controller-manager/   @zuzzas
csi/                        @zuzzas
deckhouse-controller/       @diafour
dhctl/                      @name212
docs/                       @z9r5
