Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @diafour, @yalosev, @zuzzas, @RomanenkoDenys, @konstantin-axenov, @kvaps, @name212, @apolovov, @nabokihms, @vitaliy-sn, @shvgn, @z9r5

++ dashes
  modules/003-deckhouse-config/templates/deckhouse-config-webhook/webhook-configuration.yaml
Owners: none

[deckhouse-config] disable deckhouse-config webhook for uninitialized cluster (#3257)
  modules/003-deckhouse-config/templates/deckhouse-config-webhook/webhook-configuration.yaml
Owners: none

[deckhouse-config] disable deckhouse-config webhook for uninitialized cluster (#3257)
  modules/003-deckhouse-config/templates/deckhouse-config-webhook/webhook-configuration.yaml
Owners: none

[deckhouse-config] disable deckhouse-config webhook for uninitialized cluster (#3257) (#3274)
  modules/003-deckhouse-config/templates/deckhouse-config-webhook/webhook-configuration.yaml
Owners: none

[control-plane-manager] refactor
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Owners: @z9r5

[control-plane-manager] lint
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Owners: @z9r5

[user-authn] Read CA from encoded PEM string (#3249)
  modules/150-user-authn/images/dex/patches/oidc-ca-insecure.patch
Owners: @nabokihms

[user-authn] Read CA from encoded PEM string (#3249) (#3275)
  modules/150-user-authn/images/dex/patches/oidc-ca-insecure.patch
Owners: @nabokihms

[namespace-configurator] multiple configurations together fix (#3273)
  modules/600-namespace-configurator/hooks/handler.go
  modules/600-namespace-configurator/hooks/handler_test.go
Owners: none

Re-generate changelog v1.41.2
  CHANGELOG/CHANGELOG-v1.41.2.yml
  CHANGELOG/CHANGELOG-v1.41.md
Owners: none

[namespace-configurator] multiple configurations together fix (#3273)
  modules/600-namespace-configurator/hooks/handler.go
  modules/600-namespace-configurator/hooks/handler_test.go
Owners: none

[namespace-configurator] multiple configurations together fix (#3273) (#3276)
  modules/600-namespace-configurator/hooks/handler.go
  modules/600-namespace-configurator/hooks/handler_test.go
Owners: none

Re-generate changelog v1.41.2 (#3253)
  CHANGELOG/CHANGELOG-v1.41.2.yml
  CHANGELOG/CHANGELOG-v1.41.md
Owners: none

Re-generate changelog v1.41.2 (#3253)
  CHANGELOG/CHANGELOG-v1.41.2.yml
  CHANGELOG/CHANGELOG-v1.41.md
Owners: none

Re-generate changelog v1.41.2 (#3253) (#3277)
  CHANGELOG/CHANGELOG-v1.41.2.yml
  CHANGELOG/CHANGELOG-v1.41.md
Owners: none

[docs][cloud-provider-vsphere] Update documentation of setting up environment
  docs/site/_includes/getting_started/vsphere/STEP_ENV.md
  docs/site/_includes/getting_started/vsphere/STEP_ENV_RU.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
Owners: @z9r5

[control-plane-manager] fix typo
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Owners: @z9r5

[docs][cloud-provider-vsphere] Update documentation of setting up environment (#3278)
  docs/site/_includes/getting_started/vsphere/STEP_ENV.md
  docs/site/_includes/getting_started/vsphere/STEP_ENV_RU.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
Owners: @z9r5

[docs][cloud-provider-vsphere] Update documentation of setting up environment (#3278)
  docs/site/_includes/getting_started/vsphere/STEP_ENV.md
  docs/site/_includes/getting_started/vsphere/STEP_ENV_RU.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
Owners: @z9r5

[docs][cloud-provider-vsphere] Update documentation of setting up environment (#3278) (#3279)
  docs/site/_includes/getting_started/vsphere/STEP_ENV.md
  docs/site/_includes/getting_started/vsphere/STEP_ENV_RU.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
Owners: @z9r5

[docs][cloud-provider-vsphere] Update documentation of setting up environment (#3278)
  docs/site/_includes/getting_started/vsphere/STEP_ENV.md
  docs/site/_includes/getting_started/vsphere/STEP_ENV_RU.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
Owners: @z9r5

[docs][cloud-provider-vsphere] Update documentation of setting up environment (#3278) (#3280)
  docs/site/_includes/getting_started/vsphere/STEP_ENV.md
  docs/site/_includes/getting_started/vsphere/STEP_ENV_RU.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
Owners: @z9r5

Update modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/crds/operation-policy.yaml
Owners: none

Update modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
Owners: none

Update modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
Owners: none

Update modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
Owners: none

Update modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/crds/operation-policy.yaml
Owners: none

Update modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
Owners: none

Update modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
Owners: none

Update modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
Owners: none

Update modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
Owners: none

Update modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README.md
Owners: @z9r5

Update modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README.md
Owners: @z9r5

Update modules/015-admission-policy-engine/docs/README_RU.md
  modules/015-admission-policy-engine/docs/README_RU.md
Owners: @z9r5

Apply suggestions from code review
  modules/040-control-plane-manager/docs/FAQ_RU.md
Owners: @z9r5

add 1.25 e2e
  .github/scripts/js/constants.js
  .github/workflow_templates/e2e.multi.yml
Owners: @diafour

++
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Owners: @diafour

[cloud-provider-yandex] add image with fsck check at mount
  modules/030-cloud-provider-yandex/images/yandex-csi-plugin/Dockerfile
Owners: none

[ci] add 1.25 e2e (#3282)
  .github/scripts/js/constants.js
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Owners: @diafour

Fix node-manager tests.
  modules/040-node-manager/template_tests/module_test.go
Owners: @yalosev

.github/CODEOWNERS:

.github/                    @diafour
002-deckhouse/              @yalosev
021-cni-cilium/             @zuzzas @yalosev @RomanenkoDenys @konstantin-axenov
030-cloud-provider-openstack/ @konstantin-axenov
030-cloud-provider-vsphere/ @RomanenkoDenys
041-linstor/                @kvaps
031-local-path-provisioner/ @RomanenkoDenys
040-control-plane-manager/  @yalosev
040-node-manager/           @yalosev
040-terraform-manager/      @name212
101-cert-manager/           @yalosev
110-istio/                  @apolovov
140-user-authz/             @nabokihms @apolovov
150-user-authn/             @nabokihms
340-extended-monitoring/    @nabokihms @zuzzas
340-monitoring-*/           @nabokihms
350-node-local-dns/         @zuzzas
380-metallb/                @RomanenkoDenys @kvaps
402-ingress-nginx/          @nabokihms @yalosev
460-log-shipper/            @nabokihms
470-chrony/                 @RomanenkoDenys
500-openvpn/                @vitaliy-sn
500-upmeter/                @shvgn
600-flant-integration/      @shvgn
bashible-apiserver/         @yalosev
candi/                      @RomanenkoDenys
cloud-controller-manager/   @zuzzas
csi/                        @zuzzas
deckhouse-controller/       @diafour
dhctl/                      @name212
docs/                       @z9r5
