Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @yalosev, @miklezzzz, @RomanenkoDenys, @nabokihms, @AleksZimin, @apolovov, @aleksey-su, @Dmitrykob, @fl64, @vitaliy-sn, @shvgn, @z9r5, @konstantin-axenov

.github/CODEOWNERS:

.github/                        @name212
002-deckhouse/                  @yalosev @miklezzzz
005-external-module-manager/    @yalosev @miklezzzz
007-registrypackages/           @RomanenkoDenys
010-cloud-data-crd/             @nabokihms
010-operator-prometheus-crd/    @nabokihms
010-prometheus-crd/             @nabokihms
010-snapshot-controller-crd/    @AleksZimin
010-user-authn-crd/             @nabokihms
010-vertical-pod-autoscaler-crd/ @nabokihms
011-flow-schema/                @RomanenkoDenys @name212
015-admission-policy-engine/    @yalosev @miklezzzz
021-cni-cilium/                 @apolovov
021-kube-proxy/                 @RomanenkoDenys
030-cloud-provider-aws/         @RomanenkoDenys @name212
030-cloud-provider-azure/       @RomanenkoDenys @name212
030-cloud-provider-gcp/         @RomanenkoDenys @name212
030-cloud-provider-yandex/      @RomanenkoDenys @name212 @aleksey-su
030-cloud-provider-openstack/   @RomanenkoDenys @name212
030-cloud-provider-vsphere/     @RomanenkoDenys
031-local-path-provisioner/     @RomanenkoDenys @name212
035-cni-flannel/                @apolovov
035-cni-simple-bridge/          @apolovov
040-control-plane-manager/      @RomanenkoDenys @name212
040-node-manager/               @RomanenkoDenys @name212 @aleksey-su
040-terraform-manager/          @name212 @aleksey-su
041-ceph-csi/                   @RomanenkoDenys @name212
042-kube-dns/                   @nabokihms
045-snapshot-controller/        @AleksZimin
050-network-policy-engine/      @apolovov
101-cert-manager/               @yalosev @miklezzzz
110-istio/                      @apolovov
140-user-authz/                 @nabokihms @apolovov
150-user-authn/                 @nabokihms
160-multitenancy-manager/       @yalosev @Dmitrykob @miklezzzz
200-operator-prometheus/        @nabokihms
300-prometheus/                 @nabokihms
301-prometheus-*/               @nabokihms
302-vertical-pod-autoscaler/    @RomanenkoDenys
303-prometheus-*/               @nabokihms
340-extended-monitoring/        @nabokihms
340-monitoring-*/               @nabokihms
350-node-local-dns/             @RomanenkoDenys
380-metallb/                    @RomanenkoDenys @apolovov
400-descheduler/                @RomanenkoDenys @name212
402-ingress-nginx/              @miklezzzz @yalosev
460-log-shipper/                @nabokihms
462-loki/                       @nabokihms
465-pod-reloader/               @RomanenkoDenys
470-chrony/                     @RomanenkoDenys
491-containerized-data-importer @fl64
500-openvpn/                    @vitaliy-sn
500-cilium-hubble/              @apolovov
500-dashboard/                  @nabokihms
500-upmeter/                    @nabokihms
500-okmeter/                    @nabokihms
500-operator-trivy/             @miklezzzz @yalosev
502-delivery/                   @shvgn
600-flant-integration/          @nabokihms
600-namespace-configurator/     @yalosev @miklezzzz
650-runtime-audit-engine/       @nabokihms
810-documentation/              @z9r5 @nabokihms
bashible-apiserver/             @RomanenkoDenys @name212
candi/                          @RomanenkoDenys @name212
cloud-controller-manager/       @RomanenkoDenys @name212 @aleksey-su
csi/                            @AleksZimin
deckhouse-controller/           @yalosev @miklezzzz
dhctl/                          @name212 @aleksey-su
docs/                           @z9r5 @nabokihms
helm_lib/                       @name212
crds/                           @nabokihms @konstantin-axenov @z9r5
openapi/                        @nabokihms @konstantin-axenov @z9r5

change headers deckhouse.md
  docs/documentation/pages/modules-docs/deckhouse_ru.md
Owners: @z9r5, @nabokihms

[logshipper] Add buffer to the examples
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
Owners: @z9r5, @nabokihms

fixes registry.md
  docs/documentation/pages/modules-docs/module_anatomy/registry_ru.md
Owners: @z9r5, @nabokihms

Updater for L2 Load Balancers Status
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  ee/modules/381-l2-load-balancer/crds/l2-load-balncer.yaml
  ee/modules/381-l2-load-balancer/hooks/load_balancers_status_update.go
  ee/modules/381-l2-load-balancer/hooks/load_balancers_status_update_test.go
  ee/modules/381-l2-load-balancer/templates/user-services/service.yaml
Owners: @yalosev, @miklezzzz, @nabokihms, @konstantin-axenov, @z9r5

Add deps: fix dashboard and grafana binary path
  modules/021-cni-cilium/monitoring/grafana-dashboards/kubernetes-cluster/cilium-agent.json
  modules/300-prometheus/images/grafana-v10/werf.inc.yaml
Owners: @apolovov, @nabokihms

small clean-up
  ee/modules/030-cloud-provider-zvirt/images/capz-controller-manager/src/internal/controller/zvirtmachine_controller.go
Owners: none

Support stop message (#7467)
  dhctl/pkg/server/fsm/fsm.go
  dhctl/pkg/server/fsm/fsm_test.go
  dhctl/pkg/server/rpc/dhctl/check.go
  dhctl/pkg/server/rpc/dhctl/dhctl.go
  dhctl/pkg/server/server.go
  dhctl/pkg/terraform/pipeline_test.go
Owners: @name212, @aleksey-su

[zvirt] fix
  ee/modules/030-cloud-provider-zvirt/images/zvirt-csi-driver/patches/001_bump_ovirt_client.patch
Owners: none

[deckhouse-controller] add retry.OnConflict wrapper
  deckhouse-controller/pkg/controller/controller.go
Owners: @yalosev, @miklezzzz

Add deps: fix dashboard cilium
  modules/021-cni-cilium/monitoring/grafana-dashboards/kubernetes-cluster/cilium-agent.json
Owners: @apolovov

[docs] Documented usage of DeckhouseReleases manifests that dhctl mirror generates during pulls
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Owners: @z9r5, @nabokihms

go
  global-hooks/migrate/migrate_k8s_upgrade.go
Owners: none

fix registry.md and module_folder.md
  docs/documentation/pages/modules-docs/module_anatomy/module_folder_ru.md
Owners: @z9r5, @nabokihms

+
  modules/002-deckhouse/hooks/change_host_ip.go
Owners: @yalosev, @miklezzzz

fixes module_folder.md
  docs/documentation/pages/modules-docs/module_anatomy/module_folder_ru.md
Owners: @z9r5, @nabokihms

fix README.md
  docs/documentation/pages/modules-docs/README_RU.md
Owners: @z9r5, @nabokihms

fixes version.md
  docs/documentation/pages/modules-docs/module_anatomy/module_folder_ru.md
  docs/documentation/pages/modules-docs/version_ru.md
Owners: @z9r5, @nabokihms

Add debug
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
  modules/402-ingress-nginx/images/controller-1-9/patches/debug.patch
Owners: @miklezzzz, @yalosev

create dir
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
Owners: @miklezzzz, @yalosev

+++
  modules/402-ingress-nginx/images/controller-1-9/patches/debug.patch
Owners: @miklezzzz, @yalosev

++++
  modules/402-ingress-nginx/images/controller-1-9/patches/debug.patch
Owners: @miklezzzz, @yalosev

++
  modules/402-ingress-nginx/images/controller-1-9/patches/debug.patch
Owners: @miklezzzz, @yalosev

[cloud-provider-openstack] Allow to install clusters with http proxy
  ee/modules/030-cloud-provider-openstack/templates/cloud-controller-manager/deployment.yaml
  ee/modules/030-cloud-provider-openstack/templates/csi/controller.yaml
Owners: @RomanenkoDenys, @name212, @aleksey-su, @AleksZimin

add proxy envs for cloud-data-discoverer
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/deployment.yaml
Owners: @RomanenkoDenys, @name212

Override HTTPClient if OS_CACERT is set
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/discoverer.go
Owners: @RomanenkoDenys, @name212

go
  global-hooks/migrate/migrate_k8s_upgrade.go
Owners: none

fix discoverer
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/discoverer.go
Owners: @RomanenkoDenys, @name212

Re-generate changelog v1.59.0
  CHANGELOG/CHANGELOG-v1.59.0.yml
  CHANGELOG/CHANGELOG-v1.59.md
Owners: none

go
  ee/modules/381-l2-load-balancer/templates/controller/podmonitor.yaml
  ee/modules/381-l2-load-balancer/templates/speaker/podmonitor.yaml
Owners: none

go
  ee/modules/381-l2-load-balancer/crds/l2-load-balncer.yaml
  ee/modules/381-l2-load-balancer/hooks/common.go
  ee/modules/381-l2-load-balancer/hooks/handle_load_balancers.go
  ee/modules/381-l2-load-balancer/hooks/handle_load_balancers_test.go
  ee/modules/381-l2-load-balancer/openapi/values.yaml
  ee/modules/381-l2-load-balancer/template_tests/module_test.go
  ee/modules/381-l2-load-balancer/templates/user-services/service.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

go
  ee/modules/381-l2-load-balancer/crds/doc-ru-l2-load-balncer.yaml
  ee/modules/381-l2-load-balancer/crds/l2-load-balncer.yaml
  ee/modules/381-l2-load-balancer/docs/CONFIGURATION.md
  ee/modules/381-l2-load-balancer/docs/CONFIGURATION_RU.md
  ee/modules/381-l2-load-balancer/docs/EXAMPLES.md
  ee/modules/381-l2-load-balancer/docs/EXAMPLES_RU.md
  ee/modules/381-l2-load-balancer/docs/README.md
  ee/modules/381-l2-load-balancer/docs/README_RU.md
  ee/modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  ee/modules/402-ingress-nginx/crds/ingress-nginx.yaml
  ee/modules/402-ingress-nginx/docs/EXAMPLES.md
  ee/modules/402-ingress-nginx/docs/EXAMPLES_RU.md
  ee/se/modules/380-metallb/docs/EXAMPLES.md
  ee/se/modules/380-metallb/docs/EXAMPLES_RU.md
  modules/402-ingress-nginx/docs/EXAMPLES.md
  modules/402-ingress-nginx/docs/EXAMPLES_RU.md
Owners: @nabokihms, @konstantin-axenov, @z9r5

go
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Owners: none

go
  ee/modules/381-l2-load-balancer/hooks/common.go
  ee/modules/381-l2-load-balancer/hooks/handle_load_balancers.go
Owners: none

Update docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ.md
Owners: @z9r5, @nabokihms

[istio] Add a compatibility table to the doc
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
Owners: @z9r5, @nabokihms

[cloud-provider-yandex] fixing a long node name (#6718)
  modules/030-cloud-provider-yandex/cloud-instance-manager/machine-class.yaml
Owners: @RomanenkoDenys, @name212, @aleksey-su

Add AltLinux p10, 10.0, 10.1, and 10.2 versions to version_map_addition.yml in documentation.
  docs/documentation/_data/version_map_addition.yml
Owners: @z9r5, @nabokihms

[loki] add kube-rbac-proxy
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
  modules/460-log-shipper/docs/FAQ.md
  modules/460-log-shipper/hooks/generate_config.go
  modules/460-log-shipper/hooks/handle_cluster_log_destination_d8_loki.go
  modules/460-log-shipper/hooks/internal/composer/composer.go
  modules/460-log-shipper/hooks/internal/vector/destination/kafka.go
  modules/460-log-shipper/hooks/internal/vector/destination/logstash.go
  modules/460-log-shipper/hooks/internal/vector/destination/loki.go
  modules/460-log-shipper/hooks/internal/vector/destination/vector.go
  modules/460-log-shipper/hooks/testdata/file-to-vector/result.json
  modules/460-log-shipper/hooks/testdata/many-to-one/result.json
  modules/460-log-shipper/monitoring/prometheus-rules/warnings.yaml
  modules/460-log-shipper/templates/log-shipper-token.yaml
  modules/462-loki/hooks/tokens.go
  modules/462-loki/openapi/values.yaml
  modules/462-loki/templates/configmap.yaml
  modules/462-loki/templates/grafana-datasource.yaml
  modules/462-loki/templates/logshipper-log-destination.yaml
  modules/462-loki/templates/rbac-for-us.yaml
  modules/462-loki/templates/rbac-to-us.yaml
  modules/462-loki/templates/servicemonitor.yaml
  modules/462-loki/templates/statefulset.yaml
  testing/matrix/linter/rules/roles/binding-subject.go
Owners: @RomanenkoDenys, @name212, @nabokihms, @konstantin-axenov, @z9r5

fix markdown
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
Owners: @z9r5, @nabokihms

[ingress-nginx] fix maxmind db download for controller 1.9
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
Owners: @miklezzzz, @yalosev
