Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @diafour, @yalosev, @zuzzas, @RomanenkoDenys, @konstantin-axenov, @kvaps, @name212, @apolovov, @nabokihms, @vitaliy-sn, @shvgn, @z9r5

[go_lib] storage
  go_lib/dependency/dependency.go
  go_lib/dependency/requirements/requirements.go
  go_lib/dependency/storage/memory.go
  go_lib/dependency/storage/storage.go
Owners: none

[go_lib] storage
  go_lib/dependency/storage/memory.go
Owners: none

[go_lib] storage
  go_lib/dependency/imc/imc.go
  go_lib/dependency/requirements/requirements.go
  go_lib/dependency/storage/memory.go
  go_lib/dependency/storage/storage.go
  modules/402-ingress-nginx/requirements/check.go
Owners: @nabokihms, @yalosev

++
  modules/040-node-manager/hooks/set_instance_class_ng_usage.go
Owners: @yalosev

Update modules/015-admission-policy-engine/openapi/values.yaml
  modules/015-admission-policy-engine/openapi/values.yaml
Owners: none

[log-shipper] Add job label selector to alerts query
  modules/460-log-shipper/monitoring/prometheus-rules/log-shipper-agent.yaml
Owners: @nabokihms

[helm_lib] Update readme
  helm_lib/README.md
Owners: @name212

[docs] Add link to the flow.deckhouse.io on the releases page.
  docs/documentation/pages/RELEASES.md
  docs/documentation/pages/RELEASES_RU.md
Owners: @z9r5

[docs][node-manager] Fix bug in generating OpenAPI values for the module
  docs/documentation/werf-git-section.inc.yaml
  modules/040-node-manager/crds/doc-ru-nodegroupconfiguration.yaml
  modules/040-node-manager/crds/nodegroupconfiguration.yaml
Owners: @z9r5, @yalosev

[containerized-data-importer] fix customCertificate
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  modules/490-virtualization/images/artifact/patches/007-tolerations-for-strategy-dumper-job.patch
  modules/491-containerized-data-importer/hooks/https/copy_custom_certificate.go
  modules/491-containerized-data-importer/openapi/config-values.yaml
  modules/491-containerized-data-importer/openapi/doc-ru-config-values.yaml
  modules/491-containerized-data-importer/openapi/openapi-case-tests.yaml
  modules/491-containerized-data-importer/openapi/values.yaml
Owners: @diafour, @kvaps

[prometheus] Increase prometheus self sample limit
  modules/300-prometheus/templates/prometheus/servicemonitor.yaml
Owners: none

[docs] Show a list of the module's web interfaces
  docs/documentation/_data/i18n.yml
  docs/documentation/_includes/module-webiface-notice.liquid
  docs/documentation/_layouts/page.html
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  docs/site/_includes/getting_started/global/partials/DNS_OPTIONS.liquid
  docs/site/_includes/getting_started/global/partials/DNS_OPTIONS_RU.liquid
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
  ee/modules/502-delivery/docs/README.md
  ee/modules/502-delivery/docs/README_RU.md
  modules/150-user-authn/docs/README.md
  modules/150-user-authn/docs/README_RU.md
  modules/300-prometheus/docs/README.md
  modules/300-prometheus/docs/README_RU.md
  modules/500-cilium-hubble/docs/README.md
  modules/500-cilium-hubble/docs/README_RU.md
  modules/500-dashboard/docs/README.md
  modules/500-dashboard/docs/README_RU.md
  modules/500-openvpn/docs/README.md
  modules/500-openvpn/docs/README_RU.md
  modules/500-upmeter/docs/README.md
  modules/500-upmeter/docs/README_RU.md
  modules/810-deckhouse-web/docs/README.md
  modules/810-deckhouse-web/docs/README_RU.md
Owners: @z9r5

[prometheus] Increase prometheus self sample limit (#4066)
  modules/300-prometheus/templates/prometheus/servicemonitor.yaml
Owners: none

[prometheus] Increase prometheus self sample limit (#4066)
  modules/300-prometheus/templates/prometheus/servicemonitor.yaml
Owners: none

[prometheus] Increase prometheus self sample limit (#4066) (#4069)
  modules/300-prometheus/templates/prometheus/servicemonitor.yaml
Owners: none

[candi] add selinux policies for cilium
  candi/bashible/bundles/centos/all/001_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/alteros/all/001_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/redos/all/001_install_mandatory_selinux_policies.sh.tpl
Owners: @RomanenkoDenys

Apply suggestions from code review
  modules/040-node-manager/settings-conversion/conversion.go
  modules/040-node-manager/settings-conversion/conversion_test.go
Owners: @yalosev

[admission-policy-engine] Add mutations (#3987)
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
  modules/015-admission-policy-engine/hooks/detect_track_match_resources.go
  modules/015-admission-policy-engine/hooks/detect_track_match_resources_test.go
  modules/015-admission-policy-engine/images/constraint-exporter/Dockerfile
  modules/015-admission-policy-engine/images/constraint-exporter/exporter.go
  modules/015-admission-policy-engine/images/constraint-exporter/go.mod
  modules/015-admission-policy-engine/images/constraint-exporter/go.sum
  modules/015-admission-policy-engine/images/constraint-exporter/main.go
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/gatekeeper/constraints.go
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/gatekeeper/mutations.go
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/kinds/kinds.go
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/kinds/kinds_test.go
  modules/015-admission-policy-engine/openapi/values.yaml
  modules/015-admission-policy-engine/template_tests/module_test.go
  modules/015-admission-policy-engine/template_tests/operation_policies_test.go
  modules/015-admission-policy-engine/template_tests/policies_test.go
  modules/015-admission-policy-engine/templates/mutatingwebhookconfiguration.yaml
  modules/015-admission-policy-engine/templates/validatingwebhookconfiguration.yaml
Owners: @z9r5

[docs][istio] Minor updates
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
Owners: @z9r5

[docs][istio] Minor updates (#4073)
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
Owners: @z9r5

[docs][istio] Minor updates (#4073)
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
Owners: @z9r5

[docs][istio] Minor updates (#4073) (#4074)
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
Owners: @z9r5

[log-shipper] Add job label selector to alerts query (#4051)
  modules/460-log-shipper/monitoring/prometheus-rules/log-shipper-agent.yaml
Owners: @nabokihms

[log-shipper] Add job label selector to alerts query (#4051)
  modules/460-log-shipper/monitoring/prometheus-rules/log-shipper-agent.yaml
Owners: @nabokihms

[log-shipper] Add job label selector to alerts query (#4051) (#4076)
  modules/460-log-shipper/monitoring/prometheus-rules/log-shipper-agent.yaml
Owners: @nabokihms

++
  modules/040-node-manager/hooks/internal/conditions/calculate.go
  modules/040-node-manager/hooks/internal/v1/nodegroup.go
  modules/040-node-manager/hooks/util.go
Owners: @yalosev

Update helm_lib/README.md
  helm_lib/README.md
Owners: @name212

Fix EOF json.Decode error
  modules/005-external-module-manager/hooks/handle_sources.go
Owners: none

++
  modules/040-node-manager/hooks/internal/v1/nodegroup.go
Owners: @yalosev

[delivery] Add FAQ section with admin password reset instruction
  ee/modules/502-delivery/docs/FAQ.md
  ee/modules/502-delivery/docs/FAQ_RU.md
Owners: @z9r5

[node-manager] Add nodegroup conditions (#3990)
  candi/openapi/node_group.yaml
  modules/040-node-manager/hooks/internal/conditions/calculate.go
  modules/040-node-manager/hooks/internal/v1/nodegroup.go
  modules/040-node-manager/hooks/internal/v1/nodegroup_generated.deepcopy.go
  modules/040-node-manager/hooks/update_node_group_status.go
  modules/040-node-manager/hooks/update_node_group_status_test.go
  modules/040-node-manager/hooks/util.go
Owners: @RomanenkoDenys, @yalosev

[node-manager] show instance class link to NG (#4028)
  candi/cloud-providers/aws/openapi/instance_class.yaml
  candi/cloud-providers/azure/openapi/instance_class.yaml
  candi/cloud-providers/gcp/openapi/instance_class.yaml
  candi/cloud-providers/yandex/openapi/instance_class.yaml
  ee/candi/cloud-providers/openstack/openapi/instance_class.yaml
  ee/candi/cloud-providers/vsphere/openapi/instance_class.yaml
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/set_instance_class_ng_usage.go
  modules/040-node-manager/hooks/set_instance_class_ng_usage_test.go
  testing/hooks/validation/exported_struct_test.go
Owners: @RomanenkoDenys, @yalosev

[candi] add selinux policies for cilium (#4070)
  candi/bashible/bundles/centos/all/001_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/alteros/all/001_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/redos/all/001_install_mandatory_selinux_policies.sh.tpl
Owners: @RomanenkoDenys

deployment manifest
  modules/810-ui/templates/backend/deployment.yaml
Owners: none

mute AddHandler error
  modules/810-ui/images/backend/main.go
Owners: none

chore: backend: phrasing
  modules/810-ui/images/backend/main.go
Owners: none

backend: check shutdown error :D
  modules/810-ui/images/backend/main.go
Owners: none

wip: events handling
  modules/810-ui/images/backend/events.go
  modules/810-ui/images/backend/go.mod
  modules/810-ui/images/backend/go.sum
  modules/810-ui/images/backend/handler_dynamic.go
  modules/810-ui/images/backend/main.go
Owners: none

return reading error to handler
  modules/810-ui/images/backend/events.go
  modules/810-ui/images/backend/main.go
Owners: none

fix map init
  modules/810-ui/images/backend/events.go
Owners: none

.github/CODEOWNERS:

.github/                    @diafour
002-deckhouse/              @yalosev
021-cni-cilium/             @zuzzas @yalosev @RomanenkoDenys @konstantin-axenov
030-cloud-provider-openstack/ @konstantin-axenov
030-cloud-provider-vsphere/ @RomanenkoDenys
041-linstor/                @kvaps
031-local-path-provisioner/ @RomanenkoDenys
040-control-plane-manager/  @yalosev
040-node-manager/           @yalosev
040-terraform-manager/      @name212
101-cert-manager/           @yalosev
110-istio/                  @apolovov
140-user-authz/             @nabokihms @apolovov
150-user-authn/             @nabokihms
340-extended-monitoring/    @nabokihms @zuzzas
340-monitoring-*/           @nabokihms
350-node-local-dns/         @zuzzas
380-metallb/                @RomanenkoDenys @kvaps
402-ingress-nginx/          @nabokihms @yalosev
460-log-shipper/            @nabokihms
470-chrony/                 @RomanenkoDenys
490-virtualization          @kvaps
491-containerized-data-importer @kvaps
500-openvpn/                @vitaliy-sn
500-upmeter/                @shvgn
502-delivery/               @shvgn
600-flant-integration/      @shvgn
650-runtime-audit-engine/   @nabokihms
bashible-apiserver/         @yalosev
candi/                      @RomanenkoDenys
cloud-controller-manager/   @zuzzas
csi/                        @zuzzas @kvaps
deckhouse-controller/       @diafour
dhctl/                      @name212
docs/                       @z9r5
helm_lib/                   @name212
