Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @diafour, @yalosev, @zuzzas, @RomanenkoDenys, @konstantin-axenov, @kvaps, @name212, @apolovov, @nabokihms, @vitaliy-sn, @shvgn, @z9r5

.github/CODEOWNERS:

.github/                    @diafour
002-deckhouse/              @yalosev
021-cni-cilium/             @zuzzas @yalosev @RomanenkoDenys @konstantin-axenov
030-cloud-provider-openstack/ @konstantin-axenov
030-cloud-provider-vsphere/ @RomanenkoDenys
041-linstor/                @kvaps
031-local-path-provisioner/ @RomanenkoDenys
040-control-plane-manager/  @yalosev
040-node-manager/           @yalosev
040-terraform-manager/      @name212
101-cert-manager/           @yalosev
110-istio/                  @apolovov
140-user-authz/             @nabokihms @apolovov
150-user-authn/             @nabokihms
340-extended-monitoring/    @nabokihms @zuzzas
340-monitoring-*/           @nabokihms
350-node-local-dns/         @zuzzas
380-metallb/                @RomanenkoDenys @kvaps
402-ingress-nginx/          @nabokihms @yalosev
460-log-shipper/            @nabokihms
470-chrony/                 @RomanenkoDenys
500-openvpn/                @vitaliy-sn
500-upmeter/                @shvgn
600-flant-integration/      @shvgn
bashible-apiserver/         @yalosev
candi/                      @RomanenkoDenys
cloud-controller-manager/   @zuzzas
csi/                        @zuzzas
deckhouse-controller/       @diafour
dhctl/                      @name212
docs/                       @z9r5

[vpa] update VPA from 0.9.2 to 0.12.0 (#3224)
  modules/302-vertical-pod-autoscaler/images/admission-controller/Dockerfile
  modules/302-vertical-pod-autoscaler/images/recommender/Dockerfile
  modules/302-vertical-pod-autoscaler/images/recommender/recommender.patch
  modules/302-vertical-pod-autoscaler/images/updater/Dockerfile
  modules/302-vertical-pod-autoscaler/images/updater/patches/README.md
  modules/302-vertical-pod-autoscaler/images/updater/patches/daemonset-eviction.patch
  modules/302-vertical-pod-autoscaler/templates/recommender/deployment.yaml
Owners: none

[site] Fix content in success story
  docs/site/_data/stories.yaml
Owners: @z9r5

++
  .github/scripts/js/ci.js
  .github/scripts/js/constants.js
Owners: @diafour

update
  modules/099-ceph-csi/docs/INTREE_MIGRATION_RU.md
  modules/099-ceph-csi/tools/rbd-in-tree-to-ceph-csi-migration-helper.sh
Owners: @z9r5

go
  modules/099-ceph-csi/tools/rbd-in-tree-to-ceph-csi-migration-helper.sh
Owners: none

[ceph-csi] Add migration from an in-tree driver to a csi driver
  modules/099-ceph-csi/.helmignore
  modules/099-ceph-csi/docs/INTREE_MIGRATION_RU.md
  modules/099-ceph-csi/tools/rbd-in-tree-to-ceph-csi-migration-helper.sh
Owners: @z9r5

metrics for alerts Signed-off-by: Vitaliy Snurnitsin <vitaliy.snurnitsin@flant.com>
  modules/002-deckhouse/hooks/metrics.go
Owners: @yalosev

go
  modules/002-deckhouse/hooks/metrics.go
  modules/002-deckhouse/monitoring/prometheus-rules/alerts.yaml
  modules/002-deckhouse/monitoring/prometheus-rules/prometheus-storage.yaml
Owners: @yalosev

go doc
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION_RU.md
Owners: @z9r5

go
  modules/002-deckhouse/monitoring/prometheus-rules/alerts.yaml
  modules/002-deckhouse/monitoring/prometheus-rules/migration-alerts.yaml
  modules/002-deckhouse/monitoring/prometheus-rules/prometheus-storage.yaml
Owners: @yalosev

go migr
  modules/099-ceph-csi/tools/rbd-in-tree-to-ceph-csi-migration-helper.sh
Owners: none

go
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION_RU.md
Owners: @z9r5

del
  modules/002-deckhouse/hooks/log_collectors_metrics.go
Owners: @yalosev

Create INTREE_MIGRATION.md
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION.md
Owners: @z9r5

ed
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION_RU.md
Owners: @z9r5

ed
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION_RU.md
  modules/099-ceph-csi/tools/rbd-in-tree-to-ceph-csi-migration-helper.sh
Owners: @z9r5

go
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION_RU.md
Owners: @z9r5

go
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION_RU.md
Owners: @z9r5

go
  modules/099-ceph-csi/tools/rbd-in-tree-to-ceph-csi-migration-helper.sh
Owners: none

ed
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION_RU.md
Owners: @z9r5

go
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION_RU.md
Owners: @z9r5

ed
  modules/002-deckhouse/templates/monitoring.yaml
Owners: @yalosev

go
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION_RU.md
Owners: @z9r5

Apply suggestions from code review
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION.md
Owners: @z9r5

go
  modules/099-ceph-csi/tools/rbd-in-tree-to-ceph-csi-migration-helper.sh
Owners: none

go
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION_RU.md
Owners: @z9r5

ed
  modules/002-deckhouse/templates/monitoring.yaml
Owners: @yalosev

go
  modules/099-ceph-csi/tools/rbd-in-tree-to-ceph-csi-migration-helper.sh
Owners: none

go
  modules/099-ceph-csi/tools/rbd-in-tree-to-ceph-csi-migration-helper.sh
Owners: none

fix
  modules/002-deckhouse/templates/monitoring.yaml
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION.md
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/migration-alerts.yaml
Owners: @yalosev, @z9r5, @nabokihms

go
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION_RU.md
  modules/099-ceph-csi/tools/rbd-in-tree-to-ceph-csi-migration-helper.sh
Owners: @z9r5

Apply suggestions from code review
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION_RU.md
Owners: @z9r5

go
  modules/002-deckhouse/hooks/log_collectors_metrics.go
Owners: @yalosev

Delete INTREE_MIGRATION_RU.md
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION_RU.md
Owners: @z9r5

go
  modules/002-deckhouse/monitoring/prometheus-rules/migration-alerts.yaml
Owners: @yalosev

go
  modules/099-ceph-csi/tools/rbd-in-tree-to-ceph-csi-migration-helper.sh
Owners: none

go
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION.md
Owners: @z9r5

go
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION.md
Owners: @z9r5

[site] Added cupis success story (#3302)
  docs/site/_data/stories.yaml
  docs/site/images/clients/cupis.svg
Owners: @z9r5

chore: move error handling to the hook
  ee/modules/502-delivery/hooks/werf_sources/hook.go
  ee/modules/502-delivery/hooks/werf_sources/hook_test.go
Owners: none
