Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @yalosev, @miklezzzz, @RomanenkoDenys, @nabokihms, @AleksZimin, @apolovov, @aleksey-su, @Dmitrykob, @fl64, @vitaliy-sn, @shvgn, @z9r5, @konstantin-axenov

.github/CODEOWNERS:

.github/                        @name212
002-deckhouse/                  @yalosev @miklezzzz
005-external-module-manager/    @yalosev @miklezzzz
007-registrypackages/           @RomanenkoDenys
010-cloud-data-crd/             @nabokihms
010-operator-prometheus-crd/    @nabokihms
010-prometheus-crd/             @nabokihms
010-snapshot-controller-crd/    @AleksZimin
010-user-authn-crd/             @nabokihms
010-vertical-pod-autoscaler-crd/ @nabokihms
011-flow-schema/                @RomanenkoDenys @name212
015-admission-policy-engine/    @yalosev @miklezzzz
021-cni-cilium/                 @apolovov
021-kube-proxy/                 @RomanenkoDenys
030-cloud-provider-aws/         @RomanenkoDenys @name212
030-cloud-provider-azure/       @RomanenkoDenys @name212
030-cloud-provider-gcp/         @RomanenkoDenys @name212
030-cloud-provider-yandex/      @RomanenkoDenys @name212 @aleksey-su
030-cloud-provider-openstack/   @RomanenkoDenys @name212
030-cloud-provider-vsphere/     @RomanenkoDenys
031-local-path-provisioner/     @RomanenkoDenys @name212
035-cni-flannel/                @apolovov
035-cni-simple-bridge/          @apolovov
040-control-plane-manager/      @RomanenkoDenys @name212
040-node-manager/               @RomanenkoDenys @name212 @aleksey-su
040-terraform-manager/          @name212 @aleksey-su
041-ceph-csi/                   @RomanenkoDenys @name212
042-kube-dns/                   @nabokihms
045-snapshot-controller/        @AleksZimin
050-network-policy-engine/      @apolovov
101-cert-manager/               @yalosev @miklezzzz
110-istio/                      @apolovov
140-user-authz/                 @nabokihms @apolovov
150-user-authn/                 @nabokihms
160-multitenancy-manager/       @yalosev @Dmitrykob @miklezzzz
200-operator-prometheus/        @nabokihms
300-prometheus/                 @nabokihms
301-prometheus-*/               @nabokihms
302-vertical-pod-autoscaler/    @RomanenkoDenys
303-prometheus-*/               @nabokihms
340-extended-monitoring/        @nabokihms
340-monitoring-*/               @nabokihms
350-node-local-dns/             @RomanenkoDenys
380-metallb/                    @RomanenkoDenys @apolovov
400-descheduler/                @RomanenkoDenys @name212
402-ingress-nginx/              @miklezzzz @yalosev
460-log-shipper/                @nabokihms
462-loki/                       @nabokihms
465-pod-reloader/               @RomanenkoDenys
470-chrony/                     @RomanenkoDenys
491-containerized-data-importer @fl64
500-openvpn/                    @vitaliy-sn
500-cilium-hubble/              @apolovov
500-dashboard/                  @nabokihms
500-upmeter/                    @nabokihms
500-okmeter/                    @nabokihms
500-operator-trivy/             @miklezzzz @yalosev
502-delivery/                   @shvgn
600-flant-integration/          @nabokihms
600-namespace-configurator/     @yalosev @miklezzzz
650-runtime-audit-engine/       @nabokihms
810-documentation/              @z9r5 @nabokihms
bashible-apiserver/             @RomanenkoDenys @name212
candi/                          @RomanenkoDenys @name212
cloud-controller-manager/       @RomanenkoDenys @name212 @aleksey-su
csi/                            @AleksZimin
deckhouse-controller/           @yalosev @miklezzzz
dhctl/                          @name212 @aleksey-su
docs/                           @z9r5 @nabokihms
helm_lib/                       @name212
crds/                           @nabokihms @konstantin-axenov @z9r5
openapi/                        @nabokihms @konstantin-axenov @z9r5

[docs] Fix links (#7973)
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Owners: @z9r5, @nabokihms

[docs] Fix links (#7973) (#7974)
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Owners: @z9r5, @nabokihms

[zvirt] fix tf
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/instance_class.yaml
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/variables.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/static-node/variables.tf
Owners: @nabokihms, @konstantin-axenov, @z9r5, @RomanenkoDenys, @name212

fixes after review
  ee/modules/381-l2-load-balancer/hooks/handle_load_balancers.go
  ee/modules/381-l2-load-balancer/hooks/handle_load_balancers_test.go
  ee/modules/402-ingress-nginx/template_tests/l2lb_test.go
  ee/modules/402-ingress-nginx/templates/controller-l2/l2-load-balancer.yaml
Owners: @miklezzzz, @yalosev

fixes for markdown linter
  ee/modules/381-l2-load-balancer/docs/EXAMPLES.md
  ee/modules/381-l2-load-balancer/docs/EXAMPLES_RU.md
Owners: @z9r5, @nabokihms

[dhctl] feat(dhctl-for-commander): more validations
  dhctl/pkg/config/validation.go
  dhctl/pkg/config/validation_rules_test.go
  dhctl/pkg/config/validation_test.go
Owners: @name212, @aleksey-su

[dhctl] feat(dhctl-for-commander): more validations (#7977)
  dhctl/pkg/config/validation.go
  dhctl/pkg/config/validation_rules_test.go
  dhctl/pkg/config/validation_test.go
Owners: @name212, @aleksey-su

[zvirt] fix openapi
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

remove cri labels
  .github/scripts/js/ci.js
  .github/scripts/js/constants.js
  .github/scripts/js/specs/constants.test.js
Owners: @name212

[zvirt] fix openapi
  ee/modules/030-cloud-provider-zvirt/openapi/values.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update rabbitmq.json
  ee/fe/modules/340-monitoring-applications/applications/rabbitmq/grafana-dashboards/rabbitmq.json
Owners: @nabokihms

[zvirt] fix openapi
  ee/modules/030-cloud-provider-zvirt/capi/cluster.yaml
Owners: none

Apply suggestions from code review
  .github/scripts/js/ci.js
Owners: @name212

[zvirt] fix openapi
  ee/modules/030-cloud-provider-zvirt/capi/machine-template.yaml
Owners: none

[zvirt] fix openapi
  ee/modules/030-cloud-provider-zvirt/templates/registration.yaml
Owners: none
