Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @konstantin-axenov, @nabokihms, @shvgn, @name212, @zuzzas, @vitaliy-sn, @RomanenkoDenys, @apolovov, @kvaps

[docs] Updates
  docs/documentation/_data/sidebars/main.yml
  modules/020-deckhouse/docs/FAQ.md
  modules/020-deckhouse/docs/FAQ_RU.md
Owners: @konstantin-axenov, @nabokihms

add tests
  modules/040-node-manager/template_tests/module_test.go
Owners: @konstantin-axenov, @nabokihms

++
  modules/040-node-manager/template_tests/module_test.go
Owners: @konstantin-axenov, @nabokihms

agent: use timeout in insecure client
  modules/500-upmeter/images/upmeter/pkg/probe/checker/http.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/prometheus.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/prometheus_metrics_adapter.go
Owners: @shvgn

[flant-integration] remove migration configmap (#1327)
  candi/bashible/bundles/centos/node-group/001_remove_external_dependencies_migration.sh.tpl
  candi/bashible/bundles/debian/node-group/001_remove_external_dependencies_migration.sh.tpl
  candi/bashible/common-steps/all/001_fix_registry_packages_store.sh.tpl
  candi/bashible/common-steps/all/003_add_resolv_copier.sh.tpl
  candi/bashible/common-steps/all/003_remove_resolv_copier.sh.tpl
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  ee/modules/600-flant-integration/hooks/migrate/common_test.go
  ee/modules/600-flant-integration/hooks/migrate/remove_d8_migrate_cluster_kubernetes_version_cm.go
  ee/modules/600-flant-integration/hooks/migrate/remove_d8_migrate_cluster_kubernetes_version_cm_test.go
  testing/matrix/linter/rules/rules.go
Owners: @konstantin-axenov, @nabokihms

[cloud-provider-vsphere] Correct behavior of nestedHardwareVirtualization parameter for VsphereInstanceClass (#1331)
  ee/modules/030-cloud-provider-vsphere/cloud-instance-manager/machine-class.yaml
  modules/040-node-manager/template_tests/module_test.go
Owners: @konstantin-axenov, @nabokihms

Re-generate changelog
  CHANGELOG/CHANGELOG-v1.32.0.yml
  CHANGELOG/CHANGELOG-v1.32.md
Owners: @konstantin-axenov, @nabokihms

Re-generate changelog (#1076)
  CHANGELOG/CHANGELOG-v1.32.0.yml
  CHANGELOG/CHANGELOG-v1.32.md
Owners: @konstantin-axenov, @nabokihms

[openvpn] fix openapi
  ee/fe/modules/500-openvpn/openapi/config-values.yaml
  ee/fe/modules/500-openvpn/openapi/doc-ru-config-values.yaml
  ee/fe/modules/500-openvpn/openapi/values.yaml
  ee/fe/modules/500-openvpn/template_tests/copy_custom_certificate_test.go
  ee/fe/modules/500-openvpn/values.yaml
  ee/fe/modules/500-openvpn/values_matrix_test.yaml
Owners: @vitaliy-sn

Apply suggestions from code review
  ee/fe/modules/500-openvpn/openapi/config-values.yaml
  ee/fe/modules/500-openvpn/openapi/doc-ru-config-values.yaml
Owners: @vitaliy-sn

[openvpn] fix openapi (#1307)
  ee/fe/modules/500-openvpn/openapi/config-values.yaml
  ee/fe/modules/500-openvpn/openapi/values.yaml
  ee/fe/modules/500-openvpn/template_tests/copy_custom_certificate_test.go
  ee/fe/modules/500-openvpn/values.yaml
  ee/fe/modules/500-openvpn/values_matrix_test.yaml
Owners: @vitaliy-sn

Re-generate changelog
  CHANGELOG/CHANGELOG-v1.32.0.yml
  CHANGELOG/CHANGELOG-v1.32.md
Owners: @konstantin-axenov, @nabokihms

Re-generate changelog (#1335)
  CHANGELOG/CHANGELOG-v1.32.0.yml
  CHANGELOG/CHANGELOG-v1.32.md
Owners: @konstantin-axenov, @nabokihms

[docs] Remove ingressClassName from the site Ingress templates
  docs/documentation/.helm/templates/20-ingress.yaml
  docs/site/.helm/templates/20-ingress.yaml
Owners: @konstantin-axenov, @nabokihms

[docs] Remove ingressClassName from the site Ingress templates (#1336)
  docs/documentation/.helm/templates/20-ingress.yaml
  docs/site/.helm/templates/20-ingress.yaml
Owners: @konstantin-axenov, @nabokihms

Re-generate changelog
  CHANGELOG/CHANGELOG-v1.32.md
Owners: @konstantin-axenov, @nabokihms

Re-generate changelog
  CHANGELOG/CHANGELOG-v1.32.0.yml
  CHANGELOG/CHANGELOG-v1.32.md
Owners: @konstantin-axenov, @nabokihms

Re-generate changelog (#1338)
  CHANGELOG/CHANGELOG-v1.32.0.yml
  CHANGELOG/CHANGELOG-v1.32.md
Owners: @konstantin-axenov, @nabokihms

Re-generate changelog (#1338)
  CHANGELOG/CHANGELOG-v1.32.0.yml
  CHANGELOG/CHANGELOG-v1.32.md
Owners: @konstantin-axenov, @nabokihms

Re-generate changelog
  CHANGELOG/CHANGELOG-v1.32.0.yml
  CHANGELOG/CHANGELOG-v1.32.md
Owners: @konstantin-axenov, @nabokihms

Re-generate changelog (#1339)
  CHANGELOG/CHANGELOG-v1.32.0.yml
  CHANGELOG/CHANGELOG-v1.32.md
Owners: @konstantin-axenov, @nabokihms

[openvpn] add forgotten param effectiveStorageClass to openapi spec
  ee/fe/modules/500-openvpn/openapi/values.yaml
Owners: @vitaliy-sn

[prometheus] Fix null pointer dereference in prometheus_disk.go hook
  modules/300-prometheus/hooks/prometheus_disk.go
Owners: @konstantin-axenov, @nabokihms

[openvpn] add forgotten param effectiveStorageClass to openapi spec (#1344)
  ee/fe/modules/500-openvpn/openapi/values.yaml
Owners: @vitaliy-sn

[openvpn] add forgotten param effectiveStorageClass to openapi spec (#1344)
  ee/fe/modules/500-openvpn/openapi/values.yaml
Owners: @vitaliy-sn

[prometheus] Fix null pointer dereference in prometheus_disk.go hook (#1345)
  modules/300-prometheus/hooks/prometheus_disk.go
Owners: @konstantin-axenov, @nabokihms

Re-generate changelog
  CHANGELOG/CHANGELOG-v1.32.1.yml
  CHANGELOG/CHANGELOG-v1.32.md
Owners: @konstantin-axenov, @nabokihms

[prometheus] Fix null pointer dereference in prometheus_disk.go hook (#1345)
  modules/300-prometheus/hooks/prometheus_disk.go
Owners: @konstantin-axenov, @nabokihms

Re-generate changelog (#1347)
  CHANGELOG/CHANGELOG-v1.32.1.yml
  CHANGELOG/CHANGELOG-v1.32.md
Owners: @konstantin-axenov, @nabokihms

Re-generate changelog (#1347)
  CHANGELOG/CHANGELOG-v1.32.1.yml
  CHANGELOG/CHANGELOG-v1.32.md
Owners: @konstantin-axenov, @nabokihms

add 1.23 for e2e tests
  .github/scripts/js/constants.js
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Owners: @konstantin-axenov, @nabokihms

[openvpn] set default for loadbalancer object in openapi
  ee/fe/modules/500-openvpn/openapi/config-values.yaml
  ee/fe/modules/500-openvpn/openapi/doc-ru-config-values.yaml
Owners: @vitaliy-sn

[openvpn] fix sts api version in migration hook
  ee/fe/modules/500-openvpn/hooks/easyrsa_migration.go
Owners: @vitaliy-sn

Apply suggestions from code review
  ee/fe/modules/500-openvpn/openapi/config-values.yaml
  ee/fe/modules/500-openvpn/openapi/doc-ru-config-values.yaml
Owners: @vitaliy-sn

add 1.23 for e2e tests (#1349)
  .github/scripts/js/constants.js
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Owners: @konstantin-axenov, @nabokihms

[openvpn] fix sts api version in migration hook (#1354)
  ee/fe/modules/500-openvpn/hooks/easyrsa_migration.go
Owners: @vitaliy-sn

[openvpn] Set default value for loadbalancer object in the OpenAPI schema (#1353)
  ee/fe/modules/500-openvpn/openapi/config-values.yaml
Owners: @vitaliy-sn

Re-generate changelog
  CHANGELOG/CHANGELOG-v1.32.2.yml
  CHANGELOG/CHANGELOG-v1.32.md
Owners: @konstantin-axenov, @nabokihms

Re-generate changelog (#1356)
  CHANGELOG/CHANGELOG-v1.32.2.yml
  CHANGELOG/CHANGELOG-v1.32.md
Owners: @konstantin-axenov, @nabokihms

[openvpn] fix sts api version in migration hook (#1354)
  ee/fe/modules/500-openvpn/hooks/easyrsa_migration.go
Owners: @vitaliy-sn

.github/CODEOWNERS:

*                           @konstantin-axenov @nabokihms
150-user-authn/             @nabokihms
402-ingress-nginx/          @nabokihms
460-log-shipper/            @nabokihms
500-upmeter/                @shvgn
dhctl/                      @name212
# cilium/                   @zuzzas
csi/                        @zuzzas
500-openvpn/                @vitaliy-sn
bashible-apiserver/         @RomanenkoDenys
470-chrony/                 @RomanenkoDenys
031-local-path-provisioner/ @RomanenkoDenys
110-istio/                  @apolovov
031-linstor/                @kvaps
