Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @yalosev, @RomanenkoDenys, @nabokihms, @AleksZimin, @apolovov, @Dmitrykob, @miklezzzz, @fl64, @vitaliy-sn, @shvgn, @z9r5, @konstantin-axenov

typo fix
  ee/fe/candi/bashible/common-steps/all/099_upd_tfadm.sh.tpl
Owners: @RomanenkoDenys, @name212

fix
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

fix
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

fixes after review
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/werf.inc.yaml
Owners: @RomanenkoDenys

fix(dhctl-for-commander): disable local-bootstraper converge-lock in commander-mode
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
Owners: @name212

add fallback secret value
  modules/110-istio/hooks/discovery_cni_mode.go
  modules/110-istio/openapi/values.yaml
Owners: @apolovov, @nabokihms, @konstantin-axenov, @z9r5

fix for linter
  modules/110-istio/hooks/discovery_cni_mode.go
Owners: @apolovov

change hooks to string values usage
  modules/110-istio/hooks/discovery_cni_mode.go
Owners: @apolovov

fix hook
  modules/110-istio/hooks/discovery_cni_mode.go
Owners: @apolovov

[ingress] added missed libs to controller-1.6
  modules/402-ingress-nginx/images/controller-1-6/Dockerfile
Owners: @miklezzzz, @yalosev

[ingress] added missed libs to controller-1.6
  testing/matrix/linter/rules/modules/images.go
Owners: none

WIP
  go.mod
  go.sum
Owners: none

WIP
  go.mod
  go.sum
Owners: none

WIP
  go.mod
  go.sum
Owners: none

WIP
  go.sum
Owners: none

WIP
  go.sum
Owners: none

WIP
  go_lib/deckhouse-config/validator.go
Owners: none

WIP
  go.sum
Owners: none

WIP
  go_lib/deckhouse-config/validator.go
Owners: none

WIP
  go.sum
Owners: none

WIP
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_config.go
  go_lib/deckhouse-config/validator.go
  go_lib/deckhouse-config/validator_test.go
Owners: @yalosev

[ingress] added missed libs to controller-1.6
  modules/402-ingress-nginx/images/controller-1-6/Dockerfile
Owners: @miklezzzz, @yalosev

WIP
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_config.go
  go_lib/deckhouse-config/testdata/validator/flant-integration/openapi/config-values.yaml
  go_lib/deckhouse-config/validator.go
  go_lib/deckhouse-config/validator_test.go
Owners: @yalosev, @nabokihms, @konstantin-axenov, @z9r5

[ingress] added missed libs to controller-1.6
  modules/402-ingress-nginx/images/controller-1-6/Dockerfile
Owners: @miklezzzz, @yalosev

[ingress] added missed libs to controller-1.6
  modules/402-ingress-nginx/images/controller-1-6/Dockerfile
Owners: @miklezzzz, @yalosev

[operator-trivy] update branch
  ee/modules/500-operator-trivy/images/trivy/Dockerfile
Owners: @miklezzzz

[ingress] added missed libs to controller-1.6
  modules/402-ingress-nginx/images/controller-1-6/Dockerfile
Owners: @miklezzzz, @yalosev

[matrix-tests] skip new images of istio in distroless image linter
  testing/matrix/linter/rules/modules/images.go
Owners: none

Added sds-replicated-volume support in volume snapshot controller, and removed linstor support
  modules/045-snapshot-controller/docs/README.md
  modules/045-snapshot-controller/docs/README_RU.md
  modules/045-snapshot-controller/docs/USAGE.md
  modules/045-snapshot-controller/docs/USAGE_RU.md
  modules/045-snapshot-controller/enabled
  modules/045-snapshot-controller/template_tests/module_test.go
Owners: @z9r5, @nabokihms, @konstantin-axenov, @AleksZimin

[ingress] added missed libs to controller-1.6 (#7764)
  modules/402-ingress-nginx/images/controller-1-6/Dockerfile
  testing/matrix/linter/rules/modules/images.go
Owners: @miklezzzz, @yalosev

remove dataPlane object from openapi
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/openapi/doc-ru-config-values.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[cilium] Fixup safe_agent_updater
  modules/021-cni-cilium/templates/safe-agent-updater/daemonset.yaml
Owners: @apolovov

fix after review
  modules/110-istio/hooks/discovery_cni_mode.go
Owners: @apolovov

fix dnsPolicy in safe-agent-updater hepm-template
  modules/021-cni-cilium/templates/safe-agent-updater/daemonset.yaml
Owners: @apolovov

Update glossary.md
  docs/glossary/glossary.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update glossary.md
  docs/glossary/glossary.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

[dashboard] Fix 7730 issue
  modules/500-dashboard/templates/namespace.yaml
Owners: @nabokihms

Add generated files
  .github/dependabot.yml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  testing/library/images_tags_generated.go
Owners: @name212, @RomanenkoDenys

[cloud-provider-vsphere] Add cloud data discoverer for vSphere
  ee/modules/030-cloud-provider-vsphere/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-vsphere/images/cloud-data-discoverer/go.mod
  ee/modules/030-cloud-provider-vsphere/images/cloud-data-discoverer/go.sum
  ee/modules/030-cloud-provider-vsphere/images/cloud-data-discoverer/main.go
  ee/modules/030-cloud-provider-vsphere/images/cloud-data-discoverer/werf.inc.yaml
  ee/modules/030-cloud-provider-vsphere/templates/cloud-data-discoverer/deployment.yaml
  ee/modules/030-cloud-provider-vsphere/templates/cloud-data-discoverer/pod-monitor.yaml
  ee/modules/030-cloud-provider-vsphere/templates/cloud-data-discoverer/rbac-for-us.yaml
  ee/modules/030-cloud-provider-vsphere/templates/cloud-data-discoverer/rbac-to-us.yaml
  ee/modules/030-cloud-provider-vsphere/templates/cloud-data-discoverer/secret.yaml
Owners: @RomanenkoDenys

Fix
  ee/modules/030-cloud-provider-vsphere/templates/cloud-data-discoverer/secret.yaml
Owners: @RomanenkoDenys

.github/CODEOWNERS:

.github/                        @name212
002-deckhouse/                  @yalosev
005-external-module-manager/    @yalosev
007-registrypackages/           @RomanenkoDenys
010-cloud-data-crd/             @nabokihms
010-operator-prometheus-crd/    @nabokihms
010-prometheus-crd/             @nabokihms
010-snapshot-controller-crd/    @AleksZimin
010-user-authn-crd/             @nabokihms
010-vertical-pod-autoscaler-crd/ @nabokihms
011-flow-schema/                @RomanenkoDenys @name212
015-admission-policy-engine/    @yalosev
021-cni-cilium/                 @apolovov
021-kube-proxy/                 @RomanenkoDenys
030-cloud-provider-aws/         @RomanenkoDenys @name212
030-cloud-provider-azure/       @RomanenkoDenys @name212
030-cloud-provider-gcp/         @RomanenkoDenys @name212
030-cloud-provider-yandex/      @RomanenkoDenys @name212
030-cloud-provider-openstack/   @RomanenkoDenys @name212
030-cloud-provider-vsphere/     @RomanenkoDenys
031-local-path-provisioner/     @RomanenkoDenys @name212
035-cni-flannel/                @RomanenkoDenys @name212
035-cni-simple-bridge/          @RomanenkoDenys @name212
040-control-plane-manager/      @RomanenkoDenys @name212
040-node-manager/               @RomanenkoDenys @name212
040-terraform-manager/          @name212
041-ceph-csi/                   @RomanenkoDenys @name212
042-kube-dns/                   @nabokihms
045-snapshot-controller/        @AleksZimin
050-network-policy-engine/      @apolovov
101-cert-manager/               @yalosev
110-istio/                      @apolovov
140-user-authz/                 @nabokihms @apolovov
150-user-authn/                 @nabokihms
160-multitenancy-manager/       @yalosev @Dmitrykob
200-operator-prometheus/        @nabokihms
300-prometheus/                 @nabokihms
301-prometheus-*/               @nabokihms
302-vertical-pod-autoscaler/    @nabokihms
303-prometheus-*/               @nabokihms
340-extended-monitoring/        @nabokihms
340-monitoring-*/               @nabokihms
350-node-local-dns/             @RomanenkoDenys
380-metallb/                    @RomanenkoDenys @apolovov
400-descheduler/                @RomanenkoDenys @name212
402-ingress-nginx/              @miklezzzz @yalosev
460-log-shipper/                @nabokihms
462-loki/                       @nabokihms
465-pod-reloader/               @RomanenkoDenys
470-chrony/                     @RomanenkoDenys
491-containerized-data-importer @fl64
500-openvpn/                    @vitaliy-sn
500-cilium-hubble/              @apolovov
500-dashboard/                  @nabokihms
500-upmeter/                    @nabokihms
500-okmeter/                    @nabokihms
500-operator-trivy/             @miklezzzz
502-delivery/                   @shvgn
600-flant-integration/          @nabokihms
600-namespace-configurator/     @yalosev
650-runtime-audit-engine/       @nabokihms
810-documentation/              @z9r5 @nabokihms @konstantin-axenov
bashible-apiserver/             @RomanenkoDenys @name212
candi/                          @RomanenkoDenys @name212
cloud-controller-manager/       @RomanenkoDenys @name212
csi/                            @AleksZimin
deckhouse-controller/           @yalosev
dhctl/                          @name212
docs/                           @z9r5 @nabokihms @konstantin-axenov
helm_lib/                       @name212
crds/                           @nabokihms @konstantin-axenov @z9r5
openapi/                        @nabokihms @konstantin-axenov @z9r5
