Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @yalosev, @miklezzzz, @ldmonster, @RomanenkoDenys, @sprait, @nabokihms, @apolovov, @aleksey-su, @AleksZimin, @vladimirGuryanov, @lazovskiy, @fl64, @kolashtov, @shvgn, @z9r5, @konstantin-axenov

[chore] implement src-artifact usage linter
  Makefile
  tools/lint-src-artifact/lint-src-artifact.go
Owners: none

[chore] fix linter warnings
  modules/500-dashboard/images/dashboard/werf.inc.yaml
  modules/500-openvpn/images/openvpn/werf.inc.yaml
  modules/500-openvpn/images/ovpn-admin/werf.inc.yaml
  modules/500-openvpn/images/pmacct/werf.inc.yaml
Owners: @nabokihms, @name212, @sprait

Fix tests
  modules/150-user-authn/hooks/get_dex_client_crds_test.go
Owners: @nabokihms

fix titles
  docs/site/pages/virtualization-platform/documentation/admin/install/REQUIREMENTS.md
  docs/site/pages/virtualization-platform/documentation/admin/install/SCENARIOS.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/ACCESS.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/ACCESS_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/INSTALL.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/INSTALL_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/PREPARE.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/PREPARE_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/removing/REMOVING.md
  docs/site/pages/virtualization-platform/documentation/admin/removing/REMOVING_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/update/UPDATE.md
  docs/site/pages/virtualization-platform/documentation/admin/update/UPDATE_RU.md
Owners: @z9r5, @nabokihms

todo
  docs/site/pages/virtualization-platform/README_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/ACCESS_RU.md
Owners: @z9r5, @nabokihms

fix struct
  docs/site/_data/sidebars/virtualization-platform.yml
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/access-control/PROJECTS.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/access-control/PROJECTS_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/access-control/ROLE_MODEL.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/access-control/ROLE_MODEL_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/access-control/USER_MANAGEMENT.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/access-control/USER_MANAGEMENT_RU.md
Owners: @z9r5, @nabokihms

Add backup label to publicly used CRDs (#10298)
  modules/200-operator-prometheus/crds/podmonitors.yaml
  modules/200-operator-prometheus/crds/probes.yaml
  modules/200-operator-prometheus/crds/prometheusrules.yaml
  modules/200-operator-prometheus/crds/scrapeconfigs.yaml
  modules/200-operator-prometheus/crds/servicemonitors.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

add error wrapping
  deckhouse-controller/cmd/deckhouse-controller/start.go
  deckhouse-controller/pkg/addon-operator/kube-config/backend/module_config.go
  deckhouse-controller/pkg/controller/controller.go
Owners: @yalosev, @miklezzzz, @ldmonster

[user-authn] Add ability to set custom labels on autogenerated DexClient secret (#10536)
  modules/150-user-authn/hooks/get_dex_client_crds.go
  modules/150-user-authn/hooks/get_dex_client_crds_test.go
  modules/150-user-authn/openapi/values.yaml
  modules/150-user-authn/templates/dex-client/secret.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Updates
  modules/040-node-manager/monitoring/prometheus-rules/early-oom.tpl
  modules/040-terraform-manager/monitoring/prometheus-rules/terraform-manager/terraform-state-exporter.tpl
  modules/110-istio/monitoring/prometheus-rules/versions.tpl
Owners: @name212, @sprait, @aleksey-su, @apolovov

add dhctl standalone download script
  tools/install/standalone/download.sh
Owners: none

Updates
  docs/site/_data/sidebars/virtualization-platform.yml
Owners: @z9r5, @nabokihms

Re-generate changelog v1.66.0
  CHANGELOG/CHANGELOG-v1.66.0.yml
  CHANGELOG/CHANGELOG-v1.66.md
Owners: none

add dhctl standalone download script
  tools/install/standalone/README.md
  tools/install/standalone/download.sh
Owners: none

fix struct
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/hardware/YADRO.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/hardware/YADRO_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/CEPH.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/CEPH_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/LOCAL_LVM.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/LOCAL_LVM_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/NFS.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/NFS_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/REPLICATED_LVM.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/REPLICATED_LVM_RU.md
Owners: @z9r5, @nabokihms

a bit of translation and editing
  modules/302-vertical-pod-autoscaler/crds/doc-ru-verticalpodautoscalercheckpoint.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

fix struct
  docs/site/_data/sidebars/virtualization-platform.yml
Owners: @z9r5, @nabokihms

fix some errors
  ee/se/modules/380-metallb/hooks/check_requirements_for_upgrade_test.go
Owners: @apolovov

add name
  deckhouse-controller/pkg/addon-operator/kube-config/backend/module_config.go
Owners: @yalosev, @miklezzzz, @ldmonster

Updates
  tools/helm_generate/runners/alert_templates/template_values/110-istio.yaml
Owners: none

[deckhouse-controller] add error wrapping (#10565)
  deckhouse-controller/cmd/deckhouse-controller/start.go
  deckhouse-controller/pkg/addon-operator/kube-config/backend/module_config.go
  deckhouse-controller/pkg/controller/controller.go
Owners: @yalosev, @miklezzzz, @ldmonster

Updates
  modules/110-istio/monitoring/prometheus-rules/versions.tpl
  tools/helm_generate/runners/alert_templates/template_values/110-istio.yaml
Owners: @apolovov

wip Signed-off-by: Ilya Lisitsyn <ilya.lisitsyn@flant.com>
  wip
Owners: none

fix sds struct
  docs/site/_data/sidebars/virtualization-platform.yml
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/hardware/YADRO_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/CEPH.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/CEPH_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/LOCAL_LVM.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/LOCAL_LVM_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/LVM_LOCAL.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/LVM_LOCAL_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/LVM_REPLICATED.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/LVM_REPLICATED_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/NFS.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/NFS_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/REPLICATED_LVM.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/REPLICATED_LVM_RU.md
Owners: @z9r5, @nabokihms

small editing
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
Owners: @z9r5, @nabokihms

Add backup label to publicly used CRDs
  modules/300-prometheus/crds/customalertmanager.yaml
  modules/300-prometheus/crds/customprometheusrules.yaml
  modules/300-prometheus/crds/grafanaadditionaldatasources.yaml
  modules/300-prometheus/crds/grafanaalertschannel.yaml
  modules/300-prometheus/crds/grafanadashboarddefinition.yaml
  modules/300-prometheus/crds/prometheusremotewrite.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Fix
  modules/300-prometheus/crds/customalertmanager.yaml
  modules/300-prometheus/crds/customprometheusrules.yaml
  modules/300-prometheus/crds/grafanaadditionaldatasources.yaml
  modules/300-prometheus/crds/grafanaalertschannel.yaml
  modules/300-prometheus/crds/grafanadashboarddefinition.yaml
  modules/300-prometheus/crds/prometheusremotewrite.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

wip Signed-off-by: Ilya Lisitsyn <ilya.lisitsyn@flant.com>
  wip
Owners: none

Add additional dexclient ignored labels and annotations
  modules/150-user-authn/hooks/get_dex_client_crds.go
  modules/150-user-authn/hooks/get_dex_client_crds_test.go
Owners: @nabokihms

[upmeter] Add CR backup label
  modules/500-upmeter/crds/upmeterremotewrite.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[prometheus-operator] Fix backup label value
  modules/200-operator-prometheus/crds/podmonitors.yaml
  modules/200-operator-prometheus/crds/probes.yaml
  modules/200-operator-prometheus/crds/prometheusrules.yaml
  modules/200-operator-prometheus/crds/scrapeconfigs.yaml
  modules/200-operator-prometheus/crds/servicemonitors.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

fixes
  modules/300-prometheus/crds/prometheusremotewrite.yaml
  modules/300-prometheus/openapi/values.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[prometheus] Add backup label to publicly used CRDs (#10297)
  modules/300-prometheus/crds/customalertmanager.yaml
  modules/300-prometheus/crds/customprometheusrules.yaml
  modules/300-prometheus/crds/grafanaadditionaldatasources.yaml
  modules/300-prometheus/crds/grafanaalertschannel.yaml
  modules/300-prometheus/crds/grafanadashboarddefinition.yaml
  modules/300-prometheus/crds/prometheusremotewrite.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[candi] Update D8 CLI to 0.4.0
  candi/version_map.yml
Owners: @name212, @sprait

small editing
  modules/302-vertical-pod-autoscaler/crds/doc-ru-verticalpodautoscalercheckpoint.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[candi] del quotes primary_mac field in bootstrap-network
  candi/cloud-providers/yandex/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vcd/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vsphere/bashible/bootstrap-networks.sh.tpl
Owners: @name212, @sprait

+
  ee/candi/cloud-providers/openstack/bashible/bootstrap-networks.sh.tpl
Owners: @name212, @sprait

[deckhouse] module controller
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_config.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_source.go
  deckhouse-controller/pkg/controller/module-controllers/config/controller.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/module_downloader.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/helpers.go
  deckhouse-controller/pkg/controller/module-controllers/source/policy_test.go
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/policies/multi.yaml
  deckhouse-controller/pkg/helpers/deckhouse_settings.go
Owners: @yalosev, @miklezzzz, @ldmonster

[deckhouse] module controller
  deckhouse-controller/pkg/controller/module-controllers/config/controller.go
Owners: @yalosev, @miklezzzz, @ldmonster

add docs overview
  docs/site/pages/virtualization-platform/README_RU.md
Owners: @z9r5, @nabokihms

.github/CODEOWNERS:

.github/                        @name212
002-deckhouse/                  @yalosev @miklezzzz @ldmonster
005-external-module-manager/    @yalosev @miklezzzz @ldmonster
007-registrypackages/           @RomanenkoDenys @name212 @sprait
010-cloud-data-crd/             @nabokihms
011-flow-schema/                @name212 @sprait
015-admission-policy-engine/    @yalosev @miklezzzz
021-cni-cilium/                 @apolovov
030-cloud-provider-aws/         @aleksey-su
030-cloud-provider-azure/       @aleksey-su
030-cloud-provider-gcp/         @aleksey-su
030-cloud-provider-yandex/      @aleksey-su
030-cloud-provider-openstack/   @aleksey-su
030-cloud-provider-vcd/         @aleksey-su
030-cloud-provider-vsphere/     @aleksey-su
030-cloud-provider-zvirt/       @aleksey-su
031-local-path-provisioner/     @AleksZimin
031-ceph-csi/                   @AleksZimin
035-cni-flannel/                @apolovov
035-cni-simple-bridge/          @apolovov
036-kube-proxy/                 @name212 @sprait
039-registry-packages-proxy/    @RomanenkoDenys @name212 @sprait
040-control-plane-manager/      @name212 @sprait
040-node-manager/               @name212 @sprait
040-terraform-manager/          @name212 @sprait @aleksey-su
042-kube-dns/                   @nabokihms
045-snapshot-controller/        @AleksZimin
050-network-policy-engine/      @apolovov
101-cert-manager/               @yalosev @miklezzzz
110-istio/                      @apolovov
140-user-authz/                 @nabokihms
150-user-authn/                 @nabokihms
160-multitenancy-manager/       @yalosev @miklezzzz
200-operator-prometheus/        @nabokihms @vladimirGuryanov @lazovskiy
300-prometheus/                 @nabokihms @vladimirGuryanov @lazovskiy
301-prometheus-*/               @nabokihms @vladimirGuryanov @lazovskiy
302-vertical-pod-autoscaler/    @RomanenkoDenys @name212 @sprait
303-prometheus-*/               @nabokihms @vladimirGuryanov @lazovskiy
340-extended-monitoring/        @nabokihms @vladimirGuryanov @lazovskiy
340-monitoring-*/               @nabokihms @vladimirGuryanov @lazovskiy
350-node-local-dns/             @name212 @sprait
380-metallb/                    @apolovov
400-descheduler/                @RomanenkoDenys @name212 @sprait
402-ingress-nginx/              @miklezzzz @yalosev
450-keepalived/                 @apolovov
450-network-gateway/            @apolovov
460-log-shipper/                @nabokihms @vladimirGuryanov @lazovskiy
462-loki/                       @nabokihms @vladimirGuryanov @lazovskiy
465-pod-reloader/               @name212 @sprait
470-chrony/                     @name212 @sprait
491-containerized-data-importer @fl64
500-openvpn/                    @name212 @sprait
500-cilium-hubble/              @apolovov
500-dashboard/                  @nabokihms
500-upmeter/                    @nabokihms
500-okmeter/                    @nabokihms @vladimirGuryanov @lazovskiy @kolashtov
500-operator-trivy/             @miklezzzz @yalosev
502-delivery/                   @shvgn
600-namespace-configurator/     @yalosev @miklezzzz
650-runtime-audit-engine/       @name212 @sprait @nabokihms
800-deckhouse-tools/            @RomanenkoDenys @name212 @sprait
810-documentation/              @z9r5 @nabokihms
bashible-apiserver/             @name212 @sprait
candi/                          @name212 @sprait
cloud-controller-manager/       @aleksey-su
csi/                            @AleksZimin
deckhouse-controller/           @yalosev @miklezzzz @ldmonster
dhctl/                          @name212 @sprait
docs/                           @z9r5 @nabokihms
helm_lib/                       @name212 @sprait
crds/                           @nabokihms @konstantin-axenov @z9r5
openapi/                        @nabokihms @konstantin-axenov @z9r5
/pkg/                           @yalosev @ldmonster
