Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @yalosev, @RomanenkoDenys, @nabokihms, @AleksZimin, @apolovov, @Dmitrykob, @miklezzzz, @fl64, @vitaliy-sn, @shvgn, @z9r5, @konstantin-axenov

.github/CODEOWNERS:

.github/                        @name212
002-deckhouse/                  @yalosev
005-external-module-manager/    @yalosev
007-registrypackages/           @RomanenkoDenys
010-cloud-data-crd/             @nabokihms
010-operator-prometheus-crd/    @nabokihms
010-prometheus-crd/             @nabokihms
010-snapshot-controller-crd/    @AleksZimin
010-user-authn-crd/             @nabokihms
010-vertical-pod-autoscaler-crd/ @nabokihms
011-flow-schema/                @RomanenkoDenys @name212
015-admission-policy-engine/    @yalosev
021-cni-cilium/                 @apolovov
021-kube-proxy/                 @RomanenkoDenys
030-cloud-provider-aws/         @RomanenkoDenys @name212
030-cloud-provider-azure/       @RomanenkoDenys @name212
030-cloud-provider-gcp/         @RomanenkoDenys @name212
030-cloud-provider-yandex/      @RomanenkoDenys @name212
030-cloud-provider-openstack/   @RomanenkoDenys @name212
030-cloud-provider-vsphere/     @RomanenkoDenys
031-local-path-provisioner/     @RomanenkoDenys @name212
035-cni-flannel/                @RomanenkoDenys @name212
035-cni-simple-bridge/          @RomanenkoDenys @name212
040-control-plane-manager/      @RomanenkoDenys @name212
040-node-manager/               @RomanenkoDenys @name212
040-terraform-manager/          @name212
041-ceph-csi/                   @RomanenkoDenys @name212
042-kube-dns/                   @nabokihms
045-snapshot-controller/        @AleksZimin
050-network-policy-engine/      @apolovov
101-cert-manager/               @yalosev
110-istio/                      @apolovov
140-user-authz/                 @nabokihms @apolovov
150-user-authn/                 @nabokihms
160-multitenancy-manager/       @yalosev @Dmitrykob
200-operator-prometheus/        @nabokihms
300-prometheus/                 @nabokihms
301-prometheus-*/               @nabokihms
302-vertical-pod-autoscaler/    @nabokihms
303-prometheus-*/               @nabokihms
340-extended-monitoring/        @nabokihms
340-monitoring-*/               @nabokihms
350-node-local-dns/             @RomanenkoDenys
380-metallb/                    @RomanenkoDenys @apolovov
400-descheduler/                @RomanenkoDenys @name212
402-ingress-nginx/              @miklezzzz @yalosev
460-log-shipper/                @nabokihms
462-loki/                       @nabokihms
465-pod-reloader/               @RomanenkoDenys
470-chrony/                     @RomanenkoDenys
491-containerized-data-importer @fl64
500-openvpn/                    @vitaliy-sn
500-cilium-hubble/              @apolovov
500-dashboard/                  @nabokihms
500-upmeter/                    @nabokihms
500-okmeter/                    @nabokihms
500-operator-trivy/             @miklezzzz
502-delivery/                   @shvgn
600-flant-integration/          @nabokihms
600-namespace-configurator/     @yalosev
650-runtime-audit-engine/       @nabokihms
810-documentation/              @z9r5 @nabokihms @konstantin-axenov
bashible-apiserver/             @RomanenkoDenys @name212
candi/                          @RomanenkoDenys @name212
cloud-controller-manager/       @RomanenkoDenys @name212
csi/                            @AleksZimin
deckhouse-controller/           @yalosev
dhctl/                          @name212
docs/                           @z9r5 @nabokihms @konstantin-axenov
helm_lib/                       @name212
crds/                           @nabokihms @konstantin-axenov @z9r5
openapi/                        @nabokihms @konstantin-axenov @z9r5

[control-plane-manager] Fix D8KubernetesVersionIsDeprecated alert (#7768)
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
Owners: @RomanenkoDenys, @name212

Update USAGE.md
  modules/150-user-authn/docs/USAGE.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

[control-plane-manager] Fix D8KubernetesVersionIsDeprecated alert (#7768)
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
Owners: @RomanenkoDenys, @name212

[control-plane-manager] Fix D8KubernetesVersionIsDeprecated alert (#7768) (#7771)
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
Owners: @RomanenkoDenys, @name212

[operator-trivy] update branch
  ee/modules/500-operator-trivy/images/trivy/Dockerfile
  ee/modules/500-operator-trivy/templates/configmap.yaml
Owners: @miklezzzz

[node-manager] Scale all NodeGroups (with low priority) if any of them have a priority.
  modules/040-node-manager/hooks/set_ng_priorities.go
  modules/040-node-manager/hooks/set_ng_priorities_test.go
Owners: @RomanenkoDenys, @name212

Update doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

go
  candi/bashible/bootstrap.sh.tpl
Owners: @RomanenkoDenys, @name212

Update security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update namespace_detail.json
  modules/402-ingress-nginx/monitoring/grafana-dashboards/ingress-nginx/namespace/namespace_detail.json
Owners: @miklezzzz, @yalosev

Update doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update authentication.md
  docs/user_guide/access/authentication/authentication.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update authorization.md
  docs/user_guide/access/authorization/authorization.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

[flow-schema] apiVersion for FlowSchema and PriorityLevelConfiguration changed to the minimum available (#7750)
  modules/011-flow-schema/template_tests/module_test.go
  modules/011-flow-schema/templates/flowschema.yaml
  modules/011-flow-schema/templates/prioritylevelconfiguration.yaml
Owners: @RomanenkoDenys, @name212

[flow-schema] apiVersion for FlowSchema and PriorityLevelConfiguration changed to the minimum available (#7750)
  modules/011-flow-schema/template_tests/module_test.go
  modules/011-flow-schema/templates/flowschema.yaml
  modules/011-flow-schema/templates/prioritylevelconfiguration.yaml
Owners: @RomanenkoDenys, @name212

[flow-schema] apiVersion for FlowSchema and PriorityLevelConfiguration changed to the minimum available (#7750) (#7774)
  modules/011-flow-schema/template_tests/module_test.go
  modules/011-flow-schema/templates/flowschema.yaml
  modules/011-flow-schema/templates/prioritylevelconfiguration.yaml
Owners: @RomanenkoDenys, @name212

Restrict discovery to use only with modern provisioner
  ee/modules/030-cloud-provider-vsphere/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-vsphere/templates/cloud-data-discoverer/deployment.yaml
Owners: @RomanenkoDenys

Update doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[cloud-provider-yandex] Add additional logs for lb methods
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/werf.inc.yaml
Owners: @RomanenkoDenys, @name212

item 24124
  modules/040-node-manager/webhooks/validating/node_group
Owners: @RomanenkoDenys, @name212

Update security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[cloud-provider-yandex] Add additional logs for lb methods
  candi/version_map.yml
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/werf.inc.yaml
Owners: @RomanenkoDenys, @name212

Update glossary.md
  docs/glossary/glossary.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update installing.md
  docs/user_guide/installation and maintenance/installing /installing.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update installing.md
  docs/user_guide/installation and maintenance/installing /installing.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update installing.md
  docs/user_guide/installation and maintenance/installing /installing.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Create glossary-presentation.md
  docs/glossary/glossary-presentation.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update glossary-presentation.md
  docs/glossary/glossary-presentation.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update glossary-presentation.md
  docs/glossary/glossary-presentation.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update glossary-presentation.md
  docs/glossary/glossary-presentation.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Update glossary.md
  docs/glossary/glossary.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

[dashboard] Fix 7730 issue (#7766)
  modules/500-dashboard/templates/namespace.yaml
Owners: @nabokihms

Update glossary.md
  docs/glossary/glossary.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

[deckhouse] Add embedded MUP (#7703)
  deckhouse-controller/cmd/deckhouse-controller/start.go
  deckhouse-controller/crds/module-update-policy.yaml
  deckhouse-controller/pkg/addon-operator/kube-config/backend/module_config.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller_test.go
  modules/002-deckhouse/hooks/adopt_module_source.go
  modules/002-deckhouse/hooks/adopt_module_source_test.go
  modules/002-deckhouse/templates/default-module-source.yaml
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source.go
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source_test.go
Owners: @yalosev, @nabokihms, @konstantin-axenov, @z9r5

Update glossary.md
  docs/glossary/glossary.md
Owners: @z9r5, @nabokihms, @konstantin-axenov
