Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @diafour, @yalosev, @zuzzas, @RomanenkoDenys, @konstantin-axenov, @kvaps, @name212, @apolovov, @nabokihms, @vitaliy-sn, @shvgn, @z9r5

doc: add argo cd description in russian doc; fix 'ArgoCD -> Argo CD' typo as well
  ee/modules/502-delivery/docs/README_RU.md
  ee/modules/502-delivery/docs/USAGE_RU.md
  ee/modules/502-delivery/hack/retemplate.py
  ee/modules/502-delivery/openapi/config-values.yaml
  ee/modules/502-delivery/openapi/doc-ru-config-values.yaml
  ee/modules/502-delivery/templates/argocd/server/d8-ingress.yaml
Owners: @z9r5

[istio] add kube-rbac-proxy CA certificate to d8-ingress-istio
  ee/modules/110-istio/templates/ingress-gateway-controller/namespace.yaml
Owners: @apolovov

chore(linter): remove unused assignment
  ee/modules/502-delivery/hooks/werf_sources/hook.go
Owners: none

[node-manager] Clarify using NodeGroup parameters
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Owners: @z9r5

chore: fix typo
  ee/modules/502-delivery/hooks/werf_sources/hook.go
Owners: none

go
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/migration-alerts.yaml
Owners: @nabokihms

[ceph-csi] Allow non-admin ceph account for cephfs (#3212)
  modules/099-ceph-csi/templates/cephfs/secret.yaml
  modules/099-ceph-csi/templates/cephfs/storage-classes.yaml
  modules/099-ceph-csi/templates/rbd/secret.yaml
  modules/099-ceph-csi/templates/rbd/storage-classes.yaml
Owners: none

Update modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Owners: none

++
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Owners: none

go
  modules/002-deckhouse/hooks/update_deckhouse_image.go
Owners: @yalosev

[istio] add kube-rbac-proxy CA certificate to d8-ingress-istio (#3317)
  ee/modules/110-istio/templates/ingress-gateway-controller/namespace.yaml
Owners: @apolovov

test
  modules/040-node-manager/hooks/get_crds_test.go
Owners: @yalosev

++
  modules/040-node-manager/hooks/get_crds.go
Owners: @yalosev

++
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/internal/autoscaler/instance_types/ec2_instance_types.go
Owners: @yalosev

go
  modules/002-deckhouse/hooks/update_deckhouse_image.go
Owners: @yalosev

go
  modules/002-deckhouse/hooks/update_deckhouse_image.go
Owners: @yalosev

go
  modules/002-deckhouse/hooks/update_deckhouse_image.go
Owners: @yalosev

[testing] chore: remove catching additional logs during e2e tests
  testing/cloud_layouts/script.sh
Owners: none

++
  modules/300-prometheus/hooks/lock_main_queue_during_update.go
Owners: none

[docs] Add EN usage.md
  ee/modules/502-delivery/docs/USAGE.md
Owners: @z9r5

Title update
  ee/modules/502-delivery/docs/README.md
Owners: @z9r5

Updates
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/images/502-delivery/werf-bundle-and-argocd.png
  docs/documentation/images/502-delivery/werf-bundle-and-argocd.svg
  ee/modules/502-delivery/docs/CONFIGURATION.md
  ee/modules/502-delivery/docs/CONFIGURATION_RU.md
  ee/modules/502-delivery/docs/CR.md
  ee/modules/502-delivery/docs/CR_RU.md
  ee/modules/502-delivery/docs/README_RU.md
  ee/modules/502-delivery/docs/USAGE_RU.md
Owners: @z9r5

Add EN readme
  ee/modules/502-delivery/docs/README.md
Owners: @z9r5

Updates
  ee/modules/502-delivery/docs/README.md
  ee/modules/502-delivery/docs/README_RU.md
  ee/modules/502-delivery/docs/USAGE.md
  ee/modules/502-delivery/docs/USAGE_RU.md
  ee/modules/502-delivery/openapi/config-values.yaml
  ee/modules/502-delivery/openapi/doc-ru-config-values.yaml
Owners: @z9r5

[docs] update to reflect changes in RU version of FAQ
  modules/040-control-plane-manager/docs/FAQ.md
Owners: @z9r5

Update modules/040-control-plane-manager/docs/FAQ_RU.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Owners: @z9r5

Update modules/040-control-plane-manager/docs/FAQ_RU.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Owners: @z9r5

Update modules/040-control-plane-manager/docs/FAQ_RU.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Owners: @z9r5

Update modules/040-control-plane-manager/docs/FAQ_RU.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Owners: @z9r5

.github/CODEOWNERS:

.github/                    @diafour
002-deckhouse/              @yalosev
021-cni-cilium/             @zuzzas @yalosev @RomanenkoDenys @konstantin-axenov
030-cloud-provider-openstack/ @konstantin-axenov
030-cloud-provider-vsphere/ @RomanenkoDenys
041-linstor/                @kvaps
031-local-path-provisioner/ @RomanenkoDenys
040-control-plane-manager/  @yalosev
040-node-manager/           @yalosev
040-terraform-manager/      @name212
101-cert-manager/           @yalosev
110-istio/                  @apolovov
140-user-authz/             @nabokihms @apolovov
150-user-authn/             @nabokihms
340-extended-monitoring/    @nabokihms @zuzzas
340-monitoring-*/           @nabokihms
350-node-local-dns/         @zuzzas
380-metallb/                @RomanenkoDenys @kvaps
402-ingress-nginx/          @nabokihms @yalosev
460-log-shipper/            @nabokihms
470-chrony/                 @RomanenkoDenys
500-openvpn/                @vitaliy-sn
500-upmeter/                @shvgn
600-flant-integration/      @shvgn
bashible-apiserver/         @yalosev
candi/                      @RomanenkoDenys
cloud-controller-manager/   @zuzzas
csi/                        @zuzzas
deckhouse-controller/       @diafour
dhctl/                      @name212
docs/                       @z9r5
