Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @yalosev, @RomanenkoDenys, @nabokihms, @AleksZimin, @apolovov, @Dmitrykob, @miklezzzz, @fl64, @vitaliy-sn, @shvgn, @z9r5, @konstantin-axenov

Add keep alive to VC connection
  ee/modules/030-cloud-provider-vsphere/images/cloud-data-discoverer/discoverer.go
Owners: @RomanenkoDenys

Update modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Apply suggestions from code review
  modules/015-admission-policy-engine/crds/security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[cilium] Fixup safe_agent_updater (#7760)
  modules/021-cni-cilium/templates/safe-agent-updater/daemonset.yaml
Owners: @apolovov

[cilium] Fixup safe_agent_updater (#7760)
  modules/021-cni-cilium/templates/safe-agent-updater/daemonset.yaml
Owners: @apolovov

[cilium] Fixup safe_agent_updater (#7760) (#7767)
  modules/021-cni-cilium/templates/safe-agent-updater/daemonset.yaml
Owners: @apolovov

Apply suggestions from code review
  modules/110-istio/requirements/check.go
Owners: @apolovov

Revert "[docs] Warning about Istio and admission-policy-engine restrictions (#7398)"
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

[candi] Change node name to fqdn for Static and CloudStatic nodetypes
  candi/bashible/bashbooster/60_deckhouse.sh
  candi/bashible/bashible.sh.tpl
  candi/bashible/bootstrap.sh.tpl
  candi/bashible/common-steps/all/003_set_short_hostname.sh.tpl
  candi/bashible/common-steps/all/004_check_hostname.sh.tpl
  candi/bashible/common-steps/all/091_set_virtualization_type.sh.tpl
  candi/bashible/common-steps/all/099_reboot.sh.tpl
  candi/bashible/common-steps/cluster-bootstrap/050_reset_control_plane_on_configuration_change.sh.tpl
  candi/bashible/common-steps/node-group/001_waiting_approval_annotations.sh.tpl
Owners: @RomanenkoDenys, @name212

go
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

Apply suggestions from code review
  modules/110-istio/hooks/discovery_cni_mode.go
Owners: @apolovov

rebase + fixes
  candi/bashible/bashbooster/60_deckhouse.sh
  candi/bashible/bashible.sh.tpl
  candi/bashible/bootstrap.sh.tpl
  candi/bashible/common-steps/all/004_check_hostname.sh.tpl
  candi/bashible/common-steps/all/091_set_virtualization_type.sh.tpl
  candi/bashible/common-steps/all/099_reboot.sh.tpl
  candi/bashible/common-steps/cluster-bootstrap/050_reset_control_plane_on_configuration_change.sh.tpl
  candi/bashible/common-steps/node-group/001_waiting_approval_annotations.sh.tpl
Owners: @RomanenkoDenys, @name212

DECK_NODE_HOSTNAME > D8_NODE_HOSTNAME
  candi/bashible/bashbooster/60_deckhouse.sh
  candi/bashible/bashible.sh.tpl
  candi/bashible/bootstrap.sh.tpl
  candi/bashible/common-steps/all/004_check_hostname.sh.tpl
  candi/bashible/common-steps/all/091_set_virtualization_type.sh.tpl
  candi/bashible/common-steps/all/099_reboot.sh.tpl
  candi/bashible/common-steps/cluster-bootstrap/050_reset_control_plane_on_configuration_change.sh.tpl
  candi/bashible/common-steps/node-group/001_waiting_approval_annotations.sh.tpl
Owners: @RomanenkoDenys, @name212

[istio] pre-upgrade compatibility check for the coming Kubernetes version (#7712)
  modules/110-istio/hooks/discovery_preflight_check.go
  modules/110-istio/requirements/check.go
  modules/110-istio/requirements/check_test.go
  release.yaml
Owners: @apolovov

fix
  candi/bashible/common-steps/all/004_check_hostname.sh.tpl
Owners: @RomanenkoDenys, @name212

[control-plane-manager] Fix D8KubernetesVersionIsDeprecated alert
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
Owners: @RomanenkoDenys, @name212

go
  modules/011-flow-schema/templates/flowschema.yaml
  modules/011-flow-schema/templates/prioritylevelconfiguration.yaml
Owners: @RomanenkoDenys, @name212

fix memcahced ha replicas count
  modules/300-prometheus/templates/memcached/sts.yaml
Owners: @nabokihms

Update modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Fix
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[ingress] added missed libs to controller-1.6 (#7764)
  modules/402-ingress-nginx/images/controller-1-6/Dockerfile
Owners: @miklezzzz, @yalosev

[zvirt] fix
  ee/candi/cloud-providers/zvirt/openapi/doc-ru-cluster_configuration.yaml
  ee/modules/030-cloud-provider-zvirt/hooks/discover.go
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/pkg/cloudprovider/zvirt/instances.go
  ee/modules/030-cloud-provider-zvirt/templates/cloud-data-discoverer/secret.yaml
  ee/modules/030-cloud-provider-zvirt/templates/csi/secret.yaml
  ee/modules/030-cloud-provider-zvirt/templates/csi/storage-classes.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5, @RomanenkoDenys, @name212, @AleksZimin

Update doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

Update modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[istio] pre-upgrade compatibility check for the coming Kubernetes version (#7712)
  modules/110-istio/hooks/discovery_preflight_check.go
  modules/110-istio/requirements/check.go
  modules/110-istio/requirements/check_test.go
  release.yaml
Owners: @apolovov

Update USAGE_RU.md
  modules/150-user-authn/docs/USAGE_RU.md
Owners: @z9r5, @nabokihms, @konstantin-axenov

.github/CODEOWNERS:

.github/                        @name212
002-deckhouse/                  @yalosev
005-external-module-manager/    @yalosev
007-registrypackages/           @RomanenkoDenys
010-cloud-data-crd/             @nabokihms
010-operator-prometheus-crd/    @nabokihms
010-prometheus-crd/             @nabokihms
010-snapshot-controller-crd/    @AleksZimin
010-user-authn-crd/             @nabokihms
010-vertical-pod-autoscaler-crd/ @nabokihms
011-flow-schema/                @RomanenkoDenys @name212
015-admission-policy-engine/    @yalosev
021-cni-cilium/                 @apolovov
021-kube-proxy/                 @RomanenkoDenys
030-cloud-provider-aws/         @RomanenkoDenys @name212
030-cloud-provider-azure/       @RomanenkoDenys @name212
030-cloud-provider-gcp/         @RomanenkoDenys @name212
030-cloud-provider-yandex/      @RomanenkoDenys @name212
030-cloud-provider-openstack/   @RomanenkoDenys @name212
030-cloud-provider-vsphere/     @RomanenkoDenys
031-local-path-provisioner/     @RomanenkoDenys @name212
035-cni-flannel/                @RomanenkoDenys @name212
035-cni-simple-bridge/          @RomanenkoDenys @name212
040-control-plane-manager/      @RomanenkoDenys @name212
040-node-manager/               @RomanenkoDenys @name212
040-terraform-manager/          @name212
041-ceph-csi/                   @RomanenkoDenys @name212
042-kube-dns/                   @nabokihms
045-snapshot-controller/        @AleksZimin
050-network-policy-engine/      @apolovov
101-cert-manager/               @yalosev
110-istio/                      @apolovov
140-user-authz/                 @nabokihms @apolovov
150-user-authn/                 @nabokihms
160-multitenancy-manager/       @yalosev @Dmitrykob
200-operator-prometheus/        @nabokihms
300-prometheus/                 @nabokihms
301-prometheus-*/               @nabokihms
302-vertical-pod-autoscaler/    @nabokihms
303-prometheus-*/               @nabokihms
340-extended-monitoring/        @nabokihms
340-monitoring-*/               @nabokihms
350-node-local-dns/             @RomanenkoDenys
380-metallb/                    @RomanenkoDenys @apolovov
400-descheduler/                @RomanenkoDenys @name212
402-ingress-nginx/              @miklezzzz @yalosev
460-log-shipper/                @nabokihms
462-loki/                       @nabokihms
465-pod-reloader/               @RomanenkoDenys
470-chrony/                     @RomanenkoDenys
491-containerized-data-importer @fl64
500-openvpn/                    @vitaliy-sn
500-cilium-hubble/              @apolovov
500-dashboard/                  @nabokihms
500-upmeter/                    @nabokihms
500-okmeter/                    @nabokihms
500-operator-trivy/             @miklezzzz
502-delivery/                   @shvgn
600-flant-integration/          @nabokihms
600-namespace-configurator/     @yalosev
650-runtime-audit-engine/       @nabokihms
810-documentation/              @z9r5 @nabokihms @konstantin-axenov
bashible-apiserver/             @RomanenkoDenys @name212
candi/                          @RomanenkoDenys @name212
cloud-controller-manager/       @RomanenkoDenys @name212
csi/                            @AleksZimin
deckhouse-controller/           @yalosev
dhctl/                          @name212
docs/                           @z9r5 @nabokihms @konstantin-axenov
helm_lib/                       @name212
crds/                           @nabokihms @konstantin-axenov @z9r5
openapi/                        @nabokihms @konstantin-axenov @z9r5
