Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @yalosev, @miklezzzz, @RomanenkoDenys, @nabokihms, @AleksZimin, @apolovov, @aleksey-su, @Dmitrykob, @fl64, @vitaliy-sn, @shvgn, @z9r5, @konstantin-axenov

.github/CODEOWNERS:

.github/                        @name212
002-deckhouse/                  @yalosev @miklezzzz
005-external-module-manager/    @yalosev @miklezzzz
007-registrypackages/           @RomanenkoDenys
010-cloud-data-crd/             @nabokihms
010-operator-prometheus-crd/    @nabokihms
010-prometheus-crd/             @nabokihms
010-snapshot-controller-crd/    @AleksZimin
010-user-authn-crd/             @nabokihms
010-vertical-pod-autoscaler-crd/ @nabokihms
011-flow-schema/                @RomanenkoDenys @name212
015-admission-policy-engine/    @yalosev @miklezzzz
021-cni-cilium/                 @apolovov
021-kube-proxy/                 @RomanenkoDenys
030-cloud-provider-aws/         @RomanenkoDenys @name212
030-cloud-provider-azure/       @RomanenkoDenys @name212
030-cloud-provider-gcp/         @RomanenkoDenys @name212
030-cloud-provider-yandex/      @RomanenkoDenys @name212 @aleksey-su
030-cloud-provider-openstack/   @RomanenkoDenys @name212
030-cloud-provider-vsphere/     @RomanenkoDenys
031-local-path-provisioner/     @RomanenkoDenys @name212
035-cni-flannel/                @apolovov
035-cni-simple-bridge/          @apolovov
040-control-plane-manager/      @RomanenkoDenys @name212
040-node-manager/               @RomanenkoDenys @name212 @aleksey-su
040-terraform-manager/          @name212 @aleksey-su
041-ceph-csi/                   @RomanenkoDenys @name212
042-kube-dns/                   @nabokihms
045-snapshot-controller/        @AleksZimin
050-network-policy-engine/      @apolovov
101-cert-manager/               @yalosev @miklezzzz
110-istio/                      @apolovov
140-user-authz/                 @nabokihms @apolovov
150-user-authn/                 @nabokihms
160-multitenancy-manager/       @yalosev @Dmitrykob @miklezzzz
200-operator-prometheus/        @nabokihms
300-prometheus/                 @nabokihms
301-prometheus-*/               @nabokihms
302-vertical-pod-autoscaler/    @RomanenkoDenys
303-prometheus-*/               @nabokihms
340-extended-monitoring/        @nabokihms
340-monitoring-*/               @nabokihms
350-node-local-dns/             @RomanenkoDenys
380-metallb/                    @RomanenkoDenys @apolovov
400-descheduler/                @RomanenkoDenys @name212
402-ingress-nginx/              @miklezzzz @yalosev
460-log-shipper/                @nabokihms
462-loki/                       @nabokihms
465-pod-reloader/               @RomanenkoDenys
470-chrony/                     @RomanenkoDenys
491-containerized-data-importer @fl64
500-openvpn/                    @vitaliy-sn
500-cilium-hubble/              @apolovov
500-dashboard/                  @nabokihms
500-upmeter/                    @nabokihms
500-okmeter/                    @nabokihms
500-operator-trivy/             @miklezzzz @yalosev
502-delivery/                   @shvgn
600-flant-integration/          @nabokihms
600-namespace-configurator/     @yalosev @miklezzzz
650-runtime-audit-engine/       @nabokihms
810-documentation/              @z9r5 @nabokihms
bashible-apiserver/             @RomanenkoDenys @name212
candi/                          @RomanenkoDenys @name212
cloud-controller-manager/       @RomanenkoDenys @name212 @aleksey-su
csi/                            @AleksZimin
deckhouse-controller/           @yalosev @miklezzzz
dhctl/                          @name212 @aleksey-su
docs/                           @z9r5 @nabokihms
helm_lib/                       @name212
crds/                           @nabokihms @konstantin-axenov @z9r5
openapi/                        @nabokihms @konstantin-axenov @z9r5

[ingress-nginx] fix maxmind DB download for controller 1.9 (#7944) (#7951)
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
  modules/402-ingress-nginx/images/controller-1-9/curl-chroot-wrapper.sh
Owners: @miklezzzz, @yalosev

[deckhouse-controller] fix updateModuleConfigsStatus
  deckhouse-controller/pkg/controller/controller.go
Owners: @yalosev, @miklezzzz

[cloud-provider-vcd] Upgrade capvcd controller version
  ee/modules/030-cloud-provider-vcd/crds/external/vcdclusters.yaml
  ee/modules/030-cloud-provider-vcd/crds/external/vcdclustertemplates.yaml
  ee/modules/030-cloud-provider-vcd/crds/external/vcdmachines.yaml
  ee/modules/030-cloud-provider-vcd/crds/external/vcdmachinetemplates.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[cloud-provider-vcd] Upgrade capvcd controller version
  ee/modules/030-cloud-provider-vcd/templates/capcd-controller-manager/deployment.yaml
Owners: none

[cloud-provider-vcd] Upgrade capvcd controller version
  ee/modules/030-cloud-provider-vcd/crds/external/vcdclusters.yaml
  ee/modules/030-cloud-provider-vcd/crds/external/vcdclustertemplates.yaml
  ee/modules/030-cloud-provider-vcd/crds/external/vcdmachines.yaml
  ee/modules/030-cloud-provider-vcd/crds/external/vcdmachinetemplates.yaml
Owners: @nabokihms, @konstantin-axenov, @z9r5

[cloud-provider-vcd] Upgrade capvcd controller version
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
Owners: none

[dhctl] Fix CVE's
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
Owners: none

[cloud-provider-vcd] Add additional logs for network reconcile
  ee/modules/030-cloud-provider-vcd/templates/capcd-controller-manager/deployment.yaml
Owners: none

[cloud-provider-vcd] Upgrade capvcd controller version
  ee/modules/030-cloud-provider-vcd/templates/capcd-controller-manager/admission.yaml
Owners: none

++
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
  ee/modules/030-cloud-provider-vcd/templates/capcd-controller-manager/deployment.yaml
Owners: none

[cloud-provider-vcd] Upgrade capvcd controller version
  ee/modules/030-cloud-provider-vcd/templates/capcd-controller-manager/admission.yaml
Owners: none

++
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
Owners: none

++
  ee/modules/030-cloud-provider-vcd/templates/capcd-controller-manager/deployment.yaml
Owners: none

++
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
Owners: none

+++
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
Owners: none

[cloud-provider-vcd] Add additional logs for network reconcile
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
Owners: none

++
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
Owners: none

++
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
Owners: none

[cloud-provider-vcd] Add additional logs for network reconcile
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
Owners: none

[cloud-provider-vcd] Add additional logs for network reconcile
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
Owners: none

[cloud-provider-vcd] Add additional logs for network reconcile
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
Owners: none

[cloud-provider-vcd] Upgrade capvcd controller version
  ee/modules/030-cloud-provider-vcd/templates/capcd-controller-manager/admission.yaml
Owners: none

[cloud-provider-vcd] Add additional logs for network reconcile
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
Owners: none

++
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
Owners: none

+++
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
Owners: none

[cloud-provider-vcd] Upgrade capvcd controller version
  ee/modules/030-cloud-provider-vcd/templates/capcd-controller-manager/admission.yaml
Owners: none

[cloud-provider-vcd] Add additional logs for network reconcile
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
Owners: none

++
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
Owners: none

++
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
Owners: none

[deckhouse-controller] add debug
  deckhouse-controller/pkg/controller/controller.go
Owners: @yalosev, @miklezzzz

[admission-policy-engine] add new columns to grafana (#7926)
  modules/015-admission-policy-engine/monitoring/grafana-dashboards/security/admission-policy-engine.json
Owners: @yalosev, @miklezzzz

++
  ee/modules/030-cloud-provider-vcd/templates/capcd-controller-manager/deployment.yaml
Owners: none

[deckhouse-controller] revert client
  deckhouse-controller/pkg/controller/controller.go
Owners: @yalosev, @miklezzzz

[zvirt] fix capz logging
  ee/modules/030-cloud-provider-zvirt/images/capz-controller-manager/src/internal/controller/zvirtmachine_controller.go
Owners: none

fix
  ee/modules/030-cloud-provider-zvirt/images/capz-controller-manager/src/internal/controller/zvirtmachine_controller.go
Owners: none

[deckhouse-controller] move module statuses to controller (#7741)
  deckhouse-controller/cmd/deckhouse-controller/start.go
  deckhouse-controller/crds/module.yaml
  deckhouse-controller/pkg/addon-operator/kube-config/backend/module_config.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module.go
  deckhouse-controller/pkg/controller/controller.go
  go_lib/deckhouse-config/module_manager.go
  go_lib/deckhouse-config/service.go
  go_lib/deckhouse-config/status.go
  modules/002-deckhouse/hooks/dconfig_update_status.go
  modules/002-deckhouse/hooks/dconfig_update_status_test.go
Owners: @yalosev, @miklezzzz, @nabokihms, @konstantin-axenov, @z9r5

Apply suggestions from code review
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Owners: @z9r5, @nabokihms

Updates
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Owners: @z9r5, @nabokihms

[docs] Docs on DeckhouseReleases manifests generated by `dhctl mirror` (#7938)
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Owners: @z9r5, @nabokihms

[docs] Docs on DeckhouseReleases manifests generated by `dhctl mirror` (#7938)
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Owners: @z9r5, @nabokihms
