Repository deckhouse/deckhouse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @diafour, @yalosev, @zuzzas, @RomanenkoDenys, @konstantin-axenov, @kvaps, @name212, @apolovov, @nabokihms, @vitaliy-sn, @shvgn, @z9r5

.github/CODEOWNERS:

.github/                    @diafour
002-deckhouse/              @yalosev
021-cni-cilium/             @zuzzas @yalosev @RomanenkoDenys @konstantin-axenov
030-cloud-provider-openstack/ @konstantin-axenov
030-cloud-provider-vsphere/ @RomanenkoDenys
041-linstor/                @kvaps
031-local-path-provisioner/ @RomanenkoDenys
040-control-plane-manager/  @yalosev
040-node-manager/           @yalosev
040-terraform-manager/      @name212
101-cert-manager/           @yalosev
110-istio/                  @apolovov
140-user-authz/             @nabokihms @apolovov
150-user-authn/             @nabokihms
340-extended-monitoring/    @nabokihms @zuzzas
340-monitoring-*/           @nabokihms
350-node-local-dns/         @zuzzas
380-metallb/                @RomanenkoDenys @kvaps
402-ingress-nginx/          @nabokihms @yalosev
460-log-shipper/            @nabokihms
470-chrony/                 @RomanenkoDenys
500-openvpn/                @vitaliy-sn
500-upmeter/                @shvgn
600-flant-integration/      @shvgn
bashible-apiserver/         @yalosev
candi/                      @RomanenkoDenys
cloud-controller-manager/   @zuzzas
csi/                        @zuzzas
deckhouse-controller/       @diafour
dhctl/                      @name212
docs/                       @z9r5

[flant-integration] Added regex to parse os image for rocky, alteros, redos, alma and astra linux (#3171)
  ee/modules/600-flant-integration/images/flant-pricing/hooks/prometheus_metrics.sh
Owners: @shvgn

[cloud-provider-yandex] add image with fsck check at mount (#3283)
  modules/030-cloud-provider-yandex/images/yandex-csi-plugin/Dockerfile
Owners: none

[flant-integration] Use prom token to collect metrics (#3216)
  ee/modules/600-flant-integration/hooks/pricing/order_prometheus_api_client_certificate.go
  ee/modules/600-flant-integration/images/flant-pricing/hooks/prometheus_metrics.sh
  ee/modules/600-flant-integration/templates/pricing/daemonset.yaml
  ee/modules/600-flant-integration/templates/pricing/prometheus-api-client-tls.yaml
  modules/300-prometheus/templates/prometheus/rbac-to-us.yaml
Owners: @shvgn

Update dhctl
  dhctl/cmd/dhctl/commands/config.go
  dhctl/cmd/dhctl/main.go
  dhctl/go.mod
  dhctl/pkg/config/base.go
  dhctl/pkg/config/bashible.go
  dhctl/pkg/config/load.go
  dhctl/pkg/config/meta.go
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  dhctl/pkg/operations/auto-converger.go
  dhctl/pkg/operations/bootstrap_test.go
  dhctl/pkg/operations/edit.go
  dhctl/pkg/system/ssh/frontend/file.go
  dhctl/pkg/template/bashbooster.go
  dhctl/pkg/template/bundle.go
  dhctl/pkg/template/execute.go
  dhctl/pkg/template/resources.go
  dhctl/pkg/template/save.go
  dhctl/pkg/terminal/ask-password.go
  dhctl/pkg/terraform/runner.go
  dhctl/pkg/util/cache/cache.go
  dhctl/pkg/util/cache/cache_test.go
  dhctl/pkg/util/fs/create.go
  dhctl/pkg/util/fs/create_test.go
  dhctl/pkg/util/input/confirmation.go
  go.mod
Owners: @name212

Update deckhouse-config-webhook
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.mod
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.sum
  modules/003-deckhouse-config/images/deckhouse-config-webhook/werf.inc.yaml
Owners: none

++
  dhctl/pkg/kubernetes/actions/deckhouse/delete_test.go
  modules/040-control-plane-manager/hooks/audit_policy.go
Owners: @name212, @yalosev

disable LintMode
  testing/helm/init.go
Owners: none

[istio] move to d8-ingress-istio
  ee/modules/110-istio/docs/EXAMPLES.md
  ee/modules/110-istio/docs/EXAMPLES_RU.md
  ee/modules/110-istio/template_tests/module_test.go
  ee/modules/110-istio/templates/ingress-gateway-controller/daemonset.yaml
  ee/modules/110-istio/templates/ingress-gateway-controller/namespace.yaml
  ee/modules/110-istio/templates/ingress-gateway-controller/podmonitor.yaml
  ee/modules/110-istio/templates/ingress-gateway-controller/rbac-for-us.yaml
  ee/modules/110-istio/templates/ingress-gateway-controller/service.yaml
Owners: @z9r5, @apolovov

[e2e-tests] add install via proxy for Static
  candi/bashible/bashible.sh.tpl
  candi/bashible/bundles/centos/all/000_remove_yum_proxy_conf.sh.tpl
  candi/bashible/bundles/centos/bootstrap.sh.tpl
  candi/bashible/bundles/debian/all/000_add_apt_proxy_conf.sh.tpl
  candi/bashible/bundles/debian/all/000_remove_apt_proxy_conf.sh.tpl
  candi/bashible/bundles/ubuntu-lts/all/000_add_apt_proxy_conf.sh.tpl
  candi/bashible/bundles/ubuntu-lts/all/000_remove_apt_proxy_conf.sh.tpl
  candi/bashible/bundles/ubuntu-lts/bootstrap.sh.tpl
  candi/bashible/common-steps/all/000_add_system_proxy.sh.tpl
  candi/bashible/openapi.yaml
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  dhctl/pkg/config/meta.go
  dhctl/pkg/config/meta_test.go
  ee/candi/bashible/bundles/alteros/all/000_remove_yum_proxy_conf.sh.tpl
  ee/candi/bashible/bundles/alteros/bootstrap.sh.tpl
  ee/candi/bashible/bundles/astra/all/000_add_apt_proxy_conf.sh.tpl
  ee/candi/bashible/bundles/astra/all/000_remove_apt_proxy_conf.sh.tpl
  ee/candi/bashible/bundles/astra/bootstrap.sh.tpl
  ee/candi/bashible/bundles/redos/all/remove_add_yum_proxy_conf.sh.tpl
  ee/candi/bashible/bundles/redos/bootstrap.sh.tpl
  ee/modules/600-flant-integration/template_tests/module_test.go
  global-hooks/migrate/common_test.go
  global-hooks/migrate/migrate_cluster_configuration.go
  global-hooks/migrate/migrate_cluster_configuration_test.go
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/openapi-case-tests.yaml
  helm_lib/templates/_envs_for_proxy.tpl
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context_builder.go
  modules/040-node-manager/template_tests/module_test.go
  modules/040-node-manager/templates/bashible-apiserver/deployment.yaml
  modules/040-node-manager/templates/node-group/_cloud_init_cloud_config.tpl
  modules/040-node-manager/templates/node-group/_static_or_hybrid_script.tpl
  modules/340-extended-monitoring/template_tests/image_availability_test.go
  testing/cloud_layouts/Static/configuration.tpl.yaml
  testing/cloud_layouts/Static/infra.tpl.tf
  testing/cloud_layouts/script.sh
Owners: @RomanenkoDenys, @diafour, @name212, @shvgn, @yalosev, @nabokihms, @zuzzas

++
  candi/bashible/bundles/centos/all/000_remove_yum_proxy_conf.sh.tpl
  candi/bashible/bundles/ubuntu-lts/all/000_remove_apt_proxy_conf.sh.tpl
  ee/candi/bashible/bundles/alteros/all/000_remove_yum_proxy_conf.sh.tpl
  ee/candi/bashible/bundles/astra/all/000_remove_apt_proxy_conf.sh.tpl
  ee/candi/bashible/bundles/redos/all/000_remove_yum_proxy_conf.sh.tpl
Owners: @RomanenkoDenys

[prometheus] Use prom token for authentication (#3217)
  modules/300-prometheus/files/prometheus_longterm_config.tpl
  modules/300-prometheus/hooks/order_prometheus_api_client_certificate.go
  modules/300-prometheus/hooks/order_scraper_certificate.go
  modules/300-prometheus/images/trickster/Dockerfile
  modules/300-prometheus/images/trickster/entrypoint.sh
  modules/300-prometheus/templates/grafana/deployment.yaml
  modules/300-prometheus/templates/grafana/secret-datasources-list.yaml
  modules/300-prometheus/templates/prometheus-api-client-tls.yaml
  modules/300-prometheus/templates/prometheus-scraper-tls.yaml
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
  modules/300-prometheus/templates/trickster/configmap.yaml
  modules/300-prometheus/templates/trickster/deployment.yaml
  modules/300-prometheus/templates/trickster/rbac-to-us.yaml
Owners: none

[global-hooks] remove x bit from *.go files in global-hooks (#3258)
  global-hooks/cluster_is_bootstrapped.go
  global-hooks/discovery/cluster_count_d8_specific_nodes.go
  global-hooks/discovery/cluster_dns_address.go
  global-hooks/discovery/cluster_ha.go
  global-hooks/discovery/cluster_uuid.go
  global-hooks/discovery/deckhouse_registry.go
  global-hooks/discovery/default_storage_class.go
  global-hooks/discovery/extension_api_server_authentication.go
  global-hooks/discovery/modules_images_tags.go
  global-hooks/discovery/prometheus_scrape_interval.go
  global-hooks/enable_cloud_provider.go
  global-hooks/enable_cni.go
  global-hooks/resources/cluster_autoscaler.go
Owners: none

Update operators
  dhctl/go.mod
  go.mod
  go.sum
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.mod
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.sum
Owners: @name212

++
  .golangci.yaml
  testing/cloud_layouts/script.sh
Owners: none

[user-authn] Fix dex authenticator probe
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
Owners: @nabokihms

[user-authn] Fix dex authenticator probe (#3291)
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
Owners: @nabokihms

[deckhouse-controller] Update operators (#3290)
  dhctl/go.mod
  go.mod
  go.sum
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.mod
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.sum
Owners: @name212

Test #5
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Owners: none

[deckhouse] change default kubernetes version to 1.23
  .github/workflow_templates/e2e-daily.yml
  .github/workflows/e2e-daily.yml
  dhctl/pkg/config/base.go
Owners: @diafour, @name212

[bootstrap] Abort node bootstrap when XFS partition with ftype=0 parameter founded (#3103)
  candi/bashible/bundles/centos/bootstrap.sh.tpl
  ee/candi/bashible/bundles/alteros/bootstrap.sh.tpl
  ee/candi/bashible/bundles/redos/bootstrap.sh.tpl
Owners: @RomanenkoDenys

++
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Owners: none

++
  modules/015-admission-policy-engine/Chart.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/Chart.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/priority-class.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/README.md
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/priority-class/constraint.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/priority-class/suite.yaml
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
  modules/015-admission-policy-engine/hooks/handle_operation_policies_test.go
  modules/015-admission-policy-engine/hooks/internal/apis/v1alpha1.go
  modules/015-admission-policy-engine/template_tests/operation_policies_test.go
  modules/015-admission-policy-engine/templates/operation-policy/constraint.yaml
Owners: @z9r5

Try to fix Ginkgo recover.
  modules/040-node-manager/template_tests/module_test.go
Owners: @yalosev

Fix 140-user-authz module tests.
  modules/140-user-authz/template_tests/module_test.go
Owners: @nabokihms, @apolovov

Yet another time fix 140-user-authz module tests.
  modules/140-user-authz/template_tests/module_test.go
Owners: @nabokihms, @apolovov

Update candi/openapi/cluster_configuration.yaml
  candi/openapi/cluster_configuration.yaml
Owners: @RomanenkoDenys

Update candi/bashible/common-steps/all/000_add_system_proxy.sh.tpl
  candi/bashible/common-steps/all/000_add_system_proxy.sh.tpl
Owners: @RomanenkoDenys

Update global-hooks/migrate/common_test.go
  global-hooks/migrate/common_test.go
Owners: none

Update global-hooks/migrate/migrate_cluster_configuration_test.go
  global-hooks/migrate/migrate_cluster_configuration_test.go
Owners: none

Update global-hooks/migrate/migrate_cluster_configuration.go
  global-hooks/migrate/migrate_cluster_configuration.go
Owners: none

++
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Owners: none

Updates
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Owners: @z9r5

++
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Owners: none

++
  candi/bashible/bashible.sh.tpl
  candi/bashible/bundles/centos/bootstrap.sh.tpl
  candi/bashible/bundles/ubuntu-lts/bootstrap.sh.tpl
  candi/openapi/cluster_configuration.yaml
  ee/candi/bashible/bundles/alteros/bootstrap.sh.tpl
  ee/candi/bashible/bundles/astra/bootstrap.sh.tpl
  ee/candi/bashible/bundles/redos/bootstrap.sh.tpl
  global-hooks/migrate/migrate_cluster_configuration.go
Owners: @RomanenkoDenys

[kube-rbac-proxy] Generate self signed CA
  global-hooks/generate_kube_rbac_proxy_ca.go
  global-hooks/openapi/values.yaml
  helm_lib/templates/_kube_rbac_proxy.tpl
  modules/002-deckhouse/templates/namespace.yaml
  modules/015-admission-policy-engine/templates/namespace.yaml
  modules/021-cni-cilium/templates/namespace.yaml
  modules/030-cloud-provider-aws/templates/namespace.yaml
  modules/030-cloud-provider-azure/templates/namespace.yaml
  modules/030-cloud-provider-gcp/templates/namespace.yaml
  modules/030-cloud-provider-yandex/templates/namespace.yaml
  modules/031-local-path-provisioner/templates/namespace.yaml
  modules/035-cni-flannel/templates/namespace.yaml
  modules/035-cni-simple-bridge/templates/namespace.yaml
  modules/040-node-manager/templates/namespace.yaml
  modules/041-linstor/templates/namespace.yaml
  modules/045-snapshot-controller/templates/namespace.yaml
  modules/099-ceph-csi/templates/namespace.yaml
  modules/101-cert-manager/templates/namespace.yaml
  modules/140-user-authz/templates/namespace.yaml
  modules/300-prometheus/templates/grafana/deployment.yaml
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
  modules/300-prometheus/templates/trickster/deployment.yaml
  modules/402-ingress-nginx/hooks/order_certificates.go
  modules/402-ingress-nginx/openapi/values.yaml
Owners: @yalosev, @zuzzas, @RomanenkoDenys, @konstantin-axenov, @kvaps, @nabokihms, @apolovov

Fix labels
  helm_lib/templates/_kube_rbac_proxy.tpl
Owners: none

Fix labels key
  helm_lib/templates/_kube_rbac_proxy.tpl
  modules/402-ingress-nginx/hooks/order_certificates.go
Owners: @nabokihms, @yalosev

Fix secret
  modules/402-ingress-nginx/templates/controller/secret.yaml
Owners: @nabokihms, @yalosev

Fix namespace
  modules/140-user-authz/templates/namespace.yaml
Owners: @nabokihms, @apolovov

Deploy secret
  helm_lib/templates/_kube_rbac_proxy.tpl
  modules/002-deckhouse/templates/kube-rbac-proxy/secret.yaml
  modules/021-cni-cilium/templates/namespace.yaml
Owners: @yalosev, @zuzzas, @RomanenkoDenys, @konstantin-axenov
