Repository deckhouse/deckhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: area/cli, area/api-change, area/auth, area/cicd, area/cloud-provider, area/cluster-and-infrastructure, area/core, type/dependencies, area/delivery, area/docs, area/modules, area/kubernetes, area/logs, area/monitoring, area/network, area/scaling, area/security, area/storage, area/testing, area/ui, python, go

.github/labeler.yml:

area/cli:
  - 'dhctl/**'

area/api-change:
  - '**/openapi/*'
  - '**/crds/**'

area/auth:
  - modules/010-user-authn-crd/**
  - modules/150-user-authn/**
  - modules/140-user-authz/**
  - ee/modules/140-user-authz/**

area/cicd:
  - '.github'

area/cloud-provider:
  - modules/030-cloud-provider-*/**
  - ee/modules/030-cloud-provider-*/**
  - candi/cloud-providers/**
  - ee/candi/cloud-providers/**

area/cluster-and-infrastructure:
  - candi/**
  - ee/candi/**
  - modules/040-control-plane-manager/**
  - modules/040-node-manager/**
  - ee/modules/040-node-manager/**
  - modules/040-terraform-manager/**
  - ee/modules/040-terraform-manager/**
  - modules/011-flow-schema/**
  - modules/042-kube-dns/**
  - modules/465-pod-reloader/**
  - modules/470-chrony/**
  - modules/600-namespace-configurator/**
  - modules/600-secret-copier/**
  - ee/modules/350-node-local-dns/**

area/core:
  - go.mod
  - go.sum
  - 'werf.yaml'
  - modules/007-registrypackages/**
  - modules/013-helm/**
  - deckhouse-controller/**
  - global-hooks/**
  - '*_lib/**'

type/dependencies:
  - '**/go.mod'
  - '**/go.sum'

area/delivery:
  - ee/modules/502-delivery/**

area/docs:
  - '**/docs/**'
  - docs/**
  - modules/810-documentation/**

# area/dx:

area/modules:
  - modules/005-external-module-manager/**

area/kubernetes:
  - '**/version_map.yml'
  - modules/007-registrypackages/images/kube*/**
  - modules/021-kube-proxy/**

area/logs:
  - modules/460-log-shipper/**
  - modules/462-loki/**

area/monitoring:
  - modules/010-operator-prometheus-crd/**
  - modules/010-prometheus-crd/**
  - modules/200-operator-prometheus/**
  - modules/300-prometheus/**
  - modules/301-prometheus-metrics-adapter/**
  - modules/303-prometheus-pushgateway/**
  - modules/340-extended-monitoring/**
  - modules/340-monitoring-*/**
  - modules/500-okmeter/**
  - modules/500-upmeter/**

area/network:
  - modules/021-cni-cilium/**
  - modules/500-cilium-hubble/**
  - modules/021-kube-proxy/**
  - modules/035-cni-flannel/**
  - modules/035-cni-simple-bridge/**
  - modules/050-network-policy-engine/**
  - modules/110-istio/**
  - ee/modules/110-istio/**
  - modules/402-ingress-nginx/**
  - ee/modules/380-metallb/**
  - ee/modules/450-keepalived/**
  - ee/modules/450-network-gateway/**

area/scaling:
  - modules/010-vertical-pod-autoscaler-crd/**
  - modules/302-vertical-pod-autoscaler/**
  - modules/400-descheduler/**

area/security:
  - modules/015-admission-policy-engine/**
  - modules/050-network-policy-engine/**
  - modules/101-cert-manager/**
  - modules/500-openvpn/**
  - ee/modules/160-multitenancy-manager/**
  - ee/modules/500-operator-trivy/**
  - ee/modules/650-runtime-audit-engine/**

area/storage:
  - modules/031-ceph-csi/**
  - modules/031-local-path-provisioner/**
  - modules/041-linstor/**
  - modules/045-snapshot-controller/**
  - modules/491-containerized-data-importer/**

area/testing:
  - testing/**
  - tools/**

area/ui:
  - modules/500-dashboard/**

# area/ux

python:
  - '**/*.py'

go:
  - '**/*.go'

update replica limit crd to object instead of array
  modules/015-admission-policy-engine/crds/operation-policy.yaml
Labels: area/api-change, area/security

+
  go_lib/dependency/helm/hash.go
  go_lib/dependency/helm/helm.go
Labels: area/core, go

update replica limit crd to object instead of array
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation/replica-limits.yaml
Labels: area/security

add cluster autoscaller
  modules/040-node-manager/templates/cluster-autoscaler/deployment.yaml
Labels: area/cluster-and-infrastructure

+
  go_lib/dependency/helm/hash.go
  go_lib/dependency/helm/helm.go
Labels: area/core, go

+
  go_lib/dependency/helm/helm.go
Labels: area/core, go

add cluster autoscaller
  modules/040-node-manager/templates/cluster-autoscaler/rbac-for-us.yaml
Labels: area/cluster-and-infrastructure

Preventing the creation of a new "helm" release when no changes are made (#6811)
  ee/modules/160-multitenancy-manager/templates/user-resources/user-resources-templates.yaml
  go_lib/dependency/helm/hash.go
  go_lib/dependency/helm/helm.go
Labels: area/core, area/security, go

[node-local-dns] fixing cilium-local-redirect-policy.yaml (#6844)
  ee/modules/350-node-local-dns/templates/cilium-local-redirect-policy.yaml
Labels: area/cluster-and-infrastructure

[candi][bashible] Fix cleanup script
  candi/bashible/common-steps/node-group/002_create_static_node_cleanup_script.sh.tpl
Labels: area/cluster-and-infrastructure

add cluster autoscaller
  modules/040-node-manager/templates/cluster-autoscaler/rbac-for-us.yaml
Labels: area/cluster-and-infrastructure

[dhctl] Allow missing module release channels (#6848)
  dhctl/pkg/operations/mirror/layouts.go
  dhctl/pkg/operations/mirror/pull.go
  dhctl/pkg/operations/mirror_module.go
Labels: area/cli, go

add cluster autoscaller
  ee/modules/030-cloud-provider-vcd/hooks/generate_capcd_static_kubeconfig_secret.go
Labels: area/cloud-provider, go

add cluster autoscaller
  modules/040-node-manager/templates/capi-controller-manager/rbac-for-us.yaml
Labels: area/cluster-and-infrastructure

add cluster autoscaller
  modules/040-node-manager/templates/capi_cluster.yaml
  modules/040-node-manager/templates/node-group/_capi_machine_deployment.tpl
Labels: area/cluster-and-infrastructure

Correct alert description
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/loadbalancer.yaml
Labels: area/monitoring

[monitoring-kubernetes] Add alert when LoadBalancer have not been created
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/loadbalancer.yaml
Labels: area/monitoring

[candi][bashible] Fix cleanup script
  candi/bashible/common-steps/node-group/002_create_static_node_cleanup_script.sh.tpl
Labels: area/cluster-and-infrastructure

add cluster autoscaller
  ee/modules/030-cloud-provider-vcd/hooks/generate_capcd_static_kubeconfig_secret.go
Labels: area/cloud-provider, go

Correct lb alert
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/loadbalancer.yaml
Labels: area/monitoring

[candi] CSI old mount cleaner improvements
  candi/bashible/common-steps/node-group/089_manually_unmount_old_csi_mounts_after_kubernetes_1_24.sh.tpl
Labels: area/cluster-and-infrastructure

go
  candi/bashible/common-steps/node-group/089_manually_unmount_old_csi_mounts_after_kubernetes_1_24.sh.tpl
Labels: area/cluster-and-infrastructure

Update config.yml.standard.ee.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ee.inc
Labels: area/docs

Update config.yml.standard.ce.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ce.inc
Labels: area/docs

Update config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ce.inc
Labels: area/docs

Update config.yml.without_nat.ee.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ee.inc
Labels: area/docs

add cluster autoscaller (#6851)
  modules/040-node-manager/templates/capi-controller-manager/rbac-for-us.yaml
  modules/040-node-manager/templates/capi_cluster.yaml
  modules/040-node-manager/templates/cluster-autoscaler/deployment.yaml
  modules/040-node-manager/templates/cluster-autoscaler/rbac-for-us.yaml
  modules/040-node-manager/templates/node-group/_capi_machine_deployment.tpl
Labels: area/cluster-and-infrastructure

Fix links in the Getting Started (#6856)
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ee.inc
Labels: area/docs

add cluster autoscaller
  modules/040-node-manager/hooks/enable_cluster_api_cloud_and_static.go
  modules/040-node-manager/hooks/enable_cluster_api_cloud_and_static_test.go
  modules/040-node-manager/hooks/generate_capi_static_kubeconfig.go
Labels: area/cluster-and-infrastructure, go

update replica limit crd to object instead of array
  modules/015-admission-policy-engine/crds/operation-policy.yaml
Labels: area/api-change, area/security
