Repository deckhouse/deckhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: area/cli, area/api-change, area/auth, area/cicd, area/cloud-provider, area/cluster-and-infrastructure, area/core, type/dependencies, area/delivery, area/docs, area/modules, area/kubernetes, area/logs, area/monitoring, area/network, area/scaling, area/security, area/storage, area/testing, area/ui, python, go

Apply suggestions from code review
  modules/021-kube-proxy/docs/README.md
  modules/021-kube-proxy/docs/README_RU.md
Labels: area/docs, area/kubernetes, area/network

Update modules/021-cni-cilium/docs/README_RU.md
  modules/021-cni-cilium/docs/README_RU.md
Labels: area/docs, area/network

[docs] clarify cilium docs-DSR/SNAT, kube-proxy, labelsRegex (#6758)
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
  modules/021-cni-cilium/openapi/config-values.yaml
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
  modules/021-kube-proxy/docs/README.md
  modules/021-kube-proxy/docs/README_RU.md
Labels: area/api-change, area/docs, area/kubernetes, area/network

Fix registry watcher logs. Change retry lib.
  docs/site/backends/registry-modules-watcher/go.mod
  docs/site/backends/registry-modules-watcher/go.sum
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/sender/sender.go
Labels: type/dependencies, area/docs, go

[ci] Fix linter checker
  .github/ci_templates/web.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  Makefile
  tools/doc_check_links.sh
Labels: area/testing

[ci] Fix linter checker (#6827)
  .github/ci_templates/web.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  Makefile
  tools/doc_check_links.sh
Labels: area/testing

[docs] Fix broken links.
  docs/site/pages/guides/PRODUCTION_RU.md
  modules/040-node-manager/crds/nodegroupconfiguration.yaml
  modules/040-node-manager/docs/README.md
  modules/041-linstor/docs/ADVANCED_USAGE_RU.md
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/041-linstor/docs/README_RU.md
  modules/110-istio/docs/README_RU.md
  modules/340-extended-monitoring/docs/CONFIGURATION_RU.md
  modules/340-extended-monitoring/docs/README.md
  modules/340-extended-monitoring/docs/README_RU.md
  modules/462-loki/openapi/doc-ru-config-values.yaml
Labels: area/api-change, area/cluster-and-infrastructure, area/docs, area/logs, area/monitoring, area/network, area/storage

[docs] Fix broken links.
  .github/ci_templates/web.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  modules/041-linstor/docs/ADVANCED_USAGE.md
  modules/041-linstor/docs/ADVANCED_USAGE_RU.md
  modules/041-linstor/docs/README.md
  modules/041-linstor/docs/README_RU.md
  modules/340-extended-monitoring/docs/CONFIGURATION.md
  modules/340-extended-monitoring/docs/CONFIGURATION_RU.md
  tools/doc_check_links.sh
Labels: area/docs, area/monitoring, area/storage, area/testing

[docs] Fix broken links (#6828)
  .github/ci_templates/web.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  docs/site/pages/guides/PRODUCTION_RU.md
  modules/040-node-manager/crds/nodegroupconfiguration.yaml
  modules/040-node-manager/docs/README.md
  modules/041-linstor/docs/ADVANCED_USAGE.md
  modules/041-linstor/docs/ADVANCED_USAGE_RU.md
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/041-linstor/docs/README.md
  modules/041-linstor/docs/README_RU.md
  modules/110-istio/docs/README_RU.md
  modules/340-extended-monitoring/docs/CONFIGURATION.md
  modules/340-extended-monitoring/docs/CONFIGURATION_RU.md
  modules/340-extended-monitoring/docs/README.md
  modules/340-extended-monitoring/docs/README_RU.md
  modules/462-loki/openapi/doc-ru-config-values.yaml
  tools/doc_check_links.sh
Labels: area/api-change, area/cluster-and-infrastructure, area/docs, area/logs, area/monitoring, area/network, area/storage, area/testing

[docs] Fix broken links (#6828)
  docs/site/pages/guides/PRODUCTION_RU.md
  modules/040-node-manager/crds/nodegroupconfiguration.yaml
  modules/040-node-manager/docs/README.md
  modules/041-linstor/docs/ADVANCED_USAGE.md
  modules/041-linstor/docs/ADVANCED_USAGE_RU.md
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/041-linstor/docs/README.md
  modules/041-linstor/docs/README_RU.md
  modules/110-istio/docs/README_RU.md
  modules/340-extended-monitoring/docs/CONFIGURATION.md
  modules/340-extended-monitoring/docs/CONFIGURATION_RU.md
  modules/340-extended-monitoring/docs/README.md
  modules/340-extended-monitoring/docs/README_RU.md
  modules/462-loki/openapi/doc-ru-config-values.yaml
Labels: area/api-change, area/cluster-and-infrastructure, area/docs, area/logs, area/monitoring, area/network, area/storage

++
  ee/candi/cloud-providers/vcd/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/vcd/terraform-modules/providers.tf
  ee/candi/cloud-providers/vcd/terraform-modules/static-node/main.tf
Labels: area/cloud-provider, area/cluster-and-infrastructure

Fix ceph-csi openapi spec
  modules/031-ceph-csi/openapi/config-values.yaml
  modules/031-ceph-csi/openapi/values.yaml
Labels: area/api-change, area/storage

Change test deckhouse.io registry
  docs/site/.helm/values.yaml
Labels: area/docs

[testing][modules-docas] Change registry for the module documentation(#6830)
  docs/site/.helm/values.yaml
Labels: area/docs

[dhctl] mirror: resume interrupted pulls
  dhctl/cmd/dhctl/commands/mirror.go
  dhctl/go.mod
  dhctl/go.sum
  dhctl/pkg/app/mirror.go
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  go.mod
  go.sum
Labels: area/cli, area/core, type/dependencies, area/docs, go

[ceph-csi] Fix ceph-csi openapi spec (#6829)
  modules/031-ceph-csi/openapi/config-values.yaml
  modules/031-ceph-csi/openapi/values.yaml
Labels: area/api-change, area/storage

Update version_map_addition.yml
  docs/documentation/_data/version_map_addition.yml
Labels: area/docs

[docs] Add support of Astra 1.7.4 on the site (#6831)
  docs/documentation/_data/version_map_addition.yml
Labels: area/docs

[modules-docs] Rewrite to stable channel
  docs/site/.helm/templates/20-ingress.yaml
Labels: area/docs

[linstor] Enabling the Linstor module is prohibited when the SDS-DRBD module is enabled (#6776)
  modules/041-linstor/enabled
Labels: area/storage

[docs][cloud-provider-yandex] Fix example of the additionalSubnets field
  candi/cloud-providers/yandex/openapi/instance_class.yaml
Labels: area/api-change, area/cloud-provider, area/cluster-and-infrastructure

[modules-docs] Rewrite to stable channel (#6833)
  docs/site/.helm/templates/20-ingress.yaml
Labels: area/docs

[docs][cloud-provider-yandex] Fix example of the additionalSubnets field
  candi/cloud-providers/yandex/openapi/instance_class.yaml
Labels: area/api-change, area/cloud-provider, area/cluster-and-infrastructure

[docs][cloud-provider-yandex] Fix example of the additionalSubnets field (#6835)
  candi/cloud-providers/yandex/openapi/instance_class.yaml
Labels: area/api-change, area/cloud-provider, area/cluster-and-infrastructure

[docs][cloud-provider-yandex] Fix example of the additionalSubnets field (#6835)
  candi/cloud-providers/yandex/openapi/instance_class.yaml
Labels: area/api-change, area/cloud-provider, area/cluster-and-infrastructure

[docs][cloud-provider-yandex] Fix example of the additionalSubnets field (#6835) (#6836)
  candi/cloud-providers/yandex/openapi/instance_class.yaml
Labels: area/api-change, area/cloud-provider, area/cluster-and-infrastructure

[modules-docs] Fix JSON schemae generation.
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-attributes.html
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-crd.html
Labels: area/api-change, area/docs

[modules-docs] Fix JSON schema generation (#6837)
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-attributes.html
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-crd.html
Labels: area/api-change, area/docs

[modules-docs] Updates page metadata
  docs/site/backends/docs-builder-template/config/_default/hugo.yaml
  docs/site/backends/docs-builder-template/layouts/_default/baseof.html
  docs/site/backends/docs-builder-template/layouts/partials/head.html
Labels: area/docs

[modules-docs] Updates page metadata
  docs/site/backends/docs-builder-template/config/_default/hugo.yaml
  docs/site/backends/docs-builder-template/layouts/partials/head.html
Labels: area/docs

[modules-docs] Updates page metadata
  docs/site/backends/docs-builder-template/layouts/partials/head.html
Labels: area/docs

[modules-docs] Add page metadata to the module documentation layout (#6838)
  docs/site/backends/docs-builder-template/config/_default/hugo.yaml
  docs/site/backends/docs-builder-template/layouts/_default/baseof.html
  docs/site/backends/docs-builder-template/layouts/partials/head.html
Labels: area/docs

[prometheus] distroless prometheus (#6757)
  modules/300-prometheus/images/prometheus/werf.inc.yaml
Labels: area/monitoring

[trivy] fix svace issue
  ee/modules/500-operator-trivy/images/trivy/Dockerfile
Labels: area/security

[dhctl] mirror: resume interrupted pulls (#6810)
  dhctl/cmd/dhctl/commands/mirror.go
  dhctl/go.mod
  dhctl/go.sum
  dhctl/pkg/app/mirror.go
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  go.mod
  go.sum
Labels: area/cli, area/core, type/dependencies, area/docs, go

update replica limit crd to object instead of array
  modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/template_tests/operation_policies_test.go
Labels: area/api-change, area/security, go

Update modules/040-node-manager/crds/doc-ru-staticinstance.yaml
  modules/040-node-manager/crds/doc-ru-staticinstance.yaml
Labels: area/api-change, area/cluster-and-infrastructure

Update modules/040-node-manager/crds/doc-ru-staticinstance.yaml
  modules/040-node-manager/crds/doc-ru-staticinstance.yaml
Labels: area/api-change, area/cluster-and-infrastructure

Update modules/040-node-manager/crds/sshcredentials.yaml
  modules/040-node-manager/crds/sshcredentials.yaml
Labels: area/api-change, area/cluster-and-infrastructure

[dhctl] Clarify tar bundle flag usage and validate it more strictly (#6786)
  dhctl/pkg/app/mirror.go
Labels: area/cli, go

.github/labeler.yml:

area/cli:
  - 'dhctl/**'

area/api-change:
  - '**/openapi/*'
  - '**/crds/**'

area/auth:
  - modules/010-user-authn-crd/**
  - modules/150-user-authn/**
  - modules/140-user-authz/**
  - ee/modules/140-user-authz/**

area/cicd:
  - '.github'

area/cloud-provider:
  - modules/030-cloud-provider-*/**
  - ee/modules/030-cloud-provider-*/**
  - candi/cloud-providers/**
  - ee/candi/cloud-providers/**

area/cluster-and-infrastructure:
  - candi/**
  - ee/candi/**
  - modules/040-control-plane-manager/**
  - modules/040-node-manager/**
  - ee/modules/040-node-manager/**
  - modules/040-terraform-manager/**
  - ee/modules/040-terraform-manager/**
  - modules/011-flow-schema/**
  - modules/042-kube-dns/**
  - modules/465-pod-reloader/**
  - modules/470-chrony/**
  - modules/600-namespace-configurator/**
  - modules/600-secret-copier/**
  - ee/modules/350-node-local-dns/**

area/core:
  - go.mod
  - go.sum
  - 'werf.yaml'
  - modules/007-registrypackages/**
  - modules/013-helm/**
  - deckhouse-controller/**
  - global-hooks/**
  - '*_lib/**'

type/dependencies:
  - '**/go.mod'
  - '**/go.sum'

area/delivery:
  - ee/modules/502-delivery/**

area/docs:
  - '**/docs/**'
  - docs/**
  - modules/810-documentation/**

# area/dx:

area/modules:
  - modules/005-external-module-manager/**

area/kubernetes:
  - '**/version_map.yml'
  - modules/007-registrypackages/images/kube*/**
  - modules/021-kube-proxy/**

area/logs:
  - modules/460-log-shipper/**
  - modules/462-loki/**

area/monitoring:
  - modules/010-operator-prometheus-crd/**
  - modules/010-prometheus-crd/**
  - modules/200-operator-prometheus/**
  - modules/300-prometheus/**
  - modules/301-prometheus-metrics-adapter/**
  - modules/303-prometheus-pushgateway/**
  - modules/340-extended-monitoring/**
  - modules/340-monitoring-*/**
  - modules/500-okmeter/**
  - modules/500-upmeter/**

area/network:
  - modules/021-cni-cilium/**
  - modules/500-cilium-hubble/**
  - modules/021-kube-proxy/**
  - modules/035-cni-flannel/**
  - modules/035-cni-simple-bridge/**
  - modules/050-network-policy-engine/**
  - modules/110-istio/**
  - ee/modules/110-istio/**
  - modules/402-ingress-nginx/**
  - ee/modules/380-metallb/**
  - ee/modules/450-keepalived/**
  - ee/modules/450-network-gateway/**

area/scaling:
  - modules/010-vertical-pod-autoscaler-crd/**
  - modules/302-vertical-pod-autoscaler/**
  - modules/400-descheduler/**

area/security:
  - modules/015-admission-policy-engine/**
  - modules/050-network-policy-engine/**
  - modules/101-cert-manager/**
  - modules/500-openvpn/**
  - ee/modules/160-multitenancy-manager/**
  - ee/modules/500-operator-trivy/**
  - ee/modules/650-runtime-audit-engine/**

area/storage:
  - modules/031-ceph-csi/**
  - modules/031-local-path-provisioner/**
  - modules/041-linstor/**
  - modules/045-snapshot-controller/**
  - modules/491-containerized-data-importer/**

area/testing:
  - testing/**
  - tools/**

area/ui:
  - modules/500-dashboard/**

# area/ux

python:
  - '**/*.py'

go:
  - '**/*.go'
