Repository deckhouse/deckhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: area/cli, area/api-change, area/auth, area/cicd, area/cloud-provider, area/cluster-and-infrastructure, area/core, type/dependencies, area/delivery, area/docs, area/modules, area/kubernetes, area/logs, area/monitoring, area/network, area/scaling, area/security, area/storage, area/testing, area/ui, python, go

Edits to logging levels.
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/process.go
Labels: area/docs, go

+
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/sender/sender.go
Labels: area/docs, go

[dhctl] Calculate streebog gost checksum for tar bundle only if asked to
  dhctl/cmd/dhctl/commands/mirror.go
  dhctl/pkg/app/mirror.go
  dhctl/pkg/operations/mirror/context.go
Labels: area/cli, go

[dhctl] document --gost-digest flag
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs

update replica limit crd to object instead of array
  modules/015-admission-policy-engine/crds/operation-policy.yaml
Labels: area/api-change, area/security

+
  go_lib/dependency/helm/helm.go
Labels: area/core, go

+
  ee/modules/160-multitenancy-manager/templates/user-resources/user-resources-templates.yaml
Labels: area/security

[runtime-audit-engine] Fix CVEs (#6501)
  ee/modules/650-runtime-audit-engine/images/falcosidekick/Dockerfile
  ee/modules/650-runtime-audit-engine/images/rules-loader/werf.inc.yaml
Labels: area/security

add checkIstioK8sVersionCompatibility hook
  modules/110-istio/hooks/check_istio_k8s_version_compatibility.go
  modules/110-istio/hooks/check_istio_k8s_version_compatibility_test.go
  modules/110-istio/openapi/values.yaml
Labels: area/api-change, area/network, go

update replica limit crd to object instead of array
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/template_tests/operation_policies_test.go
Labels: area/api-change, area/security, go

++
  ee/candi/cloud-providers/vcd/terraform-modules/master-node/main.tf
  ee/modules/030-cloud-provider-vcd/hooks/discover.go
  ee/modules/030-cloud-provider-vcd/hooks/discover_test.go
  ee/modules/030-cloud-provider-vcd/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-vcd/openapi/config-values.yaml
  ee/modules/030-cloud-provider-vcd/openapi/doc-ru-config-values.yaml
  ee/modules/030-cloud-provider-vcd/openapi/values.yaml
  ee/modules/030-cloud-provider-vcd/templates/csi/storage-classes.yaml
  helm_lib/charts/deckhouse_lib_helm/templates/_module_storage_class.tpl
Labels: area/api-change, area/cloud-provider, area/cluster-and-infrastructure, area/core, go

Fix registry watcher logs. Change retry lib. (#6826)
  docs/site/backends/registry-modules-watcher/go.mod
  docs/site/backends/registry-modules-watcher/go.sum
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/process.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/sender/sender.go
Labels: type/dependencies, area/docs, go

[node-local-dns] fixing cilium-local-redirect-policy.yaml
  ee/modules/350-node-local-dns/templates/cilium-local-redirect-policy.yaml
Labels: area/cluster-and-infrastructure

Apply suggestions from code review
  modules/040-node-manager/crds/sshcredentials.yaml
Labels: area/api-change, area/cluster-and-infrastructure

Update modules/040-node-manager/crds/sshcredentials.yaml
  modules/040-node-manager/crds/sshcredentials.yaml
Labels: area/api-change, area/cluster-and-infrastructure

update replica limit crd to object instead of array
  modules/015-admission-policy-engine/template_tests/operation_policies_test.go
Labels: area/security, go

Update modules/040-node-manager/crds/sshcredentials.yaml
  modules/040-node-manager/crds/sshcredentials.yaml
Labels: area/api-change, area/cluster-and-infrastructure

Update DECKHOUSE-FAQ_RU.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs

[docs] Refine SSHCredentials docs (#6596)
  modules/040-node-manager/crds/doc-ru-sshcredentials.yaml
  modules/040-node-manager/crds/doc-ru-staticinstance.yaml
  modules/040-node-manager/crds/sshcredentials.yaml
Labels: area/api-change, area/cluster-and-infrastructure

[docs] Refine SSHCredentials docs (#6596)
  modules/040-node-manager/crds/doc-ru-sshcredentials.yaml
  modules/040-node-manager/crds/doc-ru-staticinstance.yaml
  modules/040-node-manager/crds/sshcredentials.yaml
Labels: area/api-change, area/cluster-and-infrastructure

[docs] Refine SSHCredentials docs (#6596) (#6845)
  modules/040-node-manager/crds/doc-ru-sshcredentials.yaml
  modules/040-node-manager/crds/doc-ru-staticinstance.yaml
  modules/040-node-manager/crds/sshcredentials.yaml
Labels: area/api-change, area/cluster-and-infrastructure

++
  ee/modules/030-cloud-provider-vcd/hooks/vcd_cluster_configuration.go
Labels: area/cloud-provider, go

[testing] Change workflow's 'e2e destroy failed' name
  .github/workflow_templates/e2e.abort.multi.yml
  .github/workflows/e2e-abort-aws.yml
  .github/workflows/e2e-abort-azure.yml
  .github/workflows/e2e-abort-eks.yml
  .github/workflows/e2e-abort-gcp.yml
  .github/workflows/e2e-abort-openstack.yml
  .github/workflows/e2e-abort-static.yml
  .github/workflows/e2e-abort-vsphere.yml
  .github/workflows/e2e-abort-yandex-cloud.yml
Labels: none

[testing] Change name of action for remove test cluster
  .github/workflow_templates/e2e.abort.multi.yml
Labels: none

Update channels.yaml
  channels.yaml
Labels: none

[dhctl] Calculate Streebog GOST checksum for tar bundle only if asked to (#6784)
  dhctl/cmd/dhctl/commands/mirror.go
  dhctl/pkg/app/mirror.go
  dhctl/pkg/operations/mirror/context.go
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/cli, area/docs, go

[cloud-provider-yandex] Add support for ru-central1-d zone in Yandex Cloud (#6652)
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/terraform-modules/master-node/main.tf
  candi/cloud-providers/yandex/terraform-modules/static-node/main.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/main.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/nat_instance.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/outputs.tf
Labels: area/api-change, area/cloud-provider, area/cluster-and-infrastructure

[ci] Change name of action 'e2e destroy faled' (#6818)
  .github/workflow_templates/e2e.abort.multi.yml
  .github/workflows/e2e-abort-aws.yml
  .github/workflows/e2e-abort-azure.yml
  .github/workflows/e2e-abort-eks.yml
  .github/workflows/e2e-abort-gcp.yml
  .github/workflows/e2e-abort-openstack.yml
  .github/workflows/e2e-abort-static.yml
  .github/workflows/e2e-abort-vsphere.yml
  .github/workflows/e2e-abort-yandex-cloud.yml
Labels: none

update replica limit crd to object instead of array
  modules/015-admission-policy-engine/hooks/internal/apis/v1alpha1.go
Labels: area/security, go

update replica limit crd to object instead of array
  modules/015-admission-policy-engine/hooks/handle_operation_policies_test.go
  modules/015-admission-policy-engine/hooks/internal/apis/v1alpha1.go
Labels: area/security, go

update replica limit crd to object instead of array
  modules/015-admission-policy-engine/hooks/handle_operation_policies_test.go
Labels: area/security, go

+
  go_lib/dependency/helm/hash.go
  go_lib/dependency/helm/helm.go
Labels: area/core, go

copyright
  go_lib/dependency/helm/hash.go
Labels: area/core, go

[dhctl] Allow missing module release channels
  dhctl/pkg/operations/mirror/layouts.go
  dhctl/pkg/operations/mirror/pull.go
  dhctl/pkg/operations/mirror_module.go
Labels: area/cli, go

fix lint
  modules/110-istio/requirements/check.go
Labels: area/network, go

[docs] Update the Deckhouse FAQ
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs

[docs] Update the Deckhouse FAQ (#6849)
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs

Update CI
  .github/workflows/publish_channels.yml
Labels: none

Update CI
  .github/workflows/publish_channels.yml
Labels: none

[docs] Update the Deckhouse FAQ (#6849)
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs

.github/labeler.yml:

area/cli:
  - 'dhctl/**'

area/api-change:
  - '**/openapi/*'
  - '**/crds/**'

area/auth:
  - modules/010-user-authn-crd/**
  - modules/150-user-authn/**
  - modules/140-user-authz/**
  - ee/modules/140-user-authz/**

area/cicd:
  - '.github'

area/cloud-provider:
  - modules/030-cloud-provider-*/**
  - ee/modules/030-cloud-provider-*/**
  - candi/cloud-providers/**
  - ee/candi/cloud-providers/**

area/cluster-and-infrastructure:
  - candi/**
  - ee/candi/**
  - modules/040-control-plane-manager/**
  - modules/040-node-manager/**
  - ee/modules/040-node-manager/**
  - modules/040-terraform-manager/**
  - ee/modules/040-terraform-manager/**
  - modules/011-flow-schema/**
  - modules/042-kube-dns/**
  - modules/465-pod-reloader/**
  - modules/470-chrony/**
  - modules/600-namespace-configurator/**
  - modules/600-secret-copier/**
  - ee/modules/350-node-local-dns/**

area/core:
  - go.mod
  - go.sum
  - 'werf.yaml'
  - modules/007-registrypackages/**
  - modules/013-helm/**
  - deckhouse-controller/**
  - global-hooks/**
  - '*_lib/**'

type/dependencies:
  - '**/go.mod'
  - '**/go.sum'

area/delivery:
  - ee/modules/502-delivery/**

area/docs:
  - '**/docs/**'
  - docs/**
  - modules/810-documentation/**

# area/dx:

area/modules:
  - modules/005-external-module-manager/**

area/kubernetes:
  - '**/version_map.yml'
  - modules/007-registrypackages/images/kube*/**
  - modules/021-kube-proxy/**

area/logs:
  - modules/460-log-shipper/**
  - modules/462-loki/**

area/monitoring:
  - modules/010-operator-prometheus-crd/**
  - modules/010-prometheus-crd/**
  - modules/200-operator-prometheus/**
  - modules/300-prometheus/**
  - modules/301-prometheus-metrics-adapter/**
  - modules/303-prometheus-pushgateway/**
  - modules/340-extended-monitoring/**
  - modules/340-monitoring-*/**
  - modules/500-okmeter/**
  - modules/500-upmeter/**

area/network:
  - modules/021-cni-cilium/**
  - modules/500-cilium-hubble/**
  - modules/021-kube-proxy/**
  - modules/035-cni-flannel/**
  - modules/035-cni-simple-bridge/**
  - modules/050-network-policy-engine/**
  - modules/110-istio/**
  - ee/modules/110-istio/**
  - modules/402-ingress-nginx/**
  - ee/modules/380-metallb/**
  - ee/modules/450-keepalived/**
  - ee/modules/450-network-gateway/**

area/scaling:
  - modules/010-vertical-pod-autoscaler-crd/**
  - modules/302-vertical-pod-autoscaler/**
  - modules/400-descheduler/**

area/security:
  - modules/015-admission-policy-engine/**
  - modules/050-network-policy-engine/**
  - modules/101-cert-manager/**
  - modules/500-openvpn/**
  - ee/modules/160-multitenancy-manager/**
  - ee/modules/500-operator-trivy/**
  - ee/modules/650-runtime-audit-engine/**

area/storage:
  - modules/031-ceph-csi/**
  - modules/031-local-path-provisioner/**
  - modules/041-linstor/**
  - modules/045-snapshot-controller/**
  - modules/491-containerized-data-importer/**

area/testing:
  - testing/**
  - tools/**

area/ui:
  - modules/500-dashboard/**

# area/ux

python:
  - '**/*.py'

go:
  - '**/*.go'
