Repository deckhouse/deckhouse, pull requests merged in 2021-12, with the labels that each got.

#354 [ci][validators] Golang copyright one line comments without previous new line
  tools/validation/copyright.go
  tools/validation/copyright_test.go
Labels: area/testing

#356 [ci][validators] Fix "No Cyrillic" validator formatting
  tools/validation/no_cyrillic.go
Labels: area/testing

#351 [upmeter] Node selector and toleration settings for server
  modules/500-upmeter/openapi/config-values.yaml
  modules/500-upmeter/openapi/doc-ru-config-values.yaml
  modules/500-upmeter/templates/upmeter/statefulset.yaml
Labels: area/monitoring, type/enhancement

#358 [docs] Updating README
  README.md
  docs/site/images/d8-small-logo.png
Labels: type/enhancement, area/docs

#362 [deckhouse] fix update hook Manual mode
  modules/020-deckhouse/hooks/update_deckhouse_image.go
  modules/020-deckhouse/hooks/update_deckhouse_image_test.go
Labels: area/core

#349 [upmeter] HTTP checker: fail when cannot dial
  modules/500-upmeter/images/upmeter/pkg/probe/checker/http.go
Labels: area/monitoring, type/bug

#389 [ingress-nginx][monitoring-k8s] Fix. Revert refresh on grafana dashboard
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/kubernetes-cluster/nodes/nodes.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/controller.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/namespace.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/namespaces.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/pod.json
  modules/402-ingress-nginx/monitoring/grafana-dashboards/ingress-nginx/vhost/vhost_detail.json
  modules/402-ingress-nginx/monitoring/grafana-dashboards/ingress-nginx/vhost/vhosts.json
Labels: area/monitoring, type/bug

#342 [user-authz] How rules are combined
  modules/140-user-authz/docs/FAQ.md
  modules/140-user-authz/docs/FAQ_RU.md
Labels: area/auth

#370 [metallb] added source-address parameter to doc.
  ee/modules/380-metallb/docs/CONFIGURATION.md
  ee/modules/380-metallb/docs/CONFIGURATION_RU.md
Labels: type/enhancement

#361 [yandex-cloud-provider] Fix. Add additionalExternalNetworkIDs config in openapi spec
  modules/030-cloud-provider-yandex/openapi/config-values.yaml
  modules/030-cloud-provider-yandex/openapi/doc-ru-config-values.yaml
Labels: area/cloud-provider, area/network, type/bug

#404 [control-plane-manager] Clarify `--force-new-cluster` usage
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs

#367 [node-manager] Force disruption drain
  go_lib/dependency/k8s/drain/drain.go
  go_lib/dependency/k8s/drain/helper.go
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/cluster-and-infrastructure

#393 [ingress-nginx] add the ability to set a default certificate
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/openapi/values.yaml
  modules/402-ingress-nginx/template_tests/controller_test.go
  modules/402-ingress-nginx/templates/controller/controller.yaml
  modules/402-ingress-nginx/webhooks/validating/ingressnginxcontroller
Labels: area/network

#374 [cert-manager] vault integration docs
  modules/101-cert-manager/docs/FAQ.md
  modules/101-cert-manager/docs/FAQ_RU.md
Labels: area/docs

#400 [ci] feat(ci): use 'regular' label to schedule non e2e jobs
  .github/ci_templates/build.yml
  .github/ci_templates/tests.yml
  .github/ci_templates/web.yml
  .github/workflow_templates/build-and-test_release.yml
  .github/workflow_templates/deploy-channel.multi.yml
  .github/workflow_templates/deploy-web.multi.yml
  .github/workflow_templates/schedule-cleanup.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  .github/workflows/schedule-cleanup.yml
Labels: area/dx, e2e/use/cri/containerd, e2e/use/k8s/1.21

#409 [github] use actionlint if available
  .github/actionlint.yaml
  .github/render-workflows.sh
Labels: area/dx

#350 [upmeter] rescheduler hook: more reliable Pod re-creating, deleting PVC on zone change
  modules/500-upmeter/hooks/smokemini/internal/scheduler/cleaner.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/deleter.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/node_by_sts.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/node_by_sts_test.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/node_by_zone.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/node_by_zone_test.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/pipeline_node.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/pipeline_node_test.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/pipeline_statefulset.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/pipeline_statefulset_test.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/scheduler_test.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/statefulset_by_node.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/statefulset_by_node_test.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/statefulset_by_pod.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/statefulset_by_pod_test.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/statefulset_by_pvc.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/statefulset_by_storageclass.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/statefulset_by_storageclass_test.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/statefulset_test.go
  modules/500-upmeter/hooks/smokemini/internal/snapshot/pod.go
  modules/500-upmeter/hooks/smokemini/pvc.go
  modules/500-upmeter/hooks/smokemini/pvc_test.go
  modules/500-upmeter/hooks/smokemini/reschedule.go
  modules/500-upmeter/hooks/smokemini/scrape_state.go
Labels: area/monitoring, type/refactoring

#398 [cert-manager] Upgrade to v1.6.1
  modules/101-cert-manager/crds/crd-certificaterequests.yaml
  modules/101-cert-manager/crds/crd-certificates.yaml
  modules/101-cert-manager/crds/crd-challenges.yaml
  modules/101-cert-manager/crds/crd-clusterissuers.yaml
  modules/101-cert-manager/crds/crd-issuers.yaml
  modules/101-cert-manager/crds/crd-orders.yaml
  modules/101-cert-manager/docs/README.md
  modules/101-cert-manager/docs/README_RU.md
  modules/101-cert-manager/images/cert-manager-acme-solver/Dockerfile
  modules/101-cert-manager/images/cert-manager-cainjector/Dockerfile
  modules/101-cert-manager/images/cert-manager-controller/Dockerfile
  modules/101-cert-manager/images/cert-manager-webhook/Dockerfile
Labels: skip/documentation-validation

#375 [deckhouse] generate bashible context inside bashible-apiserver
  .gitignore
  candi/bashible/common-steps/node-group/050_configure_and_start_containerd.sh.tpl
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  modules/020-deckhouse/templates/registry.yaml
  modules/040-node-manager/images/bashible-apiserver/go.mod
  modules/040-node-manager/images/bashible-apiserver/go.sum
  modules/040-node-manager/images/bashible-apiserver/pkg/apiserver/apiserver.go
  modules/040-node-manager/images/bashible-apiserver/pkg/cmd/server/start.go
  modules/040-node-manager/images/bashible-apiserver/pkg/registry/bashible/bashible/storage.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context_builder.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context_builder_test.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/funcs.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/steps_renderer.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/steps_storage.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/test_data/openstack/images_tags.json
  modules/040-node-manager/images/bashible-apiserver/pkg/template/test_data/openstack/input.yaml
  modules/040-node-manager/images_tags.json
  modules/040-node-manager/templates/bashible-apiserver/deployment.yaml
  modules/040-node-manager/templates/bashible-apiserver/rbac-for-us.yaml
  modules/040-node-manager/templates/bashible/_bundles.tpl
  modules/040-node-manager/templates/bashible/configuration-checksum-secret.yaml
Labels: area/core

#372 [log-shipper] Elasticsearch datastream support
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
  modules/460-log-shipper/docs/USAGE.md
  modules/460-log-shipper/docs/USAGE_RU.md
  modules/460-log-shipper/hooks/generate_config_test.go
  modules/460-log-shipper/hooks/internal/v1alpha1/cluster_log_destination.go
  modules/460-log-shipper/hooks/internal/vector/destination.go
  modules/460-log-shipper/hooks/internal/vector/model.go
  modules/460-log-shipper/hooks/internal/vector/transforms.go
  modules/460-log-shipper/hooks/internal/vector/transforms_test.go
  modules/460-log-shipper/hooks/testdata/es-5x.json
  modules/460-log-shipper/hooks/testdata/multiline.json
  modules/460-log-shipper/hooks/testdata/multiple-dests.json
  modules/460-log-shipper/hooks/testdata/namespaced-source.json
  modules/460-log-shipper/hooks/testdata/one-dest.json
  modules/460-log-shipper/hooks/testdata/pair-datastream.json
  modules/460-log-shipper/hooks/testdata/simple-pair.json
  testing/hooks_configuration/library.go
Labels: area/monitoring

#399 [getting-started] Update config.yml for OpenStack
  docs/site/_includes/getting_started/openstack/partials/config.yml.simple_with_internal_network.ee.inc
  docs/site/_includes/getting_started/openstack/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack/partials/config.yml.standardwithnorouter.ee.inc
Labels: area/docs

#421 [prometheus] Bump Grafana to 8.2.7
  modules/300-prometheus/images/grafana/Dockerfile
Labels: area/monitoring

#408 [monitoring-kubernetes] Set label `tier: cluster` on node alerts
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/node.yaml
Labels: area/monitoring

#422 [bashible] kubernetes-data volume mount fix
  candi/bashible/common-steps/node-group/002_integrate_kubernetes_data_device.sh.tpl
Labels: area/cluster-and-infrastructure

#425 [ingress-nginx] Update examples of creating loadbalancer in aws
  modules/402-ingress-nginx/docs/USAGE.md
  modules/402-ingress-nginx/docs/USAGE_RU.md
Labels: area/docs

#424 [prometheus-metrics-adapted] HPA scale algorhythm clarification
  modules/301-prometheus-metrics-adapter/docs/USAGE.md
  modules/301-prometheus-metrics-adapter/docs/USAGE_RU.md
Labels: area/docs

#423 [go-hooks] refactoring cloud-provider-aws
  modules/030-cloud-provider-aws/.helmignore
  modules/030-cloud-provider-aws/docs/CONFIGURATION.md
  modules/030-cloud-provider-aws/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-aws/hooks/aws_cluster_configuration
  modules/030-cloud-provider-aws/hooks/aws_cluster_configuration.go
  modules/030-cloud-provider-aws/hooks/aws_cluster_configuration_test.go
  modules/030-cloud-provider-aws/hooks/spot_migration
  modules/030-cloud-provider-aws/hooks/storage_classes
  modules/030-cloud-provider-aws/hooks/storage_classes.go
  modules/030-cloud-provider-aws/hooks/storage_classes_test.go
  modules/030-cloud-provider-aws/hooks/wait_for_all_master_nodes_to_become_initialized
  modules/030-cloud-provider-aws/hooks/wait_for_all_master_nodes_to_become_initialized.go
  modules/030-cloud-provider-aws/openapi/config-values.yaml
  modules/030-cloud-provider-aws/openapi/doc-ru-config-values.yaml
  modules/030-cloud-provider-aws/openapi/openapi-case-tests.yaml
  modules/030-cloud-provider-aws/openapi/values.yaml
  modules/030-cloud-provider-aws/template_tests/module_test.go
  modules/030-cloud-provider-aws/values.yaml
  modules/030-cloud-provider-aws/values_matrix_test.yaml
  testing/openapi_validation/validators/enum.go
Labels: type/refactoring, area/ux, area/dx

#432 [deckhouse] Ignore flaky queues in D8DeckhouseQueueIsHung alert
  modules/020-deckhouse/monitoring/prometheus-rules/deckhouse.yaml
Labels: area/monitoring

#462 [Site] Add `target blank` to certificate link attr
  docs/site/pages/index.html
  docs/site/pages/index_ru.html
Labels: area/docs

#466 [site][getting-started] Minor fixes
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER.md
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER_RU.md
Labels: area/docs

#456 [prometheus] fixed description for alert NTPDaemonOnNodeDoesNotSynchronizeTime
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/node.yaml
  modules/470-chrony/monitoring/prometheus-rules/chrony.yaml
  modules/470-chrony/templates/monitoring.yaml
Labels: area/monitoring

#411 [secret-copier] create or update target secrets
  ee/fe/modules/600-secret-copier/docs/README.md
  ee/fe/modules/600-secret-copier/docs/README_RU.md
  ee/fe/modules/600-secret-copier/hooks/handler.go
  ee/fe/modules/600-secret-copier/hooks/handler_test.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21

#406 [prometheus] fixed FAQ about Lens
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
Labels: area/docs

#475 [site] Improve resource render. Update styles.
  docs/documentation/_plugins/openapi.rb
  docs/site/css/components/_resources.scss
  docs/site/css/components/common/_mixins.scss
  docs/site/css/components/common/_variables.scss
  docs/site/css/site.scss
Labels: area/docs

#459 Count only VPA targeting existing controllers with existing pods
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/namespaces.json
Labels: area/monitoring, type/bug

#476 [prometheus] Grafana home dashboard queries improvements
  modules/300-prometheus/images/grafana/grafana_home_dashboard.json
Labels: area/monitoring

#472 [user-authn] Delete not matching secrets on publish api mode change
  modules/150-user-authn/hooks/discover_publish_api_cert.go
  modules/150-user-authn/hooks/discover_publish_api_cert_test.go
Labels: area/auth

#457 [prometheus] fixed node-exporter apparmor profile
  candi/bashible/bundles/ubuntu-lts/all/002_install_apparmor_profiles.sh.tpl
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
Labels: type/refactoring

#477 [site] Minor updates
  .github/pull_request_template.md
  docs/documentation/modules_prepare.sh
  modules/040-control-plane-manager/docs/README.md
  modules/040-control-plane-manager/docs/README_RU.md
Labels: area/docs, skip/copyright-validation, skip/no-cyrillic-validation

#480 [ingress-nginx] remove patch version for 1.0.4 => 1.0
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/hooks/generate_admission_webhook_cert_test.go
  modules/402-ingress-nginx/hooks/get_ingress_controllers_test.go
  modules/402-ingress-nginx/hooks/safe_daemonset_update_test.go
  modules/402-ingress-nginx/images/controller-1-0/Dockerfile
  modules/402-ingress-nginx/images/controller-1-0/patches/README.md
  modules/402-ingress-nginx/images/controller-1-0/patches/balancer-lua.patch
  modules/402-ingress-nginx/images/controller-1-0/patches/healthcheck.patch
  modules/402-ingress-nginx/images/controller-1-0/patches/lua-info.patch
  modules/402-ingress-nginx/images/controller-1-0/patches/makefile.patch
  modules/402-ingress-nginx/images/controller-1-0/patches/nginx-tpl.patch
  modules/402-ingress-nginx/images/controller-1-0/rootfs/etc/nginx/lua/geohash.lua
  modules/402-ingress-nginx/images/controller-1-0/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/openapi/config-values.yaml
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: skip/documentation-validation

#481 [docs][prometheus-metrics-adapter] Minor doc fixes
  modules/301-prometheus-metrics-adapter/docs/USAGE.md
  modules/301-prometheus-metrics-adapter/docs/USAGE_RU.md
Labels: area/docs

#435 Add namespace-configurator module
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  ee/fe/modules/340-extended-monitoring/docs/CONFIGURATION.md
  ee/fe/modules/340-extended-monitoring/docs/CONFIGURATION_RU.md
  ee/fe/modules/340-extended-monitoring/openapi/config-values.yaml
  ee/fe/modules/340-extended-monitoring/openapi/doc-ru-config-values.yaml
  ee/fe/modules/600-namespace-configurator/docs/CONFIGURATION.md
  ee/fe/modules/600-namespace-configurator/docs/CONFIGURATION_RU.md
  ee/fe/modules/600-namespace-configurator/docs/README.md
  ee/fe/modules/600-namespace-configurator/docs/README_RU.md
  ee/fe/modules/600-namespace-configurator/docs/USAGE.md
  ee/fe/modules/600-namespace-configurator/docs/USAGE_RU.md
  ee/fe/modules/600-namespace-configurator/enabled
  ee/fe/modules/600-namespace-configurator/hooks/common_test.go
  ee/fe/modules/600-namespace-configurator/hooks/handler.go
  ee/fe/modules/600-namespace-configurator/hooks/handler_test.go
  ee/fe/modules/600-namespace-configurator/openapi/config-values.yaml
  ee/fe/modules/600-namespace-configurator/openapi/doc-ru-config-values.yaml
  ee/fe/modules/600-namespace-configurator/openapi/openapi-case-tests.yaml
  ee/fe/modules/600-namespace-configurator/openapi/values.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: status/review, area/ux

#490 [site] Add the namespace-configurator module to the sidebar
  docs/documentation/_data/sidebars/main.yml
  ee/fe/modules/600-namespace-configurator/docs/README_RU.md
  ee/fe/modules/600-namespace-configurator/docs/USAGE_RU.md
Labels: area/docs, skip/documentation-validation

#430 [deckhouse] Add alert for invalid config
  go.mod
  go.sum
  modules/020-deckhouse/monitoring/prometheus-rules/deckhouse.yaml
Labels: area/monitoring

#402 [prometheus][grafana][prometheus-crd][flant-integration] Add grafana alerts notification channels and migrate to proxy (server) data sources from direct (browser).
  ee/modules/600-flant-integration/images/madison-proxy/rootfs/etc/nginx/madison.tmpl
  ee/modules/600-flant-integration/templates/madison-proxy-grafana-alert-channel.yaml
  go_lib/module/module.go
  modules/010-prometheus-crd/crds/doc-ru-grafanaalertschannel.yaml
  modules/010-prometheus-crd/crds/grafanaalertschannel.yaml
  modules/300-prometheus/hooks/grafana_alerts_channels.go
  modules/300-prometheus/hooks/grafana_alerts_channels_test.go
  modules/300-prometheus/hooks/internal/v1alpha1/grafana_alerts_channel.go
  modules/300-prometheus/openapi/values.yaml
  modules/300-prometheus/template_tests/common_test.go
  modules/300-prometheus/template_tests/copy_custom_certificate_test.go
  modules/300-prometheus/template_tests/secret_datasources_list_test.go
  modules/300-prometheus/templates/grafana/cm-datasources-list.yaml
  modules/300-prometheus/templates/grafana/deployment.yaml
  modules/300-prometheus/templates/grafana/grafana-alerts-channels.yaml
  modules/300-prometheus/templates/grafana/secret-datasources-list.yaml
  testing/openapi_validation/validators/enum.go
Labels: area/monitoring

#489 [extended-monitoring] CronJobFailed alert expr fix
  ee/fe/modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/cronjob.yaml
Labels: area/monitoring

#429 [deckhouse] Add canary deployment for releases
  .github/scripts/js/ci.js
  .github/scripts/js/constants.js
  .github/workflow_templates/suspend-channel.multi.yml
  .github/workflows/suspend-alpha.yml
  .github/workflows/suspend-beta.yml
  .github/workflows/suspend-early-access.yml
  .github/workflows/suspend-rock-solid.yml
  .github/workflows/suspend-stable.yml
  canary.json
  modules/020-deckhouse/crds/deckhouse-release.yaml
  modules/020-deckhouse/crds/doc-ru-deckhouse-release.yaml
  modules/020-deckhouse/hooks/check_deckhouse_release.go
  modules/020-deckhouse/hooks/check_deckhouse_release_test.go
  modules/020-deckhouse/hooks/internal/v1alpha1/deckhouse_release.go
  modules/020-deckhouse/hooks/update_deckhouse_image.go
  modules/020-deckhouse/hooks/update_deckhouse_image_test.go
  werf.yaml
Labels: area/core

#496 [docs][deckhouse] Clarification on using window updates
  modules/020-deckhouse/openapi/config-values.yaml
  modules/020-deckhouse/openapi/doc-ru-config-values.yaml
Labels: area/docs

#469 Limit agent serviceaccount to access only required resources
  modules/300-prometheus/templates/prometheus/rbac-to-us.yaml
  modules/300-prometheus/templates/trickster/rbac-to-us.yaml
  modules/500-upmeter/images/upmeter/cmd/upmeter/main.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/d8_clusterconfiguration.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/http.go
  modules/500-upmeter/templates/upmeter-agent/daemonset.yaml
  modules/500-upmeter/templates/upmeter-agent/rbac-for-us.yaml
  modules/500-upmeter/templates/upmeter/statefulset.yaml
Labels: area/monitoring, area/security

#485 [bashible] fixed notManaged mode for CRI.
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
  candi/bashible/common-steps/node-group/068_configure_kubelet_systemd_unit.sh.tpl
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
  modules/040-node-manager/hooks/internal/v1/nodegroup.go
  modules/040-node-manager/hooks/internal/v1/nodegroup_generated.deepcopy.go
  modules/040-node-manager/hooks/internal/v1alpha2/nodegroup.go
  modules/040-node-manager/hooks/internal/v1alpha2/nodegroup_generated.deepcopy.go
Labels: type/enhancement

#355 [docs][log-shipper] Updates
  modules/140-user-authz/docs/FAQ_RU.md
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/cluster-logging-config.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-logging-config.yaml
Labels: area/docs

#368 [user-authn] Fix flaky DexAuthenticator refresh token loss
  modules/150-user-authn/hooks/get_dex_authenticator_crds.go
  modules/150-user-authn/hooks/get_dex_authenticator_crds_test.go
  modules/150-user-authn/images/dex-authenticator/Dockerfile
  modules/150-user-authn/images/dex-authenticator/cookie-refresh.patch
  modules/150-user-authn/images/dex-authenticator/patches/README.md
  modules/150-user-authn/images/dex-authenticator/patches/cookie-refresh.patch
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
  modules/402-ingress-nginx/hooks/deprecated.go
  modules/402-ingress-nginx/hooks/deprecated_test.go
  modules/402-ingress-nginx/images/controller-0-25/patches/README.md
  modules/402-ingress-nginx/images/controller-0-26/patches/README.md
  modules/402-ingress-nginx/images/controller-0-33/Dockerfile
  modules/402-ingress-nginx/images/controller-0-33/patches/README.md
  modules/402-ingress-nginx/images/controller-0-33/patches/auth-cookie-always.patch
  modules/402-ingress-nginx/images/controller-0-46/Dockerfile
  modules/402-ingress-nginx/images/controller-0-46/patches/README.md
  modules/402-ingress-nginx/images/controller-0-46/patches/auth-cookie-always.patch
  modules/402-ingress-nginx/images/controller-0-48/Dockerfile
  modules/402-ingress-nginx/images/controller-0-48/patches/README.md
  modules/402-ingress-nginx/images/controller-0-48/patches/auth-cookie-always.patch
  modules/402-ingress-nginx/images/controller-0-49/Dockerfile
  modules/402-ingress-nginx/images/controller-0-49/patches/README.md
  modules/402-ingress-nginx/images/controller-0-49/patches/auth-cookie-always.patch
  modules/402-ingress-nginx/images/controller-1-0/Dockerfile
  modules/402-ingress-nginx/images/controller-1-0/patches/README.md
  modules/402-ingress-nginx/images/controller-1-0/patches/auth-cookie-always.patch
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
Labels: area/auth

#482 [okmeter] Bump version to fix agents updating process
  ee/fe/modules/500-okmeter/images/okagent/Dockerfile
Labels: area/monitoring

#521 [bashible] Fix `<no value>` if registry auth is empty
  candi/bashible/bashible.sh.tpl
  candi/bashible/bundles/centos-7/bootstrap.sh.tpl
  candi/bashible/common-steps/node-group/050_configure_and_start_containerd.sh.tpl
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context_builder.go
Labels: type/bug, area/cluster-and-infrastructure

#371 [site] Improve resource render
  docs/documentation/_data/i18n.yml
  docs/documentation/_includes/openapi-tippy.html
  docs/documentation/_layouts/default.html
  docs/documentation/_plugins/openapi.rb
  docs/documentation/js/popper.min.js
  docs/documentation/js/tippy-bundle.umd.min.js
  docs/site/css/components/_resources.scss
  docs/site/css/components/common/_mixins.scss
  docs/site/css/components/common/_variables.scss
  docs/site/css/site.scss
  docs/site/js/customscripts.js
  modules/040-node-manager/docs/CR_RU.md
Labels: area/docs

#529 [site] Fix resource render
  docs/documentation/_layouts/default.html
Labels: area/docs

#455 [log-shipper] [chrony] add workload-resource-policy label to VPA
  modules/460-log-shipper/templates/daemonset.yaml
  modules/470-chrony/openapi/config-values.yaml
  modules/470-chrony/templates/daemonset.yaml
Labels: skip/documentation-validation

#530 [user-authn] Add DexAuthenticator validation webhook
  modules/150-user-authn/webhooks/validating/dex_authenticator
Labels: area/auth

#527 [global] Fix deckhouse image repo parsing
  global-hooks/discovery/deckhouse_registry.go
  global-hooks/discovery/deckhouse_registry_test.go
Labels: area/core

#513 [ci] Reduce dependabot PRs quantity
  .github/dependabot.yml
Labels: area/dx

#537 [extended-monitoring][docs] Minor updates
  ee/fe/modules/340-extended-monitoring/docs/CONFIGURATION.md
  ee/fe/modules/340-extended-monitoring/docs/CONFIGURATION_RU.md
  ee/fe/modules/340-extended-monitoring/docs/README.md
  ee/fe/modules/340-extended-monitoring/docs/README_RU.md
Labels: area/docs

#528 [site] Fix title in clients stories
  docs/site/css/components/_clients.scss
Labels: area/docs

#523 [global] copy custom certificate: serialize with struct, not map
  go_lib/hooks/copy_custom_certificate/hook.go
Labels: area/auth

#512 [extended-monitoring] Add cert-exporter alerts
  ee/fe/modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/certificate.yaml
  ee/fe/modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/exporter-health.yaml
  ee/fe/modules/340-extended-monitoring/templates/monitoring.yaml
Labels: status/review

#539 [user-authn] Fix DexAuthenticator validation webhook
  modules/150-user-authn/webhooks/validating/dex_authenticator
Labels: area/auth

#533 [docs] Fix instructions for switching registry and image copier
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  modules/020-deckhouse/docs/internal/IMAGE_COPIER.md
  modules/020-deckhouse/images/images-copier/generate-copier-secret.sh
Labels: area/docs, skip/documentation-validation
