Repository deckhouse/deckhouse, pull requests merged in 2022-10, with the labels that each got.

#2617 [flant-integration] Fix erronous control-plane accounting in VMs
  ee/modules/600-flant-integration/images/flant-pricing/hooks/node_metrics.sh
Labels: type/bug, status/backport

#2625 Backport: [flant-integration] Fix erronous control-plane accounting in VMs
  ee/modules/600-flant-integration/images/flant-pricing/hooks/node_metrics.sh
Labels: auto, backported

#2623 Changelog v1.36.8
  CHANGELOG/CHANGELOG-v1.36.8.yml
Labels: changelog, auto, status/backport

#2627 Backport: Changelog v1.36.8
  CHANGELOG/CHANGELOG-v1.36.8.yml
Labels: auto, backported

#2626 Changelog v1.36.8
  CHANGELOG/CHANGELOG-v1.36.8.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: changelog, auto, status/backport

#2629 Backport: Changelog v1.36.8
  CHANGELOG/CHANGELOG-v1.36.8.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: auto, backported

#2630 [testing] e2e deckhouse ready timeout fix
  testing/cloud_layouts/script.sh
Labels: status/backport

#2631 Backport: [testing] e2e deckhouse ready timeout fix
  testing/cloud_layouts/script.sh
Labels: auto, backported

#2632 Backport: Changelog v1.37.0
  CHANGELOG/CHANGELOG-v1.37.0.yml
  CHANGELOG/CHANGELOG-v1.37.md
Labels: auto, backported

#2621 [user-authn] Bump Dex to v2.34
  modules/150-user-authn/images/dex/Dockerfile
  modules/150-user-authn/images/dex/patches/README.md
  modules/150-user-authn/images/dex/patches/gitlab-refresh-tokens.patch
  modules/150-user-authn/images/dex/patches/refresh-once.patch
  werf.yaml
Labels: area/auth

#2636 [monitoring-kubernetes] add deployments to kube-state-metrics's allowlist
  modules/340-monitoring-kubernetes/templates/kube-state-metrics/deployment.yaml
Labels: status/backport

#2639 Backport: [monitoring-kubernetes] add deployments to kube-state-metrics's allowlist
  modules/340-monitoring-kubernetes/templates/kube-state-metrics/deployment.yaml
Labels: auto, backported

#2642 Backport: [monitoring-kubernetes] add deployments to kube-state-metrics's allowlist
  modules/340-monitoring-kubernetes/templates/kube-state-metrics/deployment.yaml
Labels: auto, backported

#2644 Backport: Changelog v1.37.1
  CHANGELOG/CHANGELOG-v1.37.1.yml
  CHANGELOG/CHANGELOG-v1.37.md
Labels: auto, backported

#2641 [linstor] Improve kernel-headers detection for centos
  modules/041-linstor/templates/nodegroupconfiguration-install-kernel-headers.yaml
Labels: e2e/use/cri/containerd, status/backport, area/storage, e2e/use/k8s/1.23

#2646 Backport: [linstor] Improve kernel-headers detection for centos
  modules/041-linstor/templates/nodegroupconfiguration-install-kernel-headers.yaml
Labels: auto, backported

#2645 Changelog v1.37.1
  CHANGELOG/CHANGELOG-v1.37.1.yml
  CHANGELOG/CHANGELOG-v1.37.md
Labels: changelog, auto, status/backport

#2647 Backport: Changelog v1.37.1
  CHANGELOG/CHANGELOG-v1.37.1.yml
  CHANGELOG/CHANGELOG-v1.37.md
Labels: auto, backported

#2613 [log-shipper] Bump vector to 0.24.1
  modules/460-log-shipper/hooks/testdata/default-config.json
  modules/460-log-shipper/hooks/validate_test.go
  modules/460-log-shipper/images/vector/Dockerfile
  modules/460-log-shipper/images/vector/patches/README.md
  modules/460-log-shipper/images/vector/patches/remove-high-cardinality-labels.patch
  modules/460-log-shipper/templates/configmap.yaml
Labels: area/monitoring, type/enhancement

#2649 Revert "[cloud-provider-yandex] Fix allowing additional properties fo…
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
Labels: skip/documentation-validation, status/backport, skip/e2e

#2651 Backport: Revert "[cloud-provider-yandex] Fix allowing additional properties fo…
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
Labels: auto, backported

#2650 Changelog v1.37.2
  CHANGELOG/CHANGELOG-v1.37.2.yml
  CHANGELOG/CHANGELOG-v1.37.md
Labels: changelog, auto, status/backport

#2652 Backport: Changelog v1.37.2
  CHANGELOG/CHANGELOG-v1.37.2.yml
  CHANGELOG/CHANGELOG-v1.37.md
Labels: auto, backported

#2654 [site] Replace google slides with a self-hosted solution
  docs/documentation/.werf/nginx.conf
  docs/documentation/fonts/FontAwesome.otf
  docs/documentation/fonts/fontawesome-webfont.eot
  docs/documentation/fonts/fontawesome-webfont.svg
  docs/documentation/fonts/fontawesome-webfont.ttf
  docs/documentation/fonts/fontawesome-webfont.woff
  docs/documentation/fonts/fontawesome-webfont.woff2
  docs/documentation/js/pdf.worker.min.js
  docs/documentation/presentations/110-istio/federation_common_principles_en.pdf
  docs/documentation/presentations/110-istio/federation_common_principles_ru.pdf
  docs/documentation/presentations/110-istio/federation_istio_federation_en.pdf
  docs/documentation/presentations/110-istio/federation_istio_federation_ru.pdf
  docs/documentation/presentations/110-istio/multicluster_common_principles_en.pdf
  docs/documentation/presentations/110-istio/multicluster_common_principles_ru.pdf
  docs/documentation/presentations/110-istio/multicluster_istio_multicluster_en.pdf
  docs/documentation/presentations/110-istio/multicluster_istio_multicluster_ru.pdf
  docs/documentation/presentations/110-istio/request_lifecycle_istio_disabled_en.pdf
  docs/documentation/presentations/110-istio/request_lifecycle_istio_disabled_ru.pdf
  docs/documentation/presentations/110-istio/request_lifecycle_istio_enabled_en.pdf
  docs/documentation/presentations/110-istio/request_lifecycle_istio_enabled_ru.pdf
  docs/site/_includes/getting_started/bm/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/bm/STEP_INSTALL_SCHEMA_RU.md
  docs/site/_includes/getting_started/global/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/global/STEP_INSTALL_SCHEMA_RU.md
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  docs/site/_includes/head-site.html
  docs/site/css/docs.scss
  docs/site/js/pdf-slider.js
  docs/site/js/pdf.min.js
  docs/site/js/pdf.worker.min.js
  docs/site/presentations/getting_started_bm_en.pdf
  docs/site/presentations/getting_started_bm_ru.pdf
  docs/site/presentations/getting_started_cloud_en.pdf
  docs/site/presentations/getting_started_cloud_ru.pdf
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
  modules/810-deckhouse-web/images/web/nginx.conf
Labels: area/docs, status/backport, skip/e2e

#2640 [cloud-provider-aws] added doc about enabling region for user
  candi/cloud-providers/aws/docs/ENVIRONMENT.md
  candi/cloud-providers/aws/docs/ENVIRONMENT_RU.md
  docs/documentation/images/030-cloud-provider-aws/region_enable.png
  docs/site/_includes/getting_started/global/partials/NOTICES_ENVIRONMENT.liquid
Labels: area/cloud-provider, status/backport, skip/e2e

#2660 Backport: [cloud-provider-aws] added doc about enabling region for user
  candi/cloud-providers/aws/docs/ENVIRONMENT.md
  candi/cloud-providers/aws/docs/ENVIRONMENT_RU.md
  docs/documentation/images/030-cloud-provider-aws/region_enable.png
  docs/site/_includes/getting_started/global/partials/NOTICES_ENVIRONMENT.liquid
Labels: auto, backported

#2619 [log-shipper] Fix many source to one destination pipelines
  .golangci.yaml
  go_lib/set/set.go
  modules/460-log-shipper/hooks/generate_config_test.go
  modules/460-log-shipper/hooks/internal/composer/config.go
  modules/460-log-shipper/hooks/internal/vector/destination/common.go
  modules/460-log-shipper/hooks/internal/vector/destination/elasticsearch.go
  modules/460-log-shipper/hooks/internal/vector/destination/logstash.go
  modules/460-log-shipper/hooks/internal/vector/destination/loki.go
  modules/460-log-shipper/hooks/internal/vector/destination/vector.go
  modules/460-log-shipper/hooks/internal/vector/source/file.go
  modules/460-log-shipper/hooks/internal/vector/source/kubernetes.go
  modules/460-log-shipper/hooks/internal/vector/transform/elasticsearch.go
  modules/460-log-shipper/hooks/internal/vector/transform/extra_fields.go
  modules/460-log-shipper/hooks/internal/vector/transform/filter.go
  modules/460-log-shipper/hooks/internal/vector/transform/multiline.go
  modules/460-log-shipper/hooks/internal/vector/transform/source.go
  modules/460-log-shipper/hooks/internal/vector/transform/testdata/extra-labels.json
  modules/460-log-shipper/hooks/internal/vector/transform/testdata/filters.json
  modules/460-log-shipper/hooks/internal/vector/transform/testdata/multiline.json
  modules/460-log-shipper/hooks/internal/vector/transform/throttle.go
  modules/460-log-shipper/hooks/internal/vector/transform/transforms.go
  modules/460-log-shipper/hooks/internal/vector/transform/transforms_test.go
  modules/460-log-shipper/hooks/testdata/file-to-elastic.json
  modules/460-log-shipper/hooks/testdata/file-to-vector.json
  modules/460-log-shipper/hooks/testdata/many-to-one.json
  modules/460-log-shipper/hooks/testdata/multiline.json
  modules/460-log-shipper/hooks/testdata/one-dest.json
  modules/460-log-shipper/hooks/testdata/throttle.json
Labels: area/monitoring, type/bug, status/backport

#2661 Backport: [log-shipper] Fix many source to one destination pipelines
  .golangci.yaml
  go_lib/set/set.go
  modules/460-log-shipper/hooks/generate_config_test.go
  modules/460-log-shipper/hooks/internal/composer/config.go
  modules/460-log-shipper/hooks/internal/vector/destination/common.go
  modules/460-log-shipper/hooks/internal/vector/destination/elasticsearch.go
  modules/460-log-shipper/hooks/internal/vector/destination/logstash.go
  modules/460-log-shipper/hooks/internal/vector/destination/loki.go
  modules/460-log-shipper/hooks/internal/vector/destination/vector.go
  modules/460-log-shipper/hooks/internal/vector/source/file.go
  modules/460-log-shipper/hooks/internal/vector/source/kubernetes.go
  modules/460-log-shipper/hooks/internal/vector/transform/elasticsearch.go
  modules/460-log-shipper/hooks/internal/vector/transform/extra_fields.go
  modules/460-log-shipper/hooks/internal/vector/transform/filter.go
  modules/460-log-shipper/hooks/internal/vector/transform/multiline.go
  modules/460-log-shipper/hooks/internal/vector/transform/source.go
  modules/460-log-shipper/hooks/internal/vector/transform/testdata/extra-labels.json
  modules/460-log-shipper/hooks/internal/vector/transform/testdata/filters.json
  modules/460-log-shipper/hooks/internal/vector/transform/testdata/multiline.json
  modules/460-log-shipper/hooks/internal/vector/transform/throttle.go
  modules/460-log-shipper/hooks/internal/vector/transform/transforms.go
  modules/460-log-shipper/hooks/internal/vector/transform/transforms_test.go
  modules/460-log-shipper/hooks/testdata/file-to-elastic.json
  modules/460-log-shipper/hooks/testdata/file-to-vector.json
  modules/460-log-shipper/hooks/testdata/many-to-one.json
  modules/460-log-shipper/hooks/testdata/multiline.json
  modules/460-log-shipper/hooks/testdata/one-dest.json
  modules/460-log-shipper/hooks/testdata/throttle.json
Labels: auto, backported

#2662 Backport: [log-shipper] Fix many source to one destination pipelines
  .golangci.yaml
  go_lib/set/set.go
  modules/460-log-shipper/hooks/generate_config_test.go
  modules/460-log-shipper/hooks/internal/composer/config.go
  modules/460-log-shipper/hooks/internal/vector/destination/common.go
  modules/460-log-shipper/hooks/internal/vector/destination/elasticsearch.go
  modules/460-log-shipper/hooks/internal/vector/destination/logstash.go
  modules/460-log-shipper/hooks/internal/vector/destination/loki.go
  modules/460-log-shipper/hooks/internal/vector/destination/vector.go
  modules/460-log-shipper/hooks/internal/vector/source/file.go
  modules/460-log-shipper/hooks/internal/vector/source/kubernetes.go
  modules/460-log-shipper/hooks/internal/vector/transform/elasticsearch.go
  modules/460-log-shipper/hooks/internal/vector/transform/extra_fields.go
  modules/460-log-shipper/hooks/internal/vector/transform/filter.go
  modules/460-log-shipper/hooks/internal/vector/transform/multiline.go
  modules/460-log-shipper/hooks/internal/vector/transform/source.go
  modules/460-log-shipper/hooks/internal/vector/transform/testdata/extra-labels.json
  modules/460-log-shipper/hooks/internal/vector/transform/testdata/filters.json
  modules/460-log-shipper/hooks/internal/vector/transform/testdata/multiline.json
  modules/460-log-shipper/hooks/internal/vector/transform/throttle.go
  modules/460-log-shipper/hooks/internal/vector/transform/transforms.go
  modules/460-log-shipper/hooks/internal/vector/transform/transforms_test.go
  modules/460-log-shipper/hooks/testdata/file-to-elastic.json
  modules/460-log-shipper/hooks/testdata/file-to-vector.json
  modules/460-log-shipper/hooks/testdata/many-to-one.json
  modules/460-log-shipper/hooks/testdata/multiline.json
  modules/460-log-shipper/hooks/testdata/one-dest.json
  modules/460-log-shipper/hooks/testdata/throttle.json
Labels: auto, backported

#2665 [istio] fix D8IstioAdditionalControlplaneDoesntWork alert
  ee/modules/110-istio/monitoring/prometheus-rules/controlplane.yaml
Labels: type/bug

#2666 [upmeter] Reduce QPS and busrt for kube-client
  modules/500-upmeter/templates/upmeter-agent/daemonset.yaml
Labels: type/bug, status/backport

#2667 Backport: [upmeter] Reduce QPS and busrt for kube-client
  modules/500-upmeter/templates/upmeter-agent/daemonset.yaml
Labels: auto, backported

#2669 Backport: [node-manager] Preserve old control-plane label for compatibility
  docs/site/_includes/getting_started/azure/partials/resources.yml.unonode.inc
  docs/site/_includes/getting_started/yandex/partials/resources.yml.unonode.inc
  global-hooks/control_plane_node_roles.go
  global-hooks/control_plane_node_roles_test.go
  modules/040-control-plane-manager/hooks/arguments_test.go
  modules/040-control-plane-manager/hooks/audit_policy_test.go
  modules/040-control-plane-manager/hooks/check_etcd_peer_urls_test.go
  modules/040-control-plane-manager/hooks/discover_modules_test.go
  modules/040-control-plane-manager/hooks/effective_kubernetes_version_test.go
  modules/040-control-plane-manager/hooks/ensure_secret_encryption_key_test.go
  modules/040-control-plane-manager/hooks/etcd_quota_backend_bytes.go
  modules/040-control-plane-manager/hooks/etcd_quota_backend_bytes_test.go
  modules/040-control-plane-manager/hooks/get_pki_checksum_test.go
  modules/040-control-plane-manager/hooks/kubeadm_config_cleanup_test.go
  modules/040-control-plane-manager/hooks/lock_main_queue_test.go
  modules/040-control-plane-manager/hooks/reconcile_etcd_members_test.go
  modules/040-control-plane-manager/hooks/update_approval_test.go
  modules/040-node-manager/hooks/create_master_node_group.go
  modules/040-node-manager/hooks/handle_node_templates.go
  modules/040-node-manager/hooks/handle_node_templates_test.go
Labels: auto, backported

#2670 Backport: [node-manager] Preserve old control-plane label for compatibility
  docs/site/_includes/getting_started/azure/partials/resources.yml.unonode.inc
  docs/site/_includes/getting_started/yandex/partials/resources.yml.unonode.inc
  global-hooks/control_plane_node_roles.go
  global-hooks/control_plane_node_roles_test.go
  modules/040-control-plane-manager/hooks/arguments_test.go
  modules/040-control-plane-manager/hooks/audit_policy_test.go
  modules/040-control-plane-manager/hooks/check_etcd_peer_urls_test.go
  modules/040-control-plane-manager/hooks/discover_modules_test.go
  modules/040-control-plane-manager/hooks/effective_kubernetes_version_test.go
  modules/040-control-plane-manager/hooks/ensure_secret_encryption_key_test.go
  modules/040-control-plane-manager/hooks/etcd_quota_backend_bytes.go
  modules/040-control-plane-manager/hooks/etcd_quota_backend_bytes_test.go
  modules/040-control-plane-manager/hooks/get_pki_checksum_test.go
  modules/040-control-plane-manager/hooks/kubeadm_config_cleanup_test.go
  modules/040-control-plane-manager/hooks/lock_main_queue_test.go
  modules/040-control-plane-manager/hooks/reconcile_etcd_members_test.go
  modules/040-control-plane-manager/hooks/update_approval_test.go
  modules/040-node-manager/hooks/create_master_node_group.go
  modules/040-node-manager/hooks/handle_node_templates.go
  modules/040-node-manager/hooks/handle_node_templates_test.go
Labels: auto, backported

#2643 Changelog v1.36.9
  CHANGELOG/CHANGELOG-v1.36.9.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: changelog, auto, status/backport

#2671 Backport: Changelog v1.36.9
  CHANGELOG/CHANGELOG-v1.36.9.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: auto, backported

#2672 Backport: [istio] fix D8IstioAdditionalControlplaneDoesntWork alert
  ee/modules/110-istio/monitoring/prometheus-rules/controlplane.yaml
Labels: auto, backported

#2673 Backport: Changelog v1.37.3
  CHANGELOG/CHANGELOG-v1.37.3.yml
  CHANGELOG/CHANGELOG-v1.37.md
Labels: auto, backported

#2678 [site] Fix contact us phone number on the footer
  docs/site/_includes/footer.html
Labels: area/docs, skip/e2e

#2598 [docs] Fix supported OS list
  docs/documentation/_data/i18n.yml
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_data/version_map_addition.yml
  docs/documentation/_includes/SUPPORTED_VERSIONS.liquid
  docs/documentation/_includes/SUPPORTED_VERSIONS.md
  docs/documentation/css/supported_versions.css
  docs/documentation/pages/SUPPORTED_VERSIONS.md
  docs/documentation/pages/SUPPORTED_VERSIONS_RU.md
  docs/documentation/werf.yaml
  docs/site/css/docs.scss
  modules/810-deckhouse-web/images/web/werf.inc.yaml
Labels: area/docs, status/backport, skip/e2e

#2415 [global-hooks] Public domain template pattern fix
  docs/site/_includes/getting_started/global/partials/getting-started-setup.js.liquid
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/doc-ru-config-values.yaml
  global-hooks/openapi/openapi-case-tests.yaml
  shell_lib/module.sh
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21, status/ok-to-test

#1743 [prometheus] Remove automatic disk expansion
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
  modules/300-prometheus/hooks/calculate_storage_capacity.go
  modules/300-prometheus/hooks/calculate_storage_capacity_test.go
  modules/300-prometheus/hooks/disk_metrics.go
  modules/300-prometheus/hooks/prometheus_disk.go
  modules/300-prometheus/hooks/prometheus_disk_test.go
  modules/300-prometheus/monitoring/prometheus-rules/prometheus-storage.yaml
  modules/300-prometheus/openapi/config-values.yaml
  modules/300-prometheus/openapi/doc-ru-config-values.yaml
  werf.yaml
Labels: area/monitoring, e2e/use/cri/containerd, e2e/use/k8s/1.21, skip/e2e

#2686 [docs] Fix sidebar in documentation
  docs/documentation/_includes/sidebar.html
  docs/site/css/docs.scss
  docs/site/js/customscripts.js
Labels: status/backport, skip/e2e

#2689 Backport: [docs] Fix sidebar in documentation
  docs/documentation/_includes/sidebar.html
  docs/site/css/docs.scss
  docs/site/js/customscripts.js
Labels: auto, backported

#2683 [upmeter] Fix silent status page on empty data
  modules/500-upmeter/images/status/src/App.svelte
  modules/500-upmeter/images/status/src/lib/StatusText.svelte
  modules/500-upmeter/images/upmeter/pkg/server/api/public_status.go
Labels: area/monitoring, type/bug, status/backport

#2690 Backport: [upmeter] Fix silent status page on empty data
  modules/500-upmeter/images/status/src/App.svelte
  modules/500-upmeter/images/status/src/lib/StatusText.svelte
  modules/500-upmeter/images/upmeter/pkg/server/api/public_status.go
Labels: auto, backported

#2691 [ci] Run setup stage for tests-prebuild if go files are changed
  tools/build.go
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  werf.yaml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21

#2698 [docs][cloud-provider-aws] Clarify usage of the WithNat layout
  candi/cloud-providers/aws/docs/LAYOUTS.md
  candi/cloud-providers/aws/docs/LAYOUTS_RU.md
  docs/site/_includes/getting_started/aws/layouts/WITH_NAT.md
  docs/site/_includes/getting_started/aws/layouts/WITH_NAT_RU.md
Labels: area/docs, status/backport, skip/e2e

#2699 Backport: [docs][cloud-provider-aws] Clarify usage of the WithNat layout
  candi/cloud-providers/aws/docs/LAYOUTS.md
  candi/cloud-providers/aws/docs/LAYOUTS_RU.md
  docs/site/_includes/getting_started/aws/layouts/WITH_NAT.md
  docs/site/_includes/getting_started/aws/layouts/WITH_NAT_RU.md
Labels: auto, backported

#2685 [user-authn] Fix bug in Dex with the connectorData field
  modules/150-user-authn/images/dex/Dockerfile
  modules/150-user-authn/images/dex/patches/README.md
  modules/150-user-authn/images/dex/patches/connector-data.patch
Labels: area/auth, skip/e2e

#2694 [cloud-provider-aws] remove deprecated standard section from provider…
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  modules/030-cloud-provider-aws/hooks/migrate_aws_cluster_configuration.go
  modules/030-cloud-provider-aws/hooks/migrate_aws_cluster_configuration_test.go
Labels: area/cloud-provider, skip/documentation-validation, e2e/use/k8s/1.23

#2701 Backport: [cloud-provider-aws] remove deprecated standard section from provider…
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  modules/030-cloud-provider-aws/hooks/migrate_aws_cluster_configuration.go
  modules/030-cloud-provider-aws/hooks/migrate_aws_cluster_configuration_test.go
Labels: auto, backported

#2695 [node-manager] added VPA for early-oom daemonset
  modules/040-node-manager/templates/early-oom/daemonset.yaml
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.23

#2655 [candi] docker logout on nodes if registry auth is removed
  candi/bashible/common-steps/node-group/050_configure_and_start_docker.sh.tpl
Labels: area/cluster-and-infrastructure, e2e/use/cri/docker

#2703 Backport: [node-manager] added VPA for early-oom daemonset
  modules/040-node-manager/templates/early-oom/daemonset.yaml
Labels: auto, backported

#2687 [upmeter] Optimize control-plane preflight check
  modules/500-upmeter/images/upmeter/pkg/agent/agent.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/base.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/certificate_secret.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/d8_clusterconfiguration.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_basic_lifecycle.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_basic_lifecycle_test.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_configmap.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_controller_lifecycle.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_controller_lifecycle_test.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_controlplane.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_daemonset.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_namespace.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_nodegroup.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_pod.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_scheduling.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_scheduling_test.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_statefulset.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_controlplane.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_deckhouse.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_extensions.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_loadbalancing.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_monitoring_and_autoscaling.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_nginx.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_nodegroups.go
  modules/500-upmeter/images/upmeter/pkg/probe/load.go
  modules/500-upmeter/images/upmeter/pkg/probe/load_test.go
  modules/500-upmeter/images/upmeter/pkg/server/server.go
Labels: type/refactoring, e2e/use/cri/containerd, e2e/use/k8s/1.21, status/backport

#2705 Backport: [upmeter] Optimize control-plane preflight check
  modules/500-upmeter/images/upmeter/pkg/agent/agent.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/base.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/certificate_secret.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/d8_clusterconfiguration.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_basic_lifecycle.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_basic_lifecycle_test.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_configmap.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_controller_lifecycle.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_controller_lifecycle_test.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_controlplane.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_daemonset.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_namespace.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_nodegroup.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_pod.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_scheduling.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_scheduling_test.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_statefulset.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_controlplane.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_deckhouse.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_extensions.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_loadbalancing.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_monitoring_and_autoscaling.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_nginx.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_nodegroups.go
  modules/500-upmeter/images/upmeter/pkg/probe/load.go
  modules/500-upmeter/images/upmeter/pkg/probe/load_test.go
  modules/500-upmeter/images/upmeter/pkg/server/server.go
Labels: auto, backported

#2681 Changelog v1.37.4
  CHANGELOG/CHANGELOG-v1.37.4.yml
  CHANGELOG/CHANGELOG-v1.37.md
Labels: changelog, auto, status/backport

#2706 Backport: Changelog v1.37.4
  CHANGELOG/CHANGELOG-v1.37.4.yml
  CHANGELOG/CHANGELOG-v1.37.md
Labels: auto, backported

#2597 [grafana][ingress-nginx] Fix Ingress Nginx dashboard
  modules/402-ingress-nginx/monitoring/grafana-dashboards/kubernetes-cluster/controller-detail.json
  modules/402-ingress-nginx/monitoring/grafana-dashboards/kubernetes-cluster/controllers.json
  modules/402-ingress-nginx/templates/failover/podmonitor.yaml
Labels: area/monitoring, type/bug, e2e/use/cri/containerd, e2e/use/k8s/1.21

#2710 [doc] Fix misspellings
  docs/documentation/_data/supported_versions.yml
Labels: area/docs, skip/e2e

#2716 Backport: [istio] D8IstioGlobalControlplaneDoesntWork alert fix
  ee/modules/110-istio/monitoring/prometheus-rules/controlplane.yaml
Labels: auto, backported

#2715 Changelog v1.37.5
  CHANGELOG/CHANGELOG-v1.37.5.yml
  CHANGELOG/CHANGELOG-v1.37.md
Labels: changelog, auto, status/backport

#2712 [docs] Minor fixes
  modules/101-cert-manager/openapi/doc-ru-config-values.yaml
Labels: area/docs, skip/e2e

#2721 [docs] Update getting started
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
Labels: area/docs, skip/e2e

#2320 [testing] Enable automatic integration tests for linstor module
  testing/cloud_layouts/Static/configuration.tpl.yaml
  testing/cloud_layouts/script.sh
Labels: area/testing

#2724 [site] Site updates
  docs/site/_data/footer.yaml
  docs/site/_data/topnav.yml
  docs/site/css/components/_substitution.scss
  docs/site/css/site.scss
  docs/site/pages/substitution_ru.html
Labels: area/docs, skip/e2e

#2725 [log-shipper] Vector 0.24.2
  modules/460-log-shipper/hooks/validate_test.go
  modules/460-log-shipper/images/vector/Dockerfile
Labels: area/monitoring

#2733 Backport: [candi] Fix Yandex NAT Instance netplan config
  candi/cloud-providers/yandex/terraform-modules/vpc-components/nat_instance.tf
Labels: auto, backported

#2366 [openvpn] ccd fixes
  modules/500-openvpn/docs/CONFIGURATION.md
  modules/500-openvpn/docs/CONFIGURATION_RU.md
  modules/500-openvpn/openapi/config-values.yaml
  modules/500-openvpn/openapi/values.yaml
  modules/500-openvpn/template_tests/copy_custom_certificate_test.go
  modules/500-openvpn/templates/openvpn/configmap.yaml
  modules/500-openvpn/templates/openvpn/helpers.yaml
  modules/500-openvpn/templates/openvpn/statefulset.yaml
  modules/500-openvpn/values_matrix_test.yaml
Labels: skip/documentation-validation

#2696 [docs] Add redirects to the documentation
  docs/documentation/.werf/nginx.conf
Labels: area/docs, skip/e2e

#2738 Backport: [docs] Add redirects to the documentation
  docs/documentation/.werf/nginx.conf
Labels: auto, backported

#2739 Backport: undefined
  docs/documentation/.werf/nginx.conf
Labels: auto, backported

#2732 Changelog v1.37.6
  CHANGELOG/CHANGELOG-v1.37.6.yml
  CHANGELOG/CHANGELOG-v1.37.md
Labels: changelog, auto, status/backport

#2740 Backport: Changelog v1.37.6
  CHANGELOG/CHANGELOG-v1.37.6.yml
  CHANGELOG/CHANGELOG-v1.37.md
Labels: auto, backported

#2741 [docs][cloud-provider-yandex] Update docs about parameters
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
Labels: area/docs, status/backport

#2743 Backport: [docs][cloud-provider-yandex] Update docs about parameters
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#2742 Changelog v1.37.6
  CHANGELOG/CHANGELOG-v1.37.6.yml
Labels: changelog, auto, status/backport

#2744 Backport: Changelog v1.37.6
  CHANGELOG/CHANGELOG-v1.37.6.yml
Labels: auto, backported

#2745 Backport: undefined
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#2746 [docs] Site minor fix
  docs/site/pages/substitution_ru.html
Labels: area/docs

#2747 [docs][openvpn] Update documentation
  modules/500-openvpn/docs/CONFIGURATION.md
  modules/500-openvpn/docs/CONFIGURATION_RU.md
  modules/500-openvpn/openapi/config-values.yaml
Labels: area/docs, skip/documentation-validation, status/backport

#2748 Backport: [docs][openvpn] Update documentation
  modules/500-openvpn/docs/CONFIGURATION.md
  modules/500-openvpn/docs/CONFIGURATION_RU.md
  modules/500-openvpn/openapi/config-values.yaml
Labels: auto, backported

#2749 [cni-cilium] Fixed alert templating
  modules/021-cni-cilium/monitoring/prometheus-rules/agent.yaml
Labels: area/network, type/bug, e2e/use/k8s/1.23

#2750 Backport: [cni-cilium] Fixed alert templating
  modules/021-cni-cilium/monitoring/prometheus-rules/agent.yaml
Labels: auto, backported

#2590 [node-manager] Rename D8EarlyOOMPodIsNotReady alert to EarlyOOMPodIsNotReady
  modules/040-node-manager/monitoring/prometheus-rules/early-oom.tpl
Labels: area/monitoring, e2e/use/k8s/1.21

#2751 Backport: [node-manager] Rename D8EarlyOOMPodIsNotReady alert to EarlyOOMPodIsNotReady
  modules/040-node-manager/monitoring/prometheus-rules/early-oom.tpl
Labels: auto, backported

#2607 Changelog v1.38.0
  CHANGELOG/CHANGELOG-v1.38.0.yml
  CHANGELOG/CHANGELOG-v1.38.md
Labels: changelog, auto, status/backport

#2752 Backport: Changelog v1.38.0
  CHANGELOG/CHANGELOG-v1.38.0.yml
  CHANGELOG/CHANGELOG-v1.38.md
Labels: auto, backported

#2753 [site] Remove flags from our clients slider
  docs/site/_includes/clients.html
Labels: area/docs

#2734 [linstor] Fix description for D8LinstorNodeIsNotOnline alert
  modules/041-linstor/monitoring/prometheus-rules/linstor-node.yaml
Labels: area/monitoring

#2707 [istio] get rid of revisions
  ee/modules/110-istio/crds/istio/0.990/test-crd.yaml
  ee/modules/110-istio/crds/istio/0.991/test-crd.yaml
  ee/modules/110-istio/crds/istio/0.992/test-crd.yaml
  ee/modules/110-istio/crds/istio/1.10.1/crd-all.gen.yaml
  ee/modules/110-istio/crds/istio/1.10.1/crd-operator.yaml
  ee/modules/110-istio/hooks/dataplane_metadata_exporter.go
  ee/modules/110-istio/hooks/dataplane_metadata_exporter_test.go
  ee/modules/110-istio/hooks/deprecated_versions_monitoring.go
  ee/modules/110-istio/hooks/deprecated_versions_monitoring_test.go
  ee/modules/110-istio/hooks/discovery_application_namespaces.go
  ee/modules/110-istio/hooks/discovery_istiod_health.go
  ee/modules/110-istio/hooks/discovery_istiod_health_test.go
  ee/modules/110-istio/hooks/discovery_operator_versions_to_install.go
  ee/modules/110-istio/hooks/discovery_operator_versions_to_install_test.go
  ee/modules/110-istio/hooks/discovery_versions.go
  ee/modules/110-istio/hooks/discovery_versions_test.go
  ee/modules/110-istio/hooks/discovery_versions_to_install.go
  ee/modules/110-istio/hooks/discovery_versions_to_install_test.go
  ee/modules/110-istio/hooks/ensure_crds_istio.go
  ee/modules/110-istio/hooks/ensure_crds_istio_test.go
  ee/modules/110-istio/hooks/internal/common.go
  ee/modules/110-istio/hooks/internal/istio_versions/istio_versions.go
  ee/modules/110-istio/hooks/migration_get_rid_of_1x10x1_heritage.go
  ee/modules/110-istio/hooks/migration_get_rid_of_1x10x1_heritage_test.go
  ee/modules/110-istio/images/operator-v1x10x1/Dockerfile
  ee/modules/110-istio/images/operator-v1x12x6/Dockerfile
  ee/modules/110-istio/images/operator-v1x13x7/Dockerfile
  ee/modules/110-istio/images/pilot-v1x10x1/Dockerfile
  ee/modules/110-istio/images/pilot-v1x12x6/Dockerfile
  ee/modules/110-istio/images/pilot-v1x13x7/Dockerfile
  ee/modules/110-istio/images/proxyv2-v1x10x1/Dockerfile
  ee/modules/110-istio/images/proxyv2-v1x12x6/Dockerfile
  ee/modules/110-istio/images/proxyv2-v1x13x7/Dockerfile
  ee/modules/110-istio/monitoring/prometheus-rules/dataplane.yaml
  ee/modules/110-istio/monitoring/prometheus-rules/revisions.yaml
  ee/modules/110-istio/openapi/values.yaml
  ee/modules/110-istio/template_tests/module_test.go
  ee/modules/110-istio/templates/alliance/ingressgateway/daemonset.yaml
  ee/modules/110-istio/templates/control-plane/iop.yaml
  ee/modules/110-istio/templates/control-plane/mutatingwebhook-global.yaml
  ee/modules/110-istio/templates/control-plane/service-global.yaml
  ee/modules/110-istio/templates/control-plane/servicemonitor.yaml
  ee/modules/110-istio/templates/control-plane/validatingwebhook-global.yaml
  ee/modules/110-istio/templates/kiali/configmap.yaml
  ee/modules/110-istio/templates/operator/configmap-lock.yaml
  ee/modules/110-istio/templates/operator/deployment.yaml
  ee/modules/110-istio/templates/operator/podmonitor.yaml
Labels: skip/documentation-validation, e2e/use/cri/containerd, e2e/use/k8s/1.23

#1732 [istio] USAGE.md renew
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
  ee/modules/110-istio/docs/USAGE.md
  ee/modules/110-istio/docs/USAGE_RU.md
Labels: area/docs

#2768 [doc][istio] Minor updates
  ee/modules/110-istio/docs/USAGE.md
  ee/modules/110-istio/docs/USAGE_RU.md
Labels: area/docs, skip/e2e

#2771 Backport: [istio] USAGE.md renew
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
  ee/modules/110-istio/docs/USAGE.md
  ee/modules/110-istio/docs/USAGE_RU.md
Labels: auto, backported

#2773 Backport: [doc][istio] Minor updates
  ee/modules/110-istio/docs/USAGE.md
  ee/modules/110-istio/docs/USAGE_RU.md
Labels: auto, backported

#2777 Backport: [doc][istio] Minor updates
  ee/modules/110-istio/docs/USAGE.md
  ee/modules/110-istio/docs/USAGE_RU.md
Labels: auto, backported

#2766 [site] Minor fixes on the site
  docs/site/css/components/_substitution.scss
  docs/site/images/substitution-intro.svg
  docs/site/pages/substitution_ru.html
Labels: area/docs, skip/e2e

#2761 [node-manager] Clarify further actions for EarlyOOMPodIsNotReady alert
  modules/040-node-manager/monitoring/prometheus-rules/early-oom.tpl
Labels: area/monitoring, area/ux, e2e/use/cri/containerd, e2e/use/k8s/1.21

#2774 [kube-dns] "prefer_udp" in stub zones
  modules/042-kube-dns/templates/configmap.yaml
Labels: type/bug, area/cluster-and-infrastructure, e2e/use/k8s/1.23

#2767 [testing] Bunch of matrix tests optimizations
  ee/modules/450-keepalived/values_matrix_test.yaml
  go.mod
  go.sum
  modules/340-monitoring-kubernetes-control-plane/values_matrix_test.yaml
  testing/hooks/init.go
  testing/library/git/git_tree.go
  testing/library/helm/render.go
  testing/library/utils.go
  testing/library/values_validation/values_validation.go
  testing/library/values_validation/values_validation_test.go
  testing/matrix/linter/apply.go
  testing/matrix/linter/config.go
  testing/matrix/linter/controller.go
  testing/matrix/linter/openapi.go
  testing/matrix/linter/rules/modules/modules.go
  testing/matrix/linter/rules/modules/prometheus_rules.go
  testing/matrix/linter/rules/resources/vpa.go
  testing/matrix/linter/rules/rules.go
  testing/matrix/linter/run.go
  testing/matrix/linter/storage/storage.go
  testing/matrix/linter/utils/types.go
  testing/matrix/matrix_test.go
Labels: area/testing

#2786 [tests] fix makefile gator error
  Makefile
Labels: area/testing, skip/e2e

#2787 [global_hooks][testing] Fix matrix tests duplication in global_hooks/openapi/config_values.yaml
  global-hooks/openapi/config-values.yaml
Labels: area/testing, skip/documentation-validation, e2e/use/cri/containerd, e2e/use/k8s/1.23, skip/e2e

#2781 [cni-cilium] Avoid panic
  modules/021-cni-cilium/images/cilium/patches/003-fix-bwmap-delete-errors.patch
Labels: area/network

#2595 [metallb] bump version to 0.13.7 and migrate to crds
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  ee/modules/380-metallb/.helmignore
  ee/modules/380-metallb/crds/addresspools.yaml
  ee/modules/380-metallb/crds/bfdprofiles.yaml
  ee/modules/380-metallb/crds/bgpadvertisements.yaml
  ee/modules/380-metallb/crds/bgppeers.yaml
  ee/modules/380-metallb/crds/communities.yaml
  ee/modules/380-metallb/crds/ipaddresspools.yaml
  ee/modules/380-metallb/crds/l2advertisements.yaml
  ee/modules/380-metallb/docs/CONFIGURATION.md
  ee/modules/380-metallb/docs/CONFIGURATION_RU.md
  ee/modules/380-metallb/docs/README.md
  ee/modules/380-metallb/docs/README_RU.md
  ee/modules/380-metallb/hooks/common_test.go
  ee/modules/380-metallb/hooks/ensure_crds.go
  ee/modules/380-metallb/images/controller/Dockerfile
  ee/modules/380-metallb/images/speaker/Dockerfile
  ee/modules/380-metallb/images/speaker/patches/README.md
  ee/modules/380-metallb/images/speaker/patches/dont-announce-from-annotated-nodes.patch
  ee/modules/380-metallb/monitoring/prometheus-rules/metallb.yaml
  ee/modules/380-metallb/openapi/config-values.yaml
  ee/modules/380-metallb/openapi/doc-ru-config-values.yaml
  ee/modules/380-metallb/openapi/openapi-case-tests.yaml
  ee/modules/380-metallb/openapi/values.yaml
  ee/modules/380-metallb/template_tests/module_test.go
  ee/modules/380-metallb/templates/controller/deployment.yaml
  ee/modules/380-metallb/templates/controller/ipaddresspools.yaml
  ee/modules/380-metallb/templates/controller/rbac-for-us.yaml
  ee/modules/380-metallb/templates/monitoring.yaml
  ee/modules/380-metallb/templates/speaker/_helper.tpl
  ee/modules/380-metallb/templates/speaker/bgp-advertisements.yaml
  ee/modules/380-metallb/templates/speaker/bgppeers.yaml
  ee/modules/380-metallb/templates/speaker/configmap.yaml
  ee/modules/380-metallb/templates/speaker/daemonset.yaml
  ee/modules/380-metallb/templates/speaker/l2-advertisements.yaml
  ee/modules/380-metallb/templates/speaker/rbac-for-us.yaml
  ee/modules/380-metallb/values.yaml
  ee/modules/380-metallb/values_matrix_test.yaml
  testing/matrix/linter/openapi.go
  testing/openapi_validation/validators/enum.go
Labels: area/network, skip/documentation-validation, e2e/use/k8s/1.23

#2799 Backport: [kube-dns] "prefer_udp" in stub zones
  modules/042-kube-dns/templates/configmap.yaml
Labels: auto, backported

#2800 Backport: undefined
  modules/042-kube-dns/templates/configmap.yaml
Labels: auto, backported

#2802 Changelog v1.37.7
  CHANGELOG/CHANGELOG-v1.37.7.yml
  CHANGELOG/CHANGELOG-v1.37.md
Labels: changelog, auto, status/backport

#2803 Backport: Changelog v1.37.7
  CHANGELOG/CHANGELOG-v1.37.7.yml
  CHANGELOG/CHANGELOG-v1.37.md
Labels: auto, backported

#2795 [log-shipper] Expire metrics more frequently
  modules/460-log-shipper/templates/configmap.yaml
Labels: area/monitoring

#2764 [dhctl] Wait readiness control plane manager pod while creating new control-plane node. Fix no control new nodes in internal state.
  dhctl/pkg/kubernetes/actions/converge/converge.go
  dhctl/pkg/kubernetes/actions/converge/node.go
  dhctl/pkg/system/ssh/checks.go
Labels: type/bug, area/cli

#2814 Backport: [node-group] Fix remove taints patch from master NG
  modules/040-node-manager/hooks/handle_node_templates.go
  modules/040-node-manager/hooks/handle_node_templates_test.go
Labels: auto, backported

#2816 Backport: [node-group] Fix remove taints patch from master NG
  modules/040-node-manager/hooks/handle_node_templates.go
  modules/040-node-manager/hooks/handle_node_templates_test.go
Labels: auto, backported

#2812 [ingress-nginx] Increase validation webhook timeout
  modules/402-ingress-nginx/templates/controller/admission.yaml
Labels: status/backport

#2817 Backport: [ingress-nginx] Increase validation webhook timeout
  modules/402-ingress-nginx/templates/controller/admission.yaml
Labels: auto, backported

#2818 Backport: [ingress-nginx] Increase validation webhook timeout
  modules/402-ingress-nginx/templates/controller/admission.yaml
Labels: auto, backported

#2785 [global] update requirements checking flow
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  global-hooks/discovery/kubernetes_version.go
  go_lib/dependency/requirements/requirements.go
  go_lib/dependency/requirements/store.go
  modules/002-deckhouse/hooks/internal/updater/updater.go
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
  modules/040-control-plane-manager/requirements/check.go
  modules/040-control-plane-manager/requirements/check_test.go
  modules/402-ingress-nginx/.helmignore
  modules/402-ingress-nginx/hooks/minimal_ingress_nginx_version.go
  modules/402-ingress-nginx/hooks/minimal_ingress_nginx_version_test.go
  modules/402-ingress-nginx/internal/.gitignore
  modules/402-ingress-nginx/internal/README.md
  modules/402-ingress-nginx/internal/load.yaml
  modules/402-ingress-nginx/openapi/values.yaml
  modules/402-ingress-nginx/requirements/check.go
  modules/402-ingress-nginx/requirements/check_test.go
  modules/402-ingress-nginx/requirements/disruption.go
  tools/register/main.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21, status/backport

#2820 Backport: [global] update requirements checking flow
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  global-hooks/discovery/kubernetes_version.go
  go_lib/dependency/requirements/requirements.go
  go_lib/dependency/requirements/store.go
  modules/002-deckhouse/hooks/internal/updater/updater.go
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
  modules/040-control-plane-manager/requirements/check.go
  modules/040-control-plane-manager/requirements/check_test.go
  modules/402-ingress-nginx/.helmignore
  modules/402-ingress-nginx/hooks/minimal_ingress_nginx_version.go
  modules/402-ingress-nginx/hooks/minimal_ingress_nginx_version_test.go
  modules/402-ingress-nginx/internal/.gitignore
  modules/402-ingress-nginx/internal/README.md
  modules/402-ingress-nginx/internal/load.yaml
  modules/402-ingress-nginx/openapi/values.yaml
  modules/402-ingress-nginx/requirements/check.go
  modules/402-ingress-nginx/requirements/check_test.go
  modules/402-ingress-nginx/requirements/disruption.go
  tools/register/main.go
Labels: auto, backported

#2821 Backport: Changelog v1.37.8
  CHANGELOG/CHANGELOG-v1.37.8.yml
  CHANGELOG/CHANGELOG-v1.37.md
Labels: auto, backported

#2822 [docs] Update search index data
  docs/documentation/_data/search.yml
  docs/documentation/_includes/search.html
  docs/documentation/_plugins/custom_filters.rb
  docs/documentation/_plugins/openapi.rb
  docs/documentation/js/search.js
Labels: area/docs, skip/no-cyrillic-validation, status/backport, skip/e2e

#2824 Backport: [docs] Update search index data
  docs/documentation/_data/search.yml
  docs/documentation/_includes/search.html
  docs/documentation/_plugins/custom_filters.rb
  docs/documentation/_plugins/openapi.rb
  docs/documentation/js/search.js
Labels: auto, backported

#2825 [prometheus] fix disk retention size calc
  modules/300-prometheus/hooks/calculate_storage_capacity.go
  modules/300-prometheus/hooks/calculate_storage_capacity_test.go
Labels: area/monitoring, type/bug, e2e/use/cri/containerd, status/backport, e2e/use/k8s/1.23

#2826 Backport: [prometheus] fix disk retention size calc
  modules/300-prometheus/hooks/calculate_storage_capacity.go
  modules/300-prometheus/hooks/calculate_storage_capacity_test.go
Labels: auto, backported

#2823 [cloud-provider-yandex] disable csi-snapshotter
  modules/030-cloud-provider-yandex/templates/csi/controller.yaml
  modules/030-cloud-provider-yandex/templates/csi/volume-snapshot-class.yaml
  modules/045-snapshot-controller/enabled
Labels: e2e/use/cri/containerd, status/ok-to-test, status/backport, e2e/use/k8s/1.23

#2772 Changelog v1.38.1
  CHANGELOG/CHANGELOG-v1.38.1.yml
  CHANGELOG/CHANGELOG-v1.38.md
Labels: changelog, auto

#2736 [upmeter] Get rid of shell-operator dependency
  modules/500-upmeter/images/upmeter/cmd/upmeter/main.go
  modules/500-upmeter/images/upmeter/go.mod
  modules/500-upmeter/images/upmeter/go.sum
  modules/500-upmeter/images/upmeter/pkg/agent/scheduler/scheduler.go
  modules/500-upmeter/images/upmeter/pkg/kubernetes/access.go
  modules/500-upmeter/images/upmeter/pkg/kubernetes/client.go
  modules/500-upmeter/images/upmeter/pkg/monitor/downtime/monitor.go
  modules/500-upmeter/images/upmeter/pkg/monitor/hookprobe/monitor.go
  modules/500-upmeter/images/upmeter/pkg/monitor/node/monitor.go
  modules/500-upmeter/images/upmeter/pkg/monitor/node/monitor_test.go
  modules/500-upmeter/images/upmeter/pkg/monitor/remotewrite/monitor.go
  modules/500-upmeter/images/upmeter/pkg/probe/load_test.go
  modules/500-upmeter/images/upmeter/pkg/server/server.go
Labels: area/monitoring

#2811 Added button in intro block and some styles
  docs/site/css/components/_substitution.scss
  docs/site/pages/substitution_ru.html
Labels: area/docs

#2830 [docs] Fix broken link to the blog
  docs/site/pages/community.html
Labels: area/docs, skip/documentation-validation, skip/e2e

#2778 [node-local-dns] Remove prometheus rule D8NodeLocalDnsNotScheduledOnNode
  ee/modules/350-node-local-dns/monitoring/prometheus-rules/node-local-dns.yaml
  ee/modules/350-node-local-dns/templates/monitoring.yaml
  testing/matrix/linter/rules/modules/monitoring.go
Labels: area/monitoring, e2e/use/cri/containerd, e2e/use/k8s/1.21

#2719 [monitoring-kubernetes] Fixed Grafana Dashboard's many-to-many matching
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/controller.json
Labels: area/monitoring, type/bug, e2e/use/k8s/1.23

#2793 [log-shipper] Check namespace before creating config
  modules/460-log-shipper/hooks/generate_config.go
  modules/460-log-shipper/hooks/generate_config_test.go
  modules/460-log-shipper/hooks/testdata/__default-config.json
  modules/460-log-shipper/hooks/testdata/es-5x/manifests.yaml
  modules/460-log-shipper/hooks/testdata/es-5x/result.json
  modules/460-log-shipper/hooks/testdata/file-to-elastic/manifests.yaml
  modules/460-log-shipper/hooks/testdata/file-to-elastic/result.json
  modules/460-log-shipper/hooks/testdata/file-to-vector/manifests.yaml
  modules/460-log-shipper/hooks/testdata/file-to-vector/result.json
  modules/460-log-shipper/hooks/testdata/many-to-one/manifests.yaml
  modules/460-log-shipper/hooks/testdata/many-to-one/result.json
  modules/460-log-shipper/hooks/testdata/multiline/manifests.yaml
  modules/460-log-shipper/hooks/testdata/multiline/result.json
  modules/460-log-shipper/hooks/testdata/multiple-dest/manifests.yaml
  modules/460-log-shipper/hooks/testdata/multiple-dest/result.json
  modules/460-log-shipper/hooks/testdata/namespaced-source/manifests.yaml
  modules/460-log-shipper/hooks/testdata/namespaced-source/result.json
  modules/460-log-shipper/hooks/testdata/one-dest/manifests.yaml
  modules/460-log-shipper/hooks/testdata/one-dest/result.json
  modules/460-log-shipper/hooks/testdata/pair-datastream/manifests.yaml
  modules/460-log-shipper/hooks/testdata/pair-datastream/result.json
  modules/460-log-shipper/hooks/testdata/simple-pair/manifests.yaml
  modules/460-log-shipper/hooks/testdata/simple-pair/result.json
  modules/460-log-shipper/hooks/testdata/throttle/manifests.yaml
  modules/460-log-shipper/hooks/testdata/throttle/result.json
  modules/460-log-shipper/hooks/validate_test.go
Labels: area/monitoring

#2798 [log-shipper] Fix Elasticsearch 8.X
  modules/460-log-shipper/hooks/internal/composer/testdata/config_3.json
  modules/460-log-shipper/hooks/internal/vector/destination/elasticsearch.go
  modules/460-log-shipper/hooks/testdata/es-5x/result.json
  modules/460-log-shipper/hooks/testdata/file-to-elastic/result.json
  modules/460-log-shipper/hooks/testdata/multiline/result.json
  modules/460-log-shipper/hooks/testdata/multiple-dest/result.json
  modules/460-log-shipper/hooks/testdata/namespaced-source/result.json
  modules/460-log-shipper/hooks/testdata/one-dest/result.json
  modules/460-log-shipper/hooks/testdata/pair-datastream/result.json
  modules/460-log-shipper/hooks/testdata/simple-pair/result.json
  modules/460-log-shipper/hooks/testdata/throttle/result.json
Labels: area/monitoring

#2831 [node-group] Fix master node taint
  modules/040-node-manager/hooks/handle_node_templates.go
  modules/040-node-manager/hooks/handle_node_templates_test.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21, status/backport

#2836 Backport: [node-group] Fix master node taint
  modules/040-node-manager/hooks/handle_node_templates.go
  modules/040-node-manager/hooks/handle_node_templates_test.go
Labels: auto, backported

#2837 Backport: [node-group] Fix master node taint
  modules/040-node-manager/hooks/handle_node_templates.go
  modules/040-node-manager/hooks/handle_node_templates_test.go
Labels: auto, backported

#2839 Changelog v1.38.2
  CHANGELOG/CHANGELOG-v1.38.2.yml
  CHANGELOG/CHANGELOG-v1.38.md
Labels: changelog, auto, status/backport

#2840 Backport: Changelog v1.38.2
  CHANGELOG/CHANGELOG-v1.38.2.yml
  CHANGELOG/CHANGELOG-v1.38.md
Labels: auto, backported

#2735 [node-manager] Update autoscaler
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
  modules/040-node-manager/hooks/internal/v1/nodegroup.go
  modules/040-node-manager/hooks/internal/v1/nodegroup_generated.deepcopy.go
  modules/040-node-manager/hooks/internal/v1alpha2/nodegroup_generated.deepcopy.go
  modules/040-node-manager/hooks/set_ng_priorities.go
  modules/040-node-manager/hooks/set_ng_priorities_test.go
  modules/040-node-manager/images/cluster-autoscaler/Dockerfile
  modules/040-node-manager/images/cluster-autoscaler/patches/README.md
  modules/040-node-manager/images/cluster-autoscaler/patches/daemonset-eviction.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/do-not-violate-minsize-when-fixing-nodegroup.patch
  modules/040-node-manager/openapi/values.yaml
  modules/040-node-manager/templates/cluster-autoscaler/deployment.yaml
  modules/040-node-manager/templates/cluster-autoscaler/expander-cm.yaml
  modules/040-node-manager/templates/cluster-autoscaler/rbac-for-us.yaml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21

#2718 [docs] Getting started updates
  docs/site/_data/getting_started/data.yaml
  docs/site/css/components/common/_button.scss
  docs/site/images/icons/platforms/amazon_aws.png
  docs/site/images/icons/platforms/bare_metal.png
  docs/site/images/icons/platforms/corp_cloud_open_stack.png
  docs/site/images/icons/platforms/corp_cloud_vmware.png
  docs/site/images/icons/platforms/google_cloude_engine.png
  docs/site/images/icons/platforms/kind.png
  docs/site/images/icons/platforms/kubernetes.svg
  docs/site/images/icons/platforms/lock.png
  docs/site/images/icons/platforms/microsoft_azure.png
  docs/site/images/icons/platforms/yandex_cloud.png
  docs/site/pages/getting_started/getting_started.html
  docs/site/pages/getting_started/getting_started_ru.html
Labels: area/docs, skip/e2e

#2852 [log-shipper] Loki fix extra labels
  modules/460-log-shipper/hooks/internal/vector/transform/destination.go
  modules/460-log-shipper/hooks/testdata/multiple-dest/result.json
  modules/460-log-shipper/hooks/testdata/namespaced-source/result.json
Labels: type/bug, status/backport

#2855 Backport: [log-shipper] Loki fix extra labels
  modules/460-log-shipper/hooks/internal/vector/transform/destination.go
  modules/460-log-shipper/hooks/testdata/multiple-dests.json
  modules/460-log-shipper/hooks/testdata/namespaced-source.json
Labels: auto, backported

#2835 Changelog v1.37.9
  CHANGELOG/CHANGELOG-v1.37.9.yml
  CHANGELOG/CHANGELOG-v1.37.md
Labels: changelog, auto, status/backport

#2856 Backport: Changelog v1.37.9
  CHANGELOG/CHANGELOG-v1.37.9.yml
  CHANGELOG/CHANGELOG-v1.37.md
Labels: auto, backported

#2854 Changelog v1.38.3
  CHANGELOG/CHANGELOG-v1.38.3.yml
  CHANGELOG/CHANGELOG-v1.38.md
Labels: changelog, auto, status/backport

#2857 Backport: Changelog v1.38.3
  CHANGELOG/CHANGELOG-v1.38.3.yml
  CHANGELOG/CHANGELOG-v1.38.md
Labels: auto, backported

#2848 [testing] Fix permissions after running werf
  .github/ci_templates/build.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
Labels: skip/e2e

#2858 [istio] exclude d8-upmeter ns from istio discovery
  ee/modules/110-istio/templates/control-plane/iop.yaml
Labels: area/network, status/backport, skip/e2e

#2862 Backport: [istio] exclude d8-upmeter ns from istio discovery
  ee/modules/110-istio/templates/control-plane/iop.yaml
Labels: auto, backported

#2861 Changelog v1.38.4
  CHANGELOG/CHANGELOG-v1.38.4.yml
  CHANGELOG/CHANGELOG-v1.38.md
Labels: changelog, auto, status/backport

#2863 Backport: Changelog v1.38.4
  CHANGELOG/CHANGELOG-v1.38.4.yml
  CHANGELOG/CHANGELOG-v1.38.md
Labels: auto, backported
