Repository deckhouse/deckhouse, pull requests merged in 2022-08, with the labels that each got.

#2143 [cilium] Update used software description
  modules/021-cni-cilium/oss.yaml
  modules/500-cilium-hubble/oss.yaml
Labels: status/backport

#2025 [deckhouse]: disruption updates
  canary.json
  go_lib/dependency/requirements/requirements.go
  modules/020-deckhouse/crds/deckhouse-release.yaml
  modules/020-deckhouse/crds/doc-ru-deckhouse-release.yaml
  modules/020-deckhouse/docs/USAGE.md
  modules/020-deckhouse/docs/USAGE_RU.md
  modules/020-deckhouse/docs/internal/RELEASE.md
  modules/020-deckhouse/hooks/check_deckhouse_release.go
  modules/020-deckhouse/hooks/check_deckhouse_release_test.go
  modules/020-deckhouse/hooks/internal/v1alpha1/deckhouse_release.go
  modules/020-deckhouse/hooks/update_deckhouse_image.go
  modules/020-deckhouse/hooks/update_deckhouse_image_test.go
  modules/020-deckhouse/monitoring/prometheus-rules/alerting.yaml
  modules/020-deckhouse/openapi/config-values.yaml
  modules/020-deckhouse/openapi/doc-ru-config-values.yaml
  modules/040-control-plane-manager/hooks/requirements.go
  modules/402-ingress-nginx/hooks/minimal_ingress_nginx_version.go
  modules/402-ingress-nginx/hooks/requirements.go
  release.yaml
  requirements.json
  werf.yaml
Labels: skip/documentation-validation

#2112 [control-plane-manager] added feature gate EndpointSliceTerminatingCondition for Kubernetes 1.20
  candi/control-plane-kubeadm/config.yaml.tpl
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.20, e2e/use/k8s/1.21

#2132 [bashible] Start kubelet forcibly if it is not running
  candi/bashible/common-steps/node-group/069_start_kubelet.sh.tpl
Labels: type/bug, area/cluster-and-infrastructure, e2e/use/k8s/1.21

#2134 [bashible] Forbid using Docker 18.*
  candi/version_map.yml
Labels: type/enhancement, area/core, e2e/use/cri/docker

#2155 [cni-cilium] Fixed bandwidth controller metrics
  modules/021-cni-cilium/images/cilium/Dockerfile
  modules/021-cni-cilium/images/cilium/patches/003-fix-bwmap-delete-errors.patch
  modules/021-cni-cilium/images/cilium/patches/README.md
Labels: area/network, type/bug, e2e/use/k8s/1.21

#2140 [control-plane-manager] Rename D8EtcdCannotDecreaseQuotaBackendBytes alerts and fix description
  modules/040-control-plane-manager/monitoring/prometheus-rules/etcd-maintenance.yaml
Labels: area/monitoring

#2130 [prometheus] Always use custom monitors
  modules/300-prometheus/templates/grafana/service.yaml
  modules/300-prometheus/templates/grafana/servicemonitor.yaml
  modules/300-prometheus/templates/prometheus/longterm/service.yaml
  modules/300-prometheus/templates/prometheus/service.yaml
  modules/300-prometheus/templates/prometheus/servicemonitor.yaml
  modules/300-prometheus/templates/trickster/service.yaml
  modules/300-prometheus/templates/trickster/servicemonitor.yaml
Labels: area/monitoring

#2105 [docs][control-plane-manager] Add information about backup and restore etcd-server keys and certificates
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
  modules/040-control-plane-manager/docs/internal/ETCD_RECOVERY.md
Labels: area/docs, skip/documentation-validation

#2135 [candi] Use Debian buster containerd package by default
  candi/bashible/bundles/debian/node-group/031_install_containerd.sh.tpl
Labels: type/bug, area/cluster-and-infrastructure

#2154 [monitoring-kubernetes] Add alert NodeSUnreclaimBytesUsageHigh
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/node.yaml
Labels: area/monitoring

#2128 Changelog v1.34.10
  CHANGELOG/CHANGELOG-v1.34.10.yml
  CHANGELOG/CHANGELOG-v1.34.md
Labels: changelog, auto

#2156 [docs][gs] Minor fixes
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  docs/site/_includes/getting_started/gcp/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ee.inc
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
  docs/site/_includes/getting_started/yandex/STEP_ENV.md
  docs/site/_includes/getting_started/yandex/STEP_ENV_RU.md
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.with_nat_instance.ce.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.with_nat_instance.ee.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.without_nat.ee.inc
Labels: status/backport

#2150 [node-manager] increase bashible-apiserver verbosity
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/steps_storage.go
Labels: area/cluster-and-infrastructure

#2142 [ci][tests] Test improvements
  .github/ci_templates/helper_jobs.yml
  .github/workflow_templates/build-and-test_dev.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/on-pull-request-labeled.yml
  .github/workflows/validation.yml
Labels: area/testing

#2145 [ci] Fix daily e2e tests
  .github/ci_templates/alerting.yaml
  .github/ci_templates/e2e_tests.yml
  .github/workflow_templates/e2e-daily.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: type/bug, area/testing

#2029 [deckhouse] Release status update
  modules/020-deckhouse/crds/deckhouse-release.yaml
  modules/020-deckhouse/crds/doc-ru-deckhouse-release.yaml
  modules/020-deckhouse/hooks/check_deckhouse_release.go
  modules/020-deckhouse/hooks/cleanup_deckhouse_releases.go
  modules/020-deckhouse/hooks/update_deckhouse_image.go
  modules/020-deckhouse/hooks/update_deckhouse_image_test.go
Labels: area/core

#2166 [ci] render workflows
  .github/workflows/build-and-test_dev.yml
  .github/workflows/on-pull-request-labeled.yml
  .github/workflows/validation.yml
Labels: area/dx

#2175 [bashible] Forbid use docker.io package
  candi/bashible/bundles/debian/node-group/031_install_docker.sh.tpl
  candi/bashible/bundles/ubuntu-lts/node-group/031_install_docker.sh.tpl
Labels: type/bug, area/cluster-and-infrastructure, e2e/use/cri/docker

#2174 [candi][monitoring-kubernetes] Bugfixes
  candi/bashible/common-steps/node-group/069_start_kubelet.sh.tpl
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/node.yaml
Labels: type/bug

#2167 [dhctl] Fix output `Request failed. Probably pod was restarted during installation` multiple times during bootstrap cluster
  dhctl/pkg/kubernetes/actions/deckhouse/log.go
Labels: type/bug, area/cli, e2e/use/k8s/1.21

#2164 Removed "chrony" and "priority-class" from managed bundle
  modules/values-managed.yaml
Labels: area/core, type/chore

#2159 [upmeter] Tweak agent HTTP timeout
  modules/500-upmeter/images/upmeter/cmd/upmeter/parse_args.go
  modules/500-upmeter/images/upmeter/pkg/agent/agent.go
  modules/500-upmeter/images/upmeter/pkg/agent/sender/client.go
  modules/500-upmeter/images/upmeter/pkg/agent/sender/sender.go
  modules/500-upmeter/templates/upmeter-agent/daemonset.yaml
Labels: type/chore

#2184 [site] Add license request expired page
  docs/site/pages/license_request_expired.html
  docs/site/pages/license_request_expired_ru.html
Labels: area/docs

#2190 [docs][deckhouse] Move section about collecting debug information to the FAQ
  modules/020-deckhouse/docs/FAQ.md
  modules/020-deckhouse/docs/FAQ_RU.md
  modules/020-deckhouse/docs/USAGE.md
  modules/020-deckhouse/docs/USAGE_RU.md
Labels: area/docs, skip/no-cyrillic-validation

#2191 remove bashible apiserver
  modules/040-node-manager/hooks/remove_bashible_apiserver.go
Labels: area/cluster-and-infrastructure

#2185 [node-manager] lock bashible-apiserver context generation on update
  modules/040-node-manager/hooks/lock_bashible_apiserver.go
  modules/040-node-manager/hooks/lock_bashible_apiserver_test.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context.go
  modules/040-node-manager/monitoring/prometheus-rules/node-update.yaml
Labels: type/bug, area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.21, status/backport

#2193 Changelog v1.34.12
  CHANGELOG/CHANGELOG-v1.34.12.yml
  CHANGELOG/CHANGELOG-v1.34.md
Labels: changelog, auto

#2195 [node-manager][bashible-api-server] Fix undefined src variable
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context.go
Labels: type/bug

#2139 [candi] fix discover node ip bashible step
  candi/bashible/common-steps/node-group/003_discover_node_ip.sh.tpl
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.21

#2055 [istio] don't export unready ingressgateway nodes via metadata-exporter
  ee/modules/110-istio/images/metadata-discovery/hooks/ingressgateways
  ee/modules/110-istio/images/metadata-discovery/hooks/services
  ee/modules/110-istio/images/metadata-exporter/main.go
Labels: type/refactoring

#2198 Changelog v1.34.12
  CHANGELOG/CHANGELOG-v1.34.12.yml
Labels: changelog, auto

#2201 Changelog v1.34.13
  CHANGELOG/CHANGELOG-v1.34.13.yml
  CHANGELOG/CHANGELOG-v1.34.md
Labels: changelog, auto

#2205 [prometheus] X-Auth-Token
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: status/backport

#2147 [linstor] fix timestamp on dashboard
  modules/031-linstor/monitoring/grafana-dashboards/storage/linstor_drbd.json
Labels: area/monitoring, status/backport, area/storage

#2189 [monitoring-kubernetes] Fix units for network graphs
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/kubernetes-cluster/nodes/node.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/kubernetes-cluster/nodes/nodes.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/controller.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/namespace.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/namespaces.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/pod.json
Labels: area/monitoring

#2203 Add new events_exporter version and events logging
  modules/340-extended-monitoring/images/events-exporter/Dockerfile
  modules/340-extended-monitoring/templates/events-exporter/deployment.yaml
Labels: status/ok-to-test

#2146 [deckhouse] Fix webhook handler certificate
  ee/modules/600-flant-integration/hooks/pricing/order_prometheus_api_client_certificate.go
  go_lib/certificate/parse.go
  go_lib/hooks/internal_tls/hook.go
  go_lib/hooks/tls_certificate/cert_helpers.go
  go_lib/hooks/tls_certificate/internal_tls.go
  go_lib/hooks/tls_certificate/order_certificate.go
  modules/000-common/hooks/internal_tls.go
  modules/000-common/hooks/internal_tls_test.go
  modules/000-common/hooks/order_tls_auth_certificate.go
  modules/000-common/hooks/order_tls_certificate.go
  modules/020-deckhouse/hooks/generate_selfsigned_ca.go
  modules/020-deckhouse/hooks/generate_selfsigned_ca_test.go
  modules/020-deckhouse/hooks/generate_webhook_tls_certificate.go
  modules/020-deckhouse/hooks/generate_webhook_tls_certificate_test.go
  modules/020-deckhouse/templates/webhook-handler/deployment.yaml
  modules/020-deckhouse/templates/webhook-handler/secret.yaml
  modules/150-user-authn/hooks/order_dex_tls_certificate.go
  modules/301-prometheus-metrics-adapter/openapi/openapi-case-tests.yaml
  modules/301-prometheus-metrics-adapter/openapi/values.yaml
  modules/301-prometheus-metrics-adapter/templates/api-service.yaml
  modules/301-prometheus-metrics-adapter/templates/prometheus-metrics-adapter-server-cert.yaml
  modules/402-ingress-nginx/hooks/order_certificates.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21

#2213 [docs][getting started] Update instruction for accessing vSphere cluster
  docs/site/_includes/getting_started/global/STEP_CLUSTER_ACCESS.md
  docs/site/_includes/getting_started/global/STEP_CLUSTER_ACCESS_RU.md
Labels: area/docs

#2197 [deckhouse-controller] Fix vimrc.local
  deckhouse-controller/files/vimrc.local
Labels: type/bug

#2179 [cloud-provider-yandex] Fix defaults for diskType and platformID
  candi/cloud-providers/yandex/openapi/instance_class.yaml
  modules/030-cloud-provider-yandex/cloud-instance-manager/machine-class.yaml
Labels: area/cloud-provider, type/bug, e2e/use/cri/containerd, e2e/use/k8s/1.21, e2e/use/k8s/1.23

#2171 [pod-reloader] Update to v0.0.118
  modules/465-pod-reloader/images/pod-reloader/Dockerfile
Labels: area/cluster-and-infrastructure, type/chore

#2165 [testing] support focusing for matrix tests linter
  testing/matrix/linter/rules/modules/modules.go
  testing/matrix/matrix_test.go
Labels: area/dx

#2212 [dhctl] Fix `config render bashible-bundle` command and add `config render master-bootstrap-scripts` command
  dhctl/cmd/dhctl/commands/bootstrap/bootstrap.go
  dhctl/cmd/dhctl/commands/config.go
  dhctl/cmd/dhctl/main.go
  dhctl/pkg/app/render.go
  dhctl/pkg/config/base.go
Labels: type/enhancement, type/bug, area/cli

#2157 [candi] Fix GCP terraform discovery of cloudNATAddresses
  candi/cloud-providers/gcp/terraform-modules/base-infrastructure/variables.tf
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#2214 [prometheus] Change grafana version in `patches/build_go.patch.tpl` automatically from docker arguments
  modules/300-prometheus/images/grafana/Dockerfile
  modules/300-prometheus/images/grafana/patches/build_go.patch
Labels: area/monitoring, type/bug

#2054 [linstor] Add ability to specify master passphrase
  modules/031-linstor/docs/CONFIGURATION.md
  modules/031-linstor/docs/CONFIGURATION_RU.md
  modules/031-linstor/hooks/read_passphrase.go
  modules/031-linstor/hooks/read_passphrase_test.go
  modules/031-linstor/openapi/values.yaml
  modules/031-linstor/template_tests/module_test.go
  modules/031-linstor/templates/linstor-controller/linstorcontroller.yaml
  modules/031-linstor/templates/passphrase.yaml
Labels: area/storage

#2086 [deckhouse] add release cooldown
  .github/workflow_templates/deploy-channel.multi.yml
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
  modules/020-deckhouse/docs/internal/RELEASE.md
  modules/020-deckhouse/hooks/check_deckhouse_release.go
  modules/020-deckhouse/hooks/check_deckhouse_release_test.go
  modules/020-deckhouse/hooks/internal/v1alpha1/deckhouse_release.go
  modules/020-deckhouse/hooks/update_deckhouse_image.go
  modules/020-deckhouse/hooks/update_deckhouse_image_test.go
Labels: skip/documentation-validation

#1720 [prometheus] vpa example in doc fix
  modules/300-prometheus/openapi/config-values.yaml
Labels: skip/documentation-validation

#1799 [cloud-provider-azure] go refactoring
  candi/cloud-providers/azure/docs/LAYOUTS.md
  candi/cloud-providers/azure/docs/LAYOUTS_RU.md
  candi/cloud-providers/azure/openapi/cloud_discovery_data.yaml
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  modules/030-cloud-provider-azure/.helmignore
  modules/030-cloud-provider-azure/docs/CONFIGURATION.md
  modules/030-cloud-provider-azure/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-azure/hooks/azure_cluster_configuration
  modules/030-cloud-provider-azure/hooks/azure_cluster_configuration.go
  modules/030-cloud-provider-azure/hooks/azure_cluster_configuration_test.go
  modules/030-cloud-provider-azure/hooks/storage_classes
  modules/030-cloud-provider-azure/hooks/storage_classes.go
  modules/030-cloud-provider-azure/hooks/storage_classes_test.go
  modules/030-cloud-provider-azure/hooks/wait_for_all_master_nodes_to_become_ready
  modules/030-cloud-provider-azure/hooks/wait_for_all_master_nodes_to_become_ready.go
  modules/030-cloud-provider-azure/openapi/config-values.yaml
  modules/030-cloud-provider-azure/openapi/doc-ru-config-values.yaml
  modules/030-cloud-provider-azure/openapi/openapi-case-tests.yaml
  modules/030-cloud-provider-azure/openapi/values.yaml
  modules/030-cloud-provider-azure/template_tests/module_test.go
  modules/030-cloud-provider-azure/values.yaml
  modules/030-cloud-provider-azure/values_matrix_test.yaml
  testing/openapi_validation/validators/enum.go
Labels: area/cloud-provider, e2e/use/cri/containerd, e2e/use/k8s/1.21, e2e/use/k8s/1.23

#2056 [linstor] Update LINSTOR components v1.19
  candi/version_map.yml
  modules/031-linstor/crds/piraeus.linbit.com_linstorsatellitesets.yaml
  modules/031-linstor/docs/CONFIGURATION.md
  modules/031-linstor/docs/CONFIGURATION_RU.md
  modules/031-linstor/docs/USAGE.md
  modules/031-linstor/docs/USAGE_RU.md
  modules/031-linstor/docs/internal/DEVELOPMENT.md
  modules/031-linstor/docs/internal/DEVELOPMENT_RU.md
  modules/031-linstor/hooks/common.go
  modules/031-linstor/hooks/generate_certs.go
  modules/031-linstor/hooks/generate_spaas_certs.go
  modules/031-linstor/hooks/generate_spaas_certs_test.go
  modules/031-linstor/hooks/migration_fix_lastapplied.go
  modules/031-linstor/hooks/migration_fix_lastapplied_test.go
  modules/031-linstor/images/drbd-driver-loader/Dockerfile
  modules/031-linstor/images/drbd-reactor/Dockerfile
  modules/031-linstor/images/linstor-affinity-controller/Dockerfile
  modules/031-linstor/images/linstor-csi/Dockerfile
  modules/031-linstor/images/linstor-pools-importer/main.go
  modules/031-linstor/images/linstor-pools-importer/main_test.go
  modules/031-linstor/images/linstor-scheduler-extender/Dockerfile
  modules/031-linstor/images/linstor-server/Dockerfile
  modules/031-linstor/images/piraeus-ha-controller/Dockerfile
  modules/031-linstor/images/piraeus-operator/Dockerfile
  modules/031-linstor/images/spaas/Dockerfile
  modules/031-linstor/monitoring/prometheus-rules/linstor-affinity-controller.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-controller.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-csi-controller.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-csi-node.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-ha-controller.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-node.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-scheduler.yaml
  modules/031-linstor/monitoring/prometheus-rules/piraeus-operator.yaml
  modules/031-linstor/monitoring/prometheus-rules/spaas.yaml
  modules/031-linstor/openapi/values.yaml
  modules/031-linstor/template_tests/module_test.go
  modules/031-linstor/templates/linstor-affinity-controller/deployment.yaml
  modules/031-linstor/templates/linstor-affinity-controller/rbac-for-us.yaml
  modules/031-linstor/templates/linstor-controller/linstorcontroller.yaml
  modules/031-linstor/templates/linstor-csi/linstorcsidriver.yaml
  modules/031-linstor/templates/linstor-ha-controller/daemonset.yaml
  modules/031-linstor/templates/linstor-ha-controller/rbac-for-us.yaml
  modules/031-linstor/templates/linstor-node/linstorsatelliteset.yaml
  modules/031-linstor/templates/linstor-scheduler/deployment.yaml
  modules/031-linstor/templates/piraeus-operator/deployment.yaml
  modules/031-linstor/templates/spaas/deployment.yaml
  modules/031-linstor/templates/spaas/secret.yaml
  modules/031-linstor/templates/spaas/service.yaml
  modules/031-linstor/templates/tests/00-wait-api.yaml
  modules/031-linstor/templates/tests/01-create-storage-pool.yaml
  modules/031-linstor/templates/tests/03-pod-with-volume.yaml
  modules/031-linstor/templates/tests/05-pools-importer.yaml
  modules/031-linstor/templates/tests/99-cleanup.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/045-snapshot-controller/monitoring/prometheus-rules/snapshot-controller.yaml
  modules/045-snapshot-controller/monitoring/prometheus-rules/snapshot-validation-webhook.yaml
Labels: skip/documentation-validation, e2e/use/cri/containerd, area/storage, e2e/use/k8s/1.23

#2229 Add cilium to codeowners
  .github/CODEOWNERS
Labels: type/chore

#1966 [docs][linstor] Backups on S3 storage
  modules/031-linstor/docs/ADVANCED_USAGE_RU.md
  modules/031-linstor/docs/USAGE.md
  modules/031-linstor/docs/USAGE_RU.md
Labels: area/docs, skip/documentation-validation

#2228 [node-local-dns] Removed obsolete CM from d8-system
  ee/modules/350-node-local-dns/templates/configmap.yaml
  ee/modules/350-node-local-dns/templates/rbac-for-us.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
Labels: area/kubernetes, type/chore, e2e/use/k8s/1.23

#1951 Changelog v1.35.0
  CHANGELOG/CHANGELOG-v1.35.0.yml
  CHANGELOG/CHANGELOG-v1.35.md
Labels: changelog, auto

#2236 Changelog v1.35.0
  CHANGELOG/CHANGELOG-v1.35.0.yml
Labels: changelog, auto

#2237 [c] improve backport on comment
  .github/workflow_templates/on-pull-request-backport.yml
  .github/workflows/on-pull-request-backport.yml
Labels: status/backport

#2221 [upmeter] Tolerate errors in hook cleaning garbage
  modules/500-upmeter/hooks/clean_probe_garbage.go
Labels: type/bug, status/backport

#2246 Backport: [c] improve backport on comment
  .github/workflow_templates/on-pull-request-backport.yml
  .github/workflows/on-pull-request-backport.yml
Labels: auto, backported

#2247 [ci] fix backport commit sha
  .github/workflow_templates/on-pull-request-backport.yml
  .github/workflows/on-pull-request-backport.yml
Labels: area/cli, status/backport

#2249 Backport: [ci] fix backport commit sha
  .github/workflow_templates/on-pull-request-backport.yml
  .github/workflows/on-pull-request-backport.yml
Labels: auto, backported

#2242 [flant-integration] Disable HTTP2 for madison-proxy
  ee/modules/600-flant-integration/images/madison-proxy/madison-proxy.go
Labels: area/monitoring, status/backport

#2254 Backport: [flant-integration] Disable HTTP2 for madison-proxy
  ee/modules/600-flant-integration/images/madison-proxy/madison-proxy.go
Labels: auto, backported

#2240 Changelog v1.34.14
  CHANGELOG/CHANGELOG-v1.34.14.yml
  CHANGELOG/CHANGELOG-v1.34.md
Labels: changelog, auto

#2258 [okmeter] docs: remove required field
  modules/500-okmeter/openapi/config-values.yaml
Labels: area/docs, skip/documentation-validation

#2264 [upmeter] Tolerate errors in hook cleaning garbage (#2264)
  modules/500-upmeter/hooks/clean_probe_garbage.go
Labels: type/bug

#2265 [flant-integration] Disable HTTP2 for madison-proxy (#2265)
  ee/modules/600-flant-integration/images/madison-proxy/madison-proxy.go
Labels: area/monitoring

#2274 [docs][getting-started] Minor fix
  docs/site/_includes/getting_started/global/partials/NOTICES_ENVIRONMENT.liquid
Labels: area/docs, e2e/use/cri/containerd, e2e/use/k8s/1.23

#2276 [ingress-nginx] publish service for LB controllers status
  modules/402-ingress-nginx/template_tests/controller_test.go
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: area/network, status/backport

#2278 Backport: [ingress-nginx] publish service for LB controllers status
  modules/402-ingress-nginx/template_tests/controller_test.go
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: auto, backported

#2253 [istio] remove kiali CRD (#1978)
  ee/modules/110-istio/hooks/migration_remove_kiali_crds.go
  ee/modules/110-istio/hooks/migration_remove_kiali_crds_test.go
Labels: area/network

#2251 [control-plane-manager] alert k8s deprecated
  modules/040-control-plane-manager/hooks/effective_kubernetes_version.go
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
Labels: status/backport

#2281 Backport: [control-plane-manager] alert k8s deprecated
  modules/040-control-plane-manager/hooks/effective_kubernetes_version.go
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
Labels: auto, backported

#2279 [node-manager] Change Cluster autoscaler timeouts
  modules/040-node-manager/templates/cluster-autoscaler/deployment.yaml
Labels: area/cluster-and-infrastructure

#2269 [linstor] add missing libelf-dev to kernel-module-injector image
  modules/031-linstor/images/drbd-driver-loader/Dockerfile
Labels: type/bug, status/backport, area/storage

#2282 Backport: [linstor] add missing libelf-dev to kernel-module-injector image
  modules/031-linstor/images/drbd-driver-loader/Dockerfile
Labels: auto, backported

#2267 [ingress-nginx] change default version
  modules/402-ingress-nginx/openapi/config-values.yaml
  modules/402-ingress-nginx/webhooks/validating/ingressnginxcontroller
Labels: skip/documentation-validation

#2266 [deckhouse] ignore shutdown pods on update
  modules/020-deckhouse/hooks/update_deckhouse_image.go
  modules/020-deckhouse/hooks/update_deckhouse_image_test.go
Labels: area/core

#2272 [flant-integration] Add for to D8PrometheusMadisonErrorSendingAlertsToBackend
  ee/modules/600-flant-integration/monitoring/prometheus-rules/sending-alerts.yaml
Labels: area/monitoring, status/backport

#2288 Backport: [flant-integration] Add for to D8PrometheusMadisonErrorSendingAlertsToBackend
  ee/modules/600-flant-integration/monitoring/prometheus-rules/sending-alerts.yaml
Labels: auto, backported

#2289 Backport: [okmeter] docs: remove required field
  modules/500-okmeter/openapi/config-values.yaml
Labels: auto, backported

#2290 Backport: [deckhouse] ignore shutdown pods on update
  modules/020-deckhouse/hooks/update_deckhouse_image.go
  modules/020-deckhouse/hooks/update_deckhouse_image_test.go
Labels: auto, backported

#2245 Changelog v1.35.1
  CHANGELOG/CHANGELOG-v1.35.1.yml
  CHANGELOG/CHANGELOG-v1.35.md
Labels: changelog, auto, status/backport

#2293 Backport: Changelog v1.35.1
  CHANGELOG/CHANGELOG-v1.35.1.yml
  CHANGELOG/CHANGELOG-v1.35.md
Labels: auto, backported

#2298 [flant-integration] Fix expression for D8PrometheusMadisonErrorSendingAlertsToBackend
  ee/modules/600-flant-integration/monitoring/prometheus-rules/sending-alerts.yaml
Labels: type/bug, status/backport

#2301 Backport: [flant-integration] Fix expression for D8PrometheusMadisonErrorSendingAlertsToBackend
  ee/modules/600-flant-integration/monitoring/prometheus-rules/sending-alerts.yaml
Labels: auto, backported

#2302 [docs][flant-integration] Minor fixes
  ee/modules/600-flant-integration/docs/README.md
Labels: area/docs, status/backport

#2303 Backport: [docs][flant-integration] Minor fixes
  ee/modules/600-flant-integration/docs/README.md
Labels: auto, backported

#2299 [go_lib] Fixed copy_custom_certificate value priority
  go_lib/module/module.go
Labels: area/kubernetes, type/bug, e2e/use/cri/containerd, e2e/use/k8s/1.21

#2300 Changelog v1.35.2
  CHANGELOG/CHANGELOG-v1.35.2.yml
  CHANGELOG/CHANGELOG-v1.35.md
Labels: changelog, auto, status/backport

#2304 Backport: Changelog v1.35.2
  CHANGELOG/CHANGELOG-v1.35.2.yml
  CHANGELOG/CHANGELOG-v1.35.md
Labels: auto, backported

#2311 Backport: [go_lib] Fixed copy_custom_certificate value priority
  go_lib/module/module.go
Labels: auto, backported

#2306 Changelog v1.35.3
  CHANGELOG/CHANGELOG-v1.35.3.yml
Labels: changelog, auto, status/backport

#2312 Backport: Changelog v1.35.3
  CHANGELOG/CHANGELOG-v1.35.3.yml
Labels: auto, backported

#2292 [istio] Update usage documentation
  ee/modules/110-istio/docs/USAGE.md
  ee/modules/110-istio/docs/USAGE_RU.md
Labels: area/docs, status/ok-to-test, status/backport

#2284 [flant-integration] added new distros supported by deckhouse
  ee/modules/600-flant-integration/images/flant-pricing/hooks/prometheus_metrics.sh
Labels: area/monitoring

#2318 [ingress-nginx] fix lua pbmetrics
  modules/402-ingress-nginx/images/controller-0-33/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-0-46/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-0-48/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-0-49/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-1-1/rootfs/etc/nginx/lua/pbmetrics.lua
Labels: status/backport

#2322 Backport: [ingress-nginx] fix lua pbmetrics
  modules/402-ingress-nginx/images/controller-0-33/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-0-46/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-0-48/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-0-49/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-1-1/rootfs/etc/nginx/lua/pbmetrics.lua
Labels: auto, backported

#2315 [istio] Don't exclude d8-namespaces from istiod discovery
  ee/modules/110-istio/templates/control-plane/iop.yaml
Labels: type/bug, status/backport

#2325 Backport: [istio] Don't exclude d8-namespaces from istiod discovery
  ee/modules/110-istio/templates/control-plane/iop.yaml
Labels: auto, backported

#2328 [linstor] Add note about adding exiting pools using general configuration method
  modules/031-linstor/docs/FAQ.md
  modules/031-linstor/docs/FAQ_RU.md
Labels: status/backport, area/storage

#2329 Backport: [linstor] Add note about adding exiting pools using general configuration method
  modules/031-linstor/docs/FAQ.md
  modules/031-linstor/docs/FAQ_RU.md
Labels: auto, backported

#2277 [namespace-configurator] add run hook OnBeforeHelm
  modules/600-namespace-configurator/hooks/handler.go
  modules/600-namespace-configurator/hooks/handler_test.go
Labels: status/backport

#2331 Backport: [namespace-configurator] add run hook OnBeforeHelm
  modules/600-namespace-configurator/hooks/handler.go
  modules/600-namespace-configurator/hooks/handler_test.go
Labels: auto, backported

#2319 [kube-proxy] fix daemonset image tag
  helm_lib/templates/_module_image.tpl
  modules/021-kube-proxy/templates/daemonset.yaml
Labels: area/network

#2326 [linstor] Document kernel-headers installation
  modules/031-linstor/docs/CONFIGURATION.md
  modules/031-linstor/docs/CONFIGURATION_RU.md
Labels: area/docs, status/backport

#2321 Changelog v1.35.4
  CHANGELOG/CHANGELOG-v1.35.4.yml
  CHANGELOG/CHANGELOG-v1.35.md
Labels: changelog, auto, status/backport

#2333 Backport: Changelog v1.35.4
  CHANGELOG/CHANGELOG-v1.35.4.yml
  CHANGELOG/CHANGELOG-v1.35.md
Labels: auto, backported

#2196 Add nodes count
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/kubernetes-cluster/nodes/nodes.json
Labels: area/monitoring

#2335 [testing] Always try to load chart
  .github/ci_templates/tests.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  testing/library/helm/render.go
  testing/matrix/linter/controller.go
  testing/matrix/linter/run.go
  testing/matrix/matrix_test.go
Labels: area/testing

#2339 [docs] Add a second option to getting an etcd leader
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, status/backport

#2342 Backport: [docs] Add a second option to getting an etcd leader
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#2344 [docs] Fix typo in the NodeGroup example
  candi/openapi/node_group.yaml
Labels: area/docs, status/backport

#2343 [linstor] Add kernel version warning
  modules/031-linstor/docs/CONFIGURATION.md
  modules/031-linstor/docs/CONFIGURATION_RU.md
Labels: area/docs, status/backport, area/storage

#2345 [linstor] Add kernel version warning
  modules/031-linstor/docs/CONFIGURATION.md
  modules/031-linstor/docs/CONFIGURATION_RU.md
Labels: area/docs, status/ok-to-test, area/storage

#2256 [cloud-provider-aws] Add ability to configure additional policies for IAM roles
  candi/cloud-providers/aws/layouts/standard/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/standard/base-infrastructure/variables.tf
  candi/cloud-providers/aws/layouts/with-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/with-nat/base-infrastructure/variables.tf
  candi/cloud-providers/aws/layouts/without-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/without-nat/base-infrastructure/variables.tf
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.23

#2338 [ingress-nginx] fix defaultControllerVersion inheritance
  modules/402-ingress-nginx/hooks/get_ingress_controllers.go
  modules/402-ingress-nginx/hooks/get_ingress_controllers_test.go
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: area/network

#2273 [istio] refactor revisions monitoring
  ee/modules/110-istio/hooks/revisions_monitoring.go
  ee/modules/110-istio/hooks/revisions_monitoring_test.go
  ee/modules/110-istio/monitoring/prometheus-rules/revisions.yaml
  werf.yaml
Labels: area/network

#2192 [log-shipper] Vector 0.23
  modules/460-log-shipper/apis/v1alpha1/cluster_log_destination.go
  modules/460-log-shipper/apis/v1alpha1/cluster_logging_config.go
  modules/460-log-shipper/apis/v1alpha1/pod_logging_config.go
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/cluster-logging-config.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-logging-config.yaml
  modules/460-log-shipper/docs/USAGE.md
  modules/460-log-shipper/docs/USAGE_RU.md
  modules/460-log-shipper/hooks/generate_config_test.go
  modules/460-log-shipper/hooks/internal/composer/config_test.go
  modules/460-log-shipper/hooks/internal/composer/testdata/config_1.json
  modules/460-log-shipper/hooks/internal/composer/testdata/config_2.json
  modules/460-log-shipper/hooks/internal/composer/testdata/config_3.json
  modules/460-log-shipper/hooks/internal/composer/testdata/config_4.json
  modules/460-log-shipper/hooks/internal/vector/destination/common.go
  modules/460-log-shipper/hooks/internal/vector/destination/elasticsearch.go
  modules/460-log-shipper/hooks/internal/vector/destination/logstash.go
  modules/460-log-shipper/hooks/internal/vector/destination/loki.go
  modules/460-log-shipper/hooks/internal/vector/destination/vector.go
  modules/460-log-shipper/hooks/internal/vector/source/kubernetes.go
  modules/460-log-shipper/hooks/internal/vector/transform/elasticsearch.go
  modules/460-log-shipper/hooks/internal/vector/transform/filter.go
  modules/460-log-shipper/hooks/internal/vector/transform/source.go
  modules/460-log-shipper/hooks/internal/vector/transform/testdata/filters.json
  modules/460-log-shipper/hooks/internal/vector/transform/transforms_test.go
  modules/460-log-shipper/hooks/internal/vrl/cleanup.go
  modules/460-log-shipper/hooks/internal/vrl/elasticsearch.go
  modules/460-log-shipper/hooks/internal/vrl/filter.go
  modules/460-log-shipper/hooks/internal/vrl/filter_test.go
  modules/460-log-shipper/hooks/internal/vrl/ownerref.go
  modules/460-log-shipper/hooks/testdata/default-config.json
  modules/460-log-shipper/hooks/testdata/es-5x.json
  modules/460-log-shipper/hooks/testdata/file-to-elastic.json
  modules/460-log-shipper/hooks/testdata/file-to-vector.json
  modules/460-log-shipper/hooks/testdata/multiline.json
  modules/460-log-shipper/hooks/testdata/multiple-dests.json
  modules/460-log-shipper/hooks/testdata/namespaced-source.json
  modules/460-log-shipper/hooks/testdata/one-dest.json
  modules/460-log-shipper/hooks/testdata/pair-datastream.json
  modules/460-log-shipper/hooks/testdata/simple-pair.json
  modules/460-log-shipper/hooks/testdata/throttle.json
  modules/460-log-shipper/hooks/validate_test.go
  modules/460-log-shipper/images/vector/Dockerfile
  modules/460-log-shipper/images/vector/patches/README.md
  modules/460-log-shipper/images/vector/patches/kubernetes-owner-reference.patch
  modules/460-log-shipper/images/vector/patches/loki-labels.patch
  modules/460-log-shipper/images/vector/patches/remove-high-cardinality-labels.patch
  modules/460-log-shipper/monitoring/grafana-dashboards/applications/vector.json
  modules/460-log-shipper/templates/rbac-for-us.yaml
Labels: area/monitoring, type/enhancement

#2336 [testing] Fix doc validation file filter
  tools/validation/doc_changes.go
Labels: area/testing

#2291 [monitoring-kubernetes] Bump kube-state-metrics 2.6.0
  ee/modules/030-cloud-provider-vsphere/images/cloud-controller-manager/patches/1.22/README.md
  ee/modules/030-cloud-provider-vsphere/images/cloud-controller-manager/patches/1.23/README.md
  modules/031-linstor/images/piraeus-operator/patches/README.md
  modules/031-local-path-provisioner/images/local-path-provisioner/patches/README.md
  modules/300-prometheus/images/grafana/patches/README.md
  modules/300-prometheus/images/prometheus/README.md
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/application-controllers.yaml
  modules/340-monitoring-kubernetes/images/kube-state-metrics/Dockerfile
  modules/340-monitoring-kubernetes/images/kube-state-metrics/kube-persistentvolume-is-local.patch
  modules/340-monitoring-kubernetes/images/kube-state-metrics/kube-pod-spec-host-network.patch
  modules/340-monitoring-kubernetes/images/kube-state-metrics/kube-pod-status-reason.patch
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/capacity-planning/capacity-planning.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/controller.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/namespace.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/namespaces.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/pod.json
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/coreos/README.md
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/coreos/kube-state-metrics.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/generic/cri-version.tpl
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/generic/general.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/generic/kube-state-metrics.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/generic/kubelet.tpl
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/generic/node.yaml
  modules/340-monitoring-kubernetes/templates/kube-state-metrics/deployment.yaml
  modules/340-monitoring-kubernetes/templates/kube-state-metrics/rbac-for-us.yaml
Labels: area/monitoring

#2352 [docs] Fix typos in the documentation
  docs/site/_includes/getting_started/existing/partials/TROUBLESHOOT_RU.liquid
  docs/site/_includes/getting_started/openstack/partials/config.yml.simple_with_internal_network.ee.inc
  docs/site/_includes/getting_started/vsphere/STEP_ENV_RU.md
  docs/site/_includes/getting_started/vsphere/partials/config.yml.standard.ee.inc
  ee/candi/cloud-providers/openstack/openapi/doc-ru-instance_class.yaml
  ee/fe/modules/340-monitoring-applications/docs/README_RU.md
  ee/modules/110-istio/crds/doc-ru-istiomulticluster.yaml
  ee/modules/110-istio/openapi/doc-ru-config-values.yaml
  ee/modules/380-metallb/docs/CONFIGURATION_RU.md
  ee/modules/450-keepalived/crds/doc-ru-crd.yaml
  ee/modules/450-keepalived/docs/README_RU.md
  ee/modules/450-keepalived/docs/USAGE_RU.md
  ee/modules/450-network-gateway/docs/README_RU.md
  ee/modules/600-flant-integration/openapi/doc-ru-config-values.yaml
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
  modules/031-linstor/docs/FAQ_RU.md
  modules/031-local-path-provisioner/crds/doc-ru-local_path_provisioner.yaml
  modules/031-local-path-provisioner/docs/FAQ.md
  modules/031-local-path-provisioner/docs/FAQ_RU.md
  modules/040-node-manager/docs/USAGE_RU.md
  modules/042-kube-dns/docs/FAQ_RU.md
  modules/300-prometheus/docs/README.md
  modules/300-prometheus/docs/README_RU.md
  modules/300-prometheus/docs/internal/GRAFANA_DASHBOARD_DEVELOPMENT.md
  modules/300-prometheus/docs/internal/GRAFANA_DASHBOARD_DEVELOPMENT_RU.md
  modules/302-vertical-pod-autoscaler/docs/README_RU.md
  modules/340-extended-monitoring/docs/README_RU.md
  modules/400-descheduler/docs/README.md
  modules/400-descheduler/docs/README_RU.md
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/docs/USAGE.md
  modules/402-ingress-nginx/docs/USAGE_RU.md
  modules/460-log-shipper/crds/doc-ru-cluster-logging-config.yaml
  modules/465-pod-reloader/docs/README_RU.md
  modules/470-chrony/docs/README_RU.md
  modules/500-upmeter/openapi/doc-ru-config-values.yaml
Labels: area/docs, skip/documentation-validation, status/backport

#2353 Backport: [docs] Fix typos in the documentation
  docs/site/_includes/getting_started/existing/partials/TROUBLESHOOT_RU.liquid
  docs/site/_includes/getting_started/openstack/partials/config.yml.simple_with_internal_network.ee.inc
  docs/site/_includes/getting_started/vsphere/STEP_ENV_RU.md
  docs/site/_includes/getting_started/vsphere/partials/config.yml.standard.ee.inc
  ee/candi/cloud-providers/openstack/openapi/doc-ru-instance_class.yaml
  ee/fe/modules/340-monitoring-applications/docs/README_RU.md
  ee/modules/110-istio/crds/doc-ru-istiomulticluster.yaml
  ee/modules/110-istio/openapi/doc-ru-config-values.yaml
  ee/modules/380-metallb/docs/CONFIGURATION_RU.md
  ee/modules/450-keepalived/crds/doc-ru-crd.yaml
  ee/modules/450-keepalived/docs/README_RU.md
  ee/modules/450-keepalived/docs/USAGE_RU.md
  ee/modules/450-network-gateway/docs/README_RU.md
  ee/modules/600-flant-integration/openapi/doc-ru-config-values.yaml
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
  modules/031-linstor/docs/FAQ_RU.md
  modules/031-local-path-provisioner/crds/doc-ru-local_path_provisioner.yaml
  modules/031-local-path-provisioner/docs/FAQ.md
  modules/031-local-path-provisioner/docs/FAQ_RU.md
  modules/040-node-manager/docs/USAGE_RU.md
  modules/042-kube-dns/docs/FAQ_RU.md
  modules/300-prometheus/docs/README.md
  modules/300-prometheus/docs/README_RU.md
  modules/300-prometheus/docs/internal/GRAFANA_DASHBOARD_DEVELOPMENT.md
  modules/300-prometheus/docs/internal/GRAFANA_DASHBOARD_DEVELOPMENT_RU.md
  modules/302-vertical-pod-autoscaler/docs/README_RU.md
  modules/340-extended-monitoring/docs/README_RU.md
  modules/400-descheduler/docs/README.md
  modules/400-descheduler/docs/README_RU.md
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/docs/USAGE.md
  modules/402-ingress-nginx/docs/USAGE_RU.md
  modules/460-log-shipper/crds/doc-ru-cluster-logging-config.yaml
  modules/465-pod-reloader/docs/README_RU.md
  modules/470-chrony/docs/README_RU.md
  modules/500-upmeter/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#2354 [docs] Add api. domain into a hosts lists in the getting started
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  docs/site/_includes/getting_started/global/STEP_CLUSTER_ACCESS.md
  docs/site/_includes/getting_started/global/STEP_CLUSTER_ACCESS_RU.md
Labels: area/docs

#2356 [prometheus] fix K8SKubeletTooManyPods alert
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/generic/kubelet.tpl
Labels: area/monitoring

#2361 [ci] Skip copyright validation for the `.github/CODEOWNERS` file
  tools/validation/copyright.go
Labels: area/testing

#2287 [linstor] Automate kernel headers installation
  candi/bashible/bashbooster/55_distro_version.sh
  modules/031-linstor/templates/nodegroupconfiguration-blacklist-drbd.yaml
  modules/031-linstor/templates/nodegroupconfiguration-install-kernel-headers.yaml
Labels: area/storage, e2e/use/k8s/1.23

#2363 [docs][deckhouse] Fix typos and formatting
  modules/020-deckhouse/openapi/config-values.yaml
  modules/020-deckhouse/openapi/doc-ru-config-values.yaml
Labels: area/docs, status/backport

#2364 Backport: [docs][deckhouse] Fix typos and formatting
  modules/020-deckhouse/openapi/config-values.yaml
  modules/020-deckhouse/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#2349 [upmeter] Bundle CSS into status page
  modules/500-upmeter/images/status/.dockerignore
  modules/500-upmeter/images/status/.editorconfig
  modules/500-upmeter/images/status/.eslintrc.yml
  modules/500-upmeter/images/status/.gitignore
  modules/500-upmeter/images/status/Dockerfile
  modules/500-upmeter/images/status/README.md
  modules/500-upmeter/images/status/index.html
  modules/500-upmeter/images/status/jsconfig.json
  modules/500-upmeter/images/status/package-lock.json
  modules/500-upmeter/images/status/package.json
  modules/500-upmeter/images/status/public/global.css
  modules/500-upmeter/images/status/public/index.html
  modules/500-upmeter/images/status/rollup.config.js
  modules/500-upmeter/images/status/src/App.svelte
  modules/500-upmeter/images/status/src/app.css
  modules/500-upmeter/images/status/src/index.html
  modules/500-upmeter/images/status/src/lib/Group.svelte
  modules/500-upmeter/images/status/src/lib/StatusText.svelte
  modules/500-upmeter/images/status/src/main.js
  modules/500-upmeter/images/status/src/vite-env.d.ts
  modules/500-upmeter/images/status/tsconfig.json
  modules/500-upmeter/images/status/vite.config.js
  modules/500-upmeter/images/webui/src/app/i18n/en.ts
Labels: area/monitoring

#2350 [ingress-nginx] pbmetrics improvement
  modules/402-ingress-nginx/images/controller-0-33/Dockerfile
  modules/402-ingress-nginx/images/controller-0-33/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-0-46/Dockerfile
  modules/402-ingress-nginx/images/controller-0-46/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-0-48/Dockerfile
  modules/402-ingress-nginx/images/controller-0-48/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-0-49/Dockerfile
  modules/402-ingress-nginx/images/controller-0-49/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-1-1/Dockerfile
  modules/402-ingress-nginx/images/controller-1-1/rootfs/etc/nginx/lua/pbmetrics.lua
Labels: area/network

#2357 [testing][ci] Add a check if the repository contains the actual CI workflow
  .github/ci_templates/build.yml
  .github/workflow_templates/build-and-test_dev.yml
  .github/workflow_templates/build-and-test_pre-release.yml
  .github/workflow_templates/build-and-test_release.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
Labels: area/testing

#2373 [site] Added new items in top and footer nav menu
  docs/site/_data/footer.yaml
  docs/site/_data/topnav.yml
  docs/site/_includes/header.html
Labels: area/docs

#2372 [go_lib] Fixed GetValuesFirstDefined value priority
  go_lib/module/module.go
Labels: type/bug, area/core, status/backport

#2374 Backport: [go_lib] Fixed GetValuesFirstDefined value priority
  go_lib/module/module.go
Labels: auto, backported

#2370 [istio] Fix revision monitoring alert
  ee/modules/110-istio/monitoring/prometheus-rules/revisions.yaml
Labels: area/monitoring

#2341 Changelog v1.35.5
  CHANGELOG/CHANGELOG-v1.35.5.yml
  CHANGELOG/CHANGELOG-v1.35.md
Labels: changelog, auto, status/backport

#2375 Backport: Changelog v1.35.5
  CHANGELOG/CHANGELOG-v1.35.5.yml
  CHANGELOG/CHANGELOG-v1.35.md
Labels: auto, backported
