Repository deckhouse/deckhouse, pull requests merged in 2022-11, with the labels that each got.

#2939 [site] Added request license access on button
  docs/site/_includes/getting_started/global/EE_ACCESS.md
  docs/site/_includes/getting_started/global/EE_ACCESS_RU.md
Labels: area/docs, skip/e2e

#2945 [site] Fix text on license request expired page
  docs/site/pages/license_request_expired.html
  docs/site/pages/license_request_expired_ru.html
Labels: area/docs, skip/e2e

#2958 [deckhouse] remove approved status from printer columns
  modules/002-deckhouse/crds/deckhouse-release.yaml
  modules/002-deckhouse/crds/doc-ru-deckhouse-release.yaml
Labels: area/core, skip/e2e

#2947 [cert-manager] remove legacy cert-manager support
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/101-cert-manager/crds/crd-certificaterequests.yaml
  modules/101-cert-manager/crds/crd-certificates.yaml
  modules/101-cert-manager/crds/crd-challenges.yaml
  modules/101-cert-manager/crds/crd-clusterissuers.yaml
  modules/101-cert-manager/crds/crd-issuers.yaml
  modules/101-cert-manager/crds/crd-orders.yaml
  modules/101-cert-manager/crds/legacy-certificate.yaml
  modules/101-cert-manager/crds/legacy-certificaterequest.yaml
  modules/101-cert-manager/crds/legacy-challenge.yaml
  modules/101-cert-manager/crds/legacy-clusterissuer.yaml
  modules/101-cert-manager/crds/legacy-issuer.yaml
  modules/101-cert-manager/crds/legacy-order.yaml
  modules/101-cert-manager/hooks/annotations_migration.go
  modules/101-cert-manager/hooks/create_registry_secret_for_solver.go
  modules/101-cert-manager/hooks/create_registry_secret_for_solver_test.go
  modules/101-cert-manager/hooks/generate_webhook_certs.go
  modules/101-cert-manager/hooks/generate_webhook_certs_test.go
  modules/101-cert-manager/hooks/legacy_metrics.go
  modules/101-cert-manager/hooks/migrate_legacy_d8_certificates_and_secrets.go
  modules/101-cert-manager/hooks/migrate_legacy_d8_certificates_and_secrets_test.go
  modules/101-cert-manager/images/legacy-cert-manager-acme-solver/Dockerfile
  modules/101-cert-manager/images/legacy-cert-manager-cainjector/Dockerfile
  modules/101-cert-manager/images/legacy-cert-manager-controller/Dockerfile
  modules/101-cert-manager/images/legacy-cert-manager-controller/patches/README.md
  modules/101-cert-manager/images/legacy-cert-manager-controller/patches/self_link.patch
  modules/101-cert-manager/images/legacy-cert-manager-controller/patches/tolerations.patch
  modules/101-cert-manager/images/legacy-cert-manager-webhook/Dockerfile
  modules/101-cert-manager/monitoring/prometheus-rules/certificate.yaml
  modules/101-cert-manager/monitoring/prometheus-rules/legacy.yaml
  modules/101-cert-manager/openapi/openapi-case-tests.yaml
  modules/101-cert-manager/openapi/values.yaml
  modules/101-cert-manager/template_tests/module_test.go
  modules/101-cert-manager/templates/annotations-converter/mutatingwebhookconfiguration.yaml
  modules/101-cert-manager/templates/legacy/cert-manager/clusterissuer-clouddns.yaml
  modules/101-cert-manager/templates/legacy/cert-manager/clusterissuer-cloudflare.yaml
  modules/101-cert-manager/templates/legacy/cert-manager/clusterissuer-digitalocean.yaml
  modules/101-cert-manager/templates/legacy/cert-manager/clusterissuer-letsencrypt-staging.yaml
  modules/101-cert-manager/templates/legacy/cert-manager/clusterissuer-letsencrypt.yaml
  modules/101-cert-manager/templates/legacy/cert-manager/clusterissuer-route53.yaml
  modules/101-cert-manager/templates/legacy/cert-manager/clusterissuer-selfsign.yaml
  modules/101-cert-manager/templates/legacy/cert-manager/deployment.yaml
  modules/101-cert-manager/templates/legacy/cert-manager/pdb.yaml
  modules/101-cert-manager/templates/legacy/cert-manager/podmonitor.yaml
  modules/101-cert-manager/templates/legacy/cert-manager/rbac-for-us.yaml
  modules/101-cert-manager/templates/legacy/cert-manager/rbac-to-us.yaml
  modules/101-cert-manager/templates/legacy/webhook/apiservice.yaml
  modules/101-cert-manager/templates/legacy/webhook/deployment.yaml
  modules/101-cert-manager/templates/legacy/webhook/pdb.yaml
  modules/101-cert-manager/templates/legacy/webhook/rbac-for-us.yaml
  modules/101-cert-manager/templates/legacy/webhook/service.yaml
  modules/101-cert-manager/templates/namespace.yaml
  modules/101-cert-manager/templates/user-authz-cluster-roles.yaml
  modules/101-cert-manager/templates/webhook/mutatingwebhookconfiguration.yaml
  modules/101-cert-manager/templates/webhook/secret-ca.yaml
  modules/101-cert-manager/templates/webhook/secret-tls.yaml
  modules/101-cert-manager/templates/webhook/validatingwebhookconfiguration.yaml
  testing/library/images_tags_generated.go
Labels: skip/documentation-validation, e2e/use/cri/containerd, e2e/use/k8s/1.21

#2962 Fix AMI in Get Started guide
  candi/cloud-providers/aws/docs/LAYOUTS.md
  candi/cloud-providers/aws/docs/LAYOUTS_RU.md
  docs/site/_includes/getting_started/aws/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.with_nat.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.with_nat.ee.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.ee.inc
  docs/site/js/getting-started.js
Labels: area/docs, deploy/web/test, status/ok-to-test, skip/e2e

#2965 Automatically allocate 100% free space while creating lvmthin pool
  modules/041-linstor/docs/CONFIGURATION.md
  modules/041-linstor/docs/CONFIGURATION_RU.md
Labels: area/docs

#2697 [monitoring-applications] Refactoring pt. 1
  ee/fe/modules/340-monitoring-applications/.helmignore
  ee/fe/modules/340-monitoring-applications/applications/consul/placeholder
  ee/fe/modules/340-monitoring-applications/applications/elasticsearch/grafana-dashboards/elasticsearch.json
  ee/fe/modules/340-monitoring-applications/applications/etcd3/grafana-dashboards/etcd3.json
  ee/fe/modules/340-monitoring-applications/applications/fluentd/placeholder
  ee/fe/modules/340-monitoring-applications/applications/grafana/placeholder
  ee/fe/modules/340-monitoring-applications/applications/memcached/grafana-dashboards/memcached.json
  ee/fe/modules/340-monitoring-applications/applications/minio/placeholder
  ee/fe/modules/340-monitoring-applications/applications/mongodb/grafana-dashboards/mongodb.json
  ee/fe/modules/340-monitoring-applications/applications/nats/grafana-dashboards/nats-legacy.json
  ee/fe/modules/340-monitoring-applications/applications/nats/grafana-dashboards/nats.json
  ee/fe/modules/340-monitoring-applications/applications/nats/prometheus-rules/nats.yaml
  ee/fe/modules/340-monitoring-applications/applications/nginx/placeholder
  ee/fe/modules/340-monitoring-applications/applications/php-fpm/grafana-dashboards/php-fpm.json
  ee/fe/modules/340-monitoring-applications/applications/php-fpm/prometheus-rules/php-fpm.yaml
  ee/fe/modules/340-monitoring-applications/applications/prometheus/grafana-dashboards/prometheus.json
  ee/fe/modules/340-monitoring-applications/applications/prometheus/prometheus-rules/prometheus.yaml
  ee/fe/modules/340-monitoring-applications/applications/rabbitmq/grafana-dashboards/rabbitmq-legacy.json
  ee/fe/modules/340-monitoring-applications/applications/rabbitmq/grafana-dashboards/rabbitmq.json
  ee/fe/modules/340-monitoring-applications/applications/rabbitmq/prometheus-rules/rabbitmq.yaml
  ee/fe/modules/340-monitoring-applications/applications/redis/grafana-dashboards/redis.json
  ee/fe/modules/340-monitoring-applications/applications/redis/prometheus-rules/redis.yaml
  ee/fe/modules/340-monitoring-applications/applications/sidekiq/grafana-dashboards/sidekiq.json
  ee/fe/modules/340-monitoring-applications/applications/trickster/placeholder
  ee/fe/modules/340-monitoring-applications/applications/uwsgi/grafana-dashboard/uwsgi.json
  ee/fe/modules/340-monitoring-applications/docs/CONFIGURATION.md
  ee/fe/modules/340-monitoring-applications/docs/CONFIGURATION_RU.md
  ee/fe/modules/340-monitoring-applications/hooks/discovery.go
  ee/fe/modules/340-monitoring-applications/monitoring/prometheus-rules/warnings/warnings.yaml
  ee/fe/modules/340-monitoring-applications/openapi/values.yaml
  ee/fe/modules/340-monitoring-applications/template_tests/module_test.go
  ee/fe/modules/340-monitoring-applications/templates/applications.yaml
  ee/fe/modules/340-monitoring-applications/templates/base-service-monitor.yaml
  ee/fe/modules/340-monitoring-applications/templates/monitoring.yaml
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/base-service-monitor.yaml
  helm_lib/templates/_monitoring_grafana_dashboards.tpl
  modules/300-prometheus/templates/prometheus/ingress.yaml
  modules/300-prometheus/templates/prometheus/longterm/ingress.yaml
  modules/300-prometheus/templates/trickster/ingress.yaml
  testing/matrix/linter/rules/modules/monitoring.go
Labels: area/monitoring, skip/e2e

#2968 [prometheus] Update Prometheus-(Self) dashboard
  modules/300-prometheus/monitoring/grafana-dashboards/kubernetes-cluster/prometheus-self.json
Labels: area/monitoring, skip/e2e

#2967 [prometheus] Add Prometheus benchmark dashboard
  modules/300-prometheus/monitoring/grafana-dashboards/kubernetes-cluster/prometheus-benchmark.json
Labels: area/monitoring, skip/e2e

#2883 [cni-cilium] Improved PodMonitors
  modules/021-cni-cilium/templates/agent/podmonitor.yaml
  modules/021-cni-cilium/templates/operator/podmonitor.yaml
Labels: area/network, type/bug, e2e/use/k8s/1.23

#2944 [extended-monitoring] Typos in CertificateSecretExpiredSoon
  modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/certificate.yaml
Labels: skip/e2e

#2971 [docs] Add Rocky Linux to the list of supported OS
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_data/version_map_addition.yml
Labels: area/docs, skip/e2e

#2978 [site] Fix media queries for sidebar
  docs/site/css/docs.scss
Labels: area/docs, skip/e2e

#2833 [metallb] Add metallb module usage example
  docs/documentation/_data/sidebars/main.yml
  ee/modules/380-metallb/docs/USAGE.md
  ee/modules/380-metallb/docs/USAGE_RU.md
  modules/402-ingress-nginx/docs/USAGE.md
  modules/402-ingress-nginx/docs/USAGE_RU.md
Labels: area/docs, e2e/use/cri/containerd, e2e/use/k8s/1.21

#2709 [deckhouse] check kernel versions for enabled modules
  ee/modules/110-istio/template_tests/module_test.go
  ee/modules/110-istio/templates/control-plane/iop.yaml
  helm_lib/templates/_module_init_container.tpl
  modules/000-common/images/check-kernel-version/Dockerfile
  modules/000-common/images/check-kernel-version/src/check-kernel-version.go
  modules/000-common/images/check-kernel-version/src/go.mod
  modules/000-common/images/check-kernel-version/src/go.sum
  modules/002-deckhouse/hooks/check_kernel_versions.go
  modules/002-deckhouse/hooks/check_kernel_versions_test.go
  modules/021-cni-cilium/templates/agent/daemonset.yaml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/kernel-requirements.yaml
  modules/500-openvpn/templates/openvpn/statefulset.yaml
  testing/library/images_tags_generated.go
  werf.yaml
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.23

#2905 [monitoring-kubernetes-control-plane] Refactoring
  modules/000-common/images/kube-rbac-proxy/Dockerfile
  modules/000-common/images/kube-rbac-proxy/patches/README.md
  modules/000-common/images/kube-rbac-proxy/patches/insecure-upstream.patch
  modules/000-common/images/kube-rbac-proxy/patches/preserve-auth-header.patch
  modules/340-monitoring-kubernetes-control-plane/.helmignore
  modules/340-monitoring-kubernetes-control-plane/docs/CONFIGURATION.md
  modules/340-monitoring-kubernetes-control-plane/docs/CONFIGURATION_RU.md
  modules/340-monitoring-kubernetes-control-plane/docs/README.md
  modules/340-monitoring-kubernetes-control-plane/docs/README_RU.md
  modules/340-monitoring-kubernetes-control-plane/enabled
  modules/340-monitoring-kubernetes-control-plane/hooks/common_test.go
  modules/340-monitoring-kubernetes-control-plane/hooks/discovery
  modules/340-monitoring-kubernetes-control-plane/hooks/discovery_test.go
  modules/340-monitoring-kubernetes-control-plane/hooks/handle_values
  modules/340-monitoring-kubernetes-control-plane/hooks/handle_values_test.go
  modules/340-monitoring-kubernetes-control-plane/images/proxy/Dockerfile
  modules/340-monitoring-kubernetes-control-plane/openapi/config-values.yaml
  modules/340-monitoring-kubernetes-control-plane/openapi/doc-ru-config-values.yaml
  modules/340-monitoring-kubernetes-control-plane/openapi/openapi-case-tests.yaml
  modules/340-monitoring-kubernetes-control-plane/openapi/values.yaml
  modules/340-monitoring-kubernetes-control-plane/template_tests/module_test.go
  modules/340-monitoring-kubernetes-control-plane/templates/control-plane-proxy-service-monitor.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/control-plane-proxy/daemon-set.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/control-plane-proxy/daemonset.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/control-plane-proxy/rbac-for-us.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/control-plane-proxy/service.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-apiserver-service-monitor.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-apiserver/pod/pod-monitor.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-apiserver/pod/secret-client-certificate.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-apiserver/through-node/pod-monitor.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-apiserver/through-node/secret-client-certificate.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-controller-manager/pod/secret-client-certificate.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-controller-manager/pod/service-monitor.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-controller-manager/pod/service.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-controller-manager/through-node/pod-monitor.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-controller-manager/through-node/secret-client-certificate.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-etcd/pod/secret-client-certificate.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-etcd/pod/service-monitor.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-etcd/pod/service.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-etcd/through-node/pod-monitor.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-etcd/through-node/secret-client-certificate.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-scheduler/pod/secret-client-certificate.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-scheduler/pod/service-monitor.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-scheduler/pod/service.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-scheduler/through-node/pod-monitor.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-scheduler/through-node/secret-client-certificate.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/rbac-for-us.yaml
  modules/340-monitoring-kubernetes-control-plane/values.yaml
  modules/340-monitoring-kubernetes-control-plane/values_matrix_test.yaml
  testing/library/images_tags_generated.go
  testing/matrix/linter/rules/modules/modules.go
Labels: area/monitoring, skip/e2e

#2988 [extended-monitoring] Restart if metrics were last collected more than 15 minutes
  modules/340-extended-monitoring/images/extended-monitoring-exporter/src/extended-monitoring.py
Labels: area/monitoring

#2762 [node-manager] Scale from zero
  candi/cloud-providers/aws/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/aws/openapi/instance_class.yaml
  candi/cloud-providers/azure/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/azure/openapi/instance_class.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/gcp/openapi/instance_class.yaml
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-instance_class.yaml
  ee/candi/cloud-providers/openstack/openapi/instance_class.yaml
  ee/modules/030-cloud-provider-openstack/templates/registration.yaml
  ee/modules/030-cloud-provider-vsphere/templates/registration.yaml
  modules/030-cloud-provider-aws/templates/registration.yaml
  modules/030-cloud-provider-azure/templates/registration.yaml
  modules/030-cloud-provider-gcp/templates/registration.yaml
  modules/030-cloud-provider-yandex/templates/registration.yaml
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/internal/autoscaler/capacity/capacity.go
  modules/040-node-manager/hooks/internal/autoscaler/capacity/capacity_test.go
  modules/040-node-manager/hooks/internal/autoscaler/instance_types/azure_instance_types.go
  modules/040-node-manager/hooks/internal/autoscaler/instance_types/ec2_instance_types.go
  modules/040-node-manager/hooks/internal/autoscaler/instance_types/gcp_instance_types.go
  modules/040-node-manager/hooks/internal/autoscaler/instance_types/generator/gcp_generator.go
  modules/040-node-manager/hooks/internal/autoscaler/instance_types/instance_type.go
  modules/040-node-manager/hooks/internal/autoscaler/instance_types/openstack_instance_types.go
  modules/040-node-manager/images/cluster-autoscaler/Dockerfile
  modules/040-node-manager/images/cluster-autoscaler/patches/README.md
  modules/040-node-manager/images/cluster-autoscaler/patches/scale-from-zero.patch
  modules/040-node-manager/openapi/values.yaml
  modules/040-node-manager/templates/cluster-autoscaler/rbac-for-us.yaml
  modules/040-node-manager/templates/node-group/_machine_deployment.tpl
  modules/040-node-manager/webhooks/validating/node_group
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21

#2561 [linstor] Update components version
  candi/image_versions.yml
  candi/version_map.yml
  modules/041-linstor/.helmignore
  modules/041-linstor/docs/internal/DEVELOPMENT.md
  modules/041-linstor/docs/internal/DEVELOPMENT_RU.md
  modules/041-linstor/hack/update.sh
  modules/041-linstor/images/drbd-driver-loader/Dockerfile
  modules/041-linstor/images/drbd-reactor/Dockerfile
  modules/041-linstor/images/linstor-affinity-controller/Dockerfile
  modules/041-linstor/images/linstor-csi/Dockerfile
  modules/041-linstor/images/linstor-pools-importer/Dockerfile
  modules/041-linstor/images/linstor-scheduler-extender/Dockerfile
  modules/041-linstor/images/linstor-server/Dockerfile
  modules/041-linstor/images/piraeus-ha-controller/Dockerfile
  modules/041-linstor/images/piraeus-operator/Dockerfile
  modules/041-linstor/images/spaas/Dockerfile
  werf.yaml
Labels: area/storage

#2995 [node-local-dns] disable node-local-dns for cilium installations on nodes with kernel < 5.7
  ee/modules/350-node-local-dns/templates/daemonset.yaml
Labels: area/network, e2e/use/cri/containerd, e2e/use/k8s/1.21

#3002 [node-manager] fix openapi tests for node-manager after #2946
  ee/modules/040-node-manager/openapi/openapi-case-tests.yaml
  modules/040-node-manager/openapi/openapi-case-tests.yaml
Labels: area/testing, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3007 [docs] Fix broken links
  docs/site/pages/substitution_ru.html
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: area/docs, skip/e2e

#3008 Backport: [docs] Fix broken links
  docs/site/pages/substitution_ru.html
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: auto, backported

#3010 [cloud-provider-vsphere] fix template encoding
  ee/modules/030-cloud-provider-vsphere/templates/registration.yaml
Labels: e2e/use/cri/containerd, status/backport, e2e/use/k8s/1.23

#3016 Backport: [cloud-provider-vsphere] fix template encoding
  ee/modules/030-cloud-provider-vsphere/templates/registration.yaml
Labels: auto, backported

#2890 Changelog v1.40.0
  CHANGELOG/CHANGELOG-v1.40.0.yml
  CHANGELOG/CHANGELOG-v1.40.md
Labels: changelog, auto, status/backport

#3017 Backport: Changelog v1.40.0
  CHANGELOG/CHANGELOG-v1.40.0.yml
  CHANGELOG/CHANGELOG-v1.40.md
Labels: auto, backported

#3019 [monitoring-kubernetes-control-plane] control-plane-proxy change listen port
  modules/340-monitoring-kubernetes-control-plane/templates/control-plane-proxy/daemonset.yaml
Labels: area/monitoring, type/bug, status/backport, skip/e2e

#3021 Backport: [monitoring-kubernetes-control-plane] control-plane-proxy change listen port
  modules/340-monitoring-kubernetes-control-plane/templates/control-plane-proxy/daemonset.yaml
Labels: auto, backported

#3020 Changelog v1.40.1
  CHANGELOG/CHANGELOG-v1.40.1.yml
  CHANGELOG/CHANGELOG-v1.40.md
Labels: changelog, auto, status/backport

#3028 [site] Site content updates
  docs/site/pages/substitution_ru.html
Labels: area/docs, skip/e2e

#3029 [site] Site content updates
  docs/site/js/customscripts.js
  docs/site/pages/substitution_ru.html
Labels: area/docs, skip/e2e

#3032 [priority-class][docs] Minor updates
  modules/001-priority-class/docs/CONFIGURATION.md
  modules/001-priority-class/docs/CONFIGURATION_RU.md
  modules/001-priority-class/docs/README.md
  modules/001-priority-class/docs/README_RU.md
  modules/400-descheduler/docs/README.md
  modules/400-descheduler/docs/README_RU.md
Labels: area/docs, skip/e2e

#3006 [site] Added checkbox in reques access form
  docs/site/_data/modal.yml
  docs/site/_includes/request_access_form.html
  docs/site/css/components/common/_form.scss
Labels: area/docs, skip/e2e

#2938 [node-manager] added pattern and length limit for NodeGroup name check
  candi/openapi/node_group.yaml
  modules/040-node-manager/webhooks/validating/node_group
Labels: skip/documentation-validation, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3044 [monitoring] fix discovery hook for monitoring applications module
  ee/fe/modules/340-monitoring-applications/hooks/discovery.go
Labels: area/monitoring, status/backport, skip/e2e

#3046 Backport: [monitoring] fix discovery hook for monitoring applications module
  ee/fe/modules/340-monitoring-applications/hooks/discovery.go
Labels: auto, backported

#3043 [candi] change desired kernel version for ubuntu 20.04
  candi/version_map.yml
Labels: type/bug, area/cluster-and-infrastructure, status/backport

#3047 Backport: [candi] change desired kernel version for ubuntu 20.04
  candi/version_map.yml
Labels: auto, backported

#2984 [testing] avoid using werf inside the docker
  .github/ci_templates/build.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
Labels: area/testing

#3023 [monitoring-kubernetes] kube-state-metrics extended scrape_timeout
  modules/340-monitoring-kubernetes/templates/kube-state-metrics/additional-scrape-config.yaml
Labels: area/monitoring, status/backport, skip/e2e

#3049 Backport: [monitoring-kubernetes] kube-state-metrics extended scrape_timeout
  modules/340-monitoring-kubernetes/templates/kube-state-metrics/additional-scrape-config.yaml
Labels: auto, backported

#3050 Backport: Changelog v1.40.2
  CHANGELOG/CHANGELOG-v1.40.2.yml
  CHANGELOG/CHANGELOG-v1.40.md
Labels: auto, backported

#3015 [prometheus] Update Grafana Home dashboard
  global-hooks/discovery/kubernetes_version.go
  modules/002-deckhouse/hooks/metrics.go
  modules/002-deckhouse/hooks/set_module_image_value.go
  modules/300-prometheus/images/grafana/grafana_home_dashboard.json
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/alerting.yaml
Labels: area/monitoring

#2989 [dhctl] minor edits of log messages
  dhctl/cmd/dhctl/commands/bootstrap/phase.go
  dhctl/pkg/config/load.go
  dhctl/pkg/kubernetes/client/lease-lock.go
  dhctl/pkg/log/process_test.go
  dhctl/pkg/operations/bootstrap.go
  dhctl/pkg/template/engine.go
Labels: e2e/use/k8s/1.24, skip/e2e

#3011 [extended-monitoring] Pass HTTP_PROXY, HTTPS_PROXY and NO_PROXY environment variables into image-availability-exporter
  modules/340-extended-monitoring/templates/image-availability-exporter/deployment.yaml
Labels: area/monitoring, e2e/use/cri/containerd, e2e/use/k8s/1.23

#2998 [docs] Extend Nexus docker proxy setup documentation.
  docs/documentation/images/registry/nexus/nexus-realm.png
  docs/documentation/images/registry/nexus/nexus-repo-example-1.png
  docs/documentation/images/registry/nexus/nexus-repo-example-2.png
  docs/documentation/images/registry/nexus/nexus-repo-example-3.png
  docs/documentation/images/registry/nexus/nexus-repository.png
  docs/documentation/images/registry/nexus/nexus-role.png
  docs/documentation/images/registry/nexus/nexus-user.png
  docs/documentation/images/registry/nexus/nexus1.png
  docs/documentation/images/registry/nexus/nexus2.png
  docs/documentation/images/registry/nexus/nexus3.png
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, skip/e2e

#3042 Add ability to control default list of ClusterIssuers
  modules/101-cert-manager/openapi/config-values.yaml
  modules/101-cert-manager/openapi/doc-ru-config-values.yaml
  modules/101-cert-manager/template_tests/module_test.go
  modules/101-cert-manager/templates/cert-manager/clusterissuer-letsencrypt-staging.yaml
  modules/101-cert-manager/templates/cert-manager/clusterissuer-letsencrypt.yaml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21

#3059 [site] Update info about subscription plans
  docs/site/pages/enterprise_edition.html
  docs/site/pages/enterprise_edition_ru.html
Labels: area/docs, skip/e2e

#3066 [doc] Fix redirects
  docs/site/.helm/templates/_rewrites.tpl
Labels: area/docs

#3062 [node-manager] Fix ng expander cm
  modules/040-node-manager/template_tests/module_test.go
  modules/040-node-manager/templates/cluster-autoscaler/expander-cm.yaml
Labels: e2e/use/cri/containerd, status/backport, e2e/use/k8s/1.23, skip/e2e

#3069 Backport: [node-manager] Fix ng expander cm
  modules/040-node-manager/template_tests/module_test.go
  modules/040-node-manager/templates/cluster-autoscaler/expander-cm.yaml
Labels: auto, backported

#3068 Changelog v1.40.3
  CHANGELOG/CHANGELOG-v1.40.3.yml
  CHANGELOG/CHANGELOG-v1.40.md
Labels: changelog, auto, status/backport

#3070 Backport: Changelog v1.40.3
  CHANGELOG/CHANGELOG-v1.40.3.yml
  CHANGELOG/CHANGELOG-v1.40.md
Labels: auto, backported

#3067 [doc] Add redirects
  docs/documentation/.helm/templates/_rewrites.tpl
Labels: area/docs, skip/e2e

#3057 [node-manager] add alert on master ng absent taint
  modules/040-node-manager/hooks/handle_node_templates.go
  modules/040-node-manager/hooks/handle_node_templates_test.go
  modules/040-node-manager/monitoring/prometheus-rules/node-group.tpl
Labels: skip/e2e

#2959 [node-manager] refactor standby nodes overprovisioning
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
  modules/040-node-manager/hooks/discover_standby_ng.go
  modules/040-node-manager/hooks/discover_standby_ng_test.go
  modules/040-node-manager/hooks/internal/v1/nodegroup.go
  modules/040-node-manager/hooks/internal/v1/nodegroup_generated.deepcopy.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21

#3001 [monitoring-kubernetes] fix kube_pod_info{host_network=true} expression
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/controller.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/namespace.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/pod.json
Labels: e2e/use/cri/containerd, status/backport, e2e/use/k8s/1.23, source/internal-client

#3080 Backport: [monitoring-kubernetes] fix kube_pod_info{host_network=true} expression
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/controller.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/namespace.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/pod.json
Labels: auto, backported

#3085 [site] Fix the menu of versions on the site
  docs/site/.helm/templates/20-ingress.yaml
  docs/site/_includes/channel-menu.html
  docs/site/werf-debug.yaml
  docs/site/werf.yaml
Labels: area/docs, skip/e2e

#3086 [site] Add redirects for documentation versions lower than 1.38
  docs/site/.helm/templates/20-ingress.yaml
Labels: area/docs, skip/e2e

#2991 [upmeter,e2e] Smoke test with upmeter server, using per-probe public uptime
  modules/500-upmeter/images/upmeter/Makefile
  modules/500-upmeter/images/upmeter/pkg/db/context/context.go
  modules/500-upmeter/images/upmeter/pkg/db/context/pool.go
  modules/500-upmeter/images/upmeter/pkg/db/dao/episode30s.go
  modules/500-upmeter/images/upmeter/pkg/db/dao/episode5m.go
  modules/500-upmeter/images/upmeter/pkg/db/dao/exporting.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/dex.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_daemonset.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_nodegroup.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/prometheus.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/prometheus_metrics_adapter.go
  modules/500-upmeter/images/upmeter/pkg/server/api/episode_test.go
  modules/500-upmeter/images/upmeter/pkg/server/api/parse_test.go
  modules/500-upmeter/images/upmeter/pkg/server/api/public_status.go
  modules/500-upmeter/images/upmeter/pkg/server/api/public_status_test.go
  modules/500-upmeter/images/upmeter/pkg/server/api/status.go
  modules/500-upmeter/images/upmeter/pkg/server/entity/episode_test.go
  modules/500-upmeter/images/upmeter/pkg/server/entity/status.go
  modules/500-upmeter/images/upmeter/pkg/server/entity/status_test.go
  modules/500-upmeter/images/upmeter/pkg/server/ranges/steprange.go
  modules/500-upmeter/images/upmeter/pkg/server/ranges/steprange_test.go
  modules/500-upmeter/images/upmeter/pkg/server/server.go
  testing/cloud_layouts/script.sh
Labels: area/monitoring, area/testing, e2e/use/cri/containerd

#3094 [cloud-provider-yandex] fix: test fails on unmarshaling YAML with duplicated keys
  modules/030-cloud-provider-yandex/hooks/yandex_cluster_configuration_test.go
Labels: area/testing, skip/e2e

#3027 [admission-policy-engine] admission policy validation webhook include only tracked resources
  candi/control-plane-kubeadm/config.yaml.tpl
  modules/015-admission-policy-engine/hooks/detect_validation_resources.go
  modules/015-admission-policy-engine/hooks/detect_validation_resources_test.go
  modules/015-admission-policy-engine/images/constraint-exporter/go.mod
  modules/015-admission-policy-engine/images/constraint-exporter/go.sum
  modules/015-admission-policy-engine/images/constraint-exporter/main.go
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/gatekeeper/constraints.go
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/kinds/kinds.go
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/kinds/kinds_test.go
  modules/015-admission-policy-engine/openapi/values.yaml
  modules/015-admission-policy-engine/template_tests/module_test.go
  modules/015-admission-policy-engine/template_tests/policies_test.go
  modules/015-admission-policy-engine/templates/audit-deployment.yaml
  modules/015-admission-policy-engine/templates/rbac-for-us.yaml
  modules/015-admission-policy-engine/templates/service.yaml
  modules/015-admission-policy-engine/templates/validatingwebhookconfiguration.yaml
  modules/021-kube-proxy/templates/configmap.yaml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.20

#2983 [candi] various bashible fixes and improvements
  candi/bashible/bashbooster/50_deckhouse_registrypackages.sh
  candi/bashible/bundles/centos/all/000_install_ca_certificates.sh.tpl
  candi/bashible/bundles/centos/bootstrap.sh.tpl
  candi/bashible/bundles/debian/all/000_install_ca_certificates.sh.tpl
  candi/bashible/bundles/ubuntu-lts/all/000_install_ca_certificates.sh.tpl
  candi/bashible/common-steps/all/001_set_system_proxy.sh.tpl
  candi/bashible/common-steps/node-group/050_configure_and_start_containerd.sh.tpl
  ee/candi/bashible/bundles/alteros/all/000_install_ca_certificates.sh.tpl
  ee/candi/bashible/bundles/astra/all/000_install_ca_certificates.sh.tpl
  ee/candi/bashible/bundles/redos/all/000_install_ca_certificates.sh.tpl
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context_builder.go
  modules/040-node-manager/templates/bashible-apiserver/deployment.yaml
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.23

#3089 [cloud-provider-vsphere] Bump csi driver to v2.5.4
  ee/modules/030-cloud-provider-vsphere/images/vsphere-csi-plugin/Dockerfile
Labels: area/cloud-provider, e2e/use/cri/containerd, e2e/use/k8s/1.21

#3101 [dhctl] Fix struct_vs_unmarshal test
  dhctl/pkg/kubernetes/actions/manifests/manifests_test.go
Labels: area/testing, area/cli, skip/e2e

#3039 [basic-auth] Better error in secret validation
  ee/fe/modules/500-basic-auth/hooks/generate_passwords.go
Labels: e2e/use/cri/containerd, type/chore, e2e/use/k8s/1.23

#3108 [docs][yandex-cloud] Remove the Standard layout (Yandex Cloud)
  candi/cloud-providers/yandex/docs/LAYOUTS.md
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
  docs/site/_data/getting_started/data.yaml
Labels: area/cloud-provider, area/docs, skip/e2e

#3058 [ceph-csi] update to 3.72
  modules/099-ceph-csi/images/cephcsi/Dockerfile
Labels: area/storage, type/chore

#3031 [docs] Added remarks about wildcard usage. Added no_proxy variable in helm_lib.
  docs/site/_includes/getting_started/global/step_cluster_setup.html
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/doc-ru-config-values.yaml
  helm_lib/templates/_envs_for_proxy.tpl
Labels: area/docs

#2896 [deckhouse][istio][flant-integration] Add telemetry metrics scrape
  ee/modules/110-istio/hooks/dataplane_metadata_exporter.go
  ee/modules/110-istio/hooks/dataplane_metadata_exporter_test.go
  ee/modules/110-istio/hooks/discovery_versions_to_install.go
  ee/modules/110-istio/hooks/discovery_versions_to_install_test.go
  ee/modules/600-flant-integration/templates/pricing/config.yaml
  go_lib/telemetry/telemetry.go
  modules/002-deckhouse/hooks/metrics.go
  modules/002-deckhouse/hooks/metrics_test.go
  modules/002-deckhouse/templates/service.yaml
  modules/300-prometheus/images/grafana/grafana_home_dashboard.json
Labels: area/monitoring, type/enhancement, e2e/use/k8s/1.23, skip/e2e

#3119 [docs] Fix supported os list
  docs/documentation/_data/version_map_addition.yml
Labels: area/docs

#3120 Backport: [docs] Fix supported os list
  docs/documentation/_data/version_map_addition.yml
Labels: auto, backported

#3109 [e2e tests, azure] Fix zone discovery and matching
  modules/500-upmeter/hooks/dynamic_probe/hook.go
  modules/500-upmeter/hooks/dynamic_probe/hook_test.go
  modules/500-upmeter/hooks/dynamic_probe/names.go
  modules/500-upmeter/images/upmeter/cmd/upmeter/parse_args.go
  modules/500-upmeter/images/upmeter/pkg/agent/agent.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_nodegroup.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_nodegroups.go
  modules/500-upmeter/images/upmeter/pkg/probe/load.go
  modules/500-upmeter/openapi/values.yaml
  modules/500-upmeter/templates/upmeter-agent/daemonset.yaml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#3038 [DX] Fix code generation when /deckhouse is symlinked
  deckhouse-controller/register/main.go
  testing/helm/init.go
  tools/audit_policy/main.go
  tools/build.go
  tools/register/main.go
Labels: area/dx

#3064 Increasing failureThreshold of startupProbes for main and longterm prometheus objects
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21

#3110 [metallb] Add validation for addressPools name
  ee/modules/380-metallb/docs/EXAMPLES.md
  ee/modules/380-metallb/docs/EXAMPLES_RU.md
  ee/modules/380-metallb/openapi/config-values.yaml
  ee/modules/380-metallb/openapi/doc-ru-config-values.yaml
  ee/modules/380-metallb/openapi/openapi-case-tests.yaml
Labels: area/docs

#3100 [deckhouse-config] update version for configs with empty spec.settings
  go_lib/deckhouse-config/status.go
  modules/003-deckhouse-config/hooks/update_status.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#3124 Increasing query.maxSamples value for Prometheus
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21

#3125 [deckhouse-config] fix: ignore ModuleConfig resources with invalid spec.settings
  global-hooks/deckhouse-config/ensure_crd_test.go
  global-hooks/deckhouse-config/startup_sync.go
  global-hooks/deckhouse-config/startup_sync_test.go
  go_lib/deckhouse-config/initial_config_loader.go
  go_lib/deckhouse-config/status.go
  go_lib/deckhouse-config/validator.go
  go_lib/deckhouse-config/validator_test.go
  modules/003-deckhouse-config/crds/module-config.yaml
  modules/003-deckhouse-config/hooks/sync_configmap.go
  modules/003-deckhouse-config/hooks/sync_configmap_test.go
  modules/003-deckhouse-config/hooks/testdata/update-status/modules/001-module-one/openapi/config-values.yaml
  modules/003-deckhouse-config/hooks/update_status_test.go
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.mod
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.sum
  modules/003-deckhouse-config/images/deckhouse-config-webhook/module_config.go
  testing/conversion/init.go
Labels: skip/documentation-validation, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3130 [site] Fix footer nav
  docs/site/css/components/_footer.scss
Labels: area/docs

#3112 [docs] Clarify using the ClusterConfiguration and the <provider>ClusterConfiguration parameters
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
Labels: area/docs, skip/e2e

#3121 [ingress-nginx] Min ready seconds
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: skip/e2e

#3137 Backport: [upmeter,e2e] Smoke test with upmeter server, using per-probe public uptime
  modules/500-upmeter/images/upmeter/Makefile
  modules/500-upmeter/images/upmeter/pkg/db/context/context.go
  modules/500-upmeter/images/upmeter/pkg/db/context/pool.go
  modules/500-upmeter/images/upmeter/pkg/db/dao/episode30s.go
  modules/500-upmeter/images/upmeter/pkg/db/dao/episode5m.go
  modules/500-upmeter/images/upmeter/pkg/db/dao/exporting.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/dex.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_daemonset.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_nodegroup.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/prometheus.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/prometheus_metrics_adapter.go
  modules/500-upmeter/images/upmeter/pkg/server/api/episode_test.go
  modules/500-upmeter/images/upmeter/pkg/server/api/parse_test.go
  modules/500-upmeter/images/upmeter/pkg/server/api/public_status.go
  modules/500-upmeter/images/upmeter/pkg/server/api/public_status_test.go
  modules/500-upmeter/images/upmeter/pkg/server/api/status.go
  modules/500-upmeter/images/upmeter/pkg/server/entity/episode_test.go
  modules/500-upmeter/images/upmeter/pkg/server/entity/status.go
  modules/500-upmeter/images/upmeter/pkg/server/entity/status_test.go
  modules/500-upmeter/images/upmeter/pkg/server/ranges/steprange.go
  modules/500-upmeter/images/upmeter/pkg/server/ranges/steprange_test.go
  modules/500-upmeter/images/upmeter/pkg/server/server.go
  testing/cloud_layouts/script.sh
Labels: auto, backported

#3150 [user-authz] Fix kubeconfig doc for Kubernetes 1.24
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: area/docs

#3151 Backport: [user-authz] Fix kubeconfig doc for Kubernetes 1.24
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: auto, backported

#3152 Backport: [user-authz] Fix kubeconfig doc for Kubernetes 1.24
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: auto, backported

#3141 [site] Added honeypot in forms
  docs/site/_includes/request_access_form.html
  docs/site/_includes/request_callback_form.html
  docs/site/_includes/request_education_form.html
  docs/site/js/popup-form.js
Labels: area/docs, skip/e2e

#3135 [node-manager] Add note about Manual approval mode for master
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
Labels: area/docs, status/backport, source/internal-client, skip/e2e

#3153 Backport: [node-manager] Add note about Manual approval mode for master
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
Labels: auto, backported

#3154 Backport: [node-manager] Add note about Manual approval mode for master
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
Labels: auto, backported

#3156 [node-manager] Fix script name generation in the bashible-apiserver
  modules/040-node-manager/images/bashible-apiserver/pkg/template/node_group_configuration.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/steps_storage.go
Labels: status/backport

#3157 Backport: [node-manager] Fix script name generation in the bashible-apiserver
  modules/040-node-manager/images/bashible-apiserver/pkg/template/node_group_configuration.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/steps_storage.go
Labels: auto, backported

#3158 [site] Added Deckhouse vacancy link
  docs/site/_data/footer.yaml
  docs/site/_data/topnav.yml
Labels: area/docs

#3117 [log-shipper] Add Splunk destination
  modules/460-log-shipper/apis/v1alpha1/cluster_log_destination.go
  modules/460-log-shipper/apis/v1alpha1/types.go
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
  modules/460-log-shipper/hooks/generate_config_test.go
  modules/460-log-shipper/hooks/internal/composer/composer.go
  modules/460-log-shipper/hooks/internal/vector/destination/splunk.go
  modules/460-log-shipper/hooks/testdata/file-to-splunk/manifests.yaml
  modules/460-log-shipper/hooks/testdata/file-to-splunk/result.json
  modules/460-log-shipper/images/vector/Dockerfile
Labels: area/monitoring

#3160 [deckhouse-config] fix: do not list ModuleConfig if migration in progress
  global-hooks/deckhouse-config/startup_sync.go
  global-hooks/deckhouse-config/startup_sync_test.go
  go_lib/deckhouse-config/initial_config_loader.go
  testing/cloud_layouts/script.sh
Labels: area/testing, area/core

#3166 [user-authz] Fix markdown lint errors
  modules/140-user-authz/docs/USAGE.md
Labels: skip/documentation-validation, skip/e2e

#3077 [flant-integration] Filter master nodes based on "node.deckhouse.io/group" and consider "node-role.kubernetes.io/master" taint for dedicated master
  ee/modules/600-flant-integration/hooks/pricing/envs_from_nodes.go
Labels: area/monitoring, e2e/use/cri/containerd, e2e/use/k8s/1.23

#2885 [candi] Switch base images from Debian to Ubuntu & update BASE_UBUNTU to Jammy
  candi/image_versions.yml
  ee/modules/007-registrypackages/images/kubelet-astra/werf.inc.yaml
  ee/modules/030-cloud-provider-openstack/images/cinder-csi-plugin/werf.inc.yaml
  ee/modules/030-cloud-provider-openstack/images/cloud-controller-manager/werf.inc.yaml
  ee/modules/030-cloud-provider-vsphere/images/vsphere-csi-plugin-legacy/Dockerfile
  ee/modules/030-cloud-provider-vsphere/images/vsphere-csi-plugin/Dockerfile
  ee/modules/110-istio/images/operator-v1x12x6/Dockerfile
  ee/modules/110-istio/images/operator-v1x13x7/Dockerfile
  ee/modules/110-istio/images/pilot-v1x12x6/Dockerfile
  ee/modules/110-istio/images/pilot-v1x13x7/Dockerfile
  ee/modules/110-istio/images/proxyv2-v1x12x6/Dockerfile
  ee/modules/110-istio/images/proxyv2-v1x13x7/Dockerfile
  ee/modules/600-flant-integration/images/grafana-agent/Dockerfile
  modules/007-registrypackages/images/kubelet-debian/werf.inc.yaml
  modules/007-registrypackages/images/kubelet-ubuntu/werf.inc.yaml
  modules/030-cloud-provider-aws/images/ebs-csi-plugin/Dockerfile
  modules/030-cloud-provider-azure/images/azuredisk-csi/Dockerfile
  modules/030-cloud-provider-gcp/images/pd-csi-plugin/Dockerfile
  modules/041-linstor/images/drbd-driver-loader/Dockerfile
  modules/041-linstor/images/drbd-reactor/Dockerfile
  modules/041-linstor/images/linstor-affinity-controller/Dockerfile
  modules/041-linstor/images/linstor-csi/Dockerfile
  modules/041-linstor/images/linstor-pools-importer/Dockerfile
  modules/041-linstor/images/linstor-scheduler-extender/Dockerfile
  modules/041-linstor/images/linstor-server/Dockerfile
  modules/041-linstor/images/piraeus-ha-controller/Dockerfile
  modules/041-linstor/images/piraeus-operator/Dockerfile
  modules/041-linstor/images/spaas/Dockerfile
  modules/300-prometheus/images/grafana/Dockerfile
  modules/340-monitoring-kubernetes/images/ebpf-exporter/Dockerfile
  modules/460-log-shipper/images/vector/Dockerfile
  testing/matrix/linter/rules/modules/images.go
  testing/run
  werf.yaml
Labels: area/security, area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3122 [bashible] Show bash debug output for failed sources steps when bootstrap cluster.
  candi/bashible/bashible.sh.tpl
Labels: area/cluster-and-infrastructure, area/cli

#3172 Backport: [upmeter, azure, e2e tests] Fix zone discovery and matching
  modules/500-upmeter/hooks/dynamic_probe/hook.go
  modules/500-upmeter/hooks/dynamic_probe/hook_test.go
  modules/500-upmeter/hooks/dynamic_probe/names.go
  modules/500-upmeter/images/upmeter/cmd/upmeter/parse_args.go
  modules/500-upmeter/images/upmeter/pkg/agent/agent.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_nodegroup.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_nodegroups.go
  modules/500-upmeter/images/upmeter/pkg/probe/load.go
  modules/500-upmeter/openapi/values.yaml
  modules/500-upmeter/templates/upmeter-agent/daemonset.yaml
Labels: auto, backported

#3179 Backport: Changelog v1.41.0
  CHANGELOG/CHANGELOG-v1.41.0.yml
  CHANGELOG/CHANGELOG-v1.41.md
Labels: auto, backported

#3139 [monitoring-ping] Skip unschedulable nodes
  modules/340-monitoring-ping/hooks/discover_targets.go
  modules/340-monitoring-ping/hooks/discover_targets_test.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#3184 Backport: [node-manager] NodeGroup priority examples
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#3181 [deckhouse-config] fix CE build of the deckhouse-config-webhook
  modules/003-deckhouse-config/images/deckhouse-config-webhook/register.go
  modules/003-deckhouse-config/images/deckhouse-config-webhook/werf.inc.yaml
Labels: status/backport

#3187 Backport: [deckhouse-config] fix CE build of the deckhouse-config-webhook
  modules/003-deckhouse-config/images/deckhouse-config-webhook/register.go
  modules/003-deckhouse-config/images/deckhouse-config-webhook/werf.inc.yaml
Labels: auto, backported

#3186 Changelog v1.41.0
  CHANGELOG/CHANGELOG-v1.41.0.yml
Labels: changelog, auto, status/backport

#3188 Backport: Changelog v1.41.0
  CHANGELOG/CHANGELOG-v1.41.0.yml
Labels: auto, backported

#3165 [dhctl] Fix restart bootstrap cluster
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
Labels: area/cli, status/backport

#3190 Backport: [dhctl] Fix restart bootstrap cluster
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
Labels: auto, backported

#3189 Changelog v1.41.0
  CHANGELOG/CHANGELOG-v1.41.0.yml
Labels: changelog, auto, status/backport

#3191 Backport: Changelog v1.41.0
  CHANGELOG/CHANGELOG-v1.41.0.yml
Labels: auto, backported
