Repository deckhouse/deckhouse, pull requests merged in 2022-01, with the labels that each got.

#463 [docs][control-plane-manager] Add instruction on how to add master nodes in a cloud cluster
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs

#515 [ingress-nginx] add pcre_jit on in nginx.tmpl for controller-0.46 and above
  modules/402-ingress-nginx/images/controller-0-46/patches/nginx-tpl.patch
  modules/402-ingress-nginx/images/controller-0-48/patches/nginx-tpl.patch
  modules/402-ingress-nginx/images/controller-0-49/patches/nginx-tpl.patch
  modules/402-ingress-nginx/images/controller-1-0/patches/nginx-tpl.patch
Labels: area/network

#551 [cert-manager] Disable legacy cert-manager for K8s >= 1.22
  modules/101-cert-manager/templates/annotations-converter/mutatingwebhookconfiguration.yaml
  modules/101-cert-manager/templates/legacy/cert-manager/deployment.yaml
  modules/101-cert-manager/templates/legacy/cert-manager/pdb.yaml
  modules/101-cert-manager/templates/legacy/cert-manager/podmonitor.yaml
  modules/101-cert-manager/templates/legacy/webhook/apiservice.yaml
  modules/101-cert-manager/templates/legacy/webhook/deployment.yaml
  modules/101-cert-manager/templates/legacy/webhook/pdb.yaml
  modules/101-cert-manager/templates/legacy/webhook/service.yaml
  modules/101-cert-manager/templates/webhook/mutatingwebhookconfiguration.yaml
  modules/101-cert-manager/templates/webhook/validatingwebhookconfiguration.yaml
Labels: area/security

#532 [monitoring][grafana] Migrate old tables to new and replace from __cell variable to __value and add time interval to url
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/controller.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/namespace.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/namespaces.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/pod.json
  modules/402-ingress-nginx/monitoring/grafana-dashboards/ingress-nginx/namespace/namespace_detail.json
  modules/402-ingress-nginx/monitoring/grafana-dashboards/ingress-nginx/namespace/namespaces.json
  modules/402-ingress-nginx/monitoring/grafana-dashboards/ingress-nginx/vhost/vhost_detail.json
  modules/402-ingress-nginx/monitoring/grafana-dashboards/ingress-nginx/vhost/vhosts.json
  modules/402-ingress-nginx/monitoring/grafana-dashboards/kubernetes-cluster/controller-detail.json
  modules/402-ingress-nginx/monitoring/grafana-dashboards/kubernetes-cluster/controllers.json
Labels: type/bug, status/backport

#554 [cert-manager] Update mutating webhook for k8s 1.22
  modules/101-cert-manager/images/annotations-converter/go.mod
  modules/101-cert-manager/images/annotations-converter/go.sum
  modules/101-cert-manager/images/annotations-converter/main.go
  modules/101-cert-manager/templates/annotations-converter/mutatingwebhookconfiguration.yaml
  modules/101-cert-manager/templates/webhook/mutatingwebhookconfiguration.yaml
  modules/101-cert-manager/templates/webhook/validatingwebhookconfiguration.yaml
Labels: area/auth

#563 [istio][openapi] missing customCertificateData fix
  ee/modules/110-istio/openapi/values.yaml
Labels: area/network, type/bug, status/backport

#559 [user-authn] fix secret name in crowd-proxy deployment
  modules/150-user-authn/templates/_helpers.tpl
  modules/150-user-authn/templates/crowd-basic-auth-proxy/ingress.yaml
Labels: area/auth, status/backport

#553 [docs] Clarify last step for switching to custom registry
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: type/bug, area/docs

#568 [bashible] disable ntp.service on nodes
  candi/bashible/common-steps/all/001_disable_ntp_on_node.sh.tpl
Labels: type/bug

#569 [helm] provide actual alerts description
  modules/999-helm/monitoring/prometheus-rules/deprecated-versions.yaml
Labels: area/ux

#567 [control-plane-manager] Fix LoadBalancer config values
  modules/040-control-plane-manager/openapi/config-values.yaml
Labels: type/bug, area/cluster-and-infrastructure, skip/documentation-validation

#405 [bashible] enable centos selinux enforcing mode
  candi/bashible/bundles/centos-7/all/001_install_mandatory_selinux_policies.sh.tpl
  candi/bashible/bundles/centos-7/all/005_disable_selinux.sh.tpl
  candi/bashible/bundles/centos-7/all/005_enable_selinux.sh.tpl
Labels: type/enhancement

#566 [ci] fix getting pull request info
  .github/ci_templates/helper_jobs.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/on-pull-request-labeled.yml
  .github/workflows/validation.yml
Labels: area/dx

#571 [node-manager][bashible-apiserver] Fix: no context for node groups in static cluster
  dhctl/pkg/kubernetes/actions/deckhouse/log.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context_builder.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context_builder_test.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/test_data/openstack-with-centos/images_tags.json
  modules/040-node-manager/images/bashible-apiserver/pkg/template/test_data/openstack-with-centos/input.yaml
  modules/040-node-manager/images/bashible-apiserver/pkg/template/test_data/openstack/images_tags.json
  modules/040-node-manager/images/bashible-apiserver/pkg/template/test_data/openstack/input.yaml
Labels: type/bug, area/cluster-and-infrastructure, area/cli, status/backport

#556 [okmeter] pull and update image based on tag
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  ee/fe/modules/500-okmeter/hooks/common_test.go
  ee/fe/modules/500-okmeter/hooks/update_agent_image.go
  ee/fe/modules/500-okmeter/images/okagent/Dockerfile
  ee/fe/modules/500-okmeter/monitoring/prometheus-rules/alerting.yaml
  ee/fe/modules/500-okmeter/openapi/config-values.yaml
  ee/fe/modules/500-okmeter/openapi/doc-ru-config-values.yaml
  ee/fe/modules/500-okmeter/openapi/values.yaml
  ee/fe/modules/500-okmeter/templates/daemonset.yaml
  ee/fe/modules/500-okmeter/templates/registry.yaml
  go_lib/dependency/cr/cr.go
  go_lib/dependency/cr/cr_mock.go
  go_lib/dependency/dependency.go
  modules/020-deckhouse/hooks/check_deckhouse_release.go
  modules/020-deckhouse/hooks/set_module_image_value.go
  modules/020-deckhouse/hooks/update_deckhouse_image.go
  modules/020-deckhouse/hooks/update_deckhouse_image_test.go
Labels: area/monitoring

#573 [deckhouse] Cleanup and fix deckhouse releases
  modules/020-deckhouse/hooks/cleanup_deckhouse_releases.go
  modules/020-deckhouse/hooks/cleanup_deckhouse_releases_test.go
Labels: area/core, status/backport

#565 [docs] Add documentation on using Harbor as a third-party registry
  docs/documentation/images/registry/harbor/harbor1.png
  docs/documentation/images/registry/harbor/harbor2.png
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/ok-to-test

#574 [site] Add success story
  docs/site/_data/stories.yaml
  docs/site/images/clients/mindbox.svg
Labels: area/docs

#558 [global] update kubernetes patch versions
  candi/version_map.yml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.20, e2e/use/k8s/1.21, e2e/use/k8s/1.22

#582 [site] Don't show a parameter's default value in an OpenAPI spec
  docs/documentation/_plugins/openapi.rb
Labels: area/docs

#581 [Changelog CI] Fix missing changes
  .github/actions/milestone-changelog/action.yml
Labels: area/dx

#586 [ci] checkout sources before deploy site and docs
  .github/workflow_templates/build-and-test_release.yml
  .github/workflows/build-and-test_release.yml
Labels: area/dx

#562 [dhctl][global] Add control-plane role for master node group
  dhctl/pkg/config/meta.go
  modules/040-node-manager/hooks/add_control_plane_role_to_master_ng.go
  modules/040-node-manager/hooks/add_control_plane_role_to_master_ng_test.go
Labels: area/cluster-and-infrastructure, area/cli

#584 [istio][doc] globalVersion clarification
  ee/modules/110-istio/openapi/config-values.yaml
  ee/modules/110-istio/openapi/doc-ru-config-values.yaml
Labels: area/network

#594 [site] Minor updates
  docs/documentation/_plugins/openapi.rb
  ee/modules/110-istio/crds/doc-ru-istiomulticluster.yaml
  ee/modules/110-istio/crds/istiomulticluster.yaml
  ee/modules/110-istio/openapi/config-values.yaml
  ee/modules/110-istio/openapi/doc-ru-config-values.yaml
Labels: area/docs

#575 [istio][ingressgateway] static port for NodePort inlet
  ee/modules/110-istio/openapi/config-values.yaml
  ee/modules/110-istio/openapi/doc-ru-config-values.yaml
  ee/modules/110-istio/template_tests/module_test.go
  ee/modules/110-istio/templates/alliance/ingressgateway/service.yaml
Labels: type/enhancement

#587 [cert-manager] Add dynamic annotation for orphan-secrets alert description
  modules/101-cert-manager/hooks/legacy_orphan_secrets_metrics.go
  modules/101-cert-manager/hooks/legacy_orphan_secrets_metrics_test.go
  modules/101-cert-manager/hooks/orphan_secrets_metrics.go
  modules/101-cert-manager/hooks/orphan_secrets_metrics_test.go
  modules/101-cert-manager/monitoring/prometheus-rules/certificate.yaml
Labels: area/auth

#473 [bashible] Docker face slapper (pods stuck in terminating)
  candi/bashible/common-steps/node-group/089_setup_timer_to_run_docker_stuck_containers_cleaner.sh.tpl
Labels: area/cluster-and-infrastructure

#600 [site] Update resource generator
  docs/documentation/_plugins/openapi.rb
Labels: area/docs

#601 [site] Use the Stable version of the documentation by default
  docs/site/.helm/values.yaml
Labels: area/docs

#467 [control-plane-manager] default audit policy
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
  modules/040-control-plane-manager/docs/README.md
  modules/040-control-plane-manager/docs/README_RU.md
  modules/040-control-plane-manager/hooks/audit_policy.go
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/040-control-plane-manager/hooks/audit_policy_test.go
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
  tools/audit_policy.go
  tools/audit_policy/main.go
Labels: area/monitoring

#610 [ci] Fix openstack e2e test running
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-openstack.yml
Labels: area/testing

#612 [ci] Fix google cloud platform e2e test running
  .github/scripts/js/constants.js
Labels: area/testing

#609 [user-authz] Doc: fix subject access groups option name
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: area/auth

#617 [docs] OpenAPI generation updates
  candi/openapi/node_group.yaml
  docs/documentation/_data/i18n.yml
  docs/documentation/_plugins/openapi.rb
Labels: area/docs

#599 [monitoring] Replace severity by severity_level
  ee/fe/modules/340-monitoring-applications/monitoring/prometheus-rules/applications/nats/nats.yaml
  ee/fe/modules/340-monitoring-applications/monitoring/prometheus-rules/applications/php-fpm/php-fpm.yaml
  ee/fe/modules/340-monitoring-applications/monitoring/prometheus-rules/applications/rabbitmq/rabbitmq.yaml
  modules/030-cloud-provider-yandex/openapi/values.yaml
  modules/101-cert-manager/monitoring/prometheus-rules/certificate.yaml
  modules/340-monitoring-kubernetes-control-plane/monitoring/prometheus-rules/kube-controller-manager.yaml
  modules/340-monitoring-kubernetes-control-plane/monitoring/prometheus-rules/kube-scheduler.yaml
  modules/340-monitoring-kubernetes-control-plane/monitoring/prometheus-rules/kubernetes.tpl
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/coreos/general.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/coreos/kube-state-metrics.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/coreos/kubelet.tpl
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/coreos/node.yaml
Labels: area/monitoring

#604 [prometheus][deckhouse] Add supporting ServiceMonitors and PodMonitors from user-space
  modules/020-deckhouse/templates/namespace.yaml
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
  modules/300-prometheus/docs/internal/PROMETHEUS_TARGETS_DEVELOPMENT.md
  modules/300-prometheus/docs/internal/PROMETHEUS_TARGETS_DEVELOPMENT_RU.md
  modules/300-prometheus/templates/prometheus/prometheus.yaml
  modules/340-monitoring-custom/monitoring/prometheus-rules/warnings/warnings.yaml
Labels: area/monitoring

#605 [site] Fix getting started
  docs/site/_includes/getting_started/bm/step_cluster_setup.html
  docs/site/_includes/getting_started/bm/step_cluster_setup_ru.html
  docs/site/_includes/getting_started/global/partials/getting-started-setup.js.liquid
  docs/site/_includes/getting_started/global/step_cluster_setup.html
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
Labels: area/docs

#632 [bashible] disable_ntp step refactoring
  candi/bashible/common-steps/all/001_disable_ntp_on_node.sh.tpl
Labels: type/refactoring, area/cluster-and-infrastructure

#628 [ci] fix: remove exit 0
  .github/workflow_templates/deploy-channel.multi.yml
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
Labels: status/backport

#634 [keepalived] Change VPA update mode to initial
  ee/fe/modules/450-keepalived/templates/statefulset.yaml
Labels: type/bug

#591 [deckhouse][docs] Fix images copier docs
  modules/020-deckhouse/docs/internal/IMAGE_COPIER.md
  modules/020-deckhouse/images/images-copier/generate-copier-secret.sh
Labels: area/docs, skip/documentation-validation

#636 [deckhouse-controller] add more debug commands
  go.mod
  go.sum
Labels: area/core

#642 [docs] Getting started and prometheus-metrics-adapter minor changes
  docs/documentation/.helm/templates/20-ingress.yaml
  docs/site/.helm/templates/_helpers.tpl
  docs/site/.helm/values.yaml
  docs/site/_includes/getting_started/azure/STEP_ENV.md
  docs/site/_includes/getting_started/azure/STEP_ENV_RU.md
  docs/site/_includes/getting_started/azure/layouts/STANDARD.md
  docs/site/_includes/getting_started/azure/layouts/STANDARD_RU.md
  docs/site/_includes/getting_started/bm/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/bm/STEP_INSTALL_SCHEMA_RU.md
  docs/site/_includes/getting_started/global/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/global/STEP_INSTALL_SCHEMA_RU.md
  docs/site/_includes/getting_started/global/partials/INSTALL_CONFIG.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_CONFIG_RU.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER_RU.liquid
  docs/site/_includes/getting_started/global/partials/NOTICES.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  docs/site/_includes/getting_started/global/select_revision.html
  docs/site/_includes/getting_started/global/step_cluster_setup.html
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
  docs/site/werf.yaml
  modules/301-prometheus-metrics-adapter/docs/CR.md
  modules/301-prometheus-metrics-adapter/docs/CR_RU.md
  modules/301-prometheus-metrics-adapter/docs/README.md
  modules/301-prometheus-metrics-adapter/docs/README_RU.md
  modules/301-prometheus-metrics-adapter/docs/USAGE.md
  modules/301-prometheus-metrics-adapter/docs/USAGE_RU.md
Labels: area/docs

#639 [bashible] Fix remove of docker
  candi/bashible/bundles/centos-7/node-group/031_install_containerd.sh.tpl
  candi/bashible/bundles/debian/node-group/031_install_containerd.sh.tpl
  candi/bashible/bundles/ubuntu-lts/node-group/031_install_containerd.sh.tpl
Labels: status/backport

#580 [node-manager] consider globally defined zones on standby calculations
  modules/040-node-manager/hooks/discover_standby_ng.go
  modules/040-node-manager/hooks/discover_standby_ng_test.go
Labels: area/cluster-and-infrastructure

#640 [istio][multicluster] multiclustersNeedIngressGateway fix
  ee/modules/110-istio/hooks/alliance_metadata_merge.go
Labels: type/bug, status/backport

#646 [deckhouse][image-copier] Change order of commands in docs and secret generator
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  modules/020-deckhouse/docs/internal/IMAGE_COPIER.md
  modules/020-deckhouse/images/images-copier/generate-copier-secret.sh
Labels: area/docs, skip/documentation-validation, status/backport

#647 [ci] use head commit of PR for predictable builds
  .github/ci_templates/helper_jobs.yml
  .github/scripts/js/ci.js
  .github/scripts/validation_run.sh
  .github/workflows/build-and-test_dev.yml
  .github/workflows/on-pull-request-labeled.yml
  .github/workflows/validation.yml
Labels: area/dx

#626 [monitoring-kubernetes-control-plane] Added sorted tables for apiserver metrics
  modules/340-monitoring-kubernetes-control-plane/monitoring/grafana-dashboards/kubernetes-cluster/control-plane-status.json
  modules/340-monitoring-kubernetes-control-plane/monitoring/grafana-dashboards/kubernetes-cluster/kube-etcd3.json
Labels: type/enhancement

#593 [user-authn] Add openapi spec
  modules/150-user-authn/.helmignore
  modules/150-user-authn/docs/CONFIGURATION.md
  modules/150-user-authn/docs/CONFIGURATION_RU.md
  modules/150-user-authn/hooks/discover_dex_ca_test.go
  modules/150-user-authn/hooks/discover_publish_api_cert_test.go
  modules/150-user-authn/openapi/config-values.yaml
  modules/150-user-authn/openapi/doc-ru-config-values.yaml
  modules/150-user-authn/openapi/openapi-case-tests.yaml
  modules/150-user-authn/openapi/values.yaml
  modules/150-user-authn/template_tests/copy_custom_certificate_test.go
  modules/150-user-authn/template_tests/publish_api_test.go
  modules/150-user-authn/template_tests/values.yaml
  modules/150-user-authn/values_matrix_test.yaml
  modules/810-deckhouse-web/openapi/config-values.yaml
  testing/matrix/linter/openapi.go
  testing/openapi_validation/validators/ha_and_https.go
Labels: area/auth, skip/documentation-validation

#651 [user-authn] Fix. No fill kubernetesDexClientAppSecret value
  modules/150-user-authn/hooks/generate_kubernetes_dex_client_app_secret.go
  modules/150-user-authn/hooks/generate_kubernetes_dex_client_app_secret_test.go
Labels: area/auth

#643 [chrony] Disable ntp on nodes by custom bashible step
  candi/bashible/common-steps/all/001_disable_ntp_on_node.sh.tpl
  modules/470-chrony/docs/FAQ.md
  modules/470-chrony/docs/FAQ_RU.md
  modules/470-chrony/templates/bashible-step.yaml
Labels: type/enhancement, status/backport

#635 [ci] fix: use prNUM as docker tag for deckhouse dev images
  .github/ci_templates/build.yml
  .github/ci_templates/e2e_tests.yml
  .github/ci_templates/helper_jobs.yml
  .github/ci_templates/web.yml
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/schedule-cleanup.yml
  .github/workflows/suspend-alpha.yml
  .github/workflows/suspend-beta.yml
  .github/workflows/suspend-early-access.yml
  .github/workflows/suspend-rock-solid.yml
  .github/workflows/suspend-stable.yml
  testing/cloud_layouts/script.sh
Labels: area/dx

#653 [chrony] fix ntp services list in bashible step
  modules/470-chrony/templates/bashible-step.yaml
Labels: type/bug, status/backport

#657 [chrony] bashible step name fix
  modules/470-chrony/templates/bashible-step.yaml
Labels: type/bug, status/backport

#658 [deckhouse] fix requirements semver
  modules/040-control-plane-manager/hooks/requirements.go
  modules/040-control-plane-manager/hooks/requirements_test.go
Labels: area/core

#595 [node-manager] update nodeUser resource
  candi/bashible/common-steps/all/090_node_users.sh.tpl
  candi/bashible/common-steps/node-group/090_node_users.sh.tpl
  modules/040-node-manager/crds/doc-ru-nodeuser.yaml
  modules/040-node-manager/crds/nodeuser.yaml
  modules/040-node-manager/hooks/get_node_user_crds.go
  modules/040-node-manager/hooks/get_node_user_crds_test.go
  modules/040-node-manager/hooks/internal/v1alpha1/doc.go
  modules/040-node-manager/hooks/internal/v1alpha1/nodeuser.go
  modules/040-node-manager/hooks/internal/v1alpha1/nodeuser_generated.deepcopy.go
  modules/040-node-manager/images/bashible-apiserver/go.mod
  modules/040-node-manager/images/bashible-apiserver/pkg/apiserver/apiserver.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context_builder.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/emitter.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/funcs.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/node_group_configuration.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/node_user.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/steps_storage.go
  modules/040-node-manager/openapi/values.yaml
  modules/040-node-manager/template_tests/module_test.go
  modules/040-node-manager/templates/bashible-apiserver/rbac-for-us.yaml
  modules/040-node-manager/templates/bashible/node-users-secret.yaml
Labels: type/enhancement

#638 [testing] Add monitoring linter
  ee/fe/modules/340-extended-monitoring/templates/cert-exporter/podmonitor.yaml
  ee/fe/modules/340-extended-monitoring/templates/events-exporter/podmonitor.yaml
  ee/fe/modules/340-extended-monitoring/templates/extended-monitoring-exporter/podmonitor.yaml
  ee/fe/modules/340-extended-monitoring/templates/image-availability-exporter/podmonitor.yaml
  ee/fe/modules/500-okmeter/templates/monitoring.yaml
  ee/fe/modules/600-secret-copier/templates/empty-helm-workaround.yaml
  ee/fe/modules/600-secret-copier/templates/monitoring.yaml
  ee/modules/110-istio/templates/monitoring.yaml
  ee/modules/350-node-local-dns/templates/monitoring.yaml
  helm_lib/templates/_monitoring_grafana_dashboards.tpl
  helm_lib/templates/_monitoring_prometheus_rules.tpl
  modules/020-deckhouse/templates/monitoring.yaml
  modules/040-control-plane-manager/templates/monitoring.yaml
  modules/040-node-manager/templates/monitoring.yaml
  modules/040-terraform-manager/templates/terraform-auto-converger/podmonitor.yaml
  modules/040-terraform-manager/templates/terraform-state-exporter/podmonitor.yaml
  modules/050-network-policy-engine/templates/podmonitor.yaml
  modules/101-cert-manager/templates/monitoring.yaml
  modules/402-ingress-nginx/templates/monitoring.yaml
  modules/460-log-shipper/templates/monitoring.yaml
  modules/470-chrony/templates/monitoring.yaml
  modules/500-upmeter/templates/monitoring.yaml
  modules/999-helm/templates/empty-helm-workaround.yaml
  modules/999-helm/templates/monitoring.yaml
  testing/matrix/linter/rules/modules/modules.go
  testing/matrix/linter/rules/modules/monitoring.go
Labels: area/testing

#665 [docs] Fix broken links
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
Labels: area/docs, status/backport

#664 [chore] remove extra semver lib
  deckhouse-controller/pkg/helpers/openstack/supports-online-disk-resize.go
  ee/modules/600-flant-integration/hooks/pricing/envs_from_global_values_and_kubectl.go
  ee/modules/600-flant-integration/hooks/pricing/envs_from_nodes.go
  global-hooks/discovery/kubernetes_version.go
  go.mod
  go.sum
  modules/340-monitoring-kubernetes/hooks/choose_nodes_for_ebpf_exporter.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21

#666 [monitoring-kubernetes] Match OOM kills only on systemd cgroup driver
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/ebpf-exporter.yaml
Labels: area/monitoring, type/bug, status/backport

#343 Changelog v1.29.0
  CHANGELOG/CHANGELOG-v1.29.0.yml
Labels: changelog, auto

#561 [local-path-provisioner] add reclaimPolicy field.
  modules/031-local-path-provisioner/crds/doc-ru-local_path_provisioner.yaml
  modules/031-local-path-provisioner/crds/local_path_provisioner.yaml
  modules/031-local-path-provisioner/docs/README.md
  modules/031-local-path-provisioner/docs/README_RU.md
  modules/031-local-path-provisioner/docs/USAGE.md
  modules/031-local-path-provisioner/docs/USAGE_RU.md
  modules/031-local-path-provisioner/hooks/get_crds_test.go
  modules/031-local-path-provisioner/hooks/internal/v1alpha1/localpathprovisioner.go
  modules/031-local-path-provisioner/hooks/storage_classes.go
  modules/031-local-path-provisioner/hooks/storage_classes_test.go
  modules/031-local-path-provisioner/images/local-path-provisioner/Dockerfile
  modules/031-local-path-provisioner/openapi/values.yaml
  modules/031-local-path-provisioner/templates/storage-classes.yaml
Labels: type/enhancement, status/backport

#428 Changelog v1.30.0
  CHANGELOG/CHANGELOG-v1.30.0.yml
Labels: changelog, auto

#676 [user-authn] fix values scheme
  modules/150-user-authn/openapi/values.yaml
Labels: type/bug

#655 [dhctl] Do not print error about not exists bastion host key for abort command
  dhctl/cmd/dhctl/commands/bootstrap/phase.go
  dhctl/go.sum
  dhctl/pkg/operations/bootstrap.go
  werf.yaml
Labels: area/cluster-and-infrastructure, area/cli

#680 [docs][log-shipper] Fix CR example. Fix CR generator
  docs/documentation/_plugins/openapi.rb
  modules/460-log-shipper/crds/cluster-logging-config.yaml
  modules/460-log-shipper/crds/pod-logging-config.yaml
Labels: area/docs, status/backport

#679 [docs] Fix keepalived module examples node labels
  ee/fe/modules/450-keepalived/docs/USAGE.md
  ee/fe/modules/450-keepalived/docs/USAGE_RU.md
Labels: area/docs, status/ok-to-test

#648 [docs] Add an article about ingress-nginx HPA configuring
  modules/402-ingress-nginx/docs/FAQ.md
  modules/402-ingress-nginx/docs/FAQ_RU.md
Labels: area/docs

#678 [helm] Add deprecation guide link to alerts
  modules/999-helm/monitoring/prometheus-rules/deprecated-versions.yaml
Labels: area/monitoring, status/backport

#682 [validators] handle export validator case with pointer
  global-hooks/calculate_resources_requests.go
  testing/hooks/validation/exported_struct_test.go
Labels: area/testing

#672 [global] Refact x-examples on global values and fix helm_lib_module_uri_scheme
  candi/openapi/cluster_configuration.yaml
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/values.yaml
  helm_lib/templates/_module_https.tpl
  testing/matrix/linter/controller.go
Labels: area/testing, skip/documentation-validation, e2e/use/k8s/1.21

#659 [docs] Update 'How to configure' article
  docs/documentation/pages/DECKHOUSE_CONFIGURE.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_RU.md
Labels: area/docs, status/ok-to-test

#688 [documentation] Add experimental warning to namespace-configurator module
  docs/site/_config.yml
Labels: area/docs, status/backport

#683 [registry-packages] fix containerd-fe build
  candi/bashible/bundles/centos-7/node-group/031_install_containerd.sh.tpl
  candi/bashible/bundles/debian/node-group/031_install_containerd.sh.tpl
  candi/bashible/bundles/ubuntu-lts/node-group/031_install_containerd.sh.tpl
  modules/007-registrypackages/images/containerd-fe/werf.inc.yaml
Labels: type/bug, status/backport

#608 [bashible] Increase kubelet log rotation chunk size
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
Labels: type/enhancement, area/cluster-and-infrastructure, status/backport

#660 [deckhouse] Update the description of the release process
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  modules/020-deckhouse/openapi/config-values.yaml
  modules/020-deckhouse/openapi/doc-ru-config-values.yaml
Labels: area/docs

#675 Changelog v1.30.1
  CHANGELOG/CHANGELOG-v1.30.1.yml
Labels: changelog, auto

#695 [flant-integration] Getting rid of deprecated flantIntegration.kubeal…
  ee/modules/600-flant-integration/docs/CONFIGURATION_RU.md
  ee/modules/600-flant-integration/images/flant-pricing/hooks/cluster_metrics.sh
  ee/modules/600-flant-integration/openapi/config-values.yaml
  ee/modules/600-flant-integration/openapi/openapi-case-tests.yaml
  ee/modules/600-flant-integration/template_tests/module_test.go
  ee/modules/600-flant-integration/templates/pricing/daemonset.yaml
Labels: type/bug

#696 Changelog v1.30.2
  CHANGELOG/CHANGELOG-v1.30.2.yml
Labels: changelog, auto

#692 [build] Use registry.deckhouse.io as a secondary repo for dev build.
  .github/ci_includes/image_versions.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/schedule-cleanup.yml
  .gitlab/ci_includes/image_versions.yml
  modules_images_werf
Labels: type/enhancement

#401 [azure] docs fixes and improvements
  candi/cloud-providers/azure/docs/ENVIRONMENT.md
  candi/cloud-providers/azure/docs/ENVIRONMENT_RU.md
  candi/cloud-providers/azure/docs/LAYOUTS.md
  candi/cloud-providers/azure/docs/LAYOUTS_RU.md
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
Labels: area/docs

#625 [deckhouse] Add image pull policy Always to deckhouse template
  modules/020-deckhouse/templates/deployment.yaml
  testing/matrix/linter/rules/rules.go
Labels: area/core, e2e/use/cri/containerd, e2e/use/k8s/1.21

#700 [docs] Change absolute links to relative ones or to the config variable
  docs/_not_actual/licenses/BSL.txt
  docs/_not_actual/licenses/README.md
  docs/_not_actual/modules.md
  docs/documentation/_includes/revision_comparison_detail_table.liquid
  docs/documentation/modules_prepare.sh
  docs/documentation/pages/REVISION_COMPARISON.md
  docs/documentation/pages/REVISION_COMPARISON_RU.md
  docs/site/_data/revision_comparison.yml
  docs/site/_includes/getting_started/bm/step_cluster_setup_ru.html
  docs/site/_includes/getting_started/global/STEP_FINISH.md
  docs/site/_includes/getting_started/global/STEP_FINISH_RU.md
  docs/site/pages/about_us.html
  docs/site/pages/about_us_ru.html
  docs/site/pages/policies/security_policy_ru.html
  modules/402-ingress-nginx/docs/FAQ.md
  modules/402-ingress-nginx/docs/FAQ_RU.md
Labels: area/docs, skip/copyright-validation

#702 [docs] Regenerate password in getting started
  docs/site/_includes/getting_started/aws/partials/resources.yml.ha.inc
  docs/site/_includes/getting_started/aws/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/aws/partials/resources.yml.production.inc
  docs/site/_includes/getting_started/aws/partials/resources.yml.unonode.inc
  docs/site/_includes/getting_started/azure/partials/resources.yml.ha.inc
  docs/site/_includes/getting_started/azure/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/azure/partials/resources.yml.production.inc
  docs/site/_includes/getting_started/azure/partials/resources.yml.unonode.inc
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_BM.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_BM_RU.md
  docs/site/_includes/getting_started/bm/partials/user.yml.inc
  docs/site/_includes/getting_started/gcp/partials/resources.yml.ha.inc
  docs/site/_includes/getting_started/gcp/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/gcp/partials/resources.yml.production.inc
  docs/site/_includes/getting_started/global/select_revision.html
  docs/site/_includes/getting_started/openstack/partials/resources.yml.ha.inc
  docs/site/_includes/getting_started/openstack/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/openstack/partials/resources.yml.production.inc
  docs/site/_includes/getting_started/openstack/partials/resources.yml.unonode.inc
  docs/site/_includes/getting_started/vsphere/partials/resources.yml.ha.inc
  docs/site/_includes/getting_started/vsphere/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/vsphere/partials/resources.yml.production.inc
  docs/site/_includes/getting_started/yandex/partials/resources.yml.ha.inc
  docs/site/_includes/getting_started/yandex/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/yandex/partials/resources.yml.production.inc
  docs/site/js/getting-started.js
Labels: area/docs

#689 [ingress-nginx] Add detailed nginx statistic
  modules/402-ingress-nginx/monitoring/grafana-dashboards/kubernetes-cluster/controller-detail.json
Labels: area/network

#711 [ci] fix: remove double BASE_SCRATCH from image_versions
  .gitlab/ci_includes/image_versions.yml
Labels: area/dx

#710 [monitoring] Remove apparmor profile for node-exporter
  candi/bashible/bundles/debian/all/002_install_apparmor_profiles.sh.tpl
  candi/bashible/bundles/ubuntu-lts/all/002_install_apparmor_profiles.sh.tpl
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
Labels: type/bug, status/backport

#709 [bashible] remove selinux enable step
  candi/bashible/bundles/centos-7/all/005_enable_selinux.sh.tpl
Labels: type/bug, skip/documentation-validation
