Repository deckhouse/deckhouse, pull requests merged in 2022-05, with the labels that each got.

#1509 [docs] Add schema of Deckhouse installation in a private environment
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  docs/site/images/gs/private-env-schema.svg
Labels: area/docs

#1508 [chore] Update canary deploy settings for the stable release channel
  canary.json
Labels: status/backport

#1511 [docs] Update security page
  docs/site/pages/SECURITY.md
  docs/site/pages/SECURITY_RU.md
Labels: area/docs

#1301 [candi] added ssh allow list to cloud providers
  candi/cloud-providers/aws/layouts/standard/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/standard/base-infrastructure/variables.tf
  candi/cloud-providers/aws/layouts/with-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/with-nat/base-infrastructure/outputs.tf
  candi/cloud-providers/aws/layouts/with-nat/base-infrastructure/variables.tf
  candi/cloud-providers/aws/layouts/with-nat/master-node/main.tf
  candi/cloud-providers/aws/layouts/with-nat/master-node/variables.tf
  candi/cloud-providers/aws/layouts/without-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/without-nat/base-infrastructure/variables.tf
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/aws/terraform-modules/master-node/main.tf
  candi/cloud-providers/aws/terraform-modules/master-node/variables.tf
  candi/cloud-providers/aws/terraform-modules/security-groups/main.tf
  candi/cloud-providers/aws/terraform-modules/security-groups/variables.tf
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/azure/terraform-modules/base-infrastructure/main.tf
  candi/cloud-providers/azure/terraform-modules/base-infrastructure/variables.tf
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/gcp/terraform-modules/base-infrastructure/main.tf
  candi/cloud-providers/gcp/terraform-modules/base-infrastructure/variables.tf
  candi/cloud-providers/gcp/terraform-modules/firewall/main.tf
  candi/cloud-providers/gcp/terraform-modules/firewall/variables.tf
  ee/candi/cloud-providers/openstack/layouts/simple-with-internal-network/variables.tf
  ee/candi/cloud-providers/openstack/layouts/simple/variables.tf
  ee/candi/cloud-providers/openstack/layouts/standard-with-no-router/base-infrastructure/main.tf
  ee/candi/cloud-providers/openstack/layouts/standard-with-no-router/variables.tf
  ee/candi/cloud-providers/openstack/layouts/standard/base-infrastructure/main.tf
  ee/candi/cloud-providers/openstack/layouts/standard/variables.tf
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/terraform-modules/network-security/main.tf
  ee/candi/cloud-providers/openstack/terraform-modules/network-security/variables.tf
Labels: area/cloud-provider, type/enhancement

#1506 [monitoring] UnsupportedContainerRuntimeVersion Docker 20.* Containerd 1.[5-6].*
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/coreos/cri-version.tpl
Labels: area/monitoring

#1513 [docs] Minor fix
  docs/documentation/pages/DECKHOUSE-OVERVIEW.md
Labels: area/docs

#1510 [prometheus] Update kubeconfig-generator icon for grafana
  modules/150-user-authn/templates/kubeconfig-generator/ingress.yaml
  modules/300-prometheus/images/grafana/web/kubeconfig-generator.jpeg
  modules/300-prometheus/images/grafana/web/kubeconfig-generator.jpg
Labels: area/monitoring

#1514 [flant-integration] Remove unused 'team' field from schema
  ee/modules/600-flant-integration/openapi/config-values.yaml
  ee/modules/600-flant-integration/openapi/doc-ru-config-values.yaml
  global-hooks/migrate/flant_integration_remove_kubeall_team.go
  global-hooks/migrate/flant_integration_remove_kubeall_team_test.go
  global-hooks/migrate/flant_integration_remove_plan.go
  global-hooks/migrate/flant_integration_remove_plan_test.go
Labels: type/chore

#1518 [docs] Hide a patch version number in the dropdown menu on the site
  docs/site/_includes/channel-menu.html
  docs/site/werf.yaml
Labels: area/docs

#1461 [helm] refactor deprecated api metrics
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  go.mod
  modules/013-helm/.helmignore
  modules/013-helm/.namespace
  modules/013-helm/Chart.yaml
  modules/013-helm/charts/helm_lib
  modules/013-helm/enabled
  modules/013-helm/hooks/common_test.go
  modules/013-helm/hooks/metrics.go
  modules/013-helm/hooks/metrics_test.go
  modules/013-helm/hooks/startup_metrics.go
  modules/013-helm/monitoring/prometheus-rules/deprecated-versions.yaml
  modules/013-helm/openapi/config-values.yaml
  modules/013-helm/openapi/openapi-case-tests.yaml
  modules/013-helm/openapi/values.yaml
  modules/013-helm/templates/empty-helm-workaround.yaml
  modules/013-helm/templates/monitoring.yaml
  modules/020-deckhouse/templates/podmonitor.yaml
  modules/999-helm/hooks/metrics
  modules/999-helm/hooks/releases_count_metrics
  modules/999-helm/monitoring/prometheus-rules/deprecated-versions.yaml
  testing/matrix/linter/rules/modules/oss.go
  werf.yaml
Labels: area/monitoring

#1517 [dhctl] Use images for control-plane from Deckhouse registry instead public images
  dhctl/cmd/dhctl/commands/bootstrap/bootstrap.go
  dhctl/pkg/app/bootstrap.go
  dhctl/pkg/config/meta.go
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER_RU.liquid
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.21

#1512 [cloud-provider-azure] Update CSI to v1.17.0
  modules/030-cloud-provider-azure/images/azuredisk-csi/Dockerfile
Labels: area/cloud-provider, type/bug, status/backport

#1519 [ingress-nginx] protobuf-exporter add improper input validation
  modules/402-ingress-nginx/images/protobuf-exporter/go.mod
  modules/402-ingress-nginx/images/protobuf-exporter/go.sum
Labels: area/network, type/chore

#1521 [openvpn] improved migration to secrets
  ee/fe/modules/500-openvpn/images/easyrsa-migrator/easyrsa-migrator.go
Labels: area/network

#1525 [docs] Update structure scheme
  docs/site/images/diagrams/structure.svg
Labels: area/docs

#1526 [docs] Add EE regulations link
  docs/site/pages/enterprise_edition.html
Labels: area/docs

#1524 [upmeter] Fix missing init container with migrations for emptyDir
  go_lib/hooks/storage_class_change/hook.go
  modules/500-upmeter/templates/upmeter-agent/daemonset.yaml
  modules/500-upmeter/templates/upmeter/statefulset.yaml
Labels: area/monitoring, type/bug, status/backport

#1516 [node-manager] Static node can not reboot after bootstrap.
  modules/040-node-manager/templates/node-group/_bootstrap_script.tpl
Labels: type/bug, area/cluster-and-infrastructure

#1432 [openvpn] UDP
  ee/fe/modules/500-openvpn/images/ovpn-admin/Dockerfile
  ee/fe/modules/500-openvpn/openapi/config-values.yaml
  ee/fe/modules/500-openvpn/openapi/doc-ru-config-values.yaml
  ee/fe/modules/500-openvpn/templates/openvpn/configmap.yaml
  ee/fe/modules/500-openvpn/templates/openvpn/service-external.yaml
  ee/fe/modules/500-openvpn/templates/openvpn/statefullset.yaml
Labels: area/network

#1535 [extended-monitoring] List kube-apiserver cached objects
  ee/fe/modules/340-extended-monitoring/images/extended-monitoring-exporter/src/extended-monitoring.py
Labels: area/monitoring

#1505 [candi] Ubuntu 22.04 support
  candi/bashible/bundles/ubuntu-lts/node-group/031_install_containerd.sh.tpl
  candi/bashible/bundles/ubuntu-lts/node-group/031_install_docker.sh.tpl
  candi/bashible/bundles/ubuntu-lts/node-group/032_install_linux_kernel.sh.tpl
  candi/bashible/common-steps/node-group/003_discover_node_ip.sh.tpl
  candi/bashible/detect_bundle.sh
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/azure/openapi/instance_class.yaml
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/gcp/openapi/instance_class.yaml
  candi/version_map.yml
  dhctl/README.md
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-instance_class.yaml
  ee/candi/cloud-providers/openstack/openapi/instance_class.yaml
  modules/007-registrypackages/images/containerd-ubuntu/werf.inc.yaml
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: area/cluster-and-infrastructure

#514 [cloud-provider-aws] add peering for without-nat and standard layouts
  candi/cloud-providers/aws/layouts/standard/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/without-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/terraform-modules/vpc-peering/main.tf
  candi/cloud-providers/aws/terraform-modules/vpc-peering/variables.tf
Labels: area/cluster-and-infrastructure

#1493 [openvpn] remove openvpn.storageClass from deckhouse configmap
  ee/fe/modules/500-openvpn/hooks/easyrsa_migration.go
  ee/fe/modules/500-openvpn/openapi/config-values.yaml
  ee/fe/modules/500-openvpn/openapi/doc-ru-config-values.yaml
Labels: status/backport

#1281 [istio] docs refresh
  docs/documentation/images/110-istio/istio-architecture.svg
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
  ee/modules/110-istio/docs/internal/DEVELOPMENT_RU.md
Labels: area/docs, skip/documentation-validation

#1533 [docs] Fix the text of the articles in the section «Accessing cluster»
  ee/fe/modules/500-openvpn/docs/README.md
  ee/fe/modules/500-openvpn/docs/README_RU.md
  ee/fe/modules/500-openvpn/docs/USAGE.md
  ee/fe/modules/500-openvpn/docs/USAGE_RU.md
  ee/fe/modules/500-openvpn/openapi/config-values.yaml
  ee/fe/modules/500-openvpn/openapi/doc-ru-config-values.yaml
  modules/500-dashboard/docs/CONFIGURATION.md
  modules/500-dashboard/docs/CONFIGURATION_RU.md
  modules/500-dashboard/docs/README_RU.md
Labels: area/docs

#1529 [docs] Add the proxy parameter support to the getting started (private environment)
  docs/site/_includes/getting_started/bm-private/partials/config.yml.default.ce.inc
  docs/site/_includes/getting_started/global/partials/getting-started-setup.js.liquid
  docs/site/_includes/getting_started/global/step_cluster_setup.html
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
  docs/site/js/getting-started-private.js
  docs/site/js/getting-started.js
Labels: area/docs, skip/no-cyrillic-validation

#1520 [deckhouse] Fix global values OpenAPI specification
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/doc-ru-config-values.yaml
Labels: area/core, status/backport

#1475 [log-shipper] Refactor configuration hook
  modules/460-log-shipper/hooks/generate_config.go
  modules/460-log-shipper/hooks/internal/handler/apply.go
  modules/460-log-shipper/hooks/internal/handler/generator.go
  modules/460-log-shipper/hooks/internal/vector/config/config.go
  modules/460-log-shipper/hooks/internal/vector/config/config_test.go
  modules/460-log-shipper/hooks/internal/vector/config/pipeline.go
  modules/460-log-shipper/hooks/internal/vector/destination/common.go
  modules/460-log-shipper/hooks/internal/vector/destination/elasticsearch.go
  modules/460-log-shipper/hooks/internal/vector/destination/logstash.go
  modules/460-log-shipper/hooks/internal/vector/destination/loki.go
  modules/460-log-shipper/hooks/internal/vector/model/destination.go
  modules/460-log-shipper/hooks/internal/vector/model/model.go
  modules/460-log-shipper/hooks/internal/vector/model/source.go
  modules/460-log-shipper/hooks/internal/vector/source/file.go
  modules/460-log-shipper/hooks/internal/vector/source/kubernetes.go
  modules/460-log-shipper/hooks/internal/vector/source/source.go
  modules/460-log-shipper/hooks/internal/vector/vrl/common.go
  modules/460-log-shipper/hooks/testdata/es-5x.json
  modules/460-log-shipper/hooks/testdata/multiline.json
  modules/460-log-shipper/hooks/testdata/namespaced-source.json
  modules/460-log-shipper/hooks/testdata/one-dest.json
  modules/460-log-shipper/hooks/testdata/pair-datastream.json
  modules/460-log-shipper/hooks/testdata/simple-pair.json
Labels: area/monitoring, type/refactoring

#1547 [docs] Revert dont-use-public-control-plane-images parameter for closed envs getting started and add /install for dhctl image for closed envs getting started
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER_RU.liquid
  docs/site/js/getting-started-private.js
Labels: type/bug, area/docs

#1502 Changelog v1.32.6
  CHANGELOG/CHANGELOG-v1.32.6.yml
  CHANGELOG/CHANGELOG-v1.32.md
Labels: changelog, auto

#1550 [docs] Don't add layout description to the link title attribute in the Getting Started
  docs/site/_includes/getting_started/global/step_cluster_setup.html
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
Labels: area/docs

#1557 Changelog v1.32.7
  CHANGELOG/CHANGELOG-v1.32.7.yml
  CHANGELOG/CHANGELOG-v1.32.md
Labels: changelog, auto

#1556 [cloud-provider-aws] fix withNAT layout
  candi/cloud-providers/aws/layouts/with-nat/base-infrastructure/variables.tf
  candi/cloud-providers/aws/layouts/with-nat/master-node/variables.tf
Labels: area/cloud-provider

#1563 [docs] Switch to K8s v1.21 in the "Getting started: installing in kind"
  docs/site/_includes/getting_started/kind/STEP_PREPARE.md
  docs/site/_includes/getting_started/kind/STEP_PREPARE_RU.md
Labels: area/docs

#1566 [user-authn] dex-authenticator's port name to https
  modules/150-user-authn/templates/dex-authenticator/service.yaml
Labels: type/bug

#1549 [upmeter] Fix neighbor-via-service probe
  modules/500-upmeter/images/smoke-mini/smoke-mini.go
  modules/500-upmeter/templates/smoke-mini/services.yaml
Labels: area/monitoring, type/bug

#1552 [ci] chore: remove Gitlab configuration
  .github/ci_includes/image_versions.yml
  .github/ci_includes/terraform_versions.yml
  .github/ci_includes/werf_envs.yml
  .github/ci_templates/helper_jobs.yml
  .github/ci_templates/tests.yml
  .github/render-workflows.sh
  .github/workflow_templates/deploy-channel.multi.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/changelog.md
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/on-pull-request-labeled.yml
  .github/workflows/schedule-cleanup.yml
  .github/workflows/suspend-alpha.yml
  .github/workflows/suspend-beta.yml
  .github/workflows/suspend-early-access.yml
  .github/workflows/suspend-rock-solid.yml
  .github/workflows/suspend-stable.yml
  .github/workflows/validation.yml
  .gitlab-ci-simple.yml
  .gitlab-ci.yml
  .gitlab/ci_includes/image_versions.yml
  .gitlab/ci_includes/terraform_versions.yml
  .gitlab/ci_includes/web.yml
  .gitlab/ci_templates/build.yml
  .gitlab/ci_templates/cleanup.yml
  .gitlab/ci_templates/cloud_tests.yml
  .gitlab/ci_templates/deploy.yml
  .gitlab/ci_templates/tests.yml
  .gitlab/merge_request_templates/Default.md
  .gitlab/merge_request_templates/ModuleRefactoring.md
  .gitlab/scripts/validation_run.sh
Labels: area/dx

#1443 [node-manager] Nodes batch bootstrap doc
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/040-node-manager/templates/node-group/rbac-for-us.yaml
Labels: area/docs

#1551 [prometheus] Prefer to schedule main and longterm prometheus on different nodes
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring

#1536 [prometheus] Grafana 8.5.2, statusmap 0.5.1
  .editorconfig
  modules/300-prometheus/images/grafana/Dockerfile
  modules/300-prometheus/images/grafana/patches/build_go.patch
  modules/300-prometheus/images/grafana/patches/feat_prometheus_extra_vars.patch
  modules/300-prometheus/images/grafana/patches/fix_heatmap_thin_bars_on_ff.patch
Labels: area/monitoring

#1534 [upmeter] Rename scaling to extensions, cp/access to cp/apiserver
  modules/500-upmeter/images/status/src/en.ts
  modules/500-upmeter/images/upmeter/pkg/db/dao/episode5m_test.go
  modules/500-upmeter/images/upmeter/pkg/db/migrations/agent/0002_rename_extensions.down.sql
  modules/500-upmeter/images/upmeter/pkg/db/migrations/agent/0002_rename_extensions.up.sql
  modules/500-upmeter/images/upmeter/pkg/db/migrations/server/0009_rename_extensions.down.sql
  modules/500-upmeter/images/upmeter/pkg/db/migrations/server/0009_rename_extensions.up.sql
  modules/500-upmeter/images/upmeter/pkg/probe/group_controlplane.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_scaling.go
  modules/500-upmeter/images/upmeter/pkg/probe/load.go
  modules/500-upmeter/images/upmeter/pkg/probe/load_test.go
  modules/500-upmeter/images/upmeter/pkg/server/server_test.go
  modules/500-upmeter/images/webui/src/app/i18n/en.ts
Labels: area/monitoring, type/chore

#1561 PriorityClass system-node-critical instead of node-cluster-critical
  modules/010-priority-class/docs/CONFIGURATION.md
  modules/010-priority-class/docs/CONFIGURATION_RU.md
Labels: area/docs, status/backport

#1389 [control-plane-manager] Calculate and add etcd quota-backend-bytes parameter
  candi/control-plane-kubeadm/config.yaml.tpl
  global-hooks/discovery/cluster_domain.go
  global-hooks/discovery/cluster_ip_ranges.go
  go_lib/dependency/etcd/etcd.go
  go_lib/dependency/etcd/etcd_mock.go
  go_lib/filter/arguments.go
  modules/040-control-plane-manager/hooks/common.go
  modules/040-control-plane-manager/hooks/common_test.go
  modules/040-control-plane-manager/hooks/etcd_quota_backend_bytes.go
  modules/040-control-plane-manager/hooks/etcd_quota_backend_bytes_test.go
  modules/040-control-plane-manager/monitoring/prometheus-rules/etcd-maintenance.yaml
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
  modules/040-control-plane-manager/openapi/values.yaml
  modules/040-control-plane-manager/template_tests/template_test.go
  modules/040-control-plane-manager/templates/daemonset.yaml
  modules/340-monitoring-kubernetes-control-plane/monitoring/prometheus-rules/kube-etcd3.yaml
Labels: area/cluster-and-infrastructure

#1580 [candi] fix kubeadm registrypackages build
  modules/007-registrypackages/images/kubeadm-centos/werf.inc.yaml
  modules/007-registrypackages/images/kubeadm-debian/werf.inc.yaml
  modules/007-registrypackages/images/kubeadm-ubuntu/werf.inc.yaml
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.21

#1498 [log-shipper] Add rate-limit option
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
  modules/460-log-shipper/hooks/generate_config_test.go
  modules/460-log-shipper/hooks/internal/v1alpha1/cluster_log_destination.go
  modules/460-log-shipper/hooks/internal/vector/transform/default.go
  modules/460-log-shipper/hooks/internal/vector/transform/throttle.go
  modules/460-log-shipper/hooks/testdata/throttle.json
Labels: area/monitoring

#1575 [cni-cilium] Fixed value modifying hook
  modules/021-cni-cilium/hooks/enable_node_routes.go
  modules/021-cni-cilium/hooks/enable_node_routes_test.go
Labels: type/bug, area/cluster-and-infrastructure

#1515 [dhctl][node-manager] Old dockerCfg format support (construct auth from username and password)
  dhctl/pkg/config/meta.go
  dhctl/pkg/config/meta_test.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context_builder.go
Labels: type/bug, area/cluster-and-infrastructure, e2e/use/k8s/1.21

#1558 [deckhouse] Add edit commands for deckhouse-controller
  deckhouse-controller/cmd/deckhouse-controller/main.go
  deckhouse-controller/pkg/app/app.go
  deckhouse-controller/pkg/deckhouse/kube_helpers.go
  deckhouse-controller/pkg/deckhouse/start.go
  deckhouse-controller/pkg/helpers/aws/map-zone-to-subnets.go
  deckhouse-controller/pkg/helpers/fnv/encoder.go
  deckhouse-controller/pkg/helpers/register.go
  deckhouse-controller/pkg/helpers/unit/converter.go
  deckhouse-controller/pkg/helpers/utils/env.go
  dhctl/cmd/dhctl/commands/edit.go
  dhctl/cmd/dhctl/main.go
  go.mod
  go.sum
  shell_lib/tools.sh
Labels: area/core

#1582 rollback default CNI for yandex cloud
  modules/030-cloud-provider-yandex/templates/cni.yaml
Labels: area/network

#1583 [ci] Disable WERF_DRY_RUN for cleanup jobs
  .github/workflow_templates/schedule-cleanup.yml
  .github/workflows/schedule-cleanup.yml
Labels: area/dx

#1089 [cloud-provider-yandex][candi] Add cloud metrics exporter for export nat instance metrics, use openapi from candi
  candi/cloud-providers/yandex/layouts/with-nat-instance/base-infrastructure/main.tf
  candi/cloud-providers/yandex/layouts/with-nat-instance/base-infrastructure/outputs.tf
  candi/cloud-providers/yandex/layouts/with-nat-instance/variables.tf
  candi/cloud-providers/yandex/openapi/cloud_discovery_data.yaml
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/terraform-modules/monitoring-service-account/main.tf
  candi/cloud-providers/yandex/terraform-modules/monitoring-service-account/outputs.tf
  candi/cloud-providers/yandex/terraform-modules/monitoring-service-account/variables.tf
  candi/cloud-providers/yandex/terraform-modules/monitoring-service-account/versions.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/outputs.tf
  modules/030-cloud-provider-yandex/hooks/yandex_cluster_configuration_test.go
  modules/030-cloud-provider-yandex/images/cloud-metrics-exporter/app/api.go
  modules/030-cloud-provider-yandex/images/cloud-metrics-exporter/app/flags.go
  modules/030-cloud-provider-yandex/images/cloud-metrics-exporter/app/logger.go
  modules/030-cloud-provider-yandex/images/cloud-metrics-exporter/go.mod
  modules/030-cloud-provider-yandex/images/cloud-metrics-exporter/go.sum
  modules/030-cloud-provider-yandex/images/cloud-metrics-exporter/internal/server/server.go
  modules/030-cloud-provider-yandex/images/cloud-metrics-exporter/internal/yandex/api.go
  modules/030-cloud-provider-yandex/images/cloud-metrics-exporter/main.go
  modules/030-cloud-provider-yandex/images/cloud-metrics-exporter/werf.inc.yaml
  modules/030-cloud-provider-yandex/monitoring/grafana-dashboards/nat-instance/kubernetes-cluster/nat-instance.json
  modules/030-cloud-provider-yandex/monitoring/prometheus-rules/nat-instance/nat-instance.yaml
  modules/030-cloud-provider-yandex/openapi/values.yaml
  modules/030-cloud-provider-yandex/template_tests/module_test.go
  modules/030-cloud-provider-yandex/templates/cloud-metrics-exporter/deployment.yaml
  modules/030-cloud-provider-yandex/templates/cloud-metrics-exporter/pdb.yaml
  modules/030-cloud-provider-yandex/templates/cloud-metrics-exporter/pod-monitor.yaml
  modules/030-cloud-provider-yandex/templates/cloud-metrics-exporter/rbac-for-us.yaml
  modules/030-cloud-provider-yandex/templates/cloud-metrics-exporter/rbac-to-us.yaml
  modules/030-cloud-provider-yandex/templates/cloud-metrics-exporter/secret-exporter-creds.yaml
  modules/030-cloud-provider-yandex/templates/monitoring.yaml
  modules/030-cloud-provider-yandex/templates/namespace.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  testing/matrix/linter/rules/modules/monitoring.go
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.21

#1586 [prometheus] Add token auth for remote write
  modules/300-prometheus/crds/doc-ru-prometheusremotewrite.yaml
  modules/300-prometheus/crds/prometheusremotewrite.yaml
  modules/300-prometheus/openapi/values.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring

#1531 [candi] added FAQ about using Nvidia GPU with containerd
  modules/035-cni-simple-bridge/images/simple-bridge/rootfs/bin/simple-bridge
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/cloud-provider, area/docs, skip/copyright-validation

#1600 [upmeter] Revert the deletion of smoke-mini handlers for e2e tests
  modules/500-upmeter/images/smoke-mini/smoke-mini.go
Labels: area/monitoring

#1589 [docs] Fix typo
  modules/465-pod-reloader/docs/README.md
Labels: area/docs, skip/documentation-validation

#1584 [docs] Fix spelling mistakes, slang and formatting
  ee/modules/030-cloud-provider-openstack/openapi/config-values.yaml
  ee/modules/030-cloud-provider-openstack/openapi/doc-ru-config-values.yaml
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
  ee/modules/110-istio/docs/USAGE.md
  ee/modules/110-istio/docs/USAGE_RU.md
  modules/020-deckhouse/docs/FAQ.md
  modules/020-deckhouse/docs/FAQ_RU.md
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
  modules/021-kube-proxy/docs/README.md
  modules/021-kube-proxy/docs/README_RU.md
  modules/031-linstor/docs/FAQ.md
  modules/031-linstor/docs/FAQ_RU.md
  modules/031-linstor/docs/USAGE_RU.md
  modules/035-cni-flannel/docs/CONFIGURATION.md
  modules/035-cni-flannel/docs/CONFIGURATION_RU.md
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/101-cert-manager/docs/USAGE.md
  modules/101-cert-manager/docs/USAGE_RU.md
  modules/340-monitoring-kubernetes/docs/README.md
  modules/340-monitoring-kubernetes/docs/README_RU.md
  modules/402-ingress-nginx/docs/FAQ.md
  modules/402-ingress-nginx/docs/FAQ_RU.md
  modules/402-ingress-nginx/docs/README.md
  modules/402-ingress-nginx/docs/README_RU.md
  modules/402-ingress-nginx/docs/USAGE.md
  modules/402-ingress-nginx/docs/USAGE_RU.md
  modules/460-log-shipper/crds/doc-ru-cluster-logging-config.yaml
  modules/460-log-shipper/crds/doc-ru-pod-logging-config.yaml
  modules/500-cilium-hubble/openapi/config-values.yaml
  modules/500-cilium-hubble/openapi/doc-ru-config-values.yaml
  modules/500-dashboard/docs/CONFIGURATION_RU.md
Labels: area/docs, skip/documentation-validation

#1602 [log-shipper] Add probes for kube-rbac-proxy container
  modules/460-log-shipper/templates/daemonset.yaml
Labels: area/monitoring

#1588 [log-shipper] Drop metrics with the file label
  modules/460-log-shipper/templates/podmonitor.yaml
Labels: area/monitoring

#1609 Revert "[monitoring-kubernetes] Enable systemd collector in the node-exporter (#768)"
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
Labels: area/monitoring, type/bug, status/backport

#1598 [cloud-provider-azure] type -> skuName
  modules/030-cloud-provider-azure/templates/csi/storage-classes.yaml
Labels: area/cluster-and-infrastructure, status/backport

#1608 [kubernetes-api-proxy] prepull image
  candi/bashible/common-steps/node-group/050_configure_and_start_docker.sh.tpl
  candi/bashible/common-steps/node-group/051_pull_kubernetes_api_proxy.sh.tpl
Labels: area/cluster-and-infrastructure, status/backport

#1610 [docs] Fix rendering CRD file with a dot in the name
  docs/documentation/modules_generate_cr.sh
Labels: area/docs

#1607 Changelog v1.32.8
  CHANGELOG/CHANGELOG-v1.32.8.yml
  CHANGELOG/CHANGELOG-v1.32.md
Labels: changelog, auto

#1612 [log-shipper] Provide structural schemas for log-shipper CRDs
  modules/460-log-shipper/crds/cluster-logging-config.yaml
Labels: area/monitoring, skip/documentation-validation

#1614 [ingress-nginx][docs] Update README of the protobuf-exporter
  modules/402-ingress-nginx/images/protobuf-exporter/README.md
Labels: area/docs

#1624 [site] Fix styles of the ordered list on the site
  docs/site/css/docs.scss
Labels: area/docs

#1627 [prometheus] fix: rename errors related metrics
  modules/020-deckhouse/monitoring/prometheus-rules/deckhouse.yaml
Labels: area/monitoring

#1601 [cert-manager] Added owner ref certificate parameter
  docs/site/.helm/templates/20-ingress.yaml
  ee/fe/modules/500-openvpn/templates/openvpn/ingress.yaml
  ee/modules/110-istio/templates/certificate.yaml
  ee/modules/110-istio/templates/multicluster/api-proxy/ingress.yaml
  modules/101-cert-manager/crds/crd-certificates.yaml
  modules/101-cert-manager/images/cert-manager-acme-solver/Dockerfile
  modules/101-cert-manager/images/cert-manager-acme-solver/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-cainjector/Dockerfile
  modules/101-cert-manager/images/cert-manager-cainjector/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-controller/Dockerfile
  modules/101-cert-manager/images/cert-manager-controller/patches/README.md
  modules/101-cert-manager/images/cert-manager-controller/patches/certificate_owner_ref.patch
  modules/101-cert-manager/images/cert-manager-controller/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-webhook/Dockerfile
  modules/101-cert-manager/images/cert-manager-webhook/werf.inc.yaml
  modules/101-cert-manager/openapi/config-values.yaml
  modules/101-cert-manager/openapi/doc-ru-config-values.yaml
  modules/101-cert-manager/templates/cert-manager/deployment.yaml
  modules/150-user-authn/templates/dex/certificate.yaml
  modules/150-user-authn/templates/kubernetes-api/certificate.yaml
  modules/300-prometheus/templates/grafana/ingress.yaml
  modules/500-cilium-hubble/templates/ui/ingress.yaml
  modules/500-dashboard/templates/dashboard/ingress.yaml
  modules/500-upmeter/templates/status/ingress.yaml
  modules/500-upmeter/templates/webui/ingress.yaml
  modules/810-deckhouse-web/templates/ingress.yaml
Labels: area/security, skip/documentation-validation

#1611 [user-authz] Fix gitlab-runner access rights doc
  docs/site/_includes/getting_started/existing/STEP_FINISH.md
  docs/site/_includes/getting_started/existing/STEP_FINISH_RU.md
  docs/site/_includes/getting_started/global/STEP_FINISH.md
  docs/site/_includes/getting_started/global/STEP_FINISH_RU.md
  docs/site/_includes/getting_started/kind/STEP_FINISH.md
  docs/site/_includes/getting_started/kind/STEP_FINISH_RU.md
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: area/docs

#1625 [log-shipper] No dedot for file
  modules/460-log-shipper/hooks/generate_config_test.go
  modules/460-log-shipper/hooks/internal/handler/apply.go
  modules/460-log-shipper/hooks/internal/handler/generator.go
  modules/460-log-shipper/hooks/internal/vector/transform/default.go
  modules/460-log-shipper/hooks/internal/vector/transform/transforms_test.go
  modules/460-log-shipper/hooks/testdata/file-to-elastic.json
Labels: area/monitoring

#1626 [prometheus] Fixes for remote write headers
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring

#1636 [node-manager] fix ee module version
  ee/modules/040-node-manager/.build.yaml
  ee/modules/040-node-manager/openapi/config-values.yaml
  ee/modules/040-node-manager/openapi/openapi-case-tests.yaml
  ee/modules/040-node-manager/openapi/values.yaml
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: area/cluster-and-infrastructure

#1472 [deckhouse-controller] feat: fast response to ConfigMap changes
  deckhouse-controller/cmd/deckhouse-controller/main.go
  deckhouse-controller/pkg/app/app.go
  deckhouse-controller/pkg/deckhouse/metrics.go
  deckhouse-controller/pkg/deckhouse/start.go
  go.mod
  go.sum
Labels: area/core, e2e/use/cri/containerd, e2e/use/k8s/1.23

#1637 Changelog v1.32.9
  CHANGELOG/CHANGELOG-v1.32.9.yml
  CHANGELOG/CHANGELOG-v1.32.md
Labels: changelog, auto

#1645 [docs] Fix node-manager
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs

#1646 Changelog v1.32.9
  CHANGELOG/CHANGELOG-v1.32.9.yml
Labels: changelog, auto

#1635 [Upmeter] Turn off smoke-mini storage class
  global-hooks/migrate/example_config_migration.go
  global-hooks/migrate/example_config_migration_test.go
  modules/500-upmeter/hooks/smokemini/clean_pv.go
  modules/500-upmeter/hooks/smokemini/migrate_forcenostorageclass.go
  modules/500-upmeter/hooks/smokemini/migrate_forcenostorageclass_test.go
  modules/500-upmeter/openapi/config-values.yaml
Labels: area/monitoring, skip/documentation-validation, type/chore

#1620 [cni-cilium] v1.11.5
  modules/021-cni-cilium/images/cilium/Dockerfile
  modules/021-cni-cilium/images/cilium/cni-version.sh
  modules/021-cni-cilium/images/cilium/patches/001-netfilter-compatibility-mode.patch
  modules/021-cni-cilium/images/cilium/patches/002-skip-host-ip-gc.patch
  modules/021-cni-cilium/images/cilium/patches/README.md
Labels: area/network, type/enhancement

#1638 [terraform-manager][ci] Migrate from werf ansible to werf shell image builds for terraform based images
  ee/modules/040-terraform-manager/images/terraform-manager-openstack/werf.inc.yaml
  modules/040-terraform-manager/images/base-terraform-manager/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-aws/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-azure/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-yandex/werf.inc.yaml
  werf.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, e2e/use/k8s/1.21

#1649 [candi][terraform-manager] Upgrade Yandex Cloud terraform provider to 0.74.0
  .github/ci_includes/terraform_versions.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/schedule-cleanup.yml
Labels: area/cloud-provider

#1659 [helm_lib] ephemeral-storage to helm_lib_resources_management_pod_resources
  ee/modules/110-istio/template_tests/module_test.go
  ee/modules/110-istio/templates/control-plane/iop.yaml
  helm_lib/templates/_resources_management.tpl
Labels: area/kubernetes

#1664 [cert-manager] fix broken cert-manager-acme-solver image
  modules/101-cert-manager/images/cert-manager-acme-solver/werf.inc.yaml
Labels: area/security, type/bug

#1656 [cloud-provider-aws] update terraform-provider-aws
  .github/ci_includes/terraform_versions.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/schedule-cleanup.yml
Labels: area/cloud-provider

#1661 [deckhouse-controller] fix: restore hook metrics
  go.mod
  go.sum
Labels: area/core

#1670 [docs][getting started][gcp] Add taints in the resource file for the production environment
  docs/site/_includes/getting_started/gcp/partials/resources.yml.production.inc
  docs/site/_includes/getting_started/yandex/partials/resources.yml.production.inc
Labels: area/docs

#1662 [docs] Update the Deckhouse FAQ
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs
