Repository deckhouse/deckhouse, pull requests merged in 2022-02, with the labels that each got.

#713 Changelog v1.30.3
  CHANGELOG/CHANGELOG-v1.30.3.yml
Labels: changelog, auto

#719 [registry-packages] fix build of nginx package for ubuntu 16
  modules/007-registrypackages/images/nginx-ubuntu/werf.inc.yaml
Labels: type/bug, status/backport

#721 Changelog v1.30.4
  CHANGELOG/CHANGELOG-v1.30.4.yml
Labels: changelog, auto

#730 Changelog v1.30.5
  CHANGELOG/CHANGELOG-v1.30.5.yml
Labels: changelog, auto

#727 [bashible] fix nginx version for ubuntu 16
  candi/bashible/bundles/ubuntu-lts/node-group/051_install_kubernetes_api_proxy.sh.tpl
Labels: type/bug

#722 [ci] fix: pull release-channel-version image before tagging
  .github/ci_templates/build.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
Labels: area/dx, status/backport

#715 [build] fix werf cleanup step
  .github/ci_templates/helper_jobs.yml
  .github/workflow_templates/schedule-cleanup.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/schedule-cleanup.yml
  .github/workflows/suspend-alpha.yml
  .github/workflows/suspend-beta.yml
  .github/workflows/suspend-early-access.yml
  .github/workflows/suspend-rock-solid.yml
  .github/workflows/suspend-stable.yml
  .gitlab/ci_includes/image_versions.yml
  modules_images_werf
  modules_images_werf.yaml
  werf.yaml
  werf_cleanup.yaml
Labels: area/dx

#734 Changelog v1.30.6
  CHANGELOG/CHANGELOG-v1.30.6.yml
Labels: changelog, auto

#724 [core][dhctl] Fix potential panic for bashible logs in `dhctl bootstrap` command
  dhctl/pkg/log/process.go
  dhctl/pkg/log/process_test.go
Labels: type/bug, area/cluster-and-infrastructure, area/cli, e2e/use/k8s/1.21

#731 [istio] canary usage doc fix
  ee/modules/110-istio/docs/USAGE.md
  ee/modules/110-istio/docs/USAGE_RU.md
Labels: area/docs

#740 [ci] fix: proper image tag name for pull_request_target images
  .github/ci_templates/helper_jobs.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/schedule-cleanup.yml
  .github/workflows/suspend-alpha.yml
  .github/workflows/suspend-beta.yml
  .github/workflows/suspend-early-access.yml
  .github/workflows/suspend-rock-solid.yml
  .github/workflows/suspend-stable.yml
  .gitlab/ci_includes/image_versions.yml
Labels: area/dx

#739 [bashible] fix redhat version detection
  candi/bashible/bashbooster/55_distro_version.sh
Labels: type/bug, status/backport

#738 [user-authn] Bitbucket migrate to workspaces
  modules/150-user-authn/images/dex/Dockerfile
  modules/150-user-authn/images/dex/patches/README.md
  modules/150-user-authn/images/dex/patches/bitbucket-teams.patch
Labels: area/auth, status/backport

#742 [candi] fix kubelet slow start on reboot
  candi/bashible/common-steps/all/063_install_kubelet_forker.sh.tpl
Labels: type/bug, status/backport

#744 [global] Add number type for `modules.resourcesRequests.everyNode.cpu` and `modules.resourcesRequests.masterNode.cpu`
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/openapi-case-tests.yaml
Labels: type/bug, skip/documentation-validation, status/backport

#749 [candi] fix nodeuser script
  candi/bashible/common-steps/node-group/090_node_users.sh.tpl
Labels: type/bug, status/backport

#748 Changelog v1.30.7
  CHANGELOG/CHANGELOG-v1.30.7.yml
Labels: changelog, auto

#751 [candi] fix nodeuser script
  candi/bashible/common-steps/node-group/090_node_users.sh.tpl
Labels: type/bug, status/backport

#753 Changelog v1.30.8
  CHANGELOG/CHANGELOG-v1.30.8.yml
Labels: changelog, auto

#726 [cert-manager] fix docs about Certificate DNSNames
  modules/101-cert-manager/docs/USAGE.md
  modules/101-cert-manager/docs/USAGE_RU.md
Labels: area/auth

#716 [dhctl] Install Deckhouse without node selector and custom API connection config
  .github/ci_templates/tests.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
  .gitlab/ci_templates/tests.yml
  dhctl/.golangci.yaml
  dhctl/Makefile
  dhctl/cmd/dhctl/commands/bootstrap/bootstrap.go
  dhctl/cmd/dhctl/commands/bootstrap/phase.go
  dhctl/hack/coverage.sh
  dhctl/hack/devenv/start.sh
  dhctl/hack/devenv/stop.sh
  dhctl/pkg/app/bootstrap.go
  dhctl/pkg/app/destroy.go
  dhctl/pkg/kubernetes/actions/converge/converge.go
  dhctl/pkg/kubernetes/actions/converge/lock.go
  dhctl/pkg/kubernetes/actions/converge/state.go
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  dhctl/pkg/kubernetes/actions/manifests/manifests_test.go
  dhctl/pkg/kubernetes/client/state_cache.go
  dhctl/pkg/operations/bootstrap.go
  dhctl/pkg/system/ssh/frontend/command.go
  dhctl/pkg/template/bundle.go
  dhctl/pkg/util/cache/cache.go
  dhctl/pkg/util/strings.go
  modules/020-deckhouse/templates/deployment.yaml
  modules/040-terraform-manager/images/base-terraform-manager/werf.inc.yaml
  modules/042-kube-dns/images/sts-pods-hosts-appender-webhook/go.sum
  tools/validation/copyright.go
  werf.yaml
Labels: area/cli, e2e/use/cri/containerd, e2e/use/k8s/1.21

#757 [node-manager] handle k8s <1.20 in NG error events creation process
  modules/040-node-manager/hooks/update_node_group_status.go
  modules/040-node-manager/hooks/update_node_group_status_test.go
Labels: status/backport

#778 [docs] Update the "Deckhouse vs KaaS" page on the site
  docs/site/pages/deckhouse_vs_kaas.html
  docs/site/pages/deckhouse_vs_kaas_ru.html
Labels: area/docs

#764 [user-authn] Kubeconfig: hide the "connect to api.%s" button if publish API is not enabled
  modules/031-local-path-provisioner/templates/configmap.yaml
  modules/150-user-authn/template_tests/kubeconfig_generator_config_test.go
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
  modules/150-user-authn/templates/kubeconfig-generator/config.yaml
  modules/150-user-authn/templates/kubeconfig-generator/configmap.yaml
  modules/150-user-authn/templates/kubeconfig-generator/deployment.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/control-plane-proxy/daemon-set.yaml
  modules/402-ingress-nginx/templates/controller/controller.yaml
  modules/402-ingress-nginx/templates/failover/daemonset.yaml
Labels: area/auth

#756 [log-shipper] Fix vector pods absent alert
  modules/460-log-shipper/monitoring/prometheus-rules/vector-agent.yaml
Labels: area/monitoring

#708 [node-manager] Do not deploy VPA for bashible-apiserver if autoscaler is not enabled
  modules/040-node-manager/templates/bashible-apiserver/deployment.yaml
Labels: area/cluster-and-infrastructure

#656 [cloud-provider-vsphere] support of non-drs installations
  docs/site/_includes/getting_started/vsphere/partials/config.yml.standard.ee.inc
  ee/candi/cloud-providers/vsphere/docs/CLUSTER_CONFIGURATION.md
  ee/candi/cloud-providers/vsphere/docs/CLUSTER_CONFIGURATION_RU.md
  ee/candi/cloud-providers/vsphere/layouts/standard/base-infrastructure/main.tf
  ee/candi/cloud-providers/vsphere/layouts/standard/base-infrastructure/outputs.tf
  ee/candi/cloud-providers/vsphere/openapi/cloud_discovery_data.yaml
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/vsphere/terraform-modules/master-node/variables.tf
  ee/candi/cloud-providers/vsphere/terraform-modules/static-node/main.tf
  ee/candi/cloud-providers/vsphere/terraform-modules/static-node/variables.tf
Labels: type/enhancement

#768 [monitoring-kubernetes] Enable systemd collector in the node-exporter
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
Labels: area/monitoring, type/enhancement

#765 [control-plane-manager] Define custom external TCP port for Kubernetes API LoadBalancer
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
  modules/040-control-plane-manager/openapi/openapi-case-tests.yaml
  modules/040-control-plane-manager/templates/service.yaml
Labels: type/enhancement, area/cluster-and-infrastructure

#781 [control-plane-manager] Enabled TTLAfterFinished on older clusters
  candi/control-plane-kubeadm/config.yaml.tpl
Labels: type/enhancement, area/cluster-and-infrastructure

#627 [vertical-pod-autoscaler] vpa improvements
  ee/modules/110-istio/templates/alliance/metadata-exporter/deployment.yaml
  ee/modules/110-istio/templates/kiali/deployment.yaml
  ee/modules/110-istio/templates/operator/deployment.yaml
  modules/302-vertical-pod-autoscaler/hooks/set_maxallowed.go
  modules/302-vertical-pod-autoscaler/hooks/set_maxallowed_test.go
  testing/matrix/linter/apply.go
Labels: type/enhancement

#786 [docs] Minor fix «Release channels» page
  docs/documentation/pages/RELEASES.md
Labels: area/docs

#785 [istio] usage doc fix
  ee/modules/110-istio/docs/USAGE_RU.md
Labels: area/docs

#780 [ci] fix: save logs for failed e2e tests
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: area/dx

#777 [ci] fix: proper werf build commands with two registries
  .github/ci_templates/build.yml
  .github/workflow_templates/build-and-test_dev.yml
  .github/workflow_templates/build-and-test_release.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
Labels: area/dx

#799 [cert-manager] Fix flaky tests
  modules/101-cert-manager/hooks/create_registry_secret_for_solver_test.go
Labels: area/auth

#800 [candi] speed up reboot master node on cluster bootstrap
  candi/bashible/common-steps/all/099_reboot.sh.tpl
Labels: type/enhancement

#741 Fix alert instruction for apiserver logs
  modules/340-monitoring-kubernetes-control-plane/monitoring/prometheus-rules/kubernetes.tpl
Labels: area/monitoring

#784 [control-plane-manager] Default scheduler config
  candi/control-plane-kubeadm/config.yaml.tpl
  modules/040-control-plane-manager/templates/_scheduler_config.tpl
  modules/040-control-plane-manager/templates/daemonset.yaml
Labels: type/enhancement, area/cluster-and-infrastructure

#797 CI: fix JS binding
  .github/scripts/js/ci.js
Labels: area/dx

#776 [dhctl] Add parameterization for bootstrapped kube-resources
  dhctl/cmd/dhctl/commands/bootstrap/bootstrap.go
  dhctl/cmd/dhctl/commands/bootstrap/phase.go
  dhctl/pkg/app/bootstrap.go
  dhctl/pkg/kubernetes/actions/resources/resources.go
  dhctl/pkg/template/resources.go
  dhctl/pkg/template/resources_test.go
  dhctl/pkg/template/testdata/resources/with_tmp.yaml
  dhctl/pkg/template/testdata/resources/without_tmp.yaml
Labels: type/enhancement, area/cluster-and-infrastructure, area/core, e2e/use/k8s/1.21, status/backport

#793 [node-manager] Upgrade cluster-autoscaler from v0.12.0 to v0.19.0
  modules/040-node-manager/images/cluster-autoscaler/Dockerfile
  modules/040-node-manager/images/cluster-autoscaler/patches/README.md
  modules/040-node-manager/images/cluster-autoscaler/patches/daemonset-eviction.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/do-not-violate-minsize-when-fixing-nodegroup.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/scaling-down-terminated-machines.patch
  modules/500-upmeter/hooks/smokemini/internal/snapshot/node.go
  modules/500-upmeter/templates/smoke-mini/statefulsets.yaml
Labels: area/cluster-and-infrastructure

#766 [candi] Configurable kubelet log rotation
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
  candi/openapi/node_group.yaml
Labels: type/enhancement, area/cluster-and-infrastructure

#806 [docs] Fix Deckhouse FAQ
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/ok-to-test

#792 Changelog: skip auto-generated PRs
  .github/actions/milestone-changelog/action.yml
Labels: area/dx

#783 [control-plane-manager] Allow enabling additional admission plugins as well as defaulting some of them
  candi/control-plane-kubeadm/config.yaml.tpl
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
  modules/040-control-plane-manager/templates/_admission_control_config.tpl
  modules/040-control-plane-manager/templates/daemonset.yaml
Labels: type/enhancement, area/cluster-and-infrastructure

#770 Update kubernetes patch versions
  candi/tools/discover_new_kubernetes_patchversions.sh
  candi/tools/functions.sh
  candi/version_map.yml
Labels: area/kubernetes

#803 [docs] Fix the «Deckhouse Platform editions comparison» article
  docs/documentation/pages/REVISION_COMPARISON.md
  docs/documentation/pages/REVISION_COMPARISON_RU.md
Labels: status/ok-to-test

#818 [docs] Fix the «The deckhouse module: usage» article
  modules/020-deckhouse/docs/USAGE.md
  modules/020-deckhouse/docs/USAGE_RU.md
Labels: area/docs

#821 [docs] Minor getting started and documentation updates
  .github/ci_templates/web.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
  docs/site/_includes/getting_started/aws/STEP_ENV.md
  docs/site/_includes/getting_started/aws/STEP_ENV_RU.md
  docs/site/_includes/getting_started/azure/STEP_ENV.md
  docs/site/_includes/getting_started/azure/STEP_ENV_RU.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  docs/site/_includes/getting_started/existing/STEP_FINALIZE.md
  docs/site/_includes/getting_started/existing/STEP_FINALIZE_RU.md
  docs/site/_includes/getting_started/existing/STEP_FINISH.md
  docs/site/_includes/getting_started/existing/STEP_FINISH_RU.md
  docs/site/_includes/getting_started/existing/partials/TROUBLESHOOT.liquid
  docs/site/_includes/getting_started/existing/partials/TROUBLESHOOT_RU.liquid
  docs/site/_includes/getting_started/gcp/STEP_ENV.md
  docs/site/_includes/getting_started/gcp/STEP_ENV_RU.md
  docs/site/_includes/getting_started/global/STEP_CLUSTER_ACCESS.md
  docs/site/_includes/getting_started/global/STEP_CLUSTER_ACCESS_RU.md
  docs/site/_includes/getting_started/global/STEP_FINISH.md
  docs/site/_includes/getting_started/global/STEP_FINISH_RU.md
  docs/site/_includes/getting_started/global/partials/INSTALL_CONFIG.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_CONFIG_RU.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  docs/site/_includes/getting_started/global/step_cluster_setup.html
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
  docs/site/_includes/getting_started/openstack/STEP_ENV.md
  docs/site/_includes/getting_started/openstack/STEP_ENV_RU.md
  docs/site/_includes/getting_started/yandex/STEP_ENV.md
  docs/site/_includes/getting_started/yandex/STEP_ENV_RU.md
  docs/site/pages/getting_started/getting_started.html
  docs/site/pages/getting_started/getting_started_ru.html
  ee/fe/modules/340-monitoring-applications/docs/README.md
  ee/fe/modules/340-monitoring-applications/docs/README_RU.md
  ee/fe/modules/500-openvpn/docs/README.md
  ee/fe/modules/500-openvpn/docs/README_RU.md
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs

#823 [user-authn] Bump Dex to v2.31.0
  modules/150-user-authn/images/dex/Dockerfile
  modules/150-user-authn/images/dex/patches/README.md
  modules/150-user-authn/images/dex/patches/bitbucket-teams.patch
  modules/150-user-authn/images/dex/patches/concurrent.patch
Labels: area/auth

#758 [docs] Fix CNCF certificate rendering on mobile devices
  docs/site/css/components/_product-intro.scss
  docs/site/pages/index.html
  docs/site/pages/index_ru.html
Labels: area/docs, skip/documentation-validation, deploy/web/test, status/ok-to-test

#782 [ingress-nginx] Temporary remove 1.0 version from CRD
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/openapi/config-values.yaml
Labels: skip/documentation-validation, status/backport

#837 [node-manager][doc] Node cleanup doc fix
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs

#838 [docs] Minor fixes
  docs/documentation/_layouts/default.html
Labels: area/docs, status/backport

#836 Changelog v1.30.10
  CHANGELOG/CHANGELOG-v1.30.10.yml
Labels: changelog, auto

#848 [docs] Make K8s 1.19 available for installation
  candi/version_map.yml
Labels: status/backport

#810 [ci] fix: more documentation for PR#777, clean semicolons
  .github/ci_templates/build.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
Labels: area/dx

#832 Fix article text in «The deckhouse module: Custom Resource» page
  modules/020-deckhouse/crds/deckhouse-release.yaml
  modules/020-deckhouse/crds/doc-ru-deckhouse-release.yaml
Labels: area/docs

#829 Fix article text in «The deckhouse module: configuration» page
  modules/020-deckhouse/docs/CONFIGURATION_RU.md
  modules/020-deckhouse/openapi/config-values.yaml
  modules/020-deckhouse/openapi/doc-ru-config-values.yaml
Labels: area/docs, status/ok-to-test

#857 [bashible] fix centos distro version detection
  candi/bashible/bashbooster/55_distro_version.sh
Labels: type/bug, status/backport

#706 [ci] feat: use slash commands to start workflows for release issue
  .github/ci_templates/e2e_tests.yml
  .github/scripts/js/ci.js
  .github/scripts/js/constants.js
  .github/scripts/js/git-ref.js
  .github/workflow_templates/deploy-channel.multi.yml
  .github/workflow_templates/dispatch-slash-command.yml
  .github/workflow_templates/e2e.multi.yml
  .github/workflow_templates/on-issue-labeled.yml
  .github/workflow_templates/on-milestone-created.yml
  .github/workflow_templates/on-push-main-or-tag.yml
  .github/workflow_templates/suspend-channel.multi.yml
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/on-issue-labeled.yml
  .github/workflows/on-milestone-created.yml
  .github/workflows/on-push-main-or-tag.yml
  .github/workflows/slash-command-dispatch.yml
  .github/workflows/suspend-alpha.yml
  .github/workflows/suspend-beta.yml
  .github/workflows/suspend-early-access.yml
  .github/workflows/suspend-rock-solid.yml
  .github/workflows/suspend-stable.yml
Labels: area/dx

#847 [candi] Support astra 1.7
  dhctl/README.md
  ee/candi/bashible/bundles/astra/all/000_install_ca_certificates.sh.tpl
  ee/candi/bashible/bundles/astra/all/001_install_mandatory_packages.sh.tpl
  ee/candi/bashible/bundles/astra/node-group/031_install_containerd.sh.tpl
  ee/candi/bashible/bundles/astra/node-group/031_install_docker.sh.tpl
  ee/candi/bashible/bundles/astra/node-group/032_install_linux_kernel.sh.tpl
  ee/candi/bashible/bundles/astra/node-group/051_install_kubernetes_api_proxy.sh.tpl
  ee/candi/bashible/detect_bundle.sh
Labels: status/backport

#869 [ingress-nginx] Expose status class label values with the xx suffix
  modules/402-ingress-nginx/images/controller-0-33/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-0-46/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-0-48/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-0-49/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-1-0/rootfs/etc/nginx/lua/pbmetrics.lua
Labels: area/network, status/backport

#817 [docs] Fix article text in «The deckhouse module» page
  modules/020-deckhouse/docs/README.md
  modules/020-deckhouse/docs/README_RU.md
  modules/020-deckhouse/docs/USAGE.md
  modules/020-deckhouse/docs/USAGE_RU.md
Labels: status/ok-to-test

#855 Changelog schema template and link
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: area/dx

#812 [ci] fix: use tagged dev/install image to run in e2e tests
  .github/ci_templates/e2e_tests.yml
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: area/dx

#353 [dhctl][deckhouse] Control plane node readiness check before converge node
  dhctl/cmd/dhctl/commands/control-plane.go
  dhctl/cmd/dhctl/commands/converge.go
  dhctl/cmd/dhctl/commands/kube.go
  dhctl/cmd/dhctl/main.go
  dhctl/pkg/app/control-plane.go
  dhctl/pkg/kubernetes/actions/converge/check.go
  dhctl/pkg/kubernetes/actions/converge/converge.go
  dhctl/pkg/kubernetes/actions/converge/lock.go
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
  dhctl/pkg/kubernetes/actions/deckhouse/log.go
  dhctl/pkg/kubernetes/actions/deckhouse/pod.go
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  dhctl/pkg/kubernetes/client/lease-lock.go
  dhctl/pkg/operations/converge/infra/hook/controlplane/cp-manager.go
  dhctl/pkg/operations/converge/infra/hook/controlplane/hook.go
  dhctl/pkg/operations/converge/infra/hook/controlplane/kube-proxy.go
  dhctl/pkg/operations/converge/infra/hook/node.go
  dhctl/pkg/state/cache/init.go
  dhctl/pkg/system/ssh/client.go
  dhctl/pkg/system/ssh/cmd/scp.go
  dhctl/pkg/system/ssh/cmd/ssh-add.go
  dhctl/pkg/system/ssh/cmd/ssh-agent.go
  dhctl/pkg/system/ssh/cmd/ssh.go
  dhctl/pkg/system/ssh/default.go
  dhctl/pkg/system/ssh/frontend/agent.go
  dhctl/pkg/system/ssh/frontend/kube-proxy.go
  dhctl/pkg/system/ssh/frontend/tunnel.go
  dhctl/pkg/system/ssh/session/session.go
  dhctl/pkg/system/ssh/session/session_test.go
  dhctl/pkg/terraform/hook.go
  dhctl/pkg/terraform/pipeline_test.go
  dhctl/pkg/terraform/runner.go
  dhctl/pkg/terraform/runner_test.go
  dhctl/pkg/util/cache/cache.go
  dhctl/pkg/util/maputil/maputil.go
  dhctl/pkg/util/maputil/maputil_test.go
  dhctl/pkg/util/stringsutil/strings.go
  modules/020-deckhouse/templates/deployment.yaml
  werf.yaml
Labels: type/enhancement, area/cluster-and-infrastructure, area/cli, e2e/use/cri/containerd

#873 [docs] Add warning about viewing an unreleased version
  docs/documentation/_data/i18n.yml
  docs/documentation/_includes/warning-latest.html
  docs/documentation/_layouts/page.html
  docs/site/css/docs.scss
Labels: area/docs

#833 [dhctl] Create additional kube resources in order
  dhctl/cmd/dhctl/commands/bootstrap/bootstrap.go
  dhctl/cmd/dhctl/commands/bootstrap/phase.go
  dhctl/pkg/kubernetes/actions/resources/resources.go
  dhctl/pkg/template/resources.go
  dhctl/pkg/template/resources_test.go
  dhctl/pkg/template/testdata/resources/order.yaml
  dhctl/pkg/template/testdata/resources/same_kind_order.yaml
  dhctl/pkg/util/fs/create_test.go
  dhctl/pkg/util/fs/random.go
Labels: area/cli, e2e/use/k8s/1.21

#882 Changelog: fix self-trigger
  .github/actions/milestone-changelog/action.yml
  .github/scripts/js/changelog-find-pulls.js
  .github/workflows/changelog.yml
Labels: type/bug

#888 [node-manager] sort node users by name
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context_builder.go
Labels: type/bug, status/backport

#876 [node-manager] Fix constant OOM on small-sized nodes
  modules/040-node-manager/templates/early-oom/daemonset.yaml
Labels: type/bug, area/cluster-and-infrastructure, status/backport

#871 [ingress-nginx] Fix handled requests panel query
  modules/402-ingress-nginx/monitoring/grafana-dashboards/kubernetes-cluster/controller-detail.json
Labels: area/network, status/backport

#859 Changelog v1.30.11
  CHANGELOG/CHANGELOG-v1.30.11.yml
Labels: changelog, auto

#870 [prometheus] Exposing API doc fixes
  docs/documentation/images/300-prometheus/prometheus_monitoring.svg
  modules/300-prometheus/docs/README.md
  modules/300-prometheus/docs/README_RU.md
  modules/300-prometheus/docs/USAGE.md
  modules/300-prometheus/docs/USAGE_RU.md
Labels: area/monitoring

#883 [docs] Update supported Kubernetes and OS versions page
  candi/version_map.yml
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_includes/SUPPORTED_VERSIONS.md
Labels: area/docs, status/backport

#884 [docs] Fix article text in «Cloud provider — AWS: Layouts» page
  candi/cloud-providers/aws/docs/LAYOUTS.md
  candi/cloud-providers/aws/docs/LAYOUTS_RU.md
Labels: status/ok-to-test

#892 Changelog: fix PR URL
  .github/scripts/js/changelog-find-pulls.js
Labels: area/dx

#894 [docs] Fix article text in «Cloud provider — AWS: provider configuration» page
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
Labels: area/docs

#878 [docs] Fix article text in «Kubernetes Cluster» page
  docs/documentation/pages/KUBERNETES.md
  docs/documentation/pages/KUBERNETES_RU.md
Labels: status/ok-to-test

#916 [cloud-provider-aws][cloud-provider-azure][cloud-provider-gcp][cloud-provider-yandex][cloud-provider-openstack][cloud-provider-vsphere] Fix failing csi-provisioner
  helm_lib/templates/_csi_controller.tpl
Labels: area/storage

#891 [global] Update addon-operator
  go.mod
  go.sum
Labels: area/core, e2e/use/k8s/1.21

#911 [CI] Fix GitLab CI
  .gitlab/ci_includes/image_versions.yml
  modules_images_werf
  modules_images_werf.yaml
  testing/matrix/linter/rules/modules/images.go
Labels: status/backport

#572 [cloud-provider-vsphere] refactor
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  deckhouse-controller/pkg/helpers/register.go
  ee/candi/cloud-providers/vsphere/docs/CLUSTER_CONFIGURATION.md
  ee/candi/cloud-providers/vsphere/docs/CLUSTER_CONFIGURATION_RU.md
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/modules/030-cloud-provider-vsphere/.helmignore
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION_RU.md
  ee/modules/030-cloud-provider-vsphere/docs/USAGE.md
  ee/modules/030-cloud-provider-vsphere/docs/USAGE_RU.md
  ee/modules/030-cloud-provider-vsphere/hooks/discover_zones_and_datastores
  ee/modules/030-cloud-provider-vsphere/hooks/discover_zones_and_datastores.go
  ee/modules/030-cloud-provider-vsphere/hooks/discover_zones_and_datastores_test.go
  ee/modules/030-cloud-provider-vsphere/hooks/handle_compatibility_flag
  ee/modules/030-cloud-provider-vsphere/hooks/handle_compatibility_flag.go
  ee/modules/030-cloud-provider-vsphere/hooks/handle_compatibility_flag_test.go
  ee/modules/030-cloud-provider-vsphere/hooks/internal/v1/cloud_discovery_data.go
  ee/modules/030-cloud-provider-vsphere/hooks/internal/v1/instance_class.go
  ee/modules/030-cloud-provider-vsphere/hooks/internal/v1/module_configuration.go
  ee/modules/030-cloud-provider-vsphere/hooks/internal/v1/nsxt.go
  ee/modules/030-cloud-provider-vsphere/hooks/internal/v1/provider_cluster_configuration.go
  ee/modules/030-cloud-provider-vsphere/hooks/remove_broken_finalizers
  ee/modules/030-cloud-provider-vsphere/hooks/remove_broken_finalizers.go
  ee/modules/030-cloud-provider-vsphere/hooks/remove_broken_finalizers_test.go
  ee/modules/030-cloud-provider-vsphere/hooks/vsphere_cluster_configuration
  ee/modules/030-cloud-provider-vsphere/hooks/vsphere_cluster_configuration.go
  ee/modules/030-cloud-provider-vsphere/hooks/vsphere_cluster_configuration_test.go
  ee/modules/030-cloud-provider-vsphere/hooks/wait_for_all_master_nodes_to_become_initialized
  ee/modules/030-cloud-provider-vsphere/hooks/wait_for_all_master_nodes_to_become_initialized.go
  ee/modules/030-cloud-provider-vsphere/openapi/config-values.yaml
  ee/modules/030-cloud-provider-vsphere/openapi/doc-ru-config-values.yaml
  ee/modules/030-cloud-provider-vsphere/openapi/openapi-case-tests.yaml
  ee/modules/030-cloud-provider-vsphere/openapi/values.yaml
  ee/modules/030-cloud-provider-vsphere/template_tests/module_test.go
  ee/modules/030-cloud-provider-vsphere/templates/cloud-controller-manager/deployment.yaml
  ee/modules/030-cloud-provider-vsphere/templates/cloud-controller-manager/secret.yaml
  ee/modules/030-cloud-provider-vsphere/templates/csi-legacy/storageclass.yaml
  ee/modules/030-cloud-provider-vsphere/templates/csi/secret.yaml
  ee/modules/030-cloud-provider-vsphere/templates/csi/storageclass.yaml
  ee/modules/030-cloud-provider-vsphere/templates/registration.yaml
  ee/modules/030-cloud-provider-vsphere/values.yaml
  ee/modules/030-cloud-provider-vsphere/values_matrix_test.yaml
  go.mod
  go_lib/dependency/dependency.go
  go_lib/dependency/vsphere/const.go
  go_lib/dependency/vsphere/vsphere.go
  go_lib/dependency/vsphere/vsphere_mock.go
  go_lib/hooks/cluster_configuration/hook.go
  modules/030-cloud-provider-yandex/hooks/yandex_cluster_configuration.go
  modules/040-node-manager/hooks/internal/v1/nodegroup.go
  modules/040-node-manager/hooks/internal/v1/nodegroup_generated.deepcopy.go
  modules/040-node-manager/hooks/internal/v1alpha2/nodegroup.go
  modules/040-node-manager/hooks/internal/v1alpha2/nodegroup_generated.deepcopy.go
  modules/040-node-manager/hooks/pkg/schema/node_template.go
  testing/openapi_validation/validators/enum.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21

#880 [docs] Fix article text in «Cloud provider — AWS: Preparing environment» page
  candi/cloud-providers/aws/docs/ENVIRONMENT.md
  candi/cloud-providers/aws/docs/ENVIRONMENT_RU.md
Labels: status/ok-to-test

#922 [docs] Update prometheus-metrics-adapter the usage page and minor getting started changes
  docs/site/_includes/getting_started/existing/STEP_FINISH.md
  docs/site/_includes/getting_started/existing/STEP_FINISH_RU.md
  modules/301-prometheus-metrics-adapter/docs/USAGE.md
  modules/301-prometheus-metrics-adapter/docs/USAGE_RU.md
Labels: area/docs

#918 [docs] Add guide about installing Deckhouse in kind
  docs/site/LOCAL_DEV.md
  docs/site/_data/getting_started/data.yaml
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER_RU.liquid
  docs/site/_includes/getting_started/kind/STEP_FINISH.md
  docs/site/_includes/getting_started/kind/STEP_FINISH_RU.md
  docs/site/_includes/getting_started/kind/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/kind/STEP_INSTALL_SCHEMA_RU.md
  docs/site/_includes/getting_started/kind/STEP_PREPARE.md
  docs/site/_includes/getting_started/kind/STEP_PREPARE_RU.md
  docs/site/_includes/getting_started/kind/partials/config.yml.default.ce.inc
  docs/site/_includes/getting_started/kind/partials/config.yml.default.ee.inc
  docs/site/_includes/getting_started/kind/partials/ingress-nginx-controller.yml.inc
Labels: area/docs

#915 Changelog: validate sections
  .github/actions/milestone-changelog/action.yml
Labels: area/dx

#827 [extended-monitoring] Bump events exporter to v0.0.2
  ee/fe/modules/340-extended-monitoring/images/events-exporter/Dockerfile
  ee/fe/modules/340-extended-monitoring/templates/events-exporter/deployment.yaml
Labels: area/monitoring

#917 [cloud-provider-openstack] Fix certificates ordering for balancers with PROXY PROTOCOL enabled
  ee/modules/030-cloud-provider-openstack/templates/cloud-controller-manager/secret.yaml
Labels: area/cluster-and-infrastructure, status/backport

#807 [control-plane-manager] Bump current kubernetes version in cluster to 1.21 in FE release
  candi/openapi/cluster_configuration.yaml
  dhctl/pkg/config/base.go
  dhctl/pkg/config/meta.go
  ee/modules/600-flant-integration/hooks/migrate_cluster_kubernetes_version.go
  ee/modules/600-flant-integration/hooks/migrate_cluster_kubernetes_version_test.go
  global-hooks/discovery/cluster_configuration.go
  global-hooks/discovery/cluster_configuration_test.go
Labels: type/enhancement

#913 [user-authz] Webhook probe
  ee/modules/140-user-authz/images/webhook/cache/cache.go
  ee/modules/140-user-authz/images/webhook/cache/cache_test.go
  ee/modules/140-user-authz/images/webhook/web/hook/handler.go
  ee/modules/140-user-authz/images/webhook/web/hook/handler_test.go
  ee/modules/140-user-authz/images/webhook/web/server.go
  ee/modules/140-user-authz/templates/webhook/daemonset.yaml
  ee/modules/140-user-authz/templates/webhook/rbac-for-us.yaml
Labels: area/auth, status/backport

#840 [global] Make dashboards immutable
  ee/fe/modules/340-monitoring-applications/monitoring/grafana-dashboards/applications/elasticsearch/elasticsearch.json
  ee/fe/modules/340-monitoring-applications/monitoring/grafana-dashboards/applications/etcd3/etcd3.json
  ee/fe/modules/340-monitoring-applications/monitoring/grafana-dashboards/applications/memcached/memcached.json
  ee/fe/modules/340-monitoring-applications/monitoring/grafana-dashboards/applications/mongodb/mongodb.json
  ee/fe/modules/340-monitoring-applications/monitoring/grafana-dashboards/applications/nats/nats-legacy.json
  ee/fe/modules/340-monitoring-applications/monitoring/grafana-dashboards/applications/nats/nats.json
  ee/fe/modules/340-monitoring-applications/monitoring/grafana-dashboards/applications/php-fpm/php-fpm.json
  ee/fe/modules/340-monitoring-applications/monitoring/grafana-dashboards/applications/prometheus/prometheus.json
  ee/fe/modules/340-monitoring-applications/monitoring/grafana-dashboards/applications/rabbitmq/rabbitmq-legacy.json
  ee/fe/modules/340-monitoring-applications/monitoring/grafana-dashboards/applications/rabbitmq/rabbitmq.json
  ee/fe/modules/340-monitoring-applications/monitoring/grafana-dashboards/applications/redis/redis.json
  ee/fe/modules/340-monitoring-applications/monitoring/grafana-dashboards/applications/sidekiq/sidekiq.json
  ee/fe/modules/340-monitoring-applications/monitoring/grafana-dashboards/applications/uwsgi/uwsgi.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/kubernetes-cluster/nodes/ntp.json
  modules/500-upmeter/monitoring_test/grafana-dashboards/kubernetes-cluster/upmeter/dns_5m.json
  modules/500-upmeter/monitoring_test/grafana-dashboards/kubernetes-cluster/upmeter/hpa_5m.json
  modules/500-upmeter/monitoring_test/grafana-dashboards/kubernetes-cluster/upmeter/trickster_5m.json
Labels: area/monitoring

#732 [docs] Update 'Global configuration' article
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/_plugins/custom_filters.rb
  docs/documentation/pages/DECKHOUSE_CONFIGURE.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL_RU.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_RU.md
  docs/documentation/werf-git-section.inc.yaml
  docs/documentation/werf.yaml
  docs/site/_plugins/custom_filters.rb
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/doc-ru-config-values.yaml
  modules/020-deckhouse/docs/README.md
  modules/810-deckhouse-web/images/web/werf.inc.yaml
Labels: status/ok-to-test

#863 [docs] Fix article text in «The deckhouse-web module: configuration» page
  modules/810-deckhouse-web/openapi/config-values.yaml
  modules/810-deckhouse-web/openapi/doc-ru-config-values.yaml
Labels: area/docs

#846 [docs] Fix article text in «The deckhouse-web module» page
  modules/810-deckhouse-web/docs/README.md
  modules/810-deckhouse-web/docs/README_RU.md
Labels: area/docs, status/ok-to-test

#932 [docs] Update getting started for bare metal cluster
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
Labels: area/docs

#925 [candi] fix nodeUser password set error
  candi/bashible/common-steps/node-group/090_node_users.sh.tpl
Labels: type/bug, status/backport

#845 [deckhouse] suppress alerts on update
  helm_lib/templates/_monitoring_prometheus_rules.tpl
  modules/020-deckhouse/docs/internal/ALERTING.md
  modules/020-deckhouse/hooks/update_deckhouse_image.go
  modules/020-deckhouse/hooks/update_deckhouse_image_test.go
  modules/020-deckhouse/monitoring/prometheus-rules/deckhouse.yaml
Labels: skip/documentation-validation

#928 Changelog: cumulative markdown and allowed sections auto-generation
  .github/actions/milestone-changelog/action.yml
  .github/scripts/js/changelog-find-pulls.js
  .github/scripts/js/changelog-find-sections.js
Labels: area/dx

#921 [ingress-nginx] max surge and manual rollout
  candi/control-plane-kubeadm/config.yaml.tpl
  go.mod
  modules/021-kube-proxy/templates/configmap.yaml
  modules/402-ingress-nginx/hooks/manual_daemonset_update.go
  modules/402-ingress-nginx/hooks/manual_daemonset_update_test.go
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: status/backport

#755 [go_lib][copy_custom_certificate] Do nothing if there is <module>.htt…
  go_lib/hooks/copy_custom_certificate/hook.go
  modules/810-deckhouse-web/openapi/config-values.yaml
Labels: type/bug, skip/documentation-validation

#950 [docs] Fix article text in «Cloud provider — AWS: configuration» page
  modules/030-cloud-provider-aws/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-aws/openapi/config-values.yaml
  modules/030-cloud-provider-aws/openapi/doc-ru-config-values.yaml
Labels: area/docs

#955 [ingress-nginx] background remove of a pod
  modules/402-ingress-nginx/hooks/manual_daemonset_update.go
  modules/402-ingress-nginx/hooks/manual_daemonset_update_test.go
Labels: area/network

#949 [control-plane-manager] Let streaming audit log to stdout
  candi/control-plane-kubeadm/config.yaml.tpl
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
  modules/040-control-plane-manager/docs/README.md
  modules/040-control-plane-manager/docs/README_RU.md
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
  modules/040-control-plane-manager/templates/daemonset.yaml
Labels: area/dx, status/backport

#941 [ci] feat: build CE and EE editions for dev branches
  .github/ci_templates/build.yml
  .github/ci_templates/helper_jobs.yml
  .github/scripts/js/ci.js
  .github/scripts/js/constants.js
  .github/workflow_templates/build-and-test_dev.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/on-pull-request-labeled.yml
  .github/workflows/validation.yml
Labels: area/dx

#954 [node-manager] Fix alpha2_to_v1 conversion for CloudPermanent NodeGroup type
  modules/040-node-manager/webhooks/conversion/node_group
Labels: type/bug, status/backport

#962 [okmeter] Make okagent data persistent
  ee/fe/modules/500-okmeter/templates/daemonset.yaml
Labels: area/monitoring, status/ok-to-test, status/backport

#947 [deckhouse-web] Do not set external authentication by default
  modules/810-deckhouse-web/openapi/config-values.yaml
Labels: type/bug, area/docs, skip/documentation-validation

#963 [ci] fix: lowercase for cluster prefix
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: area/dx

#964 [node-manager] use step number with leading zeroes for custom steps
  modules/040-node-manager/images/bashible-apiserver/pkg/template/steps_storage.go
Labels: type/bug

#953 [control-plane-manager] Kubernetes version certificate validation fix
  global-hooks/discovery/kubernetes_version.go
  global-hooks/discovery/kubernetes_version_test.go
  go_lib/dependency/http/http.go
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, status/backport

#960 [monitoring-kubernetes] Add POD labels to containerd pause container metrics
  modules/340-monitoring-kubernetes/templates/kubelet/service-monitor.yaml
Labels: area/monitoring

#934 [candi] Support existing subnets in Yandex.Cloud
  candi/cloud-providers/yandex/layouts/standard/base-infrastructure/main.tf
  candi/cloud-providers/yandex/layouts/standard/variables.tf
  candi/cloud-providers/yandex/layouts/with-nat-instance/base-infrastructure/main.tf
  candi/cloud-providers/yandex/layouts/with-nat-instance/variables.tf
  candi/cloud-providers/yandex/layouts/without-nat/base-infrastructure/main.tf
  candi/cloud-providers/yandex/layouts/without-nat/variables.tf
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/terraform-modules/master-node/main.tf
  candi/cloud-providers/yandex/terraform-modules/static-node/main.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/main.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/nat_instance.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/outputs.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/variables.tf
Labels: type/enhancement, area/cluster-and-infrastructure

#686 [kube-dns] FAQ improvement about changing clusterDomain and service a…
  modules/042-kube-dns/docs/FAQ.md
  modules/042-kube-dns/docs/FAQ_RU.md
Labels: area/docs

#773 [control-plane-manager] Support bound service account tokens and TokenRequest API
  candi/control-plane-kubeadm/config.yaml.tpl
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
  modules/040-control-plane-manager/templates/daemonset.yaml
Labels: type/enhancement, area/cluster-and-infrastructure

#961 [candi] divided sysctl-tuner to 2 separate steps and enable unsafe sysctls in kubelet config
  candi/bashible/common-steps/node-group/041_configure_sysctl_tuner.sh.tpl
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
  candi/bashible/common-steps/node-group/070_start_sysctl_tuner.sh.tpl
Labels: type/enhancement, status/backport

#958 [control-plane-manager] Encryption at rest
  candi/control-plane-kubeadm/config.yaml.tpl
  modules/040-control-plane-manager/hooks/ensure_secret_encryption_key.go
  modules/040-control-plane-manager/hooks/ensure_secret_encryption_key_test.go
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
  modules/040-control-plane-manager/openapi/values.yaml
  modules/040-control-plane-manager/template_tests/template_test.go
  modules/040-control-plane-manager/templates/_encryption_config.tpl
  modules/040-control-plane-manager/templates/daemonset.yaml
  modules/040-control-plane-manager/webhooks/validating/d8-secret-encryption-key-configuration
Labels: type/enhancement, status/backport

#966 [deckhouse-controller] feat: update core operators
  deckhouse-controller/cmd/deckhouse-controller/main.go
  go.mod
  go.sum
  testing/hooks/init.go
Labels: area/core

#973 [ci] fix: shorten cluster prefix to fix "too long value" error
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: area/dx

#952 [docs] Getting started updates
  docs/site/_data/getting_started/data.yaml
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  docs/site/_includes/getting_started/kind/STEP_FINISH.md
  docs/site/_includes/getting_started/kind/STEP_FINISH_RU.md
  docs/site/_includes/getting_started/kind/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/kind/STEP_INSTALL_SCHEMA_RU.md
  docs/site/_includes/getting_started/kind/STEP_PREPARE.md
  docs/site/_includes/getting_started/kind/STEP_PREPARE_RU.md
  docs/site/_includes/getting_started/kind/partials/config.yml.default.ce.inc
  docs/site/_includes/getting_started/kind/partials/config.yml.default.ee.inc
Labels: area/docs
