Repository deckhouse/deckhouse, pull requests merged in 2022-04, with the labels that each got.

#1215 [Prometheus] Add bigger sample limit to Grafana service
  modules/300-prometheus/templates/grafana/service.yaml
  modules/300-prometheus/templates/grafana/servicemonitor.yaml
Labels: area/monitoring, type/bug

#1234 [docs][node-manager] Update FAQ
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, status/backport

#1218 [dhctl][candi][node-manager] Remove "node.kubernetes.io/exclude-from-external-load-balancers" label from control-plane nodes
  candi/bashible/common-steps/cluster-bootstrap/070_install_control_plane.sh.tpl
  dhctl/pkg/config/meta.go
  modules/040-node-manager/hooks/add_control_plane_role_to_master_ng.go
  modules/040-node-manager/hooks/add_control_plane_role_to_master_ng_test.go
Labels: type/enhancement, e2e/use/k8s/1.21, status/backport

#1220 Changelog v1.31.9
  CHANGELOG/CHANGELOG-v1.31.9.yml
  CHANGELOG/CHANGELOG-v1.31.md
Labels: changelog, auto

#1228 [DX] Update PR template for chore change type and better sections discovery
  .github/pull_request_template.md
Labels: area/auth

#1136 [candi] new kubernetes patchversions
  candi/version_map.yml
Labels: type/enhancement

#1213 [Upmeter] Add user-agents to http requests
  modules/500-upmeter/images/upmeter/.golangci.yaml
  modules/500-upmeter/images/upmeter/Makefile
  modules/500-upmeter/images/upmeter/pkg/agent/sender/client.go
  modules/500-upmeter/images/upmeter/pkg/check/series_test.go
  modules/500-upmeter/images/upmeter/pkg/db/connect.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/http.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/smoke_mini.go
  modules/500-upmeter/images/upmeter/pkg/server/remotewrite/syncer.go
  modules/500-upmeter/images/upmeter/pkg/util/env.go
Labels: area/monitoring, type/chore

#1179 [cloud-provider] ignore default disk size for checksum calculation
  ee/modules/030-cloud-provider-vsphere/cloud-instance-manager/machine-class.checksum
  modules/030-cloud-provider-aws/cloud-instance-manager/machine-class.checksum
  modules/030-cloud-provider-azure/cloud-instance-manager/machine-class.checksum
  modules/030-cloud-provider-gcp/cloud-instance-manager/machine-class.checksum
  modules/030-cloud-provider-yandex/cloud-instance-manager/machine-class.checksum
Labels: area/cloud-provider

#1224 [user-authn] Increase authentication rate limit
  modules/150-user-authn/templates/dex/ingress.yaml
Labels: area/auth

#1223 [user-authn] Allow having numbers in kubeconfig-generator ids
  modules/150-user-authn/openapi/config-values.yaml
  modules/150-user-authn/openapi/openapi-case-tests.yaml
Labels: area/auth, skip/documentation-validation

#1242 [grafana] improved dashboards for kube-apiserver and etcd
  modules/340-monitoring-kubernetes-control-plane/monitoring/grafana-dashboards/kubernetes-cluster/control-plane-status.json
  modules/340-monitoring-kubernetes-control-plane/monitoring/grafana-dashboards/kubernetes-cluster/kube-etcd3.json
Labels: area/monitoring

#1253 Need to simplify partners description
  docs/site/pages/enterprise_edition_ru.html
Labels: area/docs

#1250 [docs] Fix the text of the articles in the section «Managing nodes»
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
  docs/documentation/werf-git-section.inc.yaml
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-yandex/docs/CONFIGURATION_RU.md
  modules/040-node-manager/crds/doc-ru-nodegroupconfiguration.yaml
  modules/040-node-manager/crds/nodegroupconfiguration.yaml
  modules/040-node-manager/docs/CONFIGURATION.md
  modules/040-node-manager/docs/CONFIGURATION_RU.md
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
  modules/040-node-manager/docs/USAGE.md
  modules/040-node-manager/docs/USAGE_RU.md
  modules/040-node-manager/openapi/config-values.yaml
  modules/040-node-manager/openapi/doc-ru-config-values.yaml
Labels: area/docs, status/backport

#1256 [Upmeter] Add trailing dot to cluster domain resolving
  modules/500-upmeter/images/upmeter/pkg/kubernetes/access.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/smoke_mini.go
Labels: area/monitoring, type/bug

#1248 [cloud-provider-openstack] Remove default podNetworkMode from config-values
  ee/modules/030-cloud-provider-openstack/openapi/config-values.yaml
Labels: type/bug, skip/documentation-validation, status/backport

#1251 [ingress-nginx] VHost Detail: select all locations by default
  modules/402-ingress-nginx/monitoring/grafana-dashboards/ingress-nginx/vhost/vhost_detail.json
Labels: type/bug, status/backport

#1236 [user-authn] Dex usage doc fix due to new default Gitlab settings
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: area/auth

#1217 [cloud-provider-aws] allow ssh access to master nodes only from bastion
  candi/cloud-providers/aws/layouts/standard/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/with-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/without-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/terraform-modules/security-groups/main.tf
  candi/cloud-providers/aws/terraform-modules/security-groups/outputs.tf
Labels: area/cluster-and-infrastructure

#1144 [Upmeter] Fix the correctness of group stats
  modules/500-upmeter/images/upmeter/Dockerfile
  modules/500-upmeter/images/upmeter/cmd/upmeter/parse_args.go
  modules/500-upmeter/images/upmeter/pkg/agent/agent.go
  modules/500-upmeter/images/upmeter/pkg/agent/scheduler/scheduler.go
  modules/500-upmeter/images/upmeter/pkg/check/episode.go
  modules/500-upmeter/images/upmeter/pkg/check/runner.go
  modules/500-upmeter/images/upmeter/pkg/check/series.go
  modules/500-upmeter/images/upmeter/pkg/check/series_test.go
  modules/500-upmeter/images/upmeter/pkg/db/dao/episode30s.go
  modules/500-upmeter/images/upmeter/pkg/db/dao/episode5m.go
  modules/500-upmeter/images/upmeter/pkg/db/migrations/server/0008_group_stats.down.sql
  modules/500-upmeter/images/upmeter/pkg/db/migrations/server/0008_group_stats.up.sql
  modules/500-upmeter/images/upmeter/pkg/server/api/probelist.go
  modules/500-upmeter/images/upmeter/pkg/server/api/public_status.go
  modules/500-upmeter/images/upmeter/pkg/server/api/public_status_test.go
  modules/500-upmeter/images/upmeter/pkg/server/api/status.go
  modules/500-upmeter/images/upmeter/pkg/server/entity/probelist.go
  modules/500-upmeter/images/upmeter/pkg/server/entity/status.go
  modules/500-upmeter/images/upmeter/pkg/server/entity/status_test.go
  modules/500-upmeter/images/upmeter/pkg/server/ranges/steprange.go
  modules/500-upmeter/images/upmeter/pkg/server/server.go
  modules/500-upmeter/templates/upmeter-agent/daemonset.yaml
  modules/500-upmeter/templates/upmeter/statefulset.yaml
Labels: area/monitoring, type/bug

#504 [cloud-provider-aws::docs] add IAM policies for creating peering connection
  candi/cloud-providers/aws/docs/ENVIRONMENT.md
  candi/cloud-providers/aws/docs/ENVIRONMENT_RU.md
Labels: area/cluster-and-infrastructure

#1263 [candi] added kubelet container logs parameters for notManaged mode
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
Labels: type/enhancement

#1240 [chrony] Increase livenessProbe timeout
  modules/470-chrony/templates/daemonset.yaml
Labels: type/bug, area/cluster-and-infrastructure

#1239 [docs] Fix the text of the articles in the section «Control plane management»
  modules/040-control-plane-manager/docs/CONFIGURATION_RU.md
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
  modules/040-control-plane-manager/docs/README.md
  modules/040-control-plane-manager/docs/README_RU.md
  modules/040-control-plane-manager/docs/USAGE.md
  modules/040-control-plane-manager/docs/USAGE_RU.md
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
Labels: area/docs, skip/documentation-validation, status/backport

#1264 [docs] Site landing updates
  docs/site/_data/stories.yaml
  docs/site/images/clients/everynet.svg
Labels: area/docs

#1193 [candi] refactor kubernetes-api-proxy
  candi/bashible/bundles/debian/node-group/051_install_kubernetes_api_proxy.sh.tpl
  candi/bashible/bundles/ubuntu-lts/node-group/051_install_kubernetes_api_proxy.sh.tpl
  candi/bashible/common-steps/all/051_install_kubernetes_api_proxy_configurator.sh.tpl
  candi/bashible/common-steps/node-group/051_remove_old_kubernetes_api_proxy.sh.tpl
  candi/bashible/common-steps/node-group/052_configure_and_start_kubernetes_api_proxy.sh.tpl
  candi/bashible/common-steps/node-group/052_configure_kubernetes_api_proxy.sh.tpl
  candi/bashible/common-steps/node-group/053_configure_and_start_kubernetes_api_proxy_configurator.sh.tpl
  modules/007-registrypackages/images/nginx-centos/scripts/install
  modules/007-registrypackages/images/nginx-centos/scripts/uninstall
  modules/007-registrypackages/images/nginx-centos/werf.inc.yaml
  modules/007-registrypackages/images/nginx-debian/scripts/install
  modules/007-registrypackages/images/nginx-debian/scripts/uninstall
  modules/007-registrypackages/images/nginx-debian/werf.inc.yaml
  modules/007-registrypackages/images/nginx-ubuntu/scripts/install
  modules/007-registrypackages/images/nginx-ubuntu/scripts/uninstall
  modules/007-registrypackages/images/nginx-ubuntu/werf.inc.yaml
  modules/040-control-plane-manager/images/kubernetes-api-proxy/kubernetes-api-proxy-reloader
  modules/040-control-plane-manager/images/kubernetes-api-proxy/werf.inc.yaml
  modules/040-node-manager/hooks/discover_apiserver_endpoints.go
  modules/040-node-manager/hooks/discover_apiserver_endpoints_test.go
Labels: type/enhancement

#1272 [docs] Proper display of the mandatory use of the parameter on the site
  docs/documentation/_plugins/openapi.rb
Labels: area/docs, status/backport

#1274 [docs] Add development mode
  docs/documentation/Makefile
  docs/documentation/pages/search.html
  docs/documentation/pages/search_ru.html
  docs/documentation/search-index.json
  docs/documentation/werf-git-section.inc.yaml
  docs/documentation/werf.yaml
  docs/site/LOCAL_DEV.md
Labels: area/docs

#1273 [monitoring-kubernetes] Removed many-to-many matching case in ebpf-exporter recording rules
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/ebpf-exporter.yaml
Labels: area/monitoring, type/bug, status/backport

#1278 [docs] Update the linstor module
  docs/site/_config.yml
  modules/031-linstor/docs/ADVANCED_USAGE.md
  modules/031-linstor/docs/ADVANCED_USAGE_RU.md
  modules/031-linstor/docs/CONFIGURATION.md
  modules/031-linstor/docs/CONFIGURATION_RU.md
  modules/031-linstor/docs/FAQ.md
  modules/031-linstor/docs/FAQ_RU.md
  modules/031-linstor/docs/README.md
  modules/031-linstor/docs/README_RU.md
  modules/031-linstor/docs/USAGE.md
  modules/031-linstor/docs/USAGE_RU.md
Labels: area/docs, status/backport

#1285 [docs] Fix generating config.yml in the getting started (private envi…
  docs/site/_includes/getting_started/global/step_cluster_setup.html
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
  docs/site/js/getting-started-private.js
  docs/site/js/getting-started.js
Labels: area/docs

#1249 [node-group] minPerZone = 0 while maxPerZone > 0 validation
  modules/040-node-manager/webhooks/validating/node_group
Labels: area/cluster-and-infrastructure

#1275 [linstor] fix mtab warning for mkfs commands
  modules/031-linstor/images/linstor-csi/Dockerfile
  modules/031-linstor/images/linstor-server/Dockerfile
Labels: status/ok-to-test

#1277 [linstor] document FailedMount errors
  modules/031-linstor/docs/FAQ.md
  modules/031-linstor/docs/FAQ_RU.md
Labels: area/storage

#1289 [ci] Generate the cluster configuration in the in-cluster documentation
  modules/810-deckhouse-web/images/web/werf.inc.yaml
Labels: type/bug, area/docs, status/backport

#1194 [docs] Fix the text of the articles in the section «VMware vSphere»
  docs/documentation/_layouts/default.html
  docs/documentation/_plugins/openapi.rb
  docs/documentation/werf-git-section.inc.yaml
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/docs/CLUSTER_CONFIGURATION.md
  ee/candi/cloud-providers/vsphere/docs/CLUSTER_CONFIGURATION_RU.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
  ee/candi/cloud-providers/vsphere/docs/LAYOUTS.md
  ee/candi/cloud-providers/vsphere/docs/LAYOUTS_RU.md
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/doc-ru-instance_class.yaml
  ee/candi/cloud-providers/vsphere/openapi/instance_class.yaml
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION_RU.md
  ee/modules/030-cloud-provider-vsphere/docs/FAQ.md
  ee/modules/030-cloud-provider-vsphere/docs/FAQ_RU.md
  ee/modules/030-cloud-provider-vsphere/docs/README_RU.md
  ee/modules/030-cloud-provider-vsphere/docs/USAGE.md
  ee/modules/030-cloud-provider-vsphere/docs/USAGE_RU.md
  ee/modules/030-cloud-provider-vsphere/hooks/vsphere_cluster_configuration_test.go
  ee/modules/030-cloud-provider-vsphere/openapi/config-values.yaml
  ee/modules/030-cloud-provider-vsphere/openapi/doc-ru-config-values.yaml
Labels: area/docs, skip/documentation-validation, status/backport

#1283 [kube-dns][sts-pods-hosts-appender-webhook] probes tcp -> http
  modules/042-kube-dns/images/sts-pods-hosts-appender-webhook/main.go
  modules/042-kube-dns/templates/sts-pods-hosts-appender-webhook/deployment.yaml
  modules/042-kube-dns/templates/sts-pods-hosts-appender-webhook/service.yaml
Labels: area/kubernetes

#1294 [node-mananger] fix panic in apiserver endpoints discovery
  go_lib/set/set_test.go
  modules/040-node-manager/hooks/discover_apiserver_endpoints.go
Labels: area/cluster-and-infrastructure

#1287 [candi] add proper labels and taints on cluster bootstrap to master nodes
  candi/bashible/common-steps/cluster-bootstrap/070_install_control_plane.sh.tpl
Labels: type/bug, status/backport

#1282 [openvpn] openapi
  ee/fe/modules/500-openvpn/.helmignore
  ee/fe/modules/500-openvpn/docs/CONFIGURATION.md
  ee/fe/modules/500-openvpn/docs/CONFIGURATION_RU.md
  ee/fe/modules/500-openvpn/openapi/config-values.yaml
  ee/fe/modules/500-openvpn/openapi/doc-ru-config-values.yaml
  ee/fe/modules/500-openvpn/openapi/openapi-case-tests.yaml
  ee/fe/modules/500-openvpn/openapi/values.yaml
Labels: area/auth

#1246 [control-plane-manager] Add list from all namespaces to audit log by default
  modules/040-control-plane-manager/hooks/audit_policy.go
  modules/040-control-plane-manager/hooks/audit_policy_test.go
Labels: area/monitoring, type/feature-request

#1148 [linstor] Integration tests
  modules/031-linstor/docs/internal/DEVELOPMENT.md
  modules/031-linstor/docs/internal/DEVELOPMENT_RU.md
  modules/031-linstor/templates/tests/00-wait-api.yaml
  modules/031-linstor/templates/tests/01-create-storage-pool.yaml
  modules/031-linstor/templates/tests/02-storage-class.yaml
  modules/031-linstor/templates/tests/03-pod-with-volume.yaml
  modules/031-linstor/templates/tests/99-cleanup.yaml
Labels: area/storage

#1291 [docs] Minor updates
  docs/documentation/_data/sidebars/main.yml
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/fe/modules/450-network-gateway/docs/CONFIGURATION.md
  ee/fe/modules/450-network-gateway/docs/CONFIGURATION_RU.md
  ee/fe/modules/500-basic-auth/docs/CONFIGURATION_RU.md
  ee/fe/modules/500-okmeter/docs/CONFIGURATION_RU.md
  ee/fe/modules/600-namespace-configurator/docs/CONFIGURATION_RU.md
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION.md
  ee/modules/380-metallb/docs/CONFIGURATION.md
  ee/modules/380-metallb/docs/CONFIGURATION_RU.md
  modules/031-linstor/docs/ADVANCED_USAGE_RU.md
  modules/040-terraform-manager/docs/CONFIGURATION_RU.md
  modules/050-network-policy-engine/docs/CONFIGURATION.md
  modules/050-network-policy-engine/docs/CONFIGURATION_RU.md
  modules/099-ceph-csi/crds/cephcsi.yaml
  modules/099-ceph-csi/crds/doc-ru-cephcsi.yaml
  modules/099-ceph-csi/docs/CONFIGURATION.md
  modules/099-ceph-csi/docs/CONFIGURATION_RU.md
  modules/099-ceph-csi/docs/README.md
  modules/099-ceph-csi/docs/README_RU.md
  modules/150-user-authn/docs/CONFIGURATION_RU.md
  modules/150-user-authn/docs/FAQ_RU.md
  modules/303-prometheus-pushgateway/docs/CONFIGURATION_RU.md
Labels: area/docs, skip/documentation-validation

#1299 [docs] Increase maximum width of tips in openAPI schemas
  docs/documentation/_includes/openapi-tippy.html
Labels: area/docs, status/backport

#1293 [docs] Fix positions of ru and en field in yml files
  docs/documentation/_data/i18n.yml
  docs/documentation/_data/releases.yml
  docs/documentation/_data/sidebars/main.yml
  docs/site/_data/getting_started/data.yaml
  docs/site/_data/revision_comparison.yml
Labels: area/docs

#1270 [candi] Protect bashible.sh from corruption
  candi/bashible/bashible.sh.tpl
Labels: type/bug

#1298 [candi][kube-proxy] set short hostname if itsn't and force short hostname for nodeport-bind-address.sh
  candi/bashible/common-steps/all/001_set_short_hostname.sh.tpl
  modules/021-kube-proxy/images/init-container/nodeport-bind-address.sh
Labels: type/bug, area/cluster-and-infrastructure

#1068 [snapshot-controller] New module
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  docs/documentation/_data/sidebars/main.yml
  ee/modules/030-cloud-provider-openstack/templates/csi/volume-snapshot-class.yaml
  ee/modules/030-cloud-provider-vsphere/templates/csi/volume-snapshot-class.yaml
  modules/030-cloud-provider-aws/templates/csi/volume-snapshot-class.yaml
  modules/030-cloud-provider-azure/templates/csi/volume-snapshot-class.yaml
  modules/030-cloud-provider-gcp/templates/csi/volume-snapshot-class.yaml
  modules/030-cloud-provider-yandex/templates/csi/volume-snapshot-class.yaml
  modules/031-linstor/templates/csi/volume-snapshot-class.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/045-snapshot-controller/.helmignore
  modules/045-snapshot-controller/.namespace
  modules/045-snapshot-controller/Chart.yaml
  modules/045-snapshot-controller/charts/helm_lib
  modules/045-snapshot-controller/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  modules/045-snapshot-controller/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  modules/045-snapshot-controller/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  modules/045-snapshot-controller/docs/CONFIGURATION.md
  modules/045-snapshot-controller/docs/CONFIGURATION_RU.md
  modules/045-snapshot-controller/docs/README.md
  modules/045-snapshot-controller/docs/README_RU.md
  modules/045-snapshot-controller/docs/USAGE.md
  modules/045-snapshot-controller/docs/USAGE_RU.md
  modules/045-snapshot-controller/enabled
  modules/045-snapshot-controller/hooks/common_test.go
  modules/045-snapshot-controller/hooks/ensure_crds.go
  modules/045-snapshot-controller/hooks/generate_webhook_certs.go
  modules/045-snapshot-controller/hooks/generate_webhook_certs_test.go
  modules/045-snapshot-controller/images/snapshot-controller/Dockerfile
  modules/045-snapshot-controller/images/snapshot-validation-webhook/Dockerfile
  modules/045-snapshot-controller/monitoring/prometheus-rules/snapshot-controller.yaml
  modules/045-snapshot-controller/monitoring/prometheus-rules/snapshot-validation-webhook.yaml
  modules/045-snapshot-controller/openapi/config-values.yaml
  modules/045-snapshot-controller/openapi/doc-ru-config-values.yaml
  modules/045-snapshot-controller/openapi/openapi-case-tests.yaml
  modules/045-snapshot-controller/openapi/values.yaml
  modules/045-snapshot-controller/oss.yaml
  modules/045-snapshot-controller/template_tests/module_test.go
  modules/045-snapshot-controller/templates/monitoring.yaml
  modules/045-snapshot-controller/templates/namespace.yaml
  modules/045-snapshot-controller/templates/rbac-to-us.yaml
  modules/045-snapshot-controller/templates/snapshot-controller/deployment.yaml
  modules/045-snapshot-controller/templates/snapshot-controller/podmonitor.yaml
  modules/045-snapshot-controller/templates/snapshot-controller/rbac-for-us.yaml
  modules/045-snapshot-controller/templates/snapshot-validation-webhook/deployment.yaml
  modules/045-snapshot-controller/templates/snapshot-validation-webhook/secret.yaml
  modules/045-snapshot-controller/templates/snapshot-validation-webhook/service.yaml
  modules/045-snapshot-controller/templates/snapshot-validation-webhook/webhook.yaml
Labels: type/enhancement, skip/documentation-validation, area/storage

#1267 [control-plane-manager] Add experimental-initial-corrupt-check flag for etcd
  candi/control-plane-kubeadm/config.yaml.tpl
Labels: type/enhancement, area/cluster-and-infrastructure, e2e/use/k8s/1.21

#1252 [user-authn] Do not wait for deleting publish API secret
  modules/150-user-authn/hooks/discover_publish_api_cert.go
Labels: area/auth

#1303 [ci] fix: support closed PRs in pull_request_info_job
  .github/ci_templates/helper_jobs.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/on-pull-request-labeled.yml
  .github/workflows/validation.yml
Labels: area/dx

#1300 [prometheus] Alerts with no namespace go to clusters
  ee/modules/600-flant-integration/templates/madison/additional-alert-relable-config.yaml
Labels: area/monitoring

#1280 Changelog v1.31.11
  CHANGELOG/CHANGELOG-v1.31.11.yml
  CHANGELOG/CHANGELOG-v1.31.md
Labels: changelog, auto

#1304 [docs][snapshot-controller] Minor updates
  docs/documentation/_data/sidebars/main.yml
  modules/045-snapshot-controller/docs/CONFIGURATION_RU.md
  modules/045-snapshot-controller/docs/README_RU.md
  modules/045-snapshot-controller/docs/USAGE.md
  modules/045-snapshot-controller/docs/USAGE_RU.md
Labels: area/docs, skip/documentation-validation

#1297 [candi] fixed kubernetes-api-proxy run in docker envs
  candi/bashible/common-steps/node-group/050_configure_and_start_docker.sh.tpl
  candi/bashible/common-steps/node-group/052_configure_kubernetes_api_proxy.sh.tpl
Labels: type/bug

#1308 [prometheus] handle custom alertmanager path
  modules/300-prometheus/templates/alertmanager/additional-configs-secret.yaml
Labels: area/monitoring, status/backport

#1309 [openvpn] fix dex applicationDomain
  ee/fe/modules/500-openvpn/templates/openvpn/authenticator.yaml
Labels: area/auth, status/backport

#1084 [linstor] some improvements
  modules/031-linstor/docs/USAGE.md
  modules/031-linstor/docs/USAGE_RU.md
  modules/031-linstor/templates/linstor-controller/linstorcontroller.yaml
  modules/031-linstor/templates/linstor-csi/linstorcsidriver.yaml
  modules/031-linstor/templates/linstor-ha-controller/deployment.yaml
  modules/031-linstor/templates/linstor-node/linstorsatelliteset.yaml
  modules/031-linstor/templates/linstor-pools-importer/daemonset.yaml
  modules/031-linstor/templates/linstor-scheduler/deployment.yaml
  modules/031-linstor/templates/linstor-scheduler/rbac-for-us.yaml
  modules/031-linstor/templates/tests/00-wait-api.yaml
  modules/031-linstor/templates/tests/01-create-storage-pool.yaml
  modules/031-linstor/templates/tests/03-pod-with-volume.yaml
  modules/031-linstor/templates/tests/05-pools-importer.yaml
  modules/031-linstor/templates/tests/99-cleanup.yaml
Labels: area/storage

#1221 [node-manager] Don't deploy standby-holder if there is minPerZone == maxPerZone
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
  modules/040-node-manager/hooks/discover_standby_ng.go
  modules/040-node-manager/hooks/discover_standby_ng_test.go
Labels: area/cluster-and-infrastructure

#1327 [flant-integration] remove migration configmap
  candi/bashible/bundles/centos/node-group/001_remove_external_dependencies_migration.sh.tpl
  candi/bashible/bundles/debian/node-group/001_remove_external_dependencies_migration.sh.tpl
  candi/bashible/common-steps/all/001_fix_registry_packages_store.sh.tpl
  candi/bashible/common-steps/all/003_add_resolv_copier.sh.tpl
  candi/bashible/common-steps/all/003_remove_resolv_copier.sh.tpl
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  ee/modules/600-flant-integration/hooks/migrate/common_test.go
  ee/modules/600-flant-integration/hooks/migrate/remove_d8_migrate_cluster_kubernetes_version_cm.go
  ee/modules/600-flant-integration/hooks/migrate/remove_d8_migrate_cluster_kubernetes_version_cm_test.go
  testing/matrix/linter/rules/rules.go
Labels: area/cluster-and-infrastructure, type/chore

#1076 Changelog v1.32.0
  CHANGELOG/CHANGELOG-v1.32.0.yml
  CHANGELOG/CHANGELOG-v1.32.md
Labels: changelog, auto

#1307 [openvpn] fix openapi
  ee/fe/modules/500-openvpn/openapi/config-values.yaml
  ee/fe/modules/500-openvpn/openapi/values.yaml
  ee/fe/modules/500-openvpn/template_tests/copy_custom_certificate_test.go
  ee/fe/modules/500-openvpn/values.yaml
  ee/fe/modules/500-openvpn/values_matrix_test.yaml
Labels: skip/documentation-validation

#1335 Changelog v1.32.0
  CHANGELOG/CHANGELOG-v1.32.0.yml
  CHANGELOG/CHANGELOG-v1.32.md
Labels: changelog, auto

#1336 [docs] Remove ingressClassName from the site Ingress templates
  docs/documentation/.helm/templates/20-ingress.yaml
  docs/site/.helm/templates/20-ingress.yaml
Labels: area/docs

#1339 Changelog v1.32.0
  CHANGELOG/CHANGELOG-v1.32.0.yml
  CHANGELOG/CHANGELOG-v1.32.md
Labels: changelog, auto

#1345 [prometheus] Fix null pointer dereference in prometheus_disk.go hook
  modules/300-prometheus/hooks/prometheus_disk.go
Labels: area/monitoring, type/bug

#1347 Changelog v1.32.1
  CHANGELOG/CHANGELOG-v1.32.1.yml
  CHANGELOG/CHANGELOG-v1.32.md
Labels: changelog, auto

#1349 [ci] add 1.23 for e2e tests
  .github/scripts/js/constants.js
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: area/dx

#1354 [openvpn] fix sts api version in migration hook
  ee/fe/modules/500-openvpn/hooks/easyrsa_migration.go
Labels: type/bug

#1353 [openvpn] Set default value for loadbalancer object in the OpenAPI schema
  ee/fe/modules/500-openvpn/openapi/config-values.yaml
Labels: type/bug, skip/documentation-validation

#1356 Changelog v1.32.2
  CHANGELOG/CHANGELOG-v1.32.2.yml
  CHANGELOG/CHANGELOG-v1.32.md
Labels: changelog, auto

#1358 [linstor] Update FAQ: add error case
  modules/031-linstor/docs/FAQ.md
  modules/031-linstor/docs/FAQ_RU.md
Labels: area/docs, status/backport

#1222 [docs] Fix the text of the articles in the section «Yandex.Cloud»
  candi/cloud-providers/yandex/docs/ENVIRONMENT.md
  candi/cloud-providers/yandex/docs/ENVIRONMENT_RU.md
  candi/cloud-providers/yandex/docs/LAYOUTS.md
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/yandex/openapi/instance_class.yaml
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-yandex/docs/CONFIGURATION.md
  modules/030-cloud-provider-yandex/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-yandex/docs/FAQ.md
  modules/030-cloud-provider-yandex/docs/FAQ_RU.md
  modules/030-cloud-provider-yandex/docs/README.md
  modules/030-cloud-provider-yandex/docs/README_RU.md
  modules/030-cloud-provider-yandex/docs/USAGE.md
  modules/030-cloud-provider-yandex/docs/USAGE_RU.md
  modules/030-cloud-provider-yandex/openapi/config-values.yaml
  modules/030-cloud-provider-yandex/openapi/doc-ru-config-values.yaml
Labels: area/docs, status/backport

#1367 [docs] Minor updates
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
  modules/030-cloud-provider-yandex/openapi/values.yaml
Labels: area/docs, status/backport

#1269 [docs] Fix the text of the articles in the section «Other modules»
  ee/modules/350-node-local-dns/docs/CONFIGURATION.md
  ee/modules/350-node-local-dns/docs/CONFIGURATION_RU.md
  ee/modules/350-node-local-dns/docs/README.md
  ee/modules/350-node-local-dns/docs/README_RU.md
  ee/modules/350-node-local-dns/docs/USAGE_RU.md
  modules/021-kube-proxy/docs/README.md
  modules/021-kube-proxy/docs/README_RU.md
  modules/035-cni-flannel/docs/CONFIGURATION.md
  modules/035-cni-flannel/docs/CONFIGURATION_RU.md
  modules/035-cni-flannel/openapi/config-values.yaml
  modules/035-cni-flannel/openapi/doc-ru-config-values.yaml
  modules/035-cni-simple-bridge/docs/README.md
  modules/035-cni-simple-bridge/docs/README_RU.md
  modules/040-terraform-manager/docs/README.md
  modules/040-terraform-manager/docs/README_RU.md
  modules/040-terraform-manager/openapi/config-values.yaml
  modules/040-terraform-manager/openapi/doc-ru-config-values.yaml
  modules/042-kube-dns/docs/README.md
  modules/042-kube-dns/docs/README_RU.md
  modules/042-kube-dns/openapi/config-values.yaml
  modules/042-kube-dns/openapi/doc-ru-config-values.yaml
  modules/465-pod-reloader/docs/CONFIGURATION.md
Labels: area/docs, skip/documentation-validation, status/backport

#1368 [docs] Add subscription plan title anchor for enterprise edition landing on the site
  docs/site/pages/enterprise_edition.html
  docs/site/pages/enterprise_edition_ru.html
Labels: area/docs

#1364 [go_lib::storage_class_change] fix for storageClass=false
  go_lib/hooks/storage_class_change/hook.go
Labels: status/backport

#1320 Chore: update changes description in PR template
  .github/pull_request_template.md
Labels: area/dx

#1333 Add codeowners
  .github/CODEOWNERS
Labels: skip/copyright-validation

#1380 Disable dependabot for github actions
  .github/dependabot.yml
Labels: area/dx

#1363 [cloud-provider-vsphere] setting default values in hybrid mode
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/modules/030-cloud-provider-vsphere/hooks/vsphere_cluster_configuration.go
  ee/modules/030-cloud-provider-vsphere/hooks/vsphere_cluster_configuration_test.go
Labels: area/cloud-provider

#1334 [upmeter] use timeout in insecure client
  modules/500-upmeter/images/upmeter/pkg/probe/checker/http.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/prometheus.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/prometheus_metrics_adapter.go
Labels: area/monitoring

#1377 [deckhouse] handle feature gates on k8s update
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  go.mod
  go.sum
  modules/020-deckhouse/templates/deployment.yaml
  modules/999-helm/hooks/cleanup_old_helm_revisions
Labels: status/backport

#1384 [docs] Update title of the editions
  docs/documentation/_data/i18n.yml
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/_includes/sidebar_entry.html
  docs/documentation/_plugins/openapi.rb
  docs/documentation/pages/internal/DEVELOPMENT.md
  docs/site/_config.yml
  docs/site/css/docs.scss
  modules/031-linstor/docs/ADVANCED_USAGE.md
  modules/031-linstor/docs/ADVANCED_USAGE_RU.md
  modules/031-linstor/docs/CONFIGURATION.md
  modules/031-linstor/docs/CONFIGURATION_RU.md
  modules/031-linstor/docs/FAQ.md
  modules/031-linstor/docs/FAQ_RU.md
  modules/031-linstor/docs/README.md
  modules/031-linstor/docs/README_RU.md
  modules/031-linstor/docs/USAGE.md
  modules/031-linstor/docs/USAGE_RU.md
Labels: area/docs, skip/documentation-validation, status/backport

#1375 [chrony] remove chronyd stale pid file if chronyd crashes
  modules/470-chrony/images/chrony/start.sh
Labels: type/bug, status/backport

#1387 [control-plane-manager] Update etcd to 3.5.3
  .github/ci_includes/image_versions.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/schedule-cleanup.yml
  .gitlab/ci_includes/image_versions.yml
Labels: status/backport

#1383 [dashboard] upgrade from 2.2.0 to 2.5.1
  modules/500-dashboard/images/dashboard/Dockerfile
Labels: area/ux

#1398 [cloud-providers-*] Fix cloud providers centos bundle
  candi/cloud-providers/aws/bashible/bundles/centos/all/000_install_nvme_cli.sh.tpl
  candi/cloud-providers/yandex/bashible/bundles/centos/all/010_set_hostname.sh.tpl
  ee/candi/cloud-providers/vsphere/bashible/bundles/centos/all/030_upgrade_open_vm_tools.sh.tpl
Labels: area/cloud-provider, area/core, status/backport

#1397 [linstor] satellites: restore evicted satellites if pod exists
  modules/031-linstor/images/piraeus-operator/patches/README.md
  modules/031-linstor/images/piraeus-operator/patches/restore-evicted-satellites.diff
Labels: status/on-hold, status/backport

#1402 [istio][kiali] jaegerURLForUsers fix (#1196)
  ee/modules/110-istio/templates/kiali/configmap.yaml
Labels: type/bug

#1370 Changelog v1.31.13
  CHANGELOG/CHANGELOG-v1.31.13.yml
  CHANGELOG/CHANGELOG-v1.31.md
Labels: changelog, auto

#1400 Revert "[cloud-provider-aws] allow ssh access to master nodes only from bastion"
  candi/cloud-providers/aws/layouts/standard/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/with-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/without-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/terraform-modules/security-groups/main.tf
  candi/cloud-providers/aws/terraform-modules/security-groups/outputs.tf
Labels: status/backport

#1362 Changelog v1.32.3
  CHANGELOG/CHANGELOG-v1.32.3.yml
  CHANGELOG/CHANGELOG-v1.32.md
Labels: changelog, auto

#1257 [upmeter] fix slowing response of probe list
  modules/500-upmeter/images/upmeter/cmd/upmeter/parse_args.go
  modules/500-upmeter/images/upmeter/pkg/agent/agent.go
  modules/500-upmeter/images/upmeter/pkg/agent/manager/manager.go
  modules/500-upmeter/images/upmeter/pkg/agent/scheduler/scheduler.go
  modules/500-upmeter/images/upmeter/pkg/agent/sender/client.go
  modules/500-upmeter/images/upmeter/pkg/check/episode.go
  modules/500-upmeter/images/upmeter/pkg/check/proberef.go
  modules/500-upmeter/images/upmeter/pkg/check/runner.go
  modules/500-upmeter/images/upmeter/pkg/db/context/context.go
  modules/500-upmeter/images/upmeter/pkg/db/dao/episode30s.go
  modules/500-upmeter/images/upmeter/pkg/db/dao/episode30s_test.go
  modules/500-upmeter/images/upmeter/pkg/db/dao/episode5m.go
  modules/500-upmeter/images/upmeter/pkg/db/dao/exporting.go
  modules/500-upmeter/images/upmeter/pkg/kubernetes/access.go
  modules/500-upmeter/images/upmeter/pkg/probe/calculated/probe.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/base.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/base_test.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/http.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_daemonset.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_daemonset_test.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_deployment.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/prometheus.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/prometheus_metrics_adapter.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/smoke_mini.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/smoke_mini_test.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_synthetic.go
  modules/500-upmeter/images/upmeter/pkg/probe/load.go
  modules/500-upmeter/images/upmeter/pkg/probe/load_test.go
  modules/500-upmeter/images/upmeter/pkg/probe/util/timeout.go
  modules/500-upmeter/images/upmeter/pkg/registry/registry.go
  modules/500-upmeter/images/upmeter/pkg/registry/registry_test.go
  modules/500-upmeter/images/upmeter/pkg/server/api/probelist.go
  modules/500-upmeter/images/upmeter/pkg/server/api/public_status.go
  modules/500-upmeter/images/upmeter/pkg/server/entity/probelist.go
  modules/500-upmeter/images/upmeter/pkg/server/entity/status.go
  modules/500-upmeter/images/upmeter/pkg/server/ranges/steprange.go
  modules/500-upmeter/images/upmeter/pkg/server/remotewrite/controller.go
  modules/500-upmeter/images/upmeter/pkg/server/remotewrite/syncer.go
  modules/500-upmeter/images/upmeter/pkg/server/server.go
  modules/500-upmeter/images/upmeter/pkg/server/server_test.go
  modules/500-upmeter/images/upmeter/pkg/set/set.go
  modules/500-upmeter/images/upmeter/pkg/time/time.go
  modules/500-upmeter/images/upmeter/pkg/util/env.go
  modules/500-upmeter/images/upmeter/pkg/util/minmax.go
  modules/500-upmeter/templates/upmeter/statefulset.yaml
Labels: area/monitoring, type/bug

#1332 [deckhouse] Add faq about kube-bench
  docs/documentation/_data/sidebars/main.yml
  modules/020-deckhouse/docs/FAQ.md
  modules/020-deckhouse/docs/FAQ_RU.md
Labels: area/docs

#1409 [ci] fix: --user option for proper permission on generated files
  .github/render-workflows.sh
Labels: area/dx

#1396 [prometheus] delete old shell hook prometheus_storage_class_change
  go_lib/hooks/storage_class_change/hook.go
  modules/300-prometheus/hooks/prometheus_storage_class_change
Labels: area/monitoring

#1417 [openvpn] Fixed "loadBalancer" OpenAPI spec
  ee/fe/modules/500-openvpn/openapi/config-values.yaml
Labels: skip/documentation-validation

#1416 [docs][openvpn] Documentation updates
  ee/fe/modules/500-openvpn/openapi/config-values.yaml
  ee/fe/modules/500-openvpn/openapi/doc-ru-config-values.yaml
Labels: area/docs, status/backport

#1418 [docs] Disable directory listing on the site
  docs/documentation/Makefile
  docs/documentation/werf.yaml
  docs/site/Makefile
  docs/site/werf.yaml
Labels: area/docs

#1414 [ci] fix: proper image name for e2e in test repos
  .github/ci_templates/build.yml
  .github/ci_templates/e2e_tests.yml
  .github/ci_templates/helper_jobs.yml
  .github/workflow_templates/e2e.multi.yml
  .github/workflow_templates/validation.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/schedule-cleanup.yml
  .github/workflows/suspend-alpha.yml
  .github/workflows/suspend-beta.yml
  .github/workflows/suspend-early-access.yml
  .github/workflows/suspend-rock-solid.yml
  .github/workflows/suspend-stable.yml
  testing/cloud_layouts/script.sh
Labels: area/dx

#1413 [node-manager] Remove migration which added and removed labels for control-plane nodes
  modules/040-node-manager/hooks/add_control_plane_role_to_master_ng.go
  modules/040-node-manager/hooks/add_control_plane_role_to_master_ng_test.go
Labels: area/cluster-and-infrastructure

#1426 [candi] fix startup config in kubernetes api proxy configuration script
  candi/bashible/common-steps/node-group/052_configure_kubernetes_api_proxy.sh.tpl
Labels: type/bug, area/cluster-and-infrastructure

#1434 [upmeter] Add link to CustomResources into the sidebar of the site
  docs/documentation/_data/sidebars/main.yml
Labels: status/backport

#1173 [candi] improve bundle detection
  candi/bashible/bundles/centos/all/000_add_yum_proxy_conf.sh.tpl
  candi/bashible/bundles/centos/all/001_install_mandatory_packages.sh.tpl
  candi/bashible/detect_bundle.sh
  candi/version_map.yml
  modules/007-registrypackages/images/bash-completion-extras-centos/scripts/install
  modules/007-registrypackages/images/bash-completion-extras-centos/scripts/uninstall
  modules/007-registrypackages/images/bash-completion-extras-centos/werf.inc.yaml
  modules/035-cni-flannel/images/flanneld/Dockerfile
Labels: type/enhancement

#1435 [snapshot-controller] Fix deployment
  modules/045-snapshot-controller/templates/snapshot-controller/deployment.yaml
  modules/045-snapshot-controller/templates/snapshot-validation-webhook/deployment.yaml
Labels: status/backport

#1412 [dhctl] Add InsecureSkipTLSVerifyBackend option for requesting deckhouse logs
  dhctl/pkg/kubernetes/actions/deckhouse/log.go
Labels: area/cli, e2e/use/k8s/1.21

#1422 [node-manager][dhctl] Move creating master ng to hook from dhctl
  dhctl/cmd/dhctl/commands/bootstrap/bootstrap.go
  dhctl/cmd/dhctl/commands/bootstrap/phase.go
  dhctl/pkg/config/meta.go
  dhctl/pkg/kubernetes/actions/deckhouse/log.go
  dhctl/pkg/operations/bootstrap.go
  modules/040-node-manager/hooks/create_master_node_group.go
  modules/040-node-manager/hooks/create_master_node_group_test.go
Labels: e2e/use/k8s/1.21

#1438 [docs] Ingress updates
  docs/site/.helm/templates/20-ingress.yaml
Labels: area/docs

#1437 [prometheus] fix calculating pvc size for local storage
  modules/300-prometheus/hooks/prometheus_disk.go
Labels: status/backport

#1445 [docs] Fix misspellings
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/existing/STEP_FINALIZE.md
  docs/site/_includes/getting_started/global/STEP_CLUSTER_ACCESS.md
  docs/site/_includes/getting_started/global/step_cluster_setup.html
  docs/site/_includes/getting_started/vsphere/STEP_ENV.md
Labels: area/docs, status/backport

#1444 [prometheus] Add app-root annotation for example `Connecting Prometheus to an external Grafana instance`
  modules/300-prometheus/docs/USAGE.md
  modules/300-prometheus/docs/USAGE_RU.md
Labels: area/docs, status/backport

#1428 [deckhouse-controller] fix: error on 'config list' command, log level for snapshot info
  deckhouse-controller/cmd/deckhouse-controller/main.go
  go.mod
  go.sum
Labels: area/core

#1440 [candi] added file sync on bashible.sh change
  candi/bashible/bashible.sh.tpl
Labels: area/cluster-and-infrastructure, status/backport

#1120 [monitoring-kubernetes] ebpf-exporter improvements
  modules/040-node-manager/hooks/internal/v1/nodegroup_generated.deepcopy.go
  modules/040-node-manager/hooks/internal/v1alpha2/nodegroup_generated.deepcopy.go
  modules/340-monitoring-kubernetes/hooks/remove_deprecated_ebpf_exporter_annotation.go
  modules/340-monitoring-kubernetes/hooks/remove_deprecated_ebpf_exporter_annotation_test.go
  modules/340-monitoring-kubernetes/images/ebpf-exporter/Dockerfile
  modules/340-monitoring-kubernetes/images/ebpf-exporter/patches/001-kernel-version-detection-and-individual-program-failure.patch
  modules/340-monitoring-kubernetes/images/ebpf-exporter/patches/README.md
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/configmap.yaml
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/daemonset.yaml
Labels: area/monitoring, type/enhancement

#1405 [Upmeter] Show only present data in UI
  modules/500-upmeter/images/webui/.prettierignore
  modules/500-upmeter/images/webui/.prettierrc.yaml
  modules/500-upmeter/images/webui/README.md
  modules/500-upmeter/images/webui/package.json
  modules/500-upmeter/images/webui/src/app/_variables.scss
  modules/500-upmeter/images/webui/src/app/components/GroupProbeTooltip.tsx
  modules/500-upmeter/images/webui/src/app/components/Icon.tsx
  modules/500-upmeter/images/webui/src/app/components/MultiSelect.tsx
  modules/500-upmeter/images/webui/src/app/components/MuteTypeTooltip.tsx
  modules/500-upmeter/images/webui/src/app/components/PieBoundingRect.tsx
  modules/500-upmeter/images/webui/src/app/components/PieTooltip.tsx
  modules/500-upmeter/images/webui/src/app/components/StepIndicator.tsx
  modules/500-upmeter/images/webui/src/app/components/TimePicker/TimeRangePicker.tsx
  modules/500-upmeter/images/webui/src/app/components/TimePicker/TimeRangePicker/TimePickerContent.tsx
  modules/500-upmeter/images/webui/src/app/components/TimePicker/TimeRangePicker/TimeRangeList.tsx
  modules/500-upmeter/images/webui/src/app/components/TimePicker/TimeRangePicker/TimeRangeOption.tsx
  modules/500-upmeter/images/webui/src/app/components/TimePicker/rangeOptions.ts
  modules/500-upmeter/images/webui/src/app/components/TopNavBar.tsx
  modules/500-upmeter/images/webui/src/app/components/_MultiSelect.scss
  modules/500-upmeter/images/webui/src/app/components/_PieTooltip.scss
  modules/500-upmeter/images/webui/src/app/components/_TopNavBar.scss
  modules/500-upmeter/images/webui/src/app/debug.js
  modules/500-upmeter/images/webui/src/app/graph/_graph.scss
  modules/500-upmeter/images/webui/src/app/graph/render.tsx
  modules/500-upmeter/images/webui/src/app/graph/topticks.ts
  modules/500-upmeter/images/webui/src/app/i18n/en.ts
  modules/500-upmeter/images/webui/src/app/i18n/index.ts
  modules/500-upmeter/images/webui/src/app/index.tsx
  modules/500-upmeter/images/webui/src/app/libs/d3.ts
  modules/500-upmeter/images/webui/src/app/libs/fontawesome.ts
  modules/500-upmeter/images/webui/src/app/services/Dataset.ts
  modules/500-upmeter/images/webui/src/app/services/DatasetSrv.ts
  modules/500-upmeter/images/webui/src/app/services/EventsSrv.ts
  modules/500-upmeter/images/webui/src/app/services/SettingsStore.ts
  modules/500-upmeter/images/webui/src/app/services/TimeRangeSrv.ts
  modules/500-upmeter/images/webui/src/app/util/humanSeconds.ts
  modules/500-upmeter/images/webui/src/app/util/rangeSteps.ts
  modules/500-upmeter/images/webui/src/app/util/type.ts
  modules/500-upmeter/images/webui/src/css/main.css
  modules/500-upmeter/images/webui/src/index.html
  modules/500-upmeter/images/webui/src/modules/@grafana/ui/components/Select/SelectBase.tsx
  modules/500-upmeter/images/webui/src/modules/@grafana/ui/components/Select/utils.ts
  modules/500-upmeter/images/webui/src/types/index.d.ts
  modules/500-upmeter/images/webui/webpack.dev.js
  modules/500-upmeter/images/webui/webpack.prod.js
  modules/500-upmeter/images/webui/yarn.lock
Labels: area/monitoring

#1448 Revert "[docs] Fix openAPI schema generator (#1272)"
  docs/documentation/_plugins/openapi.rb
Labels: area/docs

#1450 [Upmeter] Fix setting disabled probes
  modules/500-upmeter/images/upmeter/cmd/upmeter/main.go
  modules/500-upmeter/images/upmeter/cmd/upmeter/parse_args.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_deployment.go
  modules/500-upmeter/templates/upmeter-agent/daemonset.yaml
  modules/500-upmeter/templates/upmeter/statefulset.yaml
Labels: area/monitoring, type/bug

#1430 [log-shipper] Fix reloading signal
  modules/460-log-shipper/images/vector/Dockerfile
  modules/460-log-shipper/images/vector/reloader
Labels: area/monitoring, type/bug

#1451 [docs] New sidebar section on the site - Storage
  docs/documentation/_data/sidebars/main.yml
Labels: area/docs, status/backport

#1456 [docs] Minor updates
  docs/documentation/pages/DECKHOUSE_CONFIGURE.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_RU.md
Labels: area/docs

#1453 [log-shipper] Migrate deprecated elasticsearch fields
  modules/460-log-shipper/hooks/internal/vector/config/testdata/config_3.json
  modules/460-log-shipper/hooks/internal/vector/model/destination.go
  modules/460-log-shipper/hooks/internal/vector/model/model.go
  modules/460-log-shipper/hooks/testdata/es-5x.json
  modules/460-log-shipper/hooks/testdata/multiline.json
  modules/460-log-shipper/hooks/testdata/multiple-dests.json
  modules/460-log-shipper/hooks/testdata/namespaced-source.json
  modules/460-log-shipper/hooks/testdata/one-dest.json
  modules/460-log-shipper/hooks/testdata/pair-datastream.json
  modules/460-log-shipper/hooks/testdata/simple-pair.json
Labels: status/backport

#1458 [docs] Highlight default Kubernetes version
  docs/documentation/_data/i18n.yml
  docs/documentation/_includes/SUPPORTED_VERSIONS.md
  docs/documentation/werf-git-section.inc.yaml
  docs/documentation/werf.yaml
  modules/810-deckhouse-web/images/web/werf.inc.yaml
Labels: area/docs

#1410 Changelog v1.32.4
  CHANGELOG/CHANGELOG-v1.32.4.yml
  CHANGELOG/CHANGELOG-v1.32.md
Labels: changelog, auto

#1455 [docs] Translate the flant-integration module documentation
  ee/modules/600-flant-integration/docs/README.md
Labels: area/docs

#1386 [candi] migrate to cgroupfs containerd
  candi/bashible/bundles/centos/node-group/031_install_containerd.sh.tpl
  candi/bashible/bundles/debian/node-group/031_install_containerd.sh.tpl
  candi/bashible/bundles/ubuntu-lts/node-group/031_install_containerd.sh.tpl
  candi/bashible/common-steps/node-group/000_migrate_containerd_to_cgroupfs.sh.tpl
  candi/bashible/common-steps/node-group/050_configure_and_start_containerd.sh.tpl
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
  candi/version_map.yml
  modules/007-registrypackages/images/containerd-debian/scripts/install
  modules/007-registrypackages/images/containerd-fe/patches/README.md
  modules/007-registrypackages/images/containerd-fe/patches/werf-empty-string-entrypoint-fix.patch
  modules/007-registrypackages/images/containerd-fe/werf.inc.yaml
  modules/007-registrypackages/images/containerd-ubuntu/scripts/install
Labels: area/cluster-and-infrastructure

#1429 [flant-integration] Describe what info Deckhouse sends
  docs/documentation/images/500-upmeter/image1.png
  docs/documentation/images/500-upmeter/image2.png
  docs/documentation/images/600-flant-integration/image1.png
  docs/documentation/images/600-flant-integration/image2.png
  docs/documentation/images/600-flant-integration/image3.png
  docs/documentation/images/600-flant-integration/image4.png
  docs/site/_config.yml
  ee/modules/600-flant-integration/docs/CONFIGURATION.md
  ee/modules/600-flant-integration/docs/README.md
  ee/modules/600-flant-integration/docs/README_RU.md
  ee/modules/600-flant-integration/docs/internal/MADISON_RU.md
  ee/modules/600-flant-integration/docs/internal/img/madison.png
  modules/500-upmeter/docs/README.md
  modules/500-upmeter/docs/README_RU.md
Labels: area/docs

#1449 Fix OpenAPI specifications
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/modules/030-cloud-provider-vsphere/openapi/values.yaml
  modules/500-upmeter/crds/doc-ru-upmeterhookprobe.yaml
  modules/500-upmeter/openapi/doc-ru-config-values.yaml
Labels: skip/documentation-validation

#1463 [openvpn] Fix Values references in CM template
  ee/fe/modules/500-openvpn/templates/openvpn/configmap.yaml
Labels: type/bug, status/backport

#1468 [docs] Change the diskType from the gp2 to gp3 in the Getting started for AWS
  candi/cloud-providers/aws/docs/LAYOUTS.md
  candi/cloud-providers/aws/docs/LAYOUTS_RU.md
  docs/site/_includes/getting_started/aws/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.with_nat.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.with_nat.ee.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.ee.inc
  docs/site/_includes/getting_started/aws/partials/resources.yml.ha.inc
  docs/site/_includes/getting_started/aws/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/aws/partials/resources.yml.production.inc
Labels: area/docs

#1470 [docs] Disable accordion mode in the sidebar
  docs/site/_includes/head-site.html
Labels: area/docs

#1474 [docs] Minor fixes
  docs/documentation/pages/internal/DEVELOPMENT.md
  docs/documentation/pages/internal/PROXY.md
  docs/site/_includes/getting_started/kind/STEP_PREPARE.md
  docs/site/_includes/getting_started/kind/STEP_PREPARE_RU.md
  ee/fe/modules/500-openvpn/docs/USAGE.md
  ee/fe/modules/500-openvpn/docs/USAGE_RU.md
  ee/modules/110-istio/docs/internal/DEVELOPMENT_RU.md
  ee/modules/600-flant-integration/docs/README.md
  modules/020-deckhouse/docs/internal/ALERTING.md
  modules/030-cloud-provider-yandex/docs/FAQ.md
  modules/030-cloud-provider-yandex/docs/FAQ_RU.md
  modules/031-linstor/docs/ADVANCED_USAGE.md
  modules/031-linstor/docs/ADVANCED_USAGE_RU.md
  modules/031-linstor/docs/CONFIGURATION.md
  modules/031-linstor/docs/CONFIGURATION_RU.md
  modules/031-linstor/docs/internal/DEVELOPMENT.md
  modules/031-linstor/docs/internal/DEVELOPMENT_RU.md
  modules/031-local-path-provisioner/docs/README.md
  modules/031-local-path-provisioner/docs/README_RU.md
  modules/035-cni-flannel/docs/CONFIGURATION.md
  modules/035-cni-flannel/docs/CONFIGURATION_RU.md
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
  modules/040-control-plane-manager/docs/README.md
  modules/040-control-plane-manager/docs/README_RU.md
  modules/101-cert-manager/docs/USAGE.md
  modules/101-cert-manager/docs/USAGE_RU.md
  modules/140-user-authz/docs/USAGE_RU.md
  modules/500-upmeter/docs/internal/DEVELOPMENT_RU.md
Labels: area/docs, skip/documentation-validation, status/backport

#1459 [extended-monitoring] Image availability exporter v0.3.2
  ee/fe/modules/340-extended-monitoring/images/image-availability-exporter/Dockerfile
  ee/fe/modules/340-extended-monitoring/monitoring/prometheus-rules/image-availability/exporter-health.yaml
  ee/fe/modules/340-extended-monitoring/template_tests/image_availability_test.go
  ee/fe/modules/340-extended-monitoring/templates/image-availability-exporter/deployment.yaml
Labels: area/monitoring, type/enhancement

#1479 [docs] update enterprise edition seles section
  docs/site/_data/footer.yaml
  docs/site/_data/topnav.yml
  docs/site/css/components/_block.scss
  docs/site/css/components/common/_button.scss
  docs/site/images/external/olli.png
  docs/site/images/external/softline.png
  docs/site/images/external/sovintegra.png
  docs/site/pages/enterprise_edition_ru.html
Labels: area/docs

#1480 [node-manager] Truncate event message to allowed maximums in update_node_group_status hook
  modules/040-node-manager/hooks/update_node_group_status.go
Labels: type/bug, area/cluster-and-infrastructure

#1483 [docs] Fixed slider on main page
  docs/site/_includes/clients.html
  docs/site/_includes/head-site.html
  docs/site/css/components/_clients.scss
Labels: area/docs

#1486 [ci] fix: support push trigger for build-and-test_dev
  .github/ci_templates/helper_jobs.yml
  .github/render-workflows.sh
  .github/workflows/build-and-test_dev.yml
  .github/workflows/on-pull-request-labeled.yml
  .github/workflows/validation.yml
Labels: area/dx

#1482 [candi] fixed race condition between old kubernetes-api-proxy-configurator and bashible step
  candi/bashible/common-steps/node-group/051_remove_old_kubernetes_api_proxy.sh.tpl
Labels: area/cluster-and-infrastructure, status/backport

#1478 [ceph-csi] allow helm_lib_csi_node_manifests to be used for all cluster types for ceph-csi
  helm_lib/templates/_csi_node.tpl
  modules/099-ceph-csi/docs/USAGE.md
  modules/099-ceph-csi/docs/USAGE_RU.md
Labels: status/backport

#1485 [site] Fix offset for list
  docs/site/css/components/_resources.scss
  docs/site/css/docs.scss
Labels: area/docs, status/backport

#1481 [helm_lib] Properly update CSI controller Deployment
  helm_lib/templates/_csi_controller.tpl
Labels: area/cloud-provider, type/bug, status/backport

#1467 [docs] Add the Overview page
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/DECKHOUSE-OVERVIEW.md
  docs/documentation/pages/DECKHOUSE-OVERVIEW_RU.md
Labels: area/docs, status/backport

#1424 [log-shipper] Label filter
  docs/documentation/images/460-log-shipper/log_shipper_pipeline.png
  go.mod
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/cluster-logging-config.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-logging-config.yaml
  modules/460-log-shipper/crds/doc-ru-pod-logging-config.yaml
  modules/460-log-shipper/crds/pod-logging-config.yaml
  modules/460-log-shipper/docs/ADVANCED_USAGE.md
  modules/460-log-shipper/docs/ADVANCED_USAGE_RU.md
  modules/460-log-shipper/docs/README.md
  modules/460-log-shipper/docs/README_RU.md
  modules/460-log-shipper/docs/USAGE.md
  modules/460-log-shipper/docs/USAGE_RU.md
  modules/460-log-shipper/hooks/generate_config.go
  modules/460-log-shipper/hooks/generate_config_test.go
  modules/460-log-shipper/hooks/internal/v1alpha1/cluster_logging_config.go
  modules/460-log-shipper/hooks/internal/v1alpha1/filter.go
  modules/460-log-shipper/hooks/internal/v1alpha1/pod_logging_config.go
  modules/460-log-shipper/hooks/internal/vector/transform/default.go
  modules/460-log-shipper/hooks/internal/vector/transform/filter.go
  modules/460-log-shipper/hooks/internal/vector/transform/log_filter.go
  modules/460-log-shipper/hooks/internal/vector/transform/testdata/filters.json
  modules/460-log-shipper/hooks/internal/vector/transform/testdata/transform-snippet.json
  modules/460-log-shipper/hooks/internal/vector/transform/transforms_test.go
  modules/460-log-shipper/hooks/internal/vector/vrl/cleanup.go
  modules/460-log-shipper/hooks/internal/vector/vrl/common.go
  modules/460-log-shipper/hooks/internal/vector/vrl/elasticsearch.go
  modules/460-log-shipper/hooks/internal/vector/vrl/filter.go
  modules/460-log-shipper/hooks/internal/vector/vrl/filter_test.go
  modules/460-log-shipper/hooks/internal/vector/vrl/json.go
  modules/460-log-shipper/hooks/internal/vector/vrl/log_filter.go
  modules/460-log-shipper/hooks/testdata/es-5x.json
  modules/460-log-shipper/hooks/testdata/multiline.json
  modules/460-log-shipper/hooks/testdata/multiple-dests.json
  modules/460-log-shipper/hooks/testdata/namespaced-source.json
  modules/460-log-shipper/hooks/testdata/one-dest.json
  modules/460-log-shipper/hooks/testdata/pair-datastream.json
  modules/460-log-shipper/hooks/testdata/simple-pair.json
  shell_lib/hooks/storage_class_change.sh
  shell_lib/legacy/copy_custom_certificate.sh
  shell_lib/legacy/daemonset_pair_safe_update.sh
Labels: area/monitoring
