Repository deckhouse/deckhouse, pull requests merged in 2022-12, with the labels that each got.

#3194 [docs] Fix ModuleConfig APIVersion in the documentation
  docs/documentation/_includes/module-enable-snippet.liquid
Labels: area/docs, status/backport, skip/e2e

#3199 Backport: [docs] Fix ModuleConfig APIVersion in the documentation
  docs/documentation/_includes/module-enable-snippet.liquid
Labels: auto, backported

#3096 Pod-reloader update to the v0.0.124 and add reloadOnCreate option
  modules/465-pod-reloader/docs/EXAMPLES.md
  modules/465-pod-reloader/docs/EXAMPLES_RU.md
  modules/465-pod-reloader/images/pod-reloader/Dockerfile
  modules/465-pod-reloader/openapi/config-values.yaml
  modules/465-pod-reloader/openapi/doc-ru-config-values.yaml
  modules/465-pod-reloader/templates/deployment.yaml
  modules/465-pod-reloader/templates/rbac-for-us.yaml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21

#3197 [site] Added on main page link to substitution page
  docs/site/pages/index_ru.html
Labels: area/docs, skip/e2e

#3161 [cni-cilium] removed CiliumAgentUnreachableNodes alert
  modules/021-cni-cilium/monitoring/prometheus-rules/agent.yaml
Labels: area/network, skip/e2e

#3178 [openvpn] Add pushDefaultGatewayToClient option
  modules/500-openvpn/openapi/config-values.yaml
  modules/500-openvpn/openapi/doc-ru-config-values.yaml
  modules/500-openvpn/templates/openvpn/configmap.yaml
Labels: area/network, type/enhancement

#3061 [istio] automatic dataplane upgrade
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
  ee/modules/110-istio/hooks/dataplane_metadata_exporter.go
  ee/modules/110-istio/hooks/dataplane_metadata_exporter_test.go
  ee/modules/110-istio/hooks/discovery_application_namespaces.go
  ee/modules/110-istio/templates/control-plane/iop.yaml
Labels: area/network

#3203 [site] Update the default description
  docs/site/_config.yml
Labels: area/docs, skip/e2e

#3204 Backport: [site] Update the default description
  docs/site/_config.yml
Labels: auto, backported

#3098 [deckhouse-controller] libjq is not needed for Go hooks, remove it
  deckhouse-controller/go-build.sh
  go.mod
  go.sum
  werf.yaml
Labels: area/core, e2e/use/cri/containerd, e2e/use/k8s/1.21, e2e/use/k8s/1.24

#3133 [cert-manager] bump version to 1.10.1
  candi/image_versions.yml
  modules/101-cert-manager/crds/crd-certificaterequests.yaml
  modules/101-cert-manager/crds/crd-certificates.yaml
  modules/101-cert-manager/crds/crd-challenges.yaml
  modules/101-cert-manager/crds/crd-clusterissuers.yaml
  modules/101-cert-manager/crds/crd-issuers.yaml
  modules/101-cert-manager/crds/crd-orders.yaml
  modules/101-cert-manager/images/cert-manager-acme-solver/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-cainjector/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-controller/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-webhook/werf.inc.yaml
  modules/101-cert-manager/templates/cainjector/pdb.yaml
  modules/101-cert-manager/templates/cainjector/rbac-for-us.yaml
  modules/101-cert-manager/templates/cert-manager/pdb.yaml
  modules/101-cert-manager/templates/cert-manager/rbac-for-us.yaml
  modules/101-cert-manager/templates/webhook/pdb.yaml
Labels: skip/documentation-validation, e2e/use/cri/containerd, e2e/use/k8s/1.20, skip/e2e

#3207 [ingress-nginx] fix manual pod rollout
  modules/402-ingress-nginx/hooks/manual_daemonset_update.go
  modules/402-ingress-nginx/hooks/manual_daemonset_update_test.go
Labels: status/backport, skip/e2e

#3208 Backport: [ingress-nginx] fix manual pod rollout
  modules/402-ingress-nginx/hooks/manual_daemonset_update.go
  modules/402-ingress-nginx/hooks/manual_daemonset_update_test.go
Labels: auto, backported

#3198 [user-authn] Add claim mappings for OIDC providers
  modules/010-user-authn-crd/crds/dex-authenticator.yaml
  modules/010-user-authn-crd/crds/dex-provider.yaml
  modules/010-user-authn-crd/crds/doc-ru-dex-provider.yaml
  modules/150-user-authn/openapi/values.yaml
  modules/150-user-authn/templates/dex/config.yaml
Labels: area/auth, skip/documentation-validation

#3155 [site] Added how to implement Deckhouse page
  docs/site/_data/footer.yaml
  docs/site/_data/topnav.yml
  docs/site/css/components/_how-to-implement.scss
  docs/site/css/site.scss
  docs/site/images/how-to-buy-intro.svg
  docs/site/pages/enterprise_edition_ru.html
  docs/site/pages/how_to_buy_ru.html
Labels: area/docs, skip/e2e

#3148 [log-shipper] Add telemetry
  modules/460-log-shipper/hooks/internal/composer/composer.go
Labels: area/monitoring, source/internal-client, area/logs

#3222 [node-manager] fix ng capacity handling
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/get_crds_test.go
  modules/040-node-manager/hooks/internal/autoscaler/capacity/capacity.go
Labels: status/backport, skip/e2e

#3229 Backport: [node-manager] fix ng capacity handling
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/get_crds_test.go
  modules/040-node-manager/hooks/internal/autoscaler/capacity/capacity.go
Labels: auto, backported

#3230 Backport: [dhctl] Fix restart bootstrap
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
Labels: auto, backported

#3215 [log-shipper] Fix kafka tls
  modules/460-log-shipper/hooks/generate_config_test.go
  modules/460-log-shipper/hooks/internal/composer/testdata/config_2.json
  modules/460-log-shipper/hooks/internal/vector/destination/common.go
  modules/460-log-shipper/hooks/internal/vector/destination/kafka.go
  modules/460-log-shipper/hooks/internal/vector/destination/logstash.go
  modules/460-log-shipper/hooks/internal/vector/destination/splunk.go
  modules/460-log-shipper/hooks/internal/vector/destination/vector.go
  modules/460-log-shipper/hooks/testdata/file-to-kafka-tls/manifests.yaml
  modules/460-log-shipper/hooks/testdata/file-to-kafka-tls/result.json
  modules/460-log-shipper/hooks/testdata/multiple-dest/result.json
  modules/460-log-shipper/images/vector/Dockerfile
  modules/460-log-shipper/images/vector/patches/README.md
  modules/460-log-shipper/images/vector/patches/kafka-pem-tls.patch
Labels: area/monitoring, area/logs

#3234 [testing] Fix broken links checker
  .github/ci_templates/web.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
Labels: area/testing, skip/e2e

#3219 [docs] Note that EKS is not supported
  docs/site/_includes/getting_started/existing/partials/TROUBLESHOOT.liquid
  docs/site/_includes/getting_started/existing/partials/TROUBLESHOOT_RU.liquid
  docs/site/_includes/getting_started/global/partials/NOTICES.liquid
  docs/site/_includes/getting_started/global/partials/NOTICES_ENVIRONMENT.liquid
Labels: area/docs, skip/e2e

#3232 [site] Replaced font awesome icons to local
  docs/site/_includes/feedback.html
  docs/site/_includes/header.html
  docs/site/_includes/important.html
  docs/site/_includes/note.html
  docs/site/_includes/tip.html
  docs/site/_includes/warning.html
  docs/site/_layouts/page-nosidebar-notitle.html
  docs/site/_layouts/page-nosidebar.html
  docs/site/_layouts/page.html
  docs/site/css/components/_header.scss
  docs/site/css/docs.scss
  docs/site/images/sprite.svg
  docs/site/js/pdf-slider.js
Labels: area/docs, skip/e2e

#3206 [deckhouse-config] fix: apply defaults before spec.settings validation
  global-hooks/deckhouse-config/startup_sync.go
  global-hooks/deckhouse-config/startup_sync_test.go
  global-hooks/deckhouse-config/testdata/test-startup-sync/global-hooks/openapi/config-values.yaml
  global-hooks/deckhouse-config/testdata/test-startup-sync/modules/001-cert-manager/openapi/config-values.yaml
  go.mod
  go.sum
  go_lib/deckhouse-config/initial_config_loader.go
  go_lib/deckhouse-config/initial_config_loader_test.go
  go_lib/deckhouse-config/module-manager/test/mock/mock.go
  go_lib/deckhouse-config/status.go
  go_lib/deckhouse-config/testdata/validator/global/openapi/config-values.yaml
  go_lib/deckhouse-config/validator.go
  go_lib/deckhouse-config/validator_test.go
  modules/003-deckhouse-config/hooks/update_status_test.go
  testing/cloud_layouts/script.sh
  testing/conversion/init.go
Labels: area/core, e2e/use/cri/containerd, status/backport, e2e/use/k8s/1.24

#3240 Backport: [deckhouse-config] fix: apply defaults before spec.settings validation
  global-hooks/deckhouse-config/startup_sync.go
  global-hooks/deckhouse-config/startup_sync_test.go
  global-hooks/deckhouse-config/testdata/test-startup-sync/global-hooks/openapi/config-values.yaml
  global-hooks/deckhouse-config/testdata/test-startup-sync/modules/001-cert-manager/openapi/config-values.yaml
  go.mod
  go.sum
  go_lib/deckhouse-config/initial_config_loader.go
  go_lib/deckhouse-config/initial_config_loader_test.go
  go_lib/deckhouse-config/module-manager/test/mock/mock.go
  go_lib/deckhouse-config/status.go
  go_lib/deckhouse-config/testdata/validator/global/openapi/config-values.yaml
  go_lib/deckhouse-config/validator.go
  go_lib/deckhouse-config/validator_test.go
  modules/003-deckhouse-config/hooks/update_status_test.go
  testing/cloud_layouts/script.sh
  testing/conversion/init.go
Labels: auto, backported

#3241 [site] Added buttons in intro block and fix text
  docs/site/css/components/_how-to-buy.scss
  docs/site/css/site.scss
  docs/site/pages/how_to_buy_ru.html
  docs/site/pages/substitution_ru.html
Labels: area/docs

#3243 [ci] Turn on canary deploy for the Beta release channel
  release.yaml
Labels: area/cicd

#3183 Changelog v1.41.1
  CHANGELOG/CHANGELOG-v1.41.1.yml
  CHANGELOG/CHANGELOG-v1.41.md
Labels: changelog, auto, status/backport

#3244 Backport: Changelog v1.41.1
  CHANGELOG/CHANGELOG-v1.41.1.yml
  CHANGELOG/CHANGELOG-v1.41.md
Labels: auto, backported

#3218 [user-authn] Use selfsigned certificate for Dex
  go_lib/hooks/tls_certificate/internal_tls.go
  modules/040-control-plane-manager/hooks/discover_modules.go
  modules/150-user-authn/hooks/order_dex_tls_certificate.go
  modules/150-user-authn/openapi/values.yaml
  modules/150-user-authn/template_tests/authenticator_test.go
  modules/150-user-authn/template_tests/client_test.go
  modules/150-user-authn/template_tests/connector_test.go
  modules/150-user-authn/template_tests/copy_custom_certificate_test.go
  modules/150-user-authn/template_tests/dex_config_test.go
  modules/150-user-authn/template_tests/kubeconfig_generator_config_test.go
  modules/150-user-authn/template_tests/kubernetes_oauth2client_test.go
  modules/150-user-authn/template_tests/publish_api_test.go
  modules/150-user-authn/template_tests/user_test.go
  modules/150-user-authn/templates/dex/configmap-control-plane-configurator.yaml
  modules/150-user-authn/templates/dex/secret-tls.yaml
  modules/150-user-authn/templates/kubeconfig-generator/config.yaml
Labels: area/auth

#3228 [deckhouse-controller] chore: use main branch for shell-operator
  go.mod
  go.sum
Labels: area/core, skip/e2e

#3249 [user-authn] Read CA from encoded PEM string
  modules/150-user-authn/images/dex/patches/oidc-ca-insecure.patch
Labels: type/bug

#3259 [ingress-nginx] change order_certificates hook order
  modules/402-ingress-nginx/hooks/order_certificates.go
Labels: status/backport

#3260 Backport: [ingress-nginx] change order_certificates hook order
  modules/402-ingress-nginx/hooks/order_certificates.go
Labels: auto, backported

#3268 Backport: [docs] Fix broken links
  docs/site/pages/policies/security_policy_ru.html
  modules/030-cloud-provider-azure/docs/CONFIGURATION.md
  modules/030-cloud-provider-azure/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-gcp/docs/CONFIGURATION.md
  modules/460-log-shipper/openapi/config-values.yaml
  modules/460-log-shipper/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#3271 [docs] Clarify the use of the ami parameter in the AWSInstanceClass
  candi/cloud-providers/aws/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/aws/openapi/instance_class.yaml
Labels: area/docs, status/backport, skip/e2e

#3272 Backport: [docs] Clarify the use of the ami parameter in the AWSInstanceClass
  candi/cloud-providers/aws/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/aws/openapi/instance_class.yaml
Labels: auto, backported

#3269 [chore] Update golang to 1.19
  .github/ci_templates/build.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  candi/image_versions.yml
  global-hooks/deckhouse-config/startup_sync.go
  go_lib/deckhouse-config/config_map_section.go
  go_lib/deckhouse-config/initial_config_loader.go
  go_lib/dependency/cr/cr_mock.go
  go_lib/dependency/etcd/etcd_mock.go
  go_lib/dependency/http/http_mock.go
  go_lib/dependency/vsphere/vsphere_mock.go
  go_lib/hooks/tls_certificate/internal_tls.go
  modules/003-deckhouse-config/hooks/update_status.go
  modules/013-helm/hooks/metrics.go
  modules/040-control-plane-manager/hooks/audit_policy.go
  modules/040-control-plane-manager/hooks/lock_main_queue.go
  modules/040-control-plane-manager/images/kube-apiserver-healthcheck/main.go
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/internal/autoscaler/instance_types/instance_type.go
  modules/040-node-manager/hooks/update_approval.go
  modules/040-node-manager/hooks/util.go
  modules/040-node-manager/images/bashible-apiserver/hack/tools.go
  modules/040-node-manager/images/bashible-apiserver/pkg/apis/bashible/v1alpha1/zz_generated.conversion.go
  modules/040-node-manager/images/bashible-apiserver/pkg/apis/bashible/v1alpha1/zz_generated.deepcopy.go
  modules/040-node-manager/images/bashible-apiserver/pkg/apis/bashible/v1alpha1/zz_generated.defaults.go
  modules/040-node-manager/images/bashible-apiserver/pkg/apis/bashible/zz_generated.deepcopy.go
  modules/040-node-manager/images/bashible-apiserver/pkg/generated/clientset/versioned/fake/register.go
  modules/040-node-manager/images/bashible-apiserver/pkg/generated/clientset/versioned/scheme/register.go
  modules/040-node-manager/images/bashible-apiserver/pkg/generated/openapi/zz_generated.openapi.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context_name.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/funcs.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/steps_storage.go
  modules/041-linstor/images/linstor-pools-importer/main_test.go
  modules/101-cert-manager/hooks/create_registry_secret_for_solver.go
  modules/301-prometheus-metrics-adapter/hooks/internal/state.go
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/app/server/metrics.go
  modules/460-log-shipper/hooks/internal/composer/config.go
  modules/460-log-shipper/hooks/internal/vector/transform/extra_fields.go
  modules/460-log-shipper/hooks/internal/vrl/multiline.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/scheduler_test.go
  modules/500-upmeter/hooks/smokemini/internal/snapshot/gen_parse.go
  testing/hooks/validation/exported_struct_test.go
  testing/hooks_configuration/hooks_configuration_test.go
  testing/openapi_validation/openapi_validation_test.go
  tools/build.go
  tools/tools.go
  werf.yaml
Labels: skip/copyright-validation, skip/e2e

#3250 [candi] Update kubernetes patch versions
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.24

#3257 [deckhouse-config] disable deckhouse-config webhook for uninitialized cluster
  modules/003-deckhouse-config/templates/deckhouse-config-webhook/webhook-configuration.yaml
Labels: status/backport, skip/e2e

#3275 Backport: [user-authn] Read CA from encoded PEM string
  modules/150-user-authn/images/dex/patches/oidc-ca-insecure.patch
Labels: auto, backported

#3273 [namespace-configurator] multiple configurations together fix
  modules/600-namespace-configurator/hooks/handler.go
  modules/600-namespace-configurator/hooks/handler_test.go
Labels: type/bug, status/backport

#3276 Backport: [namespace-configurator] multiple configurations together fix
  modules/600-namespace-configurator/hooks/handler.go
  modules/600-namespace-configurator/hooks/handler_test.go
Labels: auto, backported

#3253 Changelog v1.41.2
  CHANGELOG/CHANGELOG-v1.41.2.yml
  CHANGELOG/CHANGELOG-v1.41.md
Labels: changelog, auto, status/backport

#3277 Backport: Changelog v1.41.2
  CHANGELOG/CHANGELOG-v1.41.2.yml
  CHANGELOG/CHANGELOG-v1.41.md
Labels: auto, backported

#3278 [docs][cloud-provider-vsphere] Update documentation of setting up environment
  docs/site/_includes/getting_started/vsphere/STEP_ENV.md
  docs/site/_includes/getting_started/vsphere/STEP_ENV_RU.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
Labels: area/docs

#3279 Backport: [docs][cloud-provider-vsphere] Update documentation of setting up environment
  docs/site/_includes/getting_started/vsphere/STEP_ENV.md
  docs/site/_includes/getting_started/vsphere/STEP_ENV_RU.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
Labels: auto, backported

#3280 Backport: [docs][cloud-provider-vsphere] Update documentation of setting up environment
  docs/site/_includes/getting_started/vsphere/STEP_ENV.md
  docs/site/_includes/getting_started/vsphere/STEP_ENV_RU.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
Labels: auto, backported

#3282 [ci] add 1.25 e2e
  .github/scripts/js/constants.js
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: skip/e2e

#3216 [flant-integration] Use prom token to collect metrics
  ee/modules/600-flant-integration/hooks/pricing/order_prometheus_api_client_certificate.go
  ee/modules/600-flant-integration/images/flant-pricing/hooks/prometheus_metrics.sh
  ee/modules/600-flant-integration/templates/pricing/daemonset.yaml
  ee/modules/600-flant-integration/templates/pricing/prometheus-api-client-tls.yaml
  modules/300-prometheus/templates/prometheus/rbac-to-us.yaml
Labels: area/monitoring

#3217 [prometheus] Use prom token for authentication
  modules/300-prometheus/files/prometheus_longterm_config.tpl
  modules/300-prometheus/hooks/order_prometheus_api_client_certificate.go
  modules/300-prometheus/hooks/order_scraper_certificate.go
  modules/300-prometheus/images/trickster/Dockerfile
  modules/300-prometheus/images/trickster/entrypoint.sh
  modules/300-prometheus/templates/grafana/deployment.yaml
  modules/300-prometheus/templates/grafana/secret-datasources-list.yaml
  modules/300-prometheus/templates/prometheus-api-client-tls.yaml
  modules/300-prometheus/templates/prometheus-scraper-tls.yaml
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
  modules/300-prometheus/templates/trickster/configmap.yaml
  modules/300-prometheus/templates/trickster/deployment.yaml
  modules/300-prometheus/templates/trickster/rbac-to-us.yaml
Labels: area/monitoring

#3291 [user-authn] Fix dex authenticator probe
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
Labels: area/auth

#3290 [global] Update operators
  dhctl/go.mod
  go.mod
  go.sum
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.mod
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.sum
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21

#3235 [candi] Migrate to NAT gateway in yandex cloud Standard layout
  candi/cloud-providers/yandex/layouts/standard/base-infrastructure/main.tf
  candi/cloud-providers/yandex/layouts/standard/variables.tf
  candi/cloud-providers/yandex/layouts/with-nat-instance/base-infrastructure/main.tf
  candi/cloud-providers/yandex/layouts/with-nat-instance/variables.tf
  candi/cloud-providers/yandex/layouts/without-nat/base-infrastructure/main.tf
  candi/cloud-providers/yandex/layouts/without-nat/variables.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/main.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/nat_instance.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/outputs.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/variables.tf
  candi/terraform_versions.yml
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.24

#3159 [cloud-provider-openstack] Added patch for old OpenStack versions support
  ee/modules/030-cloud-provider-openstack/images/cinder-csi-plugin/werf.inc.yaml
  ee/modules/030-cloud-provider-openstack/openapi/config-values.yaml
  ee/modules/030-cloud-provider-openstack/openapi/doc-ru-config-values.yaml
  ee/modules/030-cloud-provider-openstack/openapi/values.yaml
  ee/modules/030-cloud-provider-openstack/template_tests/module_test.go
  ee/modules/030-cloud-provider-openstack/templates/cloud-controller-manager/secret.yaml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#3182 [cloud-provider-openstack] Fix ordering static nodes without security groups
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/terraform-modules/static-node/main.tf
  ee/candi/cloud-providers/openstack/terraform-modules/static-node/variables.tf
Labels: area/cloud-provider, type/bug, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3211 Setting pods manipulation for authz Admin role
  modules/140-user-authz/templates/cluster-roles.yaml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21

#3303 [docs][user-authz] Fix the Usage page
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: area/docs, status/backport, skip/e2e

#3304 Backport: [docs][user-authz] Fix the Usage page
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: auto, backported

#3237 [user-authn] kubeconfig generating doc fixes
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
  modules/150-user-authn/openapi/config-values.yaml
  modules/150-user-authn/openapi/doc-ru-config-values.yaml
Labels: area/docs

#3309 [node-local-dns] Remove from Managed bundle
  ee/modules/350-node-local-dns/enabled
  ee/modules/values-managed.yaml
Labels: area/cluster-and-infrastructure

#2898 [istio] ingress gateway controller
  docs/documentation/werf-git-section.inc.yaml
  ee/modules/110-istio/crds/doc-ru-ingress-istio.yaml
  ee/modules/110-istio/crds/ingress-istio.yaml
  ee/modules/110-istio/docs/EXAMPLES.md
  ee/modules/110-istio/docs/EXAMPLES_RU.md
  ee/modules/110-istio/hooks/discovery_ingress_controllers.go
  ee/modules/110-istio/hooks/discovery_ingress_controllers_test.go
  ee/modules/110-istio/openapi/values.yaml
  ee/modules/110-istio/template_tests/module_test.go
  ee/modules/110-istio/templates/ingress-gateway-controller/_istio_ingress_gateway.tpl
  ee/modules/110-istio/templates/ingress-gateway-controller/daemonset.yaml
  ee/modules/110-istio/templates/ingress-gateway-controller/namespace.yaml
  ee/modules/110-istio/templates/ingress-gateway-controller/podmonitor.yaml
  ee/modules/110-istio/templates/ingress-gateway-controller/rbac-for-us.yaml
  ee/modules/110-istio/templates/ingress-gateway-controller/service.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
Labels: area/network

#3311 [docs][user-authz] Minor fixes
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: area/docs

#3297 [candi] Update kubernetes patch versions
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.24

#3115 [admission-policy-engine] operation policies
  modules/015-admission-policy-engine/Chart.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/Chart.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/allowed-repos.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/container-duplicates.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/container-resources.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/disallowed-tags.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/dns-policy.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/image-pull-policy.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/max-revision-history-limit.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/priority-class.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/required-labels.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/required-probes.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/README.md
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/container-duplicates/allowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/container-duplicates/constraint.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/container-duplicates/disallowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/container-duplicates/disallowed_envs.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/container-duplicates/suite.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/dns-policy/allowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/dns-policy/constraint.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/dns-policy/disallowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/dns-policy/suite.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/image-pull-policy/allowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/image-pull-policy/constraint.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/image-pull-policy/disallowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/image-pull-policy/suite.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/priority-class/allowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/priority-class/constraint.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/priority-class/disallowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/priority-class/suite.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/required-labels/allowed_dep.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/required-labels/allowed_pod.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/required-labels/constraint.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/required-labels/disallowed_dep.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/required-labels/disallowed_pod.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/required-labels/suite.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/revision-history/allowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/revision-history/constraint.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/revision-history/disallowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/revision-history/suite.yaml
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
  modules/015-admission-policy-engine/hooks/handle_operation_policies.go
  modules/015-admission-policy-engine/hooks/handle_operation_policies_test.go
  modules/015-admission-policy-engine/hooks/internal/apis/v1alpha1.go
  modules/015-admission-policy-engine/openapi/values.yaml
  modules/015-admission-policy-engine/template_tests/module_test.go
  modules/015-admission-policy-engine/template_tests/operation_policies_test.go
  modules/015-admission-policy-engine/template_tests/policies_test.go
  modules/015-admission-policy-engine/templates/operation-policy/constraint.yaml
  modules/015-admission-policy-engine/templates/validatingwebhookconfiguration.yaml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21, skip/e2e

#3302 [site] Added cupis success story
  docs/site/_data/stories.yaml
  docs/site/images/clients/cupis.svg
Labels: area/docs, skip/e2e

#3212 [ceph-csi] Allow non-admin ceph account for cephfs
  modules/099-ceph-csi/templates/cephfs/secret.yaml
  modules/099-ceph-csi/templates/cephfs/storage-classes.yaml
  modules/099-ceph-csi/templates/rbd/secret.yaml
  modules/099-ceph-csi/templates/rbd/storage-classes.yaml
Labels: type/enhancement, area/storage, skip/e2e

#3317 [istio] add kube-rbac-proxy CA certificate to d8-ingress-istio
  ee/modules/110-istio/templates/ingress-gateway-controller/namespace.yaml
Labels: skip/e2e

#3270 [control-plane-manager] Docs about how to migrate from multi-master to single-master
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs

#3329 Backport: [control-plane-manager] Docs about how to migrate from multi-master to single-master
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#3316 [node-manager] scale from zero
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/get_crds_test.go
  modules/040-node-manager/hooks/internal/autoscaler/instance_types/ec2_instance_types.go
Labels: area/cloud-provider, e2e/use/cri/containerd, e2e/use/k8s/1.23

#2973 [ceph-csi] Add migration from in-tree driver to csi driver
  modules/099-ceph-csi/.helmignore
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION.md
  modules/099-ceph-csi/tools/rbd-in-tree-to-ceph-csi-migration-helper.sh
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/migration-alerts.yaml
Labels: skip/documentation-validation, area/storage, skip/e2e

#3331 [admission-policy-engine] Move native CRDs to a separate folder
  docs/documentation/_data/sidebars/main.yml
  modules/015-admission-policy-engine/crds/native/assign-customresourcedefinition.yaml
  modules/015-admission-policy-engine/crds/native/assignmetadata-customresourcedefinition.yaml
  modules/015-admission-policy-engine/crds/native/config-customresourcedefinition.yaml
  modules/015-admission-policy-engine/crds/native/constraintpodstatus-customresourcedefinition.yaml
  modules/015-admission-policy-engine/crds/native/constrainttemplate-customresourcedefinition.yaml
  modules/015-admission-policy-engine/crds/native/constrainttemplatepodstatus-customresourcedefinition.yaml
  modules/015-admission-policy-engine/crds/native/modifyset-customresourcedefinition.yaml
  modules/015-admission-policy-engine/crds/native/mutatorpodstatus-customresourcedefinition.yaml
  modules/015-admission-policy-engine/crds/native/provider-customresourcedefinition.yaml
  modules/015-admission-policy-engine/docs/CR.md
  modules/015-admission-policy-engine/docs/CR_RU.md
Labels: type/bug

#3332 [admission-policy-engine] Create one more ensure_crds hook
  modules/015-admission-policy-engine/hooks/ensure_native_crds.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#3321 [testing] chore: remove catching additional logs during e2e tests
  testing/cloud_layouts/script.sh
Labels: area/testing

#3292 [deckhouse] change default kubernetes version to 1.23
  .github/scripts/js/ci.js
  .github/scripts/js/constants.js
  .github/workflow_templates/e2e-daily.yml
  .github/workflows/e2e-daily.yml
  dhctl/pkg/config/base.go
  global-hooks/discovery/cluster_configuration_test.go
Labels: area/kubernetes

#3333 [deckhouse-monitoring] alert for watch errors
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/deckhouse.yaml
Labels: status/backport

#3327 It's not allowed to group alerts with themselves
  modules/040-node-manager/monitoring/prometheus-rules/early-oom.tpl
  modules/300-prometheus/monitoring/prometheus-rules/emptydir.yaml
Labels: area/monitoring, skip/e2e

#3340 [site] Update d8 diagram
  docs/site/images/diagrams/structure.svg
Labels: area/docs

#3342 [site] Fix search index
  docs/documentation/search-index.json
  docs/site/search-index.json
Labels: area/docs

#3343 Backport: [site] Fix search index
  docs/documentation/search-index.json
  docs/site/search-index.json
Labels: auto, backported

#3344 Backport: [site] Fix search index
  docs/documentation/search-index.json
  docs/site/search-index.json
Labels: auto, backported

#3353 [registrypackages] Allow downgrading RPMs in centos
  modules/007-registrypackages/images/containerd-centos/scripts/install
  modules/007-registrypackages/images/docker-centos/scripts/install
  modules/007-registrypackages/images/inotify-tools-centos/scripts/install
  modules/007-registrypackages/images/kubeadm-centos/scripts/install
  modules/007-registrypackages/images/kubectl-centos/scripts/install
  modules/007-registrypackages/images/kubelet-centos/scripts/install
  modules/007-registrypackages/images/kubernetes-cni-centos/scripts/install
Labels: type/bug, area/cluster-and-infrastructure, e2e/use/cri/containerd, status/backport, e2e/use/k8s/1.23

#3354 Backport: [registrypackages] Allow downgrading RPMs in centos
  modules/007-registrypackages/images/containerd-centos/scripts/install
  modules/007-registrypackages/images/docker-centos/scripts/install
  modules/007-registrypackages/images/inotify-tools-centos/scripts/install
  modules/007-registrypackages/images/kubeadm-centos/scripts/install
  modules/007-registrypackages/images/kubectl-centos/scripts/install
  modules/007-registrypackages/images/kubelet-centos/scripts/install
  modules/007-registrypackages/images/kubernetes-cni-centos/scripts/install
Labels: auto, backported

#3356 [admission-policy-engine][docs] Minor changes.
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
Labels: area/docs, status/backport

#3357 Backport: [admission-policy-engine][docs] Minor changes.
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
Labels: auto, backported

#3359 Backport: [registrypackages] Allow downgrading RPMs in centos
  modules/007-registrypackages/images/containerd-centos/scripts/install
  modules/007-registrypackages/images/docker-centos/scripts/install
  modules/007-registrypackages/images/inotify-tools-centos/scripts/install
  modules/007-registrypackages/images/kubeadm-centos/scripts/install
  modules/007-registrypackages/images/kubectl-centos/scripts/install
  modules/007-registrypackages/images/kubelet-centos/scripts/install
  modules/007-registrypackages/images/kubernetes-cni-centos/scripts/install
Labels: auto, backported

#3355 [user-authn] Fix crowd proxy cert generation
  modules/150-user-authn/hooks/generate_crowd_basic_auth_proxy_cert.go
Labels: status/backport, skip/e2e

#3360 Backport: [user-authn] Fix crowd proxy cert generation
  modules/150-user-authn/hooks/generate_crowd_basic_auth_proxy_cert.go
Labels: auto, backported

#3114 Changelog v1.42.0
  CHANGELOG/CHANGELOG-v1.42.0.yml
  CHANGELOG/CHANGELOG-v1.42.md
Labels: changelog, auto, status/backport

#3362 Backport: Changelog v1.42.0
  CHANGELOG/CHANGELOG-v1.42.0.yml
  CHANGELOG/CHANGELOG-v1.42.md
Labels: auto, backported

#3366 [site] Update content
  docs/site/_data/stories.yaml
  docs/site/images/clients/otp-bank.svg
Labels: area/docs

#3370 Revert "[site] Update content"
  docs/site/_data/stories.yaml
  docs/site/images/clients/otp-bank.svg
Labels: area/docs

#3371 [flant-integration] D8PrometheusMadisonErrorSendingAlertsToBackend many-to-many fix
  ee/modules/600-flant-integration/monitoring/prometheus-rules/sending-alerts.yaml
Labels: type/bug, status/backport

#3374 Backport: [flant-integration] D8PrometheusMadisonErrorSendingAlertsToBackend many-to-many fix
  ee/modules/600-flant-integration/monitoring/prometheus-rules/sending-alerts.yaml
Labels: auto, backported

#3367 [deckhouse] Fix backquotes rendering in DeckhouseRelease changelog
  modules/002-deckhouse/hooks/check_deckhouse_release_test.go
  werf.yaml
Labels: status/backport, type/chore

#3378 Backport: [deckhouse] Fix backquotes rendering in DeckhouseRelease changelog
  modules/002-deckhouse/hooks/check_deckhouse_release_test.go
  werf.yaml
Labels: auto, backported

#3365 Fix another alert with wrong group
  modules/340-extended-monitoring/monitoring/prometheus-rules/image-availability/image-availability-exporter-health.yaml
Labels: status/backport

#3379 Backport: Fix another alert with wrong group
  modules/340-extended-monitoring/monitoring/prometheus-rules/image-availability/image-availability-exporter-health.yaml
Labels: auto, backported

#3376 [chore] Update K8s patch version
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: e2e/use/cri/containerd, type/chore, e2e/use/k8s/1.25

#3380 [ceph-csi] Delete storage classes after changing immutable fields
  modules/099-ceph-csi/hooks/get_crds.go
  modules/099-ceph-csi/hooks/get_crds_test.go
  modules/099-ceph-csi/templates/cephfs/storage-classes.yaml
  modules/099-ceph-csi/templates/rbd/storage-classes.yaml
Labels: type/bug, area/storage, skip/e2e

#3382 Backport: [ceph-csi] Delete storage classes after changing immutable fields
  modules/099-ceph-csi/hooks/get_crds.go
  modules/099-ceph-csi/hooks/get_crds_test.go
  modules/099-ceph-csi/templates/cephfs/storage-classes.yaml
  modules/099-ceph-csi/templates/rbd/storage-classes.yaml
Labels: auto, backported

#3368 [ingress-nginx] update client certificate
  modules/402-ingress-nginx/hooks/order_certificates.go
  modules/402-ingress-nginx/hooks/order_certificates_test.go
  modules/402-ingress-nginx/templates/controller/secret.yaml
Labels: area/network, status/backport

#3383 Backport: [ingress-nginx] update client certificate
  modules/402-ingress-nginx/hooks/order_certificates.go
  modules/402-ingress-nginx/hooks/order_certificates_test.go
  modules/402-ingress-nginx/templates/controller/secret.yaml
Labels: auto, backported

#3373 Changelog v1.42.1
  CHANGELOG/CHANGELOG-v1.42.1.yml
  CHANGELOG/CHANGELOG-v1.42.md
Labels: changelog, auto, status/backport

#3384 Backport: Changelog v1.42.1
  CHANGELOG/CHANGELOG-v1.42.1.yml
  CHANGELOG/CHANGELOG-v1.42.md
Labels: auto, backported

#3385 Changelog v1.42.1
  CHANGELOG/CHANGELOG-v1.42.1.yml
  CHANGELOG/CHANGELOG-v1.42.md
Labels: changelog, auto, status/backport

#3386 Backport: Changelog v1.42.1
  CHANGELOG/CHANGELOG-v1.42.1.yml
  CHANGELOG/CHANGELOG-v1.42.md
Labels: auto, backported

#3387 [ceph-csi] Restoring the previous secret name with ceph cluster credentials
  modules/099-ceph-csi/templates/cephfs/secret.yaml
  modules/099-ceph-csi/templates/cephfs/storage-classes.yaml
  modules/099-ceph-csi/templates/rbd/storage-classes.yaml
  modules/099-ceph-csi/templates/secret.yaml
Labels: type/bug, status/backport, area/storage, skip/e2e

#3390 Backport: [ceph-csi] Restoring the previous secret name with ceph cluster credentials
  modules/099-ceph-csi/templates/cephfs/secret.yaml
  modules/099-ceph-csi/templates/cephfs/storage-classes.yaml
  modules/099-ceph-csi/templates/rbd/storage-classes.yaml
  modules/099-ceph-csi/templates/secret.yaml
Labels: auto, backported

#3394 [site] Update site content
  docs/site/pages/index_ru.html
  docs/site/pages/substitution_ru.html
Labels: area/docs, skip/e2e

#3396 Backport: [site] Update site content
  docs/site/pages/index_ru.html
  docs/site/pages/substitution_ru.html
Labels: auto, backported

#3397 [vpa] Setting admissionReviewVersions to v1 in mutating webhook
  modules/302-vertical-pod-autoscaler/templates/admission-controller/mutatingwebhookconfiguration.yaml
Labels: type/bug

#3398 Backport: [vpa] Setting admissionReviewVersions to v1 in mutating webhook
  modules/302-vertical-pod-autoscaler/templates/admission-controller/mutatingwebhookconfiguration.yaml
Labels: auto, backported

#3395 [istio] fix api-proxy ca
  ee/modules/110-istio/images/api-proxy/main.go
  ee/modules/110-istio/templates/kiali/rbac-for-us.yaml
  ee/modules/110-istio/templates/multicluster/api-proxy/deployment.yaml
Labels: status/backport

#3401 Backport: [istio] fix api-proxy ca
  ee/modules/110-istio/images/api-proxy/main.go
  ee/modules/110-istio/templates/kiali/rbac-for-us.yaml
  ee/modules/110-istio/templates/multicluster/api-proxy/deployment.yaml
Labels: auto, backported

#3403 Backport: [vpa] Setting admissionReviewVersions to v1 in mutating webhook
  modules/302-vertical-pod-autoscaler/templates/admission-controller/mutatingwebhookconfiguration.yaml
Labels: auto, backported

#3407 [site] Upadate cncf badge content
  docs/site/pages/index.html
  docs/site/pages/index_ru.html
Labels: area/docs, skip/e2e

#3405 [monitoring] add an alert about deprecated OS versions
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/kernel-requirements.yaml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/node-os-requirements.yaml
Labels: area/monitoring, status/backport, skip/e2e

#3408 Backport: [monitoring] add an alert about deprecated OS versions
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/kernel-requirements.yaml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/node-os-requirements.yaml
Labels: auto, backported

#3402 Changelog v1.42.2
  CHANGELOG/CHANGELOG-v1.42.2.yml
  CHANGELOG/CHANGELOG-v1.42.md
Labels: changelog, auto, status/backport

#3409 Backport: Changelog v1.42.2
  CHANGELOG/CHANGELOG-v1.42.2.yml
  CHANGELOG/CHANGELOG-v1.42.md
Labels: auto, backported

#3336 [site] Added the "Moving to Deckhouse" page
  docs/site/_data/footer.yaml
  docs/site/_data/topnav.yml
  docs/site/css/components/_moving-to-deckhouse.scss
  docs/site/css/site.scss
  docs/site/images/moving-to-deckhouse-intro.svg
  docs/site/pages/moving_to_deckhouse_ru.html
Labels: area/docs

#3411 [candi] Restore yandex Standard layout
  candi/cloud-providers/yandex/docs/LAYOUTS.md
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
  docs/documentation/images/030-cloud-provider-yandex/enable_cloud_nat.png
  docs/documentation/images/030-cloud-provider-yandex/enable_cloud_nat_ru.png
Labels: area/docs, status/backport, skip/e2e

#3415 Backport: [candi] Restore yandex Standard layout
  candi/cloud-providers/yandex/docs/LAYOUTS.md
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
  docs/documentation/images/030-cloud-provider-yandex/enable_cloud_nat.png
  docs/documentation/images/030-cloud-provider-yandex/enable_cloud_nat_ru.png
Labels: auto, backported

#3255 [grafana] Make each Grafana dashboard unique by UID
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21

#3422 [site] Update content
  docs/site/pages/moving_to_deckhouse_ru.html
Labels: area/docs

#3424 [helm] set resource version match explicitly
  modules/013-helm/hooks/metrics.go
Labels: skip/e2e

#3315 [node-manager] Clarify using NodeGroup parameters
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs

#3433 Backport: [node-manager] Clarify using NodeGroup parameters
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#3435 [doc][getting started] fixed vsphere resources.yml
  docs/site/_includes/getting_started/vsphere/partials/resources.yml.ha.inc
  docs/site/_includes/getting_started/vsphere/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/vsphere/partials/resources.yml.production.inc
Labels: type/bug, area/docs

#3436 Fix broken links
  docs/site/_includes/getting_started/yandex/STEP_ENV.md
  docs/site/_includes/getting_started/yandex/STEP_ENV_RU.md
  ee/modules/110-istio/openapi/values.yaml
  ee/modules/502-delivery/docs/USAGE.md
  ee/modules/502-delivery/docs/USAGE_RU.md
  ee/modules/502-delivery/openapi/config-values.yaml
  ee/modules/502-delivery/openapi/doc-ru-config-values.yaml
  modules/460-log-shipper/docs/internal/demo/audit-policy.yaml
Labels: area/docs

#3437 Backport: Fix broken links
  docs/site/_includes/getting_started/yandex/STEP_ENV.md
  docs/site/_includes/getting_started/yandex/STEP_ENV_RU.md
  ee/modules/110-istio/openapi/values.yaml
  ee/modules/502-delivery/docs/USAGE.md
  ee/modules/502-delivery/docs/USAGE_RU.md
  ee/modules/502-delivery/openapi/config-values.yaml
  ee/modules/502-delivery/openapi/doc-ru-config-values.yaml
  modules/460-log-shipper/docs/internal/demo/audit-policy.yaml
Labels: auto, backported

#3337 [dhctl] Fix some small user interface bugs
  dhctl/cmd/dhctl/commands/bootstrap/bootstrap.go
  dhctl/cmd/dhctl/commands/bootstrap/phase.go
  dhctl/pkg/operations/bootstrap.go
Labels: area/ux, area/cli

#2534 [ci] Keep failed e2e cluster
  .github/ci_templates/e2e_tests.yml
  .github/ci_templates/helper_jobs.yml
  .github/scripts/js/ci.js
  .github/scripts/js/comments.js
  .github/scripts/js/constants.js
  .github/scripts/js/e2e/cleanup.js
  .github/scripts/js/e2e/slash_workflow_command.js
  .github/scripts/js/pr-command-dispatcher.js
  .github/workflow_templates/dispatch-slash-command.yml
  .github/workflow_templates/e2e.abort.multi.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  .github/workflows/dispatch-slash-command.yml
  .github/workflows/e2e-abort-aws.yml
  .github/workflows/e2e-abort-azure.yml
  .github/workflows/e2e-abort-gcp.yml
  .github/workflows/e2e-abort-openstack.yml
  .github/workflows/e2e-abort-static.yml
  .github/workflows/e2e-abort-vsphere.yml
  .github/workflows/e2e-abort-yandex-cloud.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/schedule-cleanup.yml
  .github/workflows/suspend-alpha.yml
  .github/workflows/suspend-beta.yml
  .github/workflows/suspend-early-access.yml
  .github/workflows/suspend-rock-solid.yml
  .github/workflows/suspend-stable.yml
  dhctl/cmd/dhctl/commands/bootstrap/phase.go
  testing/cloud_layouts/script.sh
  testing/cloud_layouts/wait-master-ssh-and-update-comment.sh
Labels: type/enhancement, skip/e2e

#3441 [docs] Fix Deckhouse configuration instructions
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION_RU.md
  ee/modules/110-istio/docs/EXAMPLES.md
  ee/modules/110-istio/docs/EXAMPLES_RU.md
  modules/002-deckhouse/docs/README.md
  modules/002-deckhouse/docs/README_RU.md
  modules/030-cloud-provider-yandex/docs/CONFIGURATION.md
  modules/030-cloud-provider-yandex/docs/CONFIGURATION_RU.md
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/101-cert-manager/docs/FAQ.md
  modules/101-cert-manager/docs/FAQ_RU.md
  modules/101-cert-manager/docs/USAGE.md
  modules/101-cert-manager/docs/USAGE_RU.md
  modules/150-user-authn/docs/FAQ.md
  modules/150-user-authn/docs/FAQ_RU.md
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/deckhouse.yaml
  modules/340-monitoring-ping/docs/USAGE.md
  modules/340-monitoring-ping/docs/USAGE_RU.md
  modules/340-monitoring-ping/openapi/config-values.yaml
  modules/460-log-shipper/docs/ADVANCED_USAGE.md
  modules/460-log-shipper/docs/ADVANCED_USAGE_RU.md
  modules/470-chrony/docs/FAQ.md
  modules/470-chrony/docs/FAQ_RU.md
  modules/470-chrony/monitoring/prometheus-rules/chrony.yaml
Labels: area/docs, skip/documentation-validation, status/backport, skip/e2e

#3442 Backport: [docs] Fix Deckhouse configuration instructions
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION_RU.md
  ee/modules/110-istio/docs/EXAMPLES.md
  ee/modules/110-istio/docs/EXAMPLES_RU.md
  modules/002-deckhouse/docs/README.md
  modules/002-deckhouse/docs/README_RU.md
  modules/030-cloud-provider-yandex/docs/CONFIGURATION.md
  modules/030-cloud-provider-yandex/docs/CONFIGURATION_RU.md
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/101-cert-manager/docs/FAQ.md
  modules/101-cert-manager/docs/FAQ_RU.md
  modules/101-cert-manager/docs/USAGE.md
  modules/101-cert-manager/docs/USAGE_RU.md
  modules/150-user-authn/docs/FAQ.md
  modules/150-user-authn/docs/FAQ_RU.md
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/deckhouse.yaml
  modules/340-monitoring-ping/docs/USAGE.md
  modules/340-monitoring-ping/docs/USAGE_RU.md
  modules/340-monitoring-ping/openapi/config-values.yaml
  modules/460-log-shipper/docs/ADVANCED_USAGE.md
  modules/460-log-shipper/docs/ADVANCED_USAGE_RU.md
  modules/470-chrony/docs/FAQ.md
  modules/470-chrony/docs/FAQ_RU.md
  modules/470-chrony/monitoring/prometheus-rules/chrony.yaml
Labels: auto, backported

#3443 Backport: [docs] Fix Deckhouse configuration instructions
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION_RU.md
  ee/modules/110-istio/docs/EXAMPLES.md
  ee/modules/110-istio/docs/EXAMPLES_RU.md
  modules/002-deckhouse/docs/README.md
  modules/002-deckhouse/docs/README_RU.md
  modules/030-cloud-provider-yandex/docs/CONFIGURATION.md
  modules/030-cloud-provider-yandex/docs/CONFIGURATION_RU.md
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/101-cert-manager/docs/FAQ.md
  modules/101-cert-manager/docs/FAQ_RU.md
  modules/101-cert-manager/docs/USAGE.md
  modules/101-cert-manager/docs/USAGE_RU.md
  modules/150-user-authn/docs/FAQ.md
  modules/150-user-authn/docs/FAQ_RU.md
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/deckhouse.yaml
  modules/340-monitoring-ping/docs/USAGE.md
  modules/340-monitoring-ping/docs/USAGE_RU.md
  modules/340-monitoring-ping/openapi/config-values.yaml
  modules/460-log-shipper/docs/ADVANCED_USAGE.md
  modules/460-log-shipper/docs/ADVANCED_USAGE_RU.md
  modules/470-chrony/docs/FAQ.md
  modules/470-chrony/docs/FAQ_RU.md
  modules/470-chrony/monitoring/prometheus-rules/chrony.yaml
Labels: auto, backported

#3445 [docs][control-plane-manager][local-path-provisioner] Minor documentation updates
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  modules/031-local-path-provisioner/docs/FAQ.md
  modules/031-local-path-provisioner/docs/FAQ_RU.md
  modules/040-control-plane-manager/docs/EXAMPLES.md
  modules/040-control-plane-manager/docs/EXAMPLES_RU.md
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, status/backport

#3446 Backport: [docs][control-plane-manager][local-path-provisioner] Minor documentation updates
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  modules/031-local-path-provisioner/docs/FAQ.md
  modules/031-local-path-provisioner/docs/FAQ_RU.md
  modules/040-control-plane-manager/docs/EXAMPLES.md
  modules/040-control-plane-manager/docs/EXAMPLES_RU.md
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#3447 Backport: [docs][control-plane-manager][local-path-provisioner] Minor documentation updates
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  modules/031-local-path-provisioner/docs/FAQ.md
  modules/031-local-path-provisioner/docs/FAQ_RU.md
  modules/040-control-plane-manager/docs/EXAMPLES.md
  modules/040-control-plane-manager/docs/EXAMPLES_RU.md
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#3439 [user-authn] Fix insecure oidc ca patch
  modules/150-user-authn/images/dex/patches/oidc-ca-insecure.patch
Labels: area/auth, status/backport

#3448 Backport: [user-authn] Fix insecure oidc ca patch
  modules/150-user-authn/images/dex/patches/oidc-ca-insecure.patch
Labels: auto, backported

#3426 [candi] Temporary disable seccomp for kube-controller-manager
  candi/control-plane-kubeadm/patches/kube-controller-manager.yaml.tpl
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.21, e2e/use/k8s/1.22, status/backport, e2e/use/k8s/1.23

#3449 Backport: [candi] Temporary disable seccomp for kube-controller-manager
  candi/control-plane-kubeadm/patches/kube-controller-manager.yaml.tpl
Labels: auto, backported

#3413 [ingress-nginx] change certificate expiry date
  modules/402-ingress-nginx/hooks/order_certificates.go
  modules/402-ingress-nginx/hooks/order_certificates_test.go
Labels: status/backport, skip/e2e

#3453 Backport: [ingress-nginx] change certificate expiry date
  modules/402-ingress-nginx/hooks/order_certificates.go
  modules/402-ingress-nginx/hooks/order_certificates_test.go
Labels: auto, backported

#3364 Chore: Utilize metav1.LabelSelectorOperator and corev1.NodeSelectorOperator type constants in the code
  dhctl/pkg/kubernetes/actions/deckhouse/delete.go
  ee/modules/110-istio/hooks/dataplane_metadata_exporter.go
  ee/modules/110-istio/hooks/discovery_application_namespaces.go
  ee/modules/110-istio/hooks/discovery_istiod_health.go
  ee/modules/110-istio/hooks/hack_iop_reconciling.go
  global-hooks/calculate_resources_requests.go
  go_lib/hooks/change_host_address/hook.go
  go_lib/hooks/copy_custom_certificate/hook.go
  go_lib/hooks/copy_rbd_secret/hook.go
  go_lib/hooks/delete_not_matching_certificate_secret/hook.go
  modules/002-deckhouse/hooks/update_deckhouse_image.go
  modules/040-node-manager/hooks/get_crds.go
  modules/300-prometheus/hooks/alertmanager_crd_discovery.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_daemonset_test.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_pod.go
Labels: status/ok-to-test

#3427 [cloud-instance-manager] Increased PSI threshold
  modules/040-node-manager/images/early-oom/Dockerfile
  modules/040-node-manager/images/early-oom/src/go.mod
  modules/040-node-manager/images/early-oom/src/psi-monitor.go
  modules/040-node-manager/templates/early-oom/daemonset.yaml
Labels: type/bug, area/cluster-and-infrastructure, e2e/use/cri/containerd, status/backport, e2e/use/k8s/1.23

#3456 Backport: [cloud-instance-manager] Increased PSI threshold
  modules/040-node-manager/images/early-oom/Dockerfile
  modules/040-node-manager/images/early-oom/src/go.mod
  modules/040-node-manager/images/early-oom/src/psi-monitor.go
  modules/040-node-manager/templates/early-oom/daemonset.yaml
Labels: auto, backported
