Repository deckhouse/deckhouse, pull requests merged in 2022-07, with the labels that each got.

#1912 [log-shipper] Fix DaemonSet alerts
  helm_lib/templates/_node_affinity.tpl
  modules/101-cert-manager/template_tests/module_test.go
  modules/460-log-shipper/monitoring/prometheus-rules/log-shipper-agent.yaml
  modules/460-log-shipper/templates/daemonset.yaml
  modules/460-log-shipper/templates/namespace.yaml
Labels: area/monitoring, area/cluster-and-infrastructure

#1915 [cert-manager] docs: secure cert-manager issuer credentials
  modules/101-cert-manager/docs/FAQ.md
  modules/101-cert-manager/docs/FAQ_RU.md
Labels: area/docs, status/backport

#1931 [dhctl][ci] Do not download linter for dhctl
  dhctl/Makefile
  werf.yaml
Labels: area/testing, area/cli

#1933 [node-manager] Fix bootstrap script
  modules/040-node-manager/templates/node-group/_bootstrap_script.tpl
Labels: e2e/use/k8s/1.21

#1929 [deckhouse] change severity_level for DeckhouseUpdating rule
  modules/020-deckhouse/monitoring/prometheus-rules/deckhouse.yaml
Labels: area/core

#1916 [deckhouse-controller] fix: 'already started' error on container restart
  deckhouse-controller/entrypoint.sh
Labels: area/core

#1565 [docs] Script for installing Deckhouse in kind
  docs/site/_includes/getting_started/kind/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/kind/STEP_INSTALL_SCHEMA_RU.md
  tools/kind-d8.sh
Labels: area/docs

#1926 [docs][getting-started] Remove dont-use-public-control-plane-images flag from getting started
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER_RU.liquid
Labels: area/docs

#1936 [modules] Add README.md
  modules/.gitkeep
  modules/README.md
Labels: area/docs

#1904 [prometheus][cloud-provider-yandex] Validate JSON fields
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  dhctl/pkg/config/load_test.go
  modules/010-prometheus-crd/crds/grafanadashboarddefinition.yaml
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
  modules/300-prometheus/templates/grafana/deployment.yaml
Labels: area/monitoring, skip/documentation-validation

#1858 [ci] Add a script to upload base images and remove labels
  Makefile
  candi/image_versions.yml
  modules/021-kube-proxy/images/kube-proxy/werf.inc.yaml
  modules/402-ingress-nginx/images/controller-0-33/Dockerfile
  modules/402-ingress-nginx/images/controller-0-46/Dockerfile
  modules/402-ingress-nginx/images/controller-0-48/Dockerfile
  modules/402-ingress-nginx/images/controller-0-49/Dockerfile
  modules/402-ingress-nginx/images/controller-1-1/Dockerfile
  testing/matrix/linter/rules/modules/images.go
  tools/cve/base-images.sh
  tools/cve/release.sh
  tools/regcopy/README.md
  tools/regcopy/go.mod
  tools/regcopy/main.go
  werf.yaml
Labels: area/security

#1935 [user-authn] Refactor dex probes
  modules/150-user-authn/monitoring/prometheus-rules/dex.yaml
  modules/150-user-authn/templates/dex/config.yaml
  modules/150-user-authn/templates/dex/deployment.yaml
  modules/150-user-authn/templates/dex/podmonitor.yaml
  modules/150-user-authn/templates/dex/rbac-for-us.yaml
  modules/150-user-authn/templates/dex/rbac-to-us.yaml
  modules/150-user-authn/templates/monitoring.yaml
Labels: area/auth

#1945 [ingress-nginx] upgrade 0.49 controller
  modules/402-ingress-nginx/images/controller-0-49/Dockerfile
Labels: area/network

#1946 [cert-manager] bump version to 1.8.2
  modules/101-cert-manager/crds/crd-certificaterequests.yaml
  modules/101-cert-manager/crds/crd-certificates.yaml
  modules/101-cert-manager/crds/crd-challenges.yaml
  modules/101-cert-manager/crds/crd-clusterissuers.yaml
  modules/101-cert-manager/crds/crd-issuers.yaml
  modules/101-cert-manager/crds/crd-orders.yaml
  modules/101-cert-manager/images/cert-manager-acme-solver/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-cainjector/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-controller/patches/certificate_owner_ref.patch
  modules/101-cert-manager/images/cert-manager-controller/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-webhook/werf.inc.yaml
Labels: area/security, skip/documentation-validation

#1930 [dhctl] Do not try remove label dhctl.deckhouse.io/node-for-converge if node object was deleted during converge
  dhctl/pkg/operations/converge/infra/hook/controlplane/hook.go
Labels: type/bug, area/cli, e2e/use/k8s/1.21

#1942 [istio] kiali fixes — CRD apiVersion and fresh kiali version
  ee/modules/110-istio/crds/kiali.yaml
  ee/modules/110-istio/images/kiali/Dockerfile
  ee/modules/110-istio/templates/kiali/configmap.yaml
  ee/modules/110-istio/templates/kiali/rbac-for-us.yaml
Labels: type/bug, skip/documentation-validation

#1950 [chrony] fix doc
  modules/470-chrony/docs/FAQ.md
  modules/470-chrony/docs/FAQ_RU.md
Labels: area/docs

#1956 [istio] kiali remove outdated MonitoringDashboard resources
  ee/modules/110-istio/templates/kiali/monitoring-dashboards.yaml
Labels: type/bug

#1957 Changelog v1.33.14
  CHANGELOG/CHANGELOG-v1.33.14.yml
  CHANGELOG/CHANGELOG-v1.33.md
Labels: changelog, auto

#1923 [docs] Update Makefile for building documentation
  Makefile
  docs/documentation/Makefile
  docs/documentation/werf.yaml
  docs/site/Makefile
  docs/site/werf.yaml
Labels: area/docs

#1888 [ingress-nginx] Refactor startup hook
  modules/402-ingress-nginx/hooks/minimal_ingress_nginx_version.go
Labels: area/network

#1959 [deckhouse] image-copier one-liner to detect if there are Pods with irrelevant registry
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  modules/020-deckhouse/docs/internal/IMAGE_COPIER.md
  modules/020-deckhouse/images/images-copier/generate-copier-secret.sh
Labels: area/docs, skip/documentation-validation

#1652 [cloud-provider-azure] StorageClasses for disks > 4 TiB
  modules/030-cloud-provider-azure/docs/CONFIGURATION.md
  modules/030-cloud-provider-azure/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-azure/hooks/storage_classes
  modules/030-cloud-provider-azure/hooks/storage_classes_test.go
  modules/030-cloud-provider-azure/templates/csi/storage-classes.yaml
Labels: area/cloud-provider, type/enhancement, e2e/use/k8s/1.21

#1963 [cloud-provider-azure] Fixed tests for a commit that wrongfully made its way directly into the main branch
  modules/030-cloud-provider-azure/hooks/storage_classes_test.go
Labels: area/cloud-provider, type/bug

#1962 [log-shipper] Add files for a demo
  modules/460-log-shipper/docs/internal/demo/README.md
  modules/460-log-shipper/docs/internal/demo/all-pods-pipeline.yaml
  modules/460-log-shipper/docs/internal/demo/audit-logs-pipeline.yaml
  modules/460-log-shipper/docs/internal/demo/audit-policy.yaml
  modules/460-log-shipper/docs/internal/demo/clean_up.sh
  modules/460-log-shipper/docs/internal/demo/grafana-additional-datasource.yaml
  modules/460-log-shipper/docs/internal/demo/loki.txt
Labels: area/docs, skip/documentation-validation

#1952 [kube-dns][node-local-dns] coredns v1.9.3 with patch
  modules/042-kube-dns/hooks/legacy_metrics.go
  modules/042-kube-dns/hooks/legacy_metrics_test.go
  modules/042-kube-dns/images/coredns/Dockerfile
  modules/042-kube-dns/images/coredns/patches/README.md
  modules/042-kube-dns/images/coredns/patches/support-alpha-tolerate-unready-endpoints-annotation.patch
  modules/042-kube-dns/monitoring/prometheus-rules/kubernetes/dns.yaml
Labels: type/bug, area/cluster-and-infrastructure, e2e/use/k8s/1.21

#1973 [dhctl] Increase attempts to wait ssh master node connect
  dhctl/pkg/system/ssh/frontend/waiting.go
Labels: area/cli, e2e/use/k8s/1.21

#1968 [site] Add license request success page
  docs/site/pages/license_request_success.html
  docs/site/pages/license_request_success_ru.html
Labels: area/docs

#1687 Changelog v1.34.0
  CHANGELOG/CHANGELOG-v1.34.0.yml
  CHANGELOG/CHANGELOG-v1.34.md
Labels: changelog, auto

#1985 [cert-manager] fix secret owner ref
  modules/101-cert-manager/images/cert-manager-controller/patches/certificate_owner_ref.patch
Labels: status/backport

#1987 [prometheus] fix deckhouse group alerts label selectors
  ee/fe/modules/340-monitoring-applications/monitoring/prometheus-rules/applications/prometheus/prometheus.yaml
  ee/fe/modules/340-monitoring-applications/monitoring/prometheus-rules/warnings/warnings.yaml
  ee/modules/110-istio/monitoring/prometheus-rules/federation.yaml
  ee/modules/110-istio/monitoring/prometheus-rules/multicluster.yaml
  ee/modules/110-istio/monitoring/prometheus-rules/revisions.yaml
  ee/modules/350-node-local-dns/monitoring/prometheus-rules/node-local-dns.yaml
  ee/modules/600-flant-integration/monitoring/prometheus-rules/grafana-agent.yaml
  ee/modules/600-flant-integration/monitoring/prometheus-rules/sending-alerts.yaml
  modules/013-helm/monitoring/prometheus-rules/deprecated-versions.yaml
  modules/020-deckhouse/monitoring/prometheus-rules/deckhouse.yaml
  modules/031-linstor/monitoring/prometheus-rules/drbd-devices.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-controller.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-csi-controller.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-csi-node.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-ha-controller.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-node.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-scheduler.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-storage-pools.yaml
  modules/031-linstor/monitoring/prometheus-rules/piraeus-operator.yaml
  modules/042-kube-dns/monitoring/prometheus-rules/kubernetes/dns.yaml
  modules/300-prometheus/monitoring/prometheus-rules/base.tpl
  modules/300-prometheus/monitoring/prometheus-rules/emptydir.yaml
  modules/300-prometheus/monitoring/prometheus-rules/grafana.yaml
  modules/300-prometheus/monitoring/prometheus-rules/longterm-target-down.yaml
  modules/500-okmeter/monitoring/prometheus-rules/alerting.yaml
  modules/500-upmeter/monitoring/prometheus-rules/alerting.yaml
Labels: area/monitoring

#1974 [ci] Fix restart e2e tests
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: type/bug, area/testing

#1972 [prometheus] Have a mercy on trickster
  modules/300-prometheus/templates/trickster/deployment.yaml
Labels: area/monitoring

#1819 [candi] Automatic patchversions update makefile target
  Makefile
  candi/tools/functions.sh
  candi/tools/update_kubernetes_patchversions.sh
Labels: area/cluster-and-infrastructure

#1993 [tests] Use public images when building documentation locally
  docs/documentation/werf.yaml
  docs/site/werf.yaml
Labels: area/testing, area/docs

#1939 [docs] Highlight outdated fields
  docs/documentation/_data/i18n.yml
  docs/documentation/_plugins/openapi.rb
  docs/site/css/docs.scss
Labels: area/docs

#2001 Revert "[docs] Highlight outdated fields (#1939)"
  docs/documentation/_data/i18n.yml
  docs/documentation/_plugins/openapi.rb
  docs/site/css/docs.scss
Labels: area/docs

#2005 [docs]Added highlight for deprecated properties
  docs/documentation/_data/i18n.yml
  docs/documentation/_plugins/openapi.rb
  docs/site/css/docs.scss
Labels: area/docs

#2003 [upmeter] Fix kubectl logs command in alerts D8UpmeterProbeGarbage
  modules/500-upmeter/monitoring/prometheus-rules/alerting.yaml
Labels: area/monitoring, type/bug

#1744 [cloud-provider-yandex] Delete preemptible instances early
  modules/040-node-manager/hooks/yandex_preemptibly_delete_preemtible_instances.go
  modules/040-node-manager/hooks/yandex_preemptibly_delete_preemtible_instances_test.go
Labels: area/cloud-provider, type/enhancement, e2e/use/k8s/1.21

#2013 [upmeter] Fix status page descriptions
  modules/500-upmeter/images/status/.prettierrc.yml
  modules/500-upmeter/images/status/package-lock.json
  modules/500-upmeter/images/status/package.json
  modules/500-upmeter/images/status/src/App.svelte
  modules/500-upmeter/images/status/src/Group.svelte
  modules/500-upmeter/images/status/src/StatusText.svelte
  modules/500-upmeter/images/status/src/en.ts
Labels: type/chore

#2006 [prometheus] Update prometheus to v2.36.2
  modules/020-deckhouse/images/webhook-handler/werf.inc.yaml
  modules/200-operator-prometheus/images/prometheus-operator/Dockerfile
  modules/200-operator-prometheus/images/prometheus-operator/patches/README.md
  modules/200-operator-prometheus/images/prometheus-operator/patches/scrape-params.patch
  modules/200-operator-prometheus/images/prometheus-operator/patches/scrape-timestamp-align.patch
  modules/300-prometheus/images/prometheus/Dockerfile
  modules/300-prometheus/images/prometheus/sample_limit_annotation.patch
  modules/300-prometheus/images/prometheus/successfully_sent_metric.patch
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring

#2011 [prometheus] Add files for a demo
  modules/300-prometheus/docs/internal/demo/README.md
  modules/300-prometheus/docs/internal/demo/alertmanager.yaml
  modules/300-prometheus/docs/internal/demo/clean_up.sh
  modules/300-prometheus/docs/internal/demo/custom-prometheus-rule.yaml
  modules/300-prometheus/docs/internal/demo/grafana-additional-datasource.yaml
  modules/300-prometheus/docs/internal/demo/grafana-dashboard-definition.yaml
  modules/300-prometheus/docs/internal/demo/prometheus-remote-write.yaml
  modules/300-prometheus/docs/internal/demo/victoria-metrics.txt
Labels: area/monitoring, area/docs, skip/documentation-validation

#1970 [prometheus-metrics-adapter] Add logs and resync time x2
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/Dockerfile
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/app/cmd/prometheus-reverse-proxy/main.go
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/app/go.mod
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/app/go.sum
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/app/server/logger.go
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/app/server/metrics.go
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/app/server/middleware.go
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/app/server/server.go
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/go.mod
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/go.sum
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/main.go
  modules/301-prometheus-metrics-adapter/templates/deployment.yaml
Labels: area/monitoring

#1964 [deckhouse] Possibility to resume suspended release
  modules/020-deckhouse/hooks/check_deckhouse_release.go
  modules/020-deckhouse/hooks/check_deckhouse_release_test.go
Labels: area/core

#2004 [ingress-nginx] Alert: old ingress controller versions deprecation
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
Labels: status/backport

#2031 [docs] Update OpenAPI render and increase notification maxwidth
  docs/documentation/_includes/openapi-tippy.html
  docs/documentation/_plugins/openapi.rb
Labels: area/docs, status/backport

#2027 [candi] Update Kubernetes patch versions
  candi/version_map.yml
Labels: area/kubernetes, e2e/use/k8s/1.22, type/chore, e2e/use/k8s/1.23

#2026 [cni-cilium] Document kernel requirements
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
Labels: area/network, type/chore

#1943 [upmeter] Fix garbage collection across probes
  modules/500-upmeter/hooks/clean_probe_garbage.go
  modules/500-upmeter/hooks/disabled_probes.go
  modules/500-upmeter/hooks/generate_password_test.go
  modules/500-upmeter/hooks/smokemini/migrate_forcenostorageclass_test.go
  modules/500-upmeter/images/upmeter/cmd/upmeter/main.go
  modules/500-upmeter/images/upmeter/go.mod
  modules/500-upmeter/images/upmeter/pkg/agent/sender/sender.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/base.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/certificate_secret.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/certificate_secret_test.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_basic_lifecycle.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_basic_lifecycle_test.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_configmap.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_controller_lifecycle.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_controller_lifecycle_test.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_controlplane.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_deployment.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_garbagecollection.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_listing.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_namespace.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_pod.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_pod_test.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_scheduling.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_scheduling_test.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_statefulset.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/smoke_mini.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_controlplane.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_deckhouse.go
  modules/500-upmeter/images/upmeter/pkg/probe/run/id.go
  modules/500-upmeter/images/upmeter/pkg/probe/run/id_test.go
  modules/500-upmeter/images/upmeter/pkg/probe/util/dns.go
  modules/500-upmeter/monitoring/prometheus-rules/alerting.yaml
Labels: type/bug

#1975 [candi] use cgroupfs as cgroup driver for docker 20
  candi/bashible/common-steps/node-group/050_configure_and_start_docker.sh.tpl
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
Labels: e2e/use/cri/docker, e2e/use/k8s/1.21, status/backport

#2012 [prometheus] fix deckhouse group alerts label selectors
  ee/fe/modules/340-monitoring-applications/monitoring/prometheus-rules/applications/prometheus/prometheus.yaml
  ee/fe/modules/340-monitoring-applications/monitoring/prometheus-rules/warnings/warnings.yaml
  ee/modules/110-istio/monitoring/prometheus-rules/federation.yaml
  ee/modules/110-istio/monitoring/prometheus-rules/multicluster.yaml
  ee/modules/110-istio/monitoring/prometheus-rules/operator.yaml
  ee/modules/110-istio/monitoring/prometheus-rules/revisions.yaml
  ee/modules/110-istio/monitoring/prometheus-rules/services.yaml
  ee/modules/350-node-local-dns/monitoring/prometheus-rules/node-local-dns.yaml
  ee/modules/600-flant-integration/monitoring/prometheus-rules/grafana-agent.yaml
  ee/modules/600-flant-integration/monitoring/prometheus-rules/sending-alerts.yaml
  modules/013-helm/monitoring/prometheus-rules/deprecated-versions.yaml
  modules/020-deckhouse/monitoring/prometheus-rules/deckhouse.yaml
  modules/021-cni-cilium/monitoring/prometheus-rules/agent.yaml
  modules/031-linstor/monitoring/prometheus-rules/drbd-devices.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-controller.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-csi-controller.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-csi-node.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-ha-controller.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-node.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-scheduler.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-storage-pools.yaml
  modules/031-linstor/monitoring/prometheus-rules/piraeus-operator.yaml
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
  modules/040-control-plane-manager/monitoring/prometheus-rules/etcd-maintenance.yaml
  modules/040-node-manager/monitoring/prometheus-rules/cluster-autoscaler.tpl
  modules/040-node-manager/monitoring/prometheus-rules/machine-controller-manager.tpl
  modules/040-node-manager/monitoring/prometheus-rules/node-group-deprecate.yaml
  modules/040-node-manager/monitoring/prometheus-rules/node-group.tpl
  modules/040-node-manager/monitoring/prometheus-rules/node-unmanaged.tpl
  modules/040-node-manager/monitoring/prometheus-rules/node-update.yaml
  modules/040-terraform-manager/monitoring/prometheus-rules/terraform-manager/terraform-state-exporter.yaml
  modules/042-kube-dns/monitoring/prometheus-rules/kubernetes/dns.yaml
  modules/045-snapshot-controller/monitoring/prometheus-rules/snapshot-controller.yaml
  modules/045-snapshot-controller/monitoring/prometheus-rules/snapshot-validation-webhook.yaml
  modules/101-cert-manager/monitoring/prometheus-rules/certificate.yaml
  modules/101-cert-manager/monitoring/prometheus-rules/legacy.yaml
  modules/200-operator-prometheus/monitoring/prometheus-rules/operator.yaml
  modules/300-prometheus/monitoring/prometheus-rules/base.tpl
  modules/300-prometheus/monitoring/prometheus-rules/emptydir.yaml
  modules/300-prometheus/monitoring/prometheus-rules/grafana.yaml
  modules/300-prometheus/monitoring/prometheus-rules/longterm-target-down.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/certificate.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/exporter-health.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/application-controllers.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/node.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/image-availability/exporter-health.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/image-availability/image-checks.tpl
  modules/340-monitoring-custom/monitoring/prometheus-rules/reserved-domain.tpl
  modules/340-monitoring-custom/monitoring/prometheus-rules/warnings/warnings.yaml
  modules/340-monitoring-kubernetes-control-plane/monitoring/prometheus-rules/kube-etcd3.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/coreos/kubelet.tpl
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/node-disk-usage.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/pod-status.yaml
  modules/500-okmeter/monitoring/prometheus-rules/alerting.yaml
  modules/500-upmeter/monitoring/prometheus-rules/alerting.yaml
Labels: area/monitoring, status/backport

#1999 Changelog v1.34.2
  CHANGELOG/CHANGELOG-v1.34.2.yml
  CHANGELOG/CHANGELOG-v1.34.md
Labels: changelog, auto

#2035 [site] Fix license request language
  docs/site/_includes/request_access_form.html
Labels: area/docs

#2017 [Upmeter] Update internal dev doc
  modules/500-upmeter/docs/internal/01-single-object-lifecycle.png
  modules/500-upmeter/docs/internal/02-controller-object-lifecycle.png
  modules/500-upmeter/docs/internal/03-parent-child-lifecycle.png
  modules/500-upmeter/docs/internal/DEVELOPMENT_RU.md
Labels: area/docs, skip/documentation-validation

#2034 [prometheus] Update to 2.37.0 (LTS)
  modules/020-deckhouse/images/webhook-handler/werf.inc.yaml
  modules/300-prometheus/images/prometheus/Dockerfile
Labels: area/monitoring

#2044 [candi] fix docker config creation
  candi/bashible/common-steps/node-group/050_configure_and_start_docker.sh.tpl
Labels: area/cluster-and-infrastructure

#2045 Changelog v1.34.3
  CHANGELOG/CHANGELOG-v1.34.3.yml
  CHANGELOG/CHANGELOG-v1.34.md
Labels: changelog, auto

#2047 Revert "[docs] Disable certificateOwnerRef (#1647)"
  docs/site/.helm/templates/20-ingress.yaml
Labels: type/chore

#2039 [prometheus] Grafana 8.5.9 to fix various CVE
  modules/300-prometheus/images/grafana/Dockerfile
Labels: area/monitoring

#2058 [docs] Fix meta tags in page header on the site
  docs/site/_includes/head.html
Labels: area/docs, status/backport

#2052 Changelog v1.34.4
  CHANGELOG/CHANGELOG-v1.34.4.yml
  CHANGELOG/CHANGELOG-v1.34.md
Labels: changelog, auto

#2060 [upmeter] Fix certificate name
  modules/500-upmeter/templates/webui/authenticator.yaml
Labels: type/bug, status/backport

#2065 [user-authn] LDAP: Add insecureNoSSL
  modules/150-user-authn/templates/dex/config.yaml
Labels: type/bug

#2059 [prometheus-metrics-adapter] Fix panic
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/Dockerfile
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/app/go.mod
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/app/go.sum
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/app/server/middleware.go
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/app/server/server.go
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/app/server/server_test.go
Labels: area/monitoring

#2083 [operator-prometheus] Adjust scrape timeout
  ee/modules/600-flant-integration/templates/pricing/podmonitor.yaml
  global-hooks/discovery/prometheus_scrape_interval.go
  helm_lib/templates/_monitoring_prometheus_rules.tpl
  modules/040-terraform-manager/templates/terraform-auto-converger/podmonitor.yaml
  modules/040-terraform-manager/templates/terraform-state-exporter/podmonitor.yaml
  modules/200-operator-prometheus/images/prometheus-operator/Dockerfile
  modules/200-operator-prometheus/images/prometheus-operator/patches/README.md
  modules/200-operator-prometheus/images/prometheus-operator/patches/scrape-params.patch
  modules/340-extended-monitoring/template_tests/cert_exporter_test.go
  modules/340-extended-monitoring/template_tests/events_test.go
  modules/340-extended-monitoring/template_tests/image_availability_test.go
  modules/340-extended-monitoring/template_tests/scrape_timeout.go
  modules/340-extended-monitoring/templates/cert-exporter/podmonitor.yaml
  modules/340-extended-monitoring/templates/events-exporter/podmonitor.yaml
  modules/340-extended-monitoring/templates/extended-monitoring-exporter/podmonitor.yaml
  modules/340-extended-monitoring/templates/image-availability-exporter/podmonitor.yaml
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/podmonitor.yaml
  modules/340-monitoring-kubernetes/templates/node-exporter/podmonitor.yaml
Labels: area/monitoring, status/backport

#2063 [prometheus] fix node-update alerts
  global-hooks/openapi/values.yaml
  helm_lib/templates/_monitoring_prometheus_rules.tpl
  modules/040-node-manager/monitoring/prometheus-rules/node-update.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/certificates-exporter-health.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/image-availability/image-availability-exporter-health.yaml
  modules/340-extended-monitoring/template_tests/image_availability_test.go
Labels: area/monitoring

#2080 [Upmeter] Fix UpmeterHookProbe garbage
  modules/500-upmeter/hooks/clean_probe_garbage.go
  modules/500-upmeter/images/upmeter/pkg/probe/run/id.go
  modules/500-upmeter/images/upmeter/pkg/probe/run/id_test.go
Labels: type/bug, type/chore

#2061 [monitoring-kubernetes] Fix eviction inodes imagefs and node fs if containerd and kublet directory is symlink
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/loop
Labels: area/monitoring, type/bug, status/backport

#2085 [Grafana Dashboard Provisioner] Report names of malformed definitions
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Labels: area/dx, type/chore

#2071 [candi] fix aws terraform for static nodes
  candi/cloud-providers/aws/terraform-modules/static-node/main.tf
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.21

#2081 [upmeter] add envs for proxy to statefulset
  modules/500-upmeter/templates/upmeter/statefulset.yaml
Labels: area/monitoring, status/backport

#2072 [candi] Fix kubelet double restart
  candi/bashible/bundles/centos/all/034_install_kubelet_and_his_friends.sh.tpl
  candi/bashible/bundles/debian/all/034_install_kubelet_and_his_friends.sh.tpl
  candi/bashible/bundles/ubuntu-lts/all/034_install_kubelet_and_his_friends.sh.tpl
  modules/007-registrypackages/images/kubelet-debian/werf.inc.yaml
  modules/007-registrypackages/images/kubelet-ubuntu/werf.inc.yaml
Labels: area/cluster-and-infrastructure, e2e/use/cri/docker, e2e/use/k8s/1.21, status/backport

#2037 [node-local-dns] Enable with cilium
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  ee/modules/350-node-local-dns/.namespace
  ee/modules/350-node-local-dns/hooks/cluster_dns_address.go
  ee/modules/350-node-local-dns/hooks/cluster_dns_address_test.go
  ee/modules/350-node-local-dns/hooks/common_test.go
  ee/modules/350-node-local-dns/images/coredns/start.sh
  ee/modules/350-node-local-dns/monitoring/prometheus-rules/node-local-dns.yaml
  ee/modules/350-node-local-dns/openapi/openapi-case-tests.yaml
  ee/modules/350-node-local-dns/openapi/values.yaml
  ee/modules/350-node-local-dns/template_tests/module_test.go
  ee/modules/350-node-local-dns/templates/cilium-local-redirect-policy.yaml
  ee/modules/350-node-local-dns/templates/configmap.yaml
  ee/modules/350-node-local-dns/templates/daemonset.yaml
  ee/modules/350-node-local-dns/templates/monitoring.yaml
  ee/modules/350-node-local-dns/templates/podmonitor.yaml
  ee/modules/350-node-local-dns/templates/rbac-for-us.yaml
  ee/modules/350-node-local-dns/templates/rbac-to-us.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/042-kube-dns/templates/service.yaml
  testing/matrix/linter/rules/rules.go
Labels: area/network, type/bug, e2e/use/cri/containerd, e2e/use/cri/docker, e2e/use/k8s/1.21, status/backport

#2073 Changelog v1.34.5
  CHANGELOG/CHANGELOG-v1.34.5.yml
  CHANGELOG/CHANGELOG-v1.34.md
Labels: changelog, auto

#2090 [Upmeter] Fixup NotFound error on garbage cleaning
  modules/500-upmeter/hooks/clean_probe_garbage.go
Labels: type/bug

#2091 Changelog v1.34.6
  CHANGELOG/CHANGELOG-v1.34.6.yml
  CHANGELOG/CHANGELOG-v1.34.md
Labels: changelog, auto

#2087 [ingress-nginx] fix alert debug commands
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
Labels: status/backport

#2095 [doc] Fix security-group doc typo in AWSClusterConfiguration
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
Labels: area/docs

#2048 [istio] D8IstioDataPlanePatchVersionMismatch alert description fix
  ee/modules/110-istio/monitoring/prometheus-rules/revisions.yaml
Labels: area/monitoring, type/bug, status/backport

#2088 [ingress-nginx] Update the `D8IngressNginxControllerVersionDeprecated` alert description
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
Labels: area/monitoring

#2099 [docs][prometheus-metrics-adapter] Fix custom resource description
  modules/301-prometheus-metrics-adapter/docs/CR.md
  modules/301-prometheus-metrics-adapter/docs/CR_RU.md
Labels: area/docs

#2066 [user-authn] Add demo files
  modules/150-user-authn/docs/internal/demo/README.md
  modules/150-user-authn/docs/internal/demo/clean_up.sh
  modules/150-user-authn/docs/internal/demo/dex-authenticator.yaml
  modules/150-user-authn/docs/internal/demo/dex-provider.yaml
  modules/150-user-authn/docs/internal/demo/dex-user.yaml
  modules/150-user-authn/docs/internal/demo/echo-service.yaml
  modules/150-user-authn/docs/internal/demo/ldap.yaml
Labels: area/docs, skip/documentation-validation

#2101 [docs][getting-started] Fix vsphere and yandex resources
  docs/site/_includes/getting_started/vsphere/partials/resources.yml.production.inc
  docs/site/_includes/getting_started/yandex/partials/resources.yml.production.inc
Labels: type/bug, area/docs

#2100 [monitoring-kubernetes] Ignore containers rootfs mount point for node-exporter in GKE
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
Labels: area/monitoring, status/backport

#2093 [node-local-dns] Revert configmap node-local-dns to prevent stuck node-local-dns pod in Terminating state during moving to kube-system namespace
  ee/modules/350-node-local-dns/templates/configmap.yaml
Labels: area/network, type/bug, e2e/use/k8s/1.21, status/backport

#2108 [docs] Fix search result rendering
  docs/documentation/_includes/search.html
  docs/documentation/js/search.js
Labels: area/docs

#2103 [docs] Translate upmeter's development.md
  modules/500-upmeter/docs/internal/DEVELOPMENT.md
  modules/500-upmeter/docs/internal/DEVELOPMENT_RU.md
Labels: area/docs, status/ok-to-test

#2107 [prometheus] Rollback prometheus-module ServiceMonitor label selector to `app=prometheus`
  modules/300-prometheus/templates/prometheus/servicemonitor.yaml
Labels: area/monitoring, type/bug, e2e/use/cri/containerd, e2e/use/k8s/1.21, status/backport

#2096 Changelog v1.34.7
  CHANGELOG/CHANGELOG-v1.34.7.yml
  CHANGELOG/CHANGELOG-v1.34.md
Labels: changelog, auto

#2111 [node-local-dns] Revert service account for prevent pod stuck in Terminating state
  ee/modules/350-node-local-dns/templates/rbac-for-us.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
Labels: status/backport

#2115 Changelog v1.34.8
  CHANGELOG/CHANGELOG-v1.34.8.yml
  CHANGELOG/CHANGELOG-v1.34.md
Labels: changelog, auto

#2116 [site] Add new partners and refactor main menu and footer
  docs/site/_data/footer.yaml
  docs/site/_data/topnav.yml
  docs/site/images/external/croc.png
  docs/site/images/external/icore_logo.png
  docs/site/images/external/jet.png
  docs/site/images/external/olli.png
  docs/site/images/external/open_technologies.png
  docs/site/images/external/softailor.png
  docs/site/pages/enterprise_edition_ru.html
Labels: area/docs

#2120 [node-local-dns] Correct check on coredns startup
  ee/modules/350-node-local-dns/images/coredns/start.sh
Labels: type/bug, area/cluster-and-infrastructure

#2121 Changelog v1.34.9
  CHANGELOG/CHANGELOG-v1.34.9.yml
  CHANGELOG/CHANGELOG-v1.34.md
Labels: changelog, auto

#1990 [docs] Translate the prometheus monitoring module
  modules/010-prometheus-crd/crds/customalertmanager.yaml
  modules/010-prometheus-crd/crds/doc-ru-customalertmanager.yaml
  modules/010-prometheus-crd/crds/doc-ru-grafanaadditionaldatasources.yaml
  modules/010-prometheus-crd/crds/doc-ru-grafanaalertschannel.yaml
  modules/010-prometheus-crd/crds/doc-ru-grafanadashboarddefinition.yaml
  modules/010-prometheus-crd/crds/grafanaadditionaldatasources.yaml
  modules/010-prometheus-crd/crds/grafanadashboarddefinition.yaml
  modules/300-prometheus/crds/doc-ru-prometheusremotewrite.yaml
Labels: area/docs, skip/documentation-validation, status/backport

#2127 [ci] fix: detect if slash command is a known e2e label
  .github/scripts/js/ci.js
Labels: area/dx

#2126 [user-authn-crd] Remove unneeded migration
  modules/010-user-authn-crd/hooks/dex_authenticator_adoption.go
  modules/010-user-authn-crd/hooks/dex_authenticator_adoption_test.go
Labels: area/auth

#2102 [testing] Move e2e tests using OpenStack to another project
  testing/cloud_layouts/OpenStack/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/Static/infra.tpl.tf
Labels: area/testing, e2e/use/k8s/1.21

#2129 [log-shipper] Update dashboard
  modules/460-log-shipper/monitoring/grafana-dashboards/applications/vector.json
Labels: area/monitoring
