Repository deckhouse/deckhouse, pull requests merged in 2022-09, with the labels that each got.

#2360 [prometheus] Add dashboard etcd response time data
  candi/control-plane-kubeadm/config.yaml.tpl
  modules/340-monitoring-kubernetes-control-plane/monitoring/grafana-dashboards/kubernetes-cluster/kube-etcd3.json
Labels: area/monitoring

#2365 [monitoring-kubernetes] New Capacity Planning dashboard
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/capacity-planning/capacity-planning.json
Labels: area/monitoring

#2346 [dhctl] Change color, fix empty host connection attempts
  dhctl/pkg/log/logger.go
  dhctl/pkg/log/options.go
  dhctl/pkg/system/ssh/frontend/waiting.go
Labels: area/cli

#2381 [dex] fix: add links on how to register OIDC client in Okta, Keycloak, Gluu
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: area/docs, status/backport

#2383 Backport: [dex] fix: add links on how to register OIDC client in Okta, Keycloak, Gluu
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: auto, backported

#2371 [grafana-dashboards] Change steppedLine to false for CPU panels (#2368)
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/kubernetes-cluster/nodes/node.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/kubernetes-cluster/nodes/nodes.json
Labels: status/ok-to-test

#2384 [prometheus] fix grafana dashboard provisioner
  modules/300-prometheus/images/grafana-dashboard-provisioner/Dockerfile
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Labels: status/backport

#2392 Backport: [prometheus] fix grafana dashboard provisioner
  modules/300-prometheus/images/grafana-dashboard-provisioner/Dockerfile
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
Labels: auto, backported

#2359 [linstor] bump DRBD version v9.1.9
  modules/041-linstor/images/drbd-driver-loader/Dockerfile
  modules/041-linstor/images/spaas/Dockerfile
Labels: e2e/use/k8s/1.23

#2396 Add new item in menu
  docs/site/_data/footer.yaml
  docs/site/_data/topnav.yml
  docs/site/pages/license_ru.html
  docs/site/pages/regulations.html
  docs/site/pages/regulations_ru.html
Labels: area/docs

#2382 Changelog v1.35.6
  CHANGELOG/CHANGELOG-v1.35.6.yml
  CHANGELOG/CHANGELOG-v1.35.md
Labels: changelog, auto, status/backport

#2397 Backport: Changelog v1.35.6
  CHANGELOG/CHANGELOG-v1.35.6.yml
  CHANGELOG/CHANGELOG-v1.35.md
Labels: auto, backported

#2398 [site] Fix links in the header of the site
  docs/documentation/pages/DECKHOUSE-OVERVIEW.md
  docs/documentation/pages/DECKHOUSE-OVERVIEW_RU.md
  docs/site/_config.yml
  docs/site/_includes/header.html
  docs/site/pages/community.html
  docs/site/pages/community_ru.html
  docs/site/pages/license_request_success.html
  docs/site/pages/license_request_success_ru.html
Labels: area/docs

#2388 [deckhouse] Filter deckhouse pod by phase in update_deckhouse_image hook for prevent panic when have evicted pods
  modules/020-deckhouse/hooks/update_deckhouse_image.go
Labels: type/bug, area/core, e2e/use/k8s/1.21

#2378 [candi] fix detecting bundle
  candi/bashible/detect_bundle.sh
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.23

#2348 [e2e-tests] use different distros for different cloud providers
  candi/bashible/bundles/centos/all/000_add_yum_proxy_conf.sh.tpl
  candi/bashible/bundles/centos/node-group/002_install_mandatory_packages_for_cloud_nodes.sh.tpl
  candi/bashible/bundles/ubuntu-lts/all/011_disable_floppy_drive.sh.tpl
  candi/bashible/common-steps/all/001_disable_rp_filter.sh.tpl
  candi/bashible/common-steps/all/003_remove_resolv_copier.sh.tpl
  candi/bashible/common-steps/all/070_migration_delete_kubernetes_from_hosts.sh.tpl
  candi/cloud-providers/gcp/bashible/common-steps/node-group/000_discover_kubernetes_data_device_path.sh.tpl
  candi/version_map.yml
  ee/modules/450-keepalived/templates/statefulset.yaml
  modules/035-cni-simple-bridge/images/simple-bridge/Dockerfile
  modules/035-cni-simple-bridge/images/simple-bridge/iptables-wrapper-installer.sh
  modules/035-cni-simple-bridge/templates/daemonset.yaml
  testing/cloud_layouts/AWS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/Azure/Standard/configuration.tpl.yaml
  testing/cloud_layouts/GCP/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/OpenStack/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/OpenStack/WithoutNAT/resources.yaml
  testing/cloud_layouts/Static/infra.tpl.tf
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/script.sh
  testing/cloud_layouts/vSphere/Standard/configuration.tpl.yaml
Labels: area/testing, e2e/use/cri/containerd, e2e/use/k8s/1.23

#2252 [cni-cilium] various fixes
  ee/modules/030-cloud-provider-openstack/templates/cni.yaml
  ee/modules/030-cloud-provider-vsphere/templates/cni.yaml
  global-hooks/migrate/configmigrator.go
  global-hooks/migrate/example_config_migration.go
  modules/021-cni-cilium/hooks/enable_node_routes.go
  modules/021-cni-cilium/hooks/enable_node_routes_test.go
  modules/021-cni-cilium/hooks/migrate_cni_secret.go
  modules/021-cni-cilium/hooks/migrate_cni_secret_test.go
  modules/021-cni-cilium/hooks/set_cilium_mode.go
  modules/021-cni-cilium/hooks/set_cilium_mode_test.go
  modules/021-cni-cilium/openapi/values.yaml
  modules/021-cni-cilium/template_tests/module_test.go
  modules/021-cni-cilium/templates/configmap.yaml
  modules/030-cloud-provider-aws/templates/cni.yaml
Labels: area/network, e2e/use/k8s/1.21

#2402 Update the EULA to the latest version
  docs/site/pages/license_ru.html
Labels: area/docs

#2347 [upmeter] Bump shell-operator 1.0.11
  modules/500-upmeter/images/upmeter/go.mod
  modules/500-upmeter/images/upmeter/go.sum
  modules/500-upmeter/images/upmeter/pkg/kubernetes/access.go
  modules/500-upmeter/images/upmeter/pkg/kubernetes/client.go
  modules/500-upmeter/images/upmeter/pkg/monitor/downtime/monitor.go
  modules/500-upmeter/images/upmeter/pkg/monitor/hookprobe/monitor.go
  modules/500-upmeter/images/upmeter/pkg/monitor/node/monitor.go
  modules/500-upmeter/images/upmeter/pkg/monitor/remotewrite/monitor.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/certificate_secret.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/d8_clusterconfiguration.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_configmap.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_daemonset.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_namespace.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_nodegroup.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_pod.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_scheduling.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_statefulset.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/smoke_mini_test.go
  modules/500-upmeter/images/upmeter/pkg/server/remotewrite/controller.go
  modules/500-upmeter/images/upmeter/pkg/server/server.go
  modules/500-upmeter/templates/upmeter-agent/daemonset.yaml
Labels: area/monitoring

#2386 [candi][node-manager] Do not drain single-master and single standalone node where works Deckhouse with automatic approve mode for disruption operations
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  modules/020-deckhouse/templates/deployment.yaml
  modules/040-node-manager/hooks/update_approval.go
  modules/040-node-manager/hooks/update_approval_test.go
Labels: type/bug, area/core, e2e/use/k8s/1.21

#2358 [node-manager] Improved early-oom
  modules/040-node-manager/images/early-oom/Dockerfile
  modules/040-node-manager/images/early-oom/src/go.mod
  modules/040-node-manager/images/early-oom/src/go.sum
  modules/040-node-manager/images/early-oom/src/psi-monitor.go
  modules/040-node-manager/templates/early-oom/daemonset.yaml
Labels: type/enhancement, area/cluster-and-infrastructure, e2e/use/k8s/1.21

#2413 [kube-dns] prefer_udp
  modules/042-kube-dns/templates/configmap.yaml
Labels: area/network, type/bug, status/backport, e2e/use/k8s/1.23

#2418 Backport: [kube-dns] prefer_udp
  modules/042-kube-dns/templates/configmap.yaml
Labels: auto, backported

#2408 [linstor] fix linstor-node label
  modules/041-linstor/templates/linstor-node/linstorsatelliteset.yaml
Labels: type/bug, status/backport, area/storage

#2419 Backport: [linstor] fix linstor-node label
  modules/031-linstor/templates/linstor-node/linstorsatelliteset.yaml
Labels: auto, backported

#2417 Changelog v1.35.7
  CHANGELOG/CHANGELOG-v1.35.7.yml
  CHANGELOG/CHANGELOG-v1.35.md
Labels: changelog, auto, status/backport

#2420 Backport: Changelog v1.35.7
  CHANGELOG/CHANGELOG-v1.35.7.yml
  CHANGELOG/CHANGELOG-v1.35.md
Labels: auto, backported

#2416 [core] bump addon-operator version
  go.mod
  go.sum
  modules/301-prometheus-metrics-adapter/hooks/custom_metrics_events.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21

#2332 [prometheus] add prometheus-scraper-istio-mtls secret
  modules/300-prometheus/hooks/generate_istio_mtls_cert.go
  modules/300-prometheus/hooks/generate_istio_mtls_cert_test.go
  modules/300-prometheus/openapi/values.yaml
  modules/300-prometheus/template_tests/copy_custom_certificate_test.go
  modules/300-prometheus/template_tests/secret_datasources_list_test.go
  modules/300-prometheus/templates/prometheus-scraper-istio-mtls.yaml
  modules/340-monitoring-custom/docs/README.md
  modules/340-monitoring-custom/docs/README_RU.md
  modules/340-monitoring-custom/hooks/discover_scraper_istio_mtls_secret.go
  modules/340-monitoring-custom/hooks/discover_scraper_istio_mtls_secret_test.go
  modules/340-monitoring-custom/openapi/values.yaml
  modules/340-monitoring-custom/templates/_helpers.tpl
  modules/340-monitoring-custom/templates/pod-monitor.yaml
  modules/340-monitoring-custom/templates/service-monitor.yaml
Labels: area/network

#2421 [candi][dhctl] Render `detect_bundle.sh` as template before execute
  candi/bashible/detect_bundle.sh
  dhctl/pkg/operations/bootstrap.go
  dhctl/pkg/template/bundle.go
Labels: type/bug, area/cluster-and-infrastructure, e2e/use/k8s/1.21

#2275 [tools] added change registry script
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  tools/change-registry.sh
Labels: type/chore

#2385 [istio] fix tlsMode param behavior
  ee/modules/110-istio/openapi/config-values.yaml
  ee/modules/110-istio/template_tests/module_test.go
  ee/modules/110-istio/templates/global-auth-policy.yaml
Labels: skip/documentation-validation

#2424 [site] Fix the security page rendering
  docs/site/pages/SECURITY.md
  docs/site/pages/SECURITY_RU.md
Labels: area/docs

#2422 [upmeter] Fix EnableKubeEventCb
  modules/500-upmeter/images/upmeter/pkg/monitor/downtime/monitor.go
  modules/500-upmeter/images/upmeter/pkg/monitor/hookprobe/monitor.go
  modules/500-upmeter/images/upmeter/pkg/monitor/node/monitor.go
  modules/500-upmeter/images/upmeter/pkg/monitor/remotewrite/monitor.go
  modules/500-upmeter/templates/upmeter-agent/daemonset.yaml
Labels: area/monitoring

#2428 [e2e] Fix docker test in Yandex.Cloud
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/script.sh
Labels: e2e/use/cri/docker, status/backport, e2e/use/k8s/1.23

#2432 Backport: [e2e] Fix docker test in Yandex.Cloud
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/script.sh
Labels: auto, backported

#2430 [kube-dns] clusterDomain is taken into account in kube-dns ExternalName Service
  modules/042-kube-dns/templates/service.yaml
Labels: type/bug, source/internal-client

#2283 [testing] added e2e tests to check deckhouse version updates
  .github/ci_templates/e2e_tests.yml
  .github/scripts/js/ci.js
  .github/scripts/js/git-ref.js
  .github/scripts/js/specs/git-ref.test.js
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  testing/cloud_layouts/script.sh
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#2437 [linstor] fix image tag regression
  modules/041-linstor/templates/linstor-controller/linstorcontroller.yaml
  modules/041-linstor/templates/linstor-scheduler/deployment.yaml
  modules/041-linstor/templates/tests/03-pod-with-volume.yaml
Labels: status/backport, area/storage

#2438 Backport: [linstor] fix image tag regression
  modules/041-linstor/templates/linstor-controller/linstorcontroller.yaml
  modules/041-linstor/templates/linstor-scheduler/deployment.yaml
  modules/041-linstor/templates/tests/03-pod-with-volume.yaml
Labels: auto, backported

#2243 Changelog v1.36.0
  CHANGELOG/CHANGELOG-v1.36.0.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: changelog, auto, status/backport

#2442 Backport: Changelog v1.36.0
  CHANGELOG/CHANGELOG-v1.36.0.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: auto, backported

#2454 [site] Added badge on ru main page
  docs/site/css/components/_product-intro.scss
  docs/site/images/sprite.svg
  docs/site/pages/index_ru.html
Labels: area/docs

#2453 [log-shipper] Add Logstash example
  modules/460-log-shipper/docs/USAGE.md
  modules/460-log-shipper/docs/USAGE_RU.md
Labels: area/monitoring, area/docs

#2447 [user-authn] fix in crowd-basic-auth-proxy deployment
  modules/150-user-authn/templates/crowd-basic-auth-proxy/deployment.yaml
Labels: area/auth, status/backport

#2458 Backport: [user-authn] fix in crowd-basic-auth-proxy deployment
  modules/150-user-authn/templates/crowd-basic-auth-proxy/deployment.yaml
Labels: auto, backported

#2450 [snapshot-controller] Fix maxSurge for snapshot-validation-webhook
  modules/045-snapshot-controller/templates/snapshot-validation-webhook/deployment.yaml
Labels: status/ok-to-test, status/backport

#2452 [cni-cilium] fix cilium mode for static clusters
  modules/021-cni-cilium/hooks/set_cilium_mode.go
  modules/021-cni-cilium/hooks/set_cilium_mode_test.go
Labels: area/network, e2e/use/k8s/1.21, status/backport

#2459 Backport: [cni-cilium] fix cilium mode for static clusters
  modules/021-cni-cilium/hooks/set_cilium_mode.go
  modules/021-cni-cilium/hooks/set_cilium_mode_test.go
Labels: auto, backported

#2460 [deckhouse] remove messages on deckhouse releases
  modules/002-deckhouse/hooks/internal/updater/updater.go
Labels: status/backport

#2461 Backport: [deckhouse] remove messages on deckhouse releases
  modules/002-deckhouse/hooks/internal/updater/updater.go
Labels: auto, backported

#2457 Changelog v1.36.1
  CHANGELOG/CHANGELOG-v1.36.1.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: changelog, auto

#2464 Backport: Changelog v1.36.1
  CHANGELOG/CHANGELOG-v1.36.1.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: auto, backported

#2465 [deckhouse] check predicted release on observing release data
  modules/002-deckhouse/hooks/internal/updater/updater.go
Labels: type/bug, status/backport

#2468 Backport: [deckhouse] check predicted release on observing release data
  modules/002-deckhouse/hooks/internal/updater/updater.go
Labels: auto, backported

#2467 Changelog v1.36.2
  CHANGELOG/CHANGELOG-v1.36.2.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: changelog, auto, status/backport

#2469 Backport: Changelog v1.36.2
  CHANGELOG/CHANGELOG-v1.36.2.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: auto, backported

#2472 [deckhouse] Fix deckhouse update cm
  modules/002-deckhouse/hooks/internal/updater/updater.go
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
Labels: status/backport

#2474 Backport: [deckhouse] Fix deckhouse update cm
  modules/002-deckhouse/hooks/internal/updater/updater.go
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
Labels: auto, backported

#2471 Changelog v1.36.3
  CHANGELOG/CHANGELOG-v1.36.3.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: changelog, auto, status/backport

#2475 Backport: Changelog v1.36.3
  CHANGELOG/CHANGELOG-v1.36.3.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: auto, backported

#2480 [log-shipper] Ignore pipelines without destinations
  modules/460-log-shipper/hooks/generate_config_test.go
  modules/460-log-shipper/hooks/internal/composer/composer.go
Labels: area/monitoring, type/bug, status/backport

#2484 Backport: undefined
  modules/460-log-shipper/hooks/generate_config_test.go
  modules/460-log-shipper/hooks/internal/composer/composer.go
Labels: auto, backported

#2476 [monitoring-kubernetes] Add underrequested pods
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/capacity-planning/capacity-planning.json
Labels: area/monitoring

#2494 remove EKS from the node manager doc since it doesn't work
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: area/docs, status/backport

#2495 Backport: remove EKS from the node manager doc since it doesn't work
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: auto, backported

#2479 [istio] fix tlsMode MutialPermissive
  ee/modules/110-istio/template_tests/module_test.go
  ee/modules/110-istio/templates/global-auth-policy.yaml
Labels: type/bug, status/backport

#2497 Backport: [istio] fix tlsMode MutialPermissive
  ee/modules/110-istio/template_tests/module_test.go
  ee/modules/110-istio/templates/global-auth-policy.yaml
Labels: auto, backported

#2493 [candi] fix discover node ip on debian-based distros
  candi/bashible/common-steps/node-group/003_discover_node_ip.sh.tpl
Labels: area/cluster-and-infrastructure, skip/no-cyrillic-validation

#2462 [ci][testing] Add binary cache for matrix tests
  .github/ci_templates/tests.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
Labels: area/testing, type/chore

#2499 [upmeter] Fix statuspage backend URL
  modules/500-upmeter/images/status/src/App.svelte
Labels: area/monitoring, type/bug, status/backport

#2503 Backport: [upmeter] Fix statuspage backend URL
  modules/500-upmeter/images/status/src/App.svelte
Labels: auto, backported

#2500 Translate installing/README.md
  docs/documentation/pages/installing/README.md
Labels: area/docs

#2481 [cni-cilium] Revert bpf masquerade for all cilium installations except openstack.
  candi/bashible/common-steps/node-group/041_configure_sysctl_tuner.sh.tpl
  ee/modules/030-cloud-provider-openstack/templates/cni.yaml
  modules/021-cni-cilium/hooks/migrate_cni_secret.go
  modules/021-cni-cilium/hooks/migrate_cni_secret_test.go
  modules/021-cni-cilium/hooks/set_cilium_mode.go
  modules/021-cni-cilium/hooks/set_cilium_mode_test.go
  modules/021-cni-cilium/openapi/values.yaml
  modules/021-cni-cilium/template_tests/module_test.go
  modules/021-cni-cilium/templates/configmap.yaml
Labels: area/network, status/backport, e2e/use/k8s/1.23

#2505 Backport: [cni-cilium] Revert bpf masquerade for all cilium installations except openstack.
  candi/bashible/common-steps/node-group/041_configure_sysctl_tuner.sh.tpl
  ee/modules/030-cloud-provider-openstack/templates/cni.yaml
  modules/021-cni-cilium/hooks/migrate_cni_secret.go
  modules/021-cni-cilium/hooks/migrate_cni_secret_test.go
  modules/021-cni-cilium/hooks/set_cilium_mode.go
  modules/021-cni-cilium/hooks/set_cilium_mode_test.go
  modules/021-cni-cilium/openapi/values.yaml
  modules/021-cni-cilium/template_tests/module_test.go
  modules/021-cni-cilium/templates/configmap.yaml
Labels: auto, backported

#2489 [linstor] fix linstor-affinity-controller leader election
  modules/041-linstor/templates/linstor-affinity-controller/deployment.yaml
Labels: type/bug, status/backport, area/storage

#2506 Backport: [linstor] fix linstor-affinity-controller leader election
  modules/041-linstor/templates/linstor-affinity-controller/deployment.yaml
Labels: auto, backported

#2367 [docs] Render ClusterConfiguration and InitConfiguration schemes
  candi/docs/README.md
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
  candi/openapi/doc-ru-init_configuration.yaml
  candi/openapi/doc-ru-static_cluster_configuration.yaml
  candi/openapi/init_configuration.yaml
  candi/openapi/static_cluster_configuration.yaml
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/_plugins/openapi.rb
  docs/documentation/modules_generate_configuration.sh
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/documentation/pages/installing/CONFIGURATION.md
  docs/documentation/pages/installing/CONFIGURATION_RU.md
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
  docs/documentation/werf-git-section.inc.yaml
Labels: area/docs, skip/copyright-validation, status/backport

#2509 Backport: [docs] Render ClusterConfiguration and InitConfiguration schemes
  candi/docs/README.md
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
  candi/openapi/doc-ru-init_configuration.yaml
  candi/openapi/doc-ru-static_cluster_configuration.yaml
  candi/openapi/init_configuration.yaml
  candi/openapi/static_cluster_configuration.yaml
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/_plugins/openapi.rb
  docs/documentation/modules_generate_configuration.sh
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/documentation/pages/installing/CONFIGURATION.md
  docs/documentation/pages/installing/CONFIGURATION_RU.md
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
  docs/documentation/werf-git-section.inc.yaml
Labels: auto, backported

#2511 Backport: [candi] fix discover node ip on debian-based distros
  candi/bashible/common-steps/node-group/003_discover_node_ip.sh.tpl
Labels: auto, backported

#2394 [node-manager] Subscribe to Node's CreationTimestamp instead of Machine's field in yandex_preemptibly_delete_preemtible_instances.go
  modules/040-node-manager/hooks/yandex_preemptibly_delete_preemtible_instances.go
  modules/040-node-manager/hooks/yandex_preemptibly_delete_preemtible_instances_test.go
Labels: type/bug, area/cluster-and-infrastructure, status/backport, e2e/use/k8s/1.23

#2451 [node-manager] Fail early-oom gracefully
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/040-node-manager/images/early-oom/src/go.mod
  modules/040-node-manager/images/early-oom/src/go.sum
  modules/040-node-manager/images/early-oom/src/psi-monitor.go
  modules/040-node-manager/monitoring/prometheus-rules/early-oom.tpl
  modules/040-node-manager/templates/early-oom/daemonset.yaml
  modules/040-node-manager/templates/early-oom/pod-monitor.yaml
  modules/040-node-manager/templates/early-oom/rbac-for-us.yaml
  modules/040-node-manager/templates/early-oom/rbac-to-us.yaml
Labels: type/bug, area/cluster-and-infrastructure, status/backport, e2e/use/k8s/1.23

#2515 Backport: [node-manager] Subscribe to Node's CreationTimestamp instead of Machine's field in yandex_preemptibly_delete_preemtible_instances.go
  modules/040-node-manager/hooks/yandex_preemptibly_delete_preemtible_instances.go
  modules/040-node-manager/hooks/yandex_preemptibly_delete_preemtible_instances_test.go
Labels: auto, backported

#2516 Backport: [node-manager] Fail early-oom gracefully
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/040-node-manager/images/early-oom/src/go.mod
  modules/040-node-manager/images/early-oom/src/go.sum
  modules/040-node-manager/images/early-oom/src/psi-monitor.go
  modules/040-node-manager/monitoring/prometheus-rules/early-oom.tpl
  modules/040-node-manager/templates/early-oom/daemonset.yaml
  modules/040-node-manager/templates/early-oom/pod-monitor.yaml
  modules/040-node-manager/templates/early-oom/rbac-for-us.yaml
  modules/040-node-manager/templates/early-oom/rbac-to-us.yaml
Labels: auto, backported

#2427 [monitoring-kubernetes] exclude serviceaccount mounts for node-exporter
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
Labels: area/monitoring, e2e/use/cri/containerd, status/backport, e2e/use/k8s/1.23

#2517 Backport: [monitoring-kubernetes] exclude serviceaccount mounts for node-exporter
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
Labels: auto, backported

#2519 [docs] Fix markup
  docs/documentation/pages/installing/README_RU.md
Labels: area/docs, status/backport

#2520 Backport: [docs] Fix markup
  docs/documentation/pages/installing/README_RU.md
Labels: auto, backported

#2510 [monitoring-kubernetes] Check current node_memory_SUnreclaim_bytes in NodeSUnreclaimBytesUsageHigh alert
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/node.yaml
Labels: area/monitoring, type/bug, status/backport

#2521 Backport: [monitoring-kubernetes] Check current node_memory_SUnreclaim_bytes in NodeSUnreclaimBytesUsageHigh alert
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/node.yaml
Labels: auto, backported

#2502 [deckhouse] fix test
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
Labels: skip/documentation-validation, status/backport

#2522 Backport: [deckhouse] fix test
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
Labels: auto, backported

#2488 Changelog v1.36.4
  CHANGELOG/CHANGELOG-v1.36.4.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: changelog, auto, status/backport

#2523 Backport: Changelog v1.36.4
  CHANGELOG/CHANGELOG-v1.36.4.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: auto, backported

#2525 [node-manager][doc] Clarify master NodeGroup cri change
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, status/backport

#2529 Backport: [node-manager][doc] Clarify master NodeGroup cri change
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#2533 [deckhouse-web] Add link to the EULA
  docs/site/_includes/header.html
  modules/810-deckhouse-web/images/web/site/_data/topnav.yml
Labels: area/docs, skip/no-cyrillic-validation

#2444 [node-manager] Update govmomi in mcm
  modules/040-node-manager/images/machine-controller-manager/werf.inc.yaml
Labels: type/bug, area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.21, status/backport

#2535 Backport: [node-manager] Update govmomi in mcm
  modules/040-node-manager/images/machine-controller-manager/werf.inc.yaml
Labels: auto, backported

#2536 Backport: Changelog v1.36.5
  CHANGELOG/CHANGELOG-v1.36.5.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: auto, backported

#2514 [testing] Use another OpenStack cloud provider
  .github/ci_templates/e2e_tests.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-openstack.yml
  testing/cloud_layouts/OpenStack/Standard/configuration.tpl.yaml
  testing/cloud_layouts/OpenStack/Standard/resources.yaml
  testing/cloud_layouts/Static/infra.tpl.tf
  testing/cloud_layouts/script.sh
Labels: area/testing, e2e/use/cri/containerd, e2e/use/k8s/1.23

#2431 [ci] Make executing a single e2e test mandatory to accept the PR
  .github/ci_templates/e2e_tests.yml
  .github/scripts/js/ci.js
  .github/scripts/js/constants.js
  .github/scripts/js/e2e-commit-status.js
  .github/scripts/js/time.js
  .github/workflow_templates/build-and-test_dev.yml
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: type/enhancement, area/testing

#2544 [candi][cloud-provider-yandex] Fix routes for multi-zonal clusters when using WithNATInstance layout
  candi/cloud-providers/yandex/terraform-modules/vpc-components/nat_instance.tf
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.21

#2548 [docs] Delete crane comment
  candi/image_versions.yml
Labels: area/docs, skip/e2e

#2549 [cni-cilium] fix error running in VXLAN mode.
  modules/021-cni-cilium/templates/configmap.yaml
Labels: area/network, e2e/use/cri/containerd, e2e/use/k8s/1.23

#2550 [cni-cilium] ConfigMap changes
  modules/021-cni-cilium/templates/configmap.yaml
Labels: area/network, type/enhancement, e2e/use/k8s/1.23

#2553 [prometheus] increase sample rate for prometheus-module service-monitor to 10000
  modules/300-prometheus/templates/prometheus/servicemonitor.yaml
Labels: area/monitoring, e2e/use/cri/containerd, e2e/use/k8s/1.23

#2527 [monitoring-applications] Reduce number of generated service monitors
  ee/fe/modules/340-monitoring-applications/docs/CONFIGURATION.md
  ee/fe/modules/340-monitoring-applications/docs/CONFIGURATION_RU.md
  ee/fe/modules/340-monitoring-applications/hooks/discovery.go
  ee/fe/modules/340-monitoring-applications/hooks/discovery_test.go
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/_helpers.tpl
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/base-service-monitor.yaml
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/consul.yaml
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/elasticsearch.yaml
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/etcd3.yaml
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/fluentd.yaml
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/grafana.yaml
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/memcahced.yaml
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/minio.yaml
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/mongodb.yaml
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/nats.yaml
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/nginx.yaml
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/php-fpm.yaml
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/prometheus.yaml
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/rabbitmq.yaml
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/redis.yaml
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/sidekiq.yaml
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/trickster.yaml
  ee/fe/modules/340-monitoring-applications/templates/service-monitors/uwsgi.yaml
  go_lib/set/set.go
  modules/303-prometheus-pushgateway/templates/service-monitor.yaml
  modules/303-prometheus-pushgateway/templates/service.yaml
  modules/340-monitoring-kubernetes/templates/kube-state-metrics/service.yaml
Labels: area/monitoring

#2558 [istio] fix D8IstioActualDataPlaneRevisionNeDesired alert
  ee/modules/110-istio/monitoring/prometheus-rules/revisions.yaml
Labels: type/bug, status/backport, skip/e2e

#2567 Backport: [istio] fix D8IstioActualDataPlaneRevisionNeDesired alert
  ee/modules/110-istio/monitoring/prometheus-rules/revisions.yaml
Labels: auto, backported

#2547 [deckhouse] bump shell-operator build image
  candi/image_versions.yml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21, status/backport

#2568 Backport: [deckhouse] bump shell-operator build image
  candi/image_versions.yml
Labels: auto, backported

#2560 [cloud-provider-aws] bump version
  candi/version_map.yml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21, e2e/use/k8s/1.22, status/backport, e2e/use/k8s/1.23

#2569 Backport: [cloud-provider-aws] bump version
  candi/version_map.yml
Labels: auto, backported

#2552 Changelog v1.36.6
  CHANGELOG/CHANGELOG-v1.36.6.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: changelog, auto, status/backport

#2570 Backport: Changelog v1.36.6
  CHANGELOG/CHANGELOG-v1.36.6.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: auto, backported

#2555 [ci] add documentation on how to run e2e test with switch releases
  .github/scripts/js/ci.js
Labels: skip/e2e

#2545 [ingress-nginx] reload controller config on custom headers change
  modules/402-ingress-nginx/template_tests/controller_test.go
  modules/402-ingress-nginx/templates/controller/configmap.yaml
  modules/402-ingress-nginx/templates/controller/fake-ingress.yaml
  modules/402-ingress-nginx/templates/controller/secret.yaml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21, skip/e2e

#2542 [grafana][monitoring-kubernetes] Remove kube-dns DNS application Grafana dashboard
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/kubernetes-cluster/dns/dns-kube-dns.json
Labels: area/monitoring

#2556 [monitoring] remove queue /modules/deckhouse/update_deckhouse_image from D8DeckhouseQueueIsHung alert
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/deckhouse.yaml
Labels: area/monitoring, skip/e2e

#2410 [istio] istio validation webhook interferes the operator
  ee/modules/110-istio/hooks/discovery_istiod_health.go
  ee/modules/110-istio/hooks/discovery_istiod_health_test.go
  ee/modules/110-istio/hooks/hack_iop_reconciling.go
  ee/modules/110-istio/hooks/hack_iop_reconciling_test.go
  ee/modules/110-istio/hooks/internal/crd/iop.go
  ee/modules/110-istio/hooks/internal/testing_template.go
  ee/modules/110-istio/hooks/migration_get_rid_of_1x10x1_heritage.go
  ee/modules/110-istio/hooks/migration_get_rid_of_1x10x1_heritage_test.go
  ee/modules/110-istio/hooks/revisions_monitoring_test.go
  ee/modules/110-istio/monitoring/prometheus-rules/controlplane.yaml
  ee/modules/110-istio/openapi/values.yaml
  ee/modules/110-istio/templates/control-plane/validatingwebhook-global.yaml
  werf.yaml
Labels: skip/e2e

#2456 [node-manager] added RollingUpdate approval mode for cloud nodes
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
  modules/040-node-manager/hooks/internal/v1/nodegroup.go
  modules/040-node-manager/hooks/update_approval.go
  modules/040-node-manager/hooks/update_approval_test.go
  modules/040-node-manager/webhooks/validating/node_group
Labels: area/network

#2513 [istio] add a sidecar proxy injection template with preStop hook
  ee/modules/110-istio/docs/USAGE.md
  ee/modules/110-istio/docs/USAGE_RU.md
  ee/modules/110-istio/templates/control-plane/iop.yaml
Labels: area/docs, skip/documentation-validation

#2565 [docs] Fixed vSphere permissions
  docs/site/_includes/getting_started/vsphere/STEP_ENV.md
  docs/site/_includes/getting_started/vsphere/STEP_ENV_RU.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
Labels: area/docs, type/chore

#2563 [cloud-provider-yandex] assign route table to existing subnets
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.21

#2577 [docs][nodegroup] Add the example about disruption
  candi/openapi/node_group.yaml
Labels: area/docs, skip/documentation-validation

#2576 [cni-cilium] Improve documentation
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
  modules/021-cni-cilium/openapi/config-values.yaml
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
Labels: area/network, skip/e2e

#2543 [docs] Do not use external assets on the site
  docs/documentation/_includes/openapi-tippy.html
  docs/documentation/js/popper.min.js
  docs/documentation/js/tippy-bundle.umd.min.js
  docs/site/_includes/fonts.css
  docs/site/_includes/head-site.html
  docs/site/css/jquery.dataTables.css
  docs/site/css/slick.css
  docs/site/fonts/opensans/opensans-bold.ttf
  docs/site/fonts/opensans/opensans-bolditalic.ttf
  docs/site/fonts/opensans/opensans-extrabold.ttf
  docs/site/fonts/opensans/opensans-extrabolditalic.ttf
  docs/site/fonts/opensans/opensans-italic.ttf
  docs/site/fonts/opensans/opensans-light.ttf
  docs/site/fonts/opensans/opensans-lightitalic.ttf.ttf
  docs/site/fonts/opensans/opensans-regular.ttf
  docs/site/fonts/opensans/opensans-semibold.ttf
  docs/site/fonts/opensans/opensans-semibolditalic.ttf
  docs/site/fonts/source-code-pro/sourcecodepro-black.ttf
  docs/site/fonts/source-code-pro/sourcecodepro-bold.ttf
  docs/site/fonts/source-code-pro/sourcecodepro-extralight.ttf
  docs/site/fonts/source-code-pro/sourcecodepro-light.ttf
  docs/site/fonts/source-code-pro/sourcecodepro-medium.ttf
  docs/site/fonts/source-code-pro/sourcecodepro-regular.ttf
  docs/site/fonts/source-code-pro/sourcecodepro-semibold.ttf
  docs/site/js/bootstrap.min.js
  docs/site/js/html5shiv.js
  docs/site/js/jquery.dataTables.min.js
  docs/site/js/jquery.min.js
  docs/site/js/popper.min.js
  docs/site/js/respond.min.js
  docs/site/js/slick.min.js
Labels: area/docs, skip/e2e

#2584 [docs] Fix typos and broken links
  candi/openapi/doc-ru-init_configuration.yaml
  candi/openapi/init_configuration.yaml
  modules/010-prometheus-crd/crds/customalertmanager.yaml
  modules/010-prometheus-crd/crds/doc-ru-customalertmanager.yaml
Labels: area/docs, status/backport, skip/e2e

#2585 Backport: [docs] Fix typos and broken links
  candi/openapi/doc-ru-init_configuration.yaml
  candi/openapi/init_configuration.yaml
  modules/010-prometheus-crd/crds/customalertmanager.yaml
  modules/010-prometheus-crd/crds/doc-ru-customalertmanager.yaml
Labels: auto, backported

#2592 Backport: [docs] Fix schema render
  docs/documentation/_data/i18n.yml
  docs/documentation/_plugins/openapi.rb
Labels: auto, backported

#2574 Bump alpine to 3.16.2
  candi/image_versions.yml
Labels: area/cluster-and-infrastructure

#2589 [extended-monitoring] Remove `D8CertExporterStuck` alert
  modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/certificates-exporter-health.yaml
Labels: area/monitoring, type/bug, e2e/use/k8s/1.21

#2583 [candi] fix bashible output to english
  candi/bashible/bashible.sh.tpl
  candi/bashible/bundles/centos/bootstrap.sh.tpl
  candi/bashible/bundles/ubuntu-lts/bootstrap.sh.tpl
  testing/cloud_layouts/script.sh
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.23

#2231 [cloud-provider-aws] Getting rid of unused associatePublicIPToNodes arg
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  docs/site/_includes/getting_started/aws/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.standard.ee.inc
Labels: skip/documentation-validation, e2e/use/k8s/1.24, skip/e2e

#2426 [linter][monitoring] check prometheus rules
  Makefile
  global-hooks/openapi/values.yaml
  testing/matrix/linter/rules/modules/prometheus_rules.go
  testing/matrix/linter/rules/rules.go
  testing/matrix/linter/run.go
Labels: area/testing, e2e/use/cri/containerd, e2e/use/k8s/1.21

#2541 [node-manager][early-oom] alert description fix
  modules/040-node-manager/monitoring/prometheus-rules/early-oom.tpl
Labels: area/monitoring

#2582 [go_lib] Re-issue certificates 15 days before expiration
  go_lib/hooks/tls_certificate/order_certificate.go
Labels: skip/e2e

#2572 [madison-proxy] improve logging
  ee/modules/600-flant-integration/images/madison-proxy/madison-proxy.go
Labels: area/monitoring, skip/e2e

#2603 [prometheus] Bump grafana to 8.5.13 to fix input lag
  modules/300-prometheus/images/grafana/Dockerfile
Labels: area/monitoring

#2593 [deckhouse][candi] OpenaAPI schemas minor fixes
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
  modules/002-deckhouse/openapi/config-values.yaml
  modules/002-deckhouse/openapi/doc-ru-config-values.yaml
Labels: area/docs, status/backport, skip/e2e

#2604 Backport: [deckhouse][candi] OpenaAPI schemas minor fixes
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
  modules/002-deckhouse/openapi/config-values.yaml
  modules/002-deckhouse/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#2606 Backport: [prometheus] Bump grafana to 8.5.13 to fix input lag
  modules/300-prometheus/images/grafana/Dockerfile
Labels: auto, backported

#2599 [istio] fix D8IstioDataPlaneWithoutIstioInjectionConfigured alert description
  ee/modules/110-istio/monitoring/prometheus-rules/revisions.yaml
Labels: type/bug

#2608 Backport: [istio] fix D8IstioDataPlaneWithoutIstioInjectionConfigured alert description
  ee/modules/110-istio/monitoring/prometheus-rules/revisions.yaml
Labels: auto, backported

#2586 Changelog v1.36.7
  CHANGELOG/CHANGELOG-v1.36.7.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: changelog, auto, status/backport

#2609 Backport: Changelog v1.36.7
  CHANGELOG/CHANGELOG-v1.36.7.yml
  CHANGELOG/CHANGELOG-v1.36.md
Labels: auto, backported

#2504 [cloud-provider-yandex] Fix allowing additional properties for nodeGroups[*] and nodeGroups[*].instanceClass
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
Labels: skip/documentation-validation

#2581 [cni-cilium] Disable cilium-hubble module by default
  modules/500-cilium-hubble/docs/CONFIGURATION.md
  modules/500-cilium-hubble/docs/CONFIGURATION_RU.md
  modules/500-cilium-hubble/docs/README.md
  modules/500-cilium-hubble/docs/README_RU.md
  modules/values-default.yaml
Labels: area/monitoring, area/network, e2e/use/cri/containerd, e2e/use/k8s/1.21

#2588 [global-hooks] Reduce static requests for control-plane pods
  global-hooks/calculate_resources_requests.go
  global-hooks/calculate_resources_requests_test.go
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.21
