Repository deckhouse/deckhouse, pull requests merged in 2022-03, with the labels that each got.

#956 [log-shipper] Fire an event if a config file was created/updated
  modules/460-log-shipper/hooks/generate_config.go
Labels: area/monitoring

#946 [global] added global proxy setup.
  dhctl/pkg/terraform/executor.go
  ee/modules/600-flant-integration/images/madison-proxy/Dockerfile
  ee/modules/600-flant-integration/images/madison-proxy/go.mod
  ee/modules/600-flant-integration/images/madison-proxy/go.sum
  ee/modules/600-flant-integration/images/madison-proxy/madison-proxy.go
  ee/modules/600-flant-integration/images/madison-proxy/madison_proxy_test.go
  ee/modules/600-flant-integration/images/madison-proxy/rootfs/etc/nginx/log_format.conf
  ee/modules/600-flant-integration/images/madison-proxy/rootfs/etc/nginx/madison.tmpl
  ee/modules/600-flant-integration/images/madison-proxy/rootfs/etc/nginx/nginx.conf
  ee/modules/600-flant-integration/templates/madison/deployment.yaml
  ee/modules/600-flant-integration/templates/pricing/daemonset.yaml
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/doc-ru-config-values.yaml
  global-hooks/openapi/openapi-case-tests.yaml
  helm_lib/templates/_envs_for_proxy.tpl
  modules/020-deckhouse/template_tests/module_test.go
  modules/020-deckhouse/templates/deployment.yaml
  modules/030-cloud-provider-yandex/templates/cloud-controller-manager/deployment.yaml
  modules/030-cloud-provider-yandex/templates/csi/controller.yaml
  modules/040-node-manager/templates/machine-controller-manager/deployment.yaml
  modules/040-terraform-manager/templates/terraform-auto-converger/deployment.yaml
  modules/040-terraform-manager/templates/terraform-state-exporter/deployment.yaml
Labels: type/enhancement, status/backport

#990 [user-authn] Fix dex build
  modules/150-user-authn/images/dex/Dockerfile
Labels: area/auth

#981 [ci] tests run optimization
  .github/ci_templates/build.yml
  .github/ci_templates/tests.yml
  .github/workflow_templates/build-and-test_dev.yml
  .github/workflow_templates/build-and-test_release.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
Labels: area/dx

#988 [flant-integration] added grafana-agent proxy_url option
  ee/modules/600-flant-integration/templates/pricing/config.yaml
Labels: type/enhancement, status/backport

#997 [upmeter] Fix numbers for string fields in yaml for UpmeterHookProbe CR template
  modules/500-upmeter/images/upmeter/pkg/probe/checker/d8_clusterconfiguration.go
Labels: area/monitoring

#999 [cert-manager] remove D8CertmanagerOrphanSecretsWithoutCorrespondingCertificateResources
  modules/101-cert-manager/monitoring/prometheus-rules/certificate.yaml
Labels: area/monitoring, status/backport

#965 [docs] Fix article text in «Cloud provider — AWS: usage» page
  modules/030-cloud-provider-aws/docs/USAGE.md
  modules/030-cloud-provider-aws/docs/USAGE_RU.md
Labels: area/docs

#1000 [docs] fix typo
  modules/460-log-shipper/crds/doc-ru-cluster-logging-config.yaml
  modules/460-log-shipper/crds/doc-ru-pod-logging-config.yaml
Labels: area/docs, skip/documentation-validation

#1001 [candi] Suspend Astra Linux support
  candi/bashible/bashbooster/55_distro_version.sh
  candi/bashible/openapi.yaml
  candi/version_map.yml
  dhctl/README.md
  docs/documentation/_data/supported_versions.yml
  ee/candi/bashible/.build.yaml
  ee/candi/bashible/bundles/astra/all/000_add_apt_proxy_conf.sh.tpl
  ee/candi/bashible/bundles/astra/all/000_install_ca_certificates.sh.tpl
  ee/candi/bashible/bundles/astra/all/001_install_mandatory_packages.sh.tpl
  ee/candi/bashible/bundles/astra/all/010_disable_unattended_upgrades.sh.tpl
  ee/candi/bashible/bundles/astra/all/011_disable_floppy_drive.sh.tpl
  ee/candi/bashible/bundles/astra/all/030_dist_upgrade.sh.tpl
  ee/candi/bashible/bundles/astra/all/034_install_kubelet_and_his_friends.sh.tpl
  ee/candi/bashible/bundles/astra/bootstrap.sh.tpl
  ee/candi/bashible/bundles/astra/cluster-bootstrap/035_install_kubeadm.sh.tpl
  ee/candi/bashible/bundles/astra/node-group/001_install_mandatory_packages_for_cloud_nodes.sh.tpl
  ee/candi/bashible/bundles/astra/node-group/001_remove_external_dependencies_migration.sh.tpl
  ee/candi/bashible/bundles/astra/node-group/031_install_containerd.sh.tpl
  ee/candi/bashible/bundles/astra/node-group/031_install_docker.sh.tpl
  ee/candi/bashible/bundles/astra/node-group/032_install_linux_kernel.sh.tpl
  ee/candi/bashible/bundles/astra/node-group/051_install_kubernetes_api_proxy.sh.tpl
  ee/candi/bashible/detect_bundle.sh
  ee/modules/040-node-manager/openapi/config-values.yaml
  tools/build_includes/candi-EE.yaml
  tools/build_includes/candi-FE.yaml
Labels: skip/documentation-validation

#1002 [docs][log-shipper] Fix CRD ClusterLogDestination description
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
Labels: area/docs, status/backport

#986 [cloud-provider-aws][cloud-provider-azure][cloud-provider-gcp][cloud-provider-yandex][cloud-provider-openstack][cloud-provider-vsphere] Add missing csi-images for 1.19, 1.20
  candi/version_map.yml
Labels: area/cluster-and-infrastructure

#987 [global] Update Base nginx image to 1.21.6 version
  .github/ci_includes/image_versions.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/schedule-cleanup.yml
  .gitlab/ci_includes/image_versions.yml
Labels: area/core

#920 [node-manager] NodeGroupConfiguration FAQ
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/040-node-manager/docs/USAGE.md
  modules/040-node-manager/docs/USAGE_RU.md
Labels: area/docs

#1006 [docs][user-authz] Minor documentation updates
  modules/020-deckhouse/docs/README.md
  modules/140-user-authz/crds/crd.yaml
  modules/140-user-authz/crds/doc-ru-crd.yaml
  modules/150-user-authn/docs/README.md
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: area/docs

#898 Changelog v1.30.12
  CHANGELOG/CHANGELOG-v1.30.12.yml
  CHANGELOG/CHANGELOG-v1.30.md
Labels: changelog, auto

#1015 [docs] Fix article text in «Cloud provider — GCP: usage» page
  modules/030-cloud-provider-gcp/docs/USAGE.md
  modules/030-cloud-provider-gcp/docs/USAGE_RU.md
Labels: area/docs

#1011 [docs] Fix article text in «Cloud provider — GCP: configuration» page
  modules/030-cloud-provider-gcp/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-gcp/openapi/config-values.yaml
  modules/030-cloud-provider-gcp/openapi/doc-ru-config-values.yaml
Labels: area/docs

#1020 [ci] fix(build): no such artifact `terraform-provider-vsphere` for CE
  werf.yaml
Labels: area/dx, edition/ce

#977 [deckhouse] Fix deckhouse cannot self update if converge was not done and update addon-operator
  go.mod
  go.sum
  modules/020-deckhouse/hooks/check_deckhouse_release.go
  modules/020-deckhouse/hooks/update_deckhouse_image.go
Labels: area/core, e2e/use/k8s/1.21

#1030 [docs] Minor fix
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs

#1026 Fix article text in «Сloud provider — GCP: FAQ» page
  modules/030-cloud-provider-gcp/docs/FAQ_RU.md
Labels: area/docs

#1003 [docs] Fix article text in «Cloud provider — GCP: Preparing environment» page
  candi/cloud-providers/gcp/docs/ENVIRONMENT.md
  candi/cloud-providers/gcp/docs/ENVIRONMENT_RU.md
Labels: area/docs

#1031 [cluster-provider-yandex] fix: existingZoneToSubnetIDMap is a forbidden property
  modules/030-cloud-provider-yandex/openapi/values.yaml
Labels: type/bug, status/backport

#1022 Changelog v1.30.13
  CHANGELOG/CHANGELOG-v1.30.13.yml
  CHANGELOG/CHANGELOG-v1.30.md
Labels: changelog, auto

#969 [openstack-provider] refactoring
  deckhouse-controller/pkg/helpers/openstack/get-volume-types.go
  deckhouse-controller/pkg/helpers/openstack/supports-online-disk-resize.go
  deckhouse-controller/pkg/helpers/register.go
  ee/modules/030-cloud-provider-openstack/.helmignore
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION_RU.md
  ee/modules/030-cloud-provider-openstack/hooks/check_online_resize_support
  ee/modules/030-cloud-provider-openstack/hooks/check_online_resize_support.go
  ee/modules/030-cloud-provider-openstack/hooks/discover_volume_types
  ee/modules/030-cloud-provider-openstack/hooks/discover_volume_types.go
  ee/modules/030-cloud-provider-openstack/hooks/discover_volume_types_test.go
  ee/modules/030-cloud-provider-openstack/hooks/helpers.go
  ee/modules/030-cloud-provider-openstack/hooks/internal/v1/cloud_discovery_data.go
  ee/modules/030-cloud-provider-openstack/hooks/internal/v1/instance_class.go
  ee/modules/030-cloud-provider-openstack/hooks/internal/v1/module_configuration.go
  ee/modules/030-cloud-provider-openstack/hooks/internal/v1/provider_cluster_configuration.go
  ee/modules/030-cloud-provider-openstack/hooks/migrate_old_scs
  ee/modules/030-cloud-provider-openstack/hooks/openstack_cluster_configuration
  ee/modules/030-cloud-provider-openstack/hooks/openstack_cluster_configuration.go
  ee/modules/030-cloud-provider-openstack/hooks/openstack_cluster_configuration_test.go
  ee/modules/030-cloud-provider-openstack/hooks/wait_for_all_master_nodes_to_become_initialized
  ee/modules/030-cloud-provider-openstack/hooks/wait_for_all_master_nodes_to_become_initialized.go
  ee/modules/030-cloud-provider-openstack/openapi/config-values.yaml
  ee/modules/030-cloud-provider-openstack/openapi/doc-ru-config-values.yaml
  ee/modules/030-cloud-provider-openstack/openapi/openapi-case-tests.yaml
  ee/modules/030-cloud-provider-openstack/openapi/values.yaml
  ee/modules/030-cloud-provider-openstack/template_tests/module_test.go
  ee/modules/030-cloud-provider-openstack/values.yaml
  ee/modules/030-cloud-provider-openstack/values_matrix_test.yaml
  go.mod
Labels: e2e/use/cri/docker, e2e/use/k8s/1.21

#1014 [ci] Changelog: split workflows for PR updates and milestone assignments
  .github/actions/milestone-changelog/action.yml
  .github/workflows/changelog-by-milestone.yml
  .github/workflows/changelog-by-pull.yml
  .github/workflows/changelog.md
  .github/workflows/changelog.yml
Labels: area/dx

#1021 [cloud-provider-aws] fix zone selection for bastion in WithNAT layout
  candi/cloud-providers/aws/layouts/with-nat/base-infrastructure/main.tf
Labels: area/cloud-provider, type/bug, status/backport

#1032 [user-authn] fix .spec.ldap.bindPW escaping in DexProvider
  modules/150-user-authn/templates/dex/config.yaml
Labels: area/auth, type/bug, status/backport

#980 [deckhouse] add docs about release process
  modules/020-deckhouse/docs/README.md
  modules/020-deckhouse/docs/README_RU.md
Labels: area/docs

#1033 [cloud-provider-openstack] Set volume availability zone in dhctl on bootstrap
  ee/candi/cloud-providers/openstack/layouts/simple-with-internal-network/master-node/main.tf
  ee/candi/cloud-providers/openstack/layouts/simple-with-internal-network/variables.tf
  ee/candi/cloud-providers/openstack/layouts/simple/master-node/main.tf
  ee/candi/cloud-providers/openstack/layouts/simple/variables.tf
  ee/candi/cloud-providers/openstack/layouts/standard-with-no-router/master-node/main.tf
  ee/candi/cloud-providers/openstack/layouts/standard-with-no-router/variables.tf
  ee/candi/cloud-providers/openstack/layouts/standard/base-infrastructure/main.tf
  ee/candi/cloud-providers/openstack/layouts/standard/master-node/main.tf
  ee/candi/cloud-providers/openstack/terraform-modules/kubernetes-data/main.tf
  ee/candi/cloud-providers/openstack/terraform-modules/kubernetes-data/variables.tf
  ee/candi/cloud-providers/openstack/terraform-modules/master/main.tf
  ee/candi/cloud-providers/openstack/terraform-modules/providers.tf
  ee/candi/cloud-providers/openstack/terraform-modules/static-node/main.tf
  ee/candi/cloud-providers/openstack/terraform-modules/variables.tf
Labels: status/backport

#1034 [istio] nodeSelector and tolerations customization for control-plane
  ee/modules/110-istio/openapi/config-values.yaml
  ee/modules/110-istio/openapi/doc-ru-config-values.yaml
  ee/modules/110-istio/template_tests/module_test.go
  ee/modules/110-istio/templates/control-plane/iop.yaml
Labels: area/network, status/backport

#1038 Changelog v1.30.14
  CHANGELOG/CHANGELOG-v1.30.14.yml
  CHANGELOG/CHANGELOG-v1.30.md
Labels: changelog, auto

#1016 [deckhouse] Add changelog to DeckhouseRelease
  modules/020-deckhouse/crds/deckhouse-release.yaml
  modules/020-deckhouse/crds/doc-ru-deckhouse-release.yaml
  modules/020-deckhouse/hooks/check_deckhouse_release.go
  modules/020-deckhouse/hooks/check_deckhouse_release_test.go
  modules/020-deckhouse/hooks/internal/v1alpha1/deckhouse_release.go
  werf.yaml
Labels: area/core

#989 [ingress-nginx] Deny locations with invalid auth URL
  modules/402-ingress-nginx/images/controller-0-33/Dockerfile
  modules/402-ingress-nginx/images/controller-0-33/patches/README.md
  modules/402-ingress-nginx/images/controller-0-33/patches/deny-invalid-auth-locations.patch
  modules/402-ingress-nginx/images/controller-0-46/Dockerfile
  modules/402-ingress-nginx/images/controller-0-46/patches/README.md
  modules/402-ingress-nginx/images/controller-0-46/patches/deny-invalid-auth-locations.patch
  modules/402-ingress-nginx/images/controller-0-48/Dockerfile
  modules/402-ingress-nginx/images/controller-0-48/patches/README.md
  modules/402-ingress-nginx/images/controller-0-48/patches/deny-invalid-auth-locations.patch
  modules/402-ingress-nginx/images/controller-0-49/Dockerfile
  modules/402-ingress-nginx/images/controller-0-49/patches/README.md
  modules/402-ingress-nginx/images/controller-0-49/patches/deny-invalid-auth-locations.patch
  modules/402-ingress-nginx/images/controller-1-0/Dockerfile
  modules/402-ingress-nginx/images/controller-1-0/patches/README.md
  modules/402-ingress-nginx/images/controller-1-0/patches/deny-invalid-auth-locations.patch
Labels: area/network

#951 [linstor] Update LINSTOR v1.18
  modules/031-linstor/images/drbd-driver-loader/Dockerfile
  modules/031-linstor/images/drbd-reactor/Dockerfile
  modules/031-linstor/images/linstor-scheduler-extender/Dockerfile
  modules/031-linstor/images/linstor-server/Dockerfile
  modules/031-linstor/images/piraeus-ha-controller/Dockerfile
  modules/031-linstor/images/piraeus-operator/Dockerfile
  modules/031-linstor/images/piraeus-operator/patches/README.md
  modules/031-linstor/images/piraeus-operator/patches/disable-finalizers.patch
  modules/031-linstor/images/piraeus-operator/patches/fix-conflicting-names.patch
  modules/031-linstor/templates/piraeus-operator/deployment.yaml
  modules/031-linstor/templates/piraeus-operator/rbac-for-us.yaml
Labels: status/on-hold

#1044 [candi] Fix docker-stuck-containers-cleaner unit
  candi/bashible/common-steps/node-group/089_setup_timer_to_run_docker_stuck_containers_cleaner.sh.tpl
Labels: status/backport

#746 [linstor] New module
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  docs/documentation/_data/sidebars/main.yml
  docs/site/_config.yml
  modules/031-linstor/.helmignore
  modules/031-linstor/.namespace
  modules/031-linstor/Chart.yaml
  modules/031-linstor/charts/helm_lib
  modules/031-linstor/crds/piraeus.linbit.com_linstorcontrollers_crd.yaml
  modules/031-linstor/crds/piraeus.linbit.com_linstorcsidrivers_crd.yaml
  modules/031-linstor/crds/piraeus.linbit.com_linstorsatellitesets_crd.yaml
  modules/031-linstor/docs/ADVANCED_USAGE.md
  modules/031-linstor/docs/ADVANCED_USAGE_RU.md
  modules/031-linstor/docs/CONFIGURATION.md
  modules/031-linstor/docs/CONFIGURATION_RU.md
  modules/031-linstor/docs/FAQ.md
  modules/031-linstor/docs/FAQ_RU.md
  modules/031-linstor/docs/README.md
  modules/031-linstor/docs/README_RU.md
  modules/031-linstor/docs/USAGE.md
  modules/031-linstor/docs/USAGE_RU.md
  modules/031-linstor/enabled
  modules/031-linstor/hooks/common_test.go
  modules/031-linstor/hooks/ensure_crds.go
  modules/031-linstor/hooks/generate_certs.go
  modules/031-linstor/hooks/generate_certs_test.go
  modules/031-linstor/images/drbd-driver-loader/Dockerfile
  modules/031-linstor/images/drbd-reactor/Dockerfile
  modules/031-linstor/images/linstor-csi/Dockerfile
  modules/031-linstor/images/linstor-scheduler-extender/Dockerfile
  modules/031-linstor/images/linstor-server/Dockerfile
  modules/031-linstor/images/piraeus-ha-controller/Dockerfile
  modules/031-linstor/images/piraeus-operator/Dockerfile
  modules/031-linstor/images/piraeus-operator/patches/README.md
  modules/031-linstor/images/piraeus-operator/patches/disable-finalizers.patch
  modules/031-linstor/openapi/config-values.yaml
  modules/031-linstor/openapi/doc-ru-config-values.yaml
  modules/031-linstor/openapi/openapi-case-tests.yaml
  modules/031-linstor/openapi/values.yaml
  modules/031-linstor/oss.yaml
  modules/031-linstor/template_tests/module_test.go
  modules/031-linstor/templates/certs.yaml
  modules/031-linstor/templates/csi/rbac-for-us.yaml
  modules/031-linstor/templates/linstor-controller/linstorcontroller.yaml
  modules/031-linstor/templates/linstor-controller/rbac-for-us.yaml
  modules/031-linstor/templates/linstor-csi/linstorcsidriver.yaml
  modules/031-linstor/templates/linstor-ha-controller/deployment.yaml
  modules/031-linstor/templates/linstor-ha-controller/rbac-for-us.yaml
  modules/031-linstor/templates/linstor-node/linstorsatelliteset.yaml
  modules/031-linstor/templates/linstor-node/rbac-for-us.yaml
  modules/031-linstor/templates/linstor-scheduler/configmap.yaml
  modules/031-linstor/templates/linstor-scheduler/deployment.yaml
  modules/031-linstor/templates/linstor-scheduler/rbac-for-us.yaml
  modules/031-linstor/templates/namespace.yaml
  modules/031-linstor/templates/piraeus-operator/deployment.yaml
  modules/031-linstor/templates/piraeus-operator/rbac-for-us.yaml
  modules/031-linstor/templates/registry-secret.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  tools/validation/doc_changes.go
Labels: skip/documentation-validation, area/storage

#1048 [docs][getting-started] Ask sudo password when bootstrapping bare metal cluster
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER_RU.liquid
Labels: area/docs

#1050 [ci] fix: always pull tests image when running tests
  .github/ci_templates/tests.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
Labels: area/dx

#1047 [linstor] Switch rc to stable release
  modules/031-linstor/images/linstor-server/Dockerfile
Labels: status/backport

#1052 [docs][descheduler] Update documentation
  modules/400-descheduler/docs/README.md
  modules/400-descheduler/docs/README_RU.md
Labels: area/docs

#1039 [docs] Fix Microsoft Azure cloud provider documentattion
  candi/cloud-providers/azure/docs/ENVIRONMENT.md
  candi/cloud-providers/azure/docs/ENVIRONMENT_RU.md
  candi/cloud-providers/azure/docs/LAYOUTS.md
  candi/cloud-providers/azure/docs/LAYOUTS_RU.md
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/azure/openapi/instance_class.yaml
  modules/030-cloud-provider-azure/docs/CONFIGURATION.md
  modules/030-cloud-provider-azure/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-azure/docs/README_RU.md
  modules/030-cloud-provider-azure/docs/USAGE.md
  modules/030-cloud-provider-azure/docs/USAGE_RU.md
Labels: area/docs

#993 [prometheus-metrics-adapter] Connect to prometheus using token
  modules/300-prometheus/templates/prometheus/rbac-to-us.yaml
  modules/300-prometheus/templates/trickster/rbac-to-us.yaml
  modules/301-prometheus-metrics-adapter/hooks/order_prometheus_api_client_certificate.go
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/main.go
  modules/301-prometheus-metrics-adapter/openapi/openapi-case-tests.yaml
  modules/301-prometheus-metrics-adapter/openapi/values.yaml
  modules/301-prometheus-metrics-adapter/templates/deployment.yaml
  modules/301-prometheus-metrics-adapter/templates/prometheus-internal-certificate.yaml
Labels: area/monitoring

#1019 [candi] update kubernetes patch versions
  candi/version_map.yml
Labels: type/enhancement, e2e/use/cri/containerd, e2e/use/k8s/1.21, e2e/use/k8s/1.22

#901 Changelog v1.30.11
  CHANGELOG/CHANGELOG-v1.30.11.yml
  CHANGELOG/CHANGELOG-v1.30.md
Labels: changelog, auto

#1054 [doc] Fix OpenAPI specifications
  candi/openapi/node_group.yaml
  modules/010-user-authn-crd/crds/dex-authenticator.yaml
  modules/040-node-manager/crds/nodeuser.yaml
  modules/140-user-authz/crds/crd.yaml
Labels: area/docs, skip/documentation-validation, status/backport

#1062 Changelog v1.30.15
  CHANGELOG/CHANGELOG-v1.30.15.yml
  CHANGELOG/CHANGELOG-v1.30.md
Labels: changelog, auto

#1064 [dhctl] Add `node.kubernetes.io/exclude-from-external-load-balancers` label on control-plane nodes
  dhctl/pkg/config/meta.go
  modules/040-node-manager/hooks/add_control_plane_role_to_master_ng.go
  modules/040-node-manager/hooks/add_control_plane_role_to_master_ng_test.go
Labels: area/cloud-provider, type/bug, area/cli, e2e/use/k8s/1.21

#1056 [doc][log-shipper] Minor documentation updates
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
  modules/460-log-shipper/docs/USAGE.md
  modules/460-log-shipper/docs/USAGE_RU.md
  modules/460-log-shipper/openapi/config-values.yaml
  modules/460-log-shipper/openapi/doc-ru-config-values.yaml
Labels: area/docs

#1051 [ci] feat: jobs to control editions when approving deploy
  .github/workflow_templates/deploy-channel.multi.yml
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
Labels: area/dx, status/backport

#1072 Changelog v1.30.14
  CHANGELOG/CHANGELOG-v1.30.md
Labels: changelog, auto

#1059 [docs] Fix the text of the articles in the section «Openstack»
  candi/cloud-providers/azure/docs/LAYOUTS.md
  candi/cloud-providers/azure/docs/LAYOUTS_RU.md
  ee/candi/cloud-providers/openstack/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/openstack/docs/ENVIRONMENT_RU.md
  ee/candi/cloud-providers/openstack/docs/LAYOUTS.md
  ee/candi/cloud-providers/openstack/docs/LAYOUTS_RU.md
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-instance_class.yaml
  ee/candi/cloud-providers/openstack/openapi/instance_class.yaml
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION_RU.md
  ee/modules/030-cloud-provider-openstack/docs/FAQ.md
  ee/modules/030-cloud-provider-openstack/docs/FAQ_RU.md
  ee/modules/030-cloud-provider-openstack/docs/README.md
  ee/modules/030-cloud-provider-openstack/docs/README_RU.md
  ee/modules/030-cloud-provider-openstack/docs/USAGE.md
  ee/modules/030-cloud-provider-openstack/docs/USAGE_RU.md
  ee/modules/030-cloud-provider-openstack/openapi/config-values.yaml
  ee/modules/030-cloud-provider-openstack/openapi/doc-ru-config-values.yaml
  modules/030-cloud-provider-aws/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-gcp/docs/CONFIGURATION_RU.md
Labels: area/docs

#1028 [user-authz] Validate service account names
  modules/140-user-authz/crds/crd.yaml
  modules/140-user-authz/webhooks/validating/cluster_authorization_rule
Labels: skip/documentation-validation

#1074 [ci] fix: proper image name in e2e tests for release tags
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: area/dx

#1063 [docs] Cloud Provider page headers and OpenStack names
  docs/documentation/_data/sidebars/main.yml
  ee/candi/cloud-providers/openstack/docs/CLUSTER_CONFIGURATION.md
  ee/candi/cloud-providers/openstack/docs/CLUSTER_CONFIGURATION_RU.md
  ee/candi/cloud-providers/openstack/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/openstack/docs/ENVIRONMENT_RU.md
  ee/candi/cloud-providers/openstack/docs/LAYOUTS.md
  ee/modules/030-cloud-provider-openstack/docs/README.md
  ee/modules/030-cloud-provider-openstack/docs/README_RU.md
  modules/030-cloud-provider-azure/docs/CR.md
  modules/030-cloud-provider-azure/docs/CR_RU.md
  modules/030-cloud-provider-gcp/docs/CR.md
  modules/030-cloud-provider-gcp/docs/CR_RU.md
  modules/030-cloud-provider-yandex/docs/CR.md
  modules/030-cloud-provider-yandex/docs/CR_RU.md
Labels: area/docs

#1080 [flant-integration] validate kubernetes version migration is one-time migration
  ee/modules/600-flant-integration/hooks/migrate_cluster_kubernetes_version.go
  ee/modules/600-flant-integration/hooks/migrate_cluster_kubernetes_version_test.go
Labels: type/enhancement

#1081 [node-manager] Fix incorrect prometheus rules fo k8s 1.19.
  helm_lib/templates/_monitoring_prometheus_rules.tpl
  modules/040-node-manager/template_tests/module_test.go
Labels: area/monitoring, type/bug, e2e/use/k8s/1.19, status/backport

#1079 [node-manager] fixup configurable kubelet log rotation
  modules/040-node-manager/hooks/internal/v1/nodegroup.go
  modules/040-node-manager/hooks/internal/v1alpha2/nodegroup.go
Labels: type/bug, status/backport

#589 Changelog v1.31.0
  CHANGELOG/CHANGELOG-v1.31.0.yml
  CHANGELOG/CHANGELOG-v1.31.md
Labels: changelog, auto

#1098 Changelog v1.31.0
  CHANGELOG/CHANGELOG-v1.31.0.yml
Labels: changelog, auto

#1099 Changelog v1.31.0
  CHANGELOG/CHANGELOG-v1.31.0.yml
Labels: changelog, auto

#1103 Changelog v1.31.0
  CHANGELOG/CHANGELOG-v1.31.0.yml
Labels: changelog, auto

#1104 [candi] Automatically discover zone for volumes in OpenStack
  ee/candi/cloud-providers/openstack/layouts/simple-with-internal-network/master-node/main.tf
  ee/candi/cloud-providers/openstack/layouts/simple/master-node/main.tf
  ee/candi/cloud-providers/openstack/layouts/standard-with-no-router/master-node/main.tf
  ee/candi/cloud-providers/openstack/layouts/standard/base-infrastructure/main.tf
  ee/candi/cloud-providers/openstack/layouts/standard/master-node/main.tf
  ee/candi/cloud-providers/openstack/terraform-modules/master/main.tf
  ee/candi/cloud-providers/openstack/terraform-modules/master/variables.tf
  ee/candi/cloud-providers/openstack/terraform-modules/static-node/main.tf
  ee/candi/cloud-providers/openstack/terraform-modules/volume-zone/main.tf
  ee/candi/cloud-providers/openstack/terraform-modules/volume-zone/outputs.tf
  ee/candi/cloud-providers/openstack/terraform-modules/volume-zone/variables.tf
  ee/candi/cloud-providers/openstack/terraform-modules/volume-zone/versions.tf
Labels: status/backport

#1109 [deckhouse-controller] feat: update addon-operator to v1.0.5
  go.mod
  go.sum
Labels: area/core, status/backport

#1088 [global] Fix memory spelling for config
  modules/300-prometheus/openapi/config-values.yaml
  modules/300-prometheus/openapi/values.yaml
  modules/340-monitoring-kubernetes/openapi/config-values.yaml
  modules/460-log-shipper/openapi/config-values.yaml
  modules/470-chrony/openapi/config-values.yaml
Labels: skip/documentation-validation, status/backport

#1110 Changelog v1.31.0
  CHANGELOG/CHANGELOG-v1.31.0.yml
Labels: changelog, auto

#1108 Changelog v1.30.17
  CHANGELOG/CHANGELOG-v1.30.17.yml
  CHANGELOG/CHANGELOG-v1.30.md
Labels: changelog, auto

#1116 [Changelog] fix quoting
  .github/actions/milestone-changelog/action.yml
Labels: status/backport

#1115 [deckhouse] fix changelog build during DeckhouseRelease
  modules/020-deckhouse/hooks/check_deckhouse_release.go
Labels: status/backport

#1117 Changelog v1.31.1
  CHANGELOG/CHANGELOG-v1.31.1.yml
  CHANGELOG/CHANGELOG-v1.31.md
Labels: changelog, auto

#1113 Changelog v1.31.0
  CHANGELOG/CHANGELOG-v1.31.0.yml
Labels: changelog, auto

#1118 Changelog v1.31.1
  CHANGELOG/CHANGELOG-v1.31.md
Labels: changelog, auto

#1119 Changelog v1.30.17
  CHANGELOG/CHANGELOG-v1.30.md
Labels: changelog, auto

#1125 Changelog v1.31.2
  CHANGELOG/CHANGELOG-v1.31.2.yml
Labels: changelog, auto

#1126 [docs] Update the Supported OS versions list format
  docs/documentation/_includes/SUPPORTED_VERSIONS.md
Labels: area/docs, status/backport

#1131 Changelog v1.30.18
  CHANGELOG/CHANGELOG-v1.30.18.yml
  CHANGELOG/CHANGELOG-v1.30.md
Labels: changelog, auto

#1133 [deckhouse] fix CRD and status generation
  modules/020-deckhouse/crds/deckhouse-release.yaml
  modules/020-deckhouse/hooks/update_deckhouse_image.go
Labels: skip/documentation-validation, status/backport

#1135 [cert-manager] Change annotations converter mutatingwebhook timeout to 10 sec
  modules/101-cert-manager/templates/annotations-converter/mutatingwebhookconfiguration.yaml
Labels: type/enhancement, status/backport

#1137 [extended-monitoring] Start webserver immediately for the extended-monitoring-exporter
  ee/fe/modules/340-extended-monitoring/images/extended-monitoring-exporter/src/extended-monitoring.py
  ee/fe/modules/340-extended-monitoring/templates/extended-monitoring-exporter/podmonitor.yaml
Labels: status/backport

#1128 [user-authn] Fix DexAuthenticator object template for https mode OnlyInURI
  ee/fe/modules/500-openvpn/templates/openvpn/authenticator.yaml
  ee/modules/110-istio/templates/kiali/authenticator.yaml
  modules/300-prometheus/templates/grafana/authenticator.yaml
  modules/500-dashboard/templates/dashboard/authenticator.yaml
  modules/500-upmeter/templates/status/authenticator.yaml
  modules/500-upmeter/templates/webui/authenticator.yaml
  modules/810-deckhouse-web/openapi/values.yaml
  modules/810-deckhouse-web/templates/authenticator.yaml
Labels: area/auth, status/backport

#1141 [user-authn] Move authenticator migration to the user-authn-crd module
  modules/010-user-authn-crd/hooks/dex_authenticator_adoption.go
  modules/010-user-authn-crd/hooks/dex_authenticator_adoption_test.go
Labels: area/auth, status/backport

#1127 Changelog v1.31.3
  CHANGELOG/CHANGELOG-v1.31.3.yml
  CHANGELOG/CHANGELOG-v1.31.md
Labels: changelog, auto

#996 [docs] How to install Deckhouse in a private environment
  docs/documentation/Makefile
  docs/site/Makefile
  docs/site/_data/getting_started/data.yaml
  docs/site/_includes/getting_started/bm-private/partials/config.yml.default.ce.inc
  docs/site/_includes/getting_started/bm-private/partials/ingress-nginx-controller.yml.inc
  docs/site/_includes/getting_started/bm-private/partials/user.yml.inc
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER_RU.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  docs/site/_includes/getting_started/global/partials/getting-started-setup.js.liquid
  docs/site/_includes/getting_started/global/partials/select_revision.html.liquid
  docs/site/_includes/getting_started/global/step_cluster_setup.html
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
  docs/site/_plugins/gs_generator.rb
  docs/site/css/components/common/_form.scss
  docs/site/js/getting-started-private.js
  docs/site/js/getting-started.js
Labels: area/docs

#1150 [chore] Add base images for Rust and Debian Bullseye
  .github/ci_includes/image_versions.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/schedule-cleanup.yml
  .gitlab/ci_includes/image_versions.yml
Labels: area/dx

#426 [ceph-csi] new module
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  helm_lib/templates/_csi_controller.tpl
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/099-ceph-csi/.helmignore
  modules/099-ceph-csi/.namespace
  modules/099-ceph-csi/Chart.yaml
  modules/099-ceph-csi/charts/helm_lib
  modules/099-ceph-csi/crds/cephcsi.yaml
  modules/099-ceph-csi/crds/doc-ru-cephcsi.yaml
  modules/099-ceph-csi/docs/CR.md
  modules/099-ceph-csi/docs/CR_RU.md
  modules/099-ceph-csi/docs/README.md
  modules/099-ceph-csi/docs/README_RU.md
  modules/099-ceph-csi/docs/USAGE.md
  modules/099-ceph-csi/docs/USAGE_RU.md
  modules/099-ceph-csi/enabled
  modules/099-ceph-csi/hooks/common_test.go
  modules/099-ceph-csi/hooks/ensure_crds.go
  modules/099-ceph-csi/hooks/get_crds.go
  modules/099-ceph-csi/hooks/get_crds_test.go
  modules/099-ceph-csi/images/cephcsi/Dockerfile
  modules/099-ceph-csi/openapi/openapi-case-tests.yaml
  modules/099-ceph-csi/openapi/values.yaml
  modules/099-ceph-csi/oss.yaml
  modules/099-ceph-csi/templates/cephfs/controller.yaml
  modules/099-ceph-csi/templates/cephfs/csidriver.yaml
  modules/099-ceph-csi/templates/cephfs/storage-classes.yaml
  modules/099-ceph-csi/templates/configmap.yaml
  modules/099-ceph-csi/templates/csi/rbac-for-us.yaml
  modules/099-ceph-csi/templates/namespace.yaml
  modules/099-ceph-csi/templates/rbd/controller.yaml
  modules/099-ceph-csi/templates/rbd/csidriver.yaml
  modules/099-ceph-csi/templates/rbd/storage-classes.yaml
  modules/099-ceph-csi/templates/secret.yaml
  testing/openapi_validation/validators/enum.go
Labels: area/storage

#1027 [ci] feat: support ghcr.io for testing and dry-run for docker pushes
  .github/ci_development.md
  .github/ci_includes/werf_envs.yml
  .github/ci_templates/build.yml
  .github/ci_templates/steps.yml
  .github/ci_templates/tests.yml
  .github/ci_templates/web.yml
  .github/scripts/js/ci.js
  .github/scripts/js/comments.js
  .github/workflow_templates/build-and-test_dev.yml
  .github/workflow_templates/build-and-test_release.yml
  .github/workflow_templates/deploy-channel.multi.yml
  .github/workflow_templates/dispatch-slash-command.yml
  .github/workflow_templates/e2e.multi.yml
  .github/workflow_templates/schedule-cleanup.yml
  .github/workflow_templates/suspend-channel.multi.yml
  .github/workflow_templates/validation.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/changelog-by-milestone.yml
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  .github/workflows/dispatch-slash-command.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/schedule-cleanup.yml
  .github/workflows/suspend-alpha.yml
  .github/workflows/suspend-beta.yml
  .github/workflows/suspend-early-access.yml
  .github/workflows/suspend-rock-solid.yml
  .github/workflows/suspend-stable.yml
  .github/workflows/validation.yml
Labels: area/dx

#1082 [cert-manager] bump version
  modules/101-cert-manager/crds/crd-certificaterequests.yaml
  modules/101-cert-manager/crds/crd-certificates.yaml
  modules/101-cert-manager/crds/crd-challenges.yaml
  modules/101-cert-manager/crds/crd-clusterissuers.yaml
  modules/101-cert-manager/crds/crd-issuers.yaml
  modules/101-cert-manager/crds/crd-orders.yaml
  modules/101-cert-manager/images/cert-manager-acme-solver/Dockerfile
  modules/101-cert-manager/images/cert-manager-cainjector/Dockerfile
  modules/101-cert-manager/images/cert-manager-controller/Dockerfile
  modules/101-cert-manager/images/cert-manager-webhook/Dockerfile
  modules/101-cert-manager/templates/cert-manager/rbac-for-us.yaml
  modules/101-cert-manager/templates/webhook/mutatingwebhookconfiguration.yaml
  modules/101-cert-manager/templates/webhook/validatingwebhookconfiguration.yaml
Labels: skip/documentation-validation

#1060 [helm_lib][istio] control-plane resources management
  ee/modules/110-istio/openapi/config-values.yaml
  ee/modules/110-istio/openapi/doc-ru-config-values.yaml
  ee/modules/110-istio/template_tests/module_test.go
  ee/modules/110-istio/templates/control-plane/iop.yaml
  helm_lib/templates/_resources_management.tpl
Labels: area/network

#1146 [docs] pin kindest/node image version
  docs/site/_includes/getting_started/kind/STEP_PREPARE.md
  docs/site/_includes/getting_started/kind/STEP_PREPARE_RU.md
Labels: area/docs

#1156 [cloud-provider-vsphere] Fix handle of compatibilityFlag in Deckhouse config
  ee/modules/030-cloud-provider-vsphere/hooks/handle_compatibility_flag.go
Labels: area/cloud-provider, type/bug, status/backport

#1157 Changelog v1.31.4
  CHANGELOG/CHANGELOG-v1.31.4.yml
  CHANGELOG/CHANGELOG-v1.31.md
Labels: changelog, auto

#1154 [prometheus-metrics-adapter] remove namespace enforcing
  modules/301-prometheus-metrics-adapter/templates/config-map.yaml
Labels: status/backport

#1160 chore: update shell-operator, set debug level for snapshot info
  go.mod
  go.sum
Labels: status/backport

#1145 [deckhouse] disable release event
  modules/020-deckhouse/hooks/update_deckhouse_image.go
  modules/020-deckhouse/hooks/update_deckhouse_image_test.go
Labels: status/backport

#1147 [linstor] Enable HA mode
  ee/modules/030-cloud-provider-vsphere/images/vsphere-csi-plugin/Dockerfile
  ee/modules/030-cloud-provider-vsphere/templates/csi/cm.yaml
  ee/modules/030-cloud-provider-vsphere/templates/csi/controller.yaml
  modules/031-linstor/template_tests/module_test.go
  modules/031-linstor/templates/linstor-controller/linstorcontroller.yaml
  modules/031-linstor/templates/linstor-csi/linstorcsidriver.yaml
  modules/031-linstor/templates/linstor-ha-controller/deployment.yaml
  modules/031-linstor/templates/linstor-scheduler/deployment.yaml
  modules/031-linstor/templates/piraeus-operator/deployment.yaml
Labels: area/storage

#1124 [ci] fix: detect version to suspend
  .github/workflow_templates/suspend-channel.multi.yml
  .github/workflows/suspend-alpha.yml
  .github/workflows/suspend-beta.yml
  .github/workflows/suspend-early-access.yml
  .github/workflows/suspend-rock-solid.yml
  .github/workflows/suspend-stable.yml
Labels: area/dx, status/backport

#1162 revert: Update vsphere csi-driver and enable snapshots
  ee/modules/030-cloud-provider-vsphere/images/vsphere-csi-plugin/Dockerfile
  ee/modules/030-cloud-provider-vsphere/templates/csi/cm.yaml
  ee/modules/030-cloud-provider-vsphere/templates/csi/controller.yaml
Labels: area/storage

#522 [openvpn] update web interface and add HostPort inlet
  ee/fe/modules/500-openvpn/docs/CONFIGURATION.md
  ee/fe/modules/500-openvpn/docs/CONFIGURATION_RU.md
  ee/fe/modules/500-openvpn/hooks/easyrsa_migration.go
  ee/fe/modules/500-openvpn/hooks/storage_class_change.go
  ee/fe/modules/500-openvpn/images/easyrsa-migrator/Dockerfile
  ee/fe/modules/500-openvpn/images/easyrsa-migrator/easyrsa-migrator.go
  ee/fe/modules/500-openvpn/images/easyrsa-migrator/go.mod
  ee/fe/modules/500-openvpn/images/easyrsa-migrator/go.sum
  ee/fe/modules/500-openvpn/images/openvpn-web-ui/Dockerfile
  ee/fe/modules/500-openvpn/images/openvpn/Dockerfile
  ee/fe/modules/500-openvpn/images/ovpn-admin/Dockerfile
  ee/fe/modules/500-openvpn/images/ovpn-admin/ccd.tpl
  ee/fe/modules/500-openvpn/images/ovpn-admin/client.conf.tpl
  ee/fe/modules/500-openvpn/images/ovpn-admin/rootfs/etc/mime.types
  ee/fe/modules/500-openvpn/template_tests/copy_custom_certificate_test.go
  ee/fe/modules/500-openvpn/templates/openvpn/configmap.yaml
  ee/fe/modules/500-openvpn/templates/openvpn/rbac-for-us.yaml
  ee/fe/modules/500-openvpn/templates/openvpn/service-external.yaml
  ee/fe/modules/500-openvpn/templates/openvpn/statefullset.yaml
  ee/fe/modules/500-openvpn/values_matrix_test.yaml
Labels: area/auth

#1105 [docs] Comments of examples fix in Cloud Provider section
  .gitignore
  candi/cloud-providers/azure/docs/LAYOUTS.md
  candi/cloud-providers/azure/docs/LAYOUTS_RU.md
  candi/cloud-providers/gcp/docs/LAYOUTS.md
  candi/cloud-providers/gcp/docs/LAYOUTS_RU.md
  ee/candi/cloud-providers/openstack/docs/LAYOUTS.md
  ee/candi/cloud-providers/openstack/docs/LAYOUTS_RU.md
Labels: area/docs

#1163 fix: fixing a typo in the error message
  global-hooks/discovery/cluster_dns_address.go
Labels: area/core

#1158 Changelog v1.30.19
  CHANGELOG/CHANGELOG-v1.30.19.yml
  CHANGELOG/CHANGELOG-v1.30.md
Labels: changelog, auto

#1166 Changelog v1.31.0
  CHANGELOG/CHANGELOG-v1.31.0.yml
Labels: changelog, auto

#1161 Changelog v1.31.5
  CHANGELOG/CHANGELOG-v1.31.5.yml
  CHANGELOG/CHANGELOG-v1.31.md
Labels: changelog, auto

#1171 [docs] updated prices for managed k8s
  docs/site/pages/managed_ru.html
Labels: area/docs

#1035 [linstor] grafana dashboard and alerts
  modules/031-linstor/monitoring/grafana-dashboards/storage/linstor_drbd.json
  modules/031-linstor/monitoring/prometheus-rules/drbd-devices.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-controller.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-csi-controller.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-csi-node.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-ha-controller.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-node.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-scheduler.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-storage-pools.yaml
  modules/031-linstor/monitoring/prometheus-rules/piraeus-operator.yaml
  modules/031-linstor/templates/monitoring.yaml
Labels: area/storage

#1175 Changelog v1.31.5
  CHANGELOG/CHANGELOG-v1.31.5.yml
Labels: changelog, auto

#982 [linstor] metrics and rbac-proxy
  modules/031-linstor/crds/piraeus.linbit.com_linstorcontrollers.yaml
  modules/031-linstor/crds/piraeus.linbit.com_linstorcontrollers_crd.yaml
  modules/031-linstor/crds/piraeus.linbit.com_linstorcsidrivers.yaml
  modules/031-linstor/crds/piraeus.linbit.com_linstorcsidrivers_crd.yaml
  modules/031-linstor/crds/piraeus.linbit.com_linstorsatellitesets.yaml
  modules/031-linstor/crds/piraeus.linbit.com_linstorsatellitesets_crd.yaml
  modules/031-linstor/images/drbd-reactor/Dockerfile
  modules/031-linstor/images/piraeus-operator/Dockerfile
  modules/031-linstor/images/piraeus-operator/patches/README.md
  modules/031-linstor/images/piraeus-operator/patches/rbac-proxy.patch
  modules/031-linstor/monitoring/grafana-dashboards/storage/linstor_drbd.json
  modules/031-linstor/monitoring/prometheus-rules/drbd-devices.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-controller.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-csi-controller.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-csi-node.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-ha-controller.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-node.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-scheduler.yaml
  modules/031-linstor/monitoring/prometheus-rules/linstor-storage-pools.yaml
  modules/031-linstor/monitoring/prometheus-rules/piraeus-operator.yaml
  modules/031-linstor/templates/linstor-controller/linstorcontroller.yaml
  modules/031-linstor/templates/linstor-controller/podmonitor.yaml
  modules/031-linstor/templates/linstor-controller/rbac-for-us.yaml
  modules/031-linstor/templates/linstor-node/linstorsatelliteset.yaml
  modules/031-linstor/templates/linstor-node/podmonitor.yaml
  modules/031-linstor/templates/linstor-node/rbac-for-us.yaml
  modules/031-linstor/templates/monitoring.yaml
  modules/031-linstor/templates/piraeus-operator/deployment.yaml
  modules/031-linstor/templates/piraeus-operator/podmonitor.yaml
  modules/031-linstor/templates/piraeus-operator/rbac-for-us.yaml
  modules/031-linstor/templates/rbac-to-us.yaml
Labels: skip/documentation-validation

#1168 [deckhouse] Fix cleanup hook
  modules/020-deckhouse/hooks/cleanup_deckhouse_releases.go
  modules/020-deckhouse/hooks/cleanup_deckhouse_releases_test.go
  modules/020-deckhouse/hooks/update_deckhouse_image.go
Labels: status/backport

#1169 [chore] Update addon operator
  go.mod
  go.sum
Labels: status/backport

#1182 Changelog v1.30.20
  CHANGELOG/CHANGELOG-v1.30.20.yml
  CHANGELOG/CHANGELOG-v1.30.md
Labels: changelog, auto

#1181 [ci] fix: state is null in slash command dispatcher
  .github/workflow_templates/dispatch-slash-command.yml
  .github/workflows/dispatch-slash-command.yml
Labels: area/dx

#1153 [linstor] Add DRBD devices to blacklist on nodes
  modules/031-linstor/templates/bashible-step.yaml
Labels: status/backport

#1178 Changelog v1.31.6
  CHANGELOG/CHANGELOG-v1.31.6.yml
  CHANGELOG/CHANGELOG-v1.31.md
Labels: changelog, auto

#1184 [linstor] fix indents for multipath conf
  modules/031-linstor/templates/bashible-step.yaml
Labels: status/backport

#1196 [istio][kiali] jaegerURLForUsers fix
  ee/modules/110-istio/templates/kiali/configmap.yaml
Labels: type/bug, status/backport

#1192 [candi] Fix update password hash for node user
  candi/bashible/common-steps/node-group/090_node_users.sh.tpl
Labels: type/bug, area/cluster-and-infrastructure, status/backport

#1086 [tests] feat: support x-required-for-helm, add x-test-focus
  modules/301-prometheus-metrics-adapter/openapi/openapi-case-tests.yaml
  testing/openapi_cases/library.go
  testing/openapi_cases/openapi_cases_test.go
Labels: area/testing

#1199 [node-manager] Validate NodeGroup has maxPerZone greater than minPerZone
  modules/040-node-manager/webhooks/validating/node_group
Labels: area/cloud-provider, type/enhancement

#1198 Changelog v1.30.21
  CHANGELOG/CHANGELOG-v1.30.21.yml
  CHANGELOG/CHANGELOG-v1.30.md
Labels: changelog, auto

#1207 [ingress-nginx] restore admission webhook
  modules/402-ingress-nginx/templates/controller/admission.yaml
Labels: status/backport

#1205 [candi] Fix docker stuck containers cleaner pattern check
  candi/bashible/common-steps/node-group/089_setup_timer_to_run_docker_stuck_containers_cleaner.sh.tpl
Labels: type/bug, status/backport

#1191 Changelog v1.31.7
  CHANGELOG/CHANGELOG-v1.31.7.yml
  CHANGELOG/CHANGELOG-v1.31.md
Labels: changelog, auto

#1210 [ci] fix: no second build for tag because of variable name typo
  .github/ci_templates/build.yml
  .github/workflows/build-and-test_release.yml
Labels: area/dx

#1211 Changelog v1.31.8
  CHANGELOG/CHANGELOG-v1.31.8.yml
Labels: changelog, auto

#1216 [istio] dex authn hook fix
  ee/modules/110-istio/hooks/external_auth.go
Labels: type/bug, status/backport

#1225 [docs] Fix getting started
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER_RU.liquid
Labels: area/docs

#1219 [ci] fix: avoid secret masking for tests_image_name output
  .github/ci_templates/build.yml
  .github/ci_templates/tests.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
Labels: area/dx, status/backport

#1235 [docs] Update header and footer navigation on the site
  docs/site/_data/footer.yaml
  docs/site/_data/topnav.yml
Labels: area/docs

#1233 [candi] Do not require configOverrides in the InitConfiguration
  candi/openapi/init_configuration.yaml
Labels: type/enhancement, area/cluster-and-infrastructure

#1232 [dhctl] Trim ending slash for imagesRepo
  dhctl/pkg/config/load.go
  dhctl/pkg/config/meta.go
  dhctl/pkg/config/meta_test.go
Labels: area/cli, status/backport

#1111 [cloud-provider-openstack] Clarification of rootDiskSize usage
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-instance_class.yaml
  ee/candi/cloud-providers/openstack/openapi/instance_class.yaml
  ee/modules/030-cloud-provider-openstack/docs/FAQ.md
  ee/modules/030-cloud-provider-openstack/docs/FAQ_RU.md
Labels: area/docs, status/backport
