Repository deckhouse/deckhouse, pull requests merged in 2022-06, with the labels that each got.

#1675 [docs] Minor updates
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs

#1673 [docs] Correct license expiration note
  docs/site/pages/enterprise_edition.html
  docs/site/pages/enterprise_edition_ru.html
Labels: area/docs

#1682 [candi] fix kubernetes-cni install script for centos
  modules/007-registrypackages/images/kubernetes-cni-centos/scripts/install
Labels: area/cluster-and-infrastructure, status/backport

#1559 Bump linstor components version
  modules/031-linstor/crds/piraeus.linbit.com_linstorcontrollers.yaml
  modules/031-linstor/crds/piraeus.linbit.com_linstorcsidrivers.yaml
  modules/031-linstor/crds/piraeus.linbit.com_linstorsatellitesets.yaml
  modules/031-linstor/images/drbd-driver-loader/Dockerfile
  modules/031-linstor/images/drbd-reactor/Dockerfile
  modules/031-linstor/images/linstor-csi/Dockerfile
  modules/031-linstor/images/linstor-pools-importer/Dockerfile
  modules/031-linstor/images/linstor-scheduler-extender/Dockerfile
  modules/031-linstor/images/linstor-server/Dockerfile
  modules/031-linstor/images/piraeus-ha-controller/Dockerfile
  modules/031-linstor/images/piraeus-operator/Dockerfile
  modules/031-linstor/images/piraeus-operator/patches/README.md
  modules/031-linstor/images/piraeus-operator/patches/rbac-proxy.patch
  modules/031-linstor/images/piraeus-operator/patches/restore-evicted-satellites.diff
  modules/031-linstor/templates/piraeus-operator/deployment.yaml
Labels: skip/documentation-validation

#1619 [docs] Getting started updates
  docs/site/_includes/getting_started/aws/partials/resources.yml.ha.inc
  docs/site/_includes/getting_started/aws/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/aws/partials/resources.yml.production.inc
  docs/site/_includes/getting_started/azure/partials/resources.yml.ha.inc
  docs/site/_includes/getting_started/azure/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/azure/partials/resources.yml.production.inc
  docs/site/_includes/getting_started/gcp/partials/resources.yml.production.inc
  docs/site/_includes/getting_started/global/STEP_CLUSTER_ACCESS.md
  docs/site/_includes/getting_started/global/STEP_CLUSTER_ACCESS_RU.md
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  docs/site/_includes/getting_started/openstack/partials/resources.yml.production.inc
  docs/site/_includes/getting_started/vsphere/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/vsphere/partials/resources.yml.ha.inc
  docs/site/_includes/getting_started/vsphere/partials/resources.yml.production.inc
Labels: area/docs

#1694 [docs] vSphere Getting Started improvements
  docs/site/_includes/getting_started/vsphere/STEP_ENV.md
  docs/site/_includes/getting_started/vsphere/STEP_ENV_RU.md
  docs/site/_includes/getting_started/vsphere/partials/resources.yml.ha.inc
Labels: type/enhancement, area/docs

#1688 [ci] dhctl golangci-lint update to 1.46.2
  dhctl/Makefile
  dhctl/cmd/dhctl/commands/bootstrap/phase.go
  dhctl/pkg/kubernetes/client/client.go
Labels: type/chore

#1692 [candi] fix containerd registry package build for centos-8
  modules/007-registrypackages/images/containerd-centos/werf.inc.yaml
Labels: area/cluster-and-infrastructure, status/backport

#1695 [docs] Add all available inbox ClusterIssuers to the documentation
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/doc-ru-config-values.yaml
Labels: status/backport

#1676 [ingress-nginx] check ingress nginx requirements before Deckhouse update
  modules/020-deckhouse/images/webhook-handler/werf.inc.yaml
  modules/402-ingress-nginx/hooks/minimal_ingress_nginx_version.go
  modules/402-ingress-nginx/hooks/minimal_ingress_nginx_version_test.go
  modules/402-ingress-nginx/hooks/requirements.go
  modules/402-ingress-nginx/hooks/requirements_test.go
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
  modules/402-ingress-nginx/openapi/values.yaml
  modules/402-ingress-nginx/webhooks/validating/ingressnginxcontroller
  requirements.json
Labels: status/backport

#1681 Changelog v1.32.10
  CHANGELOG/CHANGELOG-v1.32.10.yml
  CHANGELOG/CHANGELOG-v1.32.md
Labels: changelog, auto

#1594 [cilium] improvements
  modules/021-cni-cilium/openapi/config-values.yaml
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
  modules/021-cni-cilium/template_tests/module_test.go
  modules/021-cni-cilium/templates/agent/daemonset.yaml
  modules/021-cni-cilium/templates/configmap.yaml
  testing/matrix/linter/rules/resources/vpa.go
Labels: area/network, skip/documentation-validation

#1617 [candi][yandex] Remove master node coreFraction setting from openapi
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#1699 Changelog v1.32.11
  CHANGELOG/CHANGELOG-v1.32.11.yml
  CHANGELOG/CHANGELOG-v1.32.md
Labels: changelog, auto

#1671 [ingress-nginx] use ingress class instead of annotation
  docs/documentation/.helm/templates/20-ingress.yaml
  docs/site/.helm/templates/20-ingress.yaml
  ee/modules/110-istio/templates/alliance/metadata-exporter/ingress.yaml
  ee/modules/110-istio/templates/kiali/ingress.yaml
  ee/modules/110-istio/templates/multicluster/api-proxy/ingress.yaml
  modules/040-control-plane-manager/images/kube-apiserver/patches/1.19/ingress_validation.patch
  modules/040-control-plane-manager/images/kube-apiserver/patches/1.20/ingress_validation.patch
  modules/040-control-plane-manager/images/kube-apiserver/patches/1.21/ingress_validation.patch
  modules/040-control-plane-manager/images/kube-apiserver/patches/1.22/ingress_validation.patch
  modules/040-control-plane-manager/images/kube-apiserver/patches/1.23/ingress_validation.patch
  modules/040-control-plane-manager/images/kube-apiserver/patches/README.md
  modules/101-cert-manager/docs/FAQ.md
  modules/101-cert-manager/docs/FAQ_RU.md
  modules/101-cert-manager/docs/USAGE.md
  modules/101-cert-manager/docs/USAGE_RU.md
  modules/150-user-authn/template_tests/authenticator_test.go
  modules/150-user-authn/templates/crowd-basic-auth-proxy/ingress.yaml
  modules/150-user-authn/templates/dex-authenticator/ingress.yaml
  modules/150-user-authn/templates/dex/ingress.yaml
  modules/150-user-authn/templates/kubeconfig-generator/ingress.yaml
  modules/150-user-authn/templates/kubernetes-api/kubernetes-api.yaml
  modules/300-prometheus/docs/USAGE.md
  modules/300-prometheus/docs/USAGE_RU.md
  modules/300-prometheus/templates/grafana/ingress.yaml
  modules/300-prometheus/templates/prometheus/ingress.yaml
  modules/300-prometheus/templates/prometheus/longterm/ingress.yaml
  modules/300-prometheus/templates/trickster/ingress.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/hooks/generate_admission_webhook_cert_test.go
  modules/402-ingress-nginx/hooks/get_ingress_controllers_test.go
  modules/402-ingress-nginx/hooks/safe_daemonset_update_test.go
  modules/402-ingress-nginx/images/controller-1-1/Dockerfile
  modules/402-ingress-nginx/openapi/config-values.yaml
  modules/402-ingress-nginx/openapi/values.yaml
  modules/402-ingress-nginx/template_tests/controller_test.go
  modules/402-ingress-nginx/templates/controller/ingress-class.yaml
  modules/402-ingress-nginx/templates/controller/secret.yaml
  modules/500-cilium-hubble/templates/ui/ingress.yaml
  modules/500-dashboard/templates/dashboard/ingress.yaml
  modules/500-openvpn/templates/openvpn/ingress.yaml
  modules/500-upmeter/templates/status/ingress.yaml
  modules/500-upmeter/templates/webui/ingress.yaml
  modules/810-deckhouse-web/templates/ingress.yaml
Labels: skip/documentation-validation, e2e/use/cri/containerd, e2e/use/k8s/1.19

#1665 [istio] Istiod chore pack #1
  ee/modules/110-istio/openapi/config-values.yaml
  ee/modules/110-istio/openapi/doc-ru-config-values.yaml
  ee/modules/110-istio/template_tests/module_test.go
  ee/modules/110-istio/templates/alliance/ingressgateway/daemonset.yaml
  ee/modules/110-istio/templates/control-plane/iop.yaml
Labels: area/network

#1704 [docs] Change the documentation default page to the Overview page.
  docs/site/_data/topnav.yml
Labels: area/docs, status/backport

#1713 [docs] Fix misspelling in the YandexInstanceClass resource
  candi/cloud-providers/yandex/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/yandex/openapi/instance_class.yaml
Labels: status/backport

#1677 [docs][linstor] Updates
  docs/documentation/_data/sidebars/main.yml
  modules/031-linstor/docs/ADVANCED_USAGE.md
  modules/031-linstor/docs/ADVANCED_USAGE_RU.md
  modules/031-linstor/docs/CONFIGURATION.md
  modules/031-linstor/docs/CONFIGURATION_RU.md
  modules/031-linstor/docs/FAQ.md
  modules/031-linstor/docs/FAQ_RU.md
  modules/031-linstor/docs/README.md
  modules/031-linstor/docs/README_RU.md
  modules/031-linstor/docs/USAGE.md
  modules/031-linstor/docs/USAGE_RU.md
Labels: area/docs, status/backport

#1715 [docs] Fix broken links
  docs/site/_includes/getting_started/global/step_cluster_setup.html
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
  ee/modules/110-istio/openapi/config-values.yaml
Labels: area/docs, skip/documentation-validation, status/backport

#1714 [global] fix proxy doc
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/doc-ru-config-values.yaml
Labels: area/docs

#1710 [cloud-provider-aws] fix terraform scheme
  candi/cloud-providers/aws/terraform-modules/master-node/main.tf
Labels: area/cloud-provider, e2e/use/k8s/1.21, status/backport

#1703 [testing] Matrix tests optimizations
  ee/modules/110-istio/openapi/config-values.yaml
  ee/modules/110-istio/openapi/values.yaml
  modules/020-deckhouse/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/values.yaml
  modules/300-prometheus/openapi/config-values.yaml
  modules/460-log-shipper/openapi/config-values.yaml
  modules/500-cilium-hubble/openapi/config-values.yaml
  modules/810-deckhouse-web/openapi/config-values.yaml
Labels: area/testing, skip/documentation-validation

#1721 [prometheus] rollback disk retention size to 80%
  modules/300-prometheus/hooks/prometheus_disk.go
  modules/300-prometheus/hooks/prometheus_disk_test.go
Labels: area/monitoring, status/backport

#1722 [docs] Disaster recovery etcd doc updates
  modules/040-node-manager/docs/internal/ETCD_RECOVERY.md
Labels: area/docs

#1615 [docs] Disaster recovery etcd doc
  modules/040-node-manager/docs/internal/ETCD_RECOVERY.md
Labels: area/docs, skip/documentation-validation

#1723 [docs][getting started] Add note about cloud provider quotas
  docs/site/_includes/getting_started/aws/STEP_ENV.md
  docs/site/_includes/getting_started/aws/STEP_ENV_RU.md
  docs/site/_includes/getting_started/azure/STEP_ENV.md
  docs/site/_includes/getting_started/azure/STEP_ENV_RU.md
  docs/site/_includes/getting_started/gcp/STEP_ENV.md
  docs/site/_includes/getting_started/gcp/STEP_ENV_RU.md
  docs/site/_includes/getting_started/global/partials/NOTICES_ENVIRONMENT.liquid
  docs/site/_includes/getting_started/openstack/STEP_ENV.md
  docs/site/_includes/getting_started/openstack/STEP_ENV_RU.md
  docs/site/_includes/getting_started/vsphere/STEP_ENV.md
  docs/site/_includes/getting_started/vsphere/STEP_ENV_RU.md
  docs/site/_includes/getting_started/yandex/STEP_ENV.md
  docs/site/_includes/getting_started/yandex/STEP_ENV_RU.md
Labels: area/docs

#1706 Changelog v1.32.12
  CHANGELOG/CHANGELOG-v1.32.12.yml
  CHANGELOG/CHANGELOG-v1.32.md
Labels: changelog, auto

#1725 [docs] Minor updates
  candi/cloud-providers/azure/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/azure/openapi/instance_class.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/gcp/openapi/instance_class.yaml
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  ee/candi/cloud-providers/openstack/openapi/doc-ru-instance_class.yaml
  ee/candi/cloud-providers/openstack/openapi/instance_class.yaml
Labels: area/docs

#1727 [helm_lib] _csi_controller.tpl annotation only for CCM
  helm_lib/templates/_csi_controller.tpl
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#1702 [candi] fix build of registry packages
  modules/007-registrypackages/images/conntrack-debian/werf.inc.yaml
  modules/007-registrypackages/images/containerd-debian/werf.inc.yaml
  modules/007-registrypackages/images/containerd-ubuntu/werf.inc.yaml
  modules/007-registrypackages/images/crictl/werf.inc.yaml
  modules/007-registrypackages/images/d8-curl/werf.inc.yaml
  modules/007-registrypackages/images/docker-centos/werf.inc.yaml
  modules/007-registrypackages/images/docker-debian/werf.inc.yaml
  modules/007-registrypackages/images/docker-ubuntu/werf.inc.yaml
  modules/007-registrypackages/images/inotify-tools-centos/werf.inc.yaml
  modules/007-registrypackages/images/jq/werf.inc.yaml
  modules/007-registrypackages/images/kubeadm-centos/werf.inc.yaml
  modules/007-registrypackages/images/kubeadm-debian/werf.inc.yaml
  modules/007-registrypackages/images/kubeadm-ubuntu/werf.inc.yaml
  modules/007-registrypackages/images/kubectl-centos/werf.inc.yaml
  modules/007-registrypackages/images/kubectl-debian/werf.inc.yaml
  modules/007-registrypackages/images/kubectl-ubuntu/werf.inc.yaml
  modules/007-registrypackages/images/kubelet-centos/werf.inc.yaml
  modules/007-registrypackages/images/kubelet-debian/werf.inc.yaml
  modules/007-registrypackages/images/kubelet-ubuntu/werf.inc.yaml
  modules/007-registrypackages/images/kubernetes-cni-centos/werf.inc.yaml
  modules/007-registrypackages/images/kubernetes-cni-debian/werf.inc.yaml
  modules/007-registrypackages/images/kubernetes-cni-ubuntu/werf.inc.yaml
  modules/007-registrypackages/images/virt-what-debian/werf.inc.yaml
Labels: area/cluster-and-infrastructure

#1733 [Ceph-csi] add registry secret
  modules/099-ceph-csi/templates/registry.yaml
Labels: type/bug

#1736 [docs] Fix incorrect the `registryScheme` parameter in the getting started
  docs/site/_includes/getting_started/bm-private/partials/config.yml.default.ce.inc
  docs/site/js/getting-started-private.js
Labels: area/docs

#1735 [CI] add version to changelog commit message
  .github/actions/milestone-changelog/action.yml
Labels: type/chore

#1741 [cloud-provider-aws] Fix LoadBalancer type none target group creation
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.20/002-non-type-lb.patch
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.21/002-non-type-lb.patch
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.22/002-non-type-lb.patch
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.23/002-non-type-lb.patch
Labels: area/cloud-provider, type/bug, e2e/use/cri/containerd, e2e/use/k8s/1.23

#1306 Changelog v1.33.0
  CHANGELOG/CHANGELOG-v1.33.0.yml
  CHANGELOG/CHANGELOG-v1.33.md
Labels: changelog, auto

#1746 [node-manager] change CA scale-down timing
  modules/040-node-manager/docs/internal/CLUSTER_AUTOSCALER.md
  modules/040-node-manager/templates/cluster-autoscaler/deployment.yaml
Labels: skip/documentation-validation

#1724 [candi] new kuberenetes patchversions
  candi/version_map.yml
Labels: area/cluster-and-infrastructure

#1749 Changelog v1.33.0
  CHANGELOG/CHANGELOG-v1.33.0.yml
  CHANGELOG/CHANGELOG-v1.33.md
Labels: changelog, auto

#1742 [linstor] Add failed cases when drbd module cannot be loaded
  modules/031-linstor/docs/FAQ.md
  modules/031-linstor/docs/FAQ_RU.md
Labels: area/docs, status/backport, area/storage

#1753 [ingress-nginx] Add patch for ingress-controller 0.33
  modules/402-ingress-nginx/images/controller-0-33/patches/README.md
  modules/402-ingress-nginx/images/controller-0-33/patches/ingress-class.patch
Labels: status/backport

#1630 [ingress-nginx] Fix wildcard vhost metrics
  modules/402-ingress-nginx/images/controller-0-46/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-0-48/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-0-49/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-1-1/rootfs/etc/nginx/lua/pbmetrics.lua
Labels: type/bug

#1747 [node-local-dns] Set priority-class to cluster-medium
  ee/modules/350-node-local-dns/templates/daemonset.yaml
  modules/010-priority-class/docs/CONFIGURATION.md
  modules/010-priority-class/docs/CONFIGURATION_RU.md
Labels: status/backport

#1757 [ingress-nginx] add patch apply to dockerfile
  modules/402-ingress-nginx/images/controller-0-33/Dockerfile
Labels: status/backport

#1759 Changelog v1.33.2
  CHANGELOG/CHANGELOG-v1.33.2.yml
  CHANGELOG/CHANGELOG-v1.33.md
Labels: changelog, auto

#1690 [docs][user-authz] Documentation updates
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: area/docs, status/backport

#1629 [dhctl] Some improvements and fixes
  dhctl/pkg/kubernetes/actions/converge/converge.go
  dhctl/pkg/kubernetes/actions/converge/node.go
  dhctl/pkg/operations/bootstrap.go
  dhctl/pkg/operations/converge/infra/hook/controlplane/hook.go
  dhctl/pkg/operations/converge/infra/hook/node.go
  dhctl/pkg/system/ssh/cmd/scp.go
  dhctl/pkg/system/ssh/cmd/ssh.go
Labels: area/cli, e2e/use/k8s/1.21

#1765 [docs] The site updates
  docs/documentation/_includes/revision_comparison_detail_table.liquid
  docs/site/_data/revision_comparison.yml
Labels: area/docs, status/backport

#1764 [openvpn] fix set_search_domains hook
  modules/500-openvpn/hooks/set_search_domains.go
  modules/500-openvpn/hooks/set_search_domains_test.go
Labels: area/network, type/bug, status/backport

#1763 [deckhouse-controller] fix: do not log messages about WaitForSynchronization tasks
  go.mod
  go.sum
Labels: area/core, status/backport

#1767 Changelog v1.33.3
  CHANGELOG/CHANGELOG-v1.33.3.yml
  CHANGELOG/CHANGELOG-v1.33.md
Labels: changelog, auto

#1779 [linstor] fix: spatch not recent enough
  modules/031-linstor/images/drbd-driver-loader/Dockerfile
Labels: type/bug, status/backport, area/storage

#1783 Changelog v1.32.14
  CHANGELOG/CHANGELOG-v1.32.14.yml
  CHANGELOG/CHANGELOG-v1.32.md
Labels: changelog, auto

#1778 [dhctl] Fix typo in warning
  dhctl/pkg/system/ssh/checks.go
Labels: area/cli

#1648 [Upmeter] Add alerts for probe garbage
  modules/500-upmeter/hooks/probe_deckhouse_configuration.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/d8_clusterconfiguration.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_configmap.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_deployment.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_namespace.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_pod.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/smoke_mini.go
  modules/500-upmeter/monitoring/prometheus-rules/alerting.yaml
Labels: area/monitoring, type/chore

#1750 [cert-manager] default ingress class for LE cluster-issuer
  modules/101-cert-manager/templates/cert-manager/clusterissuer-letsencrypt-staging.yaml
  modules/101-cert-manager/templates/cert-manager/clusterissuer-letsencrypt.yaml
Labels: area/auth

#1784 [cert-manager] Remove orphan secrets hooks
  modules/101-cert-manager/hooks/legacy_orphan_secrets_metrics.go
  modules/101-cert-manager/hooks/legacy_orphan_secrets_metrics_test.go
  modules/101-cert-manager/hooks/migrate_legacy_d8_certificates_and_secrets.go
  modules/101-cert-manager/hooks/orphan_secrets_cleaner.go
  modules/101-cert-manager/hooks/orphan_secrets_cleaner_test.go
  modules/101-cert-manager/hooks/orphan_secrets_metrics.go
  modules/101-cert-manager/hooks/orphan_secrets_metrics_test.go
Labels: area/security

#1717 Change k8s registry
  candi/bashible/bundles/ubuntu-lts/node-group/035_pull_pause.sh.tpl
  candi/bashible/common-steps/node-group/050_configure_and_start_containerd.sh.tpl
  candi/tools/discover_new_kubernetes_patchversions.sh
  dhctl/pkg/template/testdata/resources/order.yaml
  modules/000-common/images/csi-external-attacher/werf.inc.yaml
  modules/000-common/images/csi-external-provisioner/werf.inc.yaml
  modules/000-common/images/csi-external-resizer/werf.inc.yaml
  modules/000-common/images/csi-external-snapshotter/werf.inc.yaml
  modules/000-common/images/csi-livenessprobe/werf.inc.yaml
  modules/000-common/images/csi-node-driver-registrar/werf.inc.yaml
  modules/000-common/images/pause/werf.inc.yaml
  modules/021-kube-proxy/images/kube-proxy/werf.inc.yaml
  modules/040-control-plane-manager/images/kube-scheduler/werf.inc.yaml
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/042-kube-dns/hooks/sts_discovery_test.go
  modules/045-snapshot-controller/images/snapshot-controller/Dockerfile
  modules/045-snapshot-controller/images/snapshot-validation-webhook/Dockerfile
  modules/301-prometheus-metrics-adapter/images/k8s-prometheus-adapter/Dockerfile
  modules/302-vertical-pod-autoscaler/images/admission-controller/Dockerfile
  modules/302-vertical-pod-autoscaler/images/updater/Dockerfile
  modules/340-monitoring-kubernetes-control-plane/hooks/discovery_test.go
  modules/402-ingress-nginx/images/controller-0-46/Dockerfile
  modules/402-ingress-nginx/images/controller-0-48/Dockerfile
  modules/402-ingress-nginx/images/controller-0-49/Dockerfile
  modules/402-ingress-nginx/images/controller-1-1/Dockerfile
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_deployment.go
Labels: type/chore

#1785 [cloud-provider-vsphere] fix error in terraform for static nodes in s…
  ee/candi/cloud-providers/vsphere/terraform-modules/static-node/main.tf
  modules/300-prometheus/templates/prometheus/prometheus.yaml
  testing/cloud_layouts/vSphere/Standard/configuration.tpl.yaml
Labels: area/cloud-provider, e2e/use/k8s/1.21

#1777 [candi] Enable GracefulNodeShutdown flag on k8s 1.20
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
Labels: type/bug, area/cluster-and-infrastructure, e2e/use/k8s/1.20, status/backport

#1791 [control-plane-manager] added authentication-token-webhook-cache-ttl
  candi/control-plane-kubeadm/config.yaml.tpl
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
  modules/040-control-plane-manager/templates/daemonset.yaml
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.21

#1795 [prometheus] Enable legacy alerting system for Grafana
  modules/300-prometheus/templates/grafana/deployment.yaml
Labels: area/monitoring, type/bug, status/backport

#1738 [snapshot-controller] Move CRDs to separate module
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  docs/documentation/modules_menu_skip
  modules/010-snapshot-controller-crd/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  modules/010-snapshot-controller-crd/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  modules/010-snapshot-controller-crd/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  modules/010-snapshot-controller-crd/docs/README.md
  modules/010-snapshot-controller-crd/enabled
  modules/010-snapshot-controller-crd/hooks/ensure_crds.go
  modules/045-snapshot-controller/enabled
  modules/045-snapshot-controller/templates/registry-secret.yaml
  modules/values-default.yaml
  modules/values-managed.yaml
Labels: skip/copyright-validation, skip/documentation-validation, status/backport, area/storage

#1782 Changelog v1.33.4
  CHANGELOG/CHANGELOG-v1.33.4.yml
  CHANGELOG/CHANGELOG-v1.33.md
Labels: changelog, auto

#1787 [deckhouse] Add collect debug info command
  deckhouse-controller/cmd/deckhouse-controller/main.go
  deckhouse-controller/pkg/debug/debug.go
  modules/020-deckhouse/docs/USAGE.md
  modules/020-deckhouse/docs/USAGE_RU.md
Labels: area/core

#1663 [global-hooks] Remove CSI taints only after `spec.drivers` are filled
  modules/040-node-manager/hooks/remove_csi_taints.go
  modules/040-node-manager/hooks/remove_csi_taints_test.go
  modules/042-kube-dns/templates/deployment.yaml
Labels: type/bug, area/cluster-and-infrastructure

#1802 [snapshot-controller] Fix CRDs
  modules/010-snapshot-controller-crd/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  modules/010-snapshot-controller-crd/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  modules/010-snapshot-controller-crd/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  modules/045-snapshot-controller/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  modules/045-snapshot-controller/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  modules/045-snapshot-controller/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
Labels: skip/documentation-validation, status/backport, area/storage

#1807 [docs][namespace-configurator] Fix the configuration page.
  modules/600-namespace-configurator/docs/CONFIGURATION.md
  modules/600-namespace-configurator/docs/CONFIGURATION_RU.md
Labels: area/docs

#1806 Changelog v1.33.5
  CHANGELOG/CHANGELOG-v1.33.5.yml
  CHANGELOG/CHANGELOG-v1.33.md
Labels: changelog, auto

#1810 Changelog v1.33.6
  CHANGELOG/CHANGELOG-v1.33.6.yml
  CHANGELOG/CHANGELOG-v1.33.md
Labels: changelog, auto

#1730 [log-shipper] Vector destination
  docs/documentation/images/460-log-shipper/log_shipper_architecture.png
  docs/documentation/images/460-log-shipper/log_shipper_centralized.png
  docs/documentation/images/460-log-shipper/log_shipper_distributed.png
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
  modules/460-log-shipper/docs/README.md
  modules/460-log-shipper/docs/README_RU.md
  modules/460-log-shipper/hooks/generate_config_test.go
  modules/460-log-shipper/hooks/internal/v1alpha1/cluster_log_destination.go
  modules/460-log-shipper/hooks/internal/vector/config/config_test.go
  modules/460-log-shipper/hooks/internal/vector/config/pipeline.go
  modules/460-log-shipper/hooks/internal/vector/config/testdata/config_4.json
  modules/460-log-shipper/hooks/internal/vector/destination/vector.go
  modules/460-log-shipper/hooks/internal/vector/model/model.go
  modules/460-log-shipper/hooks/internal/vector/transform/elasticsearch.go
  modules/460-log-shipper/hooks/testdata/file-to-vector.json
  modules/460-log-shipper/images/vector/Dockerfile
Labels: area/monitoring

#1817 [docs] Getting started updates
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
Labels: area/docs

#1811 [dhctl] Prevent to break already bootstrapped cluster when bootstrap new cluster
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  dhctl/pkg/operations/bootstrap.go
  dhctl/pkg/operations/bootstrap/checks.go
  dhctl/pkg/operations/bootstrap_test.go
Labels: area/cli, e2e/use/k8s/1.21, status/backport

#1592 [cloud-provider-yandex] Move NAT-instance to ru-central1-a and opportunity choice zone with externalSubnetID and internalSubnetID for new instances
  candi/cloud-providers/yandex/terraform-modules/vpc-components/main.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/nat_instance.tf
Labels: area/cloud-provider, area/cluster-and-infrastructure, e2e/use/k8s/1.21

#1818 [linstor] fix monitoring of piraeus-operator
  modules/031-linstor/templates/piraeus-operator/deployment.yaml
  modules/031-linstor/templates/piraeus-operator/podmonitor.yaml
Labels: area/monitoring, type/bug, status/backport, area/storage

#1797 [docs] Add hack for fix lens Cluster and Nodes metrics showing
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
Labels: area/docs

#1813 [dhctl] fix: detect events from new log messages from latest addon-operator
  dhctl/pkg/kubernetes/actions/deckhouse/log.go
  dhctl/pkg/kubernetes/actions/deckhouse/log_test.go
Labels: area/cli, status/backport

#1790 [deckhouse-controller] fix: restore exponential backoff for failed hooks
  go.mod
  go.sum
Labels: area/core, status/backport

#1826 Changelog v1.33.7
  CHANGELOG/CHANGELOG-v1.33.7.yml
  CHANGELOG/CHANGELOG-v1.33.md
Labels: changelog, auto

#1827 [user-authn] Make kubelogin tab active by default
  modules/150-user-authn/images/kubeconfig-generator/already_logged.patch
Labels: area/auth

#1700 [vertical-pod-autoscaler] added daemonset eviction support
  ee/modules/110-istio/templates/alliance/ingressgateway/pdb.yaml
  ee/modules/140-user-authz/templates/webhook/daemonset.yaml
  ee/modules/350-node-local-dns/templates/daemonset.yaml
  ee/modules/380-metallb/templates/speaker/daemonset.yaml
  ee/modules/450-network-gateway/templates/snat-daemonset.yaml
  ee/modules/600-flant-integration/templates/pricing/daemonset.yaml
  helm_lib/templates/_csi_node.tpl
  modules/021-cni-cilium/templates/agent/pdb.yaml
  modules/021-kube-proxy/templates/daemonset.yaml
  modules/030-cloud-provider-aws/templates/node-termination-handler/daemonset.yaml
  modules/030-cloud-provider-azure/templates/node-termination-handler/daemonset.yaml
  modules/031-linstor/templates/linstor-pools-importer/daemonset.yaml
  modules/035-cni-flannel/templates/daemonset.yaml
  modules/035-cni-simple-bridge/templates/daemonset.yaml
  modules/040-control-plane-manager/templates/daemonset.yaml
  modules/040-node-manager/templates/early-oom/daemonset.yaml
  modules/050-network-policy-engine/templates/daemonset.yaml
  modules/302-vertical-pod-autoscaler/images/recommender/Dockerfile
  modules/302-vertical-pod-autoscaler/images/updater/Dockerfile
  modules/302-vertical-pod-autoscaler/images/updater/patches/README.md
  modules/302-vertical-pod-autoscaler/images/updater/patches/daemonset-eviction.patch
  modules/302-vertical-pod-autoscaler/templates/updater/deployment.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/control-plane-proxy/daemon-set.yaml
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/daemonset.yaml
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
  modules/340-monitoring-ping/templates/daemon-set.yaml
  modules/460-log-shipper/templates/daemonset.yaml
  modules/470-chrony/template_tests/module_test.go
  modules/470-chrony/templates/daemonset.yaml
  modules/500-okmeter/templates/daemonset.yaml
  modules/500-upmeter/templates/upmeter-agent/daemonset.yaml
  testing/matrix/linter/apply.go
  testing/matrix/linter/rules/resources/pdb.go
  testing/matrix/linter/rules/resources/vpa.go
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd

#1832 Site minor fixes
  .github/ci_templates/web.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_release.yml
  modules/010-vertical-pod-autoscaler-crd/crds/doc-ru-verticalpodautoscaler.yaml
  modules/010-vertical-pod-autoscaler-crd/crds/verticalpodautoscaler.yaml
  modules/101-cert-manager/docs/USAGE.md
  modules/101-cert-manager/docs/USAGE_RU.md
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
  modules/302-vertical-pod-autoscaler/docs/README.md
  modules/302-vertical-pod-autoscaler/docs/README_RU.md
Labels: area/docs

#1599 [testing] Add linter for markdown files
  .github/scripts/js/ci.js
  .github/workflow_templates/validation.yml
  .github/workflows/validation.yml
  Makefile
  testing/.markdownlintignore
  testing/markdownlint.yaml
Labels: area/testing, area/docs

#1793 [node-manager][docs] Add node reboot step in clean up node FAQ
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs

#1842 [control-plane-manager] Fix link to quota-backend-bytes
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
Labels: area/docs, status/backport

#1841 [control-plane-manager] Fix D8KubeEtcdDatabaseSizeCloseToTheLimit expression
  modules/040-control-plane-manager/monitoring/prometheus-rules/etcd-maintenance.yaml
Labels: area/monitoring, type/bug, status/backport

#1760 [Upmeter] Add basic probe for cert-manager
  modules/500-upmeter/hooks/disabled_probes.go
  modules/500-upmeter/hooks/disabled_probes_test.go
  modules/500-upmeter/images/upmeter/Makefile
  modules/500-upmeter/images/upmeter/pkg/agent/sender/client.go
  modules/500-upmeter/images/upmeter/pkg/agent/sender/sender.go
  modules/500-upmeter/images/upmeter/pkg/check/checker.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/base.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/certificate_secret.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/d8_clusterconfiguration.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/http.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_configmap.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_controlplane.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_daemonset.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_deployment.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_garbagecollection.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_listing.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_namespace.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/k8s_pod.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/smoke_mini.go
  modules/500-upmeter/images/upmeter/pkg/probe/group_controlplane.go
  modules/500-upmeter/images/upmeter/pkg/probe/load_test.go
  modules/500-upmeter/images/upmeter/pkg/server/server_test.go
  modules/500-upmeter/images/webui/src/app/i18n/en.ts
  modules/500-upmeter/monitoring/prometheus-rules/alerting.yaml
  modules/500-upmeter/templates/upmeter-agent/rbac-for-us.yaml
Labels: area/monitoring

#1840 [cilium] Changed ports to not clash with Ingress Nginx Controller's protobuf-exporter
  modules/021-cni-cilium/templates/agent/daemonset.yaml
  modules/021-cni-cilium/templates/configmap.yaml
  modules/021-cni-cilium/templates/operator/deployment.yaml
Labels: area/network, type/bug, status/backport

#1839 [control-plane-manager] Bolt-on healthCheckNodePort of the control-plane Service and trafficPolicy: Local
  modules/040-control-plane-manager/templates/service.yaml
  modules/040-node-manager/docs/FAQ.md
Labels: type/enhancement, area/cluster-and-infrastructure, skip/documentation-validation, status/backport

#1830 [linstor] listen on IPv4 address
  modules/031-linstor/templates/linstor-controller/linstorcontroller.yaml
Labels: type/bug, status/ok-to-test, status/backport, area/storage

#1843 Changelog v1.33.8
  CHANGELOG/CHANGELOG-v1.33.8.yml
  CHANGELOG/CHANGELOG-v1.33.md
Labels: changelog, auto

#1834 [linstor] Document default StorageClass
  modules/031-linstor/docs/FAQ.md
  modules/031-linstor/docs/FAQ_RU.md
Labels: area/docs

#1855 [linstor] fix markdown linting
  modules/031-linstor/docs/FAQ.md
  modules/031-linstor/docs/FAQ_RU.md
Labels: area/docs, area/storage

#1861 [deckhouse-controller] fix: display help when deckhouse-controller is invoked without arguments
  deckhouse-controller/cmd/deckhouse-controller/main.go
  deckhouse-controller/entrypoint.sh
Labels: area/core

#1816 [chore] Add flow link
  README.md
Labels: area/docs, skip/documentation-validation

#1851 [deckhouse] improve deckhouse update process
  modules/020-deckhouse/hooks/check_deckhouse_release.go
  modules/020-deckhouse/hooks/check_deckhouse_release_test.go
  modules/020-deckhouse/hooks/update_deckhouse_image.go
  modules/020-deckhouse/hooks/update_deckhouse_image_test.go
Labels: status/backport

#1862 [cloud-provider-azure] Removed node-termination-handler
  modules/030-cloud-provider-azure/images/node-termination-handler/Dockerfile
  modules/030-cloud-provider-azure/templates/node-termination-handler/daemonset.yaml
  modules/030-cloud-provider-azure/templates/node-termination-handler/rbac-for-us.yaml
Labels: area/cloud-provider, type/bug

#1837 [docs] Update the Getting Started according to the Windows nuances
  docs/site/_includes/getting_started/global/partials/INSTALL_CONFIG_RU.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER_RU.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  docs/site/js/getting-started-private.js
  docs/site/js/getting-started.js
Labels: area/docs

#1874 [docs] Some clarifications about the ClusterLoggingConfig.destinationRefs
  modules/460-log-shipper/crds/doc-ru-cluster-logging-config.yaml
Labels: area/docs, skip/documentation-validation, status/backport

#1864 [snapshot-controller] Reduce amount of replicas for snapshot-controller to a maximum of 2
  modules/045-snapshot-controller/templates/snapshot-controller/deployment.yaml
  modules/045-snapshot-controller/templates/snapshot-validation-webhook/deployment.yaml
Labels: type/bug, status/backport, area/storage

#1866 [monitoring-kubernetes] node-exporter: parse containerd config
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/Dockerfile
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/loop
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
Labels: area/monitoring, status/backport

#1847 [registry-packages] Added labels to registry package images
  modules/007-registrypackages/images/conntrack-debian/werf.inc.yaml
  modules/007-registrypackages/images/containerd-centos/werf.inc.yaml
  modules/007-registrypackages/images/containerd-debian/werf.inc.yaml
  modules/007-registrypackages/images/containerd-fe/werf.inc.yaml
  modules/007-registrypackages/images/containerd-ubuntu/werf.inc.yaml
  modules/007-registrypackages/images/crictl/werf.inc.yaml
  modules/007-registrypackages/images/d8-curl/werf.inc.yaml
  modules/007-registrypackages/images/docker-centos/werf.inc.yaml
  modules/007-registrypackages/images/docker-debian/werf.inc.yaml
  modules/007-registrypackages/images/docker-ubuntu/werf.inc.yaml
  modules/007-registrypackages/images/inotify-tools-centos/werf.inc.yaml
  modules/007-registrypackages/images/jq/werf.inc.yaml
  modules/007-registrypackages/images/kubeadm-centos/werf.inc.yaml
  modules/007-registrypackages/images/kubeadm-debian/werf.inc.yaml
  modules/007-registrypackages/images/kubeadm-ubuntu/werf.inc.yaml
  modules/007-registrypackages/images/kubectl-centos/werf.inc.yaml
  modules/007-registrypackages/images/kubectl-debian/werf.inc.yaml
  modules/007-registrypackages/images/kubectl-ubuntu/werf.inc.yaml
  modules/007-registrypackages/images/kubelet-centos/werf.inc.yaml
  modules/007-registrypackages/images/kubelet-debian/werf.inc.yaml
  modules/007-registrypackages/images/kubelet-ubuntu/werf.inc.yaml
  modules/007-registrypackages/images/kubernetes-cni-centos/werf.inc.yaml
  modules/007-registrypackages/images/kubernetes-cni-debian/werf.inc.yaml
  modules/007-registrypackages/images/kubernetes-cni-ubuntu/werf.inc.yaml
  modules/007-registrypackages/images/virt-what-debian/werf.inc.yaml
Labels: area/cluster-and-infrastructure

#1853 [cni-cilium] createNodeRoutes everywhere
  modules/021-cni-cilium/hooks/enable_node_routes.go
  modules/031-linstor/docs/FAQ.md
  modules/031-linstor/docs/FAQ_RU.md
Labels: area/network, type/enhancement, status/backport

#1873 Changelog v1.33.9
  CHANGELOG/CHANGELOG-v1.33.9.yml
  CHANGELOG/CHANGELOG-v1.33.md
Labels: changelog, auto

#1881 Changelog v1.33.10
  CHANGELOG/CHANGELOG-v1.33.10.yml
  CHANGELOG/CHANGELOG-v1.33.md
Labels: changelog, auto

#1890 [upmeter] Fix duplicating groups in alerting rules
  modules/500-upmeter/monitoring/prometheus-rules/alerting.yaml
Labels: area/monitoring, type/bug, e2e/use/k8s/1.23

#1889 [ingress-nginx] hpa: measure average cpu usage for DaemonSet
  modules/402-ingress-nginx/templates/controller/hpa.yaml
Labels: status/backport

#1868 [monitoring] Fix pvc usage alerts and graphs that ignore reserved blocks
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/persistent-volume-claim.yaml
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/controller.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/namespace.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/namespaces.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/pod.json
Labels: area/monitoring, status/ok-to-test

#1872 [cloud-provider-openstack] Support for volume type with spaces in name
  ee/modules/030-cloud-provider-openstack/hooks/discover_volume_types.go
  ee/modules/030-cloud-provider-openstack/hooks/discover_volume_types_test.go
Labels: area/cloud-provider, status/backport

#1887 [candi] Configure shutdownGracePeriod to 2m by default
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
Labels: type/enhancement, area/cluster-and-infrastructure, e2e/use/k8s/1.20

#1894 [monitoring-kubernetes] handle absent containerd directory
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
Labels: status/backport

#1712 [cni-cilium] set as default cni
  ee/modules/030-cloud-provider-openstack/hooks/get_cni_secret.go
  ee/modules/030-cloud-provider-openstack/openapi/values.yaml
  ee/modules/030-cloud-provider-openstack/templates/cni.yaml
  ee/modules/030-cloud-provider-vsphere/hooks/get_cni_secret.go
  ee/modules/030-cloud-provider-vsphere/openapi/values.yaml
  ee/modules/030-cloud-provider-vsphere/templates/cni.yaml
  global-hooks/enable_cni_test.go
  go_lib/hooks/get_cni_secret/hook.go
  modules/000-common/hooks/get_cni_secret.go
  modules/000-common/hooks/get_cni_secret_test.go
Labels: area/network

#1882 [helm] Fix release namespace detection and add helm_version to metric
  modules/013-helm/hooks/metrics.go
  modules/013-helm/hooks/metrics_test.go
  modules/013-helm/hooks/startup_metrics.go
  modules/013-helm/monitoring/prometheus-rules/deprecated-versions.yaml
Labels: status/backport

#1895 Changelog v1.33.11
  CHANGELOG/CHANGELOG-v1.33.11.yml
  CHANGELOG/CHANGELOG-v1.33.md
Labels: changelog, auto

#1898 [ingress-nginx] fix pointer function call
  modules/402-ingress-nginx/hooks/migrate_ingress_class.go
Labels: status/backport

#1899 Changelog v1.33.11
  CHANGELOG/CHANGELOG-v1.33.11.yml
Labels: changelog, auto

#1878 [CI] Update the PR template
  .github/pull_request_template.md
Labels: area/testing

#1815 Update versions of Kubernetes images
  candi/version_map.yml
Labels: area/kubernetes

#1907 [istio] PodMonitor fix for fresh istio version
  ee/modules/110-istio/templates/podmonitor.yaml
Labels: type/bug, status/backport

#1903 [chrony] Refactor alerts
  modules/470-chrony/monitoring/prometheus-rules/chrony.yaml
Labels: type/bug, area/cluster-and-infrastructure, status/backport

#1911 [docs] Minor fixes
  modules/010-prometheus-crd/crds/customalertmanager.yaml
  modules/010-prometheus-crd/crds/doc-ru-customalertmanager.yaml
  modules/010-prometheus-crd/crds/doc-ru-grafanaadditionaldatasources.yaml
  modules/460-log-shipper/docs/README_RU.md
Labels: area/docs, skip/documentation-validation

#1914 Changelog v1.33.12
  CHANGELOG/CHANGELOG-v1.33.12.yml
  CHANGELOG/CHANGELOG-v1.33.md
Labels: changelog, auto

#1917 [node-manager] Fix unbound variable bootstrap_job_log_pid when bootstrap static-node
  modules/040-node-manager/templates/node-group/_bootstrap_script.tpl
Labels: type/bug, area/cluster-and-infrastructure, area/core, e2e/use/k8s/1.21
