Repository deckhouse/deckhouse, pull requests merged in 2023-12, with the labels that each got.

#6731 [getting-started][docs] Add cloud-utils to GS requirements
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  docs/site/_includes/getting_started/kind/partials/config.yml.ce.inc
Labels: area/docs

#6480 [docs] Refactor the Table of Contents in the documentation
  docs/documentation/_includes/toc_in_sidebar.html
  docs/documentation/_layouts/none.html
  docs/documentation/_layouts/sidebar.html
  docs/site/_config.yml
  docs/site/css/docs.scss
Labels: area/docs

#6738 Backport: [docs] Refactor the Table of Contents in the documentation
  docs/documentation/_includes/toc_in_sidebar.html
  docs/documentation/_layouts/none.html
  docs/documentation/_layouts/sidebar.html
  docs/site/_config.yml
  docs/site/css/docs.scss
Labels: auto, backported

#6698 [global] bump go and kubernetes client versions
  .github/ci_templates/build.yml
  .github/ci_templates/tests.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  .golangci.yaml
  deckhouse-controller/go-build.sh
  dhctl/go.mod
  dhctl/go.sum
  dhctl/pkg/kubernetes/client/informer.go
  dhctl/pkg/util/fs/random.go
  dhctl/pkg/util/stringsutil/strings.go
  ee/modules/502-delivery/hooks/werf_sources/hook_test.go
  ee/modules/600-flant-integration/hooks/license_test.go
  go.mod
  go.sum
  go_lib/hooks/nodes/hook.go
  modules/015-admission-policy-engine/hooks/trivy_provider_registry_secrets_test.go
  modules/030-cloud-provider-gcp/hooks/wait_for_all_master_nodes_to_become_initialized.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/pipeline_node.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/smoke_mini.go
  modules/500-upmeter/images/upmeter/pkg/probe/run/id.go
  tools/go.mod
  tools/go.sum
  werf.yaml
Labels: area/monitoring, area/cloud-provider, area/security, area/testing, type/dependencies, area/cli, area/core, e2e/use/k8s/1.24, go, area/delivery, e2e/use/k8s/1.28

#6741 [admission-policy-engine][docs] Fix table with CE and EE comparison and make some text typos
  modules/015-admission-policy-engine/openapi/config-values.yaml
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/security, area/docs, area/cluster-and-infrastructure, skip/documentation-validation, status/backport, area/api-change

#6742 Backport: [admission-policy-engine][docs] Fix table with CE and EE comparison and make some text typos
  modules/015-admission-policy-engine/openapi/config-values.yaml
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#6743 [flant-integration] Fix grafana agent configuration
  ee/modules/600-flant-integration/templates/pricing/config.yaml
Labels: area/monitoring, status/backport

#6745 Backport: [flant-integration] Fix grafana agent configuration
  ee/modules/600-flant-integration/templates/pricing/config.yaml
Labels: auto, backported

#6729 [testing] Correct mistake with alerts in e2e test
  testing/cloud_layouts/AWS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/script.d/wait_cluster_ready/test_alerts.sh
  testing/cloud_layouts/script.sh
Labels: area/testing, skip/e2e

#6639 [terraform-manager] Distroless build
  candi/cloud-providers/aws/terraform-modules/versions.tf
  candi/cloud-providers/azure/terraform-modules/versions.tf
  candi/cloud-providers/gcp/terraform-modules/versions.tf
  candi/cloud-providers/yandex/terraform-modules/versions.tf
  candi/terraform_versions.yml
  ee/candi/cloud-providers/openstack/terraform-modules/versions.tf
  ee/candi/cloud-providers/vsphere/terraform-modules/versions.tf
  ee/modules/040-terraform-manager/images/terraform-manager-openstack/werf.inc.yaml
  ee/modules/040-terraform-manager/images/terraform-manager-vsphere/werf.inc.yaml
  modules/040-terraform-manager/images/base-terraform-manager/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-aws/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-azure/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-gcp/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-yandex/werf.inc.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure

#6749 Backport: [ceph-csi] use different liveness probe ports for csi-controllers
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/templates/_csi_controller.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_csi_node.tpl
  modules/031-ceph-csi/templates/cephfs/controller.yaml
  modules/031-ceph-csi/templates/rbd/controller.yaml
Labels: auto, backported

#6710 Changelog v1.55.3
  CHANGELOG/CHANGELOG-v1.55.3.yml
  CHANGELOG/CHANGELOG-v1.55.md
Labels: changelog, auto, status/backport

#6751 Backport: Changelog v1.55.3
  CHANGELOG/CHANGELOG-v1.55.3.yml
  CHANGELOG/CHANGELOG-v1.55.md
Labels: auto, backported

#6754 [extended-monitoring] fix permissions
  modules/340-extended-monitoring/images/image-availability-exporter/Dockerfile
Labels: area/monitoring

#6737 [linstor] Enhancements to LINSTOR Resource Evacuation Script
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/041-linstor/tools/evict.sh
Labels: area/docs, priority/top, area/storage

#6668 [external-module-controller] modules update policy
  deckhouse-controller/crds/doc-ru-module-release.yaml
  deckhouse-controller/crds/doc-ru-module-source.yaml
  deckhouse-controller/crds/doc-ru-module-update-policy.yaml
  deckhouse-controller/crds/module-release.yaml
  deckhouse-controller/crds/module-source.yaml
  deckhouse-controller/crds/module-update-policy.yaml
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_release.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_source.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_update_policy.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/register.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/zz_generated.deepcopy.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/deckhouse.io_client.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/fake/fake_deckhouse.io_client.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/fake/fake_moduleupdatepolicy.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/generated_expansion.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/moduleupdatepolicy.go
  deckhouse-controller/pkg/client/informers/externalversions/deckhouse.io/v1alpha1/interface.go
  deckhouse-controller/pkg/client/informers/externalversions/deckhouse.io/v1alpha1/moduleupdatepolicy.go
  deckhouse-controller/pkg/client/informers/externalversions/generic.go
  deckhouse-controller/pkg/client/listers/deckhouse.io/v1alpha1/expansion_generated.go
  deckhouse-controller/pkg/client/listers/deckhouse.io/v1alpha1/moduleupdatepolicy.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller_test.go
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source.go
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source_test.go
Labels: area/core, area/modules, go, area/api-change

#6766 Changelog v1.54.7
  CHANGELOG/CHANGELOG-v1.54.7.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: changelog, auto, status/backport

#6767 Backport: Changelog v1.54.7
  CHANGELOG/CHANGELOG-v1.54.7.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: auto, backported

#6728 [ingress-nginx] add ingress controller deprecated version check
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
Labels: area/network, type/chore

#6769 [docs] Fix configuration for the site.
  docs/site/.helm/values.yaml
Labels: area/docs

#6770 [site][modules-docs] Fix using CR files
  docs/site/backends/docs-builder-template/data/helpers.yaml
  docs/site/backends/docs-builder-template/i18n/en.yaml
  docs/site/backends/docs-builder-template/i18n/ru.yaml
  docs/site/backends/docs-builder-template/layouts/_default/single.html
Labels: area/docs

#6771 [modules-docs] Fix openapi generator.
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-crd.html
Labels: area/docs, area/api-change

#6773 [chore] Force rebuild of artifacts
  docs/site/werf.yaml
Labels: area/docs

#6735 [candi] restart kubelet after containerd restart to fix containerd.sock loss
  candi/bashible/common-steps/node-group/032_configure_and_start_containerd.sh.tpl
Labels: area/cluster-and-infrastructure

#6750 [flant-integration] Run hook envs_from_nodes OnBeforeHelm
  ee/modules/600-flant-integration/hooks/pricing/envs_from_nodes.go
Labels: go

#6740 [deckhouse] Add annotation to apply DeckhouseRelease immediately
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs

#6777 [chore] Fix language switcher
  docs/site/backends/docs-builder-template/layouts/_default/baseof.html
Labels: area/docs

#6782 [dhctl] Fix mirror not adding module-named tags at modules repo root
  dhctl/pkg/operations/mirror.go
  dhctl/pkg/operations/mirror_module.go
Labels: area/cli, skip/e2e, go

#6794 [log-shipper] Fix empty field trailing dot in filters
  modules/460-log-shipper/hooks/internal/vector/transform/filter.go
  modules/460-log-shipper/hooks/internal/vector/transform/testdata/filters.json
  modules/460-log-shipper/hooks/internal/vector/transform/transforms_test.go
Labels: area/logs, go

#6781 [deckhouse-controller] ModulePullOverride resource
  deckhouse-controller/crds/doc-ru-module-pull-override.yaml
  deckhouse-controller/crds/doc-ru-module-release.yaml
  deckhouse-controller/crds/doc-ru-module-source.yaml
  deckhouse-controller/crds/doc-ru-module-update-policy.yaml
  deckhouse-controller/crds/doc-ru-module.yaml
  deckhouse-controller/crds/module-pull-override.yaml
  deckhouse-controller/crds/module-release.yaml
  deckhouse-controller/crds/module-source.yaml
  deckhouse-controller/crds/module-update-policy.yaml
  deckhouse-controller/crds/module.yaml
  deckhouse-controller/hack/update-codegen.sh
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_pull_override.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_source.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/register.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/zz_generated.deepcopy.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/zz_generated.defaults.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/deckhouse.io_client.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/fake/fake_deckhouse.io_client.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/fake/fake_module.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/fake/fake_moduleconfig.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/fake/fake_modulepulloverride.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/fake/fake_modulerelease.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/fake/fake_modulesource.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/fake/fake_moduleupdatepolicy.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/generated_expansion.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/modulepulloverride.go
  deckhouse-controller/pkg/client/informers/externalversions/deckhouse.io/v1alpha1/interface.go
  deckhouse-controller/pkg/client/informers/externalversions/deckhouse.io/v1alpha1/modulepulloverride.go
  deckhouse-controller/pkg/client/informers/externalversions/factory.go
  deckhouse-controller/pkg/client/informers/externalversions/generic.go
  deckhouse-controller/pkg/client/listers/deckhouse.io/v1alpha1/expansion_generated.go
  deckhouse-controller/pkg/client/listers/deckhouse.io/v1alpha1/modulepulloverride.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/module_downloader.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller_test.go
Labels: area/core, go, area/api-change

#6796 [virtualization] add remove module script
  modules/490-virtualization/docs/FAQ.md
  modules/490-virtualization/docs/FAQ_RU.md
  modules/490-virtualization/hack/remove-module.sh
Labels: area/docs, area/virtualization

#6798 Backport: [virtualization] add remove module script
  modules/490-virtualization/docs/FAQ.md
  modules/490-virtualization/docs/FAQ_RU.md
  modules/490-virtualization/hack/remove-module.sh
Labels: auto, backported

#6762 [node-manager] Use dependency-free cross-version python script for second phase bootstrap loading
  modules/040-node-manager/templates/node-group/_bootstrap.tpl
Labels: area/cluster-and-infrastructure, e2e/cluster/failed

#6807 Update
  deckhouse-controller/pkg/controller/models/definition.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/module_downloader.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
Labels: area/core, go

#6747 [operator-trivy] Add CA to operator scan jobs #4950
  ee/modules/500-operator-trivy/images/operator/Dockerfile
  ee/modules/500-operator-trivy/images/operator/patches/004-scan-job-registry-ca.patch
  ee/modules/500-operator-trivy/images/operator/patches/README.md
  ee/modules/500-operator-trivy/images/trivy/Dockerfile
  ee/modules/500-operator-trivy/templates/configmap.yaml
  ee/modules/500-operator-trivy/templates/deployment.yaml
Labels: area/security

#6819 [modules-docs] Show module edition badge and use stable channel as default
  docs/site/backends/docs-builder-template/i18n/en.yaml
  docs/site/backends/docs-builder-template/i18n/ru.yaml
  docs/site/backends/docs-builder-template/layouts/_default/single.html
  docs/site/backends/docs-builder-template/layouts/partials/alert.html
  docs/site/backends/docs-builder-template/layouts/partials/sidebar.html
  docs/site/backends/docs-builder-template/layouts/shortcodes/alert.html
Labels: area/docs

#6822 [external-module-manager] remove default ModuleUpdatePolicy
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source.go
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source_test.go
  modules/005-external-module-manager/hooks/migration_create_update_policies.go
  modules/005-external-module-manager/hooks/migration_create_update_policies_test.go
Labels: area/modules, go

#6824 [docs][linstor] Minor documentation updates
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
Labels: area/docs

#6758 [docs] clarify cilium docs-DSR/SNAT, kube-proxy, labelsRegex
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
  modules/021-cni-cilium/openapi/config-values.yaml
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
  modules/021-kube-proxy/docs/README.md
  modules/021-kube-proxy/docs/README_RU.md
Labels: area/kubernetes, area/network, area/docs, status/ok-to-test, area/api-change

#6827 [ci] Fix documentation links checker
  .github/ci_templates/web.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  Makefile
  tools/doc_check_links.sh
Labels: area/testing

#6828 [docs] Fix broken links
  .github/ci_templates/web.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  docs/site/pages/guides/PRODUCTION_RU.md
  modules/040-node-manager/crds/nodegroupconfiguration.yaml
  modules/040-node-manager/docs/README.md
  modules/041-linstor/docs/ADVANCED_USAGE.md
  modules/041-linstor/docs/ADVANCED_USAGE_RU.md
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/041-linstor/docs/README.md
  modules/041-linstor/docs/README_RU.md
  modules/110-istio/docs/README_RU.md
  modules/340-extended-monitoring/docs/CONFIGURATION.md
  modules/340-extended-monitoring/docs/CONFIGURATION_RU.md
  modules/340-extended-monitoring/docs/README.md
  modules/340-extended-monitoring/docs/README_RU.md
  modules/462-loki/openapi/doc-ru-config-values.yaml
  tools/doc_check_links.sh
Labels: area/monitoring, area/network, area/testing, area/docs, area/cluster-and-infrastructure, area/storage, area/logs, area/api-change

#6830 [documentation] Change registry for test deckhouse.io
  docs/site/.helm/values.yaml
Labels: area/docs

#6829 [ceph-csi] Fix openapi spec
  modules/031-ceph-csi/openapi/config-values.yaml
  modules/031-ceph-csi/openapi/values.yaml
Labels: area/storage, area/api-change

#6831 Update version_map_addition.yml
  docs/documentation/_data/version_map_addition.yml
Labels: area/docs

#6776 [linstor] Enabling the Linstor module is prohibited when the SDS-DRBD module is enabled
  modules/041-linstor/enabled
Labels: priority/top, area/storage

#6833 [modules-docs] Rewrite to stable channel
  docs/site/.helm/templates/20-ingress.yaml
Labels: area/docs

#6836 Backport: [docs][cloud-provider-yandex] Fix example of the additionalSubnets field
  candi/cloud-providers/yandex/openapi/instance_class.yaml
Labels: auto, backported

#6838 [modules-docs] Add page metadata to the layout of module documentation.
  docs/site/backends/docs-builder-template/config/_default/hugo.yaml
  docs/site/backends/docs-builder-template/layouts/_default/baseof.html
  docs/site/backends/docs-builder-template/layouts/partials/head.html
Labels: area/docs, skip/no-cyrillic-validation

#6757 [prometheus] distroless prometheus fix
  modules/300-prometheus/images/prometheus/werf.inc.yaml
Labels: area/monitoring

#6810 [dhctl] mirror: resume interrupted pulls
  dhctl/cmd/dhctl/commands/mirror.go
  dhctl/go.mod
  dhctl/go.sum
  dhctl/pkg/app/mirror.go
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  go.mod
  go.sum
Labels: area/docs, type/dependencies, area/cli, area/core, skip/e2e, go

#6786 [dhctl] Clarify tar bundle flag usage and validate it more strictly
  dhctl/pkg/app/mirror.go
Labels: skip/e2e

#6501 [runtime-audit-engine] Fix CVEs
  ee/modules/650-runtime-audit-engine/images/falcosidekick/Dockerfile
  ee/modules/650-runtime-audit-engine/images/rules-loader/werf.inc.yaml
Labels: area/security

#6826 Fix registry watcher logs. Change retry lib.
  docs/site/backends/registry-modules-watcher/go.mod
  docs/site/backends/registry-modules-watcher/go.sum
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/process.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/sender/sender.go
Labels: area/docs, type/dependencies, go

#6596 [docs] Refine SSHCredentials docs
  modules/040-node-manager/crds/doc-ru-sshcredentials.yaml
  modules/040-node-manager/crds/doc-ru-staticinstance.yaml
  modules/040-node-manager/crds/sshcredentials.yaml
Labels: area/cluster-and-infrastructure, skip/documentation-validation, status/backport, area/api-change

#6845 Backport: [docs] Refine SSHCredentials docs
  modules/040-node-manager/crds/doc-ru-sshcredentials.yaml
  modules/040-node-manager/crds/doc-ru-staticinstance.yaml
  modules/040-node-manager/crds/sshcredentials.yaml
Labels: auto, backported

#6784 [dhctl] Calculate Streebog GOST checksum for tar bundle only if asked to
  dhctl/cmd/dhctl/commands/mirror.go
  dhctl/pkg/app/mirror.go
  dhctl/pkg/operations/mirror/context.go
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, area/cli, skip/e2e, go

#6652 [cloud-provider-yandex] Add support for ru-central1-d zone in Yandex Cloud
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/terraform-modules/master-node/main.tf
  candi/cloud-providers/yandex/terraform-modules/static-node/main.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/main.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/nat_instance.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/outputs.tf
Labels: area/cloud-provider, area/cluster-and-infrastructure, skip/documentation-validation, area/api-change

#6849 [docs] Update the Deckhouse FAQ
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#6811 Preventing the creation of a new "helm" release when no changes are made
  ee/modules/160-multitenancy-manager/templates/user-resources/user-resources-templates.yaml
  go_lib/dependency/helm/hash.go
  go_lib/dependency/helm/helm.go
Labels: area/security, area/core, go

#6844 [node-local-dns] fixing CiliumLocalRedirectPolicy
  ee/modules/350-node-local-dns/templates/cilium-local-redirect-policy.yaml
Labels: area/cluster-and-infrastructure

#6848 [dhctl] mirror: Allow missing module release channels
  dhctl/pkg/operations/mirror/layouts.go
  dhctl/pkg/operations/mirror/pull.go
  dhctl/pkg/operations/mirror_module.go
Labels: area/cli, status/backport, skip/e2e, go

#6856 Config comment link
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ee.inc
Labels: area/docs

#6857 fix hooks
  modules/040-node-manager/hooks/enable_cluster_api_cloud_and_static.go
  modules/040-node-manager/hooks/enable_cluster_api_cloud_and_static_test.go
  modules/040-node-manager/hooks/generate_capi_static_kubeconfig.go
Labels: area/cluster-and-infrastructure, go

#6852 [candi][bashible] Fix cleanup script
  candi/bashible/common-steps/node-group/002_create_static_node_cleanup_script.sh.tpl
Labels: area/cluster-and-infrastructure, status/ok-to-test

#6858 Fix site paths
  docs/site/.helm/templates/14-frontend.yaml
  docs/site/.werf/nginx-dev.conf
  docs/site/.werf/nginx.conf
  docs/site/backends/docs-builder/build.go
  docs/site/docker-compose.yml
Labels: area/docs, go

#6861 fix hook
  modules/040-node-manager/hooks/enable_cluster_api_cloud_and_static.go
  modules/040-node-manager/hooks/generate_capi_static_kubeconfig.go
  modules/040-node-manager/templates/caps-controller-manager/config.yaml
Labels: area/cluster-and-infrastructure, go

#6775 [admission-policy-engine] add policy for replicas limits
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation/replica-limits.yaml
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/hooks/handle_operation_policies_test.go
  modules/015-admission-policy-engine/hooks/internal/apis/v1alpha1.go
  modules/015-admission-policy-engine/template_tests/operation_policies_test.go
  modules/015-admission-policy-engine/templates/policies/operation-policy/constraint.yaml
Labels: area/security, type/chore, go, area/api-change

#6863 fix creating ns
  modules/040-node-manager/hooks/generate_capi_static_kubeconfig.go
Labels: area/cluster-and-infrastructure, go

#6859 add cluster autoscaller
  modules/040-node-manager/templates/cluster-autoscaler/rbac-for-us.yaml
  modules/040-node-manager/templates/node-group/_capi_machine_deployment.tpl
Labels: area/cluster-and-infrastructure

#6815 [monitoring-kubernetes] Add alert when LoadBalancer have not been created
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/loadbalancer.yaml
Labels: area/monitoring

#6866 Fix the wrong field name in the NodeGroup schema
  candi/openapi/node_group.yaml
Labels: area/cluster-and-infrastructure, skip/documentation-validation, status/backport, area/api-change

#6869 Backport: Fix the wrong field name in the NodeGroup schema
  candi/openapi/node_group.yaml
Labels: auto, backported

#6616 [istio] Bump istio version to 1.19.4 and Kiali to 1.67
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  modules/110-istio/crds/istio/1.19/crd-all.gen.yaml
  modules/110-istio/crds/istio/1.19/crd-operator.yaml
  modules/110-istio/docs/EXAMPLES.md
  modules/110-istio/docs/EXAMPLES_RU.md
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
  modules/110-istio/docs/internal/DEVELOPMENT_RU.md
  modules/110-istio/docs/internal/istio-grafana-dashboards.sh
  modules/110-istio/hooks/check_istio_k8s_version_compatibility.go
  modules/110-istio/hooks/check_istio_k8s_version_compatibility_test.go
  modules/110-istio/hooks/discovery_operator_versions_to_install.go
  modules/110-istio/hooks/discovery_operator_versions_to_install_test.go
  modules/110-istio/images/kiali/Dockerfile
  modules/110-istio/images/kiali/patches/001-fix-fetching-istiod-resource-threholds.patch
  modules/110-istio/images/kiali/patches/README.md
  modules/110-istio/images/operator-v1x19x4/Dockerfile
  modules/110-istio/images/pilot-v1x19x4/Dockerfile
  modules/110-istio/images/proxyv2-v1x19x4/Dockerfile
  modules/110-istio/monitoring/grafana-dashboards/istio/pilot.json
  modules/110-istio/monitoring/grafana-dashboards/istio/service.json
  modules/110-istio/monitoring/grafana-dashboards/istio/workload.json
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/openapi/doc-ru-config-values.yaml
  modules/110-istio/openapi/values.yaml
  modules/110-istio/requirements/check.go
  modules/110-istio/requirements/check_test.go
  modules/110-istio/templates/control-plane/iop.yaml
  modules/110-istio/templates/control-plane/mutatingwebhook-global.yaml
  modules/110-istio/templates/control-plane/mutatingwebhook-revisions.yaml
  modules/110-istio/templates/control-plane/validatingwebhook-revisions.yaml
  modules/110-istio/templates/kiali/configmap.yaml
  testing/library/images_tags_generated.go
Labels: area/network, area/testing, area/docs, area/core, priority/top, e2e/use/k8s/1.25, go, area/api-change

#6860 [candi][bb] Handle registry packages fetch errors
  candi/bashible/bashbooster/50_deckhouse_registrypackages.sh
Labels: area/cluster-and-infrastructure, status/backport

#6870 Backport: [candi][bb] Handle registry packages fetch errors
  candi/bashible/bashbooster/50_deckhouse_registrypackages.sh
Labels: auto, backported

#6875 [virtualization] add remove module script
  tools/virtualization/remove-module.sh
Labels: area/testing

#6874 [cni-cilium] Enabling pprof interface for agents
  modules/021-cni-cilium/templates/configmap.yaml
Labels: area/network, status/backport

#6876 Backport: [cni-cilium] Enabling pprof interface for agents
  modules/021-cni-cilium/templates/configmap.yaml
Labels: auto, backported

#6872 [cni-cilium] Bump cilium to 1.14.5
  modules/021-cni-cilium/images/builder/werf.inc.yaml
  modules/021-cni-cilium/images/cilium/werf.inc.yaml
  modules/021-cni-cilium/images/operator/werf.inc.yaml
Labels: area/network, status/backport, e2e/use/k8s/1.25

#6877 Backport: [cni-cilium] Bump cilium to 1.14.5
  modules/021-cni-cilium/images/builder/werf.inc.yaml
  modules/021-cni-cilium/images/cilium/werf.inc.yaml
  modules/021-cni-cilium/images/operator/werf.inc.yaml
Labels: auto, backported

#6881 Backport: [cni-cilium] Bump cilium to 1.14.5
  modules/021-cni-cilium/images/builder/werf.inc.yaml
  modules/021-cni-cilium/images/cilium/werf.inc.yaml
  modules/021-cni-cilium/images/operator/werf.inc.yaml
Labels: auto, backported

#6882 Backport: [cni-cilium] Enabling pprof interface for agents
  modules/021-cni-cilium/templates/configmap.yaml
Labels: auto, backported

#6883 Backport: [cni-cilium] Enabling pprof interface for agents
  modules/021-cni-cilium/templates/configmap.yaml
Labels: auto, backported

#6879 [node-manager] fix NodeGroup validating webhook
  modules/040-node-manager/webhooks/validating/node_group
Labels: area/cluster-and-infrastructure, status/backport

#6886 Backport: [node-manager] fix NodeGroup validating webhook
  modules/040-node-manager/webhooks/validating/node_group
Labels: auto, backported

#6887 Backport: [node-manager] fix NodeGroup validating webhook
  modules/040-node-manager/webhooks/validating/node_group
Labels: auto, backported

#6891 Backport: [candi][bashible][altlinux] Run chmod on all .sh files
  ee/candi/bashible/bundles/altlinux/all/004_make_profiled_scripts_executable.sh.tpl
Labels: auto, backported

#6892 Backport: [candi][bashible][altlinux] Run chmod on all .sh files
  ee/candi/bashible/bundles/altlinux/all/004_make_profiled_scripts_executable.sh.tpl
Labels: auto, backported

#6890 [testing] Disable early-oom for centos based e2e tests
  testing/cloud_layouts/Azure/Standard/configuration.tpl.yaml
  testing/cloud_layouts/Static/configuration.tpl.yaml
Labels: area/testing, e2e/cluster/failed

#6895 [docs] Fix log level for registry watcher
  docs/site/.helm/values.yaml
Labels: area/docs

#6896 Backport: Changelog v1.55.4
  CHANGELOG/CHANGELOG-v1.55.4.yml
  CHANGELOG/CHANGELOG-v1.55.md
Labels: auto, backported

#6873 [documentation] Docs builder custom readiness probe
  docs/site/.helm/templates/14-frontend.yaml
  docs/site/.helm/values.yaml
  docs/site/backends/docs-builder/build.go
  docs/site/backends/docs-builder/handler.go
  docs/site/backends/docs-builder/main.go
  docs/site/backends/docs-builder/readyz.go
Labels: area/docs, go

#6907 Backport: [testing] Disable early-oom for centos based e2e tests
  testing/cloud_layouts/Azure/Standard/configuration.tpl.yaml
  testing/cloud_layouts/Static/configuration.tpl.yaml
Labels: auto, backported

#6905 [documentation] Change registry example with CA cert fix
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, source/internal-client, skip/e2e

#6908 Backport: [documentation] Change registry example with CA cert fix
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#6909 Backport: [documentation] Change registry example with CA cert fix
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#6839 [site] Refactor badges in the sidebar
  docs/documentation/_includes/sidebar_entry.html
  docs/site/backends/docs-builder-template/layouts/partials/sidebar.html
  docs/site/css/docs.scss
Labels: area/docs

#6916 [docs] Update documentation regarding the Deckhouse release channels
  docs/site/_includes/getting_started/aws/partials/config.ru.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/azure/partials/config.ru.yml.standard.ce.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/existing/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/existing/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/gcp/partials/config.ru.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/yandex/partials/config.ru.yml.standard.ce.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.ce.inc
Labels: area/docs

#6914 [istio] Remove istio/k8s compatibility check
  modules/110-istio/hooks/check_istio_k8s_version_compatibility.go
  modules/110-istio/hooks/check_istio_k8s_version_compatibility_test.go
Labels: area/network, go, e2e/use/k8s/1.27

#6889 [dhctl] mirror: allow source registry selection
  dhctl/cmd/dhctl/commands/mirror.go
  dhctl/pkg/app/mirror.go
  dhctl/pkg/operations/mirror.go
  dhctl/pkg/operations/mirror/layouts.go
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, area/cli, skip/e2e, go

#6898 [candi] Resolve names to IPv4 addresses with d8-curl
  candi/bashible/bashbooster/50_deckhouse_registrypackages.sh
Labels: area/cluster-and-infrastructure

#6922 Backport: [candi] Resolve names to IPv4 addresses with d8-curl
  candi/bashible/bashbooster/50_deckhouse_registrypackages.sh
Labels: auto, backported

#6897 [candi][yc] Decrease shutdownGracePeriod
  candi/cloud-providers/yandex/bashible/common-steps/all/000_set_cloud_variables.sh.tpl
Labels: area/cloud-provider, area/cluster-and-infrastructure

#6923 Backport: [dhctl] mirror: allow source registry selection
  dhctl/cmd/dhctl/commands/mirror.go
  dhctl/pkg/app/mirror.go
  dhctl/pkg/operations/mirror.go
  dhctl/pkg/operations/mirror/layouts.go
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#6627 Changelog v1.56.0
  CHANGELOG/CHANGELOG-v1.56.0.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: changelog, auto, status/backport

#6924 Backport: Changelog v1.56.0
  CHANGELOG/CHANGELOG-v1.56.0.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: auto, backported

#6919 [istio] Add a metric showing istio and k8s compatibility, and an alert for it
  modules/110-istio/hooks/compatibility_version_istio_k8s_monitoring.go
  modules/110-istio/hooks/compatibility_version_istio_k8s_monitoring_test.go
  modules/110-istio/hooks/deprecated_versions_monitoring.go
  modules/110-istio/monitoring/prometheus-rules/versions.tpl
Labels: area/network, e2e/use/k8s/1.25, go

#6936 [docs] Refactor markdown rendering in descriptions
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-attributes.html
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-crd.html
Labels: area/docs

#6938 [node-manager](capi) remove validating webhook for Node deletion
  modules/040-node-manager/webhooks/validating/node
Labels: area/cluster-and-infrastructure, status/backport

#6940 Backport: [node-manager](capi) remove validating webhook for Node deletion
  modules/040-node-manager/webhooks/validating/node
Labels: auto, backported

#6935 [global] fix enabledModules values
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: area/testing, type/dependencies, area/core, status/backport

#6943 Backport: [global] fix enabledModules values
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: auto, backported

#6944 Backport: [candi] Resolve names to IPv4 addresses with d8-curl
  candi/bashible/bashbooster/50_deckhouse_registrypackages.sh
Labels: auto, backported

#6945 Backport: [node-manager](capi) remove validating webhook for Node deletion
  modules/040-node-manager/webhooks/validating/node
Labels: auto, backported

#6947 Backport: [istio] Remove istio/k8s compatibility check
  modules/110-istio/hooks/check_istio_k8s_version_compatibility.go
  modules/110-istio/hooks/check_istio_k8s_version_compatibility_test.go
Labels: auto, backported

#6948 Backport: [istio] Add a metric showing istio and k8s compatibility, and an alert for it
  modules/110-istio/hooks/compatibility_version_istio_k8s_monitoring.go
  modules/110-istio/hooks/compatibility_version_istio_k8s_monitoring_test.go
  modules/110-istio/hooks/deprecated_versions_monitoring.go
  modules/110-istio/monitoring/prometheus-rules/versions.tpl
Labels: auto, backported

#6946 [modules docs] Fix rendering of resources to avoid overlapping with the TOC
  docs/documentation/_plugins/openapi.rb
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-attributes.html
  docs/site/css/components/_resources.scss
Labels: area/docs, area/api-change

#6939 Changelog v1.55.5
  CHANGELOG/CHANGELOG-v1.55.5.yml
  CHANGELOG/CHANGELOG-v1.55.md
Labels: changelog, auto, status/backport

#6950 Backport: Changelog v1.55.5
  CHANGELOG/CHANGELOG-v1.55.5.yml
  CHANGELOG/CHANGELOG-v1.55.md
Labels: auto, backported

#6952 [global] fix modules order on operator-startup
  go.mod
  go.sum
Labels: type/dependencies, area/core, status/backport

#6953 Backport: [global] fix modules order on operator-startup
  go.mod
  go.sum
Labels: auto, backported

#6942 Changelog v1.56.0
  CHANGELOG/CHANGELOG-v1.56.0.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: changelog, auto, status/backport

#6954 Backport: Changelog v1.56.0
  CHANGELOG/CHANGELOG-v1.56.0.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: auto, backported

#6871 [docs][openstack] GS and docs updates regarding Selectel Openstack setups
  docs/site/_includes/getting_started/aws/partials/config.ru.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.ru.yml.without_nat.ee.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.ee.inc
  docs/site/_includes/getting_started/azure/partials/config.ru.yml.standard.ce.inc
  docs/site/_includes/getting_started/azure/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/bm-private/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/bm-private/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.ru.yml.ee.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ee.inc
  docs/site/_includes/getting_started/existing/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/existing/partials/config.ru.yml.ee.inc
  docs/site/_includes/getting_started/existing/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/existing/partials/config.yml.ee.inc
  docs/site/_includes/getting_started/gcp/partials/config.ru.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/gcp/partials/config.ru.yml.without_nat.ee.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ee.inc
  docs/site/_includes/getting_started/kind/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/kind/partials/config.yml.ee.inc
  docs/site/_includes/getting_started/openstack/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_ovh/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_ovh/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_selectel/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_selectel/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_vk/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_vk/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/vsphere/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/vsphere/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/yandex/partials/config.ru.yml.standard.ce.inc
  docs/site/_includes/getting_started/yandex/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.ee.inc
  ee/candi/cloud-providers/openstack/docs/LAYOUTS.md
  ee/candi/cloud-providers/openstack/docs/LAYOUTS_RU.md
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, source/internal-client, skip/e2e

#6744 [monitoring-kubernetes] Add alert NodeFilesystemIsRO
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/node-ro-fs.yaml
Labels: area/monitoring

#6755 [monitoring-kubernetes] merged kube_persistentvolume_is_local into one query
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/generic/kube-state-metrics.yaml
Labels: area/monitoring

#6711 [monitoring-kubernetes] fixed AppArmor rule in kubelet-eviction-thresholds-exporter
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
Labels: area/monitoring

#6932 [dhctl] mirror: fix for pulling older Deckhouse versions with tags instead of digests in installers
  dhctl/pkg/app/mirror.go
  dhctl/pkg/operations/mirror/digests.go
  dhctl/pkg/operations/mirror/util.go
Labels: area/cli, skip/e2e, go

#6963 Backport: [dhctl] mirror: fix for pulling older Deckhouse versions with tags instead of digests in installers
  dhctl/pkg/app/mirror.go
  dhctl/pkg/operations/mirror/digests.go
  dhctl/pkg/operations/mirror/util.go
Labels: auto, backported

#6964 [user-authn] OIDC allow unverified email
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
Labels: area/auth

#6966 [module docs] Refactor breadcrumbs
  docs/site/backends/docs-builder-template/i18n/en.yaml
  docs/site/backends/docs-builder-template/i18n/ru.yaml
  docs/site/backends/docs-builder-template/layouts/_default/baseof.html
  docs/site/backends/docs-builder-template/layouts/partials/breadcrumbs.html
  docs/site/backends/docs-builder-template/layouts/partials/sidebar.html
Labels: area/docs

#6969 Backport: [user-authn] OIDC allow unverified email
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
Labels: auto, backported

#6965 Changelog v1.56.0
  CHANGELOG/CHANGELOG-v1.56.0.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: changelog, auto, status/backport

#6979 Backport: Changelog v1.56.0
  CHANGELOG/CHANGELOG-v1.56.0.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: auto, backported

#6975 [ci] Exclude go files from deckhouse-controller image
  tools/build.go
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: area/testing, skip/e2e, go

#6983 Backport: [log-shipper][docs] Fix log-shipper readme
  docs/documentation/images/460-log-shipper/log_shipper_pipeline.svg
  modules/460-log-shipper/docs/README.md
  modules/460-log-shipper/docs/README_RU.md
Labels: auto, backported

#6981 [dhctl] mirror: validate tar bundle path more strictly
  dhctl/pkg/app/mirror.go
Labels: area/cli, status/backport, skip/e2e, go

#6984 Backport: [dhctl] mirror: validate tar bundle path more strictly
  dhctl/pkg/app/mirror.go
Labels: auto, backported

#6986 Backport: [log-shipper][docs] Fix log-shipper readme
  docs/documentation/images/460-log-shipper/log_shipper_pipeline.svg
  modules/460-log-shipper/docs/README.md
  modules/460-log-shipper/docs/README_RU.md
Labels: auto, backported

#6985 [ingress-nginx] fix cleanup temp dir path
  modules/402-ingress-nginx/images/controller-1-6/Dockerfile
  modules/402-ingress-nginx/images/controller-1-6/patches/README.md
  modules/402-ingress-nginx/images/controller-1-6/patches/fix-cleanup.patch
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
  modules/402-ingress-nginx/images/controller-1-9/patches/README.md
  modules/402-ingress-nginx/images/controller-1-9/patches/fix-cleanup.patch
Labels: area/network

#6988 [ingress-nginx] fix clean up for chroot images
  modules/402-ingress-nginx/images/controller-1-6/patches/fix-cleanup.patch
  modules/402-ingress-nginx/images/controller-1-9/patches/fix-cleanup.patch
Labels: area/network

#6901 [documentation] add docs-builder build error handling
  docs/site/backends/docs-builder/build.go
  docs/site/backends/docs-builder/build_test.go
  docs/site/backends/docs-builder/channel_mapping.go
  docs/site/backends/docs-builder/handler.go
  docs/site/backends/docs-builder/upload.go
  docs/site/backends/docs-builder/upload_test.go
Labels: area/docs, go

#6989 [cni-cilium] Fixing pprof listen address
  modules/021-cni-cilium/templates/configmap.yaml
Labels: area/network, status/backport, e2e/use/k8s/1.25

#6991 Backport: [cni-cilium] Fixing pprof listen address
  modules/021-cni-cilium/templates/configmap.yaml
Labels: auto, backported

#6926 [trivy] dashboard - added "Package name" column
  ee/modules/500-operator-trivy/monitoring/grafana-dashboards/security/trivy.json
Labels: area/security, status/ok-to-test

#6977 Changelog v1.55.6
  CHANGELOG/CHANGELOG-v1.55.6.yml
  CHANGELOG/CHANGELOG-v1.55.md
Labels: changelog, auto, status/backport

#6992 Backport: Changelog v1.55.6
  CHANGELOG/CHANGELOG-v1.55.6.yml
  CHANGELOG/CHANGELOG-v1.55.md
Labels: auto, backported

#6460 [network-policy-engine] migrate network-policy-engine to distroless
  modules/050-network-policy-engine/images/kube-router/Dockerfile
  modules/050-network-policy-engine/images/kube-router/iptables-wrapper-installer.sh
  modules/050-network-policy-engine/images/kube-router/werf.inc.yaml
  modules/050-network-policy-engine/templates/rbac-for-us.yaml
Labels: area/network, area/security

#6993 Backport: [trivy] dashboard - added "Package name" column
  ee/modules/500-operator-trivy/monitoring/grafana-dashboards/security/trivy.json
Labels: area/security, auto

#6980 [deckhouse] Change webhook-handler policy
  candi/image_versions.yml
  ee/modules/600-flant-integration/images/flant-pricing/Dockerfile
  modules/002-deckhouse/templates/webhook-handler/deployment.yaml
  modules/300-prometheus/images/grafana-dashboard-provisioner/werf.inc.yaml
Labels: area/monitoring, area/cluster-and-infrastructure
