Repository deckhouse/deckhouse, pull requests merged in 2023-03, with the labels that each got.

#3705 [extended-monitoring] Add tip to figure out problematic nodes in KubernetesDaemonSetReplicasUnavailable alert
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/application-controllers.yaml
  modules/340-monitoring-ping/templates/daemon-set.yaml
Labels: area/monitoring

#3957 Move documentation for developers and contributors to the wiki
  .github/pull_request_template.md
  CONTRIBUTING.md
  docs/documentation/pages/internal/DEVELOPMENT.md
  docs/documentation/pages/internal/PROXY.md
Labels: area/docs, skip/documentation-validation, skip/e2e

#3964 [gs] Remove notice about installing in EKS
  docs/site/_includes/getting_started/existing/partials/TROUBLESHOOT.liquid
  docs/site/_includes/getting_started/existing/partials/TROUBLESHOOT_RU.liquid
  docs/site/_includes/getting_started/global/partials/NOTICES.liquid
  docs/site/_includes/getting_started/global/partials/NOTICES_ENVIRONMENT.liquid
Labels: area/docs, skip/e2e

#3858 [operator-trivy] The new module
  .github/workflow_templates/trivy-db-schedule.yml
  .github/workflows/trivy-db-schedule.yml
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  docs/documentation/_data/sidebars/main.yml
  modules/015-admission-policy-engine/monitoring/grafana-dashboards/security/admission-policy-engine.json
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/041-linstor/templates/linstor-scheduler-admission/webhook.yaml
  modules/340-extended-monitoring/templates/extended-monitoring-exporter/deployment.yaml
  modules/500-operator-trivy/.helmignore
  modules/500-operator-trivy/.namespace
  modules/500-operator-trivy/Chart.yaml
  modules/500-operator-trivy/charts/helm_lib
  modules/500-operator-trivy/crds/aquasecurity.github.io_clustercompliancereports.yaml
  modules/500-operator-trivy/crds/aquasecurity.github.io_clusterconfigauditreports.yaml
  modules/500-operator-trivy/crds/aquasecurity.github.io_clusterinfraassessmentreports.yaml
  modules/500-operator-trivy/crds/aquasecurity.github.io_clusterrbacassessmentreports.yaml
  modules/500-operator-trivy/crds/aquasecurity.github.io_configauditreports.yaml
  modules/500-operator-trivy/crds/aquasecurity.github.io_exposedsecretreports.yaml
  modules/500-operator-trivy/crds/aquasecurity.github.io_infraassessmentreports.yaml
  modules/500-operator-trivy/crds/aquasecurity.github.io_rbacassessmentreports.yaml
  modules/500-operator-trivy/crds/aquasecurity.github.io_vulnerabilityreports.yaml
  modules/500-operator-trivy/docs/CONFIGURATION.md
  modules/500-operator-trivy/docs/CONFIGURATION_RU.md
  modules/500-operator-trivy/docs/README.md
  modules/500-operator-trivy/docs/README_RU.md
  modules/500-operator-trivy/enabled
  modules/500-operator-trivy/hooks/common_test.go
  modules/500-operator-trivy/hooks/discover_d8_ns.go
  modules/500-operator-trivy/hooks/discover_d8_ns_test.go
  modules/500-operator-trivy/hooks/ensure_crds.go
  modules/500-operator-trivy/images/node-collector/Dockerfile
  modules/500-operator-trivy/images/operator/Dockerfile
  modules/500-operator-trivy/images/operator/patches/001-add-registry-secret-as-dockerconfigjson.patch
  modules/500-operator-trivy/images/operator/patches/README.md
  modules/500-operator-trivy/images/trivy/Dockerfile
  modules/500-operator-trivy/monitoring/grafana-dashboards/security/trivy.json
  modules/500-operator-trivy/openapi/config-values.yaml
  modules/500-operator-trivy/openapi/doc-ru-config-values.yaml
  modules/500-operator-trivy/openapi/openapi-case-tests.yaml
  modules/500-operator-trivy/openapi/values.yaml
  modules/500-operator-trivy/oss.yaml
  modules/500-operator-trivy/template_tests/template_test.go
  modules/500-operator-trivy/templates/configmap.yaml
  modules/500-operator-trivy/templates/deployment.yaml
  modules/500-operator-trivy/templates/monitoring.yaml
  modules/500-operator-trivy/templates/namespace.yaml
  modules/500-operator-trivy/templates/pdb.yaml
  modules/500-operator-trivy/templates/podmonitor.yaml
  modules/500-operator-trivy/templates/rbac-for-us.yaml
  modules/500-operator-trivy/templates/rbac-to-us.yaml
  modules/500-operator-trivy/templates/registry-secret.yaml
  testing/library/images_tags_generated.go
  tools/release/d8-pull.sh
  tools/release/d8-push.sh
Labels: area/security, type/enhancement, skip/documentation-validation, e2e/use/cri/containerd, e2e/use/k8s/1.23, status/doc-review

#2002 [snapshot-controller] add ceph-csi support
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  docs/documentation/.helm/templates/_rewrites.tpl
  docs/documentation/.werf/nginx.conf
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/DECKHOUSE-OVERVIEW.md
  docs/documentation/pages/DECKHOUSE-OVERVIEW_RU.md
  modules/031-ceph-csi/.helmignore
  modules/031-ceph-csi/.namespace
  modules/031-ceph-csi/Chart.yaml
  modules/031-ceph-csi/charts/helm_lib
  modules/031-ceph-csi/crds/cephcsi.yaml
  modules/031-ceph-csi/crds/doc-ru-cephcsi.yaml
  modules/031-ceph-csi/docs/CONFIGURATION.md
  modules/031-ceph-csi/docs/CONFIGURATION_RU.md
  modules/031-ceph-csi/docs/CR.md
  modules/031-ceph-csi/docs/CR_RU.md
  modules/031-ceph-csi/docs/EXAMPLES.md
  modules/031-ceph-csi/docs/EXAMPLES_RU.md
  modules/031-ceph-csi/docs/README.md
  modules/031-ceph-csi/docs/README_RU.md
  modules/031-ceph-csi/docs/internal/INTREE_MIGRATION.md
  modules/031-ceph-csi/enabled
  modules/031-ceph-csi/hooks/common_test.go
  modules/031-ceph-csi/hooks/ensure_crds.go
  modules/031-ceph-csi/hooks/get_crds.go
  modules/031-ceph-csi/hooks/get_crds_test.go
  modules/031-ceph-csi/images/cephcsi/Dockerfile
  modules/031-ceph-csi/openapi/openapi-case-tests.yaml
  modules/031-ceph-csi/openapi/values.yaml
  modules/031-ceph-csi/oss.yaml
  modules/031-ceph-csi/templates/cephfs/controller.yaml
  modules/031-ceph-csi/templates/cephfs/csidriver.yaml
  modules/031-ceph-csi/templates/cephfs/storage-classes.yaml
  modules/031-ceph-csi/templates/cephfs/volume-snapshot-class.yaml
  modules/031-ceph-csi/templates/configmap.yaml
  modules/031-ceph-csi/templates/csi/rbac-for-us.yaml
  modules/031-ceph-csi/templates/namespace.yaml
  modules/031-ceph-csi/templates/rbd/controller.yaml
  modules/031-ceph-csi/templates/rbd/csidriver.yaml
  modules/031-ceph-csi/templates/rbd/storage-classes.yaml
  modules/031-ceph-csi/templates/rbd/volume-snapshot-class.yaml
  modules/031-ceph-csi/templates/registry-secret.yaml
  modules/031-ceph-csi/templates/secret.yaml
  modules/031-ceph-csi/tools/rbd-in-tree-to-ceph-csi-migration-helper.sh
  modules/041-linstor/templates/linstor-scheduler-admission/webhook.yaml
  modules/045-snapshot-controller/enabled
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/migration-alerts.yaml
  modules/490-virtualization/docs/README.md
  modules/490-virtualization/docs/README_RU.md
  testing/openapi_validation/validators/enum.go
Labels: skip/documentation-validation, area/storage

#3969 [docs] Fix broken links
  .github/ci_templates/web.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  docs/site/_includes/getting_started/global/partials/NOTICES.liquid
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
  ee/modules/650-runtime-audit-engine/docs/FAQ.md
  ee/modules/650-runtime-audit-engine/docs/FAQ_RU.md
Labels: area/docs, skip/e2e

#3972 [docs][flow-schema] Update markup
  modules/011-flow-schema/docs/FAQ.md
  modules/011-flow-schema/docs/FAQ_RU.md
Labels: area/docs, skip/e2e

#3968 [ci][testing][e2e] Fix e2e upgrade test
  .github/ci_templates/e2e_tests.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: area/testing, skip/e2e

#3606 [chore] Update kubernetes patch versions
  candi/version_map.yml
  ee/modules/007-registrypackages/images/kubernetes-cni-astra/scripts/install
  ee/modules/007-registrypackages/images/kubernetes-cni-astra/scripts/uninstall
  ee/modules/007-registrypackages/images/kubernetes-cni-astra/werf.inc.yaml
  modules/007-registrypackages/images/kubernetes-cni-debian/scripts/install
  modules/007-registrypackages/images/kubernetes-cni-debian/scripts/uninstall
  modules/007-registrypackages/images/kubernetes-cni-debian/werf.inc.yaml
  modules/007-registrypackages/images/kubernetes-cni-ubuntu/scripts/install
  modules/007-registrypackages/images/kubernetes-cni-ubuntu/scripts/uninstall
  modules/007-registrypackages/images/kubernetes-cni-ubuntu/werf.inc.yaml
  modules/040-control-plane-manager/images/kube-controller-manager/patches/1.24/pdb-daemonset.patch
  testing/library/images_tags_generated.go
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.25

#3966 [virtualization] Enable ExpandDisks feature gate
  modules/490-virtualization/templates/kubevirt.yaml
Labels: skip/e2e, area/virtualization

#3889 [cni-cilium] Use predictable MAC-addresses generation
  modules/021-cni-cilium/images/cilium/Dockerfile
  modules/021-cni-cilium/images/cilium/patches/001-customer-annotations.patch
  modules/021-cni-cilium/images/cilium/patches/001-request-ip.patch
  modules/021-cni-cilium/images/cilium/patches/002-stable-mac.patch
  modules/021-cni-cilium/images/cilium/patches/003-mtu.patch
  modules/021-cni-cilium/images/cilium/patches/README.md
  modules/490-virtualization/hooks/vm_handler.go
Labels: area/network

#3976 [deckhouse] Handle pending release
  deckhouse-controller/entrypoint.sh
  modules/002-deckhouse/hooks/handle_pending_upgrade.go
  modules/002-deckhouse/hooks/handle_pending_upgrade_test.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23, skip/e2e

#3471 Changelog v1.44.0
  CHANGELOG/CHANGELOG-v1.44.0.yml
  CHANGELOG/CHANGELOG-v1.44.md
Labels: changelog, auto, status/backport

#3980 Backport: Changelog v1.44.0
  CHANGELOG/CHANGELOG-v1.44.0.yml
  CHANGELOG/CHANGELOG-v1.44.md
Labels: auto, backported

#3949 [cni-cilium] add agent dashboard
  modules/021-cni-cilium/monitoring/grafana-dashboards/kubernetes-cluster/cilium-agent.json
  modules/021-cni-cilium/templates/monitoring.yaml
Labels: area/monitoring, skip/e2e

#3740 [testing] [ci] Execute module and matrix tests before build to unify local and GHA testing
  .github/ci_templates/tests.yml
  .github/workflow_templates/build-and-test_dev.yml
  .github/workflow_templates/build-and-test_pre-release.yml
  .github/workflow_templates/build-and-test_release.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  .gitignore
  Makefile
  ee/fe/modules/340-monitoring-applications/hooks/discovery.go
  ee/modules/030-cloud-provider-openstack/template_tests/module_test.go
  ee/modules/030-cloud-provider-vsphere/template_tests/module_test.go
  ee/modules/110-istio/hooks/ensure_crds_istio.go
  ee/modules/450-keepalived/hooks/keepalived_instance_handler_test.go
  modules/015-admission-policy-engine/template_tests/operation_policies_test.go
  modules/015-admission-policy-engine/template_tests/policies_test.go
  modules/040-node-manager/hooks/machineclass_checksum_assign.go
  modules/040-node-manager/hooks/machineclass_checksum_assign_test.go
  modules/040-node-manager/images_tags.json
  modules/040-node-manager/template_tests/module_test.go
  modules/140-user-authz/template_tests/module_test.go
  testing/matrix/matrix_test.go
  werf.yaml
Labels: area/testing, e2e/use/k8s/1.23, area/cicd

#3996 [docs][user-authz] Add links to the enableMultiTenancy module parameter
  modules/140-user-authz/crds/crd.yaml
  modules/140-user-authz/crds/doc-ru-crd.yaml
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: area/docs, skip/e2e

#3997 Backport: [docs][user-authz] Add links to the enableMultiTenancy module parameter
  modules/140-user-authz/crds/crd.yaml
  modules/140-user-authz/crds/doc-ru-crd.yaml
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: auto, backported

#3998 [docs] Fix broken links
  modules/040-control-plane-manager/docs/CONFIGURATION.md
  modules/040-control-plane-manager/docs/CONFIGURATION_RU.md
  modules/400-descheduler/docs/README.md
  modules/400-descheduler/docs/README_RU.md
Labels: area/docs, skip/e2e

#3842 [user-authn] discover_dex_ca loops the list of secrets
  modules/150-user-authn/hooks/discover_dex_ca.go
  modules/150-user-authn/hooks/discover_dex_ca_test.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#3950 [ingress-nginx] Refactor order_certificates hook for ingress-nginx module
  modules/402-ingress-nginx/hooks/chaos_monkey.go
  modules/402-ingress-nginx/hooks/chaos_monkey_test.go
  modules/402-ingress-nginx/hooks/generate_admission_webhook_cert.go
  modules/402-ingress-nginx/hooks/internal/common.go
  modules/402-ingress-nginx/hooks/minimal_ingress_nginx_version.go
  modules/402-ingress-nginx/hooks/order_certificates.go
  modules/402-ingress-nginx/hooks/order_certificates_test.go
  modules/402-ingress-nginx/hooks/safe_daemonset_update.go
Labels: area/network, skip/e2e

#4003 [docs] Fix the sidebar menu
  docs/documentation/_data/sidebars/main.yml
Labels: area/docs, status/backport, skip/e2e

#4005 Backport: [docs] Fix the sidebar menu
  docs/documentation/_data/sidebars/main.yml
Labels: auto, backported

#3984 [docs] fix DH_EDITION set lowercase
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, status/backport, skip/e2e

#4006 Backport: [docs] fix DH_EDITION set lowercase
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#4004 [control-plane-manager] Remove D8 prefix for KubernetesVersionEndOfLife alert
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
Labels: status/backport, skip/e2e

#4011 Backport: [control-plane-manager] Remove D8 prefix for KubernetesVersionEndOfLife alert
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
Labels: auto, backported

#4015 [ingress-nginx] Fix order certificates hook
  modules/402-ingress-nginx/hooks/order_certificates.go
  modules/402-ingress-nginx/hooks/order_certificates_test.go
Labels: area/network

#4017 [ingress-nginx] fix lint
  modules/402-ingress-nginx/hooks/order_certificates.go
Labels: area/network, e2e/use/cri/containerd, e2e/use/k8s/1.23, e2e/cluster/failed

#4014 [deckhouse-config] disable webhook ha mode
  modules/003-deckhouse-config/templates/deckhouse-config-webhook/deployment.yaml
  modules/003-deckhouse-config/templates/deckhouse-config-webhook/pdb.yaml
Labels: e2e/use/cri/containerd, status/backport, e2e/use/k8s/1.23

#4021 Backport: [deckhouse-config] disable webhook ha mode
  modules/003-deckhouse-config/templates/deckhouse-config-webhook/deployment.yaml
  modules/003-deckhouse-config/templates/deckhouse-config-webhook/pdb.yaml
Labels: auto, backported

#3988 [virtualization] Fix tolerations for virt-operator-strategy-dumper job
  modules/490-virtualization/images/artifact/patches/007-tolerations-for-strategy-dumper-job.patch
  modules/490-virtualization/images/artifact/patches/README.md
Labels: status/backport

#4023 Backport: [virtualization] Fix tolerations for virt-operator-strategy-dumper job
  modules/490-virtualization/images/artifact/patches/007-tolerations-for-strategy-dumper-job.patch
  modules/490-virtualization/images/artifact/patches/README.md
Labels: auto, backported

#4018 [log-shipper] Fix ratelimit alert
  modules/460-log-shipper/monitoring/prometheus-rules/log-shipper-agent.yaml
Labels: type/bug, status/backport, area/logs

#4027 Backport: [log-shipper] Fix ratelimit alert
  modules/460-log-shipper/monitoring/prometheus-rules/log-shipper-agent.yaml
Labels: auto, backported

#3986 [upmeter][smoke-mini] Rename deprecated annotations for upmeter
  modules/500-upmeter/hooks/smokemini/internal/snapshot/node.go
  modules/500-upmeter/hooks/smokemini/internal/snapshot/node_test.go
  modules/500-upmeter/hooks/smokemini/reschedule_test.go
Labels: area/kubernetes, type/chore

#4025 [docs] Yandex withNATInstance
  candi/cloud-providers/yandex/docs/LAYOUTS.md
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
Labels: skip/e2e

#4032 Backport: [docs] Yandex withNATInstance
  candi/cloud-providers/yandex/docs/LAYOUTS.md
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
Labels: auto, backported

#4007 [docs] Minor updates
  docs/documentation/pages/DECKHOUSE-FAQ.md
  helm_lib/charts/deckhouse_lib_helm/README.md
Labels: area/docs, skip/documentation-validation, status/backport

#4038 Backport: [docs] Minor updates
  docs/documentation/pages/DECKHOUSE-FAQ.md
  helm_lib/charts/deckhouse_lib_helm/README.md
Labels: auto, backported

#4010 [istio] D8IstioDeprecatedIstioVersionInstalled alert description fix
  ee/modules/110-istio/monitoring/prometheus-rules/versions.yaml
Labels: area/monitoring, status/backport, skip/e2e

#4039 Backport: [istio] D8IstioDeprecatedIstioVersionInstalled alert description fix
  ee/modules/110-istio/monitoring/prometheus-rules/versions.yaml
Labels: auto, backported

#4024 [docs] fixed node group if minPerZone = 0
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
Labels: area/docs, status/backport

#4041 Backport: [docs] fixed node group if minPerZone = 0
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
Labels: auto, backported

#3991 Changelog v1.44.1
  CHANGELOG/CHANGELOG-v1.44.1.yml
  CHANGELOG/CHANGELOG-v1.44.md
Labels: changelog, auto, status/backport

#4042 Backport: Changelog v1.44.1
  CHANGELOG/CHANGELOG-v1.44.1.yml
  CHANGELOG/CHANGELOG-v1.44.md
Labels: auto, backported

#4022 [cni-cilium] More docs
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
  modules/021-cni-cilium/docs/internal/DEBUGGING.md
Labels: area/docs, skip/documentation-validation, type/chore

#3979 [node-manager] Add kubernetess version to the NodeGroup CR status field
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
  modules/040-node-manager/hooks/discover_cloud_provider.go
  modules/040-node-manager/hooks/discover_standby_ng.go
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/get_crds_test.go
  modules/040-node-manager/hooks/internal/v1/nodegroup.go
  modules/040-node-manager/hooks/update_node_group_status.go
  modules/040-node-manager/hooks/util.go
  modules/040-node-manager/hooks/util_test.go
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.24

#4049 [chore] Add www. redirect on the site
  docs/site/.helm/templates/20-ingress.yaml
Labels: type/chore, skip/e2e

#3959 [candi] change helm tolerations template functions
  ee/modules/110-istio/templates/control-plane/iop.yaml
  ee/modules/110-istio/templates/multicluster/api-proxy/deployment.yaml
  ee/modules/140-user-authz/templates/webhook/daemonset.yaml
  ee/modules/450-network-gateway/templates/dhcp-statefulset.yaml
  ee/modules/600-flant-integration/templates/pricing/daemonset.yaml
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/README.md
  helm_lib/charts/deckhouse_lib_helm/templates/_csi_controller.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_csi_node.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_module_https.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_node_affinity.tpl
  modules/002-deckhouse/templates/webhook-handler/deployment.yaml
  modules/003-deckhouse-config/templates/deckhouse-config-webhook/deployment.yaml
  modules/021-cni-cilium/templates/agent/daemonset.yaml
  modules/021-cni-cilium/templates/operator/deployment.yaml
  modules/021-kube-proxy/templates/daemonset.yaml
  modules/035-cni-flannel/templates/daemonset.yaml
  modules/035-cni-simple-bridge/templates/daemonset.yaml
  modules/040-control-plane-manager/templates/daemonset.yaml
  modules/040-node-manager/templates/bashible-apiserver/deployment.yaml
  modules/040-node-manager/templates/cluster-autoscaler/deployment.yaml
  modules/040-node-manager/templates/machine-controller-manager/deployment.yaml
  modules/040-terraform-manager/templates/terraform-auto-converger/deployment.yaml
  modules/041-linstor/templates/linstor-affinity-controller/deployment.yaml
  modules/041-linstor/templates/linstor-controller/linstorcontroller.yaml
  modules/041-linstor/templates/linstor-csi/linstorcsidriver.yaml
  modules/041-linstor/templates/linstor-scheduler-admission/deployment.yaml
  modules/041-linstor/templates/linstor-scheduler/deployment.yaml
  modules/041-linstor/templates/piraeus-operator/deployment.yaml
  modules/041-linstor/templates/spaas/deployment.yaml
  modules/042-kube-dns/templates/deployment.yaml
  modules/042-kube-dns/templates/sts-pods-hosts-appender-webhook/deployment.yaml
  modules/045-snapshot-controller/templates/snapshot-validation-webhook/deployment.yaml
  modules/101-cert-manager/template_tests/module_test.go
  modules/101-cert-manager/templates/cainjector/deployment.yaml
  modules/101-cert-manager/templates/webhook/deployment.yaml
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
  modules/301-prometheus-metrics-adapter/templates/deployment.yaml
  modules/302-vertical-pod-autoscaler/templates/admission-controller/deployment.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/control-plane-proxy/daemonset.yaml
  modules/490-virtualization/templates/kubevirt.yaml
  modules/490-virtualization/templates/virt-operator/deployment.yaml
  modules/491-containerized-data-importer/templates/cdi-operator/deployment.yaml
  modules/500-dashboard/template_tests/module_test.go
  modules/500-upmeter/templates/upmeter/statefulset.yaml
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.23

#4066 [prometheus] Increase prometheus self sample limit
  modules/300-prometheus/templates/prometheus/servicemonitor.yaml
Labels: area/monitoring, status/backport

#4069 Backport: [prometheus] Increase prometheus self sample limit
  modules/300-prometheus/templates/prometheus/servicemonitor.yaml
Labels: auto, backported

#3987 [admission-policy-engine] Add mutations
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
  modules/015-admission-policy-engine/hooks/detect_track_match_resources.go
  modules/015-admission-policy-engine/hooks/detect_track_match_resources_test.go
  modules/015-admission-policy-engine/images/constraint-exporter/Dockerfile
  modules/015-admission-policy-engine/images/constraint-exporter/exporter.go
  modules/015-admission-policy-engine/images/constraint-exporter/go.mod
  modules/015-admission-policy-engine/images/constraint-exporter/go.sum
  modules/015-admission-policy-engine/images/constraint-exporter/main.go
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/gatekeeper/constraints.go
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/gatekeeper/mutations.go
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/kinds/kinds.go
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/kinds/kinds_test.go
  modules/015-admission-policy-engine/openapi/values.yaml
  modules/015-admission-policy-engine/template_tests/module_test.go
  modules/015-admission-policy-engine/template_tests/operation_policies_test.go
  modules/015-admission-policy-engine/template_tests/policies_test.go
  modules/015-admission-policy-engine/templates/mutatingwebhookconfiguration.yaml
  modules/015-admission-policy-engine/templates/validatingwebhookconfiguration.yaml
Labels: skip/e2e

#4074 Backport: [docs][istio] Minor updates
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
Labels: auto, backported

#4051 [log-shipper] Add job label selector to alerts query
  modules/460-log-shipper/monitoring/prometheus-rules/log-shipper-agent.yaml
Labels: e2e/use/cri/containerd, status/backport, e2e/use/k8s/1.23, area/logs

#4076 Backport: [log-shipper] Add job label selector to alerts query
  modules/460-log-shipper/monitoring/prometheus-rules/log-shipper-agent.yaml
Labels: auto, backported

#3990 [node-manager] Add nodegroup conditions
  candi/openapi/node_group.yaml
  modules/040-node-manager/hooks/internal/conditions/calculate.go
  modules/040-node-manager/hooks/internal/v1/nodegroup.go
  modules/040-node-manager/hooks/internal/v1/nodegroup_generated.deepcopy.go
  modules/040-node-manager/hooks/update_node_group_status.go
  modules/040-node-manager/hooks/update_node_group_status_test.go
  modules/040-node-manager/hooks/util.go
Labels: area/ux, skip/documentation-validation, skip/e2e

#4028 [node-manager] show instance class link to NG
  candi/cloud-providers/aws/openapi/instance_class.yaml
  candi/cloud-providers/azure/openapi/instance_class.yaml
  candi/cloud-providers/gcp/openapi/instance_class.yaml
  candi/cloud-providers/yandex/openapi/instance_class.yaml
  ee/candi/cloud-providers/openstack/openapi/instance_class.yaml
  ee/candi/cloud-providers/vsphere/openapi/instance_class.yaml
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/set_instance_class_ng_usage.go
  modules/040-node-manager/hooks/set_instance_class_ng_usage_test.go
  testing/hooks/validation/exported_struct_test.go
Labels: area/ux, skip/documentation-validation, e2e/use/cri/containerd, e2e/use/k8s/1.23, e2e/run/eks

#4070 [candi] add selinux policies for cilium
  candi/bashible/bundles/centos/all/001_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/alteros/all/001_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/redos/all/001_install_mandatory_selinux_policies.sh.tpl
Labels: area/cluster-and-infrastructure

#4077 [external-module-manager] Fix EOF json.Decode error
  modules/005-external-module-manager/hooks/handle_sources.go
Labels: status/backport

#4065 [docs][node-manager] Fix bug in generating OpenAPI values for the module
  docs/documentation/werf-git-section.inc.yaml
  modules/040-node-manager/crds/doc-ru-nodegroupconfiguration.yaml
  modules/040-node-manager/crds/nodegroupconfiguration.yaml
Labels: area/docs, status/backport, skip/e2e

#4080 Backport: [external-module-manager] Fix EOF json.Decode error
  modules/005-external-module-manager/hooks/handle_sources.go
Labels: auto, backported

#4081 Backport: [docs][node-manager] Fix bug in generating OpenAPI values for the module
  docs/documentation/werf-git-section.inc.yaml
  modules/040-node-manager/crds/doc-ru-nodegroupconfiguration.yaml
  modules/040-node-manager/crds/nodegroupconfiguration.yaml
Labels: auto, backported

#3797 Use "extended-monitoring.deckhouse.io/enabled" label instead of "extended-monitoring.flant.com/enabled" annotation
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  ee/fe/modules/500-basic-auth/templates/namespace.yaml
  ee/modules/030-cloud-provider-openstack/templates/namespace.yaml
  ee/modules/030-cloud-provider-vsphere/templates/namespace.yaml
  ee/modules/110-istio/templates/ingress-gateway-controller/namespace.yaml
  ee/modules/110-istio/templates/namespace.yaml
  ee/modules/380-metallb/templates/namespace.yaml
  ee/modules/450-keepalived/templates/namespace.yaml
  ee/modules/450-network-gateway/templates/namespace.yaml
  ee/modules/600-flant-integration/templates/namespace.yaml
  modules/002-deckhouse/hooks/enable_extended_monitoring.go
  modules/002-deckhouse/hooks/enable_extended_monitoring_test.go
  modules/002-deckhouse/templates/namespace.yaml
  modules/021-cni-cilium/templates/namespace.yaml
  modules/030-cloud-provider-aws/templates/namespace.yaml
  modules/030-cloud-provider-azure/templates/namespace.yaml
  modules/030-cloud-provider-gcp/templates/namespace.yaml
  modules/030-cloud-provider-yandex/templates/namespace.yaml
  modules/031-local-path-provisioner/templates/namespace.yaml
  modules/035-cni-flannel/templates/namespace.yaml
  modules/035-cni-simple-bridge/templates/namespace.yaml
  modules/040-node-manager/templates/namespace.yaml
  modules/040-node-manager/templates/standby-holder/deployment.yaml
  modules/041-linstor/templates/namespace.yaml
  modules/045-snapshot-controller/templates/namespace.yaml
  modules/101-cert-manager/templates/namespace.yaml
  modules/140-user-authz/templates/namespace.yaml
  modules/150-user-authn/templates/namespace.yaml
  modules/200-operator-prometheus/templates/namespace.yaml
  modules/303-prometheus-pushgateway/templates/namespace.yaml
  modules/340-extended-monitoring/docs/CONFIGURATION.md
  modules/340-extended-monitoring/docs/CONFIGURATION_RU.md
  modules/340-extended-monitoring/docs/README.md
  modules/340-extended-monitoring/docs/README_RU.md
  modules/340-extended-monitoring/hooks/alert_old_annotation.go
  modules/340-extended-monitoring/hooks/alert_old_annotation_test.go
  modules/340-extended-monitoring/hooks/common_test.go
  modules/340-extended-monitoring/images/extended-monitoring-exporter/src/extended-monitoring.py
  modules/340-extended-monitoring/images/image-availability-exporter/Dockerfile
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/deprecated-annotation.yaml
  modules/340-extended-monitoring/templates/image-availability-exporter/deployment.yaml
  modules/340-extended-monitoring/templates/image-availability-exporter/rbac-for-us.yaml
  modules/465-pod-reloader/templates/namespace.yaml
  modules/470-chrony/templates/namespace.yaml
  modules/500-dashboard/templates/namespace.yaml
  modules/500-openvpn/templates/namespace.yaml
  modules/600-namespace-configurator/docs/EXAMPLES.md
  modules/600-namespace-configurator/docs/EXAMPLES_RU.md
  modules/600-namespace-configurator/docs/README.md
  modules/600-namespace-configurator/docs/README_RU.md
  modules/600-namespace-configurator/hooks/handler_test.go
  modules/600-namespace-configurator/openapi/config-values.yaml
  modules/600-namespace-configurator/openapi/doc-ru-config-values.yaml
  modules/600-namespace-configurator/openapi/openapi-case-tests.yaml
Labels: area/monitoring, e2e/use/cri/containerd, type/chore, e2e/use/k8s/1.23

#4061 [docs] Add link to the flow.deckhouse.io on the releases page
  docs/documentation/pages/RELEASES.md
  docs/documentation/pages/RELEASES_RU.md
Labels: area/docs, skip/e2e

#4083 Backport: [docs] Add link to the flow.deckhouse.io on the releases page
  docs/documentation/pages/RELEASES.md
  docs/documentation/pages/RELEASES_RU.md
Labels: auto, backported

#4084 Backport: [docs] Show a list of the module's web interfaces
  docs/documentation/_data/i18n.yml
  docs/documentation/_includes/module-webiface-notice.liquid
  docs/documentation/_layouts/page.html
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  docs/site/_includes/getting_started/global/partials/DNS_OPTIONS.liquid
  docs/site/_includes/getting_started/global/partials/DNS_OPTIONS_RU.liquid
  docs/site/css/docs.scss
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
  ee/modules/502-delivery/docs/README.md
  ee/modules/502-delivery/docs/README_RU.md
  modules/150-user-authn/docs/README.md
  modules/150-user-authn/docs/README_RU.md
  modules/300-prometheus/docs/README.md
  modules/300-prometheus/docs/README_RU.md
  modules/500-cilium-hubble/docs/README.md
  modules/500-cilium-hubble/docs/README_RU.md
  modules/500-dashboard/docs/README.md
  modules/500-dashboard/docs/README_RU.md
  modules/500-openvpn/docs/README.md
  modules/500-openvpn/docs/README_RU.md
  modules/500-upmeter/docs/README.md
  modules/500-upmeter/docs/README_RU.md
  modules/810-deckhouse-web/docs/README.md
  modules/810-deckhouse-web/docs/README_RU.md
Labels: auto, backported

#4085 Backport: [docs][node-manager] Fix bug in generating OpenAPI values for the module
  docs/documentation/werf-git-section.inc.yaml
  modules/040-node-manager/crds/doc-ru-nodegroupconfiguration.yaml
  modules/040-node-manager/crds/nodegroupconfiguration.yaml
Labels: auto, backported

#4086 Backport: [docs] Add link to the flow.deckhouse.io on the releases page
  docs/documentation/pages/RELEASES.md
  docs/documentation/pages/RELEASES_RU.md
Labels: auto, backported

#3985 [containerized-data-importer] fix customCertificate
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  modules/490-virtualization/images/artifact/patches/007-tolerations-for-strategy-dumper-job.patch
  modules/491-containerized-data-importer/hooks/https/copy_custom_certificate.go
  modules/491-containerized-data-importer/openapi/config-values.yaml
  modules/491-containerized-data-importer/openapi/doc-ru-config-values.yaml
  modules/491-containerized-data-importer/openapi/openapi-case-tests.yaml
  modules/491-containerized-data-importer/openapi/values.yaml
Labels: status/backport, area/virtualization

#4090 Backport: [containerized-data-importer] fix customCertificate
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  modules/490-virtualization/images/artifact/patches/007-tolerations-for-strategy-dumper-job.patch
  modules/491-containerized-data-importer/hooks/https/copy_custom_certificate.go
  modules/491-containerized-data-importer/openapi/config-values.yaml
  modules/491-containerized-data-importer/openapi/doc-ru-config-values.yaml
  modules/491-containerized-data-importer/openapi/openapi-case-tests.yaml
  modules/491-containerized-data-importer/openapi/values.yaml
Labels: auto, backported

#4091 [docs] Clarify the use of the approvalMode parameter
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
Labels: area/docs, status/backport, skip/e2e

#4092 Backport: [docs] Clarify the use of the approvalMode parameter
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
Labels: auto, backported

#4082 [candi] fix bootstrap
  candi/bashible/bundles/altlinux/bootstrap.sh.tpl
  candi/bashible/bundles/centos/all/033_install_mandatory_selinux_policies.sh.tpl
  candi/bashible/bundles/centos/bootstrap.sh.tpl
  candi/bashible/bundles/debian/bootstrap.sh.tpl
  candi/bashible/bundles/ubuntu-lts/bootstrap.sh.tpl
  candi/bashible/common_functions.sh.tpl
  dhctl/pkg/template/bootstrap.go
  ee/candi/bashible/bundles/alteros/all/033_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/alteros/bootstrap.sh.tpl
  ee/candi/bashible/bundles/astra/bootstrap.sh.tpl
  ee/candi/bashible/bundles/redos/all/033_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/redos/bootstrap.sh.tpl
  ee/modules/040-node-manager/openapi/config-values.yaml
  modules/040-node-manager/templates/node-group/_bootstrap_script.tpl
Labels: area/cluster-and-infrastructure, skip/documentation-validation, e2e/use/k8s/1.23

#4078 [delivery] Add FAQ section with admin password reset instruction
  ee/modules/502-delivery/docs/FAQ.md
  ee/modules/502-delivery/docs/FAQ_RU.md
Labels: area/docs

#4097 [linstor] Update alerts and labels
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/041-linstor/monitoring/prometheus-rules/drbd-devices.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-controller.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-csi-controller.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-csi-node.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-node.yaml
Labels: status/backport, area/storage, skip/e2e

#4107 Backport: [linstor] Update alerts and labels
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/041-linstor/monitoring/prometheus-rules/drbd-devices.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-controller.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-csi-controller.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-csi-node.yaml
  modules/041-linstor/monitoring/prometheus-rules/linstor-node.yaml
Labels: auto, backported

#4058 [ci] Add @name212 to helm_lib/* codeowners
  .github/CODEOWNERS
Labels: skip/e2e

#4106 [helm_lib] Upgrade lib-helm to 1.0.1 and update readme
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/README.md
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
Labels: skip/e2e

#3982 [cloud-provider-vsphere] Clarify instance class doc
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/doc-ru-instance_class.yaml
  ee/candi/cloud-providers/vsphere/openapi/instance_class.yaml
Labels: area/docs

#4012 [core][chore] Update Kubernetes patch versions
  candi/version_map.yml
  modules/013-helm/hooks/metrics.go
  modules/340-extended-monitoring/hooks/alert_old_annotation.go
  modules/340-extended-monitoring/hooks/alert_old_annotation_test.go
  testing/library/images_tags_generated.go
  werf.yaml
Labels: area/core, e2e/use/cri/containerd, e2e/use/k8s/1.23

#4113 [ci] Schedule e2e-daily test on 1:00 UTC (was 3:00 UTC)
  .github/workflow_templates/e2e-daily.yml
  .github/workflows/e2e-daily.yml
Labels: skip/e2e, area/cicd

#4111 [linstor] Update alerts and labels
  modules/041-linstor/monitoring/prometheus-rules/drbd-devices.yaml
Labels: status/backport

#4115 Backport: [linstor] Update alerts and labels
  modules/041-linstor/monitoring/prometheus-rules/drbd-devices.yaml
Labels: auto, backported

#4094 [ci] Update cleanup policy
  werf_cleanup.yaml
Labels: skip/e2e, area/cicd

#4116 [site] Update content (#3366)
  docs/site/_data/stories.yaml
  docs/site/images/clients/otp-bank.svg
Labels: area/docs, skip/e2e

#4117 [log-shipper] Add status codes and errors to dashboard
  modules/460-log-shipper/monitoring/grafana-dashboards/applications/vector.json
Labels: area/logs

#4095 [log-shipper] Add buffer settings for vector config
  modules/460-log-shipper/apis/v1alpha1/cluster_log_destination.go
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
  modules/460-log-shipper/hooks/internal/composer/config_test.go
  modules/460-log-shipper/hooks/internal/composer/testdata/config_1.json
  modules/460-log-shipper/hooks/internal/composer/testdata/config_2.json
  modules/460-log-shipper/hooks/internal/vector/destination/common.go
  modules/460-log-shipper/hooks/internal/vector/destination/elasticsearch.go
  modules/460-log-shipper/hooks/internal/vector/destination/kafka.go
  modules/460-log-shipper/hooks/internal/vector/destination/logstash.go
  modules/460-log-shipper/hooks/internal/vector/destination/loki.go
  modules/460-log-shipper/hooks/internal/vector/destination/splunk.go
  modules/460-log-shipper/hooks/internal/vector/destination/vector.go
  modules/460-log-shipper/hooks/testdata/multiple-dest/manifests.yaml
  modules/460-log-shipper/hooks/testdata/multiple-dest/result.json
Labels: area/logs

#4137 [node-manager] changes in FAQ about changing CRI type for node groups.
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, status/backport

#4140 Backport: [node-manager] changes in FAQ about changing CRI type for node groups.
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#4118 [cni-cilium] cilium connectivity test doc
  modules/021-cni-cilium/docs/internal/CONNECTIVITY_TESTS.md
Labels: skip/documentation-validation

#4145 [ci] Fix build-and-test_pre-release.yml, cve-daily.yml and e2e-daily.yml workflow name rendering
  .github/workflow_templates/build-and-test_pre-release.yml
  .github/workflow_templates/cve-daily.yml
  .github/workflow_templates/e2e-daily.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/cve-daily.yml
  .github/workflows/e2e-daily.yml
Labels: skip/e2e, area/cicd

#4146 Backport: [docs] added in kube-dns FAQ link of control-plane-manager crd
  modules/042-kube-dns/docs/FAQ.md
  modules/042-kube-dns/docs/FAQ_RU.md
Labels: auto, backported

#4147 [docs][istio] Documentation fix crd version ru
  ee/modules/110-istio/docs/EXAMPLES_RU.md
Labels: area/docs, skip/documentation-validation, status/backport, skip/e2e

#4148 Backport: [docs][istio] Documentation fix crd version ru
  ee/modules/110-istio/docs/EXAMPLES_RU.md
Labels: auto, backported

#4149 Backport: [docs][istio] Documentation fix crd version ru
  ee/modules/110-istio/docs/EXAMPLES_RU.md
Labels: auto, backported

#4134 [runtime-audit-engine] Fix K8sAudit -> k8s_audit source convert action
  ee/modules/650-runtime-audit-engine/hack/far-converter/main.go
  ee/modules/650-runtime-audit-engine/images/rules-loader/hooks/rules/hook.py
  ee/modules/650-runtime-audit-engine/images/rules-loader/hooks/rules/test.py
  ee/modules/650-runtime-audit-engine/images/rules-loader/requirements.txt
Labels: area/security, type/bug, status/backport

#4093 [operator-trivy] Disable infra assessment
  modules/500-operator-trivy/templates/deployment.yaml
Labels: area/security, type/bug, e2e/use/cri/containerd, status/backport, e2e/use/k8s/1.23

#4151 Backport: [operator-trivy] Disable infra assessment
  modules/500-operator-trivy/templates/deployment.yaml
Labels: auto, backported

#4046 [cni-cilium] Perform routing lookup for custom tables
  modules/021-cni-cilium/images/virt-cilium/patches/004-fib.patch
  modules/021-cni-cilium/images/virt-cilium/patches/README.md
Labels: status/backport, skip/e2e, area/virtualization

#4153 Backport: [cni-cilium] Perform routing lookup for custom tables
  modules/021-cni-cilium/images/virt-cilium/patches/004-fib.patch
  modules/021-cni-cilium/images/virt-cilium/patches/README.md
Labels: auto, backported

#4071 [cni-cilium] Use predefined MAC-addresses for virtualization workloads
  modules/021-cni-cilium/images/virt-cilium/patches/002-stable-mac.patch
  modules/021-cni-cilium/images/virt-cilium/patches/README.md
  modules/021-cni-cilium/templates/configmap.yaml
Labels: status/backport, area/storage

#4068 Changelog v1.44.2
  CHANGELOG/CHANGELOG-v1.44.2.yml
  CHANGELOG/CHANGELOG-v1.44.md
Labels: changelog, auto, status/backport

#4155 Backport: Changelog v1.44.2
  CHANGELOG/CHANGELOG-v1.44.2.yml
  CHANGELOG/CHANGELOG-v1.44.md
Labels: auto, backported

#4156 [virtualization] Document required kernel version
  modules/490-virtualization/docs/CONFIGURATION.md
  modules/490-virtualization/docs/CONFIGURATION_RU.md
Labels: area/docs, status/backport

#4158 Backport: [virtualization] Document required kernel version
  modules/490-virtualization/docs/CONFIGURATION.md
  modules/490-virtualization/docs/CONFIGURATION_RU.md
Labels: auto, backported

#4161 Backport: [virtualization] Fix markdown linter for virtualization doc
  modules/490-virtualization/docs/CONFIGURATION.md
  modules/490-virtualization/docs/CONFIGURATION_RU.md
Labels: auto, backported

#4167 Backport: [docs] Clarify the use of the approvalMode parameter
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
Labels: auto, backported

#4168 [node-manager] Fix the description in the NodeGroup CRD
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
Labels: area/docs, status/backport, skip/e2e

#4169 Backport: [node-manager] Fix the description in the NodeGroup CRD
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
Labels: auto, backported

#4170 Backport: [node-manager] Fix the description in the NodeGroup CRD
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
Labels: auto, backported

#4175 [site] Update content on the security page
  docs/site/pages/SECURITY_RU.md
Labels: area/docs

#4183 Backport: [docs] Update the Overview page
  docs/documentation/pages/DECKHOUSE-OVERVIEW.md
  docs/documentation/pages/DECKHOUSE-OVERVIEW_RU.md
Labels: auto, backported

#4182 [linstor] Document space usage statistics
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
Labels: area/docs, status/backport

#4184 [virtualization] Document updates of VM spec
  modules/490-virtualization/docs/FAQ.md
  modules/490-virtualization/docs/FAQ_RU.md
Labels: area/docs, status/backport

#4186 Backport: [virtualization] Document updates of VM spec
  modules/490-virtualization/docs/FAQ.md
  modules/490-virtualization/docs/FAQ_RU.md
Labels: auto, backported

#3923 [ingress-nginx] add nginx-ingress v1.6.4
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/images/controller-1-6/Dockerfile
  modules/402-ingress-nginx/images/controller-1-6/patches/README.md
  modules/402-ingress-nginx/images/controller-1-6/patches/balancer-lua.patch
  modules/402-ingress-nginx/images/controller-1-6/patches/healthcheck.patch
  modules/402-ingress-nginx/images/controller-1-6/patches/lua-info.patch
  modules/402-ingress-nginx/images/controller-1-6/patches/makefile.patch
  modules/402-ingress-nginx/images/controller-1-6/patches/nginx-tmpl.patch
  modules/402-ingress-nginx/images/controller-1-6/rootfs/etc/nginx/lua/geohash.lua
  modules/402-ingress-nginx/images/controller-1-6/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/openapi/config-values.yaml
  modules/402-ingress-nginx/openapi/values.yaml
  modules/402-ingress-nginx/templates/controller/configmap.yaml
  modules/402-ingress-nginx/templates/controller/controller.yaml
  modules/402-ingress-nginx/templates/controller/rbac-for-us.yaml
  modules/402-ingress-nginx/templates/rbac-for-us.yaml
  testing/library/images_tags_generated.go
Labels: skip/documentation-validation

#4174 [prometheus] Fix time interval for prometheus longterm
  modules/300-prometheus/template_tests/secret_datasources_list_test.go
  modules/300-prometheus/templates/grafana/secret-datasources-list.yaml
Labels: area/monitoring, status/backport

#4189 Backport: [prometheus] Fix time interval for prometheus longterm
  modules/300-prometheus/template_tests/secret_datasources_list_test.go
  modules/300-prometheus/templates/grafana/secret-datasources-list.yaml
Labels: auto, backported

#4192 [deckhouse-module-config] Remove nodeSelector for deckhouse-config-webhook
  modules/003-deckhouse-config/templates/deckhouse-config-webhook/deployment.yaml
Labels: status/backport

#4197 [log-shipper] Change VPA condition
  modules/460-log-shipper/template_tests/module_test.go
  modules/460-log-shipper/templates/daemonset.yaml
Labels: status/backport

#4201 Backport: [log-shipper] Change VPA condition
  modules/460-log-shipper/template_tests/module_test.go
  modules/460-log-shipper/templates/daemonset.yaml
Labels: auto, backported

#4172 Update Kubernetes:
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.26, type/chore, e2e/use/k8s/1.24, e2e/use/k8s/1.25, e2e/cluster/failed

#4205 [ceph-csi] docs added rbd showmapped in FAQ
  docs/documentation/_data/sidebars/main.yml
  modules/031-ceph-csi/docs/FAQ.md
  modules/031-ceph-csi/docs/FAQ_RU.md
Labels: area/docs, status/backport

#4208 Backport: [ceph-csi] docs added rbd showmapped in FAQ
  docs/documentation/_data/sidebars/main.yml
  modules/031-ceph-csi/docs/FAQ.md
  modules/031-ceph-csi/docs/FAQ_RU.md
Labels: auto, backported

#4209 Backport: [docs] Fix sidebar for the snapshot-controller module
  docs/documentation/_data/sidebars/main.yml
Labels: auto, backported

#4157 Changelog v1.44.3
  CHANGELOG/CHANGELOG-v1.44.3.yml
  CHANGELOG/CHANGELOG-v1.44.md
Labels: changelog, auto, status/backport

#4210 Backport: Changelog v1.44.3
  CHANGELOG/CHANGELOG-v1.44.3.yml
  CHANGELOG/CHANGELOG-v1.44.md
Labels: auto, backported

#4096 [runtime-audit-engine] Docs improvements
  ee/modules/650-runtime-audit-engine/docs/EXAMPLES.md
  ee/modules/650-runtime-audit-engine/docs/EXAMPLES_RU.md
  ee/modules/650-runtime-audit-engine/docs/FAQ.md
  ee/modules/650-runtime-audit-engine/docs/FAQ_RU.md
  ee/modules/650-runtime-audit-engine/docs/README.md
  ee/modules/650-runtime-audit-engine/docs/README_RU.md
Labels: area/docs, status/backport, skip/e2e

#4212 Backport: [runtime-audit-engine] Docs improvements
  ee/modules/650-runtime-audit-engine/docs/EXAMPLES.md
  ee/modules/650-runtime-audit-engine/docs/EXAMPLES_RU.md
  ee/modules/650-runtime-audit-engine/docs/FAQ.md
  ee/modules/650-runtime-audit-engine/docs/FAQ_RU.md
  ee/modules/650-runtime-audit-engine/docs/README.md
  ee/modules/650-runtime-audit-engine/docs/README_RU.md
Labels: auto, backported

#4159 [candi] Remove from first control-plane node `node-role.kubernetes.io/master` taint during bootstrap.
  candi/bashible/common-steps/cluster-bootstrap/070_install_control_plane.sh.tpl
Labels: e2e/use/k8s/1.23, e2e/use/k8s/1.24, e2e/use/k8s/1.25

#4136 [cloud-provider-vsphere] Add zones to provider cloud discovery data
  ee/candi/cloud-providers/vsphere/layouts/standard/base-infrastructure/outputs.tf
  ee/candi/cloud-providers/vsphere/openapi/cloud_discovery_data.yaml
  ee/modules/030-cloud-provider-vsphere/hooks/internal/v1/cloud_discovery_data.go
  ee/modules/030-cloud-provider-vsphere/hooks/vsphere_cluster_configuration_test.go
  ee/modules/030-cloud-provider-vsphere/openapi/values.yaml
Labels: area/cloud-provider, e2e/use/cri/containerd

#4188 [candi] fix bootstrap in air-gapped envs
  candi/bashible/bashible.sh.tpl
  dhctl/pkg/template/bootstrap.go
  modules/040-node-manager/templates/node-group/_bootstrap_script.tpl
Labels: area/cluster-and-infrastructure

#4119 Change operator-trivy module license from Apache to EE License
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  docs/documentation/_data/sidebars/main.yml
  docs/site/_config.yml
  ee/modules/500-operator-trivy/.helmignore
  ee/modules/500-operator-trivy/.namespace
  ee/modules/500-operator-trivy/Chart.yaml
  ee/modules/500-operator-trivy/charts/helm_lib
  ee/modules/500-operator-trivy/crds/aquasecurity.github.io_clustercompliancereports.yaml
  ee/modules/500-operator-trivy/crds/aquasecurity.github.io_clusterconfigauditreports.yaml
  ee/modules/500-operator-trivy/crds/aquasecurity.github.io_clusterinfraassessmentreports.yaml
  ee/modules/500-operator-trivy/crds/aquasecurity.github.io_clusterrbacassessmentreports.yaml
  ee/modules/500-operator-trivy/crds/aquasecurity.github.io_configauditreports.yaml
  ee/modules/500-operator-trivy/crds/aquasecurity.github.io_exposedsecretreports.yaml
  ee/modules/500-operator-trivy/crds/aquasecurity.github.io_infraassessmentreports.yaml
  ee/modules/500-operator-trivy/crds/aquasecurity.github.io_rbacassessmentreports.yaml
  ee/modules/500-operator-trivy/crds/aquasecurity.github.io_vulnerabilityreports.yaml
  ee/modules/500-operator-trivy/docs/CONFIGURATION.md
  ee/modules/500-operator-trivy/docs/CONFIGURATION_RU.md
  ee/modules/500-operator-trivy/docs/README.md
  ee/modules/500-operator-trivy/docs/README_RU.md
  ee/modules/500-operator-trivy/enabled
  ee/modules/500-operator-trivy/hooks/common_test.go
  ee/modules/500-operator-trivy/hooks/discover_d8_ns.go
  ee/modules/500-operator-trivy/hooks/discover_d8_ns_test.go
  ee/modules/500-operator-trivy/hooks/ensure_crds.go
  ee/modules/500-operator-trivy/images/node-collector/Dockerfile
  ee/modules/500-operator-trivy/images/operator/Dockerfile
  ee/modules/500-operator-trivy/images/operator/patches/001-add-registry-secret-as-dockerconfigjson.patch
  ee/modules/500-operator-trivy/images/operator/patches/README.md
  ee/modules/500-operator-trivy/images/trivy/Dockerfile
  ee/modules/500-operator-trivy/monitoring/grafana-dashboards/security/trivy.json
  ee/modules/500-operator-trivy/openapi/config-values.yaml
  ee/modules/500-operator-trivy/openapi/doc-ru-config-values.yaml
  ee/modules/500-operator-trivy/openapi/openapi-case-tests.yaml
  ee/modules/500-operator-trivy/openapi/values.yaml
  ee/modules/500-operator-trivy/oss.yaml
  ee/modules/500-operator-trivy/template_tests/template_test.go
  ee/modules/500-operator-trivy/templates/configmap.yaml
  ee/modules/500-operator-trivy/templates/deployment.yaml
  ee/modules/500-operator-trivy/templates/monitoring.yaml
  ee/modules/500-operator-trivy/templates/namespace.yaml
  ee/modules/500-operator-trivy/templates/pdb.yaml
  ee/modules/500-operator-trivy/templates/podmonitor.yaml
  ee/modules/500-operator-trivy/templates/rbac-for-us.yaml
  ee/modules/500-operator-trivy/templates/rbac-to-us.yaml
  ee/modules/500-operator-trivy/templates/registry-secret.yaml
  modules/041-linstor/templates/linstor-scheduler-admission/webhook.yaml
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: area/security, e2e/use/cri/containerd, type/chore, e2e/use/k8s/1.23, area/compliance

#4220 [openvpn] reduce test cases
  modules/500-openvpn/openapi/config-values.yaml
  modules/500-openvpn/openapi/values.yaml
Labels: area/testing, skip/documentation-validation

#4222 [log-shipper] Fix throttling alert labels
  modules/460-log-shipper/monitoring/prometheus-rules/log-shipper-agent.yaml
Labels: status/backport, area/logs

#4228 Backport: [log-shipper] Fix throttling alert labels
  modules/460-log-shipper/monitoring/prometheus-rules/log-shipper-agent.yaml
Labels: auto, backported

#4230 Backport: Changelog v1.44.4
  CHANGELOG/CHANGELOG-v1.44.4.yml
  CHANGELOG/CHANGELOG-v1.44.md
Labels: auto, backported

#4234 [site] Added intro picture on security page
  docs/site/images/security-intro.svg
  docs/site/pages/security_ru.html
Labels: area/docs

#4216 fix shell executable
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, status/ok-to-test

#4139 [tools] Change image for init container for deckhouse deployment with change-registry.sh
  tools/change-registry.sh
Labels: skip/e2e

#4114 [cloud-provider-yandex] Use real InternalIPs for routes
  candi/version_map.yml
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.23/001-lock-route-table-operations.patch
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.23/002-use-real-internal-ip-for-routes.patch
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.23/README.md
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.24/001-lock-route-table-operations.patch
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.24/002-use-real-internal-ip-for-routes.patch
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.24/README.md
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.25/001-use-real-internal-ip-for-routes.patch
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.25/README.md
Labels: area/cloud-provider, type/bug, e2e/use/cri/containerd, e2e/use/k8s/1.23

#4223 [site] Added new partnership request form
  docs/site/_data/modal.yml
  docs/site/_includes/become_a_partner_form.html
  docs/site/_layouts/default.html
  docs/site/pages/how_to_buy_ru.html
Labels: area/docs

#4196 [cloud-provider-yandex] Set network type to software_accelerated and update netfilter parameters for new yandex nat instances.
  candi/cloud-providers/yandex/terraform-modules/vpc-components/nat_instance.tf
Labels: area/cloud-provider, e2e/use/k8s/1.24

#4217 [user-authz] Disable NetworkPolicy editing for Editor role
  modules/140-user-authz/templates/cluster-roles.yaml
Labels: area/security, type/bug

#4240 [docs] Using proxy
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#4242 Backport: [docs] Using proxy
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#4225 [log-shipper] fix typo for buffer settings
  modules/460-log-shipper/hooks/internal/composer/testdata/config_1.json
  modules/460-log-shipper/hooks/internal/composer/testdata/config_2.json
  modules/460-log-shipper/hooks/internal/vector/destination/common.go
  modules/460-log-shipper/hooks/testdata/multiple-dest/result.json
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23, area/logs

#4244 [istio] Add registry secret for d8-ingress-istio namespace
  ee/modules/110-istio/templates/ingress-gateway-controller/registry-secret.yaml
Labels: skip/e2e

#4224 [log-shipper] Update vector to 0.28.1
  modules/460-log-shipper/hooks/validate_test.go
  modules/460-log-shipper/images/vector/Dockerfile
  modules/460-log-shipper/images/vector/lib/libssl1.1_1.1.1f-1ubuntu2.17_amd64.deb
  modules/460-log-shipper/images/vector/patches/README.md
  modules/460-log-shipper/images/vector/patches/match-speedup.patch
Labels: area/logs
