Repository deckhouse/deckhouse, pull requests merged in 2023-10, with the labels that each got.

#6001 [admission-policy-engine][docs] Minor updates
  modules/015-admission-policy-engine/openapi/config-values.yaml
  modules/015-admission-policy-engine/openapi/doc-ru-config-values.yaml
Labels: area/security, status/backport, area/api-change

#6002 Backport: [admission-policy-engine][docs] Minor updates
  modules/015-admission-policy-engine/openapi/config-values.yaml
  modules/015-admission-policy-engine/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#6004 Backport: [ingress-nginx] apply postpone update to main controller of HostWithFailover inlet
  modules/402-ingress-nginx/hooks/safe_daemonset_update.go
  modules/402-ingress-nginx/hooks/safe_daemonset_update_test.go
Labels: auto, backported

#6006 Backport: [external-module-manager] Handle absent versions of deployed modules
  modules/005-external-module-manager/hooks/apply_release.go
  modules/005-external-module-manager/hooks/apply_release_test.go
Labels: auto, backported

#5674 Changelog v1.52.0
  CHANGELOG/CHANGELOG-v1.52.0.yml
  CHANGELOG/CHANGELOG-v1.52.md
Labels: changelog, auto, status/backport

#6013 Backport: Changelog v1.52.0
  CHANGELOG/CHANGELOG-v1.52.0.yml
  CHANGELOG/CHANGELOG-v1.52.md
Labels: auto, backported

#6015 Backport: [ingress-nginx] apply postpone update to main controller of HostWithFailover inlet
  modules/402-ingress-nginx/hooks/safe_daemonset_update.go
  modules/402-ingress-nginx/hooks/safe_daemonset_update_test.go
Labels: auto, backported

#5982 [cluster-api-provider-static] add validating webhook to prevent capi …
  candi/bashible/common-steps/node-group/002_create_static_node_cleanup_script.sh.tpl
  modules/040-node-manager/images/caps-controller-manager/internal/controller/deckhouse.io/staticinstance_controller.go
  modules/040-node-manager/webhooks/validating/node
  modules/040-node-manager/webhooks/validating/node_group
Labels: area/cluster-and-infrastructure, go

#6016 [user-authn][docs] Add information about password creation in user-authn module
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: area/auth, area/docs, status/backport

#6023 Backport: [user-authn][docs] Add information about password creation in user-authn module
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: auto, backported

#6024 Backport: [user-authn][docs] Add information about password creation in user-authn module
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: auto, backported

#5440 [node-manager] New annotation for approvalMode: RollingUpdate
  candi/bashible/bashbooster/60_deckhouse.sh
  candi/bashible/common-steps/node-group/000_set_flag_rolling_update.sh.tpl
  modules/040-node-manager/hooks/update_approval.go
  modules/040-node-manager/hooks/update_approval_test.go
Labels: area/cluster-and-infrastructure, go

#6009 Proofreading Deckhouse documentation
  docs/site/_includes/getting_started/aws/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/azure/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/bm-private/partials/ingress-nginx-controller.yml.inc
  docs/site/_includes/getting_started/bm/partials/ingress-nginx-controller.yml.inc
  docs/site/_includes/getting_started/existing/partials/ingress-nginx-controller.yml.inc
  docs/site/_includes/getting_started/gcp/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/kind/partials/ingress-nginx-controller.yml.inc
  docs/site/_includes/getting_started/openstack/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/openstack_ovh/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/openstack_selectel/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/openstack_vk/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/vsphere/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/yandex/partials/resources.yml.minimal.inc
  ee/modules/502-delivery/docs/USAGE_RU.md
  ee/modules/502-delivery/openapi/doc-ru-config-values.yaml
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/docs/CONFIGURATION_RU.md
  modules/402-ingress-nginx/docs/EXAMPLES_RU.md
  modules/402-ingress-nginx/docs/FAQ_RU.md
  modules/402-ingress-nginx/docs/README.md
  modules/402-ingress-nginx/docs/README_RU.md
  modules/402-ingress-nginx/openapi/doc-ru-config-values.yaml
  modules/500-dashboard/docs/CONFIGURATION_RU.md
  modules/500-dashboard/docs/README_RU.md
  modules/500-dashboard/openapi/doc-ru-config-values.yaml
  modules/500-openvpn/docs/CONFIGURATION_RU.md
  modules/500-openvpn/docs/README.md
  modules/500-openvpn/docs/README_RU.md
  modules/500-openvpn/openapi/doc-ru-config-values.yaml
Labels: area/docs, skip/documentation-validation

#5960 [doc] Refactor text about taint on the fifths step in the bare metal section
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  docs/site/_includes/getting_started/global/partials/DNS_OPTIONS.liquid
  docs/site/_includes/getting_started/global/partials/DNS_OPTIONS_RU.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
Labels: area/docs

#6027 [delivery][docs] Add Russian translation of WerfSource CR
  ee/modules/502-delivery/crds/doc-ru-werfsource.yaml
  ee/modules/502-delivery/crds/werfsource.yaml
Labels: status/backport, area/delivery, area/api-change

#6032 Backport: [delivery][docs] Add Russian translation of WerfSource CR
  ee/modules/502-delivery/crds/doc-ru-werfsource.yaml
  ee/modules/502-delivery/crds/werfsource.yaml
Labels: auto, backported

#6029 [docs] [node-manager] Add namespace key for compatibility
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport, source/internal-client

#6034 Backport: [docs] [node-manager] Add namespace key for compatibility
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#6031 [docs] add description to create node-group-token
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport

#6036 Backport: [docs] add description to create node-group-token
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#6021 [docs] Documentation proofreading.
  ee/modules/110-istio/crds/doc-ru-istiofederation.yaml
  ee/modules/110-istio/crds/doc-ru-istiomulticluster.yaml
  ee/modules/110-istio/crds/istiomulticluster.yaml
  modules/110-istio/crds/doc-ru-ingress-istio.yaml
  modules/110-istio/docs/CONFIGURATION_RU.md
  modules/110-istio/docs/EXAMPLES.md
  modules/110-istio/docs/EXAMPLES_RU.md
  modules/110-istio/docs/ISTIO-CR.md
  modules/110-istio/docs/ISTIO-CR_RU.md
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/openapi/doc-ru-config-values.yaml
  modules/300-prometheus/docs/README.md
  modules/300-prometheus/docs/README_RU.md
  modules/300-prometheus/docs/USAGE.md
  modules/300-prometheus/docs/USAGE_RU.md
Labels: area/monitoring, area/network, area/docs, status/backport, area/api-change

#6043 Backport: [docs] Documentation proofreading.
  ee/modules/110-istio/crds/doc-ru-istiofederation.yaml
  ee/modules/110-istio/crds/doc-ru-istiomulticluster.yaml
  ee/modules/110-istio/crds/istiomulticluster.yaml
  modules/110-istio/crds/doc-ru-ingress-istio.yaml
  modules/110-istio/docs/CONFIGURATION_RU.md
  modules/110-istio/docs/EXAMPLES.md
  modules/110-istio/docs/EXAMPLES_RU.md
  modules/110-istio/docs/ISTIO-CR.md
  modules/110-istio/docs/ISTIO-CR_RU.md
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/openapi/doc-ru-config-values.yaml
  modules/300-prometheus/docs/README.md
  modules/300-prometheus/docs/README_RU.md
  modules/300-prometheus/docs/USAGE.md
  modules/300-prometheus/docs/USAGE_RU.md
Labels: auto, backported

#6025 Fix user-authn documentation
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.ee.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ee.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ee.inc
  docs/site/_includes/getting_started/openstack/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_ovh/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_selectel/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_vk/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/vsphere/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.ee.inc
  modules/150-user-authn/openapi/config-values.yaml
  modules/150-user-authn/openapi/doc-ru-config-values.yaml
Labels: area/auth, area/docs, status/backport, area/api-change

#6044 Backport: Fix user-authn documentation
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.ee.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ee.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ee.inc
  docs/site/_includes/getting_started/openstack/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_ovh/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_selectel/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_vk/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/vsphere/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.ee.inc
  modules/150-user-authn/openapi/config-values.yaml
  modules/150-user-authn/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#6046 [istio][docs] Fix text on the presentations
  docs/documentation/presentations/110-istio/federation_common_principles_ru.pdf
  docs/documentation/presentations/110-istio/multicluster_common_principles_ru.pdf
  docs/documentation/presentations/110-istio/multicluster_istio_multicluster_ru.pdf
  docs/documentation/presentations/110-istio/request_lifecycle_istio_disabled_ru.pdf
  docs/documentation/presentations/110-istio/request_lifecycle_istio_enabled_ru.pdf
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
Labels: area/network, area/docs, status/backport

#6050 Backport: [istio][docs] Fix text on the presentations
  docs/documentation/presentations/110-istio/federation_common_principles_ru.pdf
  docs/documentation/presentations/110-istio/multicluster_common_principles_ru.pdf
  docs/documentation/presentations/110-istio/multicluster_istio_multicluster_ru.pdf
  docs/documentation/presentations/110-istio/request_lifecycle_istio_disabled_ru.pdf
  docs/documentation/presentations/110-istio/request_lifecycle_istio_enabled_ru.pdf
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
Labels: auto, backported

#5985 [distroless] move cloud-controller-manager binaries to distroless
  ee/modules/030-cloud-provider-openstack/images/cloud-controller-manager/werf.inc.yaml
  ee/modules/030-cloud-provider-openstack/templates/cloud-controller-manager/deployment.yaml
  ee/modules/030-cloud-provider-vsphere/images/cloud-controller-manager/werf.inc.yaml
  ee/modules/030-cloud-provider-vsphere/templates/cloud-controller-manager/deployment.yaml
  modules/030-cloud-provider-aws/images/cloud-controller-manager/werf.inc.yaml
  modules/030-cloud-provider-aws/templates/cloud-controller-manager/deployment.yaml
  modules/030-cloud-provider-azure/images/cloud-controller-manager/werf.inc.yaml
  modules/030-cloud-provider-azure/templates/cloud-controller-manager/deployment.yaml
  modules/030-cloud-provider-gcp/images/cloud-controller-manager/werf.inc.yaml
  modules/030-cloud-provider-gcp/templates/cloud-controller-manager/deployment.yaml
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/werf.inc.yaml
  modules/030-cloud-provider-yandex/templates/cloud-controller-manager/deployment.yaml
Labels: area/cloud-provider

#6005 Changelog v1.51.9
  CHANGELOG/CHANGELOG-v1.51.9.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: changelog, auto, status/backport

#6053 Backport: Changelog v1.51.9
  CHANGELOG/CHANGELOG-v1.51.9.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: auto, backported

#6054 Changelog v1.51.9
  CHANGELOG/CHANGELOG-v1.51.9.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: changelog, auto, status/backport

#6055 Backport: Changelog v1.51.9
  CHANGELOG/CHANGELOG-v1.51.9.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: auto, backported

#6059 [candi] Add lost mkdir TMPDIR in bashible.sh
  candi/bashible/bashible.sh.tpl
Labels: area/cluster-and-infrastructure, status/backport

#6063 [getting-started][docs] Minor fixes
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
Labels: area/docs

#6022 Changelog v1.52.1
  CHANGELOG/CHANGELOG-v1.52.1.yml
  CHANGELOG/CHANGELOG-v1.52.md
Labels: changelog, auto

#6007 [chrony] Move chronyd back to host network namespace
  modules/470-chrony/images/chrony/start.sh
  modules/470-chrony/template_tests/module_test.go
  modules/470-chrony/templates/daemonset.yaml
  modules/470-chrony/templates/deployment.yaml
Labels: area/cluster-and-infrastructure, go

#6070 Backport: [chrony] Move chronyd back to host network namespace
  modules/470-chrony/images/chrony/start.sh
  modules/470-chrony/template_tests/module_test.go
  modules/470-chrony/templates/daemonset.yaml
  modules/470-chrony/templates/deployment.yaml
Labels: auto, backported

#6037 [linstor] changed controller's liveness probe
  modules/041-linstor/images/linstor-server/Dockerfile
  modules/041-linstor/images/linstor-server/liveness.sh
  modules/041-linstor/images/piraeus-operator/patches/050-change-liveness-probe.patch
  modules/041-linstor/templates/linstor-controller/linstorcontroller.yaml
Labels: area/storage

#6072 Backport: [linstor] changed controller's liveness probe
  modules/041-linstor/images/linstor-server/Dockerfile
  modules/041-linstor/images/linstor-server/liveness.sh
  modules/041-linstor/images/piraeus-operator/patches/050-change-liveness-probe.patch
  modules/041-linstor/templates/linstor-controller/linstorcontroller.yaml
Labels: auto, backported

#6067 Changelog v1.52.1
  CHANGELOG/CHANGELOG-v1.52.1.yml
  CHANGELOG/CHANGELOG-v1.52.md
Labels: changelog, auto, status/backport, area/storage

#6047 [dhctl] feat(dhctl-for-commander): use given cluster-configuration data in commander mode in the converge operation
  dhctl/pkg/kubernetes/actions/converge/converge.go
  dhctl/pkg/kubernetes/actions/deckhouse/converge.go
  dhctl/pkg/operations/converge/converger.go
Labels: area/cli, go

#6014 [user-authz] add matchAny namespace selector
  ee/modules/140-user-authz/images/webhook/web/hook/handler.go
  ee/modules/140-user-authz/images/webhook/web/hook/handler_test.go
  ee/modules/140-user-authz/images/webhook/web/hook/types.go
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/140-user-authz/crds/doc-ru-clusterauthorizationrule.yaml
  modules/140-user-authz/openapi/values.yaml
Labels: area/auth, go, area/api-change

#6074 [user-authn] fix generation self signet certificate for crowd-basic-auth-proxy
  modules/150-user-authn/images/self-signed-generator/src/main.go
Labels: area/auth, status/backport, go

#6077 Backport: [user-authn] fix generation self signet certificate for crowd-basic-auth-proxy
  modules/150-user-authn/images/self-signed-generator/src/main.go
Labels: auto, backported

#6076 Changelog v1.52.2
  CHANGELOG/CHANGELOG-v1.52.2.yml
  CHANGELOG/CHANGELOG-v1.52.md
Labels: changelog, auto, status/backport

#6078 Backport: Changelog v1.52.2
  CHANGELOG/CHANGELOG-v1.52.2.yml
  CHANGELOG/CHANGELOG-v1.52.md
Labels: auto, backported

#6080 Backport: [user-authz] add matchAny namespace selector
  ee/modules/140-user-authz/images/webhook/web/hook/handler.go
  ee/modules/140-user-authz/images/webhook/web/hook/handler_test.go
  ee/modules/140-user-authz/images/webhook/web/hook/types.go
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/140-user-authz/crds/doc-ru-clusterauthorizationrule.yaml
  modules/140-user-authz/openapi/values.yaml
Labels: auto, backported

#6082 [prometheus] fix fix-permissions init-container to run under kesl security
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring, status/backport

#6085 Backport: [prometheus] fix fix-permissions init-container to run under kesl security
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: auto, backported

#6083 [linstor] fix in linstor controller liveness probe
  modules/041-linstor/images/linstor-server/liveness.sh
Labels: status/backport, area/storage

#6081 Changelog v1.52.3
  CHANGELOG/CHANGELOG-v1.52.3.yml
  CHANGELOG/CHANGELOG-v1.52.md
Labels: changelog, auto, status/backport

#6066 [user-authz] fix webhook crash on empty request data
  ee/modules/140-user-authz/images/webhook/go.mod
  ee/modules/140-user-authz/images/webhook/web/hook/handler.go
Labels: area/auth, type/dependencies, e2e/use/k8s/1.25, go

#6091 Backport: [prometheus] fix fix-permissions init-container to run under kesl security
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: auto, backported

#6090 [dhctl] feat(dhctl-for-commander): use given cluster-configuration data and dhctl state in commander mode in the destroy, bootstrap-abort and converge operations
  dhctl/cmd/dhctl/commands/destroy.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-abort.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/commander/meta_config.go
  dhctl/pkg/operations/commander/operation_params.go
  dhctl/pkg/operations/converge/converger.go
  dhctl/pkg/operations/destroy/destroy.go
Labels: area/cli, go

#6093 Changelog v1.51.10
  CHANGELOG/CHANGELOG-v1.51.10.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: changelog, status/backport

#6095 Backport: Changelog v1.51.10
  CHANGELOG/CHANGELOG-v1.51.10.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: auto, backported

#6045 [user-authn] Return 401 instead of 200 if a password authentication attempt failed
  modules/150-user-authn/images/dex/Dockerfile
  modules/150-user-authn/images/dex/patches/401-password-auth.patch
  modules/150-user-authn/images/dex/patches/README.md
Labels: area/auth

#6052 [distroless] move cloud-data-discoverer binaries to distroless
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/werf.inc.yaml
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/deployment.yaml
  modules/030-cloud-provider-aws/images/cloud-data-discoverer/werf.inc.yaml
  modules/030-cloud-provider-aws/templates/cloud-data-discoverer/deployment.yaml
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/werf.inc.yaml
  modules/030-cloud-provider-azure/templates/cloud-data-discoverer/deployment.yaml
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/werf.inc.yaml
  modules/030-cloud-provider-gcp/templates/cloud-data-discoverer/deployment.yaml
Labels: area/cloud-provider

#6094 [cloud-provider-yandex] fix working in hybrid environments
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/templates/_node_affinity.tpl
  modules/030-cloud-provider-yandex/templates/cloud-controller-manager/deployment.yaml
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/script.sh
Labels: area/cloud-provider, area/testing, area/core

#6115 [docs] Add warning about deprecated sshPublicKey parameter of the nodeUser
  modules/040-node-manager/crds/nodeuser.yaml
Labels: area/cluster-and-infrastructure, skip/documentation-validation, status/backport, area/api-change

#6116 Backport: [docs] Add warning about deprecated sshPublicKey parameter of the nodeUser
  modules/040-node-manager/crds/nodeuser.yaml
Labels: auto, backported

#6117 Backport: [cloud-provider-yandex] fix working in hybrid environments
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/templates/_node_affinity.tpl
  modules/030-cloud-provider-yandex/templates/cloud-controller-manager/deployment.yaml
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/script.sh
Labels: auto, backported

#6107 [docs][control-plane-manager] Drop sh from etcdctl member list examples
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport, type/chore

#6118 Backport: [docs][control-plane-manager] Drop sh from etcdctl member list examples
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#6092 Changelog v1.52.4
  CHANGELOG/CHANGELOG-v1.52.4.yml
  CHANGELOG/CHANGELOG-v1.52.md
Labels: changelog, auto, status/backport

#6120 Backport: Changelog v1.52.4
  CHANGELOG/CHANGELOG-v1.52.4.yml
  CHANGELOG/CHANGELOG-v1.52.md
Labels: auto, backported

#6124 [runtime-audit-engine] fix events unbuffered output mode
  ee/modules/650-runtime-audit-engine/templates/daemonset.yaml
Labels: area/security, area/compliance

#6039 Proofreading Deckhouse documentation_04.10
  modules/010-prometheus-crd/crds/doc-ru-customalertmanager.yaml
  modules/010-prometheus-crd/crds/doc-ru-grafanaadditionaldatasources.yaml
  modules/010-prometheus-crd/crds/doc-ru-grafanadashboarddefinition.yaml
  modules/010-prometheus-crd/crds/grafanadashboarddefinition.yaml
  modules/300-prometheus/crds/doc-ru-customprometheusrules.yaml
  modules/300-prometheus/crds/doc-ru-prometheusremotewrite.yaml
  modules/300-prometheus/docs/CONFIGURATION_RU.md
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
  modules/300-prometheus/openapi/config-values.yaml
  modules/300-prometheus/openapi/doc-ru-config-values.yaml
  modules/340-extended-monitoring/docs/CONFIGURATION.md
  modules/340-extended-monitoring/docs/CONFIGURATION_RU.md
  modules/340-extended-monitoring/docs/README.md
  modules/340-extended-monitoring/docs/README_RU.md
  modules/340-monitoring-custom/docs/CONFIGURATION_RU.md
  modules/340-monitoring-custom/docs/README.md
  modules/340-monitoring-custom/docs/README_RU.md
  modules/340-monitoring-kubernetes-control-plane/docs/README_RU.md
  modules/340-monitoring-kubernetes/docs/README_RU.md
  modules/340-monitoring-ping/docs/README_RU.md
  modules/340-monitoring-ping/docs/USAGE_RU.md
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/cluster-logging-config.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-logging-config.yaml
  modules/460-log-shipper/crds/doc-ru-pod-logging-config.yaml
  modules/460-log-shipper/crds/pod-logging-config.yaml
  modules/460-log-shipper/docs/ADVANCED_USAGE.md
  modules/460-log-shipper/docs/ADVANCED_USAGE_RU.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
  modules/460-log-shipper/docs/README_RU.md
  modules/460-log-shipper/openapi/doc-ru-config-values.yaml
Labels: area/monitoring, area/docs, skip/documentation-validation, area/logs, area/api-change

#6127 Backport: Proofreading Deckhouse documentation_04.10
  modules/010-prometheus-crd/crds/doc-ru-customalertmanager.yaml
  modules/010-prometheus-crd/crds/doc-ru-grafanaadditionaldatasources.yaml
  modules/010-prometheus-crd/crds/doc-ru-grafanadashboarddefinition.yaml
  modules/010-prometheus-crd/crds/grafanadashboarddefinition.yaml
  modules/300-prometheus/crds/doc-ru-customprometheusrules.yaml
  modules/300-prometheus/crds/doc-ru-prometheusremotewrite.yaml
  modules/300-prometheus/docs/CONFIGURATION_RU.md
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
  modules/300-prometheus/openapi/config-values.yaml
  modules/300-prometheus/openapi/doc-ru-config-values.yaml
  modules/340-extended-monitoring/docs/CONFIGURATION.md
  modules/340-extended-monitoring/docs/CONFIGURATION_RU.md
  modules/340-extended-monitoring/docs/README.md
  modules/340-extended-monitoring/docs/README_RU.md
  modules/340-monitoring-custom/docs/CONFIGURATION_RU.md
  modules/340-monitoring-custom/docs/README.md
  modules/340-monitoring-custom/docs/README_RU.md
  modules/340-monitoring-kubernetes-control-plane/docs/README_RU.md
  modules/340-monitoring-kubernetes/docs/README_RU.md
  modules/340-monitoring-ping/docs/README_RU.md
  modules/340-monitoring-ping/docs/USAGE_RU.md
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/cluster-logging-config.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-logging-config.yaml
  modules/460-log-shipper/crds/doc-ru-pod-logging-config.yaml
  modules/460-log-shipper/crds/pod-logging-config.yaml
  modules/460-log-shipper/docs/ADVANCED_USAGE.md
  modules/460-log-shipper/docs/ADVANCED_USAGE_RU.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
  modules/460-log-shipper/docs/README_RU.md
  modules/460-log-shipper/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#6129 [linstor] number of parallel CSI workers hardcoded
  modules/041-linstor/templates/linstor-csi/linstorcsidriver.yaml
Labels: area/storage

#6134 [candi] disable in-tree rbd plugin for k8s>=1.24
  candi/control-plane-kubeadm/config.yaml.tpl
  modules/040-control-plane-manager/images/kube-controller-manager/werf.inc.yaml
Labels: area/cluster-and-infrastructure

#6026 [linstor] automatically fix symlinks for devices
  modules/041-linstor/images/linstor-server/Dockerfile
  modules/041-linstor/images/linstor-server/patches/README.md
  modules/041-linstor/images/linstor-server/patches/fix-symlinks.patch
Labels: priority/top, area/storage

#6137 [linstor] disable usermode_helper
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-altlinux-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-centos-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-debian-like.yaml
Labels: priority/top, area/storage

#6133 [docs][extended-monitoring-exporter] Remove duplicate threshold in th…
  modules/340-extended-monitoring/docs/CONFIGURATION.md
  modules/340-extended-monitoring/docs/CONFIGURATION_RU.md
Labels: area/monitoring, area/docs, status/ok-to-test, status/backport

#6136 Changelog v1.52.5
  CHANGELOG/CHANGELOG-v1.52.5.yml
  CHANGELOG/CHANGELOG-v1.52.md
Labels: changelog, auto, status/backport

#6140 Backport: Changelog v1.52.5
  CHANGELOG/CHANGELOG-v1.52.5.yml
  CHANGELOG/CHANGELOG-v1.52.md
Labels: auto, backported

#6141 Backport: [linstor] number of parallel CSI workers hardcoded
  modules/041-linstor/templates/linstor-csi/linstorcsidriver.yaml
Labels: auto, backported

#6142 Backport: [linstor] removed HA controller
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/041-linstor/images/piraeus-ha-controller/Dockerfile
  modules/041-linstor/templates/linstor-ha-controller/daemonset.yaml
  modules/041-linstor/templates/linstor-ha-controller/rbac-for-us.yaml
  testing/library/images_tags_generated.go
Labels: auto, backported

#6143 Backport: [linstor] automatically fix symlinks for devices
  modules/041-linstor/images/linstor-server/Dockerfile
  modules/041-linstor/images/linstor-server/patches/README.md
  modules/041-linstor/images/linstor-server/patches/fix-symlinks.patch
Labels: auto, backported

#6144 Backport: [linstor] disable usermode_helper
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-altlinux-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-centos-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-debian-like.yaml
Labels: auto, backported

#6146 Changelog v1.52.5
  CHANGELOG/CHANGELOG-v1.52.5.yml
  CHANGELOG/CHANGELOG-v1.52.md
Labels: changelog, auto, status/backport

#6147 Backport: Changelog v1.52.5
  CHANGELOG/CHANGELOG-v1.52.5.yml
  CHANGELOG/CHANGELOG-v1.52.md
Labels: auto, backported

#6056 Proofreading Deckhouse documentation_05.10
  ee/modules/600-flant-integration/docs/README_RU.md
  ee/modules/600-flant-integration/openapi/doc-ru-config-values.yaml
  modules/001-priority-class/docs/README.md
  modules/001-priority-class/docs/README_RU.md
  modules/010-vertical-pod-autoscaler-crd/crds/doc-ru-verticalpodautoscaler.yaml
  modules/011-flow-schema/docs/README_RU.md
  modules/110-istio/docs/EXAMPLES.md
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/openapi/doc-ru-config-values.yaml
  modules/150-user-authn/docs/README.md
  modules/150-user-authn/docs/README_RU.md
  modules/300-prometheus/docs/internal/PROMETHEUS_RULES_DEVELOPMENT.md
  modules/300-prometheus/docs/internal/PROMETHEUS_RULES_DEVELOPMENT_RU.md
  modules/300-prometheus/openapi/config-values.yaml
  modules/301-prometheus-metrics-adapter/docs/CONFIGURATION_RU.md
  modules/301-prometheus-metrics-adapter/docs/CR.md
  modules/301-prometheus-metrics-adapter/docs/CR_RU.md
  modules/301-prometheus-metrics-adapter/docs/README_RU.md
  modules/301-prometheus-metrics-adapter/docs/USAGE.md
  modules/301-prometheus-metrics-adapter/docs/USAGE_RU.md
  modules/302-vertical-pod-autoscaler/docs/CONFIGURATION_RU.md
  modules/302-vertical-pod-autoscaler/docs/FAQ_RU.md
  modules/302-vertical-pod-autoscaler/docs/README.md
  modules/302-vertical-pod-autoscaler/docs/README_RU.md
  modules/303-prometheus-pushgateway/docs/EXAMPLES_RU.md
  modules/303-prometheus-pushgateway/openapi/doc-ru-config-values.yaml
  modules/400-descheduler/crds/doc-ru-deschedulers.yaml
  modules/400-descheduler/docs/EXAMPLES.md
  modules/400-descheduler/docs/EXAMPLES_RU.md
  modules/400-descheduler/docs/README.md
  modules/400-descheduler/docs/README_RU.md
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
  modules/462-loki/docs/EXAMPLES_RU.md
  modules/462-loki/openapi/doc-ru-config-values.yaml
  modules/465-pod-reloader/docs/CONFIGURATION_RU.md
  modules/465-pod-reloader/docs/README_RU.md
  modules/500-cilium-hubble/openapi/config-values.yaml
  modules/500-cilium-hubble/openapi/doc-ru-config-values.yaml
  modules/500-dashboard/openapi/config-values.yaml
  modules/500-dashboard/openapi/doc-ru-config-values.yaml
  modules/500-okmeter/docs/README_RU.md
  modules/500-okmeter/openapi/doc-ru-config-values.yaml
  modules/500-openvpn/openapi/config-values.yaml
  modules/500-openvpn/openapi/doc-ru-config-values.yaml
  modules/500-upmeter/crds/doc-ru-upmeterhookprobe.yaml
  modules/500-upmeter/crds/doc-ru-upmeterremotewrite.yaml
  modules/500-upmeter/docs/README.md
  modules/500-upmeter/docs/README_RU.md
  modules/500-upmeter/openapi/config-values.yaml
  modules/500-upmeter/openapi/doc-ru-config-values.yaml
  modules/810-documentation/openapi/config-values.yaml
  modules/810-documentation/openapi/doc-ru-config-values.yaml
Labels: area/docs

#6149 [docs] Minor updates
  modules/001-priority-class/docs/README.md
Labels: area/docs, skip/documentation-validation

#6152 [docs][node-group] Update FAQ
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs

#6155 Backport: [docs][node-group] Update FAQ
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#6135 [dhctl] chore(dhctl-for-commander): update logboek from 0.3 to 0.5 with changed API and significantly improved mechanics
  dhctl/go.mod
  dhctl/go.sum
  dhctl/pkg/log/logger.go
  dhctl/pkg/log/options.go
  dhctl/pkg/log/process.go
  tools/go.sum
Labels: area/testing, type/dependencies, area/cli, go

#6162 Backport: [candi] fix redos install
  ee/candi/bashible/bundles/redos/all/003_install_mandatory_packages.sh.tpl
  ee/candi/bashible/bundles/redos/bootstrap.sh.tpl
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/script.sh
Labels: auto, backported

#6153 [cloud-providers-azure] vNetCIDR field description improved
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, status/backport, area/api-change

#6166 [linstor] Removed alert about HA-controller absence
  modules/041-linstor/monitoring/prometheus-rules/linstor-ha-controller.yaml
Labels: area/storage

#6103 [prometheus] fix custom alertmanager external auth
  modules/300-prometheus/template_tests/alertmanager_ingress_test.go
  modules/300-prometheus/templates/alertmanager/internal/ingress.yaml
Labels: area/monitoring, e2e/use/k8s/1.25, e2e/cluster/failed, go

#6168 Backport: [linstor] Removed alert about HA-controller absence
  modules/041-linstor/monitoring/prometheus-rules/linstor-ha-controller.yaml
Labels: auto, backported

#6111 [ingress-nginx] backport fix for endpointslices missing conditions
  modules/402-ingress-nginx/images/controller-1-6/Dockerfile
  modules/402-ingress-nginx/images/controller-1-6/patches/README.md
  modules/402-ingress-nginx/images/controller-1-6/patches/endpointslice-missing-conditions.patch
Labels: area/network

#6172 [registrypackages] Fix disable old containerd for ubuntu 18.04
  modules/007-registrypackages/images/containerd/scripts/install
Labels: area/core, status/backport

#6174 Backport: [registrypackages] Fix disable old containerd for ubuntu 18.04
  modules/007-registrypackages/images/containerd/scripts/install
Labels: auto, backported

#6175 [docs] Update info about using d8-pull/d8-push scripts
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#6173 [runtime-audit-engine] add rules about pod start/stop
  ee/modules/650-runtime-audit-engine/templates/falco-rules.yaml
Labels: area/security, area/compliance, e2e/use/k8s/1.27

#6151 [linstor] added an init container for LINSTOR satellite, that waits for DRBD v9.x to be loaded on the node
  modules/041-linstor/images/drbd-driver-loader/Dockerfile
  modules/041-linstor/images/linstor-drbd-wait/Dockerfile
  modules/041-linstor/images/linstor-drbd-wait/entry.sh
  modules/041-linstor/images/piraeus-operator/patches/020-linux-kbuild.patch
  modules/041-linstor/templates/linstor-node/linstorsatelliteset.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/storage, go

#6179 Backport: [docs] Add note about default user from cloud.cfg
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
Labels: auto, backported

#6180 Backport: [linstor] added an init container for LINSTOR satellite, that waits for DRBD v9.x to be loaded on the node
  modules/041-linstor/images/drbd-driver-loader/Dockerfile
  modules/041-linstor/images/linstor-drbd-wait/Dockerfile
  modules/041-linstor/images/linstor-drbd-wait/entry.sh
  modules/041-linstor/images/piraeus-operator/patches/020-linux-kbuild.patch
  modules/041-linstor/templates/linstor-node/linstorsatelliteset.yaml
  testing/library/images_tags_generated.go
Labels: auto, backported

#6161 Changelog v1.52.6
  CHANGELOG/CHANGELOG-v1.52.6.yml
  CHANGELOG/CHANGELOG-v1.52.md
Labels: changelog, auto, status/backport

#6184 [dhctl] fix(dhctl-for-commander): fixed empty completedPhase param in the on-phase callback of phased-execution-context
  dhctl/pkg/infrastructure/cluster.go
  dhctl/pkg/kubernetes/actions/converge/converge.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/converge/converger.go
  dhctl/pkg/operations/destroy/destroy.go
  dhctl/pkg/operations/phases/phases.go
Labels: area/cli, go

#5973 [operator-trivy] update report-updater reference dictionary on a schedule
  .github/workflow_templates/trivy-db-schedule.yml
  .github/workflows/trivy-db-schedule.yml
  ee/modules/500-operator-trivy/images/report-updater/Dockerfile
  ee/modules/500-operator-trivy/images/report-updater/cache/cache.go
  ee/modules/500-operator-trivy/images/report-updater/go.mod
  ee/modules/500-operator-trivy/images/report-updater/go.sum
  ee/modules/500-operator-trivy/images/report-updater/main.go
  ee/modules/500-operator-trivy/images/report-updater/vulndb/cache.go
  ee/modules/500-operator-trivy/images/report-updater/vulndb/parser/parse.go
  ee/modules/500-operator-trivy/images/report-updater/web/hook/hook.go
  ee/modules/500-operator-trivy/images/report-updater/web/server.go
  ee/modules/500-operator-trivy/templates/report-updater/deployment.yaml
Labels: area/security, type/dependencies, skip/e2e, go

#6105 [descheduler] migrate descheduler to distroless
  modules/400-descheduler/images/descheduler/Dockerfile
  modules/400-descheduler/images/descheduler/werf.inc.yaml
  modules/400-descheduler/templates/deployment.yaml
Labels: area/scaling, skip/e2e

#5992 [dhctl] Reintroduce reverted #5893 and #5832
  dhctl/cmd/dhctl/commands/bootstrap/bootstrap.go
  dhctl/cmd/dhctl/commands/bootstrap/phase.go
  dhctl/cmd/dhctl/commands/converge.go
  dhctl/cmd/dhctl/commands/destroy.go
  dhctl/go.mod
  dhctl/go.sum
  dhctl/pkg/app/app.go
  dhctl/pkg/app/preflight.go
  dhctl/pkg/infrastructure/cluster.go
  dhctl/pkg/kubernetes/actions/converge/converge.go
  dhctl/pkg/log/logger.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-abort.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-base-infra.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-bashible.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-deckhouse.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-post-bootstrap.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-resources.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/bootstrap/steps.go
  dhctl/pkg/operations/bootstrap/steps_test.go
  dhctl/pkg/operations/converge/auto-converger.go
  dhctl/pkg/operations/converge/converger.go
  dhctl/pkg/operations/destroy/destroy.go
  dhctl/pkg/operations/kube.go
  dhctl/pkg/operations/phases/dhctl_state.go
  dhctl/pkg/operations/phases/phases.go
  dhctl/pkg/preflight/dhctl_obsolescence.go
  dhctl/pkg/preflight/dhctl_obsolescence_mocks_test.go
  dhctl/pkg/preflight/dhctl_obsolescence_test.go
  dhctl/pkg/preflight/preflight.go
  dhctl/pkg/preflight/suite_test.go
  dhctl/pkg/state/cache/init.go
  dhctl/pkg/system/ssh/client.go
  dhctl/pkg/system/ssh/cmd/ssh-agent.go
  dhctl/pkg/system/ssh/default.go
  dhctl/pkg/util/cache/cache.go
  werf.yaml
Labels: type/dependencies, area/cli, area/core, skip/e2e, e2e/cluster/failed, go

#5993 [ingress-nginx] Distroless kruise
  modules/402-ingress-nginx/images/kruise-state-metrics/Dockerfile
  modules/402-ingress-nginx/images/kruise-state-metrics/werf.inc.yaml
  modules/402-ingress-nginx/images/kruise/Dockerfile
  modules/402-ingress-nginx/images/kruise/werf.inc.yaml
  modules/402-ingress-nginx/templates/kruise/manager.yaml
Labels: area/network

#6169 [candi] Allow underscore in httpProxy and httpsProxy
  candi/openapi/cluster_configuration.yaml
Labels: area/cluster-and-infrastructure, area/api-change

#6084 [cert-manager] switch to distroless
  modules/101-cert-manager/images/cert-manager-acme-solver/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-cainjector/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-controller/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-webhook/werf.inc.yaml
Labels: area/security

#6028 [ingress-nginx] proxy-failover switch to distroless
  modules/000-common/images/nginx-static/werf.inc.yaml
  modules/402-ingress-nginx/images/proxy-failover-iptables/failover/main.go
  modules/402-ingress-nginx/images/proxy-failover-iptables/werf.inc.yaml
  modules/402-ingress-nginx/images/proxy-failover/Dockerfile
  modules/402-ingress-nginx/images/proxy-failover/conf/nginx.conf.tpl
  modules/402-ingress-nginx/images/proxy-failover/main.go
  modules/402-ingress-nginx/images/proxy-failover/werf.inc.yaml
  modules/402-ingress-nginx/templates/failover/daemonset.yaml
  testing/library/images_tags_generated.go
Labels: area/network, area/testing, skip/e2e, go

#6199 [chore] Change CODEOWNERS
  .github/CODEOWNERS
Labels: skip/e2e

#6187 [linstor] Improved symlink handling for devices.
  modules/041-linstor/images/linstor-server/patches/fix-symlinks.patch
Labels: area/storage

#6201 Backport: [linstor] Improved symlink handling for devices.
  modules/041-linstor/images/linstor-server/patches/fix-symlinks.patch
Labels: auto, backported

#6200 Changelog v1.52.7
  CHANGELOG/CHANGELOG-v1.52.7.yml
  CHANGELOG/CHANGELOG-v1.52.md
Labels: changelog, auto, status/backport

#6202 Backport: Changelog v1.52.7
  CHANGELOG/CHANGELOG-v1.52.7.yml
  CHANGELOG/CHANGELOG-v1.52.md
Labels: auto, backported

#6193 [candi] fix working of bootstrap cloud-networks setup scripts
  candi/bashible/bootstrap.sh.tpl
  candi/cloud-providers/yandex/bashible/bundles/ubuntu-lts/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/openstack/bashible/bundles/ubuntu-lts/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vsphere/bashible/bundles/astra/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vsphere/bashible/bundles/debian/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vsphere/bashible/bundles/ubuntu-lts/bootstrap-networks.sh.tpl
  modules/040-node-manager/templates/node-group/_bootstrap.tpl
  modules/040-node-manager/templates/node-group/_cloud_init_cloud_config.tpl
  modules/040-node-manager/templates/node-group/_static_or_hybrid_script.tpl
  testing/cloud_layouts/vSphere/Standard/resources.yaml
Labels: area/cloud-provider, area/testing, area/cluster-and-infrastructure

#6207 [dhctl] FIX AWS install
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
  dhctl/pkg/kubernetes/actions/deckhouse/install_test.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
Labels: area/cli, go

#6208 [docs][extended-monitoring] Documentation updates
  modules/340-extended-monitoring/docs/CONFIGURATION.md
  modules/340-extended-monitoring/docs/CONFIGURATION_RU.md
Labels: area/monitoring, area/docs

#6211 Backport: [docs][extended-monitoring] Documentation updates
  modules/340-extended-monitoring/docs/CONFIGURATION.md
  modules/340-extended-monitoring/docs/CONFIGURATION_RU.md
Labels: auto, backported

#6210 [candi] Revert curl version pinning for Red OS
  ee/candi/bashible/bundles/redos/all/003_install_mandatory_packages.sh.tpl
  ee/candi/bashible/bundles/redos/bootstrap.sh.tpl
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.25

#6106 [user-authn] Make the spec.userID parameter of the User resource as deprecated
  modules/010-user-authn-crd/crds/doc-ru-user.yaml
  modules/010-user-authn-crd/crds/user.yaml
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
  modules/150-user-authn/hooks/get_dex_user_crds.go
  modules/150-user-authn/hooks/get_dex_user_crds_test.go
  modules/150-user-authn/template_tests/dex_config_test.go
  modules/150-user-authn/template_tests/user_test.go
  modules/150-user-authn/templates/dex/passwords.yaml
  modules/150-user-authn/webhooks/validating/user
Labels: area/auth, area/docs, go, area/api-change

#6215 [bashible] Add Altlinux 10.0, 10.2 support
  ee/candi/bashible/detect_bundle.sh
Labels: area/cluster-and-infrastructure

#6203 [linstor] changes in controller liveness probe
  modules/041-linstor/images/linstor-server/liveness.sh
  modules/041-linstor/images/piraeus-operator/patches/050-change-liveness-probe.patch
Labels: area/storage

#6219 Backport: [linstor] changes in controller liveness probe
  modules/041-linstor/images/linstor-server/liveness.sh
  modules/041-linstor/images/piraeus-operator/patches/050-change-liveness-probe.patch
Labels: auto, backported

#6218 Changelog v1.52.8
  CHANGELOG/CHANGELOG-v1.52.8.yml
  CHANGELOG/CHANGELOG-v1.52.md
Labels: changelog, auto, status/backport

#6220 Backport: Changelog v1.52.8
  CHANGELOG/CHANGELOG-v1.52.8.yml
  CHANGELOG/CHANGELOG-v1.52.md
Labels: auto, backported

#6212 [global] Remove AlterOS support
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_data/version_map_addition.yml
  ee/candi/bashible/bashbooster/55_ee_distro_version.sh
  ee/candi/bashible/bundles/alteros/all/002_install_ca_certificates.sh.tpl
  ee/candi/bashible/bundles/alteros/all/003_install_mandatory_packages.sh.tpl
  ee/candi/bashible/bundles/alteros/all/004_disable_firewalld.sh.tpl
  ee/candi/bashible/bundles/alteros/all/004_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/alteros/bootstrap.sh.tpl
  ee/candi/bashible/bundles/alteros/node-group/004_install_mandatory_packages_for_cloud_nodes.sh.tpl
  ee/candi/bashible/detect_bundle.sh
  ee/candi/version_map.yml
  ee/modules/030-cloud-provider-openstack/hooks/discover_test.go
  ee/modules/040-node-manager/openapi/config-values.yaml
  ee/modules/040-node-manager/openapi/openapi-case-tests.yaml
  ee/modules/600-flant-integration/images/flant-pricing/hooks/prometheus_metrics.sh
  modules/040-node-manager/openapi/openapi-case-tests.yaml
  tools/build_includes/candi-EE.yaml
  tools/build_includes/candi-FE.yaml
Labels: area/kubernetes, area/cloud-provider, area/testing, area/docs, area/cluster-and-infrastructure, skip/documentation-validation, go, area/api-change

#6214 [extended-monitoring] remove unless kube-eviction from node-usage rules
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/node.yaml
Labels: area/monitoring

#6227 Backport: [extended-monitoring] remove unless kube-eviction from node-usage rules
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/node.yaml
Labels: auto, backported

#6225 [deckhouse] Fix bash completion
  deckhouse-controller/files/bashrc
Labels: type/bug, area/core

#5926 [dhctl] Check if registry can be reached through proxy
  dhctl/pkg/app/preflight.go
  dhctl/pkg/config/meta.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/preflight/preflight.go
  dhctl/pkg/preflight/registry.go
  dhctl/pkg/preflight/registry_test.go
  dhctl/pkg/preflight/ssh.go
  dhctl/pkg/preflight/suite_test.go
Labels: area/cli, skip/e2e, go

#6191 [monitoring-kubernetes] Remove non-running pods from requested and unrequested resources calculation in dashboard
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/capacity-planning/capacity-planning.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/namespaces.json
Labels: area/monitoring, source/internal-client

#6232 [runtime-audit-engine] Set Notice priority for rules requiring notification of security officer
  ee/modules/650-runtime-audit-engine/templates/falco-rules.yaml
Labels: area/security

#6182 [module] Add description
  go.mod
  go.sum
  modules/002-deckhouse/crds/doc-ru-module.yaml
  modules/002-deckhouse/crds/module.yaml
  modules/002-deckhouse/hooks/pkg/apis/v1alpha1/module.go
  modules/005-external-module-manager/module.yaml
  tools/go.mod
  tools/go.sum
Labels: area/testing, type/dependencies, area/core, skip/e2e, e2e/use/k8s/1.25, area/modules, go, area/api-change

#6126 [podreloader] distroless
  modules/465-pod-reloader/images/pod-reloader/Dockerfile
  modules/465-pod-reloader/images/pod-reloader/werf.inc.yaml
Labels: area/cluster-and-infrastructure

#6099 [vertical-pod-autoscaler] Distroless
  modules/302-vertical-pod-autoscaler/images/admission-controller/Dockerfile
  modules/302-vertical-pod-autoscaler/images/admission-controller/werf.inc.yaml
  modules/302-vertical-pod-autoscaler/images/recommender/Dockerfile
  modules/302-vertical-pod-autoscaler/images/recommender/werf.inc.yaml
  modules/302-vertical-pod-autoscaler/images/updater/Dockerfile
  modules/302-vertical-pod-autoscaler/images/updater/werf.inc.yaml
  modules/302-vertical-pod-autoscaler/images/vertical-pod-autoscaler/patches/recommender.patch
  modules/302-vertical-pod-autoscaler/images/vertical-pod-autoscaler/werf.inc.yaml
Labels: area/scaling

#6230 [docs][capi] Documentation updates
  candi/openapi/doc-ru-node_group.yaml
  docs/documentation/werf-git-section.inc.yaml
  modules/040-node-manager/crds/doc-ru-nodegroupconfiguration.yaml
Labels: area/docs, area/cluster-and-infrastructure, skip/documentation-validation, area/api-change

#5955 [dhctl] Bootstrap deckhouse with a version tag instead of release channel tag and refactor preflight checks messages
  candi/bashible/preflight/check_localhost.sh
  candi/bashible/preflight/check_ports.sh
  dhctl/go.mod
  dhctl/pkg/app/preflight.go
  dhctl/pkg/kubernetes/actions/deckhouse/delete.go
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/preflight/dhctl_obsolescence.go
  dhctl/pkg/preflight/dhctl_obsolescence_test.go
  dhctl/pkg/preflight/domain.go
  dhctl/pkg/preflight/ports.go
  dhctl/pkg/preflight/preflight.go
  dhctl/pkg/preflight/registry.go
  dhctl/pkg/preflight/ssh.go
  dhctl/pkg/preflight/suite_test.go
  dhctl/pkg/util/retry/retry.go
Labels: area/cluster-and-infrastructure, type/dependencies, area/cli, skip/e2e, go

#6171 [log-shipper] Add Kafka SASL auth settings
  modules/460-log-shipper/apis/v1alpha1/cluster_log_destination.go
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
  modules/460-log-shipper/hooks/internal/vector/destination/kafka.go
  modules/460-log-shipper/hooks/testdata/file-to-kafka/manifests.yaml
  modules/460-log-shipper/hooks/testdata/file-to-kafka/result.json
Labels: area/logs, go, area/api-change

#6125 [metallb] Distroless
  ee/modules/380-metallb/images/artifact/werf.inc.yaml
  ee/modules/380-metallb/images/controller/Dockerfile
  ee/modules/380-metallb/images/controller/werf.inc.yaml
  ee/modules/380-metallb/images/speaker/Dockerfile
  ee/modules/380-metallb/images/speaker/werf.inc.yaml
  ee/modules/380-metallb/templates/controller/rbac-for-us.yaml
  ee/modules/380-metallb/templates/speaker/rbac-for-us.yaml
Labels: area/network

#6229 [deckhouse] don't respect DeckhouseRelease applyAfter on manual updates
  modules/002-deckhouse/hooks/check_deckhouse_release_test.go
  modules/002-deckhouse/hooks/internal/updater/updater.go
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
Labels: status/backport, e2e/use/k8s/1.25, e2e/cluster/failed, go

#6249 Backport: [deckhouse] don't respect DeckhouseRelease applyAfter on manual updates
  modules/002-deckhouse/hooks/check_deckhouse_release_test.go
  modules/002-deckhouse/hooks/internal/updater/updater.go
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
Labels: auto, backported

#5094 Improved the seeding and usage of rand
  dhctl/pkg/util/fs/random.go
  dhctl/pkg/util/fs/random_test.go
  dhctl/pkg/util/stringsutil/strings.go
  dhctl/pkg/util/stringsutil/strings_test.go
  modules/040-control-plane-manager/hooks/rollout_epoch.go
  modules/040-node-manager/hooks/chaos_monkey.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/pipeline_node.go
  modules/500-upmeter/images/upmeter/pkg/probe/checker/smoke_mini.go
  modules/500-upmeter/images/upmeter/pkg/probe/run/id.go
Labels: area/monitoring, area/cluster-and-infrastructure, area/cli, status/ok-to-test, go

#6251 [docs] Update ansible batch nodes
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport

#6259 Backport: [docs] Update ansible batch nodes
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#6260 Backport: [docs] Update ansible batch nodes
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#6258 [pod-reloader] Run as deckhouse user
  modules/465-pod-reloader/templates/deployment.yaml
  modules/465-pod-reloader/templates/rbac-for-us.yaml
Labels: area/cluster-and-infrastructure, status/backport

#6262 Backport: [pod-reloader] Run as deckhouse user
  modules/465-pod-reloader/templates/deployment.yaml
  modules/465-pod-reloader/templates/rbac-for-us.yaml
Labels: auto, backported

#6250 [dhctl] Add SSH debug options if dhctl debug is enabled and increase ssh timeouts
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
  dhctl/pkg/kubernetes/actions/deckhouse/install_test.go
  dhctl/pkg/system/ssh/cmd/scp.go
  dhctl/pkg/system/ssh/cmd/ssh.go
Labels: area/cli, status/backport, skip/e2e, go

#6264 Backport: [dhctl] Add SSH debug options if dhctl debug is enabled and increase ssh timeouts
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
  dhctl/pkg/kubernetes/actions/deckhouse/install_test.go
  dhctl/pkg/system/ssh/cmd/scp.go
  dhctl/pkg/system/ssh/cmd/ssh.go
Labels: auto, backported

#6263 [docs][node-manager] Hide staticcluster CRD on the site
  docs/documentation/werf-git-section.inc.yaml
Labels: area/docs, status/backport

#6265 Backport: [docs][node-manager] Hide staticcluster CRD on the site
  docs/documentation/werf-git-section.inc.yaml
Labels: auto, backported
