Repository deckhouse/deckhouse, pull requests merged in 2023-09, with the labels that each got.

#5688 [operator-trivy] Fix constant creation and deletion of node-collector pods
  ee/modules/500-operator-trivy/images/operator/Dockerfile
  ee/modules/500-operator-trivy/images/operator/patches/003-fix-node-selector.patch
  ee/modules/500-operator-trivy/images/operator/patches/README.md
  ee/modules/500-operator-trivy/template_tests/template_test.go
  ee/modules/500-operator-trivy/templates/_helpers.tpl
  ee/modules/500-operator-trivy/templates/configmap.yaml
  ee/modules/500-operator-trivy/templates/deployment.yaml
Labels: area/security, type/bug, skip/e2e, go

#5616 [deckhouse-controller] added prometeus logs to the debugging information
  deckhouse-controller/pkg/debug/debug.go
  modules/002-deckhouse/docs/FAQ.md
  modules/002-deckhouse/docs/FAQ_RU.md
Labels: area/docs, area/core, go

#5643 [docs][terraform-manager] Minor documentation updates
  modules/040-terraform-manager/docs/CONFIGURATION.md
  modules/040-terraform-manager/docs/CONFIGURATION_RU.md
  modules/040-terraform-manager/docs/README.md
  modules/040-terraform-manager/docs/README_RU.md
  modules/040-terraform-manager/openapi/config-values.yaml
  modules/040-terraform-manager/openapi/doc-ru-config-values.yaml
Labels: area/docs, area/cluster-and-infrastructure, area/api-change

#5406 [candi] in some cases /opt/deckhouse/bin not in the PATH fix #5043
  candi/bashible/common-steps/all/003_add_deckhouse_path.sh.tpl
Labels: area/cluster-and-infrastructure

#5641 [deckhouse] Set ready and converging status for module configs
  go_lib/deckhouse-config/service.go
  go_lib/deckhouse-config/status.go
  modules/002-deckhouse/crds/doc-ru-module.yaml
  modules/002-deckhouse/crds/module.yaml
  modules/002-deckhouse/hooks/dconfig_update_status.go
  modules/002-deckhouse/hooks/dconfig_update_status_test.go
  modules/002-deckhouse/hooks/pkg/apis/v1alpha1/module.go
  modules/005-external-module-manager/hooks/apply_release.go
  modules/005-external-module-manager/hooks/cleanup_releases.go
  modules/005-external-module-manager/hooks/cleanup_releases_test.go
Labels: area/core, area/modules, go, area/api-change

#5618 [linstor] Added section about data nodes nodeSelector in docs
  modules/041-linstor/docs/ADVANCED_USAGE.md
  modules/041-linstor/docs/ADVANCED_USAGE_RU.md
  modules/041-linstor/docs/CONFIGURATION.md
  modules/041-linstor/docs/CONFIGURATION_RU.md
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/041-linstor/docs/USAGE.md
  modules/041-linstor/docs/USAGE_RU.md
  modules/041-linstor/openapi/config-values.yaml
  modules/041-linstor/openapi/doc-ru-config-values.yaml
Labels: area/docs, area/storage, area/api-change

#5703 Backport: [docs][terraform-manager] Minor documentation updates
  modules/040-terraform-manager/docs/CONFIGURATION.md
  modules/040-terraform-manager/docs/CONFIGURATION_RU.md
  modules/040-terraform-manager/docs/README.md
  modules/040-terraform-manager/docs/README_RU.md
  modules/040-terraform-manager/openapi/config-values.yaml
  modules/040-terraform-manager/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#5694 [runtime-audit-engine] move rules-reloader build to werf
  .gitignore
  ee/modules/650-runtime-audit-engine/images/rules-loader/Dockerfile
  ee/modules/650-runtime-audit-engine/images/rules-loader/werf.inc.yaml
  modules/000-common/images/shell-operator/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/security, area/testing, skip/e2e, area/compliance, go

#5708 [dhctl] Add information about deckhouse pod is ready and deckhouse cluster created successfully
  dhctl/cmd/dhctl/commands/bootstrap/bootstrap.go
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
Labels: area/cli, skip/e2e, go

#5711 [deckhouse-controller] Fix panic on defaulting an array without items schema
  go.mod
  go.sum
  tools/go.sum
Labels: area/testing, type/dependencies, area/core

#5522 [admission-policy-engine] Distroless
  modules/015-admission-policy-engine/images/constraint-exporter/Dockerfile
  modules/015-admission-policy-engine/images/gatekeeper/Dockerfile
  modules/015-admission-policy-engine/templates/audit-deployment.yaml
  modules/015-admission-policy-engine/templates/gatekeeper-deployment.yaml
Labels: area/security

#5713 [deckhouse] Remove images copier from deckhouse module
  modules/002-deckhouse/docs/internal/IMAGE_COPIER.md
  modules/002-deckhouse/hooks/images_copier.go
  modules/002-deckhouse/hooks/images_copier_test.go
  modules/002-deckhouse/images/images-copier/Dockerfile
  modules/002-deckhouse/images/images-copier/copy-images.sh
  modules/002-deckhouse/images/images-copier/generate-copier-secret.sh
  testing/library/images_tags_generated.go
Labels: area/testing, area/docs, skip/e2e, go

#5710 [external-module-manager] Deckhouse module source
  ee/modules/600-flant-integration/hooks/pricing/envs_from_deckhouse_secret.go
  ee/modules/600-flant-integration/hooks/pricing/envs_from_deckhouse_secret_test.go
  modules/002-deckhouse/templates/registration.yaml
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source.go
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source_test.go
  modules/005-external-module-manager/hooks/handle_sources.go
  modules/005-external-module-manager/hooks/internal/apis/v1alpha1/source.go
Labels: area/modules, go, status/blocker

#5706 [go_lib] Change generate password hook
  go_lib/hooks/generate_password/hook.go
  go_lib/hooks/generate_password/hook_test.go
  modules/110-istio/hooks/generate_password.go
  modules/110-istio/hooks/generate_password_test.go
  modules/300-prometheus/hooks/generate_password.go
  modules/300-prometheus/hooks/generate_password_test.go
  modules/300-prometheus/templates/alertmanager/internal/ingress.yaml
  modules/500-cilium-hubble/hooks/generate_password.go
  modules/500-cilium-hubble/hooks/generate_password_test.go
  modules/500-dashboard/hooks/generate_password.go
  modules/500-dashboard/hooks/generate_password_test.go
  modules/500-openvpn/hooks/generate_password.go
  modules/500-openvpn/hooks/generate_password_test.go
  modules/810-documentation/hooks/generate_password.go
  modules/810-documentation/hooks/generate_password_test.go
Labels: area/monitoring, area/network, area/security, area/docs, area/core, area/ui, go

#5469 [linstor] update controller version to 1.24.1, update drbd version to 9.2.5
  modules/007-registrypackages/images/drbd/werf.inc.yaml
  modules/041-linstor/hack/update.sh
  modules/041-linstor/images/drbd-driver-loader/Dockerfile
  modules/041-linstor/images/drbd-reactor/Dockerfile
  modules/041-linstor/images/linstor-server/Dockerfile
  modules/041-linstor/images/piraeus-ha-controller/Dockerfile
  modules/041-linstor/images/piraeus-operator/Dockerfile
  modules/041-linstor/images/piraeus-operator/patches/020-linux-kbuild.patch
  modules/041-linstor/images/piraeus-operator/patches/030-add-selinux-support.patch
  modules/041-linstor/images/piraeus-operator/patches/050-bump-k8s-api-versions-and-client.patch
  modules/041-linstor/images/piraeus-operator/patches/README.md
  modules/041-linstor/images/spaas/Dockerfile
  modules/041-linstor/openapi/values.yaml
  modules/041-linstor/templates/linstor-controller/rbac-for-us.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-altlinux-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-centos-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-debian-like.yaml
  testing/cloud_layouts/Static/astra-instance-bootstrap.sh
  testing/library/images_tags_generated.go
Labels: area/testing, area/core, area/storage, e2e/cluster/failed, go, area/api-change

#5716 [runtime-audit-engine] Support 3.8 python webhook
  ee/modules/650-runtime-audit-engine/images/rules-loader/hooks/webhook/webhook.py
  ee/modules/650-runtime-audit-engine/images/rules-loader/requirements.txt
Labels: area/security, python

#5717 [docs][user-authz] Update clusterAuthorizationRule spec
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/140-user-authz/crds/doc-ru-clusterauthorizationrule.yaml
Labels: area/auth, status/backport, area/api-change

#5721 Backport: [docs][user-authz] Update clusterAuthorizationRule spec
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/140-user-authz/crds/doc-ru-clusterauthorizationrule.yaml
Labels: auto, backported

#5718 [external-module-manager] Fix modules migration hook
  deckhouse-controller/files/kubectl_wrapper.sh
  global-hooks/migrate/migrate_modules.go
  global-hooks/migrate/migrate_modules_crds.go
  modules/005-external-module-manager/crds/external-module-source.yaml
  modules/005-external-module-manager/crds/module-source.yaml
Labels: area/core, skip/documentation-validation, status/backport, area/modules, go, area/api-change

#5723 Backport: [external-module-manager] Fix modules migration hook
  deckhouse-controller/files/kubectl_wrapper.sh
  global-hooks/migrate/migrate_modules.go
  global-hooks/migrate/migrate_modules_crds.go
  modules/005-external-module-manager/crds/external-module-source.yaml
  modules/005-external-module-manager/crds/module-source.yaml
Labels: auto, backported

#5734 [global] Fix hostname for endpointslices
  global-hooks/create_endpoints.go
Labels: area/core, status/backport, go

#5735 Backport: [global] Fix hostname for endpointslices
  global-hooks/create_endpoints.go
Labels: auto, backported

#5515 [distroless] monitoring kubernetes
  modules/340-monitoring-kubernetes/images/kube-state-metrics/Dockerfile
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/Dockerfile
  modules/340-monitoring-kubernetes/images/node-exporter/Dockerfile
  modules/340-monitoring-kubernetes/templates/kube-state-metrics/deployment.yaml
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
Labels: area/monitoring

#5511 [user-authz] Distroless
  ee/modules/140-user-authz/images/webhook/Dockerfile
  ee/modules/140-user-authz/templates/webhook/daemonset.yaml
Labels: area/auth

#5521 [operator-trivy] Distroless
  ee/modules/500-operator-trivy/images/node-collector/Dockerfile
  ee/modules/500-operator-trivy/images/operator/Dockerfile
  ee/modules/500-operator-trivy/images/trivy/Dockerfile
  ee/modules/500-operator-trivy/templates/configmap.yaml
  ee/modules/500-operator-trivy/templates/deployment.yaml
Labels: area/security

#5738 [common] kubernetes add build from own repo
  modules/000-common/images/kubernetes/werf.inc.yaml
  modules/000-common/images/pause/werf.inc.yaml
Labels: e2e/use/k8s/1.26, e2e/use/k8s/1.23, e2e/use/k8s/1.24, e2e/use/k8s/1.27

#5520 [node-manager] Distroless
  modules/040-node-manager/images/bashible-apiserver/werf.inc.yaml
  modules/040-node-manager/images/cluster-autoscaler/werf.inc.yaml
  modules/040-node-manager/images/early-oom/Dockerfile
  modules/040-node-manager/images/machine-controller-manager/werf.inc.yaml
  modules/040-node-manager/templates/bashible-apiserver/deployment.yaml
  modules/040-node-manager/templates/cluster-autoscaler/deployment.yaml
  modules/040-node-manager/templates/machine-controller-manager/deployment.yaml
Labels: area/cluster-and-infrastructure

#5679 [cloud-provider-yandex] Fix calculate disks limit in csi driver
  modules/030-cloud-provider-yandex/images/yandex-csi-plugin/Dockerfile
Labels: area/cloud-provider

#5697 [candi] Clean /tmp after bootstrap
  candi/bashible/common-steps/cluster-bootstrap/098_cleanup_after_cluster_bootstrap.sh.tpl
Labels: area/cluster-and-infrastructure

#5746 Backport: [candi] fix migrate cluster from one edition to another
  candi/bashible/common-steps/node-group/001_configure_kubernetes_api_proxy.sh.tpl
  candi/bashible/common-steps/node-group/051_pull_and_configure_kubernetes_api_proxy.sh.tpl
  candi/bashible/common-steps/node-group/051_pull_kubernetes_api_proxy.sh.tpl
  deckhouse-controller/pkg/helpers/change_registry/change_registry.go
Labels: auto, backported

#5747 Changelog v1.50.6
  CHANGELOG/CHANGELOG-v1.50.6.yml
  CHANGELOG/CHANGELOG-v1.50.md
Labels: changelog, auto, status/backport

#5748 Backport: Changelog v1.50.6
  CHANGELOG/CHANGELOG-v1.50.6.yml
  CHANGELOG/CHANGELOG-v1.50.md
Labels: auto, backported

#5506 Changelog v1.51.0
  CHANGELOG/CHANGELOG-v1.51.0.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: changelog, auto, status/backport

#5752 Backport: Changelog v1.51.0
  CHANGELOG/CHANGELOG-v1.51.0.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: auto, backported

#5742 [prometheus] Change build dashboard-loader from docker file to werf
  modules/300-prometheus/images/grafana-dashboard-provisioner/Dockerfile
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.py
  modules/300-prometheus/images/grafana-dashboard-provisioner/requirements.txt
  modules/300-prometheus/images/grafana-dashboard-provisioner/werf.inc.yaml
Labels: area/monitoring, skip/e2e, python

#5755 Revert "[linstor] update controller version to 1.24.1, update drbd ve…
  modules/007-registrypackages/images/drbd/werf.inc.yaml
  modules/041-linstor/hack/update.sh
  modules/041-linstor/images/drbd-driver-loader/Dockerfile
  modules/041-linstor/images/drbd-reactor/Dockerfile
  modules/041-linstor/images/linstor-server/Dockerfile
  modules/041-linstor/images/piraeus-ha-controller/Dockerfile
  modules/041-linstor/images/piraeus-operator/Dockerfile
  modules/041-linstor/images/piraeus-operator/patches/020-linux-kbuild.patch
  modules/041-linstor/images/piraeus-operator/patches/030-add-selinux-support.patch
  modules/041-linstor/images/piraeus-operator/patches/050-bump-k8s-api-versions-and-client.patch
  modules/041-linstor/images/piraeus-operator/patches/README.md
  modules/041-linstor/images/spaas/Dockerfile
  modules/041-linstor/openapi/values.yaml
  modules/041-linstor/templates/linstor-controller/rbac-for-us.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-altlinux-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-centos-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-debian-like.yaml
  testing/cloud_layouts/Static/astra-instance-bootstrap.sh
  testing/library/images_tags_generated.go
Labels: area/testing, area/core, area/storage, go, area/api-change

#5758 [linstor] Add the 'make clean' command
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-altlinux-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-centos-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-debian-like.yaml
Labels: area/storage

#5765 [flant-integration] Fix connect madison registration
  ee/modules/600-flant-integration/hooks/madison/registration.go
  ee/modules/600-flant-integration/hooks/madison/registration_test.go
Labels: skip/e2e, go

#5750 [common] common images build from own repo
  modules/000-common/images/check-kernel-version/Dockerfile
  modules/000-common/images/check-kernel-version/werf.inc.yaml
  modules/000-common/images/iptables-wrapper/Dockerfile
  modules/000-common/images/iptables-wrapper/werf.inc.yaml
  modules/000-common/images/kube-rbac-proxy/Dockerfile
  modules/000-common/images/kube-rbac-proxy/patches/001-stale-cache.patch
  modules/000-common/images/kube-rbac-proxy/patches/002-config.patch
  modules/000-common/images/kube-rbac-proxy/patches/003-livez.patch
  modules/000-common/images/kube-rbac-proxy/patches/004-insecure-upstream.patch
  modules/000-common/images/kube-rbac-proxy/patches/005-preserve-auth-header.patch
  modules/000-common/images/kube-rbac-proxy/patches/006-secure-listen-address.patch
  modules/000-common/images/kube-rbac-proxy/werf.inc.yaml
  werf.yaml
Labels: area/core

#5781 [user-authn][docs] Update description of the namespaceSelector parameter
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/140-user-authz/crds/doc-ru-clusterauthorizationrule.yaml
Labels: area/auth, status/backport, area/api-change

#5782 Backport: [user-authn][docs] Update description of the namespaceSelector parameter
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/140-user-authz/crds/doc-ru-clusterauthorizationrule.yaml
Labels: auto, backported

#5677 [candi] Rename vendored containerd.service into containerd-deckhouse.service
  candi/bashible/common-steps/node-group/002_add_system_proxy.sh.tpl
  candi/bashible/common-steps/node-group/031_install_containerd.sh.tpl
  candi/bashible/common-steps/node-group/050_configure_and_start_containerd.sh.tpl
  modules/007-registrypackages/images/containerd/scripts/install
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  tools/astra_integrity_check/main.go
  tools/astra_integrity_check/pre_run.go
  tools/astra_integrity_check/result_xml.go
  tools/astra_integrity_check/run_test.sh
Labels: area/testing, area/docs, area/cluster-and-infrastructure, area/core, go

#5722 [node-manager][deckhouse-controller] bashible-apiserver readiness probe tied to deckhouse readiness
  deckhouse-controller/pkg/helpers/change_registry/change_registry.go
  modules/040-node-manager/images/bashible-apiserver/pkg/apiserver/readyz/deckhouse_deploy_ready_check.go
  modules/040-node-manager/images/bashible-apiserver/pkg/cmd/server/start.go
  modules/040-node-manager/templates/bashible-apiserver/rbac-for-us.yaml
Labels: area/cluster-and-infrastructure, area/core, go

#5783 Distroless prometheus
  modules/300-prometheus/images/grafana/Dockerfile
  modules/300-prometheus/images/prometheus/Dockerfile
  modules/300-prometheus/images/trickster/Dockerfile
Labels: area/monitoring, e2e/cluster/failed

#5789 Backport: Distroless prometheus
  modules/300-prometheus/images/grafana/Dockerfile
  modules/300-prometheus/images/prometheus/Dockerfile
  modules/300-prometheus/images/trickster/Dockerfile
Labels: auto, backported

#5778 [cloud-provider-openstack] fix ignoreVolumeMicroversion parameter appliance for k8s>1.24
  ee/modules/030-cloud-provider-openstack/template_tests/module_test.go
  ee/modules/030-cloud-provider-openstack/templates/cloud-controller-manager/secret.yaml
Labels: area/cloud-provider, status/backport, go

#5790 Backport: [cloud-provider-openstack] fix ignoreVolumeMicroversion parameter appliance for k8s>1.24
  ee/modules/030-cloud-provider-openstack/template_tests/module_test.go
  ee/modules/030-cloud-provider-openstack/templates/cloud-controller-manager/secret.yaml
Labels: auto, backported

#5788 Changelog v1.51.0
  CHANGELOG/CHANGELOG-v1.51.0.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: changelog, auto, status/backport

#5791 Backport: Changelog v1.51.0
  CHANGELOG/CHANGELOG-v1.51.0.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: auto, backported

#5793 [external-module-manager] Fix panic if there are no resources for migration
  global-hooks/migrate/migrate_modules.go
Labels: area/core, status/backport, go

#5796 Backport: [external-module-manager] Fix panic if there are no resources for migration
  global-hooks/migrate/migrate_modules.go
Labels: auto, backported

#5795 Changelog v1.51.0
  CHANGELOG/CHANGELOG-v1.51.0.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: changelog, auto, status/backport

#5797 Backport: Changelog v1.51.0
  CHANGELOG/CHANGELOG-v1.51.0.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: auto, backported

#5794 [log-shipper] fix Dockerfile
  modules/460-log-shipper/images/vector/Dockerfile
Labels: area/logs

#5712 [prometheus] Change description and formula for oldest metrics panel
  modules/300-prometheus/images/grafana/grafana_home_dashboard.json
Labels: area/monitoring

#5801 [testing] Fix openapi validation
  testing/openapi_validation/library.go
  testing/openapi_validation/validators/enum.go
  testing/openapi_validation/validators/ha_and_https.go
Labels: area/testing, skip/e2e, go

#5168 [runtime-audit-engine] improve docs
  docs/documentation/_data/sidebars/main.yml
  ee/modules/650-runtime-audit-engine/docs/ADVANCED_USAGE.md
  ee/modules/650-runtime-audit-engine/docs/ADVANCED_USAGE_RU.md
  ee/modules/650-runtime-audit-engine/docs/EXAMPLES.md
  ee/modules/650-runtime-audit-engine/docs/EXAMPLES_RU.md
  ee/modules/650-runtime-audit-engine/docs/FAQ.md
  ee/modules/650-runtime-audit-engine/docs/FAQ_RU.md
  ee/modules/650-runtime-audit-engine/docs/README.md
  ee/modules/650-runtime-audit-engine/docs/README_RU.md
  ee/modules/650-runtime-audit-engine/openapi/config-values.yaml
  ee/modules/650-runtime-audit-engine/openapi/doc-ru-config-values.yaml
  ee/modules/650-runtime-audit-engine/templates/daemonset.yaml
Labels: area/security, status/on-hold, area/docs, area/api-change

#5803 [docs][operator-trivy] Add OpenAPI spec to the documentation and mino…
  ee/modules/500-operator-trivy/docs/CONFIGURATION.md
  ee/modules/500-operator-trivy/docs/CONFIGURATION_RU.md
  ee/modules/500-operator-trivy/docs/FAQ.md
  ee/modules/500-operator-trivy/docs/FAQ_RU.md
  ee/modules/500-operator-trivy/docs/README.md
  ee/modules/500-operator-trivy/docs/README_RU.md
  ee/modules/500-operator-trivy/openapi/config-values.yaml
  ee/modules/500-operator-trivy/openapi/doc-ru-config-values.yaml
Labels: area/security, area/docs, status/backport, area/api-change

#5805 Backport: [docs][operator-trivy] Add OpenAPI spec to the documentation and mino…
  ee/modules/500-operator-trivy/docs/CONFIGURATION.md
  ee/modules/500-operator-trivy/docs/CONFIGURATION_RU.md
  ee/modules/500-operator-trivy/docs/FAQ.md
  ee/modules/500-operator-trivy/docs/FAQ_RU.md
  ee/modules/500-operator-trivy/docs/README.md
  ee/modules/500-operator-trivy/docs/README_RU.md
  ee/modules/500-operator-trivy/openapi/config-values.yaml
  ee/modules/500-operator-trivy/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#5787 [runtime-audit-engine] Add fstec falco rules
  ee/modules/650-runtime-audit-engine/docs/README.md
  ee/modules/650-runtime-audit-engine/docs/README_RU.md
  ee/modules/650-runtime-audit-engine/rules/falco_rules.yaml
  ee/modules/650-runtime-audit-engine/templates/falco-rules.yaml
Labels: area/security, area/docs

#5810 [docs][node-manager] Minor documentation updates
  modules/040-node-manager/docs/CONFIGURATION.md
  modules/040-node-manager/docs/CONFIGURATION_RU.md
  modules/040-node-manager/docs/CR.md
  modules/040-node-manager/docs/CR_RU.md
  modules/040-node-manager/docs/EXAMPLES.md
  modules/040-node-manager/docs/EXAMPLES_RU.md
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport

#5812 Backport: [docs][node-manager] Minor documentation updates
  modules/040-node-manager/docs/CONFIGURATION.md
  modules/040-node-manager/docs/CONFIGURATION_RU.md
  modules/040-node-manager/docs/CR.md
  modules/040-node-manager/docs/CR_RU.md
  modules/040-node-manager/docs/EXAMPLES.md
  modules/040-node-manager/docs/EXAMPLES_RU.md
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#5762 [delivery] Fix customCertificate
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  ee/modules/502-delivery/hooks/https/copy_custom_certificate.go
  ee/modules/502-delivery/openapi/values.yaml
  ee/modules/502-delivery/template_tests/copy_custom_certificate_test.go
  ee/modules/502-delivery/templates/argocd/argocd-cm-configmap.yaml
Labels: area/core, go, area/delivery, area/api-change

#5817 [docs] Update content of the getting started
  docs/site/pages/getting_started/getting_started_ru.html
Labels: area/docs

#5819 [guide] Update LB diagram
  docs/site/images/guides/going_to_production/ingress-inlet-ru.svg
  docs/site/images/guides/going_to_production/ingress-inlet.svg
  docs/site/pages/guides/ingress-inlet-ru.puml
  docs/site/pages/guides/ingress-inlet.puml
Labels: area/docs

#5821 Backport: [docs][node-manager] Minor documentation updates
  modules/040-node-manager/docs/CONFIGURATION.md
  modules/040-node-manager/docs/CONFIGURATION_RU.md
  modules/040-node-manager/docs/CR.md
  modules/040-node-manager/docs/CR_RU.md
  modules/040-node-manager/docs/EXAMPLES.md
  modules/040-node-manager/docs/EXAMPLES_RU.md
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#5815 [deckhouse] Fix deckhouse port
  modules/002-deckhouse/templates/deployment.yaml
Labels: status/backport, skip/e2e

#5822 Backport: [deckhouse] Fix deckhouse port
  modules/002-deckhouse/templates/deployment.yaml
Labels: auto, backported

#5743 [docs] Refactor vSphere Getting Started
  docs/site/_includes/getting_started/vsphere/STEP_ENV.md
  docs/site/_includes/getting_started/vsphere/STEP_ENV_RU.md
  docs/site/_includes/getting_started/vsphere/partials/config.yml.standard.ee.inc
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
  ee/modules/030-cloud-provider-vsphere/packer/.gitignore
  ee/modules/030-cloud-provider-vsphere/packer/18.04.pkrvars.hcl
  ee/modules/030-cloud-provider-vsphere/packer/20.04.pkrvars.hcl
  ee/modules/030-cloud-provider-vsphere/packer/README.md
  ee/modules/030-cloud-provider-vsphere/packer/boot_config/ubuntu-18.04/preseed.cfg
  ee/modules/030-cloud-provider-vsphere/packer/boot_config/ubuntu-20.04/meta-data
  ee/modules/030-cloud-provider-vsphere/packer/boot_config/ubuntu-20.04/preseed.cfg
  ee/modules/030-cloud-provider-vsphere/packer/boot_config/ubuntu-20.04/user-data
  ee/modules/030-cloud-provider-vsphere/packer/scripts/apt.sh
  ee/modules/030-cloud-provider-vsphere/packer/scripts/clean-ssh-hostkeys.sh
  ee/modules/030-cloud-provider-vsphere/packer/scripts/cleanup.sh
  ee/modules/030-cloud-provider-vsphere/packer/scripts/harden-ubuntu-user.sh
  ee/modules/030-cloud-provider-vsphere/packer/scripts/vmware-guestinfo.sh
  ee/modules/030-cloud-provider-vsphere/packer/variables.pkr.hcl
  ee/modules/030-cloud-provider-vsphere/packer/vsphere.pkr.hcl
  modules/040-node-manager/hooks/internal/autoscaler/capacity/capacity_test.go
  testing/.markdownlintignore
  testing/cloud_layouts/vSphere/Standard/configuration.tpl.yaml
  tools/build.go
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
Labels: area/cloud-provider, area/testing, area/docs, area/cluster-and-infrastructure, go, area/api-change

#5809 [local-path-provisioner] Rewrite build to werf and use deckhouse user
  modules/031-local-path-provisioner/images/local-path-provisioner/Dockerfile
  modules/031-local-path-provisioner/images/local-path-provisioner/werf.inc.yaml
  modules/031-local-path-provisioner/templates/deployment.yaml
Labels: area/storage, skip/e2e

#5512 [user-authn] Distroless
  .github/dependabot.yml
  modules/150-user-authn/hooks/generate_crowd_basic_auth_proxy_cert.go
  modules/150-user-authn/images/cfssl/Dockerfile
  modules/150-user-authn/images/crowd-basic-auth-proxy/Dockerfile
  modules/150-user-authn/images/dex-authenticator-redis/Dockerfile
  modules/150-user-authn/images/dex-authenticator-redis/docker-entrypoint.sh
  modules/150-user-authn/images/dex-authenticator/Dockerfile
  modules/150-user-authn/images/dex-authenticator/url-exec-prober/go.mod
  modules/150-user-authn/images/dex-authenticator/url-exec-prober/main.go
  modules/150-user-authn/images/dex/Dockerfile
  modules/150-user-authn/images/dex/patches/README.md
  modules/150-user-authn/images/kubeconfig-generator/Dockerfile
  modules/150-user-authn/images/self-signed-generator/Dockerfile
  modules/150-user-authn/images/self-signed-generator/src/go.mod
  modules/150-user-authn/images/self-signed-generator/src/go.sum
  modules/150-user-authn/images/self-signed-generator/src/main.go
  modules/150-user-authn/templates/crowd-basic-auth-proxy/deployment.yaml
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
  modules/150-user-authn/templates/dex/deployment.yaml
  modules/150-user-authn/templates/kubeconfig-generator/deployment.yaml
  testing/library/images_tags_generated.go
Labels: area/auth, area/testing, type/dependencies, go

#5835 [log-shipper] Suppress metrics timestamp
  modules/460-log-shipper/hooks/testdata/__default-config.json
  modules/460-log-shipper/templates/configmap.yaml
Labels: area/logs

#5509 [control-plane-manager] Distroless
  .github/dependabot.yml
  candi/bashible/common-steps/node-group/001_configure_kubernetes_api_proxy.sh.tpl
  candi/bashible/common-steps/node-group/051_pull_and_configure_kubernetes_api_proxy.sh.tpl
  modules/040-control-plane-manager/images/control-plane-manager/werf.inc.yaml
  modules/040-control-plane-manager/images/etcd/werf.inc.yaml
  modules/040-control-plane-manager/images/kube-apiserver-healthcheck/werf.inc.yaml
  modules/040-control-plane-manager/images/kube-apiserver/werf.inc.yaml
  modules/040-control-plane-manager/images/kube-controller-manager/werf.inc.yaml
  modules/040-control-plane-manager/images/kube-scheduler/werf.inc.yaml
  modules/040-control-plane-manager/images/kubernetes-api-proxy/file-filter
  modules/040-control-plane-manager/images/kubernetes-api-proxy/reloader/cmd/main.go
  modules/040-control-plane-manager/images/kubernetes-api-proxy/reloader/go.mod
  modules/040-control-plane-manager/images/kubernetes-api-proxy/reloader/go.sum
  modules/040-control-plane-manager/images/kubernetes-api-proxy/reloader/src/file_comparison.go
  modules/040-control-plane-manager/images/kubernetes-api-proxy/reloader/src/file_comparison_test.go
  modules/040-control-plane-manager/images/kubernetes-api-proxy/reloader/src/health.go
  modules/040-control-plane-manager/images/kubernetes-api-proxy/reloader/src/health_test.go
  modules/040-control-plane-manager/images/kubernetes-api-proxy/reloader/src/testdata/nginx_new.conf
  modules/040-control-plane-manager/images/kubernetes-api-proxy/reloader/src/watcher.go
  modules/040-control-plane-manager/images/kubernetes-api-proxy/werf.inc.yaml
Labels: area/cluster-and-infrastructure, type/dependencies, go

#5798 [registry-packages] refactor build
  candi/bashible/bundles/centos/all/003_install_mandatory_packages.sh.tpl
  candi/bashible/bundles/debian/all/003_install_mandatory_packages.sh.tpl
  candi/bashible/bundles/ubuntu-lts/all/003_install_mandatory_packages.sh.tpl
  ee/candi/bashible/bundles/alteros/all/003_install_mandatory_packages.sh.tpl
  ee/candi/bashible/bundles/altlinux/all/003_install_mandatory_packages.sh.tpl
  ee/candi/bashible/bundles/astra/all/003_install_mandatory_packages.sh.tpl
  ee/candi/bashible/bundles/redos/all/003_install_mandatory_packages.sh.tpl
  modules/007-registrypackages/images/conntrack-debian/scripts/install
  modules/007-registrypackages/images/conntrack-debian/scripts/uninstall
  modules/007-registrypackages/images/conntrack-debian/werf.inc.yaml
  modules/007-registrypackages/images/containerd/werf.inc.yaml
  modules/007-registrypackages/images/crictl/werf.inc.yaml
  modules/007-registrypackages/images/d8-curl/README.md
  modules/007-registrypackages/images/d8-curl/werf.inc.yaml
  modules/007-registrypackages/images/inotify-tools-centos/scripts/install
  modules/007-registrypackages/images/inotify-tools-centos/scripts/uninstall
  modules/007-registrypackages/images/inotify-tools-centos/werf.inc.yaml
  modules/007-registrypackages/images/jq/werf.inc.yaml
  modules/007-registrypackages/images/kubernetes-cni/werf.inc.yaml
  modules/007-registrypackages/images/toml-merge/werf.inc.yaml
  modules/007-registrypackages/images/virt-what-debian/scripts/install
  modules/007-registrypackages/images/virt-what-debian/scripts/uninstall
  modules/007-registrypackages/images/virt-what-debian/werf.inc.yaml
  testing/library/images_tags_generated.go
  werf.yaml
Labels: area/kubernetes, area/testing, area/cluster-and-infrastructure, area/core, go

#5834 [prometheus] fix issue with add custom grafana plugins
  modules/300-prometheus/images/grafana/Dockerfile
  modules/300-prometheus/images/grafana/entrypoint/main.go
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring, go

#5850 Backport: [prometheus] fix issue with add custom grafana plugins
  modules/300-prometheus/images/grafana/Dockerfile
  modules/300-prometheus/images/grafana/entrypoint/main.go
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: auto, backported

#5848 [docs] Proofreading
  docs/documentation/pages/installing/README_RU.md
Labels: area/docs, skip/documentation-validation, skip/e2e

#5857 Backport: [docs] Proofreading
  docs/documentation/pages/installing/README_RU.md
Labels: auto, backported

#5847 [prometheus] Fix permissions for existing files
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring, status/backport, skip/e2e, e2e/cluster/failed

#5858 Backport: [prometheus] Fix permissions for existing files
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: auto, backported

#5852 [docs] Proofreading
  candi/openapi/doc-ru-init_configuration.yaml
Labels: area/cluster-and-infrastructure, skip/documentation-validation, status/backport, skip/e2e, area/api-change

#5859 Backport: [docs] Proofreading
  candi/openapi/doc-ru-init_configuration.yaml
Labels: auto, backported

#5860 Backport: [linstor] Add the 'make clean' command
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-altlinux-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-centos-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-debian-like.yaml
Labels: auto, backported

#5842 [monitoring] Fixing the etcd version in the home dashboard
  modules/300-prometheus/images/grafana/grafana_home_dashboard.json
Labels: area/monitoring, status/backport

#5863 Backport: [monitoring] Fixing the etcd version in the home dashboard
  modules/300-prometheus/images/grafana/grafana_home_dashboard.json
Labels: auto, backported

#5760 Changelog v1.51.1
  CHANGELOG/CHANGELOG-v1.51.1.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: changelog, auto, status/backport

#5865 Backport: Changelog v1.51.1
  CHANGELOG/CHANGELOG-v1.51.1.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: auto, backported

#5862 [testing] Fix template for vSphere
  testing/cloud_layouts/vSphere/Standard/configuration.tpl.yaml
Labels: area/testing

#5685 [cert-manager] Bump cert-manager to the 1.12.3 version
  modules/101-cert-manager/crds/crd-certificaterequests.yaml
  modules/101-cert-manager/crds/crd-certificates.yaml
  modules/101-cert-manager/crds/crd-challenges.yaml
  modules/101-cert-manager/crds/crd-clusterissuers.yaml
  modules/101-cert-manager/crds/crd-issuers.yaml
  modules/101-cert-manager/crds/crd-orders.yaml
  modules/101-cert-manager/crds/pull_crds.sh
  modules/101-cert-manager/docs/README.md
  modules/101-cert-manager/docs/README_RU.md
  modules/101-cert-manager/images/cert-manager-acme-solver/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-cainjector/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-controller/patches/certificate_owner_ref.patch
  modules/101-cert-manager/images/cert-manager-controller/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-webhook/werf.inc.yaml
  modules/101-cert-manager/openapi/config-values.yaml
  modules/101-cert-manager/openapi/doc-ru-config-values.yaml
  modules/101-cert-manager/template_tests/module_test.go
  modules/101-cert-manager/templates/cainjector/deployment.yaml
  modules/101-cert-manager/templates/cainjector/pdb.yaml
  modules/101-cert-manager/templates/cainjector/rbac-for-us.yaml
  modules/101-cert-manager/templates/cert-manager/clusterissuer-letsencrypt-staging.yaml
  modules/101-cert-manager/templates/cert-manager/clusterissuer-letsencrypt.yaml
  modules/101-cert-manager/templates/cert-manager/deployment.yaml
Labels: area/security, area/docs, skip/documentation-validation, skip/e2e, go, area/api-change

#5739 [candi] Use /opt/deckhouse/tmp instead of /tmp during bootstrap
  candi/bashible/bashbooster/50_deckhouse_registrypackages.sh
  candi/bashible/bashible.sh.tpl
  candi/bashible/bundles/centos/bootstrap.sh.tpl
  candi/bashible/bundles/debian/bootstrap.sh.tpl
  candi/bashible/bundles/ubuntu-lts/bootstrap.sh.tpl
  candi/bashible/common-steps/cluster-bootstrap/060_bootstrap_kubernetes_pki.sh.tpl
  dhctl/pkg/app/app.go
  dhctl/pkg/operations/bootstrap.go
  dhctl/pkg/system/ssh/frontend/kube-proxy.go
  dhctl/pkg/system/ssh/frontend/upload-script.go
  ee/candi/bashible/bundles/alteros/bootstrap.sh.tpl
  ee/candi/bashible/bundles/altlinux/bootstrap.sh.tpl
  ee/candi/bashible/bundles/astra/bootstrap.sh.tpl
  ee/candi/bashible/bundles/redos/bootstrap.sh.tpl
Labels: area/cluster-and-infrastructure, area/cli, go

#5869 [cluster-autoscaler] fix liveness probe
  modules/040-node-manager/templates/cluster-autoscaler/deployment.yaml
Labels: area/cluster-and-infrastructure, status/backport

#5872 [ci] Add kubernetes 1.28 e2e pipelines
  .github/scripts/js/constants.js
  .github/workflow_templates/e2e.abort.multi.yml
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-abort-aws.yml
  .github/workflows/e2e-abort-azure.yml
  .github/workflows/e2e-abort-eks.yml
  .github/workflows/e2e-abort-gcp.yml
  .github/workflows/e2e-abort-openstack.yml
  .github/workflows/e2e-abort-static.yml
  .github/workflows/e2e-abort-vsphere.yml
  .github/workflows/e2e-abort-yandex-cloud.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: skip/e2e

#5874 Changelog v1.51.1
  CHANGELOG/CHANGELOG-v1.51.1.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: changelog, auto, status/backport

#5876 Backport: Changelog v1.51.1
  CHANGELOG/CHANGELOG-v1.51.1.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: auto, backported

#5861 [docs] Proofreading
  docs/documentation/pages/DECKHOUSE_CONFIGURE.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_RU.md
Labels: area/docs, status/backport

#5878 Backport: [docs] Proofreading
  docs/documentation/pages/DECKHOUSE_CONFIGURE.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_RU.md
Labels: auto, backported

#5849 [docs] Proofreading
  candi/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cluster-and-infrastructure, status/backport, area/api-change

#5883 Backport: [docs] Proofreading
  candi/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#5854 [docs] Proofreading
  candi/openapi/doc-ru-static_cluster_configuration.yaml
Labels: area/cluster-and-infrastructure, status/backport, area/api-change

#5884 Backport: [docs] Proofreading
  candi/openapi/doc-ru-static_cluster_configuration.yaml
Labels: auto, backported

#5885 [user-authz] Remove alert about deprecated CAR fields
  modules/140-user-authz/monitoring/prometheus-rules/user-authz/deprecated-cluster-authorization-rule-spec-limitnamespaces.tpl
Labels: area/auth, status/backport, skip/e2e, e2e/use/k8s/1.25

#5887 Backport: [user-authz] Remove alert about deprecated CAR fields
  modules/140-user-authz/monitoring/prometheus-rules/user-authz/deprecated-cluster-authorization-rule-spec-limitnamespaces.tpl
Labels: auto, backported

#5877 Changelog v1.51.2
  CHANGELOG/CHANGELOG-v1.51.2.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: changelog, auto, status/backport

#5888 Backport: Changelog v1.51.2
  CHANGELOG/CHANGELOG-v1.51.2.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: auto, backported

#5891 Linstor/linstor nodes controller
  .github/dependabot.yml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/041-linstor/images/sds-drbd-operator/Dockerfile
  modules/041-linstor/images/sds-drbd-operator/Makefile
  modules/041-linstor/images/sds-drbd-operator/api/v1alpha1/d8_sds_drbd_operator.go
  modules/041-linstor/images/sds-drbd-operator/cmd/main.go
  modules/041-linstor/images/sds-drbd-operator/config/config.go
  modules/041-linstor/images/sds-drbd-operator/dev/0-CRDs.yaml
  modules/041-linstor/images/sds-drbd-operator/dev/1-RBAC.yaml
  modules/041-linstor/images/sds-drbd-operator/dev/2-deployment-fox.yaml
  modules/041-linstor/images/sds-drbd-operator/dev/2-deployment-local.yaml
  modules/041-linstor/images/sds-drbd-operator/dev/3-secret-config.yaml
  modules/041-linstor/images/sds-drbd-operator/pkg/controller/linstor_node.go
  modules/041-linstor/templates/linstor-controller/configmap-linstor-controller-config.yaml
  modules/041-linstor/templates/linstor-controller/linstorcontroller.yaml
  modules/041-linstor/templates/linstor-controller/service-linstor-controller.yaml
  modules/041-linstor/templates/linstor-csi/linstorcsidriver.yaml
  modules/041-linstor/templates/linstor-ha-controller/daemonset.yaml
  modules/041-linstor/templates/linstor-ha-controller/rbac-for-us.yaml
  modules/041-linstor/templates/linstor-node/configmap-linstor-node-config.yaml
  modules/041-linstor/templates/linstor-node/configmap-linstor-node-monitoring.yaml
  modules/041-linstor/templates/linstor-node/linstorsatelliteset.yaml
  modules/041-linstor/templates/linstor-pools-importer/daemonset.yaml
  modules/041-linstor/templates/linstor-pools-importer/rbac-for-us.yaml
  modules/041-linstor/templates/linstor-scheduler-admission/rbac-for-us.yaml
  modules/041-linstor/templates/piraeus-operator/deployment.yaml
  modules/041-linstor/templates/piraeus-operator/podmonitor.yaml
  modules/041-linstor/templates/piraeus-operator/rbac-for-us.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/cluster-and-infrastructure, area/storage, go

#5829 [dhctl] Add registryDockerCfg validation
  dhctl/pkg/config/meta.go
  dhctl/pkg/config/meta_test.go
Labels: area/cli, go

#5896 [chore] Regeneration
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
Labels: area/testing

#5898 [flant-pricing] fix proxy configuration
  ee/modules/600-flant-integration/template_tests/module_test.go
  ee/modules/600-flant-integration/templates/pricing/config.yaml
Labels: status/backport, go

#5900 Backport: [flant-pricing] fix proxy configuration
  ee/modules/600-flant-integration/template_tests/module_test.go
  ee/modules/600-flant-integration/templates/pricing/config.yaml
Labels: auto, backported

#5892 [dhctl] Fix restarting bootstrap process
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
Labels: area/cli, go

#5899 Changelog v1.51.3
  CHANGELOG/CHANGELOG-v1.51.3.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: changelog, auto, status/backport

#5901 Backport: Changelog v1.51.3
  CHANGELOG/CHANGELOG-v1.51.3.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: auto, backported

#5818 [doc] Add a list of directories used by Deckhouse
  docs/documentation/_data/deckhouse-used-directories.yml
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/_includes/deckhouse-directories-csv.liquid
  docs/documentation/_includes/security_software_setup.liquid
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP.md
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP_RU.md
  docs/documentation/pages/deckhouse-directories.csv
  docs/documentation/pages/deckhouse-directories_ru.csv
Labels: area/docs

#5902 Backport: [doc] Add a list of directories used by Deckhouse
  docs/documentation/_data/deckhouse-used-directories.yml
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/_includes/deckhouse-directories-csv.liquid
  docs/documentation/_includes/security_software_setup.liquid
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP.md
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP_RU.md
  docs/documentation/pages/deckhouse-directories.csv
  docs/documentation/pages/deckhouse-directories_ru.csv
Labels: auto, backported

#5906 Backport: [global] Remove old deckhouse endpointslices on start
  global-hooks/create_endpoints.go
  global-hooks/create_endpoints_test.go
Labels: auto, backported

#5904 [loki] fix permissions for existing files
  modules/462-loki/templates/statefulset.yaml
Labels: status/backport, area/logs

#5905 Changelog v1.51.3
  CHANGELOG/CHANGELOG-v1.51.3.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: changelog, auto, status/backport

#5909 Backport: Changelog v1.51.3
  CHANGELOG/CHANGELOG-v1.51.3.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: auto, backported

#5820 [distroless] move csi binaries to distroless
  candi/version_map.yml
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/templates/_csi_controller.tpl
  modules/000-common/images/csi-external-attacher/werf.inc.yaml
  modules/000-common/images/csi-external-provisioner/werf.inc.yaml
  modules/000-common/images/csi-external-resizer/werf.inc.yaml
  modules/000-common/images/csi-external-snapshotter/werf.inc.yaml
  modules/000-common/images/csi-livenessprobe/werf.inc.yaml
  modules/000-common/images/csi-node-driver-registrar/werf.inc.yaml
Labels: area/kubernetes, area/cluster-and-infrastructure, area/core, e2e/use/k8s/1.26

#5907 [ci] add env var for crates proxy
  .github/ci_includes/werf_envs.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  tools/images_tags/main.go
  werf-giterminism.yaml
  werf.yaml
Labels: area/testing, area/core, go

#5678 [operator-trivy] report-updater
  .github/dependabot.yml
  ee/modules/500-operator-trivy/hooks/generate_webhook_certs.go
  ee/modules/500-operator-trivy/hooks/generate_webhook_certs_test.go
  ee/modules/500-operator-trivy/hooks/internal/apis/v1alpha1/common_types.go
  ee/modules/500-operator-trivy/images/report-updater/Dockerfile
  ee/modules/500-operator-trivy/images/report-updater/go.mod
  ee/modules/500-operator-trivy/images/report-updater/go.sum
  ee/modules/500-operator-trivy/images/report-updater/main.go
  ee/modules/500-operator-trivy/images/report-updater/vulndb/cache.go
  ee/modules/500-operator-trivy/images/report-updater/vulndb/parser/parse.go
  ee/modules/500-operator-trivy/images/report-updater/web/hook/hook.go
  ee/modules/500-operator-trivy/images/report-updater/web/server.go
  ee/modules/500-operator-trivy/monitoring/grafana-dashboards/security/trivy.json
  ee/modules/500-operator-trivy/openapi/config-values.yaml
  ee/modules/500-operator-trivy/openapi/doc-ru-config-values.yaml
  ee/modules/500-operator-trivy/openapi/openapi-case-tests.yaml
  ee/modules/500-operator-trivy/openapi/values.yaml
  ee/modules/500-operator-trivy/template_tests/template_test.go
  ee/modules/500-operator-trivy/templates/report-updater/deployment.yaml
  ee/modules/500-operator-trivy/templates/report-updater/mutatingwebhookconfiguration.yaml
  ee/modules/500-operator-trivy/templates/report-updater/pdb.yaml
  ee/modules/500-operator-trivy/templates/report-updater/rbac-for-us.yaml
  ee/modules/500-operator-trivy/templates/report-updater/secret.yaml
  ee/modules/500-operator-trivy/templates/report-updater/service.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  testing/library/images_tags_generated.go
Labels: area/security, area/testing, area/cluster-and-infrastructure, type/dependencies, skip/e2e, go, area/api-change

#5864 Added more command checks in CheckDHCTLDependencies method
  candi/bashible/docs/README.md
  dhctl/pkg/operations/bootstrap.go
Labels: area/docs, area/cluster-and-infrastructure, area/cli, go

#5912 [global] Fix endpoints cleanup
  global-hooks/create_endpoints.go
  global-hooks/create_endpoints_test.go
Labels: area/core, status/backport, go

#5914 Backport: [global] Fix endpoints cleanup
  global-hooks/create_endpoints.go
  global-hooks/create_endpoints_test.go
Labels: auto, backported

#5913 Changelog v1.51.4
  CHANGELOG/CHANGELOG-v1.51.4.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: changelog, auto, status/backport

#5915 Backport: Changelog v1.51.4
  CHANGELOG/CHANGELOG-v1.51.4.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: auto, backported

#5802 [chrony] Sync time on Nodes with control plane.
  modules/470-chrony/enabled
  modules/470-chrony/images/chrony/start.sh
  modules/470-chrony/template_tests/module_test.go
  modules/470-chrony/templates/daemonset.yaml
  modules/470-chrony/templates/deployment.yaml
  modules/470-chrony/templates/service.yaml
  testing/matrix/linter/rules/rules.go
Labels: area/testing, area/cluster-and-infrastructure, go

#5917 Changelog v1.51.4
  CHANGELOG/CHANGELOG-v1.51.md
Labels: changelog, auto

#5918 [deckhouse-controller] Do not purge unknown helm releases
  go.mod
  go.sum
  tools/go.sum
Labels: area/testing, type/dependencies, area/core, status/backport

#5922 Changelog v1.51.5
  CHANGELOG/CHANGELOG-v1.51.5.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: changelog, auto, status/backport

#5923 Backport: Changelog v1.51.5
  CHANGELOG/CHANGELOG-v1.51.5.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: auto, backported

#5880 [monitoring-kubernetes] Remove allValue regexp from Capacity Planning
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/capacity-planning/capacity-planning.json
Labels: area/monitoring, source/internal-client

#5890 [docs] Proofreading of documentation
  candi/cloud-providers/yandex/docs/ENVIRONMENT_RU.md
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-instance_class.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-instance_class.yaml
  ee/candi/cloud-providers/vsphere/docs/CLUSTER_CONFIGURATION_RU.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/doc-ru-instance_class.yaml
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION_RU.md
  ee/modules/030-cloud-provider-openstack/docs/FAQ.md
  ee/modules/030-cloud-provider-openstack/docs/FAQ_RU.md
  ee/modules/030-cloud-provider-openstack/openapi/doc-ru-config-values.yaml
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION_RU.md
  ee/modules/030-cloud-provider-vsphere/docs/FAQ_RU.md
  ee/modules/030-cloud-provider-vsphere/docs/README_RU.md
  ee/modules/030-cloud-provider-vsphere/openapi/doc-ru-config-values.yaml
  modules/002-deckhouse/crds/doc-ru-module-config.yaml
  modules/002-deckhouse/crds/module-config.yaml
  modules/030-cloud-provider-yandex/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-yandex/docs/FAQ_RU.md
  modules/030-cloud-provider-yandex/docs/README_RU.md
  modules/030-cloud-provider-yandex/openapi/doc-ru-config-values.yaml
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, skip/documentation-validation, area/api-change

#5929 [docs] Fix typos in user-authz module examples and ya/instance_class documentation
  candi/cloud-providers/yandex/openapi/instance_class.yaml
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: area/auth, area/cloud-provider, area/docs, area/cluster-and-infrastructure, skip/documentation-validation, status/ok-to-test, status/backport, skip/e2e, area/api-change

#5856 [prometheus] Use endpointslices instead of endpoints
  ee/fe/modules/340-monitoring-applications/applications/prometheus/prometheus-rules/prometheus.yaml
  ee/fe/modules/340-monitoring-applications/templates/base-service-monitor.yaml
  modules/010-operator-prometheus-crd/crds/alertmanagerconfigs.yaml
  modules/010-operator-prometheus-crd/crds/alertmanagers.yaml
  modules/010-operator-prometheus-crd/crds/podmonitors.yaml
  modules/010-operator-prometheus-crd/crds/probes.yaml
  modules/010-operator-prometheus-crd/crds/prometheusagents.yaml
  modules/010-operator-prometheus-crd/crds/prometheuses.yaml
  modules/010-operator-prometheus-crd/crds/prometheusrules.yaml
  modules/010-operator-prometheus-crd/crds/scrapeconfigs.yaml
  modules/010-operator-prometheus-crd/crds/servicemonitors.yaml
  modules/010-operator-prometheus-crd/crds/thanosrulers.yaml
  modules/010-operator-prometheus-crd/crds/x-pull-crds.sh
  modules/041-linstor/templates/linstor-controller/servicemonitor.yaml
  modules/110-istio/templates/control-plane/servicemonitor.yaml
  modules/200-operator-prometheus/docs/README.md
  modules/200-operator-prometheus/docs/README_RU.md
  modules/200-operator-prometheus/images/prometheus-config-reloader/Dockerfile
  modules/200-operator-prometheus/images/prometheus-config-reloader/werf.inc.yaml
  modules/200-operator-prometheus/images/prometheus-operator/Dockerfile
  modules/200-operator-prometheus/images/prometheus-operator/patches/001_endpointslices.patch
  modules/200-operator-prometheus/images/prometheus-operator/patches/002_endpointslices_fallback.patch
  modules/200-operator-prometheus/images/prometheus-operator/patches/README.md
  modules/200-operator-prometheus/images/prometheus-operator/werf.inc.yaml
  modules/200-operator-prometheus/templates/rbac-for-us.yaml
  modules/300-prometheus/files/prometheus_longterm_config.tpl
  modules/300-prometheus/hooks/servicemonitor_discovery.go
  modules/300-prometheus/hooks/servicemonitor_discovery_test.go
  modules/300-prometheus/monitoring/prometheus-rules/deprecation.yaml
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
  modules/300-prometheus/templates/prometheus/rbac-for-us.yaml
  modules/303-prometheus-pushgateway/templates/service-monitor.yaml
  modules/340-monitoring-custom/templates/_helpers.tpl
  modules/340-monitoring-kubernetes-control-plane/templates/control-plane-proxy-service-monitor.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/kube-apiserver-service-monitor.yaml
  modules/340-monitoring-kubernetes/templates/kubelet/service-monitor.yaml
Labels: area/monitoring, area/network, area/docs, skip/documentation-validation, area/storage, go, area/api-change

#5893 [dhctl] feat(dhctl-for-commander): prepare dhctl for commander usage
  dhctl/cmd/dhctl/commands/bootstrap/bootstrap.go
  dhctl/cmd/dhctl/commands/bootstrap/phase.go
  dhctl/cmd/dhctl/commands/converge.go
  dhctl/cmd/dhctl/commands/destroy.go
  dhctl/pkg/infrastructure/cluster.go
  dhctl/pkg/kubernetes/actions/converge/converge.go
  dhctl/pkg/log/logger.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-abort.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-base-infra.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-bashible.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-deckhouse.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-post-bootstrap.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-resources.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/bootstrap/steps.go
  dhctl/pkg/operations/bootstrap/steps_test.go
  dhctl/pkg/operations/converge/auto-converger.go
  dhctl/pkg/operations/converge/converger.go
  dhctl/pkg/operations/destroy/destroy.go
  dhctl/pkg/operations/kube.go
  dhctl/pkg/operations/phases/dhctl_state.go
  dhctl/pkg/operations/phases/phases.go
  dhctl/pkg/state/cache/init.go
  dhctl/pkg/system/ssh/client.go
  dhctl/pkg/system/ssh/cmd/ssh-agent.go
  dhctl/pkg/system/ssh/default.go
  dhctl/pkg/util/cache/cache.go
Labels: area/cli, skip/e2e, go

#5936 [user-authn] Fix apiVersion Group object in doc
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: area/auth, area/docs, status/doc-review

#5832 [dhctl] Check dhctl version against current release channel version before bootstrap
  dhctl/go.mod
  dhctl/go.sum
  dhctl/pkg/app/app.go
  dhctl/pkg/app/preflight.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/bootstrap/steps.go
  dhctl/pkg/preflight/dhctl_obsolescence.go
  dhctl/pkg/preflight/dhctl_obsolescence_mocks_test.go
  dhctl/pkg/preflight/dhctl_obsolescence_test.go
  dhctl/pkg/preflight/preflight.go
  dhctl/pkg/preflight/suite_test.go
  werf.yaml
Labels: type/dependencies, area/cli, area/core, go

#5942 [docs] Minor documentation updates
  modules/150-user-authn/docs/USAGE_RU.md
Labels: area/auth, area/docs, skip/documentation-validation, status/backport

#5944 Backport: [docs] Minor documentation updates
  modules/150-user-authn/docs/USAGE_RU.md
Labels: auto, backported

#5792 [deckhouse-controller] forbide to change podSubnetNodeCIDRPrefix in running cluster
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
  dhctl/cmd/dhctl/commands/edit.go
  modules/002-deckhouse/webhooks/validating/d8-cluster-configuration
Labels: area/cluster-and-infrastructure, area/cli, go, area/api-change

#5941 [loki] fix init container
  modules/462-loki/templates/statefulset.yaml
Labels: status/backport, area/logs

#5947 Backport: [loki] fix init container
  modules/462-loki/templates/statefulset.yaml
Labels: auto, backported

#5940 [deckhouse] Add deckhouse-config module purge
  deckhouse-controller/cmd/deckhouse-controller/main.go
  go.mod
  go.sum
  tools/go.sum
Labels: area/testing, type/dependencies, area/core, status/backport, go

#5950 Backport: [deckhouse] Add deckhouse-config module purge
  deckhouse-controller/cmd/deckhouse-controller/main.go
  go.mod
  go.sum
  tools/go.sum
Labels: auto, backported

#5943 Changelog v1.51.6
  CHANGELOG/CHANGELOG-v1.51.6.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: changelog, auto, status/backport

#5951 Backport: Changelog v1.51.6
  CHANGELOG/CHANGELOG-v1.51.6.yml
  CHANGELOG/CHANGELOG-v1.51.md
Labels: auto, backported

#5938 [registrypackages] Update containerd to 1.6.24
  candi/bashible/common-steps/node-group/031_install_containerd.sh.tpl
  modules/007-registrypackages/images/containerd/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/cluster-and-infrastructure, area/core, go

#5948 [ingress-controller] fix controller preStop probe
  .github/dependabot.yml
  modules/402-ingress-nginx/images/kube-rbac-proxy/src/controller-probe.go
  modules/402-ingress-nginx/images/kube-rbac-proxy/src/go.mod
  modules/402-ingress-nginx/images/kube-rbac-proxy/werf.inc.yaml
  modules/402-ingress-nginx/templates/controller/controller.yaml
  testing/library/images_tags_generated.go
Labels: area/network, area/testing, type/dependencies, go

#5945 [candi] add generation of cleanup node script for static nodes.
  candi/bashible/common-steps/node-group/002_create_static_node_cleanup_script.sh.tpl
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure
