Repository deckhouse/deckhouse, pull requests merged in 2023-11, with the labels that each got.

#6399 [docs][getting-started] Fix incorrect StorageClass for the Longterm Prometheus
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
Labels: area/docs

#6382 [dhctl] Check ModuleConfig in the resources file that they not build-in
  dhctl/pkg/config/load.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/template/resources.go
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
Labels: area/docs, area/cli, go

#5799 Fix api version for cronjobs to display with dashboard module
  modules/500-dashboard/images/dashboard/Dockerfile
Labels: area/ui

#6389 Changelog v1.53.3
  CHANGELOG/CHANGELOG-v1.53.3.yml
  CHANGELOG/CHANGELOG-v1.53.md
Labels: changelog, auto, status/backport

#6401 Backport: Changelog v1.53.3
  CHANGELOG/CHANGELOG-v1.53.3.yml
  CHANGELOG/CHANGELOG-v1.53.md
Labels: auto, backported

#6346 [local-path-provisioner] fix cve issues in local-path-provisioner image
  modules/031-local-path-provisioner/images/local-path-provisioner/werf.inc.yaml
Labels: area/storage

#6370 [ingress-nginx] implement chroot
  modules/300-prometheus/templates/alertmanager/internal/ingress.yaml
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
  modules/402-ingress-nginx/images/controller-1-9/nginx-chroot-wrapper.sh
  modules/402-ingress-nginx/images/controller-1-9/patches/README.md
  modules/402-ingress-nginx/images/controller-1-9/patches/auth-cookie-always.patch
  modules/402-ingress-nginx/images/controller-1-9/patches/balancer-lua.patch
  modules/402-ingress-nginx/images/controller-1-9/patches/nginx-tmpl.patch
  modules/402-ingress-nginx/images/controller-1-9/patches/util.patch
  modules/402-ingress-nginx/openapi/config-values.yaml
  modules/402-ingress-nginx/openapi/values.yaml
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: area/monitoring, area/network, skip/documentation-validation, area/api-change

#6377 [distroless] chore: yandex-cloud-metrics-exporter to distroless
  modules/030-cloud-provider-yandex/images/cloud-metrics-exporter/werf.inc.yaml
  modules/030-cloud-provider-yandex/templates/cloud-metrics-exporter/deployment.yaml
Labels: area/cloud-provider

#6416 [docs] Update site deploy
  docs/documentation/.helm/templates/20-ingress.yaml
  docs/documentation/.helm/values.yaml
  docs/site/.helm/templates/20-ingress.yaml
  docs/site/.helm/values.yaml
Labels: area/docs

#5838 [linstor] Added a webhook linstorstorageclass and sds-drbd-operator templates
  .github/dependabot.yml
  modules/002-deckhouse/images/webhook-handler/requirements.txt
  modules/002-deckhouse/images/webhook-handler/werf.inc.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/041-linstor/crds/doc-ru-linstorstorageclass.yaml
  modules/041-linstor/crds/doc-ru-linstorstoragepool.yaml
  modules/041-linstor/crds/doc-ru-lvmvolumegroup.yaml
  modules/041-linstor/crds/linstorstorageclass.yaml
  modules/041-linstor/crds/linstorstoragepool.yaml
  modules/041-linstor/crds/lvmvolumegroup.yaml
  modules/041-linstor/openapi/config-values.yaml
  modules/041-linstor/template_tests/module_test.go
  modules/041-linstor/templates/sds-drbd-operator/deployment.yaml
  modules/041-linstor/templates/sds-drbd-operator/rbac-for-us.yaml
  modules/041-linstor/templates/sds-drbd-operator/secret.yaml
  modules/041-linstor/webhooks/validating/sclinstor.py
Labels: area/cluster-and-infrastructure, priority/top, area/storage, go, python, area/api-change

#6412 [deckhouse] Send clusterUUID when checking for deckhouse release
  go_lib/dependency/cr/cr.go
  modules/002-deckhouse/hooks/check_deckhouse_release.go
Labels: area/core, status/backport, e2e/use/k8s/1.25, go

#6417 Backport: [deckhouse] Send clusterUUID when checking for deckhouse release
  go_lib/dependency/cr/cr.go
  modules/002-deckhouse/hooks/check_deckhouse_release.go
Labels: auto, backported

#6424 Backport: [node-manager] Update FAQ
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#6425 Backport: [node-manager] Update FAQ
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#5629 [linstor] Getting rid of piraeus-operator and pools-importer
  .github/dependabot.yml
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/README.md
  helm_lib/charts/deckhouse_lib_helm/templates/_csi_controller.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_csi_node.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_module_init_container.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_module_security_context.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_node_affinity.tpl
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/041-linstor/images/linstor-pools-importer/Dockerfile
  modules/041-linstor/images/linstor-pools-importer/go.mod
  modules/041-linstor/images/linstor-pools-importer/go.sum
  modules/041-linstor/images/linstor-pools-importer/main.go
  modules/041-linstor/images/linstor-pools-importer/main_test.go
  modules/041-linstor/images/piraeus-ha-controller/Dockerfile
  modules/041-linstor/images/piraeus-operator/Dockerfile
  modules/041-linstor/images/piraeus-operator/patches/010-disable-finalizers.patch
  modules/041-linstor/images/piraeus-operator/patches/020-linux-kbuild.patch
  modules/041-linstor/images/piraeus-operator/patches/040-add-metrics-port.patch
  modules/041-linstor/images/piraeus-operator/patches/README.md
  modules/041-linstor/templates/linstor-controller/configmap-linstor-controller-config.yaml
  modules/041-linstor/templates/linstor-controller/linstorcontroller.yaml
  modules/041-linstor/templates/linstor-controller/service-linstor-controller.yaml
  modules/041-linstor/templates/linstor-csi-controller/controller.yaml
  modules/041-linstor/templates/linstor-csi/linstorcsidriver.yaml
  modules/041-linstor/templates/linstor-ha-controller/daemonset.yaml
  modules/041-linstor/templates/linstor-ha-controller/rbac-for-us.yaml
  modules/041-linstor/templates/linstor-node/configmap-linstor-node-config.yaml
  modules/041-linstor/templates/linstor-node/configmap-linstor-node-monitoring.yaml
  modules/041-linstor/templates/linstor-node/daemonset.yaml
  modules/041-linstor/templates/linstor-node/linstorsatelliteset.yaml
  modules/041-linstor/templates/linstor-pools-importer/daemonset.yaml
  modules/041-linstor/templates/linstor-pools-importer/rbac-for-us.yaml
  modules/041-linstor/templates/linstor-scheduler-admission/rbac-for-us.yaml
  modules/041-linstor/templates/linstor-scheduler-admission/service.yaml
  modules/041-linstor/templates/namespace.yaml
  modules/041-linstor/templates/nodegroupconfiguration-blacklist-drbd.yaml
  modules/041-linstor/templates/nodegroupconfiguration-disable-lvmetad.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-altlinux-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-centos-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-debian-like.yaml
  modules/041-linstor/templates/passphrase.yaml
  modules/041-linstor/templates/piraeus-operator/deployment.yaml
  modules/041-linstor/templates/piraeus-operator/podmonitor.yaml
  modules/041-linstor/templates/piraeus-operator/rbac-for-us.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/cluster-and-infrastructure, type/dependencies, area/core, area/storage, go

#6404 [getting-started][docs] Fix main config in private envinronment
  docs/site/_includes/getting_started/bm-private/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  docs/site/_includes/getting_started/bm/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/global/step_cluster_setup.html
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
Labels: area/docs

#6429 Update kube-client
  dhctl/go.mod
  dhctl/go.sum
  go.mod
  go.sum
  tools/go.sum
Labels: area/testing, type/dependencies, area/cli, area/core, status/backport, skip/e2e

#6431 Backport: Update kube-client
  dhctl/go.mod
  dhctl/go.sum
  go.mod
  go.sum
  tools/go.sum
Labels: auto, backported

#6406 [log-shipper] Add CEF encoder
  modules/460-log-shipper/apis/v1alpha1/cluster_log_destination.go
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
  modules/460-log-shipper/hooks/internal/vector/destination/common.go
  modules/460-log-shipper/hooks/internal/vector/destination/kafka.go
  modules/460-log-shipper/hooks/internal/vector/transform/cef.go
  modules/460-log-shipper/hooks/internal/vector/transform/destination.go
  modules/460-log-shipper/hooks/internal/vrl/cef.go
  modules/460-log-shipper/hooks/testdata/file-to-kafka-tls/manifests.yaml
  modules/460-log-shipper/hooks/testdata/file-to-kafka-tls/result.json
  modules/460-log-shipper/images/vector/Dockerfile
  modules/460-log-shipper/images/vector/patches/README.md
  modules/460-log-shipper/images/vector/patches/cef-encoder.patch
Labels: area/logs, go, area/api-change

#6418 [metallb] fix error with preserving controller internal state after reboot
  ee/modules/380-metallb/images/artifact/werf.inc.yaml
  ee/modules/380-metallb/templates/controller/deployment.yaml
Labels: area/network, status/backport

#6437 Backport: [metallb] fix error with preserving controller internal state after reboot
  ee/modules/380-metallb/images/artifact/werf.inc.yaml
  ee/modules/380-metallb/templates/controller/deployment.yaml
Labels: auto, backported

#6434 [prometheus] fix prometheus image size
  modules/300-prometheus/images/prometheus/Dockerfile
Labels: area/monitoring, status/backport

#6438 Backport: [prometheus] fix prometheus image size
  modules/300-prometheus/images/prometheus/Dockerfile
Labels: auto, backported

#6441 Backport: Changelog v1.54.0
  CHANGELOG/CHANGELOG-v1.54.0.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: auto, backported

#6423 [dhctl] Static build
  dhctl/Makefile
  dhctl/pkg/operations/mirror/layouts.go
Labels: area/cli, go

#6448 [external-module-manager] fix deckhouse ModuleSource recreation
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source.go
  modules/005-external-module-manager/hooks/internal/apis/v1alpha1/source.go
Labels: status/backport, skip/e2e, area/modules, go

#6452 Backport: [external-module-manager] fix deckhouse ModuleSource recreation
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source.go
  modules/005-external-module-manager/hooks/internal/apis/v1alpha1/source.go
Labels: auto, backported

#6450 Changelog v1.54.1
  CHANGELOG/CHANGELOG-v1.54.1.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: changelog, auto, status/backport

#6453 Backport: Changelog v1.54.1
  CHANGELOG/CHANGELOG-v1.54.1.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: auto, backported

#6400 [linstor] Add script for evict
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/041-linstor/tools/evict.sh
Labels: area/docs, area/cluster-and-infrastructure, area/storage, priority/second

#6457 Backport: [linstor] Add script for evict
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/041-linstor/tools/evict.sh
Labels: auto, backported

#6393 [deckhouse-controller] fix cve issues in deckhouse-controller image
  go.mod
  go.sum
  tools/go.sum
  werf.yaml
Labels: area/testing, type/dependencies, area/core

#6430 [dhctl] Fix tests
  dhctl/pkg/config/module_config.go
  dhctl/pkg/util/maputil/maputil.go
  dhctl/pkg/util/maputil/maputil_test.go
  werf.yaml
Labels: area/cli, area/core, e2e/run/openstack, go

#6466 [operator-prometheus] Fix rbac for alertmanager
  modules/200-operator-prometheus/templates/rbac-for-us.yaml
Labels: area/monitoring, skip/e2e

#6456 [operator-prometheus] fix cve in prometheus-operator image
  modules/200-operator-prometheus/images/prometheus-operator/werf.inc.yaml
Labels: area/monitoring

#6339 [docs] Deckhouse Registry mirroring docs
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#6467 [dhctl] Support for uploading mirrored Deckhouse images to custom repo path
  dhctl/cmd/dhctl/commands/mirror.go
  dhctl/pkg/app/mirror.go
  dhctl/pkg/operations/mirror.go
  dhctl/pkg/operations/mirror/context.go
  dhctl/pkg/operations/mirror/digests.go
  dhctl/pkg/operations/mirror/layouts.go
  dhctl/pkg/operations/mirror/modules.go
  dhctl/pkg/operations/mirror/versions.go
Labels: area/cli, skip/e2e, go

#6464 [candi] do not use cloud network setup scripts for static nodegroups
  modules/040-node-manager/templates/node-group/_bootstrap.tpl
Labels: area/cluster-and-infrastructure, status/backport

#6073 [distroless] move cloud-provider csi-plugin to distroless
  candi/image_versions.yml
  ee/modules/030-cloud-provider-openstack/images/cinder-csi-plugin/werf.inc.yaml
  ee/modules/030-cloud-provider-vsphere/images/vsphere-csi-plugin-legacy/001-csi-metrics-and-volume-expansion.patch
  ee/modules/030-cloud-provider-vsphere/images/vsphere-csi-plugin-legacy/Dockerfile
  ee/modules/030-cloud-provider-vsphere/images/vsphere-csi-plugin-legacy/werf.inc.yaml
  ee/modules/030-cloud-provider-vsphere/images/vsphere-csi-plugin/Dockerfile
  ee/modules/030-cloud-provider-vsphere/images/vsphere-csi-plugin/werf.inc.yaml
  modules/000-common/images/alt/binary_replace.sh
  modules/000-common/images/alt/werf.inc.yaml
  modules/030-cloud-provider-aws/images/ebs-csi-plugin/Dockerfile
  modules/030-cloud-provider-aws/images/ebs-csi-plugin/werf.inc.yaml
  modules/030-cloud-provider-azure/images/azuredisk-csi/Dockerfile
  modules/030-cloud-provider-azure/images/azuredisk-csi/werf.inc.yaml
  modules/030-cloud-provider-gcp/images/pd-csi-plugin/Dockerfile
  modules/030-cloud-provider-gcp/images/pd-csi-plugin/werf.inc.yaml
  modules/030-cloud-provider-yandex/images/yandex-csi-plugin/Dockerfile
  modules/030-cloud-provider-yandex/images/yandex-csi-plugin/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/cloud-provider, area/testing, area/cluster-and-infrastructure, go

#6376 [distroless] aws node-termination-handler to distroless
  candi/image_versions.yml
  modules/030-cloud-provider-aws/images/node-termination-handler/Dockerfile
  modules/030-cloud-provider-aws/images/node-termination-handler/werf.inc.yaml
  modules/030-cloud-provider-aws/templates/node-termination-handler/daemonset.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure

#6477 Backport: [dhctl] GOST digests for dhctl mirror registry copies
  dhctl/cmd/dhctl/commands/mirror.go
  dhctl/cmd/dhctl/main.go
  dhctl/go.mod
  dhctl/go.sum
  dhctl/pkg/app/mirror.go
  dhctl/pkg/operations/mirror.go
  dhctl/pkg/operations/mirror/bundle.go
  dhctl/pkg/operations/mirror/context.go
  dhctl/pkg/operations/mirror/gostsums.go
  dhctl/pkg/operations/mirror/gostsums_test.go
  dhctl/pkg/operations/mirror/pull.go
  dhctl/pkg/operations/mirror/versions.go
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: auto, backported

#6478 Backport: [dhctl] Static build
  dhctl/Makefile
  dhctl/pkg/operations/mirror/layouts.go
Labels: auto, backported

#6479 Backport: [dhctl] Support for uploading mirrored Deckhouse images to custom repo path
  dhctl/cmd/dhctl/commands/mirror.go
  dhctl/pkg/app/mirror.go
  dhctl/pkg/operations/mirror.go
  dhctl/pkg/operations/mirror/context.go
  dhctl/pkg/operations/mirror/digests.go
  dhctl/pkg/operations/mirror/layouts.go
  dhctl/pkg/operations/mirror/modules.go
  dhctl/pkg/operations/mirror/versions.go
Labels: auto, backported

#6465 [control-plane-manager] Use minimal kubernetes version for minimal support k8s version Deckhouse requirement
  modules/040-control-plane-manager/hooks/effective_kubernetes_version.go
  modules/040-control-plane-manager/hooks/effective_kubernetes_version_test.go
  modules/040-control-plane-manager/requirements/check.go
  modules/040-control-plane-manager/requirements/check_test.go
Labels: area/cluster-and-infrastructure, skip/e2e, go

#6476 [candi] move caps-controller image to distroless
  modules/040-node-manager/images/caps-controller-manager/werf.inc.yaml
Labels: area/cluster-and-infrastructure

#6463 [operator-trivy] fix cve in operator-trivy image
  ee/modules/500-operator-trivy/images/operator/Dockerfile
  ee/modules/500-operator-trivy/images/report-updater/go.mod
  ee/modules/500-operator-trivy/images/report-updater/go.sum
Labels: area/security, type/dependencies

#6176 [upmeter] migrate upmeter to distroless
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/README.md
  helm_lib/charts/deckhouse_lib_helm/templates/_module_init_container.tpl
  modules/500-upmeter/images/smoke-mini/Dockerfile
  modules/500-upmeter/images/smoke-mini/werf.inc.yaml
  modules/500-upmeter/images/status/Dockerfile
  modules/500-upmeter/images/status/werf.inc.yaml
  modules/500-upmeter/images/upmeter/Dockerfile
  modules/500-upmeter/images/upmeter/werf.inc.yaml
  modules/500-upmeter/images/webui/Dockerfile
  modules/500-upmeter/images/webui/werf.inc.yaml
  modules/500-upmeter/templates/smoke-mini/statefulsets.yaml
  modules/500-upmeter/templates/status/configmap.yaml
  modules/500-upmeter/templates/status/deployment.yaml
  modules/500-upmeter/templates/upmeter-agent/daemonset.yaml
  modules/500-upmeter/templates/upmeter/statefulset.yaml
  modules/500-upmeter/templates/webui/configmap.yaml
  modules/500-upmeter/templates/webui/deployment.yaml
  testing/cloud_layouts/script.d/wait_cluster_ready/test_script.sh
Labels: area/monitoring, area/testing, area/core

#6483 Backport: [operator-prometheus] Fix RBAC for alertmanager
  modules/200-operator-prometheus/templates/rbac-for-us.yaml
Labels: auto, backported

#6313 [common] Fix CVEs in csi-external-* images
  candi/version_map.yml
  modules/000-common/images/csi-external-attacher/werf.inc.yaml
  modules/000-common/images/csi-external-provisioner/werf.inc.yaml
  modules/000-common/images/csi-external-resizer/werf.inc.yaml
  modules/000-common/images/csi-external-snapshotter/werf.inc.yaml
Labels: area/kubernetes, area/cluster-and-infrastructure, e2e/use/k8s/1.25

#6475 [getting-started][docs] Add base64 encoding to GS pages and JS-scripts
  docs/site/_includes/getting_started/aws/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/azure/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/bm-private/partials/user.yml.inc
  docs/site/_includes/getting_started/bm/partials/user.yml.inc
  docs/site/_includes/getting_started/gcp/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/openstack/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/openstack_ovh/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/openstack_selectel/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/openstack_vk/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/vsphere/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/yandex/partials/resources.yml.minimal.inc
  docs/site/js/getting-started.js
Labels: area/docs

#6481 [docs] Update minimal dhctl installer version for mirroring registry
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#6485 Backport: [docs] Update minimal dhctl installer version for mirroring registry
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#6484 [user-authn] revert deletion of userID from dex.password template
  modules/150-user-authn/template_tests/user_test.go
  modules/150-user-authn/templates/dex/passwords.yaml
Labels: area/auth, status/backport, go

#6487 Backport: [user-authn] revert deletion of userID from dex.password template
  modules/150-user-authn/template_tests/user_test.go
  modules/150-user-authn/templates/dex/passwords.yaml
Labels: auto, backported

#6486 [dhctl] Fix `edit provider-cluster-configuration` command remove discovery-data.json from `kube-system/d8-provider-cluster-configuration` secret
  dhctl/cmd/dhctl/commands/edit.go
  dhctl/cmd/dhctl/main.go
Labels: area/cli, status/backport, go

#6488 Backport: [dhctl] Fix `edit provider-cluster-configuration` command remove discovery-data.json from `kube-system/d8-provider-cluster-configuration` secret
  dhctl/cmd/dhctl/commands/edit.go
  dhctl/cmd/dhctl/main.go
Labels: auto, backported

#6470 Changelog v1.54.2
  CHANGELOG/CHANGELOG-v1.54.2.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: changelog, auto, status/backport

#6491 [user-authn] add missing quotes
  modules/150-user-authn/templates/dex/passwords.yaml
Labels: area/auth, status/backport

#6493 Backport: [user-authn] add missing quotes
  modules/150-user-authn/templates/dex/passwords.yaml
Labels: auto, backported

#6494 [loki] fix cve in loki image
  modules/462-loki/images/loki/Dockerfile
Labels: area/logs

#6505 [global] avoid races
  go.mod
  go.sum
  go_lib/dependency/dependency.go
  tools/go.sum
Labels: area/testing, type/dependencies, area/core, status/backport, go

#6507 Backport: [global] avoid races
  go.mod
  go.sum
  go_lib/dependency/dependency.go
  tools/go.sum
Labels: auto, backported

#6492 Changelog v1.54.2
  CHANGELOG/CHANGELOG-v1.54.2.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: changelog, auto, status/backport

#6509 Backport: Changelog v1.54.2
  CHANGELOG/CHANGELOG-v1.54.2.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: auto, backported

#6510 Changelog v1.54.2
  CHANGELOG/CHANGELOG-v1.54.2.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: changelog, auto, status/backport

#6511 Backport: Changelog v1.54.2
  CHANGELOG/CHANGELOG-v1.54.2.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: auto, backported

#6397 [kube-dns] Fix CVEs
  modules/042-kube-dns/images/coredns/Dockerfile
  modules/042-kube-dns/images/coredns/patches/support-alpha-tolerate-unready-endpoints-annotation.patch
  modules/042-kube-dns/images/coredns/werf.inc.yaml
  modules/042-kube-dns/images/sts-pods-hosts-appender-webhook/go.mod
  modules/042-kube-dns/images/sts-pods-hosts-appender-webhook/go.sum
  modules/042-kube-dns/templates/deployment.yaml
Labels: area/cluster-and-infrastructure, type/dependencies

#6407 [kube-dns] Return alert about deprecated service annotation
  modules/042-kube-dns/hooks/legacy_metrics.go
  modules/042-kube-dns/hooks/legacy_metrics_test.go
  modules/042-kube-dns/monitoring/prometheus-rules/kubernetes/dns.yaml
Labels: area/cluster-and-infrastructure, go

#6515 [control-plane-manager] updated the documentation on backing up etcd
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, status/backport, backported

#6519 Backport: [control-plane-manager] updated the documentation on backing up etcd
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#6428 [ingress-nginx] add requests from
  modules/402-ingress-nginx/images/proxy-failover-iptables/failover/main.go
  modules/402-ingress-nginx/images/proxy-failover/conf/nginx.conf.tpl
  modules/402-ingress-nginx/images/proxy-failover/go.mod
  modules/402-ingress-nginx/images/proxy-failover/go.sum
  modules/402-ingress-nginx/images/proxy-failover/main.go
  modules/402-ingress-nginx/images/proxy-failover/werf.inc.yaml
  modules/402-ingress-nginx/templates/controller/configmap.yaml
  modules/402-ingress-nginx/templates/failover/configmap.yaml
  modules/402-ingress-nginx/templates/failover/daemonset.yaml
Labels: area/network, type/dependencies, go

#5274 [global] add status
  candi/openapi/node_group.yaml
  go_lib/hooks/set_cr_statuses/hook.go
  modules/010-prometheus-crd/crds/customalertmanager.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/hooks/handle_security_policies.go
  modules/015-admission-policy-engine/hooks/handle_security_policies_test.go
  modules/015-admission-policy-engine/hooks/update_security_policy_status.go
  modules/015-admission-policy-engine/hooks/update_security_policy_status_test.go
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/update_node_group_status.go
  modules/040-node-manager/hooks/update_node_group_status_test.go
  modules/300-prometheus/hooks/alertmanager_crd_discovery.go
  modules/300-prometheus/hooks/alertmanager_crd_discovery_test.go
  modules/300-prometheus/hooks/update_alertmanager_status.go
  modules/300-prometheus/hooks/update_alertmanager_status_test.go
Labels: area/monitoring, area/security, area/cluster-and-infrastructure, area/core, skip/documentation-validation, e2e/cluster/failed, go, area/api-change

#6521 [monitoring-kubernetes] Bump kube-state-metrics 2.7.0
  modules/340-monitoring-kubernetes/images/kube-state-metrics/Dockerfile
  modules/340-monitoring-kubernetes/templates/kube-state-metrics/deployment.yaml
Labels: area/monitoring

#6496 [dhctl] Overhaul preflight checks error messages
  candi/bashible/preflight/check_localhost.sh
  candi/bashible/preflight/check_ports.sh
  dhctl/pkg/preflight/dhctl_obsolescence.go
  dhctl/pkg/preflight/domain.go
  dhctl/pkg/preflight/ports.go
  dhctl/pkg/preflight/preflight.go
  dhctl/pkg/preflight/registry.go
  dhctl/pkg/preflight/ssh.go
Labels: area/cluster-and-infrastructure, area/cli, skip/e2e, go

#6522 [dhctl] Add config map with install version
  dhctl/cmd/dhctl/main.go
  dhctl/pkg/config/base.go
  dhctl/pkg/config/deckhouse_config.go
  dhctl/pkg/config/meta.go
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
Labels: area/cli, go

#6498 [node-manager] Fix instance documentation
  modules/040-node-manager/crds/doc-ru-instance.yaml
  modules/040-node-manager/crds/instance.yaml
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport, area/api-change

#6533 Backport: [node-manager] Fix instance documentation
  modules/040-node-manager/crds/doc-ru-instance.yaml
  modules/040-node-manager/crds/instance.yaml
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#6535 Backport: [linstor] Add a badge about the linstor module requirements.
  modules/041-linstor/docs/ADVANCED_USAGE.md
  modules/041-linstor/docs/ADVANCED_USAGE_RU.md
  modules/041-linstor/docs/CONFIGURATION.md
  modules/041-linstor/docs/CONFIGURATION_RU.md
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/041-linstor/docs/README.md
  modules/041-linstor/docs/README_RU.md
  modules/041-linstor/docs/USAGE.md
  modules/041-linstor/docs/USAGE_RU.md
Labels: auto, backported

#6538 [dhctl] Fix mirror command is not available in container
  dhctl/cmd/dhctl/main.go
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, area/cli, status/backport, skip/e2e, go

#6540 Backport: [dhctl] Fix mirror command is not available in container
  dhctl/cmd/dhctl/main.go
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#6415 [candi] Parallel download registry packages in separate step before installation
  candi/bashible/bashbooster/50_deckhouse_registrypackages.sh
  candi/bashible/common-steps/all/003_add_deckhouse_path.sh.tpl
  candi/bashible/common-steps/all/006_fetch_registry_packages.sh.tpl
  ee/candi/bashible/bundles/altlinux/all/002_install_ca_certificates.sh.tpl
  ee/candi/bashible/bundles/altlinux/all/004_make_profiled_scripts_executable.sh.tpl
Labels: area/cluster-and-infrastructure

#6514 [node-manager][docs] Improved NodeGroupConfiguration documentation
  modules/040-node-manager/crds/doc-ru-nodegroupconfiguration.yaml
  modules/040-node-manager/crds/nodegroupconfiguration.yaml
  modules/040-node-manager/docs/EXAMPLES.md
  modules/040-node-manager/docs/EXAMPLES_RU.md
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: area/docs

#6543 [docs] Minor documentation fix
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: area/docs, area/cluster-and-infrastructure

#6547 [node-manager] fix ng update loop
  modules/040-node-manager/hooks/update_node_group_status.go
Labels: area/cluster-and-infrastructure, go

#6525 [user-authz] user-authz-webhook livenessProbe
  ee/modules/140-user-authz/images/webhook/Dockerfile
  ee/modules/140-user-authz/images/webhook/cmd/healthcheck/main.go
  ee/modules/140-user-authz/images/webhook/web/client.go
  ee/modules/140-user-authz/images/webhook/web/server.go
  ee/modules/140-user-authz/templates/webhook/daemonset.yaml
Labels: area/auth, e2e/use/k8s/1.25, go

#6555 [admission-policy-engine] fixed labels in anti-affinity for gatekeeper-controller
  modules/015-admission-policy-engine/templates/gatekeeper-deployment.yaml
Labels: area/security

#6419 [node-manager](caps) add kubernetes events support
  modules/040-node-manager/hooks/generate_capi_static_kubeconfig_secret.go
  modules/040-node-manager/hooks/internal/kubeconfig/kubeconfig.go
  modules/040-node-manager/images/caps-controller-manager/src/cmd/main.go
  modules/040-node-manager/images/caps-controller-manager/src/go.mod
  modules/040-node-manager/images/caps-controller-manager/src/go.sum
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/bootstrap.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/cleanup.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/client.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/controller/deckhouse.io/staticinstance_controller.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/controller/infrastructure/staticmachine_controller.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/event/recorder.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/pool/static_instance_pool.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/scope/instance_scope.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/scope/machine_scope.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/util/get.go
  modules/040-node-manager/templates/capi-controller-manager/rbac-for-us.yaml
  modules/040-node-manager/templates/caps-controller-manager/rbac-for-us.yaml
Labels: area/cluster-and-infrastructure, type/dependencies, status/backport, go

#6558 Backport: [node-manager](caps) add kubernetes events support
  modules/040-node-manager/hooks/generate_capi_static_kubeconfig_secret.go
  modules/040-node-manager/hooks/internal/kubeconfig/kubeconfig.go
  modules/040-node-manager/images/caps-controller-manager/src/cmd/main.go
  modules/040-node-manager/images/caps-controller-manager/src/go.mod
  modules/040-node-manager/images/caps-controller-manager/src/go.sum
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/bootstrap.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/cleanup.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/client.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/controller/deckhouse.io/staticinstance_controller.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/controller/infrastructure/staticmachine_controller.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/event/recorder.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/pool/static_instance_pool.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/scope/instance_scope.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/scope/machine_scope.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/util/get.go
  modules/040-node-manager/templates/capi-controller-manager/rbac-for-us.yaml
  modules/040-node-manager/templates/caps-controller-manager/rbac-for-us.yaml
Labels: auto, backported

#6556 [deckhouse] panic with istio module config
  go.mod
  go.sum
Labels: type/dependencies, area/core, status/backport, e2e/use/k8s/1.25, e2e/use/k8s/1.27

#6562 Backport: [deckhouse] panic with istio module config
  go.mod
  go.sum
Labels: auto, backported

#6550 [cni-cilium][agent] Fixing resourceManagement for Static mode
  modules/021-cni-cilium/templates/agent/daemonset.yaml
Labels: area/network, status/backport

#6563 Backport: [cni-cilium][agent] Fixing resourceManagement for Static mode
  modules/021-cni-cilium/templates/agent/daemonset.yaml
Labels: auto, backported

#6518 Changelog v1.54.3
  CHANGELOG/CHANGELOG-v1.54.3.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: changelog, auto, status/backport

#6564 Backport: Changelog v1.54.3
  CHANGELOG/CHANGELOG-v1.54.3.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: auto, backported

#6387 [node-manager] add docs for static provider
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  docs/site/pages/guides/PRODUCTION.md
  docs/site/pages/guides/PRODUCTION_RU.md
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
  ee/modules/160-multitenancy-manager/docs/USAGE_RU.md
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
  modules/040-node-manager/crds/doc-ru-sshcredentials.yaml
  modules/040-node-manager/crds/doc-ru-staticinstance.yaml
  modules/040-node-manager/crds/sshcredentials.yaml
  modules/040-node-manager/crds/staticcluster.yaml
  modules/040-node-manager/crds/staticcontrolplane.yaml
  modules/040-node-manager/crds/staticinstance.yaml
  modules/040-node-manager/crds/staticmachine.yaml
  modules/040-node-manager/crds/staticmachinetemplate.yaml
  modules/040-node-manager/docs/EXAMPLES.md
  modules/040-node-manager/docs/EXAMPLES_RU.md
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
  modules/040-node-manager/docs/internal/static-provider/README.md
  modules/040-node-manager/docs/internal/static-provider/architecture/architecture.md
  modules/040-node-manager/docs/internal/static-provider/architecture/crd-relationships.md
Labels: area/cloud-provider, area/security, area/docs, area/cluster-and-infrastructure, skip/documentation-validation, area/api-change

#6565 Changelog v1.54.3
  CHANGELOG/CHANGELOG-v1.54.3.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: changelog, auto, status/backport

#6566 Backport: Changelog v1.54.3
  CHANGELOG/CHANGELOG-v1.54.3.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: auto, backported

#6567 [dhctl] Fix delete unnecessary obsolescence image preflight check
  dhctl/pkg/preflight/preflight.go
Labels: area/cli, status/backport, go

#6569 Backport: [dhctl] Fix delete unnecessary obsolescence image preflight check
  dhctl/pkg/preflight/preflight.go
Labels: auto, backported

#6568 Changelog v1.54.3
  CHANGELOG/CHANGELOG-v1.54.3.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: changelog, auto, status/backport

#6570 Backport: Changelog v1.54.3
  CHANGELOG/CHANGELOG-v1.54.3.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: auto, backported

#6526 [node-manager] fix cve in bashible-apiserver image
  modules/040-node-manager/images/bashible-apiserver/go.mod
  modules/040-node-manager/images/bashible-apiserver/go.sum
Labels: area/cluster-and-infrastructure, type/dependencies

#6557 [dhctl] Support destroy command for static clusters
  dhctl/pkg/kubernetes/actions/deckhouse/delete.go
  dhctl/pkg/kubernetes/actions/deckhouse/delete_test.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-abort.go
  dhctl/pkg/operations/destroy/deckhouse.go
  dhctl/pkg/operations/destroy/destroy.go
Labels: area/cli, status/backport, skip/e2e, go

#6573 Backport: [dhctl] Support destroy command for static clusters
  dhctl/pkg/kubernetes/actions/deckhouse/delete.go
  dhctl/pkg/kubernetes/actions/deckhouse/delete_test.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-abort.go
  dhctl/pkg/operations/destroy/deckhouse.go
  dhctl/pkg/operations/destroy/destroy.go
Labels: auto, backported

#6040 [bashible] fixed wait apt update
  candi/bashible/bundles/debian/all/002_apt_timeout.sh.tpl
  candi/bashible/bundles/ubuntu-lts/all/002_apt_timeout.sh.tpl
  candi/bashible/common-steps/all/080_setup_timer_to_run_bashible.sh.tpl
  ee/candi/bashible/bundles/altlinux/all/002_apt_timeout.sh.tpl
  ee/candi/bashible/bundles/astra/all/002_apt_timeout.sh.tpl
Labels: area/cluster-and-infrastructure, edition/ee

#6576 [dhctl] Fix panic on getting tag during bootstrap
  dhctl/pkg/config/deckhouse_config.go
Labels: area/cli, status/backport, skip/e2e, go

#6577 Backport: [dhctl] Fix panic on getting tag during bootstrap
  dhctl/pkg/config/deckhouse_config.go
Labels: auto, backported

#6572 Changelog v1.54.4
  CHANGELOG/CHANGELOG-v1.54.4.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: changelog, auto, status/backport

#6551 [candi] Do not wait Instance status patch indefinitely during bootstrap
  candi/bashible/bootstrap.sh.tpl
Labels: area/cluster-and-infrastructure

#6520 [cni-flannel] Build from source and update to v0.23.0
  modules/035-cni-flannel/images/flanneld/entrypoint/go.mod
  modules/035-cni-flannel/images/flanneld/entrypoint/go.sum
  modules/035-cni-flannel/images/flanneld/werf.inc.yaml
Labels: area/network, type/dependencies, skip/e2e

#6490 [distroless] node-local-dns to distroless
  ee/modules/350-node-local-dns/images/coredns/Dockerfile
  ee/modules/350-node-local-dns/images/coredns/iptables-wrapper-installer.sh
  ee/modules/350-node-local-dns/images/coredns/werf.inc.yaml
  ee/modules/350-node-local-dns/images/iptables-loop/Dockerfile
  ee/modules/350-node-local-dns/images/iptables-loop/iptables-wrapper-installer.sh
  ee/modules/350-node-local-dns/images/iptables-loop/werf.inc.yaml
  ee/modules/350-node-local-dns/templates/daemonset.yaml
Labels: area/cluster-and-infrastructure

#6396 [documentation] migrate documentation to distroless
  modules/810-documentation/images/web/nginx.conf
  modules/810-documentation/images/web/werf.inc.yaml
  modules/810-documentation/templates/configmap.yaml
  modules/810-documentation/templates/deployment.yaml
Labels: area/docs

#6592 Revert "[cni-flannel] Build from source and update to v0.23.0 (#6520)"
  modules/035-cni-flannel/images/flanneld/entrypoint/go.mod
  modules/035-cni-flannel/images/flanneld/entrypoint/go.sum
  modules/035-cni-flannel/images/flanneld/werf.inc.yaml
Labels: area/network, type/dependencies

#6574 [cloud-provider-azure] Update cloud-controller-manager
  candi/version_map.yml
Labels: area/kubernetes, area/cluster-and-infrastructure, e2e/use/k8s/1.25

#6583 [node-manager] Fix node group validation webhook if global mc does not exists
  modules/040-node-manager/webhooks/validating/node_group
  testing/cloud_layouts/GCP/WithoutNAT/configuration.tpl.yaml
Labels: area/testing, area/cluster-and-infrastructure

#6599 [node-manager] Minor documentation fix.
  modules/040-node-manager/docs/EXAMPLES.md
  modules/040-node-manager/docs/EXAMPLES_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport

#6601 Backport: [node-manager] Minor documentation fix.
  modules/040-node-manager/docs/EXAMPLES.md
  modules/040-node-manager/docs/EXAMPLES_RU.md
Labels: auto, backported

#6433 [dependency] Ignore path for docker registry auths
  go_lib/dependency/cr/cr.go
  go_lib/dependency/cr/cr_test.go
Labels: area/core, skip/e2e, go

#6355 Admission policy engine add non default enforcement action
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
  modules/015-admission-policy-engine/hooks/detect_pss_enforcement_actions.go
  modules/015-admission-policy-engine/hooks/detect_pss_enforcement_actions_test.go
  modules/015-admission-policy-engine/openapi/values.yaml
  modules/015-admission-policy-engine/template_tests/module_test.go
  modules/015-admission-policy-engine/template_tests/operation_policies_test.go
  modules/015-admission-policy-engine/template_tests/policies_test.go
  modules/015-admission-policy-engine/template_tests/security_policies_test.go
  modules/015-admission-policy-engine/templates/_helpers.tpl
  modules/015-admission-policy-engine/templates/policies/pod-security-standards/baseline/constraint.yaml
  modules/015-admission-policy-engine/templates/policies/pod-security-standards/restricted/constraint.yaml
  testing/openapi_validation/validators/enum.go
Labels: area/security, area/testing, area/docs, skip/e2e, go, area/api-change

#6561 [candi] Disable managing foreign ip rules by systemd-networkd
  candi/bashible/common-steps/all/005_disable_manage_iprules.sh.tpl
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.25

#6597 [dhctl] Fix static cluster destroy
  dhctl/pkg/kubernetes/actions/deckhouse/delete.go
  dhctl/pkg/operations/bootstrap/checks.go
Labels: area/cli, status/backport, go

#6610 Backport: [dhctl] Fix static cluster destroy
  dhctl/pkg/kubernetes/actions/deckhouse/delete.go
  dhctl/pkg/operations/bootstrap/checks.go
Labels: auto, backported

#6600 Changelog v1.54.5
  CHANGELOG/CHANGELOG-v1.54.5.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: changelog, auto, status/backport

#6613 Backport: Changelog v1.54.5
  CHANGELOG/CHANGELOG-v1.54.5.yml
  CHANGELOG/CHANGELOG-v1.54.md
Labels: auto, backported

#6528 [Admission policy engine] set default pss policy
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
  modules/015-admission-policy-engine/hooks/detect_pss_default_policy.go
  modules/015-admission-policy-engine/hooks/detect_pss_default_policy_test.go
  modules/015-admission-policy-engine/hooks/detect_pss_enforcement_actions.go
  modules/015-admission-policy-engine/hooks/detect_pss_enforcement_actions_test.go
  modules/015-admission-policy-engine/monitoring/grafana-dashboards/security/admission-policy-engine.json
  modules/015-admission-policy-engine/openapi/config-values.yaml
  modules/015-admission-policy-engine/openapi/doc-ru-config-values.yaml
  modules/015-admission-policy-engine/templates/_helpers.tpl
Labels: area/security, area/docs, go, area/api-change

#6606 [site] Render OpenAPI specs of the modules
  docs/site/backends/docs-builder-template/data/helpers.yaml
  docs/site/backends/docs-builder-template/i18n/en.yaml
  docs/site/backends/docs-builder-template/i18n/ru.yaml
  docs/site/backends/docs-builder-template/layouts/_default/single.html
  docs/site/backends/docs-builder-template/layouts/partials/module-resources.html
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-attributes.html
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-crd.html
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-schema.html
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-type.html
Labels: area/docs, area/api-change

#6502 [user-authn] Fix CVEs
  modules/150-user-authn/images/dex-authenticator/Dockerfile
  modules/150-user-authn/images/dex/Dockerfile
  modules/150-user-authn/images/kubeconfig-generator/Dockerfile
Labels: area/auth, e2e/cluster/failed

#6473 [user-authz] fix cve in user-authz image
  ee/modules/140-user-authz/images/webhook/go.mod
  ee/modules/140-user-authz/images/webhook/go.sum
Labels: area/auth, type/dependencies

#6623 [candi] Fixing disabling managing foreign ip rules by systemd-networkd
  candi/bashible/common-steps/all/005_disable_manage_iprules.sh.tpl
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.25

#6617 [external-module-manager] Store checksums in memory
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source.go
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source_test.go
  modules/005-external-module-manager/hooks/handle_sources.go
  modules/005-external-module-manager/openapi/values.yaml
Labels: area/modules, go, area/api-change

#6626 Backport: [external-module-manager] Store checksums in memory
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source.go
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source_test.go
  modules/005-external-module-manager/hooks/handle_sources.go
  modules/005-external-module-manager/openapi/values.yaml
Labels: auto, backported

#6581 [istio] Add parameter for manage proxy idleTimeout
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/openapi/doc-ru-config-values.yaml
  modules/110-istio/templates/control-plane/iop.yaml
Labels: area/network, e2e/use/k8s/1.25, area/api-change

#6624 [dhctl] Remove debBranch or releaseChannel requirements from InitConfiguration
  candi/openapi/init_configuration.yaml
Labels: area/cluster-and-infrastructure, status/backport, area/api-change

#6630 Backport: [dhctl] Remove debBranch or releaseChannel requirements from InitConfiguration
  candi/openapi/init_configuration.yaml
Labels: auto, backported

#6621 [chore] Update Kubernetes patch versions
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: area/kubernetes, area/testing, area/cluster-and-infrastructure, e2e/use/k8s/1.26, e2e/use/k8s/1.25, go, e2e/use/k8s/1.27, e2e/use/k8s/1.28

#6614 [node-manager] Alert about yandex ru-central-c zone deprecation
  modules/030-cloud-provider-yandex/hooks/alert_on_deprecated_availability_zone.go
  modules/030-cloud-provider-yandex/hooks/alert_on_deprecated_availability_zone_test.go
  modules/030-cloud-provider-yandex/monitoring/prometheus-rules/deprecated_availability_zone.yaml
Labels: area/cloud-provider, skip/e2e, go

#5996 [monitoring] added a job to sift metrics from custom exporters
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/persistent-volume-claim.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/generic/kubelet.tpl
Labels: area/monitoring, skip/e2e

#6499 [prometheus][alertmanager] Ignore unnecessary alerts in Alertmanager examples update
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
Labels: area/monitoring, area/docs, source/internal-client, skip/e2e

#6503 [prometheus] fix cve in alertsreceiver image
  modules/300-prometheus/images/alerts-receiver/src/go.mod
  modules/300-prometheus/images/alerts-receiver/src/go.sum
Labels: area/monitoring, type/dependencies

#6506 [prometheus-metrics-adapter] fix cve in k8sPrometheusAdapter image
  modules/301-prometheus-metrics-adapter/images/k8s-prometheus-adapter/Dockerfile
Labels: area/monitoring

#6523 [monitoring-kubernetes] fix cve in node-exporter, kubelet-eviction-tresholds-exporter image
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/Dockerfile
  modules/340-monitoring-kubernetes/images/node-exporter/Dockerfile
Labels: area/monitoring

#6553 [docs] update documentation for integration user-authn with Gitlab ver16+
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: area/auth, area/docs, status/ok-to-test

#5934 fix Pods Usage graphic on Capacity Planning dashboard (#5933)
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/capacity-planning/capacity-planning.json
Labels: area/monitoring

#6634 [admission-policy-engine] Fix documentation.
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
  modules/015-admission-policy-engine/openapi/config-values.yaml
  modules/015-admission-policy-engine/openapi/doc-ru-config-values.yaml
Labels: area/security, area/docs, area/api-change

#6636 [admission-policy-engine] Documentation updates
  modules/015-admission-policy-engine/openapi/config-values.yaml
  modules/015-admission-policy-engine/openapi/doc-ru-config-values.yaml
Labels: area/security, area/api-change

#6185 [cni-cilium] Upgrading to 1.14
  modules/021-cni-cilium/crds/ciliumbgppeeringpolicies.yaml
  modules/021-cni-cilium/crds/ciliumcidrgroups.yaml
  modules/021-cni-cilium/crds/ciliumclusterwideenvoyconfigs.yaml
  modules/021-cni-cilium/crds/ciliumclusterwidenetworkpolicies.yaml
  modules/021-cni-cilium/crds/ciliumegressgatewaypolicies.yaml
  modules/021-cni-cilium/crds/ciliumegressnatpolicies.yaml
  modules/021-cni-cilium/crds/ciliumendpoints.yaml
  modules/021-cni-cilium/crds/ciliumendpointslices.yaml
  modules/021-cni-cilium/crds/ciliumenvoyconfigs.yaml
  modules/021-cni-cilium/crds/ciliumexternalworkloads.yaml
  modules/021-cni-cilium/crds/ciliumidentities.yaml
  modules/021-cni-cilium/crds/ciliuml2announcementpolicies.yaml
  modules/021-cni-cilium/crds/ciliumloadbalancerippools.yaml
  modules/021-cni-cilium/crds/ciliumlocalredirectpolicies.yaml
  modules/021-cni-cilium/crds/ciliumnetworkpolicies.yaml
  modules/021-cni-cilium/crds/ciliumnodeconfigs.yaml
  modules/021-cni-cilium/crds/ciliumnodes.yaml
  modules/021-cni-cilium/crds/ciliumpodippools.yaml
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
  modules/021-cni-cilium/hooks/set_cilium_mode.go
  modules/021-cni-cilium/hooks/set_cilium_mode_test.go
  modules/021-cni-cilium/images/builder/werf.inc.yaml
  modules/021-cni-cilium/images/cilium/patches/001-request-ip.patch
  modules/021-cni-cilium/images/cilium/patches/002-stable-mac.patch
  modules/021-cni-cilium/images/cilium/patches/003-mtu.patch
  modules/021-cni-cilium/images/cilium/patches/004-fib.patch
  modules/021-cni-cilium/images/cilium/patches/README.md
  modules/021-cni-cilium/images/cilium/werf.inc.yaml
  modules/021-cni-cilium/images/operator/werf.inc.yaml
  modules/021-cni-cilium/openapi/config-values.yaml
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
  modules/021-cni-cilium/templates/agent/daemonset.yaml
  modules/021-cni-cilium/templates/agent/rbac-for-us.yaml
  modules/021-cni-cilium/templates/configmap.yaml
  modules/021-cni-cilium/templates/operator/rbac-for-us.yaml
  modules/500-cilium-hubble/images/relay/Dockerfile
  modules/500-cilium-hubble/images/ui-backend/Dockerfile
  modules/500-cilium-hubble/images/ui-frontend/Dockerfile
  testing/library/images_tags_generated.go
Labels: area/network, area/testing, area/docs, skip/documentation-validation, e2e/use/cri/containerd, priority/top, e2e/use/k8s/1.25, go, area/api-change

#6612 [cert-manager][docs] Add information about using your own CA
  modules/101-cert-manager/docs/FAQ.md
  modules/101-cert-manager/docs/FAQ_RU.md
Labels: area/security, area/docs, status/backport

#6641 Backport: [cert-manager][docs] Add information about using your own CA
  modules/101-cert-manager/docs/FAQ.md
  modules/101-cert-manager/docs/FAQ_RU.md
Labels: auto, backported

#6643 Backport: [cert-manager][docs] Add information about using your own CA
  modules/101-cert-manager/docs/FAQ.md
  modules/101-cert-manager/docs/FAQ_RU.md
Labels: auto, backported

#6646 [chore] Update CODEOWNERS
  .github/CODEOWNERS
Labels: area/cicd
