Repository deckhouse/deckhouse, pull requests merged in 2023-07, with the labels that each got.

#5095 [docs] Add an example of an object restoration from the etcd snapshot
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, status/backport

#5097 Backport: [docs] Add an example of an object restoration from the etcd snapshot
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#5093 [docs] Getting started bare metal updates
  docs/site/_includes/getting_started/bm/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ee.inc
Labels: area/docs, skip/e2e

#5103 Backport: [ingress-nginx] add migration hook for updating kruise controller image before updating ingress-nginx module
  modules/402-ingress-nginx/hooks/migrate_update_kruise_controller_image.go
  modules/402-ingress-nginx/hooks/migrate_update_kruise_controller_image_test.go
  modules/402-ingress-nginx/templates/kruise/manager.yaml
Labels: auto, backported

#5104 Changelog v1.46.11
  CHANGELOG/CHANGELOG-v1.46.11.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: changelog, auto, status/backport

#5105 Backport: Changelog v1.46.11
  CHANGELOG/CHANGELOG-v1.46.11.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: auto, backported

#4977 [candi] Fix AWSClusterConfiguration OpenAPI spec
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cluster-and-infrastructure

#5000 [cloud-provider-azure] fixed the behavior of the acceleratedNetworking variable
  modules/030-cloud-provider-azure/cloud-instance-manager/machine-class.yaml
  modules/040-node-manager/template_tests/module_test.go
Labels: status/ok-to-test

#5038 [node-manager] Separate the name of the node group from the command
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs

#5110 [runtime-audit-engine] Mount sockets and fix webhook output
  ee/modules/650-runtime-audit-engine/hack/far-converter/main.go
  ee/modules/650-runtime-audit-engine/images/rules-loader/hooks/lib/test.py
  ee/modules/650-runtime-audit-engine/images/rules-loader/hooks/webhook/webhook.py
  ee/modules/650-runtime-audit-engine/rules/k8s_audit_rules.yaml
  ee/modules/650-runtime-audit-engine/templates/configmap.yaml
  ee/modules/650-runtime-audit-engine/templates/daemonset.yaml
Labels: area/security

#5112 [site] Update content in the "ce vs ee" table
  docs/site/_data/revision_comparison.yml
Labels: area/docs

#5113 [deckhouse] Fix DeckhouseRelease cleanup hook
  modules/002-deckhouse/hooks/cleanup_deckhouse_releases.go
  modules/002-deckhouse/hooks/cleanup_deckhouse_releases_test.go
Labels: status/backport, skip/e2e

#5116 Backport: [deckhouse] Fix DeckhouseRelease cleanup hook
  modules/002-deckhouse/hooks/cleanup_deckhouse_releases.go
  modules/002-deckhouse/hooks/cleanup_deckhouse_releases_test.go
Labels: auto, backported

#3978 [testing] [ci] add deckhouse logs if not READY pod
  .github/ci_templates/e2e_tests.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  testing/cloud_layouts/script.sh
Labels: area/testing, e2e/use/cri/containerd, e2e/use/k8s/1.23, skip/e2e, area/cicd

#5092 [ingress-nginx] tune kruise leader election and verbosity
  modules/402-ingress-nginx/templates/kruise/manager.yaml
Labels: area/core, status/backport

#5118 Backport: [ingress-nginx] tune kruise leader election and verbosity
  modules/402-ingress-nginx/templates/kruise/manager.yaml
Labels: auto, backported

#4970 [candi] Move altlinux bundle to EE edition
  candi/bashible/bashbooster/55_distro_version.sh
  candi/bashible/detect_bundle.sh
  ee/candi/bashible/bashbooster/55_ee_distro_version.sh
  ee/candi/bashible/bundles/altlinux/all/000_install_ca_certificates.sh.tpl
  ee/candi/bashible/bundles/altlinux/all/001_install_mandatory_packages.sh.tpl
  ee/candi/bashible/bundles/altlinux/all/011_disable_floppy_drive.sh.tpl
  ee/candi/bashible/bundles/altlinux/all/030_dist_upgrade.sh.tpl
  ee/candi/bashible/bundles/altlinux/bootstrap.sh.tpl
  ee/candi/bashible/bundles/altlinux/node-group/001_install_mandatory_packages_for_cloud_nodes.sh.tpl
  ee/candi/bashible/bundles/altlinux/node-group/031_install_containerd.sh.tpl
  ee/candi/bashible/bundles/altlinux/node-group/031_install_docker.sh.tpl
  ee/candi/bashible/bundles/altlinux/node-group/035_pull_pause.sh.tpl
  ee/candi/bashible/detect_bundle.sh
  ee/modules/040-node-manager/openapi/openapi-case-tests.yaml
  modules/040-node-manager/openapi/openapi-case-tests.yaml
  tools/build_includes/candi-EE.yaml
  tools/build_includes/candi-FE.yaml
Labels: area/cluster-and-infrastructure, type/chore

#5109 [docs] Update the Deckhouse FAQ
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/doc-review

#5090 [admission-policy-engine] Add required-annotations OPA policy
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/required-annotations.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/required-annotations/allowed_dep.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/required-annotations/allowed_pod.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/required-annotations/constraint.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/required-annotations/disallowed_dep.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/required-annotations/disallowed_pod.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation-policy/test_samples/required-annotations/suite.yaml
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/hooks/handle_operation_policies_test.go
  modules/015-admission-policy-engine/hooks/internal/apis/v1alpha1.go
  modules/015-admission-policy-engine/template_tests/operation_policies_test.go
  modules/015-admission-policy-engine/templates/operation-policy/constraint.yaml
Labels: area/security, skip/e2e

#5119 Backport: [docs] Update the Deckhouse FAQ
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#5100 [ingress-nginx] update stick-to-maxunavailable.patch
  modules/402-ingress-nginx/images/kruise/patches/README.md
  modules/402-ingress-nginx/images/kruise/patches/stick-to-maxunavailable.patch
Labels: area/core, status/backport

#5122 Backport: [ingress-nginx] update stick-to-maxunavailable.patch
  modules/402-ingress-nginx/images/kruise/patches/README.md
  modules/402-ingress-nginx/images/kruise/patches/stick-to-maxunavailable.patch
Labels: auto, backported

#4406 [user-authn] Add group object
  modules/010-user-authn-crd/crds/doc-ru-group.yaml
  modules/010-user-authn-crd/crds/doc-ru-user.yaml
  modules/010-user-authn-crd/crds/group.yaml
  modules/010-user-authn-crd/crds/user.yaml
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
  modules/150-user-authn/hooks/get_dex_user_crds.go
  modules/150-user-authn/hooks/get_dex_user_crds_test.go
  modules/150-user-authn/hooks/migration_groups_from_user_to_group_object.go
  modules/150-user-authn/hooks/migration_groups_from_user_to_group_object_test.go
  modules/150-user-authn/templates/user-authz-cluster-roles.yaml
  modules/150-user-authn/webhooks/validating/group
  modules/150-user-authn/webhooks/validating/user
Labels: type/feature-request

#5028 Update lib-helm and changed security context for deckhouse
  candi/bashible/bundles/centos/node-group/033_install_mandatory_selinux_policies.sh.tpl
  modules/002-deckhouse/templates/deployment.yaml
Labels: area/core, e2e/use/k8s/1.23

#5124 Backport: [candi] fix install containerd step
  candi/bashible/bundles/centos/node-group/031_install_containerd.sh.tpl
  candi/bashible/bundles/debian/node-group/031_install_containerd.sh.tpl
  candi/bashible/bundles/ubuntu-lts/node-group/031_install_containerd.sh.tpl
  ee/candi/bashible/bundles/alteros/node-group/031_install_containerd.sh.tpl
  ee/candi/bashible/bundles/astra/node-group/031_install_containerd.sh.tpl
  ee/candi/bashible/bundles/redos/node-group/031_install_containerd.sh.tpl
Labels: auto, backported

#5121 [linstor] fixed prometheus-rules renamed exported_node to node
  modules/041-linstor/monitoring/grafana-dashboards/storage/linstor_drbd.json
  modules/041-linstor/monitoring/prometheus-rules/linstor-storage-pools.yaml
  modules/041-linstor/templates/linstor-controller/servicemonitor.yaml
  modules/041-linstor/templates/linstor-node/podmonitor.yaml
Labels: status/backport, area/storage

#5125 Backport: [linstor] fixed prometheus-rules renamed exported_node to node
  modules/041-linstor/monitoring/grafana-dashboards/storage/linstor_drbd.json
  modules/041-linstor/monitoring/prometheus-rules/linstor-storage-pools.yaml
  modules/041-linstor/templates/linstor-controller/servicemonitor.yaml
  modules/041-linstor/templates/linstor-node/podmonitor.yaml
Labels: auto, backported

#5096 Changelog v1.47.2
  CHANGELOG/CHANGELOG-v1.47.2.yml
  CHANGELOG/CHANGELOG-v1.47.md
Labels: changelog, auto, status/backport

#5126 Backport: Changelog v1.47.2
  CHANGELOG/CHANGELOG-v1.47.2.yml
  CHANGELOG/CHANGELOG-v1.47.md
Labels: auto, backported

#5133 [node-manager] do not render template by helm
  modules/040-node-manager/templates/nodegroupconfiguration-prune-containerd-content.yaml
Labels: area/cluster-and-infrastructure

#5136 Backport: [node-manager] do not render template by helm
  modules/040-node-manager/templates/nodegroupconfiguration-prune-containerd-content.yaml
Labels: auto, backported

#5139 [deckhouse-controller] Bump addon-operator version to fix mergo concurrent map writes
  go.mod
  go.sum
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.mod
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.sum
  tools/go.sum
Labels: status/backport

#5140 Backport: [deckhouse-controller] Bump addon-operator version to fix mergo concurrent map writes
  go.mod
  go.sum
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.mod
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.sum
  tools/go.sum
Labels: auto, backported

#5128 [dashboard] Show username and groups
  modules/500-dashboard/images/dashboard/logout_button.js
Labels: area/ui

#5145 [deckhouse] Fix Module CRD
  modules/002-deckhouse/crds/module.yaml
  modules/002-deckhouse/hooks/pkg/apis/producer.go
  modules/002-deckhouse/hooks/pkg/apis/v1alpha1/module.go
  modules/002-deckhouse/hooks/pkg/apis/v1alpha1/module_generated.deepcopy.go
Labels: skip/documentation-validation, e2e/use/cri/containerd, status/backport, e2e/use/k8s/1.23

#5146 Backport: [deckhouse] Fix Module CRD
  modules/002-deckhouse/crds/module.yaml
  modules/002-deckhouse/hooks/pkg/apis/producer.go
  modules/002-deckhouse/hooks/pkg/apis/v1alpha1/module.go
  modules/002-deckhouse/hooks/pkg/apis/v1alpha1/module_generated.deepcopy.go
Labels: auto, backported

#5142 [ingress-nginx] Fix drain for AdvancedDaemonSet
  go_lib/dependency/k8s/drain/README.md
  go_lib/dependency/k8s/drain/filters.go
  modules/402-ingress-nginx/templates/controller/controller.yaml
  modules/402-ingress-nginx/templates/failover/daemonset.yaml
Labels: skip/e2e

#4795 [prometheus] enrich alert labels TargetSampleLimitExceeded
  modules/300-prometheus/monitoring/prometheus-rules/target-down.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring, e2e/use/cri/containerd, e2e/use/k8s/1.23

#5130 [user-authn] Improve groups migration
  modules/010-user-authn-crd/crds/group.yaml
  modules/150-user-authn/hooks/migration_groups_from_user_to_group_object.go
  modules/150-user-authn/hooks/migration_groups_from_user_to_group_object_test.go
Labels: skip/documentation-validation

#5137 [testing] Increase resources creation timeout in e2e tests
  .github/ci_templates/e2e_tests.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  testing/cloud_layouts/script.sh
Labels: skip/e2e

#5150 Backport: [ingress-nginx] Fix drain for AdvancedDaemonSet
  go_lib/dependency/k8s/drain/README.md
  go_lib/dependency/k8s/drain/filters.go
  modules/402-ingress-nginx/templates/controller/controller.yaml
  modules/402-ingress-nginx/templates/failover/daemonset.yaml
Labels: auto, backported

#5135 Changelog v1.47.3
  CHANGELOG/CHANGELOG-v1.47.3.yml
  CHANGELOG/CHANGELOG-v1.47.md
Labels: changelog, auto, status/backport

#5151 Backport: Changelog v1.47.3
  CHANGELOG/CHANGELOG-v1.47.3.yml
  CHANGELOG/CHANGELOG-v1.47.md
Labels: auto, backported

#5152 [chore] Update go.sum
  go.mod
  go.sum
  tools/go.sum
Labels: type/chore

#5148 [candi] fix bashible rights to run when SELixux in Enforcement mode
  candi/bashible/bundles/centos/all/002_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/alteros/all/002_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/alteros/node-group/033_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/redos/all/002_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/redos/node-group/033_install_mandatory_selinux_policies.sh.tpl
Labels: area/cluster-and-infrastructure

#5155 [docs] Add ability to add search keywords for parameters in OpenAPI spec
  docs/documentation/_includes/search.liquid
  docs/documentation/_plugins/openapi.rb
  docs/documentation/js/search.js
Labels: area/docs

#5047 [bashible] `kubernetes-api-proxy` configuration is not updated in manual approval mode
  candi/bashible/bashible.sh.tpl
  candi/bashible/bundles/centos/all/002_install_ca_certificates.sh.tpl
  candi/bashible/bundles/centos/all/003_install_mandatory_packages.sh.tpl
  candi/bashible/bundles/centos/all/004_disable_firewalld.sh.tpl
  candi/bashible/bundles/centos/all/004_install_mandatory_selinux_policies.sh.tpl
  candi/bashible/bundles/centos/all/005_set_centos_release.sh.tpl
  candi/bashible/bundles/centos/node-group/004_install_mandatory_packages_for_cloud_nodes.sh.tpl
  candi/bashible/bundles/debian/all/002_install_ca_certificates.sh.tpl
  candi/bashible/bundles/debian/all/003_install_mandatory_packages.sh.tpl
  candi/bashible/bundles/debian/all/003_iptables_legacy.sh.tpl
  candi/bashible/bundles/debian/node-group/001_install_mandatory_packages_for_cloud_nodes.sh.tpl
  candi/bashible/bundles/debian/node-group/003_install_mandatory_packages_for_cloud_nodes.sh.tpl
  candi/bashible/bundles/ubuntu-lts/all/002_install_ca_certificates.sh.tpl
  candi/bashible/bundles/ubuntu-lts/all/003_install_mandatory_packages.sh.tpl
  candi/bashible/bundles/ubuntu-lts/node-group/003_install_mandatory_packages_for_cloud_nodes.sh.tpl
  candi/bashible/common-steps/all/003_add_deckhouse_path.sh.tpl
  candi/bashible/common-steps/all/003_disable_rp_filter.sh.tpl
  candi/bashible/common-steps/all/003_disable_swap.sh.tpl
  candi/bashible/common-steps/all/003_set_short_hostname.sh.tpl
  candi/bashible/common-steps/all/004_load_mandatory_modules.sh.tpl
  candi/bashible/common-steps/node-group/000_discover_node_ip.sh.tpl
  candi/bashible/common-steps/node-group/001_configure_kubernetes_api_proxy.sh.tpl
  candi/bashible/common-steps/node-group/001_waiting_approval_annotations.sh.tpl
  candi/bashible/common-steps/node-group/002_add_system_proxy.sh.tpl
  candi/bashible/common-steps/node-group/002_migrate_containerd_to_cgroupfs.sh.tpl
  candi/bashible/common-steps/node-group/004_integrate_kubernetes_data_device.sh.tpl
  ee/candi/bashible/bundles/alteros/all/002_install_ca_certificates.sh.tpl
  ee/candi/bashible/bundles/alteros/all/003_install_mandatory_packages.sh.tpl
  ee/candi/bashible/bundles/alteros/all/004_disable_firewalld.sh.tpl
  ee/candi/bashible/bundles/alteros/all/004_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/alteros/node-group/004_install_mandatory_packages_for_cloud_nodes.sh.tpl
  ee/candi/bashible/bundles/altlinux/all/002_install_ca_certificates.sh.tpl
  ee/candi/bashible/bundles/altlinux/all/003_install_mandatory_packages.sh.tpl
  ee/candi/bashible/bundles/altlinux/node-group/003_install_mandatory_packages_for_cloud_nodes.sh.tpl
  ee/candi/bashible/bundles/astra/all/002_install_ca_certificates.sh.tpl
  ee/candi/bashible/bundles/astra/all/003_install_mandatory_packages.sh.tpl
  ee/candi/bashible/bundles/astra/all/003_iptables_legacy.sh.tpl
  ee/candi/bashible/bundles/astra/node-group/003_install_mandatory_packages_for_cloud_nodes.sh.tpl
  ee/candi/bashible/bundles/redos/all/002_install_ca_certificates.sh.tpl
  ee/candi/bashible/bundles/redos/all/003_install_mandatory_packages.sh.tpl
  ee/candi/bashible/bundles/redos/all/004_disable_firewalld.sh.tpl
  ee/candi/bashible/bundles/redos/all/004_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/redos/node-group/004_install_mandatory_packages_for_cloud_nodes.sh.tpl
Labels: area/cluster-and-infrastructure

#5164 [chore] fix daemonset filter for draining
  go_lib/dependency/k8s/drain/filters.go
Labels: status/backport, skip/e2e

#5166 Backport: [chore] fix daemonset filter for draining
  go_lib/dependency/k8s/drain/filters.go
Labels: auto, backported

#5156 [docs] Better search for <Provider>ClusterConfiguration resources
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
Labels: area/docs

#5172 Add more info about drained node failure
  modules/040-node-manager/monitoring/prometheus-rules/node-update.yaml
Labels: area/docs, skip/e2e

#5153 [candi] CSI old mount cleaner
  candi/bashible/common-steps/node-group/089_manually_unmount_old_csi_mounts_after_kubernetes_1_24.sh.tpl
Labels: type/bug, area/cluster-and-infrastructure, e2e/use/k8s/1.25

#5180 Backport: [candi] CSI old mount cleaner
  candi/bashible/common-steps/node-group/089_manually_unmount_old_csi_mounts_after_kubernetes_1_24.sh.tpl
Labels: auto, backported

#5181 Backport: [linstor] fix check drbd version step
  modules/041-linstor/templates/nodegroupconfiguration-check-drbd-version.yaml
Labels: auto, backported

#5165 Changelog v1.47.4
  CHANGELOG/CHANGELOG-v1.47.4.yml
  CHANGELOG/CHANGELOG-v1.47.md
Labels: changelog, auto, status/backport

#5182 Backport: Changelog v1.47.4
  CHANGELOG/CHANGELOG-v1.47.4.yml
  CHANGELOG/CHANGELOG-v1.47.md
Labels: auto, backported

#5176 [getting-started] Update install on bare metal
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  docs/site/_includes/getting_started/global/STEP_CLUSTER_ACCESS.md
  docs/site/_includes/getting_started/global/STEP_CLUSTER_ACCESS_RU.md
  docs/site/_includes/getting_started/global/partials/FINISH_CARDS.md
  docs/site/_includes/getting_started/global/partials/FINISH_CARDS_RU.md
  docs/site/_includes/getting_started/global/partials/GET_BALANCER_ADDR.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER_RU.liquid
Labels: area/docs

#5170 [getting-started][openstack] Add tenantName reference
  docs/site/_includes/getting_started/openstack/partials/config.yml.standard.ee.inc
Labels: area/docs

#5190 [site] Fix content in the license form
  docs/site/_data/modal.yml
  docs/site/_includes/getting_started/global/EE_ACCESS.md
  docs/site/_includes/getting_started/global/EE_ACCESS_RU.md
  docs/site/css/docs.scss
  docs/site/pages/enterprise_edition.html
  docs/site/pages/enterprise_edition_ru.html
Labels: area/docs

#5200 Changelog v1.47.5
  CHANGELOG/CHANGELOG-v1.47.5.yml
  CHANGELOG/CHANGELOG-v1.47.md
Labels: changelog, auto, status/backport

#5202 Backport: Changelog v1.47.5
  CHANGELOG/CHANGELOG-v1.47.5.yml
  CHANGELOG/CHANGELOG-v1.47.md
Labels: auto, backported

#4852 [istio] added a way to globally override resources for istio-proxy
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/openapi/doc-ru-config-values.yaml
  modules/110-istio/template_tests/module_test.go
  modules/110-istio/templates/control-plane/iop.yaml
Labels: area/network, e2e/use/cri/containerd, e2e/use/k8s/1.23

#5204 [chore] Set Kubernetes 1.27 version status as a preview
  candi/version_map.yml
Labels: area/docs, type/chore

#5099 [candi] Fix bootstrap master for altlinux
  candi/bashible/bundles/altlinux/all/000_add_deckhouse_path.sh.tpl
  candi/bashible/bundles/altlinux/all/000_fix_path_in_root_bashrc.sh.tpl
  dhctl/pkg/system/ssh/frontend/kube-proxy.go
Labels: type/bug

#5205 [docs] Mark the loki module as experimental
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/site/_config.yml
  modules/462-loki/docs/README.md
  modules/462-loki/docs/README_RU.md
Labels: area/docs

#4716 [cloud-provider-openstack] Add param etcdDiskSizeGb and migrate from openstack_blockstorage_volume_v2 to openstack_blockstorage_volume_v3
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  ee/candi/cloud-providers/openstack/docs/LAYOUTS.md
  ee/candi/cloud-providers/openstack/docs/LAYOUTS_RU.md
  ee/candi/cloud-providers/openstack/layouts/simple-with-internal-network/master-node/main.tf
  ee/candi/cloud-providers/openstack/layouts/simple/master-node/main.tf
  ee/candi/cloud-providers/openstack/layouts/standard-with-no-router/master-node/main.tf
  ee/candi/cloud-providers/openstack/layouts/standard/base-infrastructure/main.tf
  ee/candi/cloud-providers/openstack/layouts/standard/master-node/main.tf
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/terraform-modules/kubernetes-data/main.tf
  ee/candi/cloud-providers/openstack/terraform-modules/kubernetes-data/variables.tf
  ee/candi/cloud-providers/openstack/terraform-modules/master/main.tf
  ee/candi/cloud-providers/openstack/terraform-modules/master/outputs.tf
  ee/candi/cloud-providers/openstack/terraform-modules/master/variables.tf
  ee/candi/cloud-providers/openstack/terraform-modules/static-node/main.tf
  ee/candi/cloud-providers/openstack/terraform-modules/static-node/variables.tf
  ee/modules/030-cloud-provider-openstack/hooks/migrate/common_test.go
  ee/modules/030-cloud-provider-openstack/hooks/migrate/migrate_terraform_state.go
  ee/modules/030-cloud-provider-openstack/hooks/migrate/migrate_terraform_state_test.go
Labels: area/cluster-and-infrastructure

#5208 [documentation] fixed example helper change-registry
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs

#5216 [site] Add info about air-gapped environment
  docs/site/_data/revision_comparison.yml
  docs/site/_includes/getting_started/global/partials/NOTICES.liquid
Labels: area/docs

#5217 [docs] Add an example of the global ModuleConfig
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL_RU.md
Labels: area/docs, skip/e2e

#5218 Backport: [documentation] fixed example helper change-registry
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#5219 Backport: [docs] Add an example of the global ModuleConfig
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL_RU.md
Labels: auto, backported

#5015 Changelog v1.48.0
  CHANGELOG/CHANGELOG-v1.48.0.yml
  CHANGELOG/CHANGELOG-v1.48.md
Labels: changelog, auto, status/backport

#5220 Backport: Changelog v1.48.0
  CHANGELOG/CHANGELOG-v1.48.0.yml
  CHANGELOG/CHANGELOG-v1.48.md
Labels: auto, backported

#5222 Changelog v1.48.0
  CHANGELOG/CHANGELOG-v1.48.0.yml
  CHANGELOG/CHANGELOG-v1.48.md
Labels: changelog, auto, status/backport

#5223 Backport: Changelog v1.48.0
  CHANGELOG/CHANGELOG-v1.48.0.yml
  CHANGELOG/CHANGELOG-v1.48.md
Labels: auto, backported

#5233 [cloud-provider-openstack] Fix discover volume types hooks incorrect fallback to storage classes in another modules.
  ee/modules/030-cloud-provider-openstack/hooks/discover.go
  ee/modules/030-cloud-provider-openstack/hooks/discover_test.go
Labels: area/cloud-provider, type/bug, status/backport

#5236 Backport: [cloud-provider-openstack] Fix discover volume types hooks incorrect fallback to storage classes in another modules.
  ee/modules/030-cloud-provider-openstack/hooks/discover.go
  ee/modules/030-cloud-provider-openstack/hooks/discover_test.go
Labels: auto, backported

#5213 Changelog v1.48.1
  CHANGELOG/CHANGELOG-v1.48.1.yml
  CHANGELOG/CHANGELOG-v1.48.md
Labels: changelog, auto, status/backport

#5240 [admission-policy-engine] Deduplicate exported resources
  modules/015-admission-policy-engine/images/constraint-exporter/go.mod
  modules/015-admission-policy-engine/images/constraint-exporter/go.sum
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/kinds/kinds.go
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/kinds/kinds_test.go
Labels: area/security, status/backport, skip/e2e

#5245 Backport: [admission-policy-engine] Deduplicate exported resources
  modules/015-admission-policy-engine/images/constraint-exporter/go.mod
  modules/015-admission-policy-engine/images/constraint-exporter/go.sum
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/kinds/kinds.go
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/kinds/kinds_test.go
Labels: auto, backported

#5241 [cloud-provider-openstack] Remove duplicates from images list in cloud-data-discoverer
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/discoverer_test.go
Labels: area/cloud-provider, type/bug, status/backport, skip/e2e

#5244 Changelog v1.48.2
  CHANGELOG/CHANGELOG-v1.48.2.yml
  CHANGELOG/CHANGELOG-v1.48.md
Labels: changelog, auto

#5247 [candi] fixed bootstrap in air-gapped envs
  modules/040-node-manager/templates/node-group/_bootstrap_script.tpl
Labels: area/cluster-and-infrastructure

#5249 [control-plane-manager] Restoring D8KubernetesVersionIsDeprecated alert from 1.23 to 1.22
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
Labels: e2e/use/k8s/1.23

#5256 Backport: [control-plane-manager] Restoring D8KubernetesVersionIsDeprecated alert from 1.23 to 1.22
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
Labels: auto, backported

#5255 Changelog v1.48.3
  CHANGELOG/CHANGELOG-v1.48.3.yml
Labels: changelog, auto, status/backport

#5258 Backport: Changelog v1.48.3
  CHANGELOG/CHANGELOG-v1.48.3.yml
Labels: auto, backported

#5242 [admission-policy-engine] bootstrap_handler hook checks CRD's statuses
  modules/015-admission-policy-engine/hooks/bootstrap_handler.go
  modules/015-admission-policy-engine/hooks/bootstrap_handler_test.go
  modules/015-admission-policy-engine/monitoring/prometheus-rules/audit.yaml
  modules/015-admission-policy-engine/monitoring/prometheus-rules/bootstrap.yaml
  modules/015-admission-policy-engine/templates/policies/security-policy/constraint.yaml
Labels: area/security, status/backport

#5262 Backport: [admission-policy-engine] bootstrap_handler hook checks CRD's statuses
  modules/015-admission-policy-engine/hooks/bootstrap_handler.go
  modules/015-admission-policy-engine/hooks/bootstrap_handler_test.go
  modules/015-admission-policy-engine/monitoring/prometheus-rules/audit.yaml
  modules/015-admission-policy-engine/monitoring/prometheus-rules/bootstrap.yaml
  modules/015-admission-policy-engine/templates/policies/security-policy/constraint.yaml
Labels: auto, backported

#5261 Changelog v1.48.3
  CHANGELOG/CHANGELOG-v1.48.3.yml
  CHANGELOG/CHANGELOG-v1.48.md
Labels: changelog, auto, status/backport

#5263 Backport: Changelog v1.48.3
  CHANGELOG/CHANGELOG-v1.48.3.yml
  CHANGELOG/CHANGELOG-v1.48.md
Labels: auto, backported

#5272 [candi] Fix Reboot master node over ssh
  dhctl/pkg/operations/bootstrap.go
Labels: type/bug

#5271 [cloud-provider-openstack] Fix migration from openstack_blockstorage_volume_v2 to openstack_blockstorage_volume_v3 for bastion hosts
  ee/modules/030-cloud-provider-openstack/hooks/migrate/migrate_terraform_state.go
  ee/modules/030-cloud-provider-openstack/hooks/migrate/migrate_terraform_state_test.go
Labels: area/cluster-and-infrastructure, status/backport

#5277 Backport: [cloud-provider-openstack] Fix migration from openstack_blockstorage_volume_v2 to openstack_blockstorage_volume_v3 for bastion hosts
  ee/modules/030-cloud-provider-openstack/hooks/migrate/migrate_terraform_state.go
  ee/modules/030-cloud-provider-openstack/hooks/migrate/migrate_terraform_state_test.go
Labels: auto, backported

#5273 [user-authn] Fix kubeconfig certificate generation
  modules/150-user-authn/templates/kubeconfig-generator/certificate.yaml
Labels: area/auth, type/bug, status/backport

#5281 Backport: [user-authn] Fix kubeconfig certificate generation
  modules/150-user-authn/templates/kubeconfig-generator/certificate.yaml
Labels: auto, backported

#5279 [cloud-provider-openstack] Remove duplicates from additional security groups
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/discoverer_test.go
Labels: area/cloud-provider, type/bug, status/backport

#5283 Backport: [cloud-provider-openstack] Remove duplicates from additional security groups
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/discoverer_test.go
Labels: auto, backported

#5276 Changelog v1.48.4
  CHANGELOG/CHANGELOG-v1.48.4.yml
  CHANGELOG/CHANGELOG-v1.48.md
Labels: changelog, auto, status/backport

#5284 Backport: Changelog v1.48.4
  CHANGELOG/CHANGELOG-v1.48.4.yml
  CHANGELOG/CHANGELOG-v1.48.md
Labels: auto, backported

#5246 Update Kubernetes patch versions:
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: e2e/use/cri/containerd, status/backport, type/chore, e2e/use/k8s/1.27

#5288 Backport: Update Kubernetes patch versions:
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: auto, backported

#5289 [runtime-audit-engine] Update falco to 0.35.1
  ee/modules/650-runtime-audit-engine/images/falco/Dockerfile
  ee/modules/650-runtime-audit-engine/images/rules-loader/Dockerfile
Labels: area/security

#5290 [go_lib] Add test that original sans are not mutated
  go_lib/hooks/tls_certificate/internal_tls.go
  go_lib/hooks/tls_certificate/internal_tls_test.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#5214 [admission-policy-engine] Fix D8ContainerDuplicates constraint template policy
  modules/015-admission-policy-engine/charts/constraint-templates/templates/operation/container-duplicates.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/tests/README.md
  modules/015-admission-policy-engine/charts/constraint-templates/tests/container-duplicates/allowed_envs_same_name_diff_containers.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/tests/container-duplicates/disallowed_envs_same_name_same_container.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/tests/container-duplicates/suite.yaml
Labels: status/ok-to-test, skip/e2e

#5291 [cloud-provider-*] Add rbac Role to access `d8-provider-cluster-configuration` and `d8-cloud-provider-discovery-data` secrets
  modules/030-cloud-provider-aws/templates/cloud-data-discoverer/rbac-for-us.yaml
  modules/030-cloud-provider-azure/templates/cloud-data-discoverer/rbac-for-us.yaml
  modules/030-cloud-provider-gcp/templates/cloud-data-discoverer/rbac-for-us.yaml
Labels: area/cloud-provider, type/bug, status/backport

#5292 Backport: [cloud-provider-*] Add rbac Role to access `d8-provider-cluster-configuration` and `d8-cloud-provider-discovery-data` secrets
  modules/030-cloud-provider-aws/templates/cloud-data-discoverer/rbac-for-us.yaml
  modules/030-cloud-provider-azure/templates/cloud-data-discoverer/rbac-for-us.yaml
  modules/030-cloud-provider-gcp/templates/cloud-data-discoverer/rbac-for-us.yaml
Labels: auto, backported

#5282 [deckhouse-controller] Fix change-registry CA handling for connecting to registry
  deckhouse-controller/pkg/helpers/change_registry/change_registry.go
  deckhouse-controller/pkg/helpers/change_registry/change_registry_test.go
  deckhouse-controller/pkg/helpers/register.go
Labels: area/cli

#5294 [docs] Update link to the regulation rules
  docs/site/pages/regulations_ru.html
Labels: area/docs, skip/e2e

#5286 [candi][cloud-provider-yandex] fixed router metric if have additionalNetworks
  candi/cloud-providers/yandex/bashible/bundles/ubuntu-lts/bootstrap-networks.sh.tpl
Labels: area/cloud-provider, area/cluster-and-infrastructure, status/backport, source/deckhouse-team

#5296 Backport: [candi][cloud-provider-yandex] fixed router metric if have additionalNetworks
  candi/cloud-providers/yandex/bashible/bundles/ubuntu-lts/bootstrap-networks.sh.tpl
Labels: auto, backported

#5297 Backport: [go_lib] Add test that original sans are not mutated
  go_lib/hooks/tls_certificate/internal_tls.go
  go_lib/hooks/tls_certificate/internal_tls_test.go
Labels: auto, backported

#5293 [control-plane-manager] Add CustomResourceValidationExpressions feature gate
  candi/control-plane-kubeadm/config.yaml.tpl
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#5301 [linstor] update piraeus-operator and linstor-csi. Bump k8s api package versions
  modules/041-linstor/images/linstor-csi/Dockerfile
  modules/041-linstor/images/piraeus-operator/Dockerfile
  modules/041-linstor/images/piraeus-operator/patches/050-bump-k8s-api-versions-and-client.patch
  modules/041-linstor/images/piraeus-operator/patches/README.md
Labels: area/storage

#5186 [deckhouse] modules description in the module.yaml file
  .github/ci_templates/build.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  go.mod
  go.sum
  go_lib/deckhouse-config/module_manager.go
  go_lib/deckhouse-config/service.go
  go_lib/dependency/k8s/k8s.go
  modules/002-deckhouse/hooks/pkg/apis/v1alpha1/module.go
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.mod
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.sum
  modules/005-external-module-manager/crds/doc-ru-external-module-release.yaml
  modules/005-external-module-manager/crds/external-module-release.yaml
  modules/005-external-module-manager/hooks/apply_release.go
  modules/005-external-module-manager/hooks/apply_release_test.go
  modules/005-external-module-manager/hooks/handle_sources.go
  modules/005-external-module-manager/hooks/internal/apis/v1alpha1/release.go
  tools/go.sum
Labels: area/core, e2e/use/cri/containerd, skip/e2e, e2e/use/k8s/1.25

#5260 [external-modules-manager] Cleanup deleted modules
  modules/002-deckhouse/hooks/pkg/apis/v1alpha1/module.go
  modules/005-external-module-manager/hooks/cleanup_releases.go
  modules/005-external-module-manager/hooks/cleanup_releases_test.go
Labels: area/core, skip/e2e

#5188 [ci](werf) Enable secondary repo only for main and release branches
  .github/ci_templates/build.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
Labels: skip/e2e, area/cicd

#4821 [cert-manager] Added max concurrent challenges parameter
  modules/101-cert-manager/openapi/config-values.yaml
  modules/101-cert-manager/openapi/doc-ru-config-values.yaml
  modules/101-cert-manager/templates/cert-manager/deployment.yaml
Labels: status/ok-to-test

#4533 [multitenancy-manager] New module
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  docs/documentation/_data/sidebars/main.yml
  docs/site/_config.yml
  ee/modules/160-multitenancy-manager/.helmignore
  ee/modules/160-multitenancy-manager/.namespace
  ee/modules/160-multitenancy-manager/Chart.yaml
  ee/modules/160-multitenancy-manager/charts/helm_lib
  ee/modules/160-multitenancy-manager/crds/doc-ru-projects.yaml
  ee/modules/160-multitenancy-manager/crds/doc-ru-projecttypes.yaml
  ee/modules/160-multitenancy-manager/crds/projects.yaml
  ee/modules/160-multitenancy-manager/crds/projecttypes.yaml
  ee/modules/160-multitenancy-manager/docs/CONFIGURATION.md
  ee/modules/160-multitenancy-manager/docs/CONFIGURATION_RU.md
  ee/modules/160-multitenancy-manager/docs/CR.md
  ee/modules/160-multitenancy-manager/docs/CR_RU.md
  ee/modules/160-multitenancy-manager/docs/README.md
  ee/modules/160-multitenancy-manager/docs/README_RU.md
  ee/modules/160-multitenancy-manager/docs/USAGE.md
  ee/modules/160-multitenancy-manager/docs/USAGE_RU.md
  ee/modules/160-multitenancy-manager/enabled
  ee/modules/160-multitenancy-manager/hooks/apis/deckhouse.io/v1alpha1/project_types.go
  ee/modules/160-multitenancy-manager/hooks/apis/deckhouse.io/v1alpha1/projecttype_types.go
  ee/modules/160-multitenancy-manager/hooks/common_test.go
  ee/modules/160-multitenancy-manager/hooks/ensure_crds.go
  ee/modules/160-multitenancy-manager/hooks/internal/common.go
  ee/modules/160-multitenancy-manager/hooks/internal/project_hooks.go
  ee/modules/160-multitenancy-manager/hooks/internal/project_status.go
  ee/modules/160-multitenancy-manager/hooks/internal/type_hooks.go
  ee/modules/160-multitenancy-manager/hooks/internal/type_status.go
  ee/modules/160-multitenancy-manager/hooks/project.go
  ee/modules/160-multitenancy-manager/hooks/project_sync_status.go
  ee/modules/160-multitenancy-manager/hooks/project_sync_status_test.go
  ee/modules/160-multitenancy-manager/hooks/project_test.go
  ee/modules/160-multitenancy-manager/hooks/type.go
  ee/modules/160-multitenancy-manager/hooks/type_test.go
  ee/modules/160-multitenancy-manager/openapi/config-values.yaml
  ee/modules/160-multitenancy-manager/openapi/doc-ru-config-values.yaml
  ee/modules/160-multitenancy-manager/openapi/openapi-case-tests.yaml
  ee/modules/160-multitenancy-manager/openapi/values.yaml
  ee/modules/160-multitenancy-manager/template_tests/template_test.go
  ee/modules/160-multitenancy-manager/templates/namespace.yaml
  ee/modules/160-multitenancy-manager/templates/registry-secret.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources-templates.yaml
  ee/modules/160-multitenancy-manager/webhooks/validating/project
  go.mod
  modules/002-deckhouse/images/webhook-handler/entrypoint.sh
  modules/002-deckhouse/images/webhook-handler/werf.inc.yaml
  modules/002-deckhouse/templates/webhook-handler/rbac-for-us.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/041-linstor/templates/linstor-scheduler-admission/webhook.yaml
  testing/helm/init.go
  testing/matrix/linter/rules/modules/oss.go
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: area/auth, area/security

#5211 [cloud-providers-openstack] documentation improvement.
  docs/site/_includes/getting_started/openstack/partials/config.yml.standard.ee.inc
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
Labels: area/docs, status/backport

#5319 Backport: [cloud-providers-openstack] documentation improvement.
  docs/site/_includes/getting_started/openstack/partials/config.yml.standard.ee.inc
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#5175 [docs][openstack] Expand volumeTypeMap description
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
Labels: area/docs, status/backport

#5320 Backport: [docs][openstack] Expand volumeTypeMap description
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#5322 [runtime-audit-engine] reduce size of rules-reloader container
  ee/modules/650-runtime-audit-engine/images/rules-loader/Dockerfile
Labels: area/security

#5328 [chore] Fix docker compose file for running documentation
  docs/site/docker-compose.yml
Labels: area/testing, type/chore

#5304 Mount containerd socket into okmeter pods
  modules/500-okmeter/templates/daemonset.yaml
Labels: area/monitoring, status/ok-to-test

#5327 [candi] Remove prune-containerd-content ngc
  modules/040-node-manager/templates/nodegroupconfiguration-cleanup-after-prune-containerd-content.yaml
Labels: area/cluster-and-infrastructure

#5332 [cloud-provider-openstack] Fix creating long name of backup secret in state migration
  ee/modules/030-cloud-provider-openstack/hooks/migrate/migrate_terraform_state.go
  ee/modules/030-cloud-provider-openstack/hooks/migrate/migrate_terraform_state_test.go
Labels: area/cloud-provider, status/backport

#5334 Backport: [cloud-provider-openstack] Fix creating long name of backup secret in state migration
  ee/modules/030-cloud-provider-openstack/hooks/migrate/migrate_terraform_state.go
  ee/modules/030-cloud-provider-openstack/hooks/migrate/migrate_terraform_state_test.go
Labels: auto, backported

#5318 Changelog v1.48.6
  CHANGELOG/CHANGELOG-v1.48.6.yml
  CHANGELOG/CHANGELOG-v1.48.md
Labels: changelog, auto

#5295 [secret-copier] fix create secret in terminating or errored namespace
  modules/600-secret-copier/hooks/handler.go
Labels: area/kubernetes

#5313 [extended-monitoring] Add description for the NodeDiskBytesUsage alert
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/node.yaml
Labels: area/monitoring, status/ok-to-test

#5325 [linstor] update piraeus-operator crds
  modules/041-linstor/crds/piraeus.linbit.com_linstorcontrollers.yaml
  modules/041-linstor/crds/piraeus.linbit.com_linstorcsidrivers.yaml
  modules/041-linstor/crds/piraeus.linbit.com_linstorsatellitesets.yaml
Labels: skip/documentation-validation, area/storage

#5329 [core] Enable `containerdOnAllNodes` release requirement
  release.yaml
Labels: area/core

#4722 [log-shipper] Bump vector 0.31
  modules/460-log-shipper/hooks/internal/composer/testdata/config_1.json
  modules/460-log-shipper/hooks/internal/composer/testdata/config_2.json
  modules/460-log-shipper/hooks/internal/composer/testdata/config_4.json
  modules/460-log-shipper/hooks/internal/vector/destination/splunk.go
  modules/460-log-shipper/hooks/internal/vector/source/kubernetes.go
  modules/460-log-shipper/hooks/internal/vector/transform/destination.go
  modules/460-log-shipper/hooks/internal/vector/transform/source.go
  modules/460-log-shipper/hooks/internal/vector/transform/splunk.go
  modules/460-log-shipper/hooks/internal/vrl/timezone.go
  modules/460-log-shipper/hooks/testdata/es-5x/result.json
  modules/460-log-shipper/hooks/testdata/file-to-elastic/result.json
  modules/460-log-shipper/hooks/testdata/file-to-kafka-tls/result.json
  modules/460-log-shipper/hooks/testdata/file-to-kafka/result.json
  modules/460-log-shipper/hooks/testdata/file-to-splunk/result.json
  modules/460-log-shipper/hooks/testdata/file-to-vector/result.json
  modules/460-log-shipper/hooks/testdata/many-to-one/result.json
  modules/460-log-shipper/hooks/testdata/multiline-custom-pods/result.json
  modules/460-log-shipper/hooks/testdata/multiline-custom/result.json
  modules/460-log-shipper/hooks/testdata/multiline/result.json
  modules/460-log-shipper/hooks/testdata/multiple-dest/result.json
  modules/460-log-shipper/hooks/testdata/namespaced-source/result.json
  modules/460-log-shipper/hooks/testdata/one-dest/result.json
  modules/460-log-shipper/hooks/testdata/pair-datastream/result.json
  modules/460-log-shipper/hooks/testdata/simple-pair/result.json
  modules/460-log-shipper/hooks/testdata/throttle-with-filter/result.json
  modules/460-log-shipper/hooks/testdata/throttle/result.json
  modules/460-log-shipper/hooks/validate_test.go
  modules/460-log-shipper/images/vector/Dockerfile
  modules/460-log-shipper/images/vector/patches/README.md
  modules/460-log-shipper/images/vector/patches/kubernetes-backoff.patch
  modules/460-log-shipper/images/vector/patches/match-speedup.patch
  modules/460-log-shipper/templates/_helpers.tpl
  modules/460-log-shipper/templates/daemonset.yaml
Labels: source/external-client

#5228 [log-shipper] Documentation updates
  modules/460-log-shipper/docs/ADVANCED_USAGE.md
  modules/460-log-shipper/docs/ADVANCED_USAGE_RU.md
Labels: area/docs, status/backport

#5239 [ingress-nginx] improved the description of defaultSSLCertificate
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
Labels: skip/e2e

#4842 [candi] Reserve resources
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  modules/040-node-manager/hooks/internal/v1/nodegroup.go
  modules/040-node-manager/hooks/internal/v1/nodegroup_generated.deepcopy.go
  modules/040-node-manager/hooks/migration/migrate_system_reserve.go
Labels: type/enhancement, area/cluster-and-infrastructure, e2e/cluster/failed

#5342 [helm-lib] Fix X.509 certificate common name generation
  ee/modules/110-istio/templates/multicluster/api-proxy/ingress.yaml
  ee/modules/502-delivery/templates/argocd/server/d8-ingress.yaml
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/README.md
  helm_lib/charts/deckhouse_lib_helm/templates/_module_documentation_uri.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_module_generate_common_name.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_module_public_domain.tpl
  modules/110-istio/templates/certificate.yaml
  modules/150-user-authn/templates/dex/certificate.yaml
  modules/150-user-authn/templates/kubeconfig-generator/certificate.yaml
  modules/150-user-authn/templates/kubernetes-api/certificate.yaml
  modules/300-prometheus/templates/grafana/ingress.yaml
  modules/491-containerized-data-importer/templates/ingress.yaml
  modules/500-cilium-hubble/templates/ui/ingress.yaml
  modules/500-dashboard/templates/dashboard/ingress.yaml
  modules/500-openvpn/templates/openvpn/ingress.yaml
  modules/500-upmeter/templates/status/ingress.yaml
  modules/500-upmeter/templates/webui/ingress.yaml
  modules/810-documentation/templates/ingress.yaml
Labels: area/core, status/backport

#5348 Backport: [helm-lib] Fix X.509 certificate common name generation
  ee/modules/110-istio/templates/multicluster/api-proxy/ingress.yaml
  ee/modules/502-delivery/templates/argocd/server/d8-ingress.yaml
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/README.md
  helm_lib/charts/deckhouse_lib_helm/templates/_module_documentation_uri.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_module_generate_common_name.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_module_public_domain.tpl
  modules/110-istio/templates/certificate.yaml
  modules/150-user-authn/templates/dex/certificate.yaml
  modules/150-user-authn/templates/kubeconfig-generator/certificate.yaml
  modules/150-user-authn/templates/kubernetes-api/certificate.yaml
  modules/300-prometheus/templates/grafana/ingress.yaml
  modules/491-containerized-data-importer/templates/ingress.yaml
  modules/500-cilium-hubble/templates/ui/ingress.yaml
  modules/500-dashboard/templates/dashboard/ingress.yaml
  modules/500-openvpn/templates/openvpn/ingress.yaml
  modules/500-upmeter/templates/status/ingress.yaml
  modules/500-upmeter/templates/webui/ingress.yaml
  modules/810-documentation/templates/ingress.yaml
Labels: auto, backported

#5341 [cloud-provider-openstack] Fix descovery security groups and error in hybrib clusters
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/deployment.yaml
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/secret.yaml
  go_lib/cloud-data/apis/v1alpha1/openstack_cloud_provider_discovery_data.go
  go_lib/cloud-data/reconciler.go
Labels: area/cloud-provider, status/backport, skip/e2e

#5349 Backport: [cloud-provider-openstack] Fix descovery security groups and error in hybrib clusters
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/deployment.yaml
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/secret.yaml
  go_lib/cloud-data/apis/v1alpha1/openstack_cloud_provider_discovery_data.go
  go_lib/cloud-data/reconciler.go
Labels: auto, backported

#5197 Changelog v1.49.0
  CHANGELOG/CHANGELOG-v1.49.0.yml
  CHANGELOG/CHANGELOG-v1.49.md
Labels: changelog, auto, status/backport

#5351 Backport: Changelog v1.49.0
  CHANGELOG/CHANGELOG-v1.49.0.yml
  CHANGELOG/CHANGELOG-v1.49.md
Labels: auto, backported

#5337 [bashible] fixed rm usage tmp in nodeuser
  candi/bashible/common-steps/node-group/090_node_users.sh.tpl
Labels: area/cluster-and-infrastructure

#5353 [delivery] Pull argocd-image-updater image from registry.werf.io instead of ghcr
  ee/modules/502-delivery/images/argocd-image-updater/Dockerfile
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.27

#5356 Add preferred contact method field in license request form
  docs/site/_includes/request_access_form.html
  docs/site/css/docs.scss
  docs/site/js/customscripts.js
Labels: area/docs

#5364 [operator-trivy] Remove upmeter probes from trivy scanning
  ee/modules/500-operator-trivy/templates/configmap.yaml
Labels: area/security

#5372 [ci] Add deploy documentation to the new DC
  .github/ci_templates/web.yml
  .github/workflow_templates/build-and-test_pre-release.yml
  .github/workflow_templates/build-and-test_release.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
Labels: skip/e2e, area/cicd

#5373 [site][docs] Update VPA mode and deployment resources.
  docs/documentation/.helm/templates/10-app.yaml
  docs/documentation/.helm/values.yaml
  docs/site/.helm/templates/12-backend.yaml
  docs/site/.helm/templates/14-frontend.yaml
  docs/site/.helm/values.yaml
Labels: area/docs
