Repository deckhouse/deckhouse, pull requests merged in 2023-08, with the labels that each got.

#5400 [loki] Fix tmp mount for retention
  modules/462-loki/templates/statefulset.yaml
Labels: area/logs

#5398 [ci][site] Update workflows and site templates
  .github/ci_templates/web.yml
  .github/scripts/js/constants.js
  .github/workflow_templates/build-and-test_pre-release.yml
  .github/workflow_templates/build-and-test_release.yml
  .github/workflow_templates/deploy-web.multi.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  docs/site/.helm/templates/20-ingress.yaml
Labels: area/docs, skip/e2e, area/cicd

#5383 [monitoring-applications] Add grafana loki dashboard
  ee/fe/modules/340-monitoring-applications/applications/loki/grafana-dashboards/loki.json
  ee/fe/modules/340-monitoring-applications/docs/CONFIGURATION.md
  ee/fe/modules/340-monitoring-applications/docs/CONFIGURATION_RU.md
  modules/462-loki/templates/servicemonitor.yaml
Labels: area/docs, status/ok-to-test, area/logs

#5401 [log-shipper] Add tenantID option for Loki
  modules/460-log-shipper/apis/v1alpha1/cluster_log_destination.go
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
  modules/460-log-shipper/hooks/generate_config_test.go
  modules/460-log-shipper/hooks/internal/vector/destination/loki.go
  modules/460-log-shipper/hooks/testdata/file-to-loki/manifests.yaml
  modules/460-log-shipper/hooks/testdata/file-to-loki/result.json
Labels: area/logs, go, area/api-change

#5371 [ci] Add SOURCE_REPO env
  .github/ci_includes/werf_envs.yml
  .github/workflow_templates/build-and-test_dev.yml
  .github/workflow_templates/build-and-test_pre-release.yml
  .github/workflow_templates/build-and-test_release.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  modules/340-extended-monitoring/images/events-exporter/Dockerfile
  werf-giterminism.yaml
  werf.yaml
Labels: area/monitoring, area/core

#5408 [ci][site] Update site Ingress
  docs/site/.helm/templates/20-ingress.yaml
Labels: area/docs

#5409 [user-authn] Add custom certificate for kubeconfig generator
  modules/150-user-authn/templates/kubeconfig-generator/custom-certificate.yaml
Labels: area/auth

#5412 [docs] Fix broken links
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/site/_includes/getting_started/global/step_cluster_setup.html
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
  docs/site/images/logos/dex-icon-color.svg
  docs/site/images/logos/etcd-icon-color.svg
  docs/site/images/logos/jq.svg
  docs/site/images/logos/prometheus-icon-color.svg
  ee/modules/160-multitenancy-manager/crds/projects.yaml
  ee/modules/160-multitenancy-manager/docs/README.md
  ee/modules/160-multitenancy-manager/docs/README_RU.md
  ee/modules/160-multitenancy-manager/docs/USAGE.md
  modules/002-deckhouse/openapi/config-values.yaml
  modules/002-deckhouse/oss.yaml
  modules/035-cni-flannel/docs/README.md
  modules/035-cni-flannel/docs/README_RU.md
  modules/040-control-plane-manager/oss.yaml
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/045-snapshot-controller/docs/README.md
  modules/045-snapshot-controller/docs/README_RU.md
  modules/140-user-authz/docs/README_RU.md
  modules/150-user-authn/oss.yaml
  modules/300-prometheus/crds/clusteralerts.yaml
  modules/300-prometheus/crds/customprometheusrules.yaml
  modules/300-prometheus/crds/doc-ru-clusteralerts.yaml
  modules/300-prometheus/crds/doc-ru-customprometheusrules.yaml
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
  modules/300-prometheus/oss.yaml
  modules/301-prometheus-metrics-adapter/docs/README.md
  modules/301-prometheus-metrics-adapter/docs/README_RU.md
Labels: area/monitoring, area/auth, area/network, area/security, area/docs, area/cluster-and-infrastructure, skip/documentation-validation, status/backport, area/storage, area/api-change

#5414 Backport: [docs] Fix broken links
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/site/_includes/getting_started/global/step_cluster_setup.html
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
  docs/site/images/logos/dex-icon-color.svg
  docs/site/images/logos/etcd-icon-color.svg
  docs/site/images/logos/jq.svg
  docs/site/images/logos/prometheus-icon-color.svg
  ee/modules/160-multitenancy-manager/crds/projects.yaml
  ee/modules/160-multitenancy-manager/docs/README.md
  ee/modules/160-multitenancy-manager/docs/README_RU.md
  ee/modules/160-multitenancy-manager/docs/USAGE.md
  modules/002-deckhouse/openapi/config-values.yaml
  modules/002-deckhouse/oss.yaml
  modules/035-cni-flannel/docs/README.md
  modules/035-cni-flannel/docs/README_RU.md
  modules/040-control-plane-manager/oss.yaml
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/045-snapshot-controller/docs/README.md
  modules/045-snapshot-controller/docs/README_RU.md
  modules/140-user-authz/docs/README_RU.md
  modules/150-user-authn/oss.yaml
  modules/300-prometheus/crds/clusteralerts.yaml
  modules/300-prometheus/crds/customprometheusrules.yaml
  modules/300-prometheus/crds/doc-ru-clusteralerts.yaml
  modules/300-prometheus/crds/doc-ru-customprometheusrules.yaml
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
  modules/300-prometheus/oss.yaml
  modules/301-prometheus-metrics-adapter/docs/README.md
  modules/301-prometheus-metrics-adapter/docs/README_RU.md
Labels: auto, backported

#5403 [monitoring] dashboard fix
  modules/041-linstor/monitoring/grafana-dashboards/storage/linstor_drbd.json
Labels: status/backport, area/storage

#5416 Backport: [monitoring] dashboard fix
  modules/041-linstor/monitoring/grafana-dashboards/storage/linstor_drbd.json
Labels: auto, backported

#5397 [candi] ALTLinux nodes bootstrap fix
  ee/candi/bashible/bashbooster/50_apt_rpm.sh
  ee/candi/bashible/bundles/altlinux/all/000_add_deckhouse_path.sh.tpl
  ee/candi/bashible/bundles/altlinux/all/000_fix_path_in_root_bashrc.sh.tpl
  tools/build_includes/candi-EE.yaml
  tools/build_includes/candi-FE.yaml
Labels: area/testing, area/cluster-and-infrastructure, status/backport

#5418 Backport: [candi] ALTLinux nodes bootstrap fix
  ee/candi/bashible/bashbooster/50_apt_rpm.sh
  ee/candi/bashible/bundles/altlinux/all/000_add_deckhouse_path.sh.tpl
  ee/candi/bashible/bundles/altlinux/all/000_fix_path_in_root_bashrc.sh.tpl
  tools/build_includes/candi-EE.yaml
  tools/build_includes/candi-FE.yaml
Labels: auto, backported

#5411 [bashible] Revert kublet cri socket path configuration for docker
  candi/bashible/common-steps/node-group/068_configure_kubelet_systemd_unit.sh.tpl
Labels: area/cluster-and-infrastructure, status/backport

#5419 Backport: [bashible] Revert kublet cri socket path configuration for docker
  candi/bashible/common-steps/node-group/068_configure_kubelet_systemd_unit.sh.tpl
Labels: auto, backported

#5405 [cloud-provider-openstack] Fix openapi scheme for d8-cloud-provider-discovery-data secret
  ee/candi/cloud-providers/openstack/openapi/cloud_provider_discovery_data.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, status/backport, area/api-change

#5421 Backport: [cloud-provider-openstack] Fix openapi scheme for d8-cloud-provider-discovery-data secret
  ee/candi/cloud-providers/openstack/openapi/cloud_provider_discovery_data.yaml
Labels: auto, backported

#5423 Backport: [user-authn] Add custom certificate for kubeconfig generator
  modules/150-user-authn/templates/kubeconfig-generator/custom-certificate.yaml
Labels: auto, backported

#5426 Changelog v1.48.9
  CHANGELOG/CHANGELOG-v1.48.9.yml
  CHANGELOG/CHANGELOG-v1.48.md
Labels: changelog, auto, status/backport

#5427 Backport: Changelog v1.48.9
  CHANGELOG/CHANGELOG-v1.48.9.yml
  CHANGELOG/CHANGELOG-v1.48.md
Labels: auto, backported

#5413 Changelog v1.49.2
  CHANGELOG/CHANGELOG-v1.49.2.yml
  CHANGELOG/CHANGELOG-v1.49.md
Labels: changelog, auto, status/backport

#5428 Backport: Changelog v1.49.2
  CHANGELOG/CHANGELOG-v1.49.2.yml
  CHANGELOG/CHANGELOG-v1.49.md
Labels: auto, backported

#5361 [control-plane-manager] added creating a backup before a potentially dangerous action in docs
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport, skip/e2e

#5433 Backport: [control-plane-manager] added creating a backup before a potentially dangerous action in docs
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#5415 [docs][pushgateway] Update examples in the documentation
  modules/303-prometheus-pushgateway/docs/EXAMPLES.md
  modules/303-prometheus-pushgateway/docs/EXAMPLES_RU.md
  modules/303-prometheus-pushgateway/docs/README.md
  modules/303-prometheus-pushgateway/docs/README_RU.md
Labels: area/monitoring, area/docs, status/backport

#5434 Backport: [docs][pushgateway] Update examples in the documentation
  modules/303-prometheus-pushgateway/docs/EXAMPLES.md
  modules/303-prometheus-pushgateway/docs/EXAMPLES_RU.md
  modules/303-prometheus-pushgateway/docs/README.md
  modules/303-prometheus-pushgateway/docs/README_RU.md
Labels: auto, backported

#5431 [monitoring-kubernetes] Fix mountpoint label in kubelet-eviction-thresholds-exporter
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/exporter/main.go
Labels: area/monitoring, status/ok-to-test, go

#5438 [log-shipper] Update the module documentation
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
  modules/460-log-shipper/docs/README.md
  modules/460-log-shipper/docs/README_RU.md
Labels: area/docs, skip/documentation-validation, status/backport, area/logs

#5447 Backport: [log-shipper] Update the module documentation
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
  modules/460-log-shipper/docs/README.md
  modules/460-log-shipper/docs/README_RU.md
Labels: auto, backported

#5445 [docs] bm added a link to the node-manager module
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
Labels: area/docs, skip/e2e

#5450 [site] Fix sitemap location
  docs/site/.helm/templates/20-ingress.yaml
  docs/site/.werf/nginx-dev.conf
  docs/site/.werf/nginx.conf
  docs/site/sitemap-site.xml
  docs/site/sitemap-site_ru.xml
Labels: area/docs

#5158 [node-manager] version map for cluster-autoscaler
  candi/version_map.yml
  modules/040-node-manager/images/cluster-autoscaler/Dockerfile
  modules/040-node-manager/images/cluster-autoscaler/patches/1.22/daemonset-eviction.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.22/scale-from-zero.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.23/daemonset-eviction.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.23/scale-from-zero.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.24/daemonset-eviction.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.24/scale-from-zero.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.25/daemonset-eviction.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.25/scale-from-zero.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.26/daemonset-eviction.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.26/scale-from-zero.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.27/daemonset-eviction.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.27/scale-from-zero.patch
  modules/040-node-manager/images/cluster-autoscaler/werf.inc.yaml
  modules/040-node-manager/templates/cluster-autoscaler/deployment.yaml
  testing/library/images_tags_generated.go
Labels: type/enhancement, e2e/use/k8s/1.27

#5461 [docs] Update the Deckhouse FAQ
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs

#5462 Backport: [docs] Update the Deckhouse FAQ
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#5454 [admission-policy-engine] bump go-lang to 0.26.4 for constraint exporter
  modules/015-admission-policy-engine/images/constraint-exporter/go.mod
  modules/015-admission-policy-engine/images/constraint-exporter/go.sum
Labels: area/security, type/dependencies, status/backport

#5465 Backport: [admission-policy-engine] bump go-lang to 0.26.4 for constraint exporter
  modules/015-admission-policy-engine/images/constraint-exporter/go.mod
  modules/015-admission-policy-engine/images/constraint-exporter/go.sum
Labels: auto, backported

#5442 [ingress-nginx] added namespase in SetSSLExpireTime
  modules/402-ingress-nginx/images/controller-1-1/Dockerfile
  modules/402-ingress-nginx/images/controller-1-1/patches/README.md
  modules/402-ingress-nginx/images/controller-1-1/patches/metrics-SetSSLExpireTime.patch
  modules/402-ingress-nginx/images/controller-1-6/Dockerfile
  modules/402-ingress-nginx/images/controller-1-6/patches/README.md
  modules/402-ingress-nginx/images/controller-1-6/patches/metrics-SetSSLExpireTime.patch
Labels: area/monitoring, area/network

#5464 [global] Go mod tidy
  go.mod
Labels: type/dependencies, area/core

#5315 [candi] Fixed error in selectiong auth in dockerConfigJSON and added some doc about cases with unacessible registry.
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  go_lib/dependency/cr/cr.go
  go_lib/dependency/cr/cr_test.go
Labels: area/docs, area/core, go

#5448 [monitoring-kubernetes] fix node_exporter apparmor premissions issue
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
Labels: area/monitoring

#5467 [global] Bump Automatic kubernetes version
  dhctl/pkg/config/base.go
  global-hooks/discovery/cluster_configuration.go
  global-hooks/discovery/cluster_configuration_test.go
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
Labels: area/cluster-and-infrastructure, area/cli, area/core, skip/e2e, go

#5466 [ingress-nginx] Bump ingress controller default version to the 1.6
  modules/402-ingress-nginx/openapi/config-values.yaml
Labels: area/network, skip/documentation-validation, skip/e2e, area/api-change

#5443 [node-manager] create alert if node has no config checksum annotation
  modules/040-node-manager/hooks/update_approval.go
  modules/040-node-manager/monitoring/prometheus-rules/node-update.yaml
Labels: area/cluster-and-infrastructure, go

#5425 Changelog v1.49.3
  CHANGELOG/CHANGELOG-v1.49.3.yml
  CHANGELOG/CHANGELOG-v1.49.md
Labels: changelog, auto, status/backport

#5476 Backport: Changelog v1.49.3
  CHANGELOG/CHANGELOG-v1.49.3.yml
  CHANGELOG/CHANGELOG-v1.49.md
Labels: auto, backported

#5477 [chore] add SOURCE_REPO to tests generation
  tools/images_tags/main.go
Labels: area/testing, skip/e2e, go

#5335 [keepalived][FAQ] How to manually switch keepalived
  docs/documentation/_data/sidebars/main.yml
  ee/modules/450-keepalived/docs/FAQ.md
  ee/modules/450-keepalived/docs/FAQ_RU.md
Labels: area/docs, skip/e2e

#5230 [linstor] move drbd install from kernel module injector to bashible
  modules/007-registrypackages/images/drbd/scripts/install
  modules/007-registrypackages/images/drbd/scripts/uninstall
  modules/007-registrypackages/images/drbd/werf.inc.yaml
  modules/041-linstor/templates/linstor-ha-controller/daemonset.yaml
  modules/041-linstor/templates/linstor-node/linstorsatelliteset.yaml
  modules/041-linstor/templates/linstor-pools-importer/daemonset.yaml
  modules/041-linstor/templates/nodegroupconfiguration-check-drbd-version.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-altlinux-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-centos-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-debian-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-install-kernel-headers.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/core, area/storage, go

#5472 [docs] Use the default K8s version and Ingress controller version
  candi/openapi/doc-ru-node_group.yaml
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.ee.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/bm-private/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm-private/partials/ingress-nginx-controller.yml.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ee.inc
  docs/site/_includes/getting_started/bm/partials/ingress-nginx-controller.yml.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ee.inc
  docs/site/_includes/getting_started/openstack/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/vsphere/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.ee.inc
Labels: area/docs, area/cluster-and-infrastructure, area/api-change

#5481 [docs][candi] Fix NodeGroup OpenAPI spec
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
Labels: area/cluster-and-infrastructure, area/api-change

#5417 [control-plane-manager][terraform-manager][user-authn] relax restrict…
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
  modules/040-terraform-manager/openapi/config-values.yaml
  modules/040-terraform-manager/openapi/doc-ru-config-values.yaml
  modules/040-terraform-manager/openapi/openapi-case-tests.yaml
  modules/150-user-authn/openapi/config-values.yaml
  modules/150-user-authn/openapi/doc-ru-config-values.yaml
Labels: area/auth, area/cluster-and-infrastructure, area/api-change

#5488 [user-authn] Use global discovered publishAPI cert by default
  modules/150-user-authn/template_tests/kubeconfig_generator_config_test.go
  modules/150-user-authn/templates/kubeconfig-generator/config.yaml
Labels: area/auth, go

#5496 Backport: Changelog v1.50.0
  CHANGELOG/CHANGELOG-v1.50.0.yml
  CHANGELOG/CHANGELOG-v1.50.md
Labels: auto, backported

#5483 [linstor] fixes in nodegroupconfigurations for DRBD install and linstor components update script
  modules/041-linstor/hack/update.sh
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-altlinux-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-centos-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-debian-like.yaml
Labels: status/backport, area/storage

#5501 Backport: [linstor] fixes in nodegroupconfigurations for DRBD install and linstor components update script
  modules/041-linstor/hack/update.sh
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-altlinux-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-centos-like.yaml
  modules/041-linstor/templates/nodegroupconfiguration-drbd-install-debian-like.yaml
Labels: auto, backported

#5500 Changelog v1.50.0
  CHANGELOG/CHANGELOG-v1.50.0.yml
Labels: changelog, auto, status/backport

#5503 Backport: Changelog v1.50.0
  CHANGELOG/CHANGELOG-v1.50.0.yml
Labels: auto, backported

#5505 Backport: [user-authn] Use global discovered publishAPI cert by default
  modules/150-user-authn/template_tests/kubeconfig_generator_config_test.go
  modules/150-user-authn/templates/kubeconfig-generator/config.yaml
Labels: auto, backported

#5502 Updated helm_lib and distroless image to include new "deckhouse" user
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/README.md
  helm_lib/charts/deckhouse_lib_helm/templates/_module_image.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_module_security_context.tpl
Labels: type/enhancement, area/core

#5498 [external-module-manager] Add CA certificate option to an ExternalModuleSource
  modules/005-external-module-manager/crds/doc-ru-external-module-source.yaml
  modules/005-external-module-manager/crds/external-module-source.yaml
  modules/005-external-module-manager/hooks/handle_sources.go
  modules/005-external-module-manager/hooks/internal/apis/v1alpha1/source.go
Labels: area/external-modules, go, area/api-change

#5451 [distroless] extended-monitoring
  modules/340-extended-monitoring/images/cert-exporter/Dockerfile
Labels: area/monitoring

#5378 [distroless] monitoring-kubernetes
  modules/340-monitoring-kubernetes/images/kube-state-metrics/Dockerfile
  modules/340-monitoring-kubernetes/images/node-exporter/Dockerfile
Labels: area/monitoring

#5525 [docs][getting started] Bare metal updates
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  docs/site/_includes/getting_started/bm/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ee.inc
  docs/site/_includes/getting_started/bm/partials/ingress-nginx-controller.yml.inc
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER_RU.liquid
  docs/site/_includes/getting_started/global/step_cluster_setup.html
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
Labels: area/docs

#5526 [docs][guides] Fix the algorithm for choosing an inlet
  docs/site/images/guides/going_to_production/ingress-inlet-ru.svg
  docs/site/images/guides/going_to_production/ingress-inlet.svg
  docs/site/pages/guides/ingress-inlet-ru.puml
  docs/site/pages/guides/ingress-inlet.puml
Labels: area/docs

#5528 [docs][YandexClusterConfiguration] Update the description of the externalIPAddresses parameter.
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
Labels: area/docs, status/backport

#5529 Backport: [docs][YandexClusterConfiguration] Update the description of the externalIPAddresses parameter.
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#5530 [docs] Remove duplicates from the comparison table
  docs/documentation/_plugins/openapi.rb
Labels: area/docs, status/backport

#5531 Backport: [docs] Remove duplicates from the comparison table
  docs/documentation/_plugins/openapi.rb
Labels: auto, backported

#5532 Backport: [docs] Remove duplicates from the comparison table
  docs/documentation/_plugins/openapi.rb
Labels: auto, backported

#5499 [deckhouse-controller] Improved readability of raw debugging information
  deckhouse-controller/pkg/debug/debug.go
  modules/002-deckhouse/docs/FAQ.md
  modules/002-deckhouse/docs/FAQ_RU.md
Labels: area/docs, area/core, go

#5514 [candi](bashible) Revert migration to cgroupfs driver for containerd cri
  candi/bashible/common-steps/node-group/002_migrate_containerd_to_cgroupfs.sh.tpl
  candi/bashible/common-steps/node-group/050_configure_and_start_containerd.sh.tpl
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
Labels: type/bug, area/cluster-and-infrastructure

#5535 [helm] Fix depcreated helm apis calculation
  modules/013-helm/hooks/metrics.go
  modules/013-helm/hooks/metrics_test.go
  modules/013-helm/monitoring/prometheus-rules/deprecated-versions.yaml
Labels: area/core, status/backport, skip/e2e, go

#5536 Backport: [helm] Fix depcreated helm apis calculation
  modules/013-helm/hooks/metrics.go
  modules/013-helm/hooks/metrics_test.go
  modules/013-helm/monitoring/prometheus-rules/deprecated-versions.yaml
Labels: auto, backported

#5537 Backport: [helm] Fix depcreated helm apis calculation
  modules/013-helm/hooks/metrics.go
  modules/013-helm/hooks/metrics_test.go
  modules/013-helm/monitoring/prometheus-rules/deprecated-versions.yaml
Labels: auto, backported

#5538 Backport: [candi](bashible) Revert migration to cgroupfs driver for containerd cri
  candi/bashible/common-steps/node-group/002_migrate_containerd_to_cgroupfs.sh.tpl
  candi/bashible/common-steps/node-group/050_configure_and_start_containerd.sh.tpl
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
Labels: auto, backported

#5539 Backport: [candi](bashible) Revert migration to cgroupfs driver for containerd cri
  candi/bashible/common-steps/node-group/002_migrate_containerd_to_cgroupfs.sh.tpl
  candi/bashible/common-steps/node-group/050_configure_and_start_containerd.sh.tpl
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
Labels: auto, backported

#5507 Changelog v1.50.1
  CHANGELOG/CHANGELOG-v1.50.1.yml
  CHANGELOG/CHANGELOG-v1.50.md
Labels: changelog, auto, status/backport

#5540 Backport: Changelog v1.50.1
  CHANGELOG/CHANGELOG-v1.50.1.yml
  CHANGELOG/CHANGELOG-v1.50.md
Labels: auto, backported

#5508 Changelog v1.49.4
  CHANGELOG/CHANGELOG-v1.49.4.yml
  CHANGELOG/CHANGELOG-v1.49.md
Labels: changelog, auto, status/backport

#5541 Backport: Changelog v1.49.4
  CHANGELOG/CHANGELOG-v1.49.4.yml
  CHANGELOG/CHANGELOG-v1.49.md
Labels: auto, backported

#5491 [deckhouse] Update release delay without configuring notification.
  modules/002-deckhouse/hooks/internal/updater/notification.go
  modules/002-deckhouse/hooks/internal/updater/updater.go
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
Labels: status/doc-review, go

#5549 [docs] Fix icon path on the alert block
  docs/site/_plugins/alert.rb
Labels: area/docs

#5550 [docs][getting started] Update markup
  docs/site/_includes/getting_started/existing/STEP_FINALIZE.md
  docs/site/_includes/getting_started/existing/STEP_FINALIZE_RU.md
  docs/site/_includes/getting_started/gcp/STEP_ENV.md
  docs/site/_includes/getting_started/gcp/STEP_ENV_RU.md
  docs/site/_includes/getting_started/global/STEP_CLUSTER_ACCESS.md
  docs/site/_includes/getting_started/global/STEP_CLUSTER_ACCESS_RU.md
  docs/site/_includes/getting_started/global/partials/NOTICES.liquid
  docs/site/_includes/getting_started/global/partials/NOTICES_ENVIRONMENT.liquid
  docs/site/_includes/getting_started/vsphere/STEP_ENV.md
  docs/site/_includes/getting_started/vsphere/STEP_ENV_RU.md
Labels: area/docs

#5553 [candi](bashible) Fix configure kubelet step
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
Labels: type/bug, area/cluster-and-infrastructure, status/backport

#5560 Backport: [candi](bashible) Fix configure kubelet step
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
Labels: auto, backported

#5561 Backport: [candi](bashible) Fix configure kubelet step
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
Labels: auto, backported

#5559 Changelog v1.49.5
  CHANGELOG/CHANGELOG-v1.49.5.yml
  CHANGELOG/CHANGELOG-v1.49.md
Labels: changelog, auto, status/backport

#5563 Backport: Changelog v1.49.5
  CHANGELOG/CHANGELOG-v1.49.5.yml
  CHANGELOG/CHANGELOG-v1.49.md
Labels: auto, backported

#5556 [docs] Fix forms on the site
  docs/documentation/_data/modal.yml
  docs/documentation/_includes/become_a_partner_form.html
  docs/documentation/_includes/form_in_modal.html
  docs/documentation/_includes/get_a_report_form.html
  docs/documentation/_includes/request_access_form.html
  docs/documentation/_includes/request_callback_form.html
  docs/documentation/_includes/request_demo_form.html
  docs/documentation/_includes/request_education_form.html
  docs/documentation/_layouts/default.html
  docs/site/_includes/get_a_report_form.html
  docs/site/_includes/request_access_form.html
  docs/site/_includes/request_callback_form.html
  docs/site/_includes/request_education_form.html
  docs/site/_layouts/default.html
Labels: area/docs

#5564 [docs] Fix TOC generation
  docs/documentation/_includes/toc.html
  docs/site/_includes/toc.html
Labels: area/docs

#5567 [chore] Update CODEOWNERS
  .github/CODEOWNERS
Labels: skip/e2e

#5548 Fixed old csi mount cleaner
  candi/bashible/common-steps/node-group/089_manually_unmount_old_csi_mounts_after_kubernetes_1_24.sh.tpl
Labels: area/cluster-and-infrastructure

#5527 [docs][getting started] Add info about the Going to production guide
  docs/site/_includes/getting_started/global/partials/FINISH_CARDS.md
  docs/site/_includes/getting_started/global/partials/FINISH_CARDS_RU.md
  docs/site/css/components/_cards.scss
Labels: area/docs

#5571 Backport: [metallb] fix error in speaker leader-election
  ee/modules/380-metallb/templates/speaker/daemonset.yaml
Labels: auto, backported

#5572 Backport: [metallb] fix error in speaker leader-election
  ee/modules/380-metallb/templates/speaker/daemonset.yaml
Labels: auto, backported

#5575 Backport: Fixed old csi mount cleaner
  candi/bashible/common-steps/node-group/089_manually_unmount_old_csi_mounts_after_kubernetes_1_24.sh.tpl
Labels: auto, backported

#5574 Changelog v1.49.6
  CHANGELOG/CHANGELOG-v1.49.6.yml
  CHANGELOG/CHANGELOG-v1.49.md
Labels: changelog, auto, status/backport

#5577 Backport: Changelog v1.49.6
  CHANGELOG/CHANGELOG-v1.49.6.yml
  CHANGELOG/CHANGELOG-v1.49.md
Labels: auto, backported

#5579 [ci] Add GOPROXY env variable
  .github/ci_includes/werf_envs.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  modules/462-loki/images/loki/Dockerfile
  tools/images_tags/main.go
  werf-giterminism.yaml
  werf.yaml
Labels: area/testing, area/core, area/logs, go

#5580 Revert "[bashible] fixed wait apt update (#5314)"
  candi/bashible/bashbooster/50_apt.sh
  candi/bashible/bundles/debian/bootstrap.sh.tpl
  candi/bashible/bundles/ubuntu-lts/bootstrap.sh.tpl
  candi/bashible/common-steps/all/080_setup_timer_to_run_bashible.sh.tpl
  ee/candi/bashible/bashbooster/50_apt_rpm.sh
  ee/candi/bashible/bundles/altlinux/bootstrap.sh.tpl
  ee/candi/bashible/bundles/astra/bootstrap.sh.tpl
  testing/cloud_layouts/script.sh
Labels: area/testing, area/cluster-and-infrastructure

#5576 [getting started] Fix kind installation script
  docs/site/_includes/getting_started/kind/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/kind/STEP_INSTALL_SCHEMA_RU.md
  tools/kind-d8.sh
Labels: area/testing, area/docs

#5370 [ingress-nginx] add prestop lifecycle hook for rbac-proxy
  modules/402-ingress-nginx/template_tests/controller_test.go
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: area/network, go

#4666 [user-authz] Refactoring ClusterAuthorizationRule limitNamespaces
  ee/modules/140-user-authz/images/webhook/Dockerfile
  ee/modules/140-user-authz/images/webhook/cache/cache.go
  ee/modules/140-user-authz/images/webhook/go.mod
  ee/modules/140-user-authz/images/webhook/go.sum
  ee/modules/140-user-authz/images/webhook/main.go
  ee/modules/140-user-authz/images/webhook/web/hook/handler.go
  ee/modules/140-user-authz/images/webhook/web/hook/handler_test.go
  ee/modules/140-user-authz/images/webhook/web/hook/types.go
  ee/modules/140-user-authz/images/webhook/web/server.go
  ee/modules/140-user-authz/templates/webhook/rbac-for-us.yaml
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/140-user-authz/crds/doc-ru-clusterauthorizationrule.yaml
  modules/140-user-authz/docs/CONFIGURATION.md
  modules/140-user-authz/docs/CONFIGURATION_RU.md
  modules/140-user-authz/docs/FAQ.md
  modules/140-user-authz/docs/FAQ_RU.md
  modules/140-user-authz/docs/README.md
  modules/140-user-authz/docs/README_RU.md
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
  modules/140-user-authz/hooks/alert_deprecated_spec.go
  modules/140-user-authz/hooks/alert_deprecated_spec_test.go
  modules/140-user-authz/monitoring/prometheus-rules/user-authz/deprecated-cluster-authorization-rule-spec-limitnamespaces.tpl
  modules/140-user-authz/openapi/values.yaml
  modules/140-user-authz/webhooks/validating/multitenancy
Labels: area/auth, area/docs, type/dependencies, go, area/api-change

#5558 [monitoring] add livenessProbe for node-exporter
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
Labels: area/monitoring, status/ok-to-test

#5517 [flant-integration] Change `sum` to `avg` in `controller_metrics` hook and refactor utils
  ee/modules/600-flant-integration/images/flant-pricing/hooks/controller_metrics.py
  ee/modules/600-flant-integration/images/flant-pricing/hooks/controller_metrics_test.py
  ee/modules/600-flant-integration/images/flant-pricing/hooks/utils.py
Labels: skip/e2e, python

#5591 Fix spec.labelFilter field in doc
  ee/modules/650-runtime-audit-engine/docs/FAQ.md
  ee/modules/650-runtime-audit-engine/docs/FAQ_RU.md
Labels: area/security, area/docs

#5598 [external-module-manager] Fix race condition while handling source on Deckhouse startup
  modules/005-external-module-manager/hooks/apply_release.go
  modules/005-external-module-manager/hooks/apply_release_test.go
  modules/005-external-module-manager/hooks/handle_sources.go
Labels: area/modules, go

#5600 [documentation] Remove the unnecessary user directive from the nginx.conf
  modules/810-documentation/images/web/nginx.conf
Labels: area/docs

#5458 [global] Add .ModulePath to werf.inc.yaml
  candi/bashible/bundles/debian/all/003_install_mandatory_packages.sh.tpl
  ee/modules/030-cloud-provider-openstack/images/cloud-controller-manager/werf.inc.yaml
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/werf.inc.yaml
  ee/modules/030-cloud-provider-vsphere/images/cloud-controller-manager/werf.inc.yaml
  ee/modules/040-terraform-manager/images/terraform-manager-openstack/werf.inc.yaml
  ee/modules/040-terraform-manager/images/terraform-manager-vsphere/werf.inc.yaml
  global-hooks/openapi/values.yaml
  modules/000-common/images/kubernetes/werf.inc.yaml
  modules/002-deckhouse/images/webhook-handler/werf.inc.yaml
  modules/003-deckhouse-config/images/deckhouse-config-webhook/werf.inc.yaml
  modules/007-registrypackages/images/conntrack-debian/werf.inc.yaml
  modules/007-registrypackages/images/containerd/werf.inc.yaml
  modules/007-registrypackages/images/crictl/werf.inc.yaml
  modules/007-registrypackages/images/d8-curl/werf.inc.yaml
  modules/007-registrypackages/images/inotify-tools-centos/werf.inc.yaml
  modules/007-registrypackages/images/jq/werf.inc.yaml
  modules/007-registrypackages/images/kubeadm/werf.inc.yaml
  modules/007-registrypackages/images/kubectl/werf.inc.yaml
  modules/007-registrypackages/images/kubelet/werf.inc.yaml
  modules/007-registrypackages/images/kubernetes-cni/werf.inc.yaml
  modules/007-registrypackages/images/toml-merge/werf.inc.yaml
  modules/007-registrypackages/images/virt-what-debian/werf.inc.yaml
  modules/021-cni-cilium/images/cilium/werf.inc.yaml
  modules/021-kube-proxy/images/kube-proxy/werf.inc.yaml
  modules/030-cloud-provider-aws/images/cloud-controller-manager/werf.inc.yaml
  modules/030-cloud-provider-aws/images/cloud-data-discoverer/werf.inc.yaml
  modules/030-cloud-provider-azure/images/cloud-controller-manager/werf.inc.yaml
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/werf.inc.yaml
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/werf.inc.yaml
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/werf.inc.yaml
  modules/030-cloud-provider-yandex/images/cloud-metrics-exporter/werf.inc.yaml
  modules/035-cni-flannel/images/flanneld/werf.inc.yaml
  modules/040-control-plane-manager/images/control-plane-manager/werf.inc.yaml
  modules/040-control-plane-manager/images/kube-apiserver-healthcheck/werf.inc.yaml
  modules/040-control-plane-manager/images/kubernetes-api-proxy/werf.inc.yaml
  modules/040-node-manager/images/bashible-apiserver/werf.inc.yaml
  modules/040-node-manager/images/cluster-autoscaler/werf.inc.yaml
  modules/040-terraform-manager/images/base-terraform-manager/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-aws/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-azure/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-gcp/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-yandex/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-controller/werf.inc.yaml
  modules/402-ingress-nginx/images/proxy-failover-iptables/werf.inc.yaml
  modules/490-virtualization/images/artifact/werf.inc.yaml
  modules/491-containerized-data-importer/images/artifact/werf.inc.yaml
  modules/810-documentation/images/web/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/kubernetes, area/cloud-provider, area/network, area/security, area/testing, area/docs, area/cluster-and-infrastructure, area/core, area/storage, area/virtualization, go, area/api-change

#5543 [monitoring-applications]change expression to process_virtual_memory
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/kubernetes-cluster/nodes/node.json
Labels: area/monitoring, skip/e2e

#5562 Changelog v1.50.2
  CHANGELOG/CHANGELOG-v1.50.2.yml
  CHANGELOG/CHANGELOG-v1.50.md
Labels: changelog, auto, status/backport

#5602 Backport: Changelog v1.50.2
  CHANGELOG/CHANGELOG-v1.50.2.yml
  CHANGELOG/CHANGELOG-v1.50.md
Labels: auto, backported

#5610 [registrypackages] Add .ModulePath to werf.inc.yaml
  modules/007-registrypackages/images/drbd/werf.inc.yaml
Labels: area/core, skip/e2e

#5586 Change expression in Grafana dashboard for Ip_Forwarding
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/kubernetes-cluster/nodes/node.json
Labels: area/monitoring, status/ok-to-test

#5547 [distroless] extended-monitoring
  modules/340-extended-monitoring/images/cert-exporter/Dockerfile
  modules/340-extended-monitoring/images/events-exporter/Dockerfile
  modules/340-extended-monitoring/images/image-availability-exporter/Dockerfile
  modules/340-extended-monitoring/templates/cert-exporter/deployment.yaml
  modules/340-extended-monitoring/templates/events-exporter/deployment.yaml
  modules/340-extended-monitoring/templates/image-availability-exporter/deployment.yaml
Labels: area/monitoring

#5519 [prometheus-metrics-adapter] Distroless
  modules/301-prometheus-metrics-adapter/images/k8s-prometheus-adapter/Dockerfile
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/Dockerfile
  modules/301-prometheus-metrics-adapter/templates/deployment.yaml
Labels: area/monitoring

#5611 [docs] Updates the monitoring section of the documentation sidebar
  docs/documentation/_data/sidebars/main.yml
Labels: area/docs

#5453 [deckhouse] Step by step update when deckhouse release version.
  modules/002-deckhouse/hooks/check_deckhouse_release.go
  modules/002-deckhouse/hooks/check_deckhouse_release_test.go
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/deckhouse.yaml
Labels: area/monitoring, skip/e2e, go

#5533 [candi] Remove cleanup-after-prune-containerd-content ngc
  modules/040-node-manager/templates/nodegroupconfiguration-cleanup-after-prune-containerd-content.yaml
Labels: area/cluster-and-infrastructure

#5584 [user-authn] Move publishAPI CA discovery logic to the hook
  modules/150-user-authn/hooks/discover_publish_api_cert.go
  modules/150-user-authn/hooks/discover_publish_api_cert_test.go
  modules/150-user-authn/template_tests/kubeconfig_generator_config_test.go
  modules/150-user-authn/templates/kubeconfig-generator/config.yaml
Labels: area/auth, go

#5615 [user-authn] [Docks] Added descriptions for crowd groups
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: area/auth, area/docs

#5581 [deckhouse] Update FAQ documentation about minimalNotificationTime.
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  modules/002-deckhouse/docs/USAGE.md
  modules/002-deckhouse/docs/USAGE_RU.md
  modules/002-deckhouse/openapi/config-values.yaml
  modules/002-deckhouse/openapi/doc-ru-config-values.yaml
Labels: area/docs, area/api-change

#5617 [getting started] Remove a protocol prefix from the imagesRepo
  docs/site/_includes/getting_started/global/partials/getting-started-setup.js.liquid
  docs/site/_includes/getting_started/global/step_cluster_setup.html
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
Labels: area/docs

#5605 [e2e] linstor tests in e2e static is temporary disabled
  testing/cloud_layouts/script.sh
Labels: area/testing, skip/e2e

#5590 [cloud-provider-openstack] added a command to get the list of networks
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, area/api-change

#5620 [deckhouse] Handle Endpoints and orphan EndpointSlices
  global-hooks/create_endpoints.go
  global-hooks/create_endpoints_test.go
  modules/002-deckhouse/hooks/clean_endpoint_slices.go
  modules/002-deckhouse/hooks/clean_endpoint_slices_test.go
Labels: area/core, e2e/use/k8s/1.25, go

#5487 [control-plane-manager] added a state check before changing the master node
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
  modules/040-terraform-manager/monitoring/prometheus-rules/terraform-manager/terraform-state-exporter.tpl
Labels: area/docs, area/cluster-and-infrastructure

#5623 [runtime-audit-engine] move falcosidekick to distroless
  ee/modules/650-runtime-audit-engine/images/falcosidekick/Dockerfile
Labels: area/security, area/compliance

#5628 Fix docs faq snippet
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/ok-to-test

#5632 Backport: Fix spec.labelFilter field in doc
  ee/modules/650-runtime-audit-engine/docs/FAQ.md
  ee/modules/650-runtime-audit-engine/docs/FAQ_RU.md
Labels: auto, backported

#5631 [global] Fix global hooks order
  global-hooks/create_endpoints.go
  global-hooks/deckhouse-config/ensure_crd.go
  global-hooks/deckhouse-config/startup_sync.go
Labels: area/core, go

#5638 Backport: [user-authn] Move publishAPI CA discovery logic to the hook
  modules/150-user-authn/hooks/discover_publish_api_cert.go
  modules/150-user-authn/hooks/discover_publish_api_cert_test.go
  modules/150-user-authn/template_tests/kubeconfig_generator_config_test.go
  modules/150-user-authn/templates/kubeconfig-generator/config.yaml
Labels: auto, backported

#5635 [docs][cni-cilium] Update kernel requirements
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
Labels: area/network, area/docs, status/backport

#5640 Backport: [docs][cni-cilium] Update kernel requirements
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
Labels: auto, backported

#5642 [monitoring-kubernetes] Revert node-exporter kube-rbac-proxy liveness probe
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
Labels: area/monitoring, skip/e2e

#5603 [candi] fix migrate cluster from one edition to another
  candi/bashible/common-steps/node-group/001_configure_kubernetes_api_proxy.sh.tpl
  candi/bashible/common-steps/node-group/051_pull_and_configure_kubernetes_api_proxy.sh.tpl
  candi/bashible/common-steps/node-group/051_pull_kubernetes_api_proxy.sh.tpl
  deckhouse-controller/pkg/helpers/change_registry/change_registry.go
Labels: area/cluster-and-infrastructure, area/core, go

#5492 [candi] changed the output of the command for 'yum versionlock delete' if it is dnf
  candi/bashible/bashbooster/50_yum.sh
Labels: status/backport

#5639 Changelog v1.50.3
  CHANGELOG/CHANGELOG-v1.50.3.yml
  CHANGELOG/CHANGELOG-v1.50.md
Labels: changelog, auto, status/backport

#5654 Backport: Changelog v1.50.3
  CHANGELOG/CHANGELOG-v1.50.3.yml
  CHANGELOG/CHANGELOG-v1.50.md
Labels: auto, backported

#5664 [runtime-audit-engine] add read-only root for falco container
  ee/modules/650-runtime-audit-engine/images/falco/Dockerfile
  ee/modules/650-runtime-audit-engine/images/falco/werf.inc.yaml
  ee/modules/650-runtime-audit-engine/templates/daemonset.yaml
Labels: area/security, area/compliance

#5650 [cloud-provider-aws] Explicitly provide tags to root_block_device
  candi/cloud-providers/aws/terraform-modules/master-node/main.tf
  candi/cloud-providers/aws/terraform-modules/static-node/main.tf
Labels: area/cloud-provider, area/cluster-and-infrastructure

#5667 [candi] Fixed CSI mount cleaner
  candi/bashible/common-steps/node-group/089_manually_unmount_old_csi_mounts_after_kubernetes_1_24.sh.tpl
Labels: area/cluster-and-infrastructure, status/backport

#5671 Backport: [candi] Fixed CSI mount cleaner
  candi/bashible/common-steps/node-group/089_manually_unmount_old_csi_mounts_after_kubernetes_1_24.sh.tpl
Labels: auto, backported

#5670 Changelog v1.50.4
  CHANGELOG/CHANGELOG-v1.50.4.yml
  CHANGELOG/CHANGELOG-v1.50.md
Labels: changelog, auto, status/backport

#5672 Backport: Changelog v1.50.4
  CHANGELOG/CHANGELOG-v1.50.4.yml
  CHANGELOG/CHANGELOG-v1.50.md
Labels: auto, backported

#5660 [deckhouse] Add description to the validation webhook
  modules/002-deckhouse/templates/admission/validation.yaml
Labels: skip/e2e

#5570 [deckhouse] Start debug HTTP API server next to socket server.
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  global-hooks/create_endpoints.go
  global-hooks/create_endpoints_test.go
  go.mod
  go.sum
  modules/002-deckhouse/templates/deployment.yaml
  tools/go.sum
Labels: area/testing, type/dependencies, area/cli, area/core, go

#5682 [chore] Fix CHANGELOG v1.50
  CHANGELOG/CHANGELOG-v1.50.md
Labels: type/chore

#5666 [chore] Update K8s patch versions
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: area/kubernetes, area/testing, area/cluster-and-infrastructure, e2e/use/k8s/1.26, type/chore, e2e/use/k8s/1.24, e2e/use/k8s/1.25, go, e2e/use/k8s/1.27

#5613 [ingress-nginx] update nginx tpl for healthz handle
  modules/402-ingress-nginx/docs/FAQ.md
  modules/402-ingress-nginx/docs/FAQ_RU.md
  modules/402-ingress-nginx/images/controller-1-1/patches/README.md
  modules/402-ingress-nginx/images/controller-1-1/patches/healthcheck.patch
  modules/402-ingress-nginx/images/controller-1-1/patches/nginx-tmpl.patch
  modules/402-ingress-nginx/images/controller-1-6/patches/README.md
  modules/402-ingress-nginx/images/controller-1-6/patches/healthcheck.patch
  modules/402-ingress-nginx/images/controller-1-6/patches/nginx-tmpl.patch
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: area/network, area/docs
