Repository deckhouse/deckhouse, pull requests merged in 2023-05, with the labels that each got.

#4539 [ci] Fix the registry address for site images
  .github/ci_templates/steps.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/cve-weekly.yml
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  .github/workflows/e2e-abort-aws.yml
  .github/workflows/e2e-abort-azure.yml
  .github/workflows/e2e-abort-eks.yml
  .github/workflows/e2e-abort-gcp.yml
  .github/workflows/e2e-abort-openstack.yml
  .github/workflows/e2e-abort-static.yml
  .github/workflows/e2e-abort-vsphere.yml
  .github/workflows/e2e-abort-yandex-cloud.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/schedule-cleanup.yml
  .github/workflows/suspend-alpha.yml
  .github/workflows/suspend-beta.yml
  .github/workflows/suspend-early-access.yml
  .github/workflows/suspend-rock-solid.yml
  .github/workflows/suspend-stable.yml
  .github/workflows/trivy-db-schedule.yml
Labels: type/chore, area/cicd

#4541 [ci] Fix links test workflow
  .github/ci_templates/web.yml
  .github/workflow_templates/build-and-test_dev.yml
  .github/workflow_templates/build-and-test_pre-release.yml
  .github/workflow_templates/build-and-test_release.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
Labels: type/chore

#4544 Backport: [descheduler] Restored migration hook
  global-hooks/migrate/migrate_descheduler.go
Labels: auto, backported

#4546 [docs] Update the supported OS list on the site
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_data/version_map_addition.yml
  docs/documentation/_includes/SUPPORTED_VERSIONS.liquid
Labels: area/docs, status/backport, skip/e2e

#4548 Backport: [docs] Update the supported OS list on the site
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_data/version_map_addition.yml
  docs/documentation/_includes/SUPPORTED_VERSIONS.liquid
Labels: auto, backported

#4485 Changelog v1.45.7
  CHANGELOG/CHANGELOG-v1.45.7.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: changelog, auto, status/backport

#4549 Backport: Changelog v1.45.7
  CHANGELOG/CHANGELOG-v1.45.7.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: auto, backported

#4545 [candi] speed up kubernetes build
  modules/000-common/images/kubernetes/werf.inc.yaml
Labels: area/cluster-and-infrastructure

#4553 [node-manager] Fix bashible altlinux docker containerd version
  candi/bashible/bundles/altlinux/node-group/031_install_docker.sh.tpl
  modules/040-node-manager/images/bashible-apiserver/README.md
Labels: area/cluster-and-infrastructure

#4355 [cni-cilium] refactor build process
  modules/021-cni-cilium/images/builder/werf.inc.yaml
  modules/021-cni-cilium/images/cilium/Dockerfile
  modules/021-cni-cilium/images/cilium/patches/001-request-ip.patch
  modules/021-cni-cilium/images/cilium/patches/002-stable-mac.patch
  modules/021-cni-cilium/images/cilium/patches/003-mtu.patch
  modules/021-cni-cilium/images/cilium/patches/004-fib.patch
  modules/021-cni-cilium/images/cilium/patches/README.md
  modules/021-cni-cilium/images/cilium/werf.inc.yaml
  modules/021-cni-cilium/images/operator/Dockerfile
  modules/021-cni-cilium/images/operator/werf.inc.yaml
  modules/021-cni-cilium/images/virt-cilium/Dockerfile
  modules/021-cni-cilium/images/virt-cilium/build-gops.sh
  modules/021-cni-cilium/images/virt-cilium/cni-version.sh
  modules/021-cni-cilium/images/virt-cilium/download-cni.sh
  modules/021-cni-cilium/images/virt-cilium/install-runtime-deps.sh
  modules/021-cni-cilium/images/virt-cilium/iptables-wrapper-installer.sh
  testing/library/images_tags_generated.go
Labels: area/network, area/cluster-and-infrastructure, skip/copyright-validation

#4332 [candi] code cleanup in bashible.sh.tpl
  candi/bashible/bashible.sh.tpl
Labels: area/cluster-and-infrastructure

#4221 [cloud-provider-gcp] Add cloud data discoverer
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/discoverer.go
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/go.mod
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/go.sum
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/main.go
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/werf.inc.yaml
  modules/030-cloud-provider-gcp/template_tests/module_test.go
  modules/030-cloud-provider-gcp/templates/cloud-data-discoverer/deployment.yaml
  modules/030-cloud-provider-gcp/templates/cloud-data-discoverer/pod-monitor.yaml
  modules/030-cloud-provider-gcp/templates/cloud-data-discoverer/rbac-for-us.yaml
  modules/030-cloud-provider-gcp/templates/cloud-data-discoverer/rbac-to-us.yaml
  testing/library/images_tags_generated.go
Labels: skip/documentation-validation, skip/e2e

#4213 [cloud-provider-azure] Add cloud data discoverer
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/discoverer.go
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/go.mod
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/go.sum
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/main.go
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/werf.inc.yaml
  modules/030-cloud-provider-azure/monitoring/prometheus-rules/cloud-data-discoverer.yaml
  modules/030-cloud-provider-azure/template_tests/module_test.go
  modules/030-cloud-provider-azure/templates/cloud-data-discoverer/deployment.yaml
  modules/030-cloud-provider-azure/templates/cloud-data-discoverer/pod-monitor.yaml
  modules/030-cloud-provider-azure/templates/cloud-data-discoverer/rbac-for-us.yaml
  modules/030-cloud-provider-azure/templates/cloud-data-discoverer/rbac-to-us.yaml
  modules/030-cloud-provider-azure/templates/cloud-data-discoverer/secret.yaml
  modules/030-cloud-provider-azure/templates/monitoring.yaml
  testing/library/images_tags_generated.go
Labels: skip/e2e

#4575 [virtualization] fixed docs path
  modules/490-virtualization/docs/FAQ.md
  modules/490-virtualization/docs/FAQ_RU.md
Labels: area/docs, skip/e2e

#4578 Backport: [virtualization] fixed docs path
  modules/490-virtualization/docs/FAQ.md
  modules/490-virtualization/docs/FAQ_RU.md
Labels: auto, backported

#4552 [runtime-audit-engine] Modern BPF
  docs/documentation/images/650-runtime-audit-engine/falco_pod.svg
  ee/modules/650-runtime-audit-engine/docs/README.md
  ee/modules/650-runtime-audit-engine/docs/README_RU.md
  ee/modules/650-runtime-audit-engine/images/falco-driver-loader/Dockerfile
  ee/modules/650-runtime-audit-engine/images/falco/Dockerfile
  ee/modules/650-runtime-audit-engine/templates/daemonset.yaml
  testing/library/images_tags_generated.go
Labels: area/security

#4562 [deckhouse] Change shell-operator base image
  candi/image_versions.yml
  modules/002-deckhouse/templates/webhook-handler/deployment.yaml
  testing/run
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#4561 [user-authn] Add check for unique of userID and email in User object
  modules/150-user-authn/webhooks/validating/user
Labels: type/feature-request

#4558 [node-manager] Create event if node drain failed
  modules/040-node-manager/hooks/handle_draining.go
  modules/040-node-manager/hooks/handle_draining_test.go
Labels: skip/e2e

#4408 fix ClusterLogDestination loki endpoint
  modules/462-loki/templates/logshipper-log-destination.yaml
Labels: status/ok-to-test, area/logs

#4598 [docs][user-authn] Minor updates
  modules/010-user-authn-crd/crds/dex-client.yaml
  modules/010-user-authn-crd/crds/dex-provider.yaml
  modules/010-user-authn-crd/crds/doc-ru-dex-client.yaml
  modules/010-user-authn-crd/crds/doc-ru-dex-provider.yaml
  modules/010-user-authn-crd/crds/doc-ru-user.yaml
  modules/010-user-authn-crd/crds/user.yaml
  modules/150-user-authn/docs/FAQ.md
  modules/150-user-authn/docs/FAQ_RU.md
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: area/docs

#4601 Backport: [docs][chore] Update modules description
  docs/site/_includes/head.html
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
  modules/040-control-plane-manager/docs/README.md
  modules/040-control-plane-manager/docs/README_RU.md
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
  modules/041-linstor/docs/README.md
  modules/041-linstor/docs/README_RU.md
Labels: auto, backported

#4602 Backport: [docs][chore] Update modules description
  docs/site/_includes/head.html
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
  modules/040-control-plane-manager/docs/README.md
  modules/040-control-plane-manager/docs/README_RU.md
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
  modules/041-linstor/docs/README.md
  modules/041-linstor/docs/README_RU.md
Labels: auto, backported

#4595 [deckhouse-controller] Add autogomaxprocs
  deckhouse-controller/cmd/deckhouse-controller/main.go
  go.mod
  go.sum
Labels: area/core

#4559 [site] Fix styles for sticky sidebar in docs
  docs/site/css/docs.scss
  docs/site/js/customscripts.js
Labels: area/docs

#4625 [user-authn][docs] Remove the "Integration with Kubernetes and Deckhouse" section
  modules/150-user-authn/docs/README.md
  modules/150-user-authn/docs/README_RU.md
Labels: area/docs, status/backport, skip/e2e

#4627 Backport: [user-authn][docs] Remove the "Integration with Kubernetes and Deckhouse" section
  modules/150-user-authn/docs/README.md
  modules/150-user-authn/docs/README_RU.md
Labels: auto, backported

#4383 [log-shipper] Add host label and the doc about labels
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/modules_menu_skip
  go.mod
  go.sum
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.mod
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.sum
  modules/460-log-shipper/docs/README.md
  modules/460-log-shipper/docs/README_RU.md
  modules/460-log-shipper/hooks/internal/composer/testdata/config_1.json
  modules/460-log-shipper/hooks/internal/vector/destination/loki.go
  modules/460-log-shipper/hooks/internal/vector/destination/splunk.go
  modules/460-log-shipper/hooks/testdata/file-to-splunk/result.json
  modules/460-log-shipper/hooks/testdata/multiple-dest/result.json
  modules/460-log-shipper/hooks/testdata/namespaced-source/result.json
Labels: area/logs

#4580 [candi] refactor bootstrap scripts to fit 16kb limit of cloud-data
  candi/bashible/bundles/centos/bootstrap.sh.tpl
  candi/bashible/detect_bundle.sh
  ee/candi/bashible/bundles/alteros/bootstrap.sh.tpl
  ee/candi/bashible/bundles/redos/bootstrap.sh.tpl
  ee/candi/bashible/detect_bundle.sh
  modules/040-node-manager/templates/node-group/_bootstrap_script.tpl
Labels: area/cluster-and-infrastructure

#4570 [candi] Add ALT Linux 10.1 support
  candi/bashible/detect_bundle.sh
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: type/feature-request

#4621 [linstor] Fix passphrase reconcilation
  modules/041-linstor/hooks/read_passphrase.go
Labels: area/storage, skip/e2e

#4619 [operator-prometheus] added secret-field-selector
  modules/200-operator-prometheus/templates/operator.yaml
Labels: area/monitoring, e2e/use/cri/containerd, e2e/use/k8s/1.23

#4633 [candi] refactor bootstrap scripts to fit 16kb limit of cloud-data
  candi/bashible/bundles/centos/bootstrap.sh.tpl
  candi/bashible/detect_bundle.sh
  ee/candi/bashible/bundles/alteros/bootstrap.sh.tpl
  ee/candi/bashible/bundles/redos/bootstrap.sh.tpl
  ee/candi/bashible/detect_bundle.sh
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.23

#4618 [containerized-data-importer] Enable HonorWaitForFirstConsumer
  modules/491-containerized-data-importer/templates/cdi.yaml
Labels: status/backport, area/storage, skip/e2e, area/virtualization

#4637 Backport: [containerized-data-importer] Enable HonorWaitForFirstConsumer
  modules/491-containerized-data-importer/templates/cdi.yaml
Labels: auto, backported

#4606 [descheduler] Provided a proper migration
  global-hooks/migrate/migrate_descheduler.go
  modules/400-descheduler/hooks/migrate_from_cm.go
  modules/400-descheduler/hooks/migrate_from_cm_test.go
Labels: type/bug, area/scaling, status/backport

#4638 Backport: [descheduler] Provided a proper migration
  global-hooks/migrate/migrate_descheduler.go
  modules/400-descheduler/hooks/migrate_from_cm.go
  modules/400-descheduler/hooks/migrate_from_cm_test.go
Labels: auto, backported

#4596 Changelog v1.45.8
  CHANGELOG/CHANGELOG-v1.45.8.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: changelog, auto, status/backport

#4640 Backport: Changelog v1.45.8
  CHANGELOG/CHANGELOG-v1.45.8.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: auto, backported

#4521 [global-hooks] Fix cluster dns address discovery
  global-hooks/discovery/cluster_dns_address.go
  global-hooks/discovery/cluster_dns_address_test.go
Labels: status/ok-to-test, skip/e2e, e2e/cluster/failed

#4483 [candi] Disable swap entry in /etc/fstab
  candi/bashible/common-steps/all/001_disable_swap.sh.tpl
Labels: area/cluster-and-infrastructure

#4643 [ci] Add 1.27 e2e pipelines
  .github/scripts/js/constants.js
  .github/workflow_templates/e2e.abort.multi.yml
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-abort-aws.yml
  .github/workflows/e2e-abort-azure.yml
  .github/workflows/e2e-abort-eks.yml
  .github/workflows/e2e-abort-gcp.yml
  .github/workflows/e2e-abort-openstack.yml
  .github/workflows/e2e-abort-static.yml
  .github/workflows/e2e-abort-vsphere.yml
  .github/workflows/e2e-abort-yandex-cloud.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: skip/e2e

#4377 [ingress-nginx] Add detailed default backend metrics
  modules/402-ingress-nginx/images/controller-1-1/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-1-6/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/protobuf-exporter/rootfs/etc/protobuf_exporter/mappings.yaml
  modules/402-ingress-nginx/monitoring/grafana-dashboards/ingress-nginx/namespace/namespace_detail.json
  modules/402-ingress-nginx/monitoring/grafana-dashboards/ingress-nginx/namespace/namespaces.json
  modules/402-ingress-nginx/monitoring/grafana-dashboards/kubernetes-cluster/controller-detail.json
  modules/402-ingress-nginx/monitoring/grafana-dashboards/kubernetes-cluster/controllers.json
Labels: skip/e2e

#4531 [candi] Prevent accidental modification of files in /root/.bashrc and /etc/inputrc
  candi/bashible/common-steps/all/039_add_kubectl_completion.sh.tpl
Labels: area/cluster-and-infrastructure

#4650 [chore][tools] Update the go.sum file
  tools/go.sum
Labels: type/chore, skip/e2e

#4646 [control-plane-manager] Add `-w table` parameters for `member list` and `endpoint status`
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, skip/e2e

#4664 [docs] Add the experimental badge onto the runtime-audit-engine and `operator-trivi` modules.
  docs/documentation/_data/sidebars/main.yml
  docs/site/_config.yml
Labels: area/docs, skip/e2e

#4669 [candi] fix error in detect_bundle.sh
  candi/bashible/detect_bundle.sh
Labels: area/cluster-and-infrastructure, status/backport

#4671 Backport: [candi] fix error in detect_bundle.sh
  candi/bashible/detect_bundle.sh
Labels: auto, backported

#4670 Changelog v1.45.9
  CHANGELOG/CHANGELOG-v1.45.9.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: changelog, auto, status/backport

#4672 Backport: Changelog v1.45.9
  CHANGELOG/CHANGELOG-v1.45.9.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: auto, backported

#4674 [docs] Update links
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
  docs/documentation/pages/DECKHOUSE_CONFIGURE.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_RU.md
  docs/site/pages/guides/PRODUCTION.md
  docs/site/pages/guides/PRODUCTION_RU.md
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
  modules/040-node-manager/openapi/values.yaml
  modules/140-user-authz/crds/authorizationrule.yaml
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/140-user-authz/crds/doc-ru-authorizationrule.yaml
  modules/140-user-authz/crds/doc-ru-clusterauthorizationrule.yaml
  modules/301-prometheus-metrics-adapter/docs/README.md
  modules/301-prometheus-metrics-adapter/docs/README_RU.md
  modules/301-prometheus-metrics-adapter/docs/USAGE.md
  modules/301-prometheus-metrics-adapter/docs/USAGE_RU.md
Labels: area/docs

#4632 [bashible] update ec2_describe_tags binary version to support IMDSv2
  candi/cloud-providers/aws/bashible/common-steps/bootstrap-networks.sh.tpl
Labels: area/core

#4608 [log-shipper] Fixed reloader script
  modules/460-log-shipper/images/vector/Dockerfile
  modules/460-log-shipper/images/vector/reloader/go.mod
  modules/460-log-shipper/images/vector/reloader/go.sum
  modules/460-log-shipper/images/vector/reloader/internal/diff.go
  modules/460-log-shipper/images/vector/reloader/main.go
Labels: type/bug, area/logs

#4560 [cloud-provider-aws] Change default etcd disk size and type
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
Labels: skip/documentation-validation, e2e/use/cri/containerd, type/chore, e2e/use/k8s/1.23, e2e/cluster/failed

#4649 [node-manager] remove iptables mention from node-manager doc
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: area/docs, skip/e2e

#4685 [docs] Add note about specifying registry path for `d8-push.sh` script
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs

#4686 Backport: [docs] Add note about specifying registry path for `d8-push.sh` script
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#4684 [prometheus] Bump 2.44.0
  modules/002-deckhouse/images/webhook-handler/werf.inc.yaml
  modules/300-prometheus/images/prometheus/Dockerfile
Labels: area/monitoring

#4691 [docs] Minor content updates
  docs/documentation/_includes/SUPPORTED_VERSIONS.liquid
  docs/site/_data/revision_comparison.yml
Labels: area/docs, deploy/web/test

#4692 Backport: [docs] Minor content updates
  docs/documentation/_includes/SUPPORTED_VERSIONS.liquid
  docs/site/_data/revision_comparison.yml
Labels: auto, backported

#4693 [prometheus] Handle grafana dashboard's json unmarshaller error
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.py
Labels: skip/e2e

#4694 [docs] Update search index to search by the <Module>[Enabled|Disabled] parameter
  docs/documentation/_includes/search.liquid
  docs/documentation/_plugins/custom_hooks.rb
Labels: area/docs

#4695 Backport: [docs] Update search index to search by the <Module>[Enabled|Disabled] parameter
  docs/documentation/_includes/search.liquid
  docs/documentation/_plugins/custom_hooks.rb
Labels: auto, backported

#4654 [extended-monitoring] Removed deprecated annotations from Deckhouse-managed objects
  modules/002-deckhouse/hooks/enable_extended_monitoring_test.go
  modules/400-descheduler/templates/namespace.yaml
  modules/402-ingress-nginx/templates/namespace.yaml
Labels: area/monitoring, type/bug

#4613 [node-local-dns] added logs if changed state iptables
  ee/modules/350-node-local-dns/images/iptables-loop/iptables-loop.sh
Labels: area/network, type/enhancement

#4614 [monitoring] Display Prometheus alerts as CRD
  modules/300-prometheus/crds/clusteralerts.yaml
  modules/300-prometheus/crds/doc-ru-clusteralerts.yaml
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
  modules/300-prometheus/images/alerts-receiver-webhook/Dockerfile
  modules/300-prometheus/images/alerts-receiver-webhook/alerts-receiver-webhook.go
  modules/300-prometheus/images/alerts-receiver-webhook/alertstore.go
  modules/300-prometheus/images/alerts-receiver/Dockerfile
  modules/300-prometheus/images/alerts-receiver/src/clusterstore.go
  modules/300-prometheus/images/alerts-receiver/src/config.go
  modules/300-prometheus/images/alerts-receiver/src/cr.go
  modules/300-prometheus/images/alerts-receiver/src/go.mod
  modules/300-prometheus/images/alerts-receiver/src/go.sum
  modules/300-prometheus/images/alerts-receiver/src/main.go
  modules/300-prometheus/images/alerts-receiver/src/memstore.go
  modules/300-prometheus/images/alerts-receiver/src/server.go
  modules/300-prometheus/images/alerts-receiver/src/store.go
  modules/300-prometheus/templates/alerts-receiver/alertmanager.yaml
  modules/300-prometheus/templates/alerts-receiver/deployment.yaml
  modules/300-prometheus/templates/alerts-receiver/pdb.yaml
  modules/300-prometheus/templates/alerts-receiver/rbac-for-us.yaml
  modules/300-prometheus/templates/alerts-receiver/service.yaml
  testing/library/images_tags_generated.go
Labels: area/monitoring

#4681 [linstor] enable WaitForFirstConsumer
  modules/041-linstor/images/linstor-pools-importer/main.go
  modules/041-linstor/images/linstor-pools-importer/main_test.go
  modules/041-linstor/templates/linstor-affinity-controller/deployment.yaml
Labels: area/storage

#4651 [admission-policy-engine] update grafana dashboard definition
  modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/monitoring/grafana-dashboards/security/admission-policy-engine.json
Labels: skip/documentation-validation, skip/e2e

#4607 [node-manager] Automatic capacity nodegroup discovery
  candi/cloud-providers/aws/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/aws/openapi/instance_class.yaml
  candi/cloud-providers/azure/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/azure/openapi/instance_class.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/gcp/openapi/instance_class.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-instance_class.yaml
  ee/candi/cloud-providers/openstack/openapi/instance_class.yaml
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/go.mod
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/go.sum
  go.mod
  go_lib/cloud-data/go.mod
  go_lib/cloud-data/go.sum
  modules/030-cloud-provider-aws/images/cloud-data-discoverer/go.mod
  modules/030-cloud-provider-aws/images/cloud-data-discoverer/go.sum
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/go.mod
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/go.sum
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/go.mod
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/go.sum
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/get_crds_test.go
  modules/040-node-manager/hooks/internal/autoscaler/capacity/capacity.go
  modules/040-node-manager/hooks/internal/autoscaler/capacity/capacity_test.go
  modules/040-node-manager/hooks/internal/autoscaler/instance_types/azure_instance_types.go
  modules/040-node-manager/hooks/internal/autoscaler/instance_types/ec2_instance_types.go
  modules/040-node-manager/hooks/internal/autoscaler/instance_types/gcp_instance_types.go
  modules/040-node-manager/hooks/internal/autoscaler/instance_types/generator/gcp_generator.go
  modules/040-node-manager/hooks/internal/autoscaler/instance_types/instance_type.go
  modules/040-node-manager/hooks/internal/autoscaler/instance_types/openstack_instance_types.go
  modules/040-node-manager/openapi/values.yaml
  tools/go.mod
  tools/go.sum
  werf.yaml
Labels: skip/documentation-validation, skip/e2e

#4368 [virtualization] Minor fixes
  modules/490-virtualization/hooks/utils.go
  modules/490-virtualization/hooks/vm_handler.go
  modules/490-virtualization/hooks/vm_handler_test.go
Labels: status/backport, area/virtualization

#4395 [prometheus-metrics-adapter] fixed hpa <unknown> in used custom metrics
  modules/301-prometheus-metrics-adapter/docs/USAGE.md
  modules/301-prometheus-metrics-adapter/docs/USAGE_RU.md
  modules/301-prometheus-metrics-adapter/templates/config-map.yaml
Labels: area/monitoring, area/docs, e2e/use/cri/containerd, e2e/use/k8s/1.23

#4611 [linstor] Reconcile LVM pool updates
  modules/041-linstor/images/linstor-pools-importer/main.go
Labels: type/bug, area/storage

#4701 [monitoring-kubernetes] Remove duplicates of memory graphs on namespace dashboard
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/namespace.json
Labels: area/monitoring

#4699 [operator-trivy] Add FAQ for module doc
  docs/documentation/_data/sidebars/main.yml
  ee/modules/500-operator-trivy/docs/FAQ.md
  ee/modules/500-operator-trivy/docs/FAQ_RU.md
Labels: area/docs

#4642 [ci] Replace `save-state` and `set-output` workflow commands
  .github/actions/milestone-changelog/action.yml
  .github/ci_includes/actions_versions.yml
  .github/ci_templates/alerting.yaml
  .github/ci_templates/build.yml
  .github/ci_templates/e2e_tests.yml
  .github/ci_templates/steps.yml
  .github/scripts/js/README.md
  .github/scripts/js/package-lock.json
  .github/scripts/js/package.json
  .github/workflow_templates/deploy-channel.multi.yml
  .github/workflow_templates/on-pull-request-backport.yml
  .github/workflow_templates/suspend-channel.multi.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/changelog-by-milestone.yml
  .github/workflows/changelog-by-pull.yml
  .github/workflows/changelog-command.yml
  .github/workflows/cve-weekly.yml
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  .github/workflows/dispatch-slash-command.yml
  .github/workflows/e2e-abort-aws.yml
  .github/workflows/e2e-abort-azure.yml
  .github/workflows/e2e-abort-eks.yml
  .github/workflows/e2e-abort-gcp.yml
  .github/workflows/e2e-abort-openstack.yml
  .github/workflows/e2e-abort-static.yml
  .github/workflows/e2e-abort-vsphere.yml
  .github/workflows/e2e-abort-yandex-cloud.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/on-milestone-created.yml
  .github/workflows/on-pull-request-backport.yml
  .github/workflows/on-pull-request-labeled.yml
  .github/workflows/on-push-main-or-tag.yml
  .github/workflows/schedule-cleanup.yml
  .github/workflows/suspend-alpha.yml
  .github/workflows/suspend-beta.yml
  .github/workflows/suspend-early-access.yml
  .github/workflows/suspend-rock-solid.yml
  .github/workflows/suspend-stable.yml
  .github/workflows/trivy-db-schedule.yml
  .github/workflows/validation.yml
Labels: skip/e2e

#4501 [linstor] Disable auto-resync-after
  modules/041-linstor/templates/linstor-controller/linstorcontroller.yaml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.26, area/storage

#4707 [extended-monitoring] Fix enabled condition for controllers after refactoring
  modules/340-extended-monitoring/images/extended-monitoring-exporter/src/extended-monitoring.py
Labels: area/monitoring, skip/e2e

#4714 [testing] Remove bash hooks configuration tests
  testing/hooks_configuration/hooks_configuration_test.go
  testing/hooks_configuration/library.go
Labels: status/backport, edition/ce, skip/e2e

#4715 Backport: [testing] Remove bash hooks configuration tests
  testing/hooks_configuration/hooks_configuration_test.go
  testing/hooks_configuration/library.go
Labels: auto, backported

#4698 [ingress-nginx] add kruise state metrics
  modules/402-ingress-nginx/images/kruise-state-metrics/Dockerfile
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
  modules/402-ingress-nginx/templates/kruise/manager.yaml
  modules/402-ingress-nginx/templates/kruise/podmonitor.yaml
  modules/402-ingress-nginx/templates/kruise/rbac-for-us.yaml
  modules/402-ingress-nginx/templates/kruise/service.yaml
  testing/library/images_tags_generated.go
Labels: area/network, status/backport, e2e/use/k8s/1.23, e2e/use/k8s/1.25

#4717 Backport: [ingress-nginx] add kruise state metrics
  modules/402-ingress-nginx/images/kruise-state-metrics/Dockerfile
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
  modules/402-ingress-nginx/templates/kruise/manager.yaml
  modules/402-ingress-nginx/templates/kruise/podmonitor.yaml
  modules/402-ingress-nginx/templates/kruise/rbac-for-us.yaml
  modules/402-ingress-nginx/templates/kruise/service.yaml
  testing/library/images_tags_generated.go
Labels: auto, backported

#4718 Backport: [ingress-nginx] add kruise state metrics
  modules/402-ingress-nginx/images/kruise-state-metrics/Dockerfile
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
  modules/402-ingress-nginx/templates/kruise/manager.yaml
  modules/402-ingress-nginx/templates/kruise/podmonitor.yaml
  modules/402-ingress-nginx/templates/kruise/rbac-for-us.yaml
  modules/402-ingress-nginx/templates/kruise/service.yaml
  testing/library/images_tags_generated.go
Labels: auto, backported

#4688 Changelog v1.45.10
  CHANGELOG/CHANGELOG-v1.45.10.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: changelog, auto, status/backport

#4719 Backport: Changelog v1.45.10
  CHANGELOG/CHANGELOG-v1.45.10.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: auto, backported

#4727 [deckhouse] Fix docs for DeckhouseRelease
  modules/002-deckhouse/docs/README.md
  modules/002-deckhouse/docs/README_RU.md
  modules/500-upmeter/scripts/fix_server_db/__pod.sh
Labels: area/docs, skip/e2e

#4286 Changelog v1.46.0
  CHANGELOG/CHANGELOG-v1.46.0.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: changelog, auto, status/backport

#4742 [candi] Fixed old bashible deletion
  candi/bashible/common-steps/all/098_remove_old_binaries.sh.tpl
Labels: area/cluster-and-infrastructure, status/backport

#4741 [user-authz] Clarify AuthorizationRule and ClusterAuthorizationRule.
  modules/140-user-authz/crds/authorizationrule.yaml
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/140-user-authz/crds/doc-ru-authorizationrule.yaml
  modules/140-user-authz/crds/doc-ru-clusterauthorizationrule.yaml
Labels: area/docs, status/backport, skip/e2e

#4745 Backport: [user-authz] Clarify AuthorizationRule and ClusterAuthorizationRule.
  modules/140-user-authz/crds/authorizationrule.yaml
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/140-user-authz/crds/doc-ru-authorizationrule.yaml
  modules/140-user-authz/crds/doc-ru-clusterauthorizationrule.yaml
Labels: auto, backported

#4748 Backport: Changelog v1.46.1
  CHANGELOG/CHANGELOG-v1.46.1.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: auto, backported

#4750 Backport: [deckhouse] Keep manual release transition time
  modules/002-deckhouse/hooks/internal/updater/updater.go
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
Labels: auto, backported

#4734 [ingress-nginx] Add annotation for keeping helm objects
  modules/402-ingress-nginx/hooks/migrate_daemonset_and_pods.go
Labels: status/backport, skip/e2e

#4755 Backport: [ingress-nginx] Add annotation for keeping helm objects
  modules/402-ingress-nginx/hooks/migrate_daemonset_and_pods.go
Labels: auto, backported

#4756 Backport: [helm] Fix deprecated k8s resources metrics
  modules/013-helm/hooks/metrics.go
Labels: auto, backported

#4757 Backport: [helm] Fix deprecated k8s resources metrics
  modules/013-helm/hooks/metrics.go
Labels: auto, backported

#4736 [monitoring-kubernetes] Fixed thresholds-exporter path
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/go.mod
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/go.sum
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/main.go
Labels: area/monitoring, type/bug

#4754 Changelog v1.45.11
  CHANGELOG/CHANGELOG-v1.45.11.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: changelog, auto, status/backport

#4758 Backport: Changelog v1.45.11
  CHANGELOG/CHANGELOG-v1.45.11.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: auto, backported

#4752 [deckhouse] Add `prometheus.deckhouse.io/rules-watcher-enabled` on d8-system namespace
  modules/002-deckhouse/hooks/enable_extended_monitoring.go
  modules/002-deckhouse/hooks/enable_extended_monitoring_test.go
Labels: type/bug, status/backport, skip/e2e

#4760 Backport: [deckhouse] Add `prometheus.deckhouse.io/rules-watcher-enabled` on d8-system namespace
  modules/002-deckhouse/hooks/enable_extended_monitoring.go
  modules/002-deckhouse/hooks/enable_extended_monitoring_test.go
Labels: auto, backported

#4702 [docs][search] Update info about enabling a module during the D8 installing
  docs/documentation/_includes/module-bundle.liquid
  docs/documentation/_includes/module-enable-snippet.liquid
  docs/documentation/_includes/module-enable.liquid
  docs/documentation/_includes/module-settings.liquid
  docs/documentation/_includes/search.liquid
  docs/documentation/_plugins/custom_hooks.rb
  docs/documentation/search-index.json
Labels: area/docs, skip/e2e

#4767 Backport: [docs][search] Update info about enabling a module during the D8 installing
  docs/documentation/_includes/module-bundle.liquid
  docs/documentation/_includes/module-enable-snippet.liquid
  docs/documentation/_includes/module-enable.liquid
  docs/documentation/_includes/module-settings.liquid
  docs/documentation/_includes/search.liquid
  docs/documentation/_plugins/custom_hooks.rb
  docs/documentation/search-index.json
Labels: auto, backported

#4759 [node-manager] Doc updates
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, status/backport

#4769 Backport: [node-manager] Doc updates
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#4775 [docs] Minor fix
  ee/modules/110-istio/docs/EXAMPLES.md
  ee/modules/110-istio/docs/EXAMPLES_RU.md
Labels: area/docs, status/backport

#4777 Backport: [docs] Minor fix
  ee/modules/110-istio/docs/EXAMPLES.md
  ee/modules/110-istio/docs/EXAMPLES_RU.md
Labels: auto, backported

#4778 Backport: [node-manager] remove resource version from draining snapshot
  modules/040-node-manager/hooks/handle_draining.go
  modules/040-node-manager/hooks/handle_draining_test.go
Labels: auto, backported

#4771 [candi] Old binary deletion fixes
  candi/bashible/bashible.sh.tpl
  candi/bashible/common-steps/all/098_remove_old_binaries.sh.tpl
  candi/bashible/common-steps/node-group/000_migrate_containerd_to_cgroupfs.sh.tpl
Labels: type/bug, area/cluster-and-infrastructure, status/backport

#4780 Backport: [candi] Old binary deletion fixes
  candi/bashible/bashible.sh.tpl
  candi/bashible/common-steps/all/098_remove_old_binaries.sh.tpl
  candi/bashible/common-steps/node-group/000_migrate_containerd_to_cgroupfs.sh.tpl
Labels: auto, backported

#4781 Backport: [monitoring-kubernetes] Fixed thresholds-exporter path
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/go.mod
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/go.sum
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/main.go
Labels: auto, backported

#4749 Changelog v1.46.2
  CHANGELOG/CHANGELOG-v1.46.2.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: changelog, auto, status/backport

#4785 [docs] Fix search index
  docs/documentation/search-index.json
Labels: area/docs

#4786 Backport: [docs] Fix search index
  docs/documentation/search-index.json
Labels: auto, backported

#4787 Backport: [docs] Fix search index
  docs/documentation/search-index.json
Labels: auto, backported

#4790 Backport: [snapshot-controller] Added a list of csi drivers that support snapshots to the documentation
  modules/045-snapshot-controller/docs/README.md
  modules/045-snapshot-controller/docs/README_RU.md
Labels: auto, backported

#3999 [operator-trivy] Changed trivy-db path to streamline registry path references
  .github/workflow_templates/trivy-db-schedule.yml
  .github/workflows/trivy-db-schedule.yml
  ee/modules/500-operator-trivy/templates/configmap.yaml
  tools/release/d8-pull.sh
Labels: type/bug, source/external-client, area/compliance

#4791 Backport: [operator-trivy] Changed trivy-db path to streamline registry path references
  .github/workflow_templates/trivy-db-schedule.yml
  .github/workflows/trivy-db-schedule.yml
  ee/modules/500-operator-trivy/templates/configmap.yaml
  tools/release/d8-pull.sh
Labels: auto, backported

#4725 [candi] Update kubernetes patch versions
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.26, type/chore

#4789 Changelog v1.46.3
  CHANGELOG/CHANGELOG-v1.46.3.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: changelog, auto, status/backport

#4802 Backport: Changelog v1.46.3
  CHANGELOG/CHANGELOG-v1.46.3.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: auto, backported

#4806 [docs] Add note about prometheus.deckhouse.io/port annotation value
  modules/340-monitoring-custom/docs/README.md
  modules/340-monitoring-custom/docs/README_RU.md
Labels: area/docs, skip/e2e

#4779 [cni-cilium] Added severity_levels for alerts
  modules/021-cni-cilium/monitoring/prometheus-rules/agent.yaml
Labels: area/network, type/bug

#4818 Backport: [ingress-nginx] Fix kube-rbac-proxy resources indentation
  modules/402-ingress-nginx/templates/kruise/manager.yaml
Labels: auto, backported

#4819 Backport: [linstor] Support Debian 11
  modules/041-linstor/images/drbd-driver-loader/Dockerfile
  modules/041-linstor/images/piraeus-operator/patches/README.md
  modules/041-linstor/images/piraeus-operator/patches/linux-kbuild.patch
Labels: auto, backported

#4726 [linstor] fix kernel-headers cleanup script
  modules/041-linstor/templates/nodegroupconfiguration-install-kernel-headers.yaml
Labels: status/backport

#4820 Backport: [linstor] fix kernel-headers cleanup script
  modules/041-linstor/templates/nodegroupconfiguration-install-kernel-headers.yaml
Labels: auto, backported
