Repository deckhouse/deckhouse, pull requests merged in 2023-01, with the labels that each got.

#3474 [docs][gs][kind] Add note about using d8 with kind on Windows
  docs/site/_includes/getting_started/kind/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/kind/STEP_INSTALL_SCHEMA_RU.md
Labels: area/docs

#3478 [docs] Add module status label in the comparison table
  docs/documentation/_includes/revision_comparison_detail_table.liquid
  docs/documentation/_plugins/custom_hooks.rb
  docs/site/css/docs.scss
Labels: area/docs, skip/e2e

#3483 [docs] Fix module status label in the comparison table
  docs/documentation/_includes/revision_comparison_detail_table.liquid
  docs/site/css/docs.scss
Labels: area/docs, skip/e2e

#3485 Backport: [docs] Fix module status label in the comparison table
  docs/documentation/_includes/revision_comparison_detail_table.liquid
  docs/site/css/docs.scss
Labels: auto, backported

#3486 [docs] Fix typo
  modules/101-cert-manager/docs/USAGE_RU.md
Labels: area/docs, skip/e2e

#3492 Backport: [global] fixes in cluster configuration migration process and proxy template for EKS cluster installation
  global-hooks/migrate/migrate_cluster_configuration.go
  global-hooks/migrate/migrate_cluster_configuration_test.go
  helm_lib/templates/_envs_for_proxy.tpl
Labels: auto, backported

#3468 [site] Update content on site
  docs/site/_data/footer.yaml
  docs/site/_data/topnav.yml
  docs/site/_includes/footer.html
  docs/site/_includes/header.html
  docs/site/css/components/_footer.scss
  docs/site/css/components/_header.scss
  docs/site/css/components/_product-intro.scss
  docs/site/css/submenu.css
  docs/site/images/icons/features/sla.svg
  docs/site/pages/deckhouse_vs_kaas_ru.html
  docs/site/pages/how_to_buy_ru.html
  docs/site/pages/index_ru.html
  docs/site/pages/license_ru.html
  docs/site/pages/license_rules_ru.html
  docs/site/pages/moving_to_deckhouse_ru.html
  docs/site/pages/policies/security_policy_ru.html
  docs/site/pages/substitution_ru.html
Labels: area/docs, skip/e2e

#3487 [docs] Fixed typo in the "Example for Bare metal" page
  modules/402-ingress-nginx/docs/EXAMPLES_RU.md
Labels: area/docs

#3491 Changelog v1.42.4
  CHANGELOG/CHANGELOG-v1.42.4.yml
  CHANGELOG/CHANGELOG-v1.42.md
Labels: changelog, auto, status/backport

#3494 Backport: Changelog v1.42.4
  CHANGELOG/CHANGELOG-v1.42.4.yml
  CHANGELOG/CHANGELOG-v1.42.md
Labels: auto, backported

#3428 [node-local-dns] Switch to "verified" mode
  ee/modules/350-node-local-dns/templates/configmap.yaml
Labels: area/kubernetes, type/bug, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3496 [docs][prometheus][extended-monitoring] Fix content
  modules/300-prometheus/docs/README.md
  modules/300-prometheus/docs/README_RU.md
  modules/340-extended-monitoring/docs/README.md
  modules/340-extended-monitoring/docs/README_RU.md
Labels: area/docs, skip/e2e

#3498 Backport: [docs][prometheus][extended-monitoring] Fix content
  modules/300-prometheus/docs/README.md
  modules/300-prometheus/docs/README_RU.md
  modules/340-extended-monitoring/docs/README.md
  modules/340-extended-monitoring/docs/README_RU.md
Labels: auto, backported

#3506 [docs][node-manager] Clarify adding a static node
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, status/backport, skip/e2e

#3508 Backport: [docs][node-manager] Clarify adding a static node
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#3509 Backport: [docs][node-manager] Clarify adding a static node
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#3511 [node-local-dns] Fixed serve_stale syntax
  ee/modules/350-node-local-dns/templates/configmap.yaml
Labels: area/kubernetes, type/bug, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3489 [upmeter] Fixing D8UpmeterProbeGarbageNamespaces alert
  modules/500-upmeter/monitoring/prometheus-rules/alerting.yaml
Labels: type/bug

#3514 [docs][getting-started] Add note about working through proxy.
  docs/site/_data/getting_started/data.yaml
  docs/site/_includes/getting_started/global/partials/NOTICES.liquid
Labels: area/docs, skip/e2e

#3516 [testing] Skip OSS linter for the deckhouse-config module
  modules/003-deckhouse-config/oss.yaml
  testing/matrix/linter/rules/modules/oss.go
Labels: area/testing, status/backport, skip/e2e

#3517 Backport: [testing] Skip OSS linter for the deckhouse-config module
  modules/003-deckhouse-config/oss.yaml
  testing/matrix/linter/rules/modules/oss.go
Labels: auto, backported

#3520 [docs][candi] Update ClusterConfiguration OpenAPI schema
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
Labels: area/docs, status/backport, skip/e2e

#3521 Backport: [docs][candi] Update ClusterConfiguration OpenAPI schema
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#3358 [registrypackages] Allowing RPM downgrades for any distro
  ee/modules/007-registrypackages/images/containerd-alteros/scripts/install
  ee/modules/007-registrypackages/images/containerd-redos/scripts/install
  ee/modules/007-registrypackages/images/docker-alteros/scripts/install
  ee/modules/007-registrypackages/images/docker-redos/scripts/install
  ee/modules/007-registrypackages/images/kubeadm-alteros/scripts/install
  ee/modules/007-registrypackages/images/kubeadm-redos/scripts/install
  ee/modules/007-registrypackages/images/kubectl-alteros/scripts/install
  ee/modules/007-registrypackages/images/kubectl-redos/scripts/install
  ee/modules/007-registrypackages/images/kubelet-alteros/scripts/install
  ee/modules/007-registrypackages/images/kubelet-redos/scripts/install
  ee/modules/007-registrypackages/images/kubernetes-cni-alteros/scripts/install
  ee/modules/007-registrypackages/images/kubernetes-cni-redos/scripts/install
Labels: type/bug

#3527 [docs] Minor updates of the site
  docs/site/pages/policies/cookie_policy.html
  docs/site/pages/policies/privacy_policy.html
  docs/site/pages/policies/terms_of_service.html
Labels: area/docs

#3519 [prometheus] Fix trickster authentication
  modules/300-prometheus/templates/trickster/configmap.yaml
Labels: area/monitoring, e2e/use/cri/containerd, status/backport, e2e/use/k8s/1.23

#3528 Backport: [prometheus] Fix trickster authentication
  modules/300-prometheus/templates/trickster/configmap.yaml
Labels: auto, backported

#3510 [prometheus] Fix remoteWrite tlsConfig render
  modules/300-prometheus/template_tests/prometheus_cr_test.go
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring, type/bug, e2e/use/cri/containerd, e2e/use/k8s/1.23, source/internal-client

#3529 Backport: [prometheus] Fix remoteWrite tlsConfig render
  modules/300-prometheus/template_tests/prometheus_cr_test.go
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: auto, backported

#3522 [ci] Allow to exec slash command for collaborator instead contributor
  .github/workflow_templates/dispatch-slash-command.yml
  .github/workflows/dispatch-slash-command.yml
Labels: skip/e2e

#3530 [cni-cilium] add flowschema to queue list requests from agent pods
  modules/021-cni-cilium/templates/agent/flowschema.yaml
Labels: area/network, area/cluster-and-infrastructure, skip/e2e

#3526 [candi] noProxy clarification
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
Labels: area/docs, area/cluster-and-infrastructure, source/internal-client

#3425 [cert-manager] remove annotations converter
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/101-cert-manager/hooks/annotations_migration.go
  modules/101-cert-manager/hooks/annotations_migration_test.go
  modules/101-cert-manager/hooks/generate_webhook_certs.go
  modules/101-cert-manager/hooks/generate_webhook_certs_test.go
  modules/101-cert-manager/images/annotations-converter/Dockerfile
  modules/101-cert-manager/images/annotations-converter/go.mod
  modules/101-cert-manager/images/annotations-converter/go.sum
  modules/101-cert-manager/images/annotations-converter/main.go
  modules/101-cert-manager/templates/annotations-converter/configmap.yaml
  modules/101-cert-manager/templates/annotations-converter/deployment.yaml
  modules/101-cert-manager/templates/annotations-converter/mutatingwebhookconfiguration.yaml
  modules/101-cert-manager/templates/annotations-converter/pdb.yaml
  modules/101-cert-manager/templates/annotations-converter/rbac-for-us.yaml
  modules/101-cert-manager/templates/annotations-converter/service.yaml
  testing/library/images_tags_generated.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#3503 [registrypackages] Install flannel 0.8.7 binary to CentOS due to flannel binary missing in kubernetes-cni 1.1.1
  modules/007-registrypackages/images/kubernetes-cni-centos/scripts/install
  modules/007-registrypackages/images/kubernetes-cni-centos/scripts/uninstall
  modules/007-registrypackages/images/kubernetes-cni-centos/werf.inc.yaml
Labels: area/network, type/bug, area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3534 Backport: [registrypackages] Install flannel 0.8.7 binary to CentOS due to flannel binary missing in kubernetes-cni 1.1.1
  modules/007-registrypackages/images/kubernetes-cni-centos/scripts/install
  modules/007-registrypackages/images/kubernetes-cni-centos/scripts/uninstall
  modules/007-registrypackages/images/kubernetes-cni-centos/werf.inc.yaml
Labels: auto, backported

#3535 Backport: [candi] noProxy clarification
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#3536 [docs] Show deprecated status in the `deprecated` option is set
  docs/documentation/_plugins/openapi.rb
Labels: area/docs, status/backport, skip/e2e

#3537 Backport: [docs] Show deprecated status in the `deprecated` option is set
  docs/documentation/_plugins/openapi.rb
Labels: auto, backported

#3540 [docs] Minor fixes
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
Labels: area/docs, status/backport, skip/e2e

#3541 Backport: [docs] Minor fixes
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
Labels: auto, backported

#3542 Backport: [docs] Minor fixes
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
Labels: auto, backported

#3410 [monitoring-kubernetes] Attempt to fix oom_kills:normalized for cgroupfs driver
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/ebpf-exporter.yaml
Labels: area/monitoring, skip/e2e

#3476 Grafana: Redis dashboard improvements
  ee/fe/modules/340-monitoring-applications/applications/redis/grafana-dashboards/redis.json
Labels: status/ok-to-test

#3501 [user-authn] OIDC insecure userInfo endpoint
  modules/150-user-authn/images/dex/patches/oidc-ca-insecure.patch
Labels: area/auth, source/external-client

#3406 [site] Fix small typos in docs and site info
  docs/documentation/pages/DECKHOUSE-OVERVIEW_RU.md
  docs/documentation/pages/KUBERNETES_RU.md
  modules/300-prometheus/crds/doc-ru-prometheusremotewrite.yaml
Labels: area/docs, skip/documentation-validation, status/ok-to-test, status/backport, source/external-client, skip/e2e

#3553 Backport: [site] Fix small typos in docs and site info
  docs/documentation/pages/DECKHOUSE-OVERVIEW_RU.md
  docs/documentation/pages/KUBERNETES_RU.md
  modules/300-prometheus/crds/doc-ru-prometheusremotewrite.yaml
Labels: auto, backported

#3513 [docs] Paying attention on multi-master quorum
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, status/backport, skip/e2e

#3556 [ci] Update Makefile
  Makefile
  docs/site/Makefile
Labels: skip/e2e, area/cicd

#3420 [admission-policy-engine] bump version
  modules/015-admission-policy-engine/crds/native/assign-customresourcedefinition.yaml
  modules/015-admission-policy-engine/crds/native/assignmetadata-customresourcedefinition.yaml
  modules/015-admission-policy-engine/crds/native/expansiontemplate-customresourcedefinition.yaml
  modules/015-admission-policy-engine/crds/native/modifyset-customresourcedefinition.yaml
  modules/015-admission-policy-engine/images/gatekeeper/Dockerfile
  modules/015-admission-policy-engine/templates/README.md
Labels: skip/documentation-validation, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3558 [ci] Bump rubygems and other dependencies
  docs/documentation/Gemfile.lock
  docs/documentation/werf.yaml
  docs/site/Gemfile.lock
  docs/site/werf.yaml
  modules/810-deckhouse-web/images/web/werf.inc.yaml
Labels: type/dependencies, skip/e2e, area/cicd

#3533 [docs] Add instruction about how to switch Deckhouse revision
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport, skip/e2e

#3560 Backport: [docs] Add instruction about how to switch Deckhouse revision
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#3561 Backport: [docs] Add instruction about how to switch Deckhouse revision
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#3504 [candi] added force libseccomp2 installation while containerd install/update
  candi/bashible/bashbooster/20_event.sh
  candi/bashible/bundles/debian/node-group/031_install_containerd.sh.tpl
  candi/bashible/bundles/ubuntu-lts/node-group/031_install_containerd.sh.tpl
Labels: status/backport, e2e/use/k8s/1.23, skip/e2e

#3562 Backport: [candi] added force libseccomp2 installation while containerd install/update
  candi/bashible/bashbooster/20_event.sh
  candi/bashible/bundles/debian/node-group/031_install_containerd.sh.tpl
  candi/bashible/bundles/ubuntu-lts/node-group/031_install_containerd.sh.tpl
Labels: auto, backported

#3563 Backport: [user-authn] OIDC insecure userInfo endpoint
  modules/150-user-authn/images/dex/patches/oidc-ca-insecure.patch
Labels: auto, backported

#3507 Changelog v1.42.5
  CHANGELOG/CHANGELOG-v1.42.5.yml
  CHANGELOG/CHANGELOG-v1.42.md
Labels: changelog, auto, status/backport

#3564 Backport: Changelog v1.42.5
  CHANGELOG/CHANGELOG-v1.42.5.yml
  CHANGELOG/CHANGELOG-v1.42.md
Labels: auto, backported

#3093 [flant-integration] Add metrics with raw node counters
  .gitignore
  ee/modules/600-flant-integration/images/flant-pricing/Dockerfile
  ee/modules/600-flant-integration/images/flant-pricing/Makefile
  ee/modules/600-flant-integration/images/flant-pricing/README.md
  ee/modules/600-flant-integration/images/flant-pricing/hooks/node_metrics.py
  ee/modules/600-flant-integration/images/flant-pricing/hooks/node_metrics.sh
  ee/modules/600-flant-integration/images/flant-pricing/hooks/node_metrics.yaml
  ee/modules/600-flant-integration/images/flant-pricing/hooks/node_metrics_test.py
  ee/modules/600-flant-integration/images/flant-pricing/requirements.dev.txt
  ee/modules/600-flant-integration/images/flant-pricing/requirements.txt
Labels: source/deckhouse-team

#3552 [site] Update the labels of EE modules
  docs/documentation/_data/sidebars/main.yml
  docs/site/_config.yml
  docs/site/css/docs.scss
Labels: area/docs, status/backport, skip/e2e

#3571 Backport: [site] Update the labels of EE modules
  docs/documentation/_data/sidebars/main.yml
  docs/site/_config.yml
  docs/site/css/docs.scss
Labels: auto, backported

#3538 [control-plane-manager] Make auth webhook CA optional
  modules/040-control-plane-manager/templates/_authn_webhook_config.tpl
  modules/040-control-plane-manager/templates/daemonset.yaml
Labels: area/auth, skip/e2e

#3539 [site] Added pci ssc block on main and security pages
  docs/site/_data/modal.yml
  docs/site/_includes/get_a_report_form.html
  docs/site/_layouts/default.html
  docs/site/images/icons/features/shield-pci.svg
  docs/site/js/popup-form.js
  docs/site/pages/SECURITY.md
  docs/site/pages/SECURITY_RU.md
  docs/site/pages/index.html
  docs/site/pages/index_ru.html
  docs/site/text_files/Deckhouse_PCI_SSC_requirements.pdf
  docs/site/text_files/Deckhouse_PCI_SSC_requirements_ru.pdf
Labels: area/docs, skip/e2e

#3576 [doc] added note about StaticClusterConfiguration
  candi/docs/README.md
  docs/site/_includes/getting_started/bm-private/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ee.inc
Labels: area/docs, skip/e2e

#3578 [ci] Use jekyll 3.9.1
  docs/documentation/Gemfile.lock
  docs/site/Gemfile.lock
Labels: area/cicd

#3566 [log-shipper] Add indexes fields for Splunk destination
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
  modules/460-log-shipper/hooks/internal/vector/destination/splunk.go
  modules/460-log-shipper/hooks/testdata/file-to-splunk/manifests.yaml
  modules/460-log-shipper/hooks/testdata/file-to-splunk/result.json
Labels: source/external-client

#3581 Backport: [docs][prometheus-pushgateway] Documentation updates
  modules/303-prometheus-pushgateway/docs/README.md
  modules/303-prometheus-pushgateway/docs/README_RU.md
Labels: auto, backported

#3579 [istio][fix] switching default iptables in proxyv2 to iptables-legacy
  ee/modules/110-istio/images/proxyv2-v1x12x6/Dockerfile
  ee/modules/110-istio/images/proxyv2-v1x13x7/Dockerfile
Labels: type/bug

#3557 [prometheus] Trickster sample limit changed to 1500
  modules/300-prometheus/templates/trickster/servicemonitor.yaml
Labels: area/monitoring

#3574 [helm-lib] added support of module registry settings
  helm_lib/templates/_module_image.tpl
Labels: area/cluster-and-infrastructure

#3570 Changelog v1.42.6
  CHANGELOG/CHANGELOG-v1.42.6.yml
  CHANGELOG/CHANGELOG-v1.42.md
Labels: changelog, auto, status/backport

#3585 Backport: Changelog v1.42.6
  CHANGELOG/CHANGELOG-v1.42.6.yml
  CHANGELOG/CHANGELOG-v1.42.md
Labels: auto, backported

#3586 Backport: [istio][fix] switching default iptables in proxyv2 to iptables-legacy
  ee/modules/110-istio/images/proxyv2-v1x12x6/Dockerfile
  ee/modules/110-istio/images/proxyv2-v1x13x7/Dockerfile
Labels: auto, backported

#3582 [log-shipper] Add type field for telemetry metrics
  modules/460-log-shipper/hooks/internal/composer/composer.go
Labels: area/logs

#3575 [cloud-provier-yandex] Lock route table operations
  candi/version_map.yml
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.21/001-lock-route-table-operations.patch
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.21/README.md
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.22/001-lock-route-table-operations.patch
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.22/README.md
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.23/001-lock-route-table-operations.patch
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.23/README.md
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.24/001-lock-route-table-operations.patch
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.24/README.md
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/werf.inc.yaml
Labels: area/cloud-provider, type/bug, e2e/use/cri/containerd, e2e/use/k8s/1.21, e2e/use/k8s/1.22, status/backport, e2e/use/k8s/1.23, e2e/use/k8s/1.24

#3429 [node-manager] Quick Machine drain
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
  modules/040-node-manager/hooks/internal/v1/nodegroup.go
  modules/040-node-manager/hooks/internal/v1/nodegroup_generated.deepcopy.go
  modules/040-node-manager/templates/node-group/_machine_deployment.tpl
Labels: type/enhancement, area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3588 [docs] Update PCI SSC files
  docs/site/text_files/Deckhouse_PCI_SSC_requirements.pdf
  docs/site/text_files/Deckhouse_PCI_SSC_requirements_ru.pdf
Labels: area/docs, skip/e2e

#3532 [dhctl] Add comment about returning errors during converge
  dhctl/pkg/kubernetes/actions/converge/converge.go
Labels: skip/e2e

#3554 [chrony] Adding a dot to the end of each NTP server address to avoid resolve problems. Allowing correction of large time difference
  modules/470-chrony/docs/CONFIGURATION.md
  modules/470-chrony/docs/CONFIGURATION_RU.md
  modules/470-chrony/images/chrony/start.sh
  modules/470-chrony/template_tests/module_test.go
  modules/470-chrony/templates/daemonset.yaml
Labels: skip/e2e

#3597 [build] fix containerd centos build
  modules/007-registrypackages/images/containerd-centos/werf.inc.yaml
Labels: area/artefacts

#3294 [linstor] tolerate drbd problems
  helm_lib/templates/_node_affinity.tpl
  modules/041-linstor/templates/linstor-affinity-controller/deployment.yaml
  modules/041-linstor/templates/linstor-controller/linstorcontroller.yaml
  modules/041-linstor/templates/linstor-csi/linstorcsidriver.yaml
  modules/041-linstor/templates/linstor-scheduler/deployment.yaml
  modules/041-linstor/templates/piraeus-operator/deployment.yaml
  modules/041-linstor/templates/spaas/deployment.yaml
Labels: type/bug, status/backport

#3351 Create bashible failure events in the default namespace
  candi/bashible/bashible.sh.tpl
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21

#2933 [dhctl] Add version in dhctl image
  dhctl/cmd/dhctl/main.go
  dhctl/pkg/app/app.go
  werf.yaml
Labels: status/ok-to-test, skip/e2e

#3602 [linstor] add troubleshooting cheatsheet
  docs/documentation/images/041-linstor/linstor-debug-cheatsheet.svg
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
Labels: area/docs

#3608 Backport: [linstor] add troubleshooting cheatsheet
  docs/documentation/images/041-linstor/linstor-debug-cheatsheet.svg
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
Labels: auto, backported

#3461 [linstor] Update docs
  modules/041-linstor/docs/ADVANCED_USAGE.md
  modules/041-linstor/docs/ADVANCED_USAGE_RU.md
  modules/041-linstor/docs/CONFIGURATION.md
  modules/041-linstor/docs/CONFIGURATION_RU.md
  modules/041-linstor/docs/USAGE.md
  modules/041-linstor/docs/USAGE_RU.md
Labels: area/docs, status/backport

#3609 Backport: [linstor] Update docs
  modules/041-linstor/docs/ADVANCED_USAGE.md
  modules/041-linstor/docs/ADVANCED_USAGE_RU.md
  modules/041-linstor/docs/CONFIGURATION.md
  modules/041-linstor/docs/CONFIGURATION_RU.md
  modules/041-linstor/docs/USAGE.md
  modules/041-linstor/docs/USAGE_RU.md
Labels: auto, backported

#3499 [deckhouse] one source of truth for deckhouse registry (stage #2)
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  go_lib/dependency/cr/cr.go
  modules/002-deckhouse/hooks/check_deckhouse_release.go
  modules/002-deckhouse/hooks/images_copier.go
  modules/002-deckhouse/hooks/images_copier_test.go
  modules/002-deckhouse/hooks/set_module_image_value.go
  modules/002-deckhouse/hooks/set_module_image_value_test.go
  modules/002-deckhouse/hooks/update_deckhouse_image.go
  modules/002-deckhouse/templates/deployment.yaml
  modules/500-okmeter/hooks/update_agent_image.go
  tools/change-registry.sh
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#3524 [docs][getting started] Update guide for installing in a private environment
  docs/site/_includes/getting_started/bm-private/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm-private/partials/ingress-nginx-controller.yml.inc
  docs/site/_includes/getting_started/bm-private/partials/user.yml.inc
  docs/site/_includes/getting_started/global/partials/NOTICES.liquid
  docs/site/_includes/getting_started/global/partials/getting-started-setup.js.liquid
  docs/site/_includes/getting_started/global/partials/select_revision.html.liquid
  docs/site/_includes/getting_started/global/step_cluster_setup.html
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
  docs/site/js/getting-started-private.js
Labels: area/docs, status/backport, skip/e2e

#3573 [cni-cilium] add labels config value
  modules/021-cni-cilium/openapi/config-values.yaml
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
  modules/021-cni-cilium/openapi/openapi-case-tests.yaml
  modules/021-cni-cilium/templates/configmap.yaml
Labels: area/network, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3613 [docs] Technical support regulations updates
  docs/site/pages/regulations_ru.html
Labels: area/docs, skip/e2e

#3612 [deckhouse-config] fix: Support integer number for settings constrained with the float number in multipleOf
  global-hooks/deckhouse-config/startup_sync.go
  go_lib/deckhouse-config/config_map_section.go
  go_lib/deckhouse-config/conversion/chain.go
  go_lib/deckhouse-config/conversion/chain_test.go
  go_lib/deckhouse-config/initial_config_loader.go
  go_lib/deckhouse-config/initial_config_loader_test.go
  go_lib/deckhouse-config/validator.go
  modules/003-deckhouse-config/hooks/sync_configmap.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#3616 [prometheus] Fix typo in metrics name for PrometheusLongtermRotatingEarlierThanConfiguredRetentionDays
  modules/300-prometheus/monitoring/prometheus-rules/prometheus-storage.yaml
Labels: type/bug, type/chore

#3590 [helm] change intervals and batch size
  modules/013-helm/hooks/metrics.go
  modules/013-helm/hooks/metrics_test.go
  modules/013-helm/monitoring/prometheus-rules/deprecated-versions.yaml
Labels: skip/e2e

#3617 [virtualization] Documentation and OpenAPI specs updates
  modules/490-virtualization/Makefile
  modules/490-virtualization/crds/clustervirtualmachineimages.yaml
  modules/490-virtualization/crds/doc-ru-clustervirtualmachineimages.yaml
  modules/490-virtualization/crds/doc-ru-deckhouse.io_clustervirtualmachineimages.yaml
  modules/490-virtualization/crds/doc-ru-virtualmachinedisks.yaml
  modules/490-virtualization/crds/doc-ru-virtualmachineipaddressclaims.yaml
  modules/490-virtualization/crds/doc-ru-virtualmachineipaddressleases.yaml
  modules/490-virtualization/crds/doc-ru-virtualmachines.yaml
  modules/490-virtualization/crds/virtualmachinedisks.yaml
  modules/490-virtualization/crds/virtualmachineipaddressclaims.yaml
  modules/490-virtualization/crds/virtualmachineipaddressleases.yaml
  modules/490-virtualization/crds/virtualmachines.yaml
  modules/490-virtualization/docs/CONFIGURATION.md
  modules/490-virtualization/docs/CONFIGURATION_RU.md
  modules/490-virtualization/docs/EXAMPLES.md
  modules/490-virtualization/docs/EXAMPLES_RU.md
  modules/490-virtualization/docs/FAQ.md
  modules/490-virtualization/docs/FAQ_RU.md
  modules/490-virtualization/hack/gen-crd.sh
  modules/490-virtualization/hack/gen-ru-crd.sh
  modules/490-virtualization/hooks/internal/v1alpha1/clustervirtualmachineimage_types.go
  modules/490-virtualization/hooks/internal/v1alpha1/virtualmachine_types.go
  modules/490-virtualization/hooks/internal/v1alpha1/virtualmachinedisk_types.go
  modules/490-virtualization/hooks/internal/v1alpha1/virtualmachineipaddressclaim_types.go
  modules/490-virtualization/hooks/internal/v1alpha1/virtualmachineipaddresslease_types.go
  modules/490-virtualization/openapi/config-values.yaml
  modules/490-virtualization/openapi/doc-ru-config-values.yaml
Labels: area/docs, skip/e2e

#3399 [deckhouse]: Add auth to update notification
  modules/002-deckhouse/hooks/internal/updater/notification.go
  modules/002-deckhouse/hooks/internal/updater/updater.go
  modules/002-deckhouse/hooks/update_deckhouse_image.go
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
  modules/002-deckhouse/openapi/config-values.yaml
  modules/002-deckhouse/openapi/doc-ru-config-values.yaml
  modules/002-deckhouse/openapi/openapi-case-tests.yaml
Labels: area/auth, skip/e2e

#3630 [virtualization][snapshot-controller] Minor fixes
  modules/045-snapshot-controller/enabled
  modules/490-virtualization/crds/clustervirtualmachineimages.yaml
  modules/490-virtualization/crds/virtualmachinedisks.yaml
  modules/490-virtualization/crds/virtualmachineipaddressclaims.yaml
  modules/490-virtualization/crds/virtualmachineipaddressleases.yaml
  modules/490-virtualization/crds/virtualmachines.yaml
  modules/490-virtualization/hack/gen-crd.sh
  modules/490-virtualization/hooks/disk_handler.go
  modules/490-virtualization/hooks/disk_handler_test.go
  modules/490-virtualization/templates/clustervirtualmachineimages/ubuntu.yaml
  modules/491-containerized-data-importer/enabled
  modules/values-default.yaml
  modules/values-managed.yaml
Labels: skip/no-cyrillic-validation, area/virtualization

#3598 [docs] Use the full parameter path in OpenAPI spec
  docs/documentation/_plugins/openapi.rb
  docs/site/css/components/_resources.scss
Labels: area/docs, status/backport, skip/e2e

#3640 Backport: [docs] Use the full parameter path in OpenAPI spec
  docs/documentation/_plugins/openapi.rb
  docs/site/css/components/_resources.scss
Labels: auto, backported

#3618 [secret-copier] Add annotations with timestamp
  modules/600-secret-copier/hooks/handler.go
Labels: skip/e2e

#3615 [linstor] Collect general statistics
  modules/041-linstor/hooks/metrics.go
  modules/041-linstor/hooks/metrics_test.go
Labels: skip/e2e

#3641 Fix some typos
  modules/041-linstor/docs/FAQ_RU.md
Labels: area/docs, skip/documentation-validation, skip/e2e

#3611 [linstor] Update docs
  modules/041-linstor/docs/USAGE.md
Labels: area/docs, status/backport

#3642 Backport: [linstor] Update docs
  modules/041-linstor/docs/USAGE.md
Labels: auto, backported

#3628 [bashible] fix bb-event-error-create
  candi/bashible/bashible.sh.tpl
  candi/bashible/common-steps/node-group/050_configure_and_start_containerd.sh.tpl
  modules/040-node-manager/templates/bashible/rbac-for-us.yaml
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.23

#3639 [cni-cilium] Removed useless alert
  modules/021-cni-cilium/monitoring/prometheus-rules/agent.yaml
Labels: area/monitoring, type/bug, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3620 [node-local-dns] add labels to fix cilium connectivity tests
  ee/modules/350-node-local-dns/templates/daemonset.yaml
Labels: skip/e2e

#3605 [log-shipper] Vector 0.27.0
  modules/460-log-shipper/hooks/testdata/__default-config.json
  modules/460-log-shipper/hooks/testdata/es-5x/manifests.yaml
  modules/460-log-shipper/hooks/testdata/es-5x/result.json
  modules/460-log-shipper/hooks/testdata/multiline/manifests.yaml
  modules/460-log-shipper/hooks/testdata/multiline/result.json
  modules/460-log-shipper/hooks/testdata/multiple-dest/manifests.yaml
  modules/460-log-shipper/hooks/testdata/multiple-dest/result.json
  modules/460-log-shipper/hooks/testdata/pair-datastream/manifests.yaml
  modules/460-log-shipper/hooks/testdata/pair-datastream/result.json
  modules/460-log-shipper/hooks/testdata/simple-pair/manifests.yaml
  modules/460-log-shipper/hooks/testdata/simple-pair/result.json
  modules/460-log-shipper/hooks/validate_test.go
  modules/460-log-shipper/images/vector/Dockerfile
  modules/460-log-shipper/images/vector/patches/README.md
  modules/460-log-shipper/images/vector/patches/kafka-pem-tls.patch
  modules/460-log-shipper/templates/configmap.yaml
Labels: area/logs

#3647 [bashible] refactor start_kubelet step
  candi/bashible/common-steps/all/091_set_virtualization_type.sh.tpl
  candi/bashible/common-steps/node-group/069_start_kubelet.sh.tpl
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.23

#3664 [virtualization] Handle labels, annotations, nodeSelector and tolerations
  modules/490-virtualization/crds/doc-ru-virtualmachines.yaml
  modules/490-virtualization/crds/virtualmachines.yaml
  modules/490-virtualization/hooks/internal/v1alpha1/virtualmachine_types.go
  modules/490-virtualization/hooks/internal/v1alpha1/zz_generated.deepcopy.go
  modules/490-virtualization/hooks/vm_handler.go
  modules/490-virtualization/hooks/vm_handler_test.go
Labels: status/backport

#3667 Backport: [virtualization] Handle labels, annotations, nodeSelector and tolerations
  modules/490-virtualization/crds/doc-ru-virtualmachines.yaml
  modules/490-virtualization/crds/virtualmachines.yaml
  modules/490-virtualization/hooks/internal/v1alpha1/virtualmachine_types.go
  modules/490-virtualization/hooks/internal/v1alpha1/zz_generated.deepcopy.go
  modules/490-virtualization/hooks/vm_handler.go
  modules/490-virtualization/hooks/vm_handler_test.go
Labels: auto, backported

#3666 [doc] Minor updates
  candi/openapi/doc-ru-node_group.yaml
  docs/site/_includes/getting_started/global/partials/INSTALL_CONFIG_RU.liquid
Labels: area/docs, skip/documentation-validation, status/backport, skip/e2e

#3668 Backport: [doc] Minor updates
  candi/openapi/doc-ru-node_group.yaml
  docs/site/_includes/getting_started/global/partials/INSTALL_CONFIG_RU.liquid
Labels: auto, backported

#3658 [linstor] bump version v1.20.3
  modules/041-linstor/images/drbd-driver-loader/Dockerfile
  modules/041-linstor/images/drbd-reactor/Dockerfile
  modules/041-linstor/images/linstor-affinity-controller/Dockerfile
  modules/041-linstor/images/linstor-csi/Dockerfile
  modules/041-linstor/images/linstor-pools-importer/Dockerfile
  modules/041-linstor/images/linstor-scheduler-admission/Dockerfile
  modules/041-linstor/images/linstor-scheduler-extender/Dockerfile
  modules/041-linstor/images/linstor-server/Dockerfile
  modules/041-linstor/images/piraeus-ha-controller/Dockerfile
  modules/041-linstor/images/piraeus-operator/Dockerfile
  modules/041-linstor/images/spaas/Dockerfile
Labels: area/storage

#3669 Backport: [linstor] bump version v1.20.3
  modules/041-linstor/images/drbd-driver-loader/Dockerfile
  modules/041-linstor/images/drbd-reactor/Dockerfile
  modules/041-linstor/images/linstor-affinity-controller/Dockerfile
  modules/041-linstor/images/linstor-csi/Dockerfile
  modules/041-linstor/images/linstor-pools-importer/Dockerfile
  modules/041-linstor/images/linstor-scheduler-admission/Dockerfile
  modules/041-linstor/images/linstor-scheduler-extender/Dockerfile
  modules/041-linstor/images/linstor-server/Dockerfile
  modules/041-linstor/images/piraeus-ha-controller/Dockerfile
  modules/041-linstor/images/piraeus-operator/Dockerfile
  modules/041-linstor/images/spaas/Dockerfile
Labels: auto, backported

#3661 [linstor] fix rollingUpdate with two system nodes
  modules/041-linstor/crds/piraeus.linbit.com_linstorcsidrivers.yaml
  modules/041-linstor/images/piraeus-operator/patches/README.md
  modules/041-linstor/images/piraeus-operator/patches/csi-controller-strategy.patch
  modules/041-linstor/templates/linstor-affinity-controller/deployment.yaml
  modules/041-linstor/templates/linstor-csi/linstorcsidriver.yaml
  modules/041-linstor/templates/linstor-scheduler/deployment.yaml
  modules/041-linstor/templates/piraeus-operator/deployment.yaml
  modules/041-linstor/templates/spaas/deployment.yaml
Labels: skip/documentation-validation, skip/no-cyrillic-validation, status/backport

#3670 Backport: [linstor] fix rollingUpdate with two system nodes
  modules/041-linstor/crds/piraeus.linbit.com_linstorcsidrivers.yaml
  modules/041-linstor/images/piraeus-operator/patches/README.md
  modules/041-linstor/images/piraeus-operator/patches/csi-controller-strategy.patch
  modules/041-linstor/templates/linstor-affinity-controller/deployment.yaml
  modules/041-linstor/templates/linstor-csi/linstorcsidriver.yaml
  modules/041-linstor/templates/linstor-scheduler/deployment.yaml
  modules/041-linstor/templates/piraeus-operator/deployment.yaml
  modules/041-linstor/templates/spaas/deployment.yaml
Labels: auto, backported

#3671 [doc] Escape mustache
  modules/030-cloud-provider-yandex/docs/FAQ.md
  modules/030-cloud-provider-yandex/docs/FAQ_RU.md
  modules/030-cloud-provider-yandex/docs/README_RU.md
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/101-cert-manager/docs/FAQ.md
  modules/101-cert-manager/docs/FAQ_RU.md
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
Labels: area/docs, status/backport, skip/e2e

#3672 Backport: [doc] Escape mustache
  modules/030-cloud-provider-yandex/docs/FAQ.md
  modules/030-cloud-provider-yandex/docs/FAQ_RU.md
  modules/030-cloud-provider-yandex/docs/README_RU.md
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/101-cert-manager/docs/FAQ.md
  modules/101-cert-manager/docs/FAQ_RU.md
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
Labels: auto, backported

#3675 [docs] Changed the phrasing closer to the English version
  modules/140-user-authz/docs/CONFIGURATION_RU.md
Labels: area/docs

#3648 [bashible] Fix bashible service checking
  modules/040-node-manager/templates/node-group/_static_or_hybrid_script.tpl
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21, status/backport

#3678 Backport: [bashible] Fix bashible service checking
  modules/040-node-manager/templates/node-group/_static_or_hybrid_script.tpl
Labels: auto, backported

#3650 [virtualization] bump versions, enable HA and configure placement
  modules/490-virtualization/crds/doc-ru-deckhouse.io_clustervirtualmachineimages.yaml
  modules/490-virtualization/hack/update.sh
  modules/490-virtualization/images/artifact/werf.inc.yaml
  modules/490-virtualization/templates/kubevirt.yaml
  modules/490-virtualization/templates/virt-api/vpa.yaml
  modules/490-virtualization/templates/virt-controller/vpa.yaml
  modules/490-virtualization/templates/virt-handler/vpa.yaml
  modules/490-virtualization/templates/virt-operator/deployment.yaml
  modules/491-containerized-data-importer/hack/update.sh
  modules/491-containerized-data-importer/images/artifact/patches/003-apiserver-node-selector-and-tolerations.patch
  modules/491-containerized-data-importer/images/artifact/patches/README.md
  modules/491-containerized-data-importer/images/artifact/werf.inc.yaml
  modules/491-containerized-data-importer/templates/cdi-operator/deployment.yaml
  modules/491-containerized-data-importer/templates/cdi.yaml
Labels: status/backport, skip/e2e

#3679 Backport: [virtualization] bump versions, enable HA and configure placement
  modules/490-virtualization/crds/doc-ru-deckhouse.io_clustervirtualmachineimages.yaml
  modules/490-virtualization/hack/update.sh
  modules/490-virtualization/images/artifact/werf.inc.yaml
  modules/490-virtualization/templates/kubevirt.yaml
  modules/490-virtualization/templates/virt-api/vpa.yaml
  modules/490-virtualization/templates/virt-controller/vpa.yaml
  modules/490-virtualization/templates/virt-handler/vpa.yaml
  modules/490-virtualization/templates/virt-operator/deployment.yaml
  modules/491-containerized-data-importer/hack/update.sh
  modules/491-containerized-data-importer/images/artifact/patches/003-apiserver-node-selector-and-tolerations.patch
  modules/491-containerized-data-importer/images/artifact/patches/README.md
  modules/491-containerized-data-importer/images/artifact/werf.inc.yaml
  modules/491-containerized-data-importer/templates/cdi-operator/deployment.yaml
  modules/491-containerized-data-importer/templates/cdi.yaml
Labels: auto, backported

#3638 [cloud-provider-gcp] Add information about load balancers to the docs
  modules/030-cloud-provider-gcp/docs/README.md
  modules/030-cloud-provider-gcp/docs/README_RU.md
  modules/402-ingress-nginx/docs/EXAMPLES.md
  modules/402-ingress-nginx/docs/EXAMPLES_RU.md
Labels: area/cloud-provider, area/docs, status/backport, skip/e2e

#3680 Backport: [cloud-provider-gcp] Add information about load balancers to the docs
  modules/030-cloud-provider-gcp/docs/README.md
  modules/030-cloud-provider-gcp/docs/README_RU.md
  modules/402-ingress-nginx/docs/EXAMPLES.md
  modules/402-ingress-nginx/docs/EXAMPLES_RU.md
Labels: auto, backported

#3681 Backport: [cloud-provider-gcp] Add information about load balancers to the docs
  modules/030-cloud-provider-gcp/docs/README.md
  modules/030-cloud-provider-gcp/docs/README_RU.md
  modules/402-ingress-nginx/docs/EXAMPLES.md
  modules/402-ingress-nginx/docs/EXAMPLES_RU.md
Labels: auto, backported

#3682 Backport: [docs] Changed the phrasing closer to the English version
  modules/140-user-authz/docs/CONFIGURATION_RU.md
Labels: auto, backported

#3673 [site] Minor updates
  docs/site/_data/getting_started/data.yaml
  docs/site/_data/stories.yaml
  docs/site/_includes/getting_started/openstack/STEP_ENV.md
  docs/site/_includes/getting_started/openstack/STEP_ENV_RU.md
  docs/site/_includes/getting_started/yandex/STEP_ENV_RU.md
  docs/site/pages/index_ru.html
  docs/site/pages/managed_ru.html
Labels: area/docs

#3695 [chore] Apply MD linter suggestions
  modules/101-cert-manager/docs/FAQ.md
  modules/101-cert-manager/docs/FAQ_RU.md
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
Labels: area/docs, skip/e2e

#3696 Backport: [chore] Apply MD linter suggestions
  modules/101-cert-manager/docs/FAQ.md
  modules/101-cert-manager/docs/FAQ_RU.md
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
Labels: auto, backported

#3683 [delivery][linstor][virtualization] Fix deprecated PDB APIs
  ee/modules/502-delivery/templates/argocd/application-controller/argocd-application-controller-statefulset.yaml
  ee/modules/502-delivery/templates/argocd/applicationset-controller/argocd-applicationset-controller-deployment.yaml
  ee/modules/502-delivery/templates/argocd/image-updater/argocd-image-updater-deployment.yaml
  ee/modules/502-delivery/templates/argocd/notifications-controller/argocd-notifications-controller-deployment.yaml
  ee/modules/502-delivery/templates/argocd/redis/argocd-redis-deployment.yaml
  ee/modules/502-delivery/templates/argocd/repo-server/argocd-repo-server-deployment.yaml
  ee/modules/502-delivery/templates/argocd/server/argocd-server-deployment.yaml
  modules/041-linstor/templates/linstor-scheduler-admission/deployment.yaml
  modules/490-virtualization/templates/virt-operator/deployment.yaml
  modules/491-containerized-data-importer/templates/cdi-operator/deployment.yaml
Labels: e2e/use/k8s/1.21, status/backport

#3697 Backport: [delivery][linstor][virtualization] Fix deprecated PDB APIs
  ee/modules/502-delivery/templates/argocd/application-controller/argocd-application-controller-statefulset.yaml
  ee/modules/502-delivery/templates/argocd/applicationset-controller/argocd-applicationset-controller-deployment.yaml
  ee/modules/502-delivery/templates/argocd/image-updater/argocd-image-updater-deployment.yaml
  ee/modules/502-delivery/templates/argocd/notifications-controller/argocd-notifications-controller-deployment.yaml
  ee/modules/502-delivery/templates/argocd/redis/argocd-redis-deployment.yaml
  ee/modules/502-delivery/templates/argocd/repo-server/argocd-repo-server-deployment.yaml
  ee/modules/502-delivery/templates/argocd/server/argocd-server-deployment.yaml
  modules/041-linstor/templates/linstor-scheduler-admission/deployment.yaml
  modules/490-virtualization/templates/virt-operator/deployment.yaml
  modules/491-containerized-data-importer/templates/cdi-operator/deployment.yaml
Labels: auto, backported

#3690 [virtualization] Minor doc updates
  modules/490-virtualization/docs/CONFIGURATION.md
  modules/490-virtualization/docs/CONFIGURATION_RU.md
  modules/490-virtualization/docs/README.md
  modules/490-virtualization/docs/README_RU.md
Labels: area/docs, status/backport

#3698 Backport: [virtualization] Minor doc updates
  modules/490-virtualization/docs/CONFIGURATION.md
  modules/490-virtualization/docs/CONFIGURATION_RU.md
  modules/490-virtualization/docs/README.md
  modules/490-virtualization/docs/README_RU.md
Labels: auto, backported

#3699 [docs] Minor updates
  candi/openapi/doc-ru-static_cluster_configuration.yaml
  candi/openapi/static_cluster_configuration.yaml
Labels: area/docs, status/backport, skip/e2e

#3700 Backport: [docs] Minor updates
  candi/openapi/doc-ru-static_cluster_configuration.yaml
  candi/openapi/static_cluster_configuration.yaml
Labels: auto, backported

#3701 Backport: [docs] Minor updates
  candi/openapi/doc-ru-static_cluster_configuration.yaml
  candi/openapi/static_cluster_configuration.yaml
Labels: auto, backported

#3591 [docs] Site search refactoring
  docs/documentation/_data/i18n.yml
  docs/documentation/_includes/search.html
  docs/documentation/_includes/search.liquid
  docs/documentation/_plugins/custom_hooks.rb
  docs/documentation/_plugins/openapi.rb
  docs/documentation/js/search.js
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL_RU.md
  docs/documentation/pages/search.html
  docs/documentation/pages/search_ru.html
  docs/site/css/docs.scss
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION_RU.md
  modules/041-linstor/docs/CONFIGURATION.md
  modules/041-linstor/docs/CONFIGURATION_RU.md
  modules/340-extended-monitoring/docs/CONFIGURATION.md
  modules/340-extended-monitoring/docs/CONFIGURATION_RU.md
Labels: area/docs, skip/no-cyrillic-validation, skip/e2e

#3702 Backport: [docs] Site search refactoring
  docs/documentation/_data/i18n.yml
  docs/documentation/_includes/search.html
  docs/documentation/_includes/search.liquid
  docs/documentation/_plugins/custom_hooks.rb
  docs/documentation/_plugins/openapi.rb
  docs/documentation/js/search.js
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL_RU.md
  docs/documentation/pages/search.html
  docs/documentation/pages/search_ru.html
  docs/site/css/docs.scss
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION_RU.md
  modules/041-linstor/docs/CONFIGURATION.md
  modules/041-linstor/docs/CONFIGURATION_RU.md
  modules/340-extended-monitoring/docs/CONFIGURATION.md
  modules/340-extended-monitoring/docs/CONFIGURATION_RU.md
Labels: auto, backported

#3703 Backport: [docs] Update links after #3591
  candi/cloud-providers/aws/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/aws/openapi/instance_class.yaml
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
  docs/site/_includes/getting_started/openstack/partials/config.yml.standard.ee.inc
  ee/modules/030-cloud-provider-openstack/docs/FAQ.md
  ee/modules/030-cloud-provider-openstack/docs/FAQ_RU.md
  modules/030-cloud-provider-gcp/docs/README.md
  modules/030-cloud-provider-gcp/docs/README_RU.md
Labels: auto, backported

#3341 Changelog v1.43.0
  CHANGELOG/CHANGELOG-v1.43.0.yml
  CHANGELOG/CHANGELOG-v1.43.md
Labels: changelog, auto, status/backport

#3706 Backport: Changelog v1.43.0
  CHANGELOG/CHANGELOG-v1.43.0.yml
  CHANGELOG/CHANGELOG-v1.43.md
Labels: auto, backported

#3708 [docs][getting-started] Fix incorrect blurring
  docs/site/js/getting-started.js
Labels: area/docs, skip/e2e

#3709 [candi] fix registry packages tmpdir cleanup
  candi/bashible/bashbooster/50_deckhouse_registrypackages.sh
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3662 [github] Add kvaps to codeowners virtualization, containerized-data-importer and cdi
  .github/CODEOWNERS
Labels: type/chore

#3687 [monitoring-kubernetes-control-plane] Fixed "Control Plane Status" dashboard
  modules/340-monitoring-kubernetes-control-plane/monitoring/grafana-dashboards/kubernetes-cluster/control-plane-status.json
Labels: area/monitoring, type/bug, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3684 [node-management] added links to cpm faq about management master nodes in cloud clusters
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs
