Repository deckhouse/deckhouse, pull requests merged in 2023-06, with the labels that each got.

#4824 [docs] Add the scheme of using the releaseChannel parameter
  docs/documentation/images/common/deckhouse-update-process.png
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs

#4805 [prometheus] Fix d8_prometheus_fs metrics
  modules/300-prometheus/hooks/disk_metrics.go
Labels: type/bug, status/backport, skip/e2e

#4826 Backport: [prometheus] Fix d8_prometheus_fs metrics
  modules/300-prometheus/hooks/disk_metrics.go
Labels: auto, backported

#4822 [control-plane-manager] fix errors in control-plane-manager working
  modules/040-control-plane-manager/images/control-plane-manager/controller/converge.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/kubeconfig.go
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.25

#4829 [extended-monitoring] Send one ExtendedMonitoringDeprecatatedAnnotation alert per cluster
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/deprecated-annotation.yaml
Labels: area/monitoring, status/backport

#4834 Backport: [extended-monitoring] Send one ExtendedMonitoringDeprecatatedAnnotation alert per cluster
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/deprecated-annotation.yaml
Labels: auto, backported

#4817 Changelog v1.46.4
  CHANGELOG/CHANGELOG-v1.46.4.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: changelog, auto, status/backport

#4835 Backport: Changelog v1.46.4
  CHANGELOG/CHANGELOG-v1.46.4.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: auto, backported

#4837 [cni-flannel] Fixed cmdline passing in entrypoint
  modules/035-cni-flannel/images/flanneld/main.go
Labels: area/network, type/bug

#4840 Backport: [cni-flannel] Fixed cmdline passing in entrypoint
  modules/035-cni-flannel/images/flanneld/main.go
Labels: auto, backported

#4833 Changelog v1.46.5
  CHANGELOG/CHANGELOG-v1.46.5.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: changelog, auto, status/backport

#4841 Backport: Changelog v1.46.5
  CHANGELOG/CHANGELOG-v1.46.5.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: auto, backported

#4827 [bashible-apiserver] Specify TLS cipher suites
  modules/040-node-manager/images/bashible-apiserver/werf.inc.yaml
Labels: area/cluster-and-infrastructure

#4858 [docs] Update comparison table
  docs/documentation/_data/i18n.yml
  docs/documentation/_includes/module-settings.liquid
  docs/documentation/_includes/revision_comparison_detail_table.liquid
  docs/documentation/_plugins/openapi.rb
  docs/documentation/generate_cluster_configuration.sh
  docs/documentation/modules_generate_cr.sh
  docs/documentation/modules_list.sh
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL_RU.md
  docs/documentation/werf.yaml
  docs/site/css/components/common/_tooltip.scss
Labels: area/docs, skip/copyright-validation, status/backport, skip/e2e

#4865 Backport: [kube-rbac-proxy] Fix TLS cipher suites
  modules/000-common/images/kube-rbac-proxy/Dockerfile
  modules/000-common/images/kube-rbac-proxy/entrypoint.sh
  modules/000-common/images/kube-rbac-proxy/patches/README.md
  modules/000-common/images/kube-rbac-proxy/patches/secure-listen-address.patch
Labels: auto, backported

#4867 Backport: [bashible-apiserver] Specify TLS cipher suites
  modules/040-node-manager/images/bashible-apiserver/werf.inc.yaml
Labels: auto, backported

#4859 Changelog v1.46.6
  CHANGELOG/CHANGELOG-v1.46.6.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: changelog, auto, status/backport

#4870 [docs] Fix the module comparison table in the documentation
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/_plugins/custom_hooks.rb
Labels: area/docs, status/backport

#4871 Backport: [docs] Fix the module comparison table in the documentation
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/_plugins/custom_hooks.rb
Labels: auto, backported

#4872 [deckhouse-controller] Revert mergo
  go.mod
  go.sum
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.mod
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.sum
  tools/go.sum
Labels: area/core

#4876 Backport: [linstor] added selinux security options
  modules/041-linstor/images/drbd-driver-loader/Dockerfile
  modules/041-linstor/images/drbd-driver-loader/patches/README.md
  modules/041-linstor/images/drbd-driver-loader/patches/chcon.patch
  modules/041-linstor/images/piraeus-operator/patches/010-disable-finalizers.patch
  modules/041-linstor/images/piraeus-operator/patches/020-linux-kbuild.patch
  modules/041-linstor/images/piraeus-operator/patches/030-add-selinux-support.patch
  modules/041-linstor/images/piraeus-operator/patches/README.md
Labels: auto, backported

#4866 Changelog v1.46.7
  CHANGELOG/CHANGELOG-v1.46.7.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: changelog, auto, status/backport

#4877 Backport: Changelog v1.46.7
  CHANGELOG/CHANGELOG-v1.46.7.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: auto, backported

#4878 Changelog v1.46.6
  CHANGELOG/CHANGELOG-v1.46.6.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: changelog, auto

#4892 [chore] Update CODEOWNERS
  .github/CODEOWNERS
Labels: type/chore

#4862 [monitoring] added Debian 9 and Ubuntu 18.04 in D8NodeHasDeprecatedOSVersion
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/node-os-requirements.yaml
Labels: area/monitoring

#4898 added openstack providers icons at getting started
  docs/site/_data/getting_started/data.yaml
  docs/site/css/components/common/_button.scss
  docs/site/images/icons/platforms/ovh.png
  docs/site/images/icons/platforms/selectel.png
  docs/site/images/icons/platforms/vk.png
  docs/site/pages/getting_started/getting_started.html
  docs/site/pages/getting_started/getting_started_ru.html
Labels: area/docs

#4845 [docs] typo in the error text corrected
  modules/040-control-plane-manager/requirements/check.go
Labels: area/docs

#4900 [user-authz] Update the readme markup
  docs/documentation/_data/i18n.yml
  modules/140-user-authz/docs/README.md
  modules/140-user-authz/docs/README_RU.md
  tools/authz_generate_rules_for_roles/readme-placeholder.tpl
Labels: area/docs

#4904 [docs] Add reference to and isolated env install configuration
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs

#4903 [user-authz] Fix access for `PrivilegedUser` role
  modules/140-user-authz/docs/README.md
  modules/140-user-authz/docs/README_RU.md
  modules/140-user-authz/templates/cluster-roles.yaml
Labels: area/auth, skip/e2e

#4911 Backport: [linstor] Add disabling use of lvmetad service to NodeGroupConfiguration for LINSTOR module
  modules/041-linstor/templates/nodegroupconfiguration-disable-lvmetad.yaml
Labels: auto, backported

#4905 [docs] Use only nodes with the CloudStatic or Static type to run Deck…
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs

#4914 Backport: [docs] Use only nodes with the CloudStatic or Static type to run Deck…
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#4915 Backport: Changelog v1.46.8
  CHANGELOG/CHANGELOG-v1.46.8.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: auto, backported

#4909 [operator-trivy] Update trivy-operator and trivy images
  ee/modules/500-operator-trivy/images/operator/Dockerfile
  ee/modules/500-operator-trivy/images/operator/patches/003-support-legacy-dockercfg.patch
  ee/modules/500-operator-trivy/images/operator/patches/README.md
  ee/modules/500-operator-trivy/images/trivy/Dockerfile
Labels: area/security, skip/e2e

#4918 Backport: [user-authz] Update the readme markup
  docs/documentation/_data/i18n.yml
  modules/140-user-authz/docs/README.md
  modules/140-user-authz/docs/README_RU.md
  tools/authz_generate_rules_for_roles/readme-placeholder.tpl
Labels: auto, backported

#4919 [ingress-nginx] Increase minReadySeconds for all inlets
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: area/network, status/backport

#4921 Backport: [ingress-nginx] Increase minReadySeconds for all inlets
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: auto, backported

#4928 [docs] Add the experimental badge to the delivery module
  docs/documentation/_data/sidebars/main.yml
  docs/site/_config.yml
Labels: area/docs

#4935 [deckhouse] Update the Module CRD
  modules/002-deckhouse/crds/doc-ru-module.yaml
  modules/002-deckhouse/crds/module.yaml
Labels: area/docs

#4923 [monitoring-kubernetes] resolve symbolic links
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/main.go
Labels: status/backport

#4936 Backport: [monitoring-kubernetes] resolve symbolic links
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/main.go
Labels: auto, backported

#4938 Backport: Changelog v1.46.8
  CHANGELOG/CHANGELOG-v1.46.8.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: auto, backported

#4925 [deckhouse-controller] Move `tools/change-registry.sh` to `deckhouse-controller`
  deckhouse-controller/pkg/helpers/change_registry/change_registry.go
  deckhouse-controller/pkg/helpers/register.go
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  go.mod
Labels: area/core

#4942 [alertmanager] fix example in alertmanager doc (#4851)
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
Labels: area/docs, skip/e2e

#4850 [user-authz] Forbid empty .spec.subject field in ClusterAuthorizationRule
  modules/140-user-authz/webhooks/validating/cluster_authorization_rule
Labels: area/auth, type/bug

#4888 [monitoring-kubernetes] Fix kubelet-eviction-thresholds-exporter
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/main.go
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/node-disk-usage.yaml
Labels: status/ok-to-test

#4848 [deckhouse] Add cluster-autoscaler logs into debug logs collector
  deckhouse-controller/pkg/debug/debug.go
  modules/002-deckhouse/docs/FAQ.md
  modules/002-deckhouse/docs/FAQ_RU.md
Labels: area/core

#4932 [global] add ingressClass validation to global hooks and dex
  global-hooks/openapi/config-values.yaml
  modules/010-user-authn-crd/crds/dex-authenticator.yaml
  modules/150-user-authn/openapi/config-values.yaml
  modules/300-prometheus/openapi/config-values.yaml
  modules/402-ingress-nginx/openapi/values.yaml
  modules/500-dashboard/openapi/config-values.yaml
  modules/500-openvpn/openapi/config-values.yaml
  modules/500-upmeter/openapi/config-values.yaml
  modules/810-documentation/openapi/config-values.yaml
Labels: skip/documentation-validation

#4947 [doc] Fix data generation for the comparison table
  docs/documentation/_plugins/openapi.rb
Labels: area/docs

#4846 [cilium-hubble] Fix error with install if global https OnlyInURI
  modules/500-cilium-hubble/templates/ui/authenticator.yaml
Labels: area/network, type/bug

#4962 [site] Update site content
  docs/site/_data/revision_comparison.yml
Labels: area/docs

#4959 [nginx-ignress] fix proxy-failover-iptables
  modules/402-ingress-nginx/images/proxy-failover-iptables/main.go
Labels: type/bug, status/backport, skip/e2e

#4965 Backport: [nginx-ignress] fix proxy-failover-iptables
  modules/402-ingress-nginx/images/proxy-failover-iptables/main.go
Labels: auto, backported

#4964 Changelog v1.46.9
  CHANGELOG/CHANGELOG-v1.46.9.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: changelog, auto, status/backport

#4966 Backport: Changelog v1.46.9
  CHANGELOG/CHANGELOG-v1.46.9.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: auto, backported

#4949 [deckhouse-controller] Add unit tests for change-registry
  deckhouse-controller/pkg/helpers/change_registry/change_registry.go
  deckhouse-controller/pkg/helpers/change_registry/change_registry_test.go
  go.mod
Labels: skip/e2e

#4917 [runtime-audit-engine] improve docs
  docs/documentation/_data/sidebars/main.yml
  ee/modules/650-runtime-audit-engine/docs/ADVANCED_USAGE.md
  ee/modules/650-runtime-audit-engine/docs/ADVANCED_USAGE_RU.md
  ee/modules/650-runtime-audit-engine/docs/EXAMPLES.md
  ee/modules/650-runtime-audit-engine/docs/EXAMPLES_RU.md
  ee/modules/650-runtime-audit-engine/docs/FAQ.md
  ee/modules/650-runtime-audit-engine/docs/FAQ_RU.md
  ee/modules/650-runtime-audit-engine/docs/README.md
  ee/modules/650-runtime-audit-engine/docs/README_RU.md
  modules/460-log-shipper/docs/ADVANCED_USAGE_RU.md
Labels: area/docs, skip/documentation-validation

#4855 [node-manager] Change calculation condition.ready in Node Group (#4622)
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/040-node-manager/hooks/internal/conditions/calculate.go
  modules/040-node-manager/hooks/update_node_group_status.go
  modules/040-node-manager/hooks/update_node_group_status_test.go
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, e2e/use/k8s/1.25

#4927 [nginx-ingress] set default ingress class to nginx
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
Labels: skip/documentation-validation, type/chore

#4975 [chore] Update Kubernetes patch versions
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.26, type/chore

#4958 [tools] Fix auth for docker run in `d8-pull.sh`
  tools/release/d8-pull.sh
Labels: skip/e2e

#4882 [linstor] Update drbd to 9.2.4
  modules/041-linstor/hack/update.sh
  modules/041-linstor/images/drbd-driver-loader/Dockerfile
  modules/041-linstor/images/drbd-driver-loader/patches/README.md
  modules/041-linstor/images/drbd-driver-loader/patches/chcon.patch
  modules/041-linstor/images/drbd-reactor/Dockerfile
  modules/041-linstor/images/linstor-server/Dockerfile
  modules/041-linstor/images/piraeus-ha-controller/Dockerfile
  modules/041-linstor/images/spaas/Dockerfile
  modules/041-linstor/monitoring/prometheus-rules/spaas.yaml
  modules/041-linstor/openapi/openapi-case-tests.yaml
  modules/041-linstor/openapi/values.yaml
  modules/041-linstor/template_tests/module_test.go
  modules/041-linstor/templates/linstor-node/linstorsatelliteset.yaml
  modules/041-linstor/templates/nodegroupconfiguration-check-drbd-version.yaml
Labels: skip/e2e

#4983 Revert "[runtime-audit-engine] improve docs (#4917)"
  docs/documentation/_data/sidebars/main.yml
  ee/modules/650-runtime-audit-engine/docs/ADVANCED_USAGE.md
  ee/modules/650-runtime-audit-engine/docs/ADVANCED_USAGE_RU.md
  ee/modules/650-runtime-audit-engine/docs/EXAMPLES.md
  ee/modules/650-runtime-audit-engine/docs/EXAMPLES_RU.md
  ee/modules/650-runtime-audit-engine/docs/FAQ.md
  ee/modules/650-runtime-audit-engine/docs/FAQ_RU.md
  ee/modules/650-runtime-audit-engine/docs/README.md
  ee/modules/650-runtime-audit-engine/docs/README_RU.md
  modules/460-log-shipper/docs/ADVANCED_USAGE_RU.md
Labels: area/docs, skip/documentation-validation

#4982 [documentation] add migration for module renaming
  global-hooks/migrate/migrate_deckhouse-web_mc.go
  global-hooks/migrate/migrate_deckhouse-web_mc_test.go
  modules/810-documentation/monitoring/prometheus-rules/deprecated-mc.yaml
  modules/810-documentation/openapi/config-values.yaml
  modules/810-documentation/settings-conversion/conversion.go
  modules/810-documentation/settings-conversion/conversion_test.go
  modules/810-documentation/templates/monitoring.yaml
Labels: skip/documentation-validation, e2e/use/cri/containerd, status/backport, e2e/use/k8s/1.23

#4987 Backport: [documentation] add migration for module renaming
  global-hooks/migrate/migrate_deckhouse-web_mc.go
  global-hooks/migrate/migrate_deckhouse-web_mc_test.go
  modules/810-documentation/monitoring/prometheus-rules/deprecated-mc.yaml
  modules/810-documentation/openapi/config-values.yaml
  modules/810-documentation/settings-conversion/conversion.go
  modules/810-documentation/settings-conversion/conversion_test.go
  modules/810-documentation/templates/monitoring.yaml
Labels: auto, backported

#4991 [decumentation] remove deckhouse-web module config on migration
  global-hooks/migrate/migrate_deckhouse-web_mc.go
  global-hooks/migrate/migrate_deckhouse-web_mc_test.go
  modules/810-documentation/hooks/deprecated_mc.go
  modules/810-documentation/monitoring/prometheus-rules/deprecated-mc.yaml
Labels: status/backport, skip/e2e

#4992 Backport: [decumentation] remove deckhouse-web module config on migration
  global-hooks/migrate/migrate_deckhouse-web_mc.go
  global-hooks/migrate/migrate_deckhouse-web_mc_test.go
  modules/810-documentation/hooks/deprecated_mc.go
  modules/810-documentation/monitoring/prometheus-rules/deprecated-mc.yaml
Labels: auto, backported

#4986 Changelog v1.46.10
  CHANGELOG/CHANGELOG-v1.46.10.yml
  CHANGELOG/CHANGELOG-v1.46.md
Labels: changelog, auto, status/backport

#4978 [flant-integration] set grafana/prometheus scheme to http if snapshot is empty
  ee/modules/600-flant-integration/hooks/madison/registration.go
Labels: skip/e2e

#4981 [nginx-ingress] rename alert so that it clearly states which kruise controller is affected
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
Labels: area/monitoring, type/chore, skip/e2e

#4990 [docs] Update the Deckhouse FAQ
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_includes/SUPPORTED_VERSIONS.liquid
  docs/documentation/_plugins/alert.rb
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, skip/e2e

#4996 Backport: [docs] Update the Deckhouse FAQ
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_includes/SUPPORTED_VERSIONS.liquid
  docs/documentation/_plugins/alert.rb
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#5001 [docs] Update supported container registry list
  docs/documentation/_includes/SUPPORTED_VERSIONS.liquid
Labels: area/docs

#5003 Backport: [docs] Update supported container registry list
  docs/documentation/_includes/SUPPORTED_VERSIONS.liquid
Labels: auto, backported

#4997 [docs] Update initConfig resource and other misc updates
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
  candi/openapi/doc-ru-init_configuration.yaml
  candi/openapi/init_configuration.yaml
  modules/150-user-authn/openapi/config-values.yaml
  modules/303-prometheus-pushgateway/docs/EXAMPLES.md
  modules/303-prometheus-pushgateway/docs/EXAMPLES_RU.md
  modules/303-prometheus-pushgateway/docs/README.md
  modules/303-prometheus-pushgateway/docs/README_RU.md
  modules/460-log-shipper/docs/ADVANCED_USAGE.md
  modules/460-log-shipper/docs/ADVANCED_USAGE_RU.md
  modules/460-log-shipper/docs/EXAMPLES.md
Labels: area/docs, skip/documentation-validation, skip/e2e

#5004 Backport: [docs] Update initConfig resource and other misc updates
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
  candi/openapi/doc-ru-init_configuration.yaml
  candi/openapi/init_configuration.yaml
  modules/150-user-authn/openapi/config-values.yaml
  modules/303-prometheus-pushgateway/docs/EXAMPLES.md
  modules/303-prometheus-pushgateway/docs/EXAMPLES_RU.md
  modules/303-prometheus-pushgateway/docs/README.md
  modules/303-prometheus-pushgateway/docs/README_RU.md
  modules/460-log-shipper/docs/ADVANCED_USAGE.md
  modules/460-log-shipper/docs/ADVANCED_USAGE_RU.md
  modules/460-log-shipper/docs/EXAMPLES.md
Labels: auto, backported

#4980 [ingress-nginx] Update HPA apiVersion to support 1.26.
  modules/402-ingress-nginx/templates/controller/hpa.yaml
Labels: area/network, status/ok-to-test

#4968 [prometheus] add external labels knob
  modules/300-prometheus/openapi/config-values.yaml
  modules/300-prometheus/openapi/doc-ru-config-values.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring

#5007 [user-authn] Allow users to deploy DexAuthenticator trusted by Kubernetes
  modules/150-user-authn/hooks/get_dex_authenticator_crds.go
  modules/150-user-authn/hooks/get_dex_authenticator_crds_test.go
  modules/150-user-authn/template_tests/authenticator_test.go
Labels: area/auth

#4998 [flant-integration] refactor madison registration hook and provide tests for getPrometheusURLSchema
  ee/modules/600-flant-integration/hooks/madison/registration.go
  ee/modules/600-flant-integration/hooks/madison/registration_test.go
  modules/300-prometheus/templates/prometheus-https-mode-secret.yaml
Labels: type/chore, skip/e2e

#4995 [nginx-ingress] provide some recommendations in D8NginxIngressKruiseControllerPodIsRestartingTooOften alert
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
Labels: area/monitoring, skip/e2e

#5027 [user-authn] Do not send groups header from DexAuthenticator
  modules/150-user-authn/images/dex-authenticator/Dockerfile
  modules/150-user-authn/images/dex-authenticator/patches/README.md
  modules/150-user-authn/images/dex-authenticator/patches/remove-groups.patch
Labels: area/auth

#4542 [node-manager] Fix links in node-unmanaged rule for Prometheus
  modules/040-node-manager/monitoring/prometheus-rules/node-unmanaged.tpl
Labels: area/monitoring, skip/e2e

#5034 [monitoring] Fix links in alerts
  modules/340-monitoring-custom/monitoring/prometheus-rules/reserved-domain.tpl
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/storage-class.tpl
Labels: area/monitoring

#5006 [prometheus] set lookbackDelta Prometheus Main option to 2x scrapeInterval
  modules/300-prometheus/openapi/config-values.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring, skip/documentation-validation

#5023 [dhctl] Fix parsing node index (CWE-190, CWE-681)
  dhctl/pkg/config/meta.go
  dhctl/pkg/infrastructure/nodes.go
  dhctl/pkg/kubernetes/actions/converge/check.go
  dhctl/pkg/kubernetes/actions/converge/converge.go
  dhctl/pkg/kubernetes/actions/converge/node.go
Labels: area/cli

#4934 [node-manager] NodeUser fixed the ability to use parameters in sshPublicKeys
  candi/bashible/common-steps/node-group/090_node_users.sh.tpl
  modules/040-node-manager/crds/nodeuser.yaml
Labels: area/cluster-and-infrastructure, skip/documentation-validation

#5044 Backport: [ingress-nginx] patch kruise controller update logic
  modules/402-ingress-nginx/images/kruise/Dockerfile
  modules/402-ingress-nginx/images/kruise/patches/README.md
  modules/402-ingress-nginx/images/kruise/patches/stick-to-maxunavailable.patch
Labels: auto, backported

#5041 [linstor] Fix drbd check on ALT linux and static tests on Astra linux
  modules/041-linstor/templates/nodegroupconfiguration-check-drbd-version.yaml
  testing/cloud_layouts/Static/astra-instance-bootstrap.sh
Labels: area/storage

#4913 cli hubble, incorrect socket address
  modules/021-cni-cilium/images/cilium/werf.inc.yaml
Labels: status/ok-to-test

#4645 Changelog v1.47.0
  CHANGELOG/CHANGELOG-v1.47.0.yml
  CHANGELOG/CHANGELOG-v1.47.md
Labels: changelog, auto, status/backport

#5051 Backport: Changelog v1.47.0
  CHANGELOG/CHANGELOG-v1.47.0.yml
  CHANGELOG/CHANGELOG-v1.47.md
Labels: auto, backported

#5053 Changelog v1.47.0
  CHANGELOG/CHANGELOG-v1.47.0.yml
  CHANGELOG/CHANGELOG-v1.47.md
Labels: changelog, auto, status/backport

#5055 Backport: Changelog v1.47.0
  CHANGELOG/CHANGELOG-v1.47.0.yml
  CHANGELOG/CHANGELOG-v1.47.md
Labels: auto, backported

#5059 [site] Update the request license form
  docs/site/_data/modal.yml
Labels: area/docs, skip/e2e

#5060 [site] Update the request license form
  docs/site/_includes/request_access_form.html
Labels: area/docs

#4823 [linstor] Update Linstor. Fix D8LinstorControllerTargetDown alert
  modules/041-linstor/crds/piraeus.linbit.com_linstorcontrollers.yaml
  modules/041-linstor/crds/piraeus.linbit.com_linstorcsidrivers.yaml
  modules/041-linstor/crds/piraeus.linbit.com_linstorsatellitesets.yaml
  modules/041-linstor/hack/update.sh
  modules/041-linstor/images/linstor-csi/Dockerfile
  modules/041-linstor/images/linstor-server/Dockerfile
  modules/041-linstor/images/piraeus-ha-controller/Dockerfile
  modules/041-linstor/images/piraeus-operator/Dockerfile
  modules/041-linstor/images/piraeus-operator/patches/040-add-metrics-port.patch
  modules/041-linstor/images/piraeus-operator/patches/README.md
  modules/041-linstor/templates/linstor-controller/linstorcontroller.yaml
  modules/041-linstor/templates/linstor-controller/servicemonitor.yaml
  modules/041-linstor/templates/nodegroupconfiguration-check-drbd-version.yaml
Labels: skip/documentation-validation, area/storage

#5067 [user-authn-crd] loosen the applicationIngressCertificateSecretName pattern
  modules/010-user-authn-crd/crds/dex-authenticator.yaml
Labels: area/auth, skip/documentation-validation, status/backport

#5074 Backport: [user-authn-crd] loosen the applicationIngressCertificateSecretName pattern
  modules/010-user-authn-crd/crds/dex-authenticator.yaml
Labels: auto, backported

#5081 Backport: Add docs about the Kubernetes scheduler
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#5056 [docs] Add info about quay support
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_includes/SUPPORTED_VERSIONS.liquid
Labels: area/docs, skip/e2e

#5082 Backport: [docs] Add info about quay support
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_includes/SUPPORTED_VERSIONS.liquid
Labels: auto, backported

#5083 Backport: [linstor] Update Linstor. Fix D8LinstorControllerTargetDown alert
  modules/041-linstor/crds/piraeus.linbit.com_linstorcontrollers.yaml
  modules/041-linstor/crds/piraeus.linbit.com_linstorcsidrivers.yaml
  modules/041-linstor/crds/piraeus.linbit.com_linstorsatellitesets.yaml
  modules/041-linstor/hack/update.sh
  modules/041-linstor/images/linstor-csi/Dockerfile
  modules/041-linstor/images/linstor-server/Dockerfile
  modules/041-linstor/images/piraeus-ha-controller/Dockerfile
  modules/041-linstor/images/piraeus-operator/Dockerfile
  modules/041-linstor/images/piraeus-operator/patches/040-add-metrics-port.patch
  modules/041-linstor/images/piraeus-operator/patches/README.md
  modules/041-linstor/templates/linstor-controller/linstorcontroller.yaml
  modules/041-linstor/templates/linstor-controller/servicemonitor.yaml
  modules/041-linstor/templates/nodegroupconfiguration-check-drbd-version.yaml
Labels: auto, backported

#5084 Backport: [node-manager] rework CRI requirements
  modules/040-node-manager/hooks/check_nodes_cri.go
  modules/040-node-manager/hooks/check_nodes_cri_test.go
  modules/040-node-manager/requirements/check.go
  modules/040-node-manager/requirements/check_test.go
Labels: auto, backported

#5085 Backport: [dhctl] add cache identity for kubeconfig (#4948)
  dhctl/cmd/dhctl/commands/converge.go
  dhctl/pkg/state/cache/init.go
  dhctl/pkg/state/cache/init_test.go
Labels: auto, backported

#5046 [ingress-nginx] add module-level highavailability parameter
  modules/402-ingress-nginx/openapi/config-values.yaml
  modules/402-ingress-nginx/openapi/doc-ru-config-values.yaml
Labels: area/core

#5050 [ingress-nginx] add migration hook for updating kruise controller image before updating ingress-nginx module
  modules/402-ingress-nginx/hooks/migrate_update_kruise_controller_image.go
  modules/402-ingress-nginx/hooks/migrate_update_kruise_controller_image_test.go
  modules/402-ingress-nginx/templates/kruise/manager.yaml
Labels: area/core, status/backport

#5088 Backport: [ingress-nginx] add migration hook for updating kruise controller image before updating ingress-nginx module
  modules/402-ingress-nginx/hooks/migrate_update_kruise_controller_image.go
  modules/402-ingress-nginx/hooks/migrate_update_kruise_controller_image_test.go
  modules/402-ingress-nginx/templates/kruise/manager.yaml
Labels: auto, backported

#5054 Changelog v1.47.1
  CHANGELOG/CHANGELOG-v1.47.1.yml
  CHANGELOG/CHANGELOG-v1.47.md
Labels: changelog, auto, status/backport

#5089 Backport: Changelog v1.47.1
  CHANGELOG/CHANGELOG-v1.47.1.yml
  CHANGELOG/CHANGELOG-v1.47.md
Labels: auto, backported
