Repository deckhouse/deckhouse, pull requests merged in 2023-02, with the labels that each got.

#3714 [global] Temporarily removed requirement for minimal ubuntu node version.
  release.yaml
Labels: status/backport

#3715 Backport: [global] Temporarily removed requirement for minimal ubuntu node version.
  release.yaml
Labels: auto, backported

#3677 Changelog v1.43.1
  CHANGELOG/CHANGELOG-v1.43.1.yml
  CHANGELOG/CHANGELOG-v1.43.md
Labels: changelog, auto, status/backport

#3716 Backport: Changelog v1.43.1
  CHANGELOG/CHANGELOG-v1.43.1.yml
  CHANGELOG/CHANGELOG-v1.43.md
Labels: auto, backported

#3692 [log-shipper] Send metadata to Kafka
  modules/460-log-shipper/hooks/internal/vector/destination/kafka.go
  modules/460-log-shipper/hooks/internal/vector/destination/vector.go
  modules/460-log-shipper/hooks/internal/vector/transform/extra_fields.go
  modules/460-log-shipper/hooks/internal/vrl/elasticsearch.go
  modules/460-log-shipper/hooks/testdata/file-to-kafka-tls/result.json
  modules/460-log-shipper/hooks/testdata/file-to-kafka/result.json
Labels: area/logs

#3723 [prometheus] Fix Alertmanager CA file
  modules/300-prometheus/templates/alertmanager/internal/alertmanager.yaml
Labels: status/backport, source/community

#3725 Backport: [prometheus] Fix Alertmanager CA file
  modules/300-prometheus/templates/alertmanager/internal/alertmanager.yaml
Labels: auto, backported

#3726 Backport: [prometheus] Fix Alertmanager CA file
  modules/300-prometheus/templates/alertmanager/internal/alertmanager.yaml
Labels: auto, backported

#3607 Changelog v1.42.7
  CHANGELOG/CHANGELOG-v1.42.7.yml
  CHANGELOG/CHANGELOG-v1.42.md
Labels: changelog, auto, status/backport

#3727 Backport: Changelog v1.42.7
  CHANGELOG/CHANGELOG-v1.42.7.yml
  CHANGELOG/CHANGELOG-v1.42.md
Labels: auto, backported

#3712 [site] Moved diagram on ee page
  docs/site/css/components/_functionality.scss
  docs/site/css/site.scss
  docs/site/images/diagrams/structure-inverse-en.svg
  docs/site/images/diagrams/structure-inverse.svg
  docs/site/js/customscripts.js
  docs/site/pages/deckhouse_vs_kaas.html
  docs/site/pages/deckhouse_vs_kaas_ru.html
  docs/site/pages/enterprise_edition.html
  docs/site/pages/enterprise_edition_ru.html
Labels: area/docs, skip/e2e

#3660 [deckhouse] add bash wrapper for handling USR signals
  deckhouse-controller/entrypoint.sh
  werf.yaml
Labels: area/3rd-party-modules

#3674 [flow-schema] new module
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  modules/010-flow-schema/.helmignore
  modules/010-flow-schema/.namespace
  modules/010-flow-schema/Chart.yaml
  modules/010-flow-schema/charts/helm_lib
  modules/010-flow-schema/docs/CONFIGURATION.md
  modules/010-flow-schema/docs/CONFIGURATION_RU.md
  modules/010-flow-schema/docs/FAQ.md
  modules/010-flow-schema/docs/FAQ_RU.md
  modules/010-flow-schema/docs/README.md
  modules/010-flow-schema/docs/README_RU.md
  modules/010-flow-schema/enabled
  modules/010-flow-schema/hooks/common_test.go
  modules/010-flow-schema/hooks/discover_d8_ns.go
  modules/010-flow-schema/hooks/discover_d8_ns_test.go
  modules/010-flow-schema/monitoring/prometheus-rules/flowschema.yaml
  modules/010-flow-schema/openapi/config-values.yaml
  modules/010-flow-schema/openapi/openapi-case-tests.yaml
  modules/010-flow-schema/openapi/values.yaml
  modules/010-flow-schema/template_tests/module_test.go
  modules/010-flow-schema/templates/flowschema.yaml
  modules/010-flow-schema/templates/monitoring.yaml
  modules/010-flow-schema/templates/prioritylevelconfiguration.yaml
  modules/021-cni-cilium/templates/agent/flowschema.yaml
  modules/460-log-shipper/templates/flowcontrol.yaml
  modules/values-default.yaml
  modules/values-managed.yaml
  testing/matrix/linter/rules/modules/oss.go
Labels: area/core, skip/documentation-validation, e2e/use/k8s/1.23

#3736 [site] Fix customscript file
  docs/site/js/customscripts.js
Labels: area/docs, skip/no-cyrillic-validation, skip/e2e

#3531 [deckhouse-config] Support statuses for external modules
  go_lib/deckhouse-config/service.go
  go_lib/deckhouse-config/status.go
  go_lib/deckhouse-config/v1alpha1/module_config.go
  modules/003-deckhouse-config/crds/module-config.yaml
  modules/003-deckhouse-config/hooks/update_status.go
  modules/003-deckhouse-config/hooks/update_status_test.go
Labels: type/enhancement, skip/documentation-validation, area/3rd-party-modules

#3732 [cloud-providers][docs] Add description and examples to OpenAPI specs
  candi/cloud-providers/aws/docs/LAYOUTS.md
  candi/cloud-providers/aws/docs/LAYOUTS_RU.md
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/docs/LAYOUTS.md
  ee/candi/cloud-providers/vsphere/docs/LAYOUTS_RU.md
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
Labels: area/docs, status/backport, skip/e2e

#3739 Backport: [cloud-providers][docs] Add description and examples to OpenAPI specs
  candi/cloud-providers/aws/docs/LAYOUTS.md
  candi/cloud-providers/aws/docs/LAYOUTS_RU.md
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/docs/LAYOUTS.md
  ee/candi/cloud-providers/vsphere/docs/LAYOUTS_RU.md
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#3568 [global] modify modules_images_tags to support external modules
  global-hooks/discovery/modules_images_tags.go
  global-hooks/discovery/modules_images_tags_test.go
  global-hooks/discovery/testdata/modules-images-tags/external-modules-source/999-test-test/images_tags.json
  global-hooks/discovery/testdata/modules-images-tags/external-modules/997-test-local/images_tags.json
  global-hooks/discovery/testdata/modules-images-tags/external-modules/998-test-empty
  global-hooks/discovery/testdata/modules-images-tags/external-modules/999-test-test
  werf.yaml
Labels: area/cluster-and-infrastructure, area/3rd-party-modules

#3729 Changelog v1.43.2
  CHANGELOG/CHANGELOG-v1.43.2.yml
  CHANGELOG/CHANGELOG-v1.43.md
Labels: changelog, auto, status/backport

#3742 Backport: Changelog v1.43.2
  CHANGELOG/CHANGELOG-v1.43.2.yml
  CHANGELOG/CHANGELOG-v1.43.md
Labels: auto, backported

#3738 [flow-schema] fix apiversion for k8s < 1.23
  modules/010-flow-schema/template_tests/module_test.go
  modules/010-flow-schema/templates/flowschema.yaml
  modules/010-flow-schema/templates/monitoring.yaml
  modules/010-flow-schema/templates/prioritylevelconfiguration.yaml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/flow-schema.yaml
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.21

#3747 [global-hooks] fix modules_images_tags hook
  global-hooks/discovery/modules_images_tags.go
Labels: area/cluster-and-infrastructure, e2e/run/aws

#3748 [docs] Fix typo
  modules/045-snapshot-controller/docs/README.md
Labels: area/docs, skip/documentation-validation, status/backport

#3744 [flow-schema] module serial number change
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  modules/011-flow-schema/.helmignore
  modules/011-flow-schema/.namespace
  modules/011-flow-schema/Chart.yaml
  modules/011-flow-schema/charts/helm_lib
  modules/011-flow-schema/docs/CONFIGURATION.md
  modules/011-flow-schema/docs/CONFIGURATION_RU.md
  modules/011-flow-schema/docs/FAQ.md
  modules/011-flow-schema/docs/FAQ_RU.md
  modules/011-flow-schema/docs/README.md
  modules/011-flow-schema/docs/README_RU.md
  modules/011-flow-schema/enabled
  modules/011-flow-schema/hooks/common_test.go
  modules/011-flow-schema/hooks/discover_d8_ns.go
  modules/011-flow-schema/hooks/discover_d8_ns_test.go
  modules/011-flow-schema/monitoring/prometheus-rules/flow-schema.yaml
  modules/011-flow-schema/openapi/config-values.yaml
  modules/011-flow-schema/openapi/openapi-case-tests.yaml
  modules/011-flow-schema/openapi/values.yaml
  modules/011-flow-schema/template_tests/module_test.go
  modules/011-flow-schema/templates/flowschema.yaml
  modules/011-flow-schema/templates/monitoring.yaml
  modules/011-flow-schema/templates/prioritylevelconfiguration.yaml
  testing/matrix/linter/rules/modules/oss.go
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.21

#3721 [cloud-provider-vsphere] Set "use-csinode-id" feature flag
  ee/modules/030-cloud-provider-vsphere/templates/csi/cm.yaml
Labels: area/cloud-provider, type/bug, e2e/use/cri/containerd, e2e/use/k8s/1.23

#2496 Add disableAutoDiscovery option to okmeter module
  modules/500-okmeter/openapi/config-values.yaml
  modules/500-okmeter/openapi/doc-ru-config-values.yaml
  modules/500-okmeter/templates/daemonset.yaml
Labels: area/monitoring, status/ok-to-test, Stale

#3685 [extended-monitoring] Fixed keychain panic in IAE
  modules/340-extended-monitoring/images/image-availability-exporter/Dockerfile
Labels: area/monitoring, type/bug, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3733 [ceph-csi] Added a small clarification to the migration docs
  modules/099-ceph-csi/docs/internal/INTREE_MIGRATION.md
Labels: skip/documentation-validation, skip/e2e

#3758 [cloud-provider-gcp] Fix broken links
  modules/030-cloud-provider-gcp/docs/README.md
  modules/030-cloud-provider-gcp/docs/README_RU.md
  modules/101-cert-manager/docs/FAQ.md
  modules/101-cert-manager/docs/FAQ_RU.md
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
Labels: area/docs

#3761 [log-shipper] Index template example for Elasticsearch
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
Labels: skip/e2e, area/logs

#3764 [docs][node-manager] Add info about node types
  candi/openapi/node_group.yaml
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: area/docs, skip/documentation-validation, status/backport

#3765 Backport: [docs][node-manager] Add info about node types
  candi/openapi/node_group.yaml
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: auto, backported

#3766 [node-manager] Actualizing cri in readme
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: area/docs, status/backport

#3768 Backport: [node-manager] Actualizing cri in readme
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: auto, backported

#3767 [extended-monitoring] Bump events exporter
  modules/340-extended-monitoring/images/events-exporter/Dockerfile
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
Labels: source/internal-client, skip/e2e, area/logs

#3746 [istio] iptables-wrapper fix
  ee/modules/110-istio/images/proxyv2-v1x12x6/iptables-wrapper-installer.sh
  ee/modules/110-istio/images/proxyv2-v1x13x7/iptables-wrapper-installer.sh
Labels: status/backport

#3780 Backport: [istio] iptables-wrapper fix
  ee/modules/110-istio/images/proxyv2-v1x12x6/iptables-wrapper-installer.sh
  ee/modules/110-istio/images/proxyv2-v1x13x7/iptables-wrapper-installer.sh
Labels: auto, backported

#3693 [log-shipper] Bump librdkafka
  candi/image_versions.yml
  modules/460-log-shipper/images/vector/Dockerfile
Labels: source/external-client, area/logs, e2e/cluster/failed

#3589 [node-manager] Fixed Yandex preemptible hook
  go_lib/set/set.go
  modules/040-node-manager/hooks/yc_delete_preemptible_instances.go
  modules/040-node-manager/hooks/yc_delete_preemptible_instances_test.go
Labels: area/cloud-provider, type/bug, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3781 [docs][virtualization] Minor OpenAPI schema fix
  modules/490-virtualization/openapi/config-values.yaml
  modules/490-virtualization/openapi/doc-ru-config-values.yaml
Labels: area/docs, status/backport

#3784 Backport: [docs][virtualization] Minor OpenAPI schema fix
  modules/490-virtualization/openapi/config-values.yaml
  modules/490-virtualization/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#3786 [site] Update the style of resource parameters
  docs/site/css/components/_resources.scss
Labels: area/docs, status/backport

#3787 Backport: [site] Update the style of resource parameters
  docs/site/css/components/_resources.scss
Labels: auto, backported

#3778 [docs] Fix small typos
  docs/documentation/pages/internal/DEVELOPMENT.md
  modules/150-user-authn/docs/README_RU.md
Labels: area/docs, skip/documentation-validation

#3779 [delivery] Add tmp dir for werf in argocd-repo-server sidecar
  ee/modules/502-delivery/templates/argocd/repo-server/argocd-repo-server-deployment.yaml
Labels: status/backport

#3789 Backport: [delivery] Add tmp dir for werf in argocd-repo-server sidecar
  ee/modules/502-delivery/templates/argocd/repo-server/argocd-repo-server-deployment.yaml
Labels: auto, backported

#3790 Backport: [extended-monitoring] Bump events exporter
  modules/340-extended-monitoring/images/events-exporter/Dockerfile
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
Labels: auto, backported

#3771 [ci] Bump golangci-lint to v1.48.0 (the same as werf.yaml file)
  Makefile
Labels: area/cicd

#3752 Changelog v1.43.3
  CHANGELOG/CHANGELOG-v1.43.3.yml
  CHANGELOG/CHANGELOG-v1.43.md
Labels: changelog, auto, status/backport

#3792 Backport: Changelog v1.43.3
  CHANGELOG/CHANGELOG-v1.43.3.yml
  CHANGELOG/CHANGELOG-v1.43.md
Labels: auto, backported

#3773 [ci] Fix save test results step
  .github/ci_templates/e2e_tests.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: skip/e2e

#3595 [istio] add istio 1.16.2
  ee/modules/110-istio/crds/istio/1.16/crd-all.gen.yaml
  ee/modules/110-istio/crds/istio/1.16/crd-operator.yaml
  ee/modules/110-istio/docs/EXAMPLES.md
  ee/modules/110-istio/docs/EXAMPLES_RU.md
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
  ee/modules/110-istio/docs/internal/DEVELOPMENT_RU.md
  ee/modules/110-istio/docs/internal/istio-grafana-dashboards.sh
  ee/modules/110-istio/images/kiali/Dockerfile
  ee/modules/110-istio/images/kiali/patches/001-fix-fetching-istiod-resource-threholds.patch
  ee/modules/110-istio/images/kiali/patches/README.md
  ee/modules/110-istio/images/operator-v1x16x2/Dockerfile
  ee/modules/110-istio/images/pilot-v1x16x2/Dockerfile
  ee/modules/110-istio/images/proxyv2-v1x16x2/Dockerfile
  ee/modules/110-istio/images/proxyv2-v1x16x2/iptables-wrapper-installer.sh
  ee/modules/110-istio/monitoring/grafana-dashboards/istio/extension.json
  ee/modules/110-istio/monitoring/grafana-dashboards/istio/mesh.json
  ee/modules/110-istio/monitoring/grafana-dashboards/istio/performance.json
  ee/modules/110-istio/monitoring/grafana-dashboards/istio/pilot.json
  ee/modules/110-istio/monitoring/grafana-dashboards/istio/service.json
  ee/modules/110-istio/monitoring/grafana-dashboards/istio/workload.json
  ee/modules/110-istio/openapi/config-values.yaml
  ee/modules/110-istio/openapi/values.yaml
  ee/modules/110-istio/templates/alliance/ingressgateway/daemonset.yaml
  ee/modules/110-istio/templates/ingress-gateway-controller/daemonset.yaml
  ee/modules/110-istio/templates/kiali/deployment.yaml
  ee/modules/110-istio/templates/kiali/rbac-for-us.yaml
  testing/library/images_tags_generated.go
Labels: area/network, skip/documentation-validation

#3772 [candi] Reorder swap disabling steps
  candi/bashible/common-steps/all/001_disable_swap.sh.tpl
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#3800 [ci] Add not commit files
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: skip/e2e

#3804 Backport: [virtualization] vmi-router v2.0
  modules/490-virtualization/hooks/detect_cilium_tunnel.go
  modules/490-virtualization/hooks/detect_cilium_tunnel_test.go
  modules/490-virtualization/images/vmi-router/controllers/vmirouter_controller.go
  modules/490-virtualization/images/vmi-router/go.mod
  modules/490-virtualization/images/vmi-router/go.sum
  modules/490-virtualization/images/vmi-router/main.go
  modules/490-virtualization/openapi/values.yaml
  modules/490-virtualization/template_tests/module_test.go
  modules/490-virtualization/templates/vmi-router/daemonset.yaml
  modules/490-virtualization/templates/vmi-router/rbac-for-us.yaml
Labels: auto, backported

#3805 Backport: [upmeter] Fix smoke-mini StatefulSet rendering when nodes are named as numbers
  modules/500-upmeter/openapi/openapi-case-tests.yaml
  modules/500-upmeter/templates/smoke-mini/statefulsets.yaml
Labels: auto, backported

#3803 Changelog v1.43.4
  CHANGELOG/CHANGELOG-v1.43.4.yml
  CHANGELOG/CHANGELOG-v1.43.md
Labels: changelog, auto, status/backport

#3799 [monitoring] fix node_exporter regex
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
Labels: area/monitoring, e2e/use/k8s/1.23

#3810 [log-shipper] Add links to picture sources
  docs/documentation/images/460-log-shipper/log_shipper_architecture.svg
  docs/documentation/images/460-log-shipper/log_shipper_centralized.png
  docs/documentation/images/460-log-shipper/log_shipper_centralized.svg
  docs/documentation/images/460-log-shipper/log_shipper_distributed.png
  docs/documentation/images/460-log-shipper/log_shipper_distributed.svg
  docs/documentation/images/460-log-shipper/log_shipper_pipeline.png
  docs/documentation/images/460-log-shipper/log_shipper_pipeline.svg
  docs/documentation/images/460-log-shipper/log_shipper_stream.svg
  modules/460-log-shipper/docs/README.md
  modules/460-log-shipper/docs/README_RU.md
Labels: area/logs

#3811 [docs] Update example in the InitConfigration OpenAPI spec
  candi/openapi/init_configuration.yaml
Labels: area/docs, status/backport, skip/e2e

#3813 Backport: [docs] Update example in the InitConfigration OpenAPI spec
  candi/openapi/init_configuration.yaml
Labels: auto, backported

#3809 [log-shipper] New examples for log filters
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
Labels: source/external-client, area/logs

#3777 [go_lib] Getting rid of delete_not_matching_certificate_secret.go hooks
  ee/modules/110-istio/hooks/https/delete_not_matching_certificate_secret.go
  go_lib/hooks/delete_not_matching_certificate_secret/hook.go
  modules/000-common/hooks/delete_not_matching_certificate_secret.go
  modules/000-common/hooks/delete_not_matching_certificate_secret_test.go
  modules/150-user-authn/hooks/https/delete_not_matching_certificate_secret.go
  modules/300-prometheus/hooks/https/delete_not_matching_certificate_secret.go
  modules/500-cilium-hubble/hooks/https/delete_not_matching_certificate_secret.go
  modules/500-dashboard/hooks/https/delete_not_matching_certificate_secret.go
  modules/500-openvpn/hooks/https/delete_not_matching_certificate_secret.go
  modules/500-upmeter/hooks/https/delete_not_matching_certificate_secret.go
  modules/810-deckhouse-web/hooks/https/delete_not_matching_certificate_secret.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#3763 [monitoring-kubernetes] Switching on the DeprecatedDockerContainerRuntime alert
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/generic/cri-version.tpl
Labels: area/monitoring, type/chore

#3505 [global] remove obsolete v1beta1 admissionReviewVersions from different modules
  ee/modules/110-istio/templates/control-plane/mutatingwebhook-global.yaml
  ee/modules/110-istio/templates/control-plane/validatingwebhook-global.yaml
  modules/003-deckhouse-config/templates/deckhouse-config-webhook/webhook-configuration.yaml
  modules/015-admission-policy-engine/templates/validatingwebhookconfiguration.yaml
  modules/042-kube-dns/templates/sts-pods-hosts-appender-webhook/webhook-configuration.yaml
  modules/045-snapshot-controller/templates/snapshot-validation-webhook/webhook.yaml
  modules/101-cert-manager/templates/webhook/mutatingwebhookconfiguration.yaml
  modules/101-cert-manager/templates/webhook/validatingwebhookconfiguration.yaml
  modules/402-ingress-nginx/templates/controller/admission.yaml
Labels: e2e/use/k8s/1.21

#3719 [control-plane-manager][docs] Update documentation about managing K8s versions
  modules/040-control-plane-manager/docs/CONFIGURATION.md
  modules/040-control-plane-manager/docs/CONFIGURATION_RU.md
  modules/040-control-plane-manager/docs/README.md
  modules/040-control-plane-manager/docs/README_RU.md
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
Labels: area/docs, skip/documentation-validation, status/backport, skip/e2e

#3816 Backport: [control-plane-manager][docs] Update documentation about managing K8s versions
  modules/040-control-plane-manager/docs/CONFIGURATION.md
  modules/040-control-plane-manager/docs/CONFIGURATION_RU.md
  modules/040-control-plane-manager/docs/README.md
  modules/040-control-plane-manager/docs/README_RU.md
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#3817 [docs] Add the link to the global storageClass
  ee/modules/450-network-gateway/openapi/config-values.yaml
  ee/modules/450-network-gateway/openapi/doc-ru-config-values.yaml
  ee/modules/502-delivery/openapi/config-values.yaml
  ee/modules/502-delivery/openapi/doc-ru-config-values.yaml
  modules/300-prometheus/openapi/config-values.yaml
  modules/300-prometheus/openapi/doc-ru-config-values.yaml
  modules/500-upmeter/openapi/config-values.yaml
  modules/500-upmeter/openapi/doc-ru-config-values.yaml
Labels: area/docs, skip/e2e

#3822 [virtualization] Fix panic when creating empty disks
  modules/490-virtualization/hooks/disk_handler.go
  modules/490-virtualization/hooks/disk_handler_test.go
Labels: status/backport, skip/e2e

#3824 Backport: [virtualization] Fix panic when creating empty disks
  modules/490-virtualization/hooks/disk_handler.go
  modules/490-virtualization/hooks/disk_handler_test.go
Labels: auto, backported

#3523 Python runtime
  .gitignore
  modules/002-deckhouse/images/webhook-handler/werf.inc.yaml
  python_lib/sitecustomize.py
  werf.yaml
Labels: e2e/use/cri/containerd, e2e/cluster/failed, area/3rd-party-modules

#3818 [site] Update the sidebar generator to fix tooltip
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/_includes/sidebar_entry.html
Labels: area/docs, skip/e2e

#3825 Backport: [site] Update the sidebar generator to fix tooltip
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/_includes/sidebar_entry.html
Labels: auto, backported

#3826 [python_lib] Fix external module path discovery: rely on Chart.yaml
  python_lib/sitecustomize.py
Labels: area/3rd-party-modules

#3815 [snapshot-controller][containerized-data-importer] fix trace output in enabled scripts
  modules/045-snapshot-controller/enabled
  modules/491-containerized-data-importer/enabled
Labels: status/backport

#3838 Backport: [snapshot-controller][containerized-data-importer] fix trace output in enabled scripts
  modules/045-snapshot-controller/enabled
  modules/491-containerized-data-importer/enabled
Labels: auto, backported

#3149 [log-shipper] Alert if log-shipper cannot send logs to destination
  modules/460-log-shipper/monitoring/prometheus-rules/log-shipper-agent.yaml
  modules/460-log-shipper/templates/podmonitor.yaml
Labels: area/monitoring, skip/e2e, area/logs

#3798 [monitoring-deckhouse] fix: remove confusing alert ModuleConfigHasObsoleteVersion
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/obsolete-module-config.yaml
Labels: area/monitoring, status/backport

#3840 Backport: [monitoring-deckhouse] fix: remove confusing alert ModuleConfigHasObsoleteVersion
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/obsolete-module-config.yaml
Labels: auto, backported

#3843 [cloud-provider-yandex] Minor updates
  candi/cloud-providers/yandex/docs/LAYOUTS.md
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
  docs/documentation/images/030-cloud-provider-yandex/layout-standard.png
  docs/documentation/images/030-cloud-provider-yandex/layout-withnatinstance.png
  docs/documentation/images/030-cloud-provider-yandex/layout-withoutnat.png
Labels: area/docs, status/backport, skip/e2e

#3844 Backport: [cloud-provider-yandex] Minor updates
  candi/cloud-providers/yandex/docs/LAYOUTS.md
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
  docs/documentation/images/030-cloud-provider-yandex/layout-standard.png
  docs/documentation/images/030-cloud-provider-yandex/layout-withnatinstance.png
  docs/documentation/images/030-cloud-provider-yandex/layout-withoutnat.png
Labels: auto, backported

#3845 Backport: [cloud-provider-yandex] Minor updates
  candi/cloud-providers/yandex/docs/LAYOUTS.md
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
  docs/documentation/images/030-cloud-provider-yandex/layout-standard.png
  docs/documentation/images/030-cloud-provider-yandex/layout-withnatinstance.png
  docs/documentation/images/030-cloud-provider-yandex/layout-withoutnat.png
Labels: auto, backported

#3829 [site] Add button on the substitution page
  docs/site/pages/substitution_ru.html
Labels: area/docs, skip/e2e

#3849 Backport: [cni-cilium] reuse route mtu for interfaces
  modules/021-cni-cilium/images/cilium/Dockerfile
  modules/021-cni-cilium/images/cilium/patches/003-mtu.patch
  modules/021-cni-cilium/images/cilium/patches/README.md
Labels: auto, backported

#3796 [linstor] Fix D8LinstorControllerTargetDown alert
  modules/041-linstor/monitoring/prometheus-rules/linstor-controller.yaml
Labels: area/monitoring, e2e/use/cri/containerd, status/backport, area/storage, e2e/use/k8s/1.23, e2e/cluster/failed

#3853 Backport: [linstor] Fix D8LinstorControllerTargetDown alert
  modules/041-linstor/monitoring/prometheus-rules/linstor-controller.yaml
Labels: auto, backported

#3854 Backport: [linstor] Fix D8LinstorControllerTargetDown alert
  modules/041-linstor/monitoring/prometheus-rules/linstor-controller.yaml
Labels: auto, backported

#3850 [linstor] Update docs
  modules/041-linstor/docs/CONFIGURATION.md
  modules/041-linstor/docs/CONFIGURATION_RU.md
Labels: area/docs, status/backport, skip/e2e

#3855 Backport: [linstor] Update docs
  modules/041-linstor/docs/CONFIGURATION.md
  modules/041-linstor/docs/CONFIGURATION_RU.md
Labels: auto, backported

#3847 [docs] Update the sidebar structure
  docs/documentation/_data/sidebars/main.yml
  ee/modules/650-runtime-audit-engine/docs/FAQ.md
  ee/modules/650-runtime-audit-engine/docs/FAQ_RU.md
  modules/050-network-policy-engine/docs/README.md
  modules/050-network-policy-engine/docs/README_RU.md
Labels: area/docs, skip/e2e

#3852 [virtualization] Allow to specify affinity and topologySpreadConstraints
  modules/490-virtualization/crds/doc-ru-virtualmachines.yaml
  modules/490-virtualization/crds/virtualmachines.yaml
  modules/490-virtualization/hooks/internal/v1alpha1/virtualmachine_types.go
  modules/490-virtualization/hooks/internal/v1alpha1/zz_generated.deepcopy.go
  modules/490-virtualization/hooks/vm_handler.go
Labels: area/virtualization

#3857 [cni-cilium] Fix link on upstream patch
  modules/021-cni-cilium/images/cilium/patches/README.md
Labels: area/docs

#3812 Changelog v1.43.5
  CHANGELOG/CHANGELOG-v1.43.5.yml
  CHANGELOG/CHANGELOG-v1.43.md
Labels: changelog, auto, status/backport

#3859 Backport: Changelog v1.43.5
  CHANGELOG/CHANGELOG-v1.43.5.yml
  CHANGELOG/CHANGELOG-v1.43.md
Labels: auto, backported

#3860 Backport: [cni-cilium] Fix link on upstream patch
  modules/021-cni-cilium/images/cilium/patches/README.md
Labels: auto, backported

#3837 [cni-cilium] bump cilium version to v1.11.13
  modules/021-cni-cilium/images/cilium/Dockerfile
  modules/021-cni-cilium/images/cilium/cni-version.sh
  modules/021-cni-cilium/images/cilium/configure-iptables-wrapper.sh
  modules/021-cni-cilium/images/cilium/iptables-wrapper
  modules/021-cni-cilium/images/cilium/iptables-wrapper-installer.sh
  modules/021-cni-cilium/images/cilium/patches/001-customer-annotations.patch
  modules/021-cni-cilium/images/cilium/patches/001-netfilter-compatibility-mode.patch
  modules/021-cni-cilium/images/cilium/patches/002-mtu.patch
  modules/021-cni-cilium/images/cilium/patches/README.md
  modules/021-cni-cilium/images/operator/Dockerfile
Labels: area/network, e2e/use/k8s/1.23

#3711 [prometheus] Add individual nodeSelector and toleration settings for longterm
  docs/documentation/pages/DECKHOUSE_CONFIGURE.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_RU.md
  docs/documentation/pages/internal/DEVELOPMENT.md
  modules/300-prometheus/openapi/config-values.yaml
  modules/300-prometheus/openapi/doc-ru-config-values.yaml
  modules/300-prometheus/template_tests/secret_datasources_list_test.go
  modules/300-prometheus/template_tests/tolerations_and_nodeselectors_longterm_test.go
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
Labels: area/monitoring, skip/documentation-validation, e2e/use/cri/containerd, status/ok-to-test, e2e/use/k8s/1.23

#3757 [operator-prometheus] Bump Prometheus operator to v0.62.0
  modules/010-operator-prometheus-crd/crds/alertmanager-config.yaml
  modules/010-operator-prometheus-crd/crds/alertmanager.yaml
  modules/010-operator-prometheus-crd/crds/pod-monitor.yaml
  modules/010-operator-prometheus-crd/crds/probe.yaml
  modules/010-operator-prometheus-crd/crds/prometheus-rule.yaml
  modules/010-operator-prometheus-crd/crds/prometheus.yaml
  modules/010-operator-prometheus-crd/crds/service-monitor.yaml
  modules/010-operator-prometheus-crd/crds/thanos-ruler.yaml
  modules/010-prometheus-crd/crds/customalertmanager.yaml
  modules/010-prometheus-crd/crds/doc-ru-customalertmanager.yaml
  modules/200-operator-prometheus/images/prometheus-config-reloader/Dockerfile
  modules/200-operator-prometheus/images/prometheus-operator/Dockerfile
  modules/200-operator-prometheus/images/prometheus-operator/patches/README.md
  modules/200-operator-prometheus/images/prometheus-operator/patches/scrape-timestamp-align.patch
  modules/300-prometheus/docs/USAGE.md
  modules/300-prometheus/docs/USAGE_RU.md
  modules/300-prometheus/images/alertmanager/Dockerfile
  modules/300-prometheus/images/alertmanager/README.md
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring, skip/documentation-validation, e2e/use/cri/containerd, status/ok-to-test, e2e/use/k8s/1.23

#3846 [prometheus-metrics-adapter] Relative CPU metrics query interval
  modules/301-prometheus-metrics-adapter/templates/config-map.yaml
Labels: area/monitoring

#3866 Changelog v1.43.5
  CHANGELOG/CHANGELOG-v1.43.5.yml
Labels: changelog, auto, status/backport

#3867 Backport: Changelog v1.43.5
  CHANGELOG/CHANGELOG-v1.43.5.yml
Labels: auto, backported

#3868 Backport: [virtualization] Fix routes in host-gw mode
  modules/490-virtualization/images/vmi-router/controllers/vmirouter_controller.go
Labels: auto, backported

#3870 [cni-cilium] bump cilium version to v1.11.14
  modules/021-cni-cilium/images/cilium/Dockerfile
  modules/021-cni-cilium/images/operator/Dockerfile
Labels: area/network, e2e/use/k8s/1.23

#3871 [docs] Update docs to use the module configuration method everywhere
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  ee/modules/030-cloud-provider-openstack/docs/EXAMPLES.md
  ee/modules/030-cloud-provider-openstack/docs/EXAMPLES_RU.md
  ee/modules/030-cloud-provider-vsphere/docs/EXAMPLES.md
  ee/modules/030-cloud-provider-vsphere/docs/EXAMPLES_RU.md
  ee/modules/380-metallb/docs/EXAMPLES.md
  ee/modules/380-metallb/docs/EXAMPLES_RU.md
  ee/modules/600-flant-integration/docs/CONFIGURATION.md
  ee/modules/600-flant-integration/docs/CONFIGURATION_RU.md
  modules/002-deckhouse/docs/USAGE.md
  modules/002-deckhouse/docs/USAGE_RU.md
  modules/030-cloud-provider-azure/docs/CONFIGURATION.md
  modules/030-cloud-provider-azure/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-yandex/docs/EXAMPLES.md
  modules/030-cloud-provider-yandex/docs/EXAMPLES_RU.md
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/042-kube-dns/docs/EXAMPLES.md
  modules/042-kube-dns/docs/EXAMPLES_RU.md
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
  modules/300-prometheus/docs/USAGE.md
  modules/300-prometheus/docs/USAGE_RU.md
  modules/302-vertical-pod-autoscaler/docs/EXAMPLES.md
  modules/302-vertical-pod-autoscaler/docs/EXAMPLES_RU.md
  modules/303-prometheus-pushgateway/docs/EXAMPLES.md
  modules/303-prometheus-pushgateway/docs/EXAMPLES_RU.md
  modules/400-descheduler/docs/EXAMPLES.md
  modules/400-descheduler/docs/EXAMPLES_RU.md
  modules/500-dashboard/docs/EXAMPLES.md
  modules/500-dashboard/docs/EXAMPLES_RU.md
  modules/500-okmeter/docs/EXAMPLES.md
  modules/500-okmeter/docs/EXAMPLES_RU.md
  modules/500-openvpn/docs/EXAMPLES.md
  modules/500-openvpn/docs/EXAMPLES_RU.md
  modules/600-namespace-configurator/docs/EXAMPLES.md
  modules/600-namespace-configurator/docs/EXAMPLES_RU.md
  modules/810-deckhouse-web/docs/EXAMPLES.md
  modules/810-deckhouse-web/docs/EXAMPLES_RU.md
Labels: area/docs, status/backport

#3874 Backport: [docs] Update docs to use the module configuration method everywhere
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  ee/modules/030-cloud-provider-openstack/docs/EXAMPLES.md
  ee/modules/030-cloud-provider-openstack/docs/EXAMPLES_RU.md
  ee/modules/030-cloud-provider-vsphere/docs/EXAMPLES.md
  ee/modules/030-cloud-provider-vsphere/docs/EXAMPLES_RU.md
  ee/modules/380-metallb/docs/EXAMPLES.md
  ee/modules/380-metallb/docs/EXAMPLES_RU.md
  ee/modules/600-flant-integration/docs/CONFIGURATION.md
  ee/modules/600-flant-integration/docs/CONFIGURATION_RU.md
  modules/002-deckhouse/docs/USAGE.md
  modules/002-deckhouse/docs/USAGE_RU.md
  modules/030-cloud-provider-azure/docs/CONFIGURATION.md
  modules/030-cloud-provider-azure/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-yandex/docs/EXAMPLES.md
  modules/030-cloud-provider-yandex/docs/EXAMPLES_RU.md
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/042-kube-dns/docs/EXAMPLES.md
  modules/042-kube-dns/docs/EXAMPLES_RU.md
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
  modules/300-prometheus/docs/USAGE.md
  modules/300-prometheus/docs/USAGE_RU.md
  modules/302-vertical-pod-autoscaler/docs/EXAMPLES.md
  modules/302-vertical-pod-autoscaler/docs/EXAMPLES_RU.md
  modules/303-prometheus-pushgateway/docs/EXAMPLES.md
  modules/303-prometheus-pushgateway/docs/EXAMPLES_RU.md
  modules/400-descheduler/docs/EXAMPLES.md
  modules/400-descheduler/docs/EXAMPLES_RU.md
  modules/500-dashboard/docs/EXAMPLES.md
  modules/500-dashboard/docs/EXAMPLES_RU.md
  modules/500-okmeter/docs/EXAMPLES.md
  modules/500-okmeter/docs/EXAMPLES_RU.md
  modules/500-openvpn/docs/EXAMPLES.md
  modules/500-openvpn/docs/EXAMPLES_RU.md
  modules/600-namespace-configurator/docs/EXAMPLES.md
  modules/600-namespace-configurator/docs/EXAMPLES_RU.md
  modules/810-deckhouse-web/docs/EXAMPLES.md
  modules/810-deckhouse-web/docs/EXAMPLES_RU.md
Labels: auto, backported

#3875 Backport: [docs] Update docs to use the module configuration method everywhere
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  ee/modules/030-cloud-provider-openstack/docs/EXAMPLES.md
  ee/modules/030-cloud-provider-openstack/docs/EXAMPLES_RU.md
  ee/modules/030-cloud-provider-vsphere/docs/EXAMPLES.md
  ee/modules/030-cloud-provider-vsphere/docs/EXAMPLES_RU.md
  ee/modules/380-metallb/docs/EXAMPLES.md
  ee/modules/380-metallb/docs/EXAMPLES_RU.md
  ee/modules/600-flant-integration/docs/CONFIGURATION.md
  ee/modules/600-flant-integration/docs/CONFIGURATION_RU.md
  modules/002-deckhouse/docs/USAGE.md
  modules/002-deckhouse/docs/USAGE_RU.md
  modules/030-cloud-provider-azure/docs/CONFIGURATION.md
  modules/030-cloud-provider-azure/docs/CONFIGURATION_RU.md
  modules/030-cloud-provider-yandex/docs/EXAMPLES.md
  modules/030-cloud-provider-yandex/docs/EXAMPLES_RU.md
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/042-kube-dns/docs/EXAMPLES.md
  modules/042-kube-dns/docs/EXAMPLES_RU.md
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
  modules/300-prometheus/docs/USAGE.md
  modules/300-prometheus/docs/USAGE_RU.md
  modules/302-vertical-pod-autoscaler/docs/EXAMPLES.md
  modules/302-vertical-pod-autoscaler/docs/EXAMPLES_RU.md
  modules/303-prometheus-pushgateway/docs/EXAMPLES.md
  modules/303-prometheus-pushgateway/docs/EXAMPLES_RU.md
  modules/400-descheduler/docs/EXAMPLES.md
  modules/400-descheduler/docs/EXAMPLES_RU.md
  modules/500-dashboard/docs/EXAMPLES.md
  modules/500-dashboard/docs/EXAMPLES_RU.md
  modules/500-okmeter/docs/EXAMPLES.md
  modules/500-okmeter/docs/EXAMPLES_RU.md
  modules/500-openvpn/docs/EXAMPLES.md
  modules/500-openvpn/docs/EXAMPLES_RU.md
  modules/600-namespace-configurator/docs/EXAMPLES.md
  modules/600-namespace-configurator/docs/EXAMPLES_RU.md
  modules/810-deckhouse-web/docs/EXAMPLES.md
  modules/810-deckhouse-web/docs/EXAMPLES_RU.md
Labels: auto, backported

#3819 [ingress-nginx][docs] Add link to the controllerVersion parameter
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
Labels: area/docs, status/ok-to-test, status/backport

#3881 [docs] Update Alpine Linux logo URL
  modules/000-common/oss.yaml
Labels: area/docs, status/backport, skip/e2e

#3882 Backport: [docs] Update Alpine Linux logo URL
  modules/000-common/oss.yaml
Labels: auto, backported

#3883 Backport: [docs] Update Alpine Linux logo URL
  modules/000-common/oss.yaml
Labels: auto, backported

#3880 [docs][gs] Use the Standard layout in the Yandex Cloud provider
  docs/site/_data/getting_started/data.yaml
  docs/site/_includes/getting_started/yandex/layouts/STANDARD.md
  docs/site/_includes/getting_started/yandex/layouts/STANDARD_RU.md
  docs/site/_includes/getting_started/yandex/layouts/WITHOUT_NAT.md
  docs/site/_includes/getting_started/yandex/layouts/WITHOUT_NAT_RU.md
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.ee.inc
Labels: area/docs, skip/e2e

#3884 [site] Updated report files
  docs/site/reports/pci_ssc_reports_files/Deckhouse_PCI_SSC_requirements.pdf
  docs/site/reports/pci_ssc_reports_files/Deckhouse_PCI_SSC_requirements_ru.pdf
Labels: area/docs, skip/e2e

#3876 [virtualization] vmi-router: disable metrics by default
  modules/490-virtualization/images/vmi-router/main.go
Labels: status/backport, skip/e2e

#3885 Backport: [virtualization] vmi-router: disable metrics by default
  modules/490-virtualization/images/vmi-router/main.go
Labels: auto, backported

#3886 [admission-policy-engine] fix pdb
  modules/015-admission-policy-engine/templates/audit-deployment.yaml
  modules/015-admission-policy-engine/templates/gatekeeper-deployment.yaml
Labels: status/backport, skip/e2e

#3888 Backport: [admission-policy-engine] fix pdb
  modules/015-admission-policy-engine/templates/audit-deployment.yaml
  modules/015-admission-policy-engine/templates/gatekeeper-deployment.yaml
Labels: auto, backported

#3887 [cni-cilium] Preserve default tunnel port 8472 for virtualization workloads
  modules/021-cni-cilium/templates/configmap.yaml
  modules/490-virtualization/docs/CONFIGURATION.md
  modules/490-virtualization/docs/CONFIGURATION_RU.md
Labels: status/backport, skip/e2e, area/virtualization

#3891 Backport: [cni-cilium] fix vpa resource
  modules/021-cni-cilium/openapi/config-values.yaml
  modules/021-cni-cilium/templates/agent/daemonset.yaml
Labels: auto, backported

#3873 Changelog v1.43.6
  CHANGELOG/CHANGELOG-v1.43.6.yml
  CHANGELOG/CHANGELOG-v1.43.md
Labels: changelog, auto, status/backport

#3892 Backport: Changelog v1.43.6
  CHANGELOG/CHANGELOG-v1.43.6.yml
  CHANGELOG/CHANGELOG-v1.43.md
Labels: auto, backported

#3629 [external-modules] External module manager
  candi/bashible/common-steps/all/095_create_external_modules_directory.sh.tpl
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  deckhouse-controller/entrypoint.sh
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  go.mod
  go.sum
  go_lib/deckhouse-config/service.go
  go_lib/dependency/cr/cr.go
  go_lib/dependency/cr/cr_mock.go
  modules/002-deckhouse/templates/deployment.yaml
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.mod
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.sum
  modules/003-deckhouse-config/templates/deckhouse-config-webhook/deployment.yaml
  modules/005-external-module-manager/.helmignore
  modules/005-external-module-manager/.namespace
  modules/005-external-module-manager/Chart.yaml
  modules/005-external-module-manager/charts/helm_lib
  modules/005-external-module-manager/crds/doc-ru-external-module-release.yaml
  modules/005-external-module-manager/crds/doc-ru-external-module-source.yaml
  modules/005-external-module-manager/crds/external-module-release.yaml
  modules/005-external-module-manager/crds/external-module-source.yaml
  modules/005-external-module-manager/hooks/apply_release.go
  modules/005-external-module-manager/hooks/cleanup_releases.go
  modules/005-external-module-manager/hooks/cleanup_releases_test.go
  modules/005-external-module-manager/hooks/common_test.go
  modules/005-external-module-manager/hooks/ensure_crds.go
  modules/005-external-module-manager/hooks/handle_sources.go
  modules/005-external-module-manager/hooks/handle_sources_test.go
  modules/005-external-module-manager/hooks/internal/apis/v1alpha1/release.go
  modules/005-external-module-manager/hooks/internal/apis/v1alpha1/source.go
  modules/005-external-module-manager/openapi/config-values.yaml
  modules/005-external-module-manager/openapi/doc-ru-config-values.yaml
  modules/005-external-module-manager/openapi/openapi-case-tests.yaml
  modules/005-external-module-manager/openapi/values.yaml
  modules/040-node-manager/hooks/machineclass_checksum_assign.go
  modules/040-node-manager/hooks/machineclass_checksum_assign_test.go
  modules/values-default.yaml
  modules/values-managed.yaml
  testing/matrix/linter/rules/modules/modules.go
  testing/matrix/linter/rules/modules/oss.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23, skip/e2e, area/3rd-party-modules

#3710 [istio] fix dataplane upgrade
  ee/modules/110-istio/docs/EXAMPLES.md
  ee/modules/110-istio/docs/EXAMPLES_RU.md
  ee/modules/110-istio/docs/README.md
  ee/modules/110-istio/docs/README_RU.md
  ee/modules/110-istio/hooks/dataplane_handler.go
  ee/modules/110-istio/hooks/dataplane_handler_test.go
  ee/modules/110-istio/hooks/discovery_istiod_health.go
  ee/modules/110-istio/hooks/discovery_istiod_health_test.go
  ee/modules/110-istio/hooks/discovery_versions.go
  ee/modules/110-istio/hooks/discovery_versions_test.go
  ee/modules/110-istio/hooks/internal/istio_versions/istio_versions.go
  ee/modules/110-istio/monitoring/prometheus-rules/dataplane.yaml
  ee/modules/110-istio/openapi/values.yaml
  ee/modules/110-istio/templates/control-plane/mutatingwebhook-global.yaml
Labels: area/docs

#3902 [docs] Improve search by module name.
  docs/documentation/_includes/search.liquid
  docs/documentation/_plugins/custom_hooks.rb
  docs/documentation/js/search.js
Labels: area/docs, status/backport, skip/e2e

#3904 Backport: [docs] Improve search by module name.
  docs/documentation/_includes/search.liquid
  docs/documentation/_plugins/custom_hooks.rb
  docs/documentation/js/search.js
Labels: auto, backported

#3820 [openvpn] Setup HA for openvpn module
  modules/500-openvpn/openapi/config-values.yaml
  modules/500-openvpn/openapi/doc-ru-config-values.yaml
  modules/500-openvpn/templates/openvpn/statefulset.yaml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.21

#3911 Backport: [cni-cilium] exclude vmCIDRs from SNAT
  modules/021-cni-cilium/hooks/set_vm_cidrs.go
  modules/021-cni-cilium/hooks/set_vm_cidrs_test.go
  modules/021-cni-cilium/openapi/values.yaml
  modules/021-cni-cilium/templates/agent/daemonset.yaml
  modules/021-cni-cilium/templates/configmap.yaml
  modules/021-cni-cilium/templates/ip-masq-agent/configmap.yaml
Labels: auto, backported

#3903 Changelog v1.43.7
  CHANGELOG/CHANGELOG-v1.43.7.yml
  CHANGELOG/CHANGELOG-v1.43.md
Labels: changelog, auto, status/backport

#3912 Backport: Changelog v1.43.7
  CHANGELOG/CHANGELOG-v1.43.7.yml
  CHANGELOG/CHANGELOG-v1.43.md
Labels: auto, backported

#3916 [flow-schema] Minor documentation updates
  modules/011-flow-schema/docs/FAQ.md
  modules/011-flow-schema/docs/FAQ_RU.md
  modules/011-flow-schema/docs/README.md
  modules/011-flow-schema/docs/README_RU.md
Labels: area/docs, skip/e2e

#3917 [docs] Minor updates
  modules/140-user-authz/docs/README.md
  modules/140-user-authz/docs/README_RU.md
  modules/150-user-authn/docs/README.md
  modules/460-log-shipper/docs/README.md
  modules/460-log-shipper/docs/README_RU.md
Labels: area/docs, skip/documentation-validation, skip/e2e

#3914 [cloud-provider-gcp] update kube-proxy configuration to set listen address to 0.0.0.0/0 when using GCP cloud provider
  modules/021-kube-proxy/images/init-container/nodeport-bind-address.sh
  modules/021-kube-proxy/templates/daemonset.yaml
  modules/030-cloud-provider-gcp/docs/README.md
  modules/030-cloud-provider-gcp/docs/README_RU.md
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.24

#2870 [testing][e2e] IngressNginxController was enabled
  testing/cloud_layouts/AWS/WithoutNAT/resources.yaml
  testing/cloud_layouts/Azure/Standard/resources.yaml
  testing/cloud_layouts/GCP/WithoutNAT/resources.yaml
  testing/cloud_layouts/OpenStack/Standard/resources.yaml
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/resources.yaml
  testing/cloud_layouts/script.d/wait_cluster_ready/info_script.sh
  testing/cloud_layouts/script.d/wait_cluster_ready/test_script.sh
  testing/cloud_layouts/script.sh
  testing/cloud_layouts/vSphere/Standard/resources.yaml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.24

#3920 [cloud-provider-yandex] Fix the EE Layout in the Getting Started
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.ee.inc
Labels: area/docs, skip/e2e

#3919 [testing] fix matrix vpa tests
  modules/460-log-shipper/templates/daemonset.yaml
  testing/matrix/linter/rules/resources/vpa.go
  testing/matrix/linter/rules/rules.go
Labels: area/testing, e2e/use/k8s/1.23

#3922 [getting-started] Minor updates for the bare-metal installation
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
Labels: area/docs

#3925 [virtualization] docs: specify real ssh-key
  modules/490-virtualization/docs/EXAMPLES.md
  modules/490-virtualization/docs/EXAMPLES_RU.md
  modules/490-virtualization/hooks/vm_handler_test.go
Labels: area/docs

#3929 [candi] change containerd version to 1.6.18
  candi/version_map.yml
  ee/candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: type/bug, area/cluster-and-infrastructure, e2e/use/cri/containerd, status/backport, e2e/use/k8s/1.23

#3932 Backport: [candi] change containerd version to 1.6.18
  candi/version_map.yml
  ee/candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: auto, backported

#3931 Changelog v1.43.8
  CHANGELOG/CHANGELOG-v1.43.8.yml
  CHANGELOG/CHANGELOG-v1.43.md
Labels: changelog, auto, status/backport

#3933 Backport: Changelog v1.43.8
  CHANGELOG/CHANGELOG-v1.43.8.yml
  CHANGELOG/CHANGELOG-v1.43.md
Labels: auto, backported

#3921 [control-plane-manager] kubernetes version EOL
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
Labels: skip/e2e

#3749 [openvpn] Use same tunnel network for TCP and UDP openvpn
  modules/500-openvpn/docs/CONFIGURATION.md
  modules/500-openvpn/docs/CONFIGURATION_RU.md
  modules/500-openvpn/openapi/config-values.yaml
  modules/500-openvpn/openapi/doc-ru-config-values.yaml
  modules/500-openvpn/template_tests/copy_custom_certificate_test.go
  modules/500-openvpn/templates/openvpn/configmap.yaml
  modules/500-openvpn/templates/openvpn/statefulset.yaml
Labels: area/security, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3942 [site] Add support of Astra 1.7.3
  docs/documentation/_data/version_map_addition.yml
Labels: area/docs, skip/e2e

#3878 [deckhouse] rename release status
  modules/002-deckhouse/crds/deckhouse-release.yaml
  modules/002-deckhouse/hooks/cleanup_deckhouse_releases.go
  modules/002-deckhouse/hooks/cleanup_deckhouse_releases_test.go
  modules/002-deckhouse/hooks/internal/apis/v1alpha1/deckhouse_release.go
  modules/002-deckhouse/hooks/internal/updater/updater.go
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
Labels: skip/documentation-validation, skip/e2e

#3927 [kube-proxy] fix in kube-proxy DS template for static clusters
  modules/021-kube-proxy/templates/daemonset.yaml
Labels: e2e/use/k8s/1.23

#3900 [admission-policy-engine] operation policies enforcement action
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/hooks/handle_operation_policies.go
  modules/015-admission-policy-engine/hooks/internal/apis/v1alpha1.go
  modules/015-admission-policy-engine/template_tests/module_test.go
  modules/015-admission-policy-engine/template_tests/operation_policies_test.go
  modules/015-admission-policy-engine/templates/operation-policy/constraint.yaml
Labels: area/security, skip/e2e

#3940 [admission-policy-engine] Change recommended imagePullPolicy to Always
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
  modules/015-admission-policy-engine/templates/operation-policy/constraint.yaml
Labels: area/security, area/docs, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3926 [user-authn] Robots.txt
  modules/150-user-authn/images/dex/Dockerfile
  modules/150-user-authn/images/dex/patches/README.md
  modules/150-user-authn/images/dex/patches/robots-txt.patch
Labels: area/auth

#3901 [admission-policy-engine] OperationPolicy monitoring
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/gatekeeper/constraints.go
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/gatekeeper/metrics.go
  modules/015-admission-policy-engine/monitoring/prometheus-rules/audit.yaml
Labels: skip/e2e

#3865 [e2e] Use hardened kernel by astra for Static cluster tests
  testing/cloud_layouts/Static/infra.tpl.tf
  testing/cloud_layouts/Static/instance-bootstrap.sh
  testing/cloud_layouts/script.sh
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.25
