Repository deckhouse/deckhouse, pull requests merged in 2023-04, with the labels that each got.

#4273 [docs][runtime-audit-engine] Fix typo
  ee/modules/650-runtime-audit-engine/docs/FAQ.md
  ee/modules/650-runtime-audit-engine/docs/FAQ_RU.md
Labels: area/docs, status/ok-to-test, status/backport

#4280 [docs] add another kube-rbac-proxy example
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
Labels: area/docs, status/backport, skip/e2e

#4287 Backport: [docs] add kube-rbac-proxy usage example
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
Labels: auto, backported

#4288 Backport: [docs] add another kube-rbac-proxy example
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
Labels: auto, backported

#4250 [node-manager] Fix WaitingForDisruptiveApproval status calculating
  modules/040-node-manager/hooks/internal/conditions/calculate.go
  modules/040-node-manager/hooks/update_node_group_status_test.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.26, skip/e2e

#4289 [control-plane-manager] Update _authn_webhook_config.tpl
  modules/040-control-plane-manager/templates/_authn_webhook_config.tpl
Labels: area/cluster-and-infrastructure

#3691 [grafana] Accelerate-grafana-dashboard-provisioner-hook
  modules/300-prometheus/images/grafana-dashboard-provisioner/Dockerfile
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.py
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.sh
  modules/300-prometheus/images/grafana-dashboard-provisioner/hooks/dashboard_provisioner.yaml
  modules/300-prometheus/images/grafana-dashboard-provisioner/requirements.txt
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#4263 [runtime-audit-engine] add falcoauditrules webhook
  ee/modules/650-runtime-audit-engine/docs/EXAMPLES.md
  ee/modules/650-runtime-audit-engine/docs/EXAMPLES_RU.md
  ee/modules/650-runtime-audit-engine/hooks/cleanup_validating_webhook.go
  ee/modules/650-runtime-audit-engine/hooks/cleanup_validating_webhook_test.go
  ee/modules/650-runtime-audit-engine/hooks/generate_webhook_certs.go
  ee/modules/650-runtime-audit-engine/images/rules-loader/Dockerfile
  ee/modules/650-runtime-audit-engine/images/rules-loader/hooks/lib/__init__.py
  ee/modules/650-runtime-audit-engine/images/rules-loader/hooks/lib/convert.py
  ee/modules/650-runtime-audit-engine/images/rules-loader/hooks/lib/test.py
  ee/modules/650-runtime-audit-engine/images/rules-loader/hooks/rules/hook.py
  ee/modules/650-runtime-audit-engine/images/rules-loader/hooks/webhook/config.yaml
  ee/modules/650-runtime-audit-engine/images/rules-loader/hooks/webhook/webhook.py
  ee/modules/650-runtime-audit-engine/images/rules-loader/requirements.txt
  ee/modules/650-runtime-audit-engine/templates/daemonset.yaml
  ee/modules/650-runtime-audit-engine/templates/rbac-for-us.yaml
  ee/modules/650-runtime-audit-engine/templates/webhook-service.yaml
Labels: area/security, skip/e2e

#4291 Backport: [dhctl] Fix kube proxy does not restart
  dhctl/pkg/operations/converge/infra/hook/controlplane/kube-proxy.go
  dhctl/pkg/operations/destroy/deckhouse.go
  dhctl/pkg/system/ssh/frontend/kube-proxy.go
Labels: auto, backported

#4173 [linstor] add liveness container to check linstor nodes connectivity status
  modules/041-linstor/images/linstor-server/Dockerfile
  modules/041-linstor/images/linstor-server/liveness.sh
  modules/041-linstor/templates/linstor-controller/linstorcontroller.yaml
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23, skip/e2e, area/virtualization

#4293 [deckhouse] Doc: fix module settings translation
  modules/002-deckhouse/openapi/doc-ru-config-values.yaml
Labels: area/docs, status/backport, skip/e2e

#4294 Backport: [deckhouse] Doc: fix module settings translation
  modules/002-deckhouse/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#4048 [monitoring][istio] remove pod and instance labels from D8IstioDeprecatedIstioVersionInstalled alert
  ee/modules/110-istio/monitoring/prometheus-rules/versions.yaml
Labels: area/monitoring

#4256 [cloud-provider-aws] Upgrading terraform provider
  candi/cloud-providers/aws/docs/ENVIRONMENT.md
  candi/cloud-providers/aws/docs/ENVIRONMENT_RU.md
  candi/terraform_versions.yml
Labels: area/cloud-provider, area/cluster-and-infrastructure, e2e/use/k8s/1.25

#4219 [monitoring] fix links deckhouse.io in D8IstioDeprecatedIstioVersio…
  ee/modules/110-istio/monitoring/prometheus-rules/versions.tpl
Labels: area/monitoring, e2e/use/cri/containerd, e2e/use/k8s/1.23

#4296 [site] Update tabs and tabs content on main page
  docs/site/pages/index_ru.html
Labels: area/docs, skip/e2e

#4299 [site] Update version cncf in badge
  docs/site/pages/index.html
  docs/site/pages/index_ru.html
Labels: area/docs, skip/e2e

#3975 [node-manager] Add in rules prometheus 'No need to drain the master'
  modules/040-node-manager/monitoring/prometheus-rules/node-update.yaml
Labels: area/monitoring

#4300 [descheduler] Minor documentation and spec updates
  modules/400-descheduler/crds/deschedulers.yaml
  modules/400-descheduler/crds/doc-ru-deschedulers.yaml
  modules/400-descheduler/docs/CONFIGURATION.md
  modules/400-descheduler/docs/CONFIGURATION_RU.md
Labels: area/docs, skip/e2e

#4284 [cni-cilium] bump cilium and virt-cilium to v1.12.8
  modules/021-cni-cilium/images/cilium/Dockerfile
  modules/021-cni-cilium/images/operator/Dockerfile
  modules/021-cni-cilium/images/virt-cilium/Dockerfile
  modules/021-cni-cilium/images/virt-cilium/build-gops.sh
  modules/021-cni-cilium/images/virt-cilium/cni-version.sh
  modules/021-cni-cilium/images/virt-cilium/download-cni.sh
  modules/021-cni-cilium/images/virt-cilium/install-runtime-deps.sh
  modules/021-cni-cilium/images/virt-cilium/patches/001-request-ip.patch
  modules/021-cni-cilium/images/virt-cilium/patches/002-stable-mac.patch
  modules/021-cni-cilium/images/virt-cilium/patches/003-mtu.patch
  modules/021-cni-cilium/images/virt-cilium/patches/004-fib.patch
  modules/021-cni-cilium/templates/agent/daemonset.yaml
  modules/021-cni-cilium/templates/configmap.yaml
Labels: area/network

#4303 [log-shipper] Fix typo in spec
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
Labels: area/logs

#4304 Revert "Use "extended-monitoring.deckhouse.io/enabled" label (#3797)
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  ee/fe/modules/500-basic-auth/templates/namespace.yaml
  ee/modules/030-cloud-provider-openstack/templates/namespace.yaml
  ee/modules/030-cloud-provider-vsphere/templates/namespace.yaml
  ee/modules/110-istio/templates/ingress-gateway-controller/namespace.yaml
  ee/modules/110-istio/templates/namespace.yaml
  ee/modules/380-metallb/templates/namespace.yaml
  ee/modules/450-keepalived/templates/namespace.yaml
  ee/modules/450-network-gateway/templates/namespace.yaml
  ee/modules/600-flant-integration/templates/namespace.yaml
  modules/002-deckhouse/hooks/enable_extended_monitoring.go
  modules/002-deckhouse/hooks/enable_extended_monitoring_test.go
  modules/002-deckhouse/templates/namespace.yaml
  modules/021-cni-cilium/templates/namespace.yaml
  modules/030-cloud-provider-aws/templates/namespace.yaml
  modules/030-cloud-provider-azure/templates/namespace.yaml
  modules/030-cloud-provider-gcp/templates/namespace.yaml
  modules/030-cloud-provider-yandex/templates/namespace.yaml
  modules/031-local-path-provisioner/templates/namespace.yaml
  modules/035-cni-flannel/templates/namespace.yaml
  modules/035-cni-simple-bridge/templates/namespace.yaml
  modules/040-node-manager/templates/namespace.yaml
  modules/040-node-manager/templates/standby-holder/deployment.yaml
  modules/041-linstor/templates/namespace.yaml
  modules/045-snapshot-controller/templates/namespace.yaml
  modules/101-cert-manager/templates/namespace.yaml
  modules/140-user-authz/templates/namespace.yaml
  modules/150-user-authn/templates/namespace.yaml
  modules/200-operator-prometheus/templates/namespace.yaml
  modules/303-prometheus-pushgateway/templates/namespace.yaml
  modules/340-extended-monitoring/docs/CONFIGURATION.md
  modules/340-extended-monitoring/docs/CONFIGURATION_RU.md
  modules/340-extended-monitoring/docs/README.md
  modules/340-extended-monitoring/docs/README_RU.md
  modules/340-extended-monitoring/hooks/alert_old_annotation.go
  modules/340-extended-monitoring/hooks/alert_old_annotation_test.go
  modules/340-extended-monitoring/hooks/common_test.go
  modules/340-extended-monitoring/images/extended-monitoring-exporter/src/extended-monitoring.py
  modules/340-extended-monitoring/images/image-availability-exporter/Dockerfile
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/deprecated-annotation.yaml
  modules/340-extended-monitoring/templates/image-availability-exporter/deployment.yaml
  modules/340-extended-monitoring/templates/image-availability-exporter/rbac-for-us.yaml
  modules/465-pod-reloader/templates/namespace.yaml
  modules/470-chrony/templates/namespace.yaml
  modules/500-dashboard/templates/namespace.yaml
  modules/500-openvpn/templates/namespace.yaml
  modules/600-namespace-configurator/docs/EXAMPLES.md
  modules/600-namespace-configurator/docs/EXAMPLES_RU.md
  modules/600-namespace-configurator/docs/README.md
  modules/600-namespace-configurator/docs/README_RU.md
  modules/600-namespace-configurator/hooks/handler_test.go
  modules/600-namespace-configurator/openapi/config-values.yaml
  modules/600-namespace-configurator/openapi/doc-ru-config-values.yaml
  modules/600-namespace-configurator/openapi/openapi-case-tests.yaml
Labels: area/monitoring, type/chore, skip/e2e

#4295 [candi] fix in bashible.sh.tpl
  candi/bashible/bashible.sh.tpl
Labels: area/cluster-and-infrastructure

#4307 [log-shipper] Add multiline custom parser for `PodLoggingConfig` and fix startsWhen/endsWhen behavior
  modules/460-log-shipper/crds/cluster-logging-config.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-logging-config.yaml
  modules/460-log-shipper/crds/doc-ru-pod-logging-config.yaml
  modules/460-log-shipper/crds/pod-logging-config.yaml
  modules/460-log-shipper/hooks/generate_config_test.go
  modules/460-log-shipper/hooks/internal/vector/transform/multiline.go
  modules/460-log-shipper/hooks/internal/vector/transform/multiline_test.go
  modules/460-log-shipper/hooks/testdata/multiline-custom-pods/manifests.yaml
  modules/460-log-shipper/hooks/testdata/multiline-custom-pods/result.json
  modules/460-log-shipper/hooks/testdata/multiline-custom/manifests.yaml
  modules/460-log-shipper/hooks/testdata/multiline-custom/result.json
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23, area/logs

#4309 [virtualization] Fix AdmissionReview
  modules/490-virtualization/images/artifact/patches/008-fix-admissionreview.patch
  modules/490-virtualization/images/artifact/patches/README.md
Labels: skip/e2e, area/virtualization

#4305 [user-authn] Custom login screen design
  modules/150-user-authn/images/dex/Dockerfile
  modules/150-user-authn/images/dex/web/robots.txt
  modules/150-user-authn/images/dex/web/static/img/atlassian-crowd-icon.svg
  modules/150-user-authn/images/dex/web/static/img/bitbucket-cloud-icon.svg
  modules/150-user-authn/images/dex/web/static/img/deckhouse-logo-icon.svg
  modules/150-user-authn/images/dex/web/static/img/deckhouse-logo-title.svg
  modules/150-user-authn/images/dex/web/static/img/favicon.png
  modules/150-user-authn/images/dex/web/static/img/flant-logo-en.svg
  modules/150-user-authn/images/dex/web/static/img/flant-logo-ru.svg
  modules/150-user-authn/images/dex/web/static/img/github-icon.svg
  modules/150-user-authn/images/dex/web/static/img/gitlab-icon.svg
  modules/150-user-authn/images/dex/web/static/img/google-icon.svg
  modules/150-user-authn/images/dex/web/static/img/keystone-icon.svg
  modules/150-user-authn/images/dex/web/static/img/ldap-icon.svg
  modules/150-user-authn/images/dex/web/static/img/linkedin-icon.svg
  modules/150-user-authn/images/dex/web/static/img/local-icon.svg
  modules/150-user-authn/images/dex/web/static/img/microsoft-icon.svg
  modules/150-user-authn/images/dex/web/static/img/mockCallback-icon.svg
  modules/150-user-authn/images/dex/web/static/img/next-icon.svg
  modules/150-user-authn/images/dex/web/static/img/oidc-icon.svg
  modules/150-user-authn/images/dex/web/static/img/prev-icon.svg
  modules/150-user-authn/images/dex/web/static/img/saml-icon.svg
  modules/150-user-authn/images/dex/web/static/input.css
  modules/150-user-authn/images/dex/web/static/main.css
  modules/150-user-authn/images/dex/web/static/output.css
  modules/150-user-authn/images/dex/web/static/video/bg.mp4
  modules/150-user-authn/images/dex/web/tailwind.config.js
  modules/150-user-authn/images/dex/web/templates/_check_icon.html
  modules/150-user-authn/images/dex/web/templates/approval.html
  modules/150-user-authn/images/dex/web/templates/device.html
  modules/150-user-authn/images/dex/web/templates/device_success.html
  modules/150-user-authn/images/dex/web/templates/error.html
  modules/150-user-authn/images/dex/web/templates/footer.html
  modules/150-user-authn/images/dex/web/templates/header.html
  modules/150-user-authn/images/dex/web/templates/login.html
  modules/150-user-authn/images/dex/web/templates/oob.html
  modules/150-user-authn/images/dex/web/templates/password.html
  modules/150-user-authn/images/dex/web/themes/dark/favicon.png
  modules/150-user-authn/images/dex/web/themes/dark/logo.png
  modules/150-user-authn/images/dex/web/themes/dark/styles.css
  modules/150-user-authn/images/dex/web/themes/light/favicon.png
  modules/150-user-authn/images/dex/web/themes/light/logo.png
  modules/150-user-authn/images/dex/web/themes/light/styles.css
  modules/150-user-authn/templates/dex/config.yaml
Labels: area/auth, skip/no-cyrillic-validation

#3735 [loki] The new module
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  docs/documentation/_data/sidebars/main.yml
  modules/462-loki/.helmignore
  modules/462-loki/.namespace
  modules/462-loki/Chart.yaml
  modules/462-loki/charts/helm_lib
  modules/462-loki/docs/CONFIGURATION.md
  modules/462-loki/docs/CONFIGURATION_RU.md
  modules/462-loki/docs/EXAMPLES.md
  modules/462-loki/docs/EXAMPLES_RU.md
  modules/462-loki/docs/README.md
  modules/462-loki/docs/README_RU.md
  modules/462-loki/enabled
  modules/462-loki/hooks/common_test.go
  modules/462-loki/hooks/storage_class_change.go
  modules/462-loki/images/loki/Dockerfile
  modules/462-loki/openapi/config-values.yaml
  modules/462-loki/openapi/doc-ru-config-values.yaml
  modules/462-loki/openapi/openapi-case-tests.yaml
  modules/462-loki/openapi/values.yaml
  modules/462-loki/oss.yaml
  modules/462-loki/templates/configmap.yaml
  modules/462-loki/templates/grafana-datasource.yaml
  modules/462-loki/templates/logshipper-log-destination.yaml
  modules/462-loki/templates/pdb.yaml
  modules/462-loki/templates/service.yaml
  modules/462-loki/templates/statefulset.yaml
  testing/library/images_tags_generated.go
Labels: e2e/use/cri/containerd, status/ok-to-test, e2e/use/k8s/1.23, area/logs

#2559 [monitoring-applications] fixes rabbitmq dashboard using job rabbitmq
  ee/fe/modules/340-monitoring-applications/applications/rabbitmq/grafana-dashboards/rabbitmq.json
Labels: area/monitoring, status/ok-to-test

#4316 [candi] Fix altlinux bundle
  candi/bashible/bundles/altlinux/all/034_install_kubelet_and_his_friends.sh.tpl
Labels: type/bug, area/cluster-and-infrastructure, skip/e2e

#4258 [monitoring-custom] Set by default limit 5000
  modules/340-monitoring-custom/docs/README.md
  modules/340-monitoring-custom/docs/README_RU.md
  modules/340-monitoring-custom/templates/pod-monitor.yaml
  modules/340-monitoring-custom/templates/service-monitor.yaml
Labels: area/monitoring, e2e/use/cri/containerd, e2e/use/k8s/1.23

#4297 [site] Update en version security page
  docs/site/pages/security.html
Labels: area/docs, skip/e2e

#4317 [site] Add new tab, mark bolded phrases
  docs/site/pages/index.html
Labels: area/docs, skip/e2e

#4318 [doc] Update the structure schema on the site
  docs/site/images/diagrams/structure-inverse-en.svg
  docs/site/images/diagrams/structure-inverse.svg
  docs/site/images/diagrams/structure.svg
Labels: area/docs, skip/e2e

#4320 [site] Fix content on security page
  docs/site/pages/security.html
Labels: area/docs

#4311 [site] Update content in support table
  docs/site/css/components/_table.scss
  docs/site/pages/enterprise_edition.html
  docs/site/pages/enterprise_edition_ru.html
Labels: area/docs

#4124 [ingress-nginx] migrate to the AdvancedDaemonSet controller
  go.mod
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/402-ingress-nginx/crds/kruise/crd_daemonsets.yaml
  modules/402-ingress-nginx/hooks/ensure_kruise_crds.go
  modules/402-ingress-nginx/hooks/migrate_daemonset.go
  modules/402-ingress-nginx/hooks/safe_daemonset_update.go
  modules/402-ingress-nginx/hooks/safe_daemonset_update_test.go
  modules/402-ingress-nginx/images/kruise/Dockerfile
  modules/402-ingress-nginx/images/kruise/patches/README.md
  modules/402-ingress-nginx/images/kruise/patches/disable-controllers.patch
  modules/402-ingress-nginx/images/kruise/patches/disable-jobs.patch
  modules/402-ingress-nginx/oss.yaml
  modules/402-ingress-nginx/template_tests/controller_test.go
  modules/402-ingress-nginx/templates/controller/controller.yaml
  modules/402-ingress-nginx/templates/failover/daemonset.yaml
  modules/402-ingress-nginx/templates/kruise/manager.yaml
  modules/402-ingress-nginx/templates/kruise/rbac-for-us.yaml
  modules/402-ingress-nginx/templates/kruise/secret.yaml
  modules/402-ingress-nginx/templates/kruise/service.yaml
  modules/402-ingress-nginx/templates/kruise/webhook.yaml
  testing/hooks/validation/exported_struct_test.go
  testing/library/images_tags_generated.go
Labels: skip/documentation-validation, e2e/use/cri/containerd, e2e/use/k8s/1.23

#4325 [node-manager] Doc: mark spec.operatingSystem.manageKernel as deprecated
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
Labels: area/docs

#4323 [site] Add styles for content after 1000px
  docs/site/css/docs.scss
Labels: area/docs

#3821 [candi] Remove early-oom
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
  deckhouse-controller/cmd/deckhouse-controller/register-settings-conversions.go
  ee/modules/040-node-manager/openapi/config-values.yaml
  ee/modules/040-node-manager/openapi/doc-ru-config-values.yaml
  modules/003-deckhouse-config/images/deckhouse-config-webhook/register-settings-conversions.go
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/040-node-manager/images/early-oom/Dockerfile
  modules/040-node-manager/images/early-oom/src/go.mod
  modules/040-node-manager/images/early-oom/src/go.sum
  modules/040-node-manager/images/early-oom/src/psi-monitor.go
  modules/040-node-manager/monitoring/prometheus-rules/early-oom.tpl
  modules/040-node-manager/openapi/config-values.yaml
  modules/040-node-manager/openapi/doc-ru-config-values.yaml
  modules/040-node-manager/settings-conversion/conversion.go
  modules/040-node-manager/settings-conversion/conversion_test.go
  modules/040-node-manager/templates/early-oom/daemonset.yaml
  modules/040-node-manager/templates/early-oom/pod-monitor.yaml
  modules/040-node-manager/templates/early-oom/rbac-for-us.yaml
  modules/040-node-manager/templates/early-oom/rbac-to-us.yaml
  testing/library/images_tags_generated.go
Labels: type/enhancement, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3956 [virtualization] KubeVirt v0.59
  modules/490-virtualization/crds/kubevirt.yaml
  modules/490-virtualization/hooks/create_registry_secret_for_vmi.go
  modules/490-virtualization/hooks/create_registry_secret_for_vmi_test.go
  modules/490-virtualization/images/artifact/patches/002-deckhouse-registry.patch
  modules/490-virtualization/images/artifact/patches/003-macvtap-binding.patch
  modules/490-virtualization/images/artifact/patches/005-cgroup-v2-block-volumes.patch
  modules/490-virtualization/images/artifact/patches/005-fix-cgroup-v2-device-rules-state.patch
  modules/490-virtualization/images/artifact/patches/006-fix-cgroup-v2-device-rules-state-macvtap.patch
  modules/490-virtualization/images/artifact/patches/007-tolerations-for-strategy-dumper-job.patch
  modules/490-virtualization/images/artifact/patches/README.md
  modules/490-virtualization/images/artifact/werf.inc.yaml
  modules/490-virtualization/images/image-alpine/werf.inc.yaml
  modules/490-virtualization/images/vmi-router/Dockerfile
  modules/490-virtualization/templates/kubevirt-operator/rbac-for-us.yaml
  modules/490-virtualization/templates/kubevirt.yaml
  modules/491-containerized-data-importer/crds/cdi.yaml
  modules/491-containerized-data-importer/images/artifact/patches/001-deckhouse-registry.patch
  modules/491-containerized-data-importer/images/artifact/patches/002-storagecapabilities.patch
  modules/491-containerized-data-importer/images/artifact/patches/004-replicas.patch
  modules/491-containerized-data-importer/images/artifact/patches/README.md
  modules/491-containerized-data-importer/images/artifact/werf.inc.yaml
  modules/491-containerized-data-importer/templates/cdi-operator/deployment.yaml
  modules/491-containerized-data-importer/templates/cdi-operator/rbac-for-us.yaml
  testing/library/images_tags_generated.go
Labels: skip/documentation-validation, skip/no-cyrillic-validation

#4331 [monitoring] Fix image availability exporter
  modules/340-extended-monitoring/images/image-availability-exporter/Dockerfile
Labels: area/monitoring, skip/e2e

#3952 Changelog v1.45.0
  CHANGELOG/CHANGELOG-v1.45.0.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: changelog, status/backport

#4336 Backport: Changelog v1.45.0
  CHANGELOG/CHANGELOG-v1.45.0.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: auto, backported

#4346 [monitoring] Fix rbac rules for image-availability-exporter
  modules/340-extended-monitoring/templates/image-availability-exporter/rbac-for-us.yaml
Labels: status/backport, skip/e2e

#4347 Backport: [monitoring] Fix rbac rules for image-availability-exporter
  modules/340-extended-monitoring/templates/image-availability-exporter/rbac-for-us.yaml
Labels: auto, backported

#4345 [admission-policy-engine] fix mutation documentation
  modules/015-admission-policy-engine/docs/README.md
Labels: skip/documentation-validation

#4349 Backport: [admission-policy-engine] fix mutation documentation
  modules/015-admission-policy-engine/docs/README.md
Labels: auto, backported

#4110 [cloud-provider-gcp] Disable nodeipam in GCP CCM
  modules/030-cloud-provider-gcp/templates/cloud-controller-manager/deployment.yaml
Labels: area/cloud-provider, type/bug, e2e/use/cri/containerd, e2e/use/k8s/1.23

#4350 Backport: [cloud-provider-gcp] Disable nodeipam in GCP CCM
  modules/030-cloud-provider-gcp/templates/cloud-controller-manager/deployment.yaml
Labels: auto, backported

#4330 Changelog v1.45.1
  CHANGELOG/CHANGELOG-v1.45.1.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: changelog, auto, status/backport

#4351 Backport: Changelog v1.45.1
  CHANGELOG/CHANGELOG-v1.45.1.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: auto, backported

#4353 [ingress-nginx] Fix RBAC permissions for kruise-controller
  modules/402-ingress-nginx/hooks/migrate_daemonset.go
  modules/402-ingress-nginx/images/kruise/patches/disable-controllers.patch
  modules/402-ingress-nginx/templates/kruise/rbac-for-us.yaml
Labels: area/network, status/backport

#4358 Backport: [ingress-nginx] Fix RBAC permissions for kruise-controller
  modules/402-ingress-nginx/hooks/migrate_daemonset.go
  modules/402-ingress-nginx/images/kruise/patches/disable-controllers.patch
  modules/402-ingress-nginx/templates/kruise/rbac-for-us.yaml
Labels: auto, backported

#4357 Changelog v1.45.2
  CHANGELOG/CHANGELOG-v1.45.2.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: changelog, auto, status/backport

#4359 Backport: Changelog v1.45.2
  CHANGELOG/CHANGELOG-v1.45.2.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: auto, backported

#4360 [cilium] Minor documentation updates
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
  modules/021-cni-cilium/openapi/config-values.yaml
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
Labels: area/docs, status/backport

#4362 Backport: [cilium] Minor documentation updates
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
  modules/021-cni-cilium/openapi/config-values.yaml
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#3995 [operator-trivy][candi] Add CIS Benchmark report and apply some fixes for it
  candi/bashible/common-steps/cluster-bootstrap/070_install_control_plane.sh.tpl
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
  candi/bashible/common-steps/node-group/065_configure_kubelet_conf_to_api_proxy.sh.tpl
  candi/bashible/common-steps/node-group/068_configure_kubelet_systemd_unit.sh.tpl
  candi/control-plane-kubeadm/config.yaml.tpl
  ee/modules/500-operator-trivy/hooks/internal/apis/spec.go
  ee/modules/500-operator-trivy/hooks/internal/apis/v1alpha1/common_types.go
  ee/modules/500-operator-trivy/hooks/internal/apis/v1alpha1/common_types_test.go
  ee/modules/500-operator-trivy/hooks/internal/apis/v1alpha1/compliance_types.go
  ee/modules/500-operator-trivy/hooks/metrics_cis_benchmark.go
  ee/modules/500-operator-trivy/hooks/metrics_cis_benchmark_test.go
  ee/modules/500-operator-trivy/images/node-collector/Dockerfile
  ee/modules/500-operator-trivy/images/node-collector/patches/001-change-node-collector-config.patch
  ee/modules/500-operator-trivy/images/node-collector/patches/README.md
  ee/modules/500-operator-trivy/images/operator/Dockerfile
  ee/modules/500-operator-trivy/images/operator/patches/001-add-registry-secret-as-dockerconfigjson.patch
  ee/modules/500-operator-trivy/images/operator/patches/002-skip-some-checks.patch
  ee/modules/500-operator-trivy/images/operator/patches/003-fix-defsec-lib-for-cis-compability.patch
  ee/modules/500-operator-trivy/images/operator/patches/004-fix-defsec-lib-for-deckhouse-setup.patch
  ee/modules/500-operator-trivy/images/operator/patches/README.md
  ee/modules/500-operator-trivy/images/trivy/Dockerfile
  ee/modules/500-operator-trivy/monitoring/grafana-dashboards/security/cis-benchmark.json
  ee/modules/500-operator-trivy/template_tests/template_test.go
  ee/modules/500-operator-trivy/templates/configmap.yaml
  ee/modules/500-operator-trivy/templates/deployment.yaml
  ee/modules/500-operator-trivy/templates/reports/cis-benchmark-1.23.yaml
Labels: area/security, e2e/use/cri/containerd, e2e/use/k8s/1.23

#3974 [ceph-csi] change default volumeBindingMode
  modules/031-ceph-csi/hooks/get_crds.go
  modules/031-ceph-csi/templates/cephfs/storage-classes.yaml
  modules/031-ceph-csi/templates/rbd/storage-classes.yaml
Labels: e2e/use/cri/containerd, area/storage, type/chore, e2e/use/k8s/1.23, skip/e2e, e2e/cluster/failed

#4361 Changelog v1.45.3
  CHANGELOG/CHANGELOG-v1.45.3.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: changelog, auto

#4363 [ingress-nginx] Improve migration hook
  modules/402-ingress-nginx/hooks/migrate_daemonset_and_pods.go
  modules/402-ingress-nginx/hooks/migrate_daemonset_and_pods_test.go
Labels: status/backport, skip/e2e

#4365 Backport: [ingress-nginx] Improve migration hook
  modules/402-ingress-nginx/hooks/migrate_daemonset_and_pods.go
  modules/402-ingress-nginx/hooks/migrate_daemonset_and_pods_test.go
Labels: auto, backported

#4369 [ingress-nginx] set imagePullSecrets for kruise-controller
  modules/402-ingress-nginx/templates/kruise/manager.yaml
Labels: area/network, status/backport

#4343 [linstor] linstor-scheduler-admission: fix admission review
  modules/041-linstor/images/linstor-scheduler-admission/Dockerfile
  modules/041-linstor/images/linstor-scheduler-extender/Dockerfile
  modules/490-virtualization/images/artifact/patches/008-fix-admissionreview.patch
  modules/490-virtualization/images/artifact/patches/README.md
Labels: status/backport, area/virtualization

#4376 Revert "[candi] Remove early-oom (#3821)"
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
  deckhouse-controller/cmd/deckhouse-controller/register-settings-conversions.go
  ee/modules/040-node-manager/openapi/config-values.yaml
  ee/modules/040-node-manager/openapi/doc-ru-config-values.yaml
  modules/003-deckhouse-config/images/deckhouse-config-webhook/register-settings-conversions.go
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/040-node-manager/images/early-oom/Dockerfile
  modules/040-node-manager/images/early-oom/src/go.mod
  modules/040-node-manager/images/early-oom/src/go.sum
  modules/040-node-manager/images/early-oom/src/psi-monitor.go
  modules/040-node-manager/monitoring/prometheus-rules/early-oom.tpl
  modules/040-node-manager/openapi/config-values.yaml
  modules/040-node-manager/openapi/doc-ru-config-values.yaml
  modules/040-node-manager/settings-conversion/conversion.go
  modules/040-node-manager/settings-conversion/conversion_test.go
  modules/040-node-manager/templates/early-oom/daemonset.yaml
  modules/040-node-manager/templates/early-oom/pod-monitor.yaml
  modules/040-node-manager/templates/early-oom/rbac-for-us.yaml
  modules/040-node-manager/templates/early-oom/rbac-to-us.yaml
  testing/library/images_tags_generated.go
Labels: type/bug, status/backport

#4364 Changelog v1.45.3
  CHANGELOG/CHANGELOG-v1.45.3.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: changelog, auto, status/backport

#4380 Changelog v1.45.3
  CHANGELOG/CHANGELOG-v1.45.3.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: changelog, auto, status/backport

#4367 [node-manager] Fix error node group condition
  modules/040-node-manager/hooks/internal/conditions/calculate.go
  modules/040-node-manager/hooks/update_node_group_status.go
  modules/040-node-manager/hooks/update_node_group_status_test.go
Labels: skip/e2e

#4269 [prometheus] Update to 2.43.0
  modules/002-deckhouse/images/webhook-handler/werf.inc.yaml
  modules/300-prometheus/images/prometheus/Dockerfile
  modules/300-prometheus/images/prometheus/sample_limit_annotation.patch
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring

#4389 Backport: [user-authn] fix in job image
  modules/150-user-authn/hooks/generate_crowd_basic_auth_proxy_cert.go
  modules/150-user-authn/hooks/generate_crowd_basic_auth_proxy_cert_test.go
Labels: auto, backported

#4399 Backport: [external-module-manager] Fix external modules chmod
  candi/bashible/common-steps/all/095_create_external_modules_directory.sh.tpl
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  modules/002-deckhouse/templates/deployment.yaml
  modules/005-external-module-manager/hooks/apply_release.go
  modules/005-external-module-manager/hooks/handle_sources.go
Labels: auto, backported

#4398 Changelog v1.45.4
  CHANGELOG/CHANGELOG-v1.45.4.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: changelog, auto, status/backport

#4394 [deckhouse] Remove Helm binary from Deckhouse image
  werf.yaml
Labels: area/core, e2e/use/cri/containerd, type/chore, e2e/use/k8s/1.23

#4403 [docs] Delete non-ASCII symbols from the English docs
  docs/site/_includes/getting_started/global/partials/DNS_OPTIONS.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_CONFIG.liquid
  modules/460-log-shipper/docs/README.md
Labels: area/docs, skip/documentation-validation, skip/e2e

#4410 Changelog v1.45.0
  CHANGELOG/CHANGELOG-v1.45.0.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: changelog, auto

#4411 [getting-started][aws] Actualise permissions
  docs/site/_includes/getting_started/aws/STEP_ENV.md
  docs/site/_includes/getting_started/aws/STEP_ENV_RU.md
Labels: area/docs

#4310 [node-manager] User draining
  modules/040-node-manager/hooks/handle_draining.go
  modules/040-node-manager/hooks/handle_draining_test.go
  modules/040-node-manager/hooks/update_approval.go
  modules/040-node-manager/hooks/update_approval_test.go
  modules/040-node-manager/hooks/update_node_group_status_test.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23, skip/e2e

#4422 [site] Update pci ssc reports
  docs/site/reports/pci_ssc_reports_files/Deckhouse_PCI_SSC_requirements.pdf
  docs/site/reports/pci_ssc_reports_files/Deckhouse_PCI_SSC_requirements_ru.pdf
Labels: area/docs

#4302 [cni-cilium] Enable external access to ClusterIP services
  modules/021-cni-cilium/templates/configmap.yaml
Labels: area/network, area/cluster-and-infrastructure

#4423 [extended-monitoring] batch/v1beta1 -> batch/v1
  modules/340-extended-monitoring/hooks/alert_old_annotation.go
  modules/340-extended-monitoring/hooks/alert_old_annotation_test.go
Labels: area/monitoring, type/bug

#4413 [virtualization] enable snapshot feature
  modules/490-virtualization/templates/kubevirt.yaml
Labels: area/virtualization

#4427 Backport: [virtualization] enable snapshot feature
  modules/490-virtualization/templates/kubevirt.yaml
Labels: auto, backported

#4372 [ci] Fix output only grey IP in e2e tests
  .github/ci_templates/e2e_tests.yml
  .github/scripts/js/e2e/cleanup.js
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  testing/cloud_layouts/script.sh
  testing/cloud_layouts/wait-master-ssh-and-update-comment.sh
Labels: skip/e2e, area/cicd

#4428 [chore] Update the CODEOWNERS file
  .github/CODEOWNERS
Labels: type/chore, skip/e2e

#4430 [ci] Regenerate workflow
  .github/workflows/e2e-eks.yml
Labels: area/cicd

#4419 [user-authz] Fixed bash in cluster_authorization_rule webhook
  modules/140-user-authz/webhooks/validating/cluster_authorization_rule
Labels: area/security, type/bug, status/backport

#4414 [chore] Update Kubernetes
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.26, status/backport, type/chore, e2e/use/k8s/1.25

#4409 [cloud-provider-aws][monitoring] Document missing IAM permissions in corresponding alerts for Deckhouse >= 1.45
  modules/040-terraform-manager/monitoring/prometheus-rules/terraform-manager/terraform-state-exporter.tpl
Labels: area/monitoring, area/cloud-provider, e2e/use/cri/containerd, status/backport, e2e/use/k8s/1.23

#4438 Backport: [cloud-provider-aws][monitoring] Document missing IAM permissions in corresponding alerts for Deckhouse >= 1.45
  modules/040-terraform-manager/monitoring/prometheus-rules/terraform-manager/terraform-state-exporter.tpl
Labels: auto, backported

#4418 [candi] Fix SELinux permissions Bashible step in clusters without Cilium
  candi/bashible/bundles/centos/node-group/033_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/alteros/node-group/033_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/redos/node-group/033_install_mandatory_selinux_policies.sh.tpl
Labels: area/cluster-and-infrastructure, e2e/use/cri/containerd, status/backport, e2e/use/k8s/1.23

#4445 Backport: [candi] Fix SELinux permissions Bashible step in clusters without Cilium
  candi/bashible/bundles/centos/node-group/033_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/alteros/node-group/033_install_mandatory_selinux_policies.sh.tpl
  ee/candi/bashible/bundles/redos/node-group/033_install_mandatory_selinux_policies.sh.tpl
Labels: auto, backported

#4442 [doc] Update OS support list
  docs/documentation/_data/supported_versions.yml
Labels: area/docs, status/backport

#4446 Backport: [doc] Update OS support list
  docs/documentation/_data/supported_versions.yml
Labels: auto, backported

#4426 Changelog v1.45.5
  CHANGELOG/CHANGELOG-v1.45.5.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: changelog, auto, status/backport

#4447 Backport: Changelog v1.45.5
  CHANGELOG/CHANGELOG-v1.45.5.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: auto, backported

#4450 Changelog v1.45.5
  CHANGELOG/CHANGELOG-v1.45.5.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: changelog, auto, status/backport

#4451 Backport: Changelog v1.45.5
  CHANGELOG/CHANGELOG-v1.45.5.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: auto, backported

#4453 [site] Update en version PCI SSC report
  docs/site/reports/pci_ssc_reports_files/Deckhouse_PCI_SSC_requirements.pdf
Labels: area/docs

#4187 Add new `cluster-autoscaler-crd` module and add cloud data discoverer for openstack
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  docs/documentation/modules_menu_skip
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/go.mod
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/go.sum
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/main.go
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/werf.inc.yaml
  ee/modules/030-cloud-provider-openstack/monitoring/prometheus-rules/cloud-data-discoverer.yaml
  ee/modules/030-cloud-provider-openstack/template_tests/module_test.go
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/deployment.yaml
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/pod-monitor.yaml
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/rbac-for-us.yaml
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/rbac-to-us.yaml
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/secret.yaml
  ee/modules/030-cloud-provider-openstack/templates/monitoring.yaml
  go_lib/cloud-data/apis/v1alpha1/types.go
  go_lib/cloud-data/app/flags.go
  go_lib/cloud-data/app/kube-client.go
  go_lib/cloud-data/app/logger.go
  go_lib/cloud-data/go.mod
  go_lib/cloud-data/go.sum
  go_lib/cloud-data/reconciler.go
  modules/010-cluster-autoscaler-crd/crds/instancetypescatalogs.yaml
  modules/010-cluster-autoscaler-crd/docs/README.md
  modules/010-cluster-autoscaler-crd/docs/README_RU.md
  modules/010-cluster-autoscaler-crd/enabled
  modules/010-cluster-autoscaler-crd/hooks/ensure_crds.go
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/values-default.yaml
  testing/helm/init.go
  testing/library/images_tags_generated.go
Labels: area/cluster-and-infrastructure, skip/documentation-validation

#3831 [guides] Going to production
  docs/site/_config.yml
  docs/site/_data/topnav.yml
  docs/site/_includes/sidebar.html
  docs/site/_includes/toc_in_sidebar.html
  docs/site/_layouts/sidebar.html
  docs/site/_plugins/alert.rb
  docs/site/css/components/_guides.scss
  docs/site/css/components/_header.scss
  docs/site/css/components/common/_variables.scss
  docs/site/css/docs.scss
  docs/site/css/site.scss
  docs/site/images/guides/going_to_production/ingress-inlet-ru.svg
  docs/site/images/guides/going_to_production/ingress-inlet.svg
  docs/site/images/sprite.svg
  docs/site/js/toc.js
  docs/site/pages/guides/PRODUCTION.md
  docs/site/pages/guides/PRODUCTION_RU.md
  docs/site/pages/guides/ingress-inlet-ru.puml
  docs/site/pages/guides/ingress-inlet.puml
Labels: area/docs, skip/no-cyrillic-validation, skip/e2e

#4454 [global] Update gophercloud dependency
  go.mod
  go.sum
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.mod
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.sum
Labels: area/core, status/backport

#4456 Backport: [global] Update gophercloud dependency
  go.mod
  go.sum
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.mod
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.sum
Labels: auto, backported

#4455 Changelog v1.45.5
  CHANGELOG/CHANGELOG-v1.45.md
Labels: changelog, auto, status/backport

#4457 Backport: Changelog v1.45.5
  CHANGELOG/CHANGELOG-v1.45.md
Labels: auto, backported

#4235 Rewriting bash in Go in multiple modules
  modules/021-kube-proxy/images/init-container/Dockerfile
  modules/021-kube-proxy/images/init-container/api-proxy-check.sh
  modules/021-kube-proxy/images/init-container/go.mod
  modules/021-kube-proxy/images/init-container/go.sum
  modules/021-kube-proxy/images/init-container/main.go
  modules/021-kube-proxy/images/init-container/nodeport-bind-address.sh
  modules/021-kube-proxy/templates/configmap.yaml
  modules/021-kube-proxy/templates/daemonset.yaml
  modules/035-cni-flannel/images/flanneld/Dockerfile
  modules/035-cni-flannel/images/flanneld/entrypoint.sh
  modules/035-cni-flannel/images/flanneld/go.mod
  modules/035-cni-flannel/images/flanneld/go.sum
  modules/035-cni-flannel/images/flanneld/main.go
  modules/035-cni-flannel/templates/rbac-for-us.yaml
  modules/042-kube-dns/images/coredns/Dockerfile
  modules/042-kube-dns/images/resolv-watcher/Dockerfile
  modules/042-kube-dns/images/resolv-watcher/go.mod
  modules/042-kube-dns/images/resolv-watcher/go.sum
  modules/042-kube-dns/images/resolv-watcher/main.go
  modules/042-kube-dns/images/resolv-watcher/resolv-conf-check
  modules/042-kube-dns/images/sts-pods-hosts-appender-init-container/Dockerfile
  modules/042-kube-dns/images/sts-pods-hosts-appender-init-container/go.mod
  modules/042-kube-dns/images/sts-pods-hosts-appender-init-container/main.go
  modules/042-kube-dns/images/sts-pods-hosts-appender-init-container/render-etc-hosts-with-cluster-domain-aliases
  modules/042-kube-dns/images/sts-pods-hosts-appender-webhook/Dockerfile
  modules/042-kube-dns/templates/deployment.yaml
  modules/340-monitoring-kubernetes/images/kube-state-metrics/Dockerfile
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/Dockerfile
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/go.mod
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/go.sum
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/loop
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/main.go
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/main_test.go
  modules/340-monitoring-kubernetes/images/node-exporter/Dockerfile
  modules/402-ingress-nginx/images/protobuf-exporter/Dockerfile
  modules/402-ingress-nginx/images/proxy-failover-iptables/Dockerfile
  modules/402-ingress-nginx/images/proxy-failover-iptables/go.mod
  modules/402-ingress-nginx/images/proxy-failover-iptables/go.sum
  modules/402-ingress-nginx/images/proxy-failover-iptables/main.go
  modules/402-ingress-nginx/images/proxy-failover-iptables/rootfs/usr/bin/iptables-loop
  modules/402-ingress-nginx/images/proxy-failover/Dockerfile
  modules/402-ingress-nginx/images/proxy-failover/entrypoint.sh
  modules/402-ingress-nginx/images/proxy-failover/go.mod
  modules/402-ingress-nginx/images/proxy-failover/go.sum
  modules/402-ingress-nginx/images/proxy-failover/main.go
  modules/460-log-shipper/images/vector/Dockerfile
  modules/460-log-shipper/images/vector/go.mod
  modules/460-log-shipper/images/vector/go.sum
  modules/460-log-shipper/images/vector/main.go
  modules/460-log-shipper/images/vector/reloader
  testing/matrix/linter/rules/modules/images.go
Labels: type/chore

#4459 [site] Update offset for nav menu item
  docs/site/css/components/_header.scss
Labels: area/docs

#4464 [site] Fix styles for 2 columns grid
  docs/site/css/components/_oss.scss
Labels: area/docs

#4162 [ci][testing] Send weekly Trivy digest to security officers
  .github/workflow_templates/cve-daily.yml
  .github/workflow_templates/cve-weekly.yml
  .github/workflows/cve-weekly.yml
  .gitignore
  Makefile
  tools/cve/base-images.sh
  tools/cve/d8-images.sh
  tools/cve/html/body-part.tpl
  tools/cve/html/footer.tpl
  tools/cve/html/header.tpl
  tools/cve/release.sh
  tools/cve/trivy-wrapper.sh
Labels: area/security, type/enhancement, area/testing, skip/e2e, area/cicd, area/compliance

#4465 [operator-trivy] Update version of trivy-operator and trivy
  ee/modules/500-operator-trivy/images/operator/Dockerfile
  ee/modules/500-operator-trivy/images/operator/patches/003-fix-defsec-lib-for-cis-compability.patch
  ee/modules/500-operator-trivy/images/operator/patches/004-fix-defsec-lib-for-deckhouse-setup.patch
  ee/modules/500-operator-trivy/images/operator/patches/README.md
  ee/modules/500-operator-trivy/images/trivy/Dockerfile
Labels: area/security, e2e/use/cri/containerd, e2e/use/k8s/1.25

#4232 [CI] Update milestone check job if milestone changes in PR
  .github/workflow_templates/check_pr_milestone.yml
  .github/workflow_templates/validation.yml
  .github/workflows/check_pr_milestone.yml
  .github/workflows/validation.yml
Labels: skip/e2e

#4472 [global] Bump gophercloud/utils version
  go.mod
  go.sum
Labels: e2e/use/cri/containerd, status/backport, type/chore, e2e/use/k8s/1.23

#4475 Backport: [global] Bump gophercloud/utils version
  go.mod
  go.sum
Labels: auto, backported

#4476 Backport: Changelog v1.45.6
  CHANGELOG/CHANGELOG-v1.45.6.yml
  CHANGELOG/CHANGELOG-v1.45.md
Labels: auto, backported

#4469 [operator-trivy] Add support for `kubernetes.io/dockercfg` secrets in `imagePullSecrets` pods field for scan jobs
  ee/modules/500-operator-trivy/images/operator/patches/003-support-legacy-dockercfg.patch
  ee/modules/500-operator-trivy/images/operator/patches/README.md
Labels: area/security

#4425 [chore] Update addon-operator
  deckhouse-controller/cmd/deckhouse-controller/main.go
  go.mod
  go.sum
  go_lib/deckhouse-config/module-manager/basic.go
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.mod
  modules/003-deckhouse-config/images/deckhouse-config-webhook/go.sum
Labels: e2e/use/cri/containerd, e2e/use/k8s/1.23

#4407 Add prometheus.deckhouse.io/rules-watcher-enabled label
  ee/modules/030-cloud-provider-openstack/templates/namespace.yaml
  ee/modules/030-cloud-provider-vsphere/templates/namespace.yaml
  ee/modules/110-istio/templates/ingress-gateway-controller/namespace.yaml
  ee/modules/110-istio/templates/namespace.yaml
  ee/modules/380-metallb/templates/namespace.yaml
  ee/modules/450-keepalived/templates/namespace.yaml
  ee/modules/450-network-gateway/templates/namespace.yaml
  ee/modules/500-operator-trivy/templates/namespace.yaml
  ee/modules/502-delivery/templates/namespace.yaml
  ee/modules/600-flant-integration/templates/namespace.yaml
  ee/modules/650-runtime-audit-engine/templates/namespace.yaml
  modules/002-deckhouse/templates/namespace.yaml
  modules/015-admission-policy-engine/templates/namespace.yaml
  modules/021-cni-cilium/templates/namespace.yaml
  modules/030-cloud-provider-aws/templates/namespace.yaml
  modules/030-cloud-provider-azure/templates/namespace.yaml
  modules/030-cloud-provider-gcp/templates/namespace.yaml
  modules/030-cloud-provider-yandex/templates/namespace.yaml
  modules/031-ceph-csi/templates/namespace.yaml
  modules/031-local-path-provisioner/templates/namespace.yaml
  modules/035-cni-flannel/templates/namespace.yaml
  modules/035-cni-simple-bridge/templates/namespace.yaml
  modules/040-node-manager/templates/namespace.yaml
  modules/041-linstor/templates/namespace.yaml
  modules/045-snapshot-controller/templates/namespace.yaml
  modules/101-cert-manager/templates/namespace.yaml
  modules/140-user-authz/templates/namespace.yaml
  modules/150-user-authn/templates/namespace.yaml
  modules/200-operator-prometheus/templates/namespace.yaml
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
  modules/300-prometheus/templates/prometheus/prometheus.yaml
  modules/400-descheduler/templates/namespace.yaml
  modules/402-ingress-nginx/templates/namespace.yaml
  modules/460-log-shipper/templates/namespace.yaml
  modules/465-pod-reloader/templates/namespace.yaml
  modules/470-chrony/templates/namespace.yaml
  modules/490-virtualization/templates/namespace.yaml
  modules/491-containerized-data-importer/templates/namespace.yaml
  modules/500-dashboard/templates/namespace.yaml
  modules/500-okmeter/templates/namespace.yaml
  modules/500-openvpn/templates/namespace.yaml
  modules/500-upmeter/templates/namespace.yaml
  testing/matrix/linter/rules/rules.go
Labels: area/monitoring

#4479 [ci] Change owner for deckhouse-controller/ directory
  .github/CODEOWNERS
Labels: skip/e2e

#4482 [e2e] fix for e2e static tests
  testing/cloud_layouts/script.sh
Labels: skip/e2e

#4480 [linstor] Update docs
  modules/041-linstor/docs/CONFIGURATION.md
  modules/041-linstor/docs/CONFIGURATION_RU.md
Labels: area/docs, status/backport, skip/e2e

#4486 Backport: [linstor] Update docs
  modules/041-linstor/docs/CONFIGURATION.md
  modules/041-linstor/docs/CONFIGURATION_RU.md
Labels: auto, backported

#4420 [cni-cilium] Update Grafana dashboard for Cilium agent
  modules/021-cni-cilium/monitoring/grafana-dashboards/kubernetes-cluster/cilium-agent.json
Labels: area/monitoring, area/network

#4495 [guides] Review PRODUCTION_RU.md
  docs/site/pages/guides/PRODUCTION_RU.md
Labels: area/docs, skip/documentation-validation

#4502 [docs] Minor fixes
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: area/docs, status/backport

#4503 Backport: [docs] Minor fixes
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: auto, backported

#4504 [docs] Add a note about using the Minimal module bundle
  docs/documentation/pages/DECKHOUSE_CONFIGURE.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_RU.md
  modules/002-deckhouse/openapi/config-values.yaml
  modules/002-deckhouse/openapi/doc-ru-config-values.yaml
Labels: area/docs, status/backport, skip/e2e

#4306 [bashible] fix cleanup flannel used ips on migration from docker to containerd
  candi/bashible/bundles/centos/node-group/031_install_containerd.sh.tpl
  candi/bashible/bundles/debian/node-group/031_install_containerd.sh.tpl
  candi/bashible/bundles/ubuntu-lts/node-group/031_install_containerd.sh.tpl
  ee/candi/bashible/bundles/alteros/node-group/031_install_containerd.sh.tpl
  ee/candi/bashible/bundles/astra/node-group/031_install_containerd.sh.tpl
  ee/candi/bashible/bundles/redos/node-group/031_install_containerd.sh.tpl
Labels: area/network, area/cluster-and-infrastructure

#4466 [chore][node-manager] Update the default value of the allowedBundles parameter
  ee/modules/040-node-manager/openapi/config-values.yaml
Labels: area/cluster-and-infrastructure, skip/documentation-validation

#4508 [cloud-data-crd] Minor doc fixes
  docs/documentation/modules_menu_skip
  modules/010-cloud-data-crd/docs/README.md
  modules/010-cloud-data-crd/docs/README_RU.md
Labels: area/docs, skip/e2e

#4352 [flant-integration] add deckhouse controllers resource consumption metrics hook
  ee/modules/600-flant-integration/images/flant-pricing/Makefile
  ee/modules/600-flant-integration/images/flant-pricing/hooks/controller_metrics.py
  ee/modules/600-flant-integration/images/flant-pricing/hooks/controller_metrics.yaml
  ee/modules/600-flant-integration/images/flant-pricing/hooks/controller_metrics_test.py
  ee/modules/600-flant-integration/images/flant-pricing/hooks/utils.py
  ee/modules/600-flant-integration/images/flant-pricing/requirements.dev.txt
  ee/modules/600-flant-integration/images/flant-pricing/requirements.txt
  ee/modules/600-flant-integration/templates/pricing/daemonset.yaml
  ee/modules/600-flant-integration/templates/pricing/prometheus-api-client-tls.yaml
  ee/modules/600-flant-integration/templates/pricing/rbac-for-us.yaml
Labels: area/monitoring, skip/e2e

#4514 [control-plane-manager] update docs
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, skip/e2e

#4515 [linstor] Fix multiple requisites
  modules/041-linstor/images/linstor-csi/Dockerfile
  modules/041-linstor/images/linstor-csi/patches/README.md
  modules/041-linstor/images/linstor-csi/patches/requisites.patch
Labels: status/backport, area/storage

#4517 Backport: [linstor] Fix multiple requisites
  modules/041-linstor/images/linstor-csi/Dockerfile
  modules/041-linstor/images/linstor-csi/patches/README.md
  modules/041-linstor/images/linstor-csi/patches/requisites.patch
Labels: auto, backported

#4499 [virtualization] fix disks processing
  modules/490-virtualization/hooks/disk_handler.go
  modules/490-virtualization/hooks/disk_handler_test.go
  modules/490-virtualization/hooks/vm_handler.go
  modules/490-virtualization/hooks/vm_handler_test.go
Labels: status/backport, area/virtualization

#4491 [docs] Change tools downloading links from main branch to placeholder
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#4519 Backport: [docs] Change tools downloading links from main branch to placeholder
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#4522 [site] Add nav menu item with anchor to clients block
  docs/site/_data/topnav.yml
Labels: area/docs

#4525 [candi] override proxy settings for containerd unit
  candi/bashible/common-steps/all/000_add_system_proxy.sh.tpl
Labels: area/cluster-and-infrastructure

#4524 [descheduler] Restored migration hook
  global-hooks/migrate/migrate_descheduler.go
Labels: type/bug, area/scaling

#4532 [candi] fix system-proxy configuration for containerd installations
  candi/bashible/common-steps/node-group/000_add_system_proxy.sh.tpl
Labels: area/cluster-and-infrastructure, e2e/cluster/failed

#4535 [docs] Update logos on the used software page
  docs/site/images/logos/addon-operator-small.png
  docs/site/images/logos/kiali.png
  docs/site/images/logos/shell-operator-small.png
  docs/site/images/logos/terraform.png
  ee/modules/110-istio/oss.yaml
  modules/002-deckhouse/oss.yaml
  modules/040-terraform-manager/oss.yaml
Labels: area/docs, status/backport

#4536 Backport: [docs] Update logos on the used software page
  docs/site/images/logos/addon-operator-small.png
  docs/site/images/logos/kiali.png
  docs/site/images/logos/shell-operator-small.png
  docs/site/images/logos/terraform.png
  ee/modules/110-istio/oss.yaml
  modules/002-deckhouse/oss.yaml
  modules/040-terraform-manager/oss.yaml
Labels: auto, backported

#4537 Backport: [docs] Update logos on the used software page
  docs/site/images/logos/addon-operator-small.png
  docs/site/images/logos/kiali.png
  docs/site/images/logos/shell-operator-small.png
  docs/site/images/logos/terraform.png
  ee/modules/110-istio/oss.yaml
  modules/002-deckhouse/oss.yaml
  modules/040-terraform-manager/oss.yaml
Labels: auto, backported

#4384 [prometheus ] Exclude some modules from grafana home dashboard
  modules/300-prometheus/images/grafana/grafana_home_dashboard.json
Labels: area/monitoring, type/chore, skip/e2e

#4496 [node-manager] Delete adopt.sh
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/040-node-manager/monitoring/prometheus-rules/node-unmanaged.tpl
  modules/040-node-manager/templates/node-group/_bootstrap_script.tpl
  modules/040-node-manager/templates/node-group/_static_or_hybrid_script.tpl
  modules/040-node-manager/templates/node-group/_static_or_hybrid_secret.tpl
Labels: area/cluster-and-infrastructure

#4506 [openvpn] fix update user list in HA mode
  modules/500-openvpn/images/ovpn-admin/Dockerfile
Labels: area/network, type/bug, skip/e2e

#4534 [candi] include patch version in common kubernetes image artifact name
  modules/000-common/images/kubernetes/werf.inc.yaml
  modules/007-registrypackages/images/kubeadm/werf.inc.yaml
  modules/007-registrypackages/images/kubectl/werf.inc.yaml
  modules/007-registrypackages/images/kubelet/werf.inc.yaml
  modules/021-kube-proxy/images/kube-proxy/werf.inc.yaml
  modules/040-control-plane-manager/images/control-plane-manager/werf.inc.yaml
  modules/040-control-plane-manager/images/kube-apiserver/werf.inc.yaml
  modules/040-control-plane-manager/images/kube-controller-manager/werf.inc.yaml
  modules/040-control-plane-manager/images/kube-scheduler/werf.inc.yaml
Labels: area/cluster-and-infrastructure
