Repository deckhouse/deckhouse, pull requests merged in 2024-06, with the labels that each got.

#8578 [docs] Return DeckhouseRelease CRD on the site
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/modules_generate_configuration.sh
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/documentation/pages/DECKHOUSE_CR.md
  docs/documentation/pages/DECKHOUSE_CR_RU.md
  modules/002-deckhouse/docs/CR.md
  modules/002-deckhouse/docs/CR_RU.md
Labels: area/docs, skip/copyright-validation, status/backport

#8584 Backport: [docs] Return DeckhouseRelease CRD on the site
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/modules_generate_configuration.sh
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/documentation/pages/DECKHOUSE_CR.md
  docs/documentation/pages/DECKHOUSE_CR_RU.md
  modules/002-deckhouse/docs/CR.md
  modules/002-deckhouse/docs/CR_RU.md
Labels: auto, backported

#8573 [docs] Add registry-packages-proxy port in network policies
  docs/documentation/_data/deckhouse-ports.yml
Labels: area/docs, status/backport

#8585 Backport: [docs] Add registry-packages-proxy port in network policies
  docs/documentation/_data/deckhouse-ports.yml
Labels: auto, backported

#8571 [docs] Add information about immediately updates to the Deckhouse FAQ
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#8586 Backport: [docs] Add information about immediately updates to the Deckhouse FAQ
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#8552 Changelog v1.60.3
  CHANGELOG/CHANGELOG-v1.60.3.yml
  CHANGELOG/CHANGELOG-v1.60.md
Labels: changelog, auto, status/backport

#8587 Backport: Changelog v1.60.3
  CHANGELOG/CHANGELOG-v1.60.3.yml
  CHANGELOG/CHANGELOG-v1.60.md
Labels: auto, backported

#8588 [docs][gs] Trim license key to get valid registryDockerCfg value
  docs/site/_includes/getting_started/global/partials/select_revision.html.liquid
  docs/site/js/getting-started.js
Labels: area/docs, skip/documentation-validation

#8530 [candi] redos 8.0 support
  docs/documentation/_data/version_map_addition.yml
  ee/be/candi/bashible/bundles/redos/all/003_install_mandatory_packages.sh.tpl
  ee/be/candi/bashible/detect_bundle.sh
  ee/be/candi/version_map.yml
  testing/cloud_layouts/OpenStack/Standard/configuration.tpl.yaml
  testing/cloud_layouts/OpenStack/Standard/resources.yaml
  testing/cloud_layouts/Static/infra.tpl.tf
  testing/cloud_layouts/Static/redos-instance-bootstrap.sh
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/resources.yaml
Labels: area/kubernetes, area/testing, area/docs, e2e/cluster/failed

#8327 [ingress-nginx] add 1.10 version and http3 support
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/images/controller-1-10/Dockerfile
  modules/402-ingress-nginx/images/controller-1-10/README.md
  modules/402-ingress-nginx/images/controller-1-10/curl-chroot-wrapper.sh
  modules/402-ingress-nginx/images/controller-1-10/nginx-chroot-wrapper.sh
  modules/402-ingress-nginx/images/controller-1-10/patches/README.md
  modules/402-ingress-nginx/images/controller-1-10/patches/add-http3.patch
  modules/402-ingress-nginx/images/controller-1-10/patches/auth-cookie-always.patch
  modules/402-ingress-nginx/images/controller-1-10/patches/balancer-lua.patch
  modules/402-ingress-nginx/images/controller-1-10/patches/fix-cleanup.patch
  modules/402-ingress-nginx/images/controller-1-10/patches/healthcheck.patch
  modules/402-ingress-nginx/images/controller-1-10/patches/lua-info.patch
  modules/402-ingress-nginx/images/controller-1-10/patches/makefile.patch
  modules/402-ingress-nginx/images/controller-1-10/patches/metrics-SetSSLExpireTime.patch
  modules/402-ingress-nginx/images/controller-1-10/patches/nginx-build.patch
  modules/402-ingress-nginx/images/controller-1-10/patches/nginx-tmpl.patch
  modules/402-ingress-nginx/images/controller-1-10/patches/util.patch
  modules/402-ingress-nginx/images/controller-1-10/rootfs/etc/nginx/lua/geohash.lua
  modules/402-ingress-nginx/images/controller-1-10/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/openapi/config-values.yaml
  modules/402-ingress-nginx/openapi/values.yaml
  modules/402-ingress-nginx/templates/controller/configmap.yaml
  modules/402-ingress-nginx/templates/controller/controller.yaml
  testing/library/images_tags_generated.go
  werf.yaml
Labels: area/network, area/testing, area/core, skip/documentation-validation, go, area/api-change

#8512 [ci] add k8s 1.30 e2e pipelines
  .github/scripts/js/constants.js
  .github/workflow_templates/e2e.abort.multi.yml
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-abort-aws.yml
  .github/workflows/e2e-abort-azure.yml
  .github/workflows/e2e-abort-eks.yml
  .github/workflows/e2e-abort-gcp.yml
  .github/workflows/e2e-abort-openstack.yml
  .github/workflows/e2e-abort-static.yml
  .github/workflows/e2e-abort-vsphere.yml
  .github/workflows/e2e-abort-yandex-cloud.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: skip/e2e

#8336 [dhctl] Add debug logs and sanitize errors
  dhctl/cmd/dhctl/main.go
  dhctl/pkg/app/app.go
  dhctl/pkg/config/base.go
  dhctl/pkg/config/deckhouse_config.go
  dhctl/pkg/config/load.go
  dhctl/pkg/config/module_config.go
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
  dhctl/pkg/kubernetes/client/state_cache.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/bootstrap/steps.go
  dhctl/pkg/state/cache.go
  dhctl/pkg/state/cache/init.go
  dhctl/pkg/template/bundle.go
  dhctl/pkg/util/cache/cache.go
  dhctl/pkg/util/cache/tmp.go
  modules/030-cloud-provider-yandex/hooks/yandex_cluster_configuration_test.go
Labels: area/cloud-provider, area/cli, go

#8540 [candi] Ubuntu 24.04 support
  candi/bashible/common-steps/node-group/000_discover_node_ip.sh.tpl
  candi/bashible/detect_bundle.sh
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/version_map.yml
  ee/be/candi/bashible/detect_bundle.sh
  modules/030-cloud-provider-gcp/openapi/openapi-case-tests.yaml
  testing/cloud_layouts/GCP/WithoutNAT/configuration.tpl.yaml
Labels: area/kubernetes, area/cloud-provider, area/testing, area/cluster-and-infrastructure, skip/documentation-validation, area/api-change

#8492 [kube-dns] Remove KubeDnsServiceWithDeprecatedAnnotation alert
  modules/042-kube-dns/hooks/legacy_metrics.go
  modules/042-kube-dns/hooks/legacy_metrics_test.go
  modules/042-kube-dns/images/coredns/patches/README.md
  modules/042-kube-dns/images/coredns/patches/support-alpha-tolerate-unready-endpoints-annotation.patch
  modules/042-kube-dns/monitoring/prometheus-rules/kubernetes/dns.yaml
Labels: area/cluster-and-infrastructure, go

#6421 [node-manager] add fencing
  .github/dependabot.yml
  candi/bashible/common-steps/node-group/041_configure_sysctl_tuner.sh.tpl
  candi/bashible/common-steps/node-group/063_install_kubelet_forker.sh.tpl
  candi/openapi/doc-ru-node_group.yaml
  candi/openapi/node_group.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/040-node-manager/hooks/fencing_controller.go
  modules/040-node-manager/hooks/fencing_controller_test.go
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/get_crds_test.go
  modules/040-node-manager/hooks/internal/v1/nodegroup.go
  modules/040-node-manager/images/fencing-agent/.gitignore
  modules/040-node-manager/images/fencing-agent/Makefile
  modules/040-node-manager/images/fencing-agent/README.md
  modules/040-node-manager/images/fencing-agent/cmd/main.go
  modules/040-node-manager/images/fencing-agent/go.mod
  modules/040-node-manager/images/fencing-agent/go.sum
  modules/040-node-manager/images/fencing-agent/internal/agent/config.go
  modules/040-node-manager/images/fencing-agent/internal/agent/controller.go
  modules/040-node-manager/images/fencing-agent/internal/agent/controller_test.go
  modules/040-node-manager/images/fencing-agent/internal/common/common.go
  modules/040-node-manager/images/fencing-agent/internal/watchdog/fakedog/fakedog.go
  modules/040-node-manager/images/fencing-agent/internal/watchdog/softdog/softdog.go
  modules/040-node-manager/images/fencing-agent/internal/watchdog/watchdog.go
  modules/040-node-manager/images/fencing-agent/werf.inc.yaml
  modules/040-node-manager/openapi/values.yaml
  modules/040-node-manager/templates/fencing-agent/daemonset.yaml
  modules/040-node-manager/templates/fencing-agent/nodegroupconfiguration.yaml
  modules/040-node-manager/templates/fencing-agent/rbac-for-us.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/cluster-and-infrastructure, type/dependencies, skip/documentation-validation, go, area/api-change

#8593 [dhctl] Disable preflight check containerd exist
  dhctl/pkg/preflight/preflight.go
Labels: area/cli, go

#8404 [istio] Add globalVersion and additionalVersions mc options validations
  modules/110-istio/openapi/config-values.yaml
Labels: area/network, skip/documentation-validation, area/api-change

#8590 [cloud-provider-yandex] Add requirements for deprecated zone removal in the next release
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  modules/030-cloud-provider-yandex/hooks/alert_on_deprecated_availability_zone.go
  modules/030-cloud-provider-yandex/hooks/alert_on_deprecated_availability_zone_test.go
  modules/030-cloud-provider-yandex/hooks/deprecated_zone_in_cluster_configuration.go
  modules/030-cloud-provider-yandex/hooks/deprecated_zone_in_cluster_configuration_test.go
  modules/030-cloud-provider-yandex/requirements/check.go
  modules/030-cloud-provider-yandex/requirements/check_test.go
Labels: area/cloud-provider, area/core, go

#8470 [bashible] Update local port range
  candi/bashible/common-steps/node-group/041_configure_sysctl_tuner.sh.tpl
Labels: area/cluster-and-infrastructure

#8599 [docs] Update Deckhouse installation instruction
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
Labels: area/docs, status/backport

#8600 Backport: [docs] Update Deckhouse installation instruction
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
Labels: auto, backported

#8452 [istio] Remove deprecated Istio versions
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
  modules/110-istio/hooks/compatibility_version_istio_k8s_monitoring_test.go
  modules/110-istio/images/cni-v1x12x6/Dockerfile
  modules/110-istio/images/cni-v1x13x7/Dockerfile
  modules/110-istio/images/operator-v1x12x6/Dockerfile
  modules/110-istio/images/operator-v1x13x7/Dockerfile
  modules/110-istio/images/pilot-v1x12x6/Dockerfile
  modules/110-istio/images/pilot-v1x13x7/Dockerfile
  modules/110-istio/images/proxyv2-v1x12x6/Dockerfile
  modules/110-istio/images/proxyv2-v1x13x7/Dockerfile
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/openapi/values.yaml
  modules/110-istio/template_tests/module_test.go
  testing/library/images_tags_generated.go
Labels: area/network, area/testing, area/docs, skip/documentation-validation, go, area/api-change

#8596 [common] add patch for kube-scheduller 1.27.14
  modules/000-common/images/kubernetes/patches/kube-scheduler/1.27/01-kube-scheduler-fix-int-divide-by-zero.patch
  modules/000-common/images/kubernetes/patches/kube-scheduler/README.md
Labels: skip/documentation-validation, e2e/use/k8s/1.27

#8602 [docs][modules] Updates for module status
  docs/documentation/_data/i18n.yml
  docs/site/_data/i18n.yaml
  docs/site/backends/docs-builder-template/i18n/en.yaml
  docs/site/backends/docs-builder-template/i18n/ru.yaml
  docs/site/backends/docs-builder-template/layouts/_default/single.html
  docs/site/backends/docs-builder-template/layouts/partials/alert.html
  docs/site/backends/docs-builder-template/layouts/partials/sidebar.html
Labels: area/docs

#8421 [cloud-provider-yandex] Change default root disk size for master and cloud permanent nodes to 50 GB
  candi/cloud-providers/yandex/terraform-modules/master-node/variables.tf
  candi/cloud-providers/yandex/terraform-modules/static-node/variables.tf
  modules/030-cloud-provider-yandex/hooks/migrate_disk_gb_size_before_changing_default.go
  modules/030-cloud-provider-yandex/hooks/migrate_disk_gb_size_before_changing_default_test.go
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/configuration.tpl.yaml
Labels: area/cloud-provider, area/testing, area/cluster-and-infrastructure, go

#8608 [testing] change tinyproxy image for e2e static
  testing/cloud_layouts/script.sh
Labels: area/testing, status/backport

#8506 [dhctl] Use the `errors.As` function to handle errors
  dhctl/cmd/dhctl/commands/ssh.go
  dhctl/pkg/operations/bootstrap/steps.go
  dhctl/pkg/preflight/domain.go
  dhctl/pkg/preflight/ports.go
  dhctl/pkg/system/ssh/frontend/upload-script.go
  dhctl/pkg/terraform/pipeline.go
  dhctl/pkg/terraform/runner.go
  dhctl/pkg/util/tomb/tomb_test.go
Labels: area/cli, go

#8615 [dhctl] Change interface for tee debug logger
  dhctl/cmd/dhctl/main.go
  dhctl/pkg/log/logger.go
Labels: area/cli, status/backport, go

#8620 Backport: [dhctl] Change interface for tee debug logger
  dhctl/cmd/dhctl/main.go
  dhctl/pkg/log/logger.go
Labels: auto, backported

#8514 [docs] fix styles and add one more check cookie field in script
  docs/site/_includes/gdpr.html
  docs/site/css/components/_gdpr.scss
  docs/site/css/components/common/_button.scss
  docs/site/js/customscripts.js
Labels: area/docs

#8628 [dhctl] Remove terraform plan and destructive changes from check output
  dhctl/cmd/dhctl/commands/terraform.go
  dhctl/go.mod
  dhctl/pkg/kubernetes/actions/converge/check.go
  dhctl/pkg/kubernetes/actions/converge/check_test.go
Labels: type/dependencies, area/cli, e2e/cluster/failed, go

#8623 [dhctl] Fix spelling in preflight check
  dhctl/pkg/app/preflight.go
  dhctl/pkg/preflight/preflight.go
Labels: area/cli, go

#8622 [dhctl] Fix bootstrap on systems with umask 027/077
  dhctl/pkg/operations/bootstrap/steps.go
Labels: area/cli, go

#8630 [monitoring] Add configmap labels assembly
  modules/340-monitoring-kubernetes/templates/kube-state-metrics/deployment.yaml
Labels: area/monitoring

#8632 [dhctl] feat(dhctl-for-commander): add check state to grpc response
  dhctl/pkg/server/api/dhctl/check.proto
  dhctl/pkg/server/pb/dhctl/check.pb.go
  dhctl/pkg/server/rpc/dhctl/check.go
Labels: area/cli, go

#8641 [deckhouse-controller] Add user-agent for registry client
  deckhouse-controller/pkg/controller/module-controllers/utils/utils.go
Labels: area/core, go

#8560 [docs] Update logo for various modules
  docs/site/images/logos/ceph.png
  docs/site/images/logos/kubernetes.png
  docs/site/images/logos/kubernetes.svg
  docs/site/images/logos/nginx.svg
  docs/site/images/logos/vector.svg
  modules/000-common/oss.yaml
  modules/031-ceph-csi/oss.yaml
  modules/040-control-plane-manager/oss.yaml
  modules/050-network-policy-engine/oss.yaml
  modules/301-prometheus-metrics-adapter/oss.yaml
  modules/302-vertical-pod-autoscaler/oss.yaml
  modules/340-monitoring-kubernetes/oss.yaml
  modules/400-descheduler/oss.yaml
  modules/402-ingress-nginx/oss.yaml
  modules/460-log-shipper/oss.yaml
  modules/500-dashboard/oss.yaml
Labels: area/docs, status/backport

#8650 Backport: [docs] Update logo for various modules
  docs/site/images/logos/ceph.png
  docs/site/images/logos/kubernetes.png
  docs/site/images/logos/kubernetes.svg
  docs/site/images/logos/nginx.svg
  docs/site/images/logos/vector.svg
  modules/000-common/oss.yaml
  modules/031-ceph-csi/oss.yaml
  modules/040-control-plane-manager/oss.yaml
  modules/050-network-policy-engine/oss.yaml
  modules/301-prometheus-metrics-adapter/oss.yaml
  modules/302-vertical-pod-autoscaler/oss.yaml
  modules/340-monitoring-kubernetes/oss.yaml
  modules/400-descheduler/oss.yaml
  modules/402-ingress-nginx/oss.yaml
  modules/460-log-shipper/oss.yaml
  modules/500-dashboard/oss.yaml
Labels: auto, backported

#8647 [ingress-nginx] fix pod descheduling from a not-ready node
  modules/402-ingress-nginx/images/kruise/patches/add-pdb.patch
Labels: area/network, status/backport

#8651 Backport: [ingress-nginx] fix pod descheduling from a not-ready node
  modules/402-ingress-nginx/images/kruise/patches/add-pdb.patch
Labels: auto, backported

#8286 Changelog v1.61.0
  CHANGELOG/CHANGELOG-v1.61.0.yml
  CHANGELOG/CHANGELOG-v1.61.md
Labels: changelog, auto, status/backport

#8652 Backport: Changelog v1.61.0
  CHANGELOG/CHANGELOG-v1.61.0.yml
  CHANGELOG/CHANGELOG-v1.61.md
Labels: auto, backported

#8621 [ingress-nginx] fix usage custom logs formats without our fields
  modules/402-ingress-nginx/images/controller-1-10/patches/nginx-tmpl.patch
  modules/402-ingress-nginx/images/controller-1-10/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-1-6/patches/nginx-tmpl.patch
  modules/402-ingress-nginx/images/controller-1-6/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-1-9/patches/nginx-tmpl.patch
  modules/402-ingress-nginx/images/controller-1-9/rootfs/etc/nginx/lua/pbmetrics.lua
Labels: area/network, e2e/cluster/failed

#8655 Backport: [registry-proxy] fix registry path calculation
  dhctl/pkg/operations/bootstrap/steps.go
  dhctl/pkg/operations/bootstrap/steps_test.go
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/go.mod
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/go.sum
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/internal/credentials/secret.go
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/internal/credentials/secret_test.go
  modules/039-registry-packages-proxy/images/registry-packages-proxy/werf.inc.yaml
Labels: auto, backported

#8639 [node-manager] fix add nodeuser
  candi/bashible/common-steps/node-group/000_add_node_users.sh.tpl
  modules/040-node-manager/hooks/clear_nodeuser_errors.go
  modules/040-node-manager/templates/bashible/rbac-for-us.yaml
Labels: area/cluster-and-infrastructure, status/backport, go

#8657 Backport: [node-manager] fix add nodeuser
  candi/bashible/common-steps/node-group/000_add_node_users.sh.tpl
  modules/040-node-manager/hooks/clear_nodeuser_errors.go
  modules/040-node-manager/templates/bashible/rbac-for-us.yaml
Labels: auto, backported

#8579 Changelog v1.60.4
  CHANGELOG/CHANGELOG-v1.60.4.yml
  CHANGELOG/CHANGELOG-v1.60.md
Labels: changelog, auto, status/backport

#8658 Backport: Changelog v1.60.4
  CHANGELOG/CHANGELOG-v1.60.4.yml
  CHANGELOG/CHANGELOG-v1.60.md
Labels: auto, backported

#8682 [dhctl] add mirror deprecation notice
  dhctl/cmd/dhctl/commands/mirror.go
  dhctl/cmd/dhctl/commands/mirror_modules.go
Labels: area/cli, status/backport, skip/e2e, go

#8683 Backport: [dhctl] add mirror deprecation notice
  dhctl/cmd/dhctl/commands/mirror.go
  dhctl/cmd/dhctl/commands/mirror_modules.go
Labels: auto, backported

#8678 [istio] release requirements checker fix
  modules/110-istio/requirements/check.go
Labels: area/network, go

#8661 [ingress-nginx] Add missing severity_level for rule
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
Labels: area/network

#8687 [docs] Mark the descheduler module as experimental
  docs/documentation/_data/sidebars/main.yml
Labels: area/docs

#8619 Changelog v1.61.1
  CHANGELOG/CHANGELOG-v1.61.1.yml
  CHANGELOG/CHANGELOG-v1.61.md
Labels: changelog, auto, status/backport

#8690 Backport: Changelog v1.61.1
  CHANGELOG/CHANGELOG-v1.61.1.yml
  CHANGELOG/CHANGELOG-v1.61.md
Labels: auto, backported

#8691 Backport: [ingress-nginx] Add missing severity_level for rule
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
Labels: auto, backported

#8692 Backport: [istio] release requirements checker fix
  modules/110-istio/requirements/check.go
Labels: auto, backported

#8672 [candi] fix bootstrap with static binaries
  candi/cloud-providers/yandex/bashible/bundles/ubuntu-lts/bootstrap-networks.sh.tpl
  modules/007-registrypackages/images/iptables/scripts/install
Labels: area/cloud-provider, area/cluster-and-infrastructure, area/core

#8702 [dhctl]: fix(dhctl-commander-detach): fix resources cleanup on detach
  dhctl/pkg/kubernetes/actions/resources/resources.go
  dhctl/pkg/operations/commander/detach/detacher.go
  dhctl/pkg/server/api/dhctl/commander_detach.proto
  dhctl/pkg/server/pb/dhctl/commander_detach.pb.go
  dhctl/pkg/server/rpc/dhctl/commander_detach.go
Labels: area/cli, go

#8705 Backport: [istio] release requirements checker fix
  modules/110-istio/requirements/check.go
Labels: auto, backported

#8706 Changelog v1.60.5
  CHANGELOG/CHANGELOG-v1.60.5.yml
  CHANGELOG/CHANGELOG-v1.60.md
Labels: changelog, auto, status/backport

#8708 Backport: Changelog v1.60.5
  CHANGELOG/CHANGELOG-v1.60.5.yml
  CHANGELOG/CHANGELOG-v1.60.md
Labels: auto, backported

#7779 [docs] Add module development documentation
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/images/module-development/build.png
  docs/documentation/images/module-development/deploy.png
  docs/documentation/images/module-development/module_stability.png
  docs/documentation/pages/module-development/BUILD.md
  docs/documentation/pages/module-development/BUILD_RU.md
  docs/documentation/pages/module-development/DEVELOPMENT.md
  docs/documentation/pages/module-development/DEVELOPMENT_RU.md
  docs/documentation/pages/module-development/EXAMPLE.md
  docs/documentation/pages/module-development/EXAMPLE_RU.md
  docs/documentation/pages/module-development/README.md
  docs/documentation/pages/module-development/README_RU.md
  docs/documentation/pages/module-development/RUN.md
  docs/documentation/pages/module-development/RUN_RU.md
  docs/documentation/pages/module-development/STRUCTURE.md
  docs/documentation/pages/module-development/STRUCTURE_RU.md
  docs/documentation/pages/module-development/VERSIONING.md
  docs/documentation/pages/module-development/VERSIONING_RU.md
Labels: area/docs

#8712 [control-plane-manager] Specify service-account-jwks-uri
  candi/control-plane-kubeadm/config.yaml.tpl
Labels: area/cluster-and-infrastructure

#8689 Add missing variable to deprecated-apis dashboard
  modules/340-monitoring-kubernetes-control-plane/monitoring/grafana-dashboards/kubernetes-cluster/deprecated-resources.json
Labels: area/monitoring

#8717 [ci] Run build tasks closer to the registry. Reduce matrix test cpu usage
  .github/ci_templates/build.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  testing/matrix/linter/controller.go
Labels: area/testing, go

#8718 [node-manager] Re-enable ClusterHasOrphanedDisks alert for yandex
  modules/040-node-manager/monitoring/prometheus-rules/cloud-data-discovery.tpl
Labels: area/cluster-and-infrastructure, status/backport

#8729 Backport: [node-manager] Re-enable ClusterHasOrphanedDisks alert for yandex
  modules/040-node-manager/monitoring/prometheus-rules/cloud-data-discovery.tpl
Labels: auto, backported

#8680 [candi] Disable systemd-gpt-auto-generator
  candi/bashible/common-steps/all/003_disable_swap.sh.tpl
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.26

#8730 [log-shipper] Delete lock files before sending a signal to vector to update the configuration
  modules/460-log-shipper/images/vector/reloader/main.go
Labels: area/logs, go

#8719 [chore] Update Kubernetes patch versions
  candi/version_map.yml
  modules/000-common/images/kubernetes/patches/kube-scheduler/1.27/01-kube-scheduler-fix-int-divide-by-zero.patch
  modules/000-common/images/kubernetes/patches/kube-scheduler/README.md
  testing/library/images_tags_generated.go
Labels: area/kubernetes, area/testing, area/cluster-and-infrastructure, go

#8701 [candi] Clean up rp units
  candi/bashible/common-steps/node-group/002_create_static_node_cleanup_script.sh.tpl
Labels: area/cluster-and-infrastructure

#8665 [multitenancy-manager] fix: replace special characters in metadata.name
  ee/modules/160-multitenancy-manager/templates/user-resources/default-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-with-dedicated-nodes-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/templates/_helpers.tpl
  ee/modules/160-multitenancy-manager/templates/user-resources/templates/user-resources-templates.yaml
Labels: area/security

#8727 [core] fix working with registries on non-standard ports
  dhctl/pkg/operations/bootstrap/steps.go
  dhctl/pkg/operations/bootstrap/steps_test.go
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/internal/credentials/secret.go
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/internal/credentials/secret_test.go
Labels: area/cli, status/backport, go

#8737 Backport: [core] fix working with registries on non-standard ports
  dhctl/pkg/operations/bootstrap/steps.go
  dhctl/pkg/operations/bootstrap/steps_test.go
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/internal/credentials/secret.go
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/internal/credentials/secret_test.go
Labels: auto, backported

#8736 Changelog v1.60.6
  CHANGELOG/CHANGELOG-v1.60.6.yml
  CHANGELOG/CHANGELOG-v1.60.md
Labels: changelog, auto, status/backport

#8738 Backport: Changelog v1.60.6
  CHANGELOG/CHANGELOG-v1.60.6.yml
  CHANGELOG/CHANGELOG-v1.60.md
Labels: auto, backported

#8742 [ingress-nginx] Fix hostPortWithProxyProtocol inlet
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: status/backport

#8743 Backport: [ingress-nginx] Fix hostPortWithProxyProtocol inlet
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: auto, backported

#8704 [user-authn] fix crowd basic auth proxy migration
  modules/150-user-authn/hooks/delete_crowd_basic_auth_proxy.go
  modules/150-user-authn/hooks/delete_crowd_basic_auth_proxy_test.go
Labels: area/auth, status/backport, skip/e2e, go

#8745 Backport: [user-authn] fix crowd basic auth proxy migration
  modules/150-user-authn/hooks/delete_crowd_basic_auth_proxy.go
  modules/150-user-authn/hooks/delete_crowd_basic_auth_proxy_test.go
Labels: auto, backported

#8675 [ingress-nginx] bump nginx to 1.25.5
  modules/402-ingress-nginx/images/controller-1-10/patches/add-http3.patch
  modules/402-ingress-nginx/images/controller-1-10/patches/nginx-build.patch
Labels: area/network

#8722 [deckhouse] fix overwriting embedded modules' images tags
  global-hooks/discovery/modules_images_tags.go
  global-hooks/discovery/modules_images_tags_test.go
  global-hooks/discovery/testdata/modules-images-tags/external-modules-source/998-double/images_digests.json
  global-hooks/discovery/testdata/modules-images-tags/external-modules/998-double
Labels: area/core, go

#8671 [deckhouse] feat: set clusterDomain from global.clusterConfiguration.clusterDomain
  global-hooks/discovery/cluster_domain.go
  global-hooks/discovery/cluster_domain_test.go
Labels: area/core, go

#8696 [deckhouse] feat: restrict creating system namespaces
  modules/002-deckhouse/template_tests/module_test.go
  modules/002-deckhouse/templates/validation.yaml
Labels: skip/e2e, go

#8532 [monitoring-deckhouse] Remove old grafana panels
  modules/340-monitoring-deckhouse/monitoring/grafana-dashboards/main/deckhouse.json
Labels: area/monitoring

#8592 Fix oom_kills:normalized metric for cgroup_path with cri-containerd in name
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/ebpf-exporter.yaml
Labels: area/monitoring, status/ok-to-test, e2e/use/k8s/1.27

#8741 [docs] Remove mention devBranch in bootstrap without the usage of release chanel
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs

#8697 [docs] Add examples for Blitz OIDC
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: area/auth, area/docs

#8754 [docs] Update page about installation of Deckhouse CLI
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
Labels: area/docs

#8759 [deckhouse-controller][e2e] do not reveal secrets in logs
  testing/cloud_layouts/script_eks.sh
Labels: area/testing

#8688 [deckhouse] check requirements only for enabled modules
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/updater.go
  go_lib/dependency/requirements/requirements.go
  go_lib/updater/updater.go
  modules/002-deckhouse/hooks/internal/updater/updater.go
  modules/002-deckhouse/hooks/update_deckhouse_image.go
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
Labels: area/core, go

#8762 Backport: Changelog v1.61.2
  CHANGELOG/CHANGELOG-v1.61.2.yml
  CHANGELOG/CHANGELOG-v1.61.md
Labels: auto, backported

#8765 Backport: [deckhouse] check requirements only for enabled modules
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/updater.go
  go_lib/dependency/requirements/requirements.go
  go_lib/updater/updater.go
  modules/002-deckhouse/hooks/internal/updater/updater.go
  modules/002-deckhouse/hooks/update_deckhouse_image.go
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
Labels: auto, backported

#8766 Backport: Add missing variable to deprecated-apis dashboard
  modules/340-monitoring-kubernetes-control-plane/monitoring/grafana-dashboards/kubernetes-cluster/deprecated-resources.json
Labels: auto, backported

#8760 [candi] Fix typo
  ee/candi/version_map.yml
Labels: area/kubernetes, area/cluster-and-infrastructure

#8755 [cloud-provider-vsphere] net-bootstap fix
  ee/candi/cloud-providers/vsphere/bashible/bundles/altlinux/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vsphere/bashible/bundles/astra/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vsphere/bashible/bundles/debian/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vsphere/bashible/bundles/ubuntu-lts/bootstrap-networks.sh.tpl
Labels: area/cloud-provider, area/cluster-and-infrastructure

#8595 [bashible] creating deckhouser user and group
  candi/bashible/common-steps/all/003_create_deckhouse_user.sh.tpl
Labels: area/cluster-and-infrastructure

#8761 [cloud-provider-yandex] Update csi driver to disable root reservation
  modules/030-cloud-provider-yandex/images/yandex-csi-plugin/werf.inc.yaml
Labels: area/cloud-provider

#8749 [prometheus] Fix copying of Grafana v10 custom certificate
  modules/300-prometheus/templates/grafana/authenticator-v10.yaml
  modules/300-prometheus/templates/grafana/certificate.yaml
  modules/300-prometheus/templates/grafana/ingress-v10.yaml
  modules/300-prometheus/templates/grafana/ingress.yaml
Labels: area/monitoring

#8780 Revert "[deckhouse] feat: restrict creating system namespaces"
  modules/002-deckhouse/template_tests/module_test.go
  modules/002-deckhouse/templates/validation.yaml
Labels: go

#8580 [prometheus] Update Grafana internal documentation.
  modules/110-istio/docs/internal/DEVELOPMENT_RU.md
  modules/110-istio/docs/internal/istio-grafana-dashboards.sh
  modules/300-prometheus/docs/internal/GRAFANA_DASHBOARD_DEVELOPMENT.md
  modules/300-prometheus/docs/internal/GRAFANA_DASHBOARD_DEVELOPMENT_RU.md
  modules/300-prometheus/images/grafana-v10/patches/README.md
  modules/300-prometheus/images/grafana-v10/patches/ds-authorization.patch
  modules/300-prometheus/images/grafana-v10/werf.inc.yaml
Labels: area/monitoring, area/network, area/docs, skip/documentation-validation

#8417 Disable wait for guest network routable by default in vSphere Provider
  ee/candi/cloud-providers/vsphere/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/vsphere/terraform-modules/master-node/variables.tf
  ee/candi/cloud-providers/vsphere/terraform-modules/static-node/main.tf
Labels: area/cloud-provider, area/cluster-and-infrastructure

#8787 [dhctl] Fix bootstrap cluster
  dhctl/pkg/preflight/registry.go
Labels: area/cli, status/backport, go

#8723 [prometheus] Expose Grafana v10 metrics
  modules/300-prometheus/images/grafana-v10/grafana_home_dashboard.json
  modules/300-prometheus/templates/grafana/servicemonitor-v10.yaml
Labels: area/monitoring, status/ok-to-test

#8612 [deckhouse-controller] Hide some sensitive data in debug output
  deckhouse-controller/pkg/debug/debug.go
Labels: area/core, go

#8792 [cloud-provider-yandex] Fix typo in label key in discoverer
  modules/030-cloud-provider-yandex/images/cloud-data-discoverer/discoverer.go
Labels: area/cloud-provider, status/backport, go

#8798 Backport: [cloud-provider-yandex] Fix typo in label key in discoverer
  modules/030-cloud-provider-yandex/images/cloud-data-discoverer/discoverer.go
Labels: auto, backported

#8442 [candi][cloud-provider-yandex] Remove ru-central1-c zone from terraform
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/terraform-modules/master-node/main.tf
  candi/cloud-providers/yandex/terraform-modules/static-node/main.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/main.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/nat_instance.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/outputs.tf
  release.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, skip/documentation-validation, area/api-change

#8733 [cloud-provider-openstack] Add ConfigDrive support for mcm and SimpleWithInternalNetwork layout
  candi/bashible/common-steps/node-group/004_integrate_kubernetes_data_device.sh.tpl
  ee/candi/cloud-providers/openstack/layouts/simple-with-internal-network/master-node/main.tf
  ee/candi/cloud-providers/openstack/layouts/simple-with-internal-network/variables.tf
  ee/candi/cloud-providers/openstack/openapi/cloud_discovery_data.yaml
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/modules/030-cloud-provider-openstack/cloud-instance-manager/machine-class.yaml
  ee/modules/030-cloud-provider-openstack/hooks/internal/v1/provider_cluster_configuration.go
  ee/modules/030-cloud-provider-openstack/hooks/openstack_cluster_configuration.go
  ee/modules/030-cloud-provider-openstack/hooks/openstack_cluster_configuration_test.go
  ee/modules/030-cloud-provider-openstack/openapi/values.yaml
  ee/modules/030-cloud-provider-openstack/templates/registration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, go, area/api-change

#8801 Backport: [ingress-nginx] fix pod descheduling from a not-ready node
  modules/402-ingress-nginx/images/kruise/patches/add-pdb.patch
Labels: auto, backported

#8802 Backport: [registry-proxy] fix registry path calculation
  dhctl/pkg/operations/bootstrap/steps.go
  dhctl/pkg/operations/bootstrap/steps_test.go
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/go.mod
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/go.sum
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/internal/credentials/secret.go
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/internal/credentials/secret_test.go
  modules/039-registry-packages-proxy/images/registry-packages-proxy/werf.inc.yaml
Labels: auto, backported

#8803 Backport: [node-manager] fix add nodeuser
  candi/bashible/common-steps/node-group/000_add_node_users.sh.tpl
  modules/040-node-manager/hooks/clear_nodeuser_errors.go
  modules/040-node-manager/templates/bashible/rbac-for-us.yaml
Labels: auto, backported

#8804 Backport: [monitoring] Add configmap labels assembly
  modules/340-monitoring-kubernetes/templates/kube-state-metrics/deployment.yaml
Labels: auto, backported

#8805 Backport: [ingress-nginx] fix usage custom logs formats without our fields
  modules/402-ingress-nginx/images/controller-1-10/patches/nginx-tmpl.patch
  modules/402-ingress-nginx/images/controller-1-10/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-1-6/patches/nginx-tmpl.patch
  modules/402-ingress-nginx/images/controller-1-6/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-1-9/patches/nginx-tmpl.patch
  modules/402-ingress-nginx/images/controller-1-9/rootfs/etc/nginx/lua/pbmetrics.lua
Labels: auto, backported

#8807 Backport: [docs] Update logo for various modules
  docs/site/images/logos/ceph.png
  docs/site/images/logos/kubernetes.png
  docs/site/images/logos/kubernetes.svg
  docs/site/images/logos/nginx.svg
  docs/site/images/logos/vector.svg
  modules/000-common/oss.yaml
  modules/031-ceph-csi/oss.yaml
  modules/040-control-plane-manager/oss.yaml
  modules/050-network-policy-engine/oss.yaml
  modules/301-prometheus-metrics-adapter/oss.yaml
  modules/302-vertical-pod-autoscaler/oss.yaml
  modules/340-monitoring-kubernetes/oss.yaml
  modules/400-descheduler/oss.yaml
  modules/402-ingress-nginx/oss.yaml
  modules/460-log-shipper/oss.yaml
  modules/500-dashboard/oss.yaml
Labels: auto, backported

#8808 Backport: [monitoring] Add configmap labels assembly
  modules/340-monitoring-kubernetes/templates/kube-state-metrics/deployment.yaml
Labels: auto, backported

#8778 [deckhouse] patch ValidatingAdmissionPolicy to ignore kubernetes system changes
  ee/modules/160-multitenancy-manager/templates/validating.yaml
  modules/002-deckhouse/template_tests/module_test.go
  modules/002-deckhouse/templates/validation.yaml
Labels: area/security, e2e/use/k8s/1.26, go, e2e/use/k8s/1.29

#8674 [docs][gs] Change the owner of the home directory in bare metal installation
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
Labels: area/docs, status/ok-to-test

#8783 Changelog v1.61.3
  CHANGELOG/CHANGELOG-v1.60.4.yml
  CHANGELOG/CHANGELOG-v1.60.md
  CHANGELOG/CHANGELOG-v1.61.3.yml
  CHANGELOG/CHANGELOG-v1.61.md
Labels: changelog, auto, status/backport

#8785 [docs] Add FAQ to chrony section in sidebar
  docs/documentation/_data/sidebars/main.yml
Labels: area/docs, status/backport

#8816 Backport: [docs] Add FAQ to chrony section in sidebar
  docs/documentation/_data/sidebars/main.yml
Labels: auto, backported

#8817 Backport: [docs] Add FAQ to chrony section in sidebar
  docs/documentation/_data/sidebars/main.yml
Labels: auto, backported

#8744 [ingress-nginx] add alert for deprecated geoip envs
  modules/402-ingress-nginx/hooks/alert_deprecated_geoip_version.go
  modules/402-ingress-nginx/hooks/alert_deprecated_geoip_version_test.go
  modules/402-ingress-nginx/hooks/migrate_daemonset_and_pods.go
  modules/402-ingress-nginx/hooks/migrate_daemonset_and_pods_test.go
  modules/402-ingress-nginx/hooks/migrate_update_kruise_controller_image.go
  modules/402-ingress-nginx/hooks/migrate_update_kruise_controller_image_test.go
  modules/402-ingress-nginx/monitoring/prometheus-rules/deprecated-geoip-version.tpl
Labels: area/network, go

#8819 [deckhouse] Fix heritage deckhouse Admission policy
  modules/002-deckhouse/templates/validation.yaml
Labels: e2e/use/k8s/1.26, e2e/cluster/failed, e2e/use/k8s/1.28

#8814 [node-manager] Create status.errors object for all NodeUsers (migration) and add conversion webhook for same logic
  modules/040-node-manager/hooks/internal/v1/node_user.go
  modules/040-node-manager/hooks/migration/common_test.go
  modules/040-node-manager/hooks/migration/migrate_add_status_subresource_to_node_user.go
  modules/040-node-manager/hooks/migration/migrate_add_status_subresource_to_node_user_test.go
  modules/040-node-manager/webhooks/conversion/node_user
Labels: area/cluster-and-infrastructure, status/backport, go

#8824 Backport: [node-manager] Create status.errors object for all NodeUsers (migration) and add conversion webhook for same logic
  modules/040-node-manager/hooks/internal/v1/node_user.go
  modules/040-node-manager/hooks/migration/common_test.go
  modules/040-node-manager/hooks/migration/migrate_add_status_subresource_to_node_user.go
  modules/040-node-manager/hooks/migration/migrate_add_status_subresource_to_node_user_test.go
  modules/040-node-manager/webhooks/conversion/node_user
Labels: auto, backported

#8669 [prometheus] add beforeHelm for alertmanager_crds hook
  modules/300-prometheus/hooks/alertmanager_crd_discovery.go
Labels: area/monitoring, go

#8771 [prometheus] System-independent Probes
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring, area/docs

#8815 Changelog v1.61.4
  CHANGELOG/CHANGELOG-v1.61.4.yml
  CHANGELOG/CHANGELOG-v1.61.md
Labels: changelog, auto, status/backport

#8826 Backport: Changelog v1.61.4
  CHANGELOG/CHANGELOG-v1.61.4.yml
  CHANGELOG/CHANGELOG-v1.61.md
Labels: auto, backported

#8735 [docs] Improve information about manually uploading images in a private environment
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#8833 Backport: [docs] Improve information about manually uploading images in a private environment
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#8835 [docs][static-routing-manager] Minor changes in the documentation
  ee/modules/025-static-routing-manager/crds/doc-ru-iprulesets.yaml
  ee/modules/025-static-routing-manager/crds/doc-ru-routingtables.yaml
  ee/modules/025-static-routing-manager/crds/iprulesets.yaml
  ee/modules/025-static-routing-manager/openapi/doc-ru-config-values.yaml
Labels: status/backport, area/api-change

#8836 Backport: [docs][static-routing-manager] Minor changes in the documentation
  ee/modules/025-static-routing-manager/crds/doc-ru-iprulesets.yaml
  ee/modules/025-static-routing-manager/crds/doc-ru-routingtables.yaml
  ee/modules/025-static-routing-manager/crds/iprulesets.yaml
  ee/modules/025-static-routing-manager/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#8820 [cloud-provider-openstack] Add the `--tls-cipher-suites` option
  ee/modules/030-cloud-provider-openstack/templates/cloud-controller-manager/deployment.yaml
Labels: area/cloud-provider

#8838 [docs] fix modules mirroring doc regarding filter flag
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#8840 Backport: [docs] fix modules mirroring doc regarding filter flag
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#8122 [docs] Reflect module behaviour when changing default SC
  ee/modules/450-network-gateway/openapi/config-values.yaml
  ee/modules/450-network-gateway/openapi/doc-ru-config-values.yaml
  ee/se/modules/502-delivery/openapi/config-values.yaml
  ee/se/modules/502-delivery/openapi/doc-ru-config-values.yaml
  modules/300-prometheus/openapi/config-values.yaml
  modules/300-prometheus/openapi/doc-ru-config-values.yaml
  modules/462-loki/openapi/config-values.yaml
  modules/462-loki/openapi/doc-ru-config-values.yaml
  modules/500-upmeter/openapi/config-values.yaml
  modules/500-upmeter/openapi/doc-ru-config-values.yaml
Labels: area/monitoring, area/network, status/backport, skip/e2e, area/logs, area/api-change

#8841 Backport: [docs] Reflect module behaviour when changing default SC
  ee/modules/450-network-gateway/openapi/config-values.yaml
  ee/modules/450-network-gateway/openapi/doc-ru-config-values.yaml
  ee/se/modules/502-delivery/openapi/config-values.yaml
  ee/se/modules/502-delivery/openapi/doc-ru-config-values.yaml
  modules/300-prometheus/openapi/config-values.yaml
  modules/300-prometheus/openapi/doc-ru-config-values.yaml
  modules/462-loki/openapi/config-values.yaml
  modules/462-loki/openapi/doc-ru-config-values.yaml
  modules/500-upmeter/openapi/config-values.yaml
  modules/500-upmeter/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#8716 [docs] Improvements in Cloud provider — OpenStack. Fixed objects examples
  ee/candi/cloud-providers/openstack/openapi/instance_class.yaml
Labels: area/docs, status/backport

#8842 Backport: [docs] Improvements in Cloud provider — OpenStack. Fixed objects examples
  ee/candi/cloud-providers/openstack/openapi/instance_class.yaml
Labels: auto, backported

#8668 [docs] Add information and command to access Deckhouse controller in HA mode
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#8684 [docs] Improvements in FAQ. Added usage example for Nexus docker repository
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs

#8654 [docs][cloud-provider-aws] Added a link to the service annotations
  modules/030-cloud-provider-aws/docs/EXAMPLES.md
  modules/030-cloud-provider-aws/docs/EXAMPLES_RU.md
Labels: area/docs, status/backport

#8844 Backport: [docs][cloud-provider-aws] Added a link to the service annotations
  modules/030-cloud-provider-aws/docs/EXAMPLES.md
  modules/030-cloud-provider-aws/docs/EXAMPLES_RU.md
Labels: auto, backported

#8828 [docs] Add a notice for mirroring images into Harbor
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#8846 Backport: [docs] Add a notice for mirroring images into Harbor
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#8831 [dhctl] fix terraform plugin dir
  dhctl/pkg/terraform/executor.go
  dhctl/pkg/terraform/runner.go
  testing/cloud_layouts/AWS/WithoutNAT/configuration.tpl.yaml
Labels: area/testing, area/cli, go
