Repository deckhouse/deckhouse, pull requests merged in 2024-08, with the labels that each got.

#9238 Backport: [cloud-provider-vcd] Fix impossibility to use 0 as value of Max IOPS in storage policy
  ee/modules/030-cloud-provider-vcd/images/vcd-csi-plugin-legacy/werf.inc.yaml
  ee/modules/030-cloud-provider-vcd/images/vcd-csi-plugin/patches/01-add-iops-calculation.patch
  ee/modules/030-cloud-provider-vcd/images/vcd-csi-plugin/werf.inc.yaml
Labels: auto, backported

#9231 [deckhouse-controller] Fix panic on invalid module image
  deckhouse-controller/pkg/controller/module-controllers/downloader/downloader_test.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/module_downloader.go
Labels: area/core, status/backport, go

#9239 Backport: [deckhouse-controller] Fix panic on invalid module image
  deckhouse-controller/pkg/controller/module-controllers/downloader/downloader_test.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/module_downloader.go
Labels: auto, backported

#9200 [istio][monitoring] Renaming the D8IstioActualDataPlaneVersionNeDesired alert
  docs/documentation/_data/deckhouse-alerts.yml
  ee/modules/110-istio/monitoring/prometheus-rules/dataplane.yaml
Labels: area/network, area/docs, skip/e2e

#9244 [monitoring] Fix cni cilium dashboard
  ee/modules/021-cni-cilium/templates/monitoring.yaml
  modules/021-cni-cilium/monitoring/grafana-dashboards/kubernetes-cluster/cilium-agent.json
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: area/network, area/testing, status/ok-to-test

#9249 [monitoring] Fix cyclic redirect for Grafana dex auth
  modules/300-prometheus/templates/grafana/ingress-v10.yaml
  modules/300-prometheus/templates/grafana/ingress.yaml
Labels: area/monitoring, status/ok-to-test

#9245 [testing] Disabling the istio module and the istio availability test from EKS e2e layout.
  testing/cloud_layouts/EKS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/script.d/wait_cluster_ready/test_script.sh
Labels: area/testing, status/backport

#9253 Backport: [testing] Disabling the istio module and the istio availability test from EKS e2e layout.
  testing/cloud_layouts/EKS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/script.d/wait_cluster_ready/test_script.sh
Labels: auto, backported

#9258 Backport: [istio][monitoring] Renaming the D8IstioActualDataPlaneVersionNeDesired alert
  docs/documentation/_data/deckhouse-alerts.yml
  ee/modules/110-istio/monitoring/prometheus-rules/dataplane.yaml
Labels: auto, backported

#9259 [docs][istio] Update description of resource management parameters section
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/openapi/doc-ru-config-values.yaml
Labels: area/network, status/backport, area/api-change

#9260 Backport: [docs][istio] Update description of resource management parameters section
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#9264 Backport: [monitoring] Fix cni cilium dashboard
  ee/modules/021-cni-cilium/templates/monitoring.yaml
  modules/021-cni-cilium/monitoring/grafana-dashboards/kubernetes-cluster/cilium-agent.json
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: auto, backported

#9265 Backport: [monitoring] Fix cni cilium dashboard
  ee/modules/021-cni-cilium/templates/monitoring.yaml
  modules/021-cni-cilium/monitoring/grafana-dashboards/kubernetes-cluster/cilium-agent.json
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: auto, backported

#9211 Changelog v1.62.5
  CHANGELOG/CHANGELOG-v1.62.5.yml
  CHANGELOG/CHANGELOG-v1.62.md
Labels: changelog, auto, status/backport

#9267 Backport: Changelog v1.62.5
  CHANGELOG/CHANGELOG-v1.62.5.yml
  CHANGELOG/CHANGELOG-v1.62.md
Labels: auto, backported

#9269 Backport: feat: add DELETE verbs for restrict operations on deckhouse heritage
  modules/002-deckhouse/templates/validation.yaml
Labels: auto, backported

#9261 [monitoring] Fix dex authentificators name for grafana
  modules/300-prometheus/templates/grafana/authenticator-v8.yaml
  modules/300-prometheus/templates/grafana/authenticator.yaml
  modules/300-prometheus/templates/grafana/ingress-v10.yaml
  modules/300-prometheus/templates/grafana/ingress.yaml
Labels: area/monitoring, status/ok-to-test, status/backport

#9271 Backport: [monitoring] Fix dex authentificators name for grafana
  modules/300-prometheus/templates/grafana/authenticator-v8.yaml
  modules/300-prometheus/templates/grafana/authenticator.yaml
  modules/300-prometheus/templates/grafana/ingress-v10.yaml
  modules/300-prometheus/templates/grafana/ingress.yaml
Labels: auto, backported

#9270 [deckhouse] add skipped status
  deckhouse-controller/crds/module-release.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
Labels: area/core, skip/documentation-validation, status/backport, go, area/api-change

#9272 Backport: [deckhouse] add skipped status
  deckhouse-controller/crds/module-release.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
Labels: auto, backported

#9236 [cloud-provider-dynamix] enable Cilium
  ee/modules/030-cloud-provider-dynamix/hooks/get_cni_secret.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/api/compute.go
  ee/modules/030-cloud-provider-dynamix/openapi/values.yaml
  ee/modules/030-cloud-provider-dynamix/templates/cni.yaml
Labels: area/cloud-provider, go, area/api-change

#9234 [flannel] Removing the cilium configuration file on flannel startup
  modules/035-cni-flannel/images/flanneld/entrypoint/main.go
  modules/035-cni-flannel/templates/daemonset.yaml
Labels: area/network, go

#8989 [deckhouse-controller] feat: improve module validation
  deckhouse-controller/pkg/controller/module-controllers/downloader/module_downloader.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/copy.go
  deckhouse-controller/pkg/controller/module-controllers/release/copy_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/copy_case/README.md
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/copy_case/bar/aaa.txt
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/copy_case/foo/ccc/bbb.txt
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/module-failed/openapi/config-values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/module-not-valid/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/module-values-failed/openapi/config-values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/module-values-failed/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/module/openapi/config-values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/module/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/simple.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/with-annotation.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/updater.go
  testing/openapi_validation/library.go
Labels: area/testing, area/core, go, area/api-change

#9241 [deckhouse-controller] Restart controller if a ModuleRelease is Deployed phase is deleted
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
Labels: area/core, go

#9285 Revert "[deckhouse-controller] feat: improve module validation"
  deckhouse-controller/pkg/controller/module-controllers/downloader/module_downloader.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/copy.go
  deckhouse-controller/pkg/controller/module-controllers/release/copy_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/copy_case/README.md
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/copy_case/bar/aaa.txt
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/copy_case/foo/ccc/bbb.txt
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/module-failed/openapi/config-values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/module-not-valid/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/module-values-failed/openapi/config-values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/module-values-failed/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/module/openapi/config-values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/module/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/simple.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/with-annotation.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/updater.go
  testing/openapi_validation/library.go
Labels: area/testing, area/core, go, area/api-change

#9278 [e2e] fix: allow kubernetes-admin to make changes
  modules/002-deckhouse/templates/validation.yaml
Labels: status/backport, e2e/cluster/failed, e2e/use/k8s/1.29

#9286 Backport: [e2e] fix: allow kubernetes-admin to make changes
  modules/002-deckhouse/templates/validation.yaml
Labels: auto, backported

#9230 [registry-packages-proxy] add some unit tests
  go_lib/registry-packages-proxy/go.mod
  go_lib/registry-packages-proxy/go.sum
  go_lib/registry-packages-proxy/registry/default_client_test.go
Labels: type/dependencies, area/core, go

#9292 Backport: [e2e] fix: allow kubernetes-admin to make changes
  modules/002-deckhouse/templates/validation.yaml
Labels: auto, backported

#9294 [node-manager] add needed role for cluster-autoscaler and bump versions.
  candi/version_map.yml
  modules/040-node-manager/images/cluster-autoscaler/patches/1.28/scale-from-zero.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.29/scale-from-zore.patch
  modules/040-node-manager/images/cluster-autoscaler/werf.inc.yaml
  modules/040-node-manager/templates/cluster-autoscaler/rbac-for-us.yaml
Labels: area/kubernetes, area/cluster-and-infrastructure

#9282 [docs] Adoption of existing Node under Cluster API Provider Static
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: area/docs, area/cluster-and-infrastructure

#9276 [e2e] vcd e2e workflow renaming
  .github/ci_templates/e2e_tests.yml
  .github/scripts/js/constants.js
  .github/workflow_templates/e2e-daily.yml
  .github/workflow_templates/e2e.abort.multi.yml
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-abort-vcd.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vcd.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  testing/cloud_layouts/script.sh
Labels: area/testing, status/backport

#9297 Backport: [e2e] vcd e2e workflow renaming
  .github/ci_templates/e2e_tests.yml
  .github/scripts/js/constants.js
  .github/workflow_templates/e2e-daily.yml
  .github/workflow_templates/e2e.abort.multi.yml
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-abort-vcd.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vcd.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  testing/cloud_layouts/script.sh
Labels: auto, backported

#9299 [e2e] vcd e2e workflow renaming
  testing/cloud_layouts/VCD/Standard/configuration.tpl.yaml
  testing/cloud_layouts/VCD/Standard/resources.tpl.yaml
  testing/cloud_layouts/script.sh
Labels: area/testing, status/backport

#9300 Backport: [e2e] vcd e2e workflow renaming
  testing/cloud_layouts/VCD/Standard/configuration.tpl.yaml
  testing/cloud_layouts/VCD/Standard/resources.tpl.yaml
  testing/cloud_layouts/script.sh
Labels: auto, backported

#8782 Changelog v1.63.0
  CHANGELOG/CHANGELOG-v1.63.0.yml
  CHANGELOG/CHANGELOG-v1.63.md
Labels: changelog, auto, status/backport

#9301 Backport: Changelog v1.63.0
  CHANGELOG/CHANGELOG-v1.63.0.yml
  CHANGELOG/CHANGELOG-v1.63.md
Labels: auto, backported

#9302 Backport: [deckhouse] add skipped status for module release
  deckhouse-controller/crds/module-release.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
Labels: auto, backported

#9275 [istio] Fixed operability in managed k8s setups
  modules/110-istio/hooks/discovery_preflight_check.go
  modules/110-istio/templates/control-plane/iop.yaml
  testing/cloud_layouts/EKS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/script.d/wait_cluster_ready/test_script.sh
  testing/cloud_layouts/script.d/wait_cluster_ready/test_script_eks.sh
Labels: area/network, area/testing, go

#9280 [docs] Fix spec.version in mc for documentation module
  modules/810-documentation/docs/EXAMPLES.md
  modules/810-documentation/docs/EXAMPLES_RU.md
Labels: area/docs, status/backport

#9304 Backport: [docs] Fix spec.version in mc for documentation module
  modules/810-documentation/docs/EXAMPLES.md
  modules/810-documentation/docs/EXAMPLES_RU.md
Labels: auto, backported

#9305 Backport: [docs] Fix spec.version in mc for documentation module
  modules/810-documentation/docs/EXAMPLES.md
  modules/810-documentation/docs/EXAMPLES_RU.md
Labels: auto, backported

#9284 [dhctl] deleting storage.deckhouse.io/crs when dhctl destroy is executed
  dhctl/pkg/kubernetes/actions/deckhouse/delete.go
  dhctl/pkg/operations/destroy/deckhouse.go
Labels: area/cli, go

#9218 [dhctl] Remove uploaded SSH scripts after execution
  dhctl/pkg/operations/bootstrap/steps.go
  dhctl/pkg/system/ssh/frontend/upload-script.go
Labels: area/cli, go

#9229 [candi] fix install empty ca module source
  candi/bashible/common-steps/node-group/002_install_ms_ca_certificates.sh.tpl
  candi/bashible/common-steps/node-group/032_configure_containerd.sh.tpl
Labels: area/cluster-and-infrastructure

#9191 [istio] Removing wildcard RBACs from the module
  modules/040-control-plane-manager/hooks/audit_policy.go
  modules/040-control-plane-manager/hooks/audit_policy_test.go
  modules/110-istio/hooks/migration_adopt_serviceaccounts.go
  modules/110-istio/hooks/migration_adopt_serviceaccounts_test.go
  modules/110-istio/templates/control-plane/iop/istiod/_istiod_clusterroles.tpl
  modules/110-istio/templates/control-plane/iop/istiod/_rules_v-1-16.tpl
  modules/110-istio/templates/control-plane/iop/istiod/_rules_v-1-19.tpl
  modules/110-istio/templates/control-plane/iop/istiod/configmap.yaml
  modules/110-istio/templates/control-plane/iop/istiod/rbac-for-us.yaml
  modules/110-istio/templates/operator/rbac-for-us.yaml
  testing/matrix/linter/rules/roles/placement.go
  testing/matrix/linter/rules/roles/wildcards.go
  tools/audit_policy/main.go
Labels: area/network, area/testing, area/cluster-and-infrastructure, go

#9298 [cilium][istio] Making hubble-ui and kiali accessible only for the to the ingress controller
  modules/110-istio/templates/kiali/configmap.yaml
  modules/110-istio/templates/kiali/deployment.yaml
  modules/110-istio/templates/kiali/ingress.yaml
  modules/110-istio/templates/kiali/rbac-for-us.yaml
  modules/110-istio/templates/kiali/rbac-to-us.yaml
  modules/110-istio/templates/kiali/service.yaml
  modules/500-cilium-hubble/templates/ui/deployment.yaml
  modules/500-cilium-hubble/templates/ui/ingress.yaml
  modules/500-cilium-hubble/templates/ui/rbac-for-us.yaml
  modules/500-cilium-hubble/templates/ui/rbac-to-us.yaml
  modules/500-cilium-hubble/templates/ui/service.yaml
Labels: area/network

#9321 Backport: [node-manager] add needed role for cluster-autoscaler and bump versions.
  candi/version_map.yml
  modules/040-node-manager/images/cluster-autoscaler/patches/1.28/scale-from-zero.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.29/scale-from-zore.patch
  modules/040-node-manager/images/cluster-autoscaler/werf.inc.yaml
  modules/040-node-manager/templates/cluster-autoscaler/rbac-for-us.yaml
Labels: auto, backported

#9322 Backport: [node-manager] fix cluster-autoscaler build typos
  modules/040-node-manager/images/cluster-autoscaler/patches/1.29/scale-from-zero.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.30/scale-from-zero.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/README.md
Labels: auto, backported

#9325 Backport: [docs] Adoption of existing Node under Cluster API Provider Static
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: auto, backported

#9326 Backport: [istio] Fixed operability in managed k8s setups
  modules/110-istio/hooks/discovery_preflight_check.go
  modules/110-istio/templates/control-plane/iop.yaml
  testing/cloud_layouts/EKS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/script.d/wait_cluster_ready/test_script.sh
  testing/cloud_layouts/script.d/wait_cluster_ready/test_script_eks.sh
Labels: auto, backported

#9327 Backport: [candi] fix install empty ca module source
  candi/bashible/common-steps/node-group/002_install_ms_ca_certificates.sh.tpl
  candi/bashible/common-steps/node-group/032_configure_containerd.sh.tpl
Labels: auto, backported

#9330 Backport: [log-shipper] Add GELF codec to Socket destination
  modules/460-log-shipper/apis/v1alpha1/cluster_log_destination.go
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/hooks/generate_config_test.go
  modules/460-log-shipper/hooks/internal/vector/destination/socket.go
  modules/460-log-shipper/hooks/internal/vector/transform/codecs.go
  modules/460-log-shipper/hooks/internal/vector/transform/destination.go
  modules/460-log-shipper/hooks/internal/vrl/codecs.go
  modules/460-log-shipper/hooks/testdata/file-to-socket-cef-gelf/manifests.yaml
  modules/460-log-shipper/hooks/testdata/file-to-socket-cef-gelf/result.json
  modules/460-log-shipper/hooks/testdata/file-to-socket/result.json
Labels: auto, backported

#9243 [docs] Fixed command requesting basic-auth password for `documentation` module
  docs/site/_includes/getting_started/existing/STEP_FINISH.md
  docs/site/_includes/getting_started/existing/STEP_FINISH_RU.md
  modules/810-documentation/docs/CONFIGURATION.md
  modules/810-documentation/docs/CONFIGURATION_RU.md
Labels: area/docs, status/backport

#9332 Backport: [docs] Fixed command requesting basic-auth password for `documentation` module
  docs/site/_includes/getting_started/existing/STEP_FINISH.md
  docs/site/_includes/getting_started/existing/STEP_FINISH_RU.md
  modules/810-documentation/docs/CONFIGURATION.md
  modules/810-documentation/docs/CONFIGURATION_RU.md
Labels: auto, backported

#9323 [bashible-apiserver] detect_bundle.sh in CE edition
  modules/040-node-manager/images/bashible-apiserver/werf.inc.yaml
Labels: area/cluster-and-infrastructure, status/backport, edition/ce

#9333 Backport: [bashible-apiserver] detect_bundle.sh in CE edition
  modules/040-node-manager/images/bashible-apiserver/werf.inc.yaml
Labels: auto, backported

#9315 [network-policy-engine][registrypackages] Downgrading iptables version to 1.8.9
  candi/bashible/common-steps/all/003_install_mandatory_packages.sh.tpl
  modules/007-registrypackages/images/iptables/werf.inc.yaml
  modules/050-network-policy-engine/images/kube-router/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/network, area/security, area/testing, area/cluster-and-infrastructure, area/core, status/backport, go

#9338 Backport: [ingress-nginx] Adding an example with L2LoadBalancer
  modules/402-ingress-nginx/docs/EXAMPLES.md
  modules/402-ingress-nginx/docs/EXAMPLES_RU.md
Labels: auto, backported

#9311 [docs] Add docs about recovery of etcd cluster which can't run with force-new-cluster
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport

#9339 Backport: [docs] Add docs about recovery of etcd cluster which can't run with force-new-cluster
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#9188 [vertical-pod-autoscaler] Fix description verticalpodautoscaler
  modules/010-vertical-pod-autoscaler-crd/crds/verticalpodautoscaler.yaml
Labels: area/scaling, status/ok-to-test, area/api-change

#9341 Backport: [network-policy-engine][registrypackages] Downgrading iptables version to 1.8.9
  candi/bashible/common-steps/all/003_install_mandatory_packages.sh.tpl
  modules/007-registrypackages/images/iptables/werf.inc.yaml
  modules/050-network-policy-engine/images/kube-router/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: auto, backported

#9340 [network-policy-engine][registrypackages] Downgrading iptables version to 1.8.9
  candi/bashible/common-steps/all/003_install_mandatory_packages.sh.tpl
  modules/007-registrypackages/images/iptables/werf.inc.yaml
  modules/050-network-policy-engine/images/kube-router/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/network, area/security, area/testing, area/cluster-and-infrastructure, area/core, go

#8845 [chrony] docs: Fix example
  modules/470-chrony/docs/CONFIGURATION.md
  modules/470-chrony/docs/CONFIGURATION_RU.md
  modules/470-chrony/openapi/config-values.yaml
Labels: area/docs, area/cluster-and-infrastructure, skip/documentation-validation, status/backport, area/api-change

#9342 Backport: [chrony] docs: Fix example
  modules/470-chrony/docs/CONFIGURATION.md
  modules/470-chrony/docs/CONFIGURATION_RU.md
  modules/470-chrony/openapi/config-values.yaml
Labels: auto, backported

#9343 [docs] Add description for the Deckhouse CLI pages
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
Labels: area/docs, status/backport

#9345 Backport: [docs] Add description for the Deckhouse CLI pages
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
Labels: auto, backported

#9026 [user-authz] restrict access to machine resources
  modules/002-deckhouse/templates/validation.yaml
  modules/040-node-manager/templates/user-authz-cluster-roles.yaml
Labels: area/cluster-and-infrastructure, e2e/cluster/failed

#9316 [admission-policy-engine] Add deny-exec policy and exclude virtualization controller checks
  candi/control-plane-kubeadm/config.yaml.tpl
  modules/015-admission-policy-engine/charts/constraint-templates/templates/security/deny-exec.yaml
  modules/015-admission-policy-engine/hooks/detect_track_match_resources.go
  modules/015-admission-policy-engine/hooks/detect_track_match_resources_test.go
  modules/015-admission-policy-engine/images/constraint-exporter/go.mod
  modules/015-admission-policy-engine/images/constraint-exporter/go.sum
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/kinds/kinds.go
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/kinds/kinds_test.go
  modules/015-admission-policy-engine/openapi/values.yaml
  modules/015-admission-policy-engine/template_tests/module_test.go
  modules/015-admission-policy-engine/template_tests/operation_policies_test.go
  modules/015-admission-policy-engine/templates/validatingwebhookconfiguration.yaml
Labels: area/security, area/cluster-and-infrastructure, type/dependencies, e2e/use/k8s/1.26, status/backport, go, e2e/use/k8s/1.27, area/api-change, e2e/use/k8s/1.29

#9349 Backport: [admission-policy-engine] Add deny-exec policy and exclude virtualization controller checks
  candi/control-plane-kubeadm/config.yaml.tpl
  modules/015-admission-policy-engine/charts/constraint-templates/templates/security/deny-exec.yaml
  modules/015-admission-policy-engine/hooks/detect_track_match_resources.go
  modules/015-admission-policy-engine/hooks/detect_track_match_resources_test.go
  modules/015-admission-policy-engine/images/constraint-exporter/go.mod
  modules/015-admission-policy-engine/images/constraint-exporter/go.sum
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/kinds/kinds.go
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/kinds/kinds_test.go
  modules/015-admission-policy-engine/openapi/values.yaml
  modules/015-admission-policy-engine/template_tests/module_test.go
  modules/015-admission-policy-engine/template_tests/operation_policies_test.go
  modules/015-admission-policy-engine/templates/validatingwebhookconfiguration.yaml
Labels: auto, backported

#9350 Backport: [admission-policy-engine] Add deny-exec policy and exclude virtualization controller checks
  candi/control-plane-kubeadm/config.yaml.tpl
  modules/015-admission-policy-engine/charts/constraint-templates/templates/security/deny-exec.yaml
  modules/015-admission-policy-engine/hooks/detect_track_match_resources.go
  modules/015-admission-policy-engine/hooks/detect_track_match_resources_test.go
  modules/015-admission-policy-engine/images/constraint-exporter/go.mod
  modules/015-admission-policy-engine/images/constraint-exporter/go.sum
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/kinds/kinds.go
  modules/015-admission-policy-engine/images/constraint-exporter/pkg/kinds/kinds_test.go
  modules/015-admission-policy-engine/openapi/values.yaml
  modules/015-admission-policy-engine/template_tests/module_test.go
  modules/015-admission-policy-engine/template_tests/operation_policies_test.go
  modules/015-admission-policy-engine/templates/validatingwebhookconfiguration.yaml
Labels: auto, backported

#9331 Changelog v1.62.6
  CHANGELOG/CHANGELOG-v1.62.6.yml
  CHANGELOG/CHANGELOG-v1.62.md
Labels: changelog, auto, status/backport

#9351 Backport: Changelog v1.62.6
  CHANGELOG/CHANGELOG-v1.62.6.yml
  CHANGELOG/CHANGELOG-v1.62.md
Labels: auto, backported

#9202 Changelog v1.63.1
  CHANGELOG/CHANGELOG-v1.63.1.yml
  CHANGELOG/CHANGELOG-v1.63.md
Labels: changelog, auto, status/backport

#9352 Backport: Changelog v1.63.1
  CHANGELOG/CHANGELOG-v1.63.1.yml
  CHANGELOG/CHANGELOG-v1.63.md
Labels: auto, backported

#9335 [istio] Forcing istiod to restart when mTLS ca configuration changes
  modules/110-istio/templates/control-plane/iop.yaml
Labels: area/network

#8328 [dhctl] Add a resource readiness status check
  dhctl/pkg/kubernetes/actions/resources/cluster_is_bootstrap.go
  dhctl/pkg/kubernetes/actions/resources/resource_id.go
  dhctl/pkg/kubernetes/actions/resources/resource_is_ready.go
  dhctl/pkg/kubernetes/actions/resources/resource_is_ready_test.go
  dhctl/pkg/kubernetes/actions/resources/resources.go
  dhctl/pkg/kubernetes/actions/resources/waiter.go
  dhctl/pkg/kubernetes/actions/resources/waiter_test.go
  dhctl/pkg/kubernetes/actions/resources/watcher.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-resources.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/commander/attach/attacher.go
  dhctl/pkg/operations/commander/detach/detacher.go
  dhctl/pkg/util/retry/retry.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/scope/instance_scope.go
Labels: area/cluster-and-infrastructure, area/cli, go

#9082 [deckhouse-controller] Field in the notification to determine whether it is a deckhouse or a module
  deckhouse-controller/pkg/controller/deckhouse-release/controller_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/updater/updater.go
  deckhouse-controller/pkg/controller/module-controllers/release/updater.go
  go_lib/updater/notification.go
  go_lib/updater/updater.go
  go_lib/updater/webhook.go
  modules/002-deckhouse/openapi/config-values.yaml
  modules/002-deckhouse/openapi/doc-ru-config-values.yaml
Labels: area/core, go, area/api-change

#9089 [cilium] setting VXLAN port into allowed range
  docs/documentation/_data/deckhouse-alerts.yml
  ee/modules/021-cni-cilium/.build.yaml
  modules/021-cni-cilium/hooks/discover_vxlan_port.go
  modules/021-cni-cilium/hooks/discover_vxlan_port_test.go
  modules/021-cni-cilium/monitoring/prometheus-rules/agent.yaml
  modules/021-cni-cilium/monitoring/prometheus-rules/configmap.yaml
  modules/021-cni-cilium/openapi/values.yaml
  modules/021-cni-cilium/templates/configmap.yaml
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: area/network, area/testing, area/docs, go, area/api-change

#9357 [docs] Fix path in example for modules
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#9363 Backport: [docs] Fix path in example for modules
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#9361 [node-manager] Fix cluster-autoscaler alert
  docs/documentation/_data/deckhouse-alerts.yml
  modules/040-node-manager/monitoring/prometheus-rules/cluster-autoscaler.tpl
Labels: area/docs, area/cluster-and-infrastructure, status/backport

#9364 Backport: [node-manager] Fix cluster-autoscaler alert
  docs/documentation/_data/deckhouse-alerts.yml
  modules/040-node-manager/monitoring/prometheus-rules/cluster-autoscaler.tpl
Labels: auto, backported

#9358 [multitenancy-manager] fix templates
  ee/modules/160-multitenancy-manager/templates/user-resources/default-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-with-dedicated-nodes-project-template.yaml
Labels: area/security, status/backport

#9368 Backport: [multitenancy-manager] fix templates
  ee/modules/160-multitenancy-manager/templates/user-resources/default-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-with-dedicated-nodes-project-template.yaml
Labels: auto, backported

#8969 [cloud-provider-*] Minimize RBAC permissions in the ClusterRole
  ee/modules/030-cloud-provider-openstack/templates/cloud-controller-manager/rbac-for-us.yaml
  ee/modules/030-cloud-provider-vcd/templates/cloud-controller-manager/rbac-for-us.yaml
  ee/modules/030-cloud-provider-vsphere/templates/cloud-controller-manager/rbac-for-us.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-controller-manager/rbac-for-us.yaml
  modules/030-cloud-provider-aws/templates/cloud-controller-manager/rbac-for-us.yaml
  modules/030-cloud-provider-azure/templates/cloud-controller-manager/rbac-for-us.yaml
  modules/030-cloud-provider-gcp/templates/cloud-controller-manager/rbac-for-us.yaml
  modules/030-cloud-provider-yandex/templates/cloud-controller-manager/rbac-for-us.yaml
Labels: area/cloud-provider

#9374 [docs] Minor changes
  docs/documentation/pages/module-development/RUN.md
  ee/be/modules/600-flant-integration/docs/internal/MADISON_RU.md
  ee/modules/030-cloud-provider-vcd/docs/FAQ.md
  ee/modules/030-cloud-provider-vcd/docs/FAQ_RU.md
  ee/se/modules/380-metallb/docs/EXAMPLES_RU.md
  modules/021-cni-cilium/docs/internal/CONNECTIVITY_TESTS.md
  modules/030-cloud-provider-aws/docs/FAQ.md
  modules/050-network-policy-engine/docs/README_RU.md
  modules/300-prometheus/docs/internal/GRAFANA_DASHBOARD_DEVELOPMENT_RU.md
  modules/300-prometheus/docs/internal/PROMETHEUS_RULES_DEVELOPMENT_RU.md
  modules/302-vertical-pod-autoscaler/docs/internal/README_RU.md
  modules/402-ingress-nginx/images/kruise/patches/README.md
  tools/spelling/dictionaries/dev_OPS.dic
  tools/spelling/wordlist
Labels: area/monitoring, area/cloud-provider, area/network, area/security, area/testing, area/docs, area/scaling, status/backport

#9382 Backport: [docs] Minor changes
  docs/documentation/pages/module-development/RUN.md
  ee/be/modules/600-flant-integration/docs/internal/MADISON_RU.md
  ee/modules/030-cloud-provider-vcd/docs/FAQ.md
  ee/modules/030-cloud-provider-vcd/docs/FAQ_RU.md
  ee/se/modules/380-metallb/docs/EXAMPLES_RU.md
  modules/021-cni-cilium/docs/internal/CONNECTIVITY_TESTS.md
  modules/030-cloud-provider-aws/docs/FAQ.md
  modules/050-network-policy-engine/docs/README_RU.md
  modules/300-prometheus/docs/internal/GRAFANA_DASHBOARD_DEVELOPMENT_RU.md
  modules/300-prometheus/docs/internal/PROMETHEUS_RULES_DEVELOPMENT_RU.md
  modules/302-vertical-pod-autoscaler/docs/internal/README_RU.md
  modules/402-ingress-nginx/images/kruise/patches/README.md
  tools/spelling/dictionaries/dev_OPS.dic
  tools/spelling/wordlist
Labels: auto, backported

#9251 [getting-started] Additional info dns template
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/doc-ru-config-values.yaml
Labels: area/docs, area/core, status/ok-to-test, area/api-change

#9383 [docs] Remove deprecated parameters from examples in the InitConfiguration
  candi/openapi/doc-ru-init_configuration.yaml
  candi/openapi/init_configuration.yaml
Labels: area/cluster-and-infrastructure, area/api-change

#9081 [deckhouse-controller] In Deckhouse Release, display the status that the Deckhouse update is in progress
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/after-setting-manual-approve-with-canary-process.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/after-setting-manual-approve.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/applied-now-postponed-release.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/apply-now-deckhouse-previous-release-is-not-ready.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/apply-now-manual-approval-mode-is-set.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/auto-deploy-patch-release-in-manual-mode.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/deckhouse-previous-release-is-not-ready.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/disruption-release-approved.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/first-release-with-manual-mode.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/forced-release.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/manual-approval-mode-is-set.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/manual-approval-mode-with-canary-process.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/manual-mode.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/no-update-windows-configured.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/notification-after-met-conditions.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/notification-basic-auth.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/notification-bearer-token-auth.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/notification-release-apply-after-time-is-after-notification-period.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/patch-out-of-update-window.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/pending-manual-release-on-cluster-bootstrap.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-apply-after-time-passed.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-requirements-passed.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-with-apply-now-annotation-out-of-window.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-with-notification-settings.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/second-run-of-the-hook-in-a-manual-mode-should-not-change-state.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/shutdown-and-evicted-pods.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/single-first-release.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/suspend-release.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/update-in-day-window.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/update-minimal-notification-time-without-configuring-notification-webhook.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/update-out-of-day-window.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/update-out-of-window.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/update-release-is-deployed.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/updater/updater.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/updater.go
  go_lib/updater/release.go
  go_lib/updater/updater.go
Labels: area/core, go

#9385 [log-shipper] Fix json codec socket
  modules/460-log-shipper/hooks/internal/vector/destination/socket.go
  modules/460-log-shipper/hooks/testdata/file-to-socket/manifests.yaml
  modules/460-log-shipper/hooks/testdata/file-to-socket/result.json
Labels: area/logs, go

#9389 Backport: [log-shipper] Fix json codec socket
  modules/460-log-shipper/hooks/internal/vector/destination/socket.go
  modules/460-log-shipper/hooks/testdata/file-to-socket/manifests.yaml
  modules/460-log-shipper/hooks/testdata/file-to-socket/result.json
Labels: auto, backported

#9380 [deckhouse] Various KIND fixes
  docs/site/_includes/getting_started/kind/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/kind/STEP_INSTALL_SCHEMA_RU.md
  tools/kind-d8.sh
Labels: area/testing, area/docs, skip/e2e

#9365 [go_lib] Skipping migration `diskSizeGB` for dev build
  go_lib/hooks/migrate_root_disk_size/hook.go
  modules/030-cloud-provider-yandex/hooks/migrate_disk_gb_size_before_changing_default.go
  modules/030-cloud-provider-yandex/hooks/migrate_disk_gb_size_before_changing_default_test.go
Labels: area/cloud-provider, area/core, go

#9362 [deckhouse] fix: allow admins to change objects with kind=StorageClass
  modules/002-deckhouse/templates/validation.yaml
Labels: status/backport

#9395 Backport: [deckhouse] fix: allow admins to change objects with kind=StorageClass
  modules/002-deckhouse/templates/validation.yaml
Labels: auto, backported

#9273 [go_lib] feat: add heritage label to all crds
  go_lib/hooks/ensure_crds/hook.go
  go_lib/hooks/ensure_crds/hook_test.go
  go_lib/hooks/ensure_crds/test_data/heritage.crd
Labels: area/core, go

#9360 [dhctl] Fix panic during resources creation
  dhctl/pkg/kubernetes/actions/resources/resources.go
Labels: area/cli, go

#9388 [dhctl] Update Deckhouse CLI to v0.3.2
  modules/007-registrypackages/images/d8/werf.inc.yaml
Labels: area/core, skip/e2e

#9303 [control-plane-manager] added ability to add kube-scheduler extenders
  docs/documentation/_data/sidebars/main.yml
  modules/040-control-plane-manager/crds/doc-ru-kube_scheduler_webhook_configuration.yaml
  modules/040-control-plane-manager/crds/kube_scheduler_webhook_configuration.yaml
  modules/040-control-plane-manager/docs/CR.md
  modules/040-control-plane-manager/docs/CR_RU.md
  modules/040-control-plane-manager/docs/EXAMPLES.md
  modules/040-control-plane-manager/docs/EXAMPLES_RU.md
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
  modules/040-control-plane-manager/docs/README.md
  modules/040-control-plane-manager/docs/README_RU.md
  modules/040-control-plane-manager/hooks/ensure_crds.go
  modules/040-control-plane-manager/hooks/kube_scheduler_extenders.go
  modules/040-control-plane-manager/hooks/kube_scheduler_extenders_test.go
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/openapi-case-tests.yaml
  modules/040-control-plane-manager/openapi/values.yaml
  modules/040-control-plane-manager/templates/_scheduler_config.tpl
  modules/040-control-plane-manager/templates/daemonset.yaml
Labels: area/docs, area/cluster-and-infrastructure, skip/documentation-validation, go, area/api-change

#9277 [docs] Refactor resource block styles in the documentation
  docs/documentation/_plugins/openapi.rb
  docs/site/backends/docs-builder-template/config/_default/hugo.yaml
  docs/site/backends/docs-builder-template/layouts/_default/modules.html
  docs/site/backends/docs-builder-template/layouts/_default/single.html
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-attributes.html
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-schema.html
  docs/site/css/components/_resources.scss
  docs/site/css/components/common/_variables.scss
  docs/site/css/docs.scss
  docs/site/css/syntax.css
  docs/site/js/customscripts.js
Labels: area/docs, area/api-change

#9405 Backport: [docs] Refactor resource block styles in the documentation
  docs/documentation/_plugins/openapi.rb
  docs/site/backends/docs-builder-template/config/_default/hugo.yaml
  docs/site/backends/docs-builder-template/layouts/_default/modules.html
  docs/site/backends/docs-builder-template/layouts/_default/single.html
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-attributes.html
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-schema.html
  docs/site/css/components/_resources.scss
  docs/site/css/components/common/_variables.scss
  docs/site/css/docs.scss
  docs/site/css/syntax.css
  docs/site/js/customscripts.js
Labels: auto, backported

#9401 [docs] Improvements in check images commands after change registry
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#9411 Backport: [docs] Improvements in check images commands after change registry
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#9414 Backport: [deckhouse] fix: allow admins to change objects with kind=StorageClass
  modules/002-deckhouse/templates/validation.yaml
Labels: auto, backported

#9413 [docs][site] Fix markup for deprecated parameters
  docs/documentation/_data/i18n.yml
  docs/documentation/_plugins/openapi.rb
  docs/site/backends/docs-builder-template/i18n/en.yaml
  docs/site/backends/docs-builder-template/i18n/ru.yaml
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-schema.html
  docs/site/css/components/_resources.scss
  docs/site/css/docs.scss
Labels: area/docs, status/backport, area/api-change

#9416 Backport: [docs][site] Fix markup for deprecated parameters
  docs/documentation/_data/i18n.yml
  docs/documentation/_plugins/openapi.rb
  docs/site/backends/docs-builder-template/i18n/en.yaml
  docs/site/backends/docs-builder-template/i18n/ru.yaml
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-schema.html
  docs/site/css/components/_resources.scss
  docs/site/css/docs.scss
Labels: auto, backported

#9417 Backport: [docs][site] Fix markup for deprecated parameters
  docs/documentation/_data/i18n.yml
  docs/documentation/_plugins/openapi.rb
  docs/site/backends/docs-builder-template/i18n/en.yaml
  docs/site/backends/docs-builder-template/i18n/ru.yaml
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-schema.html
  docs/site/css/components/_resources.scss
  docs/site/css/docs.scss
Labels: auto, backported

#9392 [global-hooks][migration] Fix multiport Services broken by Helm
  global-hooks/migration_service_with_many_ports.go
  global-hooks/migration_service_with_many_ports_test.go
Labels: area/core, go

#9386 [dhctl] Count logical CPU cores instead of physical in system requirements preflight check
  dhctl/pkg/preflight/specs_static.go
  dhctl/pkg/preflight/specs_static_test.go
Labels: area/cli, status/backport, go

#9418 Backport: [dhctl] Count logical CPU cores instead of physical in system requirements preflight check
  dhctl/pkg/preflight/specs_static.go
  dhctl/pkg/preflight/specs_static_test.go
Labels: auto, backported

#9420 Backport: [docs] Add page about uninstallation DKP
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
  docs/documentation/pages/installing/UNINSTALL.md
  docs/documentation/pages/installing/UNINSTALL_RU.md
Labels: auto, backported

#9421 Backport: [candi] fix bootstrap network with many interfaces in cloud provider yandex
  candi/cloud-providers/yandex/bashible/bootstrap-networks.sh.tpl
Labels: auto, backported

#9423 Backport: Changelog v1.63.2
  CHANGELOG/CHANGELOG-v1.63.2.yml
  CHANGELOG/CHANGELOG-v1.63.md
Labels: auto, backported

#9424 [docs] Move DKP documentation to the new location
  docs/documentation/.helm/templates/20-ingress.yaml
  docs/documentation/.helm/templates/_rewrites.tpl
  docs/documentation/.werf/nginx.conf
  docs/site/.helm/templates/20-ingress.yaml
  docs/site/.helm/templates/_helpers.tpl
  docs/site/.helm/templates/_rewrites.tpl
  docs/site/.helm/values.yaml
  docs/site/.werf/nginx-dev.conf
  docs/site/.werf/nginx.conf
  docs/site/_includes/getting_started/bm/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/bm/STEP_INSTALL_SCHEMA_RU.md
  docs/site/_includes/getting_started/global/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/global/STEP_INSTALL_SCHEMA_RU.md
  docs/site/docker-compose-debug.yml
  docs/site/docker-compose.yml
Labels: area/docs

#9431 Backport: [docs] Move DKP documentation to the new location
  docs/documentation/.helm/templates/20-ingress.yaml
  docs/documentation/.helm/templates/_rewrites.tpl
  docs/documentation/.werf/nginx.conf
  docs/site/.helm/templates/20-ingress.yaml
  docs/site/.helm/templates/_helpers.tpl
  docs/site/.helm/templates/_rewrites.tpl
  docs/site/.helm/values.yaml
  docs/site/.werf/nginx-dev.conf
  docs/site/.werf/nginx.conf
  docs/site/_includes/getting_started/bm/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/bm/STEP_INSTALL_SCHEMA_RU.md
  docs/site/_includes/getting_started/global/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/global/STEP_INSTALL_SCHEMA_RU.md
  docs/site/docker-compose-debug.yml
  docs/site/docker-compose.yml
Labels: auto, backported

#9432 [docs] Update URL for presentations in the getting started
  docs/site/_includes/getting_started/bm/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/bm/STEP_INSTALL_SCHEMA_RU.md
  docs/site/_includes/getting_started/global/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/global/STEP_INSTALL_SCHEMA_RU.md
Labels: area/docs

#9403 [040-node-manager] Node manager fix FAQ
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport

#9435 Backport: [040-node-manager] Node manager fix FAQ
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#9353 [registry-packages] add docker-registry package
  modules/007-registrypackages/images/docker-registry/scripts/install
  modules/007-registrypackages/images/docker-registry/scripts/uninstall
  modules/007-registrypackages/images/docker-registry/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/core, go

#9384 [core] update vector to 0.40.0 release
  candi/image_versions.yml
  modules/460-log-shipper/hooks/internal/composer/testdata/config_3.json
  modules/460-log-shipper/hooks/internal/vector/destination/elasticsearch.go
  modules/460-log-shipper/hooks/internal/vector/transform/testdata/filters.json
  modules/460-log-shipper/hooks/internal/vector/transform/throttle.go
  modules/460-log-shipper/hooks/internal/vrl/filter.go
  modules/460-log-shipper/hooks/internal/vrl/filter_test.go
  modules/460-log-shipper/hooks/testdata/es-5x/result.json
  modules/460-log-shipper/hooks/testdata/file-to-elastic/result.json
  modules/460-log-shipper/hooks/testdata/multiline-custom-pods/result.json
  modules/460-log-shipper/hooks/testdata/multiline-custom/result.json
  modules/460-log-shipper/hooks/testdata/multiline/result.json
  modules/460-log-shipper/hooks/testdata/multiple-dest/result.json
  modules/460-log-shipper/hooks/testdata/namespaced-source/result.json
  modules/460-log-shipper/hooks/testdata/one-dest/result.json
  modules/460-log-shipper/hooks/testdata/pair-datastream/result.json
  modules/460-log-shipper/hooks/testdata/simple-pair/result.json
  modules/460-log-shipper/hooks/testdata/throttle-with-filter/result.json
  modules/460-log-shipper/hooks/testdata/throttle/result.json
  modules/460-log-shipper/hooks/validate_test.go
  modules/460-log-shipper/images/vector/README.md
  modules/460-log-shipper/images/vector/patches/cef-encoder.patch
  modules/460-log-shipper/images/vector/werf.inc.yaml
Labels: area/cluster-and-infrastructure, area/logs, go

#9440 Backport: [snapshot-controller] bump version to v8.0.1
  modules/045-snapshot-controller/images/snapshot-controller/patches/0001-fix-gomod.patch
  modules/045-snapshot-controller/images/snapshot-controller/patches/README.md
  modules/045-snapshot-controller/images/snapshot-controller/werf.inc.yaml
  modules/045-snapshot-controller/images/snapshot-validation-webhook/patches/0001-fix-gomod.patch
  modules/045-snapshot-controller/images/snapshot-validation-webhook/patches/README.md
  modules/045-snapshot-controller/images/snapshot-validation-webhook/werf.inc.yaml
  modules/045-snapshot-controller/templates/snapshot-validation-webhook/webhook.yaml
Labels: auto, backported

#9438 [candi] Before running `kubectl` check if it exists
  candi/bashible/bashible.sh.tpl
Labels: area/cluster-and-infrastructure, status/backport

#9441 Backport: [candi] Before running `kubectl` check if it exists
  candi/bashible/bashible.sh.tpl
Labels: auto, backported

#9448 [candi] fix exit codes in bootstrap-networks scripts
  candi/cloud-providers/aws/bashible/bootstrap-networks.sh.tpl
  candi/cloud-providers/yandex/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/openstack/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vcd/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vsphere/bashible/bootstrap-networks.sh.tpl
Labels: area/cloud-provider, area/cluster-and-infrastructure

#9451 Backport: [candi] fix exit codes in bootstrap-networks scripts
  candi/cloud-providers/aws/bashible/bootstrap-networks.sh.tpl
  candi/cloud-providers/yandex/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/openstack/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vcd/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vsphere/bashible/bootstrap-networks.sh.tpl
Labels: auto, backported

#9427 [admission-policy-engine] Fix validate spec.enforcementAction in constraints resources
  modules/015-admission-policy-engine/template_tests/module_test.go
  modules/015-admission-policy-engine/templates/validatingwebhookconfiguration.yaml
Labels: area/security, status/backport, go

#9452 Backport: [admission-policy-engine] Fix validate spec.enforcementAction in constraints resources
  modules/015-admission-policy-engine/template_tests/module_test.go
  modules/015-admission-policy-engine/templates/validatingwebhookconfiguration.yaml
Labels: auto, backported

#9394 [runtime-audit-engine] Correcting the wording in the documentation
  ee/modules/650-runtime-audit-engine/crds/doc-ru-falco-audit-rules.yaml
Labels: area/security, skip/documentation-validation, status/backport, area/api-change

#9453 Backport: [runtime-audit-engine] Correcting the wording in the documentation
  ee/modules/650-runtime-audit-engine/crds/doc-ru-falco-audit-rules.yaml
Labels: auto, backported

#9456 Backport: [istio] Solving race condition on fresh node between application pod and Istio CNI initialization
  modules/110-istio/templates/cni/rbac-for-us.yaml
Labels: auto, backported

#9415 Changelog v1.63.3
  CHANGELOG/CHANGELOG-v1.63.3.yml
  CHANGELOG/CHANGELOG-v1.63.md
Labels: changelog, auto

#9457 Backport: Changelog v1.63.3
  CHANGELOG/CHANGELOG-v1.63.3.yml
  CHANGELOG/CHANGELOG-v1.63.md
Labels: auto, backported

#9359 [dhctl] Fix static installation consume 100% of cpu
  dhctl/cmd/dhctl/main.go
  dhctl/pkg/system/process/executor.go
  dhctl/pkg/system/ssh/frontend/upload-script.go
Labels: area/cli, status/backport, go

#9397 [dhctl] Refactor resources checking
  dhctl/pkg/apis/v1/nodegroup.go
  dhctl/pkg/kubernetes/actions/resources/cluster_is_bootstrap.go
  dhctl/pkg/kubernetes/actions/resources/resouce_ready.go
  dhctl/pkg/kubernetes/actions/resources/resource_id.go
  dhctl/pkg/kubernetes/actions/resources/resource_is_ready.go
  dhctl/pkg/kubernetes/actions/resources/resource_is_ready_test.go
  dhctl/pkg/kubernetes/actions/resources/resources.go
  dhctl/pkg/kubernetes/actions/resources/waiter.go
  dhctl/pkg/kubernetes/actions/resources/waiter_test.go
  dhctl/pkg/kubernetes/actions/resources/watcher.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-resources.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/commander/attach/attacher.go
  dhctl/pkg/operations/commander/detach/detacher.go
  testing/cloud_layouts/AWS/WithoutNAT/resources.yaml
  testing/cloud_layouts/Azure/Standard/resources.yaml
  testing/cloud_layouts/EKS/WithoutNAT/resources.yaml
  testing/cloud_layouts/GCP/WithoutNAT/resources.yaml
  testing/cloud_layouts/OpenStack/Standard/resources.yaml
  testing/cloud_layouts/Static/resources.tpl.yaml
  testing/cloud_layouts/VCD/Standard/resources.tpl.yaml
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/resources.yaml
  testing/cloud_layouts/vSphere/Standard/resources.yaml
Labels: area/testing, area/cli, go

#9449 [dhctl](cloud-provider-yandex) Fix externalIPAddresses validation
  dhctl/pkg/config/meta.go
Labels: area/cli, status/backport, go

#9460 Backport: [dhctl](cloud-provider-yandex) Fix externalIPAddresses validation
  dhctl/pkg/config/meta.go
Labels: auto, backported

#9381 [cilium-hubble] Add name to VM pod and change its icon
  modules/500-cilium-hubble/images/ui-frontend/patches/001-hubble-ui-vm-name-icon.patch
  modules/500-cilium-hubble/images/ui-frontend/patches/README.md
  modules/500-cilium-hubble/images/ui-frontend/werf.inc.yaml
Labels: area/network, skip/documentation-validation

#9429 Cloud provider dynamix static node
  dhctl/pkg/preflight/specs_cloud.go
  ee/candi/cloud-providers/dynamix/layouts/standard/static-node
  ee/candi/cloud-providers/dynamix/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/dynamix/terraform-modules/static-node/main.tf
  ee/candi/cloud-providers/dynamix/terraform-modules/static-node/providers.tf
  ee/candi/cloud-providers/dynamix/terraform-modules/static-node/variables.tf
  ee/candi/cloud-providers/dynamix/terraform-modules/static-node/versions.tf
  ee/modules/030-cloud-provider-dynamix/openapi/values.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, area/cli, go, area/api-change

#9018 [candi] Added debugging information in case of error in bb-package-fetch-blob
  candi/bashible/bashbooster/50_registrypackages.sh
  candi/bashible/bb_package_install.sh.tpl
Labels: area/cluster-and-infrastructure

#9154 [candi](yandex) Fix externalIP detaching before deleting
  candi/cloud-providers/yandex/terraform-modules/master-node/main.tf
Labels: area/cloud-provider, area/cluster-and-infrastructure

#9254 [registrypackages][cni-simple-bridge] adding kernel version check for installing iptables and using this iptables bins in the simple-bridge image
  modules/007-registrypackages/images/iptables/scripts/install
  modules/007-registrypackages/images/iptables/werf.inc.yaml
  modules/035-cni-simple-bridge/images/simple-bridge/werf.inc.yaml
Labels: area/network, area/core

#9470 [runtime-audin-engine] fix monitoring rbac permissions
  ee/modules/650-runtime-audit-engine/templates/daemonset.yaml
  ee/modules/650-runtime-audit-engine/templates/k8s-metacollector/deployment.yaml
  ee/modules/650-runtime-audit-engine/templates/k8s-metacollector/podmonitor.yaml
  ee/modules/650-runtime-audit-engine/templates/k8s-metacollector/rbac-for-us.yaml
  ee/modules/650-runtime-audit-engine/templates/k8s-metacollector/rbac-to-us.yaml
Labels: area/security

#9467 [docs] Clarifying network security infrastracture requirements
  docs/documentation/pages/NETWORK_SECURITY_SETUP.md
  docs/documentation/pages/NETWORK_SECURITY_SETUP_RU.md
Labels: area/docs, status/backport

#9472 Backport: [docs] Clarifying network security infrastracture requirements
  docs/documentation/pages/NETWORK_SECURITY_SETUP.md
  docs/documentation/pages/NETWORK_SECURITY_SETUP_RU.md
Labels: auto, backported

#9477 [docs] Fix styles in the block of code syntax
  docs/site/css/syntax.css
Labels: area/docs

#9482 [docs] Use permanent redirects for the new documentation locations
  docs/documentation/.helm/templates/_rewrites.tpl
  docs/documentation/_data/i18n.yml
  docs/documentation/_includes/revision_comparison_detail_table.liquid
  docs/documentation/_includes/sidebar_entry.html
  docs/documentation/_includes/sitemap.liquid
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/documentation/pages/module-development/STRUCTURE.md
  docs/documentation/pages/module-development/STRUCTURE_RU.md
  docs/documentation/search-index.json
  docs/site/.helm/templates/_rewrites.tpl
  docs/site/_config.yml
  docs/site/_data/i18n.yaml
  docs/site/_includes/footer.html
  docs/site/_includes/head.html
  docs/site/_includes/sidebar_entry.html
  docs/site/_includes/sitemap-site.liquid
  docs/site/backends/docs-builder-template/layouts/partials/documentation-section-badge.html
  docs/site/sitemap-site.xml
  docs/site/sitemap-site_ru.xml
Labels: area/docs, status/backport

#9483 Backport: [docs] Use permanent redirects for the new documentation locations
  docs/documentation/.helm/templates/_rewrites.tpl
  docs/documentation/_data/i18n.yml
  docs/documentation/_includes/revision_comparison_detail_table.liquid
  docs/documentation/_includes/sidebar_entry.html
  docs/documentation/_includes/sitemap.liquid
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/documentation/pages/module-development/STRUCTURE.md
  docs/documentation/pages/module-development/STRUCTURE_RU.md
  docs/documentation/search-index.json
  docs/site/.helm/templates/_rewrites.tpl
  docs/site/_config.yml
  docs/site/_data/i18n.yaml
  docs/site/_includes/footer.html
  docs/site/_includes/head.html
  docs/site/_includes/sidebar_entry.html
  docs/site/_includes/sitemap-site.liquid
  docs/site/backends/docs-builder-template/layouts/partials/documentation-section-badge.html
  docs/site/sitemap-site.xml
  docs/site/sitemap-site_ru.xml
Labels: auto, backported
