Repository deckhouse/deckhouse, pull requests merged in 2024-04, with the labels that each got.

#7708 [user-authn][prometheus-metrics-adapter] Update documentation
  modules/150-user-authn/docs/README.md
  modules/150-user-authn/docs/README_RU.md
  modules/301-prometheus-metrics-adapter/docs/CR.md
  modules/301-prometheus-metrics-adapter/docs/USAGE.md
  modules/301-prometheus-metrics-adapter/docs/USAGE_RU.md
Labels: area/monitoring, area/auth, area/docs, skip/documentation-validation

#7558 [monitoring-kubernetes] Added releases smart cache
  modules/340-monitoring-kubernetes/hooks/auto_k8s_version_secret.go
  modules/340-monitoring-kubernetes/hooks/auto_k8s_version_secret_test.go
  modules/340-monitoring-kubernetes/hooks/auto_k8s_version_shedule.go
  modules/340-monitoring-kubernetes/hooks/helm.go
  modules/340-monitoring-kubernetes/hooks/helm_test.go
  modules/340-monitoring-kubernetes/hooks/internal/helm_releases.go
  modules/340-monitoring-kubernetes/hooks/internal/releases-cache/cache.go
  modules/340-monitoring-kubernetes/hooks/internal/releases-cache/cache_test.go
Labels: area/monitoring, go

#7925 [deckhouse] Requirements with module state
  go_lib/dependency/requirements/requirements.go
  go_lib/dependency/requirements/requirements_test.go
  modules/002-deckhouse/hooks/internal/updater/updater.go
Labels: area/core, status/backport, go

#7957 Backport: [deckhouse] Requirements with module state
  go_lib/dependency/requirements/requirements.go
  go_lib/dependency/requirements/requirements_test.go
  modules/002-deckhouse/hooks/internal/updater/updater.go
Labels: auto, backported

#7906 Changelog v1.58.7
  CHANGELOG/CHANGELOG-v1.58.7.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: changelog, auto, status/backport

#7958 Backport: Changelog v1.58.7
  CHANGELOG/CHANGELOG-v1.58.7.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: auto, backported

#7959 Changelog v1.58.7
  CHANGELOG/CHANGELOG-v1.58.7.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: changelog, auto

#7955 [e2e] update user for e2e openstack
  testing/cloud_layouts/script.sh
Labels: area/testing

#7942 [istio] Add a compatibility table to the doc
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
Labels: area/network, area/docs, e2e/use/k8s/1.25, status/doc-review

#7937 [l2-load-balancer] Updater for L2 Load Balancers Status
  ee/modules/381-l2-load-balancer/crds/l2-load-balncer.yaml
  ee/modules/381-l2-load-balancer/hooks/load_balancers_status_update.go
  ee/modules/381-l2-load-balancer/hooks/load_balancers_status_update_test.go
  ee/modules/381-l2-load-balancer/templates/rbac-to-us.yaml
  ee/modules/381-l2-load-balancer/templates/user-services/service.yaml
Labels: skip/documentation-validation, go, area/api-change

#7945 [prometheus] move prometheus/memcached to distroless
  modules/300-prometheus/images/memcached/werf.inc.yaml
  testing/matrix/linter/rules/modules/images.go
Labels: area/monitoring, area/testing, go

#7910 [docs][ingress-nginx] Required settings for inlets
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
Labels: area/network, status/backport, skip/e2e, area/api-change

#7967 Backport: [docs][ingress-nginx] Required settings for inlets
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
Labels: auto, backported

#7970 Backport: [cloud-provider-openstack] Add to docs required OpenStack services
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-openstack/docs/CONFIGURATION_RU.md
Labels: auto, backported

#7924 [cloud-provider-openstack] Allow to install clusters with http proxy
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-openstack/templates/cloud-controller-manager/deployment.yaml
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/deployment.yaml
  ee/modules/030-cloud-provider-openstack/templates/csi/controller.yaml
Labels: area/cloud-provider, skip/documentation-validation, go, e2e/use/k8s/1.27

#7973 [docs] Fix links
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: area/auth, area/docs, status/backport

#7974 Backport: [docs] Fix links
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: auto, backported

#7977 [dhctl] feat(dhctl-for-commander): more validations
  dhctl/pkg/config/validation.go
  dhctl/pkg/config/validation_rules_test.go
  dhctl/pkg/config/validation_test.go
Labels: area/cli, go

#7981 [dhctl] fix(dhct-for-commander): improve validation error messages
  dhctl/pkg/config/validation.go
  dhctl/pkg/config/validation_rules.go
  dhctl/pkg/config/validation_rules_test.go
  dhctl/pkg/config/validation_test.go
Labels: area/cli, go

#7933 [ingress-nginx] digital ocean k8s upgrade, update timeoutSeconds
  modules/402-ingress-nginx/templates/controller/admission.yaml
  modules/402-ingress-nginx/templates/kruise/webhook.yaml
Labels: area/network

#7984 [site] Fixed RoleBinding
  docs/site/.helm/templates/13-rbac.yaml
Labels: area/docs

#7963 Added new logo in header, small fix in header styles
  docs/site/_includes/header.html
  docs/site/css/components/_header.scss
Labels: area/docs

#7773 Update namespace_detail.json
  modules/402-ingress-nginx/monitoring/grafana-dashboards/ingress-nginx/namespace/namespace_detail.json
Labels: area/network, status/ok-to-test

#7987 [tools] d8-pull and d8-push scripts are deprecated
  tools/release/d8-pull.sh
  tools/release/d8-push.sh
Labels: area/ux

#7988 [deckhouse] relevant behavior of releases with `apply-now` annotation
  modules/002-deckhouse/hooks/internal/updater/updater.go
  modules/002-deckhouse/hooks/update_deckhouse_image.go
Labels: go

#7919 [dhctl] Support Deckhouse controller high availability mode during bootstrap
  dhctl/pkg/kubernetes/actions/converge/node.go
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
  dhctl/pkg/kubernetes/actions/deckhouse/log.go
  dhctl/pkg/kubernetes/actions/deckhouse/pod.go
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  dhctl/pkg/operations/converge/infra/hook/controlplane/hook.go
  modules/002-deckhouse/templates/deployment.yaml
Labels: area/cli, go

#7992 [cicd] enable release requirements validations
  .github/scripts/js/constants.js
  .github/workflow_templates/validation.yml
  .github/workflows/validation.yml
  release.yaml
  tools/validation/release_requirements.go
  tools/validation/release_requirements_test.go
  tools/validation/testdata/release_requirements/correct/example.go
  tools/validation/testdata/release_requirements/faulty/example.go
  tools/validation/testdata/release_requirements/faulty/extra-check.go
  tools/validation/testdata/release_requirements/faulty/function-assignment.go
  tools/validation/testdata/release_requirements/release.yaml
Labels: area/testing, go

#7996 [multitenancy-manager] Fix project template for secure policy
  ee/modules/160-multitenancy-manager/hooks/project.go
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-with-dedicated-nodes-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/templates/_helpers.tpl
  ee/modules/160-multitenancy-manager/templates/user-resources/templates/user-resources-templates.yaml
  go_lib/dependency/helm/helm.go
Labels: area/security, area/core, status/backport, skip/e2e, go

#8003 Backport: [multitenancy-manager] Fix project template for secure policy
  ee/modules/160-multitenancy-manager/hooks/project.go
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-with-dedicated-nodes-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/templates/_helpers.tpl
  ee/modules/160-multitenancy-manager/templates/user-resources/templates/user-resources-templates.yaml
  go_lib/dependency/helm/helm.go
Labels: auto, backported

#7966 Changelog v1.58.8
  CHANGELOG/CHANGELOG-v1.58.8.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: changelog, auto, status/backport

#8004 Backport: Changelog v1.58.8
  CHANGELOG/CHANGELOG-v1.58.8.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: auto, backported

#8007 Changelog v1.58.8
  CHANGELOG/CHANGELOG-v1.58.8.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: changelog, auto, status/backport

#8008 Backport: Changelog v1.58.8
  CHANGELOG/CHANGELOG-v1.58.8.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: auto, backported

#7991 [candi] Change containerd restart flow to avoid unwanted restarts
  candi/bashible/bashbooster/20_event.sh
  candi/bashible/bashbooster/30_flag.sh
  candi/bashible/common-steps/node-group/031_install_containerd.sh.tpl
  candi/bashible/common-steps/node-group/032_configure_containerd.sh.tpl
  candi/bashible/common-steps/node-group/033_restart_containerd_if_needed.sh.tpl
Labels: area/cluster-and-infrastructure

#8010 Backport: [candi] Change containerd restart flow to avoid unwanted restarts
  candi/bashible/bashbooster/20_event.sh
  candi/bashible/bashbooster/30_flag.sh
  candi/bashible/common-steps/node-group/031_install_containerd.sh.tpl
  candi/bashible/common-steps/node-group/032_configure_containerd.sh.tpl
  candi/bashible/common-steps/node-group/033_restart_containerd_if_needed.sh.tpl
Labels: auto, backported

#8011 Changelog v1.58.8
  CHANGELOG/CHANGELOG-v1.58.8.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: changelog, auto, status/backport

#8012 Backport: Changelog v1.58.8
  CHANGELOG/CHANGELOG-v1.58.8.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: auto, backported

#8013 Backport: [candi] Change containerd restart flow to avoid unwanted restarts
  candi/bashible/bashbooster/20_event.sh
  candi/bashible/bashbooster/30_flag.sh
  candi/bashible/common-steps/node-group/031_install_containerd.sh.tpl
  candi/bashible/common-steps/node-group/032_configure_containerd.sh.tpl
  candi/bashible/common-steps/node-group/033_restart_containerd_if_needed.sh.tpl
Labels: auto, backported

#7917 [dhctl](preflight-check) Add python2 support for `check_ports.sh`
  candi/bashible/preflight/check_ports.sh
Labels: area/cluster-and-infrastructure

#8000 [dhctl] mirror: Split images bundle support
  dhctl/cmd/dhctl/commands/mirror.go
  dhctl/pkg/app/mirror.go
  dhctl/pkg/operations/mirror.go
  dhctl/pkg/operations/mirror/bundle.go
  dhctl/pkg/operations/mirror/bundle_test.go
  dhctl/pkg/operations/mirror/chunk_writer.go
  dhctl/pkg/operations/mirror/chunk_writer_test.go
  dhctl/pkg/operations/mirror/context.go
  dhctl/pkg/operations/mirror_test.go
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, area/cli, status/backport, skip/e2e, go

#8020 Backport: [dhctl] mirror: Split images bundle support
  dhctl/cmd/dhctl/commands/mirror.go
  dhctl/pkg/app/mirror.go
  dhctl/pkg/operations/mirror.go
  dhctl/pkg/operations/mirror/bundle.go
  dhctl/pkg/operations/mirror/bundle_test.go
  dhctl/pkg/operations/mirror/chunk_writer.go
  dhctl/pkg/operations/mirror/chunk_writer_test.go
  dhctl/pkg/operations/mirror/context.go
  dhctl/pkg/operations/mirror_test.go
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#8001 [dhctl] feat(dhctl-for-commander): add import operation skeleton without real implementation, rework on-phase hook
  dhctl/pkg/infrastructure/cluster.go
  dhctl/pkg/kubernetes/actions/converge/converge.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/converge/converger.go
  dhctl/pkg/operations/destroy/destroy.go
  dhctl/pkg/operations/import/import_result.go
  dhctl/pkg/operations/import/importer.go
  dhctl/pkg/operations/import/phases.go
  dhctl/pkg/operations/phases/phased_execution_context.go
  dhctl/pkg/operations/phases/phases.go
Labels: area/cli, go

#7997 [operator-trivy] fix incorrect reports links
  ee/modules/500-operator-trivy/images/operator/Dockerfile
  ee/modules/500-operator-trivy/images/operator/patches/006-new-metrics.patch
  ee/modules/500-operator-trivy/images/operator/patches/README.md
  ee/modules/500-operator-trivy/monitoring/grafana-dashboards/security/trivy.json
Labels: area/security

#8022 [node-manager] Simplify ng zones check expression
  modules/040-node-manager/webhooks/validating/node_group
Labels: area/cluster-and-infrastructure

#8025 Backport: [node-manager] Simplify ng zones check expression
  modules/040-node-manager/webhooks/validating/node_group
Labels: auto, backported

#8024 [node-manager] fix panic error in node-manager hook
  modules/040-node-manager/hooks/minimal_node_os_version.go
Labels: area/cluster-and-infrastructure, status/backport, go

#8027 Backport: [node-manager] fix panic error in node-manager hook
  modules/040-node-manager/hooks/minimal_node_os_version.go
Labels: auto, backported

#8015 [e2e] fix eks e2e 1.59
  modules/300-prometheus/templates/memcached/sts.yaml
  testing/cloud_layouts/EKS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/script_eks.sh
Labels: area/monitoring, area/testing, status/backport

#8029 Backport: [e2e] fix eks e2e 1.59
  modules/300-prometheus/templates/memcached/sts.yaml
  testing/cloud_layouts/EKS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/script_eks.sh
Labels: auto, backported

#7968 [l2-load-balancer] add externalTrafficPolicy option
  ee/modules/381-l2-load-balancer/crds/doc-ru-l2-load-balancer.yaml
  ee/modules/381-l2-load-balancer/crds/l2-load-balancer.yaml
  ee/modules/381-l2-load-balancer/docs/EXAMPLES.md
  ee/modules/381-l2-load-balancer/docs/EXAMPLES_RU.md
  ee/modules/381-l2-load-balancer/hooks/common.go
  ee/modules/381-l2-load-balancer/hooks/handle_load_balancers.go
  ee/modules/381-l2-load-balancer/hooks/handle_load_balancers_test.go
  ee/modules/381-l2-load-balancer/openapi/values.yaml
  ee/modules/381-l2-load-balancer/template_tests/module_test.go
  ee/modules/381-l2-load-balancer/templates/user-services/service.yaml
  ee/modules/402-ingress-nginx/template_tests/l2lb_test.go
  ee/modules/402-ingress-nginx/templates/controller-l2/l2-load-balancer.yaml
Labels: area/docs, status/backport, status/doc-review, go, area/api-change

#8030 Backport: [l2-load-balancer] add externalTrafficPolicy option
  ee/modules/381-l2-load-balancer/crds/doc-ru-l2-load-balancer.yaml
  ee/modules/381-l2-load-balancer/crds/l2-load-balancer.yaml
  ee/modules/381-l2-load-balancer/docs/EXAMPLES.md
  ee/modules/381-l2-load-balancer/docs/EXAMPLES_RU.md
  ee/modules/381-l2-load-balancer/hooks/common.go
  ee/modules/381-l2-load-balancer/hooks/handle_load_balancers.go
  ee/modules/381-l2-load-balancer/hooks/handle_load_balancers_test.go
  ee/modules/381-l2-load-balancer/openapi/values.yaml
  ee/modules/381-l2-load-balancer/template_tests/module_test.go
  ee/modules/381-l2-load-balancer/templates/user-services/service.yaml
  ee/modules/402-ingress-nginx/template_tests/l2lb_test.go
  ee/modules/402-ingress-nginx/templates/controller-l2/l2-load-balancer.yaml
Labels: auto, backported

#8041 [docs][l2-load-balancer] Render CRDs
  docs/documentation/_data/sidebars/main.yml
  ee/modules/381-l2-load-balancer/docs/CR.md
  ee/modules/381-l2-load-balancer/docs/CR_RU.md
Labels: area/docs, status/backport

#8042 Backport: [docs][l2-load-balancer] Render CRDs
  docs/documentation/_data/sidebars/main.yml
  ee/modules/381-l2-load-balancer/docs/CR.md
  ee/modules/381-l2-load-balancer/docs/CR_RU.md
Labels: auto, backported

#7115 Changelog v1.59.0
  CHANGELOG/CHANGELOG-v1.59.0.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: changelog, auto, status/backport

#8043 Backport: Changelog v1.59.0
  CHANGELOG/CHANGELOG-v1.59.0.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: auto, backported

#8045 [admission-policy-engine] Fix allowedClusterRoles field in SecurityPolicy CRD
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Labels: area/security, status/backport, area/api-change

#8046 Backport: [admission-policy-engine] Fix allowedClusterRoles field in SecurityPolicy CRD
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Labels: auto, backported

#8047 Changelog v1.59.0
  CHANGELOG/CHANGELOG-v1.59.0.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: changelog, auto, status/backport

#8049 Backport: Changelog v1.59.0
  CHANGELOG/CHANGELOG-v1.59.0.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: auto, backported

#8036 [l2-load-balancer][docs] Add visualisations to illustrate the differences between MetalLB+L2 and L2LoadBalancer
  docs/documentation/presentations/381-l2-load-balancer/basics_l2loadbalancer_en.pdf
  docs/documentation/presentations/381-l2-load-balancer/basics_l2loadbalancer_ru.pdf
  docs/documentation/presentations/381-l2-load-balancer/basics_metallb_en.pdf
  docs/documentation/presentations/381-l2-load-balancer/basics_metallb_ru.pdf
  ee/modules/381-l2-load-balancer/docs/README.md
  ee/modules/381-l2-load-balancer/docs/README_RU.md
Labels: area/docs, status/backport

#8051 Backport: [l2-load-balancer][docs] Add visualisations to illustrate the differences between MetalLB+L2 and L2LoadBalancer
  docs/documentation/presentations/381-l2-load-balancer/basics_l2loadbalancer_en.pdf
  docs/documentation/presentations/381-l2-load-balancer/basics_l2loadbalancer_ru.pdf
  docs/documentation/presentations/381-l2-load-balancer/basics_metallb_en.pdf
  docs/documentation/presentations/381-l2-load-balancer/basics_metallb_ru.pdf
  ee/modules/381-l2-load-balancer/docs/README.md
  ee/modules/381-l2-load-balancer/docs/README_RU.md
Labels: auto, backported

#8028 [admission-policy-engine] add a separate queue and throttling for bootstrap hook
  modules/015-admission-policy-engine/hooks/bootstrap_handler.go
Labels: area/security, go

#8044 [dhctl] (feat/cluster-import): add scan and check phases
  dhctl/pkg/operations/import/import_result.go
  dhctl/pkg/operations/import/importer.go
  dhctl/pkg/operations/import/phases.go
Labels: area/cli, go

#7985 [deckhouse-controller] add documentation updater
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_pull_override.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_release.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
  deckhouse-controller/pkg/docs/updater.go
  go_lib/module/docs.go
Labels: area/docs, area/core, go

#8056 [monitoring] Fix aggregation with longterm prometheus
  modules/300-prometheus/templates/aggregating-proxy/configmap.yaml
Labels: area/monitoring, status/backport

#8058 Backport: [monitoring] Fix aggregation with longterm prometheus
  modules/300-prometheus/templates/aggregating-proxy/configmap.yaml
Labels: auto, backported

#8040 [monitoring] Migrate from statusmap and status-history to state-timeline plugin
  modules/300-prometheus/images/grafana-v10/grafana_home_dashboard.json
  modules/300-prometheus/images/grafana/grafana_home_dashboard.json
  modules/340-monitoring-deckhouse/monitoring/grafana-dashboards/main/deckhouse.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/controller.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/namespace.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/pod.json
Labels: area/monitoring, status/backport

#8059 Backport: [monitoring] Migrate from statusmap and status-history to state-timeline plugin
  modules/300-prometheus/images/grafana-v10/grafana_home_dashboard.json
  modules/300-prometheus/images/grafana/grafana_home_dashboard.json
  modules/340-monitoring-deckhouse/monitoring/grafana-dashboards/main/deckhouse.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/controller.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/namespace.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/pod.json
Labels: auto, backported

#8057 Changelog v1.59.0
  CHANGELOG/CHANGELOG-v1.59.0.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: changelog, auto, status/backport

#8061 Backport: Changelog v1.59.0
  CHANGELOG/CHANGELOG-v1.59.0.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: auto, backported

#8069 [deckhouse-controller] Update ModuleUpdatePolicy spec.
  deckhouse-controller/crds/doc-ru-module-update-policy.yaml
  deckhouse-controller/crds/module-update-policy.yaml
Labels: area/core, status/backport, area/api-change

#8070 Backport: [deckhouse-controller] Update ModuleUpdatePolicy spec.
  deckhouse-controller/crds/doc-ru-module-update-policy.yaml
  deckhouse-controller/crds/module-update-policy.yaml
Labels: auto, backported

#8074 [registry-packages] Update d8 version
  candi/bashible/common-steps/all/006_fetch_registry_packages.sh.tpl
  candi/bashible/common-steps/all/062_install_kubelet_and_his_friends.sh.tpl
  modules/007-registrypackages/images/d8/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/cluster-and-infrastructure, area/core, status/backport, go

#8075 Backport: [registry-packages] Update d8 version
  candi/bashible/common-steps/all/006_fetch_registry_packages.sh.tpl
  candi/bashible/common-steps/all/062_install_kubelet_and_his_friends.sh.tpl
  modules/007-registrypackages/images/d8/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: auto, backported

#7803 [chore][site] Add info about using Deckhouse CLI
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
  docs/documentation/werf-git-section.inc.yaml
  docs/documentation/werf.yaml
  docs/site/.helm/templates/14-frontend.yaml
  docs/site/.helm/templates/20-ingress.yaml
  docs/site/.werf/nginx.conf
  modules/810-documentation/images/web/werf.inc.yaml
Labels: area/docs, status/backport, type/chore

#8077 Backport: [chore][site] Add info about using Deckhouse CLI
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
  docs/documentation/werf-git-section.inc.yaml
  docs/documentation/werf.yaml
  docs/site/.helm/templates/14-frontend.yaml
  docs/site/.helm/templates/20-ingress.yaml
  docs/site/.werf/nginx.conf
  modules/810-documentation/images/web/werf.inc.yaml
Labels: auto, backported

#8023 [candi][cloud-provider-aws] Add support ECR credential provider for kubelet
  candi/bashible/common-steps/node-group/068_configure_kubelet_systemd_unit.sh.tpl
  candi/cloud-providers/aws/bashible/common-steps/all/006_install_aws_specific_binaries.sh.tpl
  candi/cloud-providers/aws/bashible/common-steps/all/007_enable_ecr_credential_provider.sh.tpl
  modules/007-registrypackages/images/ecr-credential-provider/scripts/install
  modules/007-registrypackages/images/ecr-credential-provider/scripts/uninstall
  modules/007-registrypackages/images/ecr-credential-provider/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/cloud-provider, area/testing, area/cluster-and-infrastructure, area/core, skip/e2e, go, e2e/use/k8s/1.27

#8080 Backport: [candi][cloud-provider-aws] Add support ECR credential provider for kubelet
  candi/bashible/common-steps/node-group/068_configure_kubelet_systemd_unit.sh.tpl
  candi/cloud-providers/aws/bashible/common-steps/all/006_install_aws_specific_binaries.sh.tpl
  candi/cloud-providers/aws/bashible/common-steps/all/007_enable_ecr_credential_provider.sh.tpl
  modules/007-registrypackages/images/ecr-credential-provider/scripts/install
  modules/007-registrypackages/images/ecr-credential-provider/scripts/uninstall
  modules/007-registrypackages/images/ecr-credential-provider/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: auto, backported

#8082 Fix grafana-v10 plugin installation command in entrypoint
  modules/300-prometheus/images/grafana-v10/entrypoint/main.go
Labels: area/monitoring, status/backport, go

#8071 [deckhouse-controller] Minor documentation updates in the ModuleUpdatePolicy
  deckhouse-controller/crds/doc-ru-module-update-policy.yaml
  deckhouse-controller/crds/module-update-policy.yaml
Labels: area/core, status/backport, area/api-change

#8009 [docs][operator-prometheus] Add documentation for the module
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/modules_menu_skip
  modules/200-operator-prometheus/docs/CONFIGURATION.md
  modules/200-operator-prometheus/docs/CONFIGURATION_RU.md
Labels: area/monitoring, area/docs, status/backport, status/doc-review

#8088 Backport: [docs][operator-prometheus] Add documentation for the module
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/modules_menu_skip
  modules/200-operator-prometheus/docs/CONFIGURATION.md
  modules/200-operator-prometheus/docs/CONFIGURATION_RU.md
Labels: auto, backported

#8089 Backport: [cloud-provider-vcd] Upgrade CSI
  ee/modules/030-cloud-provider-vcd/images/vcd-csi-plugin/werf.inc.yaml
  ee/modules/030-cloud-provider-vcd/templates/csi/controller.yaml
  ee/modules/030-cloud-provider-vcd/templates/csi/storage-classes.yaml
Labels: auto, backported

#7898 [istio] fix PromQL expression for alert D8IstioDataPlaneVersionMismatch
  ee/modules/110-istio/monitoring/prometheus-rules/dataplane.yaml
Labels: area/network, status/backport

#8092 Backport: [istio] fix PromQL expression for alert D8IstioDataPlaneVersionMismatch
  ee/modules/110-istio/monitoring/prometheus-rules/dataplane.yaml
Labels: auto, backported

#8094 [node-manager] Fix ClusterHasOrphanedDisks polk group
  modules/040-node-manager/monitoring/prometheus-rules/cloud-data-discovery.yaml
Labels: area/cluster-and-infrastructure, status/backport

#8095 Backport: [node-manager] Fix ClusterHasOrphanedDisks polk group
  modules/040-node-manager/monitoring/prometheus-rules/cloud-data-discovery.yaml
Labels: auto, backported

#7972 [ingress-nginx] improve log formatting
  modules/402-ingress-nginx/images/controller-1-6/Dockerfile
  modules/402-ingress-nginx/images/controller-1-6/patches/nginx-tmpl.patch
  modules/402-ingress-nginx/images/controller-1-9/patches/nginx-tmpl.patch
Labels: area/network

#8031 [log-shipper] add extraLabels validation
  modules/460-log-shipper/crds/cluster-log-destination.yaml
Labels: area/logs, area/api-change

#8098 [istio] Fixing istio-to-k8s requirement
  modules/110-istio/hooks/discovery_operator_versions_to_install.go
  modules/110-istio/hooks/discovery_operator_versions_to_install_test.go
Labels: area/network, status/backport, go

#8102 Backport: [istio] Fixing istio-to-k8s requirement
  modules/110-istio/hooks/discovery_operator_versions_to_install.go
  modules/110-istio/hooks/discovery_operator_versions_to_install_test.go
Labels: auto, backported

#8101 Changelog v1.58.9
  CHANGELOG/CHANGELOG-v1.58.9.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: changelog, auto, status/backport

#8103 Backport: Changelog v1.58.9
  CHANGELOG/CHANGELOG-v1.58.9.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: auto, backported

#8104 Backport: [istio] Fixing istio-to-k8s requirement
  modules/110-istio/hooks/discovery_operator_versions_to_install.go
  modules/110-istio/hooks/discovery_operator_versions_to_install_test.go
Labels: auto, backported

#8002 Changelog v1.59.1
  CHANGELOG/CHANGELOG-v1.59.1.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: changelog, auto, status/backport

#8106 Backport: Changelog v1.59.1
  CHANGELOG/CHANGELOG-v1.59.1.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: auto, backported

#8064 [ingress-nginx] preventing istio-proxy from terminating before the ingress-controller is stopped
  modules/110-istio/docs/EXAMPLES.md
  modules/110-istio/docs/EXAMPLES_RU.md
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: area/network, area/docs, status/backport, backported

#8109 Backport: [ingress-nginx] preventing istio-proxy from terminating before the ingress-controller is stopped
  modules/110-istio/docs/EXAMPLES.md
  modules/110-istio/docs/EXAMPLES_RU.md
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: auto, backported

#8111 Changelog v1.59.1
  CHANGELOG/CHANGELOG-v1.59.1.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: changelog, auto, status/backport

#8113 Backport: Changelog v1.59.1
  CHANGELOG/CHANGELOG-v1.59.1.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: auto, backported

#8091 [kube-proxy] Add missing conntrack binary. Closes #8081
  modules/021-kube-proxy/images/kube-proxy/werf.inc.yaml
Labels: area/kubernetes, area/network

#7908 [control-plane-manager] super-admin.conf in k8s 1.29
  global-hooks/migrate/migrate_k8s_upgrade.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/go.mod
  modules/040-control-plane-manager/images/control-plane-manager/controller/go.sum
  modules/040-control-plane-manager/images/control-plane-manager/controller/kubeconfig.go
  modules/040-control-plane-manager/images/control-plane-manager/werf.inc.yaml
Labels: area/cluster-and-infrastructure, type/dependencies, area/core, go, e2e/use/k8s/1.29

#8076 [deckhouse-controller] replace insecure flag with scheme flag
  deckhouse-controller/pkg/helpers/change_registry/change_registry.go
  deckhouse-controller/pkg/helpers/change_registry/change_registry_test.go
  deckhouse-controller/pkg/helpers/register.go
Labels: area/core, go

#8123 [istio] Deckhouse release requirements checker fix
  modules/110-istio/requirements/check.go
  modules/110-istio/requirements/check_test.go
Labels: area/network, status/backport, go

#8125 Backport: [istio] Deckhouse release requirements checker fix
  modules/110-istio/requirements/check.go
  modules/110-istio/requirements/check_test.go
Labels: auto, backported

#8124 Changelog v1.58.10
  CHANGELOG/CHANGELOG-v1.58.10.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: changelog, auto, status/backport

#8126 Backport: Changelog v1.58.10
  CHANGELOG/CHANGELOG-v1.58.10.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: auto, backported

#8127 Backport: [istio] Deckhouse release requirements checker fix
  modules/110-istio/requirements/check.go
  modules/110-istio/requirements/check_test.go
Labels: auto, backported

#8128 Backport: [candi] allow astra 18 in bashible bundle
  ee/be/candi/bashible/detect_bundle.sh
Labels: auto, backported

#8129 Backport: [control-plane-manager] super-admin.conf in k8s 1.29
  global-hooks/migrate/migrate_k8s_upgrade.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/go.mod
  modules/040-control-plane-manager/images/control-plane-manager/controller/go.sum
  modules/040-control-plane-manager/images/control-plane-manager/controller/kubeconfig.go
  modules/040-control-plane-manager/images/control-plane-manager/werf.inc.yaml
Labels: auto, backported

#8062 [prometheus] Mention defaultDiskSizeGiB in docs
  modules/300-prometheus/docs/CONFIGURATION.md
  modules/300-prometheus/docs/CONFIGURATION_RU.md
Labels: area/monitoring, area/docs, status/backport, skip/e2e

#8130 Backport: [prometheus] Mention defaultDiskSizeGiB in docs
  modules/300-prometheus/docs/CONFIGURATION.md
  modules/300-prometheus/docs/CONFIGURATION_RU.md
Labels: auto, backported

#8087 Add alert to Deckhouse CLI page
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
Labels: area/docs, status/backport

#8131 Backport: Add alert to Deckhouse CLI page
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
Labels: auto, backported

#8048 [candi] Fix httpProxy regex pattern
  candi/openapi/cluster_configuration.yaml
Labels: area/cluster-and-infrastructure, skip/documentation-validation, status/backport, area/api-change

#8132 Backport: [candi] Fix httpProxy regex pattern
  candi/openapi/cluster_configuration.yaml
Labels: auto, backported

#8105 Changelog v1.59.2
  CHANGELOG/CHANGELOG-v1.59.2.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: changelog, auto, status/backport

#8133 Backport: Changelog v1.59.2
  CHANGELOG/CHANGELOG-v1.59.2.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: auto, backported

#8135 [docs] Minor fixes
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
Labels: area/docs, status/backport

#8136 Backport: [docs] Minor fixes
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
Labels: auto, backported

#8134 [dhctl] feat(cliuster-import): Improve import logs
  dhctl/pkg/log/logger.go
  dhctl/pkg/log/options.go
  dhctl/pkg/operations/check/checker.go
  dhctl/pkg/operations/import/importer.go
Labels: area/cli, go

#7982 Cli command to show registered requirements.
  deckhouse-controller/cmd/deckhouse-controller/main.go
  deckhouse-controller/cmd/deckhouse-controller/start.go
  deckhouse-controller/pkg/debug-server/debug_server.go
  deckhouse-controller/pkg/debug/requirements.go
  go.mod
  go.sum
  go_lib/dependency/requirements/requirements.go
  go_lib/dependency/requirements/requirements_test.go
  go_lib/dependency/requirements/store.go
Labels: type/dependencies, area/core, go

#7348 [deckhouse-controller] Unify release mechanism
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_pull_override.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_release.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/zz_generated.deepcopy.go
  deckhouse-controller/pkg/client/clientset/versioned/doc.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/predictor.go
  deckhouse-controller/pkg/controller/module-controllers/release/updater.go
  go_lib/libapi/duration.go
  go_lib/updater/metrics.go
  go_lib/updater/notification.go
  go_lib/updater/release.go
  go_lib/updater/settings.go
  go_lib/updater/updater.go
  go_lib/updater/webhook.go
  modules/002-deckhouse/hooks/check_deckhouse_release.go
  modules/002-deckhouse/hooks/check_deckhouse_release_test.go
  modules/002-deckhouse/hooks/cleanup_deckhouse_releases.go
  modules/002-deckhouse/hooks/internal/apis/v1alpha1/deckhouse_release.go
  modules/002-deckhouse/hooks/internal/updater/metrics.go
  modules/002-deckhouse/hooks/internal/updater/release.go
  modules/002-deckhouse/hooks/internal/updater/updater.go
  modules/002-deckhouse/hooks/update_deckhouse_image.go
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
Labels: area/core, go, e2e/use/k8s/1.29

#8063 [dhctl] mirror: Pull only specific release, skip modules option
  dhctl/cmd/dhctl/commands/mirror.go
  dhctl/cmd/dhctl/commands/mirror_modules.go
  dhctl/pkg/app/mirror.go
  dhctl/pkg/app/mirror_modules.go
  dhctl/pkg/operations/mirror.go
  dhctl/pkg/operations/mirror/context.go
  dhctl/pkg/operations/mirror/layouts.go
  dhctl/pkg/operations/mirror/module_filter.go
  dhctl/pkg/operations/mirror/module_filter_test.go
  dhctl/pkg/operations/mirror/modules.go
  dhctl/pkg/operations/mirror/pull.go
  dhctl/pkg/operations/mirror_module.go
  dhctl/pkg/operations/mirror_test.go
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, area/cli, skip/e2e, go

#8142 Backport: [dhctl] mirror: Pull only specific release, skip modules option
  dhctl/cmd/dhctl/commands/mirror.go
  dhctl/cmd/dhctl/commands/mirror_modules.go
  dhctl/pkg/app/mirror.go
  dhctl/pkg/app/mirror_modules.go
  dhctl/pkg/operations/mirror.go
  dhctl/pkg/operations/mirror/context.go
  dhctl/pkg/operations/mirror/layouts.go
  dhctl/pkg/operations/mirror/module_filter.go
  dhctl/pkg/operations/mirror/module_filter_test.go
  dhctl/pkg/operations/mirror/modules.go
  dhctl/pkg/operations/mirror/pull.go
  dhctl/pkg/operations/mirror_module.go
  dhctl/pkg/operations/mirror_test.go
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#8039 [grafana] Dashboards content validations improvements
  modules/300-prometheus/hooks/deprecate_outdated_grafana_dashboard_crd.go
  modules/300-prometheus/monitoring/prometheus-rules/deprecation.yaml
  tools/validation/grafana_dashboard.go
  tools/validation/grafana_dashboard_test.go
Labels: area/monitoring, area/testing, go

#8141 [multitenancy-manager] mark system project templates
  ee/modules/160-multitenancy-manager/templates/user-resources/default-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-with-dedicated-nodes-project-template.yaml
  ee/modules/160-multitenancy-manager/webhooks/validating/projectTemplate
Labels: area/security

#8147 Backport: [grafana] Dashboards content validations improvements
  modules/300-prometheus/hooks/deprecate_outdated_grafana_dashboard_crd.go
  modules/300-prometheus/monitoring/prometheus-rules/deprecation.yaml
  tools/validation/grafana_dashboard.go
  tools/validation/grafana_dashboard_test.go
Labels: auto, backported

#8151 Backport: [documentation] Update module version badge
  docs/site/backends/docs-builder-template/i18n/en.yaml
  docs/site/backends/docs-builder-template/i18n/ru.yaml
  docs/site/backends/docs-builder-template/layouts/partials/module-version-badge.html
  docs/site/css/docs.scss
Labels: auto, backported

#8148 [global-hooks] Fix k8s upgrade migration
  global-hooks/migrate/migrate_k8s_upgrade.go
Labels: area/core, status/backport, go

#8152 Backport: [global-hooks] Fix k8s upgrade migration
  global-hooks/migrate/migrate_k8s_upgrade.go
Labels: auto, backported

#8112 Changelog v1.59.3
  CHANGELOG/CHANGELOG-v1.59.3.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: changelog, auto, status/backport

#8153 Backport: Changelog v1.59.3
  CHANGELOG/CHANGELOG-v1.59.3.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: auto, backported

#8096 [operator-trivy] add reports filtration
  ee/modules/500-operator-trivy/openapi/config-values.yaml
  ee/modules/500-operator-trivy/openapi/doc-ru-config-values.yaml
  ee/modules/500-operator-trivy/templates/configmap.yaml
Labels: area/security, area/api-change

#8097 [docs][getting_started] Remove unnecessary nodeTemplate set
  docs/site/_includes/getting_started/yandex/partials/resources.yml.minimal.inc
Labels: area/docs

#8158 [prometheus] Switch Alertmanager configuration selector from alertmanagerConfiguration to alertmanagerConfigSelector
  modules/300-prometheus/templates/alertmanager/internal/alertmanager.yaml
Labels: area/monitoring, status/backport, skip/e2e

#8163 Backport: [prometheus] Switch Alertmanager configuration selector from alertmanagerConfiguration to alertmanagerConfigSelector
  modules/300-prometheus/templates/alertmanager/internal/alertmanager.yaml
Labels: auto, backported

#8160 [l2-load-balancer] Fixes for ports conflict and hook panic
  ee/modules/381-l2-load-balancer/hooks/load_balancers_status_update.go
  ee/modules/381-l2-load-balancer/templates/rbac-to-us.yaml
  ee/modules/381-l2-load-balancer/templates/speaker/daemonset.yaml
Labels: go

#8166 Fix antiAffinity and GF_SERVER_ROOT_URL env for grafana-v10
  modules/300-prometheus/templates/grafana/deployment-v10.yaml
Labels: area/monitoring, status/backport

#8168 Backport: Fix antiAffinity and GF_SERVER_ROOT_URL env for grafana-v10
  modules/300-prometheus/templates/grafana/deployment-v10.yaml
Labels: auto, backported

#8169 Backport: [l2-load-balancer] Fixes for ports conflict and hook panic
  ee/modules/381-l2-load-balancer/hooks/load_balancers_status_update.go
  ee/modules/381-l2-load-balancer/templates/rbac-to-us.yaml
  ee/modules/381-l2-load-balancer/templates/speaker/daemonset.yaml
Labels: auto, backported

#8162 Changelog v1.59.4
  CHANGELOG/CHANGELOG-v1.59.4.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: changelog, auto, status/backport

#8170 Backport: Changelog v1.59.4
  CHANGELOG/CHANGELOG-v1.59.4.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: auto, backported

#8099 [docs] Deckhouse network security requirements
  docs/documentation/_data/deckhouse-ports.yml
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/_includes/network_security_setup.liquid
  docs/documentation/pages/NETWORK_SECURITY_SETUP.md
  docs/documentation/pages/NETWORK_SECURITY_SETUP_RU.md
Labels: area/docs, priority/top

#8182 Backport: [docs] Deckhouse network security requirements
  docs/documentation/_data/deckhouse-ports.yml
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/_includes/network_security_setup.liquid
  docs/documentation/pages/NETWORK_SECURITY_SETUP.md
  docs/documentation/pages/NETWORK_SECURITY_SETUP_RU.md
Labels: auto, backported

#8185 [dhctl] feat(cluster-import): Add ssh keys to ScanResult
  dhctl/pkg/config/validation.go
  dhctl/pkg/config/validation_rules.go
  dhctl/pkg/operations/import/import_result.go
  dhctl/pkg/operations/import/importer.go
Labels: area/cli, go

#7983 [control-plane-manager] fix checksum loop
  modules/040-control-plane-manager/images/control-plane-manager/controller/config.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/converge.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/node.go
Labels: area/cluster-and-infrastructure, go

#8183 [ingress-nginx] fix base image for 1.6
  modules/402-ingress-nginx/images/controller-1-6/Dockerfile
Labels: area/network

#8186 [dhctl] feat(dhctl-for-commander): add StaticClusterConfiguration val…
  dhctl/pkg/config/validation.go
  dhctl/pkg/config/validation_test.go
Labels: area/cli, go

#8192 [dhctl] feat(dhctl-for-commander): add zvirt support
  dhctl/pkg/config/validation.go
  dhctl/pkg/config/validation_rules.go
Labels: area/cli, go
