Repository deckhouse/deckhouse, pull requests merged in 2024-01, with the labels that each got.

#7042 [prometheus] Set .spec.externalURL in alermanager manifest
  modules/300-prometheus/templates/alertmanager/internal/alertmanager.yaml
Labels: area/monitoring, status/ok-to-test

#7026 Changelog v1.56.4
  CHANGELOG/CHANGELOG-v1.56.4.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: changelog, auto, status/backport

#7073 Backport: Changelog v1.56.4
  CHANGELOG/CHANGELOG-v1.56.4.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: auto, backported

#7058 [prometheus-pushgateway] distroless pushgateway
  modules/303-prometheus-pushgateway/images/pushgateway/Dockerfile
  modules/303-prometheus-pushgateway/images/pushgateway/werf.inc.yaml
  modules/303-prometheus-pushgateway/templates/statefulset.yaml
Labels: area/monitoring

#7007 [istio][cni-cilium] Adding the ingressClass parameter in moduleConfigs
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/openapi/doc-ru-config-values.yaml
  modules/500-cilium-hubble/openapi/config-values.yaml
  modules/500-cilium-hubble/openapi/doc-ru-config-values.yaml
Labels: area/network, e2e/use/k8s/1.25, area/api-change

#7067 [documentation] CNI Cilium setup requirement
  docs/site/_includes/getting_started/bm-private/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/bm-private/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
Labels: area/network, area/docs, status/ok-to-test

#7074 Update 002_create_static_node_cleanup_script.sh.tpl
  candi/bashible/common-steps/node-group/002_create_static_node_cleanup_script.sh.tpl
Labels: area/cluster-and-infrastructure

#7080 [dhctl] mirror: retry failed pull/push operations
  dhctl/pkg/operations/mirror.go
  dhctl/pkg/operations/mirror/pull.go
Labels: area/cli, skip/e2e, go

#6383 [doc] clarify the description of the clusterConfiguration.proxy section
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cluster-and-infrastructure, status/ok-to-test, area/api-change

#7064 [deckhouse-controller] module config validator
  go_lib/deckhouse-config/validator.go
Labels: area/core, go

#7093 [docs] Minor markup fix
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
Labels: area/monitoring, area/docs

#6962 [keepalived] Distroless build
  ee/modules/450-keepalived/images/keepalived/Dockerfile
  ee/modules/450-keepalived/images/keepalived/werf.inc.yaml
  ee/modules/450-keepalived/templates/statefulset.yaml
Labels: area/network

#7084 [virtualization] remove requirement
  release.yaml
Labels: status/backport

#7035 [runtime-audit-engine] migrate runtime-audit-engine module to distroless
  ee/modules/650-runtime-audit-engine/images/falco/werf.inc.yaml
  ee/modules/650-runtime-audit-engine/images/rules-loader/requirements.txt
  ee/modules/650-runtime-audit-engine/images/rules-loader/werf.inc.yaml
Labels: area/security

#7068 [dhctl] mirror: skip registry tls certificate validation flag
  dhctl/cmd/dhctl/commands/mirror.go
  dhctl/cmd/dhctl/commands/mirror_modules.go
  dhctl/pkg/app/mirror.go
  dhctl/pkg/app/mirror_modules.go
  dhctl/pkg/operations/mirror/auth.go
  dhctl/pkg/operations/mirror/context.go
  dhctl/pkg/operations/mirror/layouts.go
  dhctl/pkg/operations/mirror/modules.go
  dhctl/pkg/operations/mirror/pull.go
  dhctl/pkg/operations/mirror_module.go
Labels: area/cli, skip/e2e, go

#6724 [ceph-csi] migrate cesh-csi to distroless
  modules/031-ceph-csi/images/cephcsi/Dockerfile
  modules/031-ceph-csi/images/cephcsi/werf.inc.yaml
Labels: area/storage

#6854 [node-manager](capi) add RBAC rules for `kube-rbac-proxy`
  modules/040-node-manager/templates/capi-controller-manager/rbac-for-us.yaml
  modules/040-node-manager/templates/capi-controller-manager/rbac-to-us.yaml
Labels: area/cluster-and-infrastructure, skip/e2e

#6224 [delivery] migrate delivery module to distroless
  ee/modules/502-delivery/images/redis/Dockerfile
  ee/modules/502-delivery/templates/argocd/redis/argocd-redis-deployment.yaml
  modules/000-common/images/redis-static/werf.inc.yaml
  modules/150-user-authn/images/dex-authenticator-redis/Dockerfile
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
  testing/library/images_tags_generated.go
Labels: area/auth, area/testing, skip/e2e, go, area/delivery

#7056 [kube-dns] Change D8KubeDnsServiceWithDeprecatedAnnotation alert name
  modules/042-kube-dns/monitoring/prometheus-rules/kubernetes/dns.yaml
Labels: area/cluster-and-infrastructure

#6443 [candi] wait node before annotate node
  candi/bashible/bashible.sh.tpl
Labels: area/cluster-and-infrastructure

#7104 Backport: Changelog v1.56.5
  CHANGELOG/CHANGELOG-v1.56.5.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: auto, backported

#7060 [dhctl] Add trailing slash for registryURL in CheckRegistryAccessThroughProxy
  dhctl/pkg/preflight/registry.go
Labels: area/cli, status/ok-to-test, skip/e2e, go

#7105 [external-module-manager] Fix default overrite
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source.go
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source_test.go
Labels: status/backport, skip/e2e, area/modules, go

#7107 Backport: [external-module-manager] Fix default overrite
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source.go
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source_test.go
Labels: auto, backported

#7048 [dhctl](bootstrap) update the `metadata.resourceVersion` field in the `ModuleConfig` manifest
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
Labels: area/cli, go

#6956 [common] Fix CVEs in csi livenessprobe and node-driver-registrar
  candi/version_map.yml
  modules/000-common/images/csi-livenessprobe/werf.inc.yaml
  modules/000-common/images/csi-node-driver-registrar/werf.inc.yaml
Labels: area/kubernetes, area/cluster-and-infrastructure, e2e/use/k8s/1.28

#7108 [external-module-manager] Fix module release cleanup
  modules/005-external-module-manager/hooks/cleanup_releases.go
  modules/005-external-module-manager/hooks/cleanup_releases_test.go
Labels: status/backport, skip/e2e, area/modules, go

#7109 Backport: [external-module-manager] Fix module release cleanup
  modules/005-external-module-manager/hooks/cleanup_releases.go
  modules/005-external-module-manager/hooks/cleanup_releases_test.go
Labels: auto, backported

#7106 Changelog v1.56.5
  CHANGELOG/CHANGELOG-v1.56.5.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: changelog, auto, status/backport

#7110 Backport: Changelog v1.56.5
  CHANGELOG/CHANGELOG-v1.56.5.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: auto, backported

#7112 Backport: [deckhouse] Change webhook-handler policy
  candi/image_versions.yml
  ee/modules/600-flant-integration/images/flant-pricing/Dockerfile
  modules/002-deckhouse/templates/webhook-handler/deployment.yaml
  modules/300-prometheus/images/grafana-dashboard-provisioner/werf.inc.yaml
Labels: auto, backported

#7116 Backport: Changelog v1.56.5
  CHANGELOG/CHANGELOG-v1.56.5.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: auto, backported

#7029 [user-authz] split serviceaccount in docs
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: area/auth, area/docs

#7120 Backport: [user-authz] split serviceaccount in docs
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: auto, backported

#7124 [istio] Fixed typo in federation presentation
  docs/documentation/presentations/110-istio/federation_istio_federation_en.pdf
  docs/documentation/presentations/110-istio/federation_istio_federation_ru.pdf
Labels: area/docs, status/backport

#7125 Backport: [istio] Fixed typo in federation presentation
  docs/documentation/presentations/110-istio/federation_istio_federation_en.pdf
  docs/documentation/presentations/110-istio/federation_istio_federation_ru.pdf
Labels: auto, backported

#7043 [istio] Improved `hack_iop_reconciling` hook
  modules/110-istio/hooks/hack_iop_reconciling.go
  modules/110-istio/hooks/hack_iop_reconciling_test.go
Labels: area/network, e2e/use/k8s/1.25, go

#7119 [istio] Add a minimum version of istio to the D8 update requirements.
  modules/110-istio/requirements/check.go
  modules/110-istio/requirements/check_test.go
  release.yaml
Labels: area/network, e2e/use/k8s/1.25, go

#7129 [deckhouse-controller] Fix modules registration
  deckhouse-controller/pkg/controller/controller.go
Labels: area/core, status/backport, go

#7130 Backport: [deckhouse-controller] Fix modules registration
  deckhouse-controller/pkg/controller/controller.go
Labels: auto, backported

#7131 Revert "[external-module-manager] Fix module release cleanup"
  modules/005-external-module-manager/hooks/cleanup_releases.go
  modules/005-external-module-manager/hooks/cleanup_releases_test.go
Labels: status/backport, area/modules, go

#7132 Backport: Revert "[external-module-manager] Fix module release cleanup"
  modules/005-external-module-manager/hooks/cleanup_releases.go
  modules/005-external-module-manager/hooks/cleanup_releases_test.go
Labels: auto, backported

#6241 [monitoring-kubernetes] ebpf-exporter distroless
  modules/000-common/images/alt/binary_replace.sh
  modules/340-monitoring-kubernetes/images/ebpf-exporter/Dockerfile
  modules/340-monitoring-kubernetes/images/ebpf-exporter/metrics/Makefile
  modules/340-monitoring-kubernetes/images/ebpf-exporter/metrics/oomkill.bpf.c
  modules/340-monitoring-kubernetes/images/ebpf-exporter/metrics/oomkill.yaml
  modules/340-monitoring-kubernetes/images/ebpf-exporter/patches/001-kernel-version-detection-and-individual-program-failure.patch
  modules/340-monitoring-kubernetes/images/ebpf-exporter/patches/README.md
  modules/340-monitoring-kubernetes/images/ebpf-exporter/werf.inc.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/ebpf-exporter.yaml
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/configmap.yaml
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/daemonset.yaml
Labels: area/monitoring

#7121 Changelog v1.56.6
  CHANGELOG/CHANGELOG-v1.56.6.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: changelog, auto, status/backport

#7136 Backport: Changelog v1.56.6
  CHANGELOG/CHANGELOG-v1.56.6.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: auto, backported

#7144 [docs][modules-docs] Show that a parameter is required according to the OpenAPI spec.
  docs/site/backends/docs-builder-template/i18n/en.yaml
  docs/site/backends/docs-builder-template/i18n/ru.yaml
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-schema.html
Labels: area/docs, status/backport, area/api-change

#7146 Backport: [docs][modules-docs] Show that a parameter is required according to the OpenAPI spec.
  docs/site/backends/docs-builder-template/i18n/en.yaml
  docs/site/backends/docs-builder-template/i18n/ru.yaml
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-schema.html
Labels: auto, backported

#7148 [cni-flannel][docs] Update documentation
  modules/035-cni-flannel/docs/CONFIGURATION.md
  modules/035-cni-flannel/docs/CONFIGURATION_RU.md
Labels: area/network, area/docs, status/ok-to-test, status/backport

#6825 [docs] Rename the item for the admission-policy-engine module in the sidebar
  docs/documentation/_data/sidebars/main.yml
Labels: area/docs, status/backport

#7159 [docs][chore] Minor config changes
  docs/site/.helm/templates/20-ingress.yaml
  docs/site/.werf/nginx-dev.conf
  docs/site/.werf/nginx.conf
Labels: area/docs

#6715 [extended-monitoring] added the CronJobFailed alert group
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/cronjob.yaml
Labels: area/monitoring

#7140 [candi] up priority for nodeuser step
  candi/bashible/common-steps/node-group/000_add_node_users.sh.tpl
Labels: area/cluster-and-infrastructure

#6726 [helm] move module to monitoring-kubernetes
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  modules/013-helm/.helmignore
  modules/013-helm/.namespace
  modules/013-helm/Chart.yaml
  modules/013-helm/charts/helm_lib
  modules/013-helm/enabled
  modules/013-helm/hooks/common_test.go
  modules/013-helm/hooks/startup_metrics.go
  modules/013-helm/openapi/config-values.yaml
  modules/013-helm/openapi/openapi-case-tests.yaml
  modules/013-helm/openapi/values.yaml
  modules/013-helm/templates/empty-helm-workaround.yaml
  modules/013-helm/templates/monitoring.yaml
  modules/340-monitoring-kubernetes/hooks/helm.go
  modules/340-monitoring-kubernetes/hooks/helm_test.go
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/helm/deprecated-versions.yaml
Labels: area/monitoring, area/core, go, area/api-change

#7061 [testing] Change worker node bootstrap from manual to CAPS
  testing/cloud_layouts/Static/resources.tpl.yaml
  testing/cloud_layouts/script.sh
Labels: area/testing, e2e/cluster/failed, e2e/use/k8s/1.27

#7158 [istio] Fix typo in docs
  modules/110-istio/docs/EXAMPLES.md
Labels: area/network, area/docs, skip/documentation-validation, status/ok-to-test

#7088 [linstor] prevent Deckhouse update while Linstor module is enabled
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  modules/041-linstor/hooks/requirement_release_on_module_delete.go
  modules/041-linstor/hooks/requirement_set_if_module_is_enabled.go
  modules/041-linstor/requirements/check.go
  modules/041-linstor/requirements/check_test.go
Labels: area/core, area/storage, go

#7090 [linstor] Mark the module as deprecated
  docs/documentation/_data/i18n.yml
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/_includes/sidebar_entry.html
  docs/site/_config.yml
  docs/site/_data/i18n.yaml
  docs/site/css/docs.scss
  modules/041-linstor/docs/ADVANCED_USAGE.md
  modules/041-linstor/docs/ADVANCED_USAGE_RU.md
  modules/041-linstor/docs/CONFIGURATION.md
  modules/041-linstor/docs/CONFIGURATION_RU.md
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/FAQ_RU.md
  modules/041-linstor/docs/README.md
  modules/041-linstor/docs/README_RU.md
  modules/041-linstor/docs/USAGE.md
  modules/041-linstor/docs/USAGE_RU.md
Labels: area/docs, area/storage

#7170 [docs] Minor documentation updates
  modules/010-prometheus-crd/crds/doc-ru-customalertmanager.yaml
  modules/041-linstor/docs/ADVANCED_USAGE.md
  modules/041-linstor/docs/CONFIGURATION.md
  modules/041-linstor/docs/FAQ.md
  modules/041-linstor/docs/README.md
  modules/041-linstor/docs/USAGE.md
  modules/300-prometheus/crds/doc-ru-prometheusremotewrite.yaml
  modules/300-prometheus/crds/prometheusremotewrite.yaml
Labels: area/monitoring, area/docs, skip/documentation-validation, area/storage, area/api-change

#7165 [docs][cloud-provider-aws] Update description of the additionalRolePolicies parameter
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, area/api-change

#7172 [monitoring-kubernetes] Update NodeFilesystemIsRO alert
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/node-ro-fs.yaml
Labels: area/monitoring

#7095 [deckhouse-controller] Fix auth data handling in change-registry helper
  .github/ci_templates/tests.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  Makefile
  deckhouse-controller/pkg/helpers/change_registry/change_registry.go
  deckhouse-controller/pkg/helpers/change_registry/change_registry_test.go
Labels: area/core, go

#6730 [monitoring-kubernetes] Update node-exporter from v1.6.1 to v1.7.0
  modules/340-monitoring-kubernetes/images/node-exporter/Dockerfile
Labels: area/monitoring, status/ok-to-test

#7156 [terraform-manager] fix a binary name for terraform-provider-google plugin
  candi/cloud-providers/gcp/terraform-modules/versions.tf
  modules/040-terraform-manager/images/terraform-manager-gcp/werf.inc.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure

#7164 [extended-monitoring] migrate exporter image to distroless
  modules/340-extended-monitoring/images/extended-monitoring-exporter/Dockerfile
  modules/340-extended-monitoring/images/extended-monitoring-exporter/src/requirements.txt
  modules/340-extended-monitoring/images/extended-monitoring-exporter/werf.inc.yaml
Labels: area/monitoring

#7135 [dhctl](install) fix skipping preflight check about registry-through-proxy
  dhctl/pkg/preflight/registry.go
  dhctl/pkg/preflight/registry_test.go
Labels: area/cli, go

#6968 [network-gateway] migrate network-gateway module to distroless
  ee/modules/450-network-gateway/images/dnsmasq/Dockerfile
  ee/modules/450-network-gateway/images/dnsmasq/werf.inc.yaml
  ee/modules/450-network-gateway/images/snat/Dockerfile
  ee/modules/450-network-gateway/images/snat/werf.inc.yaml
  ee/modules/450-network-gateway/templates/dhcp-statefulset.yaml
  ee/modules/450-network-gateway/templates/snat-daemonset.yaml
Labels: area/network

#7153 [upmeter] database retention
  modules/500-upmeter/images/upmeter/cmd/upmeter/parse_args.go
  modules/500-upmeter/images/upmeter/pkg/db/dao/episode5m.go
  modules/500-upmeter/images/upmeter/pkg/server/server.go
  modules/500-upmeter/templates/upmeter/statefulset.yaml
Labels: area/monitoring, go

#7166 Revert "[ingress-nginx] remove ingress-nginx version 1.1 (#6795)"
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/hooks/generate_admission_webhook_cert_test.go
  modules/402-ingress-nginx/hooks/get_ingress_controllers_test.go
  modules/402-ingress-nginx/hooks/migrate_daemonset_and_pods_test.go
  modules/402-ingress-nginx/hooks/minimal_ingress_nginx_version_test.go
  modules/402-ingress-nginx/hooks/safe_daemonset_update_test.go
  modules/402-ingress-nginx/openapi/config-values.yaml
  modules/402-ingress-nginx/template_tests/controller_test.go
  release.yaml
Labels: area/network, skip/documentation-validation, go, area/api-change

#7175 [docs] Fix storageClass in bare metal GS
  docs/site/_includes/getting_started/bm-private/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/bm-private/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  docs/site/_includes/getting_started/bm/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.ru.yml.ee.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ee.inc
Labels: area/docs, skip/e2e

#7179 [docs][openapi] Render general CRD examples
  docs/documentation/_plugins/openapi.rb
Labels: area/docs, status/backport

#7180 Backport: [docs][openapi] Render general CRD examples
  docs/documentation/_plugins/openapi.rb
Labels: auto, backported

#7163 [external-module-manager] add deckhouse-service init heck for release/override controllers
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
  deckhouse-controller/pkg/controller/module-controllers/utils/utils.go
  go_lib/deckhouse-config/service.go
Labels: area/core, go

#7183 [ingress-nginx] fix hostwithfailover proxy filter
  modules/402-ingress-nginx/templates/failover/configmap.yaml
Labels: area/network

#7150 [monitoring-kubernetes] Correct LoadBalancerServiceWithoutExternalIP alert
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/loadbalancer.yaml
Labels: area/monitoring, status/backport

#7184 Backport: [monitoring-kubernetes] Correct LoadBalancerServiceWithoutExternalIP alert
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/loadbalancer.yaml
Labels: auto, backported

#6927 [user-authn] Don't recreate the CA certificate if the `publishAPI.https.mode` parameter changes
  modules/150-user-authn/openapi/config-values.yaml
  modules/150-user-authn/openapi/doc-ru-config-values.yaml
  modules/150-user-authn/templates/kubernetes-api/issuer.yaml
Labels: area/auth, status/doc-review, area/api-change

#7186 [docs][openapi] Update nodeGroup examples to fix markup
  candi/openapi/node_group.yaml
Labels: area/cluster-and-infrastructure, area/api-change

#7188 Backport: [ingress-nginx] fix hostwithfailover proxy filter
  modules/402-ingress-nginx/templates/failover/configmap.yaml
Labels: auto, backported

#7145 Changelog v1.56.7
  CHANGELOG/CHANGELOG-v1.56.7.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: changelog, auto

#7189 Backport: Changelog v1.56.7
  CHANGELOG/CHANGELOG-v1.56.7.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: auto, backported

#7190 [docs][openapi][node-manager] Remove DeckhouseControlPlane CR from the documentation
  docs/documentation/werf-git-section.inc.yaml
Labels: area/docs

#7192 Backport: [docs][openapi][node-manager] Remove DeckhouseControlPlane CR from the documentation
  docs/documentation/werf-git-section.inc.yaml
Labels: auto, backported

#6813 [cni-cilium] add RBAC for ciliumnetworkpolicies
  modules/021-cni-cilium/templates/user-authz-cluster-roles.yaml
Labels: area/network, skip/e2e, e2e/use/k8s/1.25

#7032 [cni-cilium] change cilium dashboard
  modules/021-cni-cilium/monitoring/grafana-dashboards/kubernetes-cluster/cilium-agent.json
Labels: area/network

#7185 [external-module-manager] Always create default MUP for Deckhouse
  modules/002-deckhouse/templates/registration.yaml
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source.go
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source_test.go
  modules/005-external-module-manager/hooks/migration_create_update_policies.go
  modules/005-external-module-manager/hooks/migration_create_update_policies_test.go
Labels: area/modules, go

#7194 [testing] Ignore KubernetesDaemonSetReplicasUnavailable alert in e2e tests
  testing/cloud_layouts/script.d/wait_cluster_ready/test_alerts.sh
Labels: area/testing

#7198 [flant-integration] Correct metrics_path for flant-pricing container
  ee/modules/600-flant-integration/templates/pricing/config.yaml
Labels: status/backport

#7201 Backport: [flant-integration] Correct metrics_path for flant-pricing container
  ee/modules/600-flant-integration/templates/pricing/config.yaml
Labels: auto, backported

#7197 [istio] Fix depricated instructions for Reproducing request in alerts
  ee/modules/110-istio/monitoring/prometheus-rules/federation.yaml
  ee/modules/110-istio/monitoring/prometheus-rules/multicluster.yaml
Labels: area/network

#7202 Backport: [istio] Fix depricated instructions for Reproducing request in alerts
  ee/modules/110-istio/monitoring/prometheus-rules/federation.yaml
  ee/modules/110-istio/monitoring/prometheus-rules/multicluster.yaml
Labels: auto, backported

#7200 Changelog v1.56.8
  CHANGELOG/CHANGELOG-v1.56.8.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: changelog, auto, status/backport

#7203 Backport: Changelog v1.56.8
  CHANGELOG/CHANGELOG-v1.56.8.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: auto, backported

#7204 [log-shipper][docs] Minor documentation updates
  modules/460-log-shipper/docs/README.md
  modules/460-log-shipper/docs/README_RU.md
Labels: area/docs, area/logs

#7205 Backport: [log-shipper][docs] Minor documentation updates
  modules/460-log-shipper/docs/README.md
  modules/460-log-shipper/docs/README_RU.md
Labels: auto, backported

#7206 Backport: [deckhouse-controller] deduplicate ensureCRDs functionality
  deckhouse-controller/pkg/apis/ensure_crds.go
  go_lib/hooks/ensure_crds/hook.go
Labels: auto, backported

#7207 Changelog v1.56.8
  CHANGELOG/CHANGELOG-v1.56.md
Labels: changelog, auto, status/backport

#7208 Backport: Changelog v1.56.8
  CHANGELOG/CHANGELOG-v1.56.md
Labels: auto, backported

#7214 Backport: [ci][docs] Update site building instructions
  docs/documentation/werf.yaml
Labels: auto, backported

#7217 [ci][docs] Update site building instructions
  docs/documentation/werf.yaml
Labels: area/docs

#7220 Backport: [ci][docs] Update site building instructions
  docs/documentation/werf.yaml
Labels: auto, backported

#7221 Backport: [ci][docs] Update site building instructions
  docs/documentation/werf.yaml
Labels: auto, backported

#7195 [prometheus] Update version of prometheus from v2.44.0 to v2.45.2
  modules/002-deckhouse/images/webhook-handler/werf.inc.yaml
  modules/300-prometheus/images/prometheus/werf.inc.yaml
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring, status/ok-to-test

#7222 [external-module-manager] fix restore absent module for multi master
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
Labels: area/core, go

#7232 Backport: [external-module-manager] fix restore absent module for multi master
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
Labels: auto, backported

#7234 Backport: [external-module-manager] fix restore absent module for multi master
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
Labels: auto, backported

#7233 Changelog v1.56.9
  CHANGELOG/CHANGELOG-v1.56.9.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: changelog, auto, status/backport

#7235 Backport: Changelog v1.56.9
  CHANGELOG/CHANGELOG-v1.56.9.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: auto, backported

#7228 [external-module-manager] delete old symlinks on restore
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
Labels: area/core, go

#7237 Backport: [external-module-manager] delete old symlinks on restore
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
Labels: auto, backported

#7239 Backport: [external-module-manager] delete old symlinks on restore
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
Labels: auto, backported

#7238 Changelog v1.56.9
  CHANGELOG/CHANGELOG-v1.56.9.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: changelog, auto, status/backport

#7240 Backport: Changelog v1.56.9
  CHANGELOG/CHANGELOG-v1.56.9.yml
  CHANGELOG/CHANGELOG-v1.56.md
Labels: auto, backported

#7230 [docs] Add module* resources to the documentation
  deckhouse-controller/crds/doc-ru-module-config.yaml
  deckhouse-controller/crds/doc-ru-module-release.yaml
  deckhouse-controller/crds/doc-ru-module-update-policy.yaml
  deckhouse-controller/crds/doc-ru-module.yaml
  deckhouse-controller/crds/module-config.yaml
  deckhouse-controller/crds/module-release.yaml
  deckhouse-controller/crds/module-source.yaml
  deckhouse-controller/crds/module-update-policy.yaml
  deckhouse-controller/crds/module.yaml
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/modules_generate_configuration.sh
  docs/documentation/pages/DECKHOUSE_CR.md
  docs/documentation/pages/DECKHOUSE_CR_RU.md
  docs/documentation/werf-git-section.inc.yaml
  modules/002-deckhouse/docs/CR.md
  modules/002-deckhouse/docs/CR_RU.md
  modules/031-local-path-provisioner/docs/CR.md
  modules/031-local-path-provisioner/docs/CR_RU.md
Labels: skip/copyright-validation, skip/documentation-validation, status/backport, skip/e2e

#7245 Backport: [docs] Add module* resources to the documentation
  deckhouse-controller/crds/doc-ru-module-config.yaml
  deckhouse-controller/crds/doc-ru-module-release.yaml
  deckhouse-controller/crds/doc-ru-module-update-policy.yaml
  deckhouse-controller/crds/doc-ru-module.yaml
  deckhouse-controller/crds/module-config.yaml
  deckhouse-controller/crds/module-release.yaml
  deckhouse-controller/crds/module-source.yaml
  deckhouse-controller/crds/module-update-policy.yaml
  deckhouse-controller/crds/module.yaml
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/modules_generate_configuration.sh
  docs/documentation/pages/DECKHOUSE_CR.md
  docs/documentation/pages/DECKHOUSE_CR_RU.md
  docs/documentation/werf-git-section.inc.yaml
  modules/002-deckhouse/docs/CR.md
  modules/002-deckhouse/docs/CR_RU.md
  modules/031-local-path-provisioner/docs/CR.md
  modules/031-local-path-provisioner/docs/CR_RU.md
Labels: auto, backported

#7229 [testing][ci] Tune GolangCI Lint job
  .github/ci_templates/tests.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  Makefile
Labels: area/testing, skip/e2e, area/cicd

#7174 [cilium-hubble] migrate cilium-hubble images to distroless
  modules/500-cilium-hubble/images/relay/Dockerfile
  modules/500-cilium-hubble/images/relay/werf.inc.yaml
  modules/500-cilium-hubble/images/ui-backend/Dockerfile
  modules/500-cilium-hubble/images/ui-backend/werf.inc.yaml
  modules/500-cilium-hubble/images/ui-frontend/Dockerfile
  modules/500-cilium-hubble/images/ui-frontend/werf.inc.yaml
  modules/500-cilium-hubble/templates/ui/configmap.yaml
  modules/500-cilium-hubble/templates/ui/deployment.yaml
Labels: area/network, e2e/use/k8s/1.25

#7178 [node-manager] allow specifying the staticInstance field in a NodeGroup with type CloudStatic
  candi/openapi/node_group.yaml
  modules/040-node-manager/templates/node-group/_bootstrap.tpl
Labels: area/cluster-and-infrastructure, skip/documentation-validation, status/backport, area/api-change

#7253 Backport: [node-manager] allow specifying the staticInstance field in a NodeGroup with type CloudStatic
  candi/openapi/node_group.yaml
  modules/040-node-manager/templates/node-group/_bootstrap.tpl
Labels: auto, backported

#5221 [descheduler] Do not deploy the descheduler if nodeSelector selects less then 2 nodes
  modules/400-descheduler/hooks/populate_values_and_set_cr_status.go
  modules/400-descheduler/hooks/populate_values_and_set_cr_status_test.go
Labels: area/scaling, go

#7211 [monitoring-kubernetes] Fix grammatical error in alert's annotations
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/pod-status.yaml
Labels: area/monitoring

#7250 [network-gateway] fix distroless build
  ee/modules/450-network-gateway/images/dnsmasq/prepare-config.py
  ee/modules/450-network-gateway/images/dnsmasq/werf.inc.yaml
  ee/modules/450-network-gateway/templates/dhcp-statefulset.yaml
Labels: area/network, status/backport, python

#7255 Backport: [network-gateway] fix distroless build
  ee/modules/450-network-gateway/images/dnsmasq/prepare-config.py
  ee/modules/450-network-gateway/images/dnsmasq/werf.inc.yaml
  ee/modules/450-network-gateway/templates/dhcp-statefulset.yaml
Labels: auto, backported

#6799 Changelog v1.57.0
  CHANGELOG/CHANGELOG-v1.57.0.yml
  CHANGELOG/CHANGELOG-v1.57.md
Labels: changelog, auto, status/backport

#7209 [docs][cloud-provider-yandex] Add docs about Deckhouse Kubernetes Platform integration with Yandex Cloud Managed Services
  docs/documentation/images/030-cloud-provider-yandex/sg-en-default.png
  docs/documentation/images/030-cloud-provider-yandex/sg-en-rules.png
  docs/documentation/images/030-cloud-provider-yandex/sg-ru-default.png
  docs/documentation/images/030-cloud-provider-yandex/sg-ru-rules.png
  modules/030-cloud-provider-yandex/docs/README.md
  modules/030-cloud-provider-yandex/docs/README_RU.md
Labels: area/cloud-provider, area/docs, status/backport

#7258 Backport: [docs][cloud-provider-yandex] Add docs about Deckhouse Kubernetes Platform integration with Yandex Cloud Managed Services
  docs/documentation/images/030-cloud-provider-yandex/sg-en-default.png
  docs/documentation/images/030-cloud-provider-yandex/sg-en-rules.png
  docs/documentation/images/030-cloud-provider-yandex/sg-ru-default.png
  docs/documentation/images/030-cloud-provider-yandex/sg-ru-rules.png
  modules/030-cloud-provider-yandex/docs/README.md
  modules/030-cloud-provider-yandex/docs/README_RU.md
Labels: auto, backported

#7259 Backport: [docs][cloud-provider-yandex] Add docs about Deckhouse Kubernetes Platform integration with Yandex Cloud Managed Services
  docs/documentation/images/030-cloud-provider-yandex/sg-en-default.png
  docs/documentation/images/030-cloud-provider-yandex/sg-en-rules.png
  docs/documentation/images/030-cloud-provider-yandex/sg-ru-default.png
  docs/documentation/images/030-cloud-provider-yandex/sg-ru-rules.png
  modules/030-cloud-provider-yandex/docs/README.md
  modules/030-cloud-provider-yandex/docs/README_RU.md
Labels: auto, backported

#7254 Ability to install packages from images inside an external module has been added
  candi/bashible/bashbooster/50_deckhouse_registrypackages.sh
Labels: area/cluster-and-infrastructure

#6913 Config delete comment prometheus
  modules/010-prometheus-crd/crds/customalertmanager.yaml
  modules/010-prometheus-crd/crds/doc-ru-customalertmanager.yaml
Labels: area/monitoring, area/api-change

#7252 [candi] add altlinux 10
  candi/version_map.yml
  ee/candi/bashible/detect_bundle.sh
Labels: area/kubernetes, area/cluster-and-infrastructure

#7100 [candi] Fixed setting default value for kubelet resourceReservation
  candi/openapi/node_group.yaml
  modules/040-node-manager/hooks/migration/migrate_system_reserve.go
Labels: area/cluster-and-infrastructure, skip/documentation-validation, go, area/api-change

#7261 [prometheus] alerts-receiver: fix concurrent map access
  modules/300-prometheus/images/alerts-receiver/src/main.go
Labels: area/monitoring, go

#7169 [candi] Add validation pattern for imagesRepo value
  candi/openapi/init_configuration.yaml
Labels: area/cluster-and-infrastructure, status/ok-to-test, area/api-change

#7224 [runtime-audit-engine] add doc enabled eBPF
  ee/modules/650-runtime-audit-engine/docs/README.md
  ee/modules/650-runtime-audit-engine/docs/README_RU.md
Labels: area/security, area/docs

#7241 [runtime-audit-engine] remove `trusted_sa` macro
  ee/modules/650-runtime-audit-engine/templates/falco-rules.yaml
Labels: area/security

#7264 Backport: [runtime-audit-engine] add doc enabled eBPF
  ee/modules/650-runtime-audit-engine/docs/README.md
  ee/modules/650-runtime-audit-engine/docs/README_RU.md
Labels: auto, backported

#7182 [dhctl] mirror tests
  dhctl/pkg/operations/mirror/auth_test.go
  dhctl/pkg/operations/mirror/bundle_test.go
  dhctl/pkg/operations/mirror/digests_test.go
  dhctl/pkg/operations/mirror/versions.go
  dhctl/pkg/operations/mirror_test.go
Labels: area/cli, skip/e2e, go

#7160 [dhctl] Increase deckhouse install timeout
  dhctl/pkg/app/bootstrap.go
Labels: area/cli, status/ok-to-test, go

#7021 [monitoring][rabbitmq] update dashboard and alerts
  ee/fe/modules/340-monitoring-applications/applications/rabbitmq/grafana-dashboards/rabbitmq.json
  ee/fe/modules/340-monitoring-applications/applications/rabbitmq/prometheus-rules/rabbitmq.yaml
Labels: status/ok-to-test

#7266 [external-module-manager] restore mpo
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
Labels: area/core, go

#7262 [chore] Update Kubernetes patch versions
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: area/kubernetes, area/testing, area/cluster-and-infrastructure, e2e/use/cri/containerd, go, e2e/use/k8s/1.27

#7268 [control-plane-manager] End-of-life alert for kubernetes 1.24
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
Labels: area/cluster-and-infrastructure, skip/e2e

#7291 Backport: Ability to install packages from images inside an external module has been added
  candi/bashible/bashbooster/50_deckhouse_registrypackages.sh
Labels: auto, backported

#7292 Backport: [prometheus] alerts-receiver: fix concurrent map access
  modules/300-prometheus/images/alerts-receiver/src/main.go
Labels: auto, backported

#7293 Backport: [external-module-manager] add http scheme to modules openapi schema
  deckhouse-controller/pkg/controller/module-controllers/downloader/downloader_test.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/module_downloader.go
Labels: auto, backported

#7294 Backport: [chore] Update Kubernetes patch versions
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: auto, backported

#7295 Backport: [control-plane-manager] End-of-life alert for kubernetes 1.24
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
Labels: auto, backported

#7296 [docs] Mark K8s 1.24 as EOL on the site
  candi/version_map.yml
Labels: area/kubernetes, area/cluster-and-infrastructure, status/backport

#7298 Backport: [docs] Mark K8s 1.24 as EOL on the site
  candi/version_map.yml
Labels: auto, backported

#7297 [external-module-manager] prevent releases with versions less than a …
  deckhouse-controller/pkg/controller/module-controllers/release/predictor.go
Labels: area/core, status/backport, go

#7302 Backport: [external-module-manager] prevent releases with versions less than a …
  deckhouse-controller/pkg/controller/module-controllers/release/predictor.go
Labels: auto, backported
