Repository deckhouse/deckhouse, pull requests merged in 2024-02, with the labels that each got.

#7288 [dhctl] fix(dhctl-for-commander): create all terraform runners using TerraformContext
  dhctl/cmd/dhctl/commands/bootstrap/bootstrap.go
  dhctl/cmd/dhctl/commands/bootstrap/phase.go
  dhctl/cmd/dhctl/commands/destroy.go
  dhctl/pkg/infrastructure/base.go
  dhctl/pkg/infrastructure/cluster.go
  dhctl/pkg/infrastructure/nodes.go
  dhctl/pkg/kubernetes/actions/converge/converge.go
  dhctl/pkg/kubernetes/actions/converge/nodebootstrap.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-abort.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-base-infra.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/bootstrap/steps.go
  dhctl/pkg/operations/destroy/destroy.go
  dhctl/pkg/terraform/pipeline.go
  dhctl/pkg/terraform/terraform_context.go
Labels: area/cli, go

#7357 [docs][gs] Fix requirements for the bare metal installation
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
Labels: area/docs

#7331 [dhctl] feat(dhctl-for-commander) Add ssh openapi specs
  candi/openapi/dhctl/ssh_configuration.yaml
  candi/openapi/dhctl/ssh_host_configuration.yaml
  dhctl/pkg/config/dhctl.go
  dhctl/pkg/config/dhctl_test.go
  dhctl/pkg/config/load.go
  dhctl/pkg/config/load_test.go
  dhctl/pkg/config/validation_test.go
Labels: area/cluster-and-infrastructure, area/cli, go

#7290 [docs] Fix misleading and add info about old versions
  docs/documentation/pages/DECKHOUSE-OVERVIEW.md
  docs/documentation/pages/DECKHOUSE-OVERVIEW_RU.md
Labels: area/docs

#7365 [deckhouse-controller] fix error message on module validation
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
Labels: area/core, go

#7332 [docs] Add to faq yc externalIPAddresses
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, status/backport, area/api-change

#7368 Backport: [docs] Add to faq yc externalIPAddresses
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#6633 [multitenancy-manager] Default project template
  ee/modules/160-multitenancy-manager/docs/USAGE.md
  ee/modules/160-multitenancy-manager/docs/USAGE_RU.md
  ee/modules/160-multitenancy-manager/hooks/apis/deckhouse.io/v1alpha1/projecttemplate_types.go
  ee/modules/160-multitenancy-manager/hooks/common_test.go
  ee/modules/160-multitenancy-manager/hooks/internal/common.go
  ee/modules/160-multitenancy-manager/hooks/internal/project-hooks.go
  ee/modules/160-multitenancy-manager/hooks/internal/project-template-hooks.go
  ee/modules/160-multitenancy-manager/hooks/migrate_project_releases_test.go
  ee/modules/160-multitenancy-manager/hooks/project.go
  ee/modules/160-multitenancy-manager/hooks/project_test.go
  ee/modules/160-multitenancy-manager/openapi/values.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/default-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/user-resources-templates.yaml
  ee/modules/160-multitenancy-manager/webhooks/validating/projectTemplate
  ee/modules/160-multitenancy-manager/webhooks/validating/projectType
Labels: area/security, area/docs, go, area/api-change

#7364 [testing] Ignore alerts generated by not init ebpf exporter only for older kernels in e2e tests
  testing/cloud_layouts/script.d/wait_cluster_ready/test_alerts.sh
  testing/cloud_layouts/script.sh
Labels: area/testing

#7369 [docs] Fix broken links
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/site/_includes/getting_started/openstack_selectel/STEP_ENV.md
  docs/site/_includes/getting_started/openstack_selectel/STEP_ENV_RU.md
  docs/site/images/logos/cilium.png
  modules/021-cni-cilium/oss.yaml
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/140-user-authz/crds/doc-ru-clusterauthorizationrule.yaml
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: area/auth, area/network, area/docs, status/backport, area/api-change

#7372 Backport: [docs] Fix broken links
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/site/_includes/getting_started/openstack_selectel/STEP_ENV.md
  docs/site/_includes/getting_started/openstack_selectel/STEP_ENV_RU.md
  docs/site/images/logos/cilium.png
  modules/021-cni-cilium/oss.yaml
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/140-user-authz/crds/doc-ru-clusterauthorizationrule.yaml
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: auto, backported

#7374 [docs][module documentation] Update renderer config
  docs/site/backends/docs-builder-template/config/_default/hugo.yaml
Labels: area/docs

#7321 [operator-trivy] update node-collector audit
  ee/modules/500-operator-trivy/images/node-collector/patches/001-change-node-collector-config.patch
Labels: area/security

#7373 [user-authn] Bring dex-auth manifest to complience with restricted admission-control policy
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
Labels: area/auth, status/ok-to-test

#7377 Backport: [operator-trivy] fix node-collector image
  ee/modules/500-operator-trivy/images/node-collector/Dockerfile
Labels: auto, backported

#7366 [kube-dns] Fix description for KubeDnsServiceWithDeprecatedAnnotation
  modules/042-kube-dns/monitoring/prometheus-rules/kubernetes/dns.yaml
Labels: area/cluster-and-infrastructure, status/backport

#7378 Backport: [kube-dns] Fix description for KubeDnsServiceWithDeprecatedAnnotation
  modules/042-kube-dns/monitoring/prometheus-rules/kubernetes/dns.yaml
Labels: auto, backported

#7098 [log-shipper] add node group name to logs metadata
  modules/460-log-shipper/docs/README.md
  modules/460-log-shipper/docs/README_RU.md
  modules/460-log-shipper/hooks/internal/composer/testdata/config_1.json
  modules/460-log-shipper/hooks/internal/composer/testdata/config_2.json
  modules/460-log-shipper/hooks/internal/composer/testdata/config_4.json
  modules/460-log-shipper/hooks/internal/vector/destination/loki.go
  modules/460-log-shipper/hooks/internal/vector/source/kubernetes.go
  modules/460-log-shipper/hooks/internal/vrl/cleanup.go
  modules/460-log-shipper/hooks/testdata/es-5x/result.json
  modules/460-log-shipper/hooks/testdata/file-to-elastic/result.json
  modules/460-log-shipper/hooks/testdata/file-to-kafka-tls/result.json
  modules/460-log-shipper/hooks/testdata/file-to-kafka/result.json
  modules/460-log-shipper/hooks/testdata/file-to-loki/result.json
  modules/460-log-shipper/hooks/testdata/file-to-splunk/result.json
  modules/460-log-shipper/hooks/testdata/file-to-vector/result.json
  modules/460-log-shipper/hooks/testdata/many-to-one/result.json
  modules/460-log-shipper/hooks/testdata/multiline-custom-pods/result.json
  modules/460-log-shipper/hooks/testdata/multiline-custom/result.json
  modules/460-log-shipper/hooks/testdata/multiline/result.json
  modules/460-log-shipper/hooks/testdata/multiple-dest/result.json
  modules/460-log-shipper/hooks/testdata/namespaced-source/result.json
  modules/460-log-shipper/hooks/testdata/one-dest/result.json
  modules/460-log-shipper/hooks/testdata/pair-datastream/result.json
  modules/460-log-shipper/hooks/testdata/simple-pair/result.json
  modules/460-log-shipper/hooks/testdata/throttle-with-filter/result.json
  modules/460-log-shipper/hooks/testdata/throttle/result.json
Labels: area/docs, type/chore, skip/e2e, area/logs, go

#7327 Changelog v1.57.2
  CHANGELOG/CHANGELOG-v1.57.2.yml
  CHANGELOG/CHANGELOG-v1.57.md
Labels: changelog, auto, status/backport

#7379 Backport: Changelog v1.57.2
  CHANGELOG/CHANGELOG-v1.57.2.yml
  CHANGELOG/CHANGELOG-v1.57.md
Labels: auto, backported

#7381 [operator-trivy] Update base image
  ee/modules/500-operator-trivy/images/node-collector/Dockerfile
  werf.yaml
Labels: area/security, area/core, status/backport

#7384 Changelog v1.57.2
  CHANGELOG/CHANGELOG-v1.57.2.yml
  CHANGELOG/CHANGELOG-v1.57.md
Labels: changelog, auto, status/backport

#7385 Backport: Changelog v1.57.2
  CHANGELOG/CHANGELOG-v1.57.2.yml
  CHANGELOG/CHANGELOG-v1.57.md
Labels: auto, backported

#5966 [dhctl] fix(dhctl-for-commander): prepare dhctl for commander usage (part 2)
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/openapi/cluster_configuration.yaml
  candi/openapi/init_configuration.yaml
  dhctl/cmd/dhctl/commands/converge.go
  dhctl/cmd/dhctl/commands/destroy.go
  dhctl/go.mod
  dhctl/go.sum
  dhctl/pkg/config/base.go
  dhctl/pkg/config/errors.go
  dhctl/pkg/config/load.go
  dhctl/pkg/config/validation.go
  dhctl/pkg/config/validation_rules.go
  dhctl/pkg/config/validation_test.go
  dhctl/pkg/infrastructure/cluster.go
  dhctl/pkg/kubernetes/actions/converge/converge.go
  dhctl/pkg/kubernetes/actions/deckhouse/converge.go
  dhctl/pkg/log/logger.go
  dhctl/pkg/log/options.go
  dhctl/pkg/log/process.go
  dhctl/pkg/log/process_test.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-abort.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-base-infra.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-bashible.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-post-bootstrap.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/check/check_status.go
  dhctl/pkg/operations/check/checker.go
  dhctl/pkg/operations/commander/meta_config.go
  dhctl/pkg/operations/commander/operation_params.go
  dhctl/pkg/operations/converge/converger.go
  dhctl/pkg/operations/destroy/destroy.go
  dhctl/pkg/operations/phases/phases.go
  dhctl/pkg/state/cache/init.go
  dhctl/pkg/system/ssh/client.go
  dhctl/pkg/system/ssh/frontend/kube-proxy.go
  dhctl/pkg/template/resources.go
  dhctl/pkg/util/input/yaml.go
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  go.mod
  go.sum
Labels: area/cloud-provider, area/cluster-and-infrastructure, type/dependencies, area/cli, area/core, skip/documentation-validation, go, area/api-change

#6864 [multitenancy-manager] Dedicated nodes / node groups for the Project
  candi/control-plane-kubeadm/config.yaml.tpl
  ee/modules/160-multitenancy-manager/docs/USAGE.md
  ee/modules/160-multitenancy-manager/docs/USAGE_RU.md
  ee/modules/160-multitenancy-manager/hooks/project.go
  ee/modules/160-multitenancy-manager/hooks/project_test.go
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-with-dedicated-nodes-project-template.yaml
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
Labels: area/security, area/docs, area/cluster-and-infrastructure, go, area/api-change

#7382 [metallb] Add livenessProbe and readinessProbe to speaker
  ee/modules/380-metallb/templates/speaker/daemonset.yaml
Labels: area/network, e2e/use/k8s/1.25

#7395 [multitenancy-manager] Doc fix
  ee/modules/160-multitenancy-manager/crds/projects.yaml
  ee/modules/160-multitenancy-manager/crds/projecttemplate.yaml
  ee/modules/160-multitenancy-manager/docs/USAGE.md
  ee/modules/160-multitenancy-manager/docs/USAGE_RU.md
Labels: area/security, area/docs, skip/documentation-validation, area/api-change

#7389 [kube-dns] fixed sts-pods-hosts-appender-webhook wait timeout
  modules/042-kube-dns/templates/sts-pods-hosts-appender-webhook/webhook-configuration.yaml
Labels: area/cluster-and-infrastructure

#7390 [core] update containerd version
  candi/bashible/common-steps/all/006_fetch_registry_packages.sh.tpl
  candi/bashible/common-steps/node-group/031_install_containerd.sh.tpl
  candi/bashible/common-steps/node-group/032_configure_and_start_containerd.sh.tpl
  modules/007-registrypackages/images/containerd/scripts/containerd.service
  modules/007-registrypackages/images/containerd/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/cluster-and-infrastructure, area/core, status/ok-to-test, go

#7342 [control-plane-manager] basicAuditPolicy fix generation serviceaccounts
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  tools/audit_policy/main.go
Labels: area/testing, area/cluster-and-infrastructure, go

#7412 [testing] Codegeneration
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
Labels: area/cluster-and-infrastructure, go

#7406 [core] Fix audit policy generation
  ee/be/modules/140-user-authz/.namespace
  ee/modules/015-admission-policy-engine/.namespace
  ee/modules/110-istio/.namespace
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/041-linstor/templates/linstor-scheduler-admission/webhook.yaml
Labels: area/network, area/cluster-and-infrastructure, area/storage, go

#7392 [ingress-nginx] add missing tests for proxy-failover configmap
  modules/402-ingress-nginx/template_tests/controller_test.go
Labels: area/network, go

#7418 Backport: Revert "[monitoring-kubernetes] ebpf-exporter fix min kernel version (#7272)
  modules/002-deckhouse/hooks/check_kernel_versions.go
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/kernel-requirements.yaml
  modules/340-monitoring-kubernetes/docs/README.md
  modules/340-monitoring-kubernetes/docs/README_RU.md
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/daemonset.yaml
Labels: auto, backported

#7269 Revert "[monitoring-kubernetes] ebpf-exporter distroless (#6241)"
  modules/000-common/images/alt/binary_replace.sh
  modules/340-monitoring-kubernetes/images/ebpf-exporter/Dockerfile
  modules/340-monitoring-kubernetes/images/ebpf-exporter/metrics/Makefile
  modules/340-monitoring-kubernetes/images/ebpf-exporter/metrics/oomkill.bpf.c
  modules/340-monitoring-kubernetes/images/ebpf-exporter/metrics/oomkill.yaml
  modules/340-monitoring-kubernetes/images/ebpf-exporter/patches/001-kernel-version-detection-and-individual-program-failure.patch
  modules/340-monitoring-kubernetes/images/ebpf-exporter/patches/README.md
  modules/340-monitoring-kubernetes/images/ebpf-exporter/werf.inc.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/ebpf-exporter.yaml
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/configmap.yaml
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/daemonset.yaml
Labels: area/monitoring, status/backport

#7419 Backport: Revert "[monitoring-kubernetes] ebpf-exporter distroless (#6241)"
  modules/000-common/images/alt/binary_replace.sh
  modules/340-monitoring-kubernetes/images/ebpf-exporter/Dockerfile
  modules/340-monitoring-kubernetes/images/ebpf-exporter/metrics/Makefile
  modules/340-monitoring-kubernetes/images/ebpf-exporter/metrics/oomkill.bpf.c
  modules/340-monitoring-kubernetes/images/ebpf-exporter/metrics/oomkill.yaml
  modules/340-monitoring-kubernetes/images/ebpf-exporter/patches/001-kernel-version-detection-and-individual-program-failure.patch
  modules/340-monitoring-kubernetes/images/ebpf-exporter/patches/README.md
  modules/340-monitoring-kubernetes/images/ebpf-exporter/werf.inc.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/ebpf-exporter.yaml
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/configmap.yaml
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/daemonset.yaml
Labels: auto, backported

#7248 [node-manager] Forbid to change NodeGroup if it contains unknown zone
  modules/040-node-manager/webhooks/validating/node_group
Labels: area/cluster-and-infrastructure

#7362 [modules-docs] Redirect to the stable version by default, fix canonical URL
  docs/documentation/.werf/nginx.conf
  docs/documentation/Makefile
  docs/documentation/_includes/nav-breadcrumbs.html
  docs/documentation/_includes/sidebar.html
  docs/documentation/pages/DECKHOUSE-OVERVIEW.md
  docs/documentation/pages/DECKHOUSE-OVERVIEW_RU.md
  docs/site/.helm/templates/20-ingress.yaml
  docs/site/.werf/nginx.conf
  docs/site/backends/docs-builder-template/layouts/_default/baseof.html
  docs/site/backends/docs-builder-template/layouts/partials/head.html
  docs/site/werf.yaml
Labels: area/docs

#7410 [candi] Fix bash word splitting
  candi/bashible/bashbooster/50_deckhouse_registrypackages.sh
  candi/bashible/bundles/centos/bootstrap.sh.tpl
Labels: area/cluster-and-infrastructure, status/backport

#7422 Backport: [candi] Fix bash word splitting
  candi/bashible/bashbooster/50_deckhouse_registrypackages.sh
  candi/bashible/bundles/centos/bootstrap.sh.tpl
Labels: auto, backported

#7423 Backport: [metallb] Add livenessProbe and readinessProbe to speaker
  ee/modules/380-metallb/templates/speaker/daemonset.yaml
Labels: auto, backported

#7397 Changelog v1.57.3
  CHANGELOG/CHANGELOG-v1.57.3.yml
  CHANGELOG/CHANGELOG-v1.57.md
Labels: changelog, auto, status/backport

#7427 Backport: Changelog v1.57.3
  CHANGELOG/CHANGELOG-v1.57.3.yml
  CHANGELOG/CHANGELOG-v1.57.md
Labels: auto, backported

#7434 [docs][node-manager] Fix NodeUser uid example type (from string to number)
  modules/040-node-manager/crds/nodeuser.yaml
Labels: area/docs, area/cluster-and-infrastructure, skip/documentation-validation, status/backport, area/api-change

#7420 [dhctl] feat(dhctl-for-commander) Add server option
  .gitignore
  dhctl/Makefile
  dhctl/cmd/dhctl/commands/server.go
  dhctl/cmd/dhctl/main.go
  dhctl/go.mod
  dhctl/go.sum
  dhctl/pkg/app/server.go
  dhctl/pkg/log/logger.go
  dhctl/pkg/server/api/hello/hello.proto
  dhctl/pkg/server/logger/logger.go
  dhctl/pkg/server/pb/hello/hello.pb.go
  dhctl/pkg/server/pb/hello/hello_grpc.pb.go
  dhctl/pkg/server/rpc/hello/hello.go
  dhctl/pkg/server/server.go
  go.mod
  go.sum
Labels: type/dependencies, area/cli, area/core, go

#7426 [candi] Fix misleading default value about diskType in documentation
  candi/cloud-providers/yandex/openapi/instance_class.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, skip/documentation-validation, status/backport, area/api-change

#7432 [metallb] Change updateMode to Initial
  ee/modules/380-metallb/templates/speaker/daemonset.yaml
Labels: area/network, e2e/use/k8s/1.25

#7396 [docs][testing] Add support of Astra Linux 1.7.5 on the site and in e2e tests
  docs/documentation/_data/version_map_addition.yml
  testing/cloud_layouts/Static/infra.tpl.tf
Labels: area/testing, area/docs

#7452 [candi] fix bashible message about node annotation
  candi/bashible/bashible.sh.tpl
Labels: area/cluster-and-infrastructure, status/backport

#7453 Backport: [candi] fix bashible message about node annotation
  candi/bashible/bashible.sh.tpl
Labels: auto, backported

#7456 Backport: [metallb] Change updateMode to Initial
  ee/modules/380-metallb/templates/speaker/daemonset.yaml
Labels: auto, backported

#7435 Changelog v1.57.4
  CHANGELOG/CHANGELOG-v1.57.4.yml
  CHANGELOG/CHANGELOG-v1.57.md
Labels: changelog, auto, status/backport

#7457 Backport: Changelog v1.57.4
  CHANGELOG/CHANGELOG-v1.57.4.yml
  CHANGELOG/CHANGELOG-v1.57.md
Labels: auto, backported

#7464 Backport: [cloud-provider-vsphere][docs] Update requirements for VM template
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-vsphere/docs/CONFIGURATION_RU.md
Labels: auto, backported

#7468 [dhctl] feat(dhctl-for-commander) SSH private keys validation
  candi/openapi/dhctl/ssh_configuration.yaml
  dhctl/pkg/config/connection.go
  dhctl/pkg/config/connection_test.go
  dhctl/pkg/config/load.go
  dhctl/pkg/config/mocks/id_invalid_rsa
  dhctl/pkg/config/mocks/id_passphrase_invalid_rsa
  dhctl/pkg/config/mocks/id_passphrase_rsa
  dhctl/pkg/config/mocks/id_rsa
  dhctl/pkg/config/spec_extensions.go
  dhctl/pkg/config/spec_extensions_test.go
  dhctl/pkg/config/validation.go
  dhctl/pkg/config/validation_rules.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-abort.go
Labels: area/cluster-and-infrastructure, area/cli, skip/copyright-validation, go

#7470 [dhctl] Change resource creation order. Service accounts will create before secrets
  dhctl/pkg/template/resources.go
Labels: area/cli, go

#7465 [node-manager][mcm] Fix panic when vsphere driver create disk
  modules/040-node-manager/images/machine-controller-manager/werf.inc.yaml
Labels: area/cluster-and-infrastructure, status/backport

#7472 Backport: [dhctl] Change resource creation order. Service accounts will create before secrets
  dhctl/pkg/template/resources.go
Labels: auto, backported

#7473 Backport: [node-manager][mcm] Fix panic when vsphere driver create disk
  modules/040-node-manager/images/machine-controller-manager/werf.inc.yaml
Labels: auto, backported

#7442 [loki] Update documentation
  modules/462-loki/openapi/config-values.yaml
  modules/462-loki/openapi/doc-ru-config-values.yaml
Labels: status/backport, area/logs, area/api-change

#7476 Backport: [loki] Update documentation
  modules/462-loki/openapi/config-values.yaml
  modules/462-loki/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#7394 [user-authn] Update info about implementing authentication into a user application
  modules/010-user-authn-crd/crds/dex-authenticator.yaml
  modules/150-user-authn/docs/FAQ.md
  modules/150-user-authn/docs/FAQ_RU.md
Labels: area/auth, area/docs, skip/documentation-validation, status/backport, area/api-change

#7477 Backport: [user-authn] Update info about implementing authentication into a user application
  modules/010-user-authn-crd/crds/dex-authenticator.yaml
  modules/150-user-authn/docs/FAQ.md
  modules/150-user-authn/docs/FAQ_RU.md
Labels: auto, backported

#7283 [local-path-provisioner] update to 0.0.26
  modules/031-local-path-provisioner/images/local-path-provisioner/patches/README.md
  modules/031-local-path-provisioner/images/local-path-provisioner/patches/create-delete-command.patch
  modules/031-local-path-provisioner/images/local-path-provisioner/patches/fix-directory-or-create.patch
  modules/031-local-path-provisioner/images/local-path-provisioner/werf.inc.yaml
Labels: area/storage

#7403 [candi] Add the tzdata package to the bootstrap script on AltLinux
  ee/be/candi/bashible/bundles/altlinux/all/003_install_mandatory_packages.sh.tpl
Labels: area/cluster-and-infrastructure, e2e/cluster/failed

#6245 [openvpn] Distroless
  .github/dependabot.yml
  modules/500-openvpn/images/openvpn/Dockerfile
  modules/500-openvpn/images/openvpn/entrypoint/entrypoint.go
  modules/500-openvpn/images/openvpn/entrypoint/go.mod
  modules/500-openvpn/images/openvpn/entrypoint/go.sum
  modules/500-openvpn/images/openvpn/werf.inc.yaml
  modules/500-openvpn/images/ovpn-admin/Dockerfile
  modules/500-openvpn/images/ovpn-admin/patches/openvpn-genkey-cmd.patch
  modules/500-openvpn/images/ovpn-admin/rootfs/etc/mime.types
  modules/500-openvpn/images/ovpn-admin/templates/ccd.tpl
  modules/500-openvpn/images/ovpn-admin/templates/client.conf.tpl
  modules/500-openvpn/images/ovpn-admin/werf.inc.yaml
  modules/500-openvpn/templates/openvpn/configmap.yaml
  modules/500-openvpn/templates/openvpn/statefulset.yaml
Labels: area/security, type/dependencies, go

#7354 [extended-monitoring][image-availability-exporter] Refactor TLS interactions
  deckhouse-controller/cmd/deckhouse-controller/register-settings-conversions.go
  modules/340-extended-monitoring/images/image-availability-exporter/Dockerfile
  modules/340-extended-monitoring/images/image-availability-exporter/patches/001-support-legacy-annotation.patch
  modules/340-extended-monitoring/monitoring/prometheus-rules/image-availability/image-checks.tpl
  modules/340-extended-monitoring/openapi/config-values.yaml
  modules/340-extended-monitoring/openapi/doc-ru-config-values.yaml
  modules/340-extended-monitoring/settings-conversion/conversion.go
  modules/340-extended-monitoring/settings-conversion/conversion_test.go
  modules/340-extended-monitoring/template_tests/image_availability_test.go
  modules/340-extended-monitoring/templates/image-availability-exporter/configmap-d8-registry-root-ca.yaml
  modules/340-extended-monitoring/templates/image-availability-exporter/configmap-registry-root-ca.yaml
  modules/340-extended-monitoring/templates/image-availability-exporter/deployment.yaml
Labels: area/monitoring, area/core, go, area/api-change

#7400 [dhctl] feat(dhctl-for-commander) Add DestructiveChangeID func
  dhctl/pkg/kubernetes/actions/converge/destructive_change_id.go
  dhctl/pkg/kubernetes/actions/converge/destructive_change_id_test.go
  dhctl/pkg/operations/check/checker.go
Labels: area/cli, go

#7489 [dhctl] fix(dhctl-for-commander): fix validation error handling
  dhctl/pkg/config/base.go
  dhctl/pkg/config/load.go
  dhctl/pkg/config/validation_test.go
Labels: area/cli, go

#7469 [dhctl] feat(dhctl-for-commander) Add dhctl.Check grpc service
  dhctl/Makefile
  dhctl/pkg/app/bootstrap.go
  dhctl/pkg/config/base.go
  dhctl/pkg/config/connection.go
  dhctl/pkg/config/connection_test.go
  dhctl/pkg/config/load.go
  dhctl/pkg/config/spec_extensions_test.go
  dhctl/pkg/config/validation.go
  dhctl/pkg/config/validation_test.go
  dhctl/pkg/kubernetes/actions/resources/resources.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-bashible.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/check/checker.go
  dhctl/pkg/operations/commander/meta_config.go
  dhctl/pkg/server/api/dhctl/dhctl.proto
  dhctl/pkg/server/interceptors/interceptors.go
  dhctl/pkg/server/pb/dhctl/dhctl.pb.go
  dhctl/pkg/server/pb/dhctl/dhctl_grpc.pb.go
  dhctl/pkg/server/pb/hello/hello.pb.go
  dhctl/pkg/server/pb/hello/hello_grpc.pb.go
  dhctl/pkg/server/rpc/dhctl/check.go
  dhctl/pkg/server/rpc/dhctl/dhctl.go
  dhctl/pkg/server/rpc/hello/hello.go
  dhctl/pkg/server/server.go
  ee/modules/030-cloud-provider-openstack/hooks/discover.go
  go_lib/hooks/cluster_configuration/hook.go
  modules/030-cloud-provider-aws/hooks/aws_cluster_configuration.go
Labels: area/cloud-provider, area/cli, area/core, go

#7309 [candi][cloud-provider-yandex] Allow to customize NAT instance resources
  candi/cloud-providers/yandex/layouts/with-nat-instance/base-infrastructure/main.tf
  candi/cloud-providers/yandex/layouts/with-nat-instance/variables.tf
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/terraform-modules/vpc-components/nat_instance.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/variables.tf
  modules/030-cloud-provider-yandex/hooks/yandex_cluster_configuration_test.go
Labels: area/cloud-provider, area/cluster-and-infrastructure, go, area/api-change

#6823 [node-manager] Validate StaticInstance address is unique
  modules/040-node-manager/webhooks/validating/static_instance
Labels: area/cluster-and-infrastructure

#7496 [docs] Show BE modules on the site
  docs/documentation/modules_list.sh
  docs/documentation/werf-git-section.inc.yaml
  docs/documentation/werf.yaml
  modules/810-documentation/images/web/werf.inc.yaml
Labels: area/docs, skip/copyright-validation, status/backport

#7497 Backport: [docs] Show BE modules on the site
  docs/documentation/modules_list.sh
  docs/documentation/werf-git-section.inc.yaml
  docs/documentation/werf.yaml
  modules/810-documentation/images/web/werf.inc.yaml
Labels: auto, backported

#7498 [ingress-nginx] fix /tmp rights
  modules/402-ingress-nginx/images/controller-1-6/Dockerfile
Labels: area/network

#7484 [docs] Minor documentation updates
  modules/460-log-shipper/openapi/config-values.yaml
  modules/460-log-shipper/openapi/doc-ru-config-values.yaml
  modules/462-loki/openapi/doc-ru-config-values.yaml
Labels: status/backport, area/logs, area/api-change

#7500 Backport: [docs] Minor documentation updates
  modules/460-log-shipper/openapi/config-values.yaml
  modules/460-log-shipper/openapi/doc-ru-config-values.yaml
  modules/462-loki/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#7483 [monitoring-kubernetes] Minor documentation updates
  modules/340-monitoring-kubernetes/openapi/config-values.yaml
  modules/340-monitoring-kubernetes/openapi/doc-ru-config-values.yaml
Labels: area/monitoring, status/backport, area/api-change

#7503 Backport: [monitoring-kubernetes] Minor documentation updates
  modules/340-monitoring-kubernetes/openapi/config-values.yaml
  modules/340-monitoring-kubernetes/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#7504 [docs] Sync menu once an hour
  docs/site/werf.yaml
Labels: area/docs

#7482 [prometheus][docs] Documentation updates
  modules/300-prometheus/openapi/config-values.yaml
  modules/300-prometheus/openapi/doc-ru-config-values.yaml
  modules/340-monitoring-kubernetes/openapi/config-values.yaml
  modules/340-monitoring-kubernetes/openapi/doc-ru-config-values.yaml
Labels: area/monitoring, status/backport, area/api-change

#7506 Backport: [prometheus][docs] Documentation updates
  modules/300-prometheus/openapi/config-values.yaml
  modules/300-prometheus/openapi/doc-ru-config-values.yaml
  modules/340-monitoring-kubernetes/openapi/config-values.yaml
  modules/340-monitoring-kubernetes/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#7502 [ci] fix e2e tests
  werf.yaml
Labels: area/core

#7479 [cni-ciliuim] Documentation updates
  modules/021-cni-cilium/openapi/config-values.yaml
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
Labels: area/network, status/backport, area/api-change

#7508 Backport: [cni-ciliuim] Documentation updates
  modules/021-cni-cilium/openapi/config-values.yaml
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#7443 [multitenancy-manager] add post-renderer
  ee/modules/160-multitenancy-manager/hooks/project.go
  ee/modules/160-multitenancy-manager/hooks/project_test.go
  ee/modules/160-multitenancy-manager/templates/user-resources/user-resources-templates.yaml
  go_lib/dependency/helm/helm.go
  go_lib/dependency/helm/helm_mock.go
Labels: area/security, area/core, skip/e2e, go

#7398 [docs] Warning about Istio and admission-policy-engine restrictions
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
Labels: area/network, area/security, area/docs

#7333 [cilium] Add safe-agent-updater
  .github/dependabot.yml
  modules/021-cni-cilium/images/cilium/werf.inc.yaml
  modules/021-cni-cilium/images/safe-agent-updater/go.mod
  modules/021-cni-cilium/images/safe-agent-updater/go.sum
  modules/021-cni-cilium/images/safe-agent-updater/main.go
  modules/021-cni-cilium/images/safe-agent-updater/main_test.go
  modules/021-cni-cilium/images/safe-agent-updater/werf.inc.yaml
  modules/021-cni-cilium/templates/agent/daemonset.yaml
  modules/021-cni-cilium/templates/safe-agent-updater/daemonset.yaml
  modules/021-cni-cilium/templates/safe-agent-updater/rbac-for-us.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  testing/library/images_tags_generated.go
Labels: area/network, area/testing, area/cluster-and-infrastructure, type/dependencies, e2e/use/k8s/1.25, go

#7493 [dhctl](bootstrap-phase) set version field for ConfigMap `install-data`
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-deckhouse.go
Labels: area/cli, go

#7512 [deckhouse] Bump addon-operator
  go.mod
  go.sum
Labels: type/dependencies, area/core

#7480 [multitenancy-manager] resource validation
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
  candi/control-plane-kubeadm/config.yaml.tpl
  ee/modules/160-multitenancy-manager/hooks/project.go
  ee/modules/160-multitenancy-manager/hooks/project_test.go
  ee/modules/160-multitenancy-manager/templates/validating.yaml
Labels: area/security, area/cluster-and-infrastructure, go

#7507 chrony, incorrect path
  modules/470-chrony/monitoring/prometheus-rules/chrony.yaml
Labels: area/cluster-and-infrastructure

#7311 [control-plane-manager] remove `/healthz` HTTP endpoint from reloader
  modules/040-control-plane-manager/images/kubernetes-api-proxy/reloader/cmd/main.go
  modules/040-control-plane-manager/images/kubernetes-api-proxy/reloader/src/health.go
  modules/040-control-plane-manager/images/kubernetes-api-proxy/reloader/src/health_test.go
  modules/040-control-plane-manager/images/kubernetes-api-proxy/reloader/src/watcher.go
Labels: area/cluster-and-infrastructure, go

#7289 [candi] Improve strict for validation pattern of proxy
  candi/openapi/cluster_configuration.yaml
Labels: area/cluster-and-infrastructure, skip/documentation-validation, area/api-change

#7514 [cloud-provider-yandex][docs] Add link to the Yandex Migration Guide
  modules/030-cloud-provider-yandex/monitoring/prometheus-rules/deprecated_availability_zone.yaml
Labels: area/cloud-provider

#7511 [ci] fix libs in deckhouse-controller
  werf.yaml
Labels: area/core

#7522 [control-plane-manager] fix runtime config
  candi/control-plane-kubeadm/config.yaml.tpl
Labels: area/cluster-and-infrastructure

#7520 [chore][docs] Minor documentation updates
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  ee/modules/160-multitenancy-manager/crds/doc-ru-projects.yaml
  ee/modules/160-multitenancy-manager/crds/doc-ru-projecttemplate.yaml
  ee/modules/160-multitenancy-manager/crds/doc-ru-projecttypes.yaml
  ee/modules/160-multitenancy-manager/crds/projects.yaml
  ee/modules/160-multitenancy-manager/crds/projecttemplate.yaml
  ee/modules/160-multitenancy-manager/crds/projecttypes.yaml
  ee/modules/160-multitenancy-manager/docs/README.md
  ee/modules/160-multitenancy-manager/docs/README_RU.md
  ee/modules/160-multitenancy-manager/docs/USAGE.md
  ee/modules/160-multitenancy-manager/docs/USAGE_RU.md
Labels: area/security, area/docs, area/api-change

#7523 [docs] Add redirect requirement for LB in case of OnlyInURI
  ee/modules/502-delivery/openapi/config-values.yaml
  ee/modules/502-delivery/openapi/doc-ru-config-values.yaml
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/doc-ru-config-values.yaml
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/openapi/doc-ru-config-values.yaml
  modules/150-user-authn/openapi/config-values.yaml
  modules/150-user-authn/openapi/doc-ru-config-values.yaml
  modules/300-prometheus/openapi/config-values.yaml
  modules/300-prometheus/openapi/doc-ru-config-values.yaml
  modules/500-cilium-hubble/openapi/config-values.yaml
  modules/500-cilium-hubble/openapi/doc-ru-config-values.yaml
  modules/500-dashboard/openapi/config-values.yaml
  modules/500-dashboard/openapi/doc-ru-config-values.yaml
  modules/500-openvpn/openapi/config-values.yaml
  modules/500-openvpn/openapi/doc-ru-config-values.yaml
  modules/500-upmeter/openapi/config-values.yaml
  modules/500-upmeter/openapi/doc-ru-config-values.yaml
  modules/810-documentation/openapi/config-values.yaml
  modules/810-documentation/openapi/doc-ru-config-values.yaml
Labels: area/monitoring, area/auth, area/network, area/security, area/docs, area/core, status/backport, source/internal-client, skip/e2e, area/ui, area/delivery, area/api-change

#7525 Backport: [docs] Add redirect requirement for LB in case of OnlyInURI
  ee/modules/502-delivery/openapi/config-values.yaml
  ee/modules/502-delivery/openapi/doc-ru-config-values.yaml
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/doc-ru-config-values.yaml
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/openapi/doc-ru-config-values.yaml
  modules/150-user-authn/openapi/config-values.yaml
  modules/150-user-authn/openapi/doc-ru-config-values.yaml
  modules/300-prometheus/openapi/config-values.yaml
  modules/300-prometheus/openapi/doc-ru-config-values.yaml
  modules/500-cilium-hubble/openapi/config-values.yaml
  modules/500-cilium-hubble/openapi/doc-ru-config-values.yaml
  modules/500-dashboard/openapi/config-values.yaml
  modules/500-dashboard/openapi/doc-ru-config-values.yaml
  modules/500-openvpn/openapi/config-values.yaml
  modules/500-openvpn/openapi/doc-ru-config-values.yaml
  modules/500-upmeter/openapi/config-values.yaml
  modules/500-upmeter/openapi/doc-ru-config-values.yaml
  modules/810-documentation/openapi/config-values.yaml
  modules/810-documentation/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#7529 [cilium] Remove deprecated annotation from safe-agent-updater
  modules/021-cni-cilium/templates/safe-agent-updater/daemonset.yaml
Labels: area/network, e2e/use/k8s/1.25

#7526 [documentation] Use werf artifact for the `docs-builder-artifact` image
  docs/site/werf-docs-builder.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/docs, go

#7421 [istio] Add HPA.
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/openapi/doc-ru-config-values.yaml
  modules/110-istio/openapi/openapi-case-tests.yaml
  modules/110-istio/template_tests/module_test.go
  modules/110-istio/templates/control-plane/hpa.yaml
  modules/110-istio/templates/control-plane/iop.yaml
Labels: area/network, e2e/use/k8s/1.25, go, area/api-change

#7425 [cloud-provider-yandex] Add the instruction about installing with bastion
  modules/030-cloud-provider-yandex/docs/FAQ.md
  modules/030-cloud-provider-yandex/docs/FAQ_RU.md
Labels: area/cloud-provider, area/docs, status/backport

#7531 Backport: [cloud-provider-yandex] Add the instruction about installing with bastion
  modules/030-cloud-provider-yandex/docs/FAQ.md
  modules/030-cloud-provider-yandex/docs/FAQ_RU.md
Labels: auto, backported

#7471 Changelog v1.57.5
  CHANGELOG/CHANGELOG-v1.57.5.yml
  CHANGELOG/CHANGELOG-v1.57.md
Labels: changelog, auto, status/backport

#7534 [prometheus] Fix OpenAPI spec
  modules/300-prometheus/openapi/config-values.yaml
Labels: area/monitoring, status/backport, area/api-change

#7535 Backport: [prometheus] Fix OpenAPI spec
  modules/300-prometheus/openapi/config-values.yaml
Labels: auto, backported

#7536 Changelog v1.57.5
  CHANGELOG/CHANGELOG-v1.57.5.yml
  CHANGELOG/CHANGELOG-v1.57.md
Labels: changelog, auto, status/backport

#7538 Backport: Changelog v1.57.5
  CHANGELOG/CHANGELOG-v1.57.5.yml
  CHANGELOG/CHANGELOG-v1.57.md
Labels: auto, backported

#7278 [candi] Enable IPv4 forwarding for all interfaces via sysctl-tuner
  candi/bashible/common-steps/node-group/041_configure_sysctl_tuner.sh.tpl
Labels: area/cluster-and-infrastructure, e2e/cluster/failed

#7539 [control-plane-manager][docs] Remove potential dangerous step
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure

#7542 [control-plane-manager] Fix runtime config
  candi/control-plane-kubeadm/config.yaml.tpl
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.26, e2e/use/k8s/1.25, e2e/use/k8s/1.28

#7521 [kube-rbac-proxy] listen on pod IP
  ee/be/modules/600-flant-integration/templates/pricing/daemonset.yaml
  ee/modules/380-metallb/templates/controller/deployment.yaml
  ee/modules/380-metallb/templates/speaker/daemonset.yaml
  ee/modules/500-operator-trivy/templates/deployment.yaml
  modules/002-deckhouse/templates/deployment.yaml
  modules/040-terraform-manager/templates/terraform-auto-converger/deployment.yaml
  modules/040-terraform-manager/templates/terraform-state-exporter/deployment.yaml
  modules/042-kube-dns/templates/deployment.yaml
  modules/101-cert-manager/templates/cert-manager/deployment.yaml
  modules/200-operator-prometheus/templates/operator.yaml
  modules/300-prometheus/templates/grafana/deployment.yaml
  modules/300-prometheus/templates/trickster/deployment.yaml
  modules/340-extended-monitoring/templates/extended-monitoring-exporter/deployment.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/control-plane-proxy/daemonset.yaml
  modules/340-monitoring-kubernetes/templates/kube-state-metrics/deployment.yaml
  modules/500-dashboard/templates/dashboard/deployment-dashboard.yaml
  modules/500-openvpn/templates/openvpn/statefulset.yaml
  modules/500-upmeter/templates/upmeter/statefulset.yaml
Labels: area/monitoring, area/network, area/security, area/cluster-and-infrastructure, area/ui

#7518 [helm_lib] Running check-linux-kernel init-container as deckhouse user
  helm_lib/charts/deckhouse_lib_helm/templates/_module_init_container.tpl
Labels: area/core

#7519 [chrony] listen on host IP only
  modules/470-chrony/images/chrony/main.go
  modules/470-chrony/template_tests/module_test.go
  modules/470-chrony/templates/configmap.yaml
  modules/470-chrony/templates/daemonset.yaml
Labels: area/cluster-and-infrastructure, go

#7339 [node-manager] Prevent node deletion by autoscaler
  modules/040-node-manager/hooks/handle_node_templates.go
  modules/040-node-manager/hooks/handle_node_templates_test.go
Labels: area/cluster-and-infrastructure, go

#7360 [dhctl] disable `known_hosts` file checking for SSH client
  dhctl/pkg/system/ssh/cmd/ssh.go
Labels: area/cli, go

#7459 [metallb] Add MetalLB grafana dashboard
  ee/modules/380-metallb/monitoring/grafana-dashboards/kubernetes-cluster/metallb-pool.json
  ee/modules/380-metallb/monitoring/grafana-dashboards/kubernetes-cluster/metallb.json
  ee/modules/380-metallb/monitoring/prometheus-rules/metallb.yaml
  ee/modules/380-metallb/templates/monitoring.yaml
Labels: area/network

#7550 [docs] Change string to array in example
  modules/031-local-path-provisioner/crds/local_path_provisioner.yaml
Labels: area/docs, skip/documentation-validation, area/storage, area/api-change

#7551 Backport: [docs] Change string to array in example
  modules/031-local-path-provisioner/crds/local_path_provisioner.yaml
Labels: auto, backported

#7556 Changelog v1.57.6
  CHANGELOG/CHANGELOG-v1.57.6.yml
  CHANGELOG/CHANGELOG-v1.57.md
Labels: changelog, auto

#7548 [shell_lib] Fix an error with password generation in shell hooks
  ee/modules/450-network-gateway/images/dnsmasq/werf.inc.yaml
  shell_lib/hook.sh
  shell_lib/tools.sh
Labels: area/network, area/core, e2e/cluster/failed

#7495 [upmeter] tlsConfig
  modules/500-upmeter/crds/doc-ru-upmeterremotewrite.yaml
  modules/500-upmeter/crds/upmeterremotewrite.yaml
  modules/500-upmeter/images/upmeter/pkg/monitor/remotewrite/types.go
  modules/500-upmeter/images/upmeter/pkg/server/remotewrite/exporter.go
  modules/500-upmeter/images/upmeter/pkg/server/remotewrite/syncer.go
Labels: area/monitoring, go, area/api-change

#7553 [node-local-dns] Fix node local dns readiness probes
  candi/image_versions.yml
  ee/be/modules/350-node-local-dns/images/coredns/werf.inc.yaml
  ee/be/modules/350-node-local-dns/images/iptables-loop/werf.inc.yaml
  modules/035-cni-simple-bridge/images/simple-bridge/werf.inc.yaml
  modules/050-network-policy-engine/images/kube-router/werf.inc.yaml
  modules/300-prometheus/images/grafana/werf.inc.yaml
  tools/dev_images/Dockerfiles/Dockerfile.BASE_ALT
  tools/dev_images/additional_tools/alt/binary_replace.sh
  werf.yaml
Labels: area/monitoring, area/network, area/security, area/testing, area/cluster-and-infrastructure, area/core

#7546 [dhctl] feat(dhctl-for-commander): improved config validation
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  dhctl/pkg/config/connection.go
  dhctl/pkg/config/connection_test.go
  dhctl/pkg/config/load.go
  dhctl/pkg/config/validation.go
  dhctl/pkg/config/validation_rules.go
  dhctl/pkg/config/validation_rules_test.go
  dhctl/pkg/config/validation_test.go
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, area/cli, skip/documentation-validation, go, area/api-change

#7564 [docs] Fix typo
  modules/340-extended-monitoring/docs/CONFIGURATION.md
Labels: area/monitoring, area/docs, skip/documentation-validation, status/backport

#7565 Backport: [docs] Fix typo
  modules/340-extended-monitoring/docs/CONFIGURATION.md
Labels: auto, backported

#7537 [common] Fix k8s patches for 1.28 and 1.29
  ee/be/modules/040-node-manager/openapi/config-values.yaml
  modules/000-common/images/kubernetes/patches/kube-controller-manager/1.28/pdb-daemonset.patch
  modules/000-common/images/kubernetes/patches/kube-controller-manager/1.29/pdb-daemonset.patch
  modules/000-common/images/kubernetes/patches/kubeadm/1.29/07-local-init-configuration.patch
  modules/000-common/images/kubernetes/werf.inc.yaml
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.23/001-identify-instances-by-name.patch
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.23/002-non-type-lb.patch
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.23/003-dont-delete-ingress-sg-rules-elb.patch
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.23/README.md
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.24/001-identify-instances-by-name.patch
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.24/002-non-type-lb.patch
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.24/003-dont-delete-ingress-sg-rules-elb.patch
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.24/README.md
Labels: area/cloud-provider, skip/documentation-validation, e2e/cluster/failed, area/api-change, e2e/use/k8s/1.29

#7541 [kube-dns] Adds a parameter that allows you to change the transport(tcp/udp) protocol used.
  modules/042-kube-dns/openapi/config-values.yaml
  modules/042-kube-dns/openapi/doc-ru-config-values.yaml
  modules/042-kube-dns/templates/configmap.yaml
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.25, area/api-change

#7401 [control-plane-manager] Add requirements for minimal k8s version
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  dhctl/pkg/config/base.go
  global-hooks/discovery/cluster_configuration_test.go
  modules/340-monitoring-kubernetes/hooks/auto_k8s_version.go
  modules/340-monitoring-kubernetes/hooks/auto_k8s_version_test.go
  modules/340-monitoring-kubernetes/hooks/helm.go
  modules/340-monitoring-kubernetes/requirements/check.go
  modules/340-monitoring-kubernetes/requirements/check_test.go
Labels: area/monitoring, area/cli, area/core, e2e/use/k8s/1.25, go

#7486 [node-manager] Fix CloudStatic nodes bootstrap
  candi/bashible/common-steps/node-group/002_create_static_node_cleanup_script.sh.tpl
  modules/030-cloud-provider-aws/docs/FAQ.md
  modules/030-cloud-provider-aws/docs/FAQ_RU.md
  modules/040-node-manager/hooks/set_provider_id_on_static_nodes.go
  modules/040-node-manager/hooks/set_provider_id_on_static_nodes_test.go
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, go

#7554 [network-policy-engine] Fix /run mount
  modules/050-network-policy-engine/templates/daemonset.yaml
Labels: area/network, area/security

#6957 [flant-integration] Distroless
  .github/dependabot.yml
  ee/be/modules/600-flant-integration/images/flant-pricing/Dockerfile
  ee/be/modules/600-flant-integration/images/flant-pricing/src/Makefile
  ee/be/modules/600-flant-integration/images/flant-pricing/src/README.md
  ee/be/modules/600-flant-integration/images/flant-pricing/src/requirements.dev.txt
  ee/be/modules/600-flant-integration/images/flant-pricing/src/requirements.txt
  ee/be/modules/600-flant-integration/images/flant-pricing/werf.inc.yaml
  ee/be/modules/600-flant-integration/images/grafana-agent/Dockerfile
  ee/be/modules/600-flant-integration/images/grafana-agent/werf.inc.yaml
  ee/be/modules/600-flant-integration/images/madison-proxy/Dockerfile
  ee/be/modules/600-flant-integration/images/madison-proxy/go.mod
  ee/be/modules/600-flant-integration/images/madison-proxy/src/go.mod
  ee/be/modules/600-flant-integration/images/madison-proxy/src/go.sum
  ee/be/modules/600-flant-integration/images/madison-proxy/src/madison-proxy.go
  ee/be/modules/600-flant-integration/images/madison-proxy/src/madison_proxy_test.go
  ee/be/modules/600-flant-integration/images/madison-proxy/werf.inc.yaml
Labels: type/dependencies, go

#7566 [chore] Update Kubernetes patch versions
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: area/kubernetes, area/testing, area/cluster-and-infrastructure, e2e/use/k8s/1.26, status/backport, go, e2e/use/k8s/1.27, e2e/use/k8s/1.28, e2e/use/k8s/1.29

#7572 [docs] Actualise Selectel RU GS
  docs/site/_includes/getting_started/openstack_selectel/partials/config.ru.yml.standard.ee.inc
Labels: area/docs, skip/e2e

#7574 [dhctl] feat(dhctl-for-commander): compare destructiveChangeID
  dhctl/pkg/operations/converge/converger.go
Labels: area/cli, go

#7580 Backport: [multitenancy-manager] Fix flag for template
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-with-dedicated-nodes-project-template.yaml
Labels: area/security, auto, backported

#7577 Fix false test triggering when cluster configuration secret is unavailable
  modules/340-monitoring-kubernetes/hooks/auto_k8s_version_test.go
Labels: area/monitoring, status/backport, go

#7586 Backport: Fix false test triggering when cluster configuration secret is unavailable
  modules/340-monitoring-kubernetes/hooks/auto_k8s_version_test.go
Labels: auto, backported

#7446 [External module manager] add module status
  deckhouse-controller/crds/module-config.yaml
  deckhouse-controller/crds/module.yaml
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_config.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/zz_generated.deepcopy.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/fake/fake_module.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/module.go
  deckhouse-controller/pkg/controller/controller.go
  go_lib/deckhouse-config/status.go
  modules/002-deckhouse/hooks/dconfig_update_status.go
  modules/002-deckhouse/hooks/dconfig_update_status_test.go
  modules/002-deckhouse/hooks/testdata/update-status/modules/001-module-one/openapi/config-values.yaml
Labels: area/core, skip/documentation-validation, go, area/api-change

#7591 Backport: [docs] Add list of kebab-case releaseChannels
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
Labels: auto, backported

#7458 [cloud-provider-openstack][discovery] Add alert about orphaned disks
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/werf.inc.yaml
  ee/modules/030-cloud-provider-openstack/monitoring/prometheus-rules/cloud-data-discoverer.yaml
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/deployment.yaml
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/pod-monitor.yaml
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/rbac-for-us.yaml
  ee/modules/030-cloud-provider-openstack/templates/monitoring.yaml
  ee/modules/030-cloud-provider-vcd/images/cloud-data-discoverer/discoverer.go
  go_lib/cloud-data/apis/v1alpha1/types.go
  go_lib/cloud-data/app/kube-client.go
  go_lib/cloud-data/reconciler.go
  modules/030-cloud-provider-aws/images/cloud-data-discoverer/discoverer.go
  modules/030-cloud-provider-aws/monitoring/prometheus-rules/cloud-data-discoverer.yaml
  modules/030-cloud-provider-aws/templates/cloud-data-discoverer/pod-monitor.yaml
  modules/030-cloud-provider-aws/templates/monitoring.yaml
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/discoverer.go
  modules/030-cloud-provider-azure/monitoring/prometheus-rules/cloud-data-discoverer.yaml
  modules/030-cloud-provider-azure/templates/cloud-data-discoverer/pod-monitor.yaml
  modules/030-cloud-provider-azure/templates/monitoring.yaml
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/discoverer.go
  modules/030-cloud-provider-gcp/templates/cloud-data-discoverer/pod-monitor.yaml
  modules/040-node-manager/monitoring/prometheus-rules/cloud-data-discovery.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, area/core, go

#7524 [ceph-csi] set livenessprobe address to host IP
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/templates/_csi_controller.tpl
Labels: area/core, status/backport

#7592 Backport: [ceph-csi] set livenessprobe address to host IP
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/templates/_csi_controller.tpl
Labels: auto, backported

#7595 [docs][multitenancy-manager] Don't render the ProjectType resource in the documentation.
  docs/documentation/werf-git-section.inc.yaml
Labels: area/docs, status/backport

#7596 Backport: [docs][multitenancy-manager] Don't render the ProjectType resource in the documentation.
  docs/documentation/werf-git-section.inc.yaml
Labels: auto, backported

#7578 [documentation] Fix EKS tests
  modules/810-documentation/templates/deployment.yaml
  werf.yaml
Labels: area/docs, area/core, status/backport, e2e/run/eks, e2e/use/k8s/1.28

#7594 [docs][multitenancy-manager] Mark the ProjectType resource fields as deprecated
  docs/documentation/_data/i18n.yml
  docs/documentation/_plugins/openapi.rb
  ee/modules/160-multitenancy-manager/crds/projecttypes.yaml
Labels: area/security, area/docs, skip/documentation-validation, status/backport, area/api-change

#7599 Backport: [docs][multitenancy-manager] Mark the ProjectType resource fields as deprecated
  docs/documentation/_data/i18n.yml
  docs/documentation/_plugins/openapi.rb
  ee/modules/160-multitenancy-manager/crds/projecttypes.yaml
Labels: auto, backported
