Repository deckhouse/deckhouse, pull requests merged in 2024-10, with the labels that each got.

#9911 [candi] reboot static node with a delay on cleanup
  candi/bashible/common-steps/node-group/002_create_static_node_cleanup_script.sh.tpl
Labels: area/cluster-and-infrastructure

#9929 Backport: [candi] reboot static node with a delay on cleanup
  candi/bashible/common-steps/node-group/002_create_static_node_cleanup_script.sh.tpl
Labels: auto, backported

#9920 [dhctl] del deprecated configOverrides
  candi/openapi/doc-ru-init_configuration.yaml
  candi/openapi/init_configuration.yaml
  dhctl/README.md
  dhctl/pkg/config/base_test.go
  dhctl/pkg/config/deckhouse_config.go
  dhctl/pkg/config/deckhouse_config_test.go
  dhctl/pkg/config/module_config.go
  dhctl/pkg/config/module_config_test.go
  dhctl/pkg/config/types.go
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
Labels: area/docs, area/cluster-and-infrastructure, area/cli, go, area/api-change

#9802 [cloud-provider-vcd] Fix getting `vcd_catalog_vapp_template` data source by `org` and `catalog_id`
  ee/candi/cloud-providers/vcd/terraform-modules/master-node/main.tf
  ee/modules/040-terraform-manager/images/terraform-manager-vcd/patches/fix_getting_vcd_catalog_vapp_template_data_source_by_org_and_catalog_id.patch
  ee/modules/040-terraform-manager/images/terraform-manager-vcd/werf.inc.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure

#9917 [chore] Update Kubernetes patch versions
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: area/kubernetes, area/testing, area/cluster-and-infrastructure, status/backport, go, e2e/use/k8s/1.28, e2e/use/k8s/1.29, e2e/use/k8s/1.30

#9931 Backport: [chore] Update Kubernetes patch versions
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: auto, backported

#9616 [SEC] fix trivy
  .github/scripts/send-trivy-report.sh
  .github/workflow_templates/cve-weekly.yml
  .github/workflows/cve-weekly.yml
  tools/cve/base-images.sh
  tools/cve/d8-images.sh
  tools/cve/html/header.tpl
Labels: area/testing

#9934 [docs][documentation] update base image for Jekyll
  candi/image_versions.yml
  docs/documentation/Gemfile.lock
  docs/documentation/werf.yaml
  docs/site/Gemfile.lock
  docs/site/werf.yaml
  modules/810-documentation/images/web/werf.inc.yaml
Labels: area/docs, area/cluster-and-infrastructure

#9852 [deckhouse] Prohibit to change deckhouse resources
  dhctl/pkg/system/node/ssh/frontend/kube-proxy.go
  modules/002-deckhouse/templates/validation.yaml
Labels: area/cli, e2e/use/k8s/1.26, go

#9598 [user-authn] feat: refresh groups on updating tokens
  modules/150-user-authn/images/dex/patches/static-user-groups.patch
Labels: area/auth

#9754 [cni-cilium] Adding support for setting configuration on a per-node basis.
  modules/021-cni-cilium/templates/_agent-daemonset.tpl
  modules/021-cni-cilium/templates/agent/daemonset.yaml
  modules/021-cni-cilium/templates/agent/rbac-for-us.yaml
Labels: area/network, e2e/use/k8s/1.27

#9912 [istio] Improved resourceManagement validation in the ModuleConfig
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/openapi/openapi-case-tests.yaml
  modules/110-istio/template_tests/module_test.go
Labels: area/network, skip/documentation-validation, go, e2e/use/k8s/1.27, area/api-change

#9935 [ingress-nginx] remove 1.6
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/docs/FAQ.md
  modules/402-ingress-nginx/docs/FAQ_RU.md
  modules/402-ingress-nginx/hooks/alert_deprecated_geoip_version_test.go
  modules/402-ingress-nginx/hooks/generate_admission_webhook_cert_test.go
  modules/402-ingress-nginx/hooks/get_ingress_controllers_test.go
  modules/402-ingress-nginx/hooks/minimal_ingress_nginx_version_test.go
  modules/402-ingress-nginx/hooks/safe_daemonset_update_test.go
  modules/402-ingress-nginx/hooks/update_ingress_address_test.go
  modules/402-ingress-nginx/images/controller-1-6/Dockerfile
  modules/402-ingress-nginx/images/controller-1-6/patches/README.md
  modules/402-ingress-nginx/images/controller-1-6/patches/auth-cookie-always.patch
  modules/402-ingress-nginx/images/controller-1-6/patches/balancer-lua.patch
  modules/402-ingress-nginx/images/controller-1-6/patches/endpointslice-missing-conditions.patch
  modules/402-ingress-nginx/images/controller-1-6/patches/fix-cleanup.patch
  modules/402-ingress-nginx/images/controller-1-6/patches/healthcheck.patch
  modules/402-ingress-nginx/images/controller-1-6/patches/lua-info.patch
  modules/402-ingress-nginx/images/controller-1-6/patches/makefile.patch
  modules/402-ingress-nginx/images/controller-1-6/patches/metrics-SetSSLExpireTime.patch
  modules/402-ingress-nginx/images/controller-1-6/patches/nginx-build.patch
  modules/402-ingress-nginx/images/controller-1-6/patches/nginx-tmpl.patch
  modules/402-ingress-nginx/images/controller-1-6/rootfs/etc/nginx/lua/geohash.lua
  modules/402-ingress-nginx/images/controller-1-6/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/openapi/config-values.yaml
  modules/402-ingress-nginx/openapi/values.yaml
  modules/402-ingress-nginx/template_tests/controller_test.go
  modules/402-ingress-nginx/template_tests/testdata/golden/host-port-with-pp/controller/controller.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/host-with-failover/controller/controller.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/lb-with-pp/controller/controller.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/lb-with-terminating/controller/controller.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/lb-without-hpa/controller/controller.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/lb/controller/controller.yaml
  modules/402-ingress-nginx/template_tests/testdata/host-port-with-pp.yaml
  modules/402-ingress-nginx/template_tests/testdata/host-with-failover.yaml
  modules/402-ingress-nginx/template_tests/testdata/lb-with-pp.yaml
  modules/402-ingress-nginx/template_tests/testdata/lb-without-hpa.yaml
  modules/402-ingress-nginx/template_tests/testdata/lb.yaml
  release.yaml
  testing/library/images_tags_generated.go
Labels: area/network, area/testing, area/docs, skip/documentation-validation, go, area/api-change

#9849 [multitenancy-manager] Add verify namespace object for messageExpression in ValidatingAdmissionPolicy
  ee/modules/160-multitenancy-manager/templates/validation.yaml
Labels: area/security

#9891 [multitenancy-manager] fix namespace not found
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/pkg/helm/main.go
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/pkg/manager/project/main.go
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/pkg/manager/project/utils.go
Labels: area/security, go

#9894 [user-authn] feat: dex support base64 encoded and PEM encoded certs
  modules/150-user-authn/images/dex/Dockerfile
  modules/150-user-authn/images/dex/patches/bytes-and-string-certificates.patch
Labels: area/auth

#9900 [core] Revert d8 cni configuration
  .golangci.yaml
  dhctl/pkg/config/deckhouse_config_test.go
  dhctl/pkg/config/module_config.go
  dhctl/pkg/config/module_config_test.go
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
  dhctl/pkg/kubernetes/actions/deckhouse/install_test.go
  dhctl/pkg/operations/bootstrap/steps_test.go
  dhctl/pkg/operations/commander/helpers.go
  ee/modules/030-cloud-provider-openstack/hooks/get_cni_secret.go
  ee/modules/030-cloud-provider-openstack/templates/cni.yaml
  ee/modules/030-cloud-provider-vcd/hooks/get_cni_secret.go
  ee/modules/030-cloud-provider-vcd/templates/cni.yaml
  ee/modules/030-cloud-provider-vsphere/hooks/get_cni_secret.go
  ee/modules/030-cloud-provider-vsphere/templates/cni.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cni.yaml
  global-hooks/enable_cni.go
  global-hooks/enable_cni_test.go
  global-hooks/migrate/migrate_d8_cni_secret.go
  global-hooks/migrate/migrate_d8_cni_secret_test.go
  go_lib/hooks/get_cni_secret/hook.go
  modules/000-common/hooks/get_cni_secret.go
  modules/000-common/hooks/get_cni_secret_test.go
  modules/021-cni-cilium/hooks/set_cilium_mode.go
  modules/021-cni-cilium/hooks/set_cilium_mode_test.go
  modules/021-cni-cilium/openapi/config-values.yaml
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
  modules/021-cni-cilium/openapi/values.yaml
  modules/021-cni-cilium/template_tests/module_test.go
  modules/021-cni-cilium/templates/configmap.yaml
  modules/030-cloud-provider-aws/templates/cni.yaml
  modules/030-cloud-provider-azure/templates/cni.yaml
  modules/030-cloud-provider-gcp/templates/cni.yaml
  modules/030-cloud-provider-yandex/templates/cni.yaml
  modules/035-cni-flannel/hooks/set_pod_network_mode.go
  modules/035-cni-flannel/hooks/set_pod_network_mode_test.go
  testing/cloud_layouts/VCD/Standard/configuration.tpl.yaml
Labels: area/cloud-provider, area/network, area/testing, area/cli, area/core, status/backport, go, e2e/use/k8s/1.27, area/api-change

#9941 Backport: [CI] Upgrade actions/{download,upload}-artifact
  .github/ci_includes/actions_versions.yml
  .github/workflows/cve-weekly.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vcd.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/validation.yml
Labels: auto, backported

#9938 [core] Backport of revert d8 cni configuration
  .golangci.yaml
  dhctl/pkg/config/deckhouse_config_test.go
  dhctl/pkg/config/module_config.go
  dhctl/pkg/config/module_config_test.go
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
  dhctl/pkg/kubernetes/actions/deckhouse/install_test.go
  dhctl/pkg/operations/bootstrap/steps_test.go
  dhctl/pkg/operations/commander/helpers.go
  ee/modules/030-cloud-provider-openstack/hooks/get_cni_secret.go
  ee/modules/030-cloud-provider-openstack/templates/cni.yaml
  ee/modules/030-cloud-provider-vcd/hooks/get_cni_secret.go
  ee/modules/030-cloud-provider-vcd/templates/cni.yaml
  ee/modules/030-cloud-provider-vsphere/hooks/get_cni_secret.go
  ee/modules/030-cloud-provider-vsphere/templates/cni.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cni.yaml
  global-hooks/enable_cni.go
  global-hooks/enable_cni_test.go
  global-hooks/migrate/migrate_d8_cni_secret.go
  global-hooks/migrate/migrate_d8_cni_secret_test.go
  go_lib/hooks/get_cni_secret/hook.go
  modules/000-common/hooks/get_cni_secret.go
  modules/000-common/hooks/get_cni_secret_test.go
  modules/021-cni-cilium/hooks/set_cilium_mode.go
  modules/021-cni-cilium/hooks/set_cilium_mode_test.go
  modules/021-cni-cilium/openapi/config-values.yaml
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
  modules/021-cni-cilium/openapi/values.yaml
  modules/021-cni-cilium/template_tests/module_test.go
  modules/021-cni-cilium/templates/configmap.yaml
  modules/030-cloud-provider-aws/templates/cni.yaml
  modules/030-cloud-provider-azure/templates/cni.yaml
  modules/030-cloud-provider-gcp/templates/cni.yaml
  modules/030-cloud-provider-yandex/templates/cni.yaml
  modules/035-cni-flannel/hooks/set_pod_network_mode.go
  modules/035-cni-flannel/hooks/set_pod_network_mode_test.go
  testing/cloud_layouts/VCD/Standard/configuration.tpl.yaml
Labels: area/cloud-provider, area/network, area/testing, area/cli, area/core, go, e2e/use/k8s/1.27, area/api-change

#9945 Backport: [multitenancy-manager] fix namespace not found
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/pkg/helm/main.go
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/pkg/manager/project/main.go
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/pkg/manager/project/utils.go
Labels: auto, backported

#9944 [docs][documentation] Update build rules
  docs/documentation/werf.yaml
  docs/site/werf.yaml
  modules/810-documentation/images/web/werf.inc.yaml
Labels: area/docs

#9942 [cse release 1.64] - crictl
  candi/bashible/common-steps/all/006_fetch_registry_packages.sh.tpl
  candi/bashible/common-steps/cluster-bootstrap/035_install_kubeadm.sh.tpl
  candi/bashible/common-steps/node-group/031_install_containerd.sh.tpl
  modules/007-registrypackages/images/crictl/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/cluster-and-infrastructure, area/core, go

#9939 [cni-flannel] entrypoint cve fix
  modules/035-cni-flannel/images/flanneld/entrypoint/go.mod
  modules/035-cni-flannel/images/flanneld/entrypoint/go.sum
Labels: area/network, type/dependencies

#9951 [site] Fix topnav menu items
  docs/documentation/werf.yaml
  docs/site/werf.yaml
Labels: area/docs

#9952 [docs] Fix site menu generation
  docs/site/werf.yaml
Labels: area/docs

#9953 [vertical-pod-autoscaler] one more cve fix
  modules/302-vertical-pod-autoscaler/images/vertical-pod-autoscaler/patches/001-go-mod.patch
Labels: area/scaling

#9950 [candi] fix resize partition step
  candi/bashible/common-steps/node-group/004_resize_partitions.sh.tpl
Labels: area/cluster-and-infrastructure, status/backport

#9959 Backport: [candi] fix resize partition step
  candi/bashible/common-steps/node-group/004_resize_partitions.sh.tpl
Labels: auto, backported

#9960 Backport: [candi] fix resize partition step
  candi/bashible/common-steps/node-group/004_resize_partitions.sh.tpl
Labels: auto, backported

#9940 [user-authn] cse build fix
  modules/150-user-authn/images/kubeconfig-generator/werf.inc.yaml
  modules/150-user-authn/templates/kubeconfig-generator/deployment.yaml
Labels: area/auth

#9966 Secure PodMonitor CRD usage
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/pod-monitor.yaml
  ee/modules/030-cloud-provider-vcd/templates/cloud-data-discoverer/pod-monitor.yaml
  ee/modules/030-cloud-provider-vsphere/templates/cloud-data-discoverer/pod-monitor.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-data-discoverer/pod-monitor.yaml
  ee/modules/110-istio/templates/alliance/ingressgateway/podmonitor.yaml
  modules/030-cloud-provider-yandex/templates/cloud-data-discoverer/pod-monitor.yaml
  modules/110-istio/templates/cni/podmonitor.yaml
  modules/110-istio/templates/ingress-gateway-controller/podmonitor.yaml
Labels: area/cloud-provider, area/network, e2e/use/k8s/1.29

#9973 [docs] Update site build rules
  .github/ci_templates/web.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  docs/documentation/werf-git-section.inc.yaml
  docs/documentation/werf.yaml
  docs/site/werf.yaml
  modules/810-documentation/images/web/werf.inc.yaml
Labels: area/docs

#9576 Changelog v1.64.1
  CHANGELOG/CHANGELOG-v1.64.1.yml
  CHANGELOG/CHANGELOG-v1.64.md
Labels: changelog, auto, status/backport

#9975 Backport: Changelog v1.64.1
  CHANGELOG/CHANGELOG-v1.64.1.yml
  CHANGELOG/CHANGELOG-v1.64.md
Labels: auto, backported

#9962 Changelog v1.63.11
  CHANGELOG/CHANGELOG-v1.63.11.yml
  CHANGELOG/CHANGELOG-v1.63.md
Labels: changelog, auto, status/backport

#9976 Backport: Changelog v1.63.11
  CHANGELOG/CHANGELOG-v1.63.11.yml
  CHANGELOG/CHANGELOG-v1.63.md
Labels: auto, backported

#9650 [cni-cilium] Upgrade to 1.14.14
  candi/image_versions.yml
  ee/modules/021-cni-cilium/images/egress-gateway-agent/werf.inc.yaml
  modules/021-cni-cilium/images/agent/werf.inc.yaml
  modules/021-cni-cilium/images/base-cilium-dev/werf.inc.yaml
  modules/021-cni-cilium/images/bin-bpftool/werf.inc.yaml
  modules/021-cni-cilium/images/bin-cilium-envoy/werf.inc.yaml
  modules/021-cni-cilium/images/bin-cilium/patches/002-stable-mac.patch
  modules/021-cni-cilium/images/bin-cilium/patches/004-go-mod.patch
  modules/021-cni-cilium/images/bin-cilium/werf.inc.yaml
  modules/021-cni-cilium/images/bin-cni-plugins/werf.inc.yaml
  modules/021-cni-cilium/images/bin-gops/werf.inc.yaml
  modules/021-cni-cilium/images/bin-hubble/patches/001-go-mod.patch
  modules/021-cni-cilium/images/bin-hubble/werf.inc.yaml
  modules/021-cni-cilium/images/bin-iptables/werf.inc.yaml
  modules/021-cni-cilium/images/bin-llvm/werf.inc.yaml
  modules/021-cni-cilium/images/operator/patches/004-go-mod.patch
  modules/021-cni-cilium/images/operator/werf.inc.yaml
  modules/021-cni-cilium/images/safe-agent-updater/go.mod
  modules/021-cni-cilium/images/safe-agent-updater/go.sum
  modules/021-cni-cilium/images/safe-agent-updater/werf.inc.yaml
  modules/500-cilium-hubble/images/relay/patches/004-go-mod.patch
  modules/500-cilium-hubble/images/relay/werf.inc.yaml
  modules/500-cilium-hubble/images/ui-backend/patches/001-go-mod.patch
  modules/500-cilium-hubble/images/ui-backend/werf.inc.yaml
  modules/500-cilium-hubble/images/ui-frontend/patches/001-hubble-ui-vm-name-icon.patch
  modules/500-cilium-hubble/images/ui-frontend/werf.inc.yaml
  modules/500-cilium-hubble/templates/ui/deployment.yaml
  testing/library/images_tags_generated.go
Labels: area/network, area/testing, area/cluster-and-infrastructure, type/dependencies, go, e2e/use/k8s/1.27

#9607 [multitenancy-manager] add project render validation
  ee/modules/160-multitenancy-manager/crds/doc-ru-projecttemplate.yaml
  ee/modules/160-multitenancy-manager/crds/projecttemplate.yaml
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/cmd/main.go
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/default/default.yaml
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/default/empty.yaml
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/default/secure-with-dedicated-nodes.yaml
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/default/secure.yaml
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/pkg/apis/deckhouse.io/v1alpha1/project_template.go
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/pkg/controller/project/main.go
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/pkg/controller/template/main.go
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/pkg/helm/main.go
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/pkg/manager/project/utils.go
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/pkg/webhook/project/main.go
  ee/modules/160-multitenancy-manager/templates/admission/validation.yaml
Labels: area/security, go, area/api-change

#9955 [multitenancy-manager] json logs format
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/cmd/main.go
Labels: area/security, go

#9979 [testing] Fixed missing backslash in testing script
  testing/cloud_layouts/script.sh
Labels: area/testing, e2e/cluster/failed

#9974 [user-authn] Add claimMappingOverride option
  modules/150-user-authn/crds/dex-provider.yaml
  modules/150-user-authn/crds/doc-ru-dex-provider.yaml
  modules/150-user-authn/openapi/values.yaml
  modules/150-user-authn/templates/dex/config.yaml
Labels: area/auth, area/api-change

#9964 [deckhouse-controller] fix deckhouse version
  deckhouse-controller/go-build.sh
  werf.yaml
Labels: area/core, e2e/use/k8s/1.29

#9539 [site] Fix font size and color of texts and titles in main styles
  docs/site/css/components/common/_variables.scss
  docs/site/css/docs.scss
  docs/site/css/syntax.css
Labels: area/docs

#9963 [deckhouse] add discovered GVKs from modules' CRDs to global values
  dhctl/go.mod
  dhctl/go.sum
  docs/documentation/werf-git-section.inc.yaml
  global-hooks/openapi/values.yaml
  go.mod
  go.sum
  modules/040-node-manager/crds/doc-ru-node_group.yaml
  modules/040-node-manager/crds/node_group.yaml
  modules/040-node-manager/hooks/ensure_crds_node_group.go
Labels: area/docs, area/cluster-and-infrastructure, type/dependencies, area/cli, area/core, go, area/api-change, e2e/use/multimaster

#9983 [common] Bump shell-operator
  modules/000-common/images/shell-operator/werf.inc.yaml
Labels: e2e/use/k8s/1.29

#9990 [dhctl] fix(dhctl-for-commander): fix sshBastionPort spec (int -> integer)
  candi/openapi/dhctl/ssh_configuration.yaml
  dhctl/pkg/config/connection_test.go
Labels: area/cluster-and-infrastructure, area/cli, status/backport, go

#9991 Backport: [dhctl] fix(dhctl-for-commander): fix sshBastionPort spec (int -> integer)
  candi/openapi/dhctl/ssh_configuration.yaml
  dhctl/pkg/config/connection_test.go
Labels: auto, backported

#9995 [node-manager] fix the module's snapshots debugging
  modules/040-node-manager/hooks/set_instance_class_ng_usage.go
Labels: area/cluster-and-infrastructure, type/chore, go

#9971 [cni-cilium] wiping unwanted iptables-legacy rules
  modules/021-cni-cilium/images/agent/check-n-cleaning-iptables.sh
  modules/021-cni-cilium/images/agent/werf.inc.yaml
  modules/021-cni-cilium/templates/_agent-daemonset.tpl
Labels: area/network, e2e/use/k8s/1.27

#9943 [deckhouse-controller] feat: adding an alert that manual confirmation is required to install mr
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/updater.go
  docs/documentation/_data/deckhouse-alerts.yml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/alerting.yaml
Labels: area/monitoring, area/docs, area/core, go

#10009 [ceph-csi] Make ceph-csi module deprecated
  docs/documentation/_data/sidebars/main.yml
  docs/site/_config.yml
Labels: area/docs

#9932 [dhctl] Add cache image kubernetes-api-proxy to not pull image when registry for image was changed
  candi/bashible/common-steps/node-group/051_pull_and_configure_kubernetes_api_proxy.sh.tpl
Labels: area/cluster-and-infrastructure

#9436 [candi] Add support for openSUSE and mosOS
  candi/bashible/bashbooster/50_zypper.sh
  candi/bashible/bashbooster/56_detect_bundle.sh
  candi/bashible/bundles/opensuse/all/004_disable_firewalld.sh.tpl
  candi/bashible/detect_bundle.sh
  candi/version_map.yml
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_data/version_map_addition.yml
  ee/be/candi/bashible/detect_bundle.sh
  ee/be/modules/040-node-manager/openapi/config-values.yaml
  ee/be/modules/600-flant-integration/images/flant-pricing/hooks/prometheus_metrics.sh
  ee/fe/modules/040-node-manager/templates/ngc-ca-certificate.yaml
  modules/007-registrypackages/images/containerd/scripts/install
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/node-disk-usage.yaml
  testing/cloud_layouts/Static/infra.tpl.tf
  testing/cloud_layouts/Static/opensuse-instance-bootstrap.sh
  testing/cloud_layouts/Static/resources.tpl.yaml
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/resources.yaml
  testing/cloud_layouts/script.sh
Labels: area/kubernetes, area/monitoring, area/testing, area/docs, area/cluster-and-infrastructure, area/core, skip/documentation-validation, area/api-change

#10006 [candi][openstack] Add warning in docs about availability zones for CloudPermanent nodes
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, status/backport, area/api-change

#10017 Backport: [candi][openstack] Add warning in docs about availability zones for CloudPermanent nodes
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#10007 [docs][getting_started] Actual flavor for VKCloud and adjust rootDiskSize
  docs/site/_includes/getting_started/openstack_vk/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_vk/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_vk/partials/resources.yml.minimal.inc
Labels: area/docs

#10001 [deckhouse-controller] change release approval message
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/auto-deploy-patch-release-in-manual-mode.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/auto-patch-mode-minor-release.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/manual-approval-mode-is-set.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/manual-approval-mode-with-canary-process.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/manual-mode.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/pending-manual-release-on-cluster-bootstrap.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/second-run-of-the-hook-in-a-manual-mode-should-not-change-state.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/unknown-mode-minor-release.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/pending-manual-release-on-cluster-bootstrap.yaml
  docs/documentation/pages/module-development/RUN.md
  docs/documentation/pages/module-development/RUN_RU.md
  go_lib/updater/updater.go
Labels: area/docs, area/core, go, docs/documentation-validation

#10018 Cse release 1.64 ingress nginx closed env
  modules/402-ingress-nginx/images/controller-1-10/patches/nginx-build.patch
Labels: area/network

#10016 [ingress-nginx] Add matchConditions in validating webhook to filter requests by spec.ingressClassName
  modules/402-ingress-nginx/templates/controller/admission.yaml
Labels: area/network, e2e/use/k8s/1.26, e2e/cluster/failed, e2e/use/k8s/1.29

#9671 [ci] migrate from ansible to shell in werf
  docs/documentation/werf.yaml
  docs/site/werf-debug.yaml
  docs/site/werf-docs-builder.inc.yaml
  docs/site/werf.yaml
  modules/810-documentation/images/web/werf.inc.yaml
  werf.yaml
Labels: area/docs, area/core

#9982 [dhctl] Fix lease locker
  dhctl/pkg/kubernetes/actions/converge/converge.go
  dhctl/pkg/kubernetes/actions/converge/lock.go
  dhctl/pkg/kubernetes/actions/converge/master_node_group_controller.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
Labels: area/cli, go, e2e/use/multimaster

#9855 [candi] Update ccm.yandex versions
  candi/version_map.yml
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.26/001-add-tg-node-annotation.patch
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.26/README.md
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.27/001-add-tg-node-annotation.patch
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.27/README.md
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.28/001-add-tg-node-annotation.patch
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.28/README.md
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.29/001-add-tg-node-annotation.patch
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.29/README.md
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.30/001-add-tg-node-annotation.patch
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/patches/1.30/README.md
  modules/030-cloud-provider-yandex/images/cloud-controller-manager/werf.inc.yaml
Labels: area/kubernetes, area/cloud-provider, area/cluster-and-infrastructure, e2e/use/k8s/1.30

#9637 [control-plane-manager] Add etcd backup
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
  modules/040-control-plane-manager/hooks/reconcile_masters_node.go
  modules/040-control-plane-manager/hooks/reconcile_masters_node_test.go
  modules/040-control-plane-manager/images/etcd-backup/werf.inc.yaml
  modules/040-control-plane-manager/openapi/values.yaml
  modules/040-control-plane-manager/templates/etcd-backup/cronjob.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/docs, area/cluster-and-infrastructure, go, area/api-change

#9987 [cni-cilium] Disabling the upload of the service image `base-cilium-dev` to the final container registry.
  modules/021-cni-cilium/images/base-cilium-dev/werf.inc.yaml
Labels: area/network, e2e/use/k8s/1.27

#10030 [docs] fixed build in shell
  docs/documentation/werf.yaml
  modules/810-documentation/images/web/werf.inc.yaml
Labels: area/docs

#10027 [docs] Update OpenAPI generator
  docs/documentation/_includes/sidebar.html
  docs/documentation/_includes/sitemap.liquid
  docs/documentation/_plugins/openapi.rb
  docs/documentation/generate_cluster_configuration.sh
  docs/documentation/modules_generate_configuration.sh
  docs/documentation/modules_generate_cr.sh
Labels: area/docs

#10036 Backport: [user-authn] feat: dex support base64 encoded and PEM encoded certs
  modules/150-user-authn/images/dex/Dockerfile
  modules/150-user-authn/images/dex/patches/bytes-and-string-certificates.patch
Labels: auto, backported

#10037 [candi] kubelet files strict permissions fix
  candi/bashible/common-steps/all/098_set_permissions.sh.tpl
Labels: area/cluster-and-infrastructure, status/backport

#10044 Backport: [candi] kubelet files strict permissions fix
  candi/bashible/common-steps/all/098_set_permissions.sh.tpl
Labels: auto, backported

#10029 [ci] add OBSERVABILITY_SOURCE_REPO for build observability projects
  .github/ci_includes/werf_envs.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  tools/images_tags/main.go
  werf-giterminism.yaml
  werf.yaml
Labels: area/testing, area/core, go

#10049 Backport: [istio] Improved resourceManagement validation in the ModuleConfig
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/openapi/openapi-case-tests.yaml
  modules/110-istio/template_tests/module_test.go
Labels: auto, backported

#9888 Changelog v1.64.2
  CHANGELOG/CHANGELOG-v1.64.2.yml
  CHANGELOG/CHANGELOG-v1.64.md
Labels: changelog, auto

#10053 [node-manager] fix nodegroup fencing docs
  modules/040-node-manager/crds/doc-ru-node_group.yaml
Labels: area/cluster-and-infrastructure, status/backport, area/api-change

#10054 Backport: [node-manager] fix nodegroup fencing docs
  candi/openapi/doc-ru-node_group.yaml
Labels: auto, backported

#10014 [control-plane-manager] d8 backup etcd docs
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport

#9985 [deckhouse-controller] fix/remove doc when module deleted
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_documentation.go
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/docs_controller.go
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/docs_controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/keep-actual.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/one-builder.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/render-new-checksum.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/render-new-lease.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/render-new-version.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/two-builders-partially.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/two-builders.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  docs/site/backends/docs-builder/go.mod
  docs/site/backends/docs-builder/go.sum
  docs/site/backends/docs-builder/handler.go
  docs/site/backends/docs-builder/internal/docs/build.go
  docs/site/backends/docs-builder/internal/docs/build_test.go
  docs/site/backends/docs-builder/internal/docs/channel_mapping.go
  docs/site/backends/docs-builder/internal/docs/delete.go
  docs/site/backends/docs-builder/internal/docs/service.go
  docs/site/backends/docs-builder/internal/docs/upload.go
  docs/site/backends/docs-builder/internal/docs/upload_test.go
  docs/site/backends/docs-builder/internal/http/v1/handler.go
  docs/site/backends/docs-builder/main.go
  docs/site/backends/docs-builder/pkg/k8s/manager.go
  docs/site/werf-docs-builder.inc.yaml
  go_lib/module/docs-builder/client.go
  modules/810-documentation/templates/deployment.yaml
Labels: area/docs, type/dependencies, area/core, go

#10056 [docs] Fixed command at ModulePullOverride
  docs/documentation/pages/module-development/DEVELOPMENT.md
  docs/documentation/pages/module-development/DEVELOPMENT_RU.md
Labels: area/docs, skip/documentation-validation, status/backport

#10058 Backport: [docs] Fixed command at ModulePullOverride
  docs/documentation/pages/module-development/DEVELOPMENT.md
  docs/documentation/pages/module-development/DEVELOPMENT_RU.md
Labels: auto, backported

#10059 Backport: [docs] Fixed command at ModulePullOverride
  docs/documentation/pages/module-development/DEVELOPMENT.md
  docs/documentation/pages/module-development/DEVELOPMENT_RU.md
Labels: auto, backported

#10060 [CI] OBSERVABILITY_SOURCE_REPO fix
  werf-giterminism.yaml
  werf.yaml
Labels: area/core

#9915 [go_lib] add probe to the cloud-data reconciler
  go_lib/cloud-data/reconciler.go
Labels: area/core, e2e/cluster/failed, go

#9948 [control-plane-manager] patch etcd to support outputting of snapshots to stdout
  modules/040-control-plane-manager/images/etcd/patches/000_etcdctl-snapshot-pipe.patch
  modules/040-control-plane-manager/images/etcd/werf.inc.yaml
Labels: area/cluster-and-infrastructure

#10055 [dhctl] Skip flaky tests for unused code
  dhctl/pkg/system/node/local/command_test.go
  dhctl/pkg/system/node/local/script_test.go
Labels: area/cli, status/backport, go

#10062 Backport: [dhctl] Skip flaky tests for unused code
  dhctl/pkg/system/node/local/command_test.go
  dhctl/pkg/system/node/local/script_test.go
Labels: auto, backported

#10057 [user-authn] Trim user email on dex auth form
  modules/150-user-authn/images/dex/web/templates/password.html
Labels: area/auth

#10002 [docs] set nodeSelector for bootstrap with specific nodes
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
  docs/site/pages/guides/PRODUCTION.md
  docs/site/pages/guides/PRODUCTION_RU.md
Labels: area/docs, status/backport

#10068 [dashboard] Add auth.allowedUserGroups option
  modules/500-dashboard/openapi/config-values.yaml
  modules/500-dashboard/templates/dashboard/authenticator.yaml
Labels: area/ui, area/api-change

#10069 Backport: [dashboard] Add auth.allowedUserGroups option
  modules/500-dashboard/openapi/config-values.yaml
  modules/500-dashboard/templates/dashboard/authenticator.yaml
Labels: auto, backported

#9730 [registry-packages-proxy] Grooming logs for dhctl
  go_lib/registry-packages-proxy/proxy/proxy.go
Labels: area/core, go

#9714 [dhctl] Fix ensure required namespaces
  dhctl/pkg/kubernetes/actions/resources/resources.go
  dhctl/pkg/template/resources.go
Labels: area/cli, status/backport, go

#10071 Backport: [dhctl] Fix ensure required namespaces
  dhctl/pkg/kubernetes/actions/resources/resources.go
  dhctl/pkg/template/resources.go
Labels: auto, backported

#10021 [many] marked the old api *.deckhouse.io as deprecated
  modules/040-node-manager/crds/nodeuser.yaml
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/150-user-authn/crds/dex-authenticator.yaml
  modules/150-user-authn/crds/dex-client.yaml
  modules/150-user-authn/crds/dex-provider.yaml
  modules/150-user-authn/crds/user.yaml
  modules/300-prometheus/crds/customprometheusrules.yaml
  modules/300-prometheus/crds/grafanaadditionaldatasources.yaml
  modules/300-prometheus/crds/grafanadashboarddefinition.yaml
  modules/300-prometheus/crds/prometheusremotewrite.yaml
  modules/301-prometheus-metrics-adapter/crds/clusterpodmetrics.yaml
  modules/302-vertical-pod-autoscaler/crds/verticalpodautoscaler.yaml
  modules/302-vertical-pod-autoscaler/crds/verticalpodautoscalercheckpoint.yaml
  modules/500-upmeter/crds/upmeterremotewrite.yaml
Labels: area/monitoring, area/auth, area/cluster-and-infrastructure, skip/documentation-validation, area/scaling, area/api-change

#9554 [candi][azure] Azure vNet DNS config
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/azure/terraform-modules/base-infrastructure/main.tf
  candi/cloud-providers/azure/terraform-modules/base-infrastructure/variables.tf
  testing/cloud_layouts/Azure/Standard/configuration.tpl.yaml
Labels: area/cloud-provider, area/testing, area/cluster-and-infrastructure, area/api-change

#9369 [node-manager] Declarative binding of SSHCredentials and StaticInstance
  .gitignore
  modules/040-node-manager/crds/staticinstance.yaml
  modules/040-node-manager/images/caps-controller-manager/src/api/deckhouse.io/v1alpha1/staticinstance_types.go
  modules/040-node-manager/images/caps-controller-manager/src/api/deckhouse.io/v1alpha1/staticinstance_webhook.go
  modules/040-node-manager/images/caps-controller-manager/src/api/infrastructure/v1alpha1/condition_constants.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/bootstrap.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/cleanup.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/client.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/task_manager.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/controller/deckhouse.io/staticinstance_controller.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/scope/instance_scope.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/ssh/ssh.go
  modules/040-node-manager/templates/node-group/_static_or_hybrid_script.tpl
  modules/040-node-manager/webhooks/validating/static_instance
Labels: area/cluster-and-infrastructure, skip/documentation-validation, go, area/api-change

#10070 [dhctl] Fix panic during creation resources and add timestamps to debug log
  dhctl/pkg/kubernetes/actions/resources/resources.go
  dhctl/pkg/log/logger.go
Labels: area/cli, status/backport, go

#10072 Backport: [dhctl] Fix panic during creation resources and add timestamps to debug log
  dhctl/pkg/kubernetes/actions/resources/resources.go
  dhctl/pkg/log/logger.go
Labels: auto, backported

#10022 [dhctl] Deny use defaultCRI type as Docker
  candi/bashible/openapi.yaml
  ee/modules/030-cloud-provider-openstack/candi
  ee/modules/030-cloud-provider-vsphere/candi
  modules/040-node-manager/template_tests/module_test.go
  modules/040-node-manager/template_tests/standby_node_test.go
Labels: area/cloud-provider, area/cluster-and-infrastructure, go

#9734 [cloud-provider-yandex] Fix hardcoded `diskType` parameter in `static-node`
  candi/cloud-providers/yandex/terraform-modules/static-node/main.tf
  candi/cloud-providers/yandex/terraform-modules/static-node/variables.tf
Labels: area/cloud-provider, area/cluster-and-infrastructure

#10013 disable extended monitoring for standby-holder
  modules/040-node-manager/templates/standby-holder/deployment.yaml
Labels: area/cluster-and-infrastructure

#10074 Backport: [user-authn] Add claimMappingOverride option
  modules/010-user-authn-crd/crds/dex-provider.yaml
  modules/010-user-authn-crd/crds/doc-ru-dex-provider.yaml
  modules/150-user-authn/openapi/values.yaml
  modules/150-user-authn/templates/dex/config.yaml
Labels: auto, backported

#10075 Backport: [deckhouse-tools] Correct the link for d8-cli for windows
  modules/800-deckhouse-tools/images/web/static/tools.json
Labels: auto, backported

#9858 [dhctl] Add validation rules for ClusterConfiguration.cloud.prefix specific to cloud providers
  dhctl/pkg/config/meta.go
  dhctl/pkg/config/validation.go
Labels: area/cli, e2e/cluster/failed, go

#9709 [dhctl] feat(commander-minimal-ssh): enable passing of exact apiserver url and token in check and converge operations
  dhctl/pkg/operations/converge/converger.go
  dhctl/pkg/server/api/dhctl/check.proto
  dhctl/pkg/server/api/dhctl/converge.proto
  dhctl/pkg/server/pb/dhctl/check.pb.go
  dhctl/pkg/server/pb/dhctl/converge.pb.go
  dhctl/pkg/server/pkg/helper/cluster_connections.go
  dhctl/pkg/server/pkg/helper/kube_client.go
  dhctl/pkg/server/pkg/helper/ssh_client.go
  dhctl/pkg/server/pkg/util/callback/callback.go
  dhctl/pkg/server/pkg/util/util.go
  dhctl/pkg/server/rpc/dhctl/abort.go
  dhctl/pkg/server/rpc/dhctl/bootstrap.go
  dhctl/pkg/server/rpc/dhctl/check.go
  dhctl/pkg/server/rpc/dhctl/commander_attach.go
  dhctl/pkg/server/rpc/dhctl/commander_detach.go
  dhctl/pkg/server/rpc/dhctl/converge.go
  dhctl/pkg/server/rpc/dhctl/destroy.go
  dhctl/pkg/server/rpc/dhctl/service.go
Labels: area/cli, status/backport, go

#9445 [d8-control-plane-manager] crashes when trying to update config
  modules/040-control-plane-manager/images/control-plane-manager/controller/kubeconfig.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/kubeconfig_test.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/testdata/kubeconfig_tmp.conf
Labels: area/cluster-and-infrastructure, go

#9530 [cloud-provider-aws] Added the ability to specify your IAM role
  candi/cloud-providers/aws/layouts/standard/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/standard/base-infrastructure/variables.tf
  candi/cloud-providers/aws/layouts/with-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/with-nat/base-infrastructure/variables.tf
  candi/cloud-providers/aws/layouts/without-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/without-nat/base-infrastructure/variables.tf
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/aws/terraform-modules/base-infrastructure-iam/main.tf
  candi/cloud-providers/aws/terraform-modules/base-infrastructure-iam/variables.tf
  modules/030-cloud-provider-aws/docs/FAQ.md
  modules/030-cloud-provider-aws/docs/FAQ_RU.md
  tools/spelling/dictionaries/dev_OPS.dic
Labels: area/cloud-provider, area/testing, area/docs, area/cluster-and-infrastructure, area/api-change

#10076 [prometheus] Fix Grafana server root URL
  modules/300-prometheus/templates/grafana/deployment-v10.yaml
Labels: area/monitoring, status/backport

#10080 Backport: [prometheus] Fix Grafana server root URL
  modules/300-prometheus/templates/grafana/deployment-v10.yaml
Labels: auto, backported

#9690 [docs] Updates punctuation in project template descriptions for consistency
  ee/modules/160-multitenancy-manager/docs/USAGE.md
  ee/modules/160-multitenancy-manager/docs/USAGE_RU.md
Labels: area/security, area/docs, status/backport

#10083 Backport: [docs] Updates punctuation in project template descriptions for consistency
  ee/modules/160-multitenancy-manager/docs/USAGE.md
  ee/modules/160-multitenancy-manager/docs/USAGE_RU.md
Labels: auto, backported

#10079 [candi] fix AltLinux 11 bootstrap ( udev error )
  ee/be/candi/bashible/bundles/altlinux/all/000_fix_udev_xgrp_error.sh.tpl
Labels: status/backport

#10085 Backport: [candi] fix AltLinux 11 bootstrap ( udev error )
  ee/be/candi/bashible/bundles/altlinux/all/000_fix_udev_xgrp_error.sh.tpl
Labels: auto, backported

#9765 [docs] update staticClusterConfiguration docs, add DVP specifics
  candi/openapi/doc-ru-static_cluster_configuration.yaml
  candi/openapi/static_cluster_configuration.yaml
  docs/site/_includes/getting_started/bm-private/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/bm-private/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.ru.yml.ee.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ee.inc
Labels: area/docs, area/cluster-and-infrastructure, status/backport, area/api-change

#9925 [control-plane-manager][extended-monitoring][docs] Fix quotes in docs
  modules/040-control-plane-manager/docs/README.md
  modules/040-control-plane-manager/docs/README_RU.md
  modules/340-extended-monitoring/docs/README.md
  modules/340-extended-monitoring/docs/README_RU.md
Labels: area/monitoring, area/docs, area/cluster-and-infrastructure, status/backport

#10089 Backport: [control-plane-manager][extended-monitoring][docs] Fix quotes in docs
  modules/040-control-plane-manager/docs/README.md
  modules/040-control-plane-manager/docs/README_RU.md
  modules/340-extended-monitoring/docs/README.md
  modules/340-extended-monitoring/docs/README_RU.md
Labels: auto, backported

#10033 [docs] Added description of overriding containerd parameters
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure

#10094 [docs] Added link to description of clusterDomain parameter
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cluster-and-infrastructure, status/backport, area/api-change

#10028 [deckhouse-controller] updated the documentation with the latest changes to the collect-debug-info command
  deckhouse-controller/pkg/debug/debug.go
  modules/002-deckhouse/docs/FAQ.md
  modules/002-deckhouse/docs/FAQ_RU.md
Labels: area/docs, area/core, go

#10024 [prometheus] Fix stuck GrafanaDashboardDeprecation alerts
  modules/300-prometheus/hooks/deprecate_outdated_grafana_dashboard_crd.go
  modules/300-prometheus/hooks/deprecate_outdated_grafana_dashboard_crd_test.go
Labels: area/monitoring, go

#10026 [upmeter] Fix D8UpmeterSmokeMiniMoreThanOnePVxPVC alert
  docs/documentation/_data/deckhouse-alerts.yml
  modules/500-upmeter/monitoring/prometheus-rules/alerting.yaml
Labels: area/monitoring, area/docs

#10096 Backport: [upmeter] Fix D8UpmeterSmokeMiniMoreThanOnePVxPVC alert
  docs/documentation/_data/deckhouse-alerts.yml
  modules/500-upmeter/monitoring/prometheus-rules/alerting.yaml
Labels: auto, backported

#9967 [docs] Added info and dependencies in DKP module development
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/module-development/DEPENDENCIES.md
  docs/documentation/pages/module-development/DEPENDENCIES_RU.md
  docs/documentation/pages/module-development/README.md
  docs/documentation/pages/module-development/README_RU.md
  docs/documentation/pages/module-development/STRUCTURE.md
  docs/documentation/pages/module-development/STRUCTURE_RU.md
Labels: area/docs, skip/documentation-validation

#10077 [operator-trivy] Feature/bump operator trivy node collector
  ee/modules/500-operator-trivy/images/node-collector/Dockerfile
  ee/modules/500-operator-trivy/images/node-collector/patches/001-change-node-collector-config.patch
  ee/modules/500-operator-trivy/images/node-collector/patches/README.md
  ee/modules/500-operator-trivy/templates/configmap.yaml
Labels: area/security

#9732 [monitoring] Fix grafana home dashboard, panel `Controllers`
  modules/300-prometheus/images/grafana-v10/grafana_home_dashboard.json
  modules/300-prometheus/images/grafana/grafana_home_dashboard.json
Labels: area/monitoring

#9861 [cloud-provider-yandex] yandex csi add support hybrid cluster
  modules/030-cloud-provider-yandex/images/yandex-csi-plugin/werf.inc.yaml
Labels: area/cloud-provider

#10082 [cni-cilium] Disabling the upload of the service image base-cilium-dev to the final container registry. cherry-pick to release-1.64
  modules/021-cni-cilium/images/base-cilium-dev/werf.inc.yaml.txt
Labels: area/network, auto, e2e/use/k8s/1.27

#10086 [cni-cilium] wiping unwanted iptables-legacy rules. cherry-pick to release-1.64
  modules/021-cni-cilium/images/agent/check-n-cleaning-iptables.sh
  modules/021-cni-cilium/images/agent/werf.inc.yaml
  modules/021-cni-cilium/templates/_agent-daemonset.tpl
Labels: area/network, auto, e2e/use/k8s/1.27

#10101 [docs] Fixed table at yandex cloud settings.
  modules/030-cloud-provider-yandex/docs/CONFIGURATION_RU.md
Labels: area/cloud-provider, area/docs, skip/documentation-validation, status/backport

#10108 Backport: [docs] Fixed table at yandex cloud settings.
  modules/030-cloud-provider-yandex/docs/CONFIGURATION_RU.md
Labels: auto, backported

#10042 [docs] Add helper script for registryDockerCfg generation
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#10048 Changelog v1.64.3
  CHANGELOG/CHANGELOG-v1.64.3.yml
  CHANGELOG/CHANGELOG-v1.64.md
Labels: changelog, auto, status/backport

#10118 [docs] Add second level menu in the header
  docs/site/_data/copyright.json
  docs/site/_data/footer.json
  docs/site/_data/topnav-l2-products.json
  docs/site/_data/topnav.json
  docs/site/_includes/header.html
  docs/site/werf.yaml
Labels: area/docs

#10117 [multitenancy-manager] fix prometheus labels
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/default/default.yaml
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/default/secure-with-dedicated-nodes.yaml
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/default/secure.yaml
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/pkg/helm/testdata/default_case/template.yaml
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/pkg/helm/testdata/secure_case/template.yaml
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/pkg/helm/testdata/secure_with_dedicated_node_case/resources.yaml
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/pkg/helm/testdata/secure_with_dedicated_node_case/template.yaml
  ee/modules/160-multitenancy-manager/images/multitenancy-manager/pkg/helm/testdata/without_ns_case/template.yaml
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring, area/security

#10115 [docs] Fix alert rendering. Render alerts in subdirectories
  docs/documentation/_data/deckhouse-alerts.yml
  tools/helm_generate/runners/alert_templates/alert_templates.go
  tools/helm_generate/runners/alert_templates/template_values/340-monitoring-kubernetes.yaml
Labels: area/testing, area/docs, go

#10119 Backport: [docs] Fix alert rendering. Render alerts in subdirectories
  docs/documentation/_data/deckhouse-alerts.yml
  tools/helm_generate/runners/alert_templates/alert_templates.go
  tools/helm_generate/runners/alert_templates/template_values/340-monitoring-kubernetes.yaml
Labels: auto, backported

#10120 [docs] Add new code theme
  docs/site/css/syntax.css
Labels: area/docs

#10046 [deckhouse-controller] Add helper for listing/fetching a registry
  deckhouse-controller/cmd/deckhouse-controller/main.go
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/next_version_test.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/module_downloader.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/updater.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/module-controllers/utils/utils.go
  deckhouse-controller/pkg/registry/deckhouse.go
  deckhouse-controller/pkg/registry/module.go
  deckhouse-controller/pkg/registry/registry.go
  deckhouse-controller/pkg/registry/release_reader.go
  ee/fe/modules/500-okmeter/hooks/update_agent_image.go
  go_lib/dependency/cr/cr.go
  go_lib/dependency/cr/cr_mock.go
  go_lib/dependency/dependency.go
  modules/500-okmeter/hooks/update_agent_image.go
Labels: area/monitoring, area/core, go

#10004 [deckhouse] chore: get rid of annoying "defaulted container" message
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  modules/002-deckhouse/templates/deployment.yaml
Labels: area/cli, go

#10127 [common] fixed cve in src
  modules/000-common/images/csi-external-provisioner/patches/v5.1.0/001-go-mod.patch
  modules/000-common/images/csi-external-provisioner/werf.inc.yaml
  modules/000-common/images/redis-static/werf.inc.yaml
  modules/000-common/images/shell-operator/werf.inc.yaml
  werf.yaml
Labels: area/core

#10128 [istio] Fix metrics display issue in Kiali
  modules/110-istio/templates/kiali/rbac-for-us.yaml
Labels: area/network, skip/e2e

#10126 [cse] fix cve in ingress kruise/registrypackages
  modules/007-registrypackages/images/crictl/werf.inc.yaml
  modules/007-registrypackages/images/kubernetes-cni/patches/cni-plugins/001-go-mod.patch
  modules/007-registrypackages/images/kubernetes-cni/patches/cni-plugins/README.md
  modules/007-registrypackages/images/kubernetes-cni/patches/plugins/001-go-mod.patch
  modules/007-registrypackages/images/kubernetes-cni/patches/plugins/README.md
  modules/007-registrypackages/images/kubernetes-cni/werf.inc.yaml
  modules/007-registrypackages/images/toml-merge/werf.inc.yaml
  modules/402-ingress-nginx/images/kruise/patches/00-gomod.patch
  modules/402-ingress-nginx/images/kruise/werf.inc.yaml
Labels: area/kubernetes, area/network, area/core

#10136 [prometheus] fixed cve in src
  modules/300-prometheus/images/grafana-v10/patches/001-go-mod.patch
  modules/300-prometheus/images/grafana-v10/werf.inc.yaml
  modules/300-prometheus/images/mimir/werf.inc.yaml
  modules/300-prometheus/images/prometheus/werf.inc.yaml
  modules/300-prometheus/images/trickster/werf.inc.yaml
Labels: area/monitoring

#10111 [deckhouse-controller] Added backup.deckhouse.io/cluster-config label to Deckhouse CRD
  deckhouse-controller/crds/module-config.yaml
  deckhouse-controller/crds/module-source.yaml
  deckhouse-controller/crds/module-update-policy.yaml
  ee/modules/160-multitenancy-manager/crds/projects.yaml
  ee/modules/160-multitenancy-manager/crds/projecttemplate.yaml
  ee/modules/650-runtime-audit-engine/crds/falco-audit-rules.yaml
  modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/101-cert-manager/crds/crd-clusterissuers.yaml
  modules/101-cert-manager/crds/crd-issuers.yaml
  modules/140-user-authz/crds/authorizationrule.yaml
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/150-user-authn/crds/dex-authenticator.yaml
  modules/150-user-authn/crds/dex-provider.yaml
  modules/150-user-authn/crds/group.yaml
  modules/150-user-authn/crds/user.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/cluster-logging-config.yaml
  modules/460-log-shipper/crds/pod-logging-config.yaml
Labels: area/auth, area/network, area/security, area/core, skip/documentation-validation, area/logs, area/api-change

#10130 fix: loki
  modules/462-loki/images/loki/patches/002-go-mod.patch
  modules/462-loki/images/loki/werf.inc.yaml
Labels: area/logs

#10010 Dynamix cni
  ee/modules/030-cloud-provider-dynamix/hooks/get_cni_secret.go
  ee/modules/030-cloud-provider-dynamix/templates/cni.yaml
Labels: area/cloud-provider, go

#10139 fix: loki patch
  modules/462-loki/images/loki/patches/001-go-mod.patch
  modules/462-loki/images/loki/patches/002-go-mod.patch
Labels: area/logs

#10141 [docs] Fix width columns of search answers
  docs/site/css/docs.scss
Labels: area/docs

#10145 Backport: [docs] Fix width columns of search answers
  docs/site/css/docs.scss
Labels: auto, backported

#9826 [dynamix] docs
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/werf-git-section.inc.yaml
  docs/site/_config.yml
  docs/site/_data/getting_started/data.yaml
  docs/site/_includes/getting_started/dynamix/STEP_ENV.md
  docs/site/_includes/getting_started/dynamix/STEP_ENV_RU.md
  docs/site/_includes/getting_started/dynamix/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/dynamix/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/dynamix/partials/resources.yml.minimal.inc
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  docs/site/images/icons/platforms/dynamix.png
  ee/candi/cloud-providers/dynamix/docs/CLUSTER_CONFIGURATION.md
  ee/candi/cloud-providers/dynamix/docs/CLUSTER_CONFIGURATION_RU.md
  ee/candi/cloud-providers/dynamix/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/dynamix/docs/ENVIRONMENT_RU.md
  ee/candi/cloud-providers/dynamix/docs/LAYOUTS.md
  ee/candi/cloud-providers/dynamix/docs/LAYOUTS_RU.md
  ee/candi/cloud-providers/dynamix/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/dynamix/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/dynamix/openapi/doc-ru-instance_class.yaml
  ee/candi/cloud-providers/dynamix/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/dynamix/terraform-modules/static-node/main.tf
  ee/candi/cloud-providers/zvirt/docs/LAYOUTS.md
  ee/modules/030-cloud-provider-dynamix/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-dynamix/docs/CONFIGURATION_RU.md
  ee/modules/030-cloud-provider-dynamix/docs/CR.md
  ee/modules/030-cloud-provider-dynamix/docs/CR_RU.md
  ee/modules/030-cloud-provider-dynamix/docs/FAQ.md
  ee/modules/030-cloud-provider-dynamix/docs/FAQ_RU.md
  ee/modules/030-cloud-provider-dynamix/docs/README.md
  ee/modules/030-cloud-provider-dynamix/docs/README_RU.md
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, area/api-change

#9752 [prometheus] move externalLabels to remoteWrite and additionalAlertRelabelConfigs sections
  modules/300-prometheus/templates/prometheus/prometheus-external-labels-alert-relabel-secret.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring, status/ok-to-test

#9822 [dhctl] Fixes for teleport
  dhctl/pkg/operations/bootstrap/steps.go
  dhctl/pkg/system/node/ssh/frontend/file.go
Labels: area/cli, go, area/bootstrap
