Repository deckhouse/deckhouse, pull requests merged in 2024-12, with the labels that each got.

#10884 [docs] Minor documentation updates
  docs/site/js/customscripts.js
  docs/site/pages/virtualization-platform/README.md
  docs/site/pages/virtualization-platform/README_RU.md
Labels: area/docs

#10883 [user-authn] Fix dexclient secret recreate and add labelKeysToIgnore
  modules/150-user-authn/hooks/get_dex_client_crds.go
  modules/150-user-authn/hooks/get_dex_client_crds_test.go
  modules/150-user-authn/templates/dex-client/secret.yaml
Labels: area/auth, status/backport, go

#10278 [dhctl] Fix converge through bastion
  dhctl/pkg/kubernetes/actions/converge/master_node_group_controller.go
  dhctl/pkg/operations/converge/infra/hook/controlplane/kube-proxy.go
  dhctl/pkg/system/node/ssh/frontend/agent.go
Labels: area/cli, go

#9859 [core] Move `global.storageClass` to `global.modules.storageClass`
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL_RU.md
  docs/site/pages/guides/PRODUCTION.md
  docs/site/pages/guides/PRODUCTION_RU.md
  ee/modules/500-operator-trivy/hooks/storage_class_change_test.go
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/conversions/conversions_test.go
  global-hooks/openapi/conversions/v2.yaml
  global-hooks/openapi/doc-ru-config-values.yaml
  go_lib/hooks/storage_class_change/hook.go
  modules/000-common/hooks/storage_class_change_test.go
  modules/015-admission-policy-engine/hooks/storage_class_change_test.go
  modules/500-upmeter/hooks/smokemini/reschedule.go
Labels: area/monitoring, area/security, area/docs, area/core, go, area/api-change

#10889 Backport: [user-authn] Add ability to set custom labels on autogenerated DexClient secret (additional labels/annotations)
  modules/150-user-authn/hooks/get_dex_client_crds.go
  modules/150-user-authn/hooks/get_dex_client_crds_test.go
Labels: auto, backported

#10890 Backport: [user-authn] Fix dexclient secret recreate and add labelKeysToIgnore
  modules/150-user-authn/hooks/get_dex_client_crds.go
  modules/150-user-authn/hooks/get_dex_client_crds_test.go
  modules/150-user-authn/templates/dex-client/secret.yaml
Labels: auto, backported

#10887 [docs] Use data for DVP topnav from the API
  docs/site/werf.yaml
Labels: area/docs

#10669 [ci][registrypackages] Update Deckhouse CLI to v0.6.1
  .github/ci_includes/werf_envs.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  .werf/werf-modules.yaml
  candi/version_map.yml
  modules/007-registrypackages/images/d8/werf.inc.yaml
  modules/800-deckhouse-tools/images/web/werf.inc.yaml
  tools/images_tags/main.go
  werf-giterminism.yaml
  werf.yaml
Labels: area/kubernetes, area/testing, area/cluster-and-infrastructure, area/core, go

#10574 Changelog v1.66.1
  CHANGELOG/CHANGELOG-v1.66.1.yml
  CHANGELOG/CHANGELOG-v1.66.md
Labels: changelog, auto, status/backport

#10900 Backport: Changelog v1.66.1
  CHANGELOG/CHANGELOG-v1.66.1.yml
  CHANGELOG/CHANGELOG-v1.66.md
Labels: auto, backported

#10899 [admission-policy-engine] fix jqfilter
  modules/015-admission-policy-engine/webhooks/validating/security_policy.py
Labels: area/security, status/backport, python

#10901 Backport: [admission-policy-engine] fix jqfilter
  modules/015-admission-policy-engine/webhooks/validating/security_policy.py
Labels: auto, backported

#10907 Changelog v1.66.1
  CHANGELOG/CHANGELOG-v1.66.md
Labels: changelog, auto, status/backport

#10908 Backport: Changelog v1.66.1
  CHANGELOG/CHANGELOG-v1.66.md
Labels: auto, backported

#10915 [docs] Update regarding internalNetworkCIDRs
  candi/openapi/doc-ru-static_cluster_configuration.yaml
  candi/openapi/static_cluster_configuration.yaml
  docs/documentation/pages/installing/CONFIGURATION.md
  docs/documentation/pages/installing/CONFIGURATION_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport, skip/e2e, area/api-change

#10919 Backport: [docs] Update regarding internalNetworkCIDRs
  candi/openapi/doc-ru-static_cluster_configuration.yaml
  candi/openapi/static_cluster_configuration.yaml
  docs/documentation/pages/installing/CONFIGURATION.md
  docs/documentation/pages/installing/CONFIGURATION_RU.md
Labels: auto, backported

#10676 [node-manager] no_proxy/http_proxy tuning
  candi/bashible/bashbooster/50_apt.sh
  candi/bashible/bashbooster/50_registrypackages.sh
  candi/bashible/bashbooster/50_yum.sh
  candi/bashible/bashbooster/61_proxy.sh.tpl
  candi/bashible/bashible.sh.tpl
  candi/bashible/bb_package_install.sh.tpl
  candi/bashible/bootstrap/03-prepare-bashible.sh.tpl
  candi/bashible/common-steps/all/002_add_system_proxy.sh.tpl
  candi/bashible/common-steps/all/006_fetch_registry_packages.sh.tpl
  candi/bashible/common-steps/all/051_pull_and_configure_kubernetes_api_proxy.sh.tpl
  dhctl/pkg/config/base_test.go
  dhctl/pkg/template/bashbooster.go
  dhctl/pkg/template/bashbooster_test.go
  dhctl/pkg/template/bundle.go
  dhctl/pkg/template/execute.go
  ee/be/candi/bashible/bashbooster/50_apt_rpm.sh
  ee/modules/030-cloud-provider-dynamix/templates/csi/controller.yaml
  ee/modules/030-cloud-provider-vcd/templates/csi/controller.yaml
  ee/modules/500-operator-trivy/templates/deployment.yaml
  ee/se-plus/modules/030-cloud-provider-vsphere/templates/csi-legacy/controller.yaml
  ee/se-plus/modules/030-cloud-provider-vsphere/templates/csi/controller.yaml
  ee/se-plus/modules/030-cloud-provider-zvirt/templates/csi/controller.yaml
  modules/002-deckhouse/templates/deployment.yaml
  modules/030-cloud-provider-aws/templates/csi/controller.yaml
  modules/030-cloud-provider-azure/templates/csi/controller.yaml
  modules/030-cloud-provider-gcp/templates/csi/controller.yaml
  modules/030-cloud-provider-yandex/templates/csi/controller.yaml
  modules/040-node-manager/crds/doc-ru-nodegroupconfiguration.yaml
  modules/040-node-manager/crds/nodegroupconfiguration.yaml
  modules/040-node-manager/templates/bashible/bashbooster-secret.yaml
  modules/040-node-manager/templates/capi-controller-manager/deployment.yaml
  modules/040-node-manager/templates/ngc-nfs-common.yaml
  modules/500-upmeter/templates/upmeter/statefulset.yaml
  testing/cloud_layouts/Static/resources.tpl.yaml
Labels: area/monitoring, area/cloud-provider, area/security, area/testing, area/cluster-and-infrastructure, area/cli, go, area/api-change

#10924 [docs] Updated text at KESL documentation
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP.md
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP_RU.md
Labels: area/docs, status/backport

#10927 Backport: [docs] Updated text at KESL documentation
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP.md
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP_RU.md
Labels: auto, backported

#10928 Backport: [docs] Updated text at KESL documentation
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP.md
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP_RU.md
Labels: auto, backported

#10718 [node-manager] fixed the key usage with cert-authority
  modules/030-cloud-provider-gcp/cloud-instance-manager/machine-class.yaml
  modules/030-cloud-provider-yandex/cloud-instance-manager/machine-class.yaml
  modules/040-node-manager/template_tests/module_test.go
Labels: area/cloud-provider, area/cluster-and-infrastructure, go

#10914 [candi] Update D8 CLI to 0.7.0
  candi/version_map.yml
Labels: area/kubernetes, area/cluster-and-infrastructure, skip/e2e

#10933 [docs] Changed info about editions in Getting Started private environment
  docs/site/_includes/getting_started/global/partials/NOTICES.liquid
Labels: area/docs, skip/documentation-validation

#10753 chore: update common module
  modules/000-common/images/check-kernel-version/werf.inc.yaml
  modules/000-common/images/csi-external-attacher/werf.inc.yaml
  modules/000-common/images/csi-external-resizer/werf.inc.yaml
  modules/000-common/images/csi-external-snapshotter/werf.inc.yaml
  modules/000-common/images/csi-livenessprobe/werf.inc.yaml
  modules/000-common/images/csi-node-driver-registrar/werf.inc.yaml
  modules/000-common/images/csi-vsphere-syncer/werf.inc.yaml
  modules/000-common/images/iptables-wrapper/werf.inc.yaml
  modules/000-common/images/kube-rbac-proxy/patches/007-go-mod.patch
  modules/000-common/images/kube-rbac-proxy/werf.inc.yaml
  modules/000-common/images/kubernetes/patches/common/1.27/001-go-mod.patch
  modules/000-common/images/kubernetes/werf.inc.yaml
  modules/000-common/images/nginx-static/werf.inc.yaml
  modules/000-common/images/pause/src/pause.c
  modules/000-common/images/pause/werf.inc.yaml
  modules/000-common/images/python-static/patches/setuptools.patch
  modules/000-common/images/python-static/src/Setup.local
  modules/000-common/images/python-static/werf.inc.yaml
  modules/000-common/images/redis-static/werf.inc.yaml
  modules/000-common/images/shell-operator/werf.inc.yaml
  modules/000-common/images/vxlan-offloading-fixer/werf.inc.yaml
  testing/cloud_layouts/EKS/WithoutNAT/configuration.tpl.yaml
Labels: area/testing

#10925 [admission-policy-engine] add custom ca to verifyImageSignatures
  ee/modules/015-admission-policy-engine/images/ratify/Dockerfile
  ee/modules/015-admission-policy-engine/images/ratify/patches/01-add-custom-ca.patch
  ee/modules/015-admission-policy-engine/images/ratify/patches/README.md
  ee/modules/015-admission-policy-engine/templates/ratify/dockercfg-secret.yaml
  ee/modules/015-admission-policy-engine/templates/ratify/store.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/hooks/handle_security_policies.go
  modules/015-admission-policy-engine/hooks/handle_security_policies_test.go
  modules/015-admission-policy-engine/hooks/internal/apis/v1alpha1.go
  modules/015-admission-policy-engine/template_tests/module_test.go
Labels: area/security, skip/documentation-validation, status/backport, go, area/api-change

#10946 Backport: [admission-policy-engine] add custom ca to verifyImageSignatures
  ee/modules/015-admission-policy-engine/images/ratify/Dockerfile
  ee/modules/015-admission-policy-engine/images/ratify/patches/01-add-custom-ca.patch
  ee/modules/015-admission-policy-engine/images/ratify/patches/README.md
  ee/modules/015-admission-policy-engine/templates/ratify/dockercfg-secret.yaml
  ee/modules/015-admission-policy-engine/templates/ratify/store.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/hooks/handle_security_policies.go
  modules/015-admission-policy-engine/hooks/handle_security_policies_test.go
  modules/015-admission-policy-engine/hooks/internal/apis/v1alpha1.go
  modules/015-admission-policy-engine/template_tests/module_test.go
Labels: auto, backported

#10793 [docs] Add description for multitenancy manager
  modules/160-multitenancy-manager/docs/README.md
  modules/160-multitenancy-manager/docs/README_RU.md
  modules/160-multitenancy-manager/docs/USAGE.md
  modules/160-multitenancy-manager/docs/USAGE_RU.md
Labels: area/docs, skip/copyright-validation

#10948 Backport: [docs] Add description for multitenancy manager
  modules/160-multitenancy-manager/docs/README.md
  modules/160-multitenancy-manager/docs/README_RU.md
  modules/160-multitenancy-manager/docs/USAGE.md
  modules/160-multitenancy-manager/docs/USAGE_RU.md
Labels: auto, backported

#10949 Backport: [docs] Add description for multitenancy manager
  ee/modules/160-multitenancy-manager/docs/README.md
  ee/modules/160-multitenancy-manager/docs/README_RU.md
  ee/modules/160-multitenancy-manager/docs/USAGE.md
  ee/modules/160-multitenancy-manager/docs/USAGE_RU.md
Labels: auto, backported

#10937 [node-local-dns] fix stuck in iptables-loop
  ee/be/modules/350-node-local-dns/images/iptables-loop/iptables-loop.sh
Labels: status/backport

#10953 Backport: [node-local-dns] fix stuck in iptables-loop
  ee/be/modules/350-node-local-dns/images/iptables-loop/iptables-loop.sh
Labels: auto, backported

#10617 [deckhouse-controller] add sdk
  deckhouse-controller/pkg/apis/deckhouse.io/validation/validate_module_config.go
  deckhouse-controller/pkg/controller/deckhouse-release/client_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/updater/metrics.go
  deckhouse-controller/pkg/controller/deckhouse-release/updater/updater.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/metrics.go
  deckhouse-controller/pkg/controller/module-controllers/release/updater.go
  deckhouse-controller/pkg/controller/moduleloader/loader.go
  dhctl/go.mod
  dhctl/go.sum
  dhctl/pkg/kubernetes/actions/converge/node_user.go
  dhctl/pkg/kubernetes/actions/deckhouse/module_config_test.go
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  ee/modules/110-istio/hooks/ee/federation_discovery.go
  ee/modules/110-istio/hooks/ee/multicluster_discovery.go
  global-hooks/cluster_is_bootstrapped.go
  global-hooks/discovery/cluster_uuid.go
  go.mod
  go.sum
  go_lib/certificate/ca.go
  go_lib/certificate/csr.go
  go_lib/certificate/selfsigned.go
  go_lib/hooks/ensure_crds/hook.go
  modules/040-node-manager/hooks/util.go
  modules/340-monitoring-kubernetes/hooks/helm.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/cleaner.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/deleter.go
  pkg/log/fields.go
  pkg/log/logger_test.go
  pkg/log/output.go
  testing/hooks/context.go
  tools/go.mod
  tools/go.sum
Labels: area/monitoring, area/network, area/testing, area/cluster-and-infrastructure, type/dependencies, area/cli, area/core, go, e2e/use/k8s/1.29

#10714 chore: migrate node-local-dns
  .github/dependabot.yml
  ee/be/modules/350-node-local-dns/images/coredns/scripts/liveness.sh
  ee/be/modules/350-node-local-dns/images/coredns/scripts/readiness.sh
  ee/be/modules/350-node-local-dns/images/coredns/scripts/start.sh
  ee/be/modules/350-node-local-dns/images/coredns/werf.inc.yaml
  ee/be/modules/350-node-local-dns/images/iptables-loop/werf.inc.yaml
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/src/go.mod
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/src/go.sum
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/src/main.go
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/src/main_test.go
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/werf.inc.yaml
Labels: type/dependencies, go

#10942 [tests] Fix eks e2e
  testing/cloud_layouts/EKS/WithoutNAT/configuration.tpl.yaml
Labels: area/testing

#10886 Changelog v1.66.2
  CHANGELOG/CHANGELOG-v1.66.2.yml
  CHANGELOG/CHANGELOG-v1.66.md
Labels: changelog, auto, status/backport

#10961 Backport: Changelog v1.66.2
  CHANGELOG/CHANGELOG-v1.66.2.yml
  CHANGELOG/CHANGELOG-v1.66.md
Labels: auto, backported

#10945 [candi] fix disable floppy drive step
  candi/bashible/common-steps/all/011_disable_floppy_drive.sh.tpl
Labels: area/cluster-and-infrastructure

#10888 [cloud-provider-aws] [cloud-provider-gcp] [cloud-provider-yandex] Delete legacy "098_remove_cbr0.sh.tpl" step
  candi/cloud-providers/aws/bashible/common-steps/all/098_remove_cbr0.sh.tpl
  candi/cloud-providers/gcp/bashible/common-steps/all/098_remove_cbr0.sh.tpl
  candi/cloud-providers/yandex/bashible/common-steps/all/098_remove_cbr0.sh.tpl
Labels: area/cloud-provider, area/cluster-and-infrastructure

#10701 [operator-trivy] add an option for disabling sbom generation
  ee/modules/500-operator-trivy/hooks/sbom_reports_cleanup.go
  ee/modules/500-operator-trivy/hooks/sbom_reports_cleanup_test.go
  ee/modules/500-operator-trivy/openapi/config-values.yaml
  ee/modules/500-operator-trivy/openapi/doc-ru-config-values.yaml
  ee/modules/500-operator-trivy/templates/deployment.yaml
Labels: area/security, go, area/api-change

#10917 [docs] Correcting links in DVP
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/INSTALL_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/control-plane-settings/AUDITING_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/control-plane-settings/CONTROL_PLANE_COMPONENTS_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/control-plane-settings/ETCD_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/control-plane-settings/PLACEMENT_MANAGEMENT_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/control-plane-settings/SCHEDULER_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/node-management/ADDING_NODE_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/node-management/CONFIGURATION_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/node-management/NODE_GROUP_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/node-management/OS_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/LVM_REPLICATED_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/virtualization/CLUSTER_IMAGES.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/virtualization/RELIABILITY.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/virtualization/RELIABILITY_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/virtualization/VIRTUAL_MACHINE_CLASSES.md
Labels: area/docs, skip/documentation-validation

#10820 [deckhouse] improve module loader
  deckhouse-controller/cmd/deckhouse-controller/start.go
  deckhouse-controller/crds/module.yaml
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_pull_override.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_release.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/zz_generated.deepcopy.go
  deckhouse-controller/pkg/apis/deckhouse.io/validation/register.go
  deckhouse-controller/pkg/controller/confighandler/handler.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/updater/updater.go
  deckhouse-controller/pkg/controller/module-controllers/config/controller.go
  deckhouse-controller/pkg/controller/module-controllers/config/status.go
  deckhouse-controller/pkg/controller/module-controllers/config/sync.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/downloader.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/downloader_test.go
  deckhouse-controller/pkg/controller/module-controllers/override/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/metrics.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/validation/module-failed/openapi/config-values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/validation/module-not-valid/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/validation/module-values-failed/openapi/config-values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/validation/module-values-failed/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/validation/module/openapi/config-values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/validation/module/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/validation/virtualization/openapi/config-values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/validation/virtualization/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/updater.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/helpers.go
  deckhouse-controller/pkg/controller/module-controllers/utils/utils.go
  deckhouse-controller/pkg/controller/moduleloader/definition.go
  deckhouse-controller/pkg/controller/moduleloader/loader.go
  deckhouse-controller/pkg/controller/moduleloader/sync.go
  deckhouse-controller/pkg/controller/moduleloader/sync_test.go
  deckhouse-controller/pkg/controller/moduleloader/testdata/override/deleted.yaml
  deckhouse-controller/pkg/controller/moduleloader/testdata/override/no-deckhouse-node-name-annotation.yaml
  deckhouse-controller/pkg/controller/moduleloader/testdata/override/old-deckhouse-node-name-annotation.yaml
  deckhouse-controller/pkg/controller/moduleloader/testdata/override/up-to-date-no-weight.yaml
  deckhouse-controller/pkg/controller/moduleloader/testdata/override/up-to-date.yaml
  deckhouse-controller/pkg/controller/moduleloader/types/definition.go
  deckhouse-controller/pkg/controller/moduleloader/types/module.go
  deckhouse-controller/pkg/helpers/reginjector/injector.go
  deckhouse-controller/pkg/helpers/reginjector/injector_test.go
  go_lib/deckhouse-config/const.go
Labels: area/core, skip/documentation-validation, go, area/api-change, e2e/use/k8s/1.29

#10922 [docs] Translate DVP go-to-production article to English
  docs/site/pages/virtualization-platform/guides/GOING_TO_PRODUCTION.md
  docs/site/pages/virtualization-platform/guides/GOING_TO_PRODUCTION_RU.md
Labels: area/docs

#10970 [deckhouse] fix phases
  deckhouse-controller/crds/module.yaml
Labels: area/core, area/api-change

#10969 [docs] Added information about dhctl converge
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  ee/candi/cloud-providers/dynamix/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/dynamix/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-cluster_configuration.yaml
  ee/se-plus/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/se-plus/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
  ee/se-plus/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/se-plus/candi/cloud-providers/zvirt/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, skip/documentation-validation, area/api-change

#10093 [user-authn] Change dex background image
  modules/150-user-authn/images/dex/web/static/img/background.jpg
Labels: area/auth, skip/e2e

#10972 Backport: [docs] Added information about dhctl converge
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  ee/candi/cloud-providers/dynamix/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/dynamix/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#10974 Backport: [admission-policy-engine] Fix image references values
  modules/015-admission-policy-engine/hooks/handle_security_policies.go
Labels: auto, backported

#10897 [docs] Fix priority-class in docs
  modules/001-priority-class/docs/README.md
  modules/001-priority-class/docs/README_RU.md
Labels: area/docs

#10975 Backport: [docs] Fix priority-class in docs
  modules/001-priority-class/docs/README.md
  modules/001-priority-class/docs/README_RU.md
Labels: auto, backported

#10977 [docs] Removed optional steps in "Tips for configuring Nexus" in Deckhouse FAQ.
  docs/documentation/images/registry/nexus/nexus-realm.png
  docs/documentation/images/registry/nexus/nexus-repo-example-1.png
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#10978 Backport: [docs] Removed optional steps in "Tips for configuring Nexus" in Deckhouse FAQ.
  docs/documentation/images/registry/nexus/nexus-realm.png
  docs/documentation/images/registry/nexus/nexus-repo-example-1.png
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#10979 Backport: [docs] Removed optional steps in "Tips for configuring Nexus" in Deckhouse FAQ.
  docs/documentation/images/registry/nexus/nexus-realm.png
  docs/documentation/images/registry/nexus/nexus-repo-example-1.png
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#10898 [docs] Update DVP documentation
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/network/INGRESS.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/network/INGRESS_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/network/NTP.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/network/NTP_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/network/ROUTING.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/network/ROUTING_RU.md
Labels: area/docs, skip/documentation-validation

#10982 [docs] Small docs fixes
  modules/140-user-authz/docs/README.md
  modules/140-user-authz/docs/README_RU.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
Labels: area/auth, area/docs, status/backport, area/logs

#10984 Backport: [docs] Small docs fixes
  modules/140-user-authz/docs/README.md
  modules/140-user-authz/docs/README_RU.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
Labels: auto, backported

#10985 Backport: [docs] Small docs fixes
  modules/140-user-authz/docs/README.md
  modules/140-user-authz/docs/README_RU.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
Labels: auto, backported

#10986 [testing] Disable ModuleConfigObsoleteVersion warning on e2e tests
  testing/cloud_layouts/script.d/wait_cluster_ready/test_alerts.sh
Labels: area/testing

#10882 [dhctl] Forbid to use `logLevel` `bundle` and `releaseChannel` from deckhouse init configuration
  candi/openapi/init_configuration.yaml
  dhctl/pkg/config/deckhouse_config.go
  dhctl/pkg/config/deckhouse_config_test.go
  dhctl/pkg/config/types.go
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/INSTALL.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/INSTALL_RU.md
  testing/cloud_layouts/EKS/WithoutNAT/configuration.tpl.yaml
Labels: area/testing, area/docs, area/cluster-and-infrastructure, area/cli, status/doc-review, go, area/api-change

#9371 [network][service-with-healthchecks] New internal LB with per-port healthchecks
  .github/dependabot.yml
  docs/documentation/_data/sidebars/main.yml
  docs/site/_config.yml
  ee/modules/610-service-with-healthchecks/.helmignore
  ee/modules/610-service-with-healthchecks/.namespace
  ee/modules/610-service-with-healthchecks/Chart.yaml
  ee/modules/610-service-with-healthchecks/charts/helm_lib
  ee/modules/610-service-with-healthchecks/crds/doc-ru-servicewithhealthchecks.yaml
  ee/modules/610-service-with-healthchecks/crds/servicewithhealthchecks.yaml
  ee/modules/610-service-with-healthchecks/docs/CONFIGURATION.md
  ee/modules/610-service-with-healthchecks/docs/CONFIGURATION_RU.md
  ee/modules/610-service-with-healthchecks/docs/CR.md
  ee/modules/610-service-with-healthchecks/docs/CR_RU.md
  ee/modules/610-service-with-healthchecks/docs/EXAMPLES.md
  ee/modules/610-service-with-healthchecks/docs/EXAMPLES_RU.md
  ee/modules/610-service-with-healthchecks/docs/README.md
  ee/modules/610-service-with-healthchecks/docs/README_RU.md
  ee/modules/610-service-with-healthchecks/hooks/common_test.go
  ee/modules/610-service-with-healthchecks/images/agent/werf.inc.yaml
  ee/modules/610-service-with-healthchecks/images/artifact/api/v1alpha1/groupversion_info.go
  ee/modules/610-service-with-healthchecks/images/artifact/api/v1alpha1/servicewithhealthchecks_types.go
  ee/modules/610-service-with-healthchecks/images/artifact/api/v1alpha1/zz_generated.deepcopy.go
  ee/modules/610-service-with-healthchecks/images/artifact/cmd/agent/main.go
  ee/modules/610-service-with-healthchecks/images/artifact/cmd/controller/main.go
  ee/modules/610-service-with-healthchecks/images/artifact/go.mod
  ee/modules/610-service-with-healthchecks/images/artifact/go.sum
  ee/modules/610-service-with-healthchecks/images/artifact/internal/agent/agent.go
  ee/modules/610-service-with-healthchecks/images/artifact/internal/agent/agent_test.go
  ee/modules/610-service-with-healthchecks/images/artifact/internal/agent/fasthttp.go
  ee/modules/610-service-with-healthchecks/images/artifact/internal/agent/http.go
  ee/modules/610-service-with-healthchecks/images/artifact/internal/agent/postgresql.go
  ee/modules/610-service-with-healthchecks/images/artifact/internal/agent/suite_test.go
  ee/modules/610-service-with-healthchecks/images/artifact/internal/agent/tcp.go
  ee/modules/610-service-with-healthchecks/images/artifact/internal/agent/types.go
  ee/modules/610-service-with-healthchecks/images/artifact/internal/controller/controller.go
  ee/modules/610-service-with-healthchecks/images/artifact/internal/controller/controller_test.go
  ee/modules/610-service-with-healthchecks/images/artifact/internal/controller/suite_test.go
  ee/modules/610-service-with-healthchecks/images/artifact/internal/kubernetes/helper.go
  ee/modules/610-service-with-healthchecks/images/artifact/werf.inc.yaml
  ee/modules/610-service-with-healthchecks/images/controller/werf.inc.yaml
  ee/modules/610-service-with-healthchecks/module.yaml
  ee/modules/610-service-with-healthchecks/openapi/config-values.yaml
  ee/modules/610-service-with-healthchecks/openapi/doc-ru-config-values.yaml
  ee/modules/610-service-with-healthchecks/openapi/openapi-case-tests.yaml
  ee/modules/610-service-with-healthchecks/openapi/values.yaml
  ee/modules/610-service-with-healthchecks/template_tests/module_test.go
  ee/modules/610-service-with-healthchecks/templates/agent/daemonset.yaml
  ee/modules/610-service-with-healthchecks/templates/agent/rbac-for-us.yaml
  ee/modules/610-service-with-healthchecks/templates/controller/deployment.yaml
  ee/modules/610-service-with-healthchecks/templates/controller/rbac-for-us.yaml
  ee/modules/610-service-with-healthchecks/templates/namespace.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  testing/library/images_tags_generated.go
  testing/matrix/linter/rules/modules/oss.go
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: area/testing, area/docs, area/cluster-and-infrastructure, type/dependencies, skip/documentation-validation, go, area/api-change

#10931 [candi][azure] Azure vNet DNS config fix
  candi/cloud-providers/azure/terraform-modules/base-infrastructure/variables.tf
  testing/cloud_layouts/Azure/Standard/configuration.tpl.yaml
Labels: area/cloud-provider, area/testing, area/cluster-and-infrastructure, status/backport

#10916 [docs] Added list of preflight skips flags
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
Labels: area/docs, skip/documentation-validation

#10995 Backport: [docs] Added list of preflight skips flags
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
Labels: auto, backported

#10996 Backport: [docs] Added list of preflight skips flags
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
Labels: auto, backported

#10845 Clarify error message on bootstrap token expiration
  modules/040-node-manager/templates/node-group/_bootstrap.tpl
Labels: area/cluster-and-infrastructure

#10998 [testing] Fix spellcheck linter command to use local cache
  Makefile
  tools/spelling/dictionaries/dev_OPS.dic
  tools/spelling/wordlist
Labels: area/testing

#10993 [docs] Translate DVP admin guide overview and update channels article
  docs/site/pages/virtualization-platform/README.md
  docs/site/pages/virtualization-platform/README_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/OVERVIEW.md
  docs/site/pages/virtualization-platform/documentation/admin/OVERVIEW_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/UPDATE_CHANNELS.md
  docs/site/pages/virtualization-platform/documentation/admin/UPDATE_CHANNELS_RU.md
Labels: area/docs, skip/documentation-validation

#11002 [docs] Update getting started for Deckhouse Virtualization Platform
  docs/site/_includes/getting_started/dvp/bm/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/dvp/bm/STEP_INSTALL_SCHEMA_RU.md
  docs/site/_includes/getting_started/dvp/bm/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/dvp/bm/partials/config.ru.yml.ee.inc
  docs/site/_includes/getting_started/dvp/bm/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/dvp/bm/partials/config.yml.ee.inc
  docs/site/_includes/getting_started/dvp/bm/partials/project-rbac.yml.inc
  docs/site/_includes/getting_started/dvp/global/STEP_FINISH.md
  docs/site/_includes/getting_started/dvp/global/STEP_INGRESS.md
  docs/site/_includes/getting_started/dvp/global/STEP_INGRESS_RU.md
  docs/site/_includes/getting_started/dvp/global/STEP_NODES.md
  docs/site/_includes/getting_started/dvp/global/STEP_NODES_RU.md
  docs/site/_includes/getting_started/dvp/global/STEP_PROJECT.md
  docs/site/_includes/getting_started/dvp/global/STEP_PROJECT_RU.md
  docs/site/_includes/getting_started/dvp/global/STEP_STORAGE.md
  docs/site/_includes/getting_started/dvp/global/STEP_STORAGE_RU.md
  docs/site/_includes/getting_started/dvp/global/STEP_USER.md
  docs/site/_includes/getting_started/dvp/global/STEP_VIRTUALIZATION.md
  docs/site/_includes/getting_started/dvp/global/partials/INSTALL_CONFIG.liquid
  docs/site/_includes/getting_started/dvp/global/partials/INSTALL_CONFIG_RU.liquid
Labels: area/docs

#10999 [deckhouse] set module version
  deckhouse-controller/pkg/controller/moduleloader/sync.go
Labels: area/core, go

#10994 [dhctl] fix cluster configuration secret name label
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  global-hooks/migrate/migrate_cluster_configuration_label.go
  global-hooks/migrate/migrate_cluster_configuration_label_test.go
Labels: area/cli, area/core, status/backport, e2e/cluster/failed, go

#11010 Backport: [dhctl] fix cluster configuration secret name label
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  global-hooks/migrate/migrate_cluster_configuration_label.go
  global-hooks/migrate/migrate_cluster_configuration_label_test.go
Labels: auto, backported

#10870 [operator-trivy][docs] Add info about scanning namespace `default` by default
  ee/modules/500-operator-trivy/docs/README.md
  ee/modules/500-operator-trivy/docs/README_RU.md
Labels: area/security, area/docs, skip/documentation-validation

#10910 [docs] Update Deckhouse Virtualization Platform documentation
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/access-control/USER_MANAGEMENT.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/access-control/USER_MANAGEMENT_RU.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/DISKS.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/DISKS_RU.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/IMAGES.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/IMAGES_RU.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/SNAPSHOTS.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/SNAPSHOTS_RU.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/VM.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/VM_RU.md
Labels: area/docs, skip/documentation-validation

#11004 [docs] Update DVP user overview documentation
  docs/site/pages/virtualization-platform/documentation/user/OVERVIEW.md
  docs/site/pages/virtualization-platform/documentation/user/OVERVIEW_RU.md
  docs/site/pages/virtualization-platform/documentation/user/PROJECT.ACCESS.md
  docs/site/pages/virtualization-platform/documentation/user/PROJECT.ACCESS_RU.md
Labels: area/docs, skip/documentation-validation

#11009 Revert "chore: migrate node-local-dns (#10714)"
  .github/dependabot.yml
  ee/be/modules/350-node-local-dns/images/coredns/liveness.sh
  ee/be/modules/350-node-local-dns/images/coredns/readiness.sh
  ee/be/modules/350-node-local-dns/images/coredns/start.sh
  ee/be/modules/350-node-local-dns/images/coredns/werf.inc.yaml
  ee/be/modules/350-node-local-dns/images/iptables-loop/werf.inc.yaml
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/go.mod
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/go.sum
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/main.go
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/main_test.go
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/werf.inc.yaml
Labels: type/dependencies, go

#11016 [docs] Translated of user network documentation for Deckhouse Virtualization Platform
  docs/site/pages/virtualization-platform/documentation/user/network/NETWORK.POLICIES.md
  docs/site/pages/virtualization-platform/documentation/user/network/NETWORK.POLICIES_RU.md
  docs/site/pages/virtualization-platform/documentation/user/network/VM.PUBLISHING.md
  docs/site/pages/virtualization-platform/documentation/user/network/VM.PUBLISHING_RU.md
Labels: area/docs, skip/documentation-validation

#10967 [dhctl] yet another fix bootstrap on systems with umask 027
  dhctl/pkg/operations/bootstrap/steps.go
Labels: area/cli, go

#11027 [docs] Add information from Astra Linux to the table of supported OS versions.
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_data/version_map_addition.yml
Labels: area/docs, status/backport

#11026 [deckhouse] support global conversions
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/module-controllers/config/status.go
  deckhouse-controller/pkg/controller/moduleloader/loader.go
Labels: area/core, go

#11022 [dashboard] fix: remove duplicated roleRef in dashboard templates
  modules/500-dashboard/templates/metrics-scraper/rbac-for-us.yaml
Labels: area/ui

#10950 [helm_lib] Update to v1.37.1
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/templates/_csi_controller.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_csi_node.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_node_affinity.tpl
Labels: area/core

#10681 [rbacv2] replace use admin with use user for manage manager role
  modules/140-user-authz/hooks/handle_manage_bindings.go
  modules/140-user-authz/hooks/handle_manage_bindings_test.go
  modules/140-user-authz/templates/rbacv2/global/manage/roles/all/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/deckhouse/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/infrastructure/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/kubernetes/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/networking/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/observability/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/security/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/storage/manager.yaml
Labels: area/auth, go

#10768 [operator-trivy] Add option for configure custom CAs for docker registries
  ee/modules/500-operator-trivy/openapi/config-values.yaml
  ee/modules/500-operator-trivy/openapi/doc-ru-config-values.yaml
  ee/modules/500-operator-trivy/templates/configmap.yaml
  ee/modules/500-operator-trivy/templates/deployment.yaml
Labels: area/security, area/api-change

#11015 [multitenancy-manager] add upmeter to the list of excluded service accounts which can create namespaces
  modules/160-multitenancy-manager/images/multitenancy-manager/cmd/main.go
  modules/160-multitenancy-manager/images/multitenancy-manager/pkg/webhook/namespace/main.go
  modules/160-multitenancy-manager/templates/validation.yaml
Labels: go

#10479 [deckhouse-controller] Change controller logger
  go_lib/dependency/extenders/kubernetesversion/watcher.go
  testing/controller/testclient/validator.go
Labels: area/testing, area/core, go

#10550 [deckhouse-controller] Improved CRDs Installer
  deckhouse-controller/pkg/apis/ensure_crds.go
  go_lib/hooks/ensure_crds/hook_test.go
Labels: area/core, go, e2e/use/k8s/1.31

#11025 [docs][getting-started] Revert step 5 of GS for 1.66 release
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
Labels: area/docs

#11036 [docs][dvp] update storage documentation links
  docs/site/_data/sidebars/virtualization-platform.yml
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/external/CEPH.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/external/CEPH_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/external/NFS.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/external/NFS_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/external/YADRO.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/external/YADRO_RU.md
Labels: area/docs

#11035 [docs] Fix sidebar generation logic
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/_includes/sidebar_entry.html
  docs/site/_includes/sidebar_entry.html
Labels: area/docs

#11034 [docs] New network ports for VXLAN
  docs/documentation/_data/deckhouse-ports.yml
Labels: area/docs

#10990 [testing] Update module schema version for e2e tests
  testing/cloud_layouts/AWS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/Azure/Standard/configuration.tpl.yaml
  testing/cloud_layouts/EKS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/Static/configuration.tpl.yaml
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/script.d/wait_cluster_ready/test_alerts.sh
Labels: area/testing

#10954 Add kube-scheduler profiles
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
  modules/040-control-plane-manager/templates/_scheduler_config.tpl
  modules/400-descheduler/docs/README.md
  modules/400-descheduler/docs/README_RU.md
Labels: area/docs, area/cluster-and-infrastructure, skip/documentation-validation, area/scaling

#10983 [dhctl] Add quotes to highlight the error in the component when loading
  dhctl/pkg/operations/bootstrap/steps.go
Labels: area/cli, go

#11044 [deckhouse] fix global validation
  go_lib/configtools/validator.go
Labels: area/core, go

#10957 [global-hooks] Fix `global.storageClass` => `global.modules.storageClass` conversion
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/conversions/conversions_test.go
  global-hooks/openapi/conversions/v2.yaml
  global-hooks/openapi/doc-ru-config-values.yaml
  global-hooks/openapi/openapi-case-tests.yaml
  modules/002-deckhouse/template_tests/module_test.go
  modules/140-user-authz/template_tests/values.yaml
Labels: area/auth, area/core, e2e/cluster/failed, go, area/api-change

#11042 [candi] extend func bashbooster for ce
  candi/bashible/bashbooster/50_apt_rpm.sh
  tools/build_includes/candi-BE.yaml
  tools/build_includes/candi-EE.yaml
  tools/build_includes/candi-FE.yaml
  tools/build_includes/candi-SE-plus.yaml
  tools/build_includes/candi-SE.yaml
Labels: area/testing, area/cluster-and-infrastructure

#10918 [user-authn] Extend list annotations blacklist for transfer to dexclient secret
  modules/150-user-authn/hooks/get_dex_client_crds.go
  modules/150-user-authn/hooks/get_dex_client_crds_test.go
Labels: area/auth, go

#11047 Backport: [user-authn] Extend list annotations blacklist for transfer to dexclient secret
  modules/150-user-authn/hooks/get_dex_client_crds.go
  modules/150-user-authn/hooks/get_dex_client_crds_test.go
Labels: auto, backported

#11048 [docs][dvp] Fix sidebar
  docs/site/_data/sidebars/virtualization-platform.yml
Labels: area/docs

#10311 [dhctl] [cloud-provider-openstack] Add Openstack API availability check inside the cluster during deployment
  dhctl/pkg/app/preflight.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/bootstrap/state.go
  dhctl/pkg/preflight/check-cloud-api/providers.go
  dhctl/pkg/preflight/check-cloud-api/types.go
  dhctl/pkg/preflight/check-cloud-api/utils.go
  dhctl/pkg/preflight/check_cloud_api.go
  dhctl/pkg/preflight/check_cloud_api_test.go
  dhctl/pkg/preflight/common.go
  dhctl/pkg/preflight/preflight.go
  dhctl/pkg/preflight/registry.go
  dhctl/pkg/preflight/registry_test.go
  dhctl/pkg/preflight/ssh.go
Labels: area/cli, go

#11039 [dhctl](converge) Fix the `master_ip_address_for_ssh` terraform output variable handling
  dhctl/pkg/kubernetes/actions/converge/master_node_group_controller.go
Labels: area/cli, go

#11030 Feat/bump addon and shell operators
  deckhouse-controller/cmd/deckhouse-controller/start.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/moduleloader/types/definition.go
  deckhouse-controller/pkg/controller/moduleloader/types/module.go
  global-hooks/discovery/modules_images_tags.go
  go.mod
  go.sum
  go_lib/hooks/tls_certificate/internal_tls_test.go
  go_lib/module/module.go
  go_lib/regexpset/regexpset.go
  go_lib/set/set.go
  go_lib/updater/updater.go
  modules/040-node-manager/hooks/machineclass_checksum_assign.go
  modules/040-node-manager/hooks/machineclass_checksum_collect.go
  modules/500-upmeter/hooks/clean_probe_garbage.go
  modules/500-upmeter/hooks/smokemini/reschedule.go
Labels: area/monitoring, area/cluster-and-infrastructure, type/dependencies, area/core, go

#10951 [deckhouse-controller] Add message, alert about notification webhook sending errors
  docs/documentation/_data/deckhouse-alerts.yml
  go_lib/updater/metrics.go
  go_lib/updater/updater.go
  modules/002-deckhouse/openapi/config-values.yaml
  modules/002-deckhouse/openapi/doc-ru-config-values.yaml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/alerting.yaml
Labels: area/monitoring, area/docs, area/core, go, area/api-change

#10318 [admission-policy-engine] update docs, fix grafana dashboard
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/monitoring/grafana-dashboards/security/admission-policy-engine.json
Labels: area/security, area/api-change

#11051 [metallb] Fix the requirements test for the module
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  ee/se/modules/380-metallb/requirements/check.go
Labels: area/core, skip/e2e, go

#10936 [rbacv2] separate dkp and dvp roles
  docs/documentation/_data/rbac.yaml
  ee/modules/500-operator-trivy/templates/rbacv2/use/edit.yaml
  ee/modules/500-operator-trivy/templates/rbacv2/use/view.yaml
  modules/101-cert-manager/templates/rbacv2/use/edit.yaml
  modules/101-cert-manager/templates/rbacv2/use/view.yaml
  modules/140-user-authz/docs/FAQ.md
  modules/140-user-authz/docs/FAQ_RU.md
  modules/140-user-authz/templates/rbacv2/global/manage/permissions/manage_common_resources.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/permissions/view_common_resources.yaml
  modules/140-user-authz/templates/rbacv2/global/use/capabilities/access_terminal.yaml
  modules/140-user-authz/templates/rbacv2/global/use/capabilities/delete_pods.yaml
  modules/140-user-authz/templates/rbacv2/global/use/capabilities/forward_port.yaml
  modules/140-user-authz/templates/rbacv2/global/use/capabilities/manage_leases.yaml
  modules/140-user-authz/templates/rbacv2/global/use/capabilities/manage_limits.yaml
  modules/140-user-authz/templates/rbacv2/global/use/capabilities/manage_quotas.yaml
  modules/140-user-authz/templates/rbacv2/global/use/capabilities/manage_resources.yaml
  modules/140-user-authz/templates/rbacv2/global/use/capabilities/manage_security.yaml
  modules/140-user-authz/templates/rbacv2/global/use/capabilities/proxy_resources.yaml
  modules/140-user-authz/templates/rbacv2/global/use/capabilities/scale_controllers.yaml
  modules/140-user-authz/templates/rbacv2/global/use/capabilities/view_logs.yaml
  modules/140-user-authz/templates/rbacv2/global/use/capabilities/view_metrics.yaml
  modules/140-user-authz/templates/rbacv2/global/use/capabilities/view_resources.yaml
  modules/140-user-authz/templates/rbacv2/global/use/capabilities/view_secrets.yaml
  modules/140-user-authz/templates/rbacv2/global/use/capabilities/whoami.yaml
  modules/140-user-authz/templates/rbacv2/global/use/roles/all/admin.yaml
  modules/140-user-authz/templates/rbacv2/global/use/roles/all/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/use/roles/all/user.yaml
  modules/140-user-authz/templates/rbacv2/global/use/roles/all/viewer.yaml
  modules/140-user-authz/templates/rbacv2/global/use/roles/kubernetes/admin.yaml
  modules/140-user-authz/templates/rbacv2/global/use/roles/kubernetes/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/use/roles/kubernetes/user.yaml
  modules/140-user-authz/templates/rbacv2/global/use/roles/kubernetes/viewer.yaml
  modules/150-user-authn/rbac.yaml
  modules/150-user-authn/templates/rbacv2/use/edit.yaml
  modules/150-user-authn/templates/rbacv2/use/view.yaml
  modules/301-prometheus-metrics-adapter/templates/rbacv2/use/edit.yaml
  modules/301-prometheus-metrics-adapter/templates/rbacv2/use/view.yaml
  modules/460-log-shipper/templates/rbacv2/use/edit.yaml
  modules/460-log-shipper/templates/rbacv2/use/view.yaml
Labels: area/monitoring, area/auth, area/security, area/docs, area/logs

#11052 Update d8 cli to 0.8.0
  candi/version_map.yml
Labels: area/kubernetes, area/cluster-and-infrastructure

#11058 [deckhouse] return unknown module message
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_config.go
  deckhouse-controller/pkg/controller/module-controllers/config/controller.go
  deckhouse-controller/pkg/controller/module-controllers/config/sync.go
Labels: area/core, go

#11061 [user-authz] fix hook
  modules/140-user-authz/hooks/handle_manage_bindings.go
Labels: area/auth, go

#11060 [deckhouse] fire alert at deprecated mup
  docs/documentation/_data/deckhouse-alerts.yml
  global-hooks/migrate/migrate_update_policy.go
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/alerting.yaml
Labels: area/monitoring, area/docs, area/core, go

#10114 [dhctl] Delete support cri type docker
  candi/bashible/common-steps/all/064_configure_kubelet.sh.tpl
  candi/bashible/common-steps/all/083_disable_rsyslog_for_kubelet.sh.tpl
  candi/bashible/openapi.yaml
  candi/control-plane-kubeadm/openapi.yaml
  candi/openapi/cluster_configuration.yaml
  modules/040-node-manager/hooks/check_nodes_cri_test.go
  modules/040-node-manager/hooks/get_crds_test.go
Labels: area/cluster-and-infrastructure, skip/documentation-validation, go, area/api-change

#11068 [docs] Fix sidebar
  docs/documentation/_data/sidebars/main.yml
Labels: area/docs, status/backport

#11069 Backport: [docs] Fix sidebar
  docs/documentation/_data/sidebars/main.yml
Labels: auto, backported

#11071 [deckhouse] fix embedded source for downloaded modules
  deckhouse-controller/pkg/controller/moduleloader/loader.go
Labels: area/core, go

#11072 Backport: [deckhouse] fix embedded source for downloaded modules
  deckhouse-controller/pkg/controller/moduleloader/loader.go
Labels: auto, backported

#11064 [docs] Add information about SIEM on the security page
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP.md
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP_RU.md
Labels: area/docs

#11075 Backport: [docs] Add information about SIEM on the security page
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP.md
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP_RU.md
Labels: auto, backported

#11076 Backport: [docs] Add information about SIEM on the security page
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP.md
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP_RU.md
Labels: auto, backported

#11078 [docs] Update DVP documentation
  docs/site/_data/sidebars/virtualization-platform.yml
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/external/YADRO.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/external/YADRO_RU.md
Labels: area/docs, skip/documentation-validation

#11087 [dashboard][docs] update dashboard module documentation
  modules/500-dashboard/docs/README.md
  modules/500-dashboard/docs/README_RU.md
Labels: area/docs, status/backport, area/ui

#11088 Backport: [dashboard][docs] update dashboard module documentation
  modules/500-dashboard/docs/README.md
  modules/500-dashboard/docs/README_RU.md
Labels: auto, backported

#11089 [docs][rbac] fix RBAC table
  docs/documentation/_data/rbac/rbac.yaml
  docs/documentation/_includes/rbac/rbac-subsystems-list.liquid
  docs/site/_data/rbac.yaml
  docs/site/_includes/rbac-scopes-list.liquid
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/access-control/ROLE_MODEL.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/access-control/ROLE_MODEL_RU.md
  docs/site/werf.yaml
  modules/140-user-authz/docs/README.md
  modules/140-user-authz/docs/README_RU.md
Labels: area/auth, area/docs, status/backport

#11090 Backport: [docs][rbac] fix RBAC table
  docs/documentation/_data/rbac/rbac.yaml
  docs/documentation/_includes/rbac/rbac-subsystems-list.liquid
  docs/site/_data/rbac.yaml
  docs/site/_includes/rbac-scopes-list.liquid
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/access-control/ROLE_MODEL.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/access-control/ROLE_MODEL_RU.md
  docs/site/werf.yaml
  modules/140-user-authz/docs/README.md
  modules/140-user-authz/docs/README_RU.md
Labels: auto, backported

#11070 [docs] Update DVP documentation
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/ACCESS.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/ACCESS_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/INSTALL.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/INSTALL_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/access-control/PROJECTS.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/access-control/USER_MANAGEMENT.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/access-control/USER_MANAGEMENT_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/monitoring/NODE.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/monitoring/NODE_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/network/DNS.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/network/DNS_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/network/EGRESS.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/network/EGRESS_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/network/NTP.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/network/VM_NETWORK.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/SUPPORTED_STORAGE.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/SUPPORTED_STORAGE_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/external/CEPH.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/external/CEPH_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/external/NFS.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/external/NFS_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/LVM_LOCAL.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/LVM_LOCAL_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/LVM_REPLICATED.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/LVM_REPLICATED_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/virtualization/CLUSTER_IMAGES.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/virtualization/CLUSTER_IMAGES_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/virtualization/RELIABILITY.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/virtualization/RELIABILITY_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/virtualization/VIRTUAL_MACHINE_CLASSES.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/virtualization/VIRTUAL_MACHINE_CLASSES_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/removing/REMOVING.md
  docs/site/pages/virtualization-platform/documentation/user/OVERVIEW.md
  docs/site/pages/virtualization-platform/documentation/user/OVERVIEW_RU.md
  docs/site/pages/virtualization-platform/documentation/user/PROJECT.ACCESS.md
  docs/site/pages/virtualization-platform/documentation/user/PROJECT.ACCESS_RU.md
  docs/site/pages/virtualization-platform/documentation/user/network/NETWORK.POLICIES.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/IMAGES.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/IMAGES_RU.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/VM.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/VM_RU.md
Labels: area/docs, skip/documentation-validation

#11098 Backport: [testing] Disable ModuleConfigObsoleteVersion warning on e2e tests
  testing/cloud_layouts/script.d/wait_cluster_ready/test_alerts.sh
Labels: auto, backported

#11097 [ci] Fix 'trdl' startup in older versions of 'make'
  Makefile
Labels: skip/e2e

#11099 Backport: [istio] Federation and Multicluster custom SSL certificates or skip SSL validation
  ee/modules/110-istio/crds/doc-ru-istiofederation.yaml
  ee/modules/110-istio/crds/doc-ru-istiomulticluster.yaml
  ee/modules/110-istio/crds/istiofederation.yaml
  ee/modules/110-istio/crds/istiomulticluster.yaml
  ee/modules/110-istio/hooks/ee/alliance_metadata_merge.go
  ee/modules/110-istio/hooks/ee/alliance_metadata_merge_test.go
  ee/modules/110-istio/hooks/ee/federation_discovery.go
  ee/modules/110-istio/hooks/ee/lib/crd/istiofederation.go
  ee/modules/110-istio/hooks/ee/lib/crd/istiomulticluster.go
  ee/modules/110-istio/hooks/ee/multicluster_discovery.go
  ee/modules/110-istio/hooks/ee/multicluster_monitoring_api_hosts.go
  ee/modules/110-istio/templates/multicluster/_kubeconfig.tpl
  go_lib/dependency/dependency.go
  modules/110-istio/openapi/values.yaml
  modules/110-istio/template_tests/module_test.go
Labels: auto, backported

#11084 [ingress-nginx] Disable VPA for Istio sidecar
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: area/network, e2e/use/k8s/1.28

#10940 [kube-dns] Delete resolv-watcher image
  .github/dependabot.yml
  modules/042-kube-dns/images/resolv-watcher/Dockerfile
  modules/042-kube-dns/images/resolv-watcher/go.mod
  modules/042-kube-dns/images/resolv-watcher/go.sum
  modules/042-kube-dns/images/resolv-watcher/main.go
  testing/library/images_tags_generated.go
Labels: area/testing, area/cluster-and-infrastructure, type/dependencies, skip/e2e, go

#11114 Backport: Add an option to delete e2e cluster regardless of the test result
  .github/ci_templates/e2e_tests.yml
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vcd.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: auto, backported

#11081 [docs] Text revisions configuring network policies
  docs/documentation/_data/deckhouse-ports.yml
Labels: area/docs, skip/documentation-validation

#11118 Backport: [docs] Text revisions configuring network policies
  docs/documentation/_data/deckhouse-ports.yml
Labels: auto, backported

#11119 Backport: [docs] Text revisions configuring network policies
  docs/documentation/_data/deckhouse-ports.yml
Labels: auto, backported

#11120 [docs] Fix sidebar for service-with-healthchecks module
  docs/documentation/_data/sidebars/main.yml
Labels: area/docs, status/backport

#11121 Backport: [docs] Fix sidebar for service-with-healthchecks module
  docs/documentation/_data/sidebars/main.yml
Labels: auto, backported

#10905 Add bashible step to update node labels from local directory
  candi/bashible/common-steps/all/098_update_node_labels.sh.tpl
Labels: area/cluster-and-infrastructure, skip/documentation-validation

#10909 [candi] replace logrus core modules
  dhctl/go.mod
  dhctl/pkg/app/app.go
  dhctl/pkg/kubernetes/actions/deckhouse/delete_test.go
  dhctl/pkg/kubernetes/actions/deckhouse/install_test.go
  dhctl/pkg/kubernetes/actions/deckhouse/module_config_test.go
  dhctl/pkg/kubernetes/client/lease-lock.go
  dhctl/pkg/kubernetes/client/state_cache_test.go
  dhctl/pkg/log/logger.go
  dhctl/pkg/operations/bootstrap/steps.go
  dhctl/pkg/operations/bootstrap/steps_test.go
  dhctl/pkg/operations/exporter_test.go
  dhctl/pkg/operations/secretedit_test.go
  dhctl/pkg/system/node/ssh/frontend/agent.go
  dhctl/pkg/util/cache/cache_test.go
  dhctl/pkg/util/retry/retry.go
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/go.mod
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/go.sum
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/main.go
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/werf.inc.yaml
  go_lib/registry-packages-proxy/log/logger.go
  go_lib/registry-packages-proxy/proxy/proxy.go
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/cmd/registry-packages-proxy/main.go
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/go.mod
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/go.sum
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/internal/app/cache.go
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/internal/app/flags.go
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/internal/app/logger.go
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/internal/cache/cache.go
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/internal/credentials/watcher.go
  modules/039-registry-packages-proxy/images/registry-packages-proxy/werf.inc.yaml
  modules/040-control-plane-manager/images/control-plane-manager/controller/config.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/controller.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/converge.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/go.mod
  modules/040-control-plane-manager/images/control-plane-manager/controller/go.sum
  modules/040-control-plane-manager/images/control-plane-manager/controller/kubeconfig.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/node.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/pki.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/util.go
  modules/040-control-plane-manager/images/control-plane-manager/werf.inc.yaml
  modules/500-openvpn/images/easyrsa-migrator/src/easyrsa-migrator.go
  modules/500-openvpn/images/easyrsa-migrator/src/go.mod
  modules/500-openvpn/images/easyrsa-migrator/src/go.sum
Labels: area/security, area/cluster-and-infrastructure, type/dependencies, area/cli, area/core, go

#11100 [docs] Added example of integration with Graylog at log-shipper module
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
Labels: area/docs, skip/documentation-validation, status/backport, area/logs

#11128 Backport: [docs] Added example of integration with Graylog at log-shipper module
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
Labels: auto, backported

#11116 [docs] Improve pages about SIEM and KESL
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/security/KESL.md
  docs/documentation/pages/security/KESL_RU.md
  docs/documentation/pages/security/KUMA.md
  docs/documentation/pages/security/KUMA_RU.md
  docs/documentation/pages/security/SECURITY_SOFTWARE_SETUP.md
  docs/documentation/pages/security/SECURITY_SOFTWARE_SETUP_RU.md
  tools/spelling/dictionaries/dev_OPS.dic
  tools/spelling/wordlist
Labels: area/testing, area/docs, status/backport

#11130 Backport: [docs] Improve pages about SIEM and KESL
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/security/KESL.md
  docs/documentation/pages/security/KESL_RU.md
  docs/documentation/pages/security/KUMA.md
  docs/documentation/pages/security/KUMA_RU.md
  docs/documentation/pages/security/SECURITY_SOFTWARE_SETUP.md
  docs/documentation/pages/security/SECURITY_SOFTWARE_SETUP_RU.md
  tools/spelling/dictionaries/dev_OPS.dic
  tools/spelling/wordlist
Labels: auto, backported

#11127 [testing] Increase resources for e2e test on Yandex
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/resources.yaml
Labels: area/testing, status/backport

#11131 Backport: [testing] Increase resources for e2e test on Yandex
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/resources.yaml
Labels: auto, backported

#11018 [dhctl] Resource readiness fix
  dhctl/pkg/kubernetes/actions/resources/resouce_ready.go
  dhctl/pkg/kubernetes/actions/resources/resouce_ready_test.go
Labels: area/cli, go

#11123 [docs] Rename ALT 8 SP in the table of supported versions
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_data/version_map_addition.yml
Labels: area/docs, status/backport

#11132 Backport: [docs] Rename ALT 8 SP in the table of supported versions
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_data/version_map_addition.yml
Labels: auto, backported

#10641 [log-shipper] Add keepDeletedFilesOpenedFor option
  docs/documentation/_includes/module-settings.liquid
  modules/460-log-shipper/apis/v1alpha1/cluster_logging_config.go
  modules/460-log-shipper/apis/v1alpha1/pod_logging_config.go
  modules/460-log-shipper/crds/cluster-logging-config.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-logging-config.yaml
  modules/460-log-shipper/crds/doc-ru-pod-logging-config.yaml
  modules/460-log-shipper/crds/pod-logging-config.yaml
  modules/460-log-shipper/docs/EXAMPLES_RU.md
  modules/460-log-shipper/hooks/internal/composer/config_test.go
  modules/460-log-shipper/hooks/internal/composer/testdata/config_4.json
  modules/460-log-shipper/hooks/internal/vector/source/kubernetes.go
  modules/460-log-shipper/hooks/testdata/many-to-one/manifests.yaml
  modules/460-log-shipper/hooks/testdata/many-to-one/result.json
Labels: area/docs, area/logs, go, area/api-change

#10893 [extended-monitoring] bump image-availability-exporter version
  modules/340-extended-monitoring/images/image-availability-exporter/Dockerfile
Labels: area/monitoring, status/ok-to-test

#10748 [prometheus] Fix links to modules documentation
  modules/300-prometheus/images/grafana-v10/grafana_home_dashboard.json
Labels: area/monitoring, status/ok-to-test

#10446 [prometheus-operator] Review wildcard RBAC
  modules/200-operator-prometheus/templates/rbac-for-us.yaml
Labels: area/monitoring

#10445 [prometheus-metrics-adapter] Review wildcard RBAC
  modules/301-prometheus-metrics-adapter/templates/rbac-for-us.yaml
  testing/matrix/linter/rules/roles/wildcards.go
Labels: area/monitoring, area/testing, go
