Repository deckhouse/deckhouse, pull requests merged in 2024-07, with the labels that each got.

#8863 [docs] Update URLs for release information
  README.md
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/documentation/pages/DECKHOUSE-RELEASE-CHANNELS.md
  docs/documentation/pages/DECKHOUSE-RELEASE-CHANNELS_RU.md
Labels: area/docs

#8751 [cni-cilium] Added prometheus alert CiliumAgentMetricNotFound
  modules/021-cni-cilium/monitoring/prometheus-rules/agent.yaml
Labels: area/network

#8860 [docs][prometheus]: Add VictoriaMetrics documentation links for data …
  modules/300-prometheus/docs/USAGE.md
  modules/300-prometheus/docs/USAGE_RU.md
Labels: area/monitoring, area/docs, status/backport

#8865 Backport: [docs][prometheus]: Add VictoriaMetrics documentation links for data …
  modules/300-prometheus/docs/USAGE.md
  modules/300-prometheus/docs/USAGE_RU.md
Labels: auto, backported

#8811 [testing] feat: matrix tests to check roles for wildcards
  testing/matrix/linter/rules/roles/wildcards.go
  testing/matrix/linter/rules/rules.go
Labels: area/testing, go

#8769 [snapshot-controller] Switch to distroless
  modules/045-snapshot-controller/enabled
  modules/045-snapshot-controller/images/snapshot-controller/Dockerfile
  modules/045-snapshot-controller/images/snapshot-controller/werf.inc.yaml
  modules/045-snapshot-controller/images/snapshot-validation-webhook/Dockerfile
  modules/045-snapshot-controller/images/snapshot-validation-webhook/werf.inc.yaml
  modules/045-snapshot-controller/templates/snapshot-validation-webhook/deployment.yaml
Labels: area/storage

#8866 [global] rbac fix
  modules/002-deckhouse/templates/webhook-handler/rbac-for-us.yaml
  modules/015-admission-policy-engine/templates/rbac-for-us.yaml
  testing/matrix/linter/rules/roles/wildcards.go
Labels: area/security, area/testing, go, e2e/use/k8s/1.28

#8829 [deckhouse-controller] fix kubectl version detection in kubectl_wrapper.sh
  deckhouse-controller/files/kubectl_wrapper.sh
Labels: area/core, e2e/use/k8s/1.26, e2e/use/k8s/1.28

#8662 [cni-cilium] Orthographic mistake in alert
  modules/021-cni-cilium/monitoring/prometheus-rules/agent.yaml
Labels: area/network

#8869 Backport: [deckhouse-controller] fix kubectl version detection in kubectl_wrapper.sh
  deckhouse-controller/files/kubectl_wrapper.sh
Labels: auto, backported

#8686 [user-authn] feat: update dex to v2.40.0
  modules/150-user-authn/images/dex/Dockerfile
  modules/150-user-authn/images/dex/patches/401-password-auth.patch
  modules/150-user-authn/images/dex/patches/README.md
  modules/150-user-authn/images/dex/patches/client-groups.patch
  modules/150-user-authn/images/dex/patches/connector-data.patch
  modules/150-user-authn/images/dex/patches/oidc-ca-insecure.patch
  modules/150-user-authn/images/dex/patches/robots-txt.patch
  modules/150-user-authn/images/dex/patches/static-user-groups.patch
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
Labels: area/auth

#8856 [build] do not push meta tags to prod registry on build phase
  .github/ci_templates/build.yml
  .github/workflows/build-and-test_release.yml
  werf-giterminism.yaml
  werf.yaml
Labels: area/core

#8879 [openvpn] Fix wildcard rbac verbs
  modules/500-openvpn/templates/openvpn/rbac-for-us.yaml
  testing/matrix/linter/rules/roles/wildcards.go
Labels: area/security, area/testing, go

#8880 [chore] Update CODEOWNERS
  .github/CODEOWNERS
Labels: area/cicd

#8598 [global] Changing the range of ports that listen to nodes
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  dhctl/pkg/terraform/runner.go
  docs/documentation/_data/deckhouse-ports.yml
  docs/documentation/pages/NETWORK_SECURITY_SETUP.md
  docs/documentation/pages/NETWORK_SECURITY_SETUP_RU.md
  ee/be/modules/350-node-local-dns/hooks/cleanup_daemonset_hostports_test.go
  ee/be/modules/350-node-local-dns/images/coredns/liveness.sh
  ee/be/modules/350-node-local-dns/images/coredns/readiness.sh
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/main.go
  ee/be/modules/350-node-local-dns/templates/configmap.yaml
  ee/be/modules/350-node-local-dns/templates/daemonset.yaml
  ee/be/modules/350-node-local-dns/templates/stale-dns-connections-cleaner/daemonset.yaml
  ee/modules/030-cloud-provider-openstack/templates/cloud-controller-manager/deployment.yaml
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/patches/001_our_machinery.patch
  ee/modules/030-cloud-provider-vcd/templates/capcd-controller-manager/deployment.yaml
  ee/modules/030-cloud-provider-vcd/templates/capcd-controller-manager/service.yaml
  ee/modules/030-cloud-provider-vcd/templates/cloud-controller-manager/deployment.yaml
  ee/modules/030-cloud-provider-vsphere/templates/cloud-controller-manager/deployment.yaml
  ee/modules/030-cloud-provider-zvirt/templates/cloud-controller-manager/deployment.yaml
  ee/modules/650-runtime-audit-engine/docs/ADVANCED_USAGE.md
  ee/modules/650-runtime-audit-engine/docs/ADVANCED_USAGE_RU.md
  ee/modules/650-runtime-audit-engine/templates/daemonset.yaml
  ee/se/modules/380-metallb/templates/speaker/daemonset.yaml
  global-hooks/create_endpoints.go
  global-hooks/create_endpoints_test.go
  modules/002-deckhouse/hooks/clean_endpoint_slices_test.go
  modules/002-deckhouse/hooks/update_deckhouse_image.go
  modules/002-deckhouse/templates/admission/validation.yaml
  modules/002-deckhouse/templates/deployment.yaml
  modules/002-deckhouse/templates/service.yaml
  modules/021-cni-cilium/templates/_agent-daemonset.tpl
  modules/021-cni-cilium/templates/operator/deployment.yaml
  modules/030-cloud-provider-aws/templates/cloud-controller-manager/deployment.yaml
  modules/030-cloud-provider-azure/templates/cloud-controller-manager/deployment.yaml
  modules/030-cloud-provider-gcp/templates/cloud-controller-manager/deployment.yaml
  modules/030-cloud-provider-yandex/templates/cloud-controller-manager/deployment.yaml
  modules/036-kube-proxy/templates/daemonset.yaml
  modules/039-registry-packages-proxy/templates/deployment.yaml
  modules/040-node-manager/hooks/discover_packages_proxy_addresses.go
  modules/040-node-manager/hooks/discover_packages_proxy_addresses_test.go
  modules/040-node-manager/templates/bashible-apiserver/deployment.yaml
  modules/040-node-manager/templates/bashible-apiserver/service.yaml
  modules/040-node-manager/templates/capi-controller-manager/deployment.yaml
  modules/040-node-manager/templates/machine-controller-manager/deployment.yaml
  modules/050-network-policy-engine/templates/daemonset.yaml
  modules/050-network-policy-engine/templates/podmonitor.yaml
  modules/340-monitoring-deckhouse/templates/podmonitor.yaml
  modules/340-monitoring-kubernetes-control-plane/templates/control-plane-proxy/daemonset.yaml
  modules/340-monitoring-kubernetes/templates/ebpf-exporter/daemonset.yaml
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/templates/controller/controller.yaml
  modules/402-ingress-nginx/templates/failover/daemonset.yaml
  testing/matrix/linter/rules/rules.go
Labels: area/kubernetes, area/monitoring, area/cloud-provider, area/network, area/security, area/testing, area/docs, area/cluster-and-infrastructure, area/cli, area/core, go, area/api-change

#8873 Update Kubernetes patch versions:
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: area/kubernetes, area/testing, area/cluster-and-infrastructure, go, e2e/use/k8s/1.30

#8876 [testing] set centos 9 stream for aws
  candi/cloud-providers/aws/bashible/common-steps/node-group/001_create_nvme_ebs_aliases.sh.tpl
  modules/040-terraform-manager/images/base-terraform-manager/werf.inc.yaml
  testing/cloud_layouts/AWS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/script.sh
Labels: area/cloud-provider, area/testing, area/cluster-and-infrastructure, status/backport

#8885 Backport: [testing] set centos 9 stream for aws
  candi/cloud-providers/aws/bashible/common-steps/node-group/001_create_nvme_ebs_aliases.sh.tpl
  modules/040-terraform-manager/images/base-terraform-manager/werf.inc.yaml
  testing/cloud_layouts/AWS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/script.sh
Labels: auto, backported

#8746 [dhctl] chore(dhctl-for-commander): dhctl-server graceful shudtown fixes
  dhctl/pkg/operations/commander/detach/detacher.go
  dhctl/pkg/server/api/dhctl/check.proto
  dhctl/pkg/server/pb/dhctl/check.pb.go
  dhctl/pkg/server/pkg/stop.go
  dhctl/pkg/server/rpc/dhctl/check.go
  dhctl/pkg/server/server/server.go
  dhctl/pkg/server/server/singlethreaded/server.go
Labels: area/cli, go

#8857 [dhctl] fix ssh tunneling preflight check
  dhctl/pkg/preflight/preflight.go
  dhctl/pkg/preflight/ssh.go
Labels: area/cli, go

#8867 [dhctl] add preflight check for python and his friends
  dhctl/pkg/app/preflight.go
  dhctl/pkg/preflight/preflight.go
  dhctl/pkg/preflight/python.go
  dhctl/pkg/system/ssh/frontend/command.go
Labels: area/cli, go

#8875 [dhctl] fix(dhctl-for-commander): store dhctl-server sockets in dhctl tmp dir
  dhctl/pkg/server/server/proxy.go
Labels: area/cli, go

#8886 Backport: [dhctl] fix(dhctl-for-commander): store dhctl-server sockets in dhctl tmp dir
  dhctl/pkg/server/server/proxy.go
Labels: auto, backported

#8888 Backport: [dhctl] chore(dhctl-for-commander): dhctl-server graceful shudtown fixes
  dhctl/pkg/operations/commander/detach/detacher.go
  dhctl/pkg/server/api/dhctl/check.proto
  dhctl/pkg/server/pb/dhctl/check.pb.go
  dhctl/pkg/server/pkg/stop.go
  dhctl/pkg/server/rpc/dhctl/check.go
  dhctl/pkg/server/server/server.go
  dhctl/pkg/server/server/singlethreaded/server.go
Labels: auto, backported

#8889 Backport: [dhctl] add preflight check for python and his friends
  dhctl/pkg/app/preflight.go
  dhctl/pkg/preflight/preflight.go
  dhctl/pkg/preflight/python.go
  dhctl/pkg/system/ssh/frontend/command.go
Labels: auto, backported

#8901 Backport: [dhctl] fix preflight check for python and his friends
  dhctl/pkg/preflight/python.go
Labels: auto, backported

#8902 [delivery][docs] Change feature status from "experimental" to "deprecated" for delivery module
  docs/documentation/_data/i18n.yml
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/module-development/VERSIONING_RU.md
  docs/site/_config.yml
  docs/site/_data/i18n.yaml
  docs/site/backends/docs-builder-template/i18n/ru.yaml
Labels: skip/documentation-validation, status/backport

#8903 Backport: [delivery][docs] Change feature status from "experimental" to "deprecated" for delivery module
  docs/documentation/_data/i18n.yml
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/module-development/VERSIONING_RU.md
  docs/site/_config.yml
  docs/site/_data/i18n.yaml
  docs/site/backends/docs-builder-template/i18n/ru.yaml
Labels: auto, backported

#8891 [rpp] fix error in working with http registries
  go_lib/registry-packages-proxy/registry/default_client.go
Labels: area/core, status/backport, go

#8904 Backport: [rpp] fix error in working with http registries
  go_lib/registry-packages-proxy/registry/default_client.go
Labels: auto, backported

#8907 [docs][registrypackages] Bump Deckhouse CLI to 0.2.0. Refactor the Deckhouse CLI installation page.
  docs/documentation/_includes/d8-cli-install/content.liquid
  docs/documentation/_includes/d8-cli-install/main.liquid
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
  docs/site/.werf/nginx.conf
  modules/007-registrypackages/images/d8/werf.inc.yaml
Labels: area/docs, area/core, skip/documentation-validation, status/backport

#8910 Backport: [docs][registrypackages] Bump Deckhouse CLI to 0.2.0. Refactor the Deckhouse CLI installation page.
  docs/documentation/_includes/d8-cli-install/content.liquid
  docs/documentation/_includes/d8-cli-install/main.liquid
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
  docs/site/.werf/nginx.conf
  modules/007-registrypackages/images/d8/werf.inc.yaml
Labels: auto, backported

#8913 [docs][deckhouse-cli] Fix URLs on the Deckhouse CLI installation page.
  docs/documentation/_includes/d8-cli-install/content.liquid
  docs/documentation/_includes/d8-cli-install/main.liquid
Labels: area/docs, status/backport

#8914 Backport: [docs][deckhouse-cli] Fix URLs on the Deckhouse CLI installation page.
  docs/documentation/_includes/d8-cli-install/content.liquid
  docs/documentation/_includes/d8-cli-install/main.liquid
Labels: auto, backported

#8911 [ci] fix possible error in werf digest output
  werf.yaml
Labels: area/core, status/backport

#8915 Backport: [ci] fix possible error in werf digest output
  werf.yaml
Labels: auto, backported

#8917 Backport: [docs][deckhouse-cli] Minor fixes
  docs/documentation/_includes/d8-cli-install/content.liquid
Labels: auto, backported

#8893 [candi] fix(dhctl-for-commander): init configuration openapi spec: allow any init-configuration changes
  candi/openapi/init_configuration.yaml
Labels: area/cluster-and-infrastructure, status/backport, area/api-change

#8918 Backport: [candi] fix(dhctl-for-commander): init configuration openapi spec: allow any init-configuration changes
  candi/openapi/init_configuration.yaml
Labels: auto, backported

#8922 [ci] Fix EKS e2e test script
  testing/cloud_layouts/script_eks.sh
Labels: e2e/cluster/failed

#8923 [docs] Minor fixes
  candi/cloud-providers/azure/docs/LAYOUTS_RU.md
  docs/documentation/_includes/d8-cli-install/main.liquid
  modules/101-cert-manager/docs/USAGE.md
  modules/101-cert-manager/docs/USAGE_RU.md
  modules/465-pod-reloader/docs/README.md
  modules/465-pod-reloader/docs/README_RU.md
  modules/500-upmeter/images/webui/README.md
  tools/spelling/dictionaries/dev_OPS.dic
  tools/spelling/wordlist
Labels: area/monitoring, area/cloud-provider, area/security, area/testing, area/docs, area/cluster-and-infrastructure, status/backport

#8924 Backport: [docs] Minor fixes
  candi/cloud-providers/azure/docs/LAYOUTS_RU.md
  docs/documentation/_includes/d8-cli-install/main.liquid
  modules/101-cert-manager/docs/USAGE.md
  modules/101-cert-manager/docs/USAGE_RU.md
  modules/465-pod-reloader/docs/README.md
  modules/465-pod-reloader/docs/README_RU.md
  modules/500-upmeter/images/webui/README.md
  tools/spelling/dictionaries/dev_OPS.dic
  tools/spelling/wordlist
Labels: auto, backported

#8925 [ci] Fix path in e2e test script for EKS
  testing/cloud_layouts/script_eks.sh
Labels: area/testing, status/backport

#8926 Backport: [ci] Fix path in e2e test script for EKS
  testing/cloud_layouts/script_eks.sh
Labels: auto, backported

#8285 [deckhouse] update addon-operator version to v1.4.1
  deckhouse-controller/pkg/addon-operator/kube-config/backend/module_config.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
  dhctl/go.mod
  dhctl/go.sum
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: area/testing, type/dependencies, area/cli, area/core, go

#8927 [e2e] fix path terraform binary for eks
  testing/cloud_layouts/EKS/WithoutNAT/infra.tf.tpl
  testing/cloud_layouts/script_eks.sh
  werf.yaml
Labels: area/testing, area/core, status/backport

#8931 Backport: [e2e] fix path terraform binary for eks
  testing/cloud_layouts/EKS/WithoutNAT/infra.tf.tpl
  testing/cloud_layouts/script_eks.sh
  werf.yaml
Labels: auto, backported

#8603 [candi](kubelet) Fix server certificate rotation
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
  ee/modules/500-operator-trivy/templates/reports/cis-benchmark-1.23.yaml
Labels: area/security, area/cluster-and-infrastructure

#8930 [cilium] fix trouble with empty excludedCIDRs in EgressGatewayPolicy
  ee/modules/021-cni-cilium/hooks/ee/egressgatewaypolicies_discovery.go
  ee/modules/021-cni-cilium/hooks/ee/egressgatewaypolicies_discovery_test.go
  modules/021-cni-cilium/docs/EXAMPLES.md
  modules/021-cni-cilium/docs/EXAMPLES_RU.md
Labels: area/network, area/docs, skip/documentation-validation, status/backport, go

#8934 Backport: [cilium] fix trouble with empty excludedCIDRs in EgressGatewayPolicy
  ee/modules/021-cni-cilium/hooks/ee/egressgatewaypolicies_discovery.go
  ee/modules/021-cni-cilium/hooks/ee/egressgatewaypolicies_discovery_test.go
  modules/021-cni-cilium/docs/EXAMPLES.md
  modules/021-cni-cilium/docs/EXAMPLES_RU.md
Labels: auto, backported

#8935 Backport: [cilium] fix trouble with empty excludedCIDRs in EgressGatewayPolicy
  ee/modules/021-cni-cilium/hooks/ee/egressgatewaypolicies_discovery.go
  ee/modules/021-cni-cilium/hooks/ee/egressgatewaypolicies_discovery_test.go
  modules/021-cni-cilium/docs/EXAMPLES.md
  modules/021-cni-cilium/docs/EXAMPLES_RU.md
Labels: auto, backported

#8936 Backport: [static-routing-manager] Fixing crds path in ensure_crds hook
  ee/modules/025-static-routing-manager/hooks/ensure_crds.go
Labels: auto, backported

#8937 Backport: [static-routing-manager] Fixing crds path in ensure_crds hook
  ee/modules/025-static-routing-manager/hooks/ensure_crds.go
Labels: auto, backported

#8942 [docs] Fix chrony settings example
  modules/470-chrony/docs/CONFIGURATION.md
  modules/470-chrony/docs/CONFIGURATION_RU.md
Labels: area/docs, area/cluster-and-infrastructure

#8921 [deckhouse-controller] increase module event channel buffer
  deckhouse-controller/pkg/addon-operator/kube-config/backend/module_config.go
Labels: area/core, e2e/cluster/failed, go

#8940 [dhctl] Fix registry preflight check for anonymous docker registries
  dhctl/pkg/preflight/registry.go
Labels: area/cli, status/backport, go

#8945 Backport: [dhctl] Fix registry preflight check for anonymous docker registries
  dhctl/pkg/preflight/registry.go
Labels: auto, backported

#8946 Backport: [dhctl] fix ssh tunneling preflight check
  dhctl/pkg/preflight/preflight.go
  dhctl/pkg/preflight/ssh.go
Labels: auto, backported

#8947 Backport: [dhctl] Fix registry preflight check for anonymous docker registries
  dhctl/pkg/preflight/registry.go
Labels: auto, backported

#8832 Changelog v1.61.5
  CHANGELOG/CHANGELOG-v1.61.5.yml
  CHANGELOG/CHANGELOG-v1.61.md
Labels: changelog, auto, status/backport

#8948 Backport: Changelog v1.61.5
  CHANGELOG/CHANGELOG-v1.61.5.yml
  CHANGELOG/CHANGELOG-v1.61.md
Labels: auto, backported

#8957 Backport: [docs][runtime-audit-engine] Render module configuration OpenAPI spec
  ee/modules/650-runtime-audit-engine/docs/CONFIGURATION.md
  ee/modules/650-runtime-audit-engine/docs/CONFIGURATION_RU.md
Labels: auto, backported

#8941 [ingress-nginx] add proxy connect timeout to auth locations
  modules/402-ingress-nginx/images/controller-1-10/patches/README.md
  modules/402-ingress-nginx/images/controller-1-10/patches/nginx-tmpl.patch
  modules/402-ingress-nginx/images/controller-1-9/patches/README.md
  modules/402-ingress-nginx/images/controller-1-9/patches/nginx-tmpl.patch
Labels: area/network

#8962 Backport: [node-manager] Create status.errors object for all NodeUsers (migration) and add conversion webhook for same logic
  modules/040-node-manager/hooks/internal/v1/node_user.go
  modules/040-node-manager/hooks/migration/common_test.go
  modules/040-node-manager/hooks/migration/migrate_add_status_subresource_to_node_user.go
  modules/040-node-manager/hooks/migration/migrate_add_status_subresource_to_node_user_test.go
  modules/040-node-manager/webhooks/conversion/node_user
Labels: auto, backported

#8958 [operator-trivy] fix service url
  ee/modules/500-operator-trivy/templates/configmap.yaml
Labels: area/security, status/backport

#8963 Changelog v1.60.7
  CHANGELOG/CHANGELOG-v1.60.7.yml
  CHANGELOG/CHANGELOG-v1.60.md
Labels: changelog, auto, status/backport

#8967 Backport: Changelog v1.60.7
  CHANGELOG/CHANGELOG-v1.60.7.yml
  CHANGELOG/CHANGELOG-v1.60.md
Labels: auto, backported

#8900 [local-path-provisioner] remove wildcard from module RBAC
  modules/031-local-path-provisioner/templates/rbac-for-us.yaml
  testing/matrix/linter/rules/roles/placement.go
  testing/matrix/linter/rules/roles/wildcards.go
Labels: area/testing, status/backport, area/storage, go

#8968 Backport: [local-path-provisioner] remove wildcard from module RBAC
  modules/031-local-path-provisioner/templates/rbac-for-us.yaml
  testing/matrix/linter/rules/roles/placement.go
  testing/matrix/linter/rules/roles/wildcards.go
Labels: auto, backported

#8966 [ingress-nginx] adjust kruise controller alert's threshold
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
Labels: area/network, status/backport

#8971 Backport: [ingress-nginx] adjust kruise controller alert's threshold
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
Labels: auto, backported

#8974 Backport: [deckhouse] fix public-domain-template validating
  modules/002-deckhouse/webhooks/validating/public-domain-template
Labels: auto, backported

#8920 [dhctl] add support wildcard path for config flag
  dhctl/pkg/config/base.go
  dhctl/pkg/config/base_test.go
  dhctl/pkg/config/mocks/1-InitConfiguration.yml
  dhctl/pkg/config/mocks/2-ClusterConfiguration.yml
  dhctl/pkg/config/mocks/3-ModuleConfig.yaml
  dhctl/pkg/config/mocks/images_digests.json
  dhctl/pkg/config/mocks/version
Labels: area/cli, skip/copyright-validation, go

#8908 [dhctl] add preflight checks for sudo access
  dhctl/pkg/app/preflight.go
  dhctl/pkg/preflight/preflight.go
  dhctl/pkg/preflight/sudoers.go
Labels: area/cli, go

#8734 [dhctl] Preflight check exist embedded containerd
  candi/bashible/common-steps/node-group/000_preflight_checks.sh
  dhctl/pkg/preflight/containerd.go
Labels: area/cluster-and-infrastructure, area/cli, go

#8850 [registrypackages] add growpart to rpp
  candi/bashible/bundles/centos/node-group/004_install_mandatory_packages_for_cloud_nodes.sh.tpl
  candi/bashible/bundles/debian/node-group/003_install_mandatory_packages_for_cloud_nodes.sh.tpl
  candi/bashible/common-steps/all/003_install_mandatory_packages.sh.tpl
  candi/bashible/common-steps/node-group/004_resize_partitions.sh.tpl
  ee/be/candi/bashible/bundles/astra/node-group/003_install_mandatory_packages_for_cloud_nodes.sh.tpl
  ee/be/candi/bashible/bundles/redos/node-group/004_install_mandatory_packages_for_cloud_nodes.sh.tpl
  ee/be/candi/bashible/bundles/rosa/node-group/004_install_mandatory_packages_for_cloud_nodes.sh.tpl
  modules/007-registrypackages/images/growpart/scripts/install
  modules/007-registrypackages/images/growpart/scripts/uninstall
  modules/007-registrypackages/images/growpart/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/cluster-and-infrastructure, area/core, go

#8753 [node-manager] caps: allow to skip bootstrap phases for nodes
  modules/040-node-manager/images/caps-controller-manager/src/internal/controller/deckhouse.io/staticinstance_controller.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/controller/infrastructure/staticmachine_controller.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/controller/machine_scope_constructor.go
  modules/040-node-manager/images/caps-controller-manager/werf.inc.yaml
Labels: area/cluster-and-infrastructure, go

#8862 [cloud-provider-vcd] API token support
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/terraform-modules/providers.tf
  ee/modules/030-cloud-provider-vcd/capi/cluster.yaml
  ee/modules/030-cloud-provider-vcd/docs/EXAMPLES.md
  ee/modules/030-cloud-provider-vcd/docs/EXAMPLES_RU.md
  ee/modules/030-cloud-provider-vcd/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-vcd/openapi/values.yaml
  ee/modules/030-cloud-provider-vcd/templates/cloud-data-discoverer/deployment.yaml
  ee/modules/030-cloud-provider-vcd/templates/registration.yaml
  ee/modules/030-cloud-provider-vcd/templates/secret.yaml
  modules/040-node-manager/templates/node-group/_capi_bootstrap_secret.tpl
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, go, area/api-change, e2e/run/vcd

#8951 [candi] fix aws identity ebs device
  candi/cloud-providers/aws/bashible/common-steps/node-group/001_create_nvme_ebs_aliases.sh.tpl
  modules/007-registrypackages/images/amazon-ec2-utils/scripts/install
  modules/007-registrypackages/images/amazon-ec2-utils/scripts/uninstall
  modules/007-registrypackages/images/amazon-ec2-utils/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/cloud-provider, area/testing, area/cluster-and-infrastructure, area/core, status/backport, go

#8980 Backport: [candi] fix aws identity ebs device
  candi/cloud-providers/aws/bashible/common-steps/node-group/001_create_nvme_ebs_aliases.sh.tpl
  modules/007-registrypackages/images/amazon-ec2-utils/scripts/install
  modules/007-registrypackages/images/amazon-ec2-utils/scripts/uninstall
  modules/007-registrypackages/images/amazon-ec2-utils/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: auto, backported

#8981 [deckhouse-cli] Bump Deckhouse CLI version from 0.2.0 to 0.2.1
  modules/007-registrypackages/images/d8/werf.inc.yaml
Labels: area/core, status/backport

#8984 Backport: [deckhouse-cli] Bump Deckhouse CLI version from 0.2.0 to 0.2.1
  modules/007-registrypackages/images/d8/werf.inc.yaml
Labels: auto, backported

#8464 Changelog v1.62.0
  CHANGELOG/CHANGELOG-v1.62.0.yml
  CHANGELOG/CHANGELOG-v1.62.md
Labels: changelog, auto, status/backport

#8985 Backport: Changelog v1.62.0
  CHANGELOG/CHANGELOG-v1.62.0.yml
  CHANGELOG/CHANGELOG-v1.62.md
Labels: auto, backported

#8640 [candi] update bootstrap phases
  candi/bashible/bootstrap/01-base-pkgs.sh.tpl
  candi/bashible/bootstrap/02-network-scripts.sh.tpl
  candi/bashible/bootstrap/03-prepare-bashible.sh.tpl
  candi/bashible/bundles/centos/bootstrap.sh.tpl
  candi/bashible/bundles/debian/bootstrap.sh.tpl
  candi/bashible/bundles/ubuntu-lts/bootstrap.sh.tpl
  candi/bashible/common-steps/all/004_check_xfstype.sh.tpl
  candi/cloud-providers/aws/bashible/bootstrap-networks.sh.tpl
  candi/cloud-providers/yandex/bashible/bootstrap-networks.sh.tpl
  dhctl/pkg/config/meta.go
  dhctl/pkg/operations/bootstrap/steps.go
  dhctl/pkg/template/bootstrap.go
  dhctl/pkg/template/engine.go
  ee/be/candi/bashible/bundles/astra/bootstrap.sh.tpl
  ee/be/candi/bashible/bundles/redos/bootstrap.sh.tpl
  ee/candi/cloud-providers/openstack/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vcd/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vcd/bashible/bundles/astra/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vcd/bashible/bundles/debian/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vcd/bashible/bundles/ubuntu-lts/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vsphere/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vsphere/bashible/bundles/astra/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vsphere/bashible/bundles/debian/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vsphere/bashible/bundles/ubuntu-lts/bootstrap-networks.sh.tpl
  modules/007-registrypackages/images/ec2-describe-tags/scripts/install
  modules/007-registrypackages/images/ec2-describe-tags/scripts/uninstall
  modules/007-registrypackages/images/ec2-describe-tags/werf.inc.yaml
  modules/040-node-manager/images/bashible-apiserver/pkg/registry/bashible/bootstrap/storage.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context_builder.go
  modules/040-node-manager/images/bashible-apiserver/werf.inc.yaml
  modules/040-node-manager/templates/node-group/_bootstrap.tpl
  testing/library/images_tags_generated.go
Labels: area/cloud-provider, area/testing, area/cluster-and-infrastructure, area/cli, area/core, go

#8837 [deckhouse-controller] consider values.yaml file as values default, not config-values
  deckhouse-controller/entrypoint.sh
  global-hooks/openapi/config-values.yaml
  modules/global-values.yaml
  testing/openapi_validation/library.go
  testing/openapi_validation/validators/ha_and_https.go
Labels: area/testing, area/core, skip/documentation-validation, go, area/api-change

#8912 [cilium] alert for orphan EgressGatewayPolicy
  ee/modules/021-cni-cilium/.build.yaml
  ee/modules/021-cni-cilium/hooks/ee/egressgatewaypolicies_discovery.go
  ee/modules/021-cni-cilium/monitoring/prometheus-rules/egressgatewaypolicies.yaml
  ee/modules/021-cni-cilium/templates/monitoring.yaml
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: area/testing, skip/e2e, go

#9001 Backport: [docs] Fix chrony settings example
  modules/470-chrony/docs/CONFIGURATION.md
  modules/470-chrony/docs/CONFIGURATION_RU.md
Labels: auto, backported

#9002 Backport: [cilium] alert for orphan EgressGatewayPolicy
  ee/modules/021-cni-cilium/.build.yaml
  ee/modules/021-cni-cilium/hooks/ee/egressgatewaypolicies_discovery.go
  ee/modules/021-cni-cilium/monitoring/prometheus-rules/egressgatewaypolicies.yaml
  ee/modules/021-cni-cilium/templates/monitoring.yaml
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: auto, backported

#9017 [site] Update chat and analytics scripts
  docs/site/_config.yml
  docs/site/_includes/counters-and-chat.liquid
  docs/site/_includes/head-site.html
Labels: area/docs

#9019 [docs] Fix chat script URLs
  docs/site/_config.yml
Labels: area/docs

#8950 [global] improve documentation permissions
  modules/810-documentation/templates/rbac-for-us.yaml
  testing/matrix/linter/rules/roles/wildcards.go
Labels: area/testing, area/docs, go

#8949 [user-authn] improve dex permissions
  modules/150-user-authn/templates/dex/rbac-for-us.yaml
  testing/matrix/linter/rules/roles/wildcards.go
Labels: area/auth, area/testing, go

#9023 [global] Fix rbac verbs
  deckhouse-controller/entrypoint.sh
  modules/150-user-authn/templates/dex/rbac-for-us.yaml
  modules/810-documentation/templates/rbac-for-us.yaml
Labels: area/auth, area/docs, area/core

#8466 [user-authn] update getting-started to use the enabled option instead of enable in user-authn
  docs/site/_includes/getting_started/aws/partials/config.ru.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.ru.yml.without_nat.ee.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.ee.inc
  docs/site/_includes/getting_started/azure/partials/config.ru.yml.standard.ce.inc
  docs/site/_includes/getting_started/azure/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/bm-private/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/bm-private/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.ru.yml.ee.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ee.inc
  docs/site/_includes/getting_started/gcp/partials/config.ru.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/gcp/partials/config.ru.yml.without_nat.ee.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ee.inc
  docs/site/_includes/getting_started/openstack/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_ovh/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_ovh/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_selectel/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_selectel/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_vk/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/openstack_vk/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/vcd/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/vcd/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/vsphere/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/vsphere/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/yandex/partials/config.ru.yml.standard.ce.inc
  docs/site/_includes/getting_started/yandex/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.ee.inc
Labels: area/docs

#8970 [cni-cilium] Update internal documentation about cilium connectivity tests
  modules/021-cni-cilium/docs/internal/CONNECTIVITY_TESTS.md
Labels: area/network, area/docs, status/ok-to-test

#9028 [docs][gs][bare-metal] Add requirement for unique hostname
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
Labels: area/docs

#8939 [docs] Added documentation improvements regarding Deckhouse task queues.
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport

#9033 Backport: [docs] Added documentation improvements regarding Deckhouse task queues.
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#9029 [cloud-providers-aws] Clarification of the documentation on the zones
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, status/backport, area/api-change

#9034 Backport: [cloud-providers-aws] Clarification of the documentation on the zones
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#9037 [site] Sort modules in the documentation sidebar
  docs/documentation/_data/sidebars/main.yml
Labels: area/docs, status/backport

#9038 Backport: [site] Sort modules in the documentation sidebar
  docs/documentation/_data/sidebars/main.yml
Labels: auto, backported

#9039 Backport: [site] Sort modules in the documentation sidebar
  docs/documentation/_data/sidebars/main.yml
Labels: auto, backported

#9011 [docs] update version to 2 in example moduleConfig user-authn
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: area/auth, area/docs, status/backport

#9041 Backport: [docs] update version to 2 in example moduleConfig user-authn
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: auto, backported

#9031 [go_lib] fix: successful confirmation of module installation via annotations
  go_lib/updater/updater.go
Labels: area/core, go

#9014 [ingress-nginx] adjust rbac for kruise
  modules/402-ingress-nginx/templates/kruise/rbac-for-us.yaml
Labels: area/network

#9022 [operator-trivy] add reportResourceLabels
  ee/modules/500-operator-trivy/openapi/config-values.yaml
  ee/modules/500-operator-trivy/openapi/doc-ru-config-values.yaml
  ee/modules/500-operator-trivy/templates/configmap.yaml
Labels: area/security, area/api-change

#9032 [docs] fix the docs about exec process
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
  candi/openapi/doc-ru-static_cluster_configuration.yaml
  candi/openapi/static_cluster_configuration.yaml
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/doc-ru-cluster_configuration.yaml
  ee/modules/030-cloud-provider-vcd/openapi/values.yaml
  ee/modules/030-cloud-provider-zvirt/openapi/values.yaml
  modules/002-deckhouse/docs/FAQ.md
  modules/002-deckhouse/docs/FAQ_RU.md
  modules/500-upmeter/scripts/fix_server_db/README.md
Labels: area/monitoring, area/cloud-provider, area/docs, area/cluster-and-infrastructure, skip/documentation-validation, status/backport, area/api-change

#9044 Backport: [docs] fix the docs about exec process
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
  candi/openapi/doc-ru-static_cluster_configuration.yaml
  candi/openapi/static_cluster_configuration.yaml
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/doc-ru-cluster_configuration.yaml
  ee/modules/030-cloud-provider-vcd/openapi/values.yaml
  ee/modules/030-cloud-provider-zvirt/openapi/values.yaml
  modules/002-deckhouse/docs/FAQ.md
  modules/002-deckhouse/docs/FAQ_RU.md
  modules/500-upmeter/scripts/fix_server_db/README.md
Labels: auto, backported

#9012 [docs] Updated documentation for the 402-ingress-nginx module.
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
Labels: area/network, status/backport, area/api-change

#9045 Backport: [docs] Updated documentation for the 402-ingress-nginx module.
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
Labels: auto, backported

#9007 [docs] Link to documentation with lists of fields has been changed.
  modules/010-user-authn-crd/crds/dex-provider.yaml
  modules/010-user-authn-crd/crds/doc-ru-dex-provider.yaml
Labels: area/auth, status/backport, area/api-change

#9046 Backport: [docs] Link to documentation with lists of fields has been changed.
  modules/010-user-authn-crd/crds/dex-provider.yaml
  modules/010-user-authn-crd/crds/doc-ru-dex-provider.yaml
Labels: auto, backported

#9047 Backport: [docs] Link to documentation with lists of fields has been changed.
  modules/010-user-authn-crd/crds/dex-provider.yaml
  modules/010-user-authn-crd/crds/doc-ru-dex-provider.yaml
Labels: auto, backported

#9030 [candi] fix dir permission for NodeUser
  candi/bashible/common-steps/all/003_create_deckhouse_user.sh.tpl
  candi/bashible/common-steps/node-group/000_add_node_users.sh.tpl
Labels: area/cluster-and-infrastructure, status/backport

#9048 Backport: [candi] fix dir permission for NodeUser
  candi/bashible/common-steps/all/003_create_deckhouse_user.sh.tpl
  candi/bashible/common-steps/node-group/000_add_node_users.sh.tpl
Labels: auto, backported

#9006 [istio][cilium-hubble] Remove wildcard from modules RBAC
  modules/110-istio/templates/kiali/rbac-for-us.yaml
  modules/110-istio/templates/operator/rbac-for-us.yaml
  modules/500-cilium-hubble/templates/ui/rbac-for-us.yaml
  testing/matrix/linter/rules/roles/wildcards.go
Labels: area/network, area/testing, status/backport, go

#9043 [deckhouse-controller] fix default deckhouse config unmarshalling
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
Labels: area/core, go

#9016 [monitoring] Fix node exporter NTP address
  modules/340-monitoring-kubernetes/images/node-exporter/Dockerfile
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
  modules/470-chrony/templates/configmap.yaml
Labels: area/monitoring, area/cluster-and-infrastructure, status/backport

#9053 Backport: [monitoring] Fix node exporter NTP address
  modules/340-monitoring-kubernetes/images/node-exporter/Dockerfile
  modules/340-monitoring-kubernetes/templates/node-exporter/daemonset.yaml
  modules/470-chrony/templates/configmap.yaml
Labels: auto, backported

#8868 Changelog v1.62.1
  CHANGELOG/CHANGELOG-v1.62.1.yml
  CHANGELOG/CHANGELOG-v1.62.md
Labels: changelog, auto, status/backport

#9055 Backport: Changelog v1.62.1
  CHANGELOG/CHANGELOG-v1.62.1.yml
  CHANGELOG/CHANGELOG-v1.62.md
Labels: auto, backported

#9010 [docs] Added documentation improvements in getting started for AWS
  candi/cloud-providers/aws/docs/ENVIRONMENT.md
  candi/cloud-providers/aws/docs/ENVIRONMENT_RU.md
  docs/site/_includes/getting_started/aws/STEP_ENV.md
  docs/site/_includes/getting_started/aws/STEP_ENV_RU.md
  docs/site/_includes/getting_started/aws/partials/config.ru.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.ru.yml.without_nat.ee.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.ee.inc
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure

#9065 [network-policy-engine] Using the same iptables from registrypackages as in the host
  modules/007-registrypackages/images/iptables/werf.inc.yaml
  modules/050-network-policy-engine/images/kube-router/werf.inc.yaml
Labels: area/network, area/security, area/core

#9068 Backport: [network-policy-engine] Using the same iptables from registrypackages as in the host
  modules/007-registrypackages/images/iptables/werf.inc.yaml
  modules/050-network-policy-engine/images/kube-router/werf.inc.yaml
Labels: auto, backported

#7999 [log-shipper] Improve alert D8LogShipperAgentNotScheduledInCluster
  modules/460-log-shipper/monitoring/prometheus-rules/log-shipper-agent.yaml
Labels: skip/documentation-validation, status/backport, area/logs

#9070 Backport: [log-shipper] Improve alert D8LogShipperAgentNotScheduledInCluster
  modules/460-log-shipper/monitoring/prometheus-rules/log-shipper-agent.yaml
Labels: auto, backported

#9072 Backport: [node-manager] Revert bashible drain annotations checks
  modules/040-node-manager/hooks/update_approval.go
Labels: auto, backported

#9067 Changelog v1.62.2
  CHANGELOG/CHANGELOG-v1.62.2.yml
  CHANGELOG/CHANGELOG-v1.62.md
Labels: changelog, auto, status/backport

#9073 Backport: Changelog v1.62.2
  CHANGELOG/CHANGELOG-v1.62.2.yml
  CHANGELOG/CHANGELOG-v1.62.md
Labels: auto, backported

#9064 [node-manager] discover_packages_proxy_addresses hook fix
  modules/039-registry-packages-proxy/templates/deployment.yaml
  modules/040-node-manager/hooks/discover_packages_proxy_addresses.go
  modules/040-node-manager/hooks/discover_packages_proxy_addresses_test.go
Labels: area/cluster-and-infrastructure, go

#9062 chore(dhctl-for-commander): minor logging fixes
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-abort.go
Labels: area/cli, go

#9061 [dhctl] set SSHBastionUser same as SSHUser if not defined
  dhctl/pkg/app/ssh.go
Labels: area/cli, e2e/cluster/failed, go

#9075 [dhctl] del name label on d8-node-terraform-state secret
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
Labels: area/cli, go

#9086 [cni-cilium] Adding maintenance command to the documentation
  modules/021-cni-cilium/docs/internal/MAINTENANCE.md
Labels: area/network, area/docs, skip/documentation-validation, e2e/use/k8s/1.27

#9000 [candi] add modulesoruce custom ca on nodes
  candi/bashible/common-steps/node-group/002_install_ms_ca_certificates.sh.tpl
  candi/bashible/common-steps/node-group/032_configure_containerd.sh.tpl
  deckhouse-controller/crds/doc-ru-module-source.yaml
  deckhouse-controller/crds/module-source.yaml
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/context_builder.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/module_source.go
  modules/040-node-manager/templates/bashible-apiserver/rbac-for-us.yaml
Labels: area/cluster-and-infrastructure, area/core, go, area/api-change

#9100 [site] Add redirect for the /platform location
  docs/site/.helm/templates/20-ingress.yaml
Labels: area/docs

#9102 [docs] Change weight for GPU runtime NGC
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport

#9103 Backport: [docs] Change weight for GPU runtime NGC
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#9105 [dhctl] Add --config flag and add deprecation warning abour --resources flag for `bootstrap-phase create-resources` command
  dhctl/cmd/dhctl/commands/bootstrap/phase.go
  dhctl/pkg/app/bootstrap.go
  dhctl/pkg/config/base.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-resources.go
  dhctl/pkg/template/resources.go
  dhctl/pkg/util/fs/path.go
Labels: area/cli, skip/e2e, go

#9036 [istio] adding default resources for init-containers
  modules/110-istio/hooks/patch_injector_configmap.go
  modules/110-istio/hooks/patch_injector_configmap_test.go
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/templates/control-plane/iop.yaml
Labels: area/network, skip/documentation-validation, go, e2e/use/k8s/1.27, area/api-change

#9077 [docs] Document additional env variables used by `d8 mirror` family of commands
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, skip/documentation-validation, skip/e2e

#9088 Update grafana-v10 to v10.4.5
  modules/300-prometheus/images/grafana-v10/_werf.inc.yaml
  modules/300-prometheus/images/grafana-v10/werf.inc.yaml
Labels: area/monitoring

#9107 [operator-trivy] add deleting historical sbom reports
  ee/modules/500-operator-trivy/images/operator/Dockerfile
  ee/modules/500-operator-trivy/images/operator/patches/007-delete-historical-sbom.patch
  ee/modules/500-operator-trivy/images/operator/patches/README.md
Labels: area/security

#9059 [user-authn] feat: validate email and password on user create
  modules/010-user-authn-crd/crds/user.yaml
Labels: area/auth, skip/documentation-validation, area/api-change

#9083 feat: update shell-operator version
  go.mod
  go.sum
  modules/000-common/images/shell-operator/werf.inc.yaml
  werf.yaml
Labels: type/dependencies, area/core

#8627 [dhctl] Add retries for bashible routines
  candi/bashible/common-steps/cluster-bootstrap/098_cleanup_after_cluster_bootstrap.sh.tpl
  candi/bashible/preflight/check_localhost.sh.tpl
  candi/bashible/preflight/check_ports.sh.tpl
  candi/bashible/preflight/check_reverse_tunnel_open.sh.tpl
  candi/bashible/preflight/kill_reverse_tunnel.sh.tpl
  dhctl/pkg/log/logger.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/bootstrap/steps.go
  dhctl/pkg/system/ssh/cmd/scp.go
  dhctl/pkg/system/ssh/cmd/ssh.go
  dhctl/pkg/system/ssh/frontend/reverse-tunnel.go
  dhctl/pkg/system/ssh/frontend/upload-script.go
  dhctl/pkg/system/ssh/reverse-tunnel-routines.go
  dhctl/pkg/template/bundle.go
  dhctl/pkg/template/preflight.go
  dhctl/pkg/template/template.go
  dhctl/pkg/util/retry/retry.go
Labels: area/cluster-and-infrastructure, area/cli, go

#9117 [docs] Fixed description of built-in audit rules of the module `runtime-audit-engine`
  ee/modules/650-runtime-audit-engine/docs/README.md
  ee/modules/650-runtime-audit-engine/docs/README_RU.md
Labels: area/security, area/docs, status/backport
