Repository deckhouse/deckhouse, pull requests merged in 2024-09, with the labels that each got.

#9170 [docs][rbac-2] Update user-authz module documentation
  docs/documentation/_data/i18n.yml
  docs/documentation/_includes/rbac-scopes-list.liquid
  modules/140-user-authz/crds/authorizationrule.yaml
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/140-user-authz/crds/doc-ru-authorizationrule.yaml
  modules/140-user-authz/crds/doc-ru-clusterauthorizationrule.yaml
  modules/140-user-authz/docs/FAQ.md
  modules/140-user-authz/docs/FAQ_RU.md
  modules/140-user-authz/docs/README.md
  modules/140-user-authz/docs/README_RU.md
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: area/auth, area/docs, skip/documentation-validation, status/doc-review, area/api-change

#9488 [docs] dhctl Preflight checks
  docs/documentation/images/installing/preflight-checks.png
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
Labels: area/docs

#9502 [bashible] Do not use cloud metadata server for static nodegroup
  candi/bashible/bootstrap/01-network-scripts.sh.tpl
Labels: area/cluster-and-infrastructure

#9257 [cloud-provider-*] Update VolumeSnapshotClass apiVersion
  ee/modules/030-cloud-provider-openstack/templates/csi/volume-snapshot-class.yaml
  ee/modules/030-cloud-provider-vsphere/templates/csi/volume-snapshot-class.yaml
  modules/030-cloud-provider-aws/templates/csi/volume-snapshot-class.yaml
  modules/030-cloud-provider-azure/templates/csi/volume-snapshot-class.yaml
  modules/030-cloud-provider-gcp/templates/csi/volume-snapshot-class.yaml
Labels: area/cloud-provider

#9206 [monitoring][chrony] Reduce memory requests in ds
  modules/340-monitoring-ping/templates/daemon-set.yaml
  modules/460-log-shipper/template_tests/module_test.go
  modules/460-log-shipper/templates/daemonset.yaml
  modules/470-chrony/templates/daemonset.yaml
Labels: area/monitoring, area/cluster-and-infrastructure, area/logs, go

#9564 [ci] Fix missing -y flag for apt
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/werf.inc.yaml
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/werf.inc.yaml
Labels: area/cicd

#9274 [docs] Added `NodeGroupConfiguration` examples for certificates
  modules/040-node-manager/docs/EXAMPLES.md
  modules/040-node-manager/docs/EXAMPLES_RU.md
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
  tools/spelling/clean-files.py
Labels: area/testing, area/docs, area/cluster-and-infrastructure, python

#9569 [dhctl] Fix editing of cluster configs
  dhctl/pkg/operations/kube.go
Labels: area/cli, go

#9185 [deckhouse] Added validation of moduleconfigs parameter update.windows
  modules/002-deckhouse/templates/validation.yaml
Labels: e2e/use/k8s/1.26

#9256 [dhctl] feat(dhctl-for-commander): add status rpc
  dhctl/Makefile
  dhctl/pkg/server/api/dhctl/services.proto
  dhctl/pkg/server/api/dhctl/status.proto
  dhctl/pkg/server/pb/dhctl/services.pb.go
  dhctl/pkg/server/pb/dhctl/services_grpc.pb.go
  dhctl/pkg/server/pb/dhctl/status.pb.go
  dhctl/pkg/server/pkg/interceptors/interceptors.go
  dhctl/pkg/server/pkg/requests_counter/requests_counter.go
  dhctl/pkg/server/pkg/requests_counter/requests_counter_test.go
  dhctl/pkg/server/rpc/status/get_status.go
  dhctl/pkg/server/rpc/status/service.go
  dhctl/pkg/server/server/server.go
Labels: area/cli, go

#9289 [common] update common/shell-operator images
  ee/be/modules/600-flant-integration/images/flant-pricing/werf.inc.yaml
  modules/000-common/images/shell-operator/werf.inc.yaml
  modules/002-deckhouse/images/webhook-handler/werf.inc.yaml
  modules/110-istio/images/metadata-discovery/werf.inc.yaml
  modules/300-prometheus/images/grafana-dashboard-provisioner/werf.inc.yaml
Labels: area/monitoring, area/network

#9533 [cloud-provider-zvirt] Fix empty private IP addresses
  ee/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/pkg/cloudprovider/zvirt/instances.go
Labels: area/cloud-provider, skip/e2e, go

#9574 [candi] Disable and remove unattended upgrades early for debian and ubuntu and astra
  candi/bashible/bundles/debian/all/002_disable_unattended_upgrades.sh.tpl
  candi/bashible/bundles/debian/all/010_disable_unattended_upgrades.sh.tpl
  candi/bashible/bundles/ubuntu-lts/all/002_disable_unattended_upgrades.sh.tpl
  ee/be/candi/bashible/bundles/astra/all/002_disable_unattended_upgrades.sh.tpl
  testing/cloud_layouts/VCD/Standard/configuration.tpl.yaml
Labels: area/testing, area/cluster-and-infrastructure, e2e/cluster/failed

#9578 [dhctl] Sudo become password from non-interactive stdin
  dhctl/pkg/terminal/ask-password.go
Labels: area/cli, e2e/cluster/failed, go

#9527 [deckhouse-controller] reflect extenders in modules' statuses
  deckhouse-controller/pkg/controller/controller.go
  dhctl/go.mod
  dhctl/go.sum
  go.mod
  go.sum
  go_lib/deckhouse-config/module-manager/test/mock/mock.go
  go_lib/deckhouse-config/module_manager.go
  go_lib/deckhouse-config/status.go
  tools/go.mod
  tools/go.sum
Labels: area/testing, type/dependencies, area/cli, area/core, go

#9580 [cloud-provider-yandex] Add IP and subnet IDs order to docs
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, skip/e2e, area/api-change

#9319 [deckhouse] Ability to send update notifications for Deckhouse patch releases
  deckhouse-controller/pkg/controller/deckhouse-release/controller_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/patch-release-notification.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/patch-release-notification.yaml
  go_lib/updater/notification.go
  go_lib/updater/updater.go
  modules/002-deckhouse/openapi/config-values.yaml
  modules/002-deckhouse/openapi/doc-ru-config-values.yaml
Labels: area/core, e2e/cluster/failed, go, area/api-change, e2e/use/k8s/1.30

#9447 [docs] Migration from EE to CSE
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs

#9581 Backport: [docs] Migration from EE to CSE
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#9035 [deckhouse-controller] fix: ModuleRelease with absent ModuleReleasePolicy
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  docs/documentation/_data/deckhouse-alerts.yml
  modules/002-deckhouse/templates/validation.yaml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/deckhouse.yaml
Labels: area/monitoring, area/docs, area/core, go

#9513 [ingress-nginx] bump ingress-nginx to 1.10.4
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  candi/image_versions.yml
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/images/controller-1-10/Dockerfile
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: area/network, area/cluster-and-infrastructure, area/api-change, e2e/use/k8s/1.29

#9399 [azure] add values to serviceEndpoint
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, skip/documentation-validation, area/api-change

#9437 [loki] Add configuration tunables for Loki
  modules/462-loki/images/loki/Dockerfile
  modules/462-loki/monitoring/grafana-dashboards/applications/loki-search.json
  modules/462-loki/monitoring/grafana-dashboards/applications/loki.json
  modules/462-loki/openapi/config-values.yaml
  modules/462-loki/openapi/doc-ru-config-values.yaml
  modules/462-loki/templates/configmap.yaml
  modules/462-loki/templates/monitoring.yaml
Labels: status/ok-to-test, area/logs, area/api-change

#9573 [migration] Fix multiport Services broken by Helm
  ee/se/modules/502-delivery/hooks/migration_service_with_many_ports.go
  ee/se/modules/502-delivery/hooks/migration_service_with_many_ports_test.go
  ee/se/modules/502-delivery/templates/argocd/repo-server/argocd-repo-server-service.yaml
  ee/se/modules/502-delivery/templates/argocd/server/argocd-server-service.yaml
  modules/002-deckhouse/hooks/migration_service_with_many_ports.go
  modules/002-deckhouse/hooks/migration_service_with_many_ports_test.go
  modules/002-deckhouse/templates/deckhouse-leader-service.yaml
  modules/002-deckhouse/templates/service.yaml
  modules/042-kube-dns/hooks/migration_service_with_many_ports.go
  modules/042-kube-dns/hooks/migration_service_with_many_ports_test.go
  modules/110-istio/hooks/migration_service_with_many_ports.go
  modules/110-istio/hooks/migration_service_with_many_ports_test.go
  modules/110-istio/templates/kiali/service.yaml
  modules/300-prometheus/hooks/migration_service_with_many_ports.go
  modules/300-prometheus/hooks/migration_service_with_many_ports_test.go
  modules/300-prometheus/templates/memcached/service.yaml
Labels: area/monitoring, area/network, area/cluster-and-infrastructure, go

#9466 [global-hooks] Add hook for deleting a deprecated CRD of MetalLB
  ee/modules/010-metallb-crd/crds/addresspools.yaml
  global-hooks/migrate/delete-metallb-deprecated-crd.go
  global-hooks/migrate/delete-metallb-deprecated-crd_test.go
Labels: area/core, go, area/api-change

#9588 [deckhouse-controller] Test hotfix
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/patch-release-notification.yaml
Labels: area/core, status/backport

#9594 Backport: [deckhouse-controller] Test hotfix
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/patch-release-notification.yaml
Labels: auto, backported

#9583 [docs][getting started] Fix comment about noProxy parameter in GS
  docs/site/_includes/getting_started/bm-private/partials/config.yml.ce.inc
  docs/site/js/getting-started-private.js
Labels: area/docs

#9605 [user-authn] Fix translate to russian for option addKubeconfigGeneratorEntry
  modules/150-user-authn/openapi/config-values.yaml
  modules/150-user-authn/openapi/doc-ru-config-values.yaml
Labels: area/auth, status/backport, area/api-change

#9609 Backport: [user-authn] Fix translate to russian for option addKubeconfigGeneratorEntry
  modules/150-user-authn/openapi/config-values.yaml
  modules/150-user-authn/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#9610 Backport: [user-authn] Fix translation for `addKubeconfigGeneratorEntry` parameter
  modules/150-user-authn/openapi/config-values.yaml
  modules/150-user-authn/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#9606 [bashible-apiserver] fix NodeGroupConfiguration comparsion function
  modules/040-node-manager/images/bashible-apiserver/go.mod
  modules/040-node-manager/images/bashible-apiserver/pkg/template/funcs.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/node_group_configuration.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/node_group_configuration_test.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/node_user.go
  modules/040-node-manager/images/bashible-apiserver/werf.inc.yaml
Labels: area/cluster-and-infrastructure, type/dependencies, status/backport, go

#9614 Backport: [bashible-apiserver] fix NodeGroupConfiguration comparsion function
  modules/040-node-manager/images/bashible-apiserver/go.mod
  modules/040-node-manager/images/bashible-apiserver/pkg/template/funcs.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/node_group_configuration.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/node_group_configuration_test.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/node_user.go
  modules/040-node-manager/images/bashible-apiserver/werf.inc.yaml
Labels: auto, backported

#9615 Backport: [bashible-apiserver] fix NodeGroupConfiguration comparsion function
  modules/040-node-manager/images/bashible-apiserver/go.mod
  modules/040-node-manager/images/bashible-apiserver/pkg/template/funcs.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/node_group_configuration.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/node_group_configuration_test.go
  modules/040-node-manager/images/bashible-apiserver/pkg/template/node_user.go
  modules/040-node-manager/images/bashible-apiserver/werf.inc.yaml
Labels: auto, backported

#9612 [ci] Add CLOUD_PROVIDERS_SOURCE_REPO env for build protected cloud providers
  .github/ci_includes/werf_envs.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  tools/images_tags/main.go
  werf-giterminism.yaml
  werf.yaml
Labels: area/testing, area/core, go

#9597 [vcd-docs] Add notes
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, status/backport, area/api-change

#9626 Backport: [vcd-docs] Add notes
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#9627 Backport: [vcd-docs] Add notes
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#9630 [docs] fix command with regexp for detect modules in deckhouse image
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#9631 Backport: [docs] fix command with regexp for detect modules in deckhouse image
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#9632 Backport: [docs] fix command with regexp for detect modules in deckhouse image
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#9633 Backport: [l2-load-balancer] Cancelling the feature in favor of the different approach
  docs/documentation/_data/sidebars/main.yml
  docs/site/_config.yml
Labels: auto, backported

#9634 Backport: [registrypackages] Check more kernel modules that are needed to detect the nft support of iptables.
  modules/007-registrypackages/images/iptables/scripts/install
Labels: auto, backported

#9587 [node-manager] capi controller manager version update
  modules/040-node-manager/images/capi-controller-manager/werf.inc.yaml
Labels: area/cluster-and-infrastructure, status/backport

#9635 Backport: [node-manager] capi controller manager version update
  modules/040-node-manager/images/capi-controller-manager/werf.inc.yaml
Labels: auto, backported

#9557 [Docs] Recommendations for configuring KESL (Kaspersky Endpoint Security for Linux)
  docs/documentation/_data/deckhouse-used-directories.yml
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP.md
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP_RU.md
  tools/spelling/dictionaries/dev_OPS.dic
  tools/spelling/wordlist
Labels: area/testing, area/docs, status/backport

#9638 Backport: [Docs] Recommendations for configuring KESL (Kaspersky Endpoint Security for Linux)
  docs/documentation/_data/deckhouse-used-directories.yml
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP.md
  docs/documentation/pages/SECURITY_SOFTWARE_SETUP_RU.md
  tools/spelling/dictionaries/dev_OPS.dic
  tools/spelling/wordlist
Labels: auto, backported

#9621 [deckhouse-controller] Fixed tag update
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/dev-have-new-deckhouse-image.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/dev-no-new-deckhouse-image.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/dev-have-new-deckhouse-image.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/dev-no-new-deckhouse-image.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/update_by_image_hash_test.go
Labels: area/core, status/backport, go

#9639 [node-manager] fix instance controller hook
  modules/040-node-manager/hooks/instance_controller.go
Labels: area/cluster-and-infrastructure, status/backport, go

#9642 Backport: [node-manager] fix instance controller hook
  modules/040-node-manager/hooks/instance_controller.go
Labels: auto, backported

#9643 Backport: [node-manager] fix instance controller hook
  modules/040-node-manager/hooks/instance_controller.go
Labels: auto, backported

#9646 [dckhouse] Update deployment.yaml for webhook-handler
  modules/002-deckhouse/templates/webhook-handler/deployment.yaml
Labels: status/backport

#9647 Backport: [dckhouse] Update deployment.yaml for webhook-handler
  modules/002-deckhouse/templates/webhook-handler/deployment.yaml
Labels: auto, backported

#9648 Backport: [dckhouse] Update deployment.yaml for webhook-handler
  modules/002-deckhouse/templates/webhook-handler/deployment.yaml
Labels: auto, backported

#9644 [deckhouse-controller] Fixed tag update backport to release1.63
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/dev-have-new-deckhouse-image.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/dev-no-new-deckhouse-image.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/dev-have-new-deckhouse-image.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/dev-no-new-deckhouse-image.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/update_by_image_hash_test.go
Labels: area/core, go

#9613 Changelog v1.63.8
  CHANGELOG/CHANGELOG-v1.63.8.yml
  CHANGELOG/CHANGELOG-v1.63.md
Labels: changelog, auto, status/backport

#9649 Backport: Changelog v1.63.8
  CHANGELOG/CHANGELOG-v1.63.8.yml
  CHANGELOG/CHANGELOG-v1.63.md
Labels: auto, backported

#9651 Backport: [dhctl] Wait for resources required by manifest retryLoop
  dhctl/pkg/kubernetes/actions/resources/resources.go
Labels: auto, backported

#9618 [dhctl] Fix wrong skip flag for CheckLocalhostDomain preflight check
  dhctl/pkg/preflight/preflight.go
Labels: area/cli, go

#9096 [dhctl] feat(dhctl-for-commander): server refactoring
  dhctl/pkg/server/pkg/interceptors/interceptors.go
  dhctl/pkg/server/pkg/logger/logger.go
  dhctl/pkg/server/pkg/logger/writer.go
  dhctl/pkg/server/pkg/logger/writer_test.go
  dhctl/pkg/server/rpc/dhctl/abort.go
  dhctl/pkg/server/rpc/dhctl/bootstrap.go
  dhctl/pkg/server/rpc/dhctl/check.go
  dhctl/pkg/server/rpc/dhctl/commander_attach.go
  dhctl/pkg/server/rpc/dhctl/commander_detach.go
  dhctl/pkg/server/rpc/dhctl/converge.go
  dhctl/pkg/server/rpc/dhctl/destroy.go
  dhctl/pkg/server/rpc/dhctl/service.go
  dhctl/pkg/server/server/proxy.go
  dhctl/pkg/server/server/server.go
  dhctl/pkg/server/server/singlethreaded/server.go
Labels: area/cli, go

#9565 [kube-dns] rollout enhancement
  modules/042-kube-dns/templates/configmap.yaml
Labels: area/cluster-and-infrastructure

#9390 [autoscaling] Fix and update descheduler
  modules/400-descheduler/crds/deschedulers.yaml
  modules/400-descheduler/crds/doc-ru-deschedulers.yaml
  modules/400-descheduler/docs/EXAMPLES.md
  modules/400-descheduler/docs/EXAMPLES_RU.md
  modules/400-descheduler/docs/README.md
  modules/400-descheduler/docs/README_RU.md
  modules/400-descheduler/hooks/get_crds.go
  modules/400-descheduler/hooks/get_crds_test.go
  modules/400-descheduler/hooks/internal/v1alpha1/descheduler.go
  modules/400-descheduler/hooks/migrate_from_cm.go
  modules/400-descheduler/hooks/migrate_from_cm_test.go
  modules/400-descheduler/hooks/populate_values_and_set_cr_status.go
  modules/400-descheduler/hooks/populate_values_and_set_cr_status_test.go
  modules/400-descheduler/images/descheduler/patches/001-pod-namespace-selector.patch
  modules/400-descheduler/images/descheduler/patches/002-filter-pods-in-deckhouse-namespaces.patch
  modules/400-descheduler/images/descheduler/patches/README.md
  modules/400-descheduler/images/descheduler/werf.inc.yaml
  modules/400-descheduler/openapi/openapi-case-tests.yaml
  modules/400-descheduler/openapi/values.yaml
  modules/400-descheduler/template_tests/module_test.go
  modules/400-descheduler/templates/configmap.yaml
  modules/400-descheduler/templates/deployment.yaml
  modules/400-descheduler/templates/podmonitor.yaml
  modules/400-descheduler/templates/rbac-for-us.yaml
  modules/400-descheduler/templates/rbac-to-us.yaml
Labels: area/docs, skip/documentation-validation, area/scaling, go, area/api-change

#9560 [dhctl] fixed attempt to change protected objects
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
Labels: area/cli, go

#9592 [node-manager] Setting nvidia-ctk log-level to error in docs
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport, skip/e2e

#9656 Backport: [node-manager] Setting nvidia-ctk log-level to error in docs
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#9600 [dhctl] Use dhctl binary path instead of working dir when building paths to resources
  dhctl/cmd/dhctl/main.go
  werf.yaml
Labels: area/cli, area/core, go

#9619 [multitenancy-manager] return projects conversion
  ee/modules/160-multitenancy-manager/webhooks/conversion/projects
Labels: area/security, status/backport

#9659 Backport: [multitenancy-manager] return projects conversion
  ee/modules/160-multitenancy-manager/webhooks/conversion/projects
Labels: auto, backported

#9657 [deckhouse-controller] Fixed panic when processing release with nil applyAfter
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
Labels: area/core, status/backport, go

#9661 Backport: [deckhouse-controller] Fixed panic when processing release with nil applyAfter
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
Labels: auto, backported

#9664 [ci] Add forgotten CLOUD_PROVIDERS_SOURCE_REPO in werf.inc.yaml context
  werf.yaml
Labels: area/core

#9585 [ingress-nginx] Add the loadBalancerClass setting to IngressNginxController resource
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/openapi/values.yaml
  modules/402-ingress-nginx/templates/controller/service.yaml
Labels: area/network, status/backport, area/api-change

#9665 Backport: [ingress-nginx] Add the loadBalancerClass setting to IngressNginxController resource
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/openapi/values.yaml
  modules/402-ingress-nginx/templates/controller/service.yaml
Labels: auto, backported

#9628 [dhctl] Fix ssh client startup in deckhouse installation phase
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-deckhouse.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-resources.go
  global-hooks/discovery/kubernetes_version.go
  modules/002-deckhouse/templates/validation.yaml
  modules/040-node-manager/templates/machine-controller-manager/validation.yaml
  modules/150-user-authn/templates/validation.yaml
  modules/402-ingress-nginx/templates/validation.yaml
Labels: area/auth, area/network, area/cluster-and-infrastructure, area/cli, area/core, status/backport, go, e2e/use/k8s/1.30

#9668 Backport: [dhctl] Fix ssh client startup in deckhouse installation phase
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-deckhouse.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-resources.go
  global-hooks/discovery/kubernetes_version.go
  modules/002-deckhouse/templates/validation.yaml
  modules/040-node-manager/templates/machine-controller-manager/validation.yaml
  modules/150-user-authn/templates/validation.yaml
  modules/402-ingress-nginx/templates/validation.yaml
Labels: auto, backported

#9670 [secret-copier] Delete argocd labels from copied secrets
  modules/600-secret-copier/hooks/handler.go
Labels: area/cluster-and-infrastructure, go

#9675 [docs] Fix update notifications description.
  modules/002-deckhouse/openapi/config-values.yaml
  modules/002-deckhouse/openapi/doc-ru-config-values.yaml
Labels: status/backport, area/api-change

#9676 Backport: [docs] Fix update notifications description.
  modules/002-deckhouse/openapi/config-values.yaml
  modules/002-deckhouse/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#9674 [testing] Fallback to curl if wget is not available on e2e tests
  testing/cloud_layouts/script.sh
Labels: area/testing, e2e/use/k8s/1.30

#9678 Backport: [testing] Fallback to curl if wget is not available on e2e tests
  testing/cloud_layouts/script.sh
Labels: auto, backported

#9608 [dynamix] move to fox
  .github/dependabot.yml
  ee/modules/030-cloud-provider-dynamix/images/cloud-controller-manager/src/cmd/dynamix-cloud-controller-manager/main.go
  ee/modules/030-cloud-provider-dynamix/images/cloud-controller-manager/src/go.mod
  ee/modules/030-cloud-provider-dynamix/images/cloud-controller-manager/src/go.sum
  ee/modules/030-cloud-provider-dynamix/images/cloud-controller-manager/src/pkg/cloudprovider/dynamix/cloud.go
  ee/modules/030-cloud-provider-dynamix/images/cloud-controller-manager/src/pkg/cloudprovider/dynamix/instances.go
  ee/modules/030-cloud-provider-dynamix/images/cloud-controller-manager/src/pkg/cloudprovider/dynamix/load_balancer.go
  ee/modules/030-cloud-provider-dynamix/images/cloud-controller-manager/src/pkg/cloudprovider/dynamix/util.go
  ee/modules/030-cloud-provider-dynamix/images/cloud-controller-manager/werf.inc.yaml
  ee/modules/030-cloud-provider-dynamix/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-dynamix/images/cloud-data-discoverer/go.mod
  ee/modules/030-cloud-provider-dynamix/images/cloud-data-discoverer/go.sum
  ee/modules/030-cloud-provider-dynamix/images/cloud-data-discoverer/main.go
  ee/modules/030-cloud-provider-dynamix/images/cloud-data-discoverer/werf.inc.yaml
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/api/account.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/api/api.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/api/compute.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/api/disk.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/api/external_network.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/api/internal_network.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/api/load_balancer.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/api/location.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/api/portal.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/api/resource_group.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/api/service.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/api/storage_endpoint.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/config/config.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/config/credentials.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/entity/sep.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/go.mod
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/go.sum
  ee/modules/030-cloud-provider-dynamix/images/dynamix-common/retry/retry.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-csi-driver/src/cmd/dynamix-csi-driver/main.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-csi-driver/src/go.mod
  ee/modules/030-cloud-provider-dynamix/images/dynamix-csi-driver/src/go.sum
  ee/modules/030-cloud-provider-dynamix/images/dynamix-csi-driver/src/internal/config/config.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-csi-driver/src/internal/endpoint/endpoint.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-csi-driver/src/pkg/dynamix-csi-driver/dynamix.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-csi-driver/src/pkg/dynamix-csi-driver/server.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-csi-driver/src/pkg/dynamix-csi-driver/service/controller.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-csi-driver/src/pkg/dynamix-csi-driver/service/identity.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-csi-driver/src/pkg/dynamix-csi-driver/service/node.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-csi-driver/src/pkg/dynamix-csi-driver/service/utils.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-csi-driver/src/pkg/utils/fsutils.go
  ee/modules/030-cloud-provider-dynamix/images/dynamix-csi-driver/werf.inc.yaml
Labels: area/cloud-provider, type/dependencies, go

#9686 Backport: [docs] fix getting started doc for vSphere
  docs/site/_includes/getting_started/vsphere/STEP_ENV.md
  docs/site/_includes/getting_started/vsphere/STEP_ENV_RU.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, auto, backported

#9579 [prometheus] Increase aggregation-proxy timeout
  modules/300-prometheus/templates/aggregating-proxy/configmap.yaml
Labels: area/monitoring, status/ok-to-test

#9667 [cloud-provider-zvirt] Allow volume expansion
  ee/modules/030-cloud-provider-zvirt/hooks/discover.go
  ee/modules/030-cloud-provider-zvirt/openapi/values.yaml
  ee/modules/030-cloud-provider-zvirt/templates/csi/controller.yaml
  ee/modules/030-cloud-provider-zvirt/templates/csi/storage-classes.yaml
Labels: area/cloud-provider, status/backport, go, area/api-change

#9691 Backport: [cloud-provider-zvirt] Allow volume expansion
  ee/modules/030-cloud-provider-zvirt/hooks/discover.go
  ee/modules/030-cloud-provider-zvirt/openapi/values.yaml
  ee/modules/030-cloud-provider-zvirt/templates/csi/controller.yaml
  ee/modules/030-cloud-provider-zvirt/templates/csi/storage-classes.yaml
Labels: auto, backported

#9636 [docs] Changing the path in examples for modules
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, skip/documentation-validation

#9693 Backport: [docs] Changing the path in examples for modules
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#9534 [cloud-provider-dynamix] Add Cluster API Provider Dynamix
  candi/openapi/node_group.yaml
  ee/candi/cloud-providers/dynamix/openapi/instance_class.yaml
  ee/modules/030-cloud-provider-dynamix/candi
  ee/modules/030-cloud-provider-dynamix/capi/cluster.yaml
  ee/modules/030-cloud-provider-dynamix/capi/instance-class.checksum
  ee/modules/030-cloud-provider-dynamix/capi/machine-template.yaml
  ee/modules/030-cloud-provider-dynamix/crds/external/dynamixclusters.yaml
  ee/modules/030-cloud-provider-dynamix/crds/external/dynamixmachines.yaml
  ee/modules/030-cloud-provider-dynamix/crds/external/dynamixmachinetemplates.yaml
  ee/modules/030-cloud-provider-dynamix/hooks/ensure_external_crds.go
  ee/modules/030-cloud-provider-dynamix/hooks/ensure_instance_class.go
  ee/modules/030-cloud-provider-dynamix/images/capd-controller-manager/werf.inc.yaml
  ee/modules/030-cloud-provider-dynamix/templates/capd-controller-manager/deployment.yaml
  ee/modules/030-cloud-provider-dynamix/templates/capd-controller-manager/rbac-for-us.yaml
  ee/modules/030-cloud-provider-dynamix/templates/registration.yaml
  ee/modules/040-node-manager/capi/dynamix
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/040-node-manager/hooks/internal/autoscaler/capacity/capacity.go
  modules/040-node-manager/hooks/set_instance_class_ng_usage.go
  modules/040-node-manager/templates/cluster-autoscaler/deployment.yaml
  modules/040-node-manager/templates/node-group/_capi_bootstrap_secret.tpl
  testing/library/images_tags_generated.go
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: area/cloud-provider, area/testing, area/cluster-and-infrastructure, go, area/api-change

#9701 Backport: [testing] Fallback to curl if wget is not available on e2e tests
  testing/cloud_layouts/script.sh
Labels: auto, backported

#9508 [deckhouse-controller] Improved debugging information
  deckhouse-controller/pkg/debug/debug.go
Labels: area/core, go

#9577 [docs]Proofreading rbac-2.0-docs
  modules/140-user-authz/crds/authorizationrule.yaml
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/140-user-authz/docs/CONFIGURATION_RU.md
  modules/140-user-authz/docs/FAQ_RU.md
  modules/140-user-authz/docs/README.md
  modules/140-user-authz/docs/README_RU.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: area/docs, status/backport

#9710 Backport: [docs]Proofreading rbac-2.0-docs
  modules/140-user-authz/crds/authorizationrule.yaml
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/140-user-authz/docs/CONFIGURATION_RU.md
  modules/140-user-authz/docs/FAQ_RU.md
  modules/140-user-authz/docs/README.md
  modules/140-user-authz/docs/README_RU.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: auto, backported

#9711 Backport: [docs] Add links at use cases for mirror commands to d8 cli doc
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
Labels: auto, backported

#9712 [docs] Update source for the Deckhouse CLI version.
  docs/documentation/_includes/d8-cli-install/content.liquid
  docs/documentation/werf-git-section.inc.yaml
  docs/documentation/werf.yaml
  modules/810-documentation/images/web/werf.inc.yaml
Labels: area/docs

#9713 Backport: [docs] Update source for the Deckhouse CLI version.
  docs/documentation/_includes/d8-cli-install/content.liquid
  docs/documentation/werf-git-section.inc.yaml
  docs/documentation/werf.yaml
  modules/810-documentation/images/web/werf.inc.yaml
Labels: auto, backported

#9715 [dhctl] Revert ensure required namespaces while resources creation
  dhctl/pkg/kubernetes/actions/resources/resources.go
Labels: area/cli, go

#9719 Backport: [secret-copier] Delete argocd labels from copied secrets
  modules/600-secret-copier/hooks/handler.go
Labels: auto, backported

#9720 Backport: [deckhouse-controller] Improved debugging information
  deckhouse-controller/pkg/debug/debug.go
Labels: auto, backported

#9718 Changelog v1.63.9
  CHANGELOG/CHANGELOG-v1.63.9.yml
  CHANGELOG/CHANGELOG-v1.63.md
Labels: changelog, auto, status/backport

#9721 Backport: Changelog v1.63.9
  CHANGELOG/CHANGELOG-v1.63.9.yml
  CHANGELOG/CHANGELOG-v1.63.md
Labels: auto, backported

#9740 [node-manager] Remove huge unnecessary secret from tests
  modules/040-node-manager/hooks/lock_bashible_apiserver_test.go
Labels: area/cluster-and-infrastructure, go

#9694 [dynamix] expansion csi
  ee/modules/030-cloud-provider-dynamix/hooks/discover.go
  ee/modules/030-cloud-provider-dynamix/openapi/values.yaml
  ee/modules/030-cloud-provider-dynamix/templates/csi/controller.yaml
  ee/modules/030-cloud-provider-dynamix/templates/csi/storage-classes.yaml
Labels: area/cloud-provider, go, area/api-change

#9741 Backport: [deckhouse] Check helm capabilities before applying validatingadmissionpolicies and bindings
  dhctl/go.mod
  dhctl/go.sum
  ee/modules/160-multitenancy-manager/templates/validation.yaml
  go.mod
  go.sum
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/README.md
  helm_lib/charts/deckhouse_lib_helm/templates/_api_version_and_kind.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_csi_node.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_kind_exists.tpl
  modules/002-deckhouse/templates/validation.yaml
  modules/040-node-manager/templates/machine-controller-manager/validation.yaml
  modules/150-user-authn/templates/validation.yaml
  modules/402-ingress-nginx/templates/validation.yaml
Labels: auto, backported

#9733 [node-manager] fix cleanup command for nodes managed by caps-сontroller.
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/cleanup.go
Labels: area/cluster-and-infrastructure, skip/e2e, go

#9743 Backport: [candi] catch error in bootstrap-network script
  candi/cloud-providers/aws/bashible/bootstrap-networks.sh.tpl
  candi/cloud-providers/yandex/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/openstack/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vcd/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vsphere/bashible/bootstrap-networks.sh.tpl
Labels: auto, backported

#9586 [caps] Fix error handling in the SSH client
  modules/040-node-manager/images/caps-controller-manager/src/internal/ssh/ssh.go
Labels: area/cluster-and-infrastructure, go

#9672 [node-manager] fix caps bootstrap multiple nodes
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/bootstrap.go
  modules/040-node-manager/templates/node-group/_static_or_hybrid_script.tpl
Labels: area/cluster-and-infrastructure, status/backport, go

#9744 Backport: [node-manager] fix caps bootstrap multiple nodes
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/bootstrap.go
  modules/040-node-manager/templates/node-group/_static_or_hybrid_script.tpl
Labels: auto, backported

#9688 [dhctl] Added repo check to validateRegistryDockerCfg
  dhctl/pkg/config/base_test.go
  dhctl/pkg/config/meta.go
  dhctl/pkg/config/meta_test.go
  dhctl/pkg/config/mocks/1-InitConfiguration.yml
  dhctl/pkg/preflight/registry_test.go
Labels: area/cli, go

#9749 Backport: Update Dockerfile
  ee/modules/500-operator-trivy/images/trivy/Dockerfile
Labels: auto, backported

#9570 cloud-data-discoverer Improve error handling
  go_lib/cloud-data/reconciler.go
Labels: area/core, skip/e2e, go

#9689 [dhctl] Upon editing configuration secrets, create them if they are missing from cluster
  dhctl/pkg/operations/secretedit.go
Labels: area/cli, go

#9652 [runtime-audit-engine] allow falco to match multiple rules on same event
  ee/modules/650-runtime-audit-engine/templates/configmap.yaml
Labels: area/security

#9724 [metallb] Restore AddressPool CRD of MetalLB module
  ee/modules/010-metallb-crd/crds/addresspools.yaml
  global-hooks/migrate/delete-metallb-deprecated-crd.go
  global-hooks/migrate/delete-metallb-deprecated-crd_test.go
Labels: area/core, skip/documentation-validation, status/backport, go, area/api-change

#9750 Backport: [metallb] Restore AddressPool CRD of MetalLB module
  ee/modules/010-metallb-crd/crds/addresspools.yaml
  global-hooks/migrate/delete-metallb-deprecated-crd.go
  global-hooks/migrate/delete-metallb-deprecated-crd_test.go
Labels: auto, backported

#9753 Backport: [istio] deleting kiali-rewrite obsolete ingress with migration hook
  modules/110-istio/hooks/migration_delete_obsolete_ingress.go
  modules/110-istio/hooks/migration_delete_obsolete_ingress_test.go
Labels: auto, backported

#9776 [testing] Switch to d8-curl from Deckhouse package in e2e test script
  testing/cloud_layouts/script.sh
Labels: area/testing, status/backport, e2e/use/k8s/1.30

#9777 Backport: [testing] Switch to d8-curl from Deckhouse package in e2e test script
  testing/cloud_layouts/script.sh
Labels: auto, backported

#9679 [dhctl] Break circle and output error in log on check dependencies if get first error
  dhctl/pkg/operations/bootstrap/steps.go
Labels: area/cli, go

#9773 D8EtcdExcessiveDatabaseGrowth alert fix
  modules/040-control-plane-manager/monitoring/prometheus-rules/etcd-maintenance.yaml
  testing/cloud_layouts/script.d/wait_cluster_ready/test_alerts.sh
Labels: area/testing, area/cluster-and-infrastructure, status/backport

#9780 Backport: D8EtcdExcessiveDatabaseGrowth alert fix
  modules/040-control-plane-manager/monitoring/prometheus-rules/etcd-maintenance.yaml
  testing/cloud_layouts/script.d/wait_cluster_ready/test_alerts.sh
Labels: auto, backported

#9735 [extended-monitoring] bump image-availability-exporter version
  modules/340-extended-monitoring/images/image-availability-exporter/Dockerfile
Labels: area/monitoring, status/ok-to-test

#9782 [global-hooks] Fix cni secret migration
  global-hooks/migrate/migrate_d8_cni_secret.go
  global-hooks/migrate/migrate_d8_cni_secret_test.go
Labels: status/backport

#9783 [testing] Retry test requirements if it was failed
  testing/cloud_layouts/script.sh
Labels: status/backport

#9785 Backport: [global-hooks] Fix cni secret migration
  global-hooks/migrate/migrate_d8_cni_secret.go
  global-hooks/migrate/migrate_d8_cni_secret_test.go
Labels: auto, backported

#9786 Backport: [testing] Retry test requirements if it was failed
  testing/cloud_layouts/script.sh
Labels: auto, backported

#9787 Backport: [testing] Retry test requirements if it was failed
  testing/cloud_layouts/script.sh
Labels: auto, backported

#9703 [monitoring] Remove leftover secret from temporary Grafana 10 domain certificate
  go.mod
  modules/300-prometheus/hooks/delete_certificate_secret.go
  modules/300-prometheus/templates/grafana/certificate.yaml
Labels: area/monitoring, type/dependencies, area/core, status/ok-to-test, go

#9794 [testing] Fix static upgrade deckhouse e2e
  testing/cloud_layouts/script.sh
Labels: area/testing, status/backport

#9795 Backport: [testing] Fix static upgrade deckhouse e2e
  testing/cloud_layouts/script.sh
Labels: auto, backported

#9796 Backport: [testing] Fix static upgrade deckhouse e2e
  testing/cloud_layouts/script.sh
Labels: auto, backported

#9622 [deckhouse] get rid of rbacgen
  tools/rbacgen/README.md
  tools/rbacgen/main.go
  tools/rbacgen/manager.go
Labels: area/testing, go

#9775 [docs] Changing code block with example in maxStreamsPerUser
  modules/462-loki/openapi/config-values.yaml
  modules/462-loki/openapi/doc-ru-config-values.yaml
Labels: status/backport, area/logs, area/api-change

#9807 Backport: [docs] Changing code block with example in maxStreamsPerUser
  modules/462-loki/openapi/config-values.yaml
  modules/462-loki/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#9774 [cni-cilium] Applying the ModuleConfig changes immediately
  modules/021-cni-cilium/hooks/set_cilium_mode.go
Labels: area/network, go

#9808 Backport: [cni-cilium] Applying the ModuleConfig changes immediately
  modules/021-cni-cilium/hooks/set_cilium_mode.go
Labels: auto, backported

#9736 [docs][gs] Update notes for bare metal
  docs/site/_includes/getting_started/global/partials/NOTICES.liquid
Labels: area/docs

#9809 [site] Proxy d8-cli checksum files
  docs/site/.werf/nginx.conf
Labels: area/docs

#9805 [global-hooks] Fix migrate cni secret migration for updating existing secret
  global-hooks/migrate/migrate_d8_cni_secret.go
Labels: area/core, status/backport, go

#9810 Backport: [global-hooks] Fix migrate cni secret migration for updating existing secret
  global-hooks/migrate/migrate_d8_cni_secret.go
Labels: auto, backported

#9653 [docs] Refactor table with supported versions of Linux
  docs/documentation/_data/i18n.yml
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_data/version_map_addition.yml
  docs/documentation/_includes/SUPPORTED_VERSIONS.liquid
  docs/documentation/css/supported_versions.css
  docs/site/images/icons/note.svg
Labels: area/docs, skip/documentation-validation, status/backport

#9813 Backport: [docs] Refactor table with supported versions of Linux
  docs/documentation/_data/i18n.yml
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_data/version_map_addition.yml
  docs/documentation/_includes/SUPPORTED_VERSIONS.liquid
  docs/documentation/css/supported_versions.css
  docs/site/images/icons/note.svg
Labels: auto, backported

#9768 [l2-load-balancer] Deprecating the module
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  docs/documentation/_data/deckhouse-alerts.yml
  ee/modules/381-l2-load-balancer/hooks/alert_module_deprecated.go
  ee/modules/381-l2-load-balancer/hooks/alert_module_deprecated_test.go
  ee/modules/381-l2-load-balancer/hooks/disable_requirements_flag.go
  ee/modules/381-l2-load-balancer/hooks/disable_requirements_flag_test.go
  ee/modules/381-l2-load-balancer/monitoring/prometheus-rules/services.yaml
  ee/modules/381-l2-load-balancer/requirements/check.go
  ee/modules/381-l2-load-balancer/requirements/check_test.go
  testing/cloud_layouts/Static/configuration.tpl.yaml
  testing/cloud_layouts/Static/resources.tpl.yaml
Labels: area/testing, area/docs, area/core, status/backport, go

#9814 Backport: [l2-load-balancer] Deprecating the module
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  docs/documentation/_data/deckhouse-alerts.yml
  ee/modules/381-l2-load-balancer/hooks/alert_module_deprecated.go
  ee/modules/381-l2-load-balancer/hooks/alert_module_deprecated_test.go
  ee/modules/381-l2-load-balancer/hooks/disable_requirements_flag.go
  ee/modules/381-l2-load-balancer/hooks/disable_requirements_flag_test.go
  ee/modules/381-l2-load-balancer/monitoring/prometheus-rules/services.yaml
  ee/modules/381-l2-load-balancer/requirements/check.go
  ee/modules/381-l2-load-balancer/requirements/check_test.go
  testing/cloud_layouts/Static/configuration.tpl.yaml
  testing/cloud_layouts/Static/resources.tpl.yaml
Labels: auto, backported

#9816 Backport: [node-manager] Remove huge unnecessary secret from tests
  modules/040-node-manager/hooks/lock_bashible_apiserver_test.go
Labels: auto, backported

#9817 Backport: [dhctl] Fix wrong skip flag for CheckLocalhostDomain preflight check
  dhctl/pkg/preflight/preflight.go
Labels: auto, backported

#9133 Changelog v1.64.0
  CHANGELOG/CHANGELOG-v1.64.0.yml
  CHANGELOG/CHANGELOG-v1.64.md
Labels: changelog, auto, status/backport

#9818 Backport: Changelog v1.64.0
  CHANGELOG/CHANGELOG-v1.64.0.yml
  CHANGELOG/CHANGELOG-v1.64.md
Labels: auto, backported

#9781 [candi][vcd] Add PVC disks to ignore_changes lifecycle
  ee/candi/cloud-providers/vcd/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/vcd/terraform-modules/static-node/main.tf
Labels: area/cloud-provider, area/cluster-and-infrastructure, status/backport

#9831 Backport: [candi][vcd] Add PVC disks to ignore_changes lifecycle
  ee/candi/cloud-providers/vcd/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/vcd/terraform-modules/static-node/main.tf
Labels: auto, backported
