Repository deckhouse/deckhouse, pull requests merged in 2024-05, with the labels that each got.

#8276 [registry-packages-proxy] Fix panic
  go_lib/registry-packages-proxy/registry/default_client.go
Labels: area/core, go

#8281 [dhctl] Reduce bootstrap logs
  dhctl/pkg/kubernetes/actions/deckhouse/log.go
  dhctl/pkg/log/logger.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-abort.go
  dhctl/pkg/operations/bootstrap/steps.go
  dhctl/pkg/system/ssh/frontend/upload-script.go
Labels: area/cli, go

#8291 [flant-integration] fix resources counting and add tests
  ee/be/modules/600-flant-integration/images/flant-pricing/hooks/node_group_resources_metrics.py
  ee/be/modules/600-flant-integration/images/flant-pricing/hooks/node_group_resources_metrics_test.py
Labels: status/backport, python

#8294 Backport: [flant-integration] fix resources counting and add tests
  ee/be/modules/600-flant-integration/images/flant-pricing/hooks/node_group_resources_metrics.py
  ee/be/modules/600-flant-integration/images/flant-pricing/hooks/node_group_resources_metrics_test.py
Labels: auto, backported

#8262 [site] Fixed width of the left sidebar
  docs/site/css/docs.scss
Labels: area/docs

#8269 [ceph-csi] Update FAQ
  modules/031-ceph-csi/docs/FAQ.md
  modules/031-ceph-csi/docs/FAQ_RU.md
Labels: area/docs, area/storage

#8204 [cloud-provider-vsphere][discovery] Update govmomi lib to fix discoverer for vSphere 8.0.2
  ee/modules/030-cloud-provider-vsphere/images/cloud-data-discoverer/go.mod
  ee/modules/030-cloud-provider-vsphere/images/cloud-data-discoverer/go.sum
Labels: area/cloud-provider, type/dependencies

#8238 [docs] Deckhouse conf update
  docs/documentation/pages/DECKHOUSE_CONFIGURE.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_RU.md
Labels: area/docs, status/ok-to-test

#8233 [docs] Use CAPS for bare metal
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
Labels: area/docs

#8277 [dhctl] One flag for resources and configs in bootstrap command
  dhctl/cmd/dhctl/commands/config.go
  dhctl/cmd/dhctl/commands/deckhouse.go
  dhctl/pkg/app/app.go
  dhctl/pkg/app/bootstrap.go
  dhctl/pkg/config/base.go
  dhctl/pkg/config/base_test.go
  dhctl/pkg/config/bashible.go
  dhctl/pkg/config/deckhouse_config_test.go
  dhctl/pkg/config/load.go
  dhctl/pkg/config/meta.go
  dhctl/pkg/config/validation.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-abort.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-base-infra.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-bashible.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-deckhouse.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/template/resources.go
  dhctl/pkg/template/resources_test.go
  dhctl/pkg/template/testdata/resources/empties_docs.yaml
  testing/cloud_layouts/GCP/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/GCP/WithoutNAT/resources.yaml
  testing/cloud_layouts/Static/resources.tpl.yaml
  testing/cloud_layouts/script.sh
Labels: area/testing, area/cli, go

#8235 [deckhouse-controller] hotfix
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/updater.go
  deckhouse-controller/pkg/docs/updater.go
Labels: area/docs, area/core, go, e2e/use/k8s/1.29

#8305 [docs][gs][guides] Update requirements
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  docs/site/pages/guides/PRODUCTION.md
  docs/site/pages/guides/PRODUCTION_RU.md
Labels: area/docs

#8304 [upmeter] Agent: fix 'limit reached' error
  modules/500-upmeter/images/upmeter/Makefile
  modules/500-upmeter/images/upmeter/go.mod
  modules/500-upmeter/images/upmeter/go.sum
  modules/500-upmeter/images/upmeter/pkg/agent/scheduler/scheduler.go
  modules/500-upmeter/images/upmeter/pkg/check/series.go
  modules/500-upmeter/images/upmeter/pkg/check/series_test.go
  modules/500-upmeter/images/upmeter/pkg/probe/run/id.go
  modules/500-upmeter/images/upmeter/pkg/server/api/episode_test.go
  modules/500-upmeter/images/upmeter/pkg/server/remotewrite/syncer.go
Labels: area/monitoring, type/dependencies, go, e2e/use/k8s/1.27

#8302 [prometheus-operator] Add TLS-assets for email and webhook receivers into secret which mount into alertmanager and revert to global alertmanagerConfiguration
  modules/200-operator-prometheus/images/prometheus-operator/patches/003_alertmanager_tls_assets.patch
  modules/200-operator-prometheus/images/prometheus-operator/patches/README.md
  modules/300-prometheus/templates/alertmanager/internal/alertmanager.yaml
Labels: area/monitoring, status/backport

#8310 Backport: [prometheus-operator] Add TLS-assets for email and webhook receivers into secret which mount into alertmanager and revert to global alertmanagerConfiguration
  modules/200-operator-prometheus/images/prometheus-operator/patches/003_alertmanager_tls_assets.patch
  modules/200-operator-prometheus/images/prometheus-operator/patches/README.md
  modules/300-prometheus/templates/alertmanager/internal/alertmanager.yaml
Labels: auto, backported

#8275 [deckhouse] enable ha only if clusterIsBootstrapped
  modules/002-deckhouse/templates/deployment.yaml
Labels: area/core, status/backport

#8311 Backport: [deckhouse] enable ha only if clusterIsBootstrapped
  modules/002-deckhouse/templates/deployment.yaml
Labels: auto, backported

#8296 [dhctl] Print invalid YAML documents
  dhctl/pkg/config/base.go
Labels: area/cli, e2e/cluster/failed, go

#8293 Changelog v1.59.9
  CHANGELOG/CHANGELOG-v1.59.9.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: changelog, auto, status/backport

#8321 [flant-integration ] Fix build
  ee/be/modules/600-flant-integration/images/flant-pricing/hooks/node_group_resources_metrics_test.py
  ee/be/modules/600-flant-integration/images/flant-pricing/werf.inc.yaml
Labels: status/backport, python

#8323 Backport: [flant-integration ] Fix build
  ee/be/modules/600-flant-integration/images/flant-pricing/hooks/node_group_resources_metrics_test.py
  ee/be/modules/600-flant-integration/images/flant-pricing/werf.inc.yaml
Labels: auto, backported

#8322 Changelog v1.59.10
  CHANGELOG/CHANGELOG-v1.59.10.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: changelog, auto, status/backport

#8324 Backport: Changelog v1.59.10
  CHANGELOG/CHANGELOG-v1.59.10.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: auto, backported

#8307 [documentation] Fixing an issue with renaming files
  docs/site/backends/docs-builder/upload.go
Labels: area/docs, go

#8313 FE Edition Okagent Migration to DOP
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  ee/fe/modules/500-okmeter/.build.yaml
  ee/fe/modules/500-okmeter/hooks/update_agent_image.go
  ee/fe/modules/500-okmeter/templates/daemonset.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: area/testing, area/core, go

#8312 [candi] add preflight check containerd restart
  candi/bashible/common-steps/node-group/033_restart_containerd_if_needed.sh.tpl
Labels: area/cluster-and-infrastructure

#8329 Nginx ingress underscores in headers fix
  modules/402-ingress-nginx/templates/controller/configmap.yaml
Labels: area/network

#8334 [cloud-provider-vcd] Translate docs
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-instance_class.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, area/api-change

#8309 [candi](openstack) Set the default bastion rootDiskSize to 50 gigabytes
  ee/candi/cloud-providers/openstack/docs/LAYOUTS.md
  ee/candi/cloud-providers/openstack/docs/LAYOUTS_RU.md
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, skip/documentation-validation, area/api-change

#7922 [monitoring] del mention of docker from UnsupportedContainerRuntimeVersion
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/generic/cri-version.tpl
Labels: area/monitoring, skip/e2e

#8107 [dhctl][kube-dns][deckhouse] add extra publicdomaintemplate check
  dhctl/pkg/app/preflight.go
  dhctl/pkg/preflight/domain.go
  dhctl/pkg/preflight/preflight.go
  modules/002-deckhouse/webhooks/validating/public-domain-template
  modules/042-kube-dns/webhooks/validating/cluster-domain-alias
Labels: area/cluster-and-infrastructure, area/cli, go

#8175 [cloud-provider-azure] add tags support for azure additional storageclasses
  modules/030-cloud-provider-azure/hooks/storage_classes.go
  modules/030-cloud-provider-azure/hooks/storage_classes_test.go
  modules/030-cloud-provider-azure/openapi/config-values.yaml
  modules/030-cloud-provider-azure/openapi/doc-ru-config-values.yaml
  modules/030-cloud-provider-azure/templates/csi/storage-classes.yaml
Labels: area/cloud-provider, e2e/cluster/failed, go, area/api-change

#8325 [docs] Actual examples
  docs/documentation/pages/DECKHOUSE_CONFIGURE.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_RU.md
Labels: area/docs

#8346 [docs][user-authn][deckhouse] Update FAQ
  modules/002-deckhouse/docs/FAQ.md
  modules/002-deckhouse/docs/FAQ_RU.md
  modules/150-user-authn/docs/FAQ.md
  modules/150-user-authn/docs/FAQ_RU.md
Labels: area/auth, area/docs

#8347 Backport: [docs][user-authn][deckhouse] Update FAQ
  modules/002-deckhouse/docs/FAQ.md
  modules/002-deckhouse/docs/FAQ_RU.md
  modules/150-user-authn/docs/FAQ.md
  modules/150-user-authn/docs/FAQ_RU.md
Labels: auto, backported

#8348 Backport: [docs][user-authn][deckhouse] Update FAQ
  modules/002-deckhouse/docs/FAQ.md
  modules/002-deckhouse/docs/FAQ_RU.md
  modules/150-user-authn/docs/FAQ.md
  modules/150-user-authn/docs/FAQ_RU.md
Labels: auto, backported

#8349 [docs] Minor documentation updates
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs

#8350 Backport: [docs] Minor documentation updates
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#8343 [okmeter] Restart okagent pods on API token change
  ee/fe/modules/500-okmeter/templates/daemonset.yaml
  modules/500-okmeter/templates/daemonset.yaml
Labels: area/monitoring

#8301 [deckhouse-controller] refactor controllers with common manager
  .golangci.yaml
  deckhouse-controller/cmd/deckhouse-controller/start.go
  deckhouse-controller/crds/deckhouse-release.yaml
  deckhouse-controller/crds/doc-ru-deckhouse-release.yaml
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/deckhouse_release.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_release.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/register.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/zz_generated.deepcopy.go
  deckhouse-controller/pkg/client/clientset/versioned/doc.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/deckhouse.io_client.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/deckhouserelease.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/fake/fake_deckhouse.io_client.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/fake/fake_deckhouserelease.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/generated_expansion.go
  deckhouse-controller/pkg/client/informers/externalversions/deckhouse.io/v1alpha1/deckhouserelease.go
  deckhouse-controller/pkg/client/informers/externalversions/deckhouse.io/v1alpha1/interface.go
  deckhouse-controller/pkg/client/informers/externalversions/generic.go
  deckhouse-controller/pkg/client/listers/deckhouse.io/v1alpha1/deckhouserelease.go
  deckhouse-controller/pkg/client/listers/deckhouse.io/v1alpha1/expansion_generated.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/loader.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/module_downloader.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/golden/simple.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/golden/with-annotation.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/simple.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/with-annotation.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/updater.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/source/policy_test.go
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/init.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/ms-with-registry.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/with-policy.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/init.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/ms-with-registry.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/policies/multi.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/with-policy.yaml
  deckhouse-controller/pkg/controller/module-controllers/utils/layer.go
  deckhouse-controller/pkg/docs/updater.go
  go.mod
  go.sum
  go_lib/dependency/dependency.go
  go_lib/updater/release.go
  go_lib/updater/updater.go
  modules/002-deckhouse/hooks/check_deckhouse_release.go
  modules/002-deckhouse/hooks/cleanup_deckhouse_releases.go
  modules/002-deckhouse/hooks/internal/updater/release.go
  modules/002-deckhouse/hooks/internal/updater/updater.go
  modules/002-deckhouse/hooks/update_deckhouse_image.go
  modules/040-node-manager/hooks/handle_node_templates.go
  modules/150-user-authn/hooks/generate_crowd_basic_auth_proxy_cert.go
Labels: area/auth, area/docs, area/cluster-and-infrastructure, type/dependencies, area/core, skip/e2e, go, area/api-change

#7979 [monitoring-applications] Fix rabbitmq dashboard
  ee/fe/modules/340-monitoring-applications/applications/rabbitmq/grafana-dashboards/rabbitmq.json
  ee/fe/modules/340-monitoring-applications/applications/rabbitmq/prometheus-rules/rabbitmq.yaml
Labels: status/ok-to-test

#8353 [istio] Making the `trafficRedirectionSetupMode` module parameter public
  modules/110-istio/docs/EXAMPLES.md
  modules/110-istio/docs/EXAMPLES_RU.md
  modules/110-istio/hooks/discovery_cni_mode.go
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/openapi/doc-ru-config-values.yaml
  modules/110-istio/template_tests/module_test.go
  modules/110-istio/templates/cni/configmap.yaml
  modules/110-istio/templates/cni/daemonset.yaml
  modules/110-istio/templates/cni/podmonitor.yaml
  modules/110-istio/templates/cni/rbac-for-us.yaml
  modules/110-istio/templates/control-plane/iop.yaml
Labels: area/network, area/docs, status/backport, go, area/api-change

#8358 Backport: [istio] Making the `trafficRedirectionSetupMode` module parameter public
  modules/110-istio/docs/EXAMPLES.md
  modules/110-istio/docs/EXAMPLES_RU.md
  modules/110-istio/hooks/discovery_cni_mode.go
  modules/110-istio/openapi/config-values.yaml
  modules/110-istio/openapi/doc-ru-config-values.yaml
  modules/110-istio/template_tests/module_test.go
  modules/110-istio/templates/cni/configmap.yaml
  modules/110-istio/templates/cni/daemonset.yaml
  modules/110-istio/templates/cni/podmonitor.yaml
  modules/110-istio/templates/cni/rbac-for-us.yaml
  modules/110-istio/templates/control-plane/iop.yaml
Labels: auto, backported

#8359 Backport: Changelog v1.59.11
  CHANGELOG/CHANGELOG-v1.59.11.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: auto, backported

#8362 [testing][docs] Fix spellchecker linter and update dictionary
  tools/spelling/check_diff.sh
  tools/spelling/dictionaries/dev_OPS.dic
  tools/spelling/wordlist
Labels: area/testing, skip/no-cyrillic-validation

#8367 Backport: [global-hooks] Trigger k8s_upgrade migration when k8s version changes
  global-hooks/migrate/migrate_k8s_upgrade.go
Labels: auto, backported

#8364 [dhctl] mirror: backport fix for pulling of additional modules images from d8-cli
  dhctl/pkg/operations/mirror/layouts.go
Labels: area/cli, status/backport, go

#8369 Backport: [dhctl] mirror: backport fix for pulling of additional modules images from d8-cli
  dhctl/pkg/operations/mirror/layouts.go
Labels: auto, backported

#8363 [istio] Optimizing matrix tests
  modules/110-istio/openapi/values.yaml
Labels: area/network, skip/documentation-validation, status/backport, area/api-change

#8366 Changelog v1.59.11
  CHANGELOG/CHANGELOG-v1.59.11.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: changelog, auto, status/backport

#8344 [docs] Fix etcdctl command from pods
  modules/040-control-plane-manager/docs/internal/ETCD_RECOVERY.md
  modules/040-control-plane-manager/monitoring/prometheus-rules/etcd-maintenance.yaml
Labels: area/docs, area/cluster-and-infrastructure, skip/documentation-validation

#8303 [dhctl] Add debug log file for all commands
  dhctl/cmd/dhctl/main.go
  dhctl/pkg/app/app.go
  dhctl/pkg/log/logger.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/terraform/executor.go
  dhctl/pkg/util/cache/cache.go
  modules/040-terraform-manager/templates/terraform-auto-converger/deployment.yaml
  modules/040-terraform-manager/templates/terraform-state-exporter/deployment.yaml
  testing/cloud_layouts/script.sh
Labels: area/testing, area/cluster-and-infrastructure, area/cli, go

#8379 [ci][docs] Skip building documentation on some cases
  .github/workflow_templates/build-and-test_dev.yml
  .github/workflow_templates/build-and-test_pre-release.yml
  .github/workflow_templates/build-and-test_release.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
Labels: skip/e2e

#8351 Module documentation controller
  deckhouse-controller/crds/doc-ru-module-documentation.yaml
  deckhouse-controller/crds/module-documentation.yaml
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_documentation.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/register.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/zz_generated.deepcopy.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/deckhouse.io_client.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/fake/fake_deckhouse.io_client.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/fake/fake_moduledocumentation.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/generated_expansion.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/moduledocumentation.go
  deckhouse-controller/pkg/client/informers/externalversions/deckhouse.io/v1alpha1/interface.go
  deckhouse-controller/pkg/client/informers/externalversions/deckhouse.io/v1alpha1/moduledocumentation.go
  deckhouse-controller/pkg/client/informers/externalversions/generic.go
  deckhouse-controller/pkg/client/listers/deckhouse.io/v1alpha1/expansion_generated.go
  deckhouse-controller/pkg/client/listers/deckhouse.io/v1alpha1/moduledocumentation.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/docs_controller.go
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/docs_controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/empty-dir.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/empty-dir.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/keep-actual.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/no-builders.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/one-builder.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/render-new-checksum.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/render-new-lease.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/render-new-version.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/two-builders-partially.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/two-builders.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/keep-actual.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/no-builders.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/one-builder.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/render-new-checksum.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/render-new-lease.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/render-new-version.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/two-builders-partially.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/two-builders.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
  deckhouse-controller/pkg/docs/updater.go
  go_lib/dependency/dependency.go
  modules/040-node-manager/images/bashible-apiserver/pkg/generated/clientset/versioned/doc.go
Labels: area/docs, area/cluster-and-infrastructure, area/core, skip/documentation-validation, go, area/api-change

#8218 [addon-operator] Get rid of ValuesValidator structure
  Makefile
  deckhouse-controller/pkg/controller/loader.go
  deckhouse-controller/pkg/controller/models/module.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/updater.go
  go.mod
  go.sum
  go_lib/deckhouse-config/module-manager/test/mock/mock.go
  go_lib/deckhouse-config/module_manager.go
  go_lib/deckhouse-config/service.go
  go_lib/deckhouse-config/validator.go
  go_lib/deckhouse-config/validator_test.go
  testing/helm/init.go
  testing/hooks/init.go
  testing/library/values_validation/values_validation.go
  testing/library/values_validation/values_validation_test.go
  testing/matrix/linter/controller.go
  testing/matrix/linter/openapi.go
  testing/matrix/linter/run.go
  testing/openapi_cases/library.go
  testing/openapi_cases/openapi_cases_test.go
Labels: area/testing, type/dependencies, area/core, go, e2e/use/k8s/1.28

#8333 [deckhouse] use Golang 1.22 for deckhouse-controller
  .github/ci_templates/build.yml
  .github/ci_templates/tests.yml
  .github/workflow_templates/validation.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/validation.yml
  .golangci.yaml
  candi/image_versions.yml
  deckhouse-controller/cmd/deckhouse-controller/main.go
  deckhouse-controller/pkg/apis/deckhouse.io/validation/validate_module.go
  deckhouse-controller/pkg/apis/deckhouse.io/validation/validate_module_config.go
  deckhouse-controller/pkg/debug-server/debug_server.go
  deckhouse-controller/pkg/debug/debug.go
  deckhouse-controller/pkg/debug/module_enable.go
  deckhouse-controller/pkg/debug/requirements.go
  deckhouse-controller/pkg/helpers/register.go
  ee/modules/030-cloud-provider-openstack/hooks/openstack_cluster_configuration.go
  ee/modules/030-cloud-provider-vsphere/hooks/vsphere_cluster_configuration.go
  global-hooks/discovery/kubernetes_version_test.go
  global-hooks/enable_cloud_provider_test.go
  go.mod
  go_lib/dependency/requirements/requirements_test.go
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
  modules/040-control-plane-manager/hooks/etcd_quota_backend_bytes_test.go
  modules/301-prometheus-metrics-adapter/hooks/custom_metrics_events_test.go
  modules/460-log-shipper/hooks/internal/vector/transform/filter.go
  testing/library/sandbox_runner/runner.go
  testing/matrix/linter/rules/modules/crds.go
  testing/matrix/linter/rules/modules/images.go
  testing/openapi_validation/library.go
  tools/go.mod
  werf.yaml
Labels: area/monitoring, area/cloud-provider, area/testing, area/cluster-and-infrastructure, type/dependencies, area/core, skip/copyright-validation, skip/documentation-validation, skip/no-cyrillic-validation, area/logs, go, skip/release-requirements

#8387 [deckhouse] Fix linter loopvar
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  modules/040-node-manager/hooks/handle_node_templates.go
  modules/150-user-authn/hooks/generate_crowd_basic_auth_proxy_cert.go
Labels: area/auth, area/cluster-and-infrastructure, area/core, go

#8370 [deckhouse-controller] fix mpo sync in HA mode
  deckhouse-controller/pkg/controller/module-controllers/downloader/module_downloader.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
Labels: area/core, go

#8373 [operator-trivy] add storageClass field
  ee/modules/500-operator-trivy/hooks/storage_class_change.go
  ee/modules/500-operator-trivy/hooks/storage_class_change_test.go
  ee/modules/500-operator-trivy/openapi/config-values.yaml
  ee/modules/500-operator-trivy/openapi/doc-ru-config-values.yaml
Labels: area/security, go, area/api-change

#8377 [okmeter] Use nodeSelector and tolerations from ModuleConfig
  ee/fe/modules/500-okmeter/templates/daemonset.yaml
  modules/500-okmeter/templates/daemonset.yaml
Labels: area/monitoring

#8395 [testing] Update spellchecker dictionary
  tools/spelling/check_diff.sh
  tools/spelling/dictionaries/dev_OPS.dic
  tools/spelling/spell_check.sh
  tools/spelling/wordlist
Labels: area/testing

#8394 [istio] Setting trafficRedirectionSetupMode to InitContainer by default
  modules/110-istio/openapi/config-values.yaml
Labels: area/network, skip/documentation-validation, status/backport, area/api-change

#8396 Changelog v1.59.12
  CHANGELOG/CHANGELOG-v1.59.12.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: changelog, auto, status/backport

#8398 Backport: Changelog v1.59.12
  CHANGELOG/CHANGELOG-v1.59.12.yml
  CHANGELOG/CHANGELOG-v1.59.md
Labels: auto, backported

#8382 [cloud-provider-yandex] Add SSD IO DiskType to YIC
  candi/cloud-providers/yandex/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/yandex/openapi/instance_class.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, area/api-change

#8391 [docs][vcd] Fix getting started configs
  docs/site/_includes/getting_started/vcd/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/vcd/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/vcd/partials/resources.yml.minimal.inc
Labels: area/docs

#8402 [deckhouse] use global.discovery where possible
  modules/002-deckhouse/templates/deployment.yaml
  modules/470-chrony/template_tests/module_test.go
  modules/470-chrony/templates/daemonset.yaml
Labels: area/cluster-and-infrastructure, go

#8407 Backport: [docs] Update the table of supported registries to include new OCI artifact types
  docs/documentation/_data/supported_versions.yml
Labels: auto, backported

#8054 [node-manager] Errors when adding a NodeUser do not block bashible
  candi/bashible/common-steps/node-group/000_add_node_users.sh.tpl
  modules/040-node-manager/crds/doc-ru-nodeuser.yaml
  modules/040-node-manager/crds/nodeuser.yaml
  modules/040-node-manager/hooks/clear_nodeuser_errors.go
  modules/040-node-manager/hooks/internal/v1/node_user.go
  modules/040-node-manager/templates/bashible/rbac-for-us.yaml
  modules/040-node-manager/webhooks/validating/node_user
Labels: area/cluster-and-infrastructure, skip/documentation-validation, go, area/api-change

#8342 [Prometheus][memcached] Adding drop for memcached metrics
  modules/300-prometheus/templates/memcached/servicemonitor.yaml
Labels: area/monitoring, status/ok-to-test

#8072 [prometheus] Fix URLs to the documentation in the Grafana home panel
  modules/300-prometheus/images/grafana-v10/grafana_home_dashboard.json
Labels: area/monitoring

#7816 [monitoring-kubernetes] grafana-dashboards edit node
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/kubernetes-cluster/nodes/node.json
Labels: area/monitoring

#8385 [ingress-nginx] replace status with formatted status in logs
  modules/402-ingress-nginx/images/controller-1-6/patches/README.md
  modules/402-ingress-nginx/images/controller-1-6/patches/nginx-tmpl.patch
  modules/402-ingress-nginx/images/controller-1-6/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-1-9/patches/README.md
  modules/402-ingress-nginx/images/controller-1-9/patches/nginx-tmpl.patch
  modules/402-ingress-nginx/images/controller-1-9/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/templates/controller/configmap.yaml
Labels: area/network

#8413 [ingress-nginx] digital ocean k8s upgrade, update timeoutSeconds
  modules/402-ingress-nginx/templates/kruise/webhook.yaml
Labels: area/network

#7903 [user-authn] fixed if idTokenTTL > keepUsersLoggedInFor
  modules/150-user-authn/template_tests/authenticator_test.go
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
Labels: area/auth, go, e2e/use/k8s/1.27

#8389 Fix metallb dashboard
  ee/se/modules/380-metallb/monitoring/grafana-dashboards/kubernetes-cluster/metallb.json
Labels: area/monitoring, area/network

#8378 [docs] bump d8 CLI version, update mirroring docs to use d8 cli instead of dhctl mirror
  candi/bashible/common-steps/all/006_fetch_registry_packages.sh.tpl
  candi/bashible/common-steps/all/062_install_kubelet_and_his_friends.sh.tpl
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  modules/007-registrypackages/images/d8/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/docs, area/cluster-and-infrastructure, area/core, skip/documentation-validation, go

#8415 [monitoring] Fix caching of empty results with aggregation proxy
  modules/300-prometheus/templates/aggregating-proxy/configmap.yaml
Labels: area/monitoring

#8423 [testing] Update documentation spellchecker linter
  Makefile
  tools/spelling/clean-files.py
  tools/spelling/dictionaries/dev_OPS.dic
  tools/spelling/filesignore
  tools/spelling/spell_check.sh
  tools/spelling/spell_lib.sh
  tools/spelling/wordlist
Labels: area/testing, python

#8432 [testing] Fix linter for spellchecking documentation
  tools/spelling/clean-files.py
Labels: area/testing, python

#8430 [deckhouse] Fix stale errors for ModuleSource
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_source.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/with-error.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/with-stale-error.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/with-error.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/with-stale-error.yaml
Labels: area/core, skip/documentation-validation, status/backport, skip/e2e, go

#8434 Backport: [deckhouse] Fix stale errors for ModuleSource
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_source.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/with-error.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/with-stale-error.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/with-error.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/with-stale-error.yaml
Labels: auto, backported

#8401 [user-authn] Validate that Group is linked to an existing User / Group
  modules/150-user-authn/.helmignore
  modules/150-user-authn/Makefile
  modules/150-user-authn/webhooks/lib/python/dist/deckhouse-0.4.9.dist-info/INSTALLER
  modules/150-user-authn/webhooks/lib/python/dist/deckhouse-0.4.9.dist-info/LICENSE
  modules/150-user-authn/webhooks/lib/python/dist/deckhouse-0.4.9.dist-info/METADATA
  modules/150-user-authn/webhooks/lib/python/dist/deckhouse-0.4.9.dist-info/RECORD
  modules/150-user-authn/webhooks/lib/python/dist/deckhouse-0.4.9.dist-info/REQUESTED
  modules/150-user-authn/webhooks/lib/python/dist/deckhouse-0.4.9.dist-info/WHEEL
  modules/150-user-authn/webhooks/lib/python/dist/deckhouse/__init__.py
  modules/150-user-authn/webhooks/lib/python/dist/deckhouse/conversions.py
  modules/150-user-authn/webhooks/lib/python/dist/deckhouse/hook.py
  modules/150-user-authn/webhooks/lib/python/dist/deckhouse/kubernetes.py
  modules/150-user-authn/webhooks/lib/python/dist/deckhouse/metrics.py
  modules/150-user-authn/webhooks/lib/python/dist/deckhouse/module.py
  modules/150-user-authn/webhooks/lib/python/dist/deckhouse/storage.py
  modules/150-user-authn/webhooks/lib/python/dist/deckhouse/validations.py
  modules/150-user-authn/webhooks/lib/python/dist/deckhouse/values.py
  modules/150-user-authn/webhooks/lib/python/dist/dictdiffer-0.9.0.dist-info/AUTHORS
  modules/150-user-authn/webhooks/lib/python/dist/dictdiffer-0.9.0.dist-info/INSTALLER
  modules/150-user-authn/webhooks/lib/python/dist/dictdiffer-0.9.0.dist-info/LICENSE
  modules/150-user-authn/webhooks/lib/python/dist/dictdiffer-0.9.0.dist-info/METADATA
  modules/150-user-authn/webhooks/lib/python/dist/dictdiffer-0.9.0.dist-info/RECORD
  modules/150-user-authn/webhooks/lib/python/dist/dictdiffer-0.9.0.dist-info/WHEEL
  modules/150-user-authn/webhooks/lib/python/dist/dictdiffer-0.9.0.dist-info/top_level.txt
  modules/150-user-authn/webhooks/lib/python/dist/dictdiffer/__init__.py
  modules/150-user-authn/webhooks/lib/python/dist/dictdiffer/conflict.py
  modules/150-user-authn/webhooks/lib/python/dist/dictdiffer/merge.py
  modules/150-user-authn/webhooks/lib/python/dist/dictdiffer/resolve.py
  modules/150-user-authn/webhooks/lib/python/dist/dictdiffer/testing.py
  modules/150-user-authn/webhooks/lib/python/dist/dictdiffer/unify.py
  modules/150-user-authn/webhooks/lib/python/dist/dictdiffer/utils.py
  modules/150-user-authn/webhooks/lib/python/dist/dictdiffer/version.py
  modules/150-user-authn/webhooks/lib/python/dist/dotmap-1.3.30.dist-info/INSTALLER
  modules/150-user-authn/webhooks/lib/python/dist/dotmap-1.3.30.dist-info/LICENSE.txt
  modules/150-user-authn/webhooks/lib/python/dist/dotmap-1.3.30.dist-info/METADATA
  modules/150-user-authn/webhooks/lib/python/dist/dotmap-1.3.30.dist-info/RECORD
  modules/150-user-authn/webhooks/lib/python/dist/dotmap-1.3.30.dist-info/REQUESTED
  modules/150-user-authn/webhooks/lib/python/dist/dotmap-1.3.30.dist-info/WHEEL
  modules/150-user-authn/webhooks/lib/python/dist/dotmap-1.3.30.dist-info/top_level.txt
  modules/150-user-authn/webhooks/lib/python/dist/dotmap/__init__.py
  modules/150-user-authn/webhooks/lib/python/dist/dotmap/test.py
  modules/150-user-authn/webhooks/validating/group
  modules/150-user-authn/webhooks/validating/group.py
  modules/150-user-authn/webhooks/validating/user
  modules/150-user-authn/webhooks/validating/user.py
Labels: area/auth, skip/copyright-validation, python

#8425 [deckhouse] Source for doubled module
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/loader.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
Labels: area/core, status/backport, go

#8437 Backport: [deckhouse] Source for doubled module
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/loader.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
Labels: auto, backported

#8420 [dhctl] feat(dhctl-for-commander): server improvements
  dhctl/go.mod
  dhctl/go.sum
  dhctl/pkg/server/api/dhctl/abort.proto
  dhctl/pkg/server/api/dhctl/bootstrap.proto
  dhctl/pkg/server/api/dhctl/check.proto
  dhctl/pkg/server/api/dhctl/common.proto
  dhctl/pkg/server/api/dhctl/converge.proto
  dhctl/pkg/server/api/dhctl/destroy.proto
  dhctl/pkg/server/api/dhctl/import.proto
  dhctl/pkg/server/pb/dhctl/abort.pb.go
  dhctl/pkg/server/pb/dhctl/bootstrap.pb.go
  dhctl/pkg/server/pb/dhctl/check.pb.go
  dhctl/pkg/server/pb/dhctl/common.pb.go
  dhctl/pkg/server/pb/dhctl/converge.pb.go
  dhctl/pkg/server/pb/dhctl/destroy.pb.go
  dhctl/pkg/server/pb/dhctl/import.pb.go
  dhctl/pkg/server/pkg/fsm/fsm.go
  dhctl/pkg/server/pkg/fsm/fsm_test.go
  dhctl/pkg/server/pkg/interceptors/interceptors.go
  dhctl/pkg/server/pkg/logger/logger.go
  dhctl/pkg/server/proxy/proxy.go
  dhctl/pkg/server/rpc/dhctl/abort.go
  dhctl/pkg/server/rpc/dhctl/bootstrap.go
  dhctl/pkg/server/rpc/dhctl/check.go
  dhctl/pkg/server/rpc/dhctl/converge.go
  dhctl/pkg/server/rpc/dhctl/destroy.go
  dhctl/pkg/server/rpc/dhctl/dhctl.go
  dhctl/pkg/server/rpc/dhctl/import.go
  dhctl/pkg/server/server/server.go
Labels: type/dependencies, area/cli, go

#8439 [docs] kube-bench apply without yq
  modules/002-deckhouse/docs/FAQ.md
  modules/002-deckhouse/docs/FAQ_RU.md
Labels: area/docs, status/backport

#8446 Backport: [docs] kube-bench apply without yq
  modules/002-deckhouse/docs/FAQ.md
  modules/002-deckhouse/docs/FAQ_RU.md
Labels: auto, backported

#8435 [chore] Update K8s patch versions
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: area/kubernetes, area/testing, area/cluster-and-infrastructure, status/backport, go, e2e/use/k8s/1.27, e2e/use/k8s/1.28, e2e/use/k8s/1.29

#8447 Backport: [chore] Update K8s patch versions
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: auto, backported

#7860 Changelog v1.60.0
  CHANGELOG/CHANGELOG-v1.60.0.yml
  CHANGELOG/CHANGELOG-v1.60.md
Labels: changelog, auto, status/backport

#8448 Backport: Changelog v1.60.0
  CHANGELOG/CHANGELOG-v1.60.0.yml
  CHANGELOG/CHANGELOG-v1.60.md
Labels: auto, backported

#8444 [deckhouse-controller] fix error message
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/loader.go
  go.mod
  go.sum
Labels: type/dependencies, area/core, go

#8449 [testing] change instance_types e2e eks
  testing/cloud_layouts/EKS/WithoutNAT/infra.tf.tpl
Labels: area/testing

#8454 [snapshot-controller] Added csi-nfs support in volume snapshot controller,
  modules/045-snapshot-controller/docs/README.md
  modules/045-snapshot-controller/docs/README_RU.md
  modules/045-snapshot-controller/enabled
Labels: area/docs, status/backport, area/storage

#8459 Backport: [snapshot-controller] Added csi-nfs support in volume snapshot controller,
  modules/045-snapshot-controller/docs/README.md
  modules/045-snapshot-controller/docs/README_RU.md
  modules/045-snapshot-controller/enabled
Labels: auto, backported

#8460 [chore][docs] Add rewrite rules for kube-proxy module documentation
  docs/documentation/.werf/nginx.conf
Labels: area/docs, status/backport

#8461 Backport: [chore][docs] Add rewrite rules for kube-proxy module documentation
  docs/documentation/.werf/nginx.conf
Labels: auto, backported

#8405 [docs] Add full etcd restoration guide
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, skip/documentation-validation, status/backport

#8468 Backport: [docs] Add full etcd restoration guide
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#8469 [testing] Minor spellchecking linter fix
  tools/spelling/check_diff.sh
Labels: area/testing

#8472 Backport: [docs] Add full etcd restoration guide
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#8154 [deckhouse] Set default k8s version to '1.27'
  dhctl/pkg/config/base.go
  global-hooks/discovery/cluster_configuration_test.go
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
  release.yaml
Labels: area/cluster-and-infrastructure, area/cli, area/core, skip/documentation-validation, skip/e2e, e2e/use/k8s/1.25, go

#8476 Backport: [docs][control-plane-manager] Fix typo in FAQ.md link for restoring s…
  modules/040-control-plane-manager/docs/FAQ.md
Labels: auto, backported

#8467 [deckhouse-controller] add tests to MPO controller
  deckhouse-controller/pkg/controller/module-controllers/downloader/module_downloader.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/pulloverrideController/deleted.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/pulloverrideController/no-deckhouse-node-name-annotation.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/pulloverrideController/old-deckhouse-node-name-annotation.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/pulloverrideController/up-to-date-no-weight.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/pulloverrideController/up-to-date.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/simple.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/with-annotation.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/simple.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/with-annotation.yaml
Labels: area/core, go

#8458 [bashible] Fix incorrect condition for hostname discovery
  candi/bashible/bashible.sh.tpl
  candi/bashible/bootstrap.sh.tpl
  candi/bashible/common-steps/node-group/003_set_short_hostname.sh.tpl
Labels: area/cluster-and-infrastructure

#8481 [dhctl] chore(dhctl-for-commander): renamed and moved import operation to commander/attach
  dhctl/Makefile
  dhctl/pkg/log/logger.go
  dhctl/pkg/log/options.go
  dhctl/pkg/operations/commander/attach/attach_result.go
  dhctl/pkg/operations/commander/attach/attacher.go
  dhctl/pkg/operations/commander/attach/phases.go
  dhctl/pkg/operations/phases/phases.go
  dhctl/pkg/server/api/dhctl/attach_commander.proto
  dhctl/pkg/server/api/dhctl/dhctl.proto
  dhctl/pkg/server/pb/dhctl/attach_commander.pb.go
  dhctl/pkg/server/pb/dhctl/dhctl.pb.go
  dhctl/pkg/server/pb/dhctl/dhctl_grpc.pb.go
  dhctl/pkg/server/pb/dhctl/import.pb.go
  dhctl/pkg/server/rpc/dhctl/attach_commander.go
  dhctl/pkg/server/rpc/dhctl/dhctl.go
Labels: area/cli, go

#8474 [runtime-audit-engine] Fix path to FalcoAuditRules converter
  ee/modules/650-runtime-audit-engine/docs/FAQ.md
  ee/modules/650-runtime-audit-engine/docs/FAQ_RU.md
  ee/modules/650-runtime-audit-engine/hack/far-converter/README.md
Labels: area/security, area/docs, status/backport

#8486 Backport: [runtime-audit-engine] Fix path to FalcoAuditRules converter
  ee/modules/650-runtime-audit-engine/docs/FAQ.md
  ee/modules/650-runtime-audit-engine/docs/FAQ_RU.md
  ee/modules/650-runtime-audit-engine/hack/far-converter/README.md
Labels: auto, backported

#8487 [docs][control-plane-manager] Fix typos
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: status/backport

#8488 Backport: [docs][control-plane-manager] Fix typos
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#8489 Backport: [docs][control-plane-manager] Fix typos
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#8409 [dhctl] Preflight check ssh credentials before start instalations
  dhctl/pkg/app/preflight.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/preflight/preflight.go
  dhctl/pkg/preflight/ssh.go
  dhctl/pkg/system/ssh/frontend/waiting.go
Labels: area/cli, go

#8383 [candi] set LC_NUMERIC in configure kubelet
  candi/bashible/bashible.sh.tpl
Labels: area/cluster-and-infrastructure

#8462 Try to fix an incorrectly formatted SSH private key before using it
  dhctl/pkg/system/ssh/frontend/agent.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/ssh/ssh.go
Labels: area/cluster-and-infrastructure, area/cli, go

#8445 [user-authn] Remove misleading info from docs
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: area/auth, area/docs, status/backport

#8440 [monitoring-ping] Skip nodes without addresses
  modules/340-monitoring-ping/hooks/discover_targets.go
  modules/340-monitoring-ping/hooks/discover_targets_test.go
Labels: area/monitoring, status/backport, go

#8495 Backport: [monitoring-ping] Skip nodes without addresses
  modules/340-monitoring-ping/hooks/discover_targets.go
  modules/340-monitoring-ping/hooks/discover_targets_test.go
Labels: auto, backported

#8499 Backport: [bashible] Fix incorrect condition for hostname discovery
  candi/bashible/bashible.sh.tpl
  candi/bashible/bootstrap.sh.tpl
  candi/bashible/common-steps/node-group/003_set_short_hostname.sh.tpl
Labels: auto, backported

#8497 [docs] Add sds-node-configurator metric port
  docs/documentation/_data/deckhouse-ports.yml
Labels: area/docs, status/backport

#8297 [node-manager] "When is a node reboot required?" added to FAQ
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport, skip/e2e

#8505 Backport: [node-manager] "When is a node reboot required?" added to FAQ
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: auto, backported

#8485 [deckhouse-controller] execute opertator.Start() after preflight checks
  deckhouse-controller/cmd/deckhouse-controller/start.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
  go.mod
  go.sum
Labels: type/dependencies, area/core, go

#8433 Changelog v1.60.1
  CHANGELOG/CHANGELOG-v1.60.1.yml
  CHANGELOG/CHANGELOG-v1.60.md
Labels: changelog, auto, status/backport

#8507 Backport: Changelog v1.60.1
  CHANGELOG/CHANGELOG-v1.60.1.yml
  CHANGELOG/CHANGELOG-v1.60.md
Labels: auto, backported

#8508 Changelog v1.60.1
  CHANGELOG/CHANGELOG-v1.60.md
Labels: changelog, auto, status/backport

#8510 Backport: Changelog v1.60.1
  CHANGELOG/CHANGELOG-v1.60.md
Labels: auto, backported

#8504 [deckhouse-controller] fix doc updates for deployed realses
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
Labels: area/core, go

#8441 [user-authn] unify usage enabled instead of enable
  modules/150-user-authn/docs/FAQ.md
  modules/150-user-authn/docs/FAQ_RU.md
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
  modules/150-user-authn/hooks/discover_apiserver_endpoints.go
  modules/150-user-authn/hooks/discover_apiserver_endpoints_test.go
  modules/150-user-authn/hooks/discover_publish_api_cert_test.go
  modules/150-user-authn/hooks/generate_crowd_basic_auth_proxy_cert.go
  modules/150-user-authn/hooks/generate_crowd_basic_auth_proxy_cert_test.go
  modules/150-user-authn/hooks/generate_selfsigned_ca.go
  modules/150-user-authn/hooks/generate_selfsigned_ca_test.go
  modules/150-user-authn/openapi/config-values.yaml
  modules/150-user-authn/openapi/conversions/conversions_test.go
  modules/150-user-authn/openapi/conversions/v2.yaml
  modules/150-user-authn/openapi/doc-ru-config-values.yaml
  modules/150-user-authn/template_tests/copy_custom_certificate_test.go
  modules/150-user-authn/template_tests/kubeconfig_generator_config_test.go
  modules/150-user-authn/template_tests/publish_api_test.go
  modules/150-user-authn/template_tests/values.yaml
  modules/150-user-authn/templates/_helpers.tpl
  modules/150-user-authn/templates/crowd-basic-auth-proxy/_helpers.tpl
  modules/150-user-authn/templates/dex/oauth2client.yaml
  modules/150-user-authn/templates/kubeconfig-generator/certificate.yaml
  modules/150-user-authn/templates/kubeconfig-generator/config.yaml
  modules/150-user-authn/templates/kubeconfig-generator/deployment.yaml
  modules/150-user-authn/templates/kubeconfig-generator/ingress.yaml
  modules/150-user-authn/templates/kubeconfig-generator/oauth2client.yaml
  modules/150-user-authn/templates/kubeconfig-generator/service.yaml
  modules/150-user-authn/templates/kubernetes-api/custom-certificate.yaml
  modules/150-user-authn/templates/kubernetes-api/issuer.yaml
  modules/150-user-authn/templates/kubernetes-api/kubernetes-api.yaml
  modules/150-user-authn/templates/kubernetes-api/service.yaml
Labels: area/auth, area/docs, go, area/api-change

#8523 Backport: [documentation] Fix search and access to assets
  modules/810-documentation/templates/configmap.yaml
Labels: auto, backported

#8361 [dhctl] Preflight check registry credentials
  dhctl/pkg/app/preflight.go
  dhctl/pkg/preflight/preflight.go
  dhctl/pkg/preflight/registry.go
Labels: area/cli, go

#8451 [cloud-provider-vcd][discovery] Support multiple VCD API versions
  ee/candi/cloud-providers/vcd/layouts/standard/base-infrastructure/outputs.tf
  ee/candi/cloud-providers/vcd/openapi/cloud_discovery_data.yaml
  ee/modules/030-cloud-provider-vcd/candi
  ee/modules/030-cloud-provider-vcd/hooks/discover.go
  ee/modules/030-cloud-provider-vcd/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-vcd/images/vcd-csi-plugin-legacy/patches/01-add-iops-calculation.patch
  ee/modules/030-cloud-provider-vcd/images/vcd-csi-plugin-legacy/patches/README.md
  ee/modules/030-cloud-provider-vcd/images/vcd-csi-plugin-legacy/werf.inc.yaml
  ee/modules/030-cloud-provider-vcd/openapi/values.yaml
  ee/modules/030-cloud-provider-vcd/template_tests/module_test.go
  ee/modules/030-cloud-provider-vcd/templates/csi/controller.yaml
  ee/modules/030-cloud-provider-vcd/templates/csi/storage-classes.yaml
  go_lib/cloud-data/apis/v1alpha1/vcd_cloud_provider_discovery_data.go
  testing/library/images_tags_generated.go
  testing/openapi_validation/validators/enum.go
Labels: area/cloud-provider, area/testing, area/cluster-and-infrastructure, area/core, skip/documentation-validation, status/backport, go, area/api-change

#8527 Backport: [cloud-provider-vcd][discovery] Support multiple VCD API versions
  ee/candi/cloud-providers/vcd/layouts/standard/base-infrastructure/outputs.tf
  ee/candi/cloud-providers/vcd/openapi/cloud_discovery_data.yaml
  ee/modules/030-cloud-provider-vcd/candi
  ee/modules/030-cloud-provider-vcd/hooks/discover.go
  ee/modules/030-cloud-provider-vcd/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-vcd/images/vcd-csi-plugin-legacy/patches/01-add-iops-calculation.patch
  ee/modules/030-cloud-provider-vcd/images/vcd-csi-plugin-legacy/patches/README.md
  ee/modules/030-cloud-provider-vcd/images/vcd-csi-plugin-legacy/werf.inc.yaml
  ee/modules/030-cloud-provider-vcd/openapi/values.yaml
  ee/modules/030-cloud-provider-vcd/template_tests/module_test.go
  ee/modules/030-cloud-provider-vcd/templates/csi/controller.yaml
  ee/modules/030-cloud-provider-vcd/templates/csi/storage-classes.yaml
  go_lib/cloud-data/apis/v1alpha1/vcd_cloud_provider_discovery_data.go
  testing/library/images_tags_generated.go
  testing/openapi_validation/validators/enum.go
Labels: auto, backported

#8503 [kube-dns] fix cluster-domain-alias webhook
  modules/042-kube-dns/webhooks/validating/cluster-domain-alias
Labels: area/cluster-and-infrastructure, status/backport, skip/e2e

#8533 Backport: [kube-dns] fix cluster-domain-alias webhook
  modules/042-kube-dns/webhooks/validating/cluster-domain-alias
Labels: auto, backported

#8482 [dhctl] chore(dhctl-for-commander): renamed and moved import operation to commander/attach
  dhctl/Makefile
  dhctl/pkg/log/logger.go
  dhctl/pkg/log/options.go
  dhctl/pkg/operations/commander/attach/attach_result.go
  dhctl/pkg/operations/commander/attach/attacher.go
  dhctl/pkg/operations/commander/attach/phases.go
  dhctl/pkg/operations/phases/phases.go
  dhctl/pkg/server/api/dhctl/attach_commander.proto
  dhctl/pkg/server/api/dhctl/dhctl.proto
  dhctl/pkg/server/pb/dhctl/attach_commander.pb.go
  dhctl/pkg/server/pb/dhctl/dhctl.pb.go
  dhctl/pkg/server/pb/dhctl/dhctl_grpc.pb.go
  dhctl/pkg/server/pb/dhctl/import.pb.go
  dhctl/pkg/server/rpc/dhctl/attach_commander.go
  dhctl/pkg/server/rpc/dhctl/dhctl.go
Labels: area/cli, status/backport, go

#8535 Backport: [dhctl] chore(dhctl-for-commander): renamed and moved import operation to commander/attach
  dhctl/Makefile
  dhctl/pkg/log/logger.go
  dhctl/pkg/log/options.go
  dhctl/pkg/operations/commander/attach/attach_result.go
  dhctl/pkg/operations/commander/attach/attacher.go
  dhctl/pkg/operations/commander/attach/phases.go
  dhctl/pkg/operations/phases/phases.go
  dhctl/pkg/server/api/dhctl/attach_commander.proto
  dhctl/pkg/server/api/dhctl/dhctl.proto
  dhctl/pkg/server/pb/dhctl/attach_commander.pb.go
  dhctl/pkg/server/pb/dhctl/dhctl.pb.go
  dhctl/pkg/server/pb/dhctl/dhctl_grpc.pb.go
  dhctl/pkg/server/pb/dhctl/import.pb.go
  dhctl/pkg/server/rpc/dhctl/attach_commander.go
  dhctl/pkg/server/rpc/dhctl/dhctl.go
Labels: auto, backported

#8522 Changelog v1.60.2
  CHANGELOG/CHANGELOG-v1.60.2.yml
  CHANGELOG/CHANGELOG-v1.60.md
Labels: changelog, auto, status/backport

#8536 Backport: Changelog v1.60.2
  CHANGELOG/CHANGELOG-v1.60.2.yml
  CHANGELOG/CHANGELOG-v1.60.md
Labels: auto, backported

#8537 [registry-packages-proxy] Don't replace the system CA certificates if a custom CA is used
  candi/bashible/bashbooster/50_registrypackages.sh
  go_lib/registry-packages-proxy/registry/default_client.go
Labels: area/cluster-and-infrastructure, area/core, status/backport, go

#8544 Backport: [registry-packages-proxy] Don't replace the system CA certificates if a custom CA is used
  candi/bashible/bashbooster/50_registrypackages.sh
  go_lib/registry-packages-proxy/registry/default_client.go
Labels: auto, backported

#8541 [cloud-provider-vcd] Remove required from discoveryData property
  ee/modules/030-cloud-provider-vcd/openapi/values.yaml
Labels: area/cloud-provider, status/backport, area/api-change

#8545 Backport: [cloud-provider-vcd] Remove required from discoveryData property
  ee/modules/030-cloud-provider-vcd/openapi/values.yaml
Labels: auto, backported

#8543 Changelog v1.60.2
  CHANGELOG/CHANGELOG-v1.60.2.yml
  CHANGELOG/CHANGELOG-v1.60.md
Labels: changelog, auto, status/backport

#8546 Backport: Changelog v1.60.2
  CHANGELOG/CHANGELOG-v1.60.2.yml
  CHANGELOG/CHANGELOG-v1.60.md
Labels: auto, backported

#8490 [caps] Write the SSH private key to a temporary file
  modules/040-node-manager/images/caps-controller-manager/src/internal/ssh/ssh.go
Labels: area/cluster-and-infrastructure, go

#8548 fix(dhctl-for-commander): fix incorrect state passed to first on-phase call of bootstrap action
  dhctl/pkg/operations/phases/phased_execution_context.go
Labels: area/cli, go

#7713 [gs][bm] Add GS for zVirt
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/images/030-cloud-provider-zvirt/network/zvirt-standard.svg
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_01.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_02.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_03.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_04.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_05.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_07.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_08.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_09.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_01.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_02.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_03.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_04.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_05.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_07.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_08.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_09.png
  docs/documentation/werf-git-section.inc.yaml
  docs/site/_data/getting_started/data.yaml
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  docs/site/_includes/getting_started/zvirt/STEP_ENV.md
  docs/site/_includes/getting_started/zvirt/STEP_ENV_RU.md
  docs/site/_includes/getting_started/zvirt/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/zvirt/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/zvirt/partials/resources.yml.minimal.inc
  docs/site/images/icons/platforms/zvirt.png
  ee/candi/cloud-providers/zvirt/docs/CLUSTER_CONFIGURATION.md
  ee/candi/cloud-providers/zvirt/docs/CLUSTER_CONFIGURATION_RU.md
  ee/candi/cloud-providers/zvirt/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/zvirt/docs/ENVIRONMENT_RU.md
  ee/candi/cloud-providers/zvirt/docs/LAYOUTS.md
  ee/candi/cloud-providers/zvirt/docs/LAYOUTS_RU.md
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/doc-ru-cluster_configuration.yaml
  ee/modules/030-cloud-provider-zvirt/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-zvirt/docs/CONFIGURATION_RU.md
  ee/modules/030-cloud-provider-zvirt/docs/CR.md
  ee/modules/030-cloud-provider-zvirt/docs/CR_RU.md
  ee/modules/030-cloud-provider-zvirt/docs/FAQ.md
  ee/modules/030-cloud-provider-zvirt/docs/FAQ_RU.md
  ee/modules/030-cloud-provider-zvirt/docs/README.md
  ee/modules/030-cloud-provider-zvirt/docs/README_RU.md
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, skip/documentation-validation, status/backport, area/api-change

#8553 Backport: [gs][bm] Add GS for zVirt
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/images/030-cloud-provider-zvirt/network/zvirt-standard.svg
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_01.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_02.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_03.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_04.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_05.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_07.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_08.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_09.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_01.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_02.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_03.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_04.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_05.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_07.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_08.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_09.png
  docs/documentation/werf-git-section.inc.yaml
  docs/site/_data/getting_started/data.yaml
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  docs/site/_includes/getting_started/zvirt/STEP_ENV.md
  docs/site/_includes/getting_started/zvirt/STEP_ENV_RU.md
  docs/site/_includes/getting_started/zvirt/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/zvirt/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/zvirt/partials/resources.yml.minimal.inc
  docs/site/images/icons/platforms/zvirt.png
  ee/candi/cloud-providers/zvirt/docs/CLUSTER_CONFIGURATION.md
  ee/candi/cloud-providers/zvirt/docs/CLUSTER_CONFIGURATION_RU.md
  ee/candi/cloud-providers/zvirt/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/zvirt/docs/ENVIRONMENT_RU.md
  ee/candi/cloud-providers/zvirt/docs/LAYOUTS.md
  ee/candi/cloud-providers/zvirt/docs/LAYOUTS_RU.md
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/doc-ru-cluster_configuration.yaml
  ee/modules/030-cloud-provider-zvirt/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-zvirt/docs/CONFIGURATION_RU.md
  ee/modules/030-cloud-provider-zvirt/docs/CR.md
  ee/modules/030-cloud-provider-zvirt/docs/CR_RU.md
  ee/modules/030-cloud-provider-zvirt/docs/FAQ.md
  ee/modules/030-cloud-provider-zvirt/docs/FAQ_RU.md
  ee/modules/030-cloud-provider-zvirt/docs/README.md
  ee/modules/030-cloud-provider-zvirt/docs/README_RU.md
Labels: auto, backported

#8554 Backport: [gs][bm] Add GS for zVirt
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/images/030-cloud-provider-zvirt/network/zvirt-standard.svg
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_01.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_02.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_03.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_04.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_05.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_07.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_08.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_09.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_01.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_02.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_03.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_04.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_05.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_07.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_08.png
  docs/documentation/images/030-cloud-provider-zvirt/template/step_env_en_09.png
  docs/documentation/werf-git-section.inc.yaml
  docs/site/_data/getting_started/data.yaml
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  docs/site/_includes/getting_started/zvirt/STEP_ENV.md
  docs/site/_includes/getting_started/zvirt/STEP_ENV_RU.md
  docs/site/_includes/getting_started/zvirt/partials/config.ru.yml.standard.ee.inc
  docs/site/_includes/getting_started/zvirt/partials/config.yml.standard.ee.inc
  docs/site/_includes/getting_started/zvirt/partials/resources.yml.minimal.inc
  docs/site/images/icons/platforms/zvirt.png
  ee/candi/cloud-providers/zvirt/docs/CLUSTER_CONFIGURATION.md
  ee/candi/cloud-providers/zvirt/docs/CLUSTER_CONFIGURATION_RU.md
  ee/candi/cloud-providers/zvirt/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/zvirt/docs/ENVIRONMENT_RU.md
  ee/candi/cloud-providers/zvirt/docs/LAYOUTS.md
  ee/candi/cloud-providers/zvirt/docs/LAYOUTS_RU.md
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/doc-ru-cluster_configuration.yaml
  ee/modules/030-cloud-provider-zvirt/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-zvirt/docs/CONFIGURATION_RU.md
  ee/modules/030-cloud-provider-zvirt/docs/CR.md
  ee/modules/030-cloud-provider-zvirt/docs/CR_RU.md
  ee/modules/030-cloud-provider-zvirt/docs/FAQ.md
  ee/modules/030-cloud-provider-zvirt/docs/FAQ_RU.md
  ee/modules/030-cloud-provider-zvirt/docs/README.md
  ee/modules/030-cloud-provider-zvirt/docs/README_RU.md
Labels: auto, backported
