Repository deckhouse/deckhouse, pull requests merged in 2024-03, with the labels that each got.

#7673 [docs] added info for clientSecret Azure layout
  candi/cloud-providers/azure/docs/ENVIRONMENT.md
  candi/cloud-providers/azure/docs/ENVIRONMENT_RU.md
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  docs/site/_includes/getting_started/azure/STEP_ENV.md
  docs/site/_includes/getting_started/azure/STEP_ENV_RU.md
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, skip/documentation-validation, status/backport, area/api-change

#7679 Backport: [docs] added info for clientSecret Azure layout
  candi/cloud-providers/azure/docs/ENVIRONMENT.md
  candi/cloud-providers/azure/docs/ENVIRONMENT_RU.md
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  docs/site/_includes/getting_started/azure/STEP_ENV.md
  docs/site/_includes/getting_started/azure/STEP_ENV_RU.md
Labels: auto, backported

#7666 [ingress-nginx] add needed libraries to final image
  modules/402-ingress-nginx/docs/testing/README.md
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
  werf.yaml
Labels: area/network, area/docs, area/core, skip/documentation-validation, status/backport

#7681 Backport: [ingress-nginx] add needed libraries to final image
  modules/402-ingress-nginx/docs/testing/README.md
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
  werf.yaml
Labels: auto, backported

#7651 Changelog v1.58.2
  CHANGELOG/CHANGELOG-v1.58.2.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: changelog, auto, status/backport

#7682 Backport: Changelog v1.58.2
  CHANGELOG/CHANGELOG-v1.58.2.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: auto, backported

#7685 feat(dhctl-for-commander): improve validation error messages
  dhctl/pkg/config/validation.go
  dhctl/pkg/config/validation_test.go
Labels: area/cli, go

#7686 [core] add ca-certificates to alt-based images
  modules/460-log-shipper/images/vector/werf.inc.yaml
  modules/500-openvpn/images/ovpn-admin/werf.inc.yaml
  werf.yaml
Labels: area/security, area/core, status/backport, area/logs

#7689 Backport: [core] add ca-certificates to alt-based images
  modules/460-log-shipper/images/vector/werf.inc.yaml
  modules/500-openvpn/images/ovpn-admin/werf.inc.yaml
  werf.yaml
Labels: auto, backported

#7688 Changelog v1.58.2
  CHANGELOG/CHANGELOG-v1.58.2.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: changelog, auto, status/backport

#7690 Backport: Changelog v1.58.2
  CHANGELOG/CHANGELOG-v1.58.2.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: auto, backported

#7674 [docs][ru] Documentation review
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  modules/002-deckhouse/docs/FAQ_RU.md
  modules/002-deckhouse/docs/README_RU.md
  modules/021-cni-cilium/docs/README_RU.md
  modules/040-control-plane-manager/docs/README_RU.md
  modules/200-operator-prometheus/docs/README_RU.md
  modules/300-prometheus/docs/README_RU.md
  modules/301-prometheus-metrics-adapter/docs/USAGE_RU.md
  modules/340-monitoring-custom/docs/README_RU.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
  modules/500-cilium-hubble/docs/CONFIGURATION_RU.md
  modules/500-cilium-hubble/docs/README_RU.md
  modules/500-cilium-hubble/openapi/doc-ru-config-values.yaml
  modules/500-dashboard/docs/CONFIGURATION_RU.md
  modules/500-dashboard/docs/README_RU.md
  modules/500-dashboard/openapi/doc-ru-config-values.yaml
  modules/500-okmeter/docs/README_RU.md
  modules/500-okmeter/openapi/doc-ru-config-values.yaml
  modules/500-openvpn/docs/CONFIGURATION_RU.md
  modules/500-openvpn/docs/README_RU.md
  modules/500-openvpn/openapi/doc-ru-config-values.yaml
  modules/500-upmeter/docs/CONFIGURATION_RU.md
  modules/500-upmeter/docs/README_RU.md
  modules/500-upmeter/openapi/doc-ru-config-values.yaml
  modules/600-namespace-configurator/docs/EXAMPLES_RU.md
  modules/600-namespace-configurator/docs/README_RU.md
  modules/600-secret-copier/docs/README_RU.md
  modules/810-documentation/docs/CONFIGURATION_RU.md
  modules/810-documentation/docs/EXAMPLES_RU.md
  modules/810-documentation/docs/README_RU.md
  modules/810-documentation/openapi/doc-ru-config-values.yaml
Labels: area/monitoring, area/network, area/security, area/docs, area/cluster-and-infrastructure, deploy/web/stage, area/logs, area/ui, area/api-change

#7614 [deckhouse-controller] Changelogs for modules
  deckhouse-controller/crds/doc-ru-module-release.yaml
  deckhouse-controller/crds/module-release.yaml
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_release.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/zz_generated.deepcopy.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/module_downloader.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/release_reader.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
Labels: area/core, go, area/api-change, e2e/use/k8s/1.29

#7582 [external-module-manager] disable module hooks on update before restart
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller.go
  go.mod
  go.sum
  go_lib/deckhouse-config/status.go
Labels: type/dependencies, area/core, go

#7660 [admission-policy-engine] security policy: AllowedClusterRoles
  modules/015-admission-policy-engine/charts/constraint-templates/templates/security/allowed-cluster-roles.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/tests/allowed-cluster-roles/constraint-allowed-admin.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/tests/allowed-cluster-roles/samples/allowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/tests/allowed-cluster-roles/samples/allowed2.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/tests/allowed-cluster-roles/samples/disallowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/tests/allowed-cluster-roles/suite.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/tests/common/test_samples/ns.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/hooks/handle_security_policies.go
  modules/015-admission-policy-engine/hooks/handle_security_policies_test.go
  modules/015-admission-policy-engine/hooks/internal/apis/v1alpha1.go
  modules/015-admission-policy-engine/template_tests/security_policies_test.go
  modules/015-admission-policy-engine/templates/policies/security-policy/constraint.yaml
Labels: area/security, go, area/api-change

#7694 [prometheus] wrote the username for basic auth
  modules/300-prometheus/docs/CONFIGURATION.md
  modules/300-prometheus/docs/CONFIGURATION_RU.md
Labels: area/monitoring, area/docs, status/backport

#7701 Backport: [prometheus] wrote the username for basic auth
  modules/300-prometheus/docs/CONFIGURATION.md
  modules/300-prometheus/docs/CONFIGURATION_RU.md
Labels: auto, backported

#7702 Backport: [prometheus] wrote the username for basic auth
  modules/300-prometheus/docs/CONFIGURATION.md
  modules/300-prometheus/docs/CONFIGURATION_RU.md
Labels: auto, backported

#7704 [docs] Fix typos
  candi/cloud-providers/azure/docs/LAYOUTS.md
  docs/site/_includes/getting_started/azure/layouts/STANDARD.md
  docs/site/_includes/getting_started/azure/layouts/STANDARD_RU.md
  docs/site/_includes/getting_started/existing/STEP_FINALIZE.md
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, status/backport

#7705 Backport: [docs] Fix typos
  candi/cloud-providers/azure/docs/LAYOUTS.md
  docs/site/_includes/getting_started/azure/layouts/STANDARD.md
  docs/site/_includes/getting_started/azure/layouts/STANDARD_RU.md
  docs/site/_includes/getting_started/existing/STEP_FINALIZE.md
Labels: auto, backported

#7692 [cloud-provider-yandex] Improve alert about migration NAT instance
  modules/030-cloud-provider-yandex/monitoring/prometheus-rules/deprecated_availability_zone.yaml
Labels: area/cloud-provider, status/backport

#7706 Backport: [cloud-provider-yandex] Improve alert about migration NAT instance
  modules/030-cloud-provider-yandex/monitoring/prometheus-rules/deprecated_availability_zone.yaml
Labels: auto, backported

#7663 [global] preventing rendering of unavailable components
  modules/015-admission-policy-engine/templates/podmonitor.yaml
  modules/030-cloud-provider-aws/templates/cloud-data-discoverer/pod-monitor.yaml
  modules/030-cloud-provider-azure/templates/cloud-data-discoverer/pod-monitor.yaml
  modules/030-cloud-provider-gcp/templates/cloud-data-discoverer/pod-monitor.yaml
  modules/030-cloud-provider-yandex/templates/cloud-metrics-exporter/pod-monitor.yaml
  modules/040-node-manager/templates/early-oom/pod-monitor.yaml
  modules/200-operator-prometheus/templates/podmonitor.yaml
  modules/402-ingress-nginx/template_tests/controller_test.go
  modules/402-ingress-nginx/templates/controller/hpa.yaml
  modules/402-ingress-nginx/templates/kruise/podmonitor.yaml
Labels: area/monitoring, area/cloud-provider, area/network, area/security, area/cluster-and-infrastructure, go

#7696 [cloud-provider-aws] fix additionalRolePolicies regex
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, skip/documentation-validation, status/backport, area/api-change

#7711 Backport: [cloud-provider-aws] fix additionalRolePolicies regex
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
Labels: auto, backported

#7668 [docs][cloud-provider-openstack] Translating. ServerGroup fields description
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, area/api-change

#7658 [cni-cilium] Prepull kube-rbac-proxy and check_linux_kernel images before updating cilium-agent
  modules/021-cni-cilium/images/check-kernel-version/werf.inc.yaml
  modules/021-cni-cilium/images/kube-rbac-proxy/werf.inc.yaml
  modules/021-cni-cilium/templates/_agent-daemonset.tpl
  modules/021-cni-cilium/templates/_check_linux_kernel.tpl
  modules/021-cni-cilium/templates/operator/deployment.yaml
  modules/021-cni-cilium/templates/safe-agent-updater/daemonset.yaml
  testing/library/images_tags_generated.go
Labels: area/network, area/testing, e2e/use/k8s/1.25, go

#7684 [cilium] Remove CiliumAgentMapOperationFailures alert.
  modules/021-cni-cilium/monitoring/prometheus-rules/agent.yaml
Labels: area/network

#7687 [network-policy-engine] Deny module setup if the cni-cilium module is enabled
  modules/050-network-policy-engine/enabled
Labels: area/network, area/security

#7721 Backport: [network-policy-engine] Deny module setup if the cni-cilium module is enabled
  modules/050-network-policy-engine/enabled
Labels: auto, backported

#7717 [ingress-nginx] fix libs and build
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
  modules/402-ingress-nginx/images/controller-1-9/README.md
Labels: area/network, status/backport

#7700 Changelog v1.58.3
  CHANGELOG/CHANGELOG-v1.58.3.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: changelog, auto, status/backport

#7723 Backport: Changelog v1.58.3
  CHANGELOG/CHANGELOG-v1.58.3.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: auto, backported

#7634 [deckhoues-controller] ha
  deckhouse-controller/cmd/deckhouse-controller/start.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/loader.go
  global-hooks/create_endpoints.go
  go.mod
  go.sum
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/README.md
  helm_lib/charts/deckhouse_lib_helm/templates/_spec_for_high_availability.tpl
  modules/002-deckhouse/hooks/update_deckhouse_image.go
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
  modules/002-deckhouse/openapi/config-values.yaml
  modules/002-deckhouse/openapi/doc-ru-config-values.yaml
  modules/002-deckhouse/templates/deployment.yaml
Labels: type/dependencies, area/core, go, area/api-change

#7726 [core] change go get -u to go get for build immutability
  ee/modules/500-operator-trivy/images/operator/Dockerfile
  ee/modules/650-runtime-audit-engine/images/falcosidekick/Dockerfile
  modules/000-common/images/csi-external-attacher/werf.inc.yaml
  modules/000-common/images/csi-external-provisioner/werf.inc.yaml
  modules/000-common/images/csi-external-resizer/werf.inc.yaml
  modules/000-common/images/csi-external-snapshotter/werf.inc.yaml
  modules/000-common/images/csi-livenessprobe/werf.inc.yaml
  modules/000-common/images/csi-node-driver-registrar/werf.inc.yaml
  modules/000-common/images/kube-rbac-proxy/werf.inc.yaml
  modules/031-local-path-provisioner/images/local-path-provisioner/werf.inc.yaml
  modules/042-kube-dns/images/coredns/patches/README.md
  modules/150-user-authn/images/dex-authenticator/Dockerfile
  modules/150-user-authn/images/dex/Dockerfile
  modules/150-user-authn/images/kubeconfig-generator/Dockerfile
  modules/200-operator-prometheus/images/prometheus-operator/werf.inc.yaml
  modules/300-prometheus/images/alertmanager/Dockerfile
  modules/300-prometheus/images/trickster/Dockerfile
  modules/301-prometheus-metrics-adapter/images/k8s-prometheus-adapter/Dockerfile
  modules/340-monitoring-kubernetes/images/kube-state-metrics/Dockerfile
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/Dockerfile
  modules/402-ingress-nginx/images/kruise-state-metrics/patches/README.md
  modules/402-ingress-nginx/images/kruise/patches/README.md
  modules/402-ingress-nginx/images/nginx-exporter/werf.inc.yaml
  modules/462-loki/images/loki/Dockerfile
Labels: area/monitoring, area/auth, area/network, area/security, area/cluster-and-infrastructure, status/backport, area/storage, area/logs

#7424 [deckhouse-controller] Add metrics for modules download
  deckhouse-controller/cmd/deckhouse-controller/start.go
  deckhouse-controller/crds/doc-ru-module-release.yaml
  deckhouse-controller/crds/module-release.yaml
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_release.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/zz_generated.deepcopy.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/module_downloader.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/statistic.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  tools/go.mod
Labels: area/testing, type/dependencies, area/core, go, area/api-change

#7728 Backport: [core] change go get -u to go get for build immutability
  ee/modules/500-operator-trivy/images/operator/Dockerfile
  ee/modules/650-runtime-audit-engine/images/falcosidekick/Dockerfile
  modules/000-common/images/csi-external-attacher/werf.inc.yaml
  modules/000-common/images/csi-external-provisioner/werf.inc.yaml
  modules/000-common/images/csi-external-resizer/werf.inc.yaml
  modules/000-common/images/csi-external-snapshotter/werf.inc.yaml
  modules/000-common/images/csi-livenessprobe/werf.inc.yaml
  modules/000-common/images/csi-node-driver-registrar/werf.inc.yaml
  modules/000-common/images/kube-rbac-proxy/werf.inc.yaml
  modules/031-local-path-provisioner/images/local-path-provisioner/werf.inc.yaml
  modules/042-kube-dns/images/coredns/patches/README.md
  modules/150-user-authn/images/dex-authenticator/Dockerfile
  modules/150-user-authn/images/dex/Dockerfile
  modules/150-user-authn/images/kubeconfig-generator/Dockerfile
  modules/200-operator-prometheus/images/prometheus-operator/werf.inc.yaml
  modules/300-prometheus/images/alertmanager/Dockerfile
  modules/300-prometheus/images/trickster/Dockerfile
  modules/301-prometheus-metrics-adapter/images/k8s-prometheus-adapter/Dockerfile
  modules/340-monitoring-kubernetes/images/kube-state-metrics/Dockerfile
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/Dockerfile
  modules/402-ingress-nginx/images/kruise-state-metrics/patches/README.md
  modules/402-ingress-nginx/images/kruise/patches/README.md
  modules/402-ingress-nginx/images/nginx-exporter/werf.inc.yaml
  modules/462-loki/images/loki/Dockerfile
Labels: auto, backported

#7724 [node-manager] kubelet resource reservation fix
  candi/openapi/node_group.yaml
Labels: area/cluster-and-infrastructure, area/api-change

#7732 Backport: [node-manager] kubelet resource reservation fix
  candi/openapi/node_group.yaml
Labels: auto, backported

#7716 [dhctl] mirror: avoid mirroring versions that were not yet released
  dhctl/pkg/operations/mirror/versions.go
Labels: area/cli, skip/e2e, go

#7735 Backport: [dhctl] mirror: generate DeckhouseRelease manifests for mirrored releases
  dhctl/pkg/apis/v1alpha1/deckhouse_release.go
  dhctl/pkg/operations/mirror.go
  dhctl/pkg/operations/mirror/deckhouse_releases.go
  dhctl/pkg/operations/mirror/deckhouse_releases_test.go
  dhctl/pkg/operations/mirror/util.go
  dhctl/pkg/operations/mirror_test.go
Labels: auto, backported

#7731 [core] change go get
  modules/301-prometheus-metrics-adapter/images/k8s-prometheus-adapter/Dockerfile
  modules/340-monitoring-kubernetes/images/kube-state-metrics/Dockerfile
Labels: area/monitoring, status/backport

#7736 Backport: [core] change go get
  modules/301-prometheus-metrics-adapter/images/k8s-prometheus-adapter/Dockerfile
  modules/340-monitoring-kubernetes/images/kube-state-metrics/Dockerfile
Labels: auto, backported

#7729 Changelog v1.58.3
  CHANGELOG/CHANGELOG-v1.58.3.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: changelog, auto, status/backport

#7737 Backport: Changelog v1.58.3
  CHANGELOG/CHANGELOG-v1.58.3.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: auto, backported

#7571 [admission-policy-engine] Add ability to disable service account auto mount
  modules/015-admission-policy-engine/charts/constraint-templates/templates/security/automount-service-account-token.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/tests/automount-service-account-token/constraint.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/tests/automount-service-account-token/suite.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/tests/automount-service-account-token/test_samples/allowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/tests/automount-service-account-token/test_samples/disallowed.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/tests/automount-service-account-token/test_samples/disallowed2.yaml
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/hooks/handle_security_policies.go
  modules/015-admission-policy-engine/hooks/handle_security_policies_test.go
  modules/015-admission-policy-engine/hooks/internal/apis/v1alpha1.go
  modules/015-admission-policy-engine/template_tests/security_policies_test.go
  modules/015-admission-policy-engine/templates/policies/security-policy/constraint.yaml
Labels: area/security, skip/e2e, go, area/api-change

#7745 [ingress-nginx] Remove duplicate lines in controller image
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
Labels: area/network, status/backport

#7746 Backport: [ingress-nginx] Remove duplicate lines in controller image
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
Labels: auto, backported

#7748 Changelog v1.58.3
  CHANGELOG/CHANGELOG-v1.58.3.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: changelog, auto, status/backport

#7749 Backport: Changelog v1.58.3
  CHANGELOG/CHANGELOG-v1.58.3.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: auto, backported

#7753 [dhctl] Prevent deadlock when re-bootstrap cluster
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
Labels: area/cli, status/backport, go

#7755 Backport: [dhctl] Prevent deadlock when re-bootstrap cluster
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
Labels: auto, backported

#7739 [dhctl] added mirror debug
  dhctl/cmd/dhctl/commands/mirror.go
Labels: area/cli, go

#7667 [cloud-provider-vsphere] Bootstrap to an existing vm folder
  ee/candi/cloud-providers/vsphere/layouts/standard/base-infrastructure/main.tf
  ee/candi/cloud-providers/vsphere/layouts/standard/base-infrastructure/outputs.tf
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
  ee/modules/030-cloud-provider-vsphere/hooks/internal/v1/provider_cluster_configuration.go
  ee/modules/030-cloud-provider-vsphere/hooks/vsphere_cluster_configuration_test.go
  ee/modules/030-cloud-provider-vsphere/openapi/values.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, skip/e2e, go, area/api-change

#5984 [matrix-tests] distroless image linter
  testing/matrix/linter/rules/modules/images.go
Labels: area/testing, go

#7764 [ingress] added missed libs to controller-1.6
  modules/402-ingress-nginx/images/controller-1-6/Dockerfile
  testing/matrix/linter/rules/modules/images.go
Labels: area/network, area/testing, go

#7760 [cilium] Fixup safe_agent_updater
  modules/021-cni-cilium/templates/safe-agent-updater/daemonset.yaml
Labels: area/network, status/backport, e2e/use/k8s/1.25

#7767 Backport: [cilium] Fixup safe_agent_updater
  modules/021-cni-cilium/templates/safe-agent-updater/daemonset.yaml
Labels: auto, backported

#7768 [control-plane-manager] Fix D8KubernetesVersionIsDeprecated alert
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
Labels: area/cluster-and-infrastructure, skip/e2e

#7750 [flow-schema] apiVersion for FlowSchema and PriorityLevelConfiguration changed to the minimum available
  modules/011-flow-schema/template_tests/module_test.go
  modules/011-flow-schema/templates/flowschema.yaml
  modules/011-flow-schema/templates/prioritylevelconfiguration.yaml
Labels: area/cluster-and-infrastructure, status/backport, go

#7774 Backport: [flow-schema] apiVersion for FlowSchema and PriorityLevelConfiguration changed to the minimum available
  modules/011-flow-schema/template_tests/module_test.go
  modules/011-flow-schema/templates/flowschema.yaml
  modules/011-flow-schema/templates/prioritylevelconfiguration.yaml
Labels: auto, backported

#7766 [dashboard] Fix 7730 issue
  modules/500-dashboard/templates/namespace.yaml
Labels: area/ui, e2e/use/k8s/1.27

#7703 [deckhouse] Add embedded MUP
  deckhouse-controller/cmd/deckhouse-controller/start.go
  deckhouse-controller/crds/module-update-policy.yaml
  deckhouse-controller/pkg/addon-operator/kube-config/backend/module_config.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller_test.go
  modules/002-deckhouse/hooks/adopt_module_source.go
  modules/002-deckhouse/hooks/adopt_module_source_test.go
  modules/002-deckhouse/templates/default-module-source.yaml
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source.go
  modules/005-external-module-manager/hooks/create_deckhouse_modules_source_test.go
Labels: area/core, skip/documentation-validation, area/modules, go, area/api-change

#7763 fix(dhctl-for-commander): disable local-bootstraper converge-lock in commander-mode
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
Labels: area/cli, go

#7727 Changelog v1.58.4
  CHANGELOG/CHANGELOG-v1.58.4.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: changelog, auto, status/backport

#7777 Backport: Changelog v1.58.4
  CHANGELOG/CHANGELOG-v1.58.4.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: auto, backported

#7643 [docs] Fixes in admission-policy-engine:security-policy
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
Labels: area/security, area/api-change

#7244 [node-manager](caps) Add the ability to disable StaticInstance bootstrapping
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/040-node-manager/images/caps-controller-manager/src/api/deckhouse.io/v1alpha1/staticinstance_webhook.go
  modules/040-node-manager/images/caps-controller-manager/src/go.mod
  modules/040-node-manager/images/caps-controller-manager/src/go.sum
  modules/040-node-manager/images/caps-controller-manager/src/internal/scope/machine_scope.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/scope/machine_scope_test.go
Labels: area/docs, area/cluster-and-infrastructure, type/dependencies, go

#7606 [extended-monitoring][image-availability-exporter] Add forceCheckDisabledControllers option
  modules/340-extended-monitoring/openapi/config-values.yaml
  modules/340-extended-monitoring/openapi/doc-ru-config-values.yaml
  modules/340-extended-monitoring/template_tests/image_availability_test.go
  modules/340-extended-monitoring/templates/image-availability-exporter/deployment.yaml
Labels: area/monitoring, status/ok-to-test, go, area/api-change

#7547 Added sds-replicated-volume support in volume snapshot controller, and removed linstor support
  modules/045-snapshot-controller/docs/README.md
  modules/045-snapshot-controller/docs/README_RU.md
  modules/045-snapshot-controller/docs/USAGE.md
  modules/045-snapshot-controller/docs/USAGE_RU.md
  modules/045-snapshot-controller/enabled
  modules/045-snapshot-controller/template_tests/module_test.go
Labels: area/docs, area/storage, go

#7761 [dhctl] fix(dhctl-for-commander): abandoned node should be treated as destructive check status
  dhctl/pkg/operations/check/checker.go
Labels: area/cli, go

#7513 [candi] change terraform version to 0.14.8
  .github/ci_templates/e2e_tests.yml
  .github/workflows/e2e-abort-aws.yml
  .github/workflows/e2e-abort-azure.yml
  .github/workflows/e2e-abort-eks.yml
  .github/workflows/e2e-abort-gcp.yml
  .github/workflows/e2e-abort-openstack.yml
  .github/workflows/e2e-abort-static.yml
  .github/workflows/e2e-abort-vsphere.yml
  .github/workflows/e2e-abort-yandex-cloud.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  candi/terraform_versions.yml
  dhctl/pkg/terraform/mocks/checkplan/destructively_changed.json
  dhctl/pkg/terraform/mocks/checkplan/empty.json
  dhctl/pkg/terraform/mocks/pipeline/base_infra_ok_plan.json
  dhctl/pkg/terraform/mocks/pipeline/empty_state.json
  dhctl/pkg/terraform/mocks/pipeline/master_node_destructively_changed_plan.json
  dhctl/pkg/terraform/mocks/pipeline/not_empty_state.json
  modules/040-terraform-manager/templates/terraform-auto-converger/deployment.yaml
  modules/040-terraform-manager/templates/terraform-state-exporter/deployment.yaml
  testing/cloud_layouts/script.sh
  testing/cloud_layouts/script_eks.sh
  testing/cloud_layouts/wait-master-ssh-and-update-comment.sh
Labels: area/testing, area/cluster-and-infrastructure, area/cli

#7715 [operator-trivy] update trivy tag
  ee/modules/500-operator-trivy/images/trivy/Dockerfile
Labels: area/security

#7488 [istio] adopting istio-cni, the new traffic redirection setup mode
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
  modules/021-cni-cilium/hooks/discovery_is_istio_cni_enabled.go
  modules/021-cni-cilium/openapi/values.yaml
  modules/021-cni-cilium/templates/configmap.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
  modules/110-istio/hooks/discovery_cni_mode.go
  modules/110-istio/images/cni-v1x12x6/Dockerfile
  modules/110-istio/images/cni-v1x13x7/Dockerfile
  modules/110-istio/images/cni-v1x16x2/Dockerfile
  modules/110-istio/images/cni-v1x19x7/Dockerfile
  modules/110-istio/openapi/values.yaml
  modules/110-istio/template_tests/module_test.go
  modules/110-istio/templates/cni/configmap.yaml
  modules/110-istio/templates/cni/daemonset.yaml
  modules/110-istio/templates/cni/podmonitor.yaml
  modules/110-istio/templates/cni/rbac-for-us.yaml
  modules/110-istio/templates/cni/rbac-to-us.yaml
  modules/110-istio/templates/control-plane/iop.yaml
  testing/library/images_tags_generated.go
Labels: area/network, area/security, area/testing, area/docs, area/cluster-and-infrastructure, go, area/api-change

#7791 [dhctl] fix(dhctl-for-commander): disable converge-lock in commander-mode for converge operation as well as bootstrap
  dhctl/pkg/kubernetes/actions/converge/converge.go
  dhctl/pkg/operations/converge/converger.go
Labels: area/cli, go

#7786 [dhctl] fix(dhctl-for-commander): add destructive detalization for abandoned node and terraform plans into check result
  dhctl/pkg/kubernetes/actions/converge/check.go
  dhctl/pkg/terraform/pipeline.go
  dhctl/pkg/terraform/runner.go
Labels: area/cli, go

#7795 [testing] skip new images of istio in distroless image linter
  testing/matrix/linter/rules/modules/images.go
Labels: area/testing, go

#7792 [registry-packeges] Add d8 (deckhouse-cli) to registry packages
  candi/bashible/common-steps/all/006_fetch_registry_packages.sh.tpl
  candi/bashible/common-steps/all/062_install_kubelet_and_his_friends.sh.tpl
  candi/image_versions.yml
  modules/007-registrypackages/images/d8/scripts/install
  modules/007-registrypackages/images/d8/scripts/uninstall
  modules/007-registrypackages/images/d8/werf.inc.yaml
  testing/library/images_tags_generated.go
  tools/dev_images/Dockerfiles/Dockerfile.BASE_GOLANG_22_ALPINE
  tools/dev_images/Dockerfiles/Dockerfile.BASE_GOLANG_22_BULLSEYE
Labels: area/testing, area/cluster-and-infrastructure, area/core, go

#7691 [cloud-provider-aws] Update ebs-csi-plugin to v1.28.0
  modules/030-cloud-provider-aws/images/ebs-csi-plugin/werf.inc.yaml
Labels: area/cloud-provider

#7620 [dhctl] feat(dhctl-for-commander): support multiple ssh keys and passphrase
  dhctl/cmd/dhctl/commands/bootstrap/bootstrap.go
  dhctl/cmd/dhctl/commands/bootstrap/phase.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-abort.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/server/rpc/dhctl/check.go
  dhctl/pkg/system/ssh/client.go
  dhctl/pkg/system/ssh/default.go
  dhctl/pkg/system/ssh/frontend/agent.go
  dhctl/pkg/system/ssh/session/session.go
  dhctl/pkg/terminal/ask-password.go
Labels: area/cli, go

#7805 [docs][getting-started] Fix script for kind
  tools/kind-d8.sh
Labels: area/testing, area/docs

#7647 [candi] Fix bootstrap by replace bb-error checks with trap
  candi/bashible/bashbooster/50_deckhouse_registrypackages.sh
Labels: area/cluster-and-infrastructure

#7279 [global-hooks] Fix error on change kubernetesVersion to Automatic
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
  modules/002-deckhouse/webhooks/validating/d8-cluster-configuration
  modules/040-control-plane-manager/hooks/effective_kubernetes_version.go
  modules/040-control-plane-manager/hooks/effective_kubernetes_version_test.go
Labels: area/cluster-and-infrastructure, go, area/api-change

#7788 [node-manager] kubelet resource reservation fixes
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
  modules/040-node-manager/hooks/internal/v1/nodegroup.go
  modules/040-node-manager/hooks/migration/migrate_system_reserve.go
Labels: area/cluster-and-infrastructure, status/backport, e2e/cluster/failed, go

#7812 Backport: [node-manager] kubelet resource reservation fixes
  candi/bashible/common-steps/node-group/064_configure_kubelet.sh.tpl
  modules/040-node-manager/hooks/internal/v1/nodegroup.go
  modules/040-node-manager/hooks/migration/migrate_system_reserve.go
Labels: auto, backported

#7785 [ingress-nginx] add ip and hostname to ingress-nginx-controller status
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/hooks/update_ingress_address.go
  modules/402-ingress-nginx/hooks/update_ingress_address_test.go
  modules/402-ingress-nginx/templates/controller/service.yaml
Labels: area/network, go, area/api-change

#7811 [zvirt] provider-discovery-data
  ee/candi/cloud-providers/zvirt/layouts/standard/base-infrastructure/outputs.tf
  ee/candi/cloud-providers/zvirt/openapi/cloud_discovery_data.yaml
  ee/modules/030-cloud-provider-zvirt/hooks/zvirt_cluster_configuration.go
  ee/modules/030-cloud-provider-zvirt/openapi/values.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, go, area/api-change

#7815 [istio] Getting rid of istioMinimalVersion requirement in release.yaml
  release.yaml
Labels: status/backport

#7819 Backport: [operator-trivy] update configmap template
  ee/modules/500-operator-trivy/templates/configmap.yaml
Labels: auto, backported

#7813 [ingress-nginx] fix-https-port-validation
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
Labels: area/network, skip/documentation-validation, status/backport, area/api-change

#7814 [monitoring] hide labels instance/pod alerts
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
Labels: area/network, status/backport

#7825 Backport: [monitoring] hide labels instance/pod alerts
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
Labels: auto, backported

#7824 [zvirt] terraform fix
  ee/candi/cloud-providers/ovirt/terraform-modules/providers.tf
  ee/candi/cloud-providers/ovirt/terraform-modules/variables.tf
  ee/candi/cloud-providers/ovirt/terraform-modules/versions.tf
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/zvirt/terraform-modules/master-node/variables.tf
  ee/modules/030-cloud-provider-zvirt/openapi/values.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, area/api-change

#7826 [docs] moved passwords to env for dhctl mirror examples
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#7832 Backport: [docs] moved passwords to env for dhctl mirror examples
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#7827 Fix taking a crd that is not yet installed
  modules/000-common/images/shell-operator/werf.inc.yaml
Labels: status/backport

#7835 Backport: Fix taking a crd that is not yet installed
  modules/000-common/images/shell-operator/werf.inc.yaml
Labels: auto, backported

#7817 [cloud-provider-vcd] Add validation for virtual application name
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/modules/030-cloud-provider-vcd/capi/cluster.yaml
  ee/modules/030-cloud-provider-vcd/hooks/vcd_cluster_configuration_test.go
  ee/modules/030-cloud-provider-vcd/template_tests/module_test.go
  ee/modules/030-cloud-provider-vcd/templates/registration.yaml
  modules/040-node-manager/hooks/deployment_required.go
  modules/040-node-manager/hooks/deployment_required_test.go
  modules/040-node-manager/template_tests/module_test.go
  modules/040-node-manager/templates/node-group/_capi_bootstrap_secret.tpl
Labels: area/cloud-provider, area/cluster-and-infrastructure, skip/documentation-validation, status/backport, go, area/api-change

#7836 Backport: [cloud-provider-vcd] Add validation for virtual application name
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/modules/030-cloud-provider-vcd/capi/cluster.yaml
  ee/modules/030-cloud-provider-vcd/hooks/vcd_cluster_configuration_test.go
  ee/modules/030-cloud-provider-vcd/template_tests/module_test.go
  ee/modules/030-cloud-provider-vcd/templates/registration.yaml
  modules/040-node-manager/hooks/deployment_required.go
  modules/040-node-manager/hooks/deployment_required_test.go
  modules/040-node-manager/template_tests/module_test.go
  modules/040-node-manager/templates/node-group/_capi_bootstrap_secret.tpl
Labels: auto, backported

#7784 Changelog v1.58.5
  CHANGELOG/CHANGELOG-v1.58.5.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: changelog, auto, status/backport

#7837 Backport: Changelog v1.58.5
  CHANGELOG/CHANGELOG-v1.58.5.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: auto, backported

#7838 [ci] Decrease log level in curl execution
  testing/cloud_layouts/wait-master-ssh-and-update-comment.sh
Labels: area/testing

#7840 [ci] Create rules for CodeQL
  .github/workflows/codeql.yml
Labels: skip/copyright-validation, type/chore, area/cicd

#7770 [deckhouse] Deckhouse pod readiness probe during the release minor update
  modules/002-deckhouse/hooks/check_deckhouse_release_test.go
  modules/002-deckhouse/hooks/update_deckhouse_image.go
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
Labels: go

#7850 [dhctl] fix(dhctl-for-commander): working abandoned nodes converge case with destructive change approval; rework check+converge tf state loading
  dhctl/cmd/dhctl/commands/terraform.go
  dhctl/pkg/config/meta.go
  dhctl/pkg/infrastructure/cluster.go
  dhctl/pkg/kubernetes/actions/converge/check.go
  dhctl/pkg/kubernetes/actions/converge/commander.go
  dhctl/pkg/kubernetes/actions/converge/converge.go
  dhctl/pkg/kubernetes/actions/converge/nodegroup.go
  dhctl/pkg/kubernetes/actions/converge/state.go
  dhctl/pkg/operations/check/checker.go
  dhctl/pkg/operations/commander/meta_config.go
  dhctl/pkg/operations/exporter.go
  dhctl/pkg/state/state.go
  dhctl/pkg/state/terraform/cached.go
  dhctl/pkg/state/terraform/cluster_cached.go
  dhctl/pkg/state/terraform/lazy.go
  dhctl/pkg/state/terraform/state.go
  dhctl/pkg/terraform/pipeline.go
  dhctl/pkg/terraform/runner.go
  dhctl/pkg/terraform/runner_interface.go
  dhctl/pkg/terraform/single_shot_runner.go
  dhctl/pkg/terraform/terraform_context.go
Labels: area/cli, go

#7854 [dhctl] fix(dhctl): meta config deep copy method does not return copy
  dhctl/pkg/config/meta.go
Labels: area/cli, status/backport, go

#7855 Backport: [dhctl] fix(dhctl): meta config deep copy method does not return copy
  dhctl/pkg/config/meta.go
Labels: auto, backported

#7851 [docs][site] Added wrapper for tables, added wrap for code blocks
  docs/site/css/docs.scss
  docs/site/js/customscripts.js
Labels: area/docs

#7744 [deckhouse-controller] Don't run validation for disabled modules
  go.sum
  go_lib/deckhouse-config/status.go
  go_lib/deckhouse-config/testdata/validator/flant-integration/openapi/config-values.yaml
  go_lib/deckhouse-config/validator.go
  go_lib/deckhouse-config/validator_test.go
  modules/002-deckhouse/hooks/dconfig_update_status_test.go
Labels: type/dependencies, area/core, go, area/api-change, e2e/use/k8s/1.29

#7867 [deckhouse] Deckhouse pod readiness probe during the release minor update
  modules/002-deckhouse/hooks/check_deckhouse_release_test.go
  modules/002-deckhouse/hooks/update_deckhouse_image.go
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
Labels: e2e/use/k8s/1.25, go

#7866 [deckhouse] Deckhouse pod readiness probe during the release minor update
  modules/002-deckhouse/hooks/check_deckhouse_release_test.go
  modules/002-deckhouse/hooks/update_deckhouse_image.go
  modules/002-deckhouse/hooks/update_deckhouse_image_test.go
Labels: go

#7868 Changelog v1.57.6
  CHANGELOG/CHANGELOG-v1.57.6.yml
  CHANGELOG/CHANGELOG-v1.57.md
Labels: changelog, auto, status/backport

#7870 Changelog v1.57.6
  CHANGELOG/CHANGELOG-v1.57.6.yml
  CHANGELOG/CHANGELOG-v1.57.md
Labels: changelog, auto, status/backport

#7844 [ingress-nginx][docs] Improve inlet docs
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
Labels: area/network, status/backport, area/api-change

#7872 Backport: [ingress-nginx][docs] Improve inlet docs
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
Labels: auto, backported

#7861 Fix error on empty cluster-configuration.yaml config
  modules/340-monitoring-kubernetes/hooks/auto_k8s_version.go
  modules/340-monitoring-kubernetes/hooks/auto_k8s_version_test.go
Labels: area/monitoring, status/backport, go

#7878 Backport: Fix error on empty cluster-configuration.yaml config
  modules/340-monitoring-kubernetes/hooks/auto_k8s_version.go
  modules/340-monitoring-kubernetes/hooks/auto_k8s_version_test.go
Labels: auto, backported

#7876 [multitenancy-manager] Fix Project templates rendering
  ee/modules/160-multitenancy-manager/hooks/project.go
  ee/modules/160-multitenancy-manager/hooks/project_test.go
  ee/modules/160-multitenancy-manager/templates/user-resources/default-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-with-dedicated-nodes-project-template.yaml
Labels: area/security, status/backport, skip/e2e, go

#7880 Backport: [multitenancy-manager] Fix Project templates rendering
  ee/modules/160-multitenancy-manager/hooks/project.go
  ee/modules/160-multitenancy-manager/hooks/project_test.go
  ee/modules/160-multitenancy-manager/templates/user-resources/default-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-project-template.yaml
  ee/modules/160-multitenancy-manager/templates/user-resources/secure-with-dedicated-nodes-project-template.yaml
Labels: auto, backported

#7845 [istio][docs] Federation and multicluster requirements
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
Labels: area/network, area/docs, status/backport

#7881 Backport: [istio][docs] Federation and multicluster requirements
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
Labels: auto, backported

#7875 [cloud-provider-vcd] Change default network mode for new vms
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/patches/001_our_machinery.patch
Labels: area/cloud-provider, status/backport, skip/e2e

#7882 Backport: [cloud-provider-vcd] Change default network mode for new vms
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/patches/001_our_machinery.patch
Labels: auto, backported

#7858 [prometheuse] edit samplelimit in service-monitor-prometheus-module
  modules/300-prometheus/templates/prometheus/servicemonitor.yaml
Labels: area/monitoring

#7884 [deckhouse] Multiply function for requirements
  go_lib/dependency/requirements/requirements.go
Labels: area/core, status/backport, go

#7885 Backport: [deckhouse] Multiply function for requirements
  go_lib/dependency/requirements/requirements.go
Labels: auto, backported

#7890 [dhctl] fix(dhctl-for-commander): disable known_hosts file checking for scp
  dhctl/pkg/system/ssh/cmd/scp.go
Labels: area/cli, go

#7893 [node-manager] Add permission for cluster api resources for cluster autoscaler and support scale from zero for vcd
  modules/040-node-manager/hooks/internal/autoscaler/capacity/capacity.go
  modules/040-node-manager/templates/cluster-autoscaler/rbac-for-us.yaml
Labels: area/cluster-and-infrastructure, skip/e2e, go

#7894 Backport: [node-manager] Add permission for cluster api resources for cluster autoscaler and support scale from zero for vcd
  modules/040-node-manager/hooks/internal/autoscaler/capacity/capacity.go
  modules/040-node-manager/templates/cluster-autoscaler/rbac-for-us.yaml
Labels: auto, backported

#7822 Changelog v1.58.6
  CHANGELOG/CHANGELOG-v1.58.6.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: changelog, auto, status/backport

#7895 Backport: Changelog v1.58.6
  CHANGELOG/CHANGELOG-v1.58.6.yml
  CHANGELOG/CHANGELOG-v1.58.md
Labels: auto, backported

#7896 [linstor] Remove LINSTOR module leftovers
  candi/openapi/init_configuration.yaml
  release.yaml
Labels: area/cluster-and-infrastructure, area/api-change

#7807 [deckhouse-controller] Module life cycle stage
  deckhouse-controller/crds/doc-ru-module.yaml
  deckhouse-controller/crds/module.yaml
  deckhouse-controller/hack/update-codegen.sh
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module.go
  deckhouse-controller/pkg/controller/loader.go
  deckhouse-controller/pkg/controller/models/definition.go
  deckhouse-controller/pkg/controller/models/module.go
Labels: area/core, go, area/api-change

#7640 [node-manager](caps) Check the `StaticInstance` address by establishing a TCP connection
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/bootstrap.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/cleanup.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/client.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/task_manager.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/controller/infrastructure/staticmachine_controller.go
Labels: area/cluster-and-infrastructure, go

#7834 [chore] Update Kubernetes patch versions
  candi/version_map.yml
  testing/library/images_tags_generated.go
Labels: area/kubernetes, area/testing, area/cluster-and-infrastructure, e2e/use/k8s/1.26, go, e2e/use/k8s/1.27, e2e/use/k8s/1.28, e2e/use/k8s/1.29

#7280 [candi] remove `yum versionlock` and `apt-mark hold`
  candi/bashible/bashbooster/50_apt.sh
  candi/bashible/bashbooster/50_yum.sh
  candi/bashible/bundles/centos/all/003_install_mandatory_packages.sh.tpl
  ee/be/candi/bashible/bundles/redos/all/003_install_mandatory_packages.sh.tpl
Labels: area/cluster-and-infrastructure

#7877 [dhctl] feat(dhctl-for-commander): Update ssh client creation
  dhctl/pkg/server/rpc/dhctl/check.go
Labels: area/cli, go

#7242 [descheduler] fix removeDuplicates
  modules/400-descheduler/templates/configmap.yaml
Labels: area/scaling

#7899 Feat/dhctl for commander server ssh
  dhctl/pkg/operations/check/checker.go
  dhctl/pkg/server/api/dhctl/dhctl.proto
  dhctl/pkg/server/pb/dhctl/dhctl.pb.go
  dhctl/pkg/server/rpc/dhctl/check.go
Labels: area/cli, go

#7892 [control-plane-manager] Option to change service account tokens issuer
  candi/control-plane-kubeadm/config.yaml.tpl
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
Labels: area/cluster-and-infrastructure, e2e/cluster/failed, area/api-change

#7907 Backport: [control-plane-manager] Option to change service account tokens issuer
  candi/control-plane-kubeadm/config.yaml.tpl
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#7830 [ingress-nginx] Improved description of NginxIngressSslWillExpire and NginxIngressSslExpired
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
Labels: area/network

#7117 [candi] Change node name to fqdn
  candi/bashible/bashbooster/60_deckhouse.sh
  candi/bashible/bashible.sh.tpl
  candi/bashible/bootstrap.sh.tpl
  candi/bashible/common-steps/all/003_set_short_hostname.sh.tpl
  candi/bashible/common-steps/all/004_check_hostname.sh.tpl
  candi/bashible/common-steps/all/091_set_virtualization_type.sh.tpl
  candi/bashible/common-steps/all/099_reboot.sh.tpl
  candi/bashible/common-steps/cluster-bootstrap/050_reset_control_plane_on_configuration_change.sh.tpl
  candi/bashible/common-steps/node-group/001_waiting_approval_annotations.sh.tpl
Labels: area/cluster-and-infrastructure

#7676 [cloud-provider-vsphere][discovery] Add data discoverer for vSphere
  .github/dependabot.yml
  ee/modules/030-cloud-provider-vsphere/images/cloud-data-discoverer/discoverer.go
  ee/modules/030-cloud-provider-vsphere/images/cloud-data-discoverer/go.mod
  ee/modules/030-cloud-provider-vsphere/images/cloud-data-discoverer/go.sum
  ee/modules/030-cloud-provider-vsphere/images/cloud-data-discoverer/main.go
  ee/modules/030-cloud-provider-vsphere/images/cloud-data-discoverer/werf.inc.yaml
  ee/modules/030-cloud-provider-vsphere/templates/cloud-data-discoverer/deployment.yaml
  ee/modules/030-cloud-provider-vsphere/templates/cloud-data-discoverer/pod-monitor.yaml
  ee/modules/030-cloud-provider-vsphere/templates/cloud-data-discoverer/rbac-for-us.yaml
  ee/modules/030-cloud-provider-vsphere/templates/cloud-data-discoverer/rbac-to-us.yaml
  ee/modules/030-cloud-provider-vsphere/templates/cloud-data-discoverer/secret.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  testing/library/images_tags_generated.go
Labels: area/cloud-provider, area/testing, area/cluster-and-infrastructure, type/dependencies, go

#7714 [candi] add step for updating legacy tfadm
  ee/fe/candi/bashible/.build.yaml
  ee/fe/candi/bashible/common-steps/all/099_upd_tfadm.sh.tpl
  tools/build_includes/candi-FE.yaml
Labels: area/testing

#7772 [node-manager] Scale all NodeGroups (with low priority) if any of them have a priority.
  modules/040-node-manager/hooks/set_ng_priorities.go
  modules/040-node-manager/hooks/set_ng_priorities_test.go
Labels: area/cluster-and-infrastructure, go

#7810 [candi] Add remove /etc/containerd directory to cleanup script
  candi/bashible/common-steps/node-group/002_create_static_node_cleanup_script.sh.tpl
Labels: area/cluster-and-infrastructure

#7631 [candi] add support debian 12 and remove support debian 9
  candi/bashible/bundles/debian/all/003_iptables_legacy.sh.tpl
  candi/bashible/detect_bundle.sh
  candi/version_map.yml
  dhctl/README.md
  ee/be/candi/bashible/detect_bundle.sh
  ee/be/modules/600-flant-integration/images/flant-pricing/hooks/prometheus_metrics.sh
  modules/040-node-manager/hooks/minimal_node_os_version.go
  modules/040-node-manager/hooks/minimal_node_os_version_test.go
  modules/040-node-manager/requirements/check.go
  modules/040-node-manager/requirements/check_test.go
  release.yaml
  testing/cloud_layouts/OpenStack/Standard/resources.yaml
Labels: area/kubernetes, area/testing, area/cluster-and-infrastructure, area/cli, skip/e2e, go

#7920 [ingress-nginx] Fix misleading summary in alert NginxIngressDeprecatedVersion
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
Labels: area/network

#7888 [e2e] update redos ver for e2e
  testing/cloud_layouts/OpenStack/Standard/configuration.tpl.yaml
  testing/cloud_layouts/Static/infra.tpl.tf
  testing/cloud_layouts/Static/redos-instance-bootstrap.sh
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/script.sh
Labels: area/testing
