Repository deckhouse/deckhouse, pull requests merged in 2024-11, with the labels that each got.

#10375 [docs] Fixing the link in the DNS name template
  docs/site/_includes/getting_started/existing/STEP_FINALIZE.md
  docs/site/_includes/getting_started/existing/STEP_FINALIZE_RU.md
Labels: area/docs, skip/documentation-validation

#10407 [ingress-nginx] fix/check-ingress-annotation
  modules/402-ingress-nginx/templates/controller/admission.yaml
Labels: area/network, status/backport

#10418 Backport: [ingress-nginx] fix/check-ingress-annotation
  modules/402-ingress-nginx/templates/controller/admission.yaml
Labels: auto, backported

#10419 Backport: [user-authz] fix lint
  modules/140-user-authz/hooks/handle_manage_bindings.go
Labels: auto, backported

#10410 [deckhouse-controller] DeckhouseRelease without annotations is not reconciled (#9838)
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/deckhouse_release.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/register.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/event.go
  deckhouse-controller/pkg/controller/deckhouse-release/event_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/apply-now-deckhouse-previous-release-is-not-ready.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/apply-now-manual-approval-mode-is-set.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/auto-deploy-patch-release-in-manual-mode.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/manual-approval-mode-with-canary-process.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/no-update-windows-configured.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/patch-out-of-update-window.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/pending-manual-release-on-cluster-bootstrap.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-with-apply-now-annotation-out-of-window.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-with-notification-settings.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/shutdown-and-evicted-pods.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/suspend-release.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/update-in-day-window.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/update-minimal-notification-time-without-configuring-notification-webhook.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/update-out-of-day-window.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/update-out-of-window.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/update-release-is-deployed.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/controller_test.go
  deckhouse-controller/pkg/helpers/deckhouse_settings.go
Labels: area/core, skip/copyright-validation, skip/documentation-validation, skip/no-cyrillic-validation, status/backport, go, e2e/use/k8s/1.27, skip/release-requirements, skip/grafana-dashboard, skip/documentation

#10400 Changelog v1.63.12
  CHANGELOG/CHANGELOG-v1.63.12.yml
  CHANGELOG/CHANGELOG-v1.63.md
Labels: changelog, auto, status/backport

#10420 Backport: Changelog v1.63.12
  CHANGELOG/CHANGELOG-v1.63.12.yml
  CHANGELOG/CHANGELOG-v1.63.md
Labels: auto, backported

#10421 Backport: Changelog v1.63.12
  CHANGELOG/CHANGELOG-v1.63.12.yml
  CHANGELOG/CHANGELOG-v1.63.md
Labels: auto, backported

#10289 [metallb] Pre-upgrade compatibility check for metallb configuration
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  ee/se/modules/380-metallb/hooks/check_requirements_for_upgrade.go
  ee/se/modules/380-metallb/hooks/check_requirements_for_upgrade_test.go
  ee/se/modules/380-metallb/hooks/common_test.go
  ee/se/modules/380-metallb/requirements/check.go
  ee/se/modules/380-metallb/requirements/check_test.go
Labels: area/core, go

#10417 [candi] Fix failed step reboot by bootstrap
  candi/bashible/common-steps/all/099_reboot.sh.tpl
Labels: area/cluster-and-infrastructure, status/backport

#10423 Backport: [candi] Fix failed step reboot by bootstrap
  candi/bashible/common-steps/all/099_reboot.sh.tpl
Labels: auto, backported

#10211 [user-authn] fix: numbers in dex groups
  modules/150-user-authn/templates/dex/passwords.yaml
Labels: area/auth

#10433 Backport: [metallb] Pre-upgrade compatibility check for metallb configuration
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  ee/se/modules/380-metallb/hooks/check_requirements_for_upgrade.go
  ee/se/modules/380-metallb/hooks/check_requirements_for_upgrade_test.go
  ee/se/modules/380-metallb/hooks/common_test.go
  ee/se/modules/380-metallb/requirements/check.go
  ee/se/modules/380-metallb/requirements/check_test.go
Labels: auto, backported

#10430 [ingress-nginx] remove unnecessary validation and warnings
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
Labels: area/network, status/backport, area/api-change

#10434 Backport: [ingress-nginx] remove unnecessary validation and warnings
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
Labels: auto, backported

#10424 [docs][getting-started] Refactor description generation in GS pages
  docs/site/_data/i18n.yaml
  docs/site/_includes/head.html
  docs/site/pages/guides/PRODUCTION.md
  docs/site/pages/guides/PRODUCTION_RU.md
Labels: area/docs

#10426 [control-plane-manager] Fixed free space sufficiency detection for etcd-backup
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
  modules/040-control-plane-manager/images/etcd-backup/entrypoint.sh
  modules/040-control-plane-manager/images/etcd-backup/werf.inc.yaml
  modules/040-control-plane-manager/templates/etcd-backup/cronjob.yaml
Labels: area/docs, area/cluster-and-infrastructure, status/backport

#10435 Revert "[cloud-provider-aws] Added the ability to specify your IAM role (#9530)
  candi/cloud-providers/aws/layouts/standard/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/standard/base-infrastructure/variables.tf
  candi/cloud-providers/aws/layouts/with-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/with-nat/base-infrastructure/variables.tf
  candi/cloud-providers/aws/layouts/without-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/without-nat/base-infrastructure/variables.tf
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/aws/terraform-modules/base-infrastructure-iam/main.tf
  candi/cloud-providers/aws/terraform-modules/base-infrastructure-iam/variables.tf
  modules/030-cloud-provider-aws/docs/FAQ.md
  modules/030-cloud-provider-aws/docs/FAQ_RU.md
  tools/spelling/dictionaries/dev_OPS.dic
Labels: area/cloud-provider, area/testing, area/docs, area/cluster-and-infrastructure, area/api-change

#10436 Backport: [control-plane-manager] Fixed free space sufficiency detection for etcd-backup
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
  modules/040-control-plane-manager/images/etcd-backup/entrypoint.sh
  modules/040-control-plane-manager/images/etcd-backup/werf.inc.yaml
  modules/040-control-plane-manager/templates/etcd-backup/cronjob.yaml
Labels: auto, backported

#10437 Backport: Revert "[cloud-provider-aws] Added the ability to specify your IAM role (#9530)
  candi/cloud-providers/aws/layouts/standard/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/standard/base-infrastructure/variables.tf
  candi/cloud-providers/aws/layouts/with-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/with-nat/base-infrastructure/variables.tf
  candi/cloud-providers/aws/layouts/without-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/without-nat/base-infrastructure/variables.tf
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/aws/terraform-modules/base-infrastructure-iam/main.tf
  candi/cloud-providers/aws/terraform-modules/base-infrastructure-iam/variables.tf
  modules/030-cloud-provider-aws/docs/FAQ.md
  modules/030-cloud-provider-aws/docs/FAQ_RU.md
  tools/spelling/dictionaries/dev_OPS.dic
Labels: auto, backported

#10401 Changelog v1.65.2
  CHANGELOG/CHANGELOG-v1.65.2.yml
  CHANGELOG/CHANGELOG-v1.65.md
Labels: changelog, auto, status/backport

#10438 Backport: Changelog v1.65.2
  CHANGELOG/CHANGELOG-v1.65.2.yml
  CHANGELOG/CHANGELOG-v1.65.md
Labels: auto, backported

#10396 [deckhouse] use Golang 1.23 for deckhouse-controller
  .github/ci_templates/build.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  .golangci.yaml
  dhctl/go.mod
  ee/modules/025-static-routing-manager/hooks/iprulesets_handler.go
  global-hooks/discovery/kubernetes_version.go
  go.mod
  go_lib/hooks/tls_certificate/internal_tls.go
  modules/002-deckhouse/hooks/migrate/remove_deckhouse_label_from_provider_cluster_static_cluster_config.go
  modules/040-node-manager/hooks/chaos_monkey.go
  modules/150-user-authn/template_tests/kubeconfig_generator_config_test.go
  modules/402-ingress-nginx/hooks/update_ingress_address.go
  modules/460-log-shipper/hooks/validate_test.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/deleter.go
  testing/matrix/linter/rules/errors/errors.go
  testing/matrix/linter/rules/modules/images.go
  testing/matrix/linter/rules/modules/monitoring.go
  testing/matrix/linter/rules/modules/oss.go
  testing/matrix/linter/rules/modules/testgo.go
  testing/matrix/linter/rules/roles/wildcards.go
  testing/matrix/linter/rules/rules.go
  tools/go.mod
  werf.yaml
Labels: area/monitoring, area/auth, area/network, area/testing, area/cluster-and-infrastructure, type/dependencies, area/cli, area/core, area/logs, go

#10422 [pkg] Add logger lib
  .github/CODEOWNERS
  .github/dependabot.yml
  .golangci.yaml
  pkg/log/context/context.go
  pkg/log/fields.go
  pkg/log/global.go
  pkg/log/go.mod
  pkg/log/go.sum
  pkg/log/handler.go
  pkg/log/level.go
  pkg/log/logger.go
  pkg/log/logger_test.go
  pkg/log/output.go
  pkg/log/source.go
Labels: type/dependencies, go

#10428 [user-authn] Add a note about ttl in the user example
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: area/auth, area/docs, skip/e2e

#10451 Backport: [ingress-nginx] Add label check
  modules/402-ingress-nginx/templates/controller/admission.yaml
Labels: auto, backported

#10454 [istio] Fix SA token path in api-proxy container
  ee/modules/110-istio/images/api-proxy/main.go
Labels: area/network, go

#10443 [secret-copier] Allow secret-copier secrets deletion by user
  modules/600-secret-copier/templates/validation.yml
Labels: area/cluster-and-infrastructure, status/backport

#10455 Backport: [secret-copier] Allow secret-copier secrets deletion by user
  modules/600-secret-copier/templates/validation.yml
Labels: auto, backported

#10456 [control-plane-manager][docs] update etcd backup instructions in the FAQ
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure

#10442 [control-plane-manager] Updates to etcd members doc
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport, skip/e2e

#10457 Backport: [control-plane-manager] Updates to etcd members doc
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#10458 Backport: [control-plane-manager] Updates to etcd members doc
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#10444 [deckhouse] Remove JQ Library from deckhouse
  jq_lib/camel.jq
  jq_lib/remove_empty.jq
Labels: area/core, e2e/use/k8s/1.29

#10339 [monitoring-kubernetes] Fix 'Memory usage' panes in 'Nodes' dashboard
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/kubernetes-cluster/nodes/nodes.json
Labels: area/monitoring

#10463 Backport: [istio] Fix SA token path in api-proxy container
  ee/modules/110-istio/images/api-proxy/main.go
Labels: auto, backported

#10464 Backport: [user-authn] Add a note about ttl in the user example
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: auto, backported

#10429 [docs] Fixed blinking of the docs button on the gs page
  docs/site/_layouts/default.html
  docs/site/js/customscripts.js
Labels: area/docs

#10312 [docs] Added info about StorageClass at specs
  ee/modules/030-cloud-provider-openstack/openapi/config-values.yaml
  ee/modules/030-cloud-provider-openstack/openapi/doc-ru-config-values.yaml
  ee/modules/030-cloud-provider-vcd/openapi/config-values.yaml
  ee/modules/030-cloud-provider-vcd/openapi/doc-ru-config-values.yaml
  ee/modules/030-cloud-provider-vsphere/openapi/config-values.yaml
  ee/modules/030-cloud-provider-vsphere/openapi/doc-ru-config-values.yaml
  ee/modules/450-network-gateway/openapi/config-values.yaml
  ee/modules/450-network-gateway/openapi/doc-ru-config-values.yaml
  ee/modules/500-operator-trivy/openapi/config-values.yaml
  ee/modules/500-operator-trivy/openapi/doc-ru-config-values.yaml
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/doc-ru-config-values.yaml
  modules/015-admission-policy-engine/openapi/config-values.yaml
  modules/015-admission-policy-engine/openapi/doc-ru-config-values.yaml
  modules/030-cloud-provider-aws/openapi/config-values.yaml
  modules/030-cloud-provider-aws/openapi/doc-ru-config-values.yaml
  modules/030-cloud-provider-azure/openapi/config-values.yaml
  modules/030-cloud-provider-azure/openapi/doc-ru-config-values.yaml
  modules/030-cloud-provider-gcp/openapi/config-values.yaml
  modules/030-cloud-provider-gcp/openapi/doc-ru-config-values.yaml
  modules/030-cloud-provider-yandex/openapi/config-values.yaml
  modules/030-cloud-provider-yandex/openapi/doc-ru-config-values.yaml
  modules/300-prometheus/openapi/config-values.yaml
  modules/300-prometheus/openapi/doc-ru-config-values.yaml
  modules/462-loki/openapi/config-values.yaml
  modules/462-loki/openapi/doc-ru-config-values.yaml
  modules/500-upmeter/openapi/config-values.yaml
  modules/500-upmeter/openapi/doc-ru-config-values.yaml
Labels: area/monitoring, area/cloud-provider, area/network, area/security, area/core, skip/documentation-validation, area/logs, area/api-change

#10288 [docs] Review of the text part: Changing clusterDomain without downtime
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
  modules/040-node-manager/openapi/config-values.yaml
  modules/040-node-manager/openapi/doc-ru-config-values.yaml
  modules/042-kube-dns/docs/FAQ.md
  modules/042-kube-dns/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, skip/documentation-validation, status/backport, area/api-change

#10465 Backport: [docs] Review of the text part: Changing clusterDomain without downtime
  modules/040-control-plane-manager/openapi/config-values.yaml
  modules/040-control-plane-manager/openapi/doc-ru-config-values.yaml
  modules/040-node-manager/openapi/config-values.yaml
  modules/040-node-manager/openapi/doc-ru-config-values.yaml
  modules/042-kube-dns/docs/FAQ.md
  modules/042-kube-dns/docs/FAQ_RU.md
Labels: auto, backported

#10328 [monitoring-kubernetes] Add steal to 'Node' dashboard 'CPU Basic' panel
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/kubernetes-cluster/nodes/node.json
Labels: area/monitoring

#10440 [candi][bashible] Fix LC_MESSAGES unknown locale
  candi/bashible/common-steps/node-group/004_resize_partitions.sh.tpl
Labels: area/cluster-and-infrastructure

#10466 [deckhouse-controller] Fixed AutoPatch mode in ModuleRelease
  deckhouse-controller/crds/crd.go
  deckhouse-controller/crds/doc-ru-module-update-policy.yaml
  deckhouse-controller/crds/module-update-policy.yaml
  deckhouse-controller/pkg/client/informers/externalversions/factory.go
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/keep-actual.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/one-builder.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/render-new-checksum.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/render-new-lease.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/render-new-version.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/two-builders.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/deckhouse-commander/v1.3.10/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/echo/v0.4.54/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/modules/900-deckhouse-commander
  deckhouse-controller/pkg/controller/module-controllers/release/modules/900-parca
  deckhouse-controller/pkg/controller/module-controllers/release/modules/900-parca-kube-suitable
  deckhouse-controller/pkg/controller/module-controllers/release/modules/900-parca-suitable
  deckhouse-controller/pkg/controller/module-controllers/release/modules/910-echo
  deckhouse-controller/pkg/controller/module-controllers/release/parca-kube-suitable/v1.4.3/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/parca-suitable/v1.4.3/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/parca/v1.4.3/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/auto-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/auto-patch-minor-update.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/auto-patch-mode-minor-release-approved.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/auto-patch-mode-minor-release.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/auto-patch-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/auto-patch-patch-update.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/auto-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/auto-patch-minor-update.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/auto-patch-mode-minor-release-approved.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/auto-patch-mode-minor-release.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/auto-patch-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/auto-patch-patch-update.yaml
  go.mod
  go.sum
  go_lib/hooks/update/window.go
  go_lib/project/dir.go
  go_lib/project/dir_test.go
  go_lib/project/scheme.go
  testing/controller/controllersuite/option.go
  testing/controller/controllersuite/suite.go
  testing/controller/testclient/client.go
  testing/controller/testclient/patch.go
  testing/controller/testclient/schema.go
  testing/controller/testclient/validator.go
  testing/flags/flag.go
  testing/flags/flag_test.go
Labels: area/testing, type/dependencies, area/core, status/backport, go, e2e/use/k8s/1.27, area/api-change

#10342 [dhctl] In commander mode connect to controlled clusters via commander agent instead of SSH
  dhctl/pkg/kubernetes/actions/converge/master_node_group_controller.go
  dhctl/pkg/operations/converge/infra/hook/controlplane/hook_for_update_pipeline.go
  dhctl/pkg/operations/converge/infra/hook/controlplane/kube-proxy.go
Labels: area/cli, go

#10480 [deckhouse-controller] Fixed AutoPatch mode in ModuleRelease #10466
  deckhouse-controller/crds/crd.go
  deckhouse-controller/crds/doc-ru-module-update-policy.yaml
  deckhouse-controller/crds/module-update-policy.yaml
  deckhouse-controller/pkg/client/informers/externalversions/factory.go
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/keep-actual.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/one-builder.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/render-new-checksum.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/render-new-lease.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/render-new-version.yaml
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/testdata/golden/two-builders.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/deckhouse-commander/v1.3.10/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/echo/v0.4.54/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/modules/900-deckhouse-commander
  deckhouse-controller/pkg/controller/module-controllers/release/modules/900-parca
  deckhouse-controller/pkg/controller/module-controllers/release/modules/900-parca-kube-suitable
  deckhouse-controller/pkg/controller/module-controllers/release/modules/900-parca-suitable
  deckhouse-controller/pkg/controller/module-controllers/release/modules/910-echo
  deckhouse-controller/pkg/controller/module-controllers/release/parca-kube-suitable/v1.4.3/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/parca-suitable/v1.4.3/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/parca/v1.4.3/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/auto-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/auto-patch-minor-update.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/auto-patch-mode-minor-release-approved.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/auto-patch-mode-minor-release.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/auto-patch-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/auto-patch-patch-update.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/auto-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/auto-patch-minor-update.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/auto-patch-mode-minor-release-approved.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/auto-patch-mode-minor-release.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/auto-patch-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releaseController/golden/auto-patch-patch-update.yaml
  go.mod
  go.sum
  go_lib/hooks/update/window.go
  go_lib/project/dir.go
  go_lib/project/dir_test.go
  go_lib/project/scheme.go
  testing/controller/controllersuite/option.go
  testing/controller/controllersuite/suite.go
  testing/controller/testclient/client.go
  testing/controller/testclient/patch.go
  testing/controller/testclient/schema.go
  testing/controller/testclient/validator.go
  testing/flags/flag.go
  testing/flags/flag_test.go
  tools/go.mod
  tools/go.sum
Labels: area/testing, type/dependencies, area/core, auto, go, area/api-change, skip/release-requirements

#10452 [user-authn] Add ability to set multiple domains for DexAuthenticator
  modules/150-user-authn/crds/dex-authenticator.yaml
  modules/150-user-authn/crds/doc-ru-dex-authenticator.yaml
  modules/150-user-authn/hooks/get_dex_authenticator_crds.go
  modules/150-user-authn/hooks/get_dex_authenticator_crds_test.go
  modules/150-user-authn/template_tests/authenticator_test.go
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
  modules/150-user-authn/templates/dex-authenticator/ingress.yaml
  modules/150-user-authn/templates/dex-authenticator/oauth2client.yaml
  modules/150-user-authn/templates/dex-authenticator/secret.yaml
  modules/150-user-authn/templates/dex-authenticator/service.yaml
  modules/150-user-authn/webhooks/conversion/dex-authenticator
  modules/150-user-authn/webhooks/validating/dex_authenticator
Labels: area/auth, go, area/api-change

#10450 Changelog v1.65.3
  CHANGELOG/CHANGELOG-v1.65.3.yml
  CHANGELOG/CHANGELOG-v1.65.md
Labels: changelog, auto, status/backport

#10483 Backport: Changelog v1.65.3
  CHANGELOG/CHANGELOG-v1.65.3.yml
  CHANGELOG/CHANGELOG-v1.65.md
Labels: auto, backported

#10488 [pkg] logger cast panic fix
  pkg/log/logger.go
Labels: go

#10484 [control-plane-manager] Removed the removal of the old backup from etcd-backup
  modules/040-control-plane-manager/images/etcd-backup/entrypoint.sh
  modules/040-control-plane-manager/images/etcd-backup/werf.inc.yaml
Labels: area/cluster-and-infrastructure

#10493 [cni-cilium] Fix egressGatewayPolicies
  ee/modules/021-cni-cilium/templates/egress-policy/cilium-egress-policies.yaml
Labels: area/network, e2e/use/k8s/1.27

#10494 [docs] Updated text for the EOL version of Kubernetes in DKP
  docs/documentation/_data/supported_versions.yml
Labels: area/docs, skip/documentation-validation, status/backport

#10496 Backport: [docs] Updated text for the EOL version of Kubernetes in DKP
  docs/documentation/_data/supported_versions.yml
Labels: auto, backported

#10368 [node-manager] ignore heartbeat annotation on hook
  modules/040-node-manager/hooks/handle_node_templates.go
Labels: area/cluster-and-infrastructure, go

#10473 [dhctl] fix(dhctl-for-commander): add operations panic handler
  dhctl/pkg/server/pkg/interceptors/interceptors.go
  dhctl/pkg/server/rpc/dhctl/abort.go
  dhctl/pkg/server/rpc/dhctl/bootstrap.go
  dhctl/pkg/server/rpc/dhctl/check.go
  dhctl/pkg/server/rpc/dhctl/commander_attach.go
  dhctl/pkg/server/rpc/dhctl/commander_detach.go
  dhctl/pkg/server/rpc/dhctl/converge.go
  dhctl/pkg/server/rpc/dhctl/destroy.go
  dhctl/pkg/server/rpc/dhctl/service.go
  dhctl/pkg/server/server/proxy.go
Labels: area/cli, go

#10485 [cloud-providers-yandex] changed behavior of externalIPAddresses key in terraform
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/terraform-modules/master-node/main.tf
Labels: area/cloud-provider, area/cluster-and-infrastructure, area/api-change

#10501 Backport: [node-manager] ignore heartbeat annotation on hook
  modules/040-node-manager/hooks/handle_node_templates.go
Labels: auto, backported

#10502 Backport: [cloud-providers-yandex] changed behavior of externalIPAddresses key in terraform
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/terraform-modules/master-node/main.tf
Labels: auto, backported

#10277 [static-routing-manager] Add the ability to create routes with "via dev" and without specifying a gateway IP.
  ee/modules/025-static-routing-manager/crds/doc-ru-iprulesets.yaml
  ee/modules/025-static-routing-manager/crds/doc-ru-routingtables.yaml
  ee/modules/025-static-routing-manager/crds/internal/doc-ru-sdninternalnoderoutingtables.yaml
  ee/modules/025-static-routing-manager/crds/internal/sdninternalnoderoutingtables.yaml
  ee/modules/025-static-routing-manager/crds/iprulesets.yaml
  ee/modules/025-static-routing-manager/crds/routingtables.yaml
  ee/modules/025-static-routing-manager/hooks/lib/v1alpha1/v1alpha1.go
  ee/modules/025-static-routing-manager/hooks/routingtables_handler_test.go
  ee/modules/025-static-routing-manager/images/agent/api/v1alpha1/routing_table.go
  ee/modules/025-static-routing-manager/images/agent/pkg/controller/iprules_reconciler_agent.go
  ee/modules/025-static-routing-manager/images/agent/pkg/controller/routes_reconciler_agent.go
  ee/modules/025-static-routing-manager/openapi/openapi-case-tests.yaml
  ee/modules/025-static-routing-manager/openapi/values.yaml
  ee/modules/025-static-routing-manager/template_tests/module_test.go
  ee/modules/025-static-routing-manager/templates/node-routing-tables/noderoutingtables.yaml
Labels: go, e2e/use/k8s/1.27, area/api-change, skip/release-requirements

#10497 [cni-cilium] fix template test
  modules/021-cni-cilium/template_tests/module_test.go
Labels: area/network, go, e2e/use/k8s/1.27

#10503 [deckhouse-controller] Temporary files have been removed
  deckhouse-controller/pkg/controller/module-controllers/release/deckhouse-commander/v1.3.10/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/echo/v0.4.54/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/modules/900-deckhouse-commander
  deckhouse-controller/pkg/controller/module-controllers/release/modules/900-parca
  deckhouse-controller/pkg/controller/module-controllers/release/modules/900-parca-kube-suitable
  deckhouse-controller/pkg/controller/module-controllers/release/modules/900-parca-suitable
  deckhouse-controller/pkg/controller/module-controllers/release/modules/910-echo
  deckhouse-controller/pkg/controller/module-controllers/release/parca-kube-suitable/v1.4.3/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/parca-suitable/v1.4.3/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/parca/v1.4.3/openapi/values.yaml
Labels: area/core, area/api-change

#9702 Add CI job number in vpc name
  .github/ci_templates/e2e_tests.yml
  .github/workflows/e2e-abort-eks.yml
  .github/workflows/e2e-eks.yml
  testing/cloud_layouts/EKS/WithoutNAT/infra.tf.tpl
  testing/cloud_layouts/script_eks.sh
Labels: area/testing

#10511 [docs] Revert step five in Getting Started until 1.66 will be released
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
Labels: area/docs

#10512 Backport: [docs] Added parameters for the multitenancy-manager module
  ee/modules/160-multitenancy-manager/docs/CONFIGURATION.md
  ee/modules/160-multitenancy-manager/docs/CONFIGURATION_RU.md
  ee/modules/160-multitenancy-manager/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#10514 Backport: [docs] Added parameters for the multitenancy-manager module
  ee/modules/160-multitenancy-manager/docs/CONFIGURATION.md
  ee/modules/160-multitenancy-manager/docs/CONFIGURATION_RU.md
  ee/modules/160-multitenancy-manager/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#10032 Feat/werf division
  .werf/werf-common.yaml
  .werf/werf-dev-install-standalone.yaml
  .werf/werf-dev-install.yaml
  .werf/werf-dev.yaml
  .werf/werf-modules.yaml
  .werf/werf-terraform.yaml
  .werf/werf-test.yaml
  werf.yaml
Labels: area/core, edition/ee

#10287 [huaweicloud] ccm csi
  ee/candi/cloud-providers/huaweicloud/layouts/standard/base-infrastructure/main.tf
  ee/candi/cloud-providers/huaweicloud/openapi/cluster_configuration.yaml
  ee/modules/030-cloud-provider-huaweicloud/charts/helm_lib
  ee/modules/030-cloud-provider-huaweicloud/hooks/common_test.go
  ee/modules/030-cloud-provider-huaweicloud/hooks/huaweicloud_cluster_configuration.go
  ee/modules/030-cloud-provider-huaweicloud/hooks/wait_for_all_master_nodes_to_become_initialized.go
  ee/modules/030-cloud-provider-huaweicloud/images/cloud-controller-manager/werf.inc.yaml
  ee/modules/030-cloud-provider-huaweicloud/images/huaweicloud-csi-driver/werf.inc.yaml
  ee/modules/030-cloud-provider-huaweicloud/openapi/values.yaml
  ee/modules/030-cloud-provider-huaweicloud/templates/cloud-controller-manager/deployment.yaml
  ee/modules/030-cloud-provider-huaweicloud/templates/cloud-controller-manager/rbac-for-us.yaml
  ee/modules/030-cloud-provider-huaweicloud/templates/cloud-controller-manager/secret.yaml
  ee/modules/030-cloud-provider-huaweicloud/templates/csi/controller.yaml
  ee/modules/030-cloud-provider-huaweicloud/templates/csi/csidriver.yaml
  ee/modules/030-cloud-provider-huaweicloud/templates/csi/rbac-for-us.yaml
  ee/modules/030-cloud-provider-huaweicloud/templates/csi/secret.yaml
  ee/modules/030-cloud-provider-huaweicloud/templates/csi/storage-classes.yaml
  ee/modules/030-cloud-provider-huaweicloud/templates/secret.yaml
  global-hooks/enable_cloud_provider.go
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  testing/library/images_tags_generated.go
Labels: area/cloud-provider, area/testing, area/cluster-and-infrastructure, area/core, go, area/api-change

#10490 [chore] bump kube-client
  deckhouse-controller/pkg/debug/module_enable.go
  dhctl/go.mod
  dhctl/go.sum
  go.mod
  go.sum
Labels: type/dependencies, area/cli, area/core, go

#10460 [operator-trivy] Add extra fields to vulnerability reports.
  ee/modules/500-operator-trivy/monitoring/grafana-dashboards/security/trivy.tpl
  ee/modules/500-operator-trivy/openapi/config-values.yaml
  ee/modules/500-operator-trivy/openapi/doc-ru-config-values.yaml
  ee/modules/500-operator-trivy/templates/configmap.yaml
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/templates/_csi_node.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_monitoring_grafana_dashboards.tpl
  tools/validation/grafana_dashboard.go
Labels: area/security, area/testing, area/core, go, area/api-change

#10474 [deckhouse-controller] Fix image flattening procedure on downloading an image.
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
  deckhouse-controller/pkg/controller/deckhouse-release/check_release_test.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/downloader_test.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/module_downloader.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/override-controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller_test.go
  deckhouse-controller/pkg/registry/deckhouse.go
  deckhouse-controller/pkg/registry/module.go
  docs/site/backends/registry-modules-watcher/go.mod
  docs/site/backends/registry-modules-watcher/go.sum
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/process.go
  docs/site/werf.yaml
  go.mod
  go.sum
  go_lib/dependency/cr/cr.go
  go_lib/dependency/cr/cr_mock.go
  go_lib/module/docs.go
Labels: area/docs, type/dependencies, area/core, go

#10487 [deckhouse-controller] Keep modules documentation in sync with modules in registry
  docs/site/backends/docs-builder/internal/docs/channel_mapping.go
  docs/site/backends/registry-modules-watcher/internal/backends/backends.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/cache/cache.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/cache/cache_test.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/sender/sender.go
Labels: area/docs, go

#10334 [istio] Exclusion of the upmeter from Istio (in one more place)
  modules/110-istio/templates/control-plane/iop.yaml
Labels: area/network

#10347 [tools] corrected warnings werf
  tools/build.go
  tools/build_includes/candi-BE.yaml
  tools/build_includes/candi-EE.yaml
  tools/build_includes/candi-FE.yaml
  tools/build_includes/candi-SE.yaml
  tools/build_includes/modules-BE.yaml
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-SE.yaml
  tools/build_includes/modules-with-dependencies-BE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-dependencies-SE.yaml
  tools/build_includes/modules-with-exclude-BE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
  tools/build_includes/modules-with-exclude-SE.yaml
Labels: area/testing, edition/ee, go

#10523 Backport: [control-plane-manager] Update etcd resources recovery guide
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#10491 [cloud-providers][aws] fixes for deploying a cluster in a local zone
  candi/cloud-providers/aws/openapi/cloud_discovery_data.yaml
  candi/cloud-providers/aws/terraform-modules/master-node/main.tf
  candi/cloud-providers/aws/terraform-modules/static-node/main.tf
Labels: area/cloud-provider, area/cluster-and-infrastructure, status/backport, area/api-change

#10524 Backport: [cloud-providers][aws] fixes for deploying a cluster in a local zone
  candi/cloud-providers/aws/openapi/cloud_discovery_data.yaml
  candi/cloud-providers/aws/terraform-modules/master-node/main.tf
  candi/cloud-providers/aws/terraform-modules/static-node/main.tf
Labels: auto, backported

#10516 [docs] Changing information in 'Getting started' due to deprecated 'configOverrides' and adding information to 'If something went wrong'
  docs/site/_includes/getting_started/existing/partials/TROUBLESHOOT.liquid
  docs/site/_includes/getting_started/existing/partials/TROUBLESHOOT_RU.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_CONFIG.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_CONFIG_RU.liquid
Labels: area/docs, status/backport

#10526 Backport: [docs] Changing information in 'Getting started' due to deprecated 'configOverrides' and adding information to 'If something went wrong'
  docs/site/_includes/getting_started/existing/partials/TROUBLESHOOT.liquid
  docs/site/_includes/getting_started/existing/partials/TROUBLESHOOT_RU.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_CONFIG.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_CONFIG_RU.liquid
Labels: auto, backported

#10495 [candi][bashible] Change selinux configuration requirements in step 004_install_mandatory_selinux_policies.sh
  candi/bashible/bundles/centos/all/004_install_mandatory_selinux_policies.sh.tpl
Labels: area/cluster-and-infrastructure

#10486 [user-authn] Fix offline session updates
  modules/150-user-authn/images/dex/Dockerfile
  modules/150-user-authn/images/dex/patches/README.md
  modules/150-user-authn/images/dex/patches/fix-offline-session-updates.patch
Labels: area/auth

#10527 Backport: [user-authn] Fix offline session updates
  modules/150-user-authn/images/dex/Dockerfile
  modules/150-user-authn/images/dex/patches/README.md
  modules/150-user-authn/images/dex/patches/fix-offline-session-updates.patch
Labels: auto, backported

#10528 Backport: [dhctl] In commander mode connect to controlled clusters via commander agent instead of SSH
  dhctl/pkg/kubernetes/actions/converge/master_node_group_controller.go
  dhctl/pkg/operations/converge/infra/hook/controlplane/hook_for_update_pipeline.go
  dhctl/pkg/operations/converge/infra/hook/controlplane/kube-proxy.go
Labels: auto, backported

#10529 Backport: [cni-cilium] Fix egressGatewayPolicies
  ee/modules/021-cni-cilium/templates/egress-policy/cilium-egress-policies.yaml
Labels: auto, backported

#10530 Backport: [static-routing-manager] Add the ability to create routes with "via dev" and without specifying a gateway IP.
  ee/modules/025-static-routing-manager/crds/doc-ru-iprulesets.yaml
  ee/modules/025-static-routing-manager/crds/doc-ru-routingtables.yaml
  ee/modules/025-static-routing-manager/crds/internal/doc-ru-sdninternalnoderoutingtables.yaml
  ee/modules/025-static-routing-manager/crds/internal/sdninternalnoderoutingtables.yaml
  ee/modules/025-static-routing-manager/crds/iprulesets.yaml
  ee/modules/025-static-routing-manager/crds/routingtables.yaml
  ee/modules/025-static-routing-manager/hooks/lib/v1alpha1/v1alpha1.go
  ee/modules/025-static-routing-manager/hooks/routingtables_handler_test.go
  ee/modules/025-static-routing-manager/images/agent/api/v1alpha1/routing_table.go
  ee/modules/025-static-routing-manager/images/agent/pkg/controller/iprules_reconciler_agent.go
  ee/modules/025-static-routing-manager/images/agent/pkg/controller/routes_reconciler_agent.go
  ee/modules/025-static-routing-manager/openapi/openapi-case-tests.yaml
  ee/modules/025-static-routing-manager/openapi/values.yaml
  ee/modules/025-static-routing-manager/template_tests/module_test.go
  ee/modules/025-static-routing-manager/templates/node-routing-tables/noderoutingtables.yaml
Labels: auto, backported

#10531 Backport: [cni-cilium] fix template test
  modules/021-cni-cilium/template_tests/module_test.go
Labels: auto, backported

#10532 Backport: [deckhouse-controller] Temporary files have been removed
  deckhouse-controller/pkg/controller/module-controllers/release/deckhouse-commander/v1.3.10/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/echo/v0.4.54/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/modules/900-deckhouse-commander
  deckhouse-controller/pkg/controller/module-controllers/release/modules/900-parca
  deckhouse-controller/pkg/controller/module-controllers/release/modules/900-parca-kube-suitable
  deckhouse-controller/pkg/controller/module-controllers/release/modules/900-parca-suitable
  deckhouse-controller/pkg/controller/module-controllers/release/modules/910-echo
  deckhouse-controller/pkg/controller/module-controllers/release/parca-kube-suitable/v1.4.3/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/parca-suitable/v1.4.3/openapi/values.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/parca/v1.4.3/openapi/values.yaml
Labels: auto, backported

#10513 [deckhouse-controller] Increased CRDs Installer buffer size
  deckhouse-controller/cmd/deckhouse-controller/main.go
  go.mod
  go.sum
  go_lib/hooks/ensure_crds/hook.go
  go_lib/hooks/ensure_crds/test_data/heritage.crd
  modules/000-common/crds/doc-ru-test-crd.yaml
  modules/110-istio/_crds/istio/0.990/test-crd.yaml
  modules/110-istio/_crds/istio/0.991/test-crd.yaml
  modules/110-istio/_crds/istio/0.992/test-crd.yaml
Labels: area/network, type/dependencies, area/core, skip/documentation-validation, go, area/api-change, e2e/use/k8s/1.28, skip/release-requirements

#10515 [deckhouse-controller] Increased CRDs Installer buffer size
  go.mod
  go.sum
  go_lib/hooks/ensure_crds/hook.go
  go_lib/hooks/ensure_crds/test_data/heritage.crd
  modules/000-common/crds/doc-ru-test-crd.yaml
  modules/110-istio/_crds/istio/0.990/test-crd.yaml
  modules/110-istio/_crds/istio/0.991/test-crd.yaml
  modules/110-istio/_crds/istio/0.992/test-crd.yaml
Labels: area/network, type/dependencies, area/core, skip/documentation-validation, go, area/api-change, e2e/use/k8s/1.28

#10492 Changelog v1.65.4
  CHANGELOG/CHANGELOG-v1.65.4.yml
  CHANGELOG/CHANGELOG-v1.65.md
Labels: changelog, auto, status/backport

#10535 Backport: Changelog v1.65.4
  CHANGELOG/CHANGELOG-v1.65.4.yml
  CHANGELOG/CHANGELOG-v1.65.md
Labels: auto, backported

#9356 [deckhouse-controller] update manager's cache
  deckhouse-controller/cmd/deckhouse-controller/start.go
  deckhouse-controller/pkg/controller/controller.go
Labels: area/core, e2e/cluster/failed, go

#10052 [dhctl] feat(dhctl-for-commander): remove masterNodeGroup unsafe rules
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, skip/documentation-validation, area/api-change

#10366 [node-manager] add patch for processing advanced daemonset pods
  candi/version_map.yml
  modules/040-node-manager/images/cluster-autoscaler/patches/1.27/kruise-ads.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.28/kruise-ads.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.29/kruise-ads.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.30/kruise-ads.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.31/kruise-ads.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/README.md
  modules/040-node-manager/images/cluster-autoscaler/werf.inc.yaml
Labels: area/kubernetes, area/cluster-and-infrastructure, skip/documentation-validation, e2e/cluster/failed, e2e/use/k8s/1.30

#10154 [ingress-nginx] add max_worker_connection and max_worker_procesess metrics
  modules/402-ingress-nginx/images/controller-1-10/Dockerfile
  modules/402-ingress-nginx/images/controller-1-10/patches/README.md
  modules/402-ingress-nginx/images/controller-1-10/patches/new-metrics.patch
  modules/402-ingress-nginx/images/controller-1-9/Dockerfile
  modules/402-ingress-nginx/images/controller-1-9/patches/README.md
  modules/402-ingress-nginx/images/controller-1-9/patches/new-metrics.patch
Labels: area/network

#10298 [prometheus-operator] Add backup label to publicly used CRDs
  modules/200-operator-prometheus/crds/podmonitors.yaml
  modules/200-operator-prometheus/crds/probes.yaml
  modules/200-operator-prometheus/crds/prometheusrules.yaml
  modules/200-operator-prometheus/crds/scrapeconfigs.yaml
  modules/200-operator-prometheus/crds/servicemonitors.yaml
Labels: area/monitoring, area/api-change

#10536 [user-authn] Add ability to set custom labels on autogenerated DexClient secret
  modules/150-user-authn/hooks/get_dex_client_crds.go
  modules/150-user-authn/hooks/get_dex_client_crds_test.go
  modules/150-user-authn/openapi/values.yaml
  modules/150-user-authn/templates/dex-client/secret.yaml
Labels: area/auth, go, area/api-change

#10504 [user-authz] fix rbacv2 hook and get rid of manage admin and user roles
  modules/140-user-authz/docs/FAQ.md
  modules/140-user-authz/docs/FAQ_RU.md
  modules/140-user-authz/docs/README.md
  modules/140-user-authz/docs/README_RU.md
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
  modules/140-user-authz/hooks/handle_manage_bindings.go
  modules/140-user-authz/hooks/handle_manage_bindings_test.go
  modules/140-user-authz/templates/rbacv2/global/manage/capabilities/manage_kubernetes_resources.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/capabilities/manage_networking_resources.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/capabilities/manage_security_resources.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/capabilities/manage_storage_resources.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/all/admin.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/all/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/all/user.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/all/viewer.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/deckhouse/admin.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/deckhouse/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/deckhouse/user.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/deckhouse/viewer.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/infrastructure/admin.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/infrastructure/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/infrastructure/user.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/infrastructure/viewer.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/kubernetes/admin.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/kubernetes/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/kubernetes/user.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/kubernetes/viewer.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/networking/admin.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/networking/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/networking/user.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/networking/viewer.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/observability/admin.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/observability/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/observability/user.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/observability/viewer.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/security/admin.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/security/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/security/user.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/security/viewer.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/storage/admin.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/storage/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/storage/user.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/storage/viewer.yaml
Labels: area/auth, area/docs, status/backport, go

#10563 Backport: [user-authz] fix rbacv2 hook and get rid of manage admin and user roles
  modules/140-user-authz/docs/FAQ.md
  modules/140-user-authz/docs/FAQ_RU.md
  modules/140-user-authz/docs/README.md
  modules/140-user-authz/docs/README_RU.md
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
  modules/140-user-authz/hooks/handle_manage_bindings.go
  modules/140-user-authz/hooks/handle_manage_bindings_test.go
  modules/140-user-authz/templates/rbacv2/global/manage/capabilities/manage_kubernetes_resources.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/capabilities/manage_networking_resources.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/capabilities/manage_security_resources.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/capabilities/manage_storage_resources.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/all/admin.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/all/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/all/user.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/all/viewer.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/deckhouse/admin.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/deckhouse/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/deckhouse/user.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/deckhouse/viewer.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/infrastructure/admin.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/infrastructure/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/infrastructure/user.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/infrastructure/viewer.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/kubernetes/admin.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/kubernetes/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/kubernetes/user.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/kubernetes/viewer.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/networking/admin.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/networking/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/networking/user.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/networking/viewer.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/observability/admin.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/observability/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/observability/user.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/observability/viewer.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/security/admin.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/security/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/security/user.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/security/viewer.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/storage/admin.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/storage/manager.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/storage/user.yaml
  modules/140-user-authz/templates/rbacv2/global/manage/roles/storage/viewer.yaml
Labels: auto, backported

#10297 [prometheus] Add backup label to publicly used CRDs
  modules/300-prometheus/crds/customalertmanager.yaml
  modules/300-prometheus/crds/customprometheusrules.yaml
  modules/300-prometheus/crds/grafanaadditionaldatasources.yaml
  modules/300-prometheus/crds/grafanaalertschannel.yaml
  modules/300-prometheus/crds/grafanadashboarddefinition.yaml
  modules/300-prometheus/crds/prometheusremotewrite.yaml
Labels: area/monitoring, area/api-change

#10571 [candi] Update D8 CLI to 0.4.0
  candi/version_map.yml
Labels: area/kubernetes, area/cluster-and-infrastructure, status/backport

#10570 [operator-prometheus] Fix backup label value
  modules/200-operator-prometheus/crds/podmonitors.yaml
  modules/200-operator-prometheus/crds/probes.yaml
  modules/200-operator-prometheus/crds/prometheusrules.yaml
  modules/200-operator-prometheus/crds/scrapeconfigs.yaml
  modules/200-operator-prometheus/crds/servicemonitors.yaml
Labels: area/monitoring, area/api-change

#10572 [candi] del quotes for primary_mac value in bootstrap-network
  candi/cloud-providers/yandex/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/openstack/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vcd/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vsphere/bashible/bootstrap-networks.sh.tpl
Labels: area/cloud-provider, area/cluster-and-infrastructure, status/backport

#10576 Backport: [candi] del quotes for primary_mac value in bootstrap-network
  candi/cloud-providers/yandex/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/openstack/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vcd/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vsphere/bashible/bootstrap-networks.sh.tpl
Labels: auto, backported

#10577 Backport: [candi] del quotes for primary_mac value in bootstrap-network
  candi/cloud-providers/yandex/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/openstack/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vcd/bashible/bootstrap-networks.sh.tpl
  ee/candi/cloud-providers/vsphere/bashible/bootstrap-networks.sh.tpl
Labels: auto, backported

#10549 [docs] fix mistakes in cloud cluster configuration resource names, add links to additional cloud providers
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
Labels: area/docs, status/backport

#10579 Backport: [docs] fix mistakes in cloud cluster configuration resource names, add links to additional cloud providers
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
Labels: auto, backported

#10580 Backport: [docs] fix mistakes in cloud cluster configuration resource names, add links to additional cloud providers
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
Labels: auto, backported

#10584 [docs] Changed status of multitenancy-manager module from EE to CE
  docs/documentation/_data/sidebars/main.yml
  docs/site/_config.yml
Labels: area/docs, skip/documentation-validation, status/backport

#10585 Backport: [docs] Changed status of multitenancy-manager module from EE to CE
  docs/documentation/_data/sidebars/main.yml
  docs/site/_config.yml
Labels: auto, backported

#10559 [operator-trivy] add insecure db registry and non-ssl registries
  ee/modules/500-operator-trivy/openapi/config-values.yaml
  ee/modules/500-operator-trivy/openapi/doc-ru-config-values.yaml
  ee/modules/500-operator-trivy/template_tests/template_test.go
  ee/modules/500-operator-trivy/templates/configmap.yaml
Labels: area/security, go, area/api-change

#10370 [ingress-nginx] Update VHost dashboards
  modules/402-ingress-nginx/monitoring/grafana-dashboards/ingress-nginx/vhost/vhost_detail.json
Labels: area/network

#10590 [docs] Removed note about Cluster API Provider Static instability
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: area/docs, area/cluster-and-infrastructure, skip/documentation-validation, status/backport

#10591 Backport: [docs] Removed note about Cluster API Provider Static instability
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: auto, backported

#10583 [testing] e2e test disable earlyOomEnabled in yc
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/configuration.tpl.yaml
Labels: area/testing, status/backport

#10597 Backport: [testing] e2e test disable earlyOomEnabled in yc
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/configuration.tpl.yaml
Labels: auto, backported

#10593 [chore] Fix misspelling `licence`
  docs/documentation/pages/OSS-INFO.md
  docs/documentation/pages/OSS-INFO_RU.md
  docs/documentation/werf-web.inc.yaml
  docs/site/_data/footer.json
  ee/modules/381-l2-load-balancer/oss.yaml
  ee/modules/450-keepalived/oss.yaml
  ee/modules/500-operator-trivy/oss.yaml
  ee/modules/650-runtime-audit-engine/oss.yaml
  ee/se/modules/380-metallb/oss.yaml
  modules/000-common/oss.yaml
  modules/002-deckhouse/oss.yaml
  modules/015-admission-policy-engine/oss.yaml
  modules/021-cni-cilium/oss.yaml
  modules/031-ceph-csi/oss.yaml
  modules/031-local-path-provisioner/oss.yaml
  modules/035-cni-flannel/oss.yaml
  modules/040-control-plane-manager/oss.yaml
  modules/040-node-manager/oss.yaml
  modules/040-terraform-manager/oss.yaml
  modules/042-kube-dns/oss.yaml
  modules/045-snapshot-controller/oss.yaml
  modules/050-network-policy-engine/oss.yaml
  modules/101-cert-manager/oss.yaml
  modules/110-istio/oss.yaml
  modules/150-user-authn/oss.yaml
  modules/200-operator-prometheus/oss.yaml
  modules/300-prometheus/oss.yaml
  modules/301-prometheus-metrics-adapter/oss.yaml
  modules/302-vertical-pod-autoscaler/oss.yaml
  modules/303-prometheus-pushgateway/oss.yaml
  modules/340-monitoring-kubernetes/oss.yaml
  modules/400-descheduler/oss.yaml
  modules/402-ingress-nginx/oss.yaml
  modules/460-log-shipper/oss.yaml
  modules/462-loki/oss.yaml
  modules/465-pod-reloader/oss.yaml
  modules/470-chrony/oss.yaml
  modules/500-cilium-hubble/oss.yaml
  modules/500-dashboard/oss.yaml
  modules/500-openvpn/oss.yaml
  testing/matrix/linter/rules/modules/oss.go
  testing/matrix/linter/rules/modules/oss_test.go
Labels: area/monitoring, area/auth, area/network, area/security, area/testing, area/docs, area/cluster-and-infrastructure, area/scaling, area/storage, area/logs, area/ui, go

#10598 Fix Jekyll config
  docs/site/_config.yml
Labels: area/docs, status/backport

#10599 Backport: Fix Jekyll config
  docs/site/_config.yml
Labels: auto, backported

#10552 [docs] Update description in the DexAuthenticator and some other specs
  modules/110-istio/openapi/doc-ru-config-values.yaml
  modules/150-user-authn/crds/dex-authenticator.yaml
  modules/150-user-authn/crds/doc-ru-dex-authenticator.yaml
  modules/150-user-authn/crds/doc-ru-dex-client.yaml
  modules/150-user-authn/openapi/doc-ru-config-values.yaml
  modules/300-prometheus/openapi/doc-ru-config-values.yaml
  modules/500-dashboard/openapi/doc-ru-config-values.yaml
  modules/500-openvpn/openapi/doc-ru-config-values.yaml
Labels: area/monitoring, area/auth, area/network, area/security, skip/documentation-validation, status/backport, area/ui, area/api-change

#10601 Backport: [docs] Update description in the DexAuthenticator and some other specs
  modules/110-istio/openapi/doc-ru-config-values.yaml
  modules/150-user-authn/crds/dex-authenticator.yaml
  modules/150-user-authn/crds/doc-ru-dex-authenticator.yaml
  modules/150-user-authn/crds/doc-ru-dex-client.yaml
  modules/150-user-authn/openapi/doc-ru-config-values.yaml
  modules/300-prometheus/openapi/doc-ru-config-values.yaml
  modules/500-dashboard/openapi/doc-ru-config-values.yaml
  modules/500-openvpn/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#10602 [docs] Fix documentation build
  modules/150-user-authn/crds/doc-ru-dex-authenticator.yaml
Labels: area/auth, status/backport, area/api-change

#10603 Backport: [docs] Fix documentation build
  modules/150-user-authn/crds/doc-ru-dex-authenticator.yaml
Labels: auto, backported

#10600 [testing]: Fix matrix test
  testing/matrix/linter/rules/modules/oss.go
  testing/matrix/linter/rules/modules/oss_test.go
Labels: area/testing, go

#10604 [ingress-class] Fix ingress class validation rule
  modules/402-ingress-nginx/templates/controller/admission.yaml
  modules/402-ingress-nginx/templates/validation.yaml
Labels: area/network, status/backport

#10605 Backport: [ingress-class] Fix ingress class validation rule
  modules/402-ingress-nginx/templates/controller/admission.yaml
  modules/402-ingress-nginx/templates/validation.yaml
Labels: auto, backported

#10477 [metallb] Extended pre-upgrade compatibility configuration check
  docs/documentation/_data/deckhouse-alerts.yml
  ee/se/modules/380-metallb/hooks/check_requirements_for_upgrade.go
  ee/se/modules/380-metallb/hooks/check_requirements_for_upgrade_test.go
  ee/se/modules/380-metallb/hooks/common_test.go
  ee/se/modules/380-metallb/hooks/types.go
  ee/se/modules/380-metallb/monitoring/prometheus-rules/metallb.yaml
  ee/se/modules/380-metallb/requirements/check.go
  ee/se/modules/380-metallb/requirements/check_test.go
Labels: area/docs, go

#10608 [documentation] Fix topnav in the documentation
  docs/site/_includes/header.html
Labels: area/docs, status/backport

#10609 Backport: [documentation] Fix topnav in the documentation
  docs/site/_includes/header.html
Labels: auto, backported

#10613 [documentation] Return language switcher button
  docs/site/_includes/header.html
Labels: area/docs, status/backport

#10616 Backport: [documentation] Return language switcher button
  docs/site/_includes/header.html
Labels: auto, backported

#10594 [testing] Abandoned the use of yq in one place in the testing script in favor of python
  testing/cloud_layouts/script.sh
Labels: area/testing, status/backport

#10614 [dhctl] fix data race in local NodeInterface command executor
  dhctl/pkg/system/node/local/command.go
  dhctl/pkg/system/node/local/command_test.go
Labels: area/cli, go

#10620 Backport: [testing] Abandoned the use of yq in one place in the testing script in favor of python
  testing/cloud_layouts/script.sh
Labels: auto, backported

#10621 Backport: [testing] Abandoned the use of yq in one place in the testing script in favor of python
  testing/cloud_layouts/script.sh
Labels: auto, backported

#10615 [operator-trivy] update trivy tag
  ee/modules/500-operator-trivy/images/trivy/Dockerfile
Labels: area/security, status/backport

#10623 Backport: [operator-trivy] update trivy tag
  ee/modules/500-operator-trivy/images/trivy/Dockerfile
Labels: auto, backported

#10624 [testing] fixed $python_binary
  testing/cloud_layouts/script.sh
Labels: area/testing, status/backport

#10625 Backport: [testing] fixed $python_binary
  testing/cloud_layouts/script.sh
Labels: auto, backported

#10607 [operator-trivy] add insecure db registry and non-ssl registries
  ee/modules/500-operator-trivy/openapi/config-values.yaml
  ee/modules/500-operator-trivy/openapi/doc-ru-config-values.yaml
  ee/modules/500-operator-trivy/template_tests/template_test.go
  ee/modules/500-operator-trivy/templates/configmap.yaml
Labels: area/security, go, area/api-change, skip/release-requirements

#10610 [operator-trivy] fix description for `insecureDbRegistry` and `insecureRegistries`
  ee/modules/500-operator-trivy/openapi/config-values.yaml
  ee/modules/500-operator-trivy/openapi/doc-ru-config-values.yaml
Labels: status/backport

#10575 Changelog v1.65.5
  CHANGELOG/CHANGELOG-v1.65.5.yml
  CHANGELOG/CHANGELOG-v1.65.md
Labels: changelog, auto, status/backport

#10626 Backport: Changelog v1.65.5
  CHANGELOG/CHANGELOG-v1.65.5.yml
  CHANGELOG/CHANGELOG-v1.65.md
Labels: auto, backported

#10561 [docs] Get rid of numeric prefixes in module URL on the site
  docs/documentation/.helm/templates/_rewrites.tpl
  docs/documentation/.werf/nginx.conf
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/_includes/revision_comparison_detail_table.liquid
  docs/documentation/_plugins/custom_hooks.rb
  docs/documentation/generate_cluster_configuration.sh
  docs/documentation/modules_generate_configuration.sh
  docs/documentation/modules_generate_cr.sh
  docs/documentation/modules_generate_ossinfo.sh
  docs/documentation/modules_list.sh
  docs/documentation/modules_menu_skip
  docs/documentation/modules_prepare.sh
  docs/documentation/pages/DECKHOUSE_CONFIGURE.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_RU.md
  docs/documentation/werf-web.inc.yaml
  modules/810-documentation/templates/ingress.yaml
Labels: area/docs

#10627 Backport: [testing] fixed $python_binary
  testing/cloud_layouts/script.sh
Labels: auto, backported

#10611 [admission-policy-engine] Change MutatingWebhookConfiguration reinvocationPolicy
  modules/015-admission-policy-engine/templates/mutatingwebhookconfiguration.yaml
Labels: area/security, status/backport

#10628 Backport: [admission-policy-engine] Change MutatingWebhookConfiguration reinvocationPolicy
  modules/015-admission-policy-engine/templates/mutatingwebhookconfiguration.yaml
Labels: auto, backported

#10632 [docs][documentation] fix assets loading
  docs/documentation/.werf/nginx.conf
Labels: area/docs

#10633 Backport: [docs][documentation] fix assets loading
  docs/documentation/.werf/nginx.conf
Labels: auto, backported

#10634 Backport: [docs][documentation] fix assets loading
  docs/documentation/.werf/nginx.conf
Labels: auto, backported
