Repository deckhouse/deckhouse, pull requests merged in 2025-01, with the labels that each got.

#11326 [deckhouse-controller] feat: update golang.org/x/net to 0.33.0
  modules/002-deckhouse/images/webhook-handler/label-converter/go.mod
  modules/002-deckhouse/images/webhook-handler/label-converter/go.sum
Labels: type/dependencies

#11399 [loki] fix build
  modules/300-prometheus/images/promxy/werf.inc.yaml
  modules/462-loki/images/loki/werf.inc.yaml
Labels: area/monitoring, status/ok-to-test, area/logs

#11316 [deckhouse-controller] feat: update golang.org/x/net to 0.33.0
  modules/002-deckhouse/images/webhook-handler/label-converter/go.mod
  modules/002-deckhouse/images/webhook-handler/label-converter/go.sum
  modules/002-deckhouse/images/webhook-handler/werf.inc.yaml
Labels: type/dependencies

#11395 [user-authn] feat: bump dependencies for user-authn
  modules/150-user-authn/images/basic-auth-proxy/Dockerfile
  modules/150-user-authn/images/basic-auth-proxy/app/go.mod
  modules/150-user-authn/images/basic-auth-proxy/app/go.sum
  modules/150-user-authn/images/basic-auth-proxy/werf.inc.yaml
  modules/150-user-authn/images/dex-authenticator/Dockerfile
  modules/150-user-authn/images/dex-authenticator/patches/cookie-refresh.patch
  modules/150-user-authn/images/dex-authenticator/patches/deps.patch
  modules/150-user-authn/images/dex-authenticator/patches/remove-groups.patch
  modules/150-user-authn/images/dex-authenticator/werf.inc.yaml
  modules/150-user-authn/images/dex/werf.inc.yaml
  modules/150-user-authn/images/kubeconfig-generator/Dockerfile
  modules/150-user-authn/images/kubeconfig-generator/patches/already_logged.patch
  modules/150-user-authn/images/kubeconfig-generator/patches/deps.patch
  modules/150-user-authn/images/kubeconfig-generator/werf.inc.yaml
  modules/150-user-authn/images/self-signed-generator/Dockerfile
  modules/150-user-authn/images/self-signed-generator/src/go.mod
  modules/150-user-authn/images/self-signed-generator/src/go.sum
  modules/150-user-authn/images/self-signed-generator/werf.inc.yaml
Labels: area/auth, type/dependencies

#11261 [cni-flannel] CSE: refactor build
  modules/035-cni-flannel/images/flanneld/entrypoint/go.mod
  modules/035-cni-flannel/images/flanneld/entrypoint/go.sum
  modules/035-cni-flannel/images/flanneld/patches/001-update-go-libraries.patch
  modules/035-cni-flannel/images/flanneld/patches/README.md
  modules/035-cni-flannel/images/flanneld/werf.inc.yaml
Labels: area/network, type/dependencies, skip/documentation-validation

#11360 [monitoring-kubernetes] cve update
  .github/dependabot.yml
  modules/340-monitoring-kubernetes/images/ebpf-exporter/entrypoint/go.mod
  modules/340-monitoring-kubernetes/images/ebpf-exporter/entrypoint/go.sum
  modules/340-monitoring-kubernetes/images/ebpf-exporter/patches/go-mod.patch
  modules/340-monitoring-kubernetes/images/ebpf-exporter/werf.inc.yaml
  modules/340-monitoring-kubernetes/images/kube-state-metrics/Dockerfile
  modules/340-monitoring-kubernetes/images/kube-state-metrics/patches/go-mod.patch
  modules/340-monitoring-kubernetes/images/kube-state-metrics/werf.inc.yaml
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/Dockerfile
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/src/go.mod
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/src/go.sum
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/src/main.go
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/src/main_test.go
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/werf.inc.yaml
  modules/340-monitoring-kubernetes/images/node-exporter/Dockerfile
  modules/340-monitoring-kubernetes/images/node-exporter/patches/go-mod.patch
  modules/340-monitoring-kubernetes/images/node-exporter/werf.inc.yaml
Labels: area/monitoring, type/dependencies, go

#11404 [testing] Update documentation linters
  .github/ci_templates/web.yml
  .github/workflow_templates/build-and-test_pre-release.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  Makefile
  docs/site/LOCAL_DEV.md
  tools/dev_images/README.md
  tools/doc_check_links.sh
  tools/docs/link-checker/base_image/Dockerfile
  tools/docs/link-checker/base_image/build.sh
  tools/docs/spelling/base_image/Dockerfile
  tools/docs/spelling/base_image/build.sh
  tools/docs/spelling/check_diff.sh
  tools/docs/spelling/clean-files.py
  tools/docs/spelling/dictionaries/dev_OPS.aff
  tools/docs/spelling/dictionaries/dev_OPS.dic
  tools/docs/spelling/dictionaries/en_US.aff
  tools/docs/spelling/dictionaries/en_US.dic
  tools/docs/spelling/dictionaries/ru_RU.aff
  tools/docs/spelling/dictionaries/ru_RU.dic
  tools/docs/spelling/filesignore
  tools/docs/spelling/spell_check.sh
  tools/docs/spelling/spell_lib.sh
  tools/docs/spelling/wordlist
  tools/spelling/werf.yaml
  tools/validation/copyright.go
  tools/validation/no_cyrillic.go
Labels: area/testing, area/docs, go, python

#11402 [chrony] fix build
  .github/dependabot.yml
  modules/470-chrony/images/chrony/src/go.mod
  modules/470-chrony/images/chrony/src/go.sum
  modules/470-chrony/images/chrony/src/main.go
  modules/470-chrony/images/chrony/werf.inc.yaml
Labels: area/cluster-and-infrastructure, type/dependencies, go

#11260 [runtime-audit-engine] Build refactor
  ee/modules/007-registrypackages/.build.yaml
  ee/modules/650-runtime-audit-engine/images/falco/README.md
  ee/modules/650-runtime-audit-engine/images/falco/patches/falcoctl/001_Fix_CVE-2024-45337_in_falcoctl.patch
  ee/modules/650-runtime-audit-engine/images/falco/werf.inc.yaml
  ee/modules/650-runtime-audit-engine/images/falcosidekick/patches/001_Fix_CVE-2024-45337_and_CVE-2024-45338.patch
  ee/modules/650-runtime-audit-engine/images/falcosidekick/werf.inc.yaml
  ee/modules/650-runtime-audit-engine/images/k8s-metacollector/werf.inc.yaml
  ee/modules/650-runtime-audit-engine/images/rules-loader/requirements.txt
  ee/modules/650-runtime-audit-engine/images/rules-loader/werf.inc.yaml
  modules/000-common/images/python-static/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/security, area/testing, skip/e2e, go

#11290 [runtime-audit-engine] Build refactor
  ee/modules/007-registrypackages/.build.yaml
  ee/modules/650-runtime-audit-engine/images/falco/README.md
  ee/modules/650-runtime-audit-engine/images/falco/patches/falcoctl/001_Fix_CVE-2024-45337_in_falcoctl.patch
  ee/modules/650-runtime-audit-engine/images/falco/werf.inc.yaml
  ee/modules/650-runtime-audit-engine/images/falcosidekick/patches/001_Fix_CVE-2024-45337_and_CVE-2024-45338.patch
  ee/modules/650-runtime-audit-engine/images/falcosidekick/werf.inc.yaml
  ee/modules/650-runtime-audit-engine/images/k8s-metacollector/werf.inc.yaml
  ee/modules/650-runtime-audit-engine/images/rules-loader/requirements.txt
  ee/modules/650-runtime-audit-engine/images/rules-loader/werf.inc.yaml
  modules/000-common/images/alt-p11/werf.inc.yaml
  modules/000-common/images/python-static/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/security, area/testing, go

#11106 [docs][deckhouse] Add steps to switch EE to SE
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#11410 Backport: [docs][deckhouse] Add steps to switch EE to SE
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#11411 [admission-policy-engine] update x-doc-examples structure in SecurityPolicy CRD
  modules/015-admission-policy-engine/crds/security-policy.yaml
Labels: area/security, skip/documentation-validation, status/backport, area/api-change

#11413 Backport: [admission-policy-engine] update x-doc-examples structure in SecurityPolicy CRD
  modules/015-admission-policy-engine/crds/security-policy.yaml
Labels: auto, backported

#11415 [docs] Add some modules to DVP documentation
  docs/documentation/_plugins/openapi.rb
  docs/site/.werf/modules-data/console/docs/CONFIGURATION.md
  docs/site/.werf/modules-data/console/docs/CONFIGURATION_RU.md
  docs/site/.werf/modules-data/console/docs/README.md
  docs/site/.werf/modules-data/console/docs/README_RU.md
  docs/site/.werf/modules-data/console/openapi/config-values.yaml
  docs/site/.werf/modules-data/console/openapi/doc-ru-config-values.yaml
  docs/site/_plugins/openapi.rb
  docs/site/werf.yaml
Labels: area/docs, area/api-change

#11416 Backport: [admission-policy-engine] update x-doc-examples structure in SecurityPolicy CRD
  modules/015-admission-policy-engine/crds/security-policy.yaml
Labels: auto, backported

#11201 [candi](vcd) Ignore metadata changes in `vcd_vapp_vm` resource
  ee/candi/cloud-providers/vcd/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/vcd/terraform-modules/static-node/main.tf
Labels: area/cloud-provider, area/cluster-and-infrastructure

#11394 [monitoring] Fix wrong rbac for new observability module
  modules/300-prometheus/templates/aggregating-proxy/rbac-to-us.yaml
  modules/300-prometheus/templates/prometheus/rbac-to-us.yaml
Labels: area/monitoring

#11403 [chrony] fix build
  .github/dependabot.yml
  modules/470-chrony/images/chrony/src/go.mod
  modules/470-chrony/images/chrony/src/go.sum
  modules/470-chrony/images/chrony/src/main.go
  modules/470-chrony/images/chrony/werf.inc.yaml
Labels: area/cluster-and-infrastructure, type/dependencies, go

#11373 [monitoring-ping] cve update
  .github/dependabot.yml
  modules/340-monitoring-ping/images/monitoring-ping/src/monitoring-ping.py
  modules/340-monitoring-ping/images/monitoring-ping/src/requirements.txt
  modules/340-monitoring-ping/images/monitoring-ping/werf.inc.yaml
Labels: area/monitoring, python

#11336 [extended-monitoring] Fix image-availability-exporter CVEs
  modules/340-extended-monitoring/images/image-availability-exporter/Dockerfile
  modules/340-extended-monitoring/images/image-availability-exporter/werf.inc.yaml
Labels: area/monitoring, status/ok-to-test

#11371 [monitoring-kubernetes] cve update
  .github/dependabot.yml
  modules/340-monitoring-kubernetes/images/ebpf-exporter/entrypoint/go.mod
  modules/340-monitoring-kubernetes/images/ebpf-exporter/entrypoint/go.sum
  modules/340-monitoring-kubernetes/images/ebpf-exporter/patches/go-mod.patch
  modules/340-monitoring-kubernetes/images/ebpf-exporter/werf.inc.yaml
  modules/340-monitoring-kubernetes/images/kube-state-metrics/Dockerfile
  modules/340-monitoring-kubernetes/images/kube-state-metrics/patches/go-mod.patch
  modules/340-monitoring-kubernetes/images/kube-state-metrics/werf.inc.yaml
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/Dockerfile
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/src/go.mod
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/src/go.sum
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/src/main.go
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/src/main_test.go
  modules/340-monitoring-kubernetes/images/kubelet-eviction-thresholds-exporter/werf.inc.yaml
  modules/340-monitoring-kubernetes/images/node-exporter/Dockerfile
  modules/340-monitoring-kubernetes/images/node-exporter/patches/go-mod.patch
  modules/340-monitoring-kubernetes/images/node-exporter/werf.inc.yaml
Labels: area/monitoring, type/dependencies, go

#10976 [chrony] Add chrony-exporter
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/470-chrony/images/chrony-exporter/werf.inc.yaml
  modules/470-chrony/monitoring/grafana-dashboards/kubernetes-cluster/chrony.json
  modules/470-chrony/monitoring/prometheus-rules/chrony.yaml
  modules/470-chrony/templates/daemonset.yaml
  modules/470-chrony/templates/monitoring.yaml
  modules/470-chrony/templates/podmonitor.yaml
  modules/470-chrony/templates/rbac-for-us.yaml
  modules/470-chrony/templates/rbac-to-us.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/cluster-and-infrastructure, status/ok-to-test, go

#11423 [docs] Correction of tautologies in DKP, DVP descriptions
  docs/documentation/pages/DECKHOUSE-OVERVIEW_RU.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_RU.md
  docs/site/backends/docs-builder-template/content/modules/_index.ru.md
  docs/site/pages/virtualization-platform/README_RU.md
Labels: area/docs, skip/documentation-validation, skip/no-cyrillic-validation, status/backport

#11429 Backport: [docs] Correction of tautologies in DKP, DVP descriptions
  docs/documentation/pages/DECKHOUSE-OVERVIEW_RU.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_RU.md
  docs/site/backends/docs-builder-template/content/modules/_index.ru.md
  docs/site/pages/virtualization-platform/README_RU.md
Labels: auto, backported

#11344 [cni-flannel] Refactor build
  modules/035-cni-flannel/images/flanneld/entrypoint/go.mod
  modules/035-cni-flannel/images/flanneld/entrypoint/go.sum
  modules/035-cni-flannel/images/flanneld/patches/001-update-go-libraries.patch
  modules/035-cni-flannel/images/flanneld/patches/README.md
  modules/035-cni-flannel/images/flanneld/werf.inc.yaml
Labels: area/network, type/dependencies, skip/documentation-validation

#11345 [metallb] Refactor build
  ee/modules/380-metallb/images/metallb/patches/001-update-go-libraries.patch
  ee/modules/380-metallb/images/metallb/patches/README.md
  ee/modules/380-metallb/images/metallb/werf.inc.yaml
  ee/modules/380-metallb/templates/controller/deployment.yaml
  ee/modules/380-metallb/templates/speaker/daemonset.yaml
  ee/se/modules/380-metallb/images/l2lb/patches/004-update-go-libraries.patch
  ee/se/modules/380-metallb/images/l2lb/patches/README.md
  ee/se/modules/380-metallb/images/l2lb/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/network, area/testing, skip/documentation-validation, go

#11374 [monitoring-ping] cve update
  .github/dependabot.yml
  modules/340-monitoring-ping/images/monitoring-ping/src/monitoring-ping.py
  modules/340-monitoring-ping/images/monitoring-ping/src/requirements.txt
  modules/340-monitoring-ping/images/monitoring-ping/werf.inc.yaml
Labels: area/monitoring, python

#11431 [chrony] fix build
  modules/470-chrony/images/chrony/werf.inc.yaml
  modules/470-chrony/templates/daemonset.yaml
Labels: area/cluster-and-infrastructure

#11328 [extended-monitoring] Bump versions and update build
  modules/340-extended-monitoring/images/cert-exporter/Dockerfile
  modules/340-extended-monitoring/images/cert-exporter/patches/0001-fix-gomod.patch
  modules/340-extended-monitoring/images/cert-exporter/patches/README.md
  modules/340-extended-monitoring/images/cert-exporter/werf.inc.yaml
  modules/340-extended-monitoring/images/events-exporter/Dockerfile
  modules/340-extended-monitoring/images/events-exporter/patches/0001-fix-gomod.patch
  modules/340-extended-monitoring/images/events-exporter/patches/README.md
  modules/340-extended-monitoring/images/events-exporter/werf.inc.yaml
  modules/340-extended-monitoring/images/extended-monitoring-exporter/werf.inc.yaml
  modules/340-extended-monitoring/images/image-availability-exporter/Dockerfile
  modules/340-extended-monitoring/images/image-availability-exporter/patches/0001-fix-gomod.patch
  modules/340-extended-monitoring/images/image-availability-exporter/patches/0002-support-legacy-annotation.patch
  modules/340-extended-monitoring/images/image-availability-exporter/patches/README.md
  modules/340-extended-monitoring/images/image-availability-exporter/werf.inc.yaml
Labels: area/monitoring

#11303 [descheduler] fix conversion webhook
  modules/400-descheduler/webhooks/conversion/deschedulers
Labels: area/scaling, status/backport

#11445 Backport: [descheduler] fix conversion webhook
  modules/400-descheduler/webhooks/conversion/deschedulers
Labels: auto, backported

#10871 [ingress-nginx] Return lost TLSv1.3 if legacySSL activated
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/templates/controller/configmap.yaml
Labels: area/network, area/api-change

#11296 [prometheus] Fix memcached CVEs
  modules/300-prometheus/images/memcached/patches/001-fix-cve.patch
  modules/300-prometheus/images/memcached/werf.inc.yaml
Labels: area/monitoring, status/ok-to-test

#11327 [prometheus] Fix memcached CVEs
  modules/300-prometheus/images/memcached/patches/001-fix-cve.patch
  modules/300-prometheus/images/memcached/werf.inc.yaml
Labels: area/monitoring, status/ok-to-test

#11353 [prometheus] Fix trickster CVE
  modules/300-prometheus/images/trickster/Dockerfile
  modules/300-prometheus/images/trickster/patches/001-fix-cve.patch
  modules/300-prometheus/images/trickster/werf.inc.yaml
Labels: area/monitoring, status/ok-to-test

#11420 [prometheus-metrics-adapter] Fix k8s-prometheus-adapter CVEs
  modules/301-prometheus-metrics-adapter/images/k8s-prometheus-adapter/Dockerfile
  modules/301-prometheus-metrics-adapter/images/k8s-prometheus-adapter/patches/001-fix-cve.patch
  modules/301-prometheus-metrics-adapter/images/k8s-prometheus-adapter/werf.inc.yaml
  modules/301-prometheus-metrics-adapter/templates/deployment.yaml
Labels: area/monitoring, status/ok-to-test

#11440 [extended-monitoring] Fix extended-monitoring-exporter CVEs
  modules/340-extended-monitoring/images/extended-monitoring-exporter/src/requirements.txt
  modules/340-extended-monitoring/images/extended-monitoring-exporter/werf.inc.yaml
Labels: area/monitoring, status/ok-to-test

#11389 [prometheus-metrics-adapter] Fix k8s-prometheus-adapter CVEs
  modules/301-prometheus-metrics-adapter/images/k8s-prometheus-adapter/Dockerfile
  modules/301-prometheus-metrics-adapter/images/k8s-prometheus-adapter/patches/001-fix-cve.patch
  modules/301-prometheus-metrics-adapter/images/k8s-prometheus-adapter/werf.inc.yaml
  modules/301-prometheus-metrics-adapter/templates/deployment.yaml
Labels: area/monitoring, status/ok-to-test

#11425 [extended-monitoring] Fix extended-monitoring-exporter CVEs
  modules/340-extended-monitoring/images/extended-monitoring-exporter/src/requirements.txt
  modules/340-extended-monitoring/images/extended-monitoring-exporter/werf.inc.yaml
Labels: area/monitoring, status/ok-to-test

#11350 [extended-monitoring] Fix image-availability-exporter CVEs
  modules/340-extended-monitoring/images/image-availability-exporter/werf.inc.yaml
Labels: area/monitoring, status/ok-to-test, e2e/cluster/failed

#11451 [docs] Fix broken links in documentation files
  docs/documentation/pages/module-development/STRUCTURE.md
  docs/documentation/pages/module-development/STRUCTURE_RU.md
  modules/101-cert-manager/docs/FAQ.md
  modules/101-cert-manager/docs/FAQ_RU.md
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
Labels: area/network, area/security, area/docs, status/backport, area/api-change

#11453 [docs][ingress-nginx] Update description for the legacySSL parameter of IngressNginxController CRD
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
Labels: area/network, area/api-change

#11427 [docs] update steps for change redactions
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs

#11458 [docs] Update external modules main page
  docs/site/backends/docs-builder-template/content/modules/_index.md
  docs/site/backends/docs-builder-template/content/modules/_index.ru.md
Labels: area/docs

#11462 [docs] Fix a relative path for some assets
  docs/documentation/pages/DECKHOUSE-RELEASE-CHANNELS.md
  docs/documentation/pages/DECKHOUSE-RELEASE-CHANNELS_RU.md
Labels: area/docs

#11457 [docs] Fix missing "create" command in DVP and DKP Getting Started sections
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  docs/site/_includes/getting_started/dvp/global/STEP_NODES.md
Labels: area/docs

#10341 [docs][admission-policy-engine] Added a documentation page with Gatekeeper Custom Resources
  docs/documentation/_data/sidebars/main.yml
  modules/015-admission-policy-engine/docs/GATEKEEPER-CR.md
  modules/015-admission-policy-engine/docs/GATEKEEPER-CR_RU.md
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
Labels: area/security, area/docs, skip/documentation-validation, status/backport

#11463 Backport: [docs][admission-policy-engine] Added a documentation page with Gatekeeper Custom Resources
  docs/documentation/_data/sidebars/main.yml
  modules/015-admission-policy-engine/docs/GATEKEEPER-CR.md
  modules/015-admission-policy-engine/docs/GATEKEEPER-CR_RU.md
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
Labels: auto, backported

#11465 Backport: [prometheus] Update Mimir to v2.14.2
  modules/300-prometheus/images/mimir/Dockerfile
  modules/300-prometheus/images/mimir/patches/0001-Update-golang.org-x-net-v0.32.0-v0.33.0.patch
  modules/300-prometheus/images/mimir/patches/README.md
  modules/300-prometheus/images/mimir/werf.inc.yaml
  modules/300-prometheus/templates/aggregating-proxy/configmap.yaml
  testing/library/images_tags_generated.go
Labels: auto, backported

#11466 Backport: [deckhouse-controller] feat: update golang.org/x/net to 0.33.0
  modules/002-deckhouse/images/webhook-handler/label-converter/go.mod
  modules/002-deckhouse/images/webhook-handler/label-converter/go.sum
  modules/002-deckhouse/images/webhook-handler/werf.inc.yaml
Labels: auto, backported

#11467 [testing] Disable outdated block of matrix tests
  testing/matrix/linter/rules/modules/images.go
Labels: area/testing, go

#11449 [chrony] Fix ports conflict
  docs/documentation/_data/deckhouse-ports.yml
  modules/470-chrony/templates/daemonset.yaml
Labels: area/docs, area/cluster-and-infrastructure, status/ok-to-test

#11450 [chrony] Fix ports conflict
  docs/documentation/_data/deckhouse-ports.yml
  modules/470-chrony/templates/daemonset.yaml
Labels: area/docs, area/cluster-and-infrastructure, status/ok-to-test, e2e/cluster/failed

#11441 [docs][node-manager] Add info about bashible step to update node labels from local directory
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: area/docs, area/cluster-and-infrastructure, skip/documentation-validation

#11485 Backport: [dashboard] Specified the correct certificates for ingress to access via kube-rbac-proxy
  modules/500-dashboard/templates/ingress.yaml
Labels: auto, backported

#11299 Changelog v1.67.4
  CHANGELOG/CHANGELOG-v1.67.4.yml
  CHANGELOG/CHANGELOG-v1.67.md
Labels: changelog, auto, status/backport

#11486 Backport: Changelog v1.67.4
  CHANGELOG/CHANGELOG-v1.67.4.yml
  CHANGELOG/CHANGELOG-v1.67.md
Labels: auto, backported

#11476 [snapshot-controller] Fix user and group
  modules/045-snapshot-controller/images/snapshot-controller/werf.inc.yaml
  modules/045-snapshot-controller/images/snapshot-validation-webhook/werf.inc.yaml
Labels: area/storage

#11477 [local-path-provisioner] Prepare to CSE 1.67 version
  modules/031-local-path-provisioner/images/helper/werf.inc.yaml
  modules/031-local-path-provisioner/images/local-path-provisioner/patches/fix-go-mod.patch
  modules/031-local-path-provisioner/images/local-path-provisioner/werf.inc.yaml
Labels: area/storage

#11442 [extended-monitoring] Fix events-exporter CVEs
  modules/340-extended-monitoring/images/events-exporter/Dockerfile
  modules/340-extended-monitoring/images/events-exporter/patches/001-fix-cve.patch
  modules/340-extended-monitoring/images/events-exporter/werf.inc.yaml
Labels: area/monitoring, status/ok-to-test

#10554 [extended-monitoring] Replace cert-exporter with x509-certificate-exporter
  docs/documentation/_data/deckhouse-alerts.yml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/340-extended-monitoring/docs/README.md
  modules/340-extended-monitoring/docs/README_RU.md
  modules/340-extended-monitoring/images/cert-exporter/Dockerfile
  modules/340-extended-monitoring/images/x509-certificate-exporter/werf.inc.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/certificate.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/certificates-exporter-health.yaml
  modules/340-extended-monitoring/openapi/config-values.yaml
  modules/340-extended-monitoring/openapi/doc-ru-config-values.yaml
  modules/340-extended-monitoring/template_tests/cert_exporter_test.go
  modules/340-extended-monitoring/templates/x509-certificate-exporter/deployment.yaml
  modules/340-extended-monitoring/templates/x509-certificate-exporter/pdb.yaml
  modules/340-extended-monitoring/templates/x509-certificate-exporter/podmonitor.yaml
  modules/340-extended-monitoring/templates/x509-certificate-exporter/rbac-for-us.yaml
  modules/340-extended-monitoring/templates/x509-certificate-exporter/rbac-to-us.yaml
  testing/library/images_tags_generated.go
Labels: area/monitoring, area/testing, area/docs, area/cluster-and-infrastructure, status/ok-to-test, go, area/api-change

#11459 [prometheus] Fix alertmanager CVEs
  modules/300-prometheus/images/alertmanager/Dockerfile
  modules/300-prometheus/images/alertmanager/patches/001-fix-cve.patch
  modules/300-prometheus/images/alertmanager/werf.inc.yaml
Labels: area/monitoring, status/ok-to-test

#11474 [prometheus-metrics-adapter] Fix prometheus-reverse-proxy CVEs
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/Dockerfile
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/app/go.mod
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/werf.inc.yaml
Labels: area/monitoring, type/dependencies, status/ok-to-test, e2e/cluster/failed

#11472 [prometheus-metrics-adapter] Fix prometheus-reverse-proxy CVEs
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/Dockerfile
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/app/go.mod
  modules/301-prometheus-metrics-adapter/images/prometheus-reverse-proxy/werf.inc.yaml
Labels: area/monitoring, type/dependencies, status/ok-to-test

#11493 [extended-monitoring] Fix doc/alert typo
  docs/documentation/_data/deckhouse-alerts.yml
  modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/certificate.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/certificates-exporter-health.yaml
Labels: area/monitoring, area/docs

#11492 [extended-monitoring] Fix doc/alert typo
  docs/documentation/_data/deckhouse-alerts.yml
  modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/certificate.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/certificates-exporter-health.yaml
Labels: area/monitoring, area/docs

#11085 [prometheus] Add init container and switcher for prom image
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  ee/fe/modules/300-prometheus/.build.yaml
  ee/fe/modules/300-prometheus/hooks/cm_check.go
  ee/fe/modules/300-prometheus/images/prometheuspp/werf.inc.yaml
  ee/fe/modules/300-prometheus/openapi/openapi-case-tests.yaml
  ee/fe/modules/300-prometheus/openapi/values.yaml
  ee/fe/modules/300-prometheus/templates/prometheus/pp/grafana-additional-ds.yaml
  ee/fe/modules/300-prometheus/templates/prometheus/pp/ingress.yaml
  ee/fe/modules/300-prometheus/templates/prometheus/pp/pdb.yaml
  ee/fe/modules/300-prometheus/templates/prometheus/pp/service.yaml
  ee/fe/modules/300-prometheus/templates/prometheus/prometheus.yaml
  testing/library/images_tags_generated.go
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: area/testing, area/core, status/ok-to-test, status/backport, go, area/api-change

#11496 Backport: [prometheus] Add init container and switcher for prom image
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  ee/fe/modules/300-prometheus/.build.yaml
  ee/fe/modules/300-prometheus/hooks/cm_check.go
  ee/fe/modules/300-prometheus/images/prometheuspp/werf.inc.yaml
  ee/fe/modules/300-prometheus/openapi/openapi-case-tests.yaml
  ee/fe/modules/300-prometheus/openapi/values.yaml
  ee/fe/modules/300-prometheus/templates/prometheus/pp/grafana-additional-ds.yaml
  ee/fe/modules/300-prometheus/templates/prometheus/pp/ingress.yaml
  ee/fe/modules/300-prometheus/templates/prometheus/pp/pdb.yaml
  ee/fe/modules/300-prometheus/templates/prometheus/pp/service.yaml
  ee/fe/modules/300-prometheus/templates/prometheus/prometheus.yaml
  testing/library/images_tags_generated.go
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: auto, backported

#11421 [node-local-dns] Refactor build
  ee/be/modules/350-node-local-dns/images/coredns/werf.inc.yaml
  ee/be/modules/350-node-local-dns/images/iptables-loop/werf.inc.yaml
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/go.mod
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/go.sum
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/werf.inc.yaml
  ee/be/modules/350-node-local-dns/templates/stale-dns-connections-cleaner/daemonset.yaml
  modules/042-kube-dns/images/coredns/patches/README.md
  modules/042-kube-dns/images/coredns/patches/go-mod.patch
  modules/042-kube-dns/images/coredns/werf.inc.yaml
  modules/042-kube-dns/templates/deployment.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/cluster-and-infrastructure, type/dependencies, go

#11248 [candi] Update Deckhouse CLi to v0.9.0
  candi/version_map.yml
  modules/007-registrypackages/images/d8/werf.inc.yaml
Labels: area/kubernetes, area/cluster-and-infrastructure, area/core

#11484 [prometheus] Patch out grafana CVEs for CSE
  modules/300-prometheus/images/grafana-v10/entrypoint/go.mod
  modules/300-prometheus/images/grafana-v10/entrypoint/go.sum
  modules/300-prometheus/images/grafana-v10/patches/security.patch
  modules/300-prometheus/images/grafana-v10/werf.inc.yaml
  modules/300-prometheus/templates/grafana/deployment-v10.yaml
Labels: area/monitoring, type/dependencies

#11417 [prometheus] Patch out grafana CVEs
  modules/300-prometheus/images/grafana-v10/entrypoint/go.mod
  modules/300-prometheus/images/grafana-v10/entrypoint/go.sum
  modules/300-prometheus/images/grafana-v10/patches/security.patch
  modules/300-prometheus/images/grafana-v10/werf.inc.yaml
  modules/300-prometheus/templates/grafana/deployment-v10.yaml
Labels: area/monitoring, type/dependencies

#11455 [user-authz/cse] cse build
  ee/be/modules/140-user-authz/images/webhook/src/cmd/healthcheck/main.go
  ee/be/modules/140-user-authz/images/webhook/src/cmd/webhook/main.go
  ee/be/modules/140-user-authz/images/webhook/src/go.mod
  ee/be/modules/140-user-authz/images/webhook/src/go.sum
  ee/be/modules/140-user-authz/images/webhook/src/internal/cache/cache.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/cache/cache_test.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/cache/kube.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/cache/retry.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/web/client.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/web/hook/handler.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/web/hook/handler_test.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/web/hook/system.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/web/hook/types.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/web/server.go
  ee/be/modules/140-user-authz/images/webhook/werf.inc.yaml
Labels: type/dependencies, go

#11456 [multitenancy-manager/cse] cse build
  .github/dependabot.yml
  modules/160-multitenancy-manager/images/multitenancy-manager/Dockerfile
  modules/160-multitenancy-manager/images/multitenancy-manager/src/cmd/main.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/default/default.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/default/empty.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/default/secure-with-dedicated-nodes.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/default/secure.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/go.mod
  modules/160-multitenancy-manager/images/multitenancy-manager/src/go.sum
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/apis/deckhouse.io/register.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/apis/deckhouse.io/v1alpha1/project_template.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/apis/deckhouse.io/v1alpha1/register.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/apis/deckhouse.io/v1alpha2/project.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/apis/deckhouse.io/v1alpha2/register.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/consts/main.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/controller/project/main.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/controller/template/main.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/hash.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/main.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/main_test.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/renderer.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/default_case/project.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/default_case/resources.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/default_case/template.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/empty_case/project.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/empty_case/resources.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/empty_case/template.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/secure_case/project.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/secure_case/resources.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/secure_case/template.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/secure_with_dedicated_node_case/project.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/secure_with_dedicated_node_case/resources.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/secure_with_dedicated_node_case/template.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/without_ns_case/project.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/without_ns_case/resources.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/without_ns_case/template.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/manager/project/main.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/manager/project/utils.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/manager/template/main.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/manager/template/utils.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/validate/main.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/webhook/namespace/main.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/webhook/project/main.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/webhook/template/main.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/templates/_helpers.tpl
  modules/160-multitenancy-manager/images/multitenancy-manager/src/templates/template.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/werf.inc.yaml
  modules/160-multitenancy-manager/templates/multitenancy-manager/controller.yaml
Labels: type/dependencies, go

#11503 Apply custom logo after the cluster bootstrap
  ee/modules/150-user-authn/hooks/custom_logo.go
  ee/modules/150-user-authn/hooks/custom_logo_test.go
  ee/modules/300-prometheus/hooks/custom_logo.go
  ee/modules/300-prometheus/hooks/custom_logo_test.go
Labels: status/backport, go

#11482 [prometheus] Fix trickster binary path
  modules/300-prometheus/images/trickster/entrypoint/main.go
Labels: area/monitoring, go

#11480 [prometheus] Fix alertmanager CVEs
  modules/300-prometheus/images/alertmanager/Dockerfile
  modules/300-prometheus/images/alertmanager/patches/001-fix-cve.patch
  modules/300-prometheus/images/alertmanager/werf.inc.yaml
Labels: area/monitoring

#11475 [docs] Transfer metallb and gateway docs to traffic balance section
  docs/documentation/_data/sidebars/main.yml
Labels: area/docs

#11512 [docs] Update sidebar
  docs/documentation/_data/sidebars/main.yml
Labels: area/docs

#11513 Backport: [docs] Update sidebar. Create the Network section and move some modules
  docs/documentation/_data/sidebars/main.yml
Labels: auto, backported

#11514 Backport: [docs] Update sidebar
  docs/documentation/_data/sidebars/main.yml
Labels: auto, backported

#11324 [docs] Fix documentation on switching version from EE to CSE
  candi/bashible/bashible.sh.tpl
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  tools/docs/spelling/dictionaries/dev_OPS.dic
  tools/docs/spelling/wordlist
Labels: area/testing, area/docs, area/cluster-and-infrastructure, status/backport

#11515 Backport: [docs] Fix documentation on switching version from EE to CSE
  candi/bashible/bashible.sh.tpl
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  tools/docs/spelling/dictionaries/dev_OPS.dic
  tools/docs/spelling/wordlist
Labels: auto, backported

#11516 [docs] Minor module documentation updates
  docs/documentation/pages/module-development/DEPENDENCIES.md
  docs/documentation/pages/module-development/DEPENDENCIES_RU.md
Labels: area/docs

#11499 [docs][styles] Update margins in lists
  docs/site/_assets/css/docs.scss
Labels: area/docs

#11446 [docs] Corrected the deckhouse CLI page for DKP and DVP
  docs/documentation/_includes/d8-cli-install/content.liquid
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
  docs/site/_includes/d8-cli-install/content.liquid
  docs/site/pages/virtualization-platform/reference/console-utilities/D8_RU.md
Labels: area/docs, status/backport

#11519 Backport: [docs] Corrected the deckhouse CLI page for DKP and DVP
  docs/documentation/_includes/d8-cli-install/content.liquid
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
  docs/site/_includes/d8-cli-install/content.liquid
  docs/site/pages/virtualization-platform/reference/console-utilities/D8_RU.md
Labels: auto, backported

#11507 [registrypackages] fixed cve in crictl
  .werf/werf-test.yaml
  modules/007-registrypackages/images/crictl/patches/1.27.1/go_mod.patch
  modules/007-registrypackages/images/crictl/patches/1.28.0/go_mod.patch
  modules/007-registrypackages/images/crictl/patches/1.29.0/go_mod.patch
  modules/007-registrypackages/images/crictl/patches/1.30.1/go_mod.patch
  modules/007-registrypackages/images/crictl/patches/1.31.1/go_mod.patch
  modules/007-registrypackages/images/crictl/werf.inc.yaml
Labels: area/core

#11505 [docs] Update FAQ with instructions on updating control plane certificates
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, skip/documentation-validation, status/backport

#11524 Backport: [docs] Update FAQ with instructions on updating control plane certificates
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#11527 [control-plane-manager] fixed CVE-2024-51744
  modules/000-common/images/kubernetes/patches/1.27/go-mod.patch
  modules/000-common/images/kubernetes/werf.inc.yaml
  modules/040-control-plane-manager/images/etcd/patches/001-go-mod.patch
Labels: area/cluster-and-infrastructure

#11504 [docs] fix Managing nodes examples section design
  modules/040-node-manager/docs/EXAMPLES.md
  modules/040-node-manager/docs/EXAMPLES_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport

#11536 [control-plane-manager] fixed CVE-2024-51744
  modules/000-common/images/kubernetes/patches/1.27/go-mod.patch
  modules/000-common/images/kubernetes/werf.inc.yaml
  modules/040-control-plane-manager/images/etcd/patches/001-go-mod.patch
  modules/040-control-plane-manager/images/etcd/patches/002-etcdctl-snapshot-pipe.patch
  modules/040-control-plane-manager/images/etcd/werf.inc.yaml
Labels: area/cluster-and-infrastructure

#11537 [docs] rm artifact in werf
  docs/documentation/werf-web.inc.yaml
  docs/site/werf-debug.yaml
  docs/site/werf-docs-builder.inc.yaml
  tools/docs/spelling/filesignore
Labels: area/testing, area/docs

#11541 [registrypackages] bump go mod deps containerd
  modules/007-registrypackages/images/containerd/patches/containerd/001-go-mod.patch
  modules/007-registrypackages/images/containerd/patches/runc/001-go-mod.patch
  modules/007-registrypackages/images/containerd/patches/runc/002-readd-tuntap-to-default-device-rules.patch
  modules/007-registrypackages/images/containerd/werf.inc.yaml
Labels: area/core

#11544 [chore] dex-authenticator path fix
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
Labels: area/auth

#11495 Changelog v1.67.5
  CHANGELOG/CHANGELOG-v1.67.5.yml
  CHANGELOG/CHANGELOG-v1.67.md
Labels: changelog, auto, status/backport

#11548 Backport: Changelog v1.67.5
  CHANGELOG/CHANGELOG-v1.67.5.yml
  CHANGELOG/CHANGELOG-v1.67.md
Labels: auto, backported

#11432 [docs][secret-copier] Clearify module workflow
  modules/110-istio/openapi/doc-ru-config-values.yaml
  modules/600-secret-copier/docs/README.md
  modules/600-secret-copier/docs/README_RU.md
Labels: area/docs, skip/documentation-validation, status/backport

#11551 Backport: [docs][secret-copier] Clearify module workflow
  modules/110-istio/openapi/doc-ru-config-values.yaml
  modules/600-secret-copier/docs/README.md
  modules/600-secret-copier/docs/README_RU.md
Labels: auto, backported

#11549 Adding a space to a command (Getting started)
  docs/site/_includes/getting_started/global/STEP_CLUSTER_ACCESS.md
  docs/site/_includes/getting_started/global/STEP_CLUSTER_ACCESS_RU.md
Labels: area/docs, skip/documentation-validation

#11553 Backport: [dhtcl] add support validation for huawicloud,dynamix
  dhctl/pkg/config/validation.go
  dhctl/pkg/config/validation_rules.go
Labels: auto, backported

#11531 [loki] Fix minor loki CVE
  modules/462-loki/images/loki/patches/0001-Update-crypto-net-packages.patch
Labels: status/ok-to-test, area/logs

#11433 [multitenancy-manager] cse build
  .github/dependabot.yml
  modules/160-multitenancy-manager/images/multitenancy-manager/Dockerfile
  modules/160-multitenancy-manager/images/multitenancy-manager/src/cmd/main.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/default/default.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/default/empty.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/default/secure-with-dedicated-nodes.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/default/secure.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/go.mod
  modules/160-multitenancy-manager/images/multitenancy-manager/src/go.sum
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/apis/deckhouse.io/register.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/apis/deckhouse.io/v1alpha1/project_template.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/apis/deckhouse.io/v1alpha1/register.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/apis/deckhouse.io/v1alpha2/project.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/apis/deckhouse.io/v1alpha2/register.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/controller/project/controller.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/controller/template/controller.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/client.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/client_test.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/hash.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/renderer.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/default_case/project.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/default_case/resources.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/default_case/template.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/empty_case/project.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/empty_case/resources.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/empty_case/template.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/secure_case/project.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/secure_case/resources.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/secure_case/template.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/secure_with_dedicated_node_case/project.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/secure_with_dedicated_node_case/resources.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/secure_with_dedicated_node_case/template.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/without_ns_case/project.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/without_ns_case/resources.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/helm/testdata/without_ns_case/template.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/manager/project/manager.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/manager/project/utils.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/manager/template/manager.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/manager/template/utils.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/validate/validate.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/webhook/namespace/hook.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/webhook/project/hook.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/pkg/webhook/template/hook.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/templates/_helpers.tpl
  modules/160-multitenancy-manager/images/multitenancy-manager/src/templates/template.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/werf.inc.yaml
  modules/160-multitenancy-manager/templates/multitenancy-manager/controller.yaml
Labels: type/dependencies, go

#11530 [loki] Fix minor CVE
  modules/462-loki/images/loki/patches/0001-Update-crypto-net-packages.patch
Labels: status/ok-to-test, area/logs

#11542 [prometheus] Use statically linked python for grafana dashboard provisioner CSE
  modules/300-prometheus/images/grafana-dashboard-provisioner/werf.inc.yaml
Labels: area/monitoring

#11534 [prometheus] Use statically linked python for grafana dashboard provisioner
  modules/300-prometheus/images/grafana-dashboard-provisioner/werf.inc.yaml
Labels: area/monitoring

#11448 [docs] Cleanup module bundles files from deleted modules
  .github/labeler.yml
  docs/documentation/_data/editions-addition.json
  docs/documentation/_tools/modules_menu_skip
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_RU.md
  modules/300-prometheus/rbac.yaml
  modules/values-default.yaml
  modules/values-managed.yaml
Labels: area/monitoring, area/docs, skip/documentation-validation, status/backport

#11563 Backport: [docs] Cleanup module bundles files from deleted modules
  .github/labeler.yml
  docs/documentation/_data/editions-addition.json
  docs/documentation/_tools/modules_menu_skip
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_RU.md
  modules/300-prometheus/rbac.yaml
  modules/values-default.yaml
  modules/values-managed.yaml
Labels: auto, backported

#11511 [cloud-provider-zvirt] remove DisksMeta from cloud-data-discoverer
  ee/se-plus/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/discoverer.go
Labels: go

#11422 [cni-cilium] CSE: refactor build
  .github/dependabot.yml
  .werf/defines/controller-src.tmpl
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/cmd/main.go
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/go.mod
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/go.sum
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/internal/controller/egressgateway_controller.go
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/internal/layer2/announcer.go
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/internal/layer2/announcer_test.go
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/internal/layer2/arp.go
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/internal/layer2/arp_test.go
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/internal/layer2/ip_advertisement.go
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/internal/layer2/ndp.go
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/internal/layer2/stats.go
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/pkg/apis/common/types.go
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/pkg/apis/internal.network/v1alpha1/egressgatewayinstance.go
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/pkg/apis/internal.network/v1alpha1/egressgatewayinstance_deepcopy.go
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/pkg/apis/internal.network/v1alpha1/groupversion_info.go
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/pkg/apis/v1alpha1/egressgateway.go
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/pkg/apis/v1alpha1/egressgateway_deepcopy.go
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/pkg/apis/v1alpha1/egressgatewaypolicies.go
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/pkg/apis/v1alpha1/groupversion_info.go
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/werf.inc.yaml
  go.mod
  modules/021-cni-cilium/images/README.md
  modules/021-cni-cilium/images/agent/werf.inc.yaml
  modules/021-cni-cilium/images/base-cilium-dev/werf.inc.yaml
  modules/021-cni-cilium/images/bin-bpftool/werf.inc.yaml
  modules/021-cni-cilium/images/bin-cilium-envoy/werf.inc.yaml
  modules/021-cni-cilium/images/bin-cilium/patches/004-go-mod.patch
  modules/021-cni-cilium/images/bin-cilium/patches/README.md
  modules/021-cni-cilium/images/bin-cilium/werf.inc.yaml
  modules/021-cni-cilium/images/bin-cni-plugins/patches/001-go-mod.patch
  modules/021-cni-cilium/images/bin-cni-plugins/werf.inc.yaml
  modules/021-cni-cilium/images/bin-gops/werf.inc.yaml
  modules/021-cni-cilium/images/bin-hubble/patches/001-go-mod.patch
  modules/021-cni-cilium/images/bin-hubble/patches/README.md
  modules/021-cni-cilium/images/bin-hubble/werf.inc.yaml
  modules/021-cni-cilium/images/bin-iptables/werf.inc.yaml
  modules/021-cni-cilium/images/bin-llvm/werf.inc.yaml
  modules/021-cni-cilium/images/check-kernel-version/werf.inc.yaml
  modules/021-cni-cilium/images/kube-rbac-proxy/werf.inc.yaml
  modules/021-cni-cilium/images/operator/patches/004-go-mod.patch
  modules/021-cni-cilium/images/operator/werf.inc.yaml
  modules/021-cni-cilium/images/safe-agent-updater/go.mod
  modules/021-cni-cilium/images/safe-agent-updater/go.sum
  modules/021-cni-cilium/images/safe-agent-updater/werf.inc.yaml
  tools/go.mod
Labels: area/network, area/testing, type/dependencies, area/core, skip/documentation-validation, skip/e2e, go

#11426 [prometheus] Upgrade Prometheus to v2.55.1
  modules/300-prometheus/images/prometheus/README.md
  modules/300-prometheus/images/prometheus/patches/README.md
  modules/300-prometheus/images/prometheus/patches/fix-cve.patch
  modules/300-prometheus/images/prometheus/patches/sample_limit_annotation.patch
  modules/300-prometheus/images/prometheus/patches/successfully_sent_metric.patch
  modules/300-prometheus/images/prometheus/werf.inc.yaml
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
  modules/303-prometheus-pushgateway/images/pushgateway/werf.inc.yaml
Labels: area/monitoring, status/ok-to-test

#11571 bump deps for vulnerability fix
  modules/031-local-path-provisioner/images/local-path-provisioner/patches/001-go-mod.patch
  modules/031-local-path-provisioner/images/local-path-provisioner/patches/002-fix-directory-or-create.patch
  modules/031-local-path-provisioner/images/local-path-provisioner/patches/fix-go-mod.patch
  modules/031-local-path-provisioner/images/local-path-provisioner/werf.inc.yaml
Labels: area/storage

#11569 [local-path-provisioner] cse bump deps for vulnerability fix
  modules/031-local-path-provisioner/images/local-path-provisioner/patches/001-go-mod.patch
  modules/031-local-path-provisioner/images/local-path-provisioner/patches/002-fix-directory-or-create.patch
  modules/031-local-path-provisioner/images/local-path-provisioner/patches/fix-go-mod.patch
  modules/031-local-path-provisioner/images/local-path-provisioner/werf.inc.yaml
Labels: area/storage

#11567 [common] bump shell operator
  go.mod
  go.sum
  modules/000-common/images/shell-operator/werf.inc.yaml
  tools/go.mod
  tools/go.sum
Labels: area/testing, type/dependencies, area/core

#11576 bump shell operator (#11567)
  go.mod
  go.sum
  modules/000-common/images/shell-operator/werf.inc.yaml
  tools/go.mod
  tools/go.sum
Labels: area/testing, type/dependencies, area/core

#11568 [trivy] fix cve in sources and update build
  ee/modules/015-admission-policy-engine/images/trivy-provider/src/go.mod
  ee/modules/015-admission-policy-engine/images/trivy-provider/src/go.sum
  ee/modules/015-admission-policy-engine/images/trivy-provider/werf.inc.yaml
  ee/modules/500-operator-trivy/images/operator/werf.inc.yaml
  ee/modules/500-operator-trivy/images/trivy/werf.inc.yaml
Labels: area/security, type/dependencies

#11545 [docs] Update alert descriptions
  docs/documentation/_data/deckhouse-alerts.yml
  modules/015-admission-policy-engine/monitoring/prometheus-rules/audit.yaml
  modules/015-admission-policy-engine/monitoring/prometheus-rules/bootstrap.yaml
  modules/101-cert-manager/monitoring/prometheus-rules/certificate.yaml
  modules/470-chrony/monitoring/prometheus-rules/chrony.yaml
Labels: area/docs

#11586 [node-manager] bump go mod deps versions
  modules/040-node-manager/images/capi-controller-manager/patches/001-go-mod.patch
  modules/040-node-manager/images/capi-controller-manager/patches/README.MD
  modules/040-node-manager/images/capi-controller-manager/werf.inc.yaml
Labels: area/cluster-and-infrastructure

#11540 [docs] Update instructions to switch from EE to CSE 1.64
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, skip/documentation-validation, status/backport

#11590 Backport: [docs] Update instructions to switch from EE to CSE 1.64
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#11436 [user-authz] cse build
  .github/dependabot.yml
  ee/be/modules/140-user-authz/images/webhook/Dockerfile
  ee/be/modules/140-user-authz/images/webhook/go.mod
  ee/be/modules/140-user-authz/images/webhook/go.sum
  ee/be/modules/140-user-authz/images/webhook/src/cmd/healthcheck/main.go
  ee/be/modules/140-user-authz/images/webhook/src/cmd/webhook/main.go
  ee/be/modules/140-user-authz/images/webhook/src/go.mod
  ee/be/modules/140-user-authz/images/webhook/src/go.sum
  ee/be/modules/140-user-authz/images/webhook/src/internal/cache/cache.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/cache/cache_test.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/cache/kube.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/cache/retry.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/web/client.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/web/hook/handler.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/web/hook/handler_test.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/web/hook/system.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/web/hook/types.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/web/server.go
  ee/be/modules/140-user-authz/images/webhook/werf.inc.yaml
Labels: type/dependencies, go

#10880 [extended-monitoring] Add namespace-scoped overrides for threshold labels
  modules/340-extended-monitoring/docs/CONFIGURATION.md
  modules/340-extended-monitoring/docs/CONFIGURATION_RU.md
  modules/340-extended-monitoring/images/extended-monitoring-exporter/src/extended-monitoring.py
Labels: area/monitoring, area/docs, python

#11602 [docs] Update topnav on the site
  Makefile
  docs/site/_data/copyright.json
  docs/site/_data/footer.json
  docs/site/_data/i18n.yaml
  docs/site/_data/topnav-l2-products.json
  docs/site/_data/topnav.json
  docs/site/_includes/header.html
  docs/site/werf.yaml
Labels: area/docs

#11606 [operator-prometheus] Fix prometheus-operator CVEs
  modules/200-operator-prometheus/images/prometheus-operator/patches/004_fix_cve.patch
  modules/200-operator-prometheus/images/prometheus-operator/patches/README.md
  modules/200-operator-prometheus/images/prometheus-operator/werf.inc.yaml
Labels: area/monitoring

#11603 [operator-prometheus] Fix prometheus-operator CVEs
  modules/200-operator-prometheus/images/prometheus-operator/patches/004_fix_cve.patch
  modules/200-operator-prometheus/images/prometheus-operator/patches/README.md
  modules/200-operator-prometheus/images/prometheus-operator/werf.inc.yaml
Labels: area/monitoring

#11599 [prometheus] Promxy CVE patch
  modules/300-prometheus/images/promxy/patches/0001-update-crypto-net-cve.patch
Labels: area/monitoring, status/ok-to-test

#11598 [prometheus] Promxy CVE patch
  modules/300-prometheus/images/promxy/patches/0001-update-crypto-net-cve.patch
Labels: area/monitoring, status/ok-to-test

#11557 [ingress-nginx] refactor build (go deps)
  modules/402-ingress-nginx/images/controller-1-10/patches/01-gomod.patch
Labels: area/network

#11523 [registrypackages] fixed cve in crictl
  modules/007-registrypackages/images/crictl/patches/1.27.1/go_mod.patch
  modules/007-registrypackages/images/crictl/patches/1.28.0/go_mod.patch
  modules/007-registrypackages/images/crictl/patches/1.29.0/go_mod.patch
  modules/007-registrypackages/images/crictl/patches/1.30.1/go_mod.patch
  modules/007-registrypackages/images/crictl/patches/1.31.1/go_mod.patch
  modules/007-registrypackages/images/crictl/werf.inc.yaml
Labels: area/core

#11617 Backport: [operator-prometheus] Fix prometheus-operator CVEs
  modules/200-operator-prometheus/images/prometheus-operator/patches/004_fix_cve.patch
  modules/200-operator-prometheus/images/prometheus-operator/patches/README.md
  modules/200-operator-prometheus/images/prometheus-operator/werf.inc.yaml
Labels: auto, backported

#11510 [cloud-provider-zvirt] bump deps
  ee/se-plus/modules/030-cloud-provider-zvirt/images/capz-controller-manager/src/go.mod
  ee/se-plus/modules/030-cloud-provider-zvirt/images/capz-controller-manager/src/go.sum
  ee/se-plus/modules/030-cloud-provider-zvirt/images/capz-controller-manager/werf.inc.yaml
  ee/se-plus/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/go.mod
  ee/se-plus/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/go.sum
  ee/se-plus/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/werf.inc.yaml
  ee/se-plus/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/werf.inc.yaml
  ee/se-plus/modules/030-cloud-provider-zvirt/images/zvirt-csi-driver/patches/002_bump_deps.patch
  ee/se-plus/modules/030-cloud-provider-zvirt/images/zvirt-csi-driver/patches/003_bugfixes.patch
  ee/se-plus/modules/030-cloud-provider-zvirt/images/zvirt-csi-driver/patches/readme.md
  ee/se-plus/modules/030-cloud-provider-zvirt/images/zvirt-csi-driver/werf.inc.yaml
Labels: type/dependencies

#11607 [operator-prometheus] update build
  modules/200-operator-prometheus/images/prometheus-config-reloader/werf.inc.yaml
  modules/200-operator-prometheus/images/prometheus-operator/werf.inc.yaml
Labels: area/monitoring

#11615 [operator-prometheus] Fix prometheus-operator CVEs
  modules/200-operator-prometheus/images/prometheus-operator/patches/004_fix_cve.patch
Labels: area/monitoring

#11614 [operator-prometheus] Fix prometheus-operator CVEs
  modules/200-operator-prometheus/images/prometheus-operator/patches/004_fix_cve.patch
Labels: area/monitoring

#11621 [docs] Review of OpenStack provider configuration
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, skip/documentation-validation, status/backport, area/api-change

#11624 Backport: [docs] Review of OpenStack provider configuration
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#11625 Backport: [docs] Review of OpenStack provider configuration
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#11609 [cni-cilium] CSE: fix vulnerability in sources
  modules/021-cni-cilium/images/bin-cilium-envoy/patches/001-go-mod.patch
  modules/021-cni-cilium/images/bin-cilium-envoy/patches/README.md
  modules/021-cni-cilium/images/bin-cilium-envoy/werf.inc.yaml
  modules/021-cni-cilium/images/bin-cni-plugins/patches/001-go-mod.patch
  modules/021-cni-cilium/images/bin-cni-plugins/patches/README.md
  modules/021-cni-cilium/images/bin-cni-plugins/werf.inc.yaml
Labels: area/network, skip/e2e

#11579 [metallb] Fix overlapping networks in IPAddressPools
  ee/modules/380-metallb/templates/controller/ipaddresspools.yaml
  ee/se/modules/380-metallb/openapi/conversions/conversions_test.go
  ee/se/modules/380-metallb/openapi/conversions/v2.yaml
Labels: area/network, skip/e2e, go

#11623 [prometheus-pushgateway] pushgateway CVE fix
  modules/303-prometheus-pushgateway/images/pushgateway/patches/001_fix_cve.patch
  modules/303-prometheus-pushgateway/images/pushgateway/patches/README.md
  modules/303-prometheus-pushgateway/images/pushgateway/werf.inc.yaml
Labels: area/monitoring

#11619 [prometheus-pushgateway] pushgateway CVE fix
  modules/303-prometheus-pushgateway/images/pushgateway/patches/001_fix_cve.patch
  modules/303-prometheus-pushgateway/images/pushgateway/patches/README.md
  modules/303-prometheus-pushgateway/images/pushgateway/werf.inc.yaml
Labels: area/monitoring

#11228 [node-local-dns] Migrate to timeseries for dashboards
  ee/be/modules/350-node-local-dns/monitoring/grafana-dashboards/kubernetes-cluster/dns-node-local.json
Labels: status/ok-to-test

#11637 Backport: [metallb] Fix overlapping networks in IPAddressPools
  ee/modules/380-metallb/templates/controller/ipaddresspools.yaml
  ee/se/modules/380-metallb/openapi/conversions/conversions_test.go
  ee/se/modules/380-metallb/openapi/conversions/v2.yaml
Labels: auto, backported

#11550 Changelog v1.67.6
  CHANGELOG/CHANGELOG-v1.67.6.yml
  CHANGELOG/CHANGELOG-v1.67.md
Labels: changelog, auto, status/backport

#11640 Backport: Changelog v1.67.6
  CHANGELOG/CHANGELOG-v1.67.6.yml
  CHANGELOG/CHANGELOG-v1.67.md
Labels: auto, backported

#9751 [prometheus] Fix alerts for expiring and expired Certificates
  docs/documentation/_data/deckhouse-alerts.yml
  modules/101-cert-manager/monitoring/prometheus-rules/certificate.yaml
Labels: area/security, area/docs, status/backport

#11645 [docs][user-authn] Update DexAuthenticator CRD
  modules/150-user-authn/crds/dex-authenticator.yaml
Labels: area/auth, status/backport, area/api-change

#11646 Backport: [docs][user-authn] Update DexAuthenticator CRD
  modules/150-user-authn/crds/dex-authenticator.yaml
Labels: auto, backported
