Repository deckhouse/deckhouse, pull requests merged in 2025-04, with the labels that each got.

#12791 [docs] Add a prompp product
  docs/site/_data/footer.json
  docs/site/_includes/header.html
Labels: area/docs

#12777 [admission-policy-engine][docs] Add SecurityPolicies examples that match PSS
  docs/documentation/_data/sidebars/main.yml
  modules/015-admission-policy-engine/docs/FAQ.md
  modules/015-admission-policy-engine/docs/FAQ_RU.md
Labels: area/security, area/docs

#12821 Backport: [admission-policy-engine][docs] Add SecurityPolicies examples that match PSS
  docs/documentation/_data/sidebars/main.yml
  modules/015-admission-policy-engine/docs/FAQ.md
  modules/015-admission-policy-engine/docs/FAQ_RU.md
Labels: auto, backported

#12803 fix: exclude virtualization from the validation of the admission policy engine
  modules/015-admission-policy-engine/templates/validatingwebhookconfiguration.yaml
Labels: area/security

#12817 [docs] Add release notes
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/release-notes/1-68.md
  docs/documentation/pages/release-notes/1-68_RU.md
Labels: area/docs, skip/documentation-validation

#12823 Backport: [docs] Add release notes
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/release-notes/1-68.md
  docs/documentation/pages/release-notes/1-68_RU.md
Labels: auto, backported

#12820 [docs] Add release notes
  docs/documentation/_data/sidebars/kubernetes-platform.yml
  docs/documentation/pages/architecture/release-notes/1-68.md
  docs/documentation/pages/architecture/release-notes/1-68_RU.md
Labels: area/docs, skip/documentation-validation

#12774 [admission-policy-engine] Add new baseline policies
  modules/015-admission-policy-engine/charts/constraint-templates/tests/allowed-selinux/constraint_pss_baseline.yaml
  modules/015-admission-policy-engine/charts/constraint-templates/tests/allowed-sysctls/constraint_pss_baseline.yaml
  modules/015-admission-policy-engine/templates/policies/pod-security-standards/baseline/constraint.yaml
Labels: area/security, e2e/use/k8s/1.28, e2e/use/k8s/1.31

#12808 [cert-manager] Bump cert-manager components to 1.17.1
  modules/101-cert-manager/crds/crd-certificaterequests.yaml
  modules/101-cert-manager/crds/crd-certificates.yaml
  modules/101-cert-manager/crds/crd-challenges.yaml
  modules/101-cert-manager/crds/crd-clusterissuers.yaml
  modules/101-cert-manager/crds/crd-issuers.yaml
  modules/101-cert-manager/crds/crd-orders.yaml
  modules/101-cert-manager/crds/pull_crds.sh
  modules/101-cert-manager/docs/README.md
  modules/101-cert-manager/docs/README_RU.md
  modules/101-cert-manager/images/cert-manager-acme-solver/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-cainjector/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-controller/patches/001-certificate_owner_ref.patch
  modules/101-cert-manager/images/cert-manager-controller/patches/001-go-mod.patch
  modules/101-cert-manager/images/cert-manager-controller/patches/README.md
  modules/101-cert-manager/images/cert-manager-controller/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-webhook/werf.inc.yaml
Labels: area/security, area/docs, skip/documentation-validation, area/api-change, status/backport/failed

#12797 Revert "[cloud-provider-vcd] Change the etcd(kubernetes_data) storage disk type from vcd_vm_internal_disk to vcd_independent_disk "
  ee/candi/cloud-providers/vcd/terraform-modules/master-node/main.tf
Labels: area/cloud-provider, area/cluster-and-infrastructure

#12824 [deckhouse-controller] Add verbose to registry client, fix tests and darwin compile
  deckhouse-controller/pkg/controller/chroot_object_desctiptors.go
  deckhouse-controller/pkg/controller/chroot_object_desctiptors_linux.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
  go_lib/dependency/cr/cr.go
  go_lib/dependency/dependency_test.go
Labels: type/enhancement, area/core, go

#12813 [multitenancy-manager] get rid of resource labels/annotations
  modules/160-multitenancy-manager/crds/doc-ru-projects.yaml
  modules/160-multitenancy-manager/crds/projects.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/apis/deckhouse.io/v1alpha2/project.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/internal/helm/client.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/internal/helm/renderer.go
Labels: go, area/api-change

#12492 [service-with-healthchecks] deleting text data from a binary file
  ee/modules/610-service-with-healthchecks/images/artifact/go.mod
  ee/modules/610-service-with-healthchecks/images/artifact/go.sum
  ee/modules/610-service-with-healthchecks/images/artifact/patches/001-dictionary.patch
  ee/modules/610-service-with-healthchecks/images/artifact/patches/002-dictionary_hash.patch
  ee/modules/610-service-with-healthchecks/images/artifact/patches/README.md
  ee/modules/610-service-with-healthchecks/images/artifact/werf.inc.yaml
Labels: type/dependencies, e2e/cluster/failed, e2e/use/k8s/1.28, e2e/use/k8s/1.30, e2e/use/k8s/1.32

#12666 [metallb] Refactoring of graphana dashboards
  ee/modules/380-metallb/monitoring/grafana-dashboards/kubernetes-cluster/metallb-bgp.json
  ee/modules/380-metallb/monitoring/grafana-dashboards/kubernetes-cluster/metallb-pool.json
  ee/se/modules/380-metallb/monitoring/grafana-dashboards/kubernetes-cluster/metallb-l2.json
  ee/se/modules/380-metallb/monitoring/grafana-dashboards/kubernetes-cluster/metallb-pools.json
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: area/network, area/testing, e2e/use/k8s/1.28, e2e/use/k8s/1.30

#12830 Backport: [cert-manager] Bump cert-manager components to 1.17.1
  modules/101-cert-manager/crds/crd-certificaterequests.yaml
  modules/101-cert-manager/crds/crd-certificates.yaml
  modules/101-cert-manager/crds/crd-challenges.yaml
  modules/101-cert-manager/crds/crd-clusterissuers.yaml
  modules/101-cert-manager/crds/crd-issuers.yaml
  modules/101-cert-manager/crds/crd-orders.yaml
  modules/101-cert-manager/crds/pull_crds.sh
  modules/101-cert-manager/docs/README.md
  modules/101-cert-manager/docs/README_RU.md
  modules/101-cert-manager/images/cert-manager-acme-solver/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-cainjector/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-controller/patches/001-certificate_owner_ref.patch
  modules/101-cert-manager/images/cert-manager-controller/patches/README.md
  modules/101-cert-manager/images/cert-manager-controller/werf.inc.yaml
  modules/101-cert-manager/images/cert-manager-webhook/werf.inc.yaml
Labels: area/security, area/docs, area/api-change, backported

#12819 [dhctl] Fixed timeout value when downloading packets
  candi/bashible/bashbooster/50_registrypackages.sh
  candi/bashible/bb_package_install.sh.tpl
Labels: area/cluster-and-infrastructure

#12794 [ci] remove obsolete dev-images
  .werf/defines/modules.tmpl
  candi/image_versions.yml
Labels: area/cluster-and-infrastructure

#12778 [dhctl] fix(dhctl-for-commander-stop-registry-proxy): stop registry proxy after bootstrap
  dhctl/pkg/operations/bootstrap/steps.go
  go_lib/registry-packages-proxy/proxy/proxy.go
Labels: area/cli, area/core, go

#12586 [dhctl] Add local kubeconfig k8s proxy
  dhctl/cmd/dhctl/commands/session.go
  dhctl/cmd/dhctl/main.go
Labels: area/cli, go

#12284 [monitoring-kubernetes-control-plane] Add multi set desired K8s version
  modules/340-monitoring-kubernetes-control-plane/monitoring/grafana-dashboards/kubernetes-cluster/deprecated-resources.json
Labels: area/monitoring

#12234 [candi] add distros to CE
  candi/bashible/bashbooster/55_distro_version.sh
  candi/version_map.yml
  editions.yaml
  ee/be/candi/bashible/.build.yaml
  ee/be/candi/bashible/bashbooster/55_ee_distro_version.sh
  ee/be/candi/version_map.yml
  ee/candi/version_map.yml
  modules/040-node-manager/images/bashible-apiserver/src/pkg/generated/clientset/versioned/doc.go
  modules/040-node-manager/images/bashible-apiserver/src/pkg/template/context_builder.go
  tools/build_includes/candi-BE.yaml
  tools/build_includes/candi-EE.yaml
  tools/build_includes/candi-FE.yaml
  tools/build_includes/candi-SE-plus.yaml
  tools/build_includes/candi-SE.yaml
Labels: area/kubernetes, area/testing, area/cluster-and-infrastructure, go

#12157 [prometheus] clean build tools from src-artifacts
  modules/300-prometheus/images/mimir/werf.inc.yaml
  modules/300-prometheus/images/promxy/werf.inc.yaml
Labels: area/monitoring

#12220 [cni] Move D8CNIMisconfigured in module deckhouse
  docs/documentation/_data/deckhouse-alerts.yml
  modules/021-cni-cilium/monitoring/prometheus-rules/cni-checks.yaml
  modules/035-cni-flannel/monitoring/prometheus-rules/cni-checks.yaml
  modules/035-cni-simple-bridge/monitoring/prometheus-rules/cni-checks.yaml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/cni-checks.yaml
Labels: area/monitoring, area/network, area/docs, e2e/use/k8s/1.30

#12726 [common] rm alpine image
  modules/000-common/images/alpine/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, go

#12784 [namespace-configurator] add exclusion for deckhouse and multitenancy-manager namespaces
  modules/600-namespace-configurator/docs/README.md
  modules/600-namespace-configurator/docs/README_RU.md
  modules/600-namespace-configurator/hooks/handler.go
  modules/600-namespace-configurator/hooks/handler_test.go
Labels: area/docs, area/cluster-and-infrastructure, go

#12715 [multitenancy-manager] empty template by default
  modules/160-multitenancy-manager/crds/projects.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/internal/helm/client.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/internal/helm/client_test.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/internal/helm/testdata/empty_case/project.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/internal/helm/testdata/empty_case/template.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/internal/manager/namespace/manager.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/internal/manager/project/utils.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/internal/webhook/project/hook.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/templates/empty.yaml
Labels: go, area/api-change

#12758 [deckhouse] mpo rollback flag
  deckhouse-controller/crds/doc-ru-module-pull-override.yaml
  deckhouse-controller/crds/module-pull-override.yaml
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_release.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha2/module_pull_override.go
  deckhouse-controller/pkg/controller/module-controllers/override/controller.go
  deckhouse-controller/pkg/controller/module-controllers/utils/utils.go
  deckhouse-controller/pkg/controller/moduleloader/sync.go
  docs/documentation/pages/module-development/DEVELOPMENT.md
  docs/documentation/pages/module-development/DEVELOPMENT_RU.md
Labels: area/docs, area/core, go, area/api-change

#12837 [docs] Add trdl nginx path deckhouse-cli-trdl to ingress docs deckhouse.ru
  docs/site/.helm/templates/20-ingress.yaml
  docs/site/.werf/nginx-dev.conf
Labels: area/docs, status/backport

#12702 [deckhouse] module settings definition
  deckhouse-controller/cmd/deckhouse-controller/main.go
  deckhouse-controller/cmd/deckhouse-controller/start.go
  deckhouse-controller/crds/doc-ru-module-settings-definition.yaml
  deckhouse-controller/crds/module-settings-definition.yaml
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_settings_definition.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/register.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/zz_generated.deepcopy.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/deckhouse.io_client.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/fake/fake_deckhouse.io_client.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/fake/fake_modulesettingsdefinition.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/generated_expansion.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/modulesettingsdefinition.go
  deckhouse-controller/pkg/client/informers/externalversions/deckhouse.io/v1alpha1/interface.go
  deckhouse-controller/pkg/client/informers/externalversions/deckhouse.io/v1alpha1/modulesettingsdefinition.go
  deckhouse-controller/pkg/client/informers/externalversions/generic.go
  deckhouse-controller/pkg/client/listers/deckhouse.io/v1alpha1/expansion_generated.go
  deckhouse-controller/pkg/client/listers/deckhouse.io/v1alpha1/modulesettingsdefinition.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/moduleloader/loader.go
  deckhouse-controller/pkg/controller/moduleloader/sync.go
  docs/documentation/pages/DECKHOUSE_CR.md
  docs/documentation/pages/DECKHOUSE_CR_RU.md
  go_lib/configtools/conversion/store.go
Labels: area/docs, area/core, go, area/api-change

#12686 [deckhouse-controller] unmanaged module mode
  deckhouse-controller/crds/doc-ru-module-config.yaml
  deckhouse-controller/crds/module-config.yaml
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_config.go
  deckhouse-controller/pkg/controller/confighandler/handler.go
  deckhouse-controller/pkg/controller/module-controllers/config/controller.go
  docs/documentation/_data/deckhouse-alerts.yml
  go.mod
  go.sum
  modules/002-deckhouse/templates/validation.yaml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/alerting.yaml
Labels: area/monitoring, area/docs, type/dependencies, area/core, go, area/api-change

#10216 [deckhouse] Make GC run more frequently
  candi/control-plane-kubeadm/patches/kube-apiserver.yaml.tpl
  candi/control-plane-kubeadm/patches/kube-controller-manager.yaml.tpl
  candi/control-plane-kubeadm/patches/kube-scheduler.yaml.tpl
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  modules/002-deckhouse/templates/deployment.yaml
Labels: area/cluster-and-infrastructure, area/cli, go

#12768 Changelog v1.68.8
  CHANGELOG/CHANGELOG-v1.68.8.yml
  CHANGELOG/CHANGELOG-v1.68.md
Labels: changelog, auto, status/backport

#12842 Backport: Changelog v1.68.8
  CHANGELOG/CHANGELOG-v1.68.8.yml
  CHANGELOG/CHANGELOG-v1.68.md
Labels: auto, backported

#12788 [monitoring-custom] Exclude d8-observability namespace from collecting Prometheus Operator CRs
  modules/340-monitoring-custom/hooks/metrics.go
Labels: area/monitoring, go

#12614 [observability] Add observability dashboard manifest
  ee/fe/modules/340-monitoring-applications/applications/elasticsearch/grafana-dashboards/propagated-elasticsearch.json
  ee/fe/modules/340-monitoring-applications/applications/etcd3/grafana-dashboards/propagated-etcd3.json
  ee/fe/modules/340-monitoring-applications/applications/memcached/grafana-dashboards/propagated-memcached.json
  ee/fe/modules/340-monitoring-applications/applications/mongodb/grafana-dashboards/propagated-mongodb.json
  ee/fe/modules/340-monitoring-applications/applications/nats/grafana-dashboards/propagated-nats-legacy.json
  ee/fe/modules/340-monitoring-applications/applications/nats/grafana-dashboards/propagated-nats.json
  ee/fe/modules/340-monitoring-applications/applications/pgbouncer/grafana-dashboards/propagated-pgbouncer.json
  ee/fe/modules/340-monitoring-applications/applications/php-fpm/grafana-dashboards/propagated-php-fpm.json
  ee/fe/modules/340-monitoring-applications/applications/prometheus/grafana-dashboards/propagated-prometheus.json
  ee/fe/modules/340-monitoring-applications/applications/rabbitmq/grafana-dashboards/propagated-rabbitmq-legacy.json
  ee/fe/modules/340-monitoring-applications/applications/rabbitmq/grafana-dashboards/propagated-rabbitmq.json
  ee/fe/modules/340-monitoring-applications/applications/redis/grafana-dashboards/propagated-redis.json
  ee/fe/modules/340-monitoring-applications/applications/sidekiq/grafana-dashboards/propagated-sidekiq.json
  ee/fe/modules/340-monitoring-applications/applications/uwsgi/grafana-dashboards/propagated-uwsgi.json
  helm_lib/charts/deckhouse_lib_helm/templates/_monitoring_grafana_dashboards.tpl
  modules/015-admission-policy-engine/monitoring/grafana-dashboards/security/propagated-admission-policy-engine.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/propagated-namespace.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/namespace/propagated-namespaces.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/propagated-controller.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/main/propagated-pod.json
  modules/402-ingress-nginx/monitoring/grafana-dashboards/ingress-nginx/namespace/propagated-namespace_detail.json
  modules/402-ingress-nginx/monitoring/grafana-dashboards/ingress-nginx/namespace/propagated-namespaces.json
  modules/402-ingress-nginx/monitoring/grafana-dashboards/ingress-nginx/vhost/propagated-vhost_detail.json
  modules/402-ingress-nginx/monitoring/grafana-dashboards/ingress-nginx/vhost/propagated-vhosts.json
Labels: area/monitoring, area/network, area/security, area/core

#12792 [ingress-nginx] add cve fixer cleanup hook
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  modules/402-ingress-nginx/hooks/migration/common_test.go
  modules/402-ingress-nginx/hooks/migration/migrate_remove_ingress_validation_cve_fixer.go
  modules/402-ingress-nginx/hooks/migration/migrate_remove_ingress_validation_cve_fixer_test.go
Labels: area/network, area/core, go

#12411 [prometheus] Add scrape timeout
  ee/fe/modules/300-prometheus/templates/prometheus/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring, status/ok-to-test

#12467 [grafana] fix usage of bundled vars in env
  modules/300-prometheus/images/grafana-v10/werf.inc.yaml
Labels: area/monitoring

#10134 [prometheus] Require route in internal spec of CustomAlertManager
  modules/300-prometheus/crds/customalertmanager.yaml
  modules/300-prometheus/crds/doc-ru-customalertmanager.yaml
Labels: area/monitoring, area/api-change

#10790 [cni-cilium] Fix nesting of the debugLogging parameter in the helm chart of the ciliumHubble module
  modules/500-cilium-hubble/templates/relay/deployment.yaml
Labels: area/network

#12793 [cilium] restoring/hiding network access for cep when higher/lower priority cep was removed/added
  modules/021-cni-cilium/images/bin-cilium/patches/006-add-pod-prioroty-managment.patch
Labels: area/network

#12848 [docs] Removed VCD provider FAQ from documentation
  ee/modules/030-cloud-provider-vcd/docs/FAQ.backup
  ee/modules/030-cloud-provider-vcd/docs/FAQ_RU.backup
Labels: area/cloud-provider, area/docs, status/backport

#12849 Backport: [docs] Removed VCD provider FAQ from documentation
  ee/modules/030-cloud-provider-vcd/docs/FAQ.backup
  ee/modules/030-cloud-provider-vcd/docs/FAQ_RU.backup
Labels: auto, backported

#12850 [docs] FIx local docimentation build and run
  Makefile
  docs/site/.werf/nginx-dev.conf
  docs/site/.werf/nginx.conf
Labels: area/docs

#12847 [local-path-provisioner] update version
  modules/031-local-path-provisioner/images/helper/src/go.mod
  modules/031-local-path-provisioner/images/local-path-provisioner/patches/001-go-mod.patch
  modules/031-local-path-provisioner/images/local-path-provisioner/werf.inc.yaml
Labels: type/dependencies, area/storage, security/cve

#12854 [node-manager] partial rollback of changes in images cluster-autoscaler
  candi/version_map.yml
Labels: area/kubernetes, area/cluster-and-infrastructure, status/backport

#12857 Backport: [node-manager] partial rollback of changes in images cluster-autoscaler
  candi/version_map.yml
Labels: auto, backported

#12851 Changelog v1.68.8
  CHANGELOG/CHANGELOG-v1.68.8.yml
  CHANGELOG/CHANGELOG-v1.68.md
Labels: changelog, auto, status/backport

#12859 Backport: Changelog v1.68.8
  CHANGELOG/CHANGELOG-v1.68.8.yml
  CHANGELOG/CHANGELOG-v1.68.md
Labels: auto, backported

#12861 Changelog v1.68.8
  CHANGELOG/CHANGELOG-v1.68.8.yml
  CHANGELOG/CHANGELOG-v1.68.md
Labels: changelog, auto, status/backport

#12864 Backport: Changelog v1.68.8
  CHANGELOG/CHANGELOG-v1.68.8.yml
  CHANGELOG/CHANGELOG-v1.68.md
Labels: auto, backported

#12863 Changelog v1.68.9
  CHANGELOG/CHANGELOG-v1.68.9.yml
Labels: changelog, auto, status/backport

#12865 Backport: Changelog v1.68.9
  CHANGELOG/CHANGELOG-v1.68.9.yml
Labels: auto, backported

#12798 [dhctl] cleanup failed/completed deckhouse pods due to bootstrap
  dhctl/pkg/kubernetes/actions/deckhouse/pod.go
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
Labels: area/cli, go

#12870 Backport: [dhctl] cleanup failed/completed deckhouse pods due to bootstrap
  dhctl/pkg/kubernetes/actions/deckhouse/pod.go
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
Labels: auto, backported

#12844 [go_lib] add container registry client tests
  go_lib/dependency/cr/cr.go
  go_lib/dependency/cr/cr_test.go
Labels: type/enhancement, area/core, go

#12858 [deckhouse-controller] feature/restore release with dc only
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/first-release-with-manual-mode.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/existed-release-suspended.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/first-release-with-manual-mode.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-canary-release-wave-0.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-canary-release-wave-4.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-new-deckhouse-image.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/image-hash-not-changed.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/inherit-release-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/new-release-suspended.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/patch-release-has-own-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-canary.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-disruptions.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-requirements.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-with-changelog.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/resume-suspended-release.yaml
  deckhouse-controller/pkg/controller/module-controllers/utils/utils_test.go
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
  dhctl/pkg/operations/bootstrap/steps.go
Labels: type/enhancement, area/cli, area/core, go

#12876 Backport: [deckhouse-controller] feature/restore release with dc only
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/first-release-with-manual-mode.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/existed-release-suspended.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/first-release-with-manual-mode.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-canary-release-wave-0.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-canary-release-wave-4.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-new-deckhouse-image.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/image-hash-not-changed.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/inherit-release-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/new-release-suspended.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/patch-release-has-own-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-canary.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-disruptions.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-requirements.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-with-changelog.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/resume-suspended-release.yaml
  deckhouse-controller/pkg/controller/module-controllers/utils/utils_test.go
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
  dhctl/pkg/operations/bootstrap/steps.go
Labels: auto, backported

#12874 [deckhouse-controller] suspended release fix
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/suspend-release.yaml
Labels: type/bug, area/core, status/backport, go

#12880 Backport: [deckhouse-controller] suspended release fix
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/suspend-release.yaml
Labels: auto, backported

#12881 Backport: [deckhouse-controller] suspended release fix
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/suspend-release.yaml
Labels: auto, backported

#12878 [deckhouse-controller] 1.68 feature/restore release with dc only
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/existed-release-suspended.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-canary-release-wave-0.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-canary-release-wave-4.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-new-deckhouse-image.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/image-hash-not-changed.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/inherit-release-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/new-release-suspended.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/patch-release-has-own-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-canary.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-disruptions.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-requirements.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-with-changelog.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/resume-suspended-release.yaml
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
  dhctl/pkg/operations/bootstrap/steps.go
Labels: type/enhancement, area/cli, area/core, go

#12884 Add e2e scripts for deckhouse releases
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/README.md
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/after_all.sh
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/after_each.sh
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/before_all.sh
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/before_each.sh
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/run.sh
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/steps/10_notification.sh
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/steps/11_notification_with_windows.sh
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/steps/12_notification_with_canary.sh
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/steps/13_notification_with_error.sh
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/steps/1_auto.sh
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/steps/2_auto_patch.sh
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/steps/3_manual.sh
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/steps/4_auto_with_windows.sh
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/steps/5_auto_patch_with_windows.sh
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/steps/6_canary.sh
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/steps/7_apply_now.sh
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/steps/8_force.sh
  deckhouse-controller/pkg/controller/deckhouse-release/e2e/steps/9_suspend.sh
Labels: area/core

#12891 Backport: [runtime-audit-engine] copy falcosecurity_falcosidekick_falco_events_total to falco_events
  ee/modules/650-runtime-audit-engine/monitoring/prometheus-rules/runtime-audit-engine.yaml
Labels: auto, backported

#12894 Backport: [ci] Merge release date labels
  .github/workflow_templates/deploy-channel.multi.yml
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
Labels: auto, backported

#12883 Changelog v1.68.10
  CHANGELOG/CHANGELOG-v1.68.10.yml
  CHANGELOG/CHANGELOG-v1.68.md
Labels: changelog, auto, status/backport

#12895 Backport: Changelog v1.68.10
  CHANGELOG/CHANGELOG-v1.68.10.yml
  CHANGELOG/CHANGELOG-v1.68.md
Labels: auto, backported

#12868 [node-manager] handle_node_template hook ignore metallb label
  modules/040-node-manager/hooks/handle_node_templates.go
Labels: area/cluster-and-infrastructure, status/backport, go

#12897 Backport: [node-manager] handle_node_template hook ignore metallb label
  modules/040-node-manager/hooks/handle_node_templates.go
Labels: auto, backported

#12898 Backport: [node-manager] handle_node_template hook ignore metallb label
  modules/040-node-manager/hooks/handle_node_templates.go
Labels: auto, backported

#12896 Changelog v1.68.10
  CHANGELOG/CHANGELOG-v1.68.10.yml
Labels: changelog, auto, status/backport

#12899 Backport: Changelog v1.68.10
  CHANGELOG/CHANGELOG-v1.68.10.yml
Labels: auto, backported

#12530 [node-manager] UnmetCloudConditions requirement and alert
  docs/documentation/_data/deckhouse-alerts.yml
  ee/modules/030-cloud-provider-dynamix/images/cloud-data-discoverer/werf.inc.yaml
  ee/modules/030-cloud-provider-dynamix/templates/cloud-data-discoverer/rbac-for-us.yaml
  ee/modules/030-cloud-provider-huaweicloud/images/cloud-data-discoverer/werf.inc.yaml
  ee/modules/030-cloud-provider-huaweicloud/templates/cloud-data-discoverer/rbac-for-us.yaml
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/src/discoverer.go
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/rbac-for-us.yaml
  ee/modules/030-cloud-provider-vcd/images/cloud-data-discoverer/src/discoverer.go
  ee/modules/030-cloud-provider-vcd/templates/cloud-data-discoverer/rbac-for-us.yaml
  ee/se-plus/modules/030-cloud-provider-vsphere/images/cloud-data-discoverer/src/discoverer.go
  ee/se-plus/modules/030-cloud-provider-vsphere/templates/cloud-data-discoverer/rbac-for-us.yaml
  ee/se-plus/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/src/discoverer.go
  ee/se-plus/modules/030-cloud-provider-zvirt/templates/cloud-data-discoverer/rbac-for-us.yaml
  go_lib/cloud-data/apis/v1alpha1/types.go
  go_lib/cloud-data/reconciler.go
  modules/030-cloud-provider-aws/images/cloud-data-discoverer/src/discoverer.go
  modules/030-cloud-provider-aws/images/cloud-data-discoverer/src/go.mod
  modules/030-cloud-provider-aws/images/cloud-data-discoverer/src/go.sum
  modules/030-cloud-provider-aws/templates/cloud-data-discoverer/rbac-for-us.yaml
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/src/discoverer.go
  modules/030-cloud-provider-azure/templates/cloud-data-discoverer/rbac-for-us.yaml
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/src/discoverer.go
  modules/030-cloud-provider-gcp/templates/cloud-data-discoverer/rbac-for-us.yaml
  modules/030-cloud-provider-yandex/images/cloud-data-discoverer/discoverer.go
  modules/030-cloud-provider-yandex/templates/cloud-data-discoverer/rbac-for-us.yaml
  modules/040-node-manager/hooks/check_unmet_conditions.go
  modules/040-node-manager/hooks/check_unmet_conditions_test.go
  modules/040-node-manager/hooks/clear_nodeuser_errors.go
  modules/040-node-manager/hooks/minimal_node_os_version.go
  modules/040-node-manager/monitoring/prometheus-rules/cloud-data-discovery.tpl
  modules/040-node-manager/requirements/check.go
  modules/040-node-manager/requirements/check_test.go
  release.yaml
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, type/dependencies, area/core, go

#12910 [node-manager] partial rollback of changes in images cluster-autoscaler
  candi/version_map.yml
  modules/040-node-manager/images/cluster-autoscaler/patches/1.29/001-go-mod.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.29/README.md
Labels: area/kubernetes, area/cluster-and-infrastructure, status/backport

#12915 Backport: [node-manager] partial rollback of changes in images cluster-autoscaler
  candi/version_map.yml
  modules/040-node-manager/images/cluster-autoscaler/patches/1.29/README.md
  modules/040-node-manager/images/cluster-autoscaler/patches/1.29/go_mod.patch
Labels: auto, backported

#12917 Backport: [node-manager] partial rollback of changes in images cluster-autoscaler
  candi/version_map.yml
  modules/040-node-manager/images/cluster-autoscaler/patches/1.29/001-go-mod.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.29/README.md
Labels: auto, backported

#12875 [docs] Added information about allowPrivilegeEscalation and allowPrivileged parameters at admission-policy-engine module docs
  modules/015-admission-policy-engine/crds/doc-ru-security-policy.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
Labels: area/security, area/docs, skip/documentation-validation, area/api-change

#12919 Backport: [dhctl] Add pdbs deletion to DeckhouseDestroyer
  dhctl/pkg/kubernetes/actions/deckhouse/delete.go
  dhctl/pkg/operations/destroy/deckhouse.go
Labels: auto, backported

#12909 [vcd] Fix `CSI` plugin patches
  ee/modules/030-cloud-provider-vcd/images/vcd-csi-plugin/patches/001-add-iops-calculation.patch
  ee/modules/030-cloud-provider-vcd/images/vcd-csi-plugin/patches/002-go-mod.patch
Labels: area/cloud-provider

#12916 Changelog v1.68.11
  CHANGELOG/CHANGELOG-v1.68.11.yml
  CHANGELOG/CHANGELOG-v1.68.md
Labels: changelog, auto, status/backport

#12921 Backport: Changelog v1.68.11
  CHANGELOG/CHANGELOG-v1.68.11.yml
  CHANGELOG/CHANGELOG-v1.68.md
Labels: auto, backported

#12926 [site] Update links in Deckhouse Code documentation
  docs/site/pages/code/README.md
  docs/site/pages/code/README_RU.md
Labels: area/docs, skip/documentation-validation

#12890 [docs] Fix typos
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
  docs/documentation/pages/module-development/STRUCTURE.md
  docs/documentation/pages/module-development/STRUCTURE_RU.md
  modules/040-node-manager/crds/doc-ru-node_group.yaml
  modules/040-node-manager/crds/node_group.yaml
  modules/040-node-manager/docs/README_RU.md
Labels: area/docs, area/cluster-and-infrastructure, skip/documentation-validation, area/api-change

#12928 Backport: [vcd] Fix `CSI` plugin patches
  ee/modules/030-cloud-provider-vcd/images/vcd-csi-plugin/patches/001-add-iops-calculation.patch
  ee/modules/030-cloud-provider-vcd/images/vcd-csi-plugin/patches/002-go-mod.patch
Labels: auto, backported

#12740 [docs] Add displaying conversions for external modules
  docs/site/backends/docs-builder-template/i18n/en.yaml
  docs/site/backends/docs-builder-template/i18n/ru.yaml
  docs/site/backends/docs-builder-template/layouts/partials/module-resources.html
  docs/site/backends/docs-builder-template/layouts/partials/openapi/format-configuration.html
  docs/site/backends/docs-builder/internal/docs/service.go
  docs/site/backends/docs-builder/internal/docs/upload.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scanner/process.go
Labels: area/docs, go, area/api-change

#12918 [dhctl] Add waiting for become ready first master node
  dhctl/pkg/kubernetes/actions/entity/node.go
  dhctl/pkg/operations/bootstrap/checks.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
Labels: area/cli, go

#12925 Add base images from external base images repo
  .werf/defines/parse-base-images-map.tmpl
  Makefile
  candi/README.md
  candi/base_images.yml
  werf.yaml
Labels: area/cluster-and-infrastructure, area/core

#12908 [candi] Static node cleanup: remove all users created from NodeUser manifests
  candi/bashible/common-steps/all/002_create_static_node_cleanup_script.sh.tpl
Labels: area/cluster-and-infrastructure

#12826 [dhctl] Added waiting for kubeadm command completion result
  candi/bashible/common-steps/cluster-bootstrap/070_install_control_plane.sh.tpl
Labels: area/cluster-and-infrastructure

#12815 Fix registrypackages imagespec
  modules/007-registrypackages/images/amazon-ec2-utils/werf.inc.yaml
  modules/007-registrypackages/images/containerd/werf.inc.yaml
  modules/007-registrypackages/images/crictl/werf.inc.yaml
  modules/007-registrypackages/images/d8-ca-updater/werf.inc.yaml
  modules/007-registrypackages/images/d8-curl/werf.inc.yaml
  modules/007-registrypackages/images/d8/werf.inc.yaml
  modules/007-registrypackages/images/docker-registry/werf.inc.yaml
  modules/007-registrypackages/images/e2fsprogs/werf.inc.yaml
  modules/007-registrypackages/images/ec2-describe-tags/werf.inc.yaml
  modules/007-registrypackages/images/ecr-credential-provider/werf.inc.yaml
  modules/007-registrypackages/images/growpart/werf.inc.yaml
  modules/007-registrypackages/images/iptables/werf.inc.yaml
  modules/007-registrypackages/images/jq/werf.inc.yaml
  modules/007-registrypackages/images/kubeadm/werf.inc.yaml
  modules/007-registrypackages/images/kubectl/werf.inc.yaml
  modules/007-registrypackages/images/kubelet/werf.inc.yaml
  modules/007-registrypackages/images/kubernetes-cni/werf.inc.yaml
  modules/007-registrypackages/images/lsblk/werf.inc.yaml
  modules/007-registrypackages/images/netcat/werf.inc.yaml
  modules/007-registrypackages/images/nvme-cli/werf.inc.yaml
  modules/007-registrypackages/images/socat/werf.inc.yaml
  modules/007-registrypackages/images/toml-merge/werf.inc.yaml
  modules/007-registrypackages/images/virt-what/werf.inc.yaml
  modules/007-registrypackages/images/xfsprogs/werf.inc.yaml
Labels: area/kubernetes, area/core

#12722 [candi] bashible configure-kubelet step fix
  candi/bashible/common-steps/all/064_configure_kubelet.sh.tpl
Labels: area/cluster-and-infrastructure

#12581 [ovpn] renew ca
  docs/documentation/_data/deckhouse-alerts.yml
  modules/500-openvpn/hooks/renew_ca_cert.go
  modules/500-openvpn/hooks/renew_ca_cert_test.go
  modules/500-openvpn/monitoring/grafana-dashboards/ovpn-admin/ovpn-admin.json
  modules/500-openvpn/monitoring/prometheus-rules/ovpn-admin.yaml
  modules/500-openvpn/templates/monitoring.yaml
  modules/500-openvpn/templates/openvpn/podmonitor.yaml
  modules/500-openvpn/templates/openvpn/statefulset.yaml
Labels: area/security, area/docs, go, e2e/use/k8s/1.28, e2e/use/k8s/1.30

#12930 [docs] Add redirect to d8-cli from tuf repo page
  docs/site/.werf/nginx-dev.conf
  docs/site/.werf/nginx.conf
Labels: area/docs

#12609 [ingress-nginx] upgrade to 1.12.1
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/crds/kruise/crd_daemonsets.yaml
  modules/402-ingress-nginx/docs/FAQ.md
  modules/402-ingress-nginx/docs/README.md
  modules/402-ingress-nginx/docs/README_RU.md
  modules/402-ingress-nginx/docs/testing/README.md
  modules/402-ingress-nginx/hooks/generate_admission_webhook_cert_test.go
  modules/402-ingress-nginx/hooks/get_ingress_controllers_test.go
  modules/402-ingress-nginx/hooks/minimal_ingress_nginx_version_test.go
  modules/402-ingress-nginx/hooks/safe_daemonset_update_test.go
  modules/402-ingress-nginx/hooks/update_ingress_address_test.go
  modules/402-ingress-nginx/images/controller-1-12/README.md
  modules/402-ingress-nginx/images/controller-1-12/curl-chroot-wrapper.sh
  modules/402-ingress-nginx/images/controller-1-12/nginx-chroot-wrapper.sh
  modules/402-ingress-nginx/images/controller-1-12/patches/001-lua-info.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/002-makefile.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/003-healthcheck.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/004-util.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/005-add-http3.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/006-nginx-build.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/007-new-metrics.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/008-default-backend-fix.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/009-balancer-lua.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/010-nginx-tmpl.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/011-auth-cookie-always.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/README.md
  modules/402-ingress-nginx/images/controller-1-12/rootfs/etc/nginx/lua/geohash.lua
  modules/402-ingress-nginx/images/controller-1-12/rootfs/etc/nginx/lua/pbmetrics.lua
  modules/402-ingress-nginx/images/controller-1-12/werf.inc.yaml
  modules/402-ingress-nginx/openapi/config-values.yaml
  modules/402-ingress-nginx/openapi/values.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/host-port-with-pp/controller/configmap.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/host-with-failover/controller/configmap.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/lb-with-pp/controller/configmap.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/lb-with-terminating/controller/configmap.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/lb-without-hpa/controller/configmap.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/lb/controller/configmap.yaml
  modules/402-ingress-nginx/templates/controller/configmap.yaml
  modules/402-ingress-nginx/templates/controller/controller.yaml
  modules/402-ingress-nginx/webhooks/validating/ingressnginxcontroller
  testing/library/images_tags_generated.go
Labels: area/network, area/testing, area/docs, skip/documentation-validation, go, area/api-change

#12906 [tools] feat: update DMT lint configuration and version to 0.1.12
  .github/ci_includes/dmt_envs.yml
  .github/ci_templates/tests.yml
  .github/workflow_templates/build-and-test_dev.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  Makefile
  ee/fe/modules/340-monitoring-applications/applications/nats/prometheus-rules/nats.yaml
  ee/fe/modules/500-basic-auth/module.yaml
  ee/modules/610-service-with-healthchecks/module.yaml
  modules/140-user-authz/module.yaml
  modules/600-namespace-configurator/module.yaml
  modules/600-secret-copier/module.yaml
  modules/800-deckhouse-tools/module.yaml
  modules/810-documentation/module.yaml
  tools/dmt-lint.sh
Labels: area/auth, area/testing, area/docs, area/cluster-and-infrastructure

#12932 [docs] Update keycloak connection instructions
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: area/auth, area/docs, skip/documentation-validation, status/backport

#12940 Backport: [docs] Update keycloak connection instructions
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: auto, backported

#12942 [docs] Clean up the Update section for the new documentation structure
  docs/documentation/_data/sidebars/kubernetes-platform.yml
  docs/documentation/pages/admin/configuration/update/CHANGELOG.md
  docs/documentation/pages/admin/configuration/update/CHANGELOG_RU.md
  docs/documentation/pages/admin/configuration/update/CONTROL-PLANE-UPDATE.md
  docs/documentation/pages/admin/configuration/update/CONTROL-PLANE-UPDATE_RU.md
  docs/documentation/pages/admin/configuration/update/MODES.md
  docs/documentation/pages/admin/configuration/update/MODES_RU.md
  docs/documentation/pages/admin/configuration/update/RELEASE-CHANNELS.md
  docs/documentation/pages/admin/configuration/update/RELEASE-CHANNELS_RU.md
  docs/documentation/pages/admin/configuration/update/UPDATE-WINDOWS.md
  docs/documentation/pages/admin/configuration/update/UPDATE-WINDOWS_RU.md
  docs/documentation/pages/admin/configuration/update/UPDATE.md
  docs/documentation/pages/admin/configuration/update/UPDATE_RU.md
  docs/documentation/pages/admin/configuration/update/VERSIONING.md
  docs/documentation/pages/admin/configuration/update/VERSIONING_RU.md
  docs/documentation/pages/architecture/UPDATING_RU.md
Labels: area/docs

#11886 Changelog v1.69.0
  CHANGELOG/CHANGELOG-v1.69.0.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: changelog, auto, status/backport

#12943 Backport: Changelog v1.69.0
  CHANGELOG/CHANGELOG-v1.69.0.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: auto, backported

#12855 [docs] Update Deckhouse CLI installation guide
  docs/documentation/_includes/d8-cli-install/content.liquid
  docs/documentation/_includes/d8-cli-install/main.liquid
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/site/pages/virtualization-platform/reference/console-utilities/D8.md
  docs/site/pages/virtualization-platform/reference/console-utilities/D8_RU.md
Labels: area/docs, status/backport, skip/e2e

#12948 Backport: [docs] Update Deckhouse CLI installation guide
  docs/documentation/_includes/d8-cli-install/content.liquid
  docs/documentation/_includes/d8-cli-install/main.liquid
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/site/pages/virtualization-platform/reference/console-utilities/D8.md
  docs/site/pages/virtualization-platform/reference/console-utilities/D8_RU.md
Labels: auto, backported

#12952 [docs] Minor documentation fixes
  deckhouse-controller/crds/doc-ru-module-pull-override.yaml
  deckhouse-controller/crds/module-pull-override.yaml
  modules/040-node-manager/crds/doc-ru-node_group.yaml
Labels: area/cluster-and-infrastructure, area/core, status/backport, area/api-change

#12953 Backport: [docs] Minor documentation fixes
  deckhouse-controller/crds/doc-ru-module-pull-override.yaml
  deckhouse-controller/crds/module-pull-override.yaml
  modules/040-node-manager/crds/doc-ru-node_group.yaml
Labels: auto, backported

#11832 [dhctl] Set additionalProperties "false" for all objects in openapi
  dhctl/pkg/config/bashible.go
  dhctl/pkg/config/connection_test.go
  dhctl/pkg/config/deckhouse_config_test.go
  dhctl/pkg/config/load.go
  dhctl/pkg/config/load_test.go
  dhctl/pkg/config/spec_extensions_test.go
  dhctl/pkg/config/validation_rules_test.go
  dhctl/pkg/config/validation_test.go
  release.yaml
Labels: area/cli, go

#12939 [ci] added output of the file that is executed in go generate
  .github/ci_templates/build.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  Makefile
  tools/images_tags/main.go
Labels: area/testing, go

#12949 [docs] Update alert description
  docs/documentation/_data/deckhouse-alerts.yml
  modules/040-node-manager/monitoring/prometheus-rules/cloud-data-discovery.tpl
Labels: area/docs, area/cluster-and-infrastructure

#12526 Change e2e engine
  .github/ci_templates/e2e_tests.yml
  .github/workflow_templates/e2e-daily.yml
  .github/workflow_templates/e2e.abort.multi.yml
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-abort-yandex-cloud.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-yandex-cloud.yml
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/resources.yaml
  testing/cloud_layouts/script-commander.sh
  testing/cloud_layouts/script.d/wait_cluster_ready/test_commander_script.sh
Labels: area/testing, skip/e2e

#11807 [caps] Rewrite `StaticInstance` adoption
  candi/bashible/common-steps/all/098_update_node_annotations.sh.tpl
  modules/040-node-manager/images/capi-controller-manager/patches/002-search-node-by-provider-id-annotation.patch
  modules/040-node-manager/images/capi-controller-manager/patches/README.md
  modules/040-node-manager/images/caps-controller-manager/src/api/deckhouse.io/v1alpha1/staticinstance_annotations.go
  modules/040-node-manager/images/caps-controller-manager/src/api/deckhouse.io/v1alpha1/staticinstance_webhook.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/adopt.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/bootstrap.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/client.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/controller/deckhouse.io/staticinstance_controller.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/controller/infrastructure/staticmachine_controller.go
  testing/cloud_layouts/Static/resources.tpl.yaml
  testing/cloud_layouts/script.sh
Labels: area/testing, area/cluster-and-infrastructure, go

#12924 [cloud-provider-openstack] fix terraform bastion default root_disk_size
  ee/candi/cloud-providers/openstack/layouts/standard/base-infrastructure/main.tf
Labels: area/cloud-provider, area/cluster-and-infrastructure

#12963 Backport: [doсs] Fix d8 install commands
  docs/documentation/_includes/d8-cli-install/content.liquid
  docs/site/_includes/d8-cli-install/content.liquid
Labels: auto, backported

#12964 Backport: [doсs] Fix d8 install commands
  docs/documentation/_includes/d8-cli-install/content.liquid
  docs/site/_includes/d8-cli-install/content.liquid
Labels: auto, backported

#12965 Backport: [doсs] Fix d8 install commands
  docs/documentation/_includes/d8-cli-install/content.liquid
  docs/site/_includes/d8-cli-install/content.liquid
Labels: auto, backported

#12889 [dhctl] Add deny additional properties for validation schema eg module config
  dhctl/pkg/config/base.go
  dhctl/pkg/config/connection_test.go
  dhctl/pkg/config/deckhouse_config_test.go
  dhctl/pkg/config/load.go
  dhctl/pkg/config/validation_rules_test.go
  dhctl/pkg/config/validation_test.go
  dhctl/pkg/operations/check/check_test.go
  dhctl/pkg/operations/check/destructive_change_id_test.go
  dhctl/pkg/operations/converge/controller/node_group_controller_test.go
  dhctl/pkg/server/pkg/fsm/fsm_test.go
  dhctl/pkg/server/pkg/logger/writer_test.go
  dhctl/pkg/server/pkg/requests_counter/requests_counter_test.go
  dhctl/pkg/util/input/yaml_test.go
Labels: area/cli, skip/e2e, go

#12960 [chore] fix pip install in post deploy preparation ci
  .github/workflow_templates/deploy-channel.multi.yml
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
Labels: status/backport, skip/e2e

#12966 Backport: [chore] fix pip install in post deploy preparation ci
  .github/workflow_templates/deploy-channel.multi.yml
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
Labels: auto, backported

#12967 [docs] Fix the supported OS versions table in the documentation
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_data/version_map_addition.json
  docs/documentation/_data/version_map_addition.yml
  docs/documentation/werf-web.inc.yaml
Labels: status/backport

#12968 Backport: [docs] Fix the supported OS versions table in the documentation
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_data/version_map_addition.json
  docs/documentation/_data/version_map_addition.yml
  docs/documentation/werf-web.inc.yaml
Labels: auto, backported

#12845 [node-manager] UnmetCloudConditions check
  modules/040-node-manager/requirements/check.go
  modules/040-node-manager/requirements/check_test.go
Labels: area/cluster-and-infrastructure, go

#12970 [ci] Use fixed werf version
  .github/ci_includes/werf_envs.yml
  .github/ci_templates/steps.yml
  .github/ci_templates/web.yml
  .github/workflow_templates/deploy-channel.multi.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  .github/workflows/e2e-abort-aws.yml
  .github/workflows/e2e-abort-azure.yml
  .github/workflows/e2e-abort-eks.yml
  .github/workflows/e2e-abort-gcp.yml
  .github/workflows/e2e-abort-openstack.yml
  .github/workflows/e2e-abort-static.yml
  .github/workflows/e2e-abort-vcd.yml
  .github/workflows/e2e-abort-vsphere.yml
  .github/workflows/e2e-abort-yandex-cloud.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vcd.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/schedule-cleanup.yml
  .github/workflows/suspend-alpha.yml
  .github/workflows/suspend-beta.yml
  .github/workflows/suspend-early-access.yml
  .github/workflows/suspend-rock-solid.yml
  .github/workflows/suspend-stable.yml
Labels: status/backport

#12973 [docs] Update the supported versions table for CSE
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_data/version_map_addition.json
Labels: status/backport

#12974 Backport: [docs] Update the supported versions table for CSE
  docs/documentation/_data/supported_versions.yml
  docs/documentation/_data/version_map_addition.json
Labels: auto, backported

#12944 [node-local-dns] fix dns-stale-connections-cleaner security context and file permissions
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/go.sum
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/main.go
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/werf.inc.yaml
  ee/be/modules/350-node-local-dns/templates/stale-dns-connections-cleaner/daemonset.yaml
Labels: type/dependencies, go

#12989 [ci] update golang in workflows to 1.24. Use base_images.yml.
  .github/ci_templates/build.yml
  .github/ci_templates/tests.yml
  .github/render-workflows.sh
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  candi/base_images.yml
Labels: area/cluster-and-infrastructure

#12985 Fix global module config handling
  deckhouse-controller/pkg/controller/module-controllers/config/controller.go
Labels: area/core, status/backport, go

#12990 Backport: Fix global module config handling
  deckhouse-controller/pkg/controller/module-controllers/config/controller.go
Labels: auto, backported

#12997 Backport: [node-manager] UnmetCloudConditions requirement and alert
  docs/documentation/_data/deckhouse-alerts.yml
  ee/modules/030-cloud-provider-dynamix/images/cloud-data-discoverer/werf.inc.yaml
  ee/modules/030-cloud-provider-dynamix/templates/cloud-data-discoverer/rbac-for-us.yaml
  ee/modules/030-cloud-provider-huaweicloud/images/cloud-data-discoverer/werf.inc.yaml
  ee/modules/030-cloud-provider-huaweicloud/templates/cloud-data-discoverer/rbac-for-us.yaml
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/src/discoverer.go
  ee/modules/030-cloud-provider-openstack/templates/cloud-data-discoverer/rbac-for-us.yaml
  ee/modules/030-cloud-provider-vcd/images/cloud-data-discoverer/src/discoverer.go
  ee/modules/030-cloud-provider-vcd/templates/cloud-data-discoverer/rbac-for-us.yaml
  ee/se-plus/modules/030-cloud-provider-vsphere/images/cloud-data-discoverer/src/discoverer.go
  ee/se-plus/modules/030-cloud-provider-vsphere/templates/cloud-data-discoverer/rbac-for-us.yaml
  ee/se-plus/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/src/discoverer.go
  ee/se-plus/modules/030-cloud-provider-zvirt/templates/cloud-data-discoverer/rbac-for-us.yaml
  go_lib/cloud-data/apis/v1alpha1/types.go
  go_lib/cloud-data/reconciler.go
  modules/030-cloud-provider-aws/images/cloud-data-discoverer/src/discoverer.go
  modules/030-cloud-provider-aws/images/cloud-data-discoverer/src/go.mod
  modules/030-cloud-provider-aws/images/cloud-data-discoverer/src/go.sum
  modules/030-cloud-provider-aws/templates/cloud-data-discoverer/rbac-for-us.yaml
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/src/discoverer.go
  modules/030-cloud-provider-azure/templates/cloud-data-discoverer/rbac-for-us.yaml
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/src/discoverer.go
  modules/030-cloud-provider-gcp/templates/cloud-data-discoverer/rbac-for-us.yaml
  modules/030-cloud-provider-yandex/images/cloud-data-discoverer/discoverer.go
  modules/030-cloud-provider-yandex/templates/cloud-data-discoverer/rbac-for-us.yaml
  modules/040-node-manager/hooks/check_unmet_conditions.go
  modules/040-node-manager/hooks/check_unmet_conditions_test.go
  modules/040-node-manager/hooks/clear_nodeuser_errors.go
  modules/040-node-manager/hooks/minimal_node_os_version.go
  modules/040-node-manager/monitoring/prometheus-rules/cloud-data-discovery.tpl
  modules/040-node-manager/requirements/check.go
  modules/040-node-manager/requirements/check_test.go
  release.yaml
Labels: auto, backported

#12998 Backport: [node-manager] UnmetCloudConditions check
  modules/040-node-manager/requirements/check.go
  modules/040-node-manager/requirements/check_test.go
Labels: auto, backported

#12999 Backport: [docs] Update alert description
  docs/documentation/_data/deckhouse-alerts.yml
  modules/040-node-manager/monitoring/prometheus-rules/cloud-data-discovery.tpl
Labels: auto, backported

#12193 [docs] Add info about basic and VirtualIP mode from cilium egres qateway
  ee/se-plus/modules/021-cni-cilium/crds/doc-ru-egressgateways.yaml
  ee/se-plus/modules/021-cni-cilium/crds/egressgateways.yaml
  ee/se-plus/modules/021-cni-cilium/crds/internal/doc-ru-egressgatewayinstances.yaml
  ee/se-plus/modules/021-cni-cilium/crds/internal/egressgatewayinstances.yaml
  modules/021-cni-cilium/docs/EXAMPLES.md
  modules/021-cni-cilium/docs/EXAMPLES_RU.md
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
  tools/docs/spelling/dictionaries/dev_OPS.dic
  tools/docs/spelling/wordlist
Labels: area/network, area/testing, area/docs, status/backport, area/api-change

#13002 Backport: [docs] Add info about basic and VirtualIP mode from cilium egres qateway
  ee/se-plus/modules/021-cni-cilium/crds/doc-ru-egressgateways.yaml
  ee/se-plus/modules/021-cni-cilium/crds/egressgateways.yaml
  ee/se-plus/modules/021-cni-cilium/crds/internal/doc-ru-egressgatewayinstances.yaml
  ee/se-plus/modules/021-cni-cilium/crds/internal/egressgatewayinstances.yaml
  modules/021-cni-cilium/docs/EXAMPLES.md
  modules/021-cni-cilium/docs/EXAMPLES_RU.md
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
  tools/docs/spelling/dictionaries/dev_OPS.dic
  tools/docs/spelling/wordlist
Labels: auto, backported

#12832 [node-manager] delete cluster-wide proxy from systemd
  candi/bashible/common-steps/all/002_add_system_proxy.sh.tpl
Labels: area/cluster-and-infrastructure

#13000 [node-manager] enable UnmetCloudConditions check
  release.yaml
Labels: auto

#12976 [deckhouse] delete deckhouse epslices
  modules/002-deckhouse/hooks/migrate/delete_deckhouse_epslices.go
Labels: status/backport, go

#13010 Backport: [deckhouse] delete deckhouse epslices
  modules/002-deckhouse/hooks/migrate/delete_deckhouse_epslices.go
Labels: auto, go, backported

#13013 [ci][fix] Update files linter
  tools/validation/no_cyrillic.go
Labels: area/testing, go

#13008 [dhctl] fix(dhctl-for-commander): skip empty config files in bootstrap and abort
  dhctl/pkg/server/rpc/dhctl/abort.go
  dhctl/pkg/server/rpc/dhctl/bootstrap.go
Labels: area/cli, status/backport, go

#13016 Backport: [dhctl] fix(dhctl-for-commander): skip empty config files in bootstrap and abort
  dhctl/pkg/server/rpc/dhctl/abort.go
  dhctl/pkg/server/rpc/dhctl/bootstrap.go
Labels: auto, backported

#12988 [docs][new structure] Translate HA section
  docs/documentation/_data/sidebars/kubernetes-platform.yml
  docs/documentation/pages/admin/configuration/high-reliability-and-availability/CHAOS_ENGINEERING.md
  docs/documentation/pages/admin/configuration/high-reliability-and-availability/CHAOS_ENGINEERING_RU.md
  docs/documentation/pages/admin/configuration/high-reliability-and-availability/ENABLE.md
  docs/documentation/pages/admin/configuration/high-reliability-and-availability/ENABLE_RU.md
  docs/documentation/pages/admin/configuration/high-reliability-and-availability/README.md
Labels: area/docs

#13005 [docs] Add release notes for DKP 1.69
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/RELEASE-NOTES.md
  docs/documentation/pages/RELEASE-NOTES_RU.md
  docs/documentation/pages/release-notes/1-68.md
  docs/documentation/pages/release-notes/1-68_RU.md
Labels: area/docs, skip/documentation-validation, status/backport

#13017 Backport: [docs] Add release notes for DKP 1.69
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/RELEASE-NOTES.md
  docs/documentation/pages/RELEASE-NOTES_RU.md
  docs/documentation/pages/release-notes/1-68.md
  docs/documentation/pages/release-notes/1-68_RU.md
Labels: auto, backported

#13022 [node-local-dns] backport dns connection cleaner fix to 1.68
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/main.go
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/werf.inc.yaml
  ee/be/modules/350-node-local-dns/templates/stale-dns-connections-cleaner/daemonset.yaml
Labels: e2e/cluster/failed, go

#13019 [docs][new structure] Translate Multitenancy sections
  docs/documentation/_data/sidebars/kubernetes-platform.yml
  docs/documentation/pages/admin/configuration/multitenancy/README.md
  docs/documentation/pages/admin/configuration/multitenancy/README_RU.md
  docs/documentation/pages/architecture/MULTITENANCY.md
  docs/documentation/pages/architecture/MULTITENANCY_RU.md
  docs/documentation/pages/user/MULTITENANCY.md
  docs/documentation/pages/user/MULTITENANCY_RU.md
Labels: area/docs, skip/documentation-validation

#12981 [docs] Add a warning about using alerts in the dashboard
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
Labels: area/monitoring, area/docs, status/backport

#12992 [docs] Add NGC to autoload proxy environment variables
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, skip/documentation-validation, status/backport

#13028 Backport: [docs] Add NGC to autoload proxy environment variables
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#12929 Changelog v1.68.12
  CHANGELOG/CHANGELOG-v1.68.12.yml
  CHANGELOG/CHANGELOG-v1.68.md
Labels: changelog, auto, status/backport

#13029 Backport: Changelog v1.68.12
  CHANGELOG/CHANGELOG-v1.68.12.yml
  CHANGELOG/CHANGELOG-v1.68.md
Labels: auto, backported

#12958 [docs][site] Fix the topnav for Deckhouse Code
  docs/site/_data/topnav-l2-products.json
  docs/site/_includes/header.html
Labels: area/docs

#13032 [docs] Fix a warning about using alerts in the dashboard
  modules/300-prometheus/docs/FAQ.md
  modules/300-prometheus/docs/FAQ_RU.md
Labels: area/monitoring, area/docs, status/backport/success
