Repository deckhouse/deckhouse, pull requests merged in 2025-06, with the labels that each got.

#13710 [deckhouse] change storage for MUP CRD
  deckhouse-controller/crds/doc-ru-module-pull-override.yaml
  deckhouse-controller/crds/module-pull-override.yaml
Labels: type/enhancement, area/core, area/api-change

#13729 [docs] Add notice about RED virtualization in GS
  docs/site/_includes/getting_started/global/partials/NOTICES.liquid
Labels: area/docs

#13735 [docs] Revert #8496 to remove always set noProxy settings in config.yaml on private install guide
  docs/site/_assets/js/getting-started-private.js
  docs/site/_includes/getting_started/bm-private/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/bm-private/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/global/step_cluster_setup.html
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
Labels: area/docs

#13737 [docs] update docs due v0.19.0 at Virtualization Platform
  docs/site/images/virtualization-platform/vm-corefraction.png
  docs/site/images/virtualization-platform/vm-corefraction.ru.png
  docs/site/pages/virtualization-platform/documentation/FAQ.md
  docs/site/pages/virtualization-platform/documentation/FAQ_RU.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/VM.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/VM_RU.md
Labels: area/docs, skip/documentation-validation

#9996 [cni-cilium] tunnel-port discovering with regard to the virtualization nesting level
  candi/bashible/bashbooster/50_virtualization.sh
  candi/bashible/common-steps/all/068_configure_kubelet_systemd_unit.sh.tpl
  candi/bashible/common-steps/all/091_set_virtualization_nesting_level_label.sh.tpl
  docs/documentation/_data/deckhouse-alerts.yml
  docs/documentation/_data/deckhouse-ports.yml
  global-hooks/discovery/virtualization_level.go
  global-hooks/discovery/virtualization_level_test.go
  global-hooks/openapi/values.yaml
  modules/021-cni-cilium/hooks/discover_vxlan_port.go
  modules/021-cni-cilium/hooks/discover_vxlan_port_test.go
  modules/021-cni-cilium/hooks/generate_hubble_ca_cert_test.go
  modules/021-cni-cilium/monitoring/prometheus-rules/configmap.yaml
  modules/021-cni-cilium/templates/configmap.yaml
  tools/helm_generate/runners/alert_templates/template_values/021-cni-cilium.yaml
Labels: area/network, area/testing, area/docs, area/cluster-and-infrastructure, area/core, e2e/cluster/failed, go, area/api-change

#13750 Backport: [fix] static e2e tests for fe/upgrade
  testing/cloud_layouts/Static/infra.tpl.tf
  testing/cloud_layouts/script.sh
Labels: area/testing, auto, backported

#13681 [cloud-provider-vcd] fix vcd legacy discovering
  dhctl/go.mod
  dhctl/go.sum
  dhctl/pkg/config/meta.go
  dhctl/pkg/config/types.go
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-cluster_configuration.yaml
  ee/modules/030-cloud-provider-vcd/hooks/legacy_mode.go
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: area/cloud-provider, area/testing, area/cluster-and-infrastructure, type/dependencies, area/cli, area/core, go, area/api-change

#13757 [docs] Correct numbers and padding
  docs/site/_assets/css/docs.scss
  docs/site/_assets/js/customscripts.js
Labels: area/docs

#13754 [docs] Fixed error at module.yaml documentation
  docs/documentation/pages/module-development/STRUCTURE.md
  docs/documentation/pages/module-development/STRUCTURE_RU.md
Labels: area/docs, skip/documentation-validation, status/backport

#13770 Backport: [docs] Rephrased the information about publicDomainTemplate at documentation
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL_RU.md
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#13760 [docs] Added global module conversions at documentation
  docs/documentation/_tools/modules_generate_configuration.sh
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL_RU.md
  docs/documentation/werf-git-section.inc.yaml
Labels: area/docs, skip/documentation-validation, status/backport

#13771 Backport: [docs] Added global module conversions at documentation
  docs/documentation/_tools/modules_generate_configuration.sh
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL_RU.md
  docs/documentation/werf-git-section.inc.yaml
Labels: auto, backported

#13772 Backport: [docs] Show conversions for global ModuleConfig in the documentation
  docs/documentation/_tools/modules_generate_configuration.sh
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL_RU.md
  docs/documentation/werf-git-section.inc.yaml
Labels: auto, backported

#13683 feat: delete cluster on pr closed
  .github/scripts/python/e2e-commander-clean/main.py
  .github/workflow_templates/e2e-autoclean.yml
  .github/workflows/e2e-autoclean.yml
Labels: skip/e2e, python

#13780 Backport: [chore] Fix ssl verification
  .github/scripts/python/post-deploy-preparation.py
Labels: auto, backported

#13645 [dhctl] Add Local Registry Configuration Check to Installation Process
  dhctl/pkg/config/meta.go
  dhctl/pkg/config/meta_test.go
Labels: area/cli, go

#13412 [dhctl] feat(feat/dhctl-for-commander-progress-bar): add operations progress logging
  dhctl/pkg/app/app.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/commander/attach/attacher.go
  dhctl/pkg/operations/commander/attach/phases.go
  dhctl/pkg/operations/converge/converger.go
  dhctl/pkg/operations/destroy/destroy.go
  dhctl/pkg/operations/phases/phased_execution_context.go
  dhctl/pkg/operations/phases/phases.go
  dhctl/pkg/operations/phases/progress.go
  dhctl/pkg/operations/phases/progress_test.go
  dhctl/pkg/server/api/dhctl/abort.proto
  dhctl/pkg/server/api/dhctl/bootstrap.proto
  dhctl/pkg/server/api/dhctl/check.proto
  dhctl/pkg/server/api/dhctl/commander_attach.proto
  dhctl/pkg/server/api/dhctl/commander_detach.proto
  dhctl/pkg/server/api/dhctl/common.proto
  dhctl/pkg/server/api/dhctl/converge.proto
  dhctl/pkg/server/api/dhctl/destroy.proto
  dhctl/pkg/server/pb/dhctl/abort.pb.go
  dhctl/pkg/server/pb/dhctl/bootstrap.pb.go
  dhctl/pkg/server/pb/dhctl/check.pb.go
  dhctl/pkg/server/pb/dhctl/commander_attach.pb.go
  dhctl/pkg/server/pb/dhctl/commander_detach.pb.go
  dhctl/pkg/server/pb/dhctl/common.pb.go
  dhctl/pkg/server/pb/dhctl/converge.pb.go
  dhctl/pkg/server/pb/dhctl/destroy.pb.go
  dhctl/pkg/server/rpc/dhctl/abort.go
  dhctl/pkg/server/rpc/dhctl/bootstrap.go
  dhctl/pkg/server/rpc/dhctl/check.go
  dhctl/pkg/server/rpc/dhctl/commander_attach.go
  dhctl/pkg/server/rpc/dhctl/commander_detach.go
  dhctl/pkg/server/rpc/dhctl/converge.go
  dhctl/pkg/server/rpc/dhctl/destroy.go
  dhctl/pkg/server/rpc/dhctl/service.go
Labels: area/cli, go

#13800 Backport: [ci] Fix static e2e update in legacy e2e test script
  testing/cloud_layouts/Static/infra.tpl.tf
  testing/cloud_layouts/script.sh
Labels: auto, backported

#13803 [docs] Update console editions and add restrictions
  docs/documentation/_data/modules/modules-addition.json
  docs/site/backends/docs-builder-template/data/modules_all.json
Labels: area/docs, status/backport

#13806 Backport: [docs] Update console editions and add restrictions
  docs/documentation/_data/modules/modules-addition.json
  docs/site/backends/docs-builder-template/data/modules_all.json
Labels: auto, backported

#13778 [docs] Block spam from the form on the site
  docs/site/_assets/js/popup-form.js
Labels: area/docs

#13790 [docs][new structure] Translate disaster resilience section
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/architecture/disaster-resistance/GEO_DISTRIBUTION.md
  docs/documentation/pages/architecture/disaster-resistance/GEO_DISTRIBUTION_RU.md
  docs/documentation/pages/architecture/disaster-resistance/GEO_RESERVING.md
  docs/documentation/pages/architecture/disaster-resistance/GEO_RESERVING_RU.md
  docs/documentation/pages/architecture/disaster-resistance/OVERVIEW.md
  docs/documentation/pages/architecture/disaster-resistance/OVERVIEW_RU.md
Labels: area/docs, skip/documentation-validation

#13724 [dhctl] chore(dhctl-for-commander): make dhctl server state extractor more reliable
  dhctl/pkg/server/rpc/dhctl/abort.go
  dhctl/pkg/server/rpc/dhctl/bootstrap.go
  dhctl/pkg/server/rpc/dhctl/check.go
  dhctl/pkg/server/rpc/dhctl/commander_attach.go
  dhctl/pkg/server/rpc/dhctl/commander_detach.go
  dhctl/pkg/server/rpc/dhctl/converge.go
  dhctl/pkg/server/rpc/dhctl/destroy.go
  dhctl/pkg/server/rpc/dhctl/service.go
Labels: area/cli, go

#13808 [ci] Fix incorrect update image in e2e script
  testing/cloud_layouts/script.sh
Labels: area/testing

#13763 [docs] Add logs for modules processing
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scanner/process.go
Labels: type/enhancement, area/docs, go

#13812 Backport: [testing] use current release version for cloud testing
  testing/cloud_layouts/script.sh
Labels: auto, backported

#13815 Backport: [ci] Fix incorrect update image in e2e script
  testing/cloud_layouts/script.sh
Labels: auto, backported

#13816 Backport: [ci] Fix incorrect update image in e2e script
  testing/cloud_layouts/script.sh
Labels: auto, backported

#13817 Backport: [cloud-provider-dvp] fix cloud-data-discoverer rbac
  modules/030-cloud-provider-dvp/templates/cloud-data-discoverer/rbac-for-us.yaml
Labels: auto, backported

#13818 Backport: [cloud-provider-dvp] fix cluster-autoscaler rbac issues
  modules/040-node-manager/templates/cluster-autoscaler/rbac-for-us.yaml
Labels: auto, backported

#12730 Changelog v1.70.0
  CHANGELOG/CHANGELOG-v1.70.0.yml
  CHANGELOG/CHANGELOG-v1.70.md
Labels: changelog, auto, status/backport

#13819 Backport: Changelog v1.70.0
  CHANGELOG/CHANGELOG-v1.70.0.yml
  CHANGELOG/CHANGELOG-v1.70.md
Labels: auto, backported

#13821 [docs] Update Ingress paths to use ImplementationSpecific pathType and update apiVersion for DexAuthenticator
  docs/site/.helm/templates/20-ingress.yaml
Labels: area/docs

#13822 [ci] Fix release images publish
  .github/ci_templates/build.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
Labels: status/backport

#13761 [deckhouse-controller] Clean DeckhouseRelease message when release deployed
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/clear-data-after-deploy.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/clear-data-after-deploy.yaml
Labels: type/bug, area/core, go

#13782 [user-authz] Fix error with webhook system-roles
  modules/140-user-authz/webhooks/validating/system_roles
Labels: area/auth

#13649 [deckhouse] update base_images and python wheels
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  .werf/defines/packages-proxies.tmpl
  candi/base_images.yml
  modules/000-common/images/wheel-artifact/werf.inc.yaml
  modules/800-deckhouse-tools/images/web/werf.inc.yaml
Labels: area/cluster-and-infrastructure

#13820 [candi] Use node name from kubelet certificate
  candi/bashible/bb_node_name.sh.tpl
Labels: area/cluster-and-infrastructure, status/backport, e2e/cluster/failed

#13835 [docs] Migrate to the new template system in Hugo
  docs/site/backends/docs-builder-template/layouts/_partials/alert.html
  docs/site/backends/docs-builder-template/layouts/_partials/breadcrumbs.html
  docs/site/backends/docs-builder-template/layouts/_partials/documentation-section-badge.html
  docs/site/backends/docs-builder-template/layouts/_partials/head.html
  docs/site/backends/docs-builder-template/layouts/_partials/module-editions.html
  docs/site/backends/docs-builder-template/layouts/_partials/module-resources.html
  docs/site/backends/docs-builder-template/layouts/_partials/module-version-badge.html
  docs/site/backends/docs-builder-template/layouts/_partials/module-version-menu.html
  docs/site/backends/docs-builder-template/layouts/_partials/openapi/format-attributes.html
  docs/site/backends/docs-builder-template/layouts/_partials/openapi/format-configuration.html
  docs/site/backends/docs-builder-template/layouts/_partials/openapi/format-crd.html
  docs/site/backends/docs-builder-template/layouts/_partials/openapi/format-schema.html
  docs/site/backends/docs-builder-template/layouts/_partials/openapi/format-type.html
  docs/site/backends/docs-builder-template/layouts/_partials/openapi/sort-api-versions.html
  docs/site/backends/docs-builder-template/layouts/_partials/sidebar.html
  docs/site/backends/docs-builder-template/layouts/_partials/toc.html
  docs/site/backends/docs-builder-template/layouts/_shortcodes/alert.html
  docs/site/backends/docs-builder-template/layouts/baseof.html
  docs/site/backends/docs-builder-template/layouts/list.html
  docs/site/backends/docs-builder-template/layouts/modules.html
  docs/site/backends/docs-builder-template/layouts/single.html
Labels: status/backport

#13837 Backport: [docs] Migrate to the new template system in Hugo
  docs/site/backends/docs-builder-template/layouts/_partials/alert.html
  docs/site/backends/docs-builder-template/layouts/_partials/breadcrumbs.html
  docs/site/backends/docs-builder-template/layouts/_partials/documentation-section-badge.html
  docs/site/backends/docs-builder-template/layouts/_partials/head.html
  docs/site/backends/docs-builder-template/layouts/_partials/module-editions.html
  docs/site/backends/docs-builder-template/layouts/_partials/module-resources.html
  docs/site/backends/docs-builder-template/layouts/_partials/module-version-badge.html
  docs/site/backends/docs-builder-template/layouts/_partials/module-version-menu.html
  docs/site/backends/docs-builder-template/layouts/_partials/openapi/format-attributes.html
  docs/site/backends/docs-builder-template/layouts/_partials/openapi/format-configuration.html
  docs/site/backends/docs-builder-template/layouts/_partials/openapi/format-crd.html
  docs/site/backends/docs-builder-template/layouts/_partials/openapi/format-schema.html
  docs/site/backends/docs-builder-template/layouts/_partials/openapi/format-type.html
  docs/site/backends/docs-builder-template/layouts/_partials/openapi/sort-api-versions.html
  docs/site/backends/docs-builder-template/layouts/_partials/sidebar.html
  docs/site/backends/docs-builder-template/layouts/_partials/toc.html
  docs/site/backends/docs-builder-template/layouts/_shortcodes/alert.html
  docs/site/backends/docs-builder-template/layouts/baseof.html
  docs/site/backends/docs-builder-template/layouts/list.html
  docs/site/backends/docs-builder-template/layouts/modules.html
  docs/site/backends/docs-builder-template/layouts/single.html
Labels: auto, backported

#13827 [docs] Update info about using Keycloak into the new documentation structure
  docs/documentation/pages/admin/configuration/access/authentication/EXTERNAL_AUTHENTICATION_PROVIDERS_RU.md
  docs/documentation/pages/admin/configuration/access/authentication/OVERVIEW.md
Labels: area/docs

#13766 [docs] Add Keycloak Idenitiy Provider warning
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: area/auth, area/docs, status/backport

#13842 Backport: Revert "[metallb] Fix IP pool exhaustion on SDNInternalL2LBService de…
  ee/se/modules/380-metallb/images/l2lb/patches/002-l2lb-service-custom-resource.patch
Labels: auto, backported

#13807 [docs] Add read-only mode comments for the console module editions
  docs/documentation/_data/modules/modules-addition.json
  docs/site/backends/docs-builder-template/data/modules_all.json
Labels: area/docs, skip/no-cyrillic-validation, status/backport

#13850 Backport: [cloud-provider-vcd] fix vcd legacy discovering
  dhctl/go.mod
  dhctl/go.sum
  dhctl/pkg/config/meta.go
  dhctl/pkg/config/types.go
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-cluster_configuration.yaml
  ee/modules/030-cloud-provider-vcd/hooks/legacy_mode.go
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: auto, backported

#13845 [docs] Added info about bpfLBMode for cillium
  docs/documentation/pages/admin/configuration/network/other/BPFLB.md
  docs/documentation/pages/admin/configuration/network/other/BPFLB_RU.md
Labels: area/docs

#13833 [ci] fix kubernetes version info in the release file
  .werf/werf-release-channel.yaml
Labels: status/backport

#13856 Backport: Revert "[metallb] Fix IP pool exhaustion on SDNInternalL2LBService de…
  ee/se/modules/380-metallb/images/l2lb/patches/002-l2lb-service-custom-resource.patch
Labels: auto, backported

#13674 Changelog v1.69.11
  CHANGELOG/CHANGELOG-v1.69.11.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: changelog, auto, status/backport

#13860 Backport: Changelog v1.69.11
  CHANGELOG/CHANGELOG-v1.69.11.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: auto, backported

#13862 Update k8s patch version release 1.70
  candi/version_map.yml
Labels: area/kubernetes, area/cluster-and-infrastructure

#13865 [candi] Update step bashible 003_disable_swap
  candi/bashible/common-steps/all/003_disable_swap.sh.tpl
Labels: area/cluster-and-infrastructure, status/backport

#13870 Backport: [candi] Update step bashible 003_disable_swap
  candi/bashible/common-steps/all/003_disable_swap.sh.tpl
Labels: auto, backported

#13682 [control-plane-manager] etcd alert last_over_time
  modules/040-control-plane-manager/monitoring/prometheus-rules/etcd-maintenance.yaml
Labels: area/cluster-and-infrastructure

#13828 [deckhouse-controller] Backport: Clean DeckhouseRelease message when release deployed
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/clear-data-after-deploy.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/clear-data-after-deploy.yaml
Labels: area/core, go

#13824 [multitenancy-manager] fix incorrect labels.module value
  modules/160-multitenancy-manager/crds/projects.yaml
  modules/160-multitenancy-manager/crds/projecttemplate.yaml
Labels: area/api-change

#13779 [cloud-provider-dvp] add vmClassName to the config
  candi/cloud-providers/dvp/openapi/cluster_configuration.yaml
  candi/cloud-providers/dvp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/dvp/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/dvp/openapi/instance_class.yaml
  candi/cloud-providers/dvp/terraform-modules/master/main.tf
  candi/cloud-providers/dvp/terraform-modules/master/variables.tf
  candi/cloud-providers/dvp/terraform-modules/static-node/main.tf
  candi/cloud-providers/dvp/terraform-modules/static-node/variables.tf
  modules/030-cloud-provider-dvp/capi/instance-class.checksum
  modules/030-cloud-provider-dvp/capi/machine-template.yaml
  modules/030-cloud-provider-dvp/images/dvp-csi-driver/werf.inc.yaml
  modules/030-cloud-provider-dvp/openapi/values.yaml
  modules/040-node-manager/template_tests/module_test.go
Labels: area/cloud-provider, area/cluster-and-infrastructure, skip/e2e, go, area/api-change

#13869 update go generate forgotten in k8s update versions PR
  testing/library/images_tags_generated.go
Labels: area/testing, skip/e2e, go

#13731 [operator-trivy] Add startupProbe
  ee/modules/500-operator-trivy/templates/trivy-server.yaml
Labels: area/security, type/enhancement

#12379 [dhctl] Removed the now unnecessary extra checks
  dhctl/pkg/config/load.go
  docs/documentation/_data/deckhouse-alerts.yml
  modules/040-node-manager/hooks/check_cluster_configuration.go
  modules/040-node-manager/hooks/check_provider_cluster_configuration.go
  modules/040-node-manager/hooks/check_static_cluster_configuration.go
  modules/040-node-manager/monitoring/prometheus-rules/check_config.yaml
  modules/040-node-manager/requirements/check_config.go
  release.yaml
Labels: area/docs, area/cluster-and-infrastructure, area/cli, go

#13879 Backport: [network] Added stage field to module.yaml in all network-related mod…
  ee/be/modules/350-node-local-dns/module.yaml
  ee/modules/450-keepalived/module.yaml
  ee/modules/450-network-gateway/module.yaml
  ee/modules/610-service-with-healthchecks/module.yaml
  ee/se/modules/380-metallb/module.yaml
  modules/021-cni-cilium/module.yaml
  modules/035-cni-flannel/module.yaml
  modules/035-cni-simple-bridge/module.yaml
  modules/036-kube-proxy/module.yaml
  modules/042-kube-dns/module.yaml
  modules/050-network-policy-engine/module.yaml
  modules/110-istio/module.yaml
  modules/402-ingress-nginx/module.yaml
  modules/500-openvpn/module.yaml
Labels: auto, backported

#13881 Backport: [cloud-provider-zvirt] CVE scaning
  ee/modules/030-cloud-provider-dynamix/images/capd-controller-manager/werf.inc.yaml
  ee/modules/030-cloud-provider-dynamix/images/cloud-controller-manager/werf.inc.yaml
  ee/modules/030-cloud-provider-dynamix/images/cloud-data-discoverer/werf.inc.yaml
  ee/modules/030-cloud-provider-dynamix/images/dynamix-csi-driver/werf.inc.yaml
  ee/se-plus/modules/030-cloud-provider-zvirt/images/capz-controller-manager/src/go.mod
  ee/se-plus/modules/030-cloud-provider-zvirt/images/capz-controller-manager/src/go.sum
  ee/se-plus/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/go.mod
  ee/se-plus/modules/030-cloud-provider-zvirt/images/cloud-controller-manager/src/go.sum
  ee/se-plus/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/src/go.mod
  ee/se-plus/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/src/go.sum
  ee/se-plus/modules/030-cloud-provider-zvirt/images/zvirt-csi-driver/patches/001-bump-ovirt-client.patch
  ee/se-plus/modules/030-cloud-provider-zvirt/images/zvirt-csi-driver/patches/002-go-mod.patch
  ee/se-plus/modules/030-cloud-provider-zvirt/images/zvirt-csi-driver/patches/003-bugfixes.patch
  ee/se-plus/modules/030-cloud-provider-zvirt/images/zvirt-csi-driver/patches/README.md
  ee/se-plus/modules/030-cloud-provider-zvirt/images/zvirt-csi-driver/werf.inc.yaml
Labels: auto, backported

#13855 [operator-trivy] support anon registry creds for bdu updater
  ee/modules/500-operator-trivy/images/report-updater/src/internal/cache/cache.go
  ee/modules/500-operator-trivy/images/report-updater/src/internal/web/hook/hook.go
  ee/modules/500-operator-trivy/images/report-updater/src/internal/web/server.go
Labels: area/security, go

#13884 Backport: [operator-trivy] support anon registry creds for bdu updater
  ee/modules/500-operator-trivy/images/report-updater/src/internal/cache/cache.go
  ee/modules/500-operator-trivy/images/report-updater/src/internal/web/hook/hook.go
  ee/modules/500-operator-trivy/images/report-updater/src/internal/web/server.go
Labels: auto, backported

#13887 Backport: [candi] Update Deckhouse CLI to 0.12.1
  candi/version_map.yml
Labels: auto, backported

#13604 [dashboard] Fix display workload metrics on ui kubernetes-dashboard
  modules/500-dashboard/templates/api/deployment.yaml
  modules/500-dashboard/templates/api/rbac-for-us.yaml
Labels: skip/no-cyrillic-validation, area/ui

#13899 [candi] memory.available calculation python2 fix
  candi/bashible/common-steps/all/064_configure_kubelet.sh.tpl
Labels: area/cluster-and-infrastructure, status/backport

#13904 [docs] New structure updates
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/_includes/used_directories.liquid
  docs/documentation/images/architecture/module-development/build.png
  docs/documentation/images/architecture/module-development/deploy.png
  docs/documentation/images/architecture/module-development/module_stability.png
  docs/documentation/pages/admin/configuration/security/RUNTIME-AUDIT_RU.md
  docs/documentation/pages/admin/configuration/security/SYSCTL.md
  docs/documentation/pages/admin/configuration/security/SYSCTL_RU.md
  docs/documentation/pages/architecture/OVERVIEW.md
  docs/documentation/pages/architecture/OVERVIEW_RU.md
  docs/documentation/pages/architecture/VPA_RU.md
  docs/documentation/pages/architecture/functional/VERSIONING.md
  docs/documentation/pages/architecture/module-development/BUILD.md
  docs/documentation/pages/architecture/module-development/BUILD_RU.md
  docs/documentation/pages/architecture/module-development/DEPENDENCIES.md
  docs/documentation/pages/architecture/module-development/DEPENDENCIES_RU.md
  docs/documentation/pages/architecture/module-development/DEVELOPMENT.md
  docs/documentation/pages/architecture/module-development/DEVELOPMENT_RU.md
  docs/documentation/pages/architecture/module-development/EXAMPLE.md
  docs/documentation/pages/architecture/module-development/EXAMPLE_RU.md
  docs/documentation/pages/architecture/module-development/README.md
  docs/documentation/pages/architecture/module-development/README_RU.md
  docs/documentation/pages/architecture/module-development/RUN.md
  docs/documentation/pages/architecture/module-development/RUN_RU.md
  docs/documentation/pages/architecture/module-development/STRUCTURE.md
  docs/documentation/pages/architecture/module-development/STRUCTURE_RU.md
  docs/documentation/pages/architecture/module-development/VERSIONING.md
  docs/documentation/pages/architecture/module-development/VERSIONING_RU.md
  docs/documentation/pages/architecture/security/USED_DIRECTORIES.md
  docs/documentation/pages/architecture/security/USED_DIRECTORIES_RU.md
  docs/documentation/pages/module-development/VERSIONING_RU.md
  docs/documentation/pages/security/KESL.md
  docs/documentation/pages/security/KESL_RU.md
  docs/documentation/pages/security/KUMA.md
  docs/documentation/pages/security/KUMA_RU.md
Labels: area/docs

#13882 [user-authz] Authorization doc fixes
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/admin/configuration/access/authorization/CI_CD.md
  docs/documentation/pages/admin/configuration/access/authorization/CI_CD_RU.md
  docs/documentation/pages/admin/configuration/access/authorization/GRANTING.md
  docs/documentation/pages/admin/configuration/access/authorization/GRANTING_RIGHTS_TO_USERS_AND_SERVERS_RU.md
  docs/documentation/pages/admin/configuration/access/authorization/GRANTING_RU.md
  docs/documentation/pages/admin/configuration/access/authorization/OVERVIEW_RU.md
  docs/documentation/pages/admin/configuration/access/authorization/RBAC_CURRENT_RU.md
Labels: area/docs

#13734 [cilium] fix bug in cilium operator priority filter
  modules/021-cni-cilium/images/bin-cilium/patches/006-add-pod-prioroty-management.patch
Labels: area/network, status/backport

#13894 [docs] Change Using CiliumClusterwideNetworkPolicies section
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
Labels: area/network, area/docs, status/backport

#13903 [go_lib] Handle hybrid clusters case in the to_tofu_migrate_metric hook
  go_lib/hooks/to_tofu_migrate_metric/hook.go
  modules/000-common/hooks/to_tofu_migrate_metric_test.go
Labels: area/core, status/backport, go

#13891 [service-with-healthchecks] change port kube-rbac-proxy
  ee/modules/610-service-with-healthchecks/template_tests/module_test.go
  ee/modules/610-service-with-healthchecks/templates/agent/daemonset.yaml
Labels: status/backport, go, e2e/use/k8s/1.30

#13900 [openvpn] Fix client cert alerts alerting.
  docs/documentation/_data/deckhouse-alerts.yml
  modules/500-openvpn/monitoring/prometheus-rules/ovpn-admin.yaml
Labels: area/security, area/docs, status/backport, e2e/use/k8s/1.30

#13917 Backport: Changelog v1.69.12
  CHANGELOG/CHANGELOG-v1.69.12.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: auto, backported

#13921 Backport: Changelog v1.70.2
  CHANGELOG/CHANGELOG-v1.70.2.yml
  CHANGELOG/CHANGELOG-v1.70.md
Labels: auto, backported

#13930 Backport: [docs] Changed information about publicDomainTemplate at documentation
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL.md
  docs/documentation/pages/DECKHOUSE_CONFIGURE_GLOBAL_RU.md
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/doc-ru-config-values.yaml
Labels: area/docs, area/core, auto, area/api-change, backported

#13932 Backport: Changelog v1.70.2
  CHANGELOG/CHANGELOG-v1.70.2.yml
  CHANGELOG/CHANGELOG-v1.70.md
Labels: auto, backported

#13936 Backport: [istio][metadata-exporter] Fix panics when getting a custom ConfigMap
  ee/modules/110-istio/images/metadata-exporter/src/exporter.go
  ee/modules/110-istio/images/metadata-exporter/src/exporter_test.go
Labels: area/network, auto, go, backported

#13935 Changelog v1.69.13
  CHANGELOG/CHANGELOG-v1.69.13.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: changelog, auto, status/backport/failed, status/backport/success

#13938 Backport: Changelog v1.69.13
  CHANGELOG/CHANGELOG-v1.69.13.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: auto, backported

#13933 [deckhouse-tools] fix render deployment
  modules/800-deckhouse-tools/templates/deployment.yaml
Labels: status/backport/success

#13927 [docs] Update conversions message
  docs/documentation/_data/i18n.yml
  docs/site/backends/docs-builder-template/i18n/en.yaml
  docs/site/backends/docs-builder-template/i18n/ru.yaml
Labels: area/docs, status/backport

#13696 [deckhouse] Liveness and Readiness probes for kube-rbac-proxy
  ee/modules/500-operator-trivy/.dmtlint.yaml
  ee/modules/500-operator-trivy/templates/deployment.yaml
  modules/015-admission-policy-engine/.dmtlint.yaml
  modules/015-admission-policy-engine/templates/audit-deployment.yaml
  modules/015-admission-policy-engine/templates/gatekeeper-deployment.yaml
  modules/101-cert-manager/.dmtlint.yaml
  modules/101-cert-manager/templates/cert-manager/deployment.yaml
Labels: area/security

#13956 Backport: [docs] Fix scrolling error
  docs/site/_assets/css/docs.scss
Labels: auto, backported

#13958 Backport: [chore] add flags -cover and -race for go tests
  Makefile
Labels: auto, backported

#13957 [deckhouse] Liveness and Readiness probes for kube-rbac-proxy
  ee/modules/500-operator-trivy/templates/deployment.yaml
  modules/015-admission-policy-engine/templates/audit-deployment.yaml
  modules/015-admission-policy-engine/templates/gatekeeper-deployment.yaml
  modules/101-cert-manager/templates/cert-manager/deployment.yaml
Labels: area/security

#13955 [cloud-provider-zvirt] fix UUID validation regex
  ee/se-plus/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/se-plus/modules/030-cloud-provider-zvirt/openapi/values.yaml
Labels: skip/documentation-validation, skip/e2e, area/api-change

#13877 [network] Enabled liveness-probe and readiness-probe probe for network modules.
  ee/be/modules/350-node-local-dns/.dmtlint.yaml
  ee/be/modules/350-node-local-dns/templates/daemonset.yaml
  ee/modules/610-service-with-healthchecks/.dmtlint.yaml
  ee/modules/610-service-with-healthchecks/template_tests/module_test.go
  ee/modules/610-service-with-healthchecks/templates/agent/daemonset.yaml
  ee/modules/610-service-with-healthchecks/templates/controller/deployment.yaml
  modules/021-cni-cilium/.dmtlint.yaml
  modules/021-cni-cilium/templates/_agent-daemonset.tpl
  modules/021-cni-cilium/templates/operator/deployment.yaml
  modules/036-kube-proxy/.dmtlint.yaml
  modules/036-kube-proxy/templates/daemonset.yaml
  modules/042-kube-dns/.dmtlint.yaml
  modules/042-kube-dns/templates/deployment.yaml
  modules/110-istio/.dmtlint.yaml
  modules/110-istio/templates/cni/daemonset.yaml
  modules/110-istio/templates/kiali/deployment.yaml
  modules/500-cilium-hubble/.dmtlint.yaml
  modules/500-cilium-hubble/templates/ui/deployment.yaml
  modules/500-openvpn/.dmtlint.yaml
  modules/500-openvpn/templates/openvpn/statefulset.yaml
Labels: area/kubernetes, area/network, area/security, area/cluster-and-infrastructure, go, e2e/use/k8s/1.30

#13859 [docs] Added logic of automatic module update documentation
  docs/documentation/images/module-development/module_update_flow.puml
  docs/documentation/images/module-development/module_update_flow.svg
  docs/documentation/images/module-development/module_update_flow_ru.puml
  docs/documentation/images/module-development/module_update_flow_ru.svg
  docs/documentation/pages/module-development/DEVELOPMENT.md
  docs/documentation/pages/module-development/DEVELOPMENT_RU.md
Labels: area/docs, skip/documentation-validation, skip/no-cyrillic-validation, status/backport

#13966 Backport: [docs] Added logic of automatic module update documentation
  docs/documentation/images/module-development/module_update_flow.puml
  docs/documentation/images/module-development/module_update_flow.svg
  docs/documentation/images/module-development/module_update_flow_ru.puml
  docs/documentation/images/module-development/module_update_flow_ru.svg
  docs/documentation/pages/module-development/DEVELOPMENT.md
  docs/documentation/pages/module-development/DEVELOPMENT_RU.md
Labels: auto, backported

#13963 [node-manager] fixed update for static clusters
  modules/040-node-manager/requirements/check_config.go
Labels: area/cluster-and-infrastructure, go

#13968 [candi] Update Deckhouse CLI to 0.13.1
  candi/version_map.yml
Labels: area/kubernetes, area/cluster-and-infrastructure, status/backport

#13979 Backport: [docs] Removed documentation about module lifecycle parameters
  docs/documentation/pages/module-development/DEVELOPMENT.md
  docs/documentation/pages/module-development/DEVELOPMENT_RU.md
Labels: auto, backported

#13980 Backport: [docs] Removed documentation about module lifecycle parameters
  docs/documentation/pages/module-development/DEVELOPMENT.md
  docs/documentation/pages/module-development/DEVELOPMENT_RU.md
Labels: auto, backported

#13928 Changelog v1.70.3
  CHANGELOG/CHANGELOG-v1.70.3.yml
  CHANGELOG/CHANGELOG-v1.70.md
Labels: changelog, auto, status/backport

#13648 [ingress-nginx] Restore validation
  global-hooks/generate_admission_webhook_client_ca.go
  global-hooks/openapi/values.yaml
  helm_lib/charts/deckhouse_lib_helm/README.md
  helm_lib/charts/deckhouse_lib_helm/templates/_admission_client_ca.tpl
  modules/002-deckhouse/template_tests/module_test.go
  modules/002-deckhouse/templates/admission-webhook-client/secret.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/040-control-plane-manager/hooks/generate_admission_webhook_client_cert.go
  modules/040-control-plane-manager/hooks/generate_admission_webhook_client_cert_test.go
  modules/040-control-plane-manager/openapi/values.yaml
  modules/040-control-plane-manager/template_tests/template_test.go
  modules/040-control-plane-manager/templates/_admission_control_config.tpl
  modules/040-control-plane-manager/templates/admission-webhook-client-cert-secret.yaml
  modules/040-control-plane-manager/templates/daemonset.yaml
  modules/402-ingress-nginx/images/controller-1-10/patches/015-fix-validating-webhook-cve.patch
  modules/402-ingress-nginx/images/controller-1-10/patches/015-protect-validation-port.patch
  modules/402-ingress-nginx/images/controller-1-10/patches/README.md
  modules/402-ingress-nginx/images/controller-1-10/werf.inc.yaml
  modules/402-ingress-nginx/images/controller-1-12/patches/012-restore-validation.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/013-protect-validation-port.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/README.md
  modules/402-ingress-nginx/images/controller-1-12/werf.inc.yaml
  modules/402-ingress-nginx/images/controller-1-9/patches/ingress-nginx/012-fix-validating-webhook-cve.patch
  modules/402-ingress-nginx/images/controller-1-9/patches/ingress-nginx/012-protect-validation-port.patch
  modules/402-ingress-nginx/images/controller-1-9/patches/ingress-nginx/README.md
  modules/402-ingress-nginx/images/controller-1-9/werf.inc.yaml
  modules/402-ingress-nginx/template_tests/controller_test.go
  modules/402-ingress-nginx/templates/controller/controller.yaml
  modules/402-ingress-nginx/templates/namespace.yaml
  modules/402-ingress-nginx/templates/validator/admission.yaml
  modules/402-ingress-nginx/templates/validator/deployment.yml
  modules/402-ingress-nginx/templates/validator/rbac-for-us.yaml
  modules/402-ingress-nginx/templates/validator/secret-admission.yaml
  modules/402-ingress-nginx/templates/validator/service-admission.yaml
Labels: area/network, area/cluster-and-infrastructure, area/core, status/backport, go, area/api-change

#13985 [docs] Added RN 1.70 for doc site
  docs/documentation/_includes/release-notes/RELEASE-NOTES.md
  docs/documentation/_includes/release-notes/RELEASE-NOTES_RU.md
Labels: area/docs, status/backport

#13998 Backport: [docs] Added RN 1.70 for doc site
  docs/documentation/_includes/release-notes/RELEASE-NOTES.md
  docs/documentation/_includes/release-notes/RELEASE-NOTES_RU.md
Labels: auto, backported

#13999 Backport: [prometheus-operator] Update documentation
  docs/documentation/_data/sidebars/main.yml
  modules/200-operator-prometheus/crds/doc-ru-podmonitors.yaml
  modules/200-operator-prometheus/crds/doc-ru-probes.yaml
  modules/200-operator-prometheus/crds/doc-ru-scrapeconfigs.yaml
  modules/200-operator-prometheus/crds/doc-ru-servicemonitors.yaml
  modules/200-operator-prometheus/crds/internal/alertmanagerconfigs.yaml
  modules/200-operator-prometheus/crds/internal/alertmanagers.yaml
  modules/200-operator-prometheus/crds/internal/prometheusagents.yaml
  modules/200-operator-prometheus/crds/internal/prometheuses.yaml
  modules/200-operator-prometheus/crds/internal/prometheusrules.yaml
  modules/200-operator-prometheus/crds/internal/thanosrulers.yaml
  modules/200-operator-prometheus/crds/podmonitors.yaml
  modules/200-operator-prometheus/crds/probes.yaml
  modules/200-operator-prometheus/crds/scrapeconfigs.yaml
  modules/200-operator-prometheus/crds/servicemonitors.yaml
  modules/200-operator-prometheus/docs/CR.md
  modules/200-operator-prometheus/docs/CR_RU.md
Labels: auto, backported

#13993 Release 1.70 fix files to "Restore validation" commit merge
  global-hooks/openapi/values.yaml
  modules/402-ingress-nginx/template_tests/controller_test.go
Labels: area/network, area/core, go, area/api-change

#13995 Changelog v1.69.14
  CHANGELOG/CHANGELOG-v1.69.14.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: changelog, auto, status/backport

#14002 Backport: Changelog v1.69.14
  CHANGELOG/CHANGELOG-v1.69.14.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: auto, backported

#14012 Backport: Changelog v1.69.9
  CHANGELOG/CHANGELOG-v1.69.9.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: auto, backported

#14014 Backport: Changelog v1.69.11
  CHANGELOG/CHANGELOG-v1.69.11.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: auto, backported

#13988 [prometheus] Remove Grafana v8 name from Certificate
  modules/300-prometheus/templates/grafana/certificate.yaml
Labels: area/monitoring, status/ok-to-test

#13823 [prometheus] Add headers field to values spec
  ee/fe/modules/300-prometheus/templates/prometheus/prometheus.yaml
  modules/300-prometheus/hooks/get_prometheus_remote_write_crds_test.go
  modules/300-prometheus/openapi/values.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring, status/backport, go, area/api-change

#13996 Changelog v1.69.15
  CHANGELOG/CHANGELOG-v1.69.15.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: changelog, auto, status/backport

#14029 Backport: Changelog v1.69.15
  CHANGELOG/CHANGELOG-v1.69.15.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: auto, backported

#14030 Backport: Changelog v1.69.15
  CHANGELOG/CHANGELOG-v1.69.15.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: auto, backported

#14022 [deckhouse-controller] Fix supress logs, fixes logs message
  deckhouse-controller/pkg/controller/module-controllers/docbuilder/controller.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/downloader.go
Labels: type/bug, area/core, go

#14020 Add info yandex cloud withnatinstance layout
  candi/cloud-providers/yandex/docs/LAYOUTS.md
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, skip/documentation-validation, status/backport

#14035 Backport: Add info yandex cloud withnatinstance layout
  candi/cloud-providers/yandex/docs/LAYOUTS.md
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
Labels: auto, backported

#14011 Changelog v1.70.5
  CHANGELOG/CHANGELOG-v1.70.5.yml
  CHANGELOG/CHANGELOG-v1.70.md
Labels: changelog, auto, status/backport

#14023 [docs][getting-started] Add which to the system requirements page for RED OS
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
Labels: area/docs, status/backport

#14041 Backport: [openvpn] added hook for setting missing label
  modules/500-openvpn/hooks/migration_secret_labels.go
  modules/500-openvpn/hooks/migration_secret_labels_test.go
Labels: auto, backported

#14043 Backport: [deckhouse] remove unnecessary modules downloading
  deckhouse-controller/pkg/controller/module-controllers/downloader/downloader.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/downloader_test.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/helpers.go
  deckhouse-controller/pkg/controller/module-controllers/source/module_release_fetcher.go
Labels: auto, backported

#14047 Backport: Bump falco and falcoctl version
  ee/modules/650-runtime-audit-engine/docs/internal/TEST_PLAN.md
  ee/modules/650-runtime-audit-engine/images/falco/patches/falcoctl/001-go-mod.patch
  ee/modules/650-runtime-audit-engine/images/falco/patches/falcoctl/README.md
  ee/modules/650-runtime-audit-engine/images/falco/werf.inc.yaml
  ee/modules/650-runtime-audit-engine/images/rules-loader/werf.inc.yaml
  ee/modules/650-runtime-audit-engine/templates/configmap.yaml
  modules/000-common/images/relocate/werf.inc.yaml
Labels: auto, backported

#13965 [docs][new structure] Translate alertmanager-email web UI article
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/user/web/ALERTMANAGER.md
  docs/documentation/pages/user/web/ALERTMANAGER_RU.md
Labels: area/docs, skip/documentation-validation

#14060 [ingress-nginx] fix bug with proxy client cert in validator
  modules/402-ingress-nginx/templates/validator/deployment.yml
Labels: area/network, status/backport

#14062 Backport: [ingress-nginx] Restore validation
  global-hooks/generate_admission_webhook_client_ca.go
  helm_lib/charts/deckhouse_lib_helm/README.md
  helm_lib/charts/deckhouse_lib_helm/templates/_admission_client_ca.tpl
  modules/002-deckhouse/template_tests/module_test.go
  modules/002-deckhouse/templates/admission-webhook-client/secret.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/040-control-plane-manager/hooks/generate_admission_webhook_client_cert.go
  modules/040-control-plane-manager/hooks/generate_admission_webhook_client_cert_test.go
  modules/040-control-plane-manager/openapi/values.yaml
  modules/040-control-plane-manager/template_tests/template_test.go
  modules/040-control-plane-manager/templates/_admission_control_config.tpl
  modules/040-control-plane-manager/templates/admission-webhook-client-cert-secret.yaml
  modules/040-control-plane-manager/templates/daemonset.yaml
  modules/402-ingress-nginx/images/controller-1-10/patches/015-fix-validating-webhook-cve.patch
  modules/402-ingress-nginx/images/controller-1-10/patches/015-protect-validation-port.patch
  modules/402-ingress-nginx/images/controller-1-10/patches/README.md
  modules/402-ingress-nginx/images/controller-1-10/werf.inc.yaml
  modules/402-ingress-nginx/images/controller-1-12/patches/012-restore-validation.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/013-protect-validation-port.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/README.md
  modules/402-ingress-nginx/images/controller-1-12/werf.inc.yaml
  modules/402-ingress-nginx/images/controller-1-9/patches/ingress-nginx/012-fix-validating-webhook-cve.patch
  modules/402-ingress-nginx/images/controller-1-9/patches/ingress-nginx/012-protect-validation-port.patch
  modules/402-ingress-nginx/images/controller-1-9/patches/ingress-nginx/README.md
  modules/402-ingress-nginx/images/controller-1-9/werf.inc.yaml
  modules/402-ingress-nginx/templates/controller/controller.yaml
  modules/402-ingress-nginx/templates/namespace.yaml
  modules/402-ingress-nginx/templates/validator/admission.yaml
  modules/402-ingress-nginx/templates/validator/deployment.yml
  modules/402-ingress-nginx/templates/validator/rbac-for-us.yaml
  modules/402-ingress-nginx/templates/validator/secret-admission.yaml
  modules/402-ingress-nginx/templates/validator/service-admission.yaml
Labels: auto, backported

#14063 Backport: [ingress-nginx] fix bug with proxy client cert in validator
  modules/402-ingress-nginx/templates/validator/deployment.yml
Labels: auto, backported

#14065 [user-authz] add patch verb for service accounts for use managers
  modules/140-user-authz/templates/rbacv2/global/use/capabilities/manage_security.yaml
Labels: area/auth

#14070 Backport: [control-plane-manager] Change audit-log-maxage value to 30 days.
  candi/control-plane-kubeadm/v1beta3/config.yaml.tpl
  candi/control-plane-kubeadm/v1beta4/config.yaml.tpl
Labels: auto, backported

#14057 Changelog v1.69.16
  CHANGELOG/CHANGELOG-v1.69.16.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: changelog, auto, status/backport

#14074 Backport: Changelog v1.69.16
  CHANGELOG/CHANGELOG-v1.69.16.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: auto, backported

#12377 [ci] Add module comparison
  .github/ci_templates/build.yml
  .github/scripts/python/compare_external_modules.py
  .github/scripts/python/compare_internal_modules.py
  .github/scripts/python/obtain_edition_list.py
  .github/workflow_templates/build-and-test_release.yml
  .github/workflow_templates/compare-external-modules.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/compare-external-modules.yml
Labels: python

#14052 [docs] Render SSHHost and SSHConfig specs
  candi/openapi/dhctl/doc-ru-ssh_configuration.yaml
  candi/openapi/dhctl/doc-ru-ssh_host_configuration.yaml
  candi/openapi/dhctl/ssh_configuration.yaml
  candi/openapi/dhctl/ssh_host_configuration.yaml
  docs/documentation/_tools/modules_generate_configuration.sh
  docs/documentation/pages/installing/CONFIGURATION.md
  docs/documentation/pages/installing/CONFIGURATION_RU.md
  docs/documentation/werf-git-section.inc.yaml
Labels: area/docs, area/cluster-and-infrastructure, status/backport

#14054 Changelog v1.70.6
  CHANGELOG/CHANGELOG-v1.70.6.yml
  CHANGELOG/CHANGELOG-v1.70.md
Labels: changelog, auto, status/backport

#14085 Backport: [ingress-ngixn] fix validation pod node-selector
  modules/402-ingress-nginx/templates/validator/deployment.yml
Labels: auto, backported

#14075 [node-local-dns] increase healthcheck timeout for dynamicforward plugin
  ee/be/modules/350-node-local-dns/templates/configmap.yaml
Labels: status/backport, e2e/use/k8s/1.30

#14058 [control-plane-manager] Kubeadm v1beta4 fix
  candi/control-plane-kubeadm/v1beta4/config.yaml.tpl
Labels: area/cluster-and-infrastructure, status/backport, e2e/use/k8s/1.31

#14072 [istio] Fix for collecting debugging resources in collect-debug-info about Istio
  deckhouse-controller/pkg/debug/debug.go
Labels: area/core, status/backport, go, e2e/use/k8s/1.30

#14090 Backport: [istio] Fix for collecting debugging resources in collect-debug-info about Istio
  deckhouse-controller/pkg/debug/debug.go
Labels: auto, backported

#13711 [ci] Add listing of changed modules for release branch changes
  .github/scripts/python/compare_version_modules.py
  .github/workflow_templates/build-and-test_pre-release.yml
  .github/workflows/build-and-test_pre-release.yml
Labels: python

#13741 [docs][getting started] Fix handling multiline values
  docs/site/_assets/js/getting-started.js
  docs/site/_includes/getting_started/global/EE_ACCESS.md
  docs/site/_includes/getting_started/global/EE_ACCESS_RU.md
  docs/site/_includes/getting_started/global/partials/select_revision.html.liquid
  docs/site/_includes/getting_started/stronghold/global/EE_ACCESS.md
  docs/site/_includes/getting_started/stronghold/global/EE_ACCESS_RU.md
Labels: area/docs, skip/documentation-validation

#14032 [docs][new structure] The modules library
  docs/documentation/_data/modules/sidebar.yaml
  docs/documentation/_includes/module-conversion.liquid
  docs/documentation/_includes/module-settings.liquid
  docs/documentation/_includes/nav-breadcrumbs.html
  docs/documentation/_includes/sidebar.html
  docs/documentation/_plugins/comparator.rb
  docs/documentation/_plugins/custom_hooks.rb
  docs/documentation/_plugins/resource_generator.rb
  docs/documentation/_plugins/sidebar_custom.rb
  docs/documentation/_plugins/sidebar_module.rb
  docs/documentation/_plugins/utils.rb
  docs/documentation/_tools/modules_generate_configuration.sh
  docs/documentation/_tools/modules_list.sh
  docs/documentation/_tools/modules_prepare.sh
  docs/documentation/werf-web-static.inc.yaml
  docs/documentation/werf-web.inc.yaml
  docs/site/.helm/templates/_rewrites.tpl
  docs/site/.werf/nginx-dev.conf
  docs/site/.werf/nginx.conf
  docs/site/assets/js/tile.js
  docs/site/backends/docs-builder-template/content/modules/_index.md
  docs/site/backends/docs-builder-template/content/modules/_index.ru.md
  docs/site/backends/docs-builder-template/data/dkp/embedded_modules.json
  docs/site/backends/docs-builder-template/i18n/en.yaml
  docs/site/backends/docs-builder-template/i18n/ru.yaml
  docs/site/backends/docs-builder-template/layouts/_default/list.html
  docs/site/backends/docs-builder-template/layouts/baseof-backup.html
  docs/site/backends/docs-builder-template/layouts/baseof.modules-list.html
  docs/site/backends/docs-builder-template/layouts/baseof.single.html
  docs/site/backends/docs-builder-template/layouts/modules-backup.html
  docs/site/backends/docs-builder-template/layouts/modules-list.html
  docs/site/werf-docs-builder.inc.yaml
  docs/site/werf.yaml
Labels: area/docs

#13613 [snapshot-controller] module remove
  .github/CODEOWNERS
  .github/labeler.yml
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  docs/documentation/_data/deckhouse-alerts.yml
  docs/documentation/_data/modules/editions-addition.json
  docs/documentation/_data/modules/modules-addition.json
  docs/documentation/_data/rbac/rbac.yaml
  docs/site/README.md
  docs/site/backends/docs-builder-template/data/modules_all.json
  docs/site/werf.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/045-snapshot-controller/.dmtlint.yaml
  modules/045-snapshot-controller/.helmignore
  modules/045-snapshot-controller/.namespace
  modules/045-snapshot-controller/Chart.yaml
  modules/045-snapshot-controller/charts/helm_lib
  modules/045-snapshot-controller/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  modules/045-snapshot-controller/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  modules/045-snapshot-controller/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  modules/045-snapshot-controller/docs/CONFIGURATION.md
  modules/045-snapshot-controller/docs/CONFIGURATION_RU.md
  modules/045-snapshot-controller/docs/README.md
  modules/045-snapshot-controller/docs/README_RU.md
  modules/045-snapshot-controller/docs/USAGE.md
  modules/045-snapshot-controller/docs/USAGE_RU.md
  modules/045-snapshot-controller/hooks/common_test.go
  modules/045-snapshot-controller/hooks/create_module_config.go
  modules/045-snapshot-controller/hooks/generate_webhook_certs.go
  modules/045-snapshot-controller/hooks/generate_webhook_certs_test.go
  modules/045-snapshot-controller/images/snapshot-controller/werf.inc.yaml
  modules/045-snapshot-controller/images/snapshot-validation-webhook/werf.inc.yaml
  modules/045-snapshot-controller/module.yaml
  modules/045-snapshot-controller/monitoring/prometheus-rules/snapshot-controller.yaml
  modules/045-snapshot-controller/monitoring/prometheus-rules/snapshot-validation-webhook.yaml
  modules/045-snapshot-controller/openapi/config-values.yaml
  modules/045-snapshot-controller/openapi/doc-ru-config-values.yaml
  modules/045-snapshot-controller/openapi/openapi-case-tests.yaml
  modules/045-snapshot-controller/openapi/values.yaml
  modules/045-snapshot-controller/oss.yaml
  modules/045-snapshot-controller/template_tests/module_test.go
  modules/045-snapshot-controller/templates/monitoring.yaml
  modules/045-snapshot-controller/templates/namespace.yaml
  modules/045-snapshot-controller/templates/rbac-to-us.yaml
  modules/045-snapshot-controller/templates/rbacv2/manage/edit.yaml
  modules/045-snapshot-controller/templates/rbacv2/manage/view.yaml
  modules/045-snapshot-controller/templates/registry-secret.yaml
  modules/045-snapshot-controller/templates/snapshot-controller/deployment.yaml
  modules/045-snapshot-controller/templates/snapshot-controller/podmonitor.yaml
  modules/045-snapshot-controller/templates/snapshot-controller/rbac-for-us.yaml
  modules/045-snapshot-controller/templates/snapshot-validation-webhook/deployment.yaml
  modules/045-snapshot-controller/templates/snapshot-validation-webhook/secret.yaml
  modules/045-snapshot-controller/templates/snapshot-validation-webhook/service.yaml
  modules/045-snapshot-controller/templates/snapshot-validation-webhook/webhook.yaml
  testing/library/images_tags_generated.go
  tools/docs/spelling/dictionaries/dev_OPS.dic
  tools/docs/spelling/wordlist
Labels: area/testing, area/docs, area/cluster-and-infrastructure, area/core, area/storage, go, area/api-change

#14068 Changelog v1.70.7
  CHANGELOG/CHANGELOG-v1.70.7.yml
  CHANGELOG/CHANGELOG-v1.70.md
Labels: changelog, auto, status/backport

#13798 [extended-monitoring] Fix CVEs vulnerabilities extended-monitoring-exporter
  modules/000-common/images/wheel-artifact/werf.inc.yaml
  modules/340-extended-monitoring/images/extended-monitoring-exporter/src/requirements.txt
Labels: area/monitoring, status/ok-to-test, status/backport

#13792 [operator-prometheus] Fix CVEs vulnerabilities operator-prometheus
  modules/200-operator-prometheus/images/prometheus-operator/patches/004-fix_cve.patch
Labels: area/monitoring, status/ok-to-test, status/backport

#13745 [prometheus] Fix CVEs vulnerabilities trickster
  modules/300-prometheus/images/trickster/patches/001-go-mod.patch
Labels: area/monitoring, status/ok-to-test, status/backport

#13943 [docs] Add info about node-local-dns in new structure
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/admin/configuration/network/other/DNS_CACHING.md
  docs/documentation/pages/admin/configuration/network/other/DNS_CACHING_RU.md
  docs/documentation/pages/architecture/network/DNS_CACHING.md
  docs/documentation/pages/architecture/network/DNS_CACHING_RU.md
Labels: area/docs, skip/documentation-validation

#14128 Backport: [openvpn] Improve alerts description, add certificate documentation
  docs/documentation/_data/deckhouse-alerts.yml
  docs/documentation/images/openvpn/active_user.png
  docs/documentation/images/openvpn/revoked_user.png
  modules/500-openvpn/docs/FAQ.md
  modules/500-openvpn/docs/FAQ_RU.md
  modules/500-openvpn/monitoring/prometheus-rules/ovpn-admin.yaml
Labels: auto, backported

#13971 [docs] Remove python hooks from docs
  docs/documentation/pages/module-development/STRUCTURE.md
  docs/documentation/pages/module-development/STRUCTURE_RU.md
Labels: area/docs, skip/documentation-validation, type/chore

#13699 [admission-policy-engine] feat: add Ratify integration for se+
  ee/modules/015-admission-policy-engine/.build.yaml
  ee/se-plus/modules/015-admission-policy-engine/.build.yaml
  ee/se-plus/modules/015-admission-policy-engine/.namespace
  ee/se-plus/modules/015-admission-policy-engine/images/ratify/patches/001-add-custom-ca.patch
  ee/se-plus/modules/015-admission-policy-engine/images/ratify/patches/002-go-mod.patch
  ee/se-plus/modules/015-admission-policy-engine/images/ratify/patches/README.md
  ee/se-plus/modules/015-admission-policy-engine/images/ratify/werf.inc.yaml
  ee/se-plus/modules/015-admission-policy-engine/templates/ratify/cert-secret.yaml
  ee/se-plus/modules/015-admission-policy-engine/templates/ratify/configmap.yaml
  ee/se-plus/modules/015-admission-policy-engine/templates/ratify/deployment.yaml
  ee/se-plus/modules/015-admission-policy-engine/templates/ratify/gatekeeper-provider.yaml
  ee/se-plus/modules/015-admission-policy-engine/templates/ratify/key-management-provider.yaml
  ee/se-plus/modules/015-admission-policy-engine/templates/ratify/policy.yaml
  ee/se-plus/modules/015-admission-policy-engine/templates/ratify/rbac-for-us.yaml
  ee/se-plus/modules/015-admission-policy-engine/templates/ratify/service.yaml
  ee/se-plus/modules/015-admission-policy-engine/templates/ratify/store.yaml
  ee/se-plus/modules/015-admission-policy-engine/templates/ratify/verifier.yaml
  modules/015-admission-policy-engine/template_tests/module_test.go
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-SE-plus.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-dependencies-SE-plus.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
  tools/build_includes/modules-with-exclude-SE-plus.yaml
Labels: area/security, area/testing, go

#14135 [deckhouse-controller] Backport 1.70: Handle new Module-SDK hook API
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: area/testing, type/dependencies, area/core

#14140 Backport: Changelog v1.70.8
  CHANGELOG/CHANGELOG-v1.70.8.yml
  CHANGELOG/CHANGELOG-v1.70.md
Labels: auto, backported

#14123 fix(testing): exported_struct_test now covers a lot more cases
  go.mod
  modules/021-cni-cilium/hooks/check_cni_configuration.go
  modules/035-cni-flannel/hooks/check_cni_configuration.go
  modules/035-cni-simple-bridge/hooks/check_cni_configuration.go
  modules/040-node-manager/hooks/yc_delete_preemptible_instances.go
  modules/300-prometheus/hooks/delete_certificate_secret.go
  modules/402-ingress-nginx/hooks/update_ingress_address.go
  testing/hooks/validation/exported_struct_test.go
Labels: area/monitoring, area/network, type/enhancement, area/testing, area/cluster-and-infrastructure, type/dependencies, area/core, go

#14125 [docs] Fix bugs in code blocks
  docs/site/_assets/css/docs.scss
  docs/site/_assets/js/customscripts.js
Labels: area/docs
