Repository deckhouse/deckhouse, pull requests merged in 2025-05, with the labels that each got.

#13225 [docs] Fix showing required parameter status of the ModuleConfig in the documentation
  docs/documentation/_plugins/render-jsonschema.rb
Labels: area/docs, status/backport

#13322 Backport: [docs] Fix showing required parameter status of the ModuleConfig in the documentation
  docs/documentation/_plugins/render-jsonschema.rb
Labels: auto, backported

#13323 Backport: [docs] Fix showing required parameter status of the ModuleConfig in the documentation
  docs/documentation/_plugins/render-jsonschema.rb
Labels: auto, backported

#13281 [docs] Fixes in the Storage section after the review
  docs/documentation/pages/admin/configuration/storage/README.md
  docs/documentation/pages/admin/configuration/storage/README_RU.md
  docs/documentation/pages/admin/configuration/storage/SNAPSHOT_CONTROLLER.md
  docs/documentation/pages/admin/configuration/storage/SNAPSHOT_CONTROLLER_RU.md
  docs/documentation/pages/admin/configuration/storage/SUPPORTED_STORAGE.md
  docs/documentation/pages/admin/configuration/storage/SUPPORTED_STORAGE_RU.md
  docs/documentation/pages/admin/configuration/storage/external/CEPH.md
  docs/documentation/pages/admin/configuration/storage/external/CEPH_RU.md
  docs/documentation/pages/admin/configuration/storage/external/HPE.md
  docs/documentation/pages/admin/configuration/storage/external/HPE_RU.md
  docs/documentation/pages/admin/configuration/storage/external/HUAWEI.md
  docs/documentation/pages/admin/configuration/storage/external/HUAWEI_RU.md
  docs/documentation/pages/admin/configuration/storage/external/NFS.md
  docs/documentation/pages/admin/configuration/storage/external/NFS_RU.md
  docs/documentation/pages/admin/configuration/storage/external/S3.md
  docs/documentation/pages/admin/configuration/storage/external/S3_RU.md
  docs/documentation/pages/admin/configuration/storage/external/SCSI.md
  docs/documentation/pages/admin/configuration/storage/external/SCSI_RU.md
  docs/documentation/pages/admin/configuration/storage/sds/LOCAL_PATH_PROVISIONER.md
  docs/documentation/pages/admin/configuration/storage/sds/LOCAL_PATH_PROVISIONER_RU.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-local/LVM_LOCAL.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-local/LVM_LOCAL_FAQ.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-local/LVM_LOCAL_FAQ_RU.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-local/LVM_LOCAL_RU.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-replicated/LVM_REPLICATED.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-replicated/LVM_REPLICATED_FAQ.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-replicated/LVM_REPLICATED_FAQ_RU.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-replicated/LVM_REPLICATED_RU.md
Labels: area/docs

#13321 [ci] Add define for getting base image for terraform-manager image depends of terraform_versions.yaml file
  .werf/defines/infrastructure-manager.tmpl
  candi/terraform_versions.yml
  ee/modules/040-terraform-manager/images/terraform-manager-dynamix/werf.inc.yaml
  ee/modules/040-terraform-manager/images/terraform-manager-huaweicloud/werf.inc.yaml
  ee/modules/040-terraform-manager/images/terraform-manager-openstack/werf.inc.yaml
  ee/modules/040-terraform-manager/images/terraform-manager-vcd/werf.inc.yaml
  ee/se-plus/modules/040-terraform-manager/images/terraform-manager-vsphere/werf.inc.yaml
  ee/se-plus/modules/040-terraform-manager/images/terraform-manager-zvirt/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-aws/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-azure/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-gcp/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-yandex/werf.inc.yaml
Labels: area/cluster-and-infrastructure, skip/e2e

#13210 [docs] Fixes after review for the Update section in DKP
  docs/documentation/pages/admin/configuration/update/CHANGELOG.md
  docs/documentation/pages/admin/configuration/update/CHANGELOG_RU.md
  docs/documentation/pages/admin/configuration/update/CONTROL-PLANE-UPDATE.md
  docs/documentation/pages/admin/configuration/update/CONTROL-PLANE-UPDATE_RU.md
  docs/documentation/pages/admin/configuration/update/MODES.md
  docs/documentation/pages/admin/configuration/update/MODES_RU.md
  docs/documentation/pages/admin/configuration/update/README_RU.md
  docs/documentation/pages/admin/configuration/update/RELEASE-CHANNELS.md
  docs/documentation/pages/admin/configuration/update/RELEASE-CHANNELS_RU.md
  docs/documentation/pages/admin/configuration/update/UPDATE-WINDOWS.md
  docs/documentation/pages/admin/configuration/update/UPDATE-WINDOWS_RU.md
  docs/documentation/pages/admin/configuration/update/UPDATE.md
  docs/documentation/pages/admin/configuration/update/UPDATE_RU.md
  docs/documentation/pages/admin/configuration/update/VERSIONING.md
  docs/documentation/pages/admin/configuration/update/VERSIONING_RU.md
  docs/documentation/pages/architecture/UPDATING_RU.md
Labels: area/docs

#13072 [docs] Add support of `x-doc-d8Editions` array instead of `x-doc-d8Revision` field to JSON schema renderer
  candi/openapi/cluster_configuration.yaml
  docs/documentation/_data/i18n.yml
  docs/documentation/_data/modules/editions-weight.yml
  docs/documentation/_plugins/render-jsonschema.rb
  ee/modules/110-istio/crds/istiofederation.yaml
  ee/modules/110-istio/crds/istiomulticluster.yaml
  ee/se-plus/modules/021-cni-cilium/crds/egressgatewaypolicies.yaml
  ee/se-plus/modules/021-cni-cilium/crds/egressgateways.yaml
  ee/se/modules/380-metallb/crds/metalloadbalancerclasses.yaml
  ee/se/modules/380-metallb/docs/README_RU.md
  ee/se/modules/380-metallb/openapi/config-values.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/openapi/config-values.yaml
  modules/110-istio/openapi/config-values.yaml
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/140-user-authz/openapi/config-values.yaml
  modules/140-user-authz/openapi/doc-ru-config-values.yaml
Labels: area/auth, area/network, area/security, area/docs, area/cluster-and-infrastructure, skip/documentation-validation, area/api-change

#13338 Backport: [docs] Add support of `x-doc-d8Editions` array instead of `x-doc-d8Revision` field to JSON schema renderer
  candi/openapi/cluster_configuration.yaml
  docs/documentation/_data/i18n.yml
  docs/documentation/_data/modules/editions-weight.yml
  docs/documentation/_plugins/render-jsonschema.rb
  ee/modules/110-istio/crds/istiofederation.yaml
  ee/modules/110-istio/crds/istiomulticluster.yaml
  ee/se-plus/modules/021-cni-cilium/crds/egressgatewaypolicies.yaml
  ee/se-plus/modules/021-cni-cilium/crds/egressgateways.yaml
  ee/se/modules/380-metallb/crds/metalloadbalancerclasses.yaml
  ee/se/modules/380-metallb/docs/README_RU.md
  ee/se/modules/380-metallb/openapi/config-values.yaml
  modules/015-admission-policy-engine/crds/security-policy.yaml
  modules/015-admission-policy-engine/openapi/config-values.yaml
  modules/110-istio/openapi/config-values.yaml
  modules/140-user-authz/crds/clusterauthorizationrule.yaml
  modules/140-user-authz/openapi/config-values.yaml
  modules/140-user-authz/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#13331 [dhctl][testing] create resources before deckhouse manifest and mutating webhook for prom rules for e2e tests
  dhctl/pkg/kubernetes/actions/deckhouse/install.go
  dhctl/pkg/kubernetes/actions/deckhouse/install_test.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-deckhouse.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/bootstrap/steps.go
  dhctl/pkg/operations/bootstrap/steps_test.go
  testing/cloud_layouts/AWS/WithoutNAT/resources.yaml
Labels: area/testing, area/cli, skip/e2e, go

#12995 [log-shipper] Socket sink enable TLS if certificates provided
  modules/460-log-shipper/hooks/internal/vector/destination/socket.go
Labels: area/logs, go

#13222 [tools] Fix grafana_dashboard_test for deprecated components.
  tools/validation/grafana_dashboard_test.go
Labels: area/testing, go

#13347 Backport: Changelog v1.69.4
  CHANGELOG/CHANGELOG-v1.69.4.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: auto, backported

#13200 [docs] Deckhouse Module Tools user guide
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/module-development/RUN.md
  docs/documentation/pages/module-development/RUN_RU.md
Labels: area/docs, skip/documentation-validation

#13265 [docs] Fixed logo display for Reloader
  docs/site/images/logos/reloader.jpg
  modules/031-local-path-provisioner/oss.yaml
  modules/465-pod-reloader/oss.yaml
  modules/470-chrony/oss.yaml
Labels: area/docs, area/cluster-and-infrastructure, status/backport, area/storage

#13355 Backport: [docs] Fixed logo display for Reloader
  docs/site/images/logos/reloader.jpg
  modules/031-local-path-provisioner/oss.yaml
  modules/465-pod-reloader/oss.yaml
  modules/470-chrony/oss.yaml
Labels: auto, backported

#13356 Backport: [docs] Fixed logo display for Reloader
  docs/site/images/logos/reloader.jpg
  modules/031-local-path-provisioner/oss.yaml
  modules/465-pod-reloader/oss.yaml
  modules/470-chrony/oss.yaml
Labels: auto, backported

#13235 [control-plane-manager] Stale service account alert upd
  docs/documentation/_data/deckhouse-alerts.yml
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
Labels: area/docs, area/cluster-and-infrastructure, status/backport

#13360 [docs] Update notes about OpenStack disk types
  ee/modules/030-cloud-provider-openstack/docs/FAQ.md
  ee/modules/030-cloud-provider-openstack/docs/FAQ_RU.md
Labels: area/cloud-provider, area/docs, status/backport

#13362 Backport: [docs] Update notes about OpenStack disk types
  ee/modules/030-cloud-provider-openstack/docs/FAQ.md
  ee/modules/030-cloud-provider-openstack/docs/FAQ_RU.md
Labels: auto, backported

#13229 [istio] garbage collecting CRs when module is disabled
  modules/110-istio/hooks/purge_orphan_resources.go
  modules/110-istio/hooks/purge_orphan_resources_test.go
Labels: area/network, go, e2e/use/k8s/1.29

#13363 Backport: [docs] Update references to Deckhouse editions in the documentation
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
  docs/site/_includes/getting_started/kind/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/kind/STEP_INSTALL_SCHEMA_RU.md
  ee/se/modules/380-metallb/docs/README.md
  ee/se/modules/380-metallb/docs/README_RU.md
  modules/015-admission-policy-engine/docs/FAQ.md
  modules/015-admission-policy-engine/docs/FAQ_RU.md
  modules/021-cni-cilium/docs/EXAMPLES.md
  modules/021-cni-cilium/docs/EXAMPLES_RU.md
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
  modules/110-istio/docs/EXAMPLES.md
  modules/110-istio/docs/EXAMPLES_RU.md
  modules/110-istio/docs/README_RU.md
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
  modules/402-ingress-nginx/docs/EXAMPLES.md
  modules/402-ingress-nginx/docs/EXAMPLES_RU.md
Labels: auto, backported

#12282 [deckhouse] change the method of connecting deckhouse-controller to API-server
  modules/002-deckhouse/template_tests/module_test.go
  modules/002-deckhouse/templates/deployment.yaml
Labels: go

#13237 [cni-cilium] Fix the examples in the `Egressgateway` documentation.
  docs/site/pages/stronghold/documentation/admin/platform-management/network/EGRESS.md
  docs/site/pages/stronghold/documentation/admin/platform-management/network/EGRESS_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/network/EGRESS.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/network/EGRESS_RU.md
  modules/021-cni-cilium/docs/EXAMPLES.md
  modules/021-cni-cilium/docs/EXAMPLES_RU.md
Labels: area/network, area/docs, skip/documentation-validation

#13341 [ingress-nginx] Add a WAF description to the documentation.
  modules/402-ingress-nginx/docs/FAQ.md
  modules/402-ingress-nginx/docs/FAQ_RU.md
Labels: area/network, area/docs, skip/documentation-validation

#13372 [docs] update editions for the console module
  docs/documentation/_data/modules/modules-addition.json
  docs/site/backends/docs-builder-template/data/modules_all.json
Labels: status/backport

#13373 Backport: [docs] update editions for the console module
  docs/documentation/_data/modules/modules-addition.json
  docs/site/backends/docs-builder-template/data/modules_all.json
Labels: auto, backported

#13374 Backport: [docs] update editions for the console module
  docs/documentation/_data/modules/modules-addition.json
  docs/site/backends/docs-builder-template/data/modules_all.json
Labels: auto, backported

#13368 [docs][tools] Fix rendering of sourceFile value in deckhouse-alerts docs
  docs/documentation/_data/deckhouse-alerts.yml
  tools/helm_generate/runners/alert_templates/alert_templates.go
Labels: area/testing, area/docs, skip/e2e, go

#13375 Backport: [docs][tools] Fix rendering of sourceFile value in deckhouse-alerts docs
  docs/documentation/_data/deckhouse-alerts.yml
  tools/helm_generate/runners/alert_templates/alert_templates.go
Labels: auto, backported

#13369 [candi] add rosa 12.6
  candi/bashible/bashbooster/56_detect_bundle.sh
  candi/version_map.yml
Labels: area/kubernetes, area/cluster-and-infrastructure, status/backport

#13379 Backport: [candi] add rosa 12.6
  candi/bashible/bashbooster/56_detect_bundle.sh
  candi/version_map.yml
Labels: auto, backported

#13381 Fix/deny multiply kube update pr
  .github/workflow_templates/k8s-autoupdate.yml
  .github/workflows/k8s-autoupdate.yml
Labels: skip/e2e

#13378 [deckhouse-controller] fix module release force behaviour
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_release.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/apply-force-release.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/apply-force-release.yaml
Labels: area/core, status/backport, go

#13385 [deckhouse-controller] 1.68 fix module release force behaviour
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_release.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/apply-force-release.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/apply-force-release.yaml
Labels: type/bug, area/core, go

#13128 [deckhouse] add module version to module source
  deckhouse-controller/crds/doc-ru-module-source.yaml
  deckhouse-controller/crds/module-source.yaml
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_source.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/downloader.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/source/helpers.go
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/withmodulepullerror.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/withmodules.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/withmodulepullerror.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/withmodules.yaml
Labels: area/core, go, area/api-change

#12799 [istio] Realization of multicluster status monitoring
  .github/dependabot.yml
  docs/documentation/_data/deckhouse-alerts.yml
  docs/documentation/_plugins/custom_filters.rb
  ee/modules/110-istio/images/metrics-exporter/src/config.go
  ee/modules/110-istio/images/metrics-exporter/src/go.mod
  ee/modules/110-istio/images/metrics-exporter/src/go.sum
  ee/modules/110-istio/images/metrics-exporter/src/main.go
  ee/modules/110-istio/images/metrics-exporter/src/models.go
  ee/modules/110-istio/images/metrics-exporter/src/prometheus.go
  ee/modules/110-istio/images/metrics-exporter/src/watcher.go
  ee/modules/110-istio/images/metrics-exporter/werf.inc.yaml
  ee/modules/110-istio/monitoring/prometheus-rules/multicluster.yaml
  ee/modules/110-istio/templates/multicluster/metrics-exporter/deployment.yaml
  ee/modules/110-istio/templates/multicluster/metrics-exporter/pdb.yaml
  ee/modules/110-istio/templates/multicluster/metrics-exporter/pod-monitor.yaml
  ee/modules/110-istio/templates/multicluster/metrics-exporter/rbac-for-us.yaml
  ee/modules/110-istio/templates/multicluster/metrics-exporter/rbac-to-us.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  testing/library/images_tags_generated.go
Labels: area/network, area/testing, area/docs, area/cluster-and-infrastructure, type/dependencies, go, e2e/use/k8s/1.28

#13190 [deckhouse] bump golangci to new major version 2.0.*
  .github/ci_templates/tests.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  .golangci.yaml
  .werf/werf-golang-ci-lint.yaml
  Makefile
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
  deckhouse-controller/pkg/releaseupdater/deploy_time_checker.go
  dhctl/.golangci.yaml
  dhctl/Makefile
  dhctl/cmd/dhctl/commands/edit.go
  dhctl/cmd/dhctl/commands/session.go
  dhctl/cmd/dhctl/commands/terraform.go
  dhctl/pkg/app/server.go
  dhctl/pkg/app/ssh.go
  dhctl/pkg/config/base_test.go
  dhctl/pkg/config/meta_test.go
  dhctl/pkg/infrastructure/controller/cluster.go
  dhctl/pkg/infrastructureprovider/get_test.go
  dhctl/pkg/kubernetes/actions/deckhouse/module_config_test.go
  dhctl/pkg/kubernetes/actions/entity/node_user.go
  dhctl/pkg/kubernetes/actions/task.go
  dhctl/pkg/kubernetes/client/client.go
  dhctl/pkg/kubernetes/lease/lock.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-abort.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-base-infra.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper-deckhouse.go
  dhctl/pkg/operations/bootstrap/steps.go
  dhctl/pkg/operations/commander/attach/attacher.go
  dhctl/pkg/operations/commander/detach/detacher.go
  dhctl/pkg/operations/converge/context/client_switcher.go
  dhctl/pkg/operations/converge/controller/cloud_permanent_node_group_hook.go
  dhctl/pkg/operations/converge/converger.go
  dhctl/pkg/operations/destroy/deckhouse.go
  dhctl/pkg/operations/destroy/destroy.go
  dhctl/pkg/operations/secretedit_test.go
  dhctl/pkg/server/pkg/logger/writer_test.go
  dhctl/pkg/server/rpc/dhctl/converge.go
  dhctl/pkg/server/server/singlethreaded/server.go
  dhctl/pkg/system/node/ssh/checks_test.go
  dhctl/pkg/system/node/ssh/frontend/reverse-tunnel.go
  dhctl/pkg/util/input/yaml_test.go
  ee/se-plus/modules/021-cni-cilium/hooks/ee/egressgateways_discovery.go
  go_lib/dependency/cr/cr_test.go
  go_lib/dependency/helm/hash.go
  go_lib/hooks/update/window.go
  go_lib/hooks/update/window_test.go
  modules/040-node-manager/hooks/discover_standby_ng.go
  modules/040-node-manager/hooks/set_replicas_on_machine_deployment.go
  modules/040-node-manager/hooks/update_approval.go
  modules/150-user-authn/hooks/get_dex_user_crds.go
  modules/340-monitoring-kubernetes/hooks/storage_class_cloud_manual.go
  modules/500-openvpn/hooks/easyrsa_migration.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/node_by_sts.go
  modules/500-upmeter/hooks/smokemini/internal/scheduler/node_by_zone.go
Labels: area/monitoring, area/auth, area/security, area/cluster-and-infrastructure, area/cli, area/core, go

#13359 [monitoring-kubernetes] disable dns target down alert if module kube-dns is not used
  docs/documentation/_data/deckhouse-alerts.yml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/kube-dns.tpl
  tools/helm_generate/runners/alert_templates/template_values/340-monitoring-kubernetes.yaml
Labels: area/monitoring, area/testing, area/docs

#13388 Backport: fix: exclude virtualization from the validation of the admission policy engine
  modules/015-admission-policy-engine/templates/validatingwebhookconfiguration.yaml
Labels: auto, backported

#13391 [node-manager][autoscaler] Remove additional cordon node by mcm provider
  modules/040-node-manager/images/cluster-autoscaler/patches/1.30/004-delete-mcm-annotations-from-md.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.31/004-delete-mcm-annotations-from-md.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.32/004-delete-mcm-annotations-from-md.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/README.md
Labels: area/cluster-and-infrastructure, status/backport, e2e/use/k8s/1.32

#13392 Backport: [node-manager][autoscaler] Remove additional cordon node by mcm provider
  modules/040-node-manager/images/cluster-autoscaler/patches/1.30/004-delete-mcm-annotations-from-md.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.31/004-delete-mcm-annotations-from-md.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.32/004-delete-mcm-annotations-from-md.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/README.md
Labels: auto, backported

#13302 [docs] Added alert about latest version at Deckhouse CLI documentation
  docs/documentation/_includes/d8-cli-install/content.liquid
  docs/site/_includes/d8-cli-install/content.liquid
Labels: area/docs, skip/documentation-validation, status/backport

#13396 Backport: [docs] Added alert about latest version at Deckhouse CLI documentation
  docs/documentation/_includes/d8-cli-install/content.liquid
  docs/site/_includes/d8-cli-install/content.liquid
Labels: auto, backported

#13397 Backport: [docs] Added alert about latest version at Deckhouse CLI documentation
  docs/documentation/_includes/d8-cli-install/content.liquid
  docs/site/_includes/d8-cli-install/content.liquid
Labels: auto, backported

#13173 Feat/add e2e clean
  .github/ci_includes/actions_versions.yml
  .github/dependabot.yml
  .github/scripts/python/e2e-commander-clean/main.py
  .github/scripts/python/e2e-commander-clean/requirements.txt
  .github/workflow_templates/e2e-autoclean.yml
  .github/workflows/e2e-autoclean.yml
Labels: skip/e2e, python

#13211 Scheduled CVE scan for releases
  .github/ci_templates/cve_tests.yaml
  .github/scripts/cve_scan.sh
  .github/scripts/python/defectdojo_dev_tests_rotator.py
  .github/workflow_templates/cve-pr.yml
  .github/workflow_templates/cve-weekly.yml
  .github/workflows/cve-pr.yml
  .github/workflows/cve-weekly.yml
  Makefile
  tools/cve/d8-images.sh
  tools/cve/d8_images_cve_scan.sh
  tools/cve/trivy-wrapper.sh
Labels: area/testing, skip/e2e, python, security/cve

#13400 [docs] Refined node preparation when adding nodes
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/NODES.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/NODES_RU.md
Labels: area/docs

#13189 [cloud-provider-yandex] fix converge on WithNATInstance clusters
  candi/cloud-providers/yandex/terraform-modules/vpc-components/nat_instance.tf
Labels: area/cloud-provider, area/cluster-and-infrastructure

#12996 [candi] lock the node name during node bootstrap
  candi/bashible/bashbooster/60_deckhouse.sh
  candi/bashible/bashbooster/62_node_name.sh.tpl
  candi/bashible/bashible.sh.tpl
  candi/bashible/bb_node_name.sh.tpl
  candi/bashible/bootstrap/03-prepare-bashible.sh.tpl
  candi/bashible/common-steps/all/000_add_node_users.sh.tpl
  candi/bashible/common-steps/all/001_configure_kubernetes_api_proxy.sh.tpl
  candi/bashible/common-steps/all/001_waiting_approval_annotations.sh.tpl
  candi/bashible/common-steps/all/003_set_short_hostname.sh.tpl
  candi/bashible/common-steps/all/004_check_hostname.sh.tpl
  candi/bashible/common-steps/all/068_configure_kubelet_systemd_unit.sh.tpl
  candi/bashible/common-steps/all/091_set_virtualization_type.sh.tpl
  candi/bashible/common-steps/all/092_set_cgroup_type.sh.tpl
  candi/bashible/common-steps/all/098_update_node_annotations.sh.tpl
  candi/bashible/common-steps/all/098_update_node_labels.sh.tpl
  candi/bashible/common-steps/all/099_reboot.sh.tpl
  candi/bashible/common-steps/cluster-bootstrap/050_reset_control_plane_on_configuration_change.sh.tpl
  dhctl/pkg/template/bashbooster_test.go
  modules/040-node-manager/images/bashible-apiserver/werf.inc.yaml
Labels: area/cluster-and-infrastructure, area/cli, go

#13408 Backport: [cloud-provider-yandex] fix converge on WithNATInstance clusters
  candi/cloud-providers/yandex/terraform-modules/vpc-components/nat_instance.tf
Labels: auto, backported

#13409 [ceph-csi] Add alert about future remove
  docs/documentation/_data/deckhouse-alerts.yml
  modules/031-ceph-csi/monitoring/prometheus-rules/deprecated-module-alert.yaml
Labels: area/docs, area/storage

#13410 Backport: [ceph-csi] Add alert about future remove
  docs/documentation/_data/deckhouse-alerts.yml
  modules/031-ceph-csi/monitoring/prometheus-rules/deprecated-module-alert.yaml
Labels: auto, backported

#13307 [registry-packages-proxy] Registry packages proxy CVE vulnerabilities fixes
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/go.mod
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/go.sum
  modules/039-registry-packages-proxy/images/registry-packages-proxy/werf.inc.yaml
Labels: type/dependencies, security/cve

#13413 Backport: [docs] Update alert descriptions
  docs/documentation/_data/deckhouse-alerts.yml
  ee/modules/650-runtime-audit-engine/monitoring/prometheus-rules/runtime-audit-engine.yaml
  modules/040-node-manager/monitoring/prometheus-rules/caps-nodes.tpl
  modules/040-node-manager/monitoring/prometheus-rules/cloud-data-discovery.tpl
  modules/040-node-manager/monitoring/prometheus-rules/cluster-autoscaler.tpl
  modules/040-node-manager/monitoring/prometheus-rules/early-oom.tpl
  modules/040-node-manager/monitoring/prometheus-rules/machine-controller-manager.tpl
  modules/040-node-manager/monitoring/prometheus-rules/node-group-deprecate.yaml
  modules/040-node-manager/monitoring/prometheus-rules/node-group.tpl
  modules/040-node-manager/monitoring/prometheus-rules/node-unmanaged.tpl
  modules/040-node-manager/monitoring/prometheus-rules/node-update.yaml
  modules/040-node-manager/monitoring/prometheus-rules/standby-deployment-unavailable.yaml
  modules/040-terraform-manager/monitoring/prometheus-rules/terraform-manager/terraform-state-exporter.tpl
  modules/045-snapshot-controller/monitoring/prometheus-rules/snapshot-controller.yaml
  modules/045-snapshot-controller/monitoring/prometheus-rules/snapshot-validation-webhook.yaml
  modules/200-operator-prometheus/monitoring/prometheus-rules/operator.yaml
  modules/300-prometheus/monitoring/prometheus-rules/base.tpl
  modules/300-prometheus/monitoring/prometheus-rules/deprecation.yaml
  modules/300-prometheus/monitoring/prometheus-rules/emptydir.yaml
  modules/300-prometheus/monitoring/prometheus-rules/grafana.yaml
  modules/300-prometheus/monitoring/prometheus-rules/longterm-target-down.yaml
  modules/300-prometheus/monitoring/prometheus-rules/nodes.yaml
  modules/300-prometheus/monitoring/prometheus-rules/prometheus-storage.yaml
  modules/300-prometheus/monitoring/prometheus-rules/target-down.yaml
  modules/500-okmeter/monitoring/prometheus-rules/alerting.yaml
  modules/500-upmeter/monitoring/prometheus-rules/alerting.yaml
  modules/600-secret-copier/monitoring/prometheus-rules/deprecated-label.yaml
Labels: auto, backported

#13415 Backport: Changelog v1.69.5
  CHANGELOG/CHANGELOG-v1.69.5.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: auto, backported

#13344 [cilium] fixed race condition when deleting element from map
  modules/021-cni-cilium/images/bin-cilium/patches/006-add-pod-prioroty-managment.patch
Labels: area/network

#13350 [cloud-provider-aws] Fix ListRoutes implementation in CCM
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.28/005-fix-list-routes-method.patch
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.28/README.md
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.29/005-fix-list-routes-method.patch
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.29/README.md
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.30/005-fix-list-routes-method.patch
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.30/README.md
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.31/005-fix-list-routes-method.patch
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.31/README.md
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.32/005-fix-list-routes-method.patch
  modules/030-cloud-provider-aws/images/cloud-controller-manager/patches/1.32/README.md
Labels: area/cloud-provider

#13401 [dhctl] Fix panic in check operations
  .werf/defines/infrastructure-manager.tmpl
  dhctl/pkg/operations/check/check.go
  ee/modules/040-terraform-manager/images/terraform-manager-dynamix/werf.inc.yaml
  ee/modules/040-terraform-manager/images/terraform-manager-huaweicloud/werf.inc.yaml
  ee/modules/040-terraform-manager/images/terraform-manager-openstack/werf.inc.yaml
  ee/modules/040-terraform-manager/images/terraform-manager-vcd/werf.inc.yaml
  ee/se-plus/modules/040-terraform-manager/images/terraform-manager-vsphere/werf.inc.yaml
  ee/se-plus/modules/040-terraform-manager/images/terraform-manager-zvirt/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-aws/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-azure/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-gcp/werf.inc.yaml
  modules/040-terraform-manager/images/terraform-manager-yandex/werf.inc.yaml
Labels: area/cluster-and-infrastructure, area/cli, skip/e2e, go

#13419 [docs] Update version for ClusterLoggingConfig in examples
  docs/documentation/pages/security/KUMA.md
  docs/documentation/pages/security/KUMA_RU.md
  ee/modules/650-runtime-audit-engine/docs/FAQ.md
  ee/modules/650-runtime-audit-engine/docs/FAQ_RU.md
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
  modules/462-loki/docs/EXAMPLES.md
  modules/462-loki/docs/EXAMPLES_RU.md
Labels: area/security, area/docs, status/backport, area/logs

#13420 Backport: [docs] Update version for ClusterLoggingConfig in examples
  docs/documentation/pages/security/KUMA.md
  docs/documentation/pages/security/KUMA_RU.md
  ee/modules/650-runtime-audit-engine/docs/FAQ.md
  ee/modules/650-runtime-audit-engine/docs/FAQ_RU.md
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
  modules/462-loki/docs/EXAMPLES.md
  modules/462-loki/docs/EXAMPLES_RU.md
Labels: auto, backported

#13421 Backport: [docs] Update version for ClusterLoggingConfig
  docs/documentation/pages/security/KUMA.md
  docs/documentation/pages/security/KUMA_RU.md
  ee/modules/650-runtime-audit-engine/docs/FAQ.md
  ee/modules/650-runtime-audit-engine/docs/FAQ_RU.md
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
  modules/462-loki/docs/EXAMPLES.md
  modules/462-loki/docs/EXAMPLES_RU.md
Labels: auto, backported

#12920 [ingress-nginx] controller log verbosity parameter
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/hooks/get_ingress_controllers.go
  modules/402-ingress-nginx/hooks/get_ingress_controllers_test.go
  modules/402-ingress-nginx/openapi/values.yaml
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: area/network, e2e/cluster/failed, go, area/api-change, e2e/use/k8s/1.30

#12649 [istio] Collecting debugging resources in collect-debug-info
  deckhouse-controller/pkg/debug/debug.go
Labels: area/core, go, e2e/use/k8s/1.29

#13422 [docs] Fix broken links in the Storage overview.
  docs/documentation/pages/storage/README.md
Labels: area/docs, status/backport

#13427 Backport: [docs] Fix broken links in the Storage overview.
  docs/documentation/pages/storage/README.md
Labels: auto, backported

#13428 Backport: [docs] Fix broken links in the Storage overview.
  docs/documentation/pages/storage/README.md
Labels: auto, backported

#13384 [docs] Adjust the metric
  docs/site/_config.yml
  docs/site/_includes/counters-and-chat.liquid
Labels: area/docs

#12971 [egress-gateway] Added hook for clearing EG service labels
  ee/se-plus/modules/021-cni-cilium/hooks/ee/egressgateway_stale_node_label_cleaner.go
  ee/se-plus/modules/021-cni-cilium/hooks/ee/egressgateway_stale_node_label_cleaner_test.go
Labels: e2e/cluster/failed, go, e2e/use/k8s/1.30

#13061 [openvpn] Added e2e test
  modules/500-openvpn/templates/openvpn/configmap.yaml
  testing/cloud_layouts/AWS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/Azure/Standard/configuration.tpl.yaml
  testing/cloud_layouts/EKS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/GCP/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/OpenStack/Standard/configuration.tpl.yaml
  testing/cloud_layouts/Static/configuration.tpl.yaml
  testing/cloud_layouts/VCD/Standard/configuration.tpl.yaml
  testing/cloud_layouts/script.d/wait_cluster_ready/test_openvpn_ready.sh
  testing/cloud_layouts/script.sh
  testing/cloud_layouts/vSphere/Standard/configuration.tpl.yaml
Labels: area/security, area/testing, e2e/cluster/failed, e2e/use/k8s/1.30

#13199 Changelog v1.68.14
  CHANGELOG/CHANGELOG-v1.68.14.yml
Labels: changelog, auto, status/backport

#13430 Backport: Changelog v1.68.14
  CHANGELOG/CHANGELOG-v1.68.14.yml
Labels: auto, backported

#13431 Changelog v1.68.14
  CHANGELOG/CHANGELOG-v1.68.md
Labels: changelog, auto, status/backport

#13432 Backport: Changelog v1.68.14
  CHANGELOG/CHANGELOG-v1.68.md
Labels: auto, backported

#13313 Docs/new structure integrations private vk
  docs/documentation/_data/admin/cloud-types.yml
  docs/documentation/_data/sidebars/kubernetes-platform.yml
  docs/documentation/_includes/admin/integrations/openstack-based-configuration.md
  docs/documentation/_includes/admin/integrations/openstack-based-connection.md
  docs/documentation/_includes/admin/integrations/openstack-based-overview.md
  docs/documentation/pages/admin/configuration/integrations/private/OVERVIEW.md
  docs/documentation/pages/admin/configuration/integrations/private/OVERVIEW_RU.md
  docs/documentation/pages/admin/configuration/integrations/private/openstack/CONFIGURATION_AND_LAYOUT.md
  docs/documentation/pages/admin/configuration/integrations/private/openstack/CONFIGURATION_AND_LAYOUT_RU.md
  docs/documentation/pages/admin/configuration/integrations/private/openstack/CONNECTION.md
  docs/documentation/pages/admin/configuration/integrations/private/openstack/CONNECTION_RU.md
  docs/documentation/pages/admin/configuration/integrations/private/openstack/OVERVIEW.md
  docs/documentation/pages/admin/configuration/integrations/private/openstack/OVERVIEW_RU.md
  docs/documentation/pages/admin/configuration/integrations/private/vk/CONFIGURATION_AND_LAYOUT.md
  docs/documentation/pages/admin/configuration/integrations/private/vk/CONFIGURATION_AND_LAYOUT_RU.md
  docs/documentation/pages/admin/configuration/integrations/private/vk/CONNECTION.md
  docs/documentation/pages/admin/configuration/integrations/private/vk/CONNECTION_RU.md
  docs/documentation/pages/admin/configuration/integrations/private/vk/OVERVIEW.md
  docs/documentation/pages/admin/configuration/integrations/private/vk/OVERVIEW_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/openstack/CONFIGURATION_AND_LAYOUT.md
  docs/documentation/pages/admin/configuration/integrations/public/openstack/CONFIGURATION_AND_LAYOUT_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/openstack/CONNECTION.md
  docs/documentation/pages/admin/configuration/integrations/public/openstack/CONNECTION_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/openstack/OVERVIEW.md
  docs/documentation/pages/admin/configuration/integrations/public/openstack/OVERVIEW_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/ovh/CONFIGURATION_AND_LAYOUT.md
  docs/documentation/pages/admin/configuration/integrations/public/ovh/CONFIGURATION_AND_LAYOUT_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/ovh/CONNECTION.md
  docs/documentation/pages/admin/configuration/integrations/public/ovh/CONNECTION_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/ovh/OVERVIEW.md
  docs/documentation/pages/admin/configuration/integrations/public/ovh/OVERVIEW_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/selectel/CONFIGURATION_AND_LAYOUT.md
  docs/documentation/pages/admin/configuration/integrations/public/selectel/CONFIGURATION_AND_LAYOUT_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/selectel/CONNECTION.md
  docs/documentation/pages/admin/configuration/integrations/public/selectel/CONNECTION_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/selectel/OVERVIEW.md
  docs/documentation/pages/admin/configuration/integrations/public/selectel/OVERVIEW_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/vk/CONFIGURATION_AND_LAYOUT.md
  docs/documentation/pages/admin/configuration/integrations/public/vk/CONFIGURATION_AND_LAYOUT_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/vk/CONNECTION.md
  docs/documentation/pages/admin/configuration/integrations/public/vk/CONNECTION_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/vk/OVERVIEW.md
  docs/documentation/pages/admin/configuration/integrations/public/vk/OVERVIEW_RU.md
Labels: area/docs

#13272 feat: e2e aws
  .github/ci_templates/e2e_tests.yml
  .github/workflow_templates/e2e-daily.yml
  .github/workflow_templates/e2e.abort.multi.yml
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-abort-aws.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-daily.yml
  testing/cloud_layouts/AWS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/AWS/WithoutNAT/resources.yaml
  testing/cloud_layouts/script-commander.sh
Labels: area/testing, skip/e2e

#13113 [deckhouse] module stage column
  deckhouse-controller/crds/module.yaml
Labels: area/core, skip/documentation-validation, area/api-change

#13395 [docs] add a waf description to the documentation
  modules/402-ingress-nginx/docs/FAQ.md
  modules/402-ingress-nginx/docs/FAQ_RU.md
Labels: area/network, area/docs, skip/documentation-validation, status/backport

#13399 [docs ] New docs integrations — Amazon cloud
  docs/documentation/_data/sidebars/kubernetes-platform.yml
  docs/documentation/pages/admin/configuration/integrations/public/amazon/CONFIGURATION_AND_LAYOUT_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/amazon/CONNECTION_AND_AUTHORIZATION_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/amazon/INTEGRATION_WITH_SERVICES_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/amazon/OVERVIEW_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/amazon/STORAGE_BALANSING_AND_FEATURES_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/yandex/CONFIGURATION_AND_LAYOUT_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/yandex/OVERVIEW_RU.md
  docs/documentation/pages/admin/configuration/integrations/public/yandex/STORAGE_BALANSING_AND_FEATURES_RU.md
Labels: area/docs, skip/documentation-validation

#13416 [node-manager] Revert cluster autoscaler
  candi/version_map.yml
  modules/040-node-manager/images/cluster-autoscaler/patches/1.28/001-go-mod.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.29/001-go-mod.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.30/001-go-mod.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.30/004-delete-mcm-annotations-from-md.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.31/001-go-mod.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.31/002-kruise-ads.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.31/004-delete-mcm-annotations-from-md.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.32/001-go-mod.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.32/002-kruise-ads.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.32/004-delete-mcm-annotations-from-md.patch
  modules/040-node-manager/images/cluster-autoscaler/werf.inc.yaml
Labels: area/kubernetes, area/cluster-and-infrastructure

#13423 [dhctl] force drain master nodes
  dhctl/pkg/operations/converge/controller/cloud_permanent_node_group_hook.go
  dhctl/pkg/operations/converge/infrastructure/hook/controlplane/hook_for_destroy_pipeline.go
  dhctl/pkg/operations/converge/infrastructure/utils/drain.go
Labels: area/cli, go

#13405 [candi] fix step for discovering kubernetes-device in gcp
  candi/cloud-providers/gcp/bashible/common-steps/all/000_discover_kubernetes_data_device_path.sh.tpl
  testing/cloud_layouts/GCP/WithoutNAT/configuration.tpl.yaml
Labels: area/cloud-provider, area/testing, area/cluster-and-infrastructure

#13402 [candi] Replacing Terraform with OpenTofu for Dynamix
  candi/terraform_versions.yml
  dhctl/pkg/infrastructureprovider/get_test.go
  ee/candi/cloud-providers/dynamix/terraform-modules/master-node/variables.tf
  ee/candi/cloud-providers/dynamix/terraform-modules/static-node/variables.tf
  go_lib/cloud-data/apis/v1/dynamix_cloud_provider_discovery_data.go
Labels: area/cloud-provider, area/cluster-and-infrastructure, area/cli, area/core, skip/e2e, go

#13437 [testing] Fix openstack e2e tests with cloud permanent ng
  ee/candi/cloud-providers/openstack/terraform-modules/static-node/main.tf
  ee/modules/040-terraform-manager/images/terraform-manager-openstack/patches/003-empty-metadata-fix.patch
  ee/modules/040-terraform-manager/images/terraform-manager-openstack/patches/README.md
  testing/cloud_layouts/OpenStack/Standard/configuration.tpl.yaml
Labels: area/cloud-provider, area/testing, area/cluster-and-infrastructure

#13386 [candi] add support opentofu to the zvirt
  candi/terraform_versions.yml
  dhctl/pkg/infrastructureprovider/get_test.go
  go_lib/cloud-data/apis/v1/zvirt_cloud_provider_discovery_data.go
Labels: area/cluster-and-infrastructure, area/cli, area/core, skip/e2e, go

#13317 [chronyExporter] Chrony exporter CVE vulnerabilities fixes
  modules/470-chrony/images/chrony-exporter/patches/001-go-mod.patch
  modules/470-chrony/images/chrony-exporter/werf.inc.yaml
Labels: area/cluster-and-infrastructure, security/cve

#13308 [dhctl] Dhctl CVE vulnerabilities fixes
  dhctl/go.mod
  dhctl/go.sum
Labels: type/dependencies, area/cli, security/cve

#13406 [egress-gateway-agent] fix cve
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/go.mod
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/src/go.sum
  ee/se-plus/modules/021-cni-cilium/images/egress-gateway-agent/werf.inc.yaml
Labels: type/dependencies, e2e/use/k8s/1.28, e2e/use/k8s/1.30

#12814 [dhctl] Skip PV's provided manually or with reclaimPolicy other than delete.
  dhctl/pkg/kubernetes/actions/deckhouse/delete.go
  dhctl/pkg/operations/destroy/deckhouse.go
Labels: area/cli, go

#13393 [testing] Improve autoscaler e2e tests
  testing/cloud_layouts/script.d/wait_cluster_ready/test_autoscaler.sh
Labels: area/testing

#12519 [dhctl] preflight check docs upd
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
  tools/docs/spelling/dictionaries/dev_OPS.dic
Labels: area/testing, area/docs

#13306 [descheduler] Descheduler CVE vulnerabilities fixes
  modules/400-descheduler/images/descheduler/patches/001-go-mod.patch
  modules/400-descheduler/images/descheduler/werf.inc.yaml
Labels: area/scaling, e2e/use/k8s/1.28, e2e/use/k8s/1.29, e2e/use/k8s/1.30, e2e/use/k8s/1.31, e2e/use/k8s/1.32, security/cve

#12887 [cni-cilium] fixed the module build
  modules/021-cni-cilium/images/bin-cilium-envoy/werf.inc.yaml
Labels: area/network

#13352 [metallb] Fix IP pool exhaustion on SDNInternalL2LBService deletion
  ee/se/modules/380-metallb/images/l2lb/patches/002-l2lb-service-custom-resource.patch
Labels: status/backport, skip/e2e

#13443 [docs][new structure] Translate Update sections
  docs/documentation/pages/admin/configuration/update/ALERTS.md
  docs/documentation/pages/admin/configuration/update/ALERTS_RU.md
  docs/documentation/pages/admin/configuration/update/FAQ.md
  docs/documentation/pages/admin/configuration/update/FAQ_RU.md
  docs/documentation/pages/admin/configuration/update/README.md
  docs/documentation/pages/admin/configuration/update/README_RU.md
  docs/documentation/pages/admin/configuration/update/UPDATE-CONFIGURATION.md
  docs/documentation/pages/admin/configuration/update/UPDATE-CONFIGURATION_RU.md
  docs/documentation/pages/architecture/UPDATING.md
  docs/documentation/pages/architecture/UPDATING_RU.md
Labels: area/docs, skip/documentation-validation

#13440 fix: report on e2e autoclean
  .github/workflow_templates/e2e-autoclean.yml
  .github/workflows/e2e-autoclean.yml
Labels: skip/e2e

#13447 [descheduler] Descheduler hotfix go mod tidy
  modules/400-descheduler/images/descheduler/patches/001-go-mod.patch
Labels: area/scaling

#12705 [ingress-nginx] Add HSTS headers to d8 Ingresses
  Makefile
  ee/modules/110-istio/templates/alliance/metadata-exporter/ingress.yaml
  ee/modules/110-istio/templates/multicluster/api-proxy/ingress.yaml
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/README.md
  helm_lib/charts/deckhouse_lib_helm/templates/_module_ingress_snippets.tpl
  modules/110-istio/templates/kiali/ingress.yaml
  modules/150-user-authn/templates/basic-auth-proxy/ingress.yaml
  modules/150-user-authn/templates/dex-authenticator/ingress.yaml
  modules/150-user-authn/templates/dex/ingress.yaml
  modules/150-user-authn/templates/kubeconfig-generator/ingress.yaml
  modules/300-prometheus/templates/alertmanager/internal/ingress.yaml
  modules/300-prometheus/templates/grafana/ingress-grafana-redirect.yaml
  modules/300-prometheus/templates/grafana/ingress-v10.yaml
  modules/300-prometheus/templates/prometheus/ingress.yaml
  modules/300-prometheus/templates/prometheus/longterm/ingress.yaml
  modules/300-prometheus/templates/trickster/ingress.yaml
  modules/500-cilium-hubble/templates/ui/ingress.yaml
  modules/500-dashboard/templates/ingress.yaml
  modules/500-openvpn/templates/openvpn/ingress.yaml
  modules/500-upmeter/templates/status/ingress.yaml
  modules/500-upmeter/templates/webui/ingress.yaml
  modules/800-deckhouse-tools/.dmtlint.yaml
  modules/800-deckhouse-tools/templates/ingress.yaml
  modules/810-documentation/templates/ingress.yaml
Labels: area/monitoring, area/auth, area/network, area/security, area/docs, area/core, area/ui, e2e/use/k8s/1.28, e2e/use/k8s/1.30

#13426 [candi] bootstrap 401 retry
  modules/040-node-manager/templates/node-group/_bootstrap.tpl
Labels: area/cluster-and-infrastructure

#13293 [cni-cilium] cilium egress gateway node maintenance instruction
  modules/021-cni-cilium/docs/EXAMPLES.md
  modules/021-cni-cilium/docs/EXAMPLES_RU.md
Labels: area/network, area/docs, skip/documentation-validation

#13457 Backport: [cilium] fixed race condition when deleting element from map
  modules/021-cni-cilium/images/bin-cilium/patches/006-add-pod-prioroty-managment.patch
Labels: auto, backported

#13444 Backport: [metallb] Fix IP pool exhaustion on SDNInternalL2LBService deletion
  ee/se/modules/380-metallb/images/l2lb/patches/002-l2lb-service-custom-resource.patch
Labels: auto, backported

#13417 Changelog v1.69.6
  CHANGELOG/CHANGELOG-v1.69.6.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: changelog, auto, status/backport

#13463 Backport: Changelog v1.69.6
  CHANGELOG/CHANGELOG-v1.69.6.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: auto, backported

#13319 [vpa] VPA CVE vulnerabilities fixes
  modules/302-vertical-pod-autoscaler/images/vertical-pod-autoscaler/patches/001-go-mod.patch
  modules/302-vertical-pod-autoscaler/images/vertical-pod-autoscaler/werf.inc.yaml
Labels: area/scaling, e2e/use/k8s/1.28, security/cve

#13465 [docs] Update new structure about PR 13109 and 13293
  docs/documentation/pages/admin/configuration/app-scaling/VPA.md
  docs/documentation/pages/admin/configuration/app-scaling/VPA_RU.md
  docs/documentation/pages/admin/configuration/network/ALB_ISTIO.md
  docs/documentation/pages/admin/configuration/network/ALB_ISTIO_RU.md
  docs/documentation/pages/admin/configuration/network/EGRESS.md
  docs/documentation/pages/admin/configuration/network/EGRESS_RU.md
Labels: area/docs

#13464 Fix trivy registry login on DBs update and fix DD tests rotator
  .github/scripts/cve_scan.sh
  .github/scripts/python/defectdojo_dev_tests_rotator.py
Labels: skip/e2e, python, security/cve

#13339 [cloud-provider-*][csi-controllers] Increase leader election timeouts
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/templates/_csi_controller.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_csi_node.tpl
Labels: area/core

#12541 [deckhouse] add telemetry
  deckhouse-controller/cmd/deckhouse-controller/start.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/downloader.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/downloader_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/moduleloader/sync.go
  deckhouse-controller/pkg/releaseupdater/requirements_checker.go
  deckhouse-controller/pkg/releaseupdater/task_calculator.go
  go.mod
  go.sum
  go_lib/dependency/cr/cr.go
  modules/002-deckhouse/templates/deployment.yaml
Labels: type/dependencies, area/core, go

#13446 [docs] Edit description for the ceph-csi alert
  docs/documentation/_data/deckhouse-alerts.yml
  modules/031-ceph-csi/monitoring/prometheus-rules/deprecated-module-alert.yaml
Labels: area/docs, area/storage

#13477 Backport: [docs] Fixed module lifecycle stages documentation
  docs/documentation/pages/module-development/STRUCTURE.md
  docs/documentation/pages/module-development/STRUCTURE_RU.md
Labels: auto, backported

#13479 Backport: [docs] Add information about default IngressClass
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#13482 feat: change azure e2e engine
  .github/ci_templates/e2e_tests.yml
  .github/workflows/e2e-abort-azure.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  testing/cloud_layouts/Azure/Standard/configuration.tpl.yaml
  testing/cloud_layouts/Azure/Standard/resources.yaml
  testing/cloud_layouts/script-commander.sh
Labels: area/testing, skip/e2e

#13492 [docs] Fixed new layouts at documentation
  docs/documentation/images/cloud-provider-dynamix/dynamix-standard.png
  docs/documentation/images/cloud-provider-openstack/openstack-standard.png
  docs/documentation/images/cloud-provider-vcd/vcd-standard.png
  docs/documentation/images/cloud-provider-vsphere/vsphere-standard.png
  docs/documentation/images/cloud-provider-zvirt/zvirt-standard.png
  docs/site/images/gs/cloud-provider-openstack/openstack-standard.png
Labels: area/docs, skip/documentation-validation, status/backport

#13493 Backport: [docs] Fixed new layouts at documentation
  docs/documentation/images/cloud-provider-dynamix/dynamix-standard.png
  docs/documentation/images/cloud-provider-openstack/openstack-standard.png
  docs/documentation/images/cloud-provider-vcd/vcd-standard.png
  docs/documentation/images/cloud-provider-vsphere/vsphere-standard.png
  docs/documentation/images/cloud-provider-zvirt/zvirt-standard.png
  docs/site/images/gs/cloud-provider-openstack/openstack-standard.png
Labels: auto, backported

#13487 [kube-dns] The d8-kube-dns-redirect service has been restored
  modules/042-kube-dns/templates/service.yaml
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.30

#13494 [docs] Fixed installations manifests at Deckhouse Code documentation
  docs/site/pages/code/documentation/admin/install/PLATFORM_INSTALLATION_RU.md
Labels: area/docs, skip/documentation-validation

#13476 [docs] Update schema definitions for DVP cloud provider
  candi/cloud-providers/dvp/openapi/cluster_configuration.yaml
  candi/cloud-providers/dvp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/dvp/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/dvp/openapi/instance_class.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, status/backport, area/api-change

#13499 [deckhouse-controller]: fix remote module enable
  deckhouse-controller/pkg/apis/deckhouse.io/validation/validate_module_config.go
Labels: area/core, go

#13213 [kube-dns] Update CoreDNS dashboards
  ee/be/modules/350-node-local-dns/monitoring/grafana-dashboards/kubernetes-cluster/dns-node-local.json
  modules/042-kube-dns/monitoring/grafana-dashboards/kubernetes-cluster/dns/dns-coredns.json
Labels: area/cluster-and-infrastructure

#13305 [node-manager] Change mcm version to use node manager token instead mcm
  modules/040-node-manager/images/machine-controller-manager/werf.inc.yaml
Labels: area/cluster-and-infrastructure

#13318 [falco] Falcoctl CVE vulnerabilities fixes
  ee/modules/650-runtime-audit-engine/images/falco/patches/falcoctl/001-go-mod.patch
  ee/modules/650-runtime-audit-engine/images/falco/werf.inc.yaml
Labels: area/security, security/cve

#13500 [node-manager][autoscaler] Patch autoscaler 1.30-1.32 to support our MCM
  modules/040-node-manager/images/cluster-autoscaler/patches/1.30/004-set-priorities-for-to-de-deleted-machines-and-clean-annotation.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.30/README.md
  modules/040-node-manager/images/cluster-autoscaler/patches/1.31/004-set-priorities-for-to-de-deleted-machines-and-clean-annotation.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.31/README.md
  modules/040-node-manager/images/cluster-autoscaler/patches/1.32/004-set-priorities-for-to-de-deleted-machines-and-clean-annotation.patch
  modules/040-node-manager/images/cluster-autoscaler/patches/1.32/README.md
  modules/040-node-manager/images/cluster-autoscaler/patches/README.md
  testing/cloud_layouts/script.d/wait_cluster_ready/test_autoscaler.sh
Labels: area/testing, area/cluster-and-infrastructure, e2e/use/k8s/1.30, e2e/use/k8s/1.31, e2e/use/k8s/1.32

#13509 [testing] Change comment var name
  testing/cloud_layouts/script-commander.sh
Labels: skip/e2e

#13484 [ci] Fix DCO on K8s autoupdates
  .github/workflow_templates/k8s-autoupdate.yml
  .github/workflows/k8s-autoupdate.yml
Labels: skip/e2e

#13490 Changelog v1.69.7
  CHANGELOG/CHANGELOG-v1.69.7.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: changelog, auto, status/backport

#13512 Backport: Changelog v1.69.7
  CHANGELOG/CHANGELOG-v1.69.7.yml
  CHANGELOG/CHANGELOG-v1.69.md
Labels: auto, backported

#12938 [dhctl] added revision check before installation
  .werf/defines/dev-prebuild.tmpl
  .werf/defines/installer.tmpl
  .werf/werf-dev-install-standalone.yaml
  .werf/werf-dev-install.yaml
  dhctl/go.mod
  dhctl/go.sum
  dhctl/pkg/app/app.go
  dhctl/pkg/app/preflight.go
  dhctl/pkg/preflight/dhctl_edition.go
  dhctl/pkg/preflight/dhctl_edition_mocks_test.go
  dhctl/pkg/preflight/dhctl_edition_test.go
  dhctl/pkg/preflight/dhctl_obsolescence.go
  dhctl/pkg/preflight/dhctl_obsolescence_test.go
  dhctl/pkg/preflight/preflight.go
  dhctl/pkg/preflight/registry_test.go
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
  werf.yaml
Labels: area/testing, type/dependencies, area/cli, area/core, go

#13454 [dhctl] Do not create a local-converger lock for commanderMode
  dhctl/pkg/kubernetes/actions/converge/master_node_group_controller.go
Labels: area/cli, go

#13468 [node-manager][docs] Clarify no auto-drain in Manual disruption approvalMode
  modules/040-node-manager/crds/doc-ru-node_group.yaml
  modules/040-node-manager/crds/node_group.yaml
Labels: area/cluster-and-infrastructure, skip/e2e, area/api-change

#13337 [operator-trivy] proxy env for updater
  ee/modules/500-operator-trivy/images/report-updater/src/cmd/main.go
  ee/modules/500-operator-trivy/images/report-updater/src/internal/cache/cache.go
  ee/modules/500-operator-trivy/images/report-updater/src/internal/web/hook/hook.go
  ee/modules/500-operator-trivy/images/report-updater/src/internal/web/server.go
  ee/modules/500-operator-trivy/images/report-updater/werf.inc.yaml
  ee/modules/500-operator-trivy/templates/deployment.yaml
  ee/modules/500-operator-trivy/templates/report-updater/deployment.yaml
Labels: area/security, go

#12901 [deckhouse] Update dh tolerations
  modules/002-deckhouse/template_tests/module_test.go
  modules/002-deckhouse/templates/deployment.yaml
Labels: go

#13418 [docs] Fix the table header and tooltips
  docs/documentation/_data/modules/modules-addition.json
  docs/site/_assets/css/components/_table-supported.scss
  docs/site/_assets/css/docs.scss
  docs/site/_assets/js/table-sticky.js
  docs/site/_includes/head-site.html
Labels: area/docs, status/backport

#13523 Backport: [docs] Fix the table header and tooltips
  docs/documentation/_data/modules/modules-addition.json
  docs/site/_assets/css/components/_table-supported.scss
  docs/site/_assets/css/docs.scss
  docs/site/_assets/js/table-sticky.js
  docs/site/_includes/head-site.html
Labels: auto, backported

#13524 Backport: [deckhouse] Fix deployed module release restoration on HA installations
  deckhouse-controller/pkg/controller/moduleloader/sync.go
  deckhouse-controller/pkg/controller/moduleloader/sync_test.go
Labels: auto, backported

#13434 [cloud-provider-vsphere] capitalize compatibilityFlag enum values
  docs/documentation/_data/conversions.yml
  ee/se-plus/modules/030-cloud-provider-vsphere/hooks/handle_compatibility_flag.go
  ee/se-plus/modules/030-cloud-provider-vsphere/openapi/config-values.yaml
  ee/se-plus/modules/030-cloud-provider-vsphere/openapi/conversions/conversions_test.go
  ee/se-plus/modules/030-cloud-provider-vsphere/openapi/conversions/v2.yaml
  ee/se-plus/modules/030-cloud-provider-vsphere/openapi/doc-ru-config-values.yaml
  ee/se-plus/modules/030-cloud-provider-vsphere/openapi/openapi-case-tests.yaml
  ee/se-plus/modules/030-cloud-provider-vsphere/templates/csi-legacy/controller.yaml
  ee/se-plus/modules/030-cloud-provider-vsphere/templates/csi-legacy/storageclass.yaml
  ee/se-plus/modules/030-cloud-provider-vsphere/templates/csi/cm.yaml
  ee/se-plus/modules/030-cloud-provider-vsphere/templates/csi/controller.yaml
  ee/se-plus/modules/030-cloud-provider-vsphere/templates/csi/csidriver.yaml
  ee/se-plus/modules/030-cloud-provider-vsphere/templates/csi/rbac-for-us.yaml
  ee/se-plus/modules/030-cloud-provider-vsphere/templates/csi/storageclass.yaml
Labels: area/docs, skip/no-cyrillic-validation, go, area/api-change

#13526 Backport: [docs] Fix the table header and tooltips
  docs/documentation/_data/modules/modules-addition.json
  docs/site/_assets/css/components/_table-supported.scss
  docs/site/_assets/css/docs.scss
  docs/site/_assets/js/table-sticky.js
  docs/site/_includes/head-site.html
Labels: auto, backported

#13527 Backport: [docs][cloud-provider-aws] Add missing permissions
  candi/cloud-providers/aws/docs/ENVIRONMENT.md
  candi/cloud-providers/aws/docs/ENVIRONMENT_RU.md
  docs/site/_includes/getting_started/aws/STEP_ENV.md
  docs/site/_includes/getting_started/aws/STEP_ENV_RU.md
Labels: auto, backported

#13528 Backport: [docs][cloud-provider-aws] Add missing permissions
  candi/cloud-providers/aws/docs/ENVIRONMENT.md
  candi/cloud-providers/aws/docs/ENVIRONMENT_RU.md
  docs/site/_includes/getting_started/aws/STEP_ENV.md
  docs/site/_includes/getting_started/aws/STEP_ENV_RU.md
Labels: auto, backported

#13518 [docs] Update description of the DKP auto update mode
  deckhouse-controller/crds/doc-ru-module-update-policy.yaml
  deckhouse-controller/crds/module-update-policy.yaml
Labels: area/core, area/api-change

#13519 [docs][new structure] Update the DKP update section
  docs/documentation/pages/admin/configuration/update/UPDATE-CONFIGURATION.md
  docs/documentation/pages/admin/configuration/update/UPDATE-CONFIGURATION_RU.md
Labels: area/docs

#12745 [monitoring-ping] refactoring
  .github/dependabot.yml
  docs/documentation/_data/deckhouse-ports.yml
  modules/340-monitoring-ping/hooks/discover_targets.go
  modules/340-monitoring-ping/hooks/discover_targets_test.go
  modules/340-monitoring-ping/images/monitoring-ping/src/config.go
  modules/340-monitoring-ping/images/monitoring-ping/src/go.mod
  modules/340-monitoring-ping/images/monitoring-ping/src/go.sum
  modules/340-monitoring-ping/images/monitoring-ping/src/main.go
  modules/340-monitoring-ping/images/monitoring-ping/src/models.go
  modules/340-monitoring-ping/images/monitoring-ping/src/monitoring-ping.py
  modules/340-monitoring-ping/images/monitoring-ping/src/nodeTarget.go
  modules/340-monitoring-ping/images/monitoring-ping/src/ping.go
  modules/340-monitoring-ping/images/monitoring-ping/src/pkg/fastping/fastping.go
  modules/340-monitoring-ping/images/monitoring-ping/src/pkg/fastping/models.go
  modules/340-monitoring-ping/images/monitoring-ping/src/pkg/fastping/pingHeap.go
  modules/340-monitoring-ping/images/monitoring-ping/src/pkg/fastping/sockets.go
  modules/340-monitoring-ping/images/monitoring-ping/src/pkg/fastping/types.go
  modules/340-monitoring-ping/images/monitoring-ping/src/pkg/fastping/utils.go
  modules/340-monitoring-ping/images/monitoring-ping/src/prometheus.go
  modules/340-monitoring-ping/images/monitoring-ping/src/requirements.txt
  modules/340-monitoring-ping/images/monitoring-ping/src/utils.go
  modules/340-monitoring-ping/images/monitoring-ping/werf.inc.yaml
  modules/340-monitoring-ping/openapi/openapi-case-tests.yaml
  modules/340-monitoring-ping/openapi/values.yaml
  modules/340-monitoring-ping/templates/configmap.yaml
  modules/340-monitoring-ping/templates/daemonset.yaml
  modules/340-monitoring-ping/templates/podmonitor.yaml
  modules/340-monitoring-ping/templates/rbac-for-us.yaml
  modules/340-monitoring-ping/templates/rbac-to-us.yaml
Labels: area/monitoring, area/docs, type/dependencies, go, python, area/api-change, e2e/use/k8s/1.30

#13455 [metallb] Add a description of the conversions
  docs/documentation/_data/conversions.yml
  ee/se/modules/380-metallb/openapi/conversions/v2.yaml
Labels: area/docs, skip/no-cyrillic-validation, skip/e2e

#12886 [cni-cilium] add encryption mode
  modules/021-cni-cilium/openapi/config-values.yaml
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
  modules/021-cni-cilium/templates/configmap.yaml
Labels: area/network, area/api-change

#13538 [ci] Update SSH key
  testing/cloud_layouts/GCP/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/GCP/WithoutNAT/resources.yaml
  testing/cloud_layouts/OpenStack/Standard/configuration.tpl.yaml
  testing/cloud_layouts/OpenStack/Standard/resources.yaml
  testing/cloud_layouts/Static/infra.tpl.tf
  testing/cloud_layouts/Static/resources.tpl.yaml
  testing/cloud_layouts/VCD/Standard/configuration.tpl.yaml
  testing/cloud_layouts/VCD/Standard/resources.tpl.yaml
  testing/cloud_layouts/vSphere/Standard/configuration.tpl.yaml
  testing/cloud_layouts/vSphere/Standard/resources.yaml
Labels: area/testing, skip/e2e

#10270 [istio] Remove disk usage dashboards
  modules/110-istio/monitoring/grafana-dashboards/istio/performance.json
  modules/110-istio/monitoring/grafana-dashboards/istio/pilot.json
Labels: area/network, skip/e2e

#13531 [docs][new structure] Add info about disruptive update modes for nodes
  docs/documentation/pages/admin/configuration/platform-scaling/NODE_MANAGEMENT.md
  docs/documentation/pages/admin/configuration/platform-scaling/NODE_MANAGEMENT_RU.md
Labels: area/docs, skip/documentation-validation

#13533 [docs][operator-prometheus] Update info about Prometheus pods
  modules/200-operator-prometheus/docs/README.md
  modules/200-operator-prometheus/docs/README_RU.md
Labels: area/monitoring, area/docs, skip/documentation-validation

#13541 [registrypackages] return shim-runc-v1
  docs/site/pages/stronghold/documentation/admin/platform-management/node-management/ADVANCED_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/node-management/ADVANCED.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/node-management/ADVANCED_RU.md
  modules/007-registrypackages/images/containerd/scripts/install
  modules/007-registrypackages/images/containerd/werf.inc.yaml
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, area/core, skip/documentation-validation, skip/e2e

#13462 [cloud-provider-zvirt] fix cloud data discoverer logger
  ee/se-plus/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/src/discoverer.go
  ee/se-plus/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/src/ovirt_logger.go
Labels: skip/e2e, go

#13540 [linting] Add usestdlibvars lint and fix errors
  .golangci.yaml
  global-hooks/discovery/kubernetes_version.go
Labels: area/core, go
