Repository deckhouse/deckhouse, pull requests merged in 2025-09, with the labels that each got.

#15196 [candi] update containerd, fix cves
  candi/bashible/common-steps/all/007_fetch_registry_packages.sh.tpl
  candi/bashible/common-steps/all/031_install_containerd.sh.tpl
  modules/007-registrypackages/images/containerd/patches/containerd/1.7.27/001-go-mod.patch
  modules/007-registrypackages/images/containerd/patches/containerd/1.7.28/002-hosts-rewrite.patch
  modules/007-registrypackages/images/containerd/patches/containerd/1.7.28/003-hosts-auth.patch
  modules/007-registrypackages/images/containerd/patches/containerd/1.7.28/README.md
  modules/007-registrypackages/images/containerd/patches/containerd/2.1.4/001-go-mod.patch
  modules/007-registrypackages/images/containerd/patches/containerd/2.1.4/002-hosts-rewrite.patch
  modules/007-registrypackages/images/containerd/patches/containerd/2.1.4/003-hosts-auth.patch
  modules/007-registrypackages/images/containerd/patches/containerd/2.1.4/README.md
  modules/007-registrypackages/images/containerd/patches/runc/1.2.5/001-go-mod.patch
  modules/007-registrypackages/images/containerd/werf.inc.yaml
  modules/007-registrypackages/images/crictl/patches/1.29.0/go_mod.patch
  modules/007-registrypackages/images/crictl/patches/1.30.1/go_mod.patch
  modules/007-registrypackages/images/crictl/patches/1.31.1/go_mod.patch
  testing/library/images_tags_generated.go
Labels: area/testing, area/cluster-and-infrastructure, area/core, go

#14736 [ingress-nginx] Added NGINX profiling
  docs/documentation/_data/deckhouse-alerts.yml
  modules/402-ingress-nginx/crds/doc-ru-ingress-nginx.yaml
  modules/402-ingress-nginx/crds/ingress-nginx.yaml
  modules/402-ingress-nginx/hooks/get_ingress_controllers.go
  modules/402-ingress-nginx/images/controller-1-10/nginx-chroot-wrapper.sh
  modules/402-ingress-nginx/images/controller-1-10/werf.inc.yaml
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
  modules/402-ingress-nginx/openapi/values.yaml
  modules/402-ingress-nginx/templates/controller/controller.yaml
Labels: area/network, area/docs, go, area/api-change

#15291 Feat/openstack commander
  .github/ci_templates/e2e_tests.yml
  .github/workflows/e2e-abort-openstack.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-openstack.yml
  testing/cloud_layouts/OpenStack/Standard/configuration.tpl.yaml
  testing/cloud_layouts/OpenStack/Standard/resources.yaml
  testing/cloud_layouts/script-commander.sh
Labels: area/testing, skip/e2e

#15007 [dhctl] SSH client improvements
  dhctl/pkg/operations/converge/controller/node_group_controller.go
  dhctl/pkg/system/node/gossh/client.go
Labels: area/cli, status/backport, go

#15265 [dhctl] Improve wrong ssh key passphrase handling
  dhctl/cmd/dhctl/commands/bootstrap/phase.go
  dhctl/cmd/dhctl/commands/destroy.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/converge/infrastructure/hook/controlplane/kube-proxy.go
  dhctl/pkg/system/node/gossh/default.go
  dhctl/pkg/system/node/ssh/privatekeys.go
Labels: area/cli, status/backport, go

#15297 [deckhouse-controller] ignore migrate module if disabled
  deckhouse-controller/pkg/apis/deckhouse.io/validation/validate_deckhouse_release.go
  deckhouse-controller/pkg/apis/deckhouse.io/validation/validate_deckhouse_release_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/migrated-module-not-enabled.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/migrated-modules-empty-migrated-modules.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/migrated-modules-mc-disabled-not-in-source.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/migrated-modules-mc-enabled-in-source.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/migrated-modules-mc-enabled-not-in-source.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/migrated-modules-module-missing.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/migrated-modules-module-pull-error.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/migrated-modules-modules-available.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/migrated-modules-no-migrated-modules.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/migrated-module-not-enabled.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/migrated-modules-empty-migrated-modules.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/migrated-modules-mc-disabled-not-in-source.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/migrated-modules-mc-enabled-in-source.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/migrated-modules-mc-enabled-not-in-source.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/migrated-modules-module-missing.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/migrated-modules-module-pull-error.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/migrated-modules-modules-available.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/migrated-modules-no-migrated-modules.yaml
  deckhouse-controller/pkg/releaseupdater/requirements_checker.go
Labels: area/core, go

#14364 [node-local-dns] build refactored and improved observability
  docs/documentation/_data/deckhouse-alerts.yml
  ee/be/modules/350-node-local-dns/monitoring/grafana-dashboards/kubernetes-cluster/dns-node-local.json
  ee/be/modules/350-node-local-dns/monitoring/prometheus-rules/forward-plugin.yaml
  ee/be/modules/350-node-local-dns/monitoring/prometheus-rules/kubeforward-plugin.yaml
  ee/be/modules/350-node-local-dns/templates/configmap.yaml
  modules/000-common/images/coredns/patches/001-go-mod.patch
  modules/000-common/images/coredns/patches/002-dynamicforward-plugin.patch
  modules/000-common/images/coredns/patches/003-go-mod.patch
  modules/000-common/images/coredns/patches/README.md
  modules/000-common/images/coredns/werf.inc.yaml
Labels: area/docs, e2e/use/k8s/1.30

#15251 [d8] Update Deckhouse CLI to 0.17.0 version
  candi/version_map.yml
  docs/documentation/_data/reference/d8-cli.json
Labels: area/kubernetes, area/docs, area/cluster-and-infrastructure

#14469 [ingress-nginx] Switch to a distroless image for version 1.12 and address CVEs
  modules/402-ingress-nginx/images/controller-1-12/curl-chroot-wrapper.sh
  modules/402-ingress-nginx/images/controller-1-12/nginx-chroot-wrapper.sh
  modules/402-ingress-nginx/images/controller-1-12/patches/006-new-metrics.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/006-nginx-build.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/007-default-backend-fix.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/008-balancer-lua.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/009-nginx-tmpl.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/010-auth-cookie-always.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/011-restore-validation.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/012-validation-mode.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/013-verbose-maxmind-logs.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/014-go-mod.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/README.md
  modules/402-ingress-nginx/images/controller-1-12/werf.inc.yaml
  modules/402-ingress-nginx/images/failover-cleaner/src/go.mod
  modules/402-ingress-nginx/images/failover-cleaner/src/go.sum
  modules/402-ingress-nginx/images/failover-cleaner/werf.inc.yaml
  modules/402-ingress-nginx/images/kruise-state-metrics/patches/001-go-mod.patch
  modules/402-ingress-nginx/images/kruise-state-metrics/patches/README.md
  modules/402-ingress-nginx/images/kruise-state-metrics/werf.inc.yaml
  modules/402-ingress-nginx/images/kruise/patches/001-add-pdb.patch
  modules/402-ingress-nginx/images/kruise/patches/001-go-mod.patch
  modules/402-ingress-nginx/images/kruise/patches/008-go-mod.patch
  modules/402-ingress-nginx/images/kruise/patches/README.md
  modules/402-ingress-nginx/images/kruise/werf.inc.yaml
  modules/402-ingress-nginx/images/kube-rbac-proxy/werf.inc.yaml
  modules/402-ingress-nginx/images/nginx-exporter/werf.inc.yaml
  modules/402-ingress-nginx/images/protobuf-exporter/werf.inc.yaml
  modules/402-ingress-nginx/images/proxy-failover-iptables/werf.inc.yaml
  modules/402-ingress-nginx/images/proxy-failover/werf.inc.yaml
Labels: area/network, type/dependencies, skip/e2e

#15260 [ingress-nginx] Disable some log messages
  modules/402-ingress-nginx/images/controller-1-10/patches/018-disable-error-logs.patch
  modules/402-ingress-nginx/images/controller-1-10/patches/README.md
  modules/402-ingress-nginx/images/controller-1-10/werf.inc.yaml
  modules/402-ingress-nginx/images/controller-1-12/patches/016-disable-error-logs.patch
  modules/402-ingress-nginx/images/controller-1-12/patches/README.md
  modules/402-ingress-nginx/images/controller-1-9/patches/ingress-nginx/015-disable-error-logs.patch
  modules/402-ingress-nginx/images/controller-1-9/patches/ingress-nginx/README.md
  modules/402-ingress-nginx/images/controller-1-9/werf.inc.yaml
Labels: area/network, skip/e2e

#15183 [cloud-provider-huaweicloud] Fix providerID format and exclude 127.0.0.0/8 in node IP selection
  ee/modules/030-cloud-provider-huaweicloud/images/cloud-controller-manager/patches/004-fix_providerid_and_exclude_loopback_in_node_IP_selection.patch
  ee/modules/030-cloud-provider-huaweicloud/images/cloud-controller-manager/patches/README.md
Labels: area/cloud-provider

#15282 [docs][new structure] Add instructions for switching edition to BE/SE/SE+/EE
  docs/documentation/pages/admin/configuration/registry/SWITCHING_EDITIONS.md
  docs/documentation/pages/admin/configuration/registry/SWITCHING_EDITIONS_RU.md
Labels: area/docs

#15302 Backport: [candi] fix 000_preflight_checks.sh
  candi/bashible/common-steps/all/000_preflight_checks.sh.tpl
Labels: auto, backported

#15303 Backport: [docs] Update BTF requirement details
  ee/modules/650-runtime-audit-engine/docs/README.md
  ee/modules/650-runtime-audit-engine/docs/README_RU.md
  modules/500-cilium-hubble/docs/README.md
  modules/500-cilium-hubble/docs/README_RU.md
Labels: auto, backported

#15301 [runtime-audit-engine] Reduce memory limit floor
  ee/modules/650-runtime-audit-engine/templates/falco-leak-limit-range.yaml
Labels: area/security

#15124 [istio] Fixed metrics port for operator 1.25>=
  modules/110-istio/templates/operator/deployment.yaml
  modules/110-istio/templates/operator/podmonitor.yaml
Labels: area/network, e2e/use/k8s/1.31

#15309 [docs] Fix link to DVP update page
  docs/site/pages/virtualization-platform/documentation/about/RELEASE_CHANNELS.md
  docs/site/pages/virtualization-platform/documentation/about/RELEASE_CHANNELS_RU.md
Labels: area/docs

#15313 Backport: [docs][kube-dns] Update FAQ
  modules/042-kube-dns/docs/FAQ.md
  modules/042-kube-dns/docs/FAQ_RU.md
Labels: auto, backported

#15314 Backport: [docs][kube-dns] Update FAQ
  modules/042-kube-dns/docs/FAQ.md
  modules/042-kube-dns/docs/FAQ_RU.md
Labels: auto, backported

#14573 [docs][new structure][multitenancy] Update glossary
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/architecture/module-development/README.md
  docs/documentation/pages/architecture/module-development/README_RU.md
  docs/documentation/pages/multitenancy(test)/admin/PROJECTS_RU.md
  docs/documentation/pages/multitenancy(test)/admin/RBAC_RU.md
  docs/documentation/pages/multitenancy(test)/architecture/OVERVIEW.md
  docs/documentation/pages/multitenancy(test)/architecture/OVERVIEW.ru.md
  docs/documentation/pages/multitenancy(test)/architecture/PROJECTS_RU.md
  docs/documentation/pages/multitenancy(test)/architecture/RBAC_RU.md
  docs/documentation/pages/multitenancy(test)/concepts/GLOSSARY_RU.md
  docs/documentation/pages/multitenancy(test)/concepts/OVERVIEW.md
  docs/documentation/pages/multitenancy(test)/concepts/OVERVIEW.ru.md
  docs/documentation/pages/multitenancy(test)/concepts/PROJECTS_RU.md
  docs/documentation/pages/multitenancy(test)/concepts/RBAC_RU.md
  docs/documentation/pages/multitenancy(test)/user/PROJECTS_RU.md
Labels: area/docs

#15270 [user-authn] Add `PasswordPolicy` and `2FA` documentation examples
  modules/150-user-authn/docs/USAGE.md
  modules/150-user-authn/docs/USAGE_RU.md
Labels: area/auth, area/docs, skip/documentation-validation, status/backport

#14883 [cloud-provider-dvp] fix single-node LoadBalancer bug and add multi-LB per node support
  modules/030-cloud-provider-dvp/images/cloud-controller-manager/src/pkg/cloudprovider/dvp/cloud.go
  modules/030-cloud-provider-dvp/images/dvp-common/api/compute.go
  modules/030-cloud-provider-dvp/images/dvp-common/api/loadbalancer.go
  modules/030-cloud-provider-dvp/templates/cloud-controller-manager/rbac-for-us.yaml
Labels: area/cloud-provider, skip/e2e, go

#15288 [ci] Incorporate DeckhouseRelease switch into upgrade tests
  .github/ci_templates/build.yml
  .github/ci_templates/e2e_tests.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vcd.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .werf/werf-release-channel.yaml
  testing/cloud_layouts/script-commander.sh
  testing/cloud_layouts/script.sh
  testing/cloud_layouts/script_eks.sh
Labels: area/testing

#15054 [cloud-provider-yandex] Set CSI driver metadata querying timeouts
  modules/030-cloud-provider-yandex/images/yandex-csi-plugin/werf.inc.yaml
Labels: area/cloud-provider

#15326 Backport: Changelog v1.72.0
  CHANGELOG/CHANGELOG-v1.72.0.yml
  CHANGELOG/CHANGELOG-v1.72.md
Labels: auto, backported

#15320 [docs] Add a note about the lack of encryption for application init containers under istio
  modules/110-istio/docs/EXAMPLES.md
  modules/110-istio/docs/EXAMPLES_RU.md
Labels: area/network, area/docs, status/backport

#15273 Restore diff and ps to the deckhouse-controller
  .werf/defines/base.tmpl
Labels: status/backport

#14896 Changelog v1.70.18
  CHANGELOG/CHANGELOG-v1.70.18.yml
  CHANGELOG/CHANGELOG-v1.70.md
Labels: changelog, auto, status/backport

#15342 [ci] Fix e2e test script
  testing/cloud_layouts/script-commander.sh
Labels: area/testing

#15341 [docs][getting-started] Fix back button on the second step of DVP GS
  docs/site/_includes/getting_started/global/buttons.html
Labels: area/docs

#15343 [docs] Minor updates for clarity and consistency
  docs/site/_includes/getting_started/vcd/partials/config.ru.yml.standard.other.inc
  docs/site/_includes/getting_started/vcd/partials/config.yml.standard.other.inc
  docs/site/pages/stronghold/documentation/CONFIGURATION_RU.md
  docs/site/pages/stronghold/documentation/admin/platform-management/control-plane-settings/ABOUT_RU.md
  docs/site/pages/stronghold/documentation/admin/platform-management/control-plane-settings/CONTROL_PLANE_COMPONENTS_RU.md
  docs/site/pages/stronghold/documentation/admin/platform-management/node-management/ADVANCED_RU.md
  docs/site/pages/stronghold/documentation/admin/standalone/HSM_RU.md
  docs/site/pages/stronghold/documentation/admin/standalone/INSTALLATION_RU.md
  docs/site/pages/stronghold/documentation/user/auth/jwt/jwt.ru.md
  docs/site/pages/stronghold/documentation/user/auth/jwt/oidc-providers/kubernetes.ru.md
  docs/site/pages/stronghold/documentation/user/auth/kubernetes.ru.md
  docs/site/pages/stronghold/documentation/user/concepts/lease.ru.md
  docs/site/pages/stronghold/documentation/user/concepts/policy.ru.md
  docs/site/pages/stronghold/documentation/user/concepts/tokens.ru.md
  docs/site/pages/stronghold/documentation/user/secrets-engines/ADMIN_GUIDE_RU.md
  docs/site/pages/stronghold/documentation/user/secrets-engines/kubernetes.ru.md
  docs/site/pages/stronghold/documentation/user/secrets-engines/kv/kv-v2.ru.md
  modules/030-cloud-provider-aws/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/110-istio/docs/EXAMPLES_RU.md
  modules/500-openvpn/docs/FAQ_RU.md
  tools/docs/spelling/dictionaries/dev_OPS.dic
  tools/docs/spelling/wordlist
  tools/validation/doc_changes.go
Labels: area/cloud-provider, area/network, area/security, area/testing, area/docs, area/cluster-and-infrastructure, go

#15340 [candi] bump containerdv2 integrity patch and yq version
  candi/bashible/common-steps/all/004_install_mandatory_packages.sh.tpl
  candi/version_map.yml
  modules/007-registrypackages/images/containerd/werf.inc.yaml
  modules/007-registrypackages/images/crictl/patches/1.31.1/go_mod.patch
  modules/400-descheduler/images/descheduler/patches/001-go-mod.patch
  testing/library/images_tags_generated.go
Labels: area/kubernetes, area/testing, area/cluster-and-infrastructure, area/core, area/scaling, go

#15349 [node-manager] Upgrade CAPI manager. Increase and add leader elect timeouts
  modules/040-node-manager/images/capi-controller-manager/werf.inc.yaml
  modules/040-node-manager/images/caps-controller-manager/src/cmd/main.go
  modules/040-node-manager/templates/capi-controller-manager/deployment.yaml
  modules/040-node-manager/templates/caps-controller-manager/deployment.yaml
Labels: area/cluster-and-infrastructure, status/backport, skip/e2e, go

#15347 [docs-watcher] fix TargetSampleLimitExceeded
  docs/site/.helm/templates/15-modules-watcher.yaml
Labels: type/bug, area/docs, type/chore

#15357 Backport: [docs-watcher] fix TargetSampleLimitExceeded
  docs/site/.helm/templates/15-modules-watcher.yaml
Labels: auto, backported

#15361 [deckhouse-controller] Fix null pointer error
  modules/500-upmeter/hooks/smokemini/internal/snapshot/gen_parse.go
  modules/500-upmeter/hooks/smokemini/internal/snapshot/parse.generated.go
Labels: area/monitoring, status/backport, go

#15360 [docs] Add a note about enabling Rosetta on macOS 26 when installing DKP
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA.liquid
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
Labels: area/docs, skip/documentation-validation

#15363 [ci] Add missing base_images
  candi/base_images.yml
Labels: area/cluster-and-infrastructure, status/backport

#15262 [cni-cilium] some fixes to the process of upgrading cilium to version 1.17
  modules/021-cni-cilium/templates/ngc-disruptive-update.yaml
Labels: area/network, e2e/use/k8s/1.31

#15365 Backport: [cni-cilium] some fixes to the process of upgrading cilium to version 1.17
  modules/021-cni-cilium/templates/ngc-disruptive-update.yaml
Labels: auto, backported

#15366 Backport: [cni-cilium] Improving the reliability, safety, and transparency of the cilium upgrade process on cluster nodes
  modules/021-cni-cilium/images/safe-agent-updater/src/main.go
  modules/021-cni-cilium/images/safe-agent-updater/src/main_test.go
  modules/021-cni-cilium/templates/ngc-disruptive-update.yaml
  modules/021-cni-cilium/templates/safe-agent-updater/daemonset.yaml
  modules/021-cni-cilium/templates/safe-agent-updater/rbac-for-us.yaml
Labels: auto, backported

#15374 [docs] Minor fixes
  docs/documentation/_includes/request_access_form.html
  docs/documentation/_layouts/page.html
  docs/site/Makefile
  docs/site/_includes/getting_started/dvp/bm/STEP_INSTALL_SCHEMA.md
  docs/site/_includes/getting_started/dvp/bm/STEP_INSTALL_SCHEMA_RU.md
  docs/site/_includes/head.html
  docs/site/_includes/request_access_form.html
  docs/site/_layouts/page.html
Labels: area/docs

#15356 [docs][new structure] Add password policy and 2FA info to local auth docs
  docs/documentation/pages/admin/configuration/access/authentication/LOCAL.md
  docs/documentation/pages/admin/configuration/access/authentication/LOCAL_RU.md
Labels: area/docs, skip/documentation-validation

#15323 [docs] Update ModulePullOverride documentation
  deckhouse-controller/crds/doc-ru-module-pull-override.yaml
  deckhouse-controller/crds/module-pull-override.yaml
  docs/documentation/pages/module-development/DEVELOPMENT.md
  docs/documentation/pages/module-development/DEVELOPMENT_RU.md
Labels: area/docs, skip/documentation-validation, status/backport

#15375 Backport: [docs] Update ModulePullOverride documentation
  deckhouse-controller/crds/doc-ru-module-pull-override.yaml
  deckhouse-controller/crds/module-pull-override.yaml
  docs/documentation/pages/module-development/DEVELOPMENT.md
  docs/documentation/pages/module-development/DEVELOPMENT_RU.md
Labels: auto, backported

#15376 [docs] Minor fixes
  docs/site/_includes/header.html
  docs/site/assets/js/customscripts.js
Labels: area/docs

#15381 [dvp] fix getting started docs
  docs/site/_includes/getting_started/dvp/bm/partials/user.yml.inc
  docs/site/_includes/getting_started/dvp/global/STEP_STORAGE.md
  docs/site/_includes/getting_started/dvp/global/STEP_STORAGE_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/STORAGE.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/STORAGE_RU.md
Labels: area/docs

#15383 Backport: [node-manager] Add rbac permission for getting DaemonSets for CAPI. Decrease lease timeouts and increase log verbosity for CAPI
  modules/040-node-manager/templates/capi-controller-manager/deployment.yaml
  modules/040-node-manager/templates/capi-controller-manager/rbac-for-us.yaml
Labels: auto, backported

#15312 [multitenancy-manager][deps] Patch multiple CVEs in dependencies
  modules/160-multitenancy-manager/images/multitenancy-manager/src/go.mod
  modules/160-multitenancy-manager/images/multitenancy-manager/src/go.sum
Labels: type/dependencies, e2e/cluster/failed

#15345 Changelog v1.72.0
  CHANGELOG/CHANGELOG-v1.72.0.yml
  CHANGELOG/CHANGELOG-v1.72.md
Labels: changelog, auto, status/backport

#15387 Backport: [docs] Update ModulePullOverride documentation
  deckhouse-controller/crds/doc-ru-module-pull-override.yaml
  deckhouse-controller/crds/module-pull-override.yaml
  docs/documentation/pages/module-development/DEVELOPMENT.md
  docs/documentation/pages/module-development/DEVELOPMENT_RU.md
Labels: auto, backported

#15384 [docs][registry-modules-watcher] Update Oauth package
  docs/site/backends/docs-builder/go.mod
  docs/site/backends/docs-builder/go.sum
Labels: type/bug, area/docs, type/dependencies

#15385 [deckhouse-controller] Fix panic on snapshotIter
  modules/500-upmeter/hooks/remove_old_sts.go
Labels: area/monitoring, go

#15238 Changelog v1.71.6
  CHANGELOG/CHANGELOG-v1.71.6.yml
  CHANGELOG/CHANGELOG-v1.71.md
Labels: changelog, auto, status/backport

#15197 [deckhouse-controller] check lowercased scheme in ChangeRegistry function
  deckhouse-controller/pkg/helpers/change_registry/change_registry.go
  deckhouse-controller/pkg/helpers/register.go
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, area/core, skip/documentation-validation, go

#15390 [cloud-provider-dvp] fix CVE-2025-22869 && CVE-2024-45337
  modules/030-cloud-provider-dvp/images/cloud-controller-manager/src/go.mod
  modules/030-cloud-provider-dvp/images/cloud-controller-manager/src/go.sum
Labels: area/cloud-provider, type/dependencies, skip/e2e, security/cve/success

#15403 [deckhouse] Fix edition list in hook check_deckhouse_edition.go
  modules/002-deckhouse/hooks/check_deckhouse_edition.go
Labels: go

#15396 [cloud-provider-dvp] fix CVE-2025-22868
  modules/030-cloud-provider-dvp/images/capdvp-controller-manager/src/go.mod
  modules/030-cloud-provider-dvp/images/capdvp-controller-manager/src/go.sum
  modules/030-cloud-provider-dvp/images/cloud-controller-manager/src/go.mod
  modules/030-cloud-provider-dvp/images/cloud-controller-manager/src/go.sum
  modules/030-cloud-provider-dvp/images/cloud-data-discoverer/src/go.mod
  modules/030-cloud-provider-dvp/images/cloud-data-discoverer/src/go.sum
  modules/030-cloud-provider-dvp/images/dvp-common/go.mod
  modules/030-cloud-provider-dvp/images/dvp-common/go.sum
  modules/030-cloud-provider-dvp/images/dvp-csi-driver/src/go.mod
  modules/030-cloud-provider-dvp/images/dvp-csi-driver/src/go.sum
Labels: area/cloud-provider, type/dependencies, skip/e2e, security/cve/success

#15354 [docs] Replace kubectl to d8 k in alerts
  docs/documentation/_data/deckhouse-alerts.yml
  ee/fe/modules/340-monitoring-applications/applications/prometheus/prometheus-rules/prometheus.yaml
  ee/fe/modules/340-monitoring-applications/monitoring/prometheus-rules/warnings/warnings.yaml
  ee/modules/110-istio/monitoring/prometheus-rules/dataplane.yaml
  ee/modules/110-istio/monitoring/prometheus-rules/federation.yaml
  ee/modules/110-istio/monitoring/prometheus-rules/multicluster.yaml
  ee/modules/380-metallb/monitoring/prometheus-rules/metallb.yaml
  ee/modules/650-runtime-audit-engine/monitoring/prometheus-rules/runtime-audit-engine.yaml
  modules/015-admission-policy-engine/monitoring/prometheus-rules/audit.yaml
  modules/015-admission-policy-engine/monitoring/prometheus-rules/bootstrap.yaml
  modules/021-cni-cilium/monitoring/prometheus-rules/agent.yaml
  modules/030-cloud-provider-yandex/monitoring/prometheus-rules/deprecated_availability_zone.yaml
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
  modules/040-control-plane-manager/monitoring/prometheus-rules/etcd-maintenance.yaml
  modules/040-node-manager/monitoring/prometheus-rules/migrate-to-tofu.yaml
  modules/040-node-manager/monitoring/prometheus-rules/node-update.yaml
  modules/042-kube-dns/monitoring/prometheus-rules/kubernetes/dns.yaml
  modules/101-cert-manager/monitoring/prometheus-rules/certificate.yaml
  modules/110-istio/monitoring/prometheus-rules/controlplane.yaml
  modules/110-istio/monitoring/prometheus-rules/operator.yaml
  modules/200-operator-prometheus/monitoring/prometheus-rules/operator.yaml
  modules/300-prometheus/monitoring/prometheus-rules/deprecation.yaml
  modules/300-prometheus/monitoring/prometheus-rules/prometheus-storage.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/certificate.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/certificates-exporter-health.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/application-controllers.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/cronjob.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/self.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/image-availability/image-availability-exporter-health.yaml
  modules/340-monitoring-custom/monitoring/prometheus-rules/warnings/warnings.yaml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/alerting.yaml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/cni-checks.yaml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/deckhouse.yaml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/node-os-requirements.yaml
  modules/340-monitoring-kubernetes-control-plane/monitoring/prometheus-rules/kube-etcd3.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/generic/kube-state-metrics.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/helm/deprecated-versions.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/loadbalancer.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/node.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/pod-status.yaml
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
  modules/460-log-shipper/monitoring/prometheus-rules/log-shipper-agent.yaml
  modules/470-chrony/monitoring/prometheus-rules/chrony.yaml
  modules/500-openvpn/monitoring/prometheus-rules/ovpn-admin.yaml
  modules/500-upmeter/monitoring/prometheus-rules/alerting.yaml
  modules/810-documentation/monitoring/prometheus-rules/deprecated-mc.yaml
Labels: area/monitoring, area/cloud-provider, area/network, area/security, area/docs, area/cluster-and-infrastructure, area/logs

#15263 [chore] add to svace analyze new modules
  ee/be/modules/140-user-authz/images/webhook/werf.inc.yaml
  ee/modules/500-operator-trivy/images/node-collector/werf.inc.yaml
  ee/modules/500-operator-trivy/images/operator/werf.inc.yaml
  ee/modules/500-operator-trivy/images/report-updater/werf.inc.yaml
  ee/modules/500-operator-trivy/images/trivy/werf.inc.yaml
  modules/015-admission-policy-engine/images/gatekeeper/werf.inc.yaml
  modules/300-prometheus/images/prometheus/werf.inc.yaml
  modules/462-loki/images/loki/werf.inc.yaml
Labels: area/monitoring, area/security, type/chore, skip/e2e, area/logs, analyze/svace

#15408 Backport: [dhctl] fix commander detach/attach panic
  dhctl/pkg/server/pkg/helper/ssh_client.go
  dhctl/pkg/server/rpc/dhctl/check.go
  dhctl/pkg/server/rpc/dhctl/commander_attach.go
  dhctl/pkg/server/rpc/dhctl/commander_detach.go
Labels: auto, backported

#14505 [cloud-provider-vcd] metadata for VCD objects
  ee/candi/cloud-providers/vcd/layouts/with-nat/base-infrastructure/main.tf
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-instance_class.yaml
  ee/candi/cloud-providers/vcd/openapi/instance_class.yaml
  ee/candi/cloud-providers/vcd/terraform-modules/bastion/main.tf
  ee/candi/cloud-providers/vcd/terraform-modules/bastion/variables.tf
  ee/candi/cloud-providers/vcd/terraform-modules/master-node/main.tf
  ee/candi/cloud-providers/vcd/terraform-modules/master-node/variables.tf
  ee/candi/cloud-providers/vcd/terraform-modules/network/main.tf
  ee/candi/cloud-providers/vcd/terraform-modules/network/variables.tf
  ee/candi/cloud-providers/vcd/terraform-modules/static-node/main.tf
  ee/candi/cloud-providers/vcd/terraform-modules/static-node/variables.tf
  ee/candi/cloud-providers/vcd/terraform-modules/vapp/main.tf
  ee/candi/cloud-providers/vcd/terraform-modules/vapp/variables.tf
  ee/modules/030-cloud-provider-vcd/capi/instance-class.checksum
  ee/modules/030-cloud-provider-vcd/capi/machine-template.yaml
  ee/modules/030-cloud-provider-vcd/crds/external/vcdmachines.yaml
  ee/modules/030-cloud-provider-vcd/crds/external/vcdmachinetemplates.yaml
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager-legacy/patches/006-add-metadata.patch
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager-legacy/patches/README.md
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/patches/006-add-metadata.patch
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager/patches/README.md
  ee/modules/030-cloud-provider-vcd/images/vcd-csi-plugin-legacy/patches/004-metadata.patch
  ee/modules/030-cloud-provider-vcd/images/vcd-csi-plugin-legacy/patches/README.md
  ee/modules/030-cloud-provider-vcd/images/vcd-csi-plugin/patches/003-metadata.patch
  ee/modules/030-cloud-provider-vcd/images/vcd-csi-plugin/patches/README.md
  ee/modules/030-cloud-provider-vcd/openapi/values.yaml
  ee/modules/030-cloud-provider-vcd/templates/csi/controller.yaml
  ee/modules/030-cloud-provider-vcd/templates/metadata.yaml
  ee/modules/030-cloud-provider-vcd/templates/registration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, skip/documentation-validation, skip/e2e, area/api-change

#15419 [docs][chore] Add non-indexable and non-sitemap flags to some docs
  docs/site/pages/stronghold/documentation/CONFIGURATION.md
  docs/site/pages/stronghold/documentation/admin/platform-management/control-plane-settings/ABOUT.md
  docs/site/pages/stronghold/documentation/admin/platform-management/control-plane-settings/AUDITING.md
  docs/site/pages/stronghold/documentation/admin/platform-management/control-plane-settings/CONTROL_PLANE_COMPONENTS.md
  docs/site/pages/stronghold/documentation/admin/platform-management/control-plane-settings/ETCD.md
  docs/site/pages/stronghold/documentation/admin/platform-management/control-plane-settings/MASTERS.md
  docs/site/pages/stronghold/documentation/admin/platform-management/control-plane-settings/PLACEMENT_MANAGEMENT.md
  docs/site/pages/stronghold/documentation/admin/platform-management/control-plane-settings/SCHEDULER.md
  docs/site/pages/stronghold/documentation/admin/platform-management/node-management/ADDING_NODE.md
  docs/site/pages/stronghold/documentation/admin/platform-management/node-management/ADVANCED.md
  docs/site/pages/stronghold/documentation/admin/platform-management/node-management/CONFIGURATION.md
  docs/site/pages/stronghold/documentation/admin/platform-management/node-management/CONTAINERD.md
  docs/site/pages/stronghold/documentation/admin/platform-management/node-management/NODE_GROUP.md
  docs/site/pages/stronghold/documentation/admin/platform-management/node-management/OS.md
  docs/site/pages/stronghold/documentation/admin/update/MANUAL-UPDATE-MODE.md
  docs/site/pages/stronghold/documentation/architecture/FUNCTIONAL.SPECIFICATIONS.md
  docs/site/pages/stronghold/documentation/architecture/OVERALL.ARCHITECTURE.md
  docs/site/pages/stronghold/documentation/architecture/OVERALL.ARCHITECTURE_RU.md
  docs/site/pages/stronghold/documentation/architecture/SCHEME.md
  docs/site/pages/stronghold/documentation/architecture/SCHEME_RU.md
  docs/site/pages/stronghold/documentation/architecture/TABLE.md
  docs/site/pages/stronghold/documentation/architecture/TABLE_RU.md
  docs/site/pages/stronghold/documentation/architecture/USED.PORTS.md
  docs/site/pages/stronghold/documentation/architecture/USED.PORTS_RU.md
  docs/site/pages/stronghold/documentation/user/ACCESS.md
  docs/site/pages/stronghold/documentation/user/OVERVIEW.md
  docs/site/pages/stronghold/documentation/user/auth/mfa/multifactor.md
  docs/site/pages/stronghold/documentation/user/auth/mfa/totp.md
  docs/site/pages/virtualization-platform/documentation/architecture/FUNCTIONAL.SPECIFICATIONS.md
  docs/site/pages/virtualization-platform/documentation/architecture/OVERALL.ARCHITECTURE.md
  docs/site/pages/virtualization-platform/documentation/architecture/SCHEME.md
  docs/site/pages/virtualization-platform/documentation/architecture/SCHEME_RU.md
  docs/site/pages/virtualization-platform/documentation/architecture/TABLE.md
  docs/site/pages/virtualization-platform/documentation/architecture/TABLE_RU.md
  docs/site/pages/virtualization-platform/documentation/architecture/USED.PORTS.md
  docs/site/pages/virtualization-platform/documentation/dvp-editions/CHANGELOG_EN.md
  docs/site/pages/virtualization-platform/documentation/dvp-editions/CHANGELOG_RU.md
Labels: area/docs

#14998 [dhctl] destructive changes fix v2
  candi/terraform_versions.yml
  dhctl/cmd/dhctl/commands/terraform.go
  dhctl/pkg/config/base.go
  dhctl/pkg/global/infrastructure/dirs.go
  dhctl/pkg/infrastructure/mocks/checkplan/destructively_changed_without_vm.json
  dhctl/pkg/infrastructure/runner.go
  dhctl/pkg/infrastructure/runner_interface.go
  dhctl/pkg/infrastructure/runner_test.go
  dhctl/pkg/infrastructure/runner_utils.go
  dhctl/pkg/infrastructureprovider/get.go
  dhctl/pkg/infrastructureprovider/get_test.go
  dhctl/pkg/operations/check/checker.go
  dhctl/pkg/operations/converge/controller/master_node_group.go
  dhctl/pkg/operations/converge/converger.go
  dhctl/pkg/operations/converge/infrastructure/hook/controlplane/hook_for_update_pipeline.go
  dhctl/pkg/operations/converge/runner.go
  dhctl/pkg/operations/exporter.go
Labels: area/cluster-and-infrastructure, area/cli, go

#15286 [extended-monitoring] Remove old useless hook
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  docs/documentation/_data/deckhouse-alerts.yml
  modules/340-extended-monitoring/hooks/alert_old_annotation.go
  modules/340-extended-monitoring/hooks/alert_old_annotation_test.go
  modules/340-extended-monitoring/hooks/common_test.go
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/deprecated-annotation.yaml
Labels: area/monitoring, area/docs, area/core, status/ok-to-test, go

#15158 [user-authn] Sync lockedUntil and lockedReason between `Password` and `User` attributes
  go.mod
  go.sum
  modules/150-user-authn/crds/doc-ru-user.yaml
  modules/150-user-authn/crds/user.yaml
  modules/150-user-authn/hooks/get_dex_user_crds.go
  modules/150-user-authn/hooks/get_dex_user_crds_test.go
  modules/150-user-authn/openapi/values.yaml
Labels: area/auth, type/dependencies, area/core, status/backport, go, area/api-change

#15428 [dashboard] add check for user-authn in enabled script
  modules/500-dashboard/enabled
Labels: type/bug, area/ui

#15000 Changelog v1.72.1
  CHANGELOG/CHANGELOG-v1.72.1.yml
  CHANGELOG/CHANGELOG-v1.72.md
Labels: changelog, auto, status/backport

#15431 Backport: Changelog v1.72.1
  CHANGELOG/CHANGELOG-v1.72.1.yml
  CHANGELOG/CHANGELOG-v1.72.md
Labels: auto, backported

#15284 [docs] Fix alert level for modules with General Availability status
  docs/site/backends/docs-builder-template/layouts/single.html
Labels: area/docs

#15433 Revert "[user-authn] Sync lockedUntil and lockedReason between `Passw…
  go.mod
  go.sum
  modules/150-user-authn/crds/doc-ru-user.yaml
  modules/150-user-authn/crds/user.yaml
  modules/150-user-authn/hooks/get_dex_user_crds.go
  modules/150-user-authn/hooks/get_dex_user_crds_test.go
  modules/150-user-authn/openapi/values.yaml
Labels: area/auth, type/dependencies, area/core, go, area/api-change

#15432 Changelog v1.72.1
  CHANGELOG/CHANGELOG-v1.72.1.yml
  CHANGELOG/CHANGELOG-v1.72.md
Labels: changelog, auto, status/backport

#15436 Backport: Changelog v1.72.1
  CHANGELOG/CHANGELOG-v1.72.1.yml
  CHANGELOG/CHANGELOG-v1.72.md
Labels: auto, backported

#15090 [cni-cilium] fixed egress gateway reselection for case node hard reset
  ee/se-plus/modules/021-cni-cilium/hooks/ee/egressgateway_stale_node_label_cleaner_test.go
  ee/se-plus/modules/021-cni-cilium/hooks/ee/egressgateways_discovery.go
  ee/se-plus/modules/021-cni-cilium/hooks/ee/egressgateways_discovery_test.go
  modules/021-cni-cilium/images/bin-cilium/patches/013-ignore-egress-gateway-inactual-warning.patch
  modules/021-cni-cilium/images/bin-cilium/patches/README.md
Labels: area/network, e2e/cluster/failed, go

#15391 [kube-dns] enable readOnlyRootFilesystem
  modules/000-common/images/coredns/mount-points.yaml
  modules/000-common/images/coredns/werf.inc.yaml
  modules/042-kube-dns/images/sts-pods-hosts-appender-webhook/src/main.go
  modules/042-kube-dns/templates/sts-pods-hosts-appender-webhook/deployment.yaml
Labels: area/cluster-and-infrastructure, go

#15190 [docs] Change VCD layout to WithNAT at Getting Started
  docs/site/_data/getting_started/dkp_data.yaml
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER_RU.liquid
  docs/site/_includes/getting_started/vcd/layouts/STANDARD.md
  docs/site/_includes/getting_started/vcd/layouts/STANDARD_RU.md
  docs/site/_includes/getting_started/vcd/layouts/WITH_NAT.md
  docs/site/_includes/getting_started/vcd/layouts/WITH_NAT_RU.md
  docs/site/_includes/getting_started/vcd/partials/config.ru.yml.with_nat.other.inc
  docs/site/_includes/getting_started/vcd/partials/config.yml.with_nat.other.inc
  docs/site/images/gs/cloud-provider-vcd/vcd-withnat.png
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-instance_class.yaml
  ee/candi/cloud-providers/vcd/openapi/instance_class.yaml
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, status/backport, area/api-change

#15362 [docs] Delete quotation for default values in OpenAPI schemas
  docs/documentation/_plugins/render-jsonschema.rb
  docs/site/_plugins/render-jsonschema.rb
Labels: area/docs, status/backport

#15460 Backport: [docs] Delete quotation for default values in OpenAPI schemas
  docs/documentation/_plugins/render-jsonschema.rb
  docs/site/_plugins/render-jsonschema.rb
Labels: auto, backported

#15338 [docs] Update info about integrity control
  docs/documentation/images/architecture/security/integrity-control-en.png
  docs/documentation/images/architecture/security/integrity-control-system-applications-en.png
  docs/documentation/images/architecture/security/integrity-control-system-applications-en.puml
  docs/documentation/images/architecture/security/integrity-control-system-applications.png
  docs/documentation/images/architecture/security/integrity-control-system-applications.puml
  docs/documentation/images/architecture/security/integrity-control-user-applications-en.png
  docs/documentation/images/architecture/security/integrity-control-user-applications-en.puml
  docs/documentation/images/architecture/security/integrity-control-user-applications.png
  docs/documentation/images/architecture/security/integrity-control-user-applications.puml
  docs/documentation/images/architecture/security/integrity-control.png
  docs/documentation/pages/architecture/security/INTEGRITY-CONTROL.md
  docs/documentation/pages/architecture/security/INTEGRITY-CONTROL_RU.md
Labels: area/docs

#15456 [deckhouse] fix inject registry values
  go.mod
  go.sum
Labels: type/dependencies, area/core, e2e/cluster/failed

#15464 [ingress-controller] Fixing the build and template tests of ingress controllers versions 1.10 and 1.9.
  modules/402-ingress-nginx/images/controller-1-10/patches/010-nginx-build.patch
  modules/402-ingress-nginx/images/controller-1-10/werf.inc.yaml
  modules/402-ingress-nginx/images/controller-1-9/patches/ingress-nginx/011-nginx-build.patch
  modules/402-ingress-nginx/images/controller-1-9/werf.inc.yaml
  modules/402-ingress-nginx/template_tests/controller_test.go
  modules/402-ingress-nginx/template_tests/testdata/golden/host-port-with-pp/controller/controller.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/host-with-failover/controller/controller.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/lb-with-hide-headers-and-envoy-header-added-and-with-istio/controller/controller.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/lb-with-hide-headers-and-envoy-header-added/controller/controller.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/lb-with-hide-headers-and-with-istio/controller/controller.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/lb-with-hide-headers/controller/controller.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/lb-with-istio/controller/controller.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/lb-with-pp/controller/controller.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/lb-with-terminating/controller/controller.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/lb-without-hpa/controller/controller.yaml
  modules/402-ingress-nginx/template_tests/testdata/golden/lb/controller/controller.yaml
Labels: area/network, skip/documentation-validation, e2e/cluster/failed, go, e2e/use/k8s/1.30

#15470 Backport: [docs] Add canonical link tag for documentation pages
  docs/site/_includes/head.html
Labels: auto, backported

#15472 Backport: [node-manager] fix update approval hook
  modules/040-node-manager/hooks/update_approval.go
  modules/040-node-manager/hooks/update_node_group_status.go
  modules/040-node-manager/hooks/update_node_group_status_test.go
Labels: auto, backported

#15136 [deckhouse] optional module requirements
  deckhouse-controller/pkg/apis/deckhouse.io/validation/register.go
  deckhouse-controller/pkg/apis/deckhouse.io/validation/validate_module_config.go
  docs/documentation/pages/module-development/DEPENDENCIES.md
  docs/documentation/pages/module-development/DEPENDENCIES_RU.md
  go.mod
  go.sum
  go_lib/dependency/extenders/moduledependency/moduledependency.go
  go_lib/dependency/extenders/moduledependency/moduledependency_blackbox_test.go
Labels: area/docs, type/dependencies, area/core, skip/documentation-validation, go

#15318 [deckhouse-controller] Forbid pre-release versions fetching
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
  deckhouse-controller/pkg/controller/deckhouse-release/check_release_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/migrated-module-not-enabled.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/prerelease-version-blocked-from-channel.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/prerelease-version-blocked-with-step-by-step.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/prerelease-version-blocked-from-channel.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/prerelease-version-blocked-with-step-by-step.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/module_release_fetcher.go
Labels: area/core, go

#15474 Backport: Changelog v1.72.2
  CHANGELOG/CHANGELOG-v1.72.2.yml
  CHANGELOG/CHANGELOG-v1.72.md
Labels: auto, backported

#15475 Backport: [ingress-nginx] fix nginx segfault when opentelemetry is enabled
  modules/402-ingress-nginx/images/controller-1-10/werf.inc.yaml
Labels: auto, backported

#15462 fix: Fixed set_annotation_validation_suspended.go hook
  docs/documentation/_data/deckhouse-alerts.yml
  modules/402-ingress-nginx/hooks/set_annotation_validation_suspended.go
  modules/402-ingress-nginx/hooks/set_annotation_validation_suspended_test.go
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
Labels: area/network, area/docs, status/backport, go

#15156 [deckhouse-controller] coordinate restart after all concurrent ApplyR…
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
Labels: area/core, go

#15449 [deckhouse] Remove editions enum from config-values
  modules/002-deckhouse/openapi/config-values.yaml
  modules/002-deckhouse/openapi/doc-ru-config-values.yaml
Labels: area/api-change

#14740 [docs][new structure] Update monitoring section
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/admin/configuration/logging/STORAGE_RU.md
  docs/documentation/pages/admin/configuration/monitoring/ALERTS.md
  docs/documentation/pages/admin/configuration/monitoring/ALERTS_INTEGRATIONS.md
  docs/documentation/pages/admin/configuration/monitoring/ALERTS_INTEGRATIONS_RU.md
  docs/documentation/pages/admin/configuration/monitoring/ALERTS_LIST.md
  docs/documentation/pages/admin/configuration/monitoring/ALERTS_LIST_RU.md
  docs/documentation/pages/admin/configuration/monitoring/CONFIGURING.md
  docs/documentation/pages/admin/configuration/monitoring/FAQ.md
  docs/documentation/pages/admin/configuration/monitoring/FAQ_RU.md
  docs/documentation/pages/admin/configuration/monitoring/OVERVIEW_RU.md
  docs/documentation/pages/admin/configuration/monitoring/PROMETHEUS.md
  docs/documentation/pages/admin/configuration/monitoring/PROMETHEUS_RU.md
  docs/documentation/pages/admin/configuration/monitoring/SLA.md
  docs/documentation/pages/admin/configuration/monitoring/SLA_RU.md
  docs/documentation/pages/admin/configuration/monitoring/STATUS.md
  docs/documentation/pages/admin/configuration/monitoring/STATUS_RU.md
  docs/documentation/pages/admin/configuration/monitoring/configuring/EXTERNAL_ACCESS.md
  docs/documentation/pages/admin/configuration/monitoring/configuring/EXTERNAL_ACCESS_RU.md
  docs/documentation/pages/admin/configuration/monitoring/configuring/LONGTERM_STORAGE.md
  docs/documentation/pages/admin/configuration/monitoring/configuring/LONGTERM_STORAGE_RU.md
  docs/documentation/pages/admin/configuration/monitoring/configuring/NETWORK_AND_PODS.md
  docs/documentation/pages/admin/configuration/monitoring/configuring/NETWORK_AND_PODS_RU.md
  docs/documentation/pages/architecture/LOGGING.md
  docs/documentation/pages/architecture/logging/LOGGING.md
  docs/documentation/pages/architecture/logging/LOGGING_RU.md
  docs/documentation/pages/architecture/logging/STORAGE.md
  docs/documentation/pages/architecture/logging/STORAGE_RU.md
  docs/documentation/pages/architecture/monitoring/OVERVIEW_RU.md
  docs/documentation/pages/user/LOGGING_RU.md
  docs/documentation/pages/user/monitoring/APP_RU.md
  docs/documentation/pages/user/monitoring/OVERVIEW_RU.md
Labels: area/docs

#15488 [deckhouse-controller] fix: race condition in concurrent tests with fakeCloak
  go_lib/dependency/dependency.go
Labels: area/core, go

#15415 [docs] Update platform editions section in DVP docs
  docs/site/_data/virtualization-platform/comparison.yaml
  docs/site/pages/virtualization-platform/documentation/about/EDITIONS.md
  docs/site/pages/virtualization-platform/documentation/about/EDITIONS_RU.md
  docs/site/pages/virtualization-platform/documentation/about/RELEASE_CHANNELS.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/BASE_CLUSTER.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/PREPARE.md
  docs/site/pages/virtualization-platform/documentation/admin/removing/REMOVING.md
  docs/site/pages/virtualization-platform/documentation/admin/update/UPDATE.md
Labels: area/docs

#15482 [docs][user-authz] Fix example
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: area/auth, area/docs, status/backport

#15490 Backport: [docs][user-authz] Fix example
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: auto, backported

#15491 Backport: [docs][user-authz] Fix example
  modules/140-user-authz/docs/USAGE.md
  modules/140-user-authz/docs/USAGE_RU.md
Labels: auto, backported

#15272 [dhctl] Update cluster-bootstrapper.go message
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
Labels: area/cli, go

#15505 Backport: [docs] Containerdv2 migration FAQ fix
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#15503 remove collector funcs
  pkg/metrics-storage/README.md
  pkg/metrics-storage/metric_storage.go
  pkg/metrics-storage/storage.go
Labels: type/bug, skip/documentation-validation, go

#15478 [dhctl] fix(dhctl-for-commander): make ssh keys optional in attach operation
  dhctl/pkg/operations/commander/attach/attacher.go
  dhctl/pkg/server/rpc/dhctl/commander_attach.go
  dhctl/pkg/server/rpc/dhctl/commander_detach.go
Labels: area/cli, status/backport, go

#15508 Backport: [dhctl] Add output for SSH client start
  dhctl/pkg/system/node/gossh/client.go
Labels: auto, backported

#15510 [docs][new structure] Add navigation buttons. Update Installation section
  docs/documentation/.werf/nginx.conf
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/_includes/navigation.html
  docs/documentation/_layouts/page.html
  docs/documentation/_plugins/custom_hooks.rb
  docs/documentation/_plugins/navigation_helper.rb
  docs/documentation/pages/OVERVIEW.md
  docs/documentation/pages/OVERVIEW_RU.md
  docs/documentation/pages/README.md
  docs/documentation/pages/README_RU.md
  docs/documentation/pages/admin/configuration/OVERVIEW.md
  docs/documentation/pages/admin/configuration/OVERVIEW_RU.md
  docs/documentation/pages/architecture/OVERVIEW.md
  docs/documentation/pages/architecture/OVERVIEW_RU.md
  docs/documentation/pages/installing/CONFIGURATION.md
  docs/documentation/pages/installing/CONFIGURATION_RU.md
  docs/documentation/werf-documentation-static.inc.yaml
  docs/documentation/werf-git-section-modules-bundles.inc.yaml
  docs/documentation/werf-git-section-modules.inc.yaml
  docs/documentation/werf-modules-static.inc.yaml
  docs/site/.helm/templates/_rewrites.tpl
  docs/site/_config.yml
  docs/site/_includes/head-site.html
  docs/site/_includes/navigation.html
  docs/site/_layouts/page.html
  docs/site/assets/css/navigation.css
  docs/site/werf-web-frontend.inc.yaml
Labels: area/docs

#15275 [cni] Add new logic to merge the parameters from the moduleConfig CNI and d8-cni-configuration secret.
  docs/documentation/_data/deckhouse-alerts.yml
  docs/site/_includes/getting_started/openstack_vk/partials/config.ru.yml.standard.other.inc
  docs/site/_includes/getting_started/openstack_vk/partials/config.yml.standard.other.inc
  modules/021-cni-cilium/hooks/check_cni_configuration.go
  modules/021-cni-cilium/hooks/check_cni_configuration_test.go
  modules/021-cni-cilium/hooks/set_cilium_mode.go
  modules/021-cni-cilium/hooks/set_cilium_mode_test.go
  modules/035-cni-flannel/hooks/check_cni_configuration.go
  modules/035-cni-flannel/hooks/check_cni_configuration_test.go
  modules/035-cni-flannel/hooks/set_pod_network_mode.go
  modules/035-cni-flannel/hooks/set_pod_network_mode_test.go
  modules/035-cni-simple-bridge/hooks/check_cni_configuration.go
  modules/035-cni-simple-bridge/hooks/check_cni_configuration_test.go
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/cni-checks.yaml
Labels: area/monitoring, area/network, area/docs, go

#15516 [metrics-storage] Make prefix optional
  pkg/metrics-storage/metric_storage.go
  pkg/metrics-storage/metric_storage_test.go
Labels: go

#15524 Backport: [dhctl] fix(dhctl-for-commander): fix dhctl server logging
  dhctl/pkg/server/server/proxy.go
  dhctl/pkg/server/server/proxy_test.go
  dhctl/pkg/server/server/server.go
Labels: auto, backported

#15388 [dhctl] Refactor resources: reduce APIResources calls
  dhctl/pkg/kubernetes/actions/resources/resouce_ready.go
  dhctl/pkg/kubernetes/actions/resources/resources.go
  dhctl/pkg/kubernetes/client/client.go
Labels: area/cli, status/backport, go

#15525 Backport: [dhctl] Refactor resources: reduce APIResources calls
  dhctl/pkg/kubernetes/actions/resources/resouce_ready.go
  dhctl/pkg/kubernetes/actions/resources/resources.go
  dhctl/pkg/kubernetes/client/client.go
Labels: auto, backported

#15513 [dhctl] Improve ssh client start logic
  dhctl/pkg/system/node/gossh/client.go
Labels: area/cli, status/backport, go

#15521 [candi] fix secretEncryptionKey for kubeadm v1beta4
  candi/control-plane-kubeadm/v1beta4/config.yaml.tpl
Labels: area/cluster-and-infrastructure, status/backport

#15537 Backport: [candi] fix secretEncryptionKey for kubeadm v1beta4
  candi/control-plane-kubeadm/v1beta4/config.yaml.tpl
Labels: auto, backported

#15097 [cloud-provider-huaweicloud] Add default CNI for huawei cloud provider
  ee/modules/030-cloud-provider-huaweicloud/hooks/get_cni_secret.go
  ee/modules/030-cloud-provider-huaweicloud/templates/cni.yaml
Labels: area/cloud-provider, skip/e2e, go

#15255 [cloud-provider-yandex] don't remove machine from LB before drain
  modules/040-node-manager/images/machine-controller-manager/werf.inc.yaml
Labels: area/cluster-and-infrastructure

#15549 Backport: [dhctl] Add timeouts to SSH and fix client stop
  dhctl/pkg/system/node/gossh/client.go
Labels: auto, backported

#15522 [docs] Edit info about trivy scanning conditions
  ee/modules/500-operator-trivy/docs/README.md
  ee/modules/500-operator-trivy/docs/README_RU.md
Labels: area/security, area/docs, status/backport

#15551 Backport: [docs] Edit info about trivy scanning conditions
  ee/modules/500-operator-trivy/docs/README.md
  ee/modules/500-operator-trivy/docs/README_RU.md
Labels: auto, backported

#15554 [dmt] update dmt version to 0.1.37
  .dmtlint.yaml
  tools/dmt-lint.sh
Labels: type/enhancement, area/testing

#15553 [loki] Change stage to Preview
  docs/documentation/_data/sidebars/main.yml
  modules/462-loki/module.yaml
Labels: area/docs, status/backport, area/logs

#15555 Backport: [loki] Change stage to Preview
  docs/documentation/_data/sidebars/main.yml
  modules/462-loki/module.yaml
Labels: auto, backported

#15556 [docs][chore] Update info for the observability module in the comparison table
  docs/documentation/_data/modules/modules-addition.json
  docs/site/backends/docs-builder-template/data/modules_all.json
Labels: area/docs, status/backport

#15558 Backport: [docs][chore] Update info for the observability module in the comparison table
  docs/documentation/_data/modules/modules-addition.json
  docs/site/backends/docs-builder-template/data/modules_all.json
Labels: auto, backported

#15421 [user-authn] Refactor DEX rate limit setup
  modules/150-user-authn/templates/dex/ingress.yaml
  modules/150-user-authn/templates/dex/resource-quota.yaml
Labels: area/auth

#15544 [user-authn] Truncate long DexAuthenticator resource names
  modules/150-user-authn/docs/FAQ.md
  modules/150-user-authn/docs/FAQ_RU.md
  modules/150-user-authn/hooks/get_dex_authenticator_crds.go
  modules/150-user-authn/hooks/get_dex_authenticator_crds_test.go
  modules/150-user-authn/openapi/values.yaml
  modules/150-user-authn/template_tests/authenticator_test.go
  modules/150-user-authn/template_tests/authenticator_truncation_test.go
  modules/150-user-authn/template_tests/kubernetes_oauth2client_test.go
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
  modules/150-user-authn/templates/dex-authenticator/ingress.yaml
  modules/150-user-authn/templates/dex-authenticator/secret.yaml
  modules/150-user-authn/templates/dex-authenticator/service.yaml
Labels: area/auth, area/docs, go, area/api-change

#14195 [dhctl] Fix output klog. Wrap klog logs and redirect to our logger
  dhctl/Makefile
  dhctl/cmd/dhctl/commands/server.go
  dhctl/go.mod
  dhctl/go.sum
  dhctl/pkg/log/logger.go
  dhctl/pkg/server/pkg/logger/writer.go
  go.mod
Labels: type/dependencies, area/cli, area/core, go

#15570 Backport: Changelog v1.72.3
  CHANGELOG/CHANGELOG-v1.72.3.yml
  CHANGELOG/CHANGELOG-v1.72.md
Labels: auto, backported

#15526 [docs] DVP documentation sync
  docs/site/_data/sidebars/virtualization-platform.yml
  docs/site/pages/virtualization-platform/documentation/RELEASE_NOTES.md
  docs/site/pages/virtualization-platform/documentation/RELEASE_NOTES.ru.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/DISKS.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/DISKS_RU.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/IMAGES.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/IMAGES_RU.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/SNAPSHOTS.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/SNAPSHOTS_RU.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/VM.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/VM_RU.md
  tools/docs/spelling/dictionaries/dev_OPS.dic
  tools/docs/spelling/wordlist
Labels: area/testing, area/docs

#15533 [upmeter] Add the ability to pass headers in RW
  modules/500-upmeter/crds/doc-ru-upmeterremotewrite.yaml
  modules/500-upmeter/crds/upmeterremotewrite.yaml
  modules/500-upmeter/images/upmeter/src/pkg/monitor/remotewrite/types.go
  modules/500-upmeter/images/upmeter/src/pkg/server/remotewrite/syncer.go
Labels: area/monitoring, status/ok-to-test, go, area/api-change

#15444 [cni-flannel] enable readOnlyRootFilesystem
  modules/035-cni-flannel/images/flanneld/mount-points.yaml
  modules/035-cni-flannel/images/flanneld/werf.inc.yaml
  modules/035-cni-flannel/images/iptables-wrapper-init/mount-points.yaml
  modules/035-cni-flannel/images/iptables-wrapper-init/werf.inc.yaml
  modules/035-cni-flannel/templates/daemonset.yaml
  testing/library/images_tags_generated.go
Labels: area/network, area/testing, go

#15414 [network-gateway] enable readOnlyRootFilesystem
  ee/modules/450-network-gateway/images/dnsmasq/mount-points.yaml
  ee/modules/450-network-gateway/images/dnsmasq/werf.inc.yaml
  ee/modules/450-network-gateway/images/iptables-wrapper-init/mount-points.yaml
  ee/modules/450-network-gateway/images/iptables-wrapper-init/werf.inc.yaml
  ee/modules/450-network-gateway/images/snat/mount-points.yaml
  ee/modules/450-network-gateway/images/snat/werf.inc.yaml
  ee/modules/450-network-gateway/templates/snat-daemonset.yaml
  testing/library/images_tags_generated.go
Labels: area/network, area/testing, go

#15578 Backport: [deckhouse] Ignore labeled objects correctly
  modules/002-deckhouse/templates/validation.yaml
Labels: auto, backported

#15595 [ingress-nginx] Fix severity for NginxIngressValidationIsDisabled alert
  docs/documentation/_data/deckhouse-alerts.yml
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
Labels: area/network, area/docs

#15597 [dmt] Update dmt version to 0.1.38
  tools/dmt-lint.sh
Labels: area/testing

#15606 Backport: [cloud-provider-openstack] fix openstack ccm deployment
  ee/modules/030-cloud-provider-openstack/template_tests/module_test.go
  ee/modules/030-cloud-provider-openstack/templates/cloud-controller-manager/deployment.yaml
Labels: auto, backported

#15564 [docs] Edit info about module's optional requirements
  docs/documentation/pages/module-development/DEPENDENCIES.md
  docs/documentation/pages/module-development/DEPENDENCIES_RU.md
Labels: area/docs, status/backport

#15507 [cloud-provider-vsphere] cloud-data-discoverer fixes
  ee/se-plus/modules/030-cloud-provider-vsphere/images/cloud-data-discoverer/src/discoverer.go
  ee/se-plus/modules/030-cloud-provider-vsphere/templates/cloud-data-discoverer/deployment.yaml
  ee/se-plus/modules/030-cloud-provider-vsphere/templates/cloud-data-discoverer/secret.yaml
  go_lib/cloud-data/reconciler.go
Labels: area/core, go

#15618 [docs][stronghold] Minor fixes
  docs/site/_data/sidebars/stronghold.yml
  docs/site/pages/stronghold/documentation/admin/install/steps/INSTALL.md
  docs/site/pages/stronghold/documentation/admin/install/steps/INSTALL_RU.md
  docs/site/pages/stronghold/documentation/admin/install/steps/PREPARE.md
  docs/site/pages/stronghold/documentation/admin/platform-management/control-plane-settings/ABOUT.md
  docs/site/pages/stronghold/documentation/admin/platform-management/control-plane-settings/PLACEMENT_MANAGEMENT.md
  docs/site/pages/stronghold/documentation/admin/platform-management/control-plane-settings/PLACEMENT_MANAGEMENT_RU.md
  docs/site/pages/stronghold/documentation/admin/standalone/HSM_RU.md
  docs/site/pages/stronghold/documentation/user/concepts/policy.ru.md
Labels: area/docs

#15632 [docs][site] Update topnav
  docs/site/_includes/header.html
Labels: area/docs

#15642 [cni-cilium] Fixed 1.14 -> 1.17 migration mechanism
  modules/021-cni-cilium/images/safe-agent-updater/src/main.go
Labels: area/network, status/backport, go

#15643 Backport: [cni-cilium] Fixed 1.14 -> 1.17 migration mechanism
  modules/021-cni-cilium/images/safe-agent-updater/src/main.go
Labels: auto, backported

#15637 [operator-trivy] fix cve's
  ee/modules/500-operator-trivy/images/node-collector/patches/002-go-mod.patch
  ee/modules/500-operator-trivy/images/node-collector/patches/README.md
  ee/modules/500-operator-trivy/images/report-updater/src/go.mod
  ee/modules/500-operator-trivy/images/report-updater/src/go.sum
  ee/modules/500-operator-trivy/images/report-updater/src/internal/web/hook/hook.go
  ee/modules/500-operator-trivy/images/report-updater/src/internal/web/hook/trivy_types.go
Labels: area/security, type/dependencies, go

#15645 Backport: [runtime-audit-engine] Reduce memory limit floor
  ee/modules/650-runtime-audit-engine/templates/falco-leak-limit-range.yaml
Labels: auto, backported

#15639 [node-manager] CAPI CRD fix
  modules/040-node-manager/crds/cluster.yaml
  modules/040-node-manager/crds/machine-deployment.yaml
  modules/040-node-manager/crds/machine-health-check.yaml
  modules/040-node-manager/crds/machine-pools.yaml
  modules/040-node-manager/crds/machine-sets.yaml
  modules/040-node-manager/crds/machine.yaml
  modules/040-node-manager/templates/capi-controller-manager/deployment.yaml
Labels: area/cluster-and-infrastructure, status/backport, area/api-change

#15649 Backport: [node-manager] CAPI CRD fix
  modules/040-node-manager/crds/cluster.yaml
  modules/040-node-manager/crds/machine-deployment.yaml
  modules/040-node-manager/crds/machine-health-check.yaml
  modules/040-node-manager/crds/machine-pools.yaml
  modules/040-node-manager/crds/machine-sets.yaml
  modules/040-node-manager/crds/machine.yaml
  modules/040-node-manager/templates/capi-controller-manager/deployment.yaml
Labels: auto, backported

#15603 [control-plane-manager] apply custom audit policies after embedded policies
  modules/040-control-plane-manager/hooks/audit_policy.go
  modules/040-control-plane-manager/hooks/audit_policy_test.go
Labels: area/cluster-and-infrastructure, go, e2e/use/k8s/1.32

#15610 Changelog v1.72.5
  CHANGELOG/CHANGELOG-v1.72.5.yml
  CHANGELOG/CHANGELOG-v1.72.md
Labels: changelog, auto, status/backport

#15650 Backport: Changelog v1.72.5
  CHANGELOG/CHANGELOG-v1.72.5.yml
  CHANGELOG/CHANGELOG-v1.72.md
Labels: auto, backported

#15535 [docs][new structure] Add translations for Monitoring and Logging sections
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/admin/configuration/logging/DELIVERY.md
  docs/documentation/pages/admin/configuration/logging/DELIVERY_RU.md
  docs/documentation/pages/admin/configuration/logging/OVERVIEW.md
  docs/documentation/pages/admin/configuration/logging/STORAGE.md
  docs/documentation/pages/admin/configuration/logging/STORAGE_RU.md
  docs/documentation/pages/admin/configuration/monitoring/ALERTS_INTEGRATIONS.md
  docs/documentation/pages/admin/configuration/monitoring/ALERTS_LIST.md
  docs/documentation/pages/admin/configuration/monitoring/OVERVIEW.md
  docs/documentation/pages/admin/configuration/monitoring/OVERVIEW_RU.md
  docs/documentation/pages/admin/configuration/monitoring/PROMETHEUS.md
  docs/documentation/pages/admin/configuration/monitoring/PROMETHEUS_RU.md
  docs/documentation/pages/admin/configuration/monitoring/SLA.md
  docs/documentation/pages/admin/configuration/monitoring/SLA_RU.md
  docs/documentation/pages/admin/configuration/monitoring/configuring/EXTERNAL_ACCESS.md
  docs/documentation/pages/admin/configuration/monitoring/configuring/EXTERNAL_ACCESS_RU.md
  docs/documentation/pages/admin/configuration/monitoring/configuring/LONGTERM_STORAGE.md
  docs/documentation/pages/admin/configuration/monitoring/configuring/LONGTERM_STORAGE_RU.md
  docs/documentation/pages/admin/configuration/monitoring/configuring/NETWORK_AND_PODS.md
  docs/documentation/pages/architecture/logging/LOGGING.md
  docs/documentation/pages/architecture/logging/LOGGING_RU.md
  docs/documentation/pages/architecture/logging/STORAGE.md
  docs/documentation/pages/architecture/logging/STORAGE_RU.md
  docs/documentation/pages/architecture/monitoring/OVERVIEW.md
  docs/documentation/pages/architecture/monitoring/OVERVIEW_RU.md
  docs/documentation/pages/user/LOGGING.md
  docs/documentation/pages/user/LOGGING_RU.md
  docs/documentation/pages/user/monitoring/APP.md
  docs/documentation/pages/user/monitoring/APP_RU.md
  docs/documentation/pages/user/monitoring/OVERVIEW.md
  docs/documentation/pages/user/monitoring/OVERVIEW_RU.md
  tools/docs/spelling/dictionaries/dev_OPS.dic
  tools/docs/spelling/wordlist
Labels: area/testing, area/docs

#15635 [docs][new structure] Add info about optional module's depencies
  docs/documentation/pages/architecture/module-development/DEPENDENCIES.md
  docs/documentation/pages/architecture/module-development/DEPENDENCIES_RU.md
Labels: area/docs

#15594 [docs] Add info about etcd defragmentation
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure

#15593 [user-authn] Fix DEX login denied render
  modules/150-user-authn/images/dex/patches/006-fix-render-error.patch
  modules/150-user-authn/images/dex/patches/README.md
Labels: area/auth

#15661 [site] Fix URL for downloading installer
  docs/site/.helm/templates/20-ingress.yaml
  docs/site/.werf/nginx-dev.conf
  docs/site/.werf/nginx.conf
  docs/site/_includes/getting_started/global/partials/installer/installer_block_ru.html
Labels: area/docs
