Repository deckhouse/deckhouse, pull requests merged in 2025-02, with the labels that each got.

#9994 chore: change e2e key
  testing/cloud_layouts/AWS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/AWS/WithoutNAT/resources.yaml
  testing/cloud_layouts/Azure/Standard/configuration.tpl.yaml
  testing/cloud_layouts/Azure/Standard/resources.yaml
  testing/cloud_layouts/GCP/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/GCP/WithoutNAT/resources.yaml
  testing/cloud_layouts/OpenStack/Standard/configuration.tpl.yaml
  testing/cloud_layouts/OpenStack/Standard/resources.yaml
  testing/cloud_layouts/Static/infra.tpl.tf
  testing/cloud_layouts/Static/resources.tpl.yaml
  testing/cloud_layouts/VCD/Standard/configuration.tpl.yaml
  testing/cloud_layouts/VCD/Standard/resources.tpl.yaml
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/resources.yaml
  testing/cloud_layouts/vSphere/Standard/configuration.tpl.yaml
  testing/cloud_layouts/vSphere/Standard/resources.yaml
Labels: area/testing

#11858 [docs] Fix for removing master node labels to prevent rejoining the cluster
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport

#11862 Backport: [docs] Fix for removing master node labels to prevent rejoining the cluster
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#11094 [huaweicloud] Add documentation
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/werf-git-section.inc.yaml
  docs/site/_config.yml
  docs/site/_data/getting_started/dkp_data.yaml
  docs/site/_includes/getting_started/huaweicloud/STEP_ENV.md
  docs/site/_includes/getting_started/huaweicloud/STEP_ENV_RU.md
  docs/site/_includes/getting_started/huaweicloud/layouts/STANDARD.md
  docs/site/_includes/getting_started/huaweicloud/layouts/STANDARD_RU.md
  docs/site/_includes/getting_started/huaweicloud/partials/config.ru.yml.standard.other.inc
  docs/site/_includes/getting_started/huaweicloud/partials/config.yml.standard.other.inc
  docs/site/images/icons/platforms/huaweicloud.png
  ee/candi/cloud-providers/huaweicloud/docs/CLUSTER_CONFIGURATION.md
  ee/candi/cloud-providers/huaweicloud/docs/CLUSTER_CONFIGURATION_RU.md
  ee/candi/cloud-providers/huaweicloud/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/huaweicloud/docs/ENVIRONMENT_RU.md
  ee/candi/cloud-providers/huaweicloud/docs/LAYOUTS.md
  ee/candi/cloud-providers/huaweicloud/docs/LAYOUTS_RU.md
  ee/candi/cloud-providers/huaweicloud/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/huaweicloud/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/huaweicloud/openapi/doc-ru-instance_class.yaml
  ee/candi/cloud-providers/huaweicloud/openapi/instance_class.yaml
  ee/modules/030-cloud-provider-huaweicloud/docs/CONFIGURATION.md
  ee/modules/030-cloud-provider-huaweicloud/docs/CONFIGURATION_RU.md
  ee/modules/030-cloud-provider-huaweicloud/docs/CR.md
  ee/modules/030-cloud-provider-huaweicloud/docs/CR_RU.md
  ee/modules/030-cloud-provider-huaweicloud/docs/README.md
  ee/modules/030-cloud-provider-huaweicloud/docs/README_RU.md
  ee/modules/030-cloud-provider-huaweicloud/openapi/values.yaml
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, skip/documentation-validation, area/api-change

#11804 [docs] Update alert descriptions
  docs/documentation/_data/deckhouse-alerts.yml
  ee/se-plus/modules/021-cni-cilium/monitoring/prometheus-rules/egressgatewaypolicies.yaml
  modules/021-cni-cilium/monitoring/prometheus-rules/agent.yaml
  modules/021-cni-cilium/monitoring/prometheus-rules/cni-checks.yaml
  modules/021-cni-cilium/monitoring/prometheus-rules/configmap.yaml
  modules/030-cloud-provider-yandex/monitoring/prometheus-rules/deprecated_availability_zone.yaml
  modules/030-cloud-provider-yandex/monitoring/prometheus-rules/nat-instance.tpl
  modules/035-cni-flannel/monitoring/prometheus-rules/cni-checks.yaml
  modules/035-cni-simple-bridge/monitoring/prometheus-rules/cni-checks.yaml
  modules/040-control-plane-manager/monitoring/prometheus-rules/control-plane-manager.yaml
  modules/040-control-plane-manager/monitoring/prometheus-rules/etcd-maintenance.yaml
  modules/810-documentation/monitoring/prometheus-rules/deprecated-mc.yaml
Labels: area/docs

#11782 [docs] fix update policy docs
  docs/documentation/pages/module-development/EXAMPLE.md
  docs/documentation/pages/module-development/EXAMPLE_RU.md
Labels: area/docs

#11529 [candi] Bump Deckhouse CLI to v0.9.3
  candi/version_map.yml
Labels: area/kubernetes, area/cluster-and-infrastructure, skip/copyright-validation, skip/documentation-validation, skip/no-cyrillic-validation, skip/e2e

#11587 [upmeter] Chore: update to go 1.23 and deduplicate a probe
  modules/500-upmeter/images/smoke-mini/werf.inc.yaml
  modules/500-upmeter/images/upmeter/.golangci.yaml
  modules/500-upmeter/images/upmeter/Makefile
  modules/500-upmeter/images/upmeter/go.mod
  modules/500-upmeter/images/upmeter/go.sum
  modules/500-upmeter/images/upmeter/pkg/probe/group_monitoring_and_autoscaling.go
  modules/500-upmeter/images/upmeter/pkg/server/remotewrite/exporter.go
  modules/500-upmeter/images/upmeter/werf.inc.yaml
Labels: area/monitoring, type/dependencies, go

#11439 [docs] update API endpoints for document handling in docs-builder
  docs/site/backends/docs-builder/internal/http/v1/handler.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/sender/sender.go
Labels: area/docs, go

#11688 [docs] improve docs remove module
  docs/site/backends/registry-modules-watcher/cmd/main.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/cache/cache.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/cache/cache_test.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/process.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/registry-scaner.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/sender/sender.go
  docs/site/backends/registry-modules-watcher/internal/watcher/watcher.go
  docs/site/backends/registry-modules-watcher/pkg/registry-client/registry-client.go
Labels: area/docs, go

#11494 [deckhouse-controller] fix kubectl wrapper script
  deckhouse-controller/files/kubectl_wrapper.sh
Labels: area/core, e2e/cluster/failed

#11856 [registrypackages] fix go install deps in d8
  modules/007-registrypackages/images/d8/werf.inc.yaml
Labels: area/core

#11874 [prometheus] fix promu
  modules/300-prometheus/images/memcached/werf.inc.yaml
Labels: area/monitoring

#11821 [runtime-audit-engine] optimized falco-artifact image size
  ee/modules/650-runtime-audit-engine/images/falco/werf.inc.yaml
Labels: area/security

#11481 [admission-policy-engine] Fix rendering constraints
  modules/015-admission-policy-engine/templates/_helpers.tpl
  modules/015-admission-policy-engine/templates/policies/security-policy/constraint.yaml
Labels: area/security, e2e/cluster/failed

#11769 [deckhouse-controller] added check for enabled modules before getting debug logs
  deckhouse-controller/pkg/debug/debug.go
Labels: area/core, go

#11817 [operator-trivy] refactor build, use go mod download instead tidy
  ee/modules/500-operator-trivy/images/operator/patches/008-bump-dependencies.patch
  ee/modules/500-operator-trivy/images/operator/werf.inc.yaml
Labels: area/security

#10439 [cloud-provider-aws] Added the ability to specify your IAM role
  candi/cloud-providers/aws/layouts/standard/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/with-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/without-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  modules/030-cloud-provider-aws/docs/FAQ.md
  modules/030-cloud-provider-aws/docs/FAQ_RU.md
  tools/docs/spelling/dictionaries/dev_OPS.dic
Labels: area/cloud-provider, area/testing, area/docs, area/cluster-and-infrastructure, area/api-change

#11839 [extended-monitoring] Bump k8s-image-availability-exporter
  modules/340-extended-monitoring/images/image-availability-exporter/werf.inc.yaml
Labels: area/monitoring, status/ok-to-test

#11877 [ci] fix package proxy in ssh-static
  werf.yaml
Labels: area/core, skip/e2e

#11792 [extended-monitoring] Fix x509-certificate-exporter metrics port
  modules/340-extended-monitoring/templates/x509-certificate-exporter/deployment.yaml
  modules/340-extended-monitoring/templates/x509-certificate-exporter/podmonitor.yaml
Labels: area/monitoring

#11694 [prometheus] Improve prometheus rolling update
  ee/fe/modules/300-prometheus/templates/prometheus/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring, status/ok-to-test

#11748 [docs] Remove outdated info about ceph packages
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/node-management/ADDING_NODE.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/node-management/ADDING_NODE_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/node-management/NODE_GROUP.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/node-management/NODE_GROUP_RU.md
  modules/040-node-manager/docs/EXAMPLES.md
  modules/040-node-manager/docs/EXAMPLES_RU.md
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: area/docs, area/cluster-and-infrastructure, skip/documentation-validation, status/backport

#11866 Build fix 1.66
  modules/000-common/images/csi-external-provisioner/patches/v5.1.0/001-go-mod.patch
  modules/000-common/images/csi-external-provisioner/werf.inc.yaml
  modules/460-log-shipper/images/vector/werf.inc.yaml
  testing/cloud_layouts/AWS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/AWS/WithoutNAT/resources.yaml
  testing/cloud_layouts/Azure/Standard/configuration.tpl.yaml
  testing/cloud_layouts/Azure/Standard/resources.yaml
  testing/cloud_layouts/GCP/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/GCP/WithoutNAT/resources.yaml
  testing/cloud_layouts/OpenStack/Standard/configuration.tpl.yaml
  testing/cloud_layouts/OpenStack/Standard/resources.yaml
  testing/cloud_layouts/Static/infra.tpl.tf
  testing/cloud_layouts/Static/resources.tpl.yaml
  testing/cloud_layouts/VCD/Standard/configuration.tpl.yaml
  testing/cloud_layouts/VCD/Standard/resources.tpl.yaml
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/resources.yaml
  testing/cloud_layouts/vSphere/Standard/configuration.tpl.yaml
  testing/cloud_layouts/vSphere/Standard/resources.yaml
Labels: area/testing, area/logs

#11795 Changelog v1.66.4
  CHANGELOG/CHANGELOG-v1.66.4.yml
  CHANGELOG/CHANGELOG-v1.66.md
Labels: changelog, auto, status/backport

#11888 Backport: Changelog v1.66.4
  CHANGELOG/CHANGELOG-v1.66.4.yml
  CHANGELOG/CHANGELOG-v1.66.md
Labels: auto, backported

#10861 [cloud-provider-aws] bump version aws-node-termination-handler
  modules/030-cloud-provider-aws/images/node-termination-handler/werf.inc.yaml
  modules/030-cloud-provider-aws/templates/node-termination-handler/daemonset.yaml
Labels: area/cloud-provider

#11872 [istio] Fix alliance.ingressGateway.advertise option address in api item
  modules/110-istio/openapi/config-values.yaml
Labels: area/network, skip/documentation-validation, area/api-change, e2e/use/k8s/1.28

#11095 [candi][cloud-provider-yandex] Allow to customize NAT instance CPU platform, instead of hardcoded value
  candi/cloud-providers/yandex/layouts/with-nat-instance/base-infrastructure/main.tf
  candi/cloud-providers/yandex/layouts/with-nat-instance/variables.tf
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/terraform-modules/vpc-components/nat_instance.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/variables.tf
  modules/030-cloud-provider-yandex/hooks/yandex_cluster_configuration_test.go
Labels: area/cloud-provider, area/cluster-and-infrastructure, go, area/api-change

#11897 feat: update dmtlint configuration and bump DMT version to 0.0.29
  .dmtlint.yaml
  tools/dmt-lint.sh
Labels: area/testing

#11788 [prometheus] Fix uid mistake
  modules/300-prometheus/hooks/grafana_additional_datasource.go
  modules/300-prometheus/hooks/grafana_additional_datasource_test.go
  modules/300-prometheus/openapi/openapi-case-tests.yaml
  modules/300-prometheus/openapi/values.yaml
Labels: area/monitoring, status/ok-to-test, go, area/api-change

#11902 [deckhouse-controller] Skip requirement if not registered
  deckhouse-controller/pkg/controller/deckhouse-release/updater/requirements_checker.go
  go_lib/dependency/requirements/requirements.go
  go_lib/updater/updater.go
Labels: area/core, status/backport, go

#11232 [prometheus] Update Grafana panels types `graph` -> `timeseries`
  modules/021-cni-cilium/monitoring/grafana-dashboards/kubernetes-cluster/cilium-agent.json
  modules/042-kube-dns/monitoring/grafana-dashboards/kubernetes-cluster/dns/dns-coredns.json
  modules/300-prometheus/monitoring/grafana-dashboards/kubernetes-cluster/aggregating-proxy-cache.json
  modules/340-monitoring-kubernetes-control-plane/monitoring/grafana-dashboards/kubernetes-cluster/control-plane-status.json
  modules/340-monitoring-kubernetes-control-plane/monitoring/grafana-dashboards/kubernetes-cluster/kube-etcd3.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/kubernetes-cluster/nodes/ping-exporter-external.json
  modules/340-monitoring-kubernetes/monitoring/grafana-dashboards/kubernetes-cluster/nodes/ping-exporter-nodes.json
Labels: area/monitoring, area/network, area/cluster-and-infrastructure

#11847 [admission-policy-engine] Fix no data metrics
  modules/015-admission-policy-engine/images/constraint-exporter/src/pkg/gatekeeper/metrics.go
  modules/015-admission-policy-engine/monitoring/grafana-dashboards/security/admission-policy-engine.json
Labels: area/security, status/ok-to-test, go

#11907 [deckhouse-controller] Skip requirement if not registered
  go_lib/dependency/requirements/requirements.go
Labels: area/core, skip/e2e, go

#11908 Backport: [deckhouse-controller] Skip requirement if not registered
  go_lib/dependency/requirements/requirements.go
Labels: auto, backported

#11914 Backport: [cni-flannel] Fixing a faulty check in the `cni-flannel` module.
  modules/035-cni-flannel/hooks/check_cni_configuration.go
  modules/035-cni-flannel/hooks/check_cni_configuration_test.go
Labels: auto, backported

#11819 Changelog v1.67.11
  CHANGELOG/CHANGELOG-v1.67.11.yml
  CHANGELOG/CHANGELOG-v1.67.md
Labels: changelog, auto, status/backport

#11917 Backport: Changelog v1.67.11
  CHANGELOG/CHANGELOG-v1.67.11.yml
  CHANGELOG/CHANGELOG-v1.67.md
Labels: auto, backported

#11789 docs: transferring information from the virtualization module to the DVP
  docs/site/_data/sidebars/virtualization-platform.yml
  docs/site/pages/virtualization-platform/ABOUT.md
  docs/site/pages/virtualization-platform/ABOUT_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/OVERVIEW.md
  docs/site/pages/virtualization-platform/documentation/admin/OVERVIEW_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/virtualization/CLUSTER_IMAGES.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/virtualization/CLUSTER_IMAGES_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/virtualization/RELIABILITY.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/virtualization/RELIABILITY_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/virtualization/VIRTUAL_MACHINE_CLASSES.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/virtualization/VIRTUAL_MACHINE_CLASSES_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/update/UPDATE.md
  docs/site/pages/virtualization-platform/documentation/admin/update/UPDATE_RU.md
  docs/site/pages/virtualization-platform/documentation/user/network/VM.PUBLISHING.md
  docs/site/pages/virtualization-platform/documentation/user/network/VM.PUBLISHING_RU.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/DISKS.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/DISKS_RU.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/IMAGES.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/IMAGES_RU.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/SNAPSHOTS_RU.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/VM.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/VM_RU.md
Labels: area/docs, skip/documentation-validation

#11892 [user-authn] Add conversion description
  .dmtlint.yaml
  docs/documentation/_data/conversions.yml
  modules/150-user-authn/openapi/conversions/v2.yaml
  tools/dmt-lint.sh
Labels: area/auth, area/testing, area/docs, skip/no-cyrillic-validation

#11653 update build operator-trivy
  ee/modules/500-operator-trivy/images/trivy/werf.inc.yaml
Labels: area/security

#11558 [chrony] fixed cve in chrony-exporter
  modules/470-chrony/images/chrony-exporter/patches/go_mod.patch
  modules/470-chrony/images/chrony-exporter/werf.inc.yaml
Labels: area/cluster-and-infrastructure

#11919 Backport: Changelog v1.66.5
  CHANGELOG/CHANGELOG-v1.66.5.yml
  CHANGELOG/CHANGELOG-v1.66.md
Labels: auto, backported

#11883 [docs] Add info about zones behaviour at cloud providers
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/se-plus/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/se-plus/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, status/backport, area/api-change

#11923 Backport: [docs] Add info about zones behaviour at cloud providers
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/se-plus/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/se-plus/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#11901 [docs] Fixed duplicate modules from oss.yaml
  docs/documentation/_tools/modules_generate_ossinfo.sh
Labels: area/docs, skip/documentation-validation

#8052 [documentation] Fix redirection issue for some assets.
  modules/810-documentation/templates/configmap.yaml
Labels: area/docs

#11583 [docs] Fix CVE in docs-builder
  docs/site/backends/docs-builder/go.mod
  docs/site/backends/docs-builder/go.sum
  docs/site/werf-docs-builder.inc.yaml
  docs/site/werf.yaml
Labels: area/docs, type/dependencies

#11906 [registrypackages] added static resize2fs in e2fsprogs
  candi/bashible/common-steps/all/003_install_mandatory_packages.sh.tpl
  modules/007-registrypackages/images/e2fsprogs/scripts/install
  modules/007-registrypackages/images/e2fsprogs/scripts/uninstall
  modules/007-registrypackages/images/e2fsprogs/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/cluster-and-infrastructure, area/core, go

#11891 [registrypackages] fix package proxy in build crictl
  modules/007-registrypackages/images/crictl/werf.inc.yaml
Labels: area/core, skip/e2e

#11418 [user-authz] fix can-i api request
  ee/be/modules/140-user-authz/images/webhook/src/internal/cache/cache.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/cache/cache_test.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/cache/retry.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/web/hook/handler.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/web/hook/handler_test.go
Labels: go

#11878 [dhctl] Fix Stronghold pv delete
  dhctl/pkg/kubernetes/actions/deckhouse/delete.go
  dhctl/pkg/operations/destroy/deckhouse.go
Labels: area/cli, go

#11765 [cloud-provider-yandex] fix CVEs
  candi/version_map.yml
Labels: area/kubernetes, area/cluster-and-infrastructure, e2e/use/k8s/1.27, e2e/use/k8s/1.28, e2e/use/k8s/1.29, e2e/use/k8s/1.30, e2e/use/k8s/1.31

#11918 [docs] Fix the display of the list in the header
  docs/site/_assets/css/components/_header.scss
Labels: area/docs

#11591 [monitoring-kubernetes] fix cve in sources and update build
  modules/340-monitoring-kubernetes/images/kube-state-metrics/werf.inc.yaml
Labels: area/monitoring, e2e/cluster/failed

#11500 [monitoring-applications] Migrate dashboards from deprecated graph type
  ee/fe/modules/340-monitoring-applications/applications/elasticsearch/grafana-dashboards/elasticsearch.json
  ee/fe/modules/340-monitoring-applications/applications/loki/grafana-dashboards/loki.json
  ee/fe/modules/340-monitoring-applications/applications/memcached/grafana-dashboards/memcached.json
  ee/fe/modules/340-monitoring-applications/applications/nats/grafana-dashboards/nats-legacy.json
  ee/fe/modules/340-monitoring-applications/applications/nats/grafana-dashboards/nats.json
  ee/fe/modules/340-monitoring-applications/applications/php-fpm/grafana-dashboards/php-fpm.json
  ee/fe/modules/340-monitoring-applications/applications/prometheus/grafana-dashboards/prometheus.json
  ee/fe/modules/340-monitoring-applications/applications/redis/grafana-dashboards/redis.json
Labels: status/ok-to-test

#11910 Add module.yaml for monitoring modules
  .dmtlint.yaml
  deckhouse-controller/pkg/controller/moduleloader/types/definition_test.go
  modules/300-prometheus/enabled
  modules/300-prometheus/module.yaml
  modules/301-prometheus-metrics-adapter/enabled
  modules/301-prometheus-metrics-adapter/module.yaml
  modules/302-vertical-pod-autoscaler/enabled
  modules/302-vertical-pod-autoscaler/module.yaml
  modules/303-prometheus-pushgateway/enabled
  modules/303-prometheus-pushgateway/module.yaml
  modules/340-extended-monitoring/enabled
  modules/340-extended-monitoring/module.yaml
  modules/340-monitoring-custom/enabled
  modules/340-monitoring-custom/module.yaml
  modules/340-monitoring-deckhouse/enabled
  modules/340-monitoring-deckhouse/module.yaml
  modules/340-monitoring-kubernetes-control-plane/enabled
  modules/340-monitoring-kubernetes-control-plane/module.yaml
  modules/340-monitoring-kubernetes/enabled
  modules/340-monitoring-kubernetes/module.yaml
  modules/340-monitoring-ping/enabled
  modules/340-monitoring-ping/module.yaml
Labels: area/monitoring, area/core, area/scaling, go

#11785 [prometheus] grafana 10 cse refactor build
  modules/300-prometheus/images/grafana-dashboard-provisioner/werf.inc.yaml
  modules/300-prometheus/images/grafana-v10/werf.inc.yaml
  modules/300-prometheus/images/memcached/werf.inc.yaml
Labels: area/monitoring

#11595 [log-shipper] update vector to 0.44
  modules/460-log-shipper/images/vector/werf.inc.yaml
Labels: status/ok-to-test, area/logs

#11899 [deckhouse] fix overridden stuck in source
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
Labels: area/core, go

#10955 [pkg] fix/add logger const
  pkg/log/handler.go
  pkg/log/output.go
Labels: type/enhancement, go

#11893 [docs] feat/registry watcher replace klog to deckhouse logger
  Makefile
  docs/site/backends/registry-modules-watcher/cmd/main.go
  docs/site/backends/registry-modules-watcher/go.mod
  docs/site/backends/registry-modules-watcher/go.sum
  docs/site/backends/registry-modules-watcher/internal/backends/backends.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/cache/cache_test.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/process.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/registry-scaner.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/sender/sender.go
  docs/site/backends/registry-modules-watcher/internal/watcher/watcher.go
  docs/site/backends/registry-modules-watcher/pkg/registry-client/registry-client.go
Labels: area/docs, type/dependencies, go

#11942 [docs] Fix modules watcher log level configuration
  docs/site/.helm/templates/15-modules-watcher.yaml
  docs/site/.helm/values.yaml
Labels: area/docs

#11909 [deckhouse] limit pulled modules
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  go_lib/dependency/cr/cr.go
Labels: area/core, go

#11924 [terraform-manager] cve fix terraform-manager-yandex
  modules/040-terraform-manager/images/terraform-manager-yandex/patches/bump_packages_version.patch
  modules/040-terraform-manager/images/terraform-manager-yandex/patches/readme.md
  modules/040-terraform-manager/images/terraform-manager-yandex/werf.inc.yaml
Labels: area/cluster-and-infrastructure

#11808 [istio] Protocol detect for publicServices in federation
  ee/modules/110-istio/crds/istiofederation.yaml
  ee/modules/110-istio/hooks/ee/alliance_metadata_merge_test.go
  ee/modules/110-istio/hooks/ee/federation_discovery.go
  ee/modules/110-istio/hooks/ee/federation_discovery_test.go
  ee/modules/110-istio/hooks/ee/lib/crd/istiofederation.go
  ee/modules/110-istio/templates/federation/remote-services.yaml
  modules/110-istio/openapi/values.yaml
  modules/110-istio/template_tests/module_test.go
Labels: area/network, skip/documentation-validation, go, area/api-change, e2e/use/k8s/1.28

#11876 [node-local-dns] add goproxy
  ee/be/modules/350-node-local-dns/images/stale-dns-connections-cleaner/werf.inc.yaml
Labels: skip/e2e

#11588 [dex] fix cve in sources and update build
  modules/150-user-authn/images/dex-authenticator/patches/0001-go-mod.patch
  modules/150-user-authn/images/dex-authenticator/patches/0002-cookie-refresh.patch
  modules/150-user-authn/images/dex-authenticator/patches/0003-remove-groups.patch
  modules/150-user-authn/images/dex-authenticator/patches/README.md
  modules/150-user-authn/images/dex-authenticator/werf.inc.yaml
  modules/150-user-authn/images/dex/patches/0001-go-mod.patch
  modules/150-user-authn/images/dex/patches/0002-bytes-and-string-certificates.patch
  modules/150-user-authn/images/dex/patches/0003-client-groups.patch
  modules/150-user-authn/images/dex/patches/0004-fix-offline-session-updates.patch
  modules/150-user-authn/images/dex/patches/0005-gitlab-refresh-context.patch
  modules/150-user-authn/images/dex/patches/0006-static-user-groups.patch
  modules/150-user-authn/images/dex/patches/README.md
  modules/150-user-authn/images/dex/src/web/robots.txt
  modules/150-user-authn/images/dex/src/web/static/img/atlassian-crowd-icon.svg
  modules/150-user-authn/images/dex/src/web/static/img/background.jpg
  modules/150-user-authn/images/dex/src/web/static/img/bitbucket-cloud-icon.svg
  modules/150-user-authn/images/dex/src/web/static/img/deckhouse-logo-icon.svg
  modules/150-user-authn/images/dex/src/web/static/img/deckhouse-logo-title.svg
  modules/150-user-authn/images/dex/src/web/static/img/favicon.png
  modules/150-user-authn/images/dex/src/web/static/img/flant-logo-en.svg
  modules/150-user-authn/images/dex/src/web/static/img/flant-logo-ru.svg
  modules/150-user-authn/images/dex/src/web/static/img/flant-logo.svg
  modules/150-user-authn/images/dex/src/web/static/img/github-icon.svg
  modules/150-user-authn/images/dex/src/web/static/img/gitlab-icon.svg
  modules/150-user-authn/images/dex/src/web/static/img/google-icon.svg
  modules/150-user-authn/images/dex/src/web/static/img/keystone-icon.svg
  modules/150-user-authn/images/dex/src/web/static/img/ldap-icon.svg
  modules/150-user-authn/images/dex/src/web/static/img/linkedin-icon.svg
  modules/150-user-authn/images/dex/src/web/static/img/local-icon.svg
  modules/150-user-authn/images/dex/src/web/static/img/microsoft-icon.svg
  modules/150-user-authn/images/dex/src/web/static/img/mockCallback-icon.svg
  modules/150-user-authn/images/dex/src/web/static/img/next-icon.svg
  modules/150-user-authn/images/dex/src/web/static/img/oidc-icon.svg
  modules/150-user-authn/images/dex/src/web/static/img/prev-icon.svg
  modules/150-user-authn/images/dex/src/web/static/img/saml-icon.svg
  modules/150-user-authn/images/dex/src/web/static/input.css
  modules/150-user-authn/images/dex/src/web/static/main.css
  modules/150-user-authn/images/dex/src/web/static/output.css
  modules/150-user-authn/images/dex/src/web/tailwind.config.js
  modules/150-user-authn/images/dex/src/web/templates/_check_icon.html
  modules/150-user-authn/images/dex/src/web/templates/approval.html
  modules/150-user-authn/images/dex/src/web/templates/device.html
  modules/150-user-authn/images/dex/src/web/templates/device_success.html
  modules/150-user-authn/images/dex/src/web/templates/error.html
  modules/150-user-authn/images/dex/src/web/templates/footer.html
  modules/150-user-authn/images/dex/src/web/templates/header.html
  modules/150-user-authn/images/dex/src/web/templates/login.html
  modules/150-user-authn/images/dex/src/web/templates/oob.html
  modules/150-user-authn/images/dex/src/web/templates/password.html
  modules/150-user-authn/images/dex/src/web/themes/dark/favicon.png
  modules/150-user-authn/images/dex/src/web/themes/dark/logo.png
  modules/150-user-authn/images/dex/src/web/themes/dark/styles.css
  modules/150-user-authn/images/dex/src/web/themes/light/favicon.png
  modules/150-user-authn/images/dex/src/web/themes/light/logo.png
  modules/150-user-authn/images/dex/src/web/themes/light/styles.css
  modules/150-user-authn/images/dex/werf.inc.yaml
Labels: area/auth

#11927 [docs] Update alert descriptions
  docs/documentation/_data/deckhouse-alerts.yml
  docs/documentation/_includes/deckhouse-alerts.liquid
  docs/documentation/_plugins/custom_filters.rb
  ee/modules/110-istio/monitoring/prometheus-rules/dataplane.yaml
  ee/modules/110-istio/monitoring/prometheus-rules/federation.yaml
  ee/modules/110-istio/monitoring/prometheus-rules/multicluster.yaml
  ee/modules/380-metallb/monitoring/prometheus-rules/metallb.yaml
  ee/se/modules/380-metallb/monitoring/prometheus-rules/services.yaml
  modules/011-flow-schema/monitoring/prometheus-rules/flow-schema.yaml
  modules/040-node-manager/monitoring/prometheus-rules/node-group.tpl
  modules/042-kube-dns/monitoring/prometheus-rules/kubernetes/dns.yaml
  modules/110-istio/monitoring/prometheus-rules/controlplane.yaml
  modules/110-istio/monitoring/prometheus-rules/operator.yaml
  modules/110-istio/monitoring/prometheus-rules/services.yaml
  modules/110-istio/monitoring/prometheus-rules/versions.tpl
  modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/certificate.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/certificates-exporter-health.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/application-controllers.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/cronjob.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/deprecated-annotation.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/ingress.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/node.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/persistent-volume-claim.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/extended-monitoring/self.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/image-availability/image-availability-exporter-health.yaml
  modules/340-extended-monitoring/monitoring/prometheus-rules/image-availability/image-checks.tpl
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/node.yaml
  modules/402-ingress-nginx/monitoring/prometheus-rules/deprecated-geoip-version.tpl
  modules/402-ingress-nginx/monitoring/prometheus-rules/ingress-nginx.yaml
  modules/460-log-shipper/monitoring/prometheus-rules/log-shipper-agent.yaml
  modules/460-log-shipper/monitoring/prometheus-rules/warnings.yaml
Labels: area/monitoring, area/network, area/docs, area/cluster-and-infrastructure, area/logs

#11007 Add command restriction to dhctl; restrict commands in terraform-manager
  deckhouse-controller/pkg/helpers/register.go
  dhctl/cmd/dhctl/commands/bootstrap/bootstrap.go
  dhctl/cmd/dhctl/commands/bootstrap/phase.go
  dhctl/cmd/dhctl/commands/config.go
  dhctl/cmd/dhctl/commands/control-plane.go
  dhctl/cmd/dhctl/commands/converge.go
  dhctl/cmd/dhctl/commands/deckhouse.go
  dhctl/cmd/dhctl/commands/destroy.go
  dhctl/cmd/dhctl/commands/kube.go
  dhctl/cmd/dhctl/commands/lock.go
  dhctl/cmd/dhctl/commands/server.go
  dhctl/cmd/dhctl/commands/ssh.go
  dhctl/cmd/dhctl/commands/terraform.go
  dhctl/cmd/dhctl/main.go
  modules/040-terraform-manager/templates/terraform-auto-converger/deployment.yaml
  modules/040-terraform-manager/templates/terraform-state-exporter/deployment.yaml
Labels: area/cluster-and-infrastructure, area/cli, area/core, go

#11867 [admission-policy-engine] Use variable for source repo in build.
  ee/modules/015-admission-policy-engine/images/ratify/werf.inc.yaml
Labels: skip/e2e

#11882 [operator-trivy] use alt-p11-artifact instead base image
  ee/modules/500-operator-trivy/images/node-collector/werf.inc.yaml
Labels: area/security, skip/e2e

#11904 [prometheus] Increse priority class
  ee/fe/modules/300-prometheus/templates/prometheus/prometheus.yaml
  modules/300-prometheus/templates/aggregating-proxy/deployment.yaml
  modules/300-prometheus/templates/grafana/deployment-v10.yaml
  modules/300-prometheus/templates/memcached/sts.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
  modules/300-prometheus/templates/trickster/deployment.yaml
Labels: area/monitoring, status/ok-to-test

#11949 [docs] Added ec2:DescribeInstanceTopology policy to AWS
  candi/cloud-providers/aws/docs/ENVIRONMENT.md
  candi/cloud-providers/aws/docs/ENVIRONMENT_RU.md
  docs/site/_includes/getting_started/aws/STEP_ENV.md
  docs/site/_includes/getting_started/aws/STEP_ENV_RU.md
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, skip/documentation-validation

#11716 [docs][openvpn] add information about using openVPN client on MacOS and Linux
  docs/documentation/_data/sidebars/main.yml
  modules/500-openvpn/docs/FAQ.md
  modules/500-openvpn/docs/FAQ_RU.md
  tools/docs/spelling/dictionaries/dev_OPS.dic
  tools/docs/spelling/wordlist
Labels: area/security, area/testing, area/docs

#11951 Backport: [docs][openvpn] add information about using openVPN client on MacOS and Linux
  docs/documentation/_data/sidebars/main.yml
  modules/500-openvpn/docs/FAQ.md
  modules/500-openvpn/docs/FAQ_RU.md
  tools/docs/spelling/dictionaries/dev_OPS.dic
  tools/docs/spelling/wordlist
Labels: auto, backported

#11950 [deckhouse-controller] fix/module release error
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-minor-update.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-mode-minor-release-approved.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/clean-up-outdated-module-releases-when-deploy.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/dVersion-suitable.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/kVersion-suitable.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/simple.yaml
Labels: area/core, status/backport, go

#11955 Backport: [deckhouse-controller] fix/module release error
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-minor-update.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-mode-minor-release-approved.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/clean-up-outdated-module-releases-when-deploy.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/dVersion-suitable.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/kVersion-suitable.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/simple.yaml
Labels: auto, backported

#11946 [admission-policy-engine] fix seccomp condition
  modules/015-admission-policy-engine/templates/policies/security-policy/constraint.yaml
Labels: area/security, status/backport

#11956 Backport: [admission-policy-engine] fix seccomp condition
  modules/015-admission-policy-engine/templates/policies/security-policy/constraint.yaml
Labels: auto, backported

#11570 chore: Add create log artifacts when e2e test fails
  .github/actions/upload-d8-debug-logs/action.yaml
  .github/ci_templates/e2e_tests.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vcd.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: skip/e2e

#11957 chore: add ee/se-plus/modules to allowed sections
  .github/actions/milestone-changelog/action.yml
Labels: skip/e2e

#11959 chore: fix render-workflow
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vcd.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: skip/e2e

#11826 Trivy import reports to defectDojo
  .github/ci_templates/cve_tests.yaml
  .github/scripts/python/defectdojo_dev_tests_rotator.py
  .github/workflow_templates/cve-dev-test-rotator.yml
  .github/workflow_templates/cve-pr.yml
  .github/workflow_templates/cve-weekly.yml
  .github/workflows/cve-dev-test-rotator.yml
  .github/workflows/cve-pr.yml
  .github/workflows/cve-weekly.yml
  tools/cve/base-images.sh
  tools/cve/d8-images.sh
  tools/cve/trivy-wrapper.sh
Labels: area/testing, python, security/cve

#11276 [Rootless] scan image
  .github/scripts/js/ci.js
  .github/scripts/js/constants.js
  .github/workflow_templates/rootless-images-scan.yml
  .github/workflows/rootless-images-scan.yml
  Makefile
  tools/cve/check-non-root.sh
Labels: area/testing

#11833 New workflow for release creation
  .github/scripts/python/create_release.py
  .github/workflow_templates/create_release.yml
  .github/workflows/create_release.yml
Labels: python

#11964 Fix/defectdojo tests rotator
  .github/ci_templates/cve_tests.yaml
  .github/scripts/python/defectdojo_dev_tests_rotator.py
  .github/workflow_templates/cve-dev-test-rotator.yml
  .github/workflows/cve-dev-test-rotator.yml
Labels: python

#11958 fix cve in src base-cilium-dev
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  candi/image_versions.yml
  modules/000-common/images/alt-p11/werf.inc.yaml
  modules/021-cni-cilium/images/base-cilium-dev/werf.inc.yaml
Labels: area/network, area/cluster-and-infrastructure

#11947 [docs] Added info about secret-copier: module cannot be used together with multitenancy-manager
  modules/160-multitenancy-manager/docs/README.md
  modules/160-multitenancy-manager/docs/README_RU.md
  modules/600-secret-copier/docs/README.md
  modules/600-secret-copier/docs/README_RU.md
Labels: area/docs, area/cluster-and-infrastructure, skip/documentation-validation, status/backport

#11890 Build fix 1.65
  modules/000-common/images/csi-external-provisioner/patches/v5.1.0/001-go-mod.patch
  modules/000-common/images/csi-external-provisioner/werf.inc.yaml
  modules/460-log-shipper/images/vector/werf.inc.yaml
  testing/cloud_layouts/AWS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/AWS/WithoutNAT/resources.yaml
  testing/cloud_layouts/Azure/Standard/configuration.tpl.yaml
  testing/cloud_layouts/Azure/Standard/resources.yaml
  testing/cloud_layouts/GCP/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/GCP/WithoutNAT/resources.yaml
  testing/cloud_layouts/OpenStack/Standard/configuration.tpl.yaml
  testing/cloud_layouts/OpenStack/Standard/resources.yaml
  testing/cloud_layouts/Static/infra.tpl.tf
  testing/cloud_layouts/Static/resources.tpl.yaml
  testing/cloud_layouts/VCD/Standard/configuration.tpl.yaml
  testing/cloud_layouts/VCD/Standard/resources.tpl.yaml
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/resources.yaml
  testing/cloud_layouts/vSphere/Standard/configuration.tpl.yaml
  testing/cloud_layouts/vSphere/Standard/resources.yaml
Labels: area/testing, area/logs

#11961 [docs] Added a more detailed description of how the nat gateway works
  candi/cloud-providers/yandex/docs/LAYOUTS.md
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, status/backport

#11980 Backport: [docs] Added a more detailed description of how the nat gateway works
  candi/cloud-providers/yandex/docs/LAYOUTS.md
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
Labels: auto, backported

#11981 Backport: [docs] Added a more detailed description of how the nat gateway works
  candi/cloud-providers/yandex/docs/LAYOUTS.md
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
Labels: auto, backported

#11796 Changelog v1.65.7
  CHANGELOG/CHANGELOG-v1.65.7.yml
  CHANGELOG/CHANGELOG-v1.65.md
Labels: changelog, auto, status/backport

#11984 Backport: Changelog v1.65.7
  CHANGELOG/CHANGELOG-v1.65.7.yml
  CHANGELOG/CHANGELOG-v1.65.md
Labels: auto, backported

#11985 [prometheus] Fix mimir and promxy CVEs
  modules/300-prometheus/images/mimir/patches/0001-Update-golang.org-x-net-v0.32.0-v0.33.0.patch
  modules/300-prometheus/images/promxy/patches/0001-update-crypto-net-cve.patch
Labels: area/monitoring

#11916 [terraform-manager] cve fix terraform-manager-openstack
  candi/terraform_versions.yml
  ee/modules/040-terraform-manager/images/terraform-manager-openstack/patches/implement_openstack_compute_servergroup_v2_data_source.patch
  ee/modules/040-terraform-manager/images/terraform-manager-openstack/patches/readme.md
  ee/modules/040-terraform-manager/images/terraform-manager-openstack/patches/update_gomod.patch
  ee/modules/040-terraform-manager/images/terraform-manager-openstack/werf.inc.yaml
Labels: area/cluster-and-infrastructure, status/backport

#11988 Backport: [terraform-manager] cve fix terraform-manager-openstack
  candi/terraform_versions.yml
  ee/modules/040-terraform-manager/images/terraform-manager-openstack/patches/implement_openstack_compute_servergroup_v2_data_source.patch
  ee/modules/040-terraform-manager/images/terraform-manager-openstack/patches/readme.md
  ee/modules/040-terraform-manager/images/terraform-manager-openstack/patches/update_gomod.patch
  ee/modules/040-terraform-manager/images/terraform-manager-openstack/werf.inc.yaml
Labels: auto, backported

#11970 [ci] move build to werf 2 with imageSpec support
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  .werf/defines/packages-proxies.tmpl
  candi/image_versions.yml
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/werf.inc.yaml
  modules/000-common/images/alt-p11/werf.inc.yaml
  modules/000-common/images/shell-operator/werf.inc.yaml
  modules/007-registrypackages/images/e2fsprogs/werf.inc.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, area/core, status/backport

#11978 [prometheus] Fix mimir and promxy CVEs
  modules/300-prometheus/images/mimir/patches/0001-Update-golang.org-x-net-v0.32.0-v0.33.0.patch
  modules/300-prometheus/images/promxy/patches/0001-update-crypto-net-cve.patch
Labels: area/monitoring, status/ok-to-test

#11630 [cloud-provider-azure] bump go, use images, src-artifact
  .github/dependabot.yml
  candi/version_map.yml
  modules/030-cloud-provider-azure/images/azuredisk-csi/patches/v1.28.11/001-bump-deps.patch
  modules/030-cloud-provider-azure/images/azuredisk-csi/patches/v1.28.11/README.md
  modules/030-cloud-provider-azure/images/azuredisk-csi/werf.inc.yaml
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.27/001-options.patch
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.27/README.md
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.28/001-options.patch
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.28/002-bump-deps.patch
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.28/README.md
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.29/001-options.patch
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.29/002-bump-deps.patch
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.29/README.md
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.30/001-options.patch
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.30/002-bump-deps.patch
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.30/README.md
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.31/001-options.patch
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.31/002-bump-deps.patch
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.31/README.md
  modules/030-cloud-provider-azure/images/cloud-controller-manager/werf.inc.yaml
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/src/discoverer.go
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/src/go.mod
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/src/go.sum
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/src/main.go
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/werf.inc.yaml
Labels: area/kubernetes, area/cloud-provider, area/cluster-and-infrastructure, type/dependencies, status/backport, go, e2e/use/k8s/1.27, e2e/use/k8s/1.28, e2e/use/k8s/1.29, e2e/use/k8s/1.30, e2e/use/k8s/1.31

#11996 Backport: [cloud-provider-azure] bump go, use images, src-artifact
  .github/dependabot.yml
  candi/version_map.yml
  modules/030-cloud-provider-azure/images/azuredisk-csi/patches/v1.28.11/001-bump-deps.patch
  modules/030-cloud-provider-azure/images/azuredisk-csi/patches/v1.28.11/README.md
  modules/030-cloud-provider-azure/images/azuredisk-csi/werf.inc.yaml
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.27/001-options.patch
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.27/README.md
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.28/001-options.patch
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.28/002-bump-deps.patch
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.28/README.md
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.29/001-options.patch
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.29/002-bump-deps.patch
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.29/README.md
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.30/001-options.patch
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.30/002-bump-deps.patch
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.30/README.md
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.31/001-options.patch
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.31/002-bump-deps.patch
  modules/030-cloud-provider-azure/images/cloud-controller-manager/patches/1.31/README.md
  modules/030-cloud-provider-azure/images/cloud-controller-manager/werf.inc.yaml
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/src/discoverer.go
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/src/go.mod
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/src/go.sum
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/src/main.go
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/werf.inc.yaml
Labels: auto, backported

#11990 [terraform-manager] cve fix terraform-manager-zvirt
  ee/se-plus/modules/040-terraform-manager/images/terraform-manager-zvirt/patches/003_update_gomod.patch
  ee/se-plus/modules/040-terraform-manager/images/terraform-manager-zvirt/patches/readme.md
  ee/se-plus/modules/040-terraform-manager/images/terraform-manager-zvirt/werf.inc.yaml
Labels: status/backport, skip/e2e

#11998 Backport: [terraform-manager] cve fix terraform-manager-zvirt
  ee/se-plus/modules/040-terraform-manager/images/terraform-manager-zvirt/patches/003_update_gomod.patch
  ee/se-plus/modules/040-terraform-manager/images/terraform-manager-zvirt/patches/readme.md
  ee/se-plus/modules/040-terraform-manager/images/terraform-manager-zvirt/werf.inc.yaml
Labels: auto, backported

#11632 [cloud-provider-gcp] bump go, use images, src-artifact
  .github/dependabot.yml
  candi/version_map.yml
  modules/030-cloud-provider-gcp/images/cloud-controller-manager/patches/1.27/001-fix-cve.patch
  modules/030-cloud-provider-gcp/images/cloud-controller-manager/patches/1.28/001-fix-cve.patch
  modules/030-cloud-provider-gcp/images/cloud-controller-manager/patches/1.29/001-fix-cve.patch
  modules/030-cloud-provider-gcp/images/cloud-controller-manager/patches/1.30/001-fix-cve.patch
  modules/030-cloud-provider-gcp/images/cloud-controller-manager/patches/1.31/001-fix-cve.patch
  modules/030-cloud-provider-gcp/images/cloud-controller-manager/werf.inc.yaml
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/src/discoverer.go
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/src/go.mod
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/src/go.sum
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/src/main.go
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/werf.inc.yaml
  modules/030-cloud-provider-gcp/images/pd-csi-plugin/patches/1.28/001-fix-cve.patch
  modules/030-cloud-provider-gcp/images/pd-csi-plugin/patches/1.29/001-fix-cve.patch
  modules/030-cloud-provider-gcp/images/pd-csi-plugin/patches/1.30/001-fix-cve.patch
  modules/030-cloud-provider-gcp/images/pd-csi-plugin/patches/1.31/001-fix-cve.patch
  modules/030-cloud-provider-gcp/images/pd-csi-plugin/werf.inc.yaml
Labels: area/kubernetes, area/cloud-provider, area/cluster-and-infrastructure, type/dependencies, status/backport, go, e2e/use/k8s/1.27, e2e/use/k8s/1.28, e2e/use/k8s/1.29, e2e/use/k8s/1.30, e2e/use/k8s/1.31

#12002 Backport: [cloud-provider-gcp] bump go, use images, src-artifact
  .github/dependabot.yml
  candi/version_map.yml
  modules/030-cloud-provider-gcp/images/cloud-controller-manager/patches/1.27/001-fix-cve.patch
  modules/030-cloud-provider-gcp/images/cloud-controller-manager/patches/1.28/001-fix-cve.patch
  modules/030-cloud-provider-gcp/images/cloud-controller-manager/patches/1.29/001-fix-cve.patch
  modules/030-cloud-provider-gcp/images/cloud-controller-manager/patches/1.30/001-fix-cve.patch
  modules/030-cloud-provider-gcp/images/cloud-controller-manager/patches/1.31/001-fix-cve.patch
  modules/030-cloud-provider-gcp/images/cloud-controller-manager/werf.inc.yaml
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/src/discoverer.go
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/src/go.mod
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/src/go.sum
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/src/main.go
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/werf.inc.yaml
  modules/030-cloud-provider-gcp/images/pd-csi-plugin/patches/1.28/001-fix-cve.patch
  modules/030-cloud-provider-gcp/images/pd-csi-plugin/patches/1.29/001-fix-cve.patch
  modules/030-cloud-provider-gcp/images/pd-csi-plugin/patches/1.30/001-fix-cve.patch
  modules/030-cloud-provider-gcp/images/pd-csi-plugin/patches/1.31/001-fix-cve.patch
  modules/030-cloud-provider-gcp/images/pd-csi-plugin/werf.inc.yaml
Labels: auto, backported

#11977 [prometheus] Bump grafana and patch CVEs
  modules/300-prometheus/images/grafana-v10/patches/security.patch
  modules/300-prometheus/images/grafana-v10/werf.inc.yaml
Labels: area/monitoring

#11992 [candi] Update d8 cli to v0.10.3
  candi/version_map.yml
Labels: area/kubernetes, area/cluster-and-infrastructure

#12005 [docs][chore] update Makefile to use local registry
  Makefile
  docs/documentation/Makefile
  docs/site/Makefile
Labels: area/docs

#11999 [docs][getting-started] Update version of global mc in GS configs
  docs/site/_includes/getting_started/aws/partials/config.ru.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.ru.yml.without_nat.other.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/aws/partials/config.yml.without_nat.other.inc
  docs/site/_includes/getting_started/azure/partials/config.ru.yml.standard.ce.inc
  docs/site/_includes/getting_started/azure/partials/config.ru.yml.standard.other.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/azure/partials/config.yml.standard.other.inc
  docs/site/_includes/getting_started/bm-private/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/bm-private/partials/config.ru.yml.other.inc
  docs/site/_includes/getting_started/bm-private/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm-private/partials/config.yml.other.inc
  docs/site/_includes/getting_started/bm/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.ru.yml.other.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/bm/partials/config.yml.other.inc
  docs/site/_includes/getting_started/dvp/bm/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/dvp/bm/partials/config.ru.yml.ee.inc
  docs/site/_includes/getting_started/dvp/bm/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/dvp/bm/partials/config.yml.ee.inc
  docs/site/_includes/getting_started/dynamix/partials/config.ru.yml.standard.other.inc
  docs/site/_includes/getting_started/dynamix/partials/config.yml.standard.other.inc
  docs/site/_includes/getting_started/existing/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/existing/partials/config.ru.yml.other.inc
  docs/site/_includes/getting_started/existing/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/existing/partials/config.yml.other.inc
  docs/site/_includes/getting_started/gcp/partials/config.ru.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/gcp/partials/config.ru.yml.without_nat.other.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.ce.inc
  docs/site/_includes/getting_started/gcp/partials/config.yml.without_nat.other.inc
  docs/site/_includes/getting_started/huaweicloud/partials/config.ru.yml.standard.other.inc
  docs/site/_includes/getting_started/huaweicloud/partials/config.yml.standard.other.inc
  docs/site/_includes/getting_started/kind/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/kind/partials/config.yml.other.inc
  docs/site/_includes/getting_started/openstack/partials/config.ru.yml.standard.other.inc
  docs/site/_includes/getting_started/openstack/partials/config.yml.standard.other.inc
  docs/site/_includes/getting_started/openstack_ovh/partials/config.ru.yml.standard.other.inc
  docs/site/_includes/getting_started/openstack_ovh/partials/config.yml.standard.other.inc
  docs/site/_includes/getting_started/openstack_selectel/partials/config.ru.yml.standard.other.inc
  docs/site/_includes/getting_started/openstack_selectel/partials/config.yml.standard.other.inc
  docs/site/_includes/getting_started/openstack_vk/partials/config.ru.yml.standard.other.inc
  docs/site/_includes/getting_started/openstack_vk/partials/config.yml.standard.other.inc
  docs/site/_includes/getting_started/red/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/red/partials/config.ru.yml.other.inc
  docs/site/_includes/getting_started/red/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/red/partials/config.yml.other.inc
  docs/site/_includes/getting_started/spacevm/partials/config.ru.yml.ce.inc
  docs/site/_includes/getting_started/spacevm/partials/config.ru.yml.other.inc
  docs/site/_includes/getting_started/spacevm/partials/config.yml.ce.inc
  docs/site/_includes/getting_started/spacevm/partials/config.yml.other.inc
  docs/site/_includes/getting_started/vcd/partials/config.ru.yml.standard.other.inc
  docs/site/_includes/getting_started/vcd/partials/config.yml.standard.other.inc
  docs/site/_includes/getting_started/vsphere/partials/config.ru.yml.standard.other.inc
  docs/site/_includes/getting_started/vsphere/partials/config.yml.standard.other.inc
  docs/site/_includes/getting_started/yandex/partials/config.ru.yml.standard.ce.inc
  docs/site/_includes/getting_started/yandex/partials/config.ru.yml.standard.other.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.ce.inc
  docs/site/_includes/getting_started/yandex/partials/config.yml.standard.other.inc
  docs/site/_includes/getting_started/zvirt/partials/config.ru.yml.standard.other.inc
  docs/site/_includes/getting_started/zvirt/partials/config.yml.standard.other.inc
Labels: area/docs

#12008 fix crictl glog cve
  modules/007-registrypackages/images/crictl/patches/1.27.1/go_mod.patch
  modules/007-registrypackages/images/crictl/patches/1.28.0/go_mod.patch
Labels: area/core

#12007 chore: migrate build tools
  modules/021-cni-cilium/images/base-cilium-dev/werf.inc.yaml
  modules/110-istio/images/proxyv2-v1x21x6/werf.inc.yaml
  modules/300-prometheus/images/grafana-v10/werf.inc.yaml
Labels: area/monitoring, area/network

#12011 defectDojo to auto close old findings
  tools/cve/base-images.sh
  tools/cve/d8-images.sh
Labels: area/testing

#12006 fix/module release controller filter by module name
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-minor-update.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-mode-minor-release-approved.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-mode-minor-release.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-patch-update.yaml
  deckhouse-controller/pkg/releaseupdater/task_calculator.go
Labels: area/core, status/backport, go

#12015 Backport: fix/module release controller filter by module name
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-minor-update.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-mode-minor-release-approved.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-mode-minor-release.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-patch-update.yaml
  deckhouse-controller/pkg/releaseupdater/task_calculator.go
Labels: auto, backported

#11689 [docs] Update instructions for adding a root certificate
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/node-management/OS.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/node-management/OS_RU.md
  modules/040-node-manager/docs/EXAMPLES.md
  modules/040-node-manager/docs/EXAMPLES_RU.md
Labels: area/docs, area/cluster-and-infrastructure

#12018 Backport: [docs] Update instructions for adding a root certificate
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/node-management/OS.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/node-management/OS_RU.md
  modules/040-node-manager/docs/EXAMPLES.md
  modules/040-node-manager/docs/EXAMPLES_RU.md
Labels: auto, backported

#12022 [docs] Change port of local registry for local docs build
  docs/documentation/Makefile
  docs/site/Makefile
Labels: area/docs

#11975 Fix build 1.64
  candi/image_versions.yml
  modules/000-common/images/csi-external-provisioner/patches/v5.1.0/001-go-mod.patch
  modules/000-common/images/csi-external-provisioner/werf.inc.yaml
  modules/000-common/images/distroless/werf.inc.yaml
  modules/000-common/images/src-artifact/werf.inc.yaml
  modules/460-log-shipper/images/vector/werf.inc.yaml
  testing/cloud_layouts/AWS/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/AWS/WithoutNAT/resources.yaml
  testing/cloud_layouts/Azure/Standard/configuration.tpl.yaml
  testing/cloud_layouts/Azure/Standard/resources.yaml
  testing/cloud_layouts/GCP/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/GCP/WithoutNAT/resources.yaml
  testing/cloud_layouts/OpenStack/Standard/configuration.tpl.yaml
  testing/cloud_layouts/OpenStack/Standard/resources.yaml
  testing/cloud_layouts/Static/configuration.tpl.yaml
  testing/cloud_layouts/Static/infra.tpl.tf
  testing/cloud_layouts/Static/resources.tpl.yaml
  testing/cloud_layouts/VCD/Standard/configuration.tpl.yaml
  testing/cloud_layouts/VCD/Standard/resources.tpl.yaml
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/configuration.tpl.yaml
  testing/cloud_layouts/Yandex.Cloud/WithoutNAT/resources.yaml
  testing/cloud_layouts/vSphere/Standard/configuration.tpl.yaml
  testing/cloud_layouts/vSphere/Standard/resources.yaml
  tools/dev_images/additional_tools/alt/binary_replace.sh
  werf-giterminism.yaml
  werf.yaml
Labels: area/testing, area/cluster-and-infrastructure, area/core, area/logs

#11994 Changelog v1.64.6
  CHANGELOG/CHANGELOG-v1.64.md
Labels: changelog, auto, status/backport

#12035 Backport: Changelog v1.64.6
  CHANGELOG/CHANGELOG-v1.64.md
Labels: auto, backported

#12029 [docs] Fix 1.65 changelog
  CHANGELOG/CHANGELOG-v1.65.md
Labels: changelog

#12003 [istio] Fix new CVE in CSE
  modules/110-istio/images/common-v1x21x6/patches/002-gomod_gosum.patch
  modules/110-istio/images/common-v1x21x6/patches/003-server_test_fmtText.patch
  modules/110-istio/images/common-v1x21x6/patches/README.md
Labels: area/network, area/core, e2e/use/k8s/1.28

#12021 [deckhouse-controller] Fix kubectl wrapper
  deckhouse-controller/files/kubectl_wrapper.sh
  werf.yaml
Labels: area/core

#12038 [istio] Fix patch name
  modules/110-istio/images/common-v1x21x6/patches/003-server_fmtText.patch
  modules/110-istio/images/common-v1x21x6/patches/README.md
Labels: area/network, e2e/use/k8s/1.28

#12027 [docs] Added info about presence of package managers at bare-metal GS
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
Labels: area/docs, skip/documentation-validation

#12040 Backport: [docs] Update callouts in cloud provider guides
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/dynamix/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/dynamix/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-cluster_configuration.yaml
  ee/modules/030-cloud-provider-dynamix/openapi/values.yaml
  ee/modules/030-cloud-provider-vcd/openapi/values.yaml
  ee/se-plus/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/se-plus/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
  ee/se-plus/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/se-plus/candi/cloud-providers/zvirt/openapi/doc-ru-cluster_configuration.yaml
  ee/se-plus/modules/030-cloud-provider-zvirt/openapi/values.yaml
  modules/040-node-manager/crds/doc-ru-node_group.yaml
  modules/040-node-manager/crds/node_group.yaml
Labels: auto, backported

#12042 Backport: [docs] Update callouts in cloud provider guides
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/cluster_configuration.yaml
  candi/cloud-providers/azure/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/cluster_configuration.yaml
  candi/cloud-providers/gcp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/dynamix/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/dynamix/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-cluster_configuration.yaml
  ee/modules/030-cloud-provider-dynamix/openapi/values.yaml
  ee/modules/030-cloud-provider-vcd/openapi/values.yaml
  ee/se-plus/candi/cloud-providers/vsphere/openapi/cluster_configuration.yaml
  ee/se-plus/candi/cloud-providers/vsphere/openapi/doc-ru-cluster_configuration.yaml
  ee/se-plus/candi/cloud-providers/zvirt/openapi/cluster_configuration.yaml
  ee/se-plus/candi/cloud-providers/zvirt/openapi/doc-ru-cluster_configuration.yaml
  ee/se-plus/modules/030-cloud-provider-zvirt/openapi/values.yaml
  modules/040-node-manager/crds/doc-ru-node_group.yaml
  modules/040-node-manager/crds/node_group.yaml
Labels: auto, backported

#12013 [cilium] Fix new CVE in CSE
  modules/021-cni-cilium/images/bin-hubble/patches/001-go-mod.patch
  modules/021-cni-cilium/images/bin-llvm/werf.inc.yaml
  modules/500-cilium-hubble/images/relay/patches/001-go-mod.patch
  modules/500-cilium-hubble/images/relay/patches/002-some-cve-fixes.patch
  modules/500-cilium-hubble/images/relay/patches/README.md
  modules/500-cilium-hubble/images/ui/patches/002-go-mod.patch
Labels: area/network, e2e/use/k8s/1.28

#11869 [runtime-audit-engine] module documentation optimization
  docs/documentation/_data/supported_versions.yml
  ee/modules/650-runtime-audit-engine/docs/README.md
  ee/modules/650-runtime-audit-engine/docs/README_RU.md
Labels: area/security, area/docs, status/backport

#12043 Backport: [runtime-audit-engine] module documentation optimization
  docs/documentation/_data/supported_versions.yml
  ee/modules/650-runtime-audit-engine/docs/README.md
  ee/modules/650-runtime-audit-engine/docs/README_RU.md
Labels: auto, backported

#12044 Backport: [runtime-audit-engine] module documentation optimization
  docs/documentation/_data/supported_versions.yml
  ee/modules/650-runtime-audit-engine/docs/README.md
  ee/modules/650-runtime-audit-engine/docs/README_RU.md
Labels: auto, backported

#12051 Update configuration.tpl.yaml
  testing/cloud_layouts/vSphere/Standard/configuration.tpl.yaml
Labels: area/testing

#12054 Backport: Update configuration.tpl.yaml
  testing/cloud_layouts/vSphere/Standard/configuration.tpl.yaml
Labels: auto, backported

#12020 [candi] Update d8-cli to 0.10.4
  candi/version_map.yml
Labels: area/kubernetes, area/cluster-and-infrastructure

#12057 [terraform-manager] cve fix terraform-manager-vcd
  ee/modules/040-terraform-manager/images/terraform-manager-vcd/patches/gomod_update.patch
  ee/modules/040-terraform-manager/images/terraform-manager-vcd/werf.inc.yaml
Labels: area/cluster-and-infrastructure, status/backport

#12066 Backport: [terraform-manager] cve fix terraform-manager-vcd
  ee/modules/040-terraform-manager/images/terraform-manager-vcd/patches/gomod_update.patch
  ee/modules/040-terraform-manager/images/terraform-manager-vcd/werf.inc.yaml
Labels: auto, backported

#12056 [terraform-manager] cve fix terraform-manager-huaweicloud
  ee/modules/040-terraform-manager/images/terraform-manager-huaweicloud/patches/gomod_update.patch
  ee/modules/040-terraform-manager/images/terraform-manager-huaweicloud/patches/readme.md
  ee/modules/040-terraform-manager/images/terraform-manager-huaweicloud/werf.inc.yaml
Labels: area/cluster-and-infrastructure, status/backport, skip/e2e

#12045 [terraform-manager] Terraform fix CVE's
  modules/040-terraform-manager/images/base-terraform-manager/patches/001-go-mod.patch
  modules/040-terraform-manager/images/base-terraform-manager/patches/readme.md
  modules/040-terraform-manager/images/base-terraform-manager/werf.inc.yaml
Labels: area/cluster-and-infrastructure, status/backport

#12069 Backport: [terraform-manager] Terraform fix CVE's
  modules/040-terraform-manager/images/base-terraform-manager/patches/001-go-mod.patch
  modules/040-terraform-manager/images/base-terraform-manager/patches/readme.md
  modules/040-terraform-manager/images/base-terraform-manager/werf.inc.yaml
Labels: auto, backported

#11973 chore: update deckhouse-tools deps
  modules/800-deckhouse-tools/images/web/src/package-lock.json
  modules/800-deckhouse-tools/images/web/src/package.json
Labels: status/backport

#12071 Backport: chore: update deckhouse-tools deps
  modules/800-deckhouse-tools/images/web/src/package-lock.json
  modules/800-deckhouse-tools/images/web/src/package.json
Labels: auto, backported

#12012 [admission-policy-engine] bump deps version to fix cves
  ee/modules/015-admission-policy-engine/images/ratify/patches/02-go-mod.patch
  modules/015-admission-policy-engine/images/gatekeeper/patches/001-go-mod.patch
Labels: area/security, status/backport

#12072 Backport: [admission-policy-engine] bump deps version to fix cves
  ee/modules/015-admission-policy-engine/images/ratify/patches/02-go-mod.patch
  modules/015-admission-policy-engine/images/gatekeeper/patches/001-go-mod.patch
Labels: auto, backported

#12033 [ci] update pod-reloader component versions to fix CVE's
  modules/465-pod-reloader/images/pod-reloader/patches/go-mod.patch
  modules/465-pod-reloader/images/pod-reloader/werf.inc.yaml
Labels: area/cluster-and-infrastructure, status/backport

#12009 [prometheus] bump golang/glog version to fix cve
  modules/300-prometheus/images/prometheus/patches/fix-cve.patch
Labels: area/monitoring, status/backport

#12073 Backport: [prometheus] bump golang/glog version to fix cve
  modules/300-prometheus/images/prometheus/patches/fix-cve.patch
Labels: auto, backported

#12074 [docs][getting-started] Add SE+ to GS as individual tab
  docs/site/_data/getting_started/dkp_data.yaml
  docs/site/_data/i18n.yaml
  docs/site/_includes/getting_started/global/partials/INSTALL_CONFIG.liquid
Labels: area/docs

#12063 [prometheus] Fix grafana CVEs
  modules/300-prometheus/templates/grafana/deployment-v10.yaml
  modules/300-prometheus/templates/grafana/ingress-v10.yaml
Labels: area/monitoring
