Repository deckhouse/deckhouse, pull requests merged in 2025-10, with the labels that each got.

#15743 [docs] Refactor build instructions
  docs/documentation/.helm/templates/5-cm.yaml
  docs/documentation/.helm/values.yaml
  docs/documentation/werf-web.inc.yaml
  docs/site/.helm/templates/10-cm-frontend.yaml
  docs/site/.helm/templates/10-cm-moduleslibrary.yaml
  docs/site/.helm/templates/10-cm.yaml
  docs/site/.helm/templates/14-frontend.yaml
  docs/site/.helm/templates/14-moduleslibrary.yaml
  docs/site/.helm/values.yaml
  docs/site/.werf/nginx.conf
  docs/site/docker-compose-debug.yml
  docs/site/docker-compose.yml
  docs/site/werf-modules-watcher.inc.yaml
  docs/site/werf-web-frontend.inc.yaml
  docs/site/werf-web-router.inc.yaml
Labels: area/docs, deploy/web/test2

#15762 [docs][ci] Fix documentation deploy
  docs/site/.helm/templates/10-cm.yaml
Labels: area/docs, deploy/web/test2

#15638 [prometheus] Remove deprecated tls certs
  modules/300-prometheus/hooks/delete_certificate_secret.go
  modules/300-prometheus/templates/prometheus-api-client-tls.yaml
  modules/300-prometheus/templates/prometheus-scraper-tls.yaml
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
Labels: area/monitoring, status/ok-to-test, go

#15761 [docs] Fix scroll
  docs/site/assets/js/sidebar-scroll.js
Labels: area/docs, deploy/web/test3

#15757 [docs][getting-started] Add link for GUI installer in GS
  docs/site/_includes/getting_started/global/partials/installer/installer_block_ru.html
  docs/site/pages/getting_started/getting_started_ru.html
Labels: area/docs

#15770 [docs][search] Enhance search logic and fix CRD search param extraction
  docs/site/assets/js/search-v3.js
  docs/site/backends/docs-builder-template/layouts/_partials/openapi/extract-crd-search-params.html
  docs/site/backends/docs-builder-template/layouts/_partials/openapi/module-search-index.json
Labels: area/docs, area/api-change, deploy/web/test2

#15769 [docs] Fix broken VirtualImage link
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/IMAGES.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/IMAGES_RU.md
Labels: area/docs

#15703 [docs] Add edits feedback
  docs/site/_sass/components/_feedback.scss
  docs/site/assets/js/feedback.js
Labels: area/docs

#15780 [docs] Remove outdated storage files
  docs/documentation/_data/modules/modules-addition.json
  docs/documentation/pages/drafts/storage/external/VSPHERE.md
  docs/documentation/pages/drafts/storage/external/VSPHERE_RU.md
  docs/documentation/pages/storage/README.md
  docs/documentation/pages/storage/README_RU.md
  docs/documentation/pages/storage/SUPPORTED_STORAGE.md
  docs/documentation/pages/storage/SUPPORTED_STORAGE_RU.md
  docs/documentation/pages/storage/external/CEPH.md
  docs/documentation/pages/storage/external/CEPH_RU.md
  docs/documentation/pages/storage/external/HPE.md
  docs/documentation/pages/storage/external/HPE_RU.md
  docs/documentation/pages/storage/external/HUAWEI.md
  docs/documentation/pages/storage/external/HUAWEI_RU.md
  docs/documentation/pages/storage/external/NFS.md
  docs/documentation/pages/storage/external/NFS_RU.md
  docs/documentation/pages/storage/external/S3.md
  docs/documentation/pages/storage/external/S3_RU.md
  docs/documentation/pages/storage/external/SCSI.md
  docs/documentation/pages/storage/external/SCSI_RU.md
  docs/documentation/pages/storage/external/YADRO.md
  docs/documentation/pages/storage/external/YADRO_RU.md
  docs/documentation/pages/storage/sds/LVM_LOCAL.md
  docs/documentation/pages/storage/sds/LVM_LOCAL_RU.md
  docs/documentation/pages/storage/sds/LVM_REPLICATED.md
  docs/documentation/pages/storage/sds/LVM_REPLICATED_RU.md
Labels: area/docs

#15766 [docs] Fix broken links iteration 1
  docs/documentation/pages/admin/configuration/LABEL-ASSIGNMENT.md
  docs/documentation/pages/admin/configuration/LABEL-ASSIGNMENT_RU.md
  docs/documentation/pages/admin/configuration/access/connection/openvpn/CONFIGURATION.md
  docs/documentation/pages/admin/configuration/access/connection/openvpn/CONFIGURATION_RU.md
  docs/documentation/pages/admin/configuration/app-scaling/pod-eviction/SCHEDULER.md
  docs/documentation/pages/admin/configuration/app-scaling/pod-eviction/SCHEDULER_RU.md
  docs/documentation/pages/admin/configuration/high-reliability-and-availability/CHAOS_ENGINEERING.md
  docs/documentation/pages/admin/configuration/high-reliability-and-availability/CHAOS_ENGINEERING_RU.md
  docs/documentation/pages/admin/configuration/high-reliability-and-availability/ENABLE.md
  docs/documentation/pages/admin/configuration/high-reliability-and-availability/ENABLE_RU.md
  docs/documentation/pages/admin/configuration/monitoring/OVERVIEW.md
  docs/documentation/pages/admin/configuration/monitoring/OVERVIEW_RU.md
  docs/documentation/pages/admin/configuration/monitoring/configuring/EXTERNAL_ACCESS.md
  docs/documentation/pages/admin/configuration/monitoring/configuring/EXTERNAL_ACCESS_RU.md
  docs/documentation/pages/admin/configuration/multitenancy/README.md
  docs/documentation/pages/admin/configuration/multitenancy/README_RU.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/BARE_METAL_NODE_RU.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/CLOUD_NODE.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/CLOUD_NODE_RU.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/NODE_CUSTOMIZATION.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/NODE_CUSTOMIZATION_RU.md
  docs/documentation/pages/admin/configuration/registry/OVERVIEW.md
  docs/documentation/pages/admin/configuration/registry/OVERVIEW_RU.md
  docs/documentation/pages/admin/configuration/registry/SWITCHING_EDITIONS.md
  docs/documentation/pages/admin/configuration/registry/SWITCHING_EDITIONS_RU.md
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
  docs/documentation/pages/user/access/AUTHENTICATION.md
  docs/documentation/pages/user/access/AUTHENTICATION_RU.md
  docs/documentation/pages/user/configuration/app-scaling/VPA.md
  docs/documentation/pages/user/configuration/app-scaling/VPA_RU.md
  docs/site/_includes/getting_started/dvp/global/STEP_NODES.md
  docs/site/_includes/getting_started/dvp/global/STEP_NODES_RU.md
  docs/site/pages/getting_started/getting_started.html
  docs/site/pages/getting_started/getting_started_ru.html
  docs/site/pages/guides/PRODUCTION.md
  docs/site/pages/guides/PRODUCTION_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/platform-scaling/node/NODE_CUSTOMIZATION.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/platform-scaling/node/NODE_CUSTOMIZATION_RU.md
  docs/site/pages/virtualization-platform/guides/GOING_TO_PRODUCTION.md
  docs/site/pages/virtualization-platform/guides/GOING_TO_PRODUCTION_RU.md
  modules/015-admission-policy-engine/docs/README.md
  modules/015-admission-policy-engine/docs/README_RU.md
  modules/015-admission-policy-engine/openapi/config-values.yaml
  modules/015-admission-policy-engine/openapi/doc-ru-config-values.yaml
  modules/030-cloud-provider-yandex/docs/README.md
  modules/030-cloud-provider-yandex/docs/README_RU.md
  modules/040-control-plane-manager/docs/README.md
  modules/040-control-plane-manager/docs/README_RU.md
Labels: area/cloud-provider, area/security, area/docs, area/cluster-and-infrastructure, area/api-change

#15763 [node-manager] CAPS: add condition to enable SSHLegacyMode
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/bootstrap.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/scope/instance_scope.go
Labels: area/cluster-and-infrastructure, e2e/run/static, status/backport, go

#15784 Backport: [node-manager] CAPS: add condition to enable SSHLegacyMode
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/bootstrap.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/scope/instance_scope.go
Labels: auto, backported

#15748 Changelog v1.72.8
  CHANGELOG/CHANGELOG-v1.72.8.yml
  CHANGELOG/CHANGELOG-v1.72.md
Labels: changelog, auto, status/backport

#15787 Backport: Changelog v1.72.8
  CHANGELOG/CHANGELOG-v1.72.8.yml
  CHANGELOG/CHANGELOG-v1.72.md
Labels: auto, backported

#14207 Feat/static e2e to commander
  .github/ci_templates/e2e_tests.yml
  .github/workflows/e2e-abort-static.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-static.yml
  .gitignore
  testing/cloud_layouts/Static/configuration.tpl.yaml
  testing/cloud_layouts/Static/infra.tf
  testing/cloud_layouts/Static/registry-mirror/DOCS.md
  testing/cloud_layouts/Static/registry-mirror/docker-compose.yaml
  testing/cloud_layouts/Static/registry-mirror/gen-auth-cfg.sh
  testing/cloud_layouts/Static/registry-mirror/gen-ssl.sh
  testing/cloud_layouts/Static/registry-mirror/registry-config.tpl.yaml
  testing/cloud_layouts/Static/resources.tpl.yaml
  testing/cloud_layouts/script-commander.sh
Labels: area/testing, e2e/run/static, e2e/use/k8s/1.32

#15719 [docs] add new information about d8 mirror extra images
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
  docs/documentation/pages/architecture/module-development/DEVELOPMENT.md
  docs/documentation/pages/architecture/module-development/DEVELOPMENT_RU.md
Labels: area/docs, skip/documentation-validation

#15792 [candi] Add exit 1 for check_containerd_v2_support step
  candi/bashible/common-steps/all/000_check_containerd_v2_support.sh.tpl
Labels: area/cluster-and-infrastructure, e2e/run/yandex-cloud

#15801 [docs] Fix broken links
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
  docs/documentation/_includes/d8-cli-install/content.liquid
  docs/documentation/pages/admin/configuration/platform-scaling/control-plane/CONTROL_PLANE_MANAGEMENT_AND_CONFIGURATION.md
  docs/documentation/pages/admin/configuration/platform-scaling/control-plane/CONTROL_PLANE_MANAGEMENT_AND_CONFIGURATION_RU.md
  docs/documentation/pages/architecture/OVERVIEW.md
  docs/documentation/pages/architecture/OVERVIEW_RU.md
  docs/documentation/pages/architecture/disaster-resistance/GEO_DISTRIBUTION.md
  docs/documentation/pages/architecture/disaster-resistance/GEO_DISTRIBUTION_RU.md
  docs/documentation/pages/architecture/disaster-resistance/GEO_RESERVING.md
  docs/documentation/pages/architecture/disaster-resistance/GEO_RESERVING_RU.md
  docs/documentation/pages/architecture/module-development/DEVELOPMENT.md
  docs/documentation/pages/architecture/module-development/DEVELOPMENT_RU.md
  docs/documentation/pages/architecture/module-development/STRUCTURE.md
  docs/documentation/pages/architecture/module-development/STRUCTURE_RU.md
  docs/documentation/pages/architecture/monitoring/OVERVIEW.md
  docs/documentation/pages/architecture/monitoring/OVERVIEW_RU.md
  docs/documentation/pages/architecture/multitenancy/OVERVIEW.md
  docs/documentation/pages/architecture/multitenancy/OVERVIEW_RU.md
  docs/documentation/pages/reference/NETWORK_INTERACTION.md
  docs/documentation/pages/reference/NETWORK_INTERACTION_RU.md
  docs/documentation/pages/user/LOGGING.md
  docs/documentation/pages/user/LOGGING_RU.md
  docs/documentation/pages/user/multitenancy/OVERVIEW.md
  docs/documentation/pages/user/multitenancy/OVERVIEW_RU.md
  docs/site/_includes/getting_started/global/partials/STEP_INSTALL_SCHEMA_RU.liquid
  docs/site/pages/stronghold/documentation/admin/update/UPDATE_RU.md
  docs/site/pages/virtualization-platform/documentation/architecture/multitenancy/OVERVIEW.md
  docs/site/pages/virtualization-platform/documentation/architecture/multitenancy/OVERVIEW_RU.md
  docs/site/pages/virtualization-platform/documentation/user/multitenancy/OVERVIEW.md
  docs/site/pages/virtualization-platform/documentation/user/multitenancy/OVERVIEW_RU.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/VM.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/VM_RU.md
  docs/site/pages/virtualization-platform/guides/GOING_TO_PRODUCTION.md
  docs/site/pages/virtualization-platform/guides/GOING_TO_PRODUCTION_RU.md
  global-hooks/openapi/config-values.yaml
  global-hooks/openapi/doc-ru-config-values.yaml
  modules/002-deckhouse/docs/README.md
  modules/002-deckhouse/docs/README_RU.md
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
Labels: area/network, area/docs, area/cluster-and-infrastructure, area/core, area/api-change

#15800 [dmt] Change version to 0.1.44
  tools/dmt-lint.sh
Labels: area/testing

#15803 Backport: [candi] Switch node hostname in discover_node_ip.sh to locked hostname
  candi/bashible/common-steps/all/000_discover_node_ip.sh.tpl
  candi/bashible/common-steps/all/005_integrate_kubernetes_data_device.sh.tpl
  candi/bashible/common-steps/all/069_check_hostname_uniqueness.sh.tpl
Labels: auto, backported

#15805 [dhctl][backport] manual backport - change default ssh mode (#15773)
  candi/openapi/dhctl/doc-ru-ssh_configuration.yaml
  candi/openapi/dhctl/ssh_configuration.yaml
  dhctl/cmd/dhctl/commands/bootstrap/phase.go
  dhctl/cmd/dhctl/commands/control-plane.go
  dhctl/cmd/dhctl/commands/converge.go
  dhctl/cmd/dhctl/commands/deckhouse.go
  dhctl/cmd/dhctl/commands/destroy.go
  dhctl/cmd/dhctl/commands/edit.go
  dhctl/cmd/dhctl/commands/kube.go
  dhctl/cmd/dhctl/commands/lock.go
  dhctl/cmd/dhctl/commands/session.go
  dhctl/cmd/dhctl/commands/ssh.go
  dhctl/cmd/dhctl/commands/terraform.go
  dhctl/pkg/app/ssh.go
  dhctl/pkg/config/connection.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/converge/context/client_switcher.go
  dhctl/pkg/operations/converge/converger.go
  dhctl/pkg/operations/converge/infrastructure/hook/controlplane/kube-proxy.go
  dhctl/pkg/operations/destroy/destroy.go
  dhctl/pkg/operations/exporter.go
  dhctl/pkg/preflight/common.go
  dhctl/pkg/preflight/registry_test.go
  dhctl/pkg/server/pkg/helper/ssh_client.go
  dhctl/pkg/system/node/clissh/frontend/reverse-tunnel.go
  dhctl/pkg/system/sshclient/init.go
  dhctl/pkg/terminal/ask-password.go
Labels: area/cluster-and-infrastructure, area/cli, e2e/run/yandex-cloud, go

#15811 [docs] Fix broken links
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  ee/modules/500-operator-trivy/docs/FAQ.md
  ee/modules/500-operator-trivy/docs/FAQ_RU.md
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
  modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/038-registry/docs/README.md
  modules/038-registry/docs/README_RU.md
Labels: area/security, area/docs, area/api-change

#15812 [dhctl] add ssh mode with rpc client
  dhctl/pkg/server/pkg/helper/ssh_client.go
Labels: area/cli, status/backport, go

#15814 [docs] Fix broken links
  docs/documentation/_data/supported_versions.yml
  docs/site/_includes/getting_started/global/partials/FINISH_CARDS.md
  docs/site/_includes/getting_started/global/partials/FINISH_CARDS_RU.md
Labels: area/docs

#15813 [docs] Update the comparison table and modules set on the site
  Makefile
  docs/documentation/_data/modules/modules-addition.json
  docs/site/.helm/templates/20-ingress.yaml
  docs/site/.helm/values.yaml
  docs/site/.werf/nginx-local.conf
  docs/site/Makefile
Labels: area/docs, deploy/web/test7

#15828 [docs][getting-started] Fix docker commands in GS installer
  docs/documentation/pages/installing/README_RU.md
  docs/site/_includes/getting_started/global/partials/installer/installer_block_ru.html
  tools/docs/spelling/dictionaries/dev_OPS.dic
  tools/docs/spelling/wordlist
Labels: area/testing, area/docs, deploy/web/test4

#15831 [docs] Format module name in the related links list for clarity
  docs/documentation/_data/i18n.yml
Labels: area/docs

#15832 [prometheus] added create folder
  modules/200-operator-prometheus/images/prometheus-config-reloader/mount-points.yaml
  modules/300-prometheus/images/alertmanager/mount-points.yaml
  modules/300-prometheus/images/alertmanager/werf.inc.yaml
  modules/300-prometheus/images/alerts-receiver/mount-points.yaml
  modules/300-prometheus/images/alerts-receiver/werf.inc.yaml
Labels: area/monitoring

#15841 Backport: [402-ingress-nginx] Enable ExecuteHookOnEvents on hook set_annotation_validation_suspended.go
  modules/402-ingress-nginx/hooks/set_annotation_validation_suspended.go
Labels: auto, backported

#15840 [candi] Bump integrity patch version for containerdv2.
  modules/007-registrypackages/images/containerd/werf.inc.yaml
Labels: area/core

#15842 [docs] Update modules list generation logic
  docs/site/backends/docs-builder-template/config/_default/hugo.yaml
  docs/site/backends/docs-builder-template/data/dkp/embedded_modules.json
  docs/site/backends/docs-builder-template/i18n/en.yaml
  docs/site/backends/docs-builder-template/i18n/ru.yaml
  docs/site/backends/docs-builder-template/layouts/modules/modules-list.html
Labels: area/docs, deploy/web/stage

#15845 [deckhouse] update d8 to 0.20.3
  candi/version_map.yml
  docs/documentation/_data/reference/d8-cli.json
Labels: area/kubernetes, area/docs, area/cluster-and-infrastructure

#15856 [deckhouse] bump deckhouse-cli v0.20.5
  candi/version_map.yml
  docs/documentation/_data/reference/d8-cli.json
Labels: area/kubernetes, area/docs, area/cluster-and-infrastructure

#15849 [deckhouse-controller] Fix possibly deadlock
  go.mod
  go.sum
  tools/go.sum
Labels: type/bug, type/dependencies, e2e/run/yandex-cloud, e2e/run/vcd

#15445 [cloud-provider-dvp] changes for CSE needs
  modules/030-cloud-provider-dvp/images/cloud-data-discoverer/werf.inc.yaml
  modules/030-cloud-provider-dvp/images/dvp-csi-driver/mount-points.yaml
  modules/030-cloud-provider-dvp/images/dvp-csi-driver/werf.inc.yaml
Labels: area/cloud-provider

#15859 [cloud-provider-dvp][node-manager] Add sshPublicKey to registration secret and disable update system packages index during boot cloud ephemeral nodes
  modules/030-cloud-provider-dvp/templates/registration.yaml
  modules/040-node-manager/templates/node-group/_cloud_init_cloud_config.tpl
Labels: area/cloud-provider, area/cluster-and-infrastructure, e2e/run/vcd

#15847 [cert-manager] Increase timeout for admission webhooks to 30 seconds
  modules/101-cert-manager/templates/webhook/mutatingwebhookconfiguration.yaml
  modules/101-cert-manager/templates/webhook/validatingwebhookconfiguration.yaml
Labels: area/security, e2e/run/yandex-cloud

#15821 [ci] Obtain e2e secret from secret store
  .github/ci_templates/e2e_tests.yml
  .github/workflows/e2e-abort-aws.yml
  .github/workflows/e2e-abort-azure.yml
  .github/workflows/e2e-abort-eks.yml
  .github/workflows/e2e-abort-gcp.yml
  .github/workflows/e2e-abort-openstack.yml
  .github/workflows/e2e-abort-static.yml
  .github/workflows/e2e-abort-vcd.yml
  .github/workflows/e2e-abort-vsphere.yml
  .github/workflows/e2e-abort-yandex-cloud.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vcd.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  testing/cloud_layouts/script-commander.sh
  testing/cloud_layouts/script.sh
  testing/cloud_layouts/script_eks.sh
  testing/cloud_layouts/vSphere/Standard/configuration.tpl.yaml
Labels: area/testing

#15658 [prometheus] Add svace analys for apps
  modules/300-prometheus/images/alertmanager/werf.inc.yaml
  modules/300-prometheus/images/grafana-v10/werf.inc.yaml
  modules/300-prometheus/images/promxy/werf.inc.yaml
  modules/300-prometheus/images/trickster/werf.inc.yaml
Labels: area/monitoring, e2e/run/yandex-cloud, status/ok-to-test, analyze/svace

#15873 [docs] Remove volume snapshot creation section from DVP docs
  docs/site/_data/sidebars/virtualization-platform.yml
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/SNAPSHOT_CONTROLLER.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/SNAPSHOT_CONTROLLER_RU.md
Labels: area/docs

#15879 [multitenancy-manager] Fix CVE CVE-2025-27144 CVE-2025-55198 CVE-2025-55199
  modules/160-multitenancy-manager/images/multitenancy-manager/src/go.mod
  modules/160-multitenancy-manager/images/multitenancy-manager/src/go.sum
Labels: type/dependencies

#15883 [dmt] Change version to 0.1.45
  tools/dmt-lint.sh
Labels: area/testing
