Repository deckhouse/deckhouse, pull requests merged in 2025-08, with the labels that each got.

#14789 [docs] Replace WEITH to STAGE in information about module
  docs/documentation/pages/admin/configuration/access/authentication/EXTERNAL_AUTHENTICATION_PROVIDERS.md
  docs/documentation/pages/admin/configuration/access/authentication/EXTERNAL_AUTHENTICATION_PROVIDERS_RU.md
  docs/documentation/pages/admin/configuration/storage/external/NFS.md
  docs/documentation/pages/admin/configuration/storage/external/NFS_RU.md
  docs/documentation/pages/admin/configuration/storage/external/YADRO.md
  docs/documentation/pages/admin/configuration/storage/external/YADRO_RU.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-local/LVM_LOCAL.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-local/LVM_LOCAL_RU.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-replicated/LVM_REPLICATED.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-replicated/LVM_REPLICATED_RU.md
Labels: area/docs

#14783 [docs] Change d8 d command to d8 dk in the documentation
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
  docs/site/pages/stronghold/reference/console-utilities/D8.md
  docs/site/pages/stronghold/reference/console-utilities/D8_RU.md
  docs/site/pages/virtualization-platform/reference/console-utilities/D8.md
  docs/site/pages/virtualization-platform/reference/console-utilities/D8_RU.md
Labels: area/docs, status/backport

#14795 Backport: [docs] Added information about disk size in the Yandex documentation
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/yandex/openapi/instance_class.yaml
Labels: auto, backported

#14797 Backport: [candi] Add rosa 12.6 version to bashbooster
  candi/bashible/bashbooster/56_detect_bundle.sh
Labels: auto, backported

#14761 [deckhouse] tests for the internal config module
  deckhouse-controller/pkg/controller/module-controllers/config/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/config/status.go
  deckhouse-controller/pkg/controller/module-controllers/config/testdata/change-source.yaml
  deckhouse-controller/pkg/controller/module-controllers/config/testdata/disable-module.yaml
  deckhouse-controller/pkg/controller/module-controllers/config/testdata/disable-with-releases.yaml
  deckhouse-controller/pkg/controller/module-controllers/config/testdata/embedded-module.yaml
  deckhouse-controller/pkg/controller/module-controllers/config/testdata/enable-module.yaml
  deckhouse-controller/pkg/controller/module-controllers/config/testdata/global-config.yaml
  deckhouse-controller/pkg/controller/module-controllers/config/testdata/golden/change-source.yaml
  deckhouse-controller/pkg/controller/module-controllers/config/testdata/golden/disable-module.yaml
  deckhouse-controller/pkg/controller/module-controllers/config/testdata/golden/disable-with-releases.yaml
  deckhouse-controller/pkg/controller/module-controllers/config/testdata/golden/embedded-module.yaml
  deckhouse-controller/pkg/controller/module-controllers/config/testdata/golden/enable-module.yaml
  deckhouse-controller/pkg/controller/module-controllers/config/testdata/golden/global-config.yaml
  deckhouse-controller/pkg/controller/module-controllers/config/testdata/golden/multiple-sources.yaml
  deckhouse-controller/pkg/controller/module-controllers/config/testdata/golden/unknown-module.yaml
  deckhouse-controller/pkg/controller/module-controllers/config/testdata/multiple-sources.yaml
  deckhouse-controller/pkg/controller/module-controllers/config/testdata/unknown-module.yaml
Labels: area/core, go

#14585 [deckhouse-controller] Add validation for module source changes
  deckhouse-controller/cmd/deckhouse-controller/start.go
  deckhouse-controller/internal/metrics/metrics.go
  deckhouse-controller/pkg/controller/deckhouse-release/client_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/empty-migrated-modules.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/empty-migrated-modules.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/module-missing.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/module-pull-error.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/modules-available.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/multiple-sources.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/no-migrated-modules.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/module-missing.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/module-pull-error.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/modules-available.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/multiple-sources.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/no-migrated-modules.yaml
  deckhouse-controller/pkg/releaseupdater/requirements_checker.go
  docs/documentation/_data/deckhouse-alerts.yml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/deckhouse.yaml
  release.yaml
  tools/validation/release_requirements.go
Labels: area/monitoring, area/testing, area/docs, area/core, status/backport, go

#14779 [node-manager] Update monitoring template: hide GPU dashboards
  ee/modules/040-node-manager/templates/monitoring.yaml
Labels: area/cluster-and-infrastructure, status/backport

#14653 [docs][new structure] Updates for Storage section
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/images/storage/sds/node-configurator/sds-node-configurator-scenaries.png
  docs/documentation/images/storage/sds/node-configurator/sds-node-configurator-scenaries.puml
  docs/documentation/images/storage/sds/node-configurator/sds-node-configurator-scenaries.ru.png
  docs/documentation/images/storage/sds/node-configurator/sds-node-configurator-scenaries.ru.puml
  docs/documentation/pages/admin/configuration/storage/OVERVIEW.md
  docs/documentation/pages/admin/configuration/storage/OVERVIEW_RU.md
  docs/documentation/pages/admin/configuration/storage/SNAPSHOT_CONTROLLER.md
  docs/documentation/pages/admin/configuration/storage/SNAPSHOT_CONTROLLER_RU.md
  docs/documentation/pages/admin/configuration/storage/SUPPORTED_STORAGE.md
  docs/documentation/pages/admin/configuration/storage/SUPPORTED_STORAGE_RU.md
  docs/documentation/pages/admin/configuration/storage/external/CEPH.md
  docs/documentation/pages/admin/configuration/storage/external/CEPH_RU.md
  docs/documentation/pages/admin/configuration/storage/external/HPE.md
  docs/documentation/pages/admin/configuration/storage/external/HPE_RU.md
  docs/documentation/pages/admin/configuration/storage/external/HUAWEI.md
  docs/documentation/pages/admin/configuration/storage/external/HUAWEI_RU.md
  docs/documentation/pages/admin/configuration/storage/external/NFS.md
  docs/documentation/pages/admin/configuration/storage/external/NFS_RU.md
  docs/documentation/pages/admin/configuration/storage/external/S3.md
  docs/documentation/pages/admin/configuration/storage/external/S3_RU.md
  docs/documentation/pages/admin/configuration/storage/external/SCSI.md
  docs/documentation/pages/admin/configuration/storage/external/SCSI_RU.md
  docs/documentation/pages/admin/configuration/storage/external/YADRO.md
  docs/documentation/pages/admin/configuration/storage/external/YADRO_RU.md
  docs/documentation/pages/admin/configuration/storage/sds/LOCAL_PATH_PROVISIONER.md
  docs/documentation/pages/admin/configuration/storage/sds/LOCAL_PATH_PROVISIONER_RU.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-local/LVM_LOCAL.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-local/LVM_LOCAL_FAQ.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-local/LVM_LOCAL_FAQ_RU.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-local/LVM_LOCAL_RU.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-replicated/LVM_REPLICATED.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-replicated/LVM_REPLICATED_FAQ.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-replicated/LVM_REPLICATED_FAQ_RU.md
  docs/documentation/pages/admin/configuration/storage/sds/lvm-replicated/LVM_REPLICATED_RU.md
  docs/documentation/pages/admin/configuration/storage/sds/node-configurator/NODE_CONFIGURATOR.md
  docs/documentation/pages/admin/configuration/storage/sds/node-configurator/NODE_CONFIGURATOR_FAQ.md
  docs/documentation/pages/admin/configuration/storage/sds/node-configurator/NODE_CONFIGURATOR_FAQ_RU.md
  docs/documentation/pages/admin/configuration/storage/sds/node-configurator/NODE_CONFIGURATOR_LAYOUTS.md
  docs/documentation/pages/admin/configuration/storage/sds/node-configurator/NODE_CONFIGURATOR_LAYOUTS_RU.md
  docs/documentation/pages/admin/configuration/storage/sds/node-configurator/NODE_CONFIGURATOR_RU.md
  docs/documentation/pages/admin/configuration/storage/sds/node-configurator/NODE_CONFIGURATOR_USAGE.md
  docs/documentation/pages/admin/configuration/storage/sds/node-configurator/NODE_CONFIGURATOR_USAGE_RU.md
Labels: area/docs, skip/documentation-validation

#14695 [module][user-authz] Port user-authz admission hook to Python; fix multi-tenancy validation logic
  modules/140-user-authz/webhooks/validating/multitenancy
  modules/140-user-authz/webhooks/validating/multitenancy.py
  modules/140-user-authz/webhooks/validating/multitenancy_test.py
  modules/140-user-authz/webhooks/validating/multitenancy_test_factories.py
Labels: area/auth, python

#14684 [deckhouse-controller] feat: implement major version update restrictions
  deckhouse-controller/pkg/controller/deckhouse-release/controller_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/major-release-from-1-to-2.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/major-release-from-1-to-2.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/update-major-version-0-1.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/update-major-version-1-2.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/update-major-version-0-1.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/update-major-version-1-2.yaml
  deckhouse-controller/pkg/releaseupdater/task_calculator.go
Labels: area/core, go

#14757 [docs-builder] Hugo config error handling
  docs/site/backends/docs-builder/internal/docs/build.go
  docs/site/backends/docs-builder/internal/docs/build_test.go
  docs/site/backends/docs-builder/pkg/hugo/commandeer.go
  docs/site/backends/docs-builder/pkg/hugo/commandeer_test.go
Labels: area/docs, go

#14817 Backport: [docs] Added information about disk size in the Yandex documentation
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/yandex/openapi/instance_class.yaml
Labels: auto, backported

#14806 [deckhouse] operator-trivy hook new param AllowEmptyDir
  ee/modules/500-operator-trivy/hooks/storage_class_change.go
  ee/modules/500-operator-trivy/hooks/storage_class_change_test.go
  go_lib/hooks/storage_class_change/hook.go
  modules/000-common/hooks/storage_class_change_test.go
Labels: area/security, area/core, go

#14823 Backport: [docs][style] Fix title anchor behavior
  docs/documentation/_includes/toc_in_sidebar.html
  docs/site/_assets/css/docs.scss
  docs/site/_includes/toc_in_sidebar.html
  docs/site/backends/docs-builder-template/layouts/partials/toc.html
Labels: auto, backported

#14810 [docs] Update header and footer on the site
  docs/site/_data/footer.json
  docs/site/_includes/header.html
Labels: area/docs

#14824 [docs][new structure] Update images for geo-reserving section
  docs/documentation/images/architecture/active-active-balancing.png
  docs/documentation/images/architecture/active-standby-balancing.png
Labels: area/docs

#14826 Backport: [docs] Minor changes in the documentation of the istio module
  modules/110-istio/docs/README.md
  modules/110-istio/docs/README_RU.md
Labels: auto, backported

#14805 [istio] fixed metadata exporter template
  ee/modules/110-istio/templates/alliance/metadata-exporter/deployment.yaml
Labels: area/network, e2e/use/k8s/1.30

#14838 Backport: [cni-cilium] fixed hostPort workability with extraLoadBalancerAlgorithmsEnabled
  modules/021-cni-cilium/images/bin-cilium/patches/011-bpf-lb-use-random-lb-algo-for-hostport-serives-fixed.patch
  modules/021-cni-cilium/images/bin-cilium/patches/012-add-least-conn-lb-algorithm.patch
  modules/021-cni-cilium/images/bin-cilium/patches/README.md
Labels: auto, backported

#14622 [candi] containerd migration fix
  candi/bashible/common-steps/all/032_configure_containerd.sh.tpl
  candi/bashible/common-steps/all/076_install_d8_shutdown_inhibitor.sh.tpl
  ee/modules/040-node-manager/images/d8-shutdown-inhibitor/scripts/d8-shutdown-inhibitor.service
  ee/modules/040-node-manager/images/d8-shutdown-inhibitor/src/pkg/app/app.go
  ee/modules/040-node-manager/images/d8-shutdown-inhibitor/src/pkg/app/nodecondition/graceful_shutdown_postpone.go
  ee/modules/040-node-manager/images/d8-shutdown-inhibitor/src/pkg/app/tasks/node_cordoner.go
  ee/modules/040-node-manager/images/d8-shutdown-inhibitor/src/pkg/app/tasks/pod_observer.go
  modules/040-node-manager/hooks/update_approval.go
Labels: area/cluster-and-infrastructure, status/backport, go

#14792 Changelog v1.71.3
  CHANGELOG/CHANGELOG-v1.71.3.yml
  CHANGELOG/CHANGELOG-v1.71.md
Labels: changelog, auto, status/backport

#14661 [etcd] promote member if needed
  candi/control-plane-kubeadm/v1beta4/patches/etcd.yaml.tpl
  modules/040-control-plane-manager/images/control-plane-manager/controller/config.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/controller.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/converge.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/etcd.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/go.mod
  modules/040-control-plane-manager/images/control-plane-manager/controller/go.sum
  modules/040-control-plane-manager/images/control-plane-manager/controller/kubeconfig.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/node.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/util.go
  modules/040-control-plane-manager/images/control-plane-manager/werf.inc.yaml
  modules/040-node-manager/templates/capi-controller-manager/webhook.yaml
Labels: area/cluster-and-infrastructure, type/dependencies, go, e2e/use/k8s/1.32

#14522 [node-manager] fix standby-ng calculation
  modules/040-node-manager/hooks/discover_standby_ng.go
  modules/040-node-manager/hooks/discover_standby_ng_test.go
Labels: area/cluster-and-infrastructure, go

#14706 [docs] improve cache for docs-watcher
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scanner/cache/cache.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scanner/cache/cache_test.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scanner/process.go
Labels: area/docs, go

#14754 [node-manager] usage Instance in update_approval
  Makefile
  modules/040-node-manager/hooks/update_approval.go
  modules/040-node-manager/hooks/update_approval_test.go
Labels: area/cluster-and-infrastructure, status/backport, go

#14830 [docs] Added descriptions of the problem of using Cilium and Elastic together
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
Labels: area/network, area/docs, skip/documentation-validation, status/backport

#14856 Backport: [docs] Added descriptions of the problem of using Cilium and Elastic together
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
Labels: auto, backported

#14842 [docs] Added information about webhooks and notifications in the documentation
  modules/002-deckhouse/docs/USAGE.md
  modules/002-deckhouse/docs/USAGE_RU.md
Labels: area/docs, status/backport

#14857 Backport: [docs] Added information about webhooks and notifications in the documentation
  modules/002-deckhouse/docs/USAGE.md
  modules/002-deckhouse/docs/USAGE_RU.md
Labels: auto, backported

#14835 [cloud-provider-huaweicloud] Make huawei autoscaler "scale from zero"
  ee/modules/030-cloud-provider-huaweicloud/images/cloud-data-discoverer/werf.inc.yaml
Labels: area/cloud-provider, skip/e2e

#14739 Changelog v1.70.17
  CHANGELOG/CHANGELOG-v1.70.17.yml
  CHANGELOG/CHANGELOG-v1.70.md
Labels: changelog, auto, status/backport

#14809 [cert-manager] delete challenges and secrets with `background` propagation policy
  modules/101-cert-manager/hooks/create_registry_secret_for_solver.go
Labels: area/security, go

#14790 [docs,registry] Documentation for the new registry configuration in Containerd
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  modules/038-registry/docs/EXAMPLES.md
  modules/038-registry/docs/EXAMPLES_RU.md
  modules/038-registry/docs/FAQ.md
  modules/038-registry/docs/FAQ_RU.md
  modules/040-node-manager/docs/EXAMPLES.md
  modules/040-node-manager/docs/EXAMPLES_RU.md
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, edition/ce

#14868 [docs][getting-started] Fix sudo -i command in GS pages
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  docs/site/_includes/getting_started/dvp/global/STEP_USER.md
  docs/site/_includes/getting_started/dvp/global/STEP_USER_RU.md
  docs/site/_includes/getting_started/stronghold/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/stronghold/bm/STEP_FINALIZE_RU.md
Labels: area/docs

#14870 [docs][new structure] Remove duplicated info about self-signed certificates
  docs/documentation/pages/admin/configuration/security/CERTIFICATES.md
  docs/documentation/pages/admin/configuration/security/CERTIFICATES_RU.md
Labels: area/docs

#14876 [docs][new structure] Update info about hybrid cluster installation
  docs/documentation/pages/admin/configuration/integrations/hybrid/OVERVIEW.md
  docs/documentation/pages/admin/configuration/integrations/hybrid/OVERVIEW_RU.md
Labels: area/docs

#14877 [docs] Fixed migration to AuthenticationConfiguration docs
  modules/150-user-authn/crds/dex-provider.yaml
  modules/150-user-authn/crds/doc-ru-dex-provider.yaml
Labels: area/auth, area/api-change

#14878 [docs][new structure] Add the warning about restricted users and groups names
  docs/documentation/pages/admin/configuration/access/authentication/LOCAL.md
  docs/documentation/pages/admin/configuration/access/authentication/LOCAL_RU.md
Labels: area/docs

#14880 [docs] Minor updates in nfsstorageclass documentation
  docs/documentation/_data/storage/crds/doc-ru-nfsstorageclass.yaml
  docs/documentation/_data/storage/crds/nfsstorageclass.yaml
Labels: area/docs, status/backport, area/api-change

#14881 Backport: [docs] Minor updates in nfsstorageclass documentation
  docs/documentation/_data/storage/crds/doc-ru-nfsstorageclass.yaml
  docs/documentation/_data/storage/crds/nfsstorageclass.yaml
Labels: auto, backported

#13001 [tools] add debug container image
  candi/base_images.yml
  modules/000-common/images/debug-container/scripts/entrypoint.sh
  modules/000-common/images/debug-container/scripts/etc/bashrc
  modules/000-common/images/debug-container/werf.inc.yaml
  modules/002-deckhouse/templates/configmap-debug-container.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/cluster-and-infrastructure, status/backport, skip/e2e, go

#14892 [docs][descheduller] Correct example for descheduler module
  modules/400-descheduler/docs/EXAMPLES.md
  modules/400-descheduler/docs/EXAMPLES_RU.md
Labels: area/docs, area/scaling, status/backport

#14897 Backport: [docs][descheduller] Correct example for descheduler module
  modules/400-descheduler/docs/EXAMPLES.md
  modules/400-descheduler/docs/EXAMPLES_RU.md
Labels: auto, backported

#14726 [webhook] Add d8 provider and static config validation webhook
  deckhouse-controller/pkg/apis/deckhouse.io/validation/register.go
  deckhouse-controller/pkg/apis/deckhouse.io/validation/validate_cluster_configuration.go
  deckhouse-controller/pkg/apis/deckhouse.io/validation/validate_provider_configuration.go
  deckhouse-controller/pkg/apis/deckhouse.io/validation/validate_static_configuration.go
  deckhouse-controller/pkg/controller/controller.go
  dhctl/cmd/dhctl/commands/edit.go
  dhctl/pkg/config/load.go
  dhctl/pkg/kubernetes/actions/manifests/manifests.go
  dhctl/pkg/operations/secretedit.go
  dhctl/pkg/operations/secretedit_test.go
  modules/002-deckhouse/hooks/migrate/add_name_label_to_provider_cluster_static_cluster_config.go
  modules/002-deckhouse/templates/admission/validation.yaml
Labels: area/cli, area/core, go

#14888 [dhctl] Fix tunnel string in preflight checks
  dhctl/pkg/app/app.go
  dhctl/pkg/preflight/common.go
  dhctl/pkg/system/node/gossh/file.go
Labels: area/cli, go

#14879 [node-manager] Fix DCGM build
  ee/modules/040-node-manager/images/nvidia-dcgm/patches/001-clang.patch
  ee/modules/040-node-manager/images/nvidia-dcgm/patches/README.md
  ee/modules/040-node-manager/images/nvidia-dcgm/scripts/llvm.sh
  ee/modules/040-node-manager/images/nvidia-dcgm/werf.inc.yaml
  modules/040-node-manager/.dmtlint.yaml
Labels: area/cluster-and-infrastructure, skip/copyright-validation

#14872 [control-plane-manager] Add different api version for `apiserver.config.k8s.io` depends kube version
  candi/control-plane-kubeadm/v1beta3/config.yaml.tpl
  modules/040-control-plane-manager/template_tests/template_test.go
  modules/040-control-plane-manager/templates/_authentication_configuration.tpl
Labels: area/cluster-and-infrastructure, go, e2e/use/k8s/1.29

#14915 Backport: [docs] Update release notes DKP v1.71 for GPU support
  docs/documentation/_includes/release-notes/RELEASE-NOTES.md
  docs/documentation/_includes/release-notes/RELEASE-NOTES_RU.md
Labels: auto, backported

#14921 Backport: [docs][node-manager] GPU docs: step-by-step flow, examples, FAQ, CR/README updates (RU/EN)
  modules/040-node-manager/crds/doc-ru-node_group.yaml
  modules/040-node-manager/crds/node_group.yaml
  modules/040-node-manager/docs/EXAMPLES.md
  modules/040-node-manager/docs/EXAMPLES_RU.md
  modules/040-node-manager/docs/FAQ.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/040-node-manager/docs/README.md
  modules/040-node-manager/docs/README_RU.md
Labels: auto, backported

#14901 [docs] Minor updates at descheduler examples in new structure
  docs/documentation/pages/admin/configuration/app-scaling/pod-eviction/SCHEDULER.md
  docs/documentation/pages/admin/configuration/app-scaling/pod-eviction/SCHEDULER_RU.md
Labels: area/docs

#14903 [docs][new structure] Minor documentation edits
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/admin/configuration/app-scaling/SCALING_BY_METRICS_RU.md
  docs/documentation/pages/admin/configuration/app-scaling/VPA.md
  docs/documentation/pages/admin/configuration/app-scaling/pod-eviction/SCHEDULER.md
  docs/documentation/pages/admin/configuration/integrations/hybrid/OVERVIEW.md
  docs/documentation/pages/user/access/AUTHENTICATION.md
  docs/documentation/pages/user/access/AUTHENTICATION_RU.md
Labels: area/docs, skip/documentation-validation

#14851 Changelog v1.71.4
  CHANGELOG/CHANGELOG-v1.71.4.yml
  CHANGELOG/CHANGELOG-v1.71.md
Labels: changelog, auto, status/backport

#14928 Backport: [docs] Update cni-cilium instructions when working with Elastic Agents
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
Labels: auto, backported

#14929 Backport: [docs] Update Observability docs
  docs/documentation/_data/sidebars/main.yml
  modules/300-prometheus/docs/README.md
  modules/300-prometheus/docs/README_RU.md
  modules/340-extended-monitoring/docs/README.md
  modules/340-extended-monitoring/docs/README_RU.md
  modules/340-monitoring-custom/docs/CONFIGURATION.md
  modules/340-monitoring-custom/docs/CONFIGURATION_RU.md
  modules/340-monitoring-custom/docs/README.md
  modules/340-monitoring-custom/docs/README_RU.md
  modules/340-monitoring-kubernetes/docs/README.md
  modules/340-monitoring-kubernetes/docs/README_RU.md
  modules/340-monitoring-ping/docs/README.md
  modules/340-monitoring-ping/docs/README_RU.md
  modules/460-log-shipper/docs/README.md
  modules/460-log-shipper/docs/README_RU.md
  modules/462-loki/docs/README.md
  modules/462-loki/docs/README_RU.md
  modules/500-upmeter/docs/CONFIGURATION.md
  modules/500-upmeter/docs/CONFIGURATION_RU.md
  modules/500-upmeter/docs/CR.md
  modules/500-upmeter/docs/CR_RU.md
  modules/500-upmeter/docs/EXAMPLES.md
  modules/500-upmeter/docs/EXAMPLES_RU.md
  modules/500-upmeter/docs/FAQ.md
  modules/500-upmeter/docs/FAQ_RU.md
  modules/500-upmeter/docs/README.md
  modules/500-upmeter/docs/README_RU.md
  tools/docs/spelling/dictionaries/dev_OPS.dic
  tools/docs/spelling/wordlist
Labels: auto, backported

#14930 Backport: [docs] Fix documentation for the VM template cloud-providers
  ee/se-plus/candi/cloud-providers/vsphere/docs/ENVIRONMENT.md
  ee/se-plus/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
Labels: auto, backported

#14604 [cloud-providers-aws] Make creation of default security groups optional
  candi/cloud-providers/aws/layouts/standard/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/standard/base-infrastructure/variables.tf
  candi/cloud-providers/aws/layouts/standard/master-node/main.tf
  candi/cloud-providers/aws/layouts/standard/master-node/variables.tf
  candi/cloud-providers/aws/layouts/standard/static-node/main.tf
  candi/cloud-providers/aws/layouts/standard/static-node/variables.tf
  candi/cloud-providers/aws/layouts/with-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/with-nat/base-infrastructure/variables.tf
  candi/cloud-providers/aws/layouts/with-nat/master-node/main.tf
  candi/cloud-providers/aws/layouts/with-nat/master-node/variables.tf
  candi/cloud-providers/aws/layouts/with-nat/static-node/main.tf
  candi/cloud-providers/aws/layouts/with-nat/static-node/variables.tf
  candi/cloud-providers/aws/layouts/without-nat/base-infrastructure/main.tf
  candi/cloud-providers/aws/layouts/without-nat/base-infrastructure/variables.tf
  candi/cloud-providers/aws/layouts/without-nat/master-node/main.tf
  candi/cloud-providers/aws/layouts/without-nat/master-node/variables.tf
  candi/cloud-providers/aws/layouts/without-nat/static-node/main.tf
  candi/cloud-providers/aws/layouts/without-nat/static-node/variables.tf
  candi/cloud-providers/aws/openapi/cloud_discovery_data.yaml
  candi/cloud-providers/aws/openapi/cluster_configuration.yaml
  candi/cloud-providers/aws/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/aws/terraform-modules/master-node/main.tf
  candi/cloud-providers/aws/terraform-modules/master-node/variables.tf
  candi/cloud-providers/aws/terraform-modules/security-groups/main.tf
  candi/cloud-providers/aws/terraform-modules/security-groups/outputs.tf
  candi/cloud-providers/aws/terraform-modules/security-groups/variables.tf
  candi/cloud-providers/aws/terraform-modules/static-node/main.tf
  candi/cloud-providers/aws/terraform-modules/static-node/variables.tf
Labels: area/cloud-provider, area/cluster-and-infrastructure, area/api-change

#14932 [docs] Fix broken links at DVP cloud provider documentation
  candi/cloud-providers/dvp/openapi/cluster_configuration.yaml
  candi/cloud-providers/dvp/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, status/backport, area/api-change

#14942 [control-plane-manager] fix unit tests
  modules/040-control-plane-manager/template_tests/template_test.go
Labels: area/cluster-and-infrastructure, go

#13394 [base-images] Migrate base image references from image_versions.yml to base_images.yml
  .werf/defines/installer.tmpl
  .werf/defines/modules.tmpl
  .werf/defines/ssh-static.tmpl
  .werf/werf-dev-install-standalone.yaml
  .werf/werf-release-channel.yaml
  .werf/werf-version-map.yaml
  docs/documentation/werf-web.inc.yaml
  docs/site/werf-docs-builder.inc.yaml
  docs/site/werf.yaml
  ee/modules/450-keepalived/images/keepalived/werf.inc.yaml
  modules/000-common/images/alt-p11/werf.inc.yaml
  modules/000-common/images/distroless/werf.inc.yaml
  modules/000-common/images/nginx-static/werf.inc.yaml
  modules/000-common/images/pause/werf.inc.yaml
  modules/000-common/images/redis-static/werf.inc.yaml
  modules/000-common/images/tini/werf.inc.yaml
  modules/000-common/images/vxlan-offloading-fixer/werf.inc.yaml
  modules/007-registrypackages/images/amazon-ec2-utils/werf.inc.yaml
  modules/007-registrypackages/images/d8-ca-updater/werf.inc.yaml
  modules/007-registrypackages/images/d8-curl/werf.inc.yaml
  modules/007-registrypackages/images/d8/werf.inc.yaml
  modules/007-registrypackages/images/e2fsprogs/werf.inc.yaml
  modules/007-registrypackages/images/ec2-describe-tags/werf.inc.yaml
  modules/007-registrypackages/images/growpart/werf.inc.yaml
  modules/007-registrypackages/images/iptables/werf.inc.yaml
  modules/007-registrypackages/images/jq/werf.inc.yaml
  modules/007-registrypackages/images/kubeadm/werf.inc.yaml
  modules/007-registrypackages/images/kubectl/werf.inc.yaml
  modules/007-registrypackages/images/kubelet/werf.inc.yaml
  modules/007-registrypackages/images/lsblk/werf.inc.yaml
  modules/007-registrypackages/images/netcat/werf.inc.yaml
  modules/007-registrypackages/images/nvme-cli/werf.inc.yaml
  modules/007-registrypackages/images/socat/werf.inc.yaml
  modules/007-registrypackages/images/virt-what/werf.inc.yaml
  modules/007-registrypackages/images/xfsprogs/werf.inc.yaml
  modules/470-chrony/images/chrony/werf.inc.yaml
  modules/500-openvpn/images/openvpn/werf.inc.yaml
  modules/500-upmeter/images/status/werf.inc.yaml
Labels: area/kubernetes, area/monitoring, area/network, area/security, area/docs, area/cluster-and-infrastructure, area/core, e2e/use/k8s/1.32

#14895 [docs][registry-modules-watcher] Fix backends context
  docs/site/.helm/templates/15-modules-watcher.yaml
  docs/site/.helm/values.yaml
  docs/site/backends/registry-modules-watcher/README.MD
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scanner/registry-scaner.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/sender/sender.go
  docs/site/backends/registry-modules-watcher/pkg/registry-client/registry-client.go
Labels: type/enhancement, area/docs, go

#14951 Revert "[deckhouse] feat: new linked list queue logic with compaction"
  go.mod
  go.sum
Labels: type/dependencies, area/core, e2e/cluster/failed

#14722 [common] Disable tag "i-was-a-digest" when crane pull image by digest.
  modules/000-common/images/crane/werf.inc.yaml
  modules/007-registrypackages/images/kubernetes-api-proxy/werf.inc.yaml
  modules/007-registrypackages/images/pause/werf.inc.yaml
Labels: area/kubernetes, area/core

#14945 [dhctl] Fix connection string
  dhctl/pkg/system/node/session/session.go
Labels: area/cli, go

#14961 [deckhouse-controller] add queue to gohook schedule bindings contract
  docs/site/backends/docs-builder/README.MD
  go.mod
  go.sum
  pkg/log/README.md
  pkg/metrics-storage/README.md
  pkg/metrics-storage/storage.go
  tools/go.mod
  tools/go.sum
Labels: type/enhancement, area/testing, area/docs, type/dependencies, area/core, skip/documentation-validation, go

#13445 [docs][getting started] Update CAPS resources API version
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
  docs/site/_includes/getting_started/stronghold/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/stronghold/bm/STEP_FINALIZE_RU.md
  docs/site/pages/stronghold/documentation/admin/install/steps/INSTALL_RU.md
  docs/site/pages/stronghold/documentation/admin/platform-management/control-plane-settings/PLACEMENT_MANAGEMENT_RU.md
  docs/site/pages/stronghold/documentation/admin/platform-management/node-management/ADDING_NODE_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/NODES.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/NODES_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/control-plane-settings/PLACEMENT_MANAGEMENT.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/control-plane-settings/PLACEMENT_MANAGEMENT_RU.md
Labels: area/docs, skip/documentation-validation, Stale

#14968 [docs][stronghold] Minor updates
  docs/site/_data/sidebars/stronghold.yml
  docs/site/pages/stronghold/documentation/admin/standalone/CONFIGURATION.md
  docs/site/pages/stronghold/documentation/admin/standalone/CONFIGURATION_RU.md
  docs/site/pages/stronghold/documentation/admin/standalone/HSM.md
  docs/site/pages/stronghold/documentation/admin/standalone/HSM_RU.md
  docs/site/pages/stronghold/documentation/admin/standalone/INSTALLATION.md
  docs/site/pages/stronghold/documentation/admin/standalone/INSTALLATION_RU.md.md
  docs/site/pages/stronghold/documentation/user/auth/mfa/totp.md
  docs/site/pages/stronghold/documentation/user/auth/mfa/totp.ru.md
Labels: area/docs

#14974 Backport: [docs] Add VM template alert at cloud provider documentation
  candi/cloud-providers/aws/docs/ENVIRONMENT.md
  candi/cloud-providers/aws/docs/ENVIRONMENT_RU.md
  candi/cloud-providers/azure/docs/ENVIRONMENT.md
  candi/cloud-providers/azure/docs/ENVIRONMENT_RU.md
  candi/cloud-providers/dvp/docs/ENVIRONMENT.md
  candi/cloud-providers/dvp/docs/ENVIRONMENT_RU.md
  candi/cloud-providers/gcp/docs/ENVIRONMENT.md
  candi/cloud-providers/gcp/docs/ENVIRONMENT_RU.md
  candi/cloud-providers/yandex/docs/ENVIRONMENT.md
  candi/cloud-providers/yandex/docs/ENVIRONMENT_RU.md
  docs/site/_includes/getting_started/global/partials/NOTICES_ENVIRONMENT.liquid
  ee/candi/cloud-providers/dynamix/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/dynamix/docs/ENVIRONMENT_RU.md
  ee/candi/cloud-providers/huaweicloud/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/huaweicloud/docs/ENVIRONMENT_RU.md
  ee/candi/cloud-providers/openstack/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/openstack/docs/ENVIRONMENT_RU.md
  ee/candi/cloud-providers/vcd/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/vcd/docs/ENVIRONMENT_RU.md
  ee/se-plus/candi/cloud-providers/zvirt/docs/ENVIRONMENT.md
  ee/se-plus/candi/cloud-providers/zvirt/docs/ENVIRONMENT_RU.md
Labels: auto, backported

#14944 [docs] Edit examples for system nodes
  modules/040-node-manager/docs/EXAMPLES.md
  modules/040-node-manager/docs/EXAMPLES_RU.md
  tools/docs/spelling/dictionaries/dev_OPS.dic
  tools/docs/spelling/wordlist
Labels: area/testing, area/docs, area/cluster-and-infrastructure, status/backport

#14983 Backport: [docs] Edit examples for system nodes
  modules/040-node-manager/docs/EXAMPLES.md
  modules/040-node-manager/docs/EXAMPLES_RU.md
  tools/docs/spelling/dictionaries/dev_OPS.dic
  tools/docs/spelling/wordlist
Labels: auto, backported

#14965 [ingress-nginx] fix opentelemetry missing library and shrink ingress-nginx controller image
  modules/402-ingress-nginx/images/controller-1-10/werf.inc.yaml
  modules/402-ingress-nginx/images/controller-1-12/werf.inc.yaml
Labels: area/network

#14990 [docs] Fix asset file paths
  docs/site/_sass/components/_filter.scss
Labels: area/docs

#14947 [cni-cilium][docs] fixed invalid annotation name for lb-algorithm
  docs/documentation/_includes/release-notes/RELEASE-NOTES.md
  docs/documentation/_includes/release-notes/RELEASE-NOTES_RU.md
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
  modules/021-cni-cilium/openapi/config-values.yaml
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
Labels: area/network, area/docs, status/backport, area/api-change

#14997 Backport: [cni-cilium][docs] fixed invalid annotation name for lb-algorithm
  docs/documentation/_includes/release-notes/RELEASE-NOTES.md
  docs/documentation/_includes/release-notes/RELEASE-NOTES_RU.md
  modules/021-cni-cilium/docs/README.md
  modules/021-cni-cilium/docs/README_RU.md
  modules/021-cni-cilium/openapi/config-values.yaml
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#14601 [deckhouse] Add metrics to docs builder
  docs/site/.helm/templates/14-frontend.yaml
  docs/site/.helm/templates/15-modules-watcher.yaml
  docs/site/backends/docs-builder/go.mod
  docs/site/backends/docs-builder/go.sum
  docs/site/backends/docs-builder/internal/docs/build.go
  docs/site/backends/docs-builder/internal/docs/channel_mapping.go
  docs/site/backends/docs-builder/internal/docs/delete.go
  docs/site/backends/docs-builder/internal/docs/service.go
  docs/site/backends/docs-builder/internal/docs/upload.go
  docs/site/backends/docs-builder/internal/docs/upload_test.go
  docs/site/backends/docs-builder/internal/metrics/register-metrics.go
  docs/site/backends/docs-builder/main.go
  docs/site/backends/registry-modules-watcher/go.mod
  docs/site/backends/registry-modules-watcher/go.sum
  modules/810-documentation/monitoring/grafana-dashboards/kubernetes-cluster/builder.json
  modules/810-documentation/templates/deployment.yaml
  modules/810-documentation/templates/monitoring.yaml
  modules/810-documentation/templates/podmonitor.yaml
  pkg/metrics-storage/go.mod
  pkg/metrics-storage/metric_storage.go
  pkg/metrics-storage/storage/grouped.go
Labels: area/docs, type/dependencies, go

#14989 [deckhouse] fix validate creating module config
  deckhouse-controller/pkg/apis/deckhouse.io/validation/validate_module_source.go
Labels: area/core, go

#14994 [docs] Add warnings to the VMware Cloud Director environment documentation about Edge requirements
  ee/candi/cloud-providers/vcd/docs/ENVIRONMENT.md
  ee/candi/cloud-providers/vcd/docs/ENVIRONMENT_RU.md
  tools/docs/spelling/dictionaries/dev_OPS.dic
  tools/docs/spelling/wordlist
Labels: area/cloud-provider, area/testing, area/docs, area/cluster-and-infrastructure, status/backport

#15002 Backport: [docs] Add limitations in multitenancy-manager.
  modules/160-multitenancy-manager/docs/README.md
  modules/160-multitenancy-manager/docs/README_RU.md
Labels: auto, backported

#15003 Backport: [docs] Add limitations in multitenancy-manager.
  modules/160-multitenancy-manager/docs/README.md
  modules/160-multitenancy-manager/docs/README_RU.md
Labels: auto, backported

#15005 Backport: [ingress-nginx] kruise controller competes with deckhouse in creating kruise-webhook-certs secret
  modules/402-ingress-nginx/templates/kruise/rbac-for-us.yaml
Labels: auto, backported

#15006 [docs][news structure] Add limitations section to the multitenancy
  docs/documentation/pages/admin/configuration/multitenancy/README.md
  docs/documentation/pages/admin/configuration/multitenancy/README_RU.md
  docs/documentation/pages/user/multitenancy/OVERVIEW.md
  docs/documentation/pages/user/multitenancy/OVERVIEW_RU.md
Labels: area/docs

#15012 [node-manager] Upgrade CAPI version: rbac fix 1
  modules/040-node-manager/templates/capi-controller-manager/rbac-for-us.yaml
Labels: area/cluster-and-infrastructure, status/backport

#15015 Backport: [node-manager] Upgrade CAPI version: rbac fix 1
  modules/040-node-manager/templates/capi-controller-manager/rbac-for-us.yaml
Labels: auto, backported

#14980 [cloud-provider-vcd] Fix Template Org catalog querying
  ee/modules/030-cloud-provider-vcd/images/capcd-controller-manager-legacy/patches/002-go-mod.patch
  ee/modules/030-cloud-provider-vcd/images/cloud-controller-manager-legacy/patches/005-add-vapptemplate-search-by-org.patch
  ee/modules/030-cloud-provider-vcd/images/cloud-controller-manager-legacy/patches/README.md
Labels: area/cloud-provider, skip/e2e

#15025 [docs][cert-manager] Improve the clarity and consistency of documentation for ACME DNS-01 challenge
  modules/101-cert-manager/docs/FAQ.md
  modules/101-cert-manager/docs/FAQ_RU.md
  modules/101-cert-manager/openapi/config-values.yaml
  modules/101-cert-manager/openapi/doc-ru-config-values.yaml
Labels: area/security, area/docs, skip/documentation-validation, status/backport, area/api-change

#15028 Backport: [node-local-dns][docs] Update configuration documentation
  ee/be/modules/350-node-local-dns/docs/CONFIGURATION.md
  ee/be/modules/350-node-local-dns/docs/CONFIGURATION_RU.md
Labels: auto, backported

#14984 [runtime-audit-engine] Disable falco VPA until memory leak is fixed
  ee/modules/650-runtime-audit-engine/template_tests/module_test.go
  ee/modules/650-runtime-audit-engine/templates/daemonset.yaml
  ee/modules/650-runtime-audit-engine/templates/falco-leak-limit-range.yaml
Labels: area/security, go

#15068 [docs][new structure] Translate Security sections
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/images/architecture/security/integrity-control-en.png
  docs/documentation/images/architecture/security/integrity-control-en.puml
  docs/documentation/images/architecture/security/integrity-control.puml
  docs/documentation/pages/admin/configuration/security/CERTIFICATES.md
  docs/documentation/pages/admin/configuration/security/CERTIFICATES_RU.md
  docs/documentation/pages/admin/configuration/security/KUBERNETES-API-AUDIT.md
  docs/documentation/pages/admin/configuration/security/KUBERNETES-API-AUDIT_RU.md
  docs/documentation/pages/admin/configuration/security/KUMA-AND-AV-SOFTWARE.md
  docs/documentation/pages/admin/configuration/security/KUMA-AND-AV-SOFTWARE_RU.md
  docs/documentation/pages/admin/configuration/security/OVERVIEW.md
  docs/documentation/pages/admin/configuration/security/OVERVIEW_RU.md
  docs/documentation/pages/admin/configuration/security/RUNTIME-AUDIT.md
  docs/documentation/pages/admin/configuration/security/RUNTIME-AUDIT_RU.md
  docs/documentation/pages/admin/configuration/security/SCANNING.md
  docs/documentation/pages/admin/configuration/security/SECRET-DISTRIBUTION.md
  docs/documentation/pages/admin/configuration/security/SECRET-DISTRIBUTION_RU.md
  docs/documentation/pages/admin/configuration/security/SECURITY-POLICIES.md
  docs/documentation/pages/admin/configuration/security/SECURITY-POLICIES_RU.md
  docs/documentation/pages/architecture/security/INTEGRITY-CONTROL.md
  docs/documentation/pages/architecture/security/INTEGRITY-CONTROL_RU.md
  docs/documentation/pages/user/security/SCANNING.md
  docs/documentation/pages/user/security/SCANNING_RU.md
  docs/documentation/pages/user/security/TLS.md
  docs/documentation/pages/user/security/TLS_RU.md
Labels: area/docs, skip/documentation-validation

#15074 [deckhouse] ModuleSource must install without cluster bootstrapped
  modules/002-deckhouse/templates/default-module-source.yaml
Labels: type/enhancement, status/backport

#15075 Backport: [deckhouse] ModuleSource must install without cluster bootstrapped
  modules/002-deckhouse/templates/default-module-source.yaml
Labels: auto, backported

#15083 [ci] Disable e2e blocking for non-PR jobs
  .github/ci_templates/helper_jobs.yml
  .github/workflows/cve-pr.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vcd.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: status/backport

#14959 [docs] Add new requirement and commands to meet containerdv2 requirements
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  modules/040-node-manager/crds/doc-ru-node_group.yaml
  modules/040-node-manager/crds/node_group.yaml
Labels: area/docs, area/cluster-and-infrastructure, status/backport, area/api-change

#15093 Backport: [docs] Add new requirement and commands to meet containerdv2 requirements
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  modules/040-node-manager/crds/doc-ru-node_group.yaml
  modules/040-node-manager/crds/node_group.yaml
Labels: auto, backported

#15042 [deckhouse] remove bundle enum
  deckhouse-controller/crds/module.yaml
Labels: area/core, skip/documentation-validation, status/backport, area/api-change

#15098 Backport: [deckhouse] remove bundle enum
  deckhouse-controller/crds/module.yaml
Labels: auto, backported

#15106 Backport: [etcd] Promote member if needed
  modules/040-control-plane-manager/images/control-plane-manager/controller/etcd.go
  modules/040-control-plane-manager/images/control-plane-manager/controller/util.go
Labels: auto, backported

#15089 [docs] Update Deckhouse release status description
  modules/002-deckhouse/docs/README.md
  modules/002-deckhouse/docs/README_RU.md
Labels: area/docs, status/backport

#15108 Backport: [docs] Update Deckhouse release status description
  modules/002-deckhouse/docs/README.md
  modules/002-deckhouse/docs/README_RU.md
Labels: auto, backported

#15109 Backport: [docs] Update Deckhouse release status description
  modules/002-deckhouse/docs/README.md
  modules/002-deckhouse/docs/README_RU.md
Labels: auto, backported

#15091 [docs][new structure] Fix typo at monitoring documentation
  docs/documentation/pages/admin/configuration/monitoring/ALERTS_RU.md
Labels: area/docs

#15046 [docs][new structure] Add info about cloud prefix and examples for deleting StaticInstance
  docs/documentation/pages/admin/configuration/integrations/hybrid/OVERVIEW.md
  docs/documentation/pages/admin/configuration/integrations/hybrid/OVERVIEW_RU.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/BARE_METAL_NODE.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/BARE_METAL_NODE_RU.md
  docs/documentation/pages/architecture/NODE.md
  docs/documentation/pages/architecture/NODE_RU.md
  docs/documentation/pages/architecture/OVERVIEW_RU.md
Labels: area/docs

#15076 [docs][registry] Add restrictions for the Direct mode
  modules/038-registry/docs/README.md
  modules/038-registry/docs/README_RU.md
Labels: area/docs, status/backport

#15102 [prometheus] Fix initContainer securityContext indent
  modules/300-prometheus/templates/prometheus/_helpers.tpl
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring, status/backport

#15116 Backport: [prometheus] Fix initContainer securityContext indent
  modules/300-prometheus/templates/prometheus/_helpers.tpl
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: auto, backported

#14962 [deckhouse] feat: new linked list queue logic with compaction
  go.mod
  go.sum
  modules/340-monitoring-deckhouse/monitoring/grafana-dashboards/main/deckhouse.json
Labels: area/monitoring, type/enhancement, type/dependencies, area/core, e2e/run/linstor, e2e/use/k8s/1.31

#15111 [d8] Update Deckhouse CLI to 0.16.0 version
  candi/version_map.yml
  docs/documentation/_data/reference/d8-cli.json
Labels: area/kubernetes, area/docs, area/cluster-and-infrastructure

#15082 [docs] Edit info about restore etcd objects
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport

#15130 Backport: [docs] Edit info about restore etcd objects
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#15125 [tools] update dmt to v0.1.33
  tools/dmt-lint.sh
Labels: area/testing

#15134 [candi] fix ExecStartPre in d8-shutdown-inhibitor.service
  ee/modules/040-node-manager/images/d8-shutdown-inhibitor/scripts/d8-shutdown-inhibitor.service
Labels: area/cluster-and-infrastructure, status/backport

#15113 [runtime-audit-engine] Fix CVE's
  ee/modules/650-runtime-audit-engine/images/falco/patches/falcoctl/001-FixCVE-2025-8556_CVE-2025-54410_GHSA-fv92-fjc5-jj9h.patch
  ee/modules/650-runtime-audit-engine/images/falco/patches/falcoctl/README.md
  ee/modules/650-runtime-audit-engine/images/falco/werf.inc.yaml
  ee/modules/650-runtime-audit-engine/images/falcosidekick/patches/002-Fix_CVE-2025-30204_CVE-2025-22869_CVE-2025-22868_CVE-2025-29923_CVE-2025-22870_CVE-2025.patch
  ee/modules/650-runtime-audit-engine/images/falcosidekick/patches/README.md
  ee/modules/650-runtime-audit-engine/images/k8s-metacollector/patches/003-cve.patch
  ee/modules/650-runtime-audit-engine/images/k8s-metacollector/patches/README.md
Labels: area/security

#15120 [user-authz] Fix CVE-2025-22868
  ee/be/modules/140-user-authz/images/webhook/src/go.mod
  ee/be/modules/140-user-authz/images/webhook/src/go.sum
Labels: type/dependencies

#15142 Backport: [candi] fix ExecStartPre in d8-shutdown-inhibitor.service
  ee/modules/040-node-manager/images/d8-shutdown-inhibitor/scripts/d8-shutdown-inhibitor.service
Labels: auto, backported

#14953 [deckhouse-controller] handle errors while processing source modules
  deckhouse-controller/crds/doc-ru-module-source.yaml
  deckhouse-controller/crds/module-source.yaml
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_source.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/module-pull-error.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/module-pull-error.yaml
  deckhouse-controller/pkg/releaseupdater/requirements_checker.go
Labels: type/enhancement, area/core, go, area/api-change

#15150 Backport: [global-hooks] use ep slices in discovery k8s versions hook
  global-hooks/discovery/kubernetes_version.go
  global-hooks/discovery/kubernetes_version_test.go
Labels: auto, backported

#15078 [deckhouse-controller] add module.yaml metric
  docs/site/.helm/dashboards/modules-validation.yaml
  docs/site/.helm/dashboards/registry-modules-watcher-stats.yaml
  docs/site/.helm/templates/15-modules-watcher.yaml
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scanner/process.go
  docs/site/backends/registry-modules-watcher/internal/metrics/metrics.go
Labels: type/enhancement, area/docs, skip/documentation-validation, go

#15169 Backport: [istio] fix metrics-exporter template
  ee/modules/110-istio/templates/multicluster/metrics-exporter/deployment.yaml
Labels: auto, backported

#15166 [docs] Add steps that patch secret and prevent the image pull fail
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: area/docs, status/backport

#15176 Backport: [docs] Add steps that patch secret and prevent the image pull fail
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#15177 Backport: [docs] Add steps that patch secret and prevent the image pull fail
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
Labels: auto, backported

#15173 [prometheus] hardcode internal alerts receiver
  modules/300-prometheus/hooks/enable_prompp.go
  modules/300-prometheus/templates/alerts-receiver/alertmanager.yaml
  modules/300-prometheus/templates/alerts-receiver/deployment.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: area/monitoring, status/backport, go, e2e/use/k8s/1.31

#15178 Backport: [prometheus] hardcode internal alerts receiver
  modules/300-prometheus/hooks/enable_prompp.go
  modules/300-prometheus/templates/alerts-receiver/alertmanager.yaml
  modules/300-prometheus/templates/alerts-receiver/deployment.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
Labels: auto, backported

#15094 [deckhouse] dont ensure mrs of disabled modules
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/module-controllers/config/controller.go
  deckhouse-controller/pkg/controller/module-controllers/override/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/helpers.go
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/proceed-enabled-modules-without-default.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/proceed-enabled-modules.yaml
  deckhouse-controller/pkg/controller/moduleloader/sync.go
Labels: area/core, status/backport, go

#15179 Backport: [deckhouse] dont ensure mrs of disabled modules
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/module-controllers/config/controller.go
  deckhouse-controller/pkg/controller/module-controllers/override/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/helpers.go
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/proceed-enabled-modules-without-default.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/proceed-enabled-modules.yaml
  deckhouse-controller/pkg/controller/moduleloader/sync.go
Labels: auto, backported

#15191 Backport: [docs] DVP StorageClass documentation updates
  candi/cloud-providers/dvp/openapi/cluster_configuration.yaml
  candi/cloud-providers/dvp/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/dvp/openapi/doc-ru-instance_class.yaml
  candi/cloud-providers/dvp/openapi/instance_class.yaml
  ee/modules/500-operator-trivy/openapi/config-values.yaml
  ee/modules/500-operator-trivy/openapi/doc-ru-config-values.yaml
  modules/015-admission-policy-engine/openapi/config-values.yaml
  modules/015-admission-policy-engine/openapi/doc-ru-config-values.yaml
  modules/500-upmeter/openapi/config-values.yaml
  modules/500-upmeter/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#15172 [docs][dvp] Add info about new annotation to set default vmclass
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/virtualization/VIRTUAL_MACHINE_CLASSES.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/virtualization/VIRTUAL_MACHINE_CLASSES_RU.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/VM.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/VM_RU.md
  ee/modules/610-service-with-healthchecks/docs/EXAMPLES.md
  ee/modules/610-service-with-healthchecks/docs/EXAMPLES_RU.md
Labels: area/docs

#15187 [docs] Fix relative links in multitenancy-manager module
  modules/160-multitenancy-manager/docs/README.md
  modules/160-multitenancy-manager/docs/README_RU.md
Labels: area/docs, status/backport

#15193 Backport: [docs] Fix relative links in multitenancy-manager module
  modules/160-multitenancy-manager/docs/README.md
  modules/160-multitenancy-manager/docs/README_RU.md
Labels: auto, backported

#15195 Backport: [deckhouse] dont ensure disabled modules
  deckhouse-controller/pkg/controller/module-controllers/override/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/helpers.go
  deckhouse-controller/pkg/controller/moduleloader/sync.go
Labels: auto, backported

#15199 [deckhouse-controller] Fix module config condition setting, fix module definition downloading
  deckhouse-controller/pkg/controller/module-controllers/config/controller.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/downloader.go
Labels: type/enhancement, area/core, status/backport, go

#15202 Backport: [deckhouse-controller] Fix module config condition setting, fix module definition downloading
  deckhouse-controller/pkg/controller/module-controllers/config/controller.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/downloader.go
Labels: auto, backported

#15188 [docs][getting-started] Add note about Red Hat based OS on the 5th step of GS
  docs/site/_includes/getting_started/bm/STEP_FINALIZE.md
  docs/site/_includes/getting_started/bm/STEP_FINALIZE_RU.md
Labels: area/docs

#15207 [docs][log-shipper] Updates due to using distroless containers
  modules/460-log-shipper/docs/ADVANCED_USAGE.md
  modules/460-log-shipper/docs/ADVANCED_USAGE_RU.md
Labels: area/docs, status/backport, area/logs

#15211 Backport: [docs][log-shipper] Updates due to using distroless containers
  modules/460-log-shipper/docs/ADVANCED_USAGE.md
  modules/460-log-shipper/docs/ADVANCED_USAGE_RU.md
Labels: auto, backported

#15212 Backport: [docs][log-shipper] Updates due to using distroless containers
  modules/460-log-shipper/docs/ADVANCED_USAGE.md
  modules/460-log-shipper/docs/ADVANCED_USAGE_RU.md
Labels: auto, backported

#15214 Backport: [docs][log-shipper] Minor updates and fix linter
  modules/460-log-shipper/docs/ADVANCED_USAGE.md
  modules/460-log-shipper/docs/ADVANCED_USAGE_RU.md
  modules/460-log-shipper/docs/FAQ.md
  modules/460-log-shipper/docs/FAQ_RU.md
Labels: auto, backported

#15215 Backport: [docs][log-shipper] Minor updates and fix linter
  modules/460-log-shipper/docs/ADVANCED_USAGE.md
  modules/460-log-shipper/docs/ADVANCED_USAGE_RU.md
  modules/460-log-shipper/docs/FAQ.md
  modules/460-log-shipper/docs/FAQ_RU.md
Labels: auto, backported

#15204 [dashboard] add user-authz requirement
  modules/500-dashboard/enabled
  modules/500-dashboard/module.yaml
Labels: status/backport, area/ui

#15219 Backport: [dashboard] add user-authz requirement
  modules/500-dashboard/enabled
  modules/500-dashboard/module.yaml
Labels: auto, backported

#15220 Backport: [cni-cilium] Added a compatibility check for the kernel and Cilium versions when Wireguard is used on a node
  .github/dependabot.yml
  modules/021-cni-cilium/images/check-wg-kernel-compat/src/go.mod
  modules/021-cni-cilium/images/check-wg-kernel-compat/src/go.sum
  modules/021-cni-cilium/images/check-wg-kernel-compat/src/main.go
  modules/021-cni-cilium/images/check-wg-kernel-compat/src/main_test.go
  modules/021-cni-cilium/images/check-wg-kernel-compat/werf.inc.yaml
  modules/021-cni-cilium/templates/_agent-daemonset.tpl
  modules/021-cni-cilium/templates/safe-agent-updater/daemonset.yaml
  testing/library/images_tags_generated.go
Labels: auto, backported

#15222 Backport: [runtime-audit-engine] Limit memory consumption by falco containers
  ee/modules/650-runtime-audit-engine/templates/falco-leak-limit-range.yaml
Labels: auto, backported

#15224 Backport: [cert-manager] Fix CVE's
  modules/101-cert-manager/images/cert-manager-controller/patches/002-FixCVE.patch
  modules/101-cert-manager/images/cert-manager-controller/patches/README.md
Labels: auto, backported

#15231 Backport: [chore][release-notes] Update release requirements for DKP v1.72
  docs/documentation/_includes/release-notes/RELEASE-NOTES.md
  docs/documentation/_includes/release-notes/RELEASE-NOTES_RU.md
Labels: auto, backported

#15227 Revert "Backport: [runtime-audit-engine] Limit memory consumption by falco containers"
  ee/modules/650-runtime-audit-engine/templates/falco-leak-limit-range.yaml
Labels: area/security

#15226 Revert "Backport: [cert-manager] Fix CVE's"
  modules/101-cert-manager/images/cert-manager-controller/patches/002-FixCVE.patch
  modules/101-cert-manager/images/cert-manager-controller/patches/README.md
Labels: area/security

#15131 [deckhouse] remove module weight constraint
  deckhouse-controller/pkg/controller/moduleloader/types/definition.go
Labels: area/core, status/backport, go

#15031 [deckhouse-controller] compute releaseQueueDepth from actionable release
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/releaseupdater/task_calculator.go
  deckhouse-controller/pkg/releaseupdater/task_calculator_test.go
Labels: area/core, go

#15104 [dhctl] Fix legacy SSH tunnel preflight check
  dhctl/pkg/preflight/common.go
Labels: area/cli, status/backport, go

#15246 Backport: [dhctl] Fix legacy SSH tunnel preflight check
  dhctl/pkg/preflight/common.go
Labels: auto, backported

#15241 [docs] Add example at admission-policy-engine documentation
  modules/015-admission-policy-engine/docs/GATEKEEPER-CR.md
  modules/015-admission-policy-engine/docs/GATEKEEPER-CR_RU.md
Labels: area/security, area/docs, status/backport

#15253 Backport: [docs] Add example at admission-policy-engine documentation
  modules/015-admission-policy-engine/docs/GATEKEEPER-CR.md
  modules/015-admission-policy-engine/docs/GATEKEEPER-CR_RU.md
Labels: auto, backported
