Repository deckhouse/deckhouse, pull requests merged in 2025-03, with the labels that each got.

#12347 [docs] Update mc metallb version in vCloud GS example
  docs/site/_includes/getting_started/vcd/partials/config.ru.yml.standard.other.inc
  docs/site/_includes/getting_started/vcd/partials/config.yml.standard.other.inc
Labels: area/docs, skip/e2e

#12271 [deckhouse-controller] update storedVersions of CRD
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: area/testing, type/dependencies, area/core

#12367 [deckhoues-controller] clean up hooks
  modules/002-deckhouse/hooks/clean_endpoint_slices.go
  modules/002-deckhouse/hooks/clean_endpoint_slices_test.go
  modules/002-deckhouse/hooks/handle_pending_upgrade.go
  modules/002-deckhouse/hooks/handle_pending_upgrade_test.go
Labels: go

#12380 [docs] Use detailed tooltips for a module stage in the sidebar
  docs/documentation/_plugins/custom_sidebar.rb
  docs/site/backends/docs-builder-template/layouts/partials/sidebar.html
Labels: area/docs

#12382 Backport: [docs] Use detailed tooltips for a module stage in the sidebar
  docs/documentation/_plugins/custom_sidebar.rb
  docs/site/backends/docs-builder-template/layouts/partials/sidebar.html
Labels: auto, backported

#12383 Backport: [docs] Use detailed tooltips for a module stage in the sidebar
  docs/documentation/_plugins/custom_sidebar.rb
  docs/site/backends/docs-builder-template/layouts/partials/sidebar.html
Labels: auto, backported

#12384 [docs] Fix module stages description
  docs/documentation/_data/i18n.yml
Labels: status/backport

#12385 Backport: [docs] Fix module stages description
  docs/documentation/_data/i18n.yml
Labels: auto, backported

#12386 Backport: [docs] Fix module stages description
  docs/documentation/_data/i18n.yml
Labels: auto, backported

#12339 [docs] Update alert descriptions
  docs/documentation/_data/deckhouse-alerts.yml
  docs/documentation/_plugins/custom_filters.rb
  ee/fe/modules/340-monitoring-applications/monitoring/prometheus-rules/warnings/warnings.yaml
  modules/340-monitoring-custom/monitoring/prometheus-rules/reserved-domain.tpl
  modules/340-monitoring-custom/monitoring/prometheus-rules/warnings/warnings.yaml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/alerting.yaml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/cni-checks.yaml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/deckhouse.yaml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/kernel-requirements.yaml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/migration-alerts.tpl
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/node-os-requirements.yaml
  modules/340-monitoring-kubernetes-control-plane/monitoring/prometheus-rules/kube-controller-manager.yaml
  modules/340-monitoring-kubernetes-control-plane/monitoring/prometheus-rules/kube-etcd3.yaml
  modules/340-monitoring-kubernetes-control-plane/monitoring/prometheus-rules/kube-scheduler.yaml
  modules/340-monitoring-kubernetes-control-plane/monitoring/prometheus-rules/kubernetes.tpl
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/generic/cri-version.tpl
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/generic/general.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/generic/kube-state-metrics.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/generic/kubelet.tpl
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/generic/node.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/helm/deprecated-versions.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/ebpf-exporter.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/kube-dns.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/loadbalancer.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/node-disk-usage.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/node-ro-fs.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/node.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/pod-status.yaml
  modules/340-monitoring-kubernetes/monitoring/prometheus-rules/kubernetes/storage-class.tpl
  modules/340-monitoring-ping/monitoring/prometheus-rules/node-ping.yaml
Labels: area/monitoring, area/docs

#12186 [deckhouse-controller] fix creating deckhouse release loop
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/deckhouse_release.go
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
  deckhouse-controller/pkg/controller/deckhouse-release/check_release_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/next_version_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/deployed-release-suspended.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/existed-release-suspended.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/deployed-release-suspended.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/existed-release-suspended.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-canary-release-wave-0.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-canary-release-wave-4.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-new-deckhouse-image.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/image-hash-not-changed.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/inherit-release-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/new-release-suspended.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/patch-release-has-own-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-canary.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-disruptions.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-requirements.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-with-changelog.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/restore-absent-releases-from-registry.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/resume-suspended-release.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/step-by-step-update-successfully.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/resume-suspended-release.yaml
  deckhouse-controller/pkg/registry/deckhouse.go
Labels: type/enhancement, area/core, status/backport, go

#12392 Backport: [deckhouse-controller] fix creating deckhouse release loop
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/deckhouse_release.go
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
  deckhouse-controller/pkg/controller/deckhouse-release/check_release_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/next_version_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/deployed-release-suspended.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/existed-release-suspended.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/deployed-release-suspended.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/existed-release-suspended.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-canary-release-wave-0.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-canary-release-wave-4.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-new-deckhouse-image.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/image-hash-not-changed.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/inherit-release-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/new-release-suspended.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/patch-release-has-own-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-canary.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-disruptions.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-requirements.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-with-changelog.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/restore-absent-releases-from-registry.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/resume-suspended-release.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/step-by-step-update-successfully.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/resume-suspended-release.yaml
  deckhouse-controller/pkg/registry/deckhouse.go
Labels: auto, backported

#12274 [deckhouse-controller] add reinstall annotation
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/deckhouse_release.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_release.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/release.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/reinstall-annotation.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/reinstall-annotation.yaml
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/cache/cache_test.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/registry-scaner.go
Labels: type/enhancement, area/docs, area/core, go

#12337 [docs] feat/new registry watcher cache
  docs/site/.helm/values.yaml
  docs/site/backends/docs-builder/README.MD
  docs/site/backends/docs-builder/internal/docs/build.go
  docs/site/backends/docs-builder/internal/docs/channel_mapping.go
  docs/site/backends/docs-builder/internal/docs/channel_mapping_test.go
  docs/site/backends/docs-builder/internal/docs/delete.go
  docs/site/backends/docs-builder/internal/docs/info.go
  docs/site/backends/docs-builder/internal/docs/upload.go
  docs/site/backends/docs-builder/internal/http/v1/handler.go
  docs/site/backends/docs-builder/main.go
  docs/site/backends/registry-modules-watcher/README.MD
  docs/site/backends/registry-modules-watcher/cmd/main.go
  docs/site/backends/registry-modules-watcher/go.mod
  docs/site/backends/registry-modules-watcher/go.sum
  docs/site/backends/registry-modules-watcher/internal/backends/backends.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/cache/cache.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/cache/cache_test.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/process.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scaner/registry-scaner.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scanner/cache/cache.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scanner/cache/cache_test.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scanner/process.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scanner/process_test.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scanner/registry-scaner.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/registry-scanner/registry_client_mock.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/sender/sender.go
  docs/site/backends/registry-modules-watcher/internal/backends/pkg/sender/sender_test.go
  docs/site/backends/registry-modules-watcher/internal/version.go
  docs/site/backends/registry-modules-watcher/internal/watcher/watcher.go
  docs/site/backends/registry-modules-watcher/pkg/registry-client/helpers.go
  docs/site/backends/registry-modules-watcher/pkg/registry-client/registry-client.go
Labels: type/enhancement, area/docs, type/dependencies, go

#12151 [go-lib] add text handler
  dhctl/go.mod
  go.mod
  go.sum
  pkg/log/go.mod
  pkg/log/json_handler.go
  pkg/log/logger.go
  pkg/log/logger_test.go
  pkg/log/output.go
  pkg/log/text_handler.go
Labels: type/enhancement, type/dependencies, area/cli, area/core, go

#12393 [docs] Fixes in istio (clarification of versions)
  modules/110-istio/docs/EXAMPLES.md
  modules/110-istio/docs/EXAMPLES_RU.md
Labels: area/network, area/docs, skip/documentation-validation, status/backport

#12396 Backport: [docs] Fixes in istio (clarification of versions)
  modules/110-istio/docs/EXAMPLES.md
  modules/110-istio/docs/EXAMPLES_RU.md
Labels: auto, backported

#12296 [deckhouse-controller] feat/add dryrun annotation module
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/deckhouse_release.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_release.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
Labels: type/enhancement, area/core, go

#12408 [docs][website] update memory requests for documentation pods
  docs/documentation/.helm/values.yaml
  docs/site/.helm/values.yaml
Labels: area/docs, status/backport

#12409 Backport: [docs][website] update memory requests for documentation pods
  docs/documentation/.helm/values.yaml
  docs/site/.helm/values.yaml
Labels: auto, backported

#12410 Backport: [docs][website] update memory requests for documentation pods
  docs/documentation/.helm/values.yaml
  docs/site/.helm/values.yaml
Labels: auto, backported

#12407 [cloud-provider-aws] Fix values setting(`cloudProviderAws.internal`) in a golang hooks
  modules/030-cloud-provider-aws/hooks/aws_cluster_configuration.go
Labels: area/cloud-provider, go

#12378 [metallb] Add hook for deleting a deprecated CRD
  global-hooks/migrate/delete-metallb-deprecated-crd.go
  global-hooks/migrate/delete-metallb-deprecated-crd_test.go
Labels: area/core, skip/e2e, go

#12273 [docs] Correction of links and typos in DVP
  deckhouse-controller/crds/doc-ru-module-config.yaml
  deckhouse-controller/crds/doc-ru-module.yaml
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
  docs/documentation/pages/installing/UNINSTALL_RU.md
  docs/site/_data/sidebars/virtualization-platform.yml
  docs/site/pages/guides/PRODUCTION.md
  docs/site/pages/guides/PRODUCTION_RU.md
  docs/site/pages/virtualization-platform/documentation/FAQ.md
  docs/site/pages/virtualization-platform/documentation/FAQ_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/PREPARE.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/PREPARE_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/STORAGE.md
  docs/site/pages/virtualization-platform/documentation/admin/install/steps/STORAGE_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/control-plane-settings/ETCD.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/control-plane-settings/ETCD_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/monitoring/NODE_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/node-management/ADDING_NODE_RU.md
  docs/site/pages/virtualization-platform/documentation/user/PROJECT.ACCESS_RU.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/SNAPSHOTS_RU.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/VM.md
  docs/site/pages/virtualization-platform/documentation/user/resource-managment/VM_RU.md
  docs/site/pages/virtualization-platform/reference/console-utilities/D8.md
  docs/site/pages/virtualization-platform/reference/console-utilities/D8_RU.md
  ee/candi/cloud-providers/vcd/docs/ENVIRONMENT_RU.md
  ee/modules/610-service-with-healthchecks/docs/EXAMPLES.md
  ee/modules/610-service-with-healthchecks/docs/EXAMPLES_RU.md
  modules/040-node-manager/docs/FAQ_RU.md
  modules/101-cert-manager/openapi/doc-ru-config-values.yaml
Labels: area/cloud-provider, area/security, area/docs, area/cluster-and-infrastructure, area/core, skip/documentation-validation, area/api-change

#12095 [docs] add a modal window to the contact button
  docs/documentation/_data/modal.yml
  docs/documentation/_includes/form_in_modal.html
  docs/documentation/_includes/request_callback_form.html
  docs/site/_assets/css/components/_request-callback.scss
  docs/site/_assets/css/components/common/_button.scss
  docs/site/_assets/css/components/common/_form.scss
  docs/site/_assets/css/components/common/_text.scss
  docs/site/_assets/css/site.scss
  docs/site/_assets/js/popup-form.js
  docs/site/_data/modal.yml
  docs/site/_includes/form_in_modal.html
  docs/site/_includes/header.html
  docs/site/_includes/request_callback_form.html
Labels: area/docs

#12283 [multitenancy-manager] fix namespace rendering
  modules/160-multitenancy-manager/images/multitenancy-manager/src/internal/helm/client_test.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/internal/helm/renderer.go
  modules/160-multitenancy-manager/images/multitenancy-manager/src/internal/helm/testdata/default_case/resources.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/internal/helm/testdata/secure_case/resources.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/internal/helm/testdata/secure_with_dedicated_node_case/resources.yaml
  modules/160-multitenancy-manager/images/multitenancy-manager/src/internal/manager/project/manager.go
Labels: go

#12196 [istio] Improve istio api proxy
  ee/modules/110-istio/images/api-proxy/src/go.mod
  ee/modules/110-istio/images/api-proxy/src/go.sum
  ee/modules/110-istio/images/api-proxy/src/main.go
  ee/modules/110-istio/images/api-proxy/src/models.go
  ee/modules/110-istio/images/api-proxy/src/proxy.go
  ee/modules/110-istio/images/api-proxy/werf.inc.yaml
Labels: area/network, type/dependencies, go, e2e/use/k8s/1.28

#12428 [monitoring-applications] Fix enabled scripts for modules
  ee/be/modules/350-node-local-dns/.namespace
  ee/be/modules/350-node-local-dns/enabled
  ee/be/modules/350-node-local-dns/module.yaml
  ee/fe/modules/340-monitoring-applications/.namespace
  ee/fe/modules/340-monitoring-applications/enabled
  ee/fe/modules/340-monitoring-applications/module.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
Labels: area/cluster-and-infrastructure, status/backport, go

#12430 Backport: [monitoring-applications] Fix enabled scripts for modules
  ee/be/modules/350-node-local-dns/.namespace
  ee/be/modules/350-node-local-dns/enabled
  ee/be/modules/350-node-local-dns/module.yaml
  ee/fe/modules/340-monitoring-applications/.namespace
  ee/fe/modules/340-monitoring-applications/enabled
  ee/fe/modules/340-monitoring-applications/module.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
Labels: auto, backported

#12433 Backport: [prometheus-rules] Change links in prometheus-rules when module documentation is enable.
  modules/040-node-manager/monitoring/prometheus-rules/early-oom.tpl
  modules/340-monitoring-custom/monitoring/prometheus-rules/reserved-domain.tpl
Labels: auto, backported

#12434 Backport: [deckhouse-tools] Fix tools links pointing to wrong path
  modules/800-deckhouse-tools/images/web/static/tools.json
Labels: auto, backported

#12435 Backport: [metallb] Add logging for hooks
  ee/se/modules/380-metallb/hooks/discovery_l2_load_balancers.go
  ee/se/modules/380-metallb/hooks/migration_adopt_old_fashioned_l2_lbs.go
  ee/se/modules/380-metallb/hooks/migration_auto_generating_l2_mlbc.go
  ee/se/modules/380-metallb/hooks/update_service_status.go
Labels: auto, backported

#12436 Backport: [metallb] Fix alerts for EE edition
  ee/modules/380-metallb/.build.yaml
  ee/se/modules/380-metallb/monitoring/prometheus-rules/services.yaml
  ee/se/modules/380-metallb/templates/rbac-for-us.yaml
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: auto, backported

#12438 Backport: Changelog v1.68.2
  CHANGELOG/CHANGELOG-v1.68.2.yml
  CHANGELOG/CHANGELOG-v1.68.md
Labels: auto, backported

#12440 Backport: [docs] add a modal window to the contact button
  docs/documentation/_data/modal.yml
  docs/documentation/_includes/form_in_modal.html
  docs/documentation/_includes/request_callback_form.html
  docs/site/_assets/css/components/_request-callback.scss
  docs/site/_assets/css/components/common/_button.scss
  docs/site/_assets/css/components/common/_form.scss
  docs/site/_assets/css/components/common/_text.scss
  docs/site/_assets/css/site.scss
  docs/site/_assets/js/popup-form.js
  docs/site/_data/modal.yml
  docs/site/_includes/form_in_modal.html
  docs/site/_includes/header.html
  docs/site/_includes/request_callback_form.html
Labels: auto, backported

#12441 [docs] add a modal window to the contact button
  docs/documentation/_data/modal.yml
  docs/documentation/_includes/form_in_modal.html
  docs/documentation/_includes/request_callback_form.html
  docs/site/_assets/css/components/_request-callback.scss
  docs/site/_assets/css/components/common/_button.scss
  docs/site/_assets/css/components/common/_form.scss
  docs/site/_assets/css/components/common/_text.scss
  docs/site/_assets/css/site.scss
  docs/site/_assets/js/popup-form.js
  docs/site/_data/modal.yml
  docs/site/_includes/form_in_modal.html
  docs/site/_includes/header.html
  docs/site/_includes/request_callback_form.html
Labels: area/docs

#11845 [istio] Optimize metadata exporter for multicluser and federation
  ee/modules/110-istio/images/metadata-discovery/hooks/ingressgateways
  ee/modules/110-istio/images/metadata-discovery/hooks/services
  ee/modules/110-istio/images/metadata-discovery/werf.inc.yaml
  ee/modules/110-istio/images/metadata-exporter/src/exporter.go
  ee/modules/110-istio/images/metadata-exporter/src/exporter_test.go
  ee/modules/110-istio/images/metadata-exporter/src/go.mod
  ee/modules/110-istio/images/metadata-exporter/src/go.sum
  ee/modules/110-istio/images/metadata-exporter/src/main.go
  ee/modules/110-istio/images/metadata-exporter/src/models.go
  ee/modules/110-istio/images/metadata-exporter/werf.inc.yaml
  ee/modules/110-istio/templates/alliance/metadata-exporter/deployment.yaml
  ee/modules/110-istio/templates/alliance/metadata-exporter/rbac-for-us.yaml
  testing/library/images_tags_generated.go
Labels: area/network, area/testing, type/dependencies, go, e2e/use/k8s/1.28

#12419 [dhctl] fix: sudoPassword is not passed for dhctl-server and cannot be used non-interactively (1.68)
  dhctl/pkg/preflight/sudoers.go
  dhctl/pkg/server/pkg/helper/ssh_client.go
Labels: area/cli, go

#12264 fix repush trivy-db
  .github/ci_templates/cve_tests.yaml
  .github/ci_templates/steps.yml
  .github/scripts/send-report.sh
  .github/workflow_templates/trivy-db-schedule.yml
  .github/workflows/cve-pr.yml
  .github/workflows/cve-weekly.yml
  .github/workflows/trivy-db-schedule.yml
  tools/cve/check-non-root.sh
  tools/cve/d8-images.sh
Labels: area/testing

#12400 [dhctl] feat(dhctl-for-commander): use only ConfigPaths in dhctl server bootstrap
  dhctl/pkg/app/app.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/server/rpc/dhctl/abort.go
  dhctl/pkg/server/rpc/dhctl/bootstrap.go
  dhctl/pkg/server/rpc/dhctl/check.go
  dhctl/pkg/server/rpc/dhctl/commander_attach.go
  dhctl/pkg/server/rpc/dhctl/commander_detach.go
  dhctl/pkg/server/rpc/dhctl/converge.go
  dhctl/pkg/server/rpc/dhctl/destroy.go
Labels: area/cli, go

#12456 [docs] Fix documentation local build
  docs/site/docker-compose.yml
Labels: area/docs

#12190 [dhctl] Add deckhouse user and group existence preflight check
  candi/bashible/common-steps/all/002_create_static_node_cleanup_script.sh.tpl
  candi/bashible/preflight/check_deckhouse_user.sh.tpl
  dhctl/pkg/app/preflight.go
  dhctl/pkg/preflight/deckhouse_user.go
  dhctl/pkg/preflight/preflight.go
  dhctl/pkg/template/bundle.go
  dhctl/pkg/template/preflight.go
Labels: area/cluster-and-infrastructure, area/cli, go

#12201 Chore/update block e2e tests during dev image build
  .github/ci_templates/e2e_tests.yml
  .github/ci_templates/helper_jobs.yml
  .github/scripts/js/helpers/github-actions.js
  .github/scripts/js/helpers/types.js
  .github/scripts/js/helpers/utils.js
  .github/scripts/js/package-lock.json
  .github/scripts/js/package.json
  .github/scripts/js/validators/validate-job-in-workflow-is-ready.js
  .github/scripts/js/validators/validate-job-in-workflow-is-ready.test-node.js
  .github/scripts/js/validators/validate-job-in-workflow-is-ready.test.js
  .github/workflow_templates/e2e-daily.yml
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vcd.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: skip/e2e

#12451 fix registrypackage amazon-ec2 build
  modules/007-registrypackages/images/amazon-ec2-utils/werf.inc.yaml
Labels: area/core

#12297 [candi] Delete unnecessary warnings at sysctl tuner
  candi/bashible/common-steps/all/041_configure_sysctl_tuner.sh.tpl
Labels: area/cluster-and-infrastructure

#12291 [candi] Clarify error message about kubelet certificates
  candi/bashible/common-steps/all/069_start_kubelet.sh.tpl
Labels: area/cluster-and-infrastructure

#12448 [deckhouse-controller] fix out of order vertices traversing
  go.mod
  go.sum
Labels: type/bug, type/dependencies, area/core, status/backport

#12357 [user-authn] feat: update dex to v2.42.0
  modules/150-user-authn/images/dex-authenticator/patches/001-go-mod.patch
  modules/150-user-authn/images/dex-authenticator/patches/002-cookie-refresh.patch
  modules/150-user-authn/images/dex-authenticator/patches/003-remove-groups.patch
  modules/150-user-authn/images/dex-authenticator/patches/004-add-redis-retries.patch
  modules/150-user-authn/images/dex-authenticator/patches/README.md
  modules/150-user-authn/images/dex/patches/0001-go-mod.patch
  modules/150-user-authn/images/dex/patches/0002-bytes-and-string-certificates.patch
  modules/150-user-authn/images/dex/patches/0003-client-filters.patch
  modules/150-user-authn/images/dex/patches/0004-fix-offline-session-updates.patch
  modules/150-user-authn/images/dex/patches/001-go-mod.patch
  modules/150-user-authn/images/dex/patches/002-client-filters.patch
  modules/150-user-authn/images/dex/patches/003-gitlab-refresh-context.patch
  modules/150-user-authn/images/dex/patches/004-static-user-groups.patch
  modules/150-user-authn/images/dex/patches/README.md
  modules/150-user-authn/images/dex/werf.inc.yaml
Labels: area/auth

#12197 feat: add security context with RuntimeDefault seccomp profile to dex container
  helm_lib/Chart.lock
  helm_lib/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/Chart.yaml
  helm_lib/charts/deckhouse_lib_helm/README.md
  helm_lib/charts/deckhouse_lib_helm/templates/_csi_controller.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_csi_node.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_module_image.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_module_name.tpl
  helm_lib/charts/deckhouse_lib_helm/templates/_module_security_context.tpl
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
Labels: area/auth, area/core

#12227 [deckhouse] fix initial module config validation
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/zz_generated.deepcopy.go
  deckhouse-controller/pkg/controller/confighandler/handler.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
Labels: area/core, status/backport, go

#12453 [metallb] Change the CRD removal method
  global-hooks/migrate/delete-metallb-deprecated-crd.go
  global-hooks/migrate/delete-metallb-deprecated-crd_test.go
Labels: area/core, skip/e2e, go

#12461 [deckhouse-controller] update addon-operator
  go.mod
  go.sum
Labels: type/dependencies, area/core

#12318 [static-router-manager] fix panic when nodeselector is wrong
  ee/modules/025-static-routing-manager/crds/doc-ru-routingtables.yaml
  ee/modules/025-static-routing-manager/crds/routingtables.yaml
  ee/modules/025-static-routing-manager/hooks/routingtables_handler.go
  ee/modules/025-static-routing-manager/hooks/routingtables_handler_test.go
Labels: e2e/cluster/failed, go, area/api-change, e2e/use/k8s/1.30

#12246 [ci] Optimize src artifacts build
  modules/110-istio/images/proxyv2-v1x21x6/werf.inc.yaml
  modules/402-ingress-nginx/images/controller-1-10/werf.inc.yaml
  modules/402-ingress-nginx/images/kruise-state-metrics/werf.inc.yaml
  modules/402-ingress-nginx/images/kruise/werf.inc.yaml
  modules/402-ingress-nginx/images/nginx-exporter/werf.inc.yaml
Labels: area/network, e2e/cluster/failed, e2e/use/k8s/1.28

#12465 [deckhouse] initial config validation
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/zz_generated.deepcopy.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
Labels: area/core, go

#12471 Backport: Changelog v1.68.3
  CHANGELOG/CHANGELOG-v1.68.3.yml
  CHANGELOG/CHANGELOG-v1.68.md
Labels: auto, backported

#12477 Backport: [metallb] Fix module startup error with empty Selector value in SVC
  ee/se/modules/380-metallb/hooks/discovery_l2_load_balancers_test.go
  ee/se/modules/380-metallb/openapi/values.yaml
Labels: auto, backported

#12412 [deckhouse] get rid of manual endpoints creation
  global-hooks/create_endpoints.go
  global-hooks/create_endpoints_test.go
  global-hooks/set_deckhouse_leader_pod.go
  modules/002-deckhouse/templates/service.yaml
Labels: area/core, go, e2e/use/multimaster

#12232 [dhctl] time drift preflight check
  1
  dhctl/pkg/app/preflight.go
  dhctl/pkg/preflight/check_time.go
  dhctl/pkg/preflight/preflight.go
Labels: area/cli, go

#12480 [docs] Add sidebar validation. Fix DVP sidebar.
  docs/documentation/_plugins/custom_sidebar.rb
  docs/site/_data/sidebars/virtualization-platform.yml
Labels: area/docs

#12472 [docs] Fixed typos at VMware configuration parameters
  ee/modules/030-cloud-provider-vcd/openapi/config-values.yaml
  ee/modules/030-cloud-provider-vcd/openapi/doc-ru-config-values.yaml
Labels: area/cloud-provider, status/backport, area/api-change

#12482 Backport: [docs] Fixed typos at VMware configuration parameters
  ee/modules/030-cloud-provider-vcd/openapi/config-values.yaml
  ee/modules/030-cloud-provider-vcd/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#12483 Backport: [docs] Fixed typos at VMware configuration parameters
  ee/modules/030-cloud-provider-vcd/openapi/config-values.yaml
  ee/modules/030-cloud-provider-vcd/openapi/doc-ru-config-values.yaml
Labels: auto, backported

#12463 [docs] Fixed the block with availability in editions
  docs/documentation/_plugins/custom_hooks.rb
  docs/site/backends/docs-builder-template/layouts/_default/single.html
Labels: area/docs, skip/documentation-validation, status/backport

#12484 Backport: [docs] Display editions only in readme and moduleconfig page
  docs/documentation/_plugins/custom_hooks.rb
  docs/site/backends/docs-builder-template/layouts/_default/single.html
Labels: auto, backported

#11983 chore: migrate build tools
  modules/021-cni-cilium/images/base-cilium-dev/werf.inc.yaml
  modules/110-istio/images/proxyv2-v1x21x6/werf.inc.yaml
  modules/300-prometheus/images/grafana-v10/werf.inc.yaml
Labels: area/monitoring, area/network

#12387 [operator-trivy] refactor node-collector image building
  ee/modules/500-operator-trivy/images/node-collector/werf.inc.yaml
Labels: area/security

#12421 [deckhouse-controller] remove release cooldown
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/deckhouse_release.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/release.go
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/inherit-release-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/patch-release-has-own-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-cooldown.yaml
  deckhouse-controller/pkg/releaseupdater/deploy_time_checker.go
  modules/002-deckhouse/docs/internal/RELEASE.md
Labels: type/enhancement, area/docs, area/core, skip/documentation-validation, go

#12301 [cloud-provider-yandex]: add separate nat_instance subnet
  candi/cloud-providers/yandex/docs/LAYOUTS.md
  candi/cloud-providers/yandex/docs/LAYOUTS_RU.md
  candi/cloud-providers/yandex/layouts/with-nat-instance/base-infrastructure/main.tf
  candi/cloud-providers/yandex/layouts/with-nat-instance/variables.tf
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
  candi/cloud-providers/yandex/terraform-modules/vpc-components/nat_instance.tf
  candi/cloud-providers/yandex/terraform-modules/vpc-components/variables.tf
  dhctl/pkg/app/preflight.go
  dhctl/pkg/preflight/check_yandex_with_nat.go
  dhctl/pkg/preflight/check_yandex_with_nat_test.go
  dhctl/pkg/preflight/preflight.go
  dhctl/pkg/preflight/registry_test.go
  dhctl/pkg/preflight/testdata/specs_test_yandex_pcc_empty_withNATInstance.yml
  dhctl/pkg/preflight/testdata/specs_test_yandex_pcc_for_happy_path.yml
  tools/docs/spelling/dictionaries/dev_OPS.dic
  tools/docs/spelling/wordlist
Labels: area/cloud-provider, area/testing, area/docs, area/cluster-and-infrastructure, area/cli, go, area/api-change

#12487 [chore]: update pr changes validator
  .github/scripts/js/validators/pr-changes-validator.js
  .github/scripts/js/validators/pr-changes-validator.test.js
  .github/workflow_templates/validation.yml
  .github/workflows/validation.yml
Labels: skip/e2e

#12500 Backport: [candi] Fix add_node_users.sh
  candi/bashible/common-steps/all/000_add_node_users.sh.tpl
Labels: auto, backported

#12327 [candi] Send bashible info events start and finish update nodes to default namespace
  candi/bashible/bashible.sh.tpl
Labels: area/cluster-and-infrastructure

#12418 Update kube-state-metrics to version v2.15.0
  modules/340-monitoring-kubernetes/images/kube-state-metrics/patches/README.md
  modules/340-monitoring-kubernetes/images/kube-state-metrics/patches/fix-kube_pod_tolerations-deduplicate.patch
  modules/340-monitoring-kubernetes/images/kube-state-metrics/patches/go-mod.patch
  modules/340-monitoring-kubernetes/images/kube-state-metrics/werf.inc.yaml
Labels: area/monitoring

#12417 Add prometheus/extended-monitoring conversion hook descriptions
  docs/documentation/_data/conversions.yml
  modules/300-prometheus/openapi/conversions/v2.yaml
  modules/340-extended-monitoring/openapi/conversions/v2.yaml
Labels: area/monitoring, area/docs, skip/no-cyrillic-validation

#12374 [dhctl] Fix converge cloud permanent nodegroups
  dhctl/pkg/operations/converge/controller/cloud_permanent_node_group.go
Labels: area/cli, go

#12504 [docs] Fix contact button
  docs/documentation/_layouts/default.html
  docs/site/_data/modal.yml
  docs/site/_includes/footer.html
  docs/site/_includes/request_callback_form.html
  docs/site/_layouts/default.html
Labels: area/docs

#12508 [docs] Fixed alert with SE+ edition at documentation
  docs/documentation/_data/modules/editions-addition.json
  docs/site/backends/docs-builder-template/data/editions.json
Labels: area/docs, skip/documentation-validation, status/backport

#12516 Backport: [docs] Fixed alert with SE+ edition at documentation
  docs/documentation/_data/modules/editions-addition.json
  docs/site/backends/docs-builder-template/data/editions.json
Labels: auto, backported

#12518 Backport: [docs] Fixed alert with SE+ edition at documentation
  docs/documentation/_data/modules/editions-addition.json
  docs/site/backends/docs-builder-template/data/editions.json
Labels: auto, backported

#12520 Backport: [docs] Fix contact button
  docs/documentation/_layouts/default.html
  docs/site/_data/modal.yml
  docs/site/_includes/footer.html
  docs/site/_includes/request_callback_form.html
  docs/site/_layouts/default.html
Labels: auto, backported

#12512 [docs] Minor fix in PodLoggingConfig
  modules/460-log-shipper/crds/doc-ru-pod-logging-config.yaml
  modules/460-log-shipper/crds/pod-logging-config.yaml
Labels: skip/documentation-validation, status/backport, area/logs, area/api-change

#12531 Backport: [admission-policy-engine] FIx requiredResource OperationPolicy
  modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/hooks/internal/apis/v1alpha1.go
  modules/150-user-authn/templates/dex-authenticator/deployment.yaml
Labels: auto, backported

#12532 Backport: Empty limit handler
  modules/015-admission-policy-engine/crds/operation-policy.yaml
  modules/015-admission-policy-engine/hooks/internal/apis/v1alpha1.go
  modules/015-admission-policy-engine/templates/policies/operation-policy/constraint.yaml
Labels: auto, backported

#12527 [deckhouse-controller] Remove heritage label from deckhouse release
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-canary-release-wave-0.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-canary-release-wave-4.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-new-deckhouse-image.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/inherit-release-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/new-release-suspended.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/patch-release-has-own-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-canary.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-disruptions.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-requirements.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-with-changelog.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/restore-absent-releases-from-registry.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/step-by-step-update-successfully.yaml
  modules/002-deckhouse/templates/validation.yaml
Labels: type/bug, area/core, status/backport, go

#12534 Backport: [deckhouse-controller] Remove heritage label from deckhouse release
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-canary-release-wave-0.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-canary-release-wave-4.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/have-new-deckhouse-image.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/inherit-release-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/new-release-suspended.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/patch-release-has-own-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-canary.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-cooldown.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-disruptions.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-has-requirements.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-with-changelog.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/restore-absent-releases-from-registry.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/step-by-step-update-successfully.yaml
  modules/002-deckhouse/templates/validation.yaml
Labels: auto, backported

#12323 [deckhouse-controller] feat: move priority class module to deckhouse module
  deckhouse-controller/cmd/deckhouse-controller/register-go-hooks.go
  docs/documentation/_data/deckhouse-alerts.yml
  global-hooks/openapi/openapi-case-tests.yaml
  helm_lib/charts/deckhouse_lib_helm/README.md
  helm_lib/charts/deckhouse_lib_helm/templates/_priority_class.tpl
  modules/001-priority-class/.dmtlint.yaml
  modules/001-priority-class/.helmignore
  modules/001-priority-class/.namespace
  modules/001-priority-class/Chart.yaml
  modules/001-priority-class/charts/helm_lib
  modules/001-priority-class/docs/CONFIGURATION.md
  modules/001-priority-class/docs/CONFIGURATION_RU.md
  modules/001-priority-class/docs/README.md
  modules/001-priority-class/docs/README_RU.md
  modules/001-priority-class/module.yaml
  modules/001-priority-class/openapi/config-values.yaml
  modules/001-priority-class/openapi/openapi-case-tests.yaml
  modules/001-priority-class/openapi/values.yaml
  modules/001-priority-class/templates/rbacv2/manage/edit.yaml
  modules/001-priority-class/templates/rbacv2/manage/view.yaml
  modules/002-deckhouse/docs/README.md
  modules/002-deckhouse/docs/README_RU.md
  modules/002-deckhouse/docs/internal/FLOW_SCHEMA.md
  modules/002-deckhouse/hooks/discover_d8_ns.go
  modules/002-deckhouse/hooks/discover_d8_ns_test.go
  modules/002-deckhouse/hooks/migrate/change_helm_annotation_flowschema_priorityclass.go
  modules/002-deckhouse/openapi/config-values.yaml
  modules/002-deckhouse/openapi/values.yaml
  modules/002-deckhouse/template_tests/module_test.go
  modules/002-deckhouse/templates/flow-schema/flowschema.yaml
  modules/002-deckhouse/templates/flow-schema/prioritylevelconfiguration.yaml
  modules/002-deckhouse/templates/priority-class/cluster-low.yaml
  modules/002-deckhouse/templates/priority-class/cluster-medium.yaml
  modules/002-deckhouse/templates/priority-class/deployment-machinery.yaml
  modules/002-deckhouse/templates/priority-class/develop.yaml
  modules/002-deckhouse/templates/priority-class/production-high.yaml
  modules/002-deckhouse/templates/priority-class/production-low.yaml
  modules/002-deckhouse/templates/priority-class/production-medium.yaml
  modules/002-deckhouse/templates/priority-class/staging.yaml
  modules/002-deckhouse/templates/priority-class/standby.yaml
  modules/011-flow-schema/.dmtlint.yaml
  modules/011-flow-schema/.helmignore
  modules/011-flow-schema/.namespace
  modules/011-flow-schema/Chart.yaml
  modules/011-flow-schema/charts/helm_lib
  modules/011-flow-schema/docs/CONFIGURATION.md
  modules/011-flow-schema/docs/CONFIGURATION_RU.md
  modules/011-flow-schema/docs/FAQ.md
  modules/011-flow-schema/docs/FAQ_RU.md
  modules/011-flow-schema/docs/README_RU.md
  modules/011-flow-schema/hooks/common_test.go
  modules/011-flow-schema/module.yaml
  modules/011-flow-schema/monitoring/prometheus-rules/flow-schema.yaml
  modules/011-flow-schema/openapi/config-values.yaml
  modules/011-flow-schema/openapi/openapi-case-tests.yaml
  modules/011-flow-schema/openapi/values.yaml
  modules/011-flow-schema/template_tests/module_test.go
  modules/011-flow-schema/templates/monitoring.yaml
  modules/011-flow-schema/templates/rbacv2/manage/edit.yaml
  modules/011-flow-schema/templates/rbacv2/manage/view.yaml
Labels: type/enhancement, area/docs, area/cluster-and-infrastructure, area/core, skip/documentation-validation, go, area/api-change

#12425 [tools] Remove DRBD package
  modules/007-registrypackages/images/drbd/scripts/install
  modules/007-registrypackages/images/drbd/scripts/uninstall
  modules/007-registrypackages/images/drbd/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/testing, area/core, go

#12538 Backport: [tools] Remove DRBD package
  modules/007-registrypackages/images/drbd/scripts/install
  modules/007-registrypackages/images/drbd/scripts/uninstall
  modules/007-registrypackages/images/drbd/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: auto, backported

#12533 [dhctl] Add shellescape to sudo preflight
  dhctl/pkg/preflight/sudoers.go
Labels: area/cli, status/backport, go

#12539 Backport: [dhctl] Add shellescape to sudo preflight
  dhctl/pkg/preflight/sudoers.go
Labels: auto, backported

#12102 [upmeter] add alert D8UpmeterDiskUsage
  docs/documentation/_data/deckhouse-alerts.yml
  modules/500-upmeter/monitoring/prometheus-rules/alerting.yaml
Labels: area/monitoring, area/docs, status/backport

#12540 Backport: [upmeter] add alert D8UpmeterDiskUsage
  docs/documentation/_data/deckhouse-alerts.yml
  modules/500-upmeter/monitoring/prometheus-rules/alerting.yaml
Labels: auto, backported

#12401 Dvp cloud data discoverer
  .github/dependabot.yml
  candi/cloud-providers/dvp/openapi/cloud_discovery_data.yaml
  go_lib/cloud-data/apis/v1/dvp_cloud_provider_discovery_data.go
  modules/030-cloud-provider-dvp/hooks/discover.go
  modules/030-cloud-provider-dvp/images/cloud-controller-manager/src/pkg/cloudprovider/dvp/instance.go
  modules/030-cloud-provider-dvp/images/cloud-controller-manager/werf.inc.yaml
  modules/030-cloud-provider-dvp/images/cloud-data-discoverer/src/discoverer.go
  modules/030-cloud-provider-dvp/images/cloud-data-discoverer/src/go.mod
  modules/030-cloud-provider-dvp/images/cloud-data-discoverer/src/go.sum
  modules/030-cloud-provider-dvp/images/cloud-data-discoverer/src/main.go
  modules/030-cloud-provider-dvp/images/cloud-data-discoverer/werf.inc.yaml
  modules/030-cloud-provider-dvp/images/dvp-common/api/compute.go
  modules/030-cloud-provider-dvp/images/dvp-common/api/disk.go
  modules/030-cloud-provider-dvp/images/dvp-csi-driver/src/pkg/dvp-csi-driver/service/controller.go
  modules/030-cloud-provider-dvp/openapi/values.yaml
  modules/030-cloud-provider-dvp/templates/cloud-data-discoverer/deployment.yaml
  modules/030-cloud-provider-dvp/templates/cloud-data-discoverer/pod-monitor.yaml
  modules/030-cloud-provider-dvp/templates/cloud-data-discoverer/rbac-for-us.yaml
  modules/030-cloud-provider-dvp/templates/cloud-data-discoverer/rbac-to-us.yaml
  modules/030-cloud-provider-dvp/templates/csi/storage-classes.yaml
  modules/040-terraform-manager/images/terraform-manager-dvp/patches/001-add-config-data-base64.patch
  modules/040-terraform-manager/images/terraform-manager-dvp/patches/README.MD
  modules/040-terraform-manager/images/terraform-manager-dvp/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/cloud-provider, area/testing, area/cluster-and-infrastructure, type/dependencies, area/core, go, area/api-change

#12479 [deckhouse] delete useless module phases
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module.go
  deckhouse-controller/pkg/controller/module-controllers/config/controller.go
  deckhouse-controller/pkg/controller/module-controllers/config/status.go
Labels: area/core, go

#12444 [deckhouse] update deckhouse pod resource requests
  modules/002-deckhouse/templates/deployment.yaml
Labels: type/enhancement

#12478 chore: add prealloc linter
  .golangci.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  go_lib/dependency/helm/hash.go
  go_lib/dependency/vsphere/vsphere.go
  go_lib/hooks/tls_certificate/order_certificate.go
  modules/030-cloud-provider-aws/hooks/storage_classes.go
  modules/030-cloud-provider-azure/hooks/storage_classes.go
  modules/031-local-path-provisioner/hooks/storage_classes.go
  modules/040-control-plane-manager/hooks/effective_kubernetes_version.go
  modules/040-node-manager/hooks/yc_delete_preemptible_instances.go
  modules/040-node-manager/hooks/yc_delete_preemptible_instances_test.go
  modules/040-node-manager/template_tests/module_test.go
  modules/402-ingress-nginx/hooks/get_ingress_controllers.go
  modules/460-log-shipper/hooks/generate_config.go
  testing/helm/init.go
  testing/openapi_cases/library.go
Labels: area/cloud-provider, area/network, type/enhancement, area/testing, area/cluster-and-infrastructure, area/core, area/storage, area/logs, go

#12481 Changelog v1.68.4
  CHANGELOG/CHANGELOG-v1.68.4.yml
  CHANGELOG/CHANGELOG-v1.68.md
Labels: changelog, auto, status/backport

#12545 Backport: Changelog v1.68.4
  CHANGELOG/CHANGELOG-v1.68.4.yml
  CHANGELOG/CHANGELOG-v1.68.md
Labels: auto, backported

#12547 Backport: [docs] Fix contact button
  docs/documentation/_layouts/default.html
  docs/site/_data/modal.yml
  docs/site/_includes/footer.html
  docs/site/_includes/request_callback_form.html
  docs/site/_layouts/default.html
Labels: auto, backported

#12529 [docs] Fixed layout images at Getting Started
  docs/site/_includes/getting_started/aws/layouts/WITHOUT_NAT.md
  docs/site/_includes/getting_started/aws/layouts/WITHOUT_NAT_RU.md
  docs/site/_includes/getting_started/aws/layouts/WITH_NAT.md
  docs/site/_includes/getting_started/aws/layouts/WITH_NAT_RU.md
  docs/site/_includes/getting_started/gcp/layouts/WITHOUT_NAT.md
  docs/site/_includes/getting_started/gcp/layouts/WITHOUT_NAT_RU.md
  docs/site/_includes/getting_started/huaweicloud/layouts/STANDARD.md
  docs/site/_includes/getting_started/huaweicloud/layouts/STANDARD_RU.md
  docs/site/_includes/getting_started/openstack/layouts/STANDARD.md
  docs/site/_includes/getting_started/openstack/layouts/STANDARD_RU.md
  docs/site/_includes/getting_started/yandex/layouts/STANDARD.md
  docs/site/_includes/getting_started/yandex/layouts/STANDARD_RU.md
  docs/site/images/gs/cloud-provider-aws/aws-withnat.png
  docs/site/images/gs/cloud-provider-aws/aws-withoutnat.png
  docs/site/images/gs/cloud-provider-gcp/gcp-withoutnat.png
  docs/site/images/gs/cloud-provider-huawei/huawei-standard.png
  docs/site/images/gs/cloud-provider-openstack/openstack-standard.png
  docs/site/images/gs/cloud-provider-yandex/layout-standard.png
  docs/site/images/gs/private-env-schema-RU.svg
  docs/site/images/gs/private-env-schema.svg
Labels: area/docs, skip/documentation-validation

#12548 [candi] Fix disable_unattended_upgrades bashible step
  candi/bashible/common-steps/all/002_disable_unattended_upgrades.sh.tpl
Labels: area/cluster-and-infrastructure

#12551 Backport: [candi] Fix disable_unattended_upgrades bashible step
  candi/bashible/common-steps/all/002_disable_unattended_upgrades.sh.tpl
Labels: auto, backported

#12537 [chore] small fix and trash removal
  1
  dhctl/pkg/preflight/check_time.go
Labels: area/cli, go

#12552 [dhctl] Add opportunity to bootstrap terranodes parallel with env DHCTL_PARALLEL_CLOUD_PERMANENT_NODES_BOOTSTRAP revert sequentially by default
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
  dhctl/pkg/operations/converge/runner.go
  dhctl/pkg/operations/nodebootstrap.go
Labels: area/cli, go

#12172 [openvpn] Add ability set expire time for client certificate
  modules/500-openvpn/images/ovpn-admin/patches/001-go-mod.patch
  modules/500-openvpn/images/ovpn-admin/patches/002-openvpn-genkey-cmd.patch
  modules/500-openvpn/images/ovpn-admin/werf.inc.yaml
  modules/500-openvpn/openapi/config-values.yaml
  modules/500-openvpn/openapi/doc-ru-config-values.yaml
  modules/500-openvpn/templates/openvpn/statefulset.yaml
Labels: area/security, area/api-change, e2e/use/k8s/1.30

#11965 [log-shipper] Remove namespace selectors by name
  ee/modules/650-runtime-audit-engine/docs/FAQ.md
  ee/modules/650-runtime-audit-engine/docs/FAQ_RU.md
  modules/460-log-shipper/crds/cluster-logging-config.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-logging-config.yaml
  modules/460-log-shipper/docs/EXAMPLES.md
  modules/460-log-shipper/docs/EXAMPLES_RU.md
  modules/460-log-shipper/hooks/testdata/elasticsearch-tls/manifests.yaml
  modules/460-log-shipper/hooks/testdata/elasticsearch-tls/result.json
  modules/460-log-shipper/hooks/testdata/es-5x/manifests.yaml
  modules/460-log-shipper/hooks/testdata/es-5x/result.json
  modules/460-log-shipper/hooks/testdata/multiple-dest/manifests.yaml
  modules/460-log-shipper/hooks/testdata/multiple-dest/result.json
  modules/460-log-shipper/hooks/testdata/one-dest/manifests.yaml
  modules/460-log-shipper/hooks/testdata/one-dest/result.json
  modules/460-log-shipper/hooks/testdata/pair-datastream/manifests.yaml
  modules/460-log-shipper/hooks/testdata/pair-datastream/result.json
  modules/460-log-shipper/hooks/testdata/simple-pair/manifests.yaml
  modules/460-log-shipper/hooks/testdata/simple-pair/result.json
  modules/460-log-shipper/webhooks/conversion/clusterloggingconfig
  modules/462-loki/docs/EXAMPLES.md
  modules/462-loki/docs/EXAMPLES_RU.md
Labels: area/security, area/docs, status/ok-to-test, area/logs, area/api-change

#12459 [extended-monitoring] Fix certificate alert expressions/description
  docs/documentation/_data/deckhouse-alerts.yml
  docs/documentation/_plugins/custom_filters.rb
  modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/certificate.yaml
Labels: area/monitoring, area/docs, backported

#12564 Backport: [extended-monitoring] Fix certificate alert expressions/description
  docs/documentation/_data/deckhouse-alerts.yml
  docs/documentation/_plugins/custom_filters.rb
  modules/340-extended-monitoring/monitoring/prometheus-rules/certificates/certificate.yaml
Labels: auto, backported

#12501 [prometheus] Grafana v8 cleanup hook add label filter
  modules/300-prometheus/hooks/grafana_v8_cleanup.go
Labels: area/monitoring, go

#11937 [loki] Conditionally disable log deletion API handlers
  modules/462-loki/images/loki/patches/0002-Allow-delete-logs.patch
  modules/462-loki/images/loki/werf.inc.yaml
  modules/462-loki/openapi/config-values.yaml
  modules/462-loki/openapi/doc-ru-config-values.yaml
  modules/462-loki/templates/statefulset.yaml
Labels: area/logs, area/api-change

#12496 Fix the hook error is no apiserver endpoints
  modules/150-user-authn/hooks/discover_apiserver_endpoints.go
  modules/150-user-authn/hooks/discover_apiserver_endpoints_test.go
Labels: area/auth, go

#12566 [docs] Fix sidebar behaviour with links
  docs/documentation/_plugins/custom_sidebar.rb
Labels: area/docs, status/backport

#12568 Backport: [docs] Fix sidebar behaviour with links
  docs/documentation/_plugins/custom_sidebar.rb
Labels: auto, backported

#12569 Backport: [docs] Fix sidebar behaviour with links
  docs/documentation/_plugins/custom_sidebar.rb
Labels: auto, backported

#12570 [docs] Remove old production deployment configurations from CI/CD
  .github/ci_templates/web.yml
  .github/workflow_templates/build-and-test_pre-release.yml
  .github/workflow_templates/build-and-test_release.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  docs/documentation/.helm/values.yaml
  docs/site/.helm/templates/20-ingress.yaml
  docs/site/.helm/values.yaml
Labels: area/docs

#12317 [deckhouse] terminating for ms and mr
  deckhouse-controller/crds/doc-ru-module-source.yaml
  deckhouse-controller/crds/module-release.yaml
  deckhouse-controller/crds/module-source.yaml
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_release.go
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_source.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-minor-update.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-mode-minor-release-approved.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/clean-up-outdated-module-releases-for-deployed.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/clean-up-outdated-module-releases-when-deploy.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/dVersion-suitable.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/dVersion-unsuitable.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/kVersion-suitable.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/kVersion-unsuitable.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/new-module-manual-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/simple.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/with-annotation.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/source/helpers.go
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/empty.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/withmodulepullerror.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/withmodules.yaml
Labels: area/core, skip/documentation-validation, go, area/api-change

#12575 Backport: [user-authz] permit a request if the apigroup isn't found
  ee/be/modules/140-user-authz/images/webhook/src/internal/cache/cache.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/cache/cache_test.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/web/hook/handler.go
  ee/be/modules/140-user-authz/images/webhook/src/internal/web/hook/handler_test.go
Labels: auto, backported

#12490 [docs] Remove smoke-mini from module bundles
  modules/values-default.yaml
Labels: skip/documentation-validation

#12351 [deckhouse] delete stale modules at goroutine
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/module-controllers/config/controller.go
  deckhouse-controller/pkg/controller/module-controllers/config/sync.go
  deckhouse-controller/pkg/controller/moduleloader/loader.go
  deckhouse-controller/pkg/controller/moduleloader/sync.go
Labels: area/core, go

#12565 [docs] Updated information about service account roles at Yandex Cloud
  candi/cloud-providers/yandex/docs/ENVIRONMENT.md
  candi/cloud-providers/yandex/docs/ENVIRONMENT_RU.md
  docs/site/_includes/getting_started/yandex/STEP_ENV.md
  docs/site/_includes/getting_started/yandex/STEP_ENV_RU.md
Labels: area/cloud-provider, area/docs, area/cluster-and-infrastructure, skip/documentation-validation, status/backport

#12585 Backport: [docs] Updated information about service account roles at Yandex Cloud
  candi/cloud-providers/yandex/docs/ENVIRONMENT.md
  candi/cloud-providers/yandex/docs/ENVIRONMENT_RU.md
  docs/site/_includes/getting_started/yandex/STEP_ENV.md
  docs/site/_includes/getting_started/yandex/STEP_ENV_RU.md
Labels: auto, backported

#12587 [deckhouse-controller] chore/bump golden files
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-minor-update.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-mode-minor-release-approved.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/auto-patch-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/clean-up-outdated-module-releases-for-deployed.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/clean-up-outdated-module-releases-when-deploy.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/dVersion-suitable.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/kVersion-suitable.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/new-module-manual-mode.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/reinstall-annotation.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/simple.yaml
  deckhouse-controller/pkg/controller/module-controllers/release/testdata/releases/golden/with-annotation.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/empty.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/withmodulepullerror.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/withmodules.yaml
Labels: type/bug, area/core

#12573 [docs] Update Deckhouse CLI installation guide
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
Labels: area/docs, skip/documentation-validation, status/backport

#12590 Backport: [docs] Update Deckhouse CLI installation guide
  docs/documentation/pages/DECKHOUSE-CLI.md
  docs/documentation/pages/DECKHOUSE-CLI_RU.md
Labels: auto, backported

#12536 [docs][operator-trivy] Update info about databases with vulnerabilities
  ee/modules/500-operator-trivy/docs/README.md
  ee/modules/500-operator-trivy/docs/README_RU.md
Labels: area/security, area/docs, status/backport

#12591 Backport: [docs][operator-trivy] Update info about databases with vulnerabilities
  ee/modules/500-operator-trivy/docs/README.md
  ee/modules/500-operator-trivy/docs/README_RU.md
Labels: auto, backported

#12588 [docs] Update revision of csi-yadro-tatlin-unified module
  docs/documentation/_data/modules/modules-addition.json
  docs/site/backends/docs-builder-template/data/modules_all.json
Labels: area/docs, skip/documentation-validation, status/backport

#12607 Backport: [docs] Update revision of csi-yadro-tatlin-unified module
  docs/documentation/_data/modules/modules-addition.json
  docs/site/backends/docs-builder-template/data/modules_all.json
Labels: auto, backported

#12608 Backport: [docs] Update revision of csi-yadro-tatlin-unified module
  docs/documentation/_data/modules/modules-addition.json
  docs/site/backends/docs-builder-template/data/modules_all.json
Labels: auto, backported

#12505 [documentation] Fix bugs is navigation. Set language cookie
  docs/site/_assets/js/customscripts.js
  docs/site/_includes/header.html
  modules/810-documentation/images/web/site/_data/topnav.yml
  modules/810-documentation/templates/configmap.yaml
  modules/810-documentation/templates/ingress.yaml
Labels: area/docs, status/backport

#12610 Backport: [documentation] Fix bugs is navigation. Set language cookie
  docs/site/_assets/js/customscripts.js
  docs/site/_includes/header.html
  modules/810-documentation/images/web/site/_data/topnav.yml
  modules/810-documentation/templates/configmap.yaml
  modules/810-documentation/templates/ingress.yaml
Labels: auto, backported

#12424 [docs] New structure of documentation: High reliability and availability
  docs/documentation/_data/sidebars/kubernetes-platform.yml
  docs/documentation/pages/admin/configuration/high-reliability-and-availability/CHAOS_ENGINEERING.md
  docs/documentation/pages/admin/configuration/high-reliability-and-availability/CHAOS_ENGINEERING_RU.md
  docs/documentation/pages/admin/configuration/high-reliability-and-availability/ENABLE.md
  docs/documentation/pages/admin/configuration/high-reliability-and-availability/ENABLE_RU.md
  docs/documentation/pages/admin/configuration/high-reliability-and-availability/README.md
  docs/documentation/pages/admin/configuration/high-reliability-and-availability/README_RU.md
Labels: area/docs

#12495 [docs] Fix quick start: change info about SHH and access on master node
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER.liquid
  docs/site/_includes/getting_started/global/partials/INSTALL_OTHER_RU.liquid
Labels: area/docs

#12604 [deckhouse] clear source message
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
Labels: area/core, go

#12572 Use all Trivy severity levels
  tools/cve/base-images.sh
  tools/cve/d8-images.sh
  tools/cve/trivy-wrapper.sh
Labels: area/testing

#12584 [docs] Change ru description for requests and limits parameters in crd admission-policy-engine
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
Labels: area/security, skip/documentation-validation, status/backport, area/api-change

#12619 Backport: [docs] Change ru description for requests and limits parameters in crd admission-policy-engine
  modules/015-admission-policy-engine/crds/doc-ru-operation-policy.yaml
Labels: auto, backported

#12543 [docs] Change description for additionalSecurityGroups parameter OpenStack
  ee/candi/cloud-providers/openstack/openapi/cloud_provider_discovery_data.yaml
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-instance_class.yaml
  ee/candi/cloud-providers/openstack/openapi/instance_class.yaml
  ee/modules/030-cloud-provider-openstack/openapi/values.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, status/backport, area/api-change

#12624 Backport: [docs] Change description for additionalSecurityGroups parameter OpenStack
  ee/candi/cloud-providers/openstack/openapi/cloud_provider_discovery_data.yaml
  ee/candi/cloud-providers/openstack/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/openstack/openapi/doc-ru-instance_class.yaml
  ee/candi/cloud-providers/openstack/openapi/instance_class.yaml
  ee/modules/030-cloud-provider-openstack/openapi/values.yaml
Labels: auto, backported

#12622 [docs] Changing the header
  docs/site/_assets/css/components/_header.scss
  docs/site/_includes/header.html
Labels: area/docs

#12626 Backport: [prometheus] Grafana enable flag in the ModuleConfig
  modules/300-prometheus/hooks/grafana_deploy_flag.go
  modules/300-prometheus/openapi/config-values.yaml
  modules/300-prometheus/openapi/doc-ru-config-values.yaml
  modules/300-prometheus/openapi/values.yaml
  modules/300-prometheus/template_tests/alertmanager_ingress_test.go
  modules/300-prometheus/template_tests/copy_custom_certificate_test.go
  modules/300-prometheus/template_tests/custom_logo_test.go
  modules/300-prometheus/template_tests/multiple_custom_alert_managers_test.go
  modules/300-prometheus/template_tests/prometheus_cr_test.go
  modules/300-prometheus/template_tests/secret_datasources_list_test.go
  modules/300-prometheus/template_tests/tolerations_and_nodeselectors_longterm_test.go
  modules/300-prometheus/templates/grafana/authenticator.yaml
  modules/300-prometheus/templates/grafana/certificate.yaml
  modules/300-prometheus/templates/grafana/cm-dashboards-list-custom.yaml
  modules/300-prometheus/templates/grafana/deployment-v10.yaml
  modules/300-prometheus/templates/grafana/grafana-alerts-channels.yaml
  modules/300-prometheus/templates/grafana/ingress-grafana-redirect.yaml
  modules/300-prometheus/templates/grafana/ingress-v10.yaml
  modules/300-prometheus/templates/grafana/pdb-v10.yaml
  modules/300-prometheus/templates/grafana/rbac-for-us.yaml
  modules/300-prometheus/templates/grafana/rbac-to-us.yaml
  modules/300-prometheus/templates/grafana/secret-datasources-list.yaml
  modules/300-prometheus/templates/grafana/service-v10.yaml
  modules/300-prometheus/templates/grafana/servicemonitor-v10.yaml
Labels: auto, backported

#12601 [docs] Add note about using rootSizeDisk on ephemeralCloud nodes
  docs/site/_includes/getting_started/openstack_selectel/STEP_ENV.md
  docs/site/_includes/getting_started/openstack_selectel/STEP_ENV_RU.md
  ee/modules/030-cloud-provider-openstack/docs/FAQ.md
  ee/modules/030-cloud-provider-openstack/docs/FAQ_RU.md
Labels: area/cloud-provider, area/docs

#12361 [vcd] Add support for legacy API
  .github/dependabot.yml
  .werf/defines/installer.tmpl
  .werf/werf-terraform.yaml
  candi/terraform_versions.yml
  dhctl/pkg/config/base.go
  dhctl/pkg/config/meta.go
  ee/candi/cloud-providers/vcd/openapi/cloud_discovery_data.yaml
  ee/candi/cloud-providers/vcd/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/vcd/terraform-modules/versions-legacy.tf
  ee/candi/cloud-providers/vcd/terraform-modules/versions-new.tf
  ee/candi/cloud-providers/vcd/terraform-modules/versions.tf
  ee/modules/030-cloud-provider-vcd/images/cloud-data-discoverer-legacy/src/go.mod
  ee/modules/030-cloud-provider-vcd/images/cloud-data-discoverer-legacy/src/go.sum
  ee/modules/030-cloud-provider-vcd/images/cloud-data-discoverer-legacy/werf.inc.yaml
  ee/modules/030-cloud-provider-vcd/images/cloud-data-discoverer/src/go.mod
  ee/modules/030-cloud-provider-vcd/images/cloud-data-discoverer/src/go.sum
  ee/modules/030-cloud-provider-vcd/openapi/values.yaml
  ee/modules/030-cloud-provider-vcd/templates/capcd-controller-manager/deployment.yaml
  ee/modules/030-cloud-provider-vcd/templates/cloud-controller-manager/deployment.yaml
  ee/modules/030-cloud-provider-vcd/templates/cloud-data-discoverer/deployment.yaml
  ee/modules/030-cloud-provider-vcd/templates/csi/controller.yaml
  ee/modules/030-cloud-provider-vcd/templates/csi/storage-classes.yaml
  ee/modules/040-terraform-manager/images/terraform-manager-vcd/patches/README.md
  ee/modules/040-terraform-manager/images/terraform-manager-vcd/patches/v3.10.0/001-gomod-update.patch
  ee/modules/040-terraform-manager/images/terraform-manager-vcd/patches/v3.10.0/002-fix-sizing-policy-changing.patch
  ee/modules/040-terraform-manager/images/terraform-manager-vcd/patches/v3.10.0/README.md
  ee/modules/040-terraform-manager/images/terraform-manager-vcd/patches/v3.14.1/001-gomod-update.patch
  ee/modules/040-terraform-manager/images/terraform-manager-vcd/patches/v3.14.1/002-fix-sizing-policy-changing.patch
  ee/modules/040-terraform-manager/images/terraform-manager-vcd/patches/v3.14.1/README.md
  ee/modules/040-terraform-manager/images/terraform-manager-vcd/werf.inc.yaml
  testing/library/images_tags_generated.go
Labels: area/cloud-provider, area/testing, area/cluster-and-infrastructure, type/dependencies, area/cli, go, area/api-change

#12628 [docs] Remove deprecated csi-yadro and sds-drbd modules. Add redirects.
  docs/documentation/_data/modules/modules-addition.json
  docs/site/.helm/templates/_rewrites.tpl
  docs/site/backends/docs-builder-template/data/modules_all.json
Labels: area/docs

#12556 [cloud-provider-vcd](ccm) Fix a patch that ignored static nodes
  ee/modules/030-cloud-provider-vcd/images/cloud-controller-manager-legacy/patches/001_ignore_static_nodes.patch
  ee/modules/030-cloud-provider-vcd/images/cloud-controller-manager/patches/001_ignore_static_nodes.patch
Labels: area/cloud-provider

#12571 [dhctl] Add pdbs deletion to DeckhouseDestroyer
  dhctl/pkg/kubernetes/actions/deckhouse/delete.go
  dhctl/pkg/operations/destroy/deckhouse.go
Labels: area/cli, go

#12629 [docs] Update documentation
  docs/documentation/pages/security/SYSCTL.md
  docs/documentation/pages/security/SYSCTL_RU.md
Labels: area/docs, skip/documentation-validation, status/backport

#12634 Backport: [docs] Update documentation
  docs/documentation/pages/security/SYSCTL.md
  docs/documentation/pages/security/SYSCTL_RU.md
Labels: auto, backported

#12637 Backport: [candi] Fix some bashible errors
  candi/bashible/common-steps/all/000_add_node_users.sh.tpl
  candi/bashible/common-steps/all/098_update_node_labels.sh.tpl
Labels: auto, backported

#12560 [dhctl] Backport. Add opportunity to bootstrap terranodes parallel with env DHCTL_PARALLEL_CLOUD_PERMANENT_NODES_BOOTSTRAP revert sequentially by default
  dhctl/pkg/kubernetes/actions/converge/converge.go
  dhctl/pkg/kubernetes/actions/converge/nodebootstrap.go
  dhctl/pkg/operations/bootstrap/cluster-bootstrapper.go
Labels: area/cli, go
