Repository deckhouse/deckhouse, pull requests merged in 2025-07, with the labels that each got.

#14237 Backport: [operator-trivy] operator-trivy respects k8s 1.31+
  ee/modules/500-operator-trivy/images/operator/patches/011-support-new-jobs.patch
  ee/modules/500-operator-trivy/images/operator/patches/README.md
Labels: auto, backported

#14240 Backport: [docs] [cloud-provider-yandex] remove api-gateway.editor and connection-manager.editor roles
  candi/cloud-providers/yandex/docs/ENVIRONMENT.md
  candi/cloud-providers/yandex/docs/ENVIRONMENT_RU.md
  docs/site/_includes/getting_started/yandex/STEP_ENV.md
  docs/site/_includes/getting_started/yandex/STEP_ENV_RU.md
Labels: auto, backported

#14241 Backport: [docs][docs builder] Bump Hugo to v0.147.7
  docs/site/backends/docs-builder-template/config/_default/hugo.yaml
  docs/site/backends/docs-builder-template/content/modules/_index.md
  docs/site/backends/docs-builder-template/content/modules/_index.ru.md
  docs/site/backends/docs-builder/go.mod
  docs/site/backends/docs-builder/go.sum
  docs/site/backends/docs-builder/pkg/hugo/commandeer.go
  docs/site/backends/docs-builder/pkg/hugo/hugobuilder.go
  modules/810-documentation/images/docs-builder/modules-docs/hugo.yaml
  modules/810-documentation/templates/configmap.yaml
Labels: auto, backported

#14214 [docs][new structure]Cross-review of the Usage Network section
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/admin/configuration/network/ingress/alb/ISTIO_RU.md
  docs/documentation/pages/user/network/APP_ISTIO_ACTIVATION_RU.md
  docs/documentation/pages/user/network/AUTHORIZATION_WORKLOAD_ISTIO_RU.md
  docs/documentation/pages/user/network/CANARY_DEPLOY_RU.md
  docs/documentation/pages/user/network/CIRCUITBRAKER_RU.md
  docs/documentation/pages/user/network/INTRA_CLUSTER_RU.md
  docs/documentation/pages/user/network/LOCALITY_FAILOVER_RU.md
  docs/documentation/pages/user/network/MANAGING_REQUEST_BETWEEN_SERVICE_ISTIO_RU.md
  docs/documentation/pages/user/network/REQUEST_ROUTING_ISTIO_RU.md
  docs/documentation/pages/user/network/RETRY_ISTIO_RU.md
  docs/documentation/pages/user/network/ingress/ALB_RU.md
  docs/documentation/pages/user/network/ingress/NLB_RU.md
  docs/documentation/pages/user/network/ingress/OVERVIEW_RU.md
Labels: area/docs, skip/documentation-validation

#14186 [Docs] Added info in Integrity control section
  docs/documentation/images/architecture/security/integrity-contol.puml
  docs/documentation/images/architecture/security/integrity-control.png
  docs/documentation/pages/architecture/security/INTEGRITY-CONTROL_RU.md
Labels: area/docs, skip/documentation-validation

#14243 Backport: [docs] Remove port 22322 from setup docs
  docs/documentation/_data/deckhouse-ports.yml
Labels: auto, backported

#14165 Stronghold docs: added information about MFA
  docs/site/_data/sidebars/stronghold.yml
  docs/site/pages/stronghold/documentation/user/auth/mfa/multifactor.md
  docs/site/pages/stronghold/documentation/user/auth/mfa/multifactor.ru.md
  docs/site/pages/stronghold/documentation/user/auth/mfa/otp.md
  docs/site/pages/stronghold/documentation/user/auth/mfa/otp.ru.md
Labels: area/docs, skip/documentation-validation

#14018 [etcd] etcd update to v3.6.1
  modules/040-control-plane-manager/images/etcd/patches/002-etcdctl-snapshot-pipe.patch
  modules/040-control-plane-manager/images/etcd/werf.inc.yaml
Labels: area/cluster-and-infrastructure, e2e/use/k8s/1.29, e2e/use/k8s/1.30, e2e/use/k8s/1.31, e2e/use/k8s/1.32, e2e/use/k8s/1.33

#13709 [node-manager] Rename lease name for caps-controller-manager
  modules/040-node-manager/hooks/migration/migrate_remove_old_caps_lease.go
  modules/040-node-manager/hooks/migration/migrate_remove_old_caps_lease_test.go
  modules/040-node-manager/images/caps-controller-manager/src/cmd/main.go
Labels: area/cluster-and-infrastructure, go

#14247 [docs] Removed link in Deckhouse Code documentation
  docs/site/pages/code/documentation/reference/FAQ_RU.md
Labels: area/docs, skip/documentation-validation

#14246 [deckhouse] Always set resource requests
  modules/002-deckhouse/templates/deployment.yaml
Labels: e2e/use/k8s/1.31

#14253 Backport: [candi] Update Deckhouse CLI to latest
  candi/version_map.yml
Labels: auto, backported

#13623 [node-manager] Make NodeUser passwordHash parameter optional
  candi/bashible/common-steps/all/000_add_node_users.sh.tpl
  modules/040-node-manager/crds/nodeuser.yaml
  modules/040-node-manager/hooks/internal/v1/node_user.go
  modules/040-node-manager/webhooks/validating/node_user
Labels: area/cluster-and-infrastructure, skip/documentation-validation, go, area/api-change

#14179 [cni-cilium] fix CiliumLocalRedirectPolicy
  modules/021-cni-cilium/images/bin-cilium/patches/010-fix-cilium-local-redirect-policy.patch
  modules/021-cni-cilium/images/bin-cilium/patches/README.md
Labels: area/network, e2e/cluster/failed

#14258 Backport: [docs] Increase the resource limits for documentation pods.
  docs/documentation/.helm/values.yaml
Labels: auto, backported

#14144 [deckhouse-controller] Add module.yaml extraction from images metadata
  deckhouse-controller/pkg/controller/deckhouse-release/check_release.go
  deckhouse-controller/pkg/controller/deckhouse-release/check_release_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/correct-link-registry.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/correct-link-registry.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/golden/release-with-module-yaml.yaml
  deckhouse-controller/pkg/controller/deckhouse-release/testdata/release-with-module-yaml.yaml
  deckhouse-controller/pkg/controller/module-controllers/downloader/downloader.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/downloader_test.go
  deckhouse-controller/pkg/controller/module-controllers/downloader/release_reader.go
  deckhouse-controller/pkg/controller/module-controllers/override/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller.go
  deckhouse-controller/pkg/controller/module-controllers/source/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/source/helpers.go
  deckhouse-controller/pkg/controller/module-controllers/source/module_release_fetcher.go
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/existing-module-releases-with-listing-registry.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/existing-module-releases-without-listing-registry.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/module-pull-error.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/proceed-enabled-modules-with-old-version.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/proceed-enabled-modules.yaml
  deckhouse-controller/pkg/controller/module-controllers/source/testdata/golden/without-module-releases.yaml
  deckhouse-controller/pkg/controller/moduleloader/sync.go
  deckhouse-controller/pkg/controller/moduleloader/sync_test.go
  deckhouse-controller/pkg/controller/moduleloader/types/definition.go
  deckhouse-controller/pkg/registry/deckhouse.go
  deckhouse-controller/pkg/registry/module.go
  deckhouse-controller/pkg/registry/registry.go
  deckhouse-controller/pkg/registry/release_reader.go
  go.mod
Labels: type/enhancement, type/dependencies, area/core, go

#14260 Backport: Changelog v1.70.11
  CHANGELOG/CHANGELOG-v1.70.11.yml
  CHANGELOG/CHANGELOG-v1.70.md
Labels: auto, backported

#14265 [docs] Fix typo in deckhouse module docs
  modules/002-deckhouse/docs/README_RU.md
Labels: area/docs, skip/documentation-validation

#14112 [loki] Refactor file size evaluator using `st_blocks` in disk-based retention
  modules/462-loki/images/loki/patches/003-Force-expiration.patch
  modules/462-loki/images/loki/patches/004-Force-expiration-index-sort.patch
  modules/462-loki/images/loki/patches/README.md
Labels: area/logs

#14223 [prometheus] Rollout Prom++ to all editions
  ee/fe/modules/300-prometheus/.build.yaml
  ee/fe/modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  ee/fe/modules/300-prometheus/templates/prometheus/prometheus.yaml
  modules/300-prometheus/templates/prometheus/longterm/prometheus.yaml
  modules/300-prometheus/templates/prometheus/prometheus.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: area/monitoring, area/testing, edition/ee

#14263 [deckhouse-controller] Handle new module config finalizer
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha1/module_config.go
  deckhouse-controller/pkg/controller/module-controllers/config/controller.go
Labels: type/enhancement, area/core, go

#13686 [node-manager] Nvidia gpu
  candi/bashible/common-steps/all/005_check_gpu.sh.tpl
  candi/bashible/common-steps/all/032_configure_containerd.sh.tpl
  candi/bashible/common-steps/all/041_configure_sysctl_tuner.sh.tpl
  ee/be/modules/040-node-manager/openapi/values.yaml
  ee/modules/040-node-manager/.build.yaml
  ee/modules/040-node-manager/images/node-feature-discovery/werf.inc.yaml
  ee/modules/040-node-manager/images/nvidia-container-toolkit/werf.inc.yaml
  ee/modules/040-node-manager/images/nvidia-device-plugin/werf.inc.yaml
  ee/modules/040-node-manager/images/nvidia-mig-manager/werf.inc.yaml
  ee/modules/040-node-manager/templates/nvidia-gpu/device-plugin.yaml
  ee/modules/040-node-manager/templates/nvidia-gpu/gfd.yml
  ee/modules/040-node-manager/templates/nvidia-gpu/namespace.yaml
  ee/modules/040-node-manager/templates/nvidia-gpu/nfd-gc.yaml
  ee/modules/040-node-manager/templates/nvidia-gpu/nfd-master-conf.yaml
  ee/modules/040-node-manager/templates/nvidia-gpu/nfd-master.yaml
  ee/modules/040-node-manager/templates/nvidia-gpu/nfd-worker-conf.yaml
  ee/modules/040-node-manager/templates/nvidia-gpu/nvidia-mig-config.yml
  ee/modules/040-node-manager/templates/nvidia-gpu/nvidia-mig-manager.yml
  ee/modules/040-node-manager/templates/nvidia-gpu/pdb.yaml
  ee/modules/040-node-manager/templates/nvidia-gpu/plugin_config.yaml
  ee/modules/040-node-manager/templates/nvidia-gpu/rbac-for-us.yaml
  ee/modules/040-node-manager/templates/nvidia-gpu/worker.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/040-node-manager/.dmtlint.yaml
  modules/040-node-manager/crds/doc-ru-node_group.yaml
  modules/040-node-manager/crds/nfd-api-crds.yaml
  modules/040-node-manager/crds/node_group.yaml
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/gpu_enabled.go
  modules/040-node-manager/hooks/gpu_enabled_test.go
  modules/040-node-manager/hooks/internal/v1/nodegroup.go
  modules/040-node-manager/images/bashible-apiserver/src/pkg/template/context.go
  modules/040-node-manager/images/bashible-apiserver/src/pkg/template/context_builder.go
  modules/040-node-manager/openapi/values.yaml
  modules/040-node-manager/templates/_helpers.yaml
  testing/library/images_tags_generated.go
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: area/testing, area/cluster-and-infrastructure, skip/documentation-validation, go, area/api-change, edition/be

#13834 [node-manager] Add CAPS v1alpha2 webhooks
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/040-node-manager/images/caps-controller-manager/src/api/deckhouse.io/v1alpha2/staticinstance_webhook.go
  modules/040-node-manager/images/caps-controller-manager/src/cmd/main.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/bootstrap.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/client.go
  modules/040-node-manager/images/caps-controller-manager/src/internal/client/task_manager.go
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: area/testing, area/cluster-and-infrastructure, skip/e2e, go

#14277 Backport: [cloud-provider-huaweicloud] add enterprise_project_id
  ee/candi/cloud-providers/huaweicloud/layouts/standard/base-infrastructure/main.tf
  ee/candi/cloud-providers/huaweicloud/layouts/standard/master-node/main.tf
  ee/candi/cloud-providers/huaweicloud/layouts/standard/static-node/main.tf
  ee/candi/cloud-providers/huaweicloud/layouts/standard/static-node/variables.tf
  ee/candi/cloud-providers/huaweicloud/layouts/standard/variables.tf
  ee/candi/cloud-providers/huaweicloud/layouts/vpc-peering/base-infrastructure/main.tf
  ee/candi/cloud-providers/huaweicloud/layouts/vpc-peering/master-node/main.tf
  ee/candi/cloud-providers/huaweicloud/layouts/vpc-peering/static-node/main.tf
  ee/candi/cloud-providers/huaweicloud/layouts/vpc-peering/static-node/variables.tf
  ee/candi/cloud-providers/huaweicloud/layouts/vpc-peering/variables.tf
  ee/candi/cloud-providers/huaweicloud/openapi/cluster_configuration.yaml
  ee/candi/cloud-providers/huaweicloud/openapi/doc-ru-cluster_configuration.yaml
  ee/candi/cloud-providers/huaweicloud/terraform-modules/kubernetes-data/main.tf
  ee/candi/cloud-providers/huaweicloud/terraform-modules/kubernetes-data/variables.tf
  ee/candi/cloud-providers/huaweicloud/terraform-modules/master/main.tf
  ee/candi/cloud-providers/huaweicloud/terraform-modules/master/variables.tf
  ee/candi/cloud-providers/huaweicloud/terraform-modules/network-security/main.tf
  ee/candi/cloud-providers/huaweicloud/terraform-modules/network-security/outputs.tf
  ee/candi/cloud-providers/huaweicloud/terraform-modules/network-security/variables.tf
  ee/candi/cloud-providers/huaweicloud/terraform-modules/security-groups/main.tf
  ee/candi/cloud-providers/huaweicloud/terraform-modules/security-groups/variables.tf
  ee/candi/cloud-providers/huaweicloud/terraform-modules/static-node/main.tf
  ee/candi/cloud-providers/huaweicloud/terraform-modules/static-node/variables.tf
  ee/modules/030-cloud-provider-huaweicloud/images/caphc-controller-manager/werf.inc.yaml
  ee/modules/030-cloud-provider-huaweicloud/images/cloud-controller-manager/patches/003-enterprise-project-id.patch
  ee/modules/030-cloud-provider-huaweicloud/images/cloud-controller-manager/patches/README.md
  ee/modules/030-cloud-provider-huaweicloud/images/cloud-data-discoverer/werf.inc.yaml
  ee/modules/030-cloud-provider-huaweicloud/images/huaweicloud-csi-driver/patches/002-enterprise-project-id.patch
  ee/modules/030-cloud-provider-huaweicloud/images/huaweicloud-csi-driver/patches/README.md
  ee/modules/030-cloud-provider-huaweicloud/openapi/values.yaml
  ee/modules/030-cloud-provider-huaweicloud/templates/caphc-controller-manager/deployment.yaml
  ee/modules/030-cloud-provider-huaweicloud/templates/cloud-controller-manager/secret.yaml
  ee/modules/030-cloud-provider-huaweicloud/templates/csi/secret.yaml
  ee/modules/030-cloud-provider-huaweicloud/templates/secret.yaml
Labels: auto, backported

#14274 [deckhouse-controller] Remove v1alpha1 module update policy using
  deckhouse-controller/pkg/apis/deckhouse.io/v1alpha2/module_update_policy.go
  deckhouse-controller/pkg/apis/deckhouse.io/validation/validate_module_config.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/deckhouse.io_client.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/fake/fake_deckhouse.io_client.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/fake/fake_moduleupdatepolicy.go
  deckhouse-controller/pkg/client/clientset/versioned/typed/deckhouse.io/v1alpha1/moduleupdatepolicy.go
  deckhouse-controller/pkg/client/informers/externalversions/deckhouse.io/v1alpha1/interface.go
  deckhouse-controller/pkg/client/informers/externalversions/deckhouse.io/v1alpha1/moduleupdatepolicy.go
  deckhouse-controller/pkg/client/informers/externalversions/generic.go
  deckhouse-controller/pkg/client/listers/deckhouse.io/v1alpha1/moduleupdatepolicy.go
  deckhouse-controller/pkg/controller/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/check_release_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/client_test.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
  deckhouse-controller/pkg/controller/deckhouse-release/controller_test.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller.go
  deckhouse-controller/pkg/controller/module-controllers/release/controller_test.go
  deckhouse-controller/pkg/releaseupdater/deploy_time_checker.go
  deckhouse-controller/pkg/releaseupdater/update.go
  global-hooks/migrate/migrate_update_policy.go
Labels: type/enhancement, area/core, go

#14262 [ci] Fix Static E2E test
  testing/cloud_layouts/script.sh
Labels: area/testing

#14139 [docs][new structure] Translate Authorization section
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/admin/configuration/access/authorization/CHECKING_USERS_RIGHTS.md
  docs/documentation/pages/admin/configuration/access/authorization/CHECKING_USERS_RIGHTS_RU.md
  docs/documentation/pages/admin/configuration/access/authorization/CI_CD.md
  docs/documentation/pages/admin/configuration/access/authorization/CI_CD_RU.md
  docs/documentation/pages/admin/configuration/access/authorization/GRANTING.md
  docs/documentation/pages/admin/configuration/access/authorization/GRANTING_RU.md
  docs/documentation/pages/admin/configuration/access/authorization/OVERVIEW.md
  docs/documentation/pages/admin/configuration/access/authorization/OVERVIEW_RU.md
  docs/documentation/pages/admin/configuration/access/authorization/RBAC_CURRENT.md
  docs/documentation/pages/admin/configuration/access/authorization/RBAC_CURRENT_RU.md
  docs/documentation/pages/admin/configuration/access/authorization/RBAC_EXPERIMENTAL.md
  docs/documentation/pages/admin/configuration/access/authorization/RBAC_EXPERIMENTAL_RU.md
Labels: area/docs, skip/documentation-validation

#14239 Changelog v1.70.12
  CHANGELOG/CHANGELOG-v1.70.12.yml
  CHANGELOG/CHANGELOG-v1.70.md
Labels: changelog, auto, status/backport

#14292 Backport: Changelog v1.70.12
  CHANGELOG/CHANGELOG-v1.70.12.yml
  CHANGELOG/CHANGELOG-v1.70.md
Labels: auto, backported

#14287 [prometheus] Fix CVEs vulnerabilities mimir and rollback version
  modules/300-prometheus/images/mimir/patches/001-go-mod.patch
  modules/300-prometheus/images/mimir/patches/README.md
  modules/300-prometheus/images/mimir/werf.inc.yaml
Labels: area/monitoring, status/ok-to-test

#14300 Backport: [docs] Change article about kubelet certificate rotation
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: auto, backported

#14275 [node-manager] support more flags in power commands wrapper
  candi/bashible/common-steps/all/075_install_systemctl_power_commands_wrapper.sh.tpl
  ee/modules/040-node-manager/.build.yaml
  modules/007-registrypackages/images/systemctl-power-commands-wrapper/src/wrapper.c
  modules/007-registrypackages/images/systemctl-power-commands-wrapper/src/wrapper.h
  modules/007-registrypackages/images/systemctl-power-commands-wrapper/werf.inc.yaml
  testing/library/images_tags_generated.go
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: area/testing, area/cluster-and-infrastructure, area/core, go

#14301 [docs][ingress-nginx] Fix selectors in L2 MetalLB example
  modules/402-ingress-nginx/docs/EXAMPLES.md
  modules/402-ingress-nginx/docs/EXAMPLES_RU.md
Labels: area/network, area/docs, skip/e2e

#14213 [docs] fix one sentence in doc about EgressGatewayPolicy
  docs/site/pages/stronghold/documentation/admin/platform-management/network/EGRESS.md
  docs/site/pages/stronghold/documentation/admin/platform-management/network/EGRESS_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/network/EGRESS.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/network/EGRESS_RU.md
Labels: area/docs

#14083 [docs][control-plane-manager] Correct way to restore etcd backup
  modules/040-control-plane-manager/docs/FAQ.md
  modules/040-control-plane-manager/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport

#14296 [deckhouse-controller] Add synh notify user
  deckhouse-controller/pkg/apis/deckhouse.io/validation/validate_kubernetes_version.go
  deckhouse-controller/pkg/apis/deckhouse.io/validation/validate_module.go
  deckhouse-controller/pkg/apis/deckhouse.io/validation/validate_module_config.go
  deckhouse-controller/pkg/apis/deckhouse.io/validation/validate_update_policy.go
  deckhouse-controller/pkg/debug/module_enable.go
Labels: type/enhancement, area/core, go

#14006 [vertical-pod-autoscaler] Bump autoscaler to 1.4.1
  modules/300-prometheus/templates/aggregating-proxy/rbac-to-us.yaml
  modules/300-prometheus/templates/prometheus/rbac-to-us.yaml
  modules/302-vertical-pod-autoscaler/.namespace
  modules/302-vertical-pod-autoscaler/crds/doc-ru-verticalpodautoscaler.yaml
  modules/302-vertical-pod-autoscaler/crds/verticalpodautoscaler.yaml
  modules/302-vertical-pod-autoscaler/images/vertical-pod-autoscaler/patches/001-go-mod.patch
  modules/302-vertical-pod-autoscaler/images/vertical-pod-autoscaler/patches/002-openkruise-daemonset-apiversion.patch
  modules/302-vertical-pod-autoscaler/images/vertical-pod-autoscaler/patches/003-recommender.patch
  modules/302-vertical-pod-autoscaler/images/vertical-pod-autoscaler/patches/004-in-place-metrics.patch
  modules/302-vertical-pod-autoscaler/images/vertical-pod-autoscaler/patches/005-prometheus-bearer-auth.patch
  modules/302-vertical-pod-autoscaler/images/vertical-pod-autoscaler/patches/README.md
  modules/302-vertical-pod-autoscaler/images/vertical-pod-autoscaler/werf.inc.yaml
  modules/302-vertical-pod-autoscaler/module.yaml
  modules/302-vertical-pod-autoscaler/monitoring/grafana-dashboards/kubernetes-cluster/vpa-recommender.json
  modules/302-vertical-pod-autoscaler/templates/admission-controller/deployment.yaml
  modules/302-vertical-pod-autoscaler/templates/admission-controller/mutatingwebhookconfiguration.yaml
  modules/302-vertical-pod-autoscaler/templates/admission-controller/rbac-for-us.yaml
  modules/302-vertical-pod-autoscaler/templates/admission.yaml
  modules/302-vertical-pod-autoscaler/templates/configmap.yaml
  modules/302-vertical-pod-autoscaler/templates/monitoring.yaml
  modules/302-vertical-pod-autoscaler/templates/podmonitor.yaml
  modules/302-vertical-pod-autoscaler/templates/rbac-to-us.yaml
  modules/302-vertical-pod-autoscaler/templates/recommender/deployment.yaml
  modules/302-vertical-pod-autoscaler/templates/recommender/rbac-for-us.yaml
  modules/302-vertical-pod-autoscaler/templates/updater/deployment.yaml
  modules/302-vertical-pod-autoscaler/templates/updater/rbac-for-us.yaml
Labels: area/monitoring, skip/no-cyrillic-validation, area/scaling, area/api-change

#13997 [log-shipper] Add extralabels to log and CEF device info into CRD
  modules/460-log-shipper/apis/v1alpha1/cluster_log_destination.go
  modules/460-log-shipper/crds/cluster-log-destination.yaml
  modules/460-log-shipper/crds/doc-ru-cluster-log-destination.yaml
  modules/460-log-shipper/hooks/internal/vector/destination/kafka.go
  modules/460-log-shipper/hooks/internal/vector/destination/socket.go
  modules/460-log-shipper/hooks/testdata/file-to-socket-cef-gelf/result.json
Labels: area/logs, go, area/api-change

#14313 [docs] Fixed title at Stronghold documentation
  docs/site/pages/stronghold/documentation/user/ACCESS.md
  docs/site/pages/stronghold/documentation/user/ACCESS_RU.md
Labels: area/docs, skip/documentation-validation

#14211 [istio] Examples for redefine limit/request on sidecars in pod/deployment
  modules/110-istio/docs/EXAMPLES.md
  modules/110-istio/docs/EXAMPLES_RU.md
Labels: area/network, area/docs, skip/documentation-validation, status/backport, e2e/use/k8s/1.30

#14156 [docs][site] Add custom probes to deployment
  docs/site/.helm/templates/14-frontend.yaml
  docs/site/.helm/templates/_helpers.tpl
Labels: area/docs

#14311 [deckhouse-controller] Replace Update to Patch in DeckhouseRelease update
  deckhouse-controller/pkg/controller/deckhouse-release/controller.go
Labels: type/enhancement, area/core, go

#14308 [docs][new structure][application scaling] Add links to CRDs
  docs/documentation/pages/admin/configuration/app-scaling/HPA.md
  docs/documentation/pages/admin/configuration/app-scaling/HPA_RU.md
  docs/documentation/pages/admin/configuration/app-scaling/POD_RESTART.md
  docs/documentation/pages/admin/configuration/app-scaling/POD_RESTART_RU.md
  docs/documentation/pages/admin/configuration/app-scaling/SCALING_BY_METRICS.md
  docs/documentation/pages/admin/configuration/app-scaling/SCALING_BY_METRICS_RU.md
  docs/documentation/pages/admin/configuration/app-scaling/VPA.md
  docs/documentation/pages/admin/configuration/app-scaling/VPA_RU.md
  docs/documentation/pages/admin/configuration/app-scaling/pod-eviction/SCHEDULER.md
  docs/documentation/pages/admin/configuration/app-scaling/pod-eviction/SCHEDULER_RU.md
Labels: area/docs, skip/documentation-validation

#14270 [docs][new structure] Update Logging sections after review
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/admin/configuration/logging/DELIVERY_RU.md
  docs/documentation/pages/admin/configuration/logging/STORAGE_RU.md
  docs/documentation/pages/architecture/LOGGING_RU.md
  docs/documentation/pages/user/LOGGING.md
  docs/documentation/pages/user/LOGGING_RU.md
Labels: area/docs, skip/documentation-validation

#14312 [istio] Patch for delete unused functions in source code
  modules/110-istio/images/operator-v1x25x2/werf.inc.yaml
Labels: area/network, e2e/use/k8s/1.30

#14100 [prometheus] fix fake longterm emptydir alert
  modules/300-prometheus/hooks/prometheus_longterm_storage_class_change.go
Labels: area/monitoring, status/backport, go

#14321 Backport: [prometheus] fix fake longterm emptydir alert
  modules/300-prometheus/hooks/prometheus_longterm_storage_class_change.go
Labels: auto, backported

#14323 Backport: [docs] Update editions comparison table for the delivery-kit module
  docs/documentation/_data/modules/modules-addition.json
  docs/site/backends/docs-builder-template/data/modules_all.json
Labels: auto, backported

#14324 Backport: [docs] Update editions comparison table for the delivery-kit module
  docs/documentation/_data/modules/modules-addition.json
  docs/site/backends/docs-builder-template/data/modules_all.json
Labels: auto, backported

#14325 [chore] [ci] Docs deployment probes
  docs/site/.helm/templates/_helpers.tpl
Labels: area/docs

#14302 [go-lib] Add options pattern to deckhouse logger
  Makefile
  deckhouse-controller/cmd/deckhouse-controller/main.go
  dhctl/go.mod
  dhctl/go.sum
  dhctl/pkg/log/logger.go
  docs/site/backends/docs-builder/go.mod
  docs/site/backends/docs-builder/go.sum
  docs/site/backends/docs-builder/main.go
  docs/site/backends/registry-modules-watcher/cmd/main.go
  docs/site/backends/registry-modules-watcher/go.mod
  docs/site/backends/registry-modules-watcher/go.sum
  ee/be/modules/350-node-local-dns/images/iptables-loop/src/go.mod
  ee/be/modules/350-node-local-dns/images/iptables-loop/src/go.sum
  ee/be/modules/350-node-local-dns/images/iptables-loop/src/main.go
  ee/modules/030-cloud-provider-openstack/images/cloud-data-discoverer/src/go.mod
  ee/modules/030-cloud-provider-vcd/images/cloud-data-discoverer/src/go.mod
  ee/se-plus/modules/030-cloud-provider-vsphere/images/cloud-data-discoverer/src/go.mod
  ee/se-plus/modules/030-cloud-provider-zvirt/images/cloud-data-discoverer/src/go.mod
  go.mod
  go.sum
  go_lib/cloud-data/app/logger.go
  go_lib/cloud-data/go.mod
  go_lib/cloud-data/go.sum
  modules/030-cloud-provider-aws/images/cloud-data-discoverer/src/go.mod
  modules/030-cloud-provider-azure/images/cloud-data-discoverer/src/go.mod
  modules/030-cloud-provider-dvp/images/cloud-data-discoverer/src/go.mod
  modules/030-cloud-provider-dvp/images/cloud-data-discoverer/src/go.sum
  modules/030-cloud-provider-gcp/images/cloud-data-discoverer/src/go.mod
  modules/030-cloud-provider-yandex/images/cloud-data-discoverer/src/go.mod
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/go.mod
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/go.sum
  modules/039-registry-packages-proxy/images/registry-packages-proxy/src/internal/app/logger.go
  modules/340-monitoring-ping/images/monitoring-ping/src/go.mod
  modules/340-monitoring-ping/images/monitoring-ping/src/go.sum
  modules/500-upmeter/images/upmeter/src/go.mod
  pkg/log/README.md
  pkg/log/global.go
  pkg/log/logger.go
  pkg/log/logger_test.go
  testing/controller/controllersuite/suite.go
  testing/hooks/init.go
Labels: area/monitoring, area/cloud-provider, type/enhancement, area/testing, area/docs, type/dependencies, area/cli, area/core, go

#14334 [docs] Update the link to the documentation in the header and the footer
  docs/site/_data/footer.json
  docs/site/_includes/header.html
Labels: area/docs

#14336 [docs] Minor updates
  docs/documentation/pages/DECKHOUSE-OVERVIEW.md
Labels: area/docs

#14337 [docs] Update d8 CLI tool reference generator
  docs/documentation/_plugins/reference_generator.rb
Labels: area/docs

#14341 [node-manager] Disruption approved annotation removal
  ee/modules/040-node-manager/templates/nvidia-gpu/nvidia-mig-config.yml
Labels: area/cluster-and-infrastructure

#14346 Backport: [deckhouse-controller] Fix nil annotations for fetcher
  deckhouse-controller/pkg/controller/module-controllers/source/module_release_fetcher.go
Labels: auto, backported

#14330 [prometheus] Switch from Prometheus to Deckhouse Prom++ by default
  modules/300-prometheus/hooks/enable_prompp.go
  modules/300-prometheus/hooks/enable_prompp_test.go
Labels: area/monitoring, go

#14349 Backport: [docs] Adjust memory limits for documentation pods
  docs/documentation/.helm/templates/_helpers.tpl
  docs/documentation/.helm/values.yaml
Labels: auto, backported

#14236 [registry] Use ctr for bb-rp-fetch when registry module is used
  candi/bashible/bashbooster/50_deckhouse_registrypackages.sh
  candi/bashible/bashible.sh.tpl
Labels: area/cluster-and-infrastructure

#14348 [ingress−nginx] Ensure that validationEnabled is always set to false
  modules/402-ingress-nginx/hooks/get_ingress_controllers.go
  modules/402-ingress-nginx/hooks/get_ingress_controllers_test.go
Labels: area/network, status/backport, go

#14340 [docs] Update information about Deckhouse Stronghold editions
  docs/documentation/_data/modules/modules-addition.json
  docs/site/_data/i18n.yaml
  docs/site/_data/sidebars/stronghold.yml
  docs/site/pages/stronghold/documentation/about/EDITIONS.md
  docs/site/pages/stronghold/documentation/about/EDITIONS_RU.md
Labels: area/docs

#14362 Backport: Changelog v1.70.13
  CHANGELOG/CHANGELOG-v1.70.13.yml
  CHANGELOG/CHANGELOG-v1.70.md
Labels: auto, backported

#14363 [monitoring-deckhouse] Change command for dump
  docs/documentation/_data/deckhouse-alerts.yml
  modules/340-monitoring-deckhouse/monitoring/prometheus-rules/alerting.yaml
Labels: area/monitoring, area/docs

#14141 [docs][new structure] Control plane and node manager
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/admin/configuration/backup/BACKUP_AND_RESTORE.md
  docs/documentation/pages/admin/configuration/backup/BACKUP_AND_RESTORE_RU.md
  docs/documentation/pages/admin/configuration/platform-scaling/CONTROL_PLANE.md
  docs/documentation/pages/admin/configuration/platform-scaling/CONTROL_PLANE_RU.md
  docs/documentation/pages/admin/configuration/platform-scaling/NODE.md
  docs/documentation/pages/admin/configuration/platform-scaling/NODE_RU.md
  docs/documentation/pages/admin/configuration/platform-scaling/OVERVIEW.md
  docs/documentation/pages/admin/configuration/platform-scaling/OVERVIEW_RU.md
  docs/documentation/pages/admin/configuration/platform-scaling/control-plane/CONTROL_PLANE_MANAGEMENT_AND_CONFIGURATION.md
  docs/documentation/pages/admin/configuration/platform-scaling/control-plane/CONTROL_PLANE_MANAGEMENT_AND_CONFIGURATION_RU.md
  docs/documentation/pages/admin/configuration/platform-scaling/control-plane/CONTROL_PLANE_RECOVERY_AND_DEBUGGING.md
  docs/documentation/pages/admin/configuration/platform-scaling/control-plane/CONTROL_PLANE_RECOVERY_AND_DEBUGGING_RU.md
  docs/documentation/pages/admin/configuration/platform-scaling/control-plane/SCALING_AND_CHANGING_MASTER_NODES.md
  docs/documentation/pages/admin/configuration/platform-scaling/control-plane/SCALING_AND_CHANGING_MASTER_NODES_RU.md
  docs/documentation/pages/admin/configuration/platform-scaling/control-plane/UPDATING_AND_VERSIONING.md
  docs/documentation/pages/admin/configuration/platform-scaling/control-plane/UPDATING_AND_VERSIONING_RU.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/BARE_METAL_NODE.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/BARE_METAL_NODE_RU.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/CLOUD_NODE.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/CLOUD_NODE_RU.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/NODE_CUSTOMIZATION.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/NODE_CUSTOMIZATION_RU.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/NODE_MANAGEMENT.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/NODE_MANAGEMENT_RU.md
  docs/documentation/pages/architecture/NODE.md
  docs/documentation/pages/architecture/NODE_RU.md
Labels: area/docs, skip/documentation-validation

#14271 [docs] Actualize used port list
  docs/documentation/_data/deckhouse-ports.yml
  docs/documentation/pages/NETWORK_SECURITY_SETUP.md
  docs/documentation/pages/NETWORK_SECURITY_SETUP_RU.md
Labels: area/docs

#14288 [cni-cilium] Fixing the egressgateway controller for large setups
  ee/se-plus/modules/021-cni-cilium/hooks/ee/egressgateways_discovery.go
Labels: skip/e2e, go

#14375 Backport: [docs] Remove registrypackages module from the list of editions comparison
  docs/documentation/_data/modules/editions-addition.json
  docs/documentation/_data/modules/modules-addition.json
Labels: auto, backported

#14376 Backport: [docs] Remove registrypackages module from the list of editions comparison
  docs/documentation/_data/modules/editions-addition.json
  docs/documentation/_data/modules/modules-addition.json
Labels: auto, backported

#14382 Backport: [docs][chrony] Add chrony module description
  modules/470-chrony/docs/README.md
  modules/470-chrony/docs/README_RU.md
Labels: auto, backported

#14383 Backport: [docs][chrony] Add chrony module description
  modules/470-chrony/docs/README.md
  modules/470-chrony/docs/README_RU.md
Labels: auto, backported

#14369 [docs][cloud-provider-yandex] Add warning NAT-instance restarts if resources changed
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
Labels: area/cloud-provider, area/cluster-and-infrastructure, status/backport, skip/e2e, area/api-change

#14384 Backport: [docs][cloud-provider-yandex] Add warning NAT-instance restarts if resources changed
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#14385 Backport: [docs][cloud-provider-yandex] Add warning NAT-instance restarts if resources changed
  candi/cloud-providers/yandex/openapi/cluster_configuration.yaml
  candi/cloud-providers/yandex/openapi/doc-ru-cluster_configuration.yaml
Labels: auto, backported

#14387 Backport: [cni-cilium] Fix cilium least-conn lb algorithm
  modules/021-cni-cilium/images/bin-cilium/patches/011-add-least-conn-lb-algorithm.patch
Labels: auto, backported

#13542 [monitoring-ping] added init container for cleanup deprecated exporter
  modules/340-monitoring-ping/images/monitoring-ping/src/main.go
  modules/340-monitoring-ping/images/monitoring-ping/werf.inc.yaml
  modules/340-monitoring-ping/templates/daemonset.yaml
Labels: area/monitoring, go, e2e/use/k8s/1.30

#14388 Backport: [monitoring-ping] added init container for cleanup deprecated exporter
  modules/340-monitoring-ping/images/monitoring-ping/src/main.go
  modules/340-monitoring-ping/images/monitoring-ping/werf.inc.yaml
  modules/340-monitoring-ping/templates/daemonset.yaml
Labels: auto, backported

#14379 [docs][chore] Move codeblock functionality to a separate file
  docs/site/_assets/js/codeblock.js
  docs/site/_assets/js/customscripts.js
  docs/site/_assets/js/getting-started-access.js
  docs/site/_assets/js/getting-started-finish.js
  docs/site/_assets/js/getting-started-install.js
  docs/site/_assets/js/getting-started-private.js
  docs/site/_assets/js/getting-started.js
  docs/site/_includes/footer.html
  modules/810-documentation/images/web/site/_includes/footer.html
Labels: area/docs, status/backport

#14389 Backport: [docs][chore] Move codeblock functionality to a separate file
  docs/site/_assets/js/codeblock.js
  docs/site/_assets/js/customscripts.js
  docs/site/_assets/js/getting-started-access.js
  docs/site/_assets/js/getting-started-finish.js
  docs/site/_assets/js/getting-started-install.js
  docs/site/_assets/js/getting-started-private.js
  docs/site/_assets/js/getting-started.js
  docs/site/_includes/footer.html
  modules/810-documentation/images/web/site/_includes/footer.html
Labels: auto, backported

#14318 feat: fail on empty crontab
  go.mod
  go.sum
  testing/hooks/validation/crontab_schedule_test.go
Labels: type/enhancement, area/testing, type/dependencies, area/core, go

#14395 [docs] Fix module configuration snippet
  docs/documentation/_includes/module-settings.liquid
Labels: status/backport

#14398 Backport: [cloud-provider-dvp] fix vmClassName in terraform
  candi/cloud-providers/dvp/layouts/standard/master-node/main.tf
  candi/cloud-providers/dvp/layouts/standard/master-node/variables.tf
  candi/cloud-providers/dvp/layouts/standard/static-node/main.tf
  candi/cloud-providers/dvp/layouts/standard/static-node/variables.tf
Labels: auto, backported

#13941 [deckhouse-controller] New HookInput Snapshot logic [second-iteration]
  ee/modules/030-cloud-provider-vcd/hooks/legacy_mode.go
  global-hooks/discovery/virtualization_level.go
  modules/021-cni-cilium/hooks/check_kernel_versions.go
  modules/021-cni-cilium/hooks/discover_vxlan_port.go
  modules/030-cloud-provider-dvp/hooks/discover.go
  modules/040-control-plane-manager/hooks/ensure_secret_encryption_key.go
  modules/040-control-plane-manager/hooks/ensure_secret_encryption_key_test.go
  modules/040-control-plane-manager/hooks/etcd_quota_backend_bytes.go
  modules/040-control-plane-manager/hooks/etcd_quota_backend_bytes_test.go
  modules/040-control-plane-manager/hooks/get_pki_checksum.go
  modules/040-control-plane-manager/hooks/kube_scheduler_extenders.go
  modules/040-control-plane-manager/hooks/kubeadm_config_cleanup.go
  modules/040-control-plane-manager/hooks/label_heritage_on_kube_system.go
  modules/040-control-plane-manager/hooks/lock_main_queue.go
  modules/040-control-plane-manager/hooks/reconcile_etcd_members.go
  modules/040-control-plane-manager/hooks/reconcile_masters_node.go
  modules/040-control-plane-manager/hooks/update_approval.go
  modules/040-node-manager/hooks/chaos_monkey.go
  modules/040-node-manager/hooks/check_unmet_conditions.go
  modules/040-node-manager/hooks/clear_nodeuser_errors.go
  modules/040-node-manager/hooks/cluster_api_deckhouse_control_plane.go
  modules/040-node-manager/hooks/convert_static_cluster_configuration.go
  modules/040-node-manager/hooks/deployment_required.go
  modules/040-node-manager/hooks/discover_apiserver_endpoints.go
  modules/040-node-manager/hooks/discover_cloud_provider.go
  modules/040-node-manager/hooks/discover_standby_ng.go
  modules/040-node-manager/hooks/enable_cluster_api_cloud_and_static.go
  modules/040-node-manager/hooks/fencing_controller.go
  modules/040-node-manager/hooks/gen_bashible_apiserver_certs.go
  modules/040-node-manager/hooks/get_crds.go
  modules/040-node-manager/hooks/get_packages_proxy_token.go
  modules/040-node-manager/hooks/handle_draining.go
  modules/040-node-manager/hooks/handle_node_templates.go
  modules/040-node-manager/hooks/instance_controller.go
  modules/040-node-manager/hooks/kubelet_csr_approver.go
  modules/040-node-manager/hooks/lock_bashible_apiserver.go
  modules/040-node-manager/hooks/machine_deployments_caps_metrics.go
  modules/040-node-manager/hooks/machineclass_checksum_collect.go
  modules/040-node-manager/hooks/metrics_node_group_configurations.go
  modules/040-node-manager/hooks/minimal_node_os_version.go
  modules/040-node-manager/hooks/node_group_metrics.go
  modules/040-node-manager/hooks/node_status_update_frequency.go
  modules/040-node-manager/hooks/order_bootstrap_token.go
  modules/040-node-manager/hooks/remove_csi_taints.go
  modules/040-node-manager/hooks/set_instance_class_ng_usage.go
  modules/040-node-manager/hooks/set_ng_priorities.go
  modules/040-node-manager/hooks/set_provider_id_on_static_nodes.go
  modules/040-node-manager/hooks/set_replicas_on_machine_deployment.go
  modules/040-node-manager/hooks/sshcredentials_crd_cabundle_injection.go
  modules/040-node-manager/hooks/update_approval.go
  modules/040-node-manager/hooks/update_node_group_status.go
Labels: area/cloud-provider, area/network, area/cluster-and-infrastructure, area/core, go

#14390 [candi] Add bashible step to check for upgrade k8s to 1.31
  candi/bashible/common-steps/all/001_check_kubernetes_version.sh.tpl
Labels: area/cluster-and-infrastructure, status/backport, e2e/use/k8s/1.30

#14407 Backport: [candi] Add bashible step to check for upgrade k8s to 1.31
  candi/bashible/common-steps/all/001_check_kubernetes_version.sh.tpl
Labels: auto, backported

#14408 Backport: [control-plane-manager] Add create and delete node resources in audit log events.
  modules/040-control-plane-manager/hooks/audit_policy.go
  modules/040-control-plane-manager/hooks/audit_policy_test.go
Labels: auto, backported

#14227 [node-manager] nvidia-gpu part 2
  ee/modules/040-node-manager/.build.yaml
  ee/modules/040-node-manager/images/nvidia-dcgm-exporter/werf.inc.yaml
  ee/modules/040-node-manager/images/nvidia-dcgm/werf.inc.yaml
  ee/modules/040-node-manager/monitoring/grafana-dashboards/nvidia-gpu/gpu_namespace.json
  ee/modules/040-node-manager/monitoring/grafana-dashboards/nvidia-gpu/gpu_namespace_pod.json
  ee/modules/040-node-manager/monitoring/grafana-dashboards/nvidia-gpu/gpu_namespaces.json
  ee/modules/040-node-manager/monitoring/grafana-dashboards/nvidia-gpu/gpu_node.json
  ee/modules/040-node-manager/monitoring/grafana-dashboards/nvidia-gpu/gpu_nodes.json
  ee/modules/040-node-manager/monitoring/grafana-dashboards/nvidia-gpu/gpu_overvview.json
  ee/modules/040-node-manager/templates/monitoring.yaml
  ee/modules/040-node-manager/templates/nvidia-gpu/dcgm-exporter-service.yaml
  ee/modules/040-node-manager/templates/nvidia-gpu/dcgm-exporter.yaml
  ee/modules/040-node-manager/templates/nvidia-gpu/dcgm-service.yaml
  ee/modules/040-node-manager/templates/nvidia-gpu/dcgm.yaml
  ee/modules/040-node-manager/templates/nvidia-gpu/nvidia-mig-config.yml
  ee/modules/040-node-manager/templates/nvidia-gpu/rbac-for-us.yaml
  ee/modules/040-node-manager/templates/podmonitor.yaml
  modules/040-control-plane-manager/hooks/audit_policy_basic_targets_generated.go
  modules/040-node-manager/hooks/gpu_enabled.go
  testing/library/images_tags_generated.go
  tools/build_includes/modules-EE.yaml
  tools/build_includes/modules-FE.yaml
  tools/build_includes/modules-with-dependencies-EE.yaml
  tools/build_includes/modules-with-dependencies-FE.yaml
  tools/build_includes/modules-with-exclude-EE.yaml
  tools/build_includes/modules-with-exclude-FE.yaml
Labels: area/testing, area/cluster-and-infrastructure, skip/documentation-validation, skip/no-cyrillic-validation, status/backport, go

#14412 [docs] Minor documentation updates
  docs/documentation/_data/i18n.yml
  docs/documentation/_plugins/reference_generator.rb
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
  modules/402-ingress-nginx/docs/EXAMPLES_RU.md
Labels: area/network, area/docs, status/backport, area/api-change

#14413 Backport: [docs] Minor documentation updates
  docs/documentation/_data/i18n.yml
  docs/documentation/_plugins/reference_generator.rb
  modules/021-cni-cilium/openapi/doc-ru-config-values.yaml
  modules/402-ingress-nginx/docs/EXAMPLES_RU.md
Labels: auto, backported

#14404 [deckhouse-controller] add default group to every hook
  go.mod
  go.sum
Labels: type/enhancement, type/dependencies, area/core, status/backport

#14419 [vertical-pod-autoscaler] Fix VPA admission resources
  modules/302-vertical-pod-autoscaler/templates/admission.yaml
Labels: area/scaling, status/backport, e2e/use/k8s/1.32

#14422 Backport: [vertical-pod-autoscaler] Fix VPA admission resources
  modules/302-vertical-pod-autoscaler/templates/admission.yaml
Labels: auto, backported

#14423 [docs][prometheus] Fix formatting on the usage page
  modules/300-prometheus/docs/USAGE.md
  modules/300-prometheus/docs/USAGE_RU.md
Labels: area/monitoring, area/docs, status/backport

#14435 Backport: [cloud-provider-aws] bump ami_type in e2e layout
  testing/cloud_layouts/EKS/WithoutNAT/infra.tf.tpl
Labels: auto, backported

#14403 [docs][candi] Added note about node networks in noProxy parameter
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
  docs/site/_includes/getting_started/dvp/global/step_cluster_setup.html
  docs/site/_includes/getting_started/dvp/global/step_cluster_setup_ru.html
  docs/site/_includes/getting_started/global/step_cluster_setup.html
  docs/site/_includes/getting_started/global/step_cluster_setup_ru.html
  docs/site/_includes/getting_started/stronghold/global/step_cluster_setup.html
  docs/site/_includes/getting_started/stronghold/global/step_cluster_setup_ru.html
Labels: area/docs, area/cluster-and-infrastructure, status/backport, area/api-change

#14416 [docs][new-structure] Add info about spec.staticInstances.count parameter
  docs/documentation/pages/admin/configuration/platform-scaling/node/CLOUD_NODE.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/CLOUD_NODE_RU.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/NODE_CUSTOMIZATION.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/NODE_MANAGEMENT.md
  docs/documentation/pages/admin/configuration/platform-scaling/node/NODE_MANAGEMENT_RU.md
  docs/documentation/pages/architecture/NODE_RU.md
Labels: area/docs, skip/documentation-validation

#14431 [docs] Fixed rendering for Customizing istio-proxy sidecar resource management article
  modules/110-istio/docs/EXAMPLES.md
  modules/110-istio/docs/EXAMPLES_RU.md
Labels: area/network, area/docs, status/backport

#14443 Backport: [docs] Fixed rendering for Customizing istio-proxy sidecar resource management article
  modules/110-istio/docs/EXAMPLES.md
  modules/110-istio/docs/EXAMPLES_RU.md
Labels: auto, backported

#14444 Backport: [docs] Fixed rendering for Customizing istio-proxy sidecar resource management article
  modules/110-istio/docs/EXAMPLES.md
  modules/110-istio/docs/EXAMPLES_RU.md
Labels: auto, backported

#14430 [docs][new-structure] Add info about istio sidecars resource limitations
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/user/network/ISTIO_SIDECAR_RESOURCE_MANAGEMENT.md
  docs/documentation/pages/user/network/ISTIO_SIDECAR_RESOURCE_MANAGEMENT_RU.md
Labels: area/docs

#14450 Backport: [docs] Add neuvector module to the comparison list
  docs/documentation/_data/modules/modules-addition.json
  docs/site/backends/docs-builder-template/data/modules_all.json
Labels: auto, backported

#14394 [docs] Margins in lists
  docs/site/_assets/css/docs.scss
Labels: area/docs

#14461 Backport: [openvpn] added missing label to server secret
  modules/500-openvpn/hooks/migration_secret_labels.go
  modules/500-openvpn/hooks/migration_secret_labels_test.go
Labels: auto, backported

#14458 [deckhouse] 1.70 fix storage class change hook
  go_lib/hooks/storage_class_change/hook.go
Labels: area/core, go

#14424 [cert-manager] Add support for ACME HTTP-01 challenges method in ingressClass
  modules/101-cert-manager/openapi/config-values.yaml
  modules/101-cert-manager/openapi/doc-ru-config-values.yaml
  modules/101-cert-manager/templates/cert-manager/clusterissuer-letsencrypt-staging.yaml
  modules/101-cert-manager/templates/cert-manager/clusterissuer-letsencrypt.yaml
Labels: area/security, status/backport, area/api-change

#14432 Fix for pr-14327
  deckhouse-controller/pkg/helpers/change_registry/change_registry.go
  deckhouse-controller/pkg/helpers/change_registry/change_registry_test.go
Labels: area/core, go

#14468 [docs] Fixed links at vSphere documentation
  ee/se-plus/candi/cloud-providers/vsphere/docs/ENVIRONMENT.md
  ee/se-plus/candi/cloud-providers/vsphere/docs/ENVIRONMENT_RU.md
Labels: area/docs, skip/documentation-validation, status/backport

#14451 [docs] Synchronized server requirements on the installation documentation page
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
Labels: area/docs, skip/documentation-validation, status/backport

#14475 Backport: [docs] Synchronized server requirements on the installation documentation page
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
Labels: auto, backported

#14479 Backport: [docs] Update editions comparison list
  docs/documentation/_data/modules/editions-addition.json
  docs/site/backends/docs-builder-template/data/modules_all.json
Labels: auto, backported

#14480 Backport: [docs] Update editions comparison list
  docs/documentation/_data/modules/editions-addition.json
  docs/site/backends/docs-builder-template/data/modules_all.json
Labels: auto, backported

#14481 Backport: [docs] Update editions comparison list
  docs/documentation/_data/modules/editions-addition.json
  docs/site/backends/docs-builder-template/data/modules_all.json
Labels: auto, backported

#14492 Backport: [ci] Fix e2e test upgrade case
  testing/cloud_layouts/script.sh
Labels: auto, backported

#14496 [docs][new structure] Translate event audit architecture page
  docs/documentation/pages/architecture/security/RUNTIME-AUDIT.md
Labels: area/docs, skip/documentation-validation

#14477 [Tests] ContainerdV2 for e2e tests
  .github/scripts/js/constants.js
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vcd.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
Labels: skip/e2e

#14506 Backport: fix e2e openstack
  testing/cloud_layouts/OpenStack/Standard/configuration.tpl.yaml
  testing/cloud_layouts/OpenStack/Standard/resources.yaml
Labels: auto, backported

#14508 Backport: [ci] Fix e2e test upgrade case
  testing/cloud_layouts/script.sh
Labels: auto, backported

#14510 Backport: [docs] Synchronized server requirements on the installation documentation page
  docs/documentation/pages/installing/README.md
  docs/documentation/pages/installing/README_RU.md
Labels: auto, backported

#14512 [tests] Allow module config obsolete version alert
  testing/cloud_layouts/script-commander.sh
  testing/cloud_layouts/script.d/wait_cluster_ready/test_alerts.sh
Labels: area/testing, status/backport, type/chore, skip/e2e

#14497 [node-manager] Containerd v2 rewrite host auth patch
  modules/007-registrypackages/images/containerd/patches/containerd/2.1.3/003-hosts-auth.patch
  modules/007-registrypackages/images/containerd/werf.inc.yaml
Labels: area/core, skip/e2e, e2e/use/cri/containerdv2

#14446 [ci] Upgrade werf version
  .github/ci_includes/werf_envs.yml
  .github/ci_templates/build.yml
  .github/workflow_templates/build-and-test_dev.yml
  .github/workflow_templates/build-and-test_pre-release.yml
  .github/workflow_templates/build-and-test_release.yml
  .github/workflow_templates/validation.yml
  .github/workflows/build-and-test_dev.yml
  .github/workflows/build-and-test_pre-release.yml
  .github/workflows/build-and-test_release.yml
  .github/workflows/deploy-alpha.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy-early-access.yml
  .github/workflows/deploy-rock-solid.yml
  .github/workflows/deploy-stable.yml
  .github/workflows/deploy-web-stage.yml
  .github/workflows/deploy-web-test.yml
  .github/workflows/e2e-abort-aws.yml
  .github/workflows/e2e-abort-azure.yml
  .github/workflows/e2e-abort-eks.yml
  .github/workflows/e2e-abort-gcp.yml
  .github/workflows/e2e-abort-openstack.yml
  .github/workflows/e2e-abort-static.yml
  .github/workflows/e2e-abort-vcd.yml
  .github/workflows/e2e-abort-vsphere.yml
  .github/workflows/e2e-abort-yandex-cloud.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vcd.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  .github/workflows/suspend-alpha.yml
  .github/workflows/suspend-beta.yml
  .github/workflows/suspend-early-access.yml
  .github/workflows/suspend-rock-solid.yml
  .github/workflows/suspend-stable.yml
  .github/workflows/validation.yml
Labels: skip/e2e

#14516 Backport: [tests] Allow module config obsolete version alert
  testing/cloud_layouts/script-commander.sh
  testing/cloud_layouts/script.d/wait_cluster_ready/test_alerts.sh
Labels: auto, backported

#14517 Backport: [docs][site] Fix bugs in codeblocks
  docs/site/_assets/css/docs.scss
Labels: auto, backported

#13483 Changelog v1.71.0
  CHANGELOG/CHANGELOG-v1.71.0.yml
  CHANGELOG/CHANGELOG-v1.71.md
Labels: changelog, auto, status/backport

#14501 [docs] Add Release Notes DKP 1.71
  docs/documentation/_includes/release-notes/RELEASE-NOTES.md
  docs/documentation/_includes/release-notes/RELEASE-NOTES_RU.md
Labels: area/docs, skip/documentation-validation, status/backport

#14527 Backport: [docs] Add Release Notes DKP 1.71
  docs/documentation/_includes/release-notes/RELEASE-NOTES.md
  docs/documentation/_includes/release-notes/RELEASE-NOTES_RU.md
Labels: auto, backported

#14472 [pkg] Add metrics collector lib
  .github/dependabot.yml
  pkg/metrics-storage/README.md
  pkg/metrics-storage/collectors/collector.go
  pkg/metrics-storage/collectors/collector_test.go
  pkg/metrics-storage/collectors/counter_collector.go
  pkg/metrics-storage/collectors/counter_collector_test.go
  pkg/metrics-storage/collectors/gauge_collector.go
  pkg/metrics-storage/collectors/gauge_collector_test.go
  pkg/metrics-storage/collectors/histogram_collector.go
  pkg/metrics-storage/collectors/histogram_collector_test.go
  pkg/metrics-storage/go.mod
  pkg/metrics-storage/go.sum
  pkg/metrics-storage/labels/labels.go
  pkg/metrics-storage/metric_storage.go
  pkg/metrics-storage/metric_storage_test.go
  pkg/metrics-storage/operation/action.go
  pkg/metrics-storage/operation/operation.go
  pkg/metrics-storage/operation/operation_test.go
  pkg/metrics-storage/options/options.go
  pkg/metrics-storage/storage.go
  pkg/metrics-storage/storage/grouped.go
  pkg/metrics-storage/storage/grouped_test.go
Labels: type/enhancement, type/dependencies, go

#14494 [docs] Added documentation with recommendations for generating self-signed certificates
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  modules/101-cert-manager/docs/USAGE.md
  modules/101-cert-manager/docs/USAGE_RU.md
Labels: area/security, area/docs, skip/documentation-validation, status/backport

#14531 [node-manager] added placeholder for required field
  modules/040-node-manager/templates/node-group/_capi_machine_deployment.tpl
Labels: area/cluster-and-infrastructure

#14465 [node-manager] Add profiling for bashible-apiserver
  modules/040-node-manager/images/bashible-apiserver/src/pkg/cmd/server/start.go
Labels: area/cluster-and-infrastructure, status/backport, go

#14544 Backport: [node-manager] Add profiling for bashible-apiserver
  modules/040-node-manager/images/bashible-apiserver/src/pkg/cmd/server/start.go
Labels: auto, backported

#14371 [node-manager] Remove duplicate fields from bashible context
  candi/bashible/common-steps/all/005_check_gpu.sh.tpl
  candi/bashible/common-steps/all/032_configure_containerd.sh.tpl
  candi/bashible/common-steps/all/041_configure_sysctl_tuner.sh.tpl
  modules/040-node-manager/images/bashible-apiserver/src/pkg/template/context_builder.go
Labels: area/cluster-and-infrastructure, go

#14507 [terraform-manager] probes for kube-rbac-proxy
  modules/040-terraform-manager/.dmtlint.yaml
  modules/040-terraform-manager/templates/terraform-auto-converger/deployment.yaml
  modules/040-terraform-manager/templates/terraform-state-exporter/deployment.yaml
Labels: area/cluster-and-infrastructure

#14545 Backport: [node-manager][docs] Remove default cri value
  modules/040-node-manager/crds/node_group.yaml
Labels: auto, backported

#14502 [monitoring-ping] optimize CPU consumption
  modules/340-monitoring-ping/images/monitoring-ping/src/pkg/fastping/sockets.go
Labels: area/monitoring, status/backport, go, e2e/use/k8s/1.30

#14550 [docs][new structure] Update sibebar and some page titles
  docs/documentation/_data/sidebars/main.yml
  docs/documentation/pages/user/LOGGING.md
  docs/documentation/pages/user/LOGGING_RU.md
  docs/documentation/pages/user/monitoring/OVERVIEW.md
  docs/documentation/pages/user/monitoring/OVERVIEW_RU.md
Labels: area/docs, skip/documentation-validation

#14557 Backport: [control-plane] Correct indentation of the 'certSANs' in v1beta4 template.
  candi/control-plane-kubeadm/v1beta4/config.yaml.tpl
Labels: auto, backported

#14559 Backport: [control-plane] Correct indentation of the 'certSANs' in v1beta4 template.
  candi/control-plane-kubeadm/v1beta4/config.yaml.tpl
Labels: auto, backported

#14467 [docs][new structure] modules list updates
  docs/documentation/_data/i18n.yml
  docs/documentation/_data/modules/embedded_modules_tags.json
  docs/documentation/_data/modules/excluded_modules.json
  docs/documentation/_tools/modules_list.sh
  docs/documentation/_tools/modules_prepare.sh
  docs/documentation/werf-web-static.inc.yaml
  docs/site/.helm/templates/_rewrites.tpl
  docs/site/_assets/js/tile.js
  docs/site/_includes/filter.html
  docs/site/_includes/guides_main_page.liquid
  docs/site/_plugins/hash_filter.rb
  docs/site/assets/js/filter.js
  docs/site/assets/js/tile.js
  docs/site/backends/docs-builder-template/content/modules/_index.md
  docs/site/backends/docs-builder-template/content/modules/_index.ru.md
  docs/site/backends/docs-builder-template/data/dkp/embedded_modules.json
  docs/site/backends/docs-builder-template/i18n/en.yaml
  docs/site/backends/docs-builder-template/i18n/ru.yaml
  docs/site/backends/docs-builder-template/layouts/_partials/breadcrumbs.html
  docs/site/backends/docs-builder-template/layouts/_partials/sidebar-embedded-modules.html
  docs/site/backends/docs-builder-template/layouts/_partials/sidebar-filter.html
  docs/site/backends/docs-builder-template/layouts/_partials/sidebar-module.html
  docs/site/backends/docs-builder-template/layouts/baseof-backup.html
  docs/site/backends/docs-builder-template/layouts/baseof.single.html
  docs/site/backends/docs-builder-template/layouts/list.html
  docs/site/backends/docs-builder-template/layouts/modules-backup.html
  docs/site/backends/docs-builder-template/layouts/modules/baseof.html
  docs/site/backends/docs-builder-template/layouts/modules/modules-list.html
  docs/site/backends/docs-builder-template/layouts/modules/single.html
  docs/site/werf-docs-builder.inc.yaml
Labels: area/docs

#14582 Changelog v1.70.15
  CHANGELOG/CHANGELOG-v1.70.15.yml
  CHANGELOG/CHANGELOG-v1.70.md
Labels: changelog, auto, status/backport

#14587 Backport: Changelog v1.70.15
  CHANGELOG/CHANGELOG-v1.70.15.yml
  CHANGELOG/CHANGELOG-v1.70.md
Labels: auto, backported

#14548 [docs] Add info about ContainerdV2, minor ClusterConfiguration updates
  candi/openapi/cluster_configuration.yaml
  candi/openapi/doc-ru-cluster_configuration.yaml
  docs/documentation/pages/DECKHOUSE-FAQ.md
  docs/documentation/pages/DECKHOUSE-FAQ_RU.md
  docs/documentation/pages/module-development/DEPENDENCIES.md
  docs/documentation/pages/module-development/DEPENDENCIES_RU.md
  modules/040-node-manager/crds/doc-ru-node_group.yaml
  modules/040-node-manager/crds/node_group.yaml
  modules/042-kube-dns/docs/FAQ.md
  modules/042-kube-dns/docs/FAQ_RU.md
Labels: area/docs, area/cluster-and-infrastructure, status/backport, area/api-change

#14592 Backport: chore: add debug info for block e2e job
  .github/scripts/js/validators/validate-job-in-workflow-is-ready.js
Labels: auto, backported

#14034 [local-path-provisioner] add stage for module
  modules/031-local-path-provisioner/module.yaml
Labels: status/backport, area/storage

#14572 [cilium] Fixed least-conn logs when feature is disabled
  modules/021-cni-cilium/images/bin-cilium/patches/011-add-least-conn-lb-algorithm.patch
Labels: area/network

#14560 [node-manager] fixed render nvidia-mig-manager
  ee/modules/040-node-manager/.build.yaml
  ee/modules/040-node-manager/templates/nvidia-gpu/dcgm.yaml
  ee/modules/040-node-manager/templates/nvidia-gpu/nvidia-mig-config.yml
  ee/modules/040-node-manager/templates/nvidia-gpu/nvidia-mig-manager.yml
Labels: area/cluster-and-infrastructure, status/backport

#14602 [Registry] Anonymous authorization for Direct mode
  dhctl/go.mod
  dhctl/go.sum
  go.mod
  go.sum
  go_lib/registry/go.mod
  go_lib/registry/go.sum
  go_lib/registry/models/bashible/config.go
  go_lib/registry/models/bashible/config_test.go
  go_lib/registry/models/bashible/context.go
  go_lib/registry/models/bashible/context_test.go
  modules/038-registry/hooks/checker/models.go
  modules/038-registry/hooks/checker/models_test.go
  modules/038-registry/hooks/orchestrator/hook.go
  modules/038-registry/hooks/orchestrator/incluster-proxy/user.go
  modules/038-registry/hooks/orchestrator/incluster-proxy/user_test.go
  modules/038-registry/hooks/orchestrator/models.go
  modules/038-registry/hooks/orchestrator/models_test.go
  modules/038-registry/openapi/values.yaml
  modules/038-registry/templates/inclusterproxy/deployment.yaml
  modules/038-registry/templates/inclusterproxy/secret.yaml
  modules/040-node-manager/images/bashible-apiserver/src/go.mod
  modules/040-node-manager/images/bashible-apiserver/src/go.sum
  modules/040-node-manager/images/bashible-apiserver/src/pkg/template/registry/data_test.go
  modules/040-node-manager/images/bashible-apiserver/src/pkg/template/registry/deckhouse_registry_test.go
  modules/040-node-manager/images/bashible-apiserver/src/pkg/template/registry/registry_bashible_cfg_test.go
Labels: area/cluster-and-infrastructure, type/dependencies, area/cli, area/core, go, area/api-change

#14612 [prometheus] Add .spec.source = deckhouse to prompp ModuleConfig
  modules/300-prometheus/hooks/enable_prompp.go
Labels: area/monitoring, status/backport, go

#14608 [metallb] Avoid double prefixing in dashboard resources
  ee/se/modules/380-metallb/templates/monitoring.yaml
Labels: status/backport

#14617 Backport: [metallb] Avoid double prefixing in dashboard resources
  ee/se/modules/380-metallb/templates/monitoring.yaml
Labels: auto, backported

#14556 [docs] Changed examples in module info (get module)
  docs/documentation/pages/module-development/EXAMPLE.md
  docs/documentation/pages/module-development/EXAMPLE_RU.md
  docs/documentation/pages/module-development/RUN.md
  docs/documentation/pages/module-development/RUN_RU.md
  docs/documentation/pages/storage/external/NFS.md
  docs/documentation/pages/storage/external/NFS_RU.md
  docs/documentation/pages/storage/external/YADRO.md
  docs/documentation/pages/storage/external/YADRO_RU.md
  docs/documentation/pages/storage/sds/LVM_LOCAL.md
  docs/documentation/pages/storage/sds/LVM_LOCAL_RU.md
  docs/documentation/pages/storage/sds/LVM_REPLICATED.md
  docs/documentation/pages/storage/sds/LVM_REPLICATED_RU.md
  docs/site/backends/docs-builder-template/content/modules/_index.md
  docs/site/backends/docs-builder-template/content/modules/_index.ru.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/external/NFS.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/external/NFS_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/external/YADRO.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/external/YADRO_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/LVM_LOCAL.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/LVM_LOCAL_RU.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/LVM_REPLICATED.md
  docs/site/pages/virtualization-platform/documentation/admin/platform-management/storage/sds/LVM_REPLICATED_RU.md
Labels: area/docs, status/backport
